[2022-02-12 02:33] tlambert03 commented on #4083
if you want to connect a callback to one of the dimensions sliders changing:

[code]

not sure exactly how you're calculating the IOU from the plane, but if you need any other events or data there, let us know

[2022-02-12 02:40] vonclites commented on #4083
Perfect, thanks so much! That's probably all I need. I'll give it a shot!

[2022-02-12 05:06] GenevieveBuckley opened #4084 "Bump minimum allowable Dask version"
Should we bump the minimum allowable dask version? I got a dependabot alert in another repo indicating an update to dask=2021.10.0 is necessary:

Here is where we specify the minimum dask version for napari https://github.com/napari/napari/blob/e13f8651f8bd0151b5ef81f93b28035397576ec5/setup.cfg#L45

[2022-02-12 05:08] GenevieveBuckley commented on #4084
I should note: I haven't heard any chatter about this from the Dask side of things, this is just something that popped up on dependabot for another repo of mine the other day.

I don't know much about security, but the words "remote code execution" do make me twitchy.

[2022-02-12 13:26] jni opened #4085 "Help running napari with IPykernel on GitHub actions"
## Background

First the good news! Thanks to the efforts of the [executable book](https://github.com/executablebooks) community, and of @GenevieveBuckley, @potating-potato, and @tlambert03 in napari/napari.github.io#95, I've got a very nice workflow going for the skan docs authoring content in markdown *within* a jupyter notebook, and executing them in GitHub Actions, including grabbing screensho

[2022-02-12 13:36] tlambert03 commented on #4085
will take a look, I do remember having to hack the event loop a little bit to make nbscreenshot work, back in https://github.com/napari/napari/pull/2303, to fix https://github.com/napari/napari/issues/1596 ... so it's conceivable that that's at play here.

I don't think this probably has anything to do with it, but I'd update that to the xvfb-action pattern.  That manual start of the xvfb daemon w

[2022-02-12 13:44] tlambert03 commented on #4085
specifically: I suspect this line here:
https://github.com/napari/napari/blob/e13f8651f8bd0151b5ef81f93b28035397576ec5/napari/utils/notebook_display.py#L65

forcing the event loop to process events definitely seems like a candidate for a timeout.  I think there are race conditions at play.  it's conceivable that if all the events already _have_ processed, then that line might cause a timeout.  On

[2022-02-12 13:46] tlambert03 commented on #4085
the napari magicgui docs (https://github.com/napari/napari/blob/main/docs/guides/magicgui.md) do use a similar pattern and don't seem to timeout ever on CI... not sure why?

[2022-02-12 23:28] jni commented on #4085
@tlambert03 thanks for taking a look!

I'll update the xvfb action thing, worth checking out. :crossed_fingers:

Does this imply that the unresponsive cell reported by ipykernel is incorrect, though? And do you find that likely?

Also, second question, could that be remedied by adding an if statement checking for unprocessed events?

[2022-02-13 00:16] jni commented on #4085
@tlambert03

This was on the right track but not quite! TIL that steps and jobs can have a `working-directory:` tag, and that xvfb-action can't do bashy things like if/then/fi, and that each xvfb run step is run independent of the others so `cd` has no effect, and that xvfb-action also has a `working-directory:` parameter. :stuck_out_tongue_winking_eye: You can see the final diff at jni/skan#156.

[2022-02-13 04:45] jni commented on #4085
Dang, 3/4 built without error, but timeout happened again.

https://github.com/jni/skan/runs/5171591210?check_suite_focus=true#step:7:46

[2022-02-13 18:25] andy-sweet commented on #4064
Thanks for the response - it helps me clarify what the needs are here. I also wanted to check that the coexistence of `features` and `properties` hasn't broken anything for you yet, as that wasn't clear from the comments so far.

Yeah, I'm aware of that slightly strange behavior. I wrote up some ideas in #3779 to help make this more understandable and consistent, so maybe that's a good place to ad

[2022-02-14 00:36] jni opened #4087 "Adding empty points layer is broken"
## 🐛 Bug

This was broken by #3999:

[code]

Now results in:

[code]

I think the culprit is [this line](https://github.com/napari/napari/blob/6f639ca031785f2303a33273fa15fe346db51b78/napari/_vispy/layers/points.py#L55), which should instead be `edge_width = 0`?

[2022-02-14 00:37] jni commented on #4087
I also wonder whether it's really not possible to set empty data in vispy visuals? This "make an invisibly-small point" approach creeps me out. LOL

[2022-02-14 09:57] jwindhager commented on #4064
Awesome, I'll have a look at #3779 then. Given that the `features` event is being tracked by #4079, dynamic population of `features` is being tracked by #4045, and `current_features` is probably not needed anymore, I'll close this issue for now. Feel free to reopen it when needed!

[2022-02-14 09:57] #4064 closed, assigned to nobody

[2022-02-14 10:21] jwindhager commented on #3779
Hi, coming from #4064 and really in favor of this! One small comment: maybe it's worth sticking as close as possible to (maybe even inheriting from?) [collections.abc.MutableSequence](https://docs.python.org/3/library/collections.abc.html#collections-abstract-base-classes). Most importantly, this would provide `insert` rather than `add` (which should probably be named `append`, actually), but mayb

[2022-02-15 00:45] vonclites commented on #4083
That worked like a dream! Thanks so much @tlambert03 and @jni

Napari is fantastic!

[2022-02-15 00:45] #4083 closed, assigned to nobody

[2022-02-15 00:49] tlambert03 commented on #4083
glad to hear it!

[2022-02-15 07:06] jni commented on #4087
Ignore me! Just needed to update my VisPy :sweat_smile:

[2022-02-15 07:06] #4087 closed, assigned to nobody

[2022-02-15 07:46] hanjinliu opened #4089 "Axes at a fixed position"
## 🚀 Feature

It would be nice if I can display axes at a fixed position in a viewer.

## Motivation

In napari, axes are always displayed at the origin of coordinate system. However, it is inconvenient when I'm focusing on a small part of large 3D images. I cannot tell the image orientation unless I zoom it out all the way.

## Pitch

The 3D viewer implemented in the Protein Data Bank is a good e

[2022-02-15 15:43] pmailly opened #4091 "napari on ubuntu 21.10 Qt problem"
## 🐛 Bug

napari crash after fresh git installation on ubuntu 21.10, with error message

## To Reproduce

Steps to reproduce the behavior:

1. python3 -m venv Napari_Env
2. source Napari_Env/bin/activate
3. pip install git+https://github.com/napari/napari.git
Successfully installed napari-0.4.15.dev18+g6f639ca
4. napari

(Napari_Env) phm@phm-Precision-7820-Tower:~/Developpement$ napari
Traceback (

[2022-02-15 17:43] tlambert03 commented on #4091
haven't specifically tried ubuntu 21.10 myself, but all ubuntu installations will need additional libraries to work with Qt.  Here's  what works for 20:

[code]

[2022-02-15 21:03] andy-sweet commented on #3992
This was only partially done by #4051 and #4062

[2022-02-15 22:18] gselzer opened #4093 "Shapes data does not conform to LayerDataProtocol"
## 🐛 Bug

Since [`Shapes`](https://github.com/napari/napari/blob/6f639ca031785f2303a33273fa15fe346db51b78/napari/layers/shapes/shapes.py#L99) is a `Layer`, its `data` should fulfill `LayerDataProtocol`. However, (some) *internal* ways of populating this don't preserve the required properties

## To Reproduce

Steps to reproduce the behavior:

Run the test:
[code]

## Expected behavior

I would exp

[2022-02-15 22:54] tlambert03 commented on #4093
yep, shapes and surfaces were noted omissions from the original `LayerDataProtocol` PR.  Shapes are rather heterogeneous, and require some re-working to provide the protocol from https://github.com/napari/napari/pull/2683 ... It would need something like the MultiScale wrapper there

[2022-02-15 23:25] gselzer commented on #4093
Ah, so they are! `Shapes` still seems to be from the `LayerDataProtocol` docstring.

I agree that it is a large undertaking to make it conform - maybe it would just be best in the short term to better specify that it does not conform? Maybe it should either just *not* use `data`, favoring some different terminology?

[2022-02-16 00:44] tlambert03 commented on #4093
That seems like a reasonable intermediate step.  The whole layer data protocol is rather new: it's an acknowledgement that we should at least try to define the methods expected of a given layers's data object. But as a late addition, it still needs some attention

[2022-02-16 01:52] junxini opened #4095 "License info for limited release of bundled app"
### Context
The napari bundled app will have a limited release in March that will allow users to install napari viewer along with the majority of available plugins (final number of plugins during initial release TBD). As part of the initial release, license information will need to be made available to users.

### Goal
Surface licensing information in a location accessible to users (e.g., napari.o

[2022-02-16 08:20] jni opened #4096 "Adding points in 3D is wacky"
## 🐛 Bug

In #3508, the mode guard in 3D was removed in order to be able to select points, but the ability to add points was inadvertently added, and it's completely broken.

## To Reproduce

[code]

Now click on a point and you should see behaviour like the below:

https://user-images.githubusercontent.com/492549/154223487-99da4922-107b-4682-8a75-f8b64870f1fe.mov

## Expected behavior

Adding a p

[2022-02-16 08:37] pmailly commented on #4091
Thanks Talley,
However, these libraries already exist on my system :
phm@phm-Precision-7820-Tower:~$ sudo apt-get install -y libegl1 libdbus-1-3 libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xinput0 libxcb-xfixes0
[sudo] Mot de passe de phm :
Lecture des listes de paquets... Fait
Construction de l'arbre des dépendances... F

[2022-02-16 09:33] pmailly commented on #4091
Adding some more infos :

(Napari_Env) phm@phm-Precision-7820-Tower:~/Developpement$ napari --info
WARNING: Although PyQt5 is already imported, the PyQt5 backend could not
be used ("/home/phm/Developpement/Napari_Env/lib/python3.9/site-packages/PyQt5/QtOpenGL.abi3.so: undefined symbol: _ZdlPvm, version Qt_5").
Note that running multiple GUI toolkits simultaneously can cause side effects.
WARNING:v

[2022-02-16 11:28] tlambert03 commented on #4091
Ok, then pinging @Czaki who might be able to help debug this one

[2022-02-16 11:43] Czaki commented on #4091
could you try to update your PyQt5? The current release is 5.15.6, not 5.15.0
Also, the current release of PyQt5-sip is 12.9.1, not 12.8.1

Also, the default installation of napari does not force the installation of any Qt bindings (neither PyQt5 or PySide2), so without manual installation of PyQt5 reproducing of your steps will end with:

[code]

After the manual additional call, `pip install PyQ

[2022-02-16 11:50] kevinyamauchi commented on #4096
Thanks for flagging this, @jni . This used to work (points got added at the intersection of the view ray and the camera plane), but there has clearly been a regression.

Should we return to a behavior where the point is added on the camera plane (defined by the camera center and the view direction vector) or should we disable adding in 3D altogether? I don't have a strong preference, but maybe it'

[2022-02-16 12:44] jni commented on #4096
I don't love the plane idea because it's totally invisible. As a user there should be some kind of visual intuition about where the click is going to go. What do you think about the parallax idea? (Click to make a ray, rotate, click to turn the ray to a point.)?

[2022-02-16 13:08] pmailly commented on #4091
hi,
Sorry but it does fix the problem. I'm sure that is a problem of Qt5 binding, on an other ubuntu 21.10 machine I can install and run napari.

(Napari_Env) phm@phm-Precision-7820-Tower:~/Developpement$ pip install PyQt5 --upgrade
Requirement already satisfied: PyQt5 in ./Napari_Env/lib/python3.9/site-packages (5.15.6)
Requirement already satisfied: PyQt5-sip<13,>=12.8 in ./Napari_Env/lib/python

[2022-02-16 13:16] Czaki commented on #4091
od so please add `ldd` output  on file `/home/phm/Developpement/Napari_Env/lib/python3.9/site-packages/PyQt5/QtCore.abi3.so`

My output looks like:
[code]

The most important is where `libQt5Core.so.5` points because in this file `_ZdlPvm` symbol is defined.

[code]

[2022-02-16 13:20] pmailly commented on #4091
[code]

[2022-02-16 13:25] Czaki commented on #4091
please pase output of:
[code]

[2022-02-16 13:28] pmailly commented on #4091
(Napari_Env) phm@phm-Precision-7820-Tower:~/Developpement$ ls /home/phm/Developpement/Napari_Env/lib/python3.9/site-packages/PyQt5/
bindings                            QtLocation.pyi               QtSensors.pyi
__init__.py                         QtMultimedia.abi3.so         QtSerialPort.abi3.so
__pycache__                         QtMultimedia.pyi             QtSerialPort.pyi
pylupdate.abi3.so

[2022-02-16 13:29] pmailly commented on #4091
(Napari_Env) phm@phm-Precision-7820-Tower:~/Developpement$ ls -l /home/phm/Developpement/Napari_Env/lib/python3.9/site-packages/PyQt5/
total 32668
drwxrwxr-x 33 phm phm    4096 févr. 16 10:18 bindings
-rw-rw-r--  1 phm phm     960 févr. 16 10:18 __init__.py
drwxrwxr-x  2 phm phm    4096 févr. 16 10:18 __pycache__
-rw-rw-r--  1 phm phm  338960 févr. 16 10:18 pylupdate.abi3.so
-rw-rw-r--  1 phm phm

[2022-02-16 13:33] Czaki commented on #4091
did you have anything set in `LD_LIBRARY_PATH`, `LD_PRELOAD` or `LD_AUDIT` environment libraries?
(You could check using for example `echo $LD_LIBRARY_PATH`)

[2022-02-16 13:34] pmailly commented on #4091
(Napari_Env) phm@phm-Precision-7820-Tower:~/Developpement/Napari_Env$ echo $LD_LIBRARY_PATH
/usr/lib/libreoffice/program:/usr/lib/x86_64-linux-gnu/

[2022-02-16 13:36] Czaki commented on #4091
So most probably we found source of your problem

try with `$ LD_LIBRARY_PATH="" napari`

[2022-02-16 13:37] pmailly commented on #4091
I think that the problem is that :

(Napari_Env) phm@phm-Precision-7820-Tower:~/Developpement/Napari_Env$ nm /usr/lib/x86_64-linux-gnu/libQt5Core.so.5 | grep _ZdlPvm
nm: /usr/lib/x86_64-linux-gnu/libQt5Core.so.5: aucun symbole

[2022-02-16 13:39] pmailly commented on #4091
Thanks for the help debugging. Removing the LD_LIBRARY_PATH solve the problem !!!

[2022-02-16 13:39] #4091 closed, assigned to nobody

[2022-02-16 13:40] tlambert03 commented on #4091
thank you @Czaki!

[2022-02-16 16:27] gselzer commented on #4093
What do you think of changing the current `Shapes.data` object then to `Shapes.shapeData`, and adding throwing an clear `NotImplementedError` in the `Shapes.data` getter and setter? That seems preferrable to getting an error saying that the data just doesn't have these attributes.

[2022-02-16 16:28] tlambert03 commented on #4093
cc @sofroniewn

[2022-02-16 17:27] #4008 closed, assigned to nobody

[2022-02-16 17:35] ianhi opened #4098 "`update_console` example is broken"
## 🐛 Bug

The `update_console` example: https://github.com/napari/napari/blob/main/examples/update_console.py does not acutally filly the ipython console with variables.

Also discussed here: https://napari.zulipchat.com/#narrow/stream/212875-general/topic/ipython-variables-from-script

## To Reproduce

Steps to reproduce the behavior:

1. Run the example
2. try to use some of the locals in the na

[2022-02-16 17:38] ianhi commented on #4098
Oh man - also running that example generates two separate napari windows. I'm pretty sure that thats not right either?

[2022-02-16 17:53] sofroniewn commented on #4093
While I can understand this - it would be a big breaking change to take away `layer.data` from shapes, everyone using the layer would have to change. We might just need to bite the bullet and add a `.shape` and `.type`

Indeed I think it would. I could imagine how this might be done. Maybe we should give it a go? What do @andy-sweet @jni @nclack think?

[2022-02-16 18:17] gselzer commented on #4093
That's a great point, yeah. For that reason, we probably shouldn't do this.

[2022-02-16 18:39] neuromusic commented on #4095
@jaimergp can you link to the relevant script for generating the licensing info for the bundled packages?

[2022-02-16 18:47] jaimergp commented on #4095
It's [here](https://github.com/napari/napari/pull/3555/files#diff-bfda80c9ae6bf68b16e9eea38d15406d2a71be66e35df6981dad8e0d7f29b0e7R243-R267).

It relies on some behaviour we [implemented](https://github.com/jaimergp/constructor/commit/574e9941ed1b02225673f99528ac7909525fc167) on our `constructor` fork.

[2022-02-16 18:53] andy-sweet opened #4099 "Your First Plugin guide needs more guidance around napari requirements"
## 📚 Documentation

If you follow the [Your First Plugin](https://napari.org/plugins/stable/first_plugin.html) guide faithfully, running `napari` at the end will typically fail. That's because of the following steps.

1. Recommend creating a fresh virtual environment for your plugin (e.g. using conda).
2. Implement a plugin that depends on `napari` (specifically `napari.utils.notifications`). The

[2022-02-16 19:18] andy-sweet opened #4100 "Menu items have no contents at high resolution in the Windows bundled app"
## 🐛 Bug

I was working with someone to install napari on their Windows machine. They have a high-resolution display and their system was outputting to it at 3840x1600. After installing the bundled Windows app, the main window menu items (e.g. File, View, Window) were visible, but clicking them had no visible effect (e.g. clicking `File` did not show `Open File (s)..., Open Files as Stack..., ...`

[2022-02-16 20:09] psobolewskiPhD commented on #4099
Related, something that came up during hackathon prep:
https://napari.zulipchat.com/#narrow/stream/309872-plugins/topic/.E2.9C.94.20can't.20seem.20to.20get.20plugin.20to.20show.20up/near/268130692
the image link in the "try it out section" is broken—at least for me.
https://napari.org/plugins/stable/first_plugin.html#install-your-plugin-and-try-it-out

Another thing that came up was the minimum `n

[2022-02-16 23:39] jni commented on #4098
Rather than having a public `update_console()`, imho we should make efforts to ensure that the console is prepopulated with the right variables. How this could/should look like:

- console gets launched
- we traverse the stack until we find the highest level where the viewer is present (since the viewer can be present in many lower parts of the stack e.g. because it gets injected and handed to plu

[2022-02-17 00:12] ianhi commented on #4098
@jni that's definitely what I was expecting to happen when I first tried this so :+1: from me. Though it may also be nice to be able to specify exactly what you want

[2022-02-17 00:19] andy-sweet commented on #4100
On Windows 10, I tried to reproduce this at a few different % scales with resolutions of 2880x1800 and 1920x1200, but could not reproduce it with the bundled app or installed with conda/pip.

[2022-02-17 01:00] andy-sweet commented on #4099
Thanks @psobolewskiPhD  - looks like the missing image bug is being tracked over on the npe2 repo: https://github.com/napari/npe2/issues/98

As we started using git lfs for tracking image files, I'm guessing we need to push that image with git lfs tracking into `napari/docs/images`. I'll probably fix that it in a separate PR just because I haven't really used git lfs before.

[2022-02-17 09:07] jhnnsrs opened #4104 "Documentation refers to missing requirements.txt"
## 📚 Documentation

Hey everyone! Following up on my commitment yesterday on resolving that shapes issue, I am diving head first into my fork. And I thought I would track hurdles on the way for new contributors (from the learner's perspective). One thing quite early on my journey:

Doc -> Developer Resources -> Contributing guide -> Setting up a development installation:

Install the package in ed

[2022-02-17 10:44] tlambert03 commented on #4104
Sorry that got missed in the recent pr,  please use `pip install -e .[dev]` and we'll update the docs

[2022-02-17 12:49] #4099 closed, assigned to andy-sweet

[2022-02-17 16:04] maweigert opened #4127 "Duplicate layers created from a napari plugin throws TypeError"
**Describe the bug**

When I try to duplicate in napari a layer created from a napari dock widget it currently fails due to some properties being non pickleable.

**To Reproduce**

Create a little callback in napari:

[code]

then hit run and try to Duplicate the layer from the GUI results in

`>>> TypeError: cannot pickle 'module' object`

The reasons seems to be some magicgui related properties

[2022-02-17 16:17] tlambert03 commented on #4127
Thanks!

[2022-02-17 19:45] sofroniewn commented on #4095
This is great, thanks @jaimergp can you copy either directly in here, or as a link the output of that script (i.e. the concatenated licenses) or make a PR to the docs (probably somewhere under the community tab) with the license so we can see what it looks like. Thanks!!!

[2022-02-17 19:47] jaimergp commented on #4095
The full text is cat'd in a separate step in the conda bundle CI. I am on mobile now so I can't link to the exact line, but you can see it in the PR!

[2022-02-17 19:53] sofroniewn commented on #4095
Ok thanks! I couldn't find it in PR - but no rush, i'll check it out when you can get to it

[2022-02-17 22:17] brisvag opened #4109 "cli option `-w` is inconsistent and has confusing error messages"
## 🐛 Bug

While this command works fine, (opening the appropriate plugin widget):

[code]

This fails:
[code]

[code]

I tested another plugin, which in the second case gave this error instead:
[code]

which is more understandable. So I suppose the bug here is really just in the error message? But how are the two different?

Strangely, this error was a bit hard to reproduce. I was about to write t

[2022-02-17 22:53] tlambert03 commented on #4109
They're different because -w is a flag that consumes up to 2 args (plugin name, [widget name])

And in your first one you're opening the path some_file with the widget from plugin blik, but the second one you're opening NO path, but a funny widget name.

As for the error message, just to check, have you merged main today?  There was a PR that just went in to improve the message when a plugin doesn

[2022-02-18 01:19] grlee77 opened #4112 "bug in contrast slider popup when dtype is a signed integer"
## 🐛 Bug

I noticed a few issues with the contrast limits popup widget:

1.) The "full range" button appears for signed integer dtype, but the button [only has any effect on unsigned integer inputs](https://github.com/napari/napari/blob/eb9ef90f5de9858523da5a02ab7044427911410c/napari/layers/intensity_mixin.py#L43-L51). Here is the slider I see for signed integer data:

![contrast_slider_signed_bug

[2022-02-18 05:07] jni opened #4115 "Figure out the best way to handle our git-lfs build going forward"
## 🧰 Task

Our git-lfs setup is already [causing headaches](https://github.com/napari/napari/pull/4114) due to GitHub's bandwidth limitations on LFS. We need to consider sustainable options going forward.

1. Based on our burn rate, 10x the bandwidth should cover us easily and would cost $600/y, which is not that terrible. So we (ie CZI 😂 Thank you!!! 😂🙏) could just fork it out.
2. We could urgent

[2022-02-18 05:25] #4104 closed, assigned to nobody

[2022-02-18 06:09] jni commented on #4115
Oh wow, it looks like [`pip install git+https:`](https://github.com/napari/napari/blob/d323b18cd42fe4aa2f1ff11df65159e78435c2e3/.github/workflows/test_pull_requests.yml#L178) will actually download lfs files! 🤯

I'm unclear why that would be the case, and whether it can be fixed, but most of all I'm unclear why we do that for ubuntu-latest rather than use the checkout action. @tlambert03 any comme

[2022-02-18 06:13] jni commented on #4115
Ah, looks like it's to test `pytest --pyargs napari` while not having any napari in the local directory. We could/should fix this by putting our code in a `src/` directory, but in the meantime, perhaps we can come up with a more lfs-compatible solution? For example, checkout, install, then delete.

Come to think of it, maybe going to point 3 above, caching *is* working in the build-docs (which wou

[2022-02-18 06:15] jni commented on #4115
Indeed, *no build-docs or build-and-deploy docs* actions have failed:

https://github.com/napari/napari/actions/workflows/build_docs.yml

So #4114 is not the right way forward, and we need to fix this ubuntu-latest action.

[2022-02-18 06:53] jni opened #4117 "Bundle builds are failing with "cannot import name soft_unicode from markupsafe""
## 🐛 Bug

Our builds are failing due to a [new release 2.1 of markupsafe](https://pypi.org/project/MarkupSafe/#history) which appears to have broken jinja2, used by cookiecutter, used by briefcase. See e.g.

https://github.com/napari/napari/runs/5243771823?check_suite_focus=true#step:7:54

Looks like we need to require markupsafe<2.1, as it won't be fixed upstream. This is probably due to briefcas

[2022-02-18 08:51] brisvag commented on #4109
`main` seems to have fixed. I tried with a clean slate env and installed only the bare minimum, and things make sense now; the difference between error messages was caused by the fact that one of the two plugins was npe1.

Now, there's still a difference, but it's just that the npe2 plugin tells me other widget name options, while npe1 only says that no widgets of that name are available. Consider

[2022-02-18 08:51] #4109 closed, assigned to nobody

[2022-02-18 10:25] tlambert03 commented on #4115
That was just for the pip install test right?  It's fine to use the checkout action if it helps.  It was just another way to do it.  Should be identical (in terms of the test) to the checkout I think

_edit_: yes your comment about not having the napari dir in cwd is also a good one

[2022-02-18 11:56] haesleinhuepf opened #4119 "Github CI of napari-plugins fail suddenly"
## 🐛 Bug

Hi all,

I'm observing that a couple of my plugins recently show a broken CI / tests (suddenly). I did not really change code, hence I'm suspecting that it might be related to the release of napari 0.4.14, but I'm not sure. Advice how to deal with these situations are very welcome. E.g. shall we pin the napari version we test against?

## To Reproduce

Here you see examples:

https://git

[2022-02-18 13:22] tlambert03 commented on #4119
the first one is probably an xvfb with qt issue (I'm not certain).  (Does it pass locally, just not on CI?)
We've generally had better luck with the xvfb action as [shown in the cookiecutter](https://github.com/napari/cookiecutter-napari-plugin/blob/5a99a539c82d0837908c6570056952cde92d6ec3/%7B%7Bcookiecutter.plugin_name%7D%7D/.github/workflows/test_and_deploy.yml#L55-L61).  So basically, don't ins

[2022-02-18 13:23] tlambert03 commented on #4119
none of this is probably related to napari (let alone 0.4.14) so no guide available for this unfortunately, let's just figure it out together

[2022-02-18 13:41] psobolewskiPhD commented on #4119
Isn't it actually napari 0.4.14?
The napari depend on magicgui wasn't bumped until recently, after 0.4.14 was released...
https://github.com/napari/napari/pull/4082
https://github.com/napari/napari/commit/b78c37e4f4ad6ae5253d065dadd42e265ecf7449

[2022-02-18 13:43] tlambert03 commented on #4119
it went from `magicgui>=0.3.3` to `magicgui>=0.3.6`... that `>=` there means that the newest magicgui will come regardless (just nothing less than 0.3.3 ... so if you just install napari 0.4.13, you should still be getting the newest magicgui (i.e. that didn't change)

[2022-02-18 13:54] tlambert03 commented on #4119
it is quite odd though!  looking through the full repo and it's dependencies, I can't tell why magicgui 0.3.4 is getting installed yet.  That's definitely the answer here (i.e. getting magicgui >=0.3.6 will fix this), but haven't determined why it's not getting installed.  it even _is_ pulling in napari 0.4.14, which should be pulling in at least that version of magicgui, but it's not

[2022-02-18 14:20] davidism commented on #4117
You are using an unsupported version of Jinja, please update to the latest version if possible. Additionally, please read https://hynek.me/articles/semver-will-not-save-you/, then use a tool like [pip-tools](https://pypi.org/project/pip-tools/) to pin your dependencies and control when you get updates. Be sure to run your tests with deprecation warnings treated as errors so that you get notified o

[2022-02-18 14:34] psobolewskiPhD commented on #4119
Could it be caching? a cached magicgui 0.3.4 fulfilling 0.3.3 requirement?

[2022-02-18 14:36] haesleinhuepf commented on #4119
I may not have been clear in my issue description: I do not care so much about these particular issues. I'm sure they will be fixed after some time. Maybe I just have to rerun the CI. I'm more wondering how to prevent those issues in the future. Shall I pin the napari version in my plugins? Are there other alternatives?

[2022-02-18 14:42] tlambert03 commented on #4119
that would be one general approach.  If you wish, you can pin all of your dependencies (and their dependencies) to an exact version that you know works.  This is a common approach in "applications" as opposed to "libraries".  You can look into tools like https://github.com/jazzband/pip-tools and use commands like `pip-compile` to generation a lock file that lists _all_ dependencies (and subdendenc

[2022-02-18 14:46] tlambert03 commented on #4119
just to reiterate, this is a general python packaging issue, not a napari issue.  And pinning napari would not have solved this, because napari _itself_ is trying to work well with the rest of the ecosystem, which means we do not hard-pin our dependencies, and any one of napari's dependencies (recursively) could also cause napari to essentially break without notice.  This is one reason we have a d

[2022-02-18 15:00] haesleinhuepf commented on #4119
Thanks for the links Talley @tlambert03 ! my problem is, I need to limit time for fixing CIs. I understand that testing is useful.

Does it make sense to fix the napari version for tests only? Or is this a stupid idea?

[2022-02-18 15:57] #4117 closed, assigned to nobody

[2022-02-18 19:05] melissawm commented on #4115
Thanks for looking at this - hope no other issues come up 🤞🏻

[2022-02-18 19:24] chili-chiu commented on #3353
Sean McKinney from Stowers microscopy center wants the default to be additive too.

[2022-02-19 02:15] jni commented on #4119
@haesleinhuepf

I think the correct way to handle this is to have a test matrix: one with fixed dependencies (napari and otherwise), one with latest dependencies, and one with pre-releases. You should *not* get rid of the latest tests. Whether or not you have time to fix it, it's important to know whether your plugins are working with the latest version of napari. If you want to make sure that all

[2022-02-19 02:15] #4119 closed, assigned to nobody

[2022-02-19 09:17] haesleinhuepf commented on #4119
Ok, great. Thanks for the hints @jni ! I'm happy to continue discussing in a closed issue as switching to FORTRAN is obviously no option.

[2022-02-19 09:29] Karol-G opened #4125 "Image metadata should be copied when creating a new layer"
Hi,

## 🚀 Feature
Existing metadata of an image should be copied when creating a new non-image layer. E.g. if an image has a certain voxel spacing defined in the metadata dict with the attribute `spacing` than a newly created labels layer should have the same voxel spacing.

## Motivation

Some image formats such as nifti (.nii.gz) have important metadata information such as spacing, affine transf

[2022-02-19 15:21] tlambert03 commented on #4112
👍 better signed int support would be great.  I'm not sure we should _hide_ the full range though?  just make it more appropriate?

what os? Generally speaking we've found it rather hard to maintain consistent styling across all OS,  specifically when it comes to text sizes.  Windows is usually the biggest offender here, but not the only.  Any attempts to fix there will probably need to be double c

[2022-02-20 23:59] jni commented on #3353
I'm not 100% on this, and think that maybe it should be a preference (but cue the ever-recurrent warning about not making every decision a preference). I think it very much could be that additive mode is a fluorescence-centric approach. Just a few examples of situations where additive makes no sense:

- any grayscale image (and I'll note that grayscale is our default colormap), including natural i

[2022-02-21 00:33] jni commented on #4125
I agree with this. Thanks for raising the issue @Karol-G!

[2022-02-21 00:50] tlambert03 commented on #4125
I do too!  Think we need to expand on the conditions though.  What if there are multiple images, etc,  do we check them all?  Any edge cases? Is it strictly images we care about?

[2022-02-21 05:37] PMLLancao opened #4129 "Cannot install some plugins"
## 🐛 Bug

Hello I am trying to install some plugins ( e.g cell pose, Sdeconv, allencell segmented,) in the GUI version of  napari.
I am not using python to run it.

I am not able to install any of these plugins and in the status window I got this error message:

[code]

I do not know how to code or use python so I do not know how to solve this issue.

## Environment

 - Please copy and paste the i

[2022-02-21 06:45] Karol-G commented on #4125
The best way would probably be able to right click on an image and then on a new sub menu "create new child layer" that enables us to create any non-image layer. Then this new layer would be a child (or something like that) to the image layer with all its metadata.
The current way to create a layer would still exist and if used no metadata is copied.
This way it would always be clear, if a layer h

[2022-02-21 08:05] psobolewskiPhD commented on #3353
How is the default set and implemented? it seems it already is doing something "smart":
Loading a single channel tiff I get translucent, but unpacking a 2 channel image via napari-aicsimageio I get additive. I looked through the plugin code and `blending` is never specified, the returns are layer tuples.

Not to belabor this issue, but this switch in behavior leads to issues with Light mode:
https

[2022-02-21 09:49] Carreau commented on #4129
Thanks for your question,

I haven't yet been able to reproduce. Couple of notes while investigating:
 - opencv-python-headless does indeed not have wheels for 3.8 or above.
 - I see you have macos 10.14 – I had issues with compiling some things when I was on older versions.
  - It looks like your error links to `/Applications/napari.app/Contents/...` so it may be that your bundle install and anac

[2022-02-21 14:33] tlambert03 commented on #4129
Since you mentioned that you don't code or use python, and you're using the bundled ("double clickable") application, i want to add a little additional background here:

There are _definitely_ things that individual plugins can do (or fail to do) that will make it essentially impossible to install them in the napari bundle.  Ultimately, those plugins will likely need to help you here, so I'd encou

[2022-02-21 14:39] Carreau opened #4131 "IndexError: deque index out of range"
## 🐛 Bug

Using  bucket on empty label layer raises IndexError

## To Reproduce

Steps to reproduce the behavior:

1. open napari
2. create empty label layer (don't edit it)
3. let label color to 0 (either click on -, or use picker and click anywhere in image)
4. Select bucket
5. click somewhere on image

Lead to this traceback:

https://gist.github.com/Carreau/283d6d3275b371bfaff58146f72cdae9

(n

[2022-02-21 15:15] grlee77 commented on #4112
Okay, I will revisit these points later this afternoon.

Ubuntu 20.04, but I do have it set to "Large Text" under the "Universal Access" system setting, so that might be why? I am not familiar with how Qt deals with these things.

[2022-02-21 15:18] tlambert03 commented on #4112
yeah, that's probably it.  we've often had issues with Qt's handling of OS-specific display scaling.  macOS pretty much always looks great, but windows and linux are a pain.  It's very hard to fix on one OS in a way that doesn't mess up the other OS.  This is definitely something that would be great to get some true Qt expertise on somewhere.  (i.e. someone out there must have the "correct" answer

[2022-02-21 18:24] #4127 closed, assigned to nobody

[2022-02-21 19:17] tlambert03 opened #4132 "Consider using a more serializable pointer for `layer.source.widget`"
## 🧰 Task
As requested by @sofroniewn  at the end of #4128 ... it might be safer, and would be pretty easy to turn `layer.source.widget` into something like an integer id that points to an object (rather than the object itself).  or any other method of pointing or internal indirection.

[2022-02-21 20:13] Carreau opened #4133 "Nonsensical "bicubic" interpolation for labels layer"
It seem to me that either bicubic has a bug or is non-sensical for label layer.  As the interpolation is done in data-sapce, if say labe 13  and  42 are next to each other, havin bicubic interpolation will go through all the colors of the ~~rainbow~~ colormap to interpolate from one color to the other.

I'm not sure there is something to "fix". Maybe interpolation in label layer should be a comple

[2022-02-21 20:27] Carreau opened #4136 ""In this example of we will" , maybe remove "of" ?"
## 📚 Documentation

I'm not sure if this is un unknown english construct to me, but it sounds like a shuffling of word gone wrong from

"In this example of XXXX we will", to "in this example we will <do stuff> to the image of XXXX" , where the of stayed behind.

Also maybe one shape -> vector ?

[code]

[2022-02-21 20:30] psobolewskiPhD commented on #4136
Yeah, those aren't correct.
Simple fix would be to search & replace `<space>of` with `,<space>` .
From:
`36:In this example of we will overlay some shapes on the image of a photographer:`
To:
`36:In this example, we will overlay some shapes on the image of a photographer:`

Edit: to be safer: search and replace `In this example of we will` with `In this example, we will`

[2022-02-21 22:37] #3085 closed, assigned to nobody

[2022-02-21 23:26] #3984 closed, assigned to grlee77

[2022-02-22 18:11] junxini opened #4145 "UX/UI to show plugins not available for install from the bundled app"
### Overview
The bundle application will need to inform the user of plugins that are not available for installation. There’s currently a list of 142 plugins, not all of which will be available within the app (approximately 20 will not be available, tbc). The design is meant to show users all plugins that are available for install, and ones that are not yet available with a short explanation (can b

[2022-02-22 18:40] tlambert03 commented on #4145
not totally following here.  _no_ plugins come pre-installed with the bundled app.  And for those that are "uninstallable" can't we just not show them in the available list?  (or, if you're trying to avoid someone from saying "why isn't this plugin showing up??" maybe show them grayed out with an icon on them?)

[2022-02-22 20:43] goanpeca commented on #4145
Well, the console does, which does appear as a plugin, no?

That is what we are trying to figure out, we could just not show them but maybe showing them on a greyed out fashion is better for communicating to users that it will become available eventually?

[2022-02-22 21:12] isabela-pf commented on #4145
@goanpeca gave me a great segue!

As I think I’ve heard, there’s a few layers of potential feedback for this.
- Labeling which plugins can’t be installed
- Giving general feedback on why plugins might not be able to be installed
- Giving specific feedback on why individual plugins can’t be installed

And I’m not sure the workload required for each level. I personally think labeling and providing a

[2022-02-22 21:19] tlambert03 commented on #4145
sorry, yes of course you're correct @goanpeca  😊
@isabela-pf ... i love the icon and general idea
@goanpeca: do you know whether the API is going to have this info (such as a set of requirements that must be met)?  or is this incompatibility something we'll need to determine at runtime (in napari based on the environment)?

[2022-02-22 21:25] psobolewskiPhD commented on #4145
I know this is about the bundle, but would be super cool if napari could help ID plugins with compiled/heavy depends and flag them with something to tell the user that this will need more work. Frequently those plugins have partner repos with detailed install instructions...
And in the new conda bundle, the magics %pip and %conda can actually go a long way to solving some of those issues...

[2022-02-22 21:35] goanpeca commented on #4145
I think eventually, yes that is the idea we have discussed with @neuromusic. We can have a lot of info (compatibility with a given napari version, availability for a given operating system) but on the first pass I would say we will not have it in place for the upcoming release.

[2022-02-22 21:56] neuromusic commented on #4145
☝️  what @goanpeca said

[2022-02-22 22:19] DragaDoncila commented on #4145
This is a great point @psobolewskiPhD. We've discussed similar ideas in the context of displaying metadata on the hub e.g. whether plugin is installable by napari, whether its tests run, etc. But I don't think we've discussed a "complex install" flag and I think it could actually be quite useful both on the hub and in the viewer - we should capture this idea.

[2022-02-22 22:30] junxini commented on #4145
@tlambert03 thank you Talley for clarifying! My original description wasn't clear, it's been updated since. Hopefully it makes more sense now

[2022-02-22 22:46] DragaDoncila opened #4146 "UI for direct assignment of file extension to reader plugin"
## 🚀 Feature

Since npe2 and #3799 we can now associate readers to file extensions when dragging and dropping files or via the command line. We can also view these associations in preferences (and remove them if necessary).

However, we still don't have a GUI mechanism for creating associations outside of opening files. #3502 was the first pass at creating such a UI, though it focused on both read

[2022-02-23 09:24] aeisenbarth opened #4148 "Public access to canvas size"
## 🚀 Feature

There does not seem to be a public way to access the canvas size (alternatively the shape of the displayed/rendered image). `viewer._canvas_size` is private and also `viewer.window.qt_viewer.canvas.size` now gives a FutureWarning and will break all such use cases as soon as 0.5.0 is released.

## Motivation

The property `viewer.camera.zoom` is (still) public and connects the size of

[2022-02-23 11:10] biberger opened #4149 "Add arrow to vectors in napari vector layer"
## 🚀 Feature
Add the feature that all vectors in a vector layer have arrows such that the direction they are pointing towards is clear.

## Motivation
It is very frustrating for me to debug my optical flow and related algorithms when I can not exactly see where the flow is pointing towards. You can see this in the image below.

![image](https://user-images.githubusercontent.com/89973708/155307817-

[2022-02-23 11:45] jaimergp commented on #4095
@sofroniewn check [here](https://github.com/napari/napari/runs/5289596178?check_suite_focus=true#step:13:54)

[2022-02-23 15:45] pmeyer321 commented on #3892
I had the same problem with VS Code Interactive Python (often) hanging on executing the second cell after opening a napari viewer, however the problem seemed to be caused by the qt loop, as the following code reproduced the issue:
[code]
Updating VS Code to Version 1.64.2 solved the problem for me though. (using Microsofts Jupyer extension v2022.2.1010551006)

[2022-02-23 16:18] psobolewskiPhD commented on #3892
Same here! I'm on 1.65-Insider now, forgot about this issue, but it's been fine for a little while.

[2022-02-23 16:44] liaprins-czi commented on #4145
Overall this sounds / looks good to me! One thing that might also help to quickly communicate that it cannot be installed, and was mentioned earlier in the conversation, could be to grey out the plugin name text (or even change the background color subtly) so it looks less high-contrast with the dark background / looks disabled. I think that is pretty intuitive to most users to communicate that th

[2022-02-23 20:16] StephenThornquist commented on #3892
For those not getting it in iPython, could you let me know what version of python / ipython you're using? Would really love for this not to be an issue for me anymore!

[2022-02-24 03:23] sofroniewn commented on #4095
Great, i see them now - thanks!!

[2022-02-24 10:29] pmeyer321 commented on #3892
The problem of `%gui qt` making the second cell executed afterwards hang does not occur for me with the updated VSCode using Python 3.9.9 and IPython 8.0.1

[2022-02-24 16:58] liu-ziyang commented on #3720
Update: we have added the api doc for our supported endpoints: https://api.napari-hub.org

[2022-02-24 17:27] neuromusic opened #4151 "deploy revised docs architecture using napari-sphinx-theme"
## 🧰 Task
Following up on #4047, we need to deploy the revised site.

We're aiming to complete this by

Steps to complete this task:

- [x] #4124
- [x] #4147
- [x] revert to "old" embedded Google Calendar (until react calendar is ready again)
- [x] implement new deployment workflow (@codemonkey800)
- [x] Create a new `gh-pages` branch in in napari
- [x] Configure `gh-pages` to be the source for br

[2022-02-24 21:44] neuromusic commented on #4095
re: license location, I think "Licensing" should probably live under "Community" at the same level as "Roadmaps" and "Releases".

can you submit a PR @jaimergp adding the file as an RST or markdown file to `docs/` and add the relevant link to the table of contents? https://github.com/napari/napari/blob/main/docs/_toc.yml

[2022-02-24 21:54] neuromusic opened #4153 "No: engineering can create a first version, and design can come in later to iterate and refine"

[2022-02-24 21:54] neuromusic commented on #4153
oops

[2022-02-24 21:54] #4153 closed, assigned to nobody

[2022-02-25 02:29] sofroniewn commented on #4095
+1

[2022-02-25 04:42] sofroniewn commented on #4149
thanks for feature request! @brisvag curious what you think of this/ how you think it might be implemented

[2022-02-25 04:45] sofroniewn commented on #4148
Agreed this is important to have. We've been hoping to add support for multiple canvases one day, and so I think there was an idea we might have some API where there is a list of canvases. We could though just start with `viewer.canvas` and then if we ever have multiple add `viewer.canvases`. It will be a while before we get there. What do @jni and @tlambert03 think?

[2022-02-25 07:28] jni commented on #4148
I think let's just make `viewer.canvases` a list from the beginning, containing one canvas initially. But yes, I need canvas size also in my plugin :joy: So we are 100% on board @aeisenbarth!

[2022-02-25 07:35] jni commented on #4149
Sorry about the inconvenience @biberger — indeed this has been on our mind since before Vectors was implemented — I still remember the meeting (2019!) where we said, let's just get it in and add arrowheads "soon". :joy:

@sofroniewn iirc you implemented arrowheads for the axes (?), could that code be reused here?

[2022-02-25 07:57] brisvag commented on #4149
Actually, I just realized that the [windbarb visual in vispy](https://github.com/vispy/vispy/blob/main/vispy/visuals/windbarb.py) is already implementing a lot of this. I don't know if it works on in 3D and has everythong our vectors need...

[2022-02-25 12:22] Jose-Verdu-Diaz commented on #3575
I found a workaround by defining custom colormaps, modifying [this code](https://alisterburt.github.io/napari-workshops/notebooks/custom_colormaps.html).

Create a linspace cmap from white (1, 1, 1, 1]) to blue (0, 0, 1, 1):
[code]
Select first value and change alpha value:
[code]
Define new colormap:
[code]
Add an image into napari with custom colormap:
[code]

The ideal result (in my particular

[2022-02-25 13:47] #4112 closed, assigned to grlee77

[2022-02-25 15:36] jaimergp commented on #4095
@neuromusic

I can submit a PR but I think we need to discuss the contents. I am assuming we don't need to disclose the open-source licenses (MIT, BSD, GPL), since these only require the license to be _present_ in the installation (and they are). Some other licenses do behave more like a EULA and require (in a way) that user _accepts_ it.

I'll start by adding the necessary cross-job automation to

[2022-02-25 20:03] pmcesky opened #4155 "Vispy issue on tracks layer when extending data if the layer has graph attributes"
## 🐛 Bug

Hi all,

I found one issue, when extending the tracks layer's data, if the layer has graph attributes, then there will be an error in vispy.
I have asked this question in Image.sc, and thought it was an issue related to tracks.properties, but after many test, found it is probably related to tracks.graph.
https://forum.image.sc/t/how-to-update-an-existing-layer-using-layerdatatuple/63817/

[2022-02-25 20:57] pmcesky commented on #4155
Found one thing, if a layer has graph attributes, then set it to another value, like {}, without doing other things, would lead to a vispy error:
![image](https://user-images.githubusercontent.com/18007222/155801788-77e3a70f-61d3-4435-bdae-1ad82819b47c.png)

[2022-02-25 22:26] sofroniewn commented on #3723
Oof - thanks for reporting this @jni - might be great if @brisvag or @kevinyamauchi could take a look, it causing some problems getting reported on the zulip

[2022-02-25 22:58] jni commented on #4115
Just an extra data point: currently, we've had ~93 docs and ~23 deploy builds. Even if *all* of them resulted in a checkout (~200-300MB), that only accounts for at most ~25GB of bandwidth. So we would still be an order of magnitude out from our actual usage. The bandwidth is leaking elsewhere...

[2022-02-26 04:33] #3651 closed, assigned to nobody

[2022-02-26 05:39] sofroniewn commented on #4148
Good by me. Could initially just start with adding a `Canvas` eveneted model with a single attribute `size`, then a list on `Viewer` where `viewer.canvases[0]` was the singleton canvas. We could use a normal list or just start out with an `EventedList` if we want to have a `Canvas.name`. I could go either way.

@aeisenbarth do you have any interest in making a PR with this contribution - we can he

[2022-02-26 05:41] sofroniewn commented on #4149
I could make an arrowhead out of a mesh - but our approach to vectors will change in #4005 - so best to let @brisvag take lead here and go with his recommendations

[2022-02-26 05:46] sofroniewn commented on #4095
Ok sounds good - i didn't know we had any of those more EULA agreements, but yeah - let's start with PR and then refine from there. I think at the beginning if in doubt include it, we can always remove things, but harder to remember to add things back in. Thanks for keeping this moving forward!!

[2022-02-26 09:52] haesleinhuepf opened #4158 "Setting contrast_limits to [1,1] causes hard to debug error"
## 🐛 Bug

Hi all,

I just debugged an issue deep in napari and it turned out, I was unintentionally setting contrast_limits to [1,1]. If min and max of contrast limits are equal, this causes an error and it took me quite some time to understand what's the reason. I'm suggesting to catch this situation early with a clear error message.

## To Reproduce

From python (I did in a juptyer notebook), ca

[2022-02-26 19:29] sofroniewn commented on #4158
I would put it here https://github.com/napari/napari/blob/842008f6df909bcbc391789badd7f2414eed6ec4/napari/layers/intensity_mixin.py#L76 AND here https://github.com/napari/napari/blob/842008f6df909bcbc391789badd7f2414eed6ec4/napari/layers/intensity_mixin.py#L99 sorry that's a bit hard to find. You could make a function `validate_increasing` and call it after `validate_2_tuple`.

[2022-02-26 20:41] tlambert03 commented on #4158
Should it be strictly increasing?  Can't remember what happens, but I think it's ok to be inverted...

[2022-02-26 21:58] haesleinhuepf commented on #4158
Great question @tlambert03

This code...
[code]

... causes this error in current napari main:
[code]

[2022-02-26 22:39] tlambert03 commented on #4158
Ah!  Ok, sounds good.  I know vispy does work with inverted clims, but if we've already lost that capability, looks like we've got other things to fix before that's a concern.  Thanks for checking

[2022-02-27 18:42] alisterburt commented on #3723
THIS!!!!

Thank you - this is a problem I came up against with napari/napari-animation#113 too, after sinking a few hours into it a couple of times knowing the actual source of the issue is a big kick to actually solving it 😆 I'll add it to my 'explore this on the train' list for the week

[2022-02-28 02:35] jni commented on #4056
Good point! I guess we need to draw all the way up to corner_pixels + [-1, +1] in data coordinates, rather than just to corner_pixels.

[2022-02-28 08:11] jni opened #4160 "examples/add_points_on_nD_shapes.py appears broken — camera should be set to an oblique angle"
## 🐛 Bug

I'm not clear on what exactly it's meant to show — @kevinyamauchi do you have an idea of what it's demonstrating? — but at any rate the resulting image is weird at best:

<img width="1610" alt="Screen Shot 2022-02-28 at 7 10 37 pm" src="https://user-images.githubusercontent.com/492549/155947381-23bcf29f-5fe4-4c2a-a1d3-d1f88b3dc216.png">

It also generates the following warning:

[code]

[2022-02-28 08:13] jni commented on #4160
... Never mind! It's working great, I just needed to rotate the camera — meaning probably the example should rotate the camera too? And we should fix our 3D shapes rendering so that the shape edges don't look so weird.

[Link to code](https://github.com/napari/napari/blob/842008f6df909bcbc391789badd7f2414eed6ec4/examples/add_points_on_nD_shapes.py)

<img width="1610" alt="Screen Shot 2022-02-28 at

[2022-02-28 08:15] jni commented on #4160
btw what made it click was that the history showed *both* @kevinyamauchi and @alisterburt had messed with it 😂 y'all are awesome! 😂

[2022-02-28 08:32] alisterburt commented on #4160
I'm super glad this *isn't* borked - debugging these things is never fun 😆 PR incoming

[2022-02-28 08:42] alisterburt commented on #3575
Thank you for sharing @Jose-Verdu-Diaz ! That's really nice and I'm glad it works for your application

Kevin has added depth buffer support to the vispy [VolumeVisual](https://github.com/vispy/vispy/blob/bf793b36010d3cecb8307e1360f6549633fed1e5/vispy/visuals/volume.py#L287-L298) so we really aren't far away from 'composable' raycasting through multiple volumes - this just needs to be enabled/setu

[2022-02-28 08:53] alisterburt commented on #4148
If we add this it would be really cool to play with using whether or not a canvas is [selected/active](https://github.com/napari/napari/blob/842008f6df909bcbc391789badd7f2414eed6ec4/napari/utils/events/containers/_selection.py#L14-L31) as a [context](https://napari.org/docs/dev/guides/contexts_expressions.html) for mouse callbacks in the viewer - this isn't necessary for public access to the canva

[2022-02-28 17:48] alisterburt commented on #4155
sorry this isn't working for you @pmcesky and thank you for digging into this!

Maybe @JoOkuma has some insight here?

[2022-02-28 18:08] alisterburt opened #4164 "Actions registered in `ActionManager` do not bind to buttons if they contain yield statements"
## 🐛 Bug
If an action with a yield statement is registered in the action manager and bound to a button the function is never called when the button is pressed - a simple keybind with the same function works as expected

## To Reproduce
[code]

Press the button and nothing will print. Remove the yield statement and the statement will print. The keybinding works in both cases

## Expected behavior

[2022-02-28 19:12] JoOkuma commented on #4155
Thanks, @alisterburt and @pmcesky. I opened a PR to fix this issue.

[2022-02-28 23:46] jni commented on #4151
This is LIVE! :tada: :tada: :tada:

[2022-02-28 23:47] #4151 closed, assigned to nobody

[2022-03-01 02:02] #4035 closed, assigned to andy-sweet

[2022-03-01 02:07] jni opened #4166 "Update examples/bbox_annotator.py to use modern features architecture"
## 🧰 Task

[`examples/bbox_annotator.py`](https://github.com/napari/napari/blob/c76b1f8946259c8e728a153b130279238eacf1ec/examples/bbox_annotator.py) uses the deprecated `default_properties` and `current_properties` APIs. We need to decide how to move forward using pandas categorical features. See this comment by @andy-sweet:

https://github.com/napari/napari/pull/4162#issuecomment-1054881453

[2022-03-01 02:08] jni commented on #4166
See also #4064

[2022-03-01 03:21] jni commented on #4160
Closed by #4161

[2022-03-01 03:21] #4160 closed, assigned to nobody

[2022-03-01 09:19] jni opened #4169 "Make a test for tracks update with graphs"
## 🧰 Task

We merged #4165 without a corresponding test to get this bug fix into the current release. It would be good to add a test for this soon.

See also #4155 for potential test case.

CC @JoOkuma

[2022-03-01 10:14] TheSegfault commented on #4117
@davidism You do not belong here anti-semver dumb dumb, stop copy pasting ur poop everywhere

[2022-03-01 13:37] jni commented on #4117
@TheSegfault I wasn't particularly a fan of @davidism's earlier post, (different projects have different development styles, and anyway I'd tried to be careful not to make any asks of @davidism, who let's be clear is free to run the projects he maintains however he chooses) but yours is completely inappropriate and violates our [code of conduct](https://napari.org/community/code_of_conduct.html) w

[2022-03-01 16:40] chili-chiu opened #4171 "napari.org search bar sometimes disappears"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Open napari.org, the search bar is at the upper left
2. Click "Usage", the search bar is still there
3. Click "Getting started" --> the search bar disappears

## Expected behavior

The search bar should be at the same location permanently.

## Environment
New Sphinx theme napari.org

[2022-03-01 17:04] hanjinliu opened #4172 "Numpy warning on adding point layer"
## 🐛 Bug

Although I've not checked with other layer types yet, numpy warns every time a point layer is created.

## To Reproduce

[code]

This warning is printed out

[code]

## Expected behavior

## Environment

 - Please copy and paste the information at napari info option in help menubar here:

napari: 0.4.15rc0
Platform: Windows-10-10.0.22000-SP0
Python: 3.9.7 (default, Sep 16 2021, 16:59:28)

[2022-03-01 17:11] hanjinliu opened #4173 "A "c" is printed when napari info is clicked"
## 🐛 Bug

Before I copy the related environments from "Help > napari info" to report an issue, a "c" was printed.

## To Reproduce

Steps to reproduce the behavior:

"Help > napari info" or "Ctrl + /".

## Expected behavior

## Environment

 - Please copy and paste the information at napari info option in help menubar here:

napari: 0.4.15rc0
Platform: Windows-10-10.0.22000-SP0
Python: 3.9.7 (defa

[2022-03-01 17:23] hanjinliu opened #4174 "New progress bar will never be created after some exceptions happened"
## 🐛 Bug

Once some exceptions happened during progress bar is running, the progress bar will never be displayed after that.

## To Reproduce

Steps to reproduce the behavior:

1. Open a viewer

[code]

2. Open activity dock.
3. Define workers
[code]
4. Run following codes one by one
[code]

## Expected behavior

## Environment

 - Please copy and paste the information at napari info option in hel

[2022-03-01 20:19] goanpeca opened #4175 "Plugin call order and extension to reader preferences are broken"
## 🐛 Bug

Opening the preferences and changing anything in the plugin page will result in two issues:

-  The call order is storing duplicates for plugins that provide several hooks because the plugin name is stored and not the name of the reader
- The extension to reader widget did not provide a `value()` method which will result in a ` AttributeError: 'ObjectSchemaWidget' object has no attribute

[2022-03-01 21:34] DragaDoncila commented on #4175
I think I know what's going on here and how to fix, will take a look and should have a PR up today

[2022-03-01 21:36] goanpeca opened #4177 "Add a way to reset the preferences for the bundle app (separate menu entry/ .app?)"
## 🚀 Feature

Under some conditions, the `settings.yml` file might get corrupted, or even if valid data it might make some part of napari fail and in some cases, prevents napari from starting. We provide a `napari --reset` on the CLI but for the bundle app we would need to provide a menu entry to be able to reset the preferences.

## Additional context
See https://github.com/napari/napari/issues/4

[2022-03-01 22:41] tlambert03 commented on #4177
seems reasonable!  I tried to make it robust to failures on startup ([and tested in this section](https://github.com/napari/napari/blob/main/napari/settings/_tests/test_settings.py#L52-L107)) ... so if you have a good case that causes a startup failure, it would be good to add to those tests there and fix in general (bundle or not).

[2022-03-02 00:19] goanpeca commented on #4177
@tlambert03 it is related to this issue https://github.com/napari/napari/issues/4175

My wording was not appropriate, in this case the content is valid, but since there are duplicated entries in the call_order the plugin manager fails on startup

[2022-03-02 00:20] tlambert03 commented on #4177
oh... ok!

[2022-03-02 00:45] goanpeca commented on #4173
Thanks for the report @hanjinliu , you mean like on the console?

I do not see a `c`

[2022-03-02 00:58] hanjinliu commented on #4173
Thanks for your reply @goanpeca ,
Yes, I see a "c" printed in the shell (or in Jupyter QtConsole if I launched `napari` there).
![output](https://user-images.githubusercontent.com/40591297/156274073-ad9193ff-810b-4588-a65e-732c5a265a18.gif)

[2022-03-02 00:59] tlambert03 commented on #4173
found it!
https://github.com/tlambert03/napari/blob/c1f65b1b12ddcec9addb759d4eb47543d503b492/napari/utils/info.py#L66

[2022-03-02 02:16] #4173 closed, assigned to nobody

[2022-03-02 03:43] DragaDoncila commented on #4175
Ok so I've reproduced and got to the bottom of the issues here:

I've opened #4179 to address this. This issue is separate from:

This has been broken since at least 0.4.10 (earliest I checked, though I'm pretty sure it never worked) for plugins which declare multiple readers. To clarify, sorting is fine, but closing and reopening napari leads to `ValueError: repeated item in order` and napari doe

[2022-03-02 08:11] kephale commented on #2281
Did anything happen on this? I also checked https://github.com/jni/zarpaint but didn't see a working solution.

[edit]
Ok, I found this thread https://github.com/napari/napari/issues/2123, which looks like it is the current best option. However, this doesn't seem to be working for big 3D images on my smallish laptop. I guess I should dig in a bit.

[edit2]
Cool beanz, monkey patching `Labels.paint

[2022-03-02 10:16] kevinyamauchi commented on #4096
Hey @jni . Sorry for the late reply. Things have been busy here.

I was looking into the issue and I think the problem is when the points layer has an ndim of 2. We currently don't have a well defined behavior for changing the dimensionality of layers. For example, if you try to add a 3D point to a points layer with `ndim == 2`, you will get an error. Adding 3D points to a 2D layer through the GUI

[2022-03-02 10:37] kevinyamauchi commented on #4096
I've made a PR here with a couple of options for disabling interactive point adding in 3D: #4184

[2022-03-02 13:51] kevinyamauchi commented on #4096
Just add this link here for future me (for adding points along a ray): https://en.wikipedia.org/wiki/Skew_lines#Nearest_Points

[2022-03-02 16:43] leoguignard opened #4186 "Point visualization and vispy 0.9.6"
## 🐛 Bug

vispy 0.9.6 does not allow to represent points alone as previous versions did.
Reverting to vispy 0.6.6 and napari 0.4.9 solves the issue

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]
output:
[code]

## Expected behavior

Display the points

## Environment

When it is not working:

When it is working (differences in bold):

## Additional context

[2022-03-02 17:36] chili-chiu commented on #4171
can't reproduce this behavior anymore, closing the issue.

[2022-03-02 17:36] #4171 closed, assigned to nobody

[2022-03-02 17:50] Czaki opened #4187 "Test with napari rc fails with segmentation fault during process qt viewer buttons events."
## 🐛 Bug

My test of pre-release on macos fails with segmentation fail after processing some napari button events. In the past such problem was caused by keeping references to Qt objects in some global state.  Error is not deterministic and it my happen that after restart test pass.

## To Reproduce

https://github.com/4DNucleome/PartSeg/runs/5384644974?check_suite_focus=true

[code]

## Expected

[2022-03-02 20:20] kevinyamauchi commented on #4186
Thank you for the clear bug report, @leoguignard !

I am not sure if you just left it off of the reproducible example, but when running napari from a script, you need to add `napari.run()` at the end to start the event loop.

[code]

Even after adding the `napari.run()` to the end, the points are not visible in the viewer. However, they are visible if I make the points bigger (e.g., set the size t

[2022-03-02 21:16] brisvag commented on #4186
I'll look better later (on the phone now), but just from reading the issue this gives me the "extent issue" vibes. Are dims sliders visible?

[2022-03-02 22:53] jni opened #4189 "Figure out website hosting going forward"
## 🧰 Task

In discussing the napari.org/magicgui issue with @tlambert03, we noticed that github pages has a hard 1GB limit on pages site size. We are currently sitting at 200MB+, so when we start doing versioning, we will hit 1GB extremely quickly. Options going forward include:

- do some clever deduplication of assets, rather than plain-pushing of versions to sub-directories. This could be done

[2022-03-03 02:14] leoguignard commented on #4186
Hello, thanks for the quick answer.

I did not had the `napari.run()` since I was running napari from a notebook. I did not specify that part, I did not think it could have an impact.

The `size` seems to have an impact indeed but maybe not the expected one. Also, having a higher size makes the visualization and interaction significantly slower.

Maybe a few quick few things that I forgot to menti

[2022-03-03 06:15] kevinyamauchi commented on #4096
I merged #4184, which fixes the main issue here. Thus, I will close this issue and open a new one for improving the 3D points adding UI.

[2022-03-03 06:15] #4096 closed, assigned to nobody

[2022-03-03 06:18] kevinyamauchi opened #4192 "Improve point adding UI in 3D"
## 🚀 Feature
Update the UI for adding points such that the user:

1.  clicks to define a ray (shown as a line in the viewer)
2. rotates the view
3. clicks on the ray to define where on the ray to add the point

## Motivation
Currently, the plane on which the points are added is not depicted in the viewer.

## Pitch

## Alternatives

## Additional context

- initially suggested by @jni in #4096
- h

[2022-03-03 09:37] brisvag commented on #4186
Ok, I took a better look, @leoguignard. The issue should be solved already in main (which will be released with v0.4.15 next Tuesday!). The issue was cause by a long-standing problem with size, edge width and sensible defaults.

As for what fixes it in main: it's a change I introduced in #3999, which makes the `edge_width` of points relative to the size by default. This means that if you have `siz

[2022-03-03 09:56] kevinyamauchi commented on #4186
Thanks, @brisvag ! I just pulled main and tested @leoguignard's  example and it looks good.

<img width="1204" alt="Screenshot 2022-03-03 at 10 55 06" src="https://user-images.githubusercontent.com/1120672/156540883-a7f72fa1-bb12-4d28-a0ca-521b3344037d.png">

Also, thanks for the clear question and documentation of the issue, @leoguignard - makes it much easier to debug! I will close this for now,

[2022-03-03 09:56] #4186 closed, assigned to nobody

[2022-03-03 10:18] jni commented on #4186
It might be helpful to note that you can test the 0.4.15 release candidate (0.4.15rc0) now with `pip install -U --pre napari`!

[2022-03-03 11:11] leoguignard commented on #4186
Perfect, thanks a lot for the quick answers!

[2022-03-03 11:31] jni commented on #4187
Thanks for the report @Czaki! That's... annoying! :sweat_smile: Do you think there's any way you could figure out the commit that caused it? Maybe making a job `git bisect run`, where the test script is running the test suite three times?

[2022-03-03 12:29] a-ludi opened #4194 "Request for modification events of label layers"
Currently, the only way of tracking changes of a label layer is to connect to the `set_data` event which is very general. In our plugin, we would like to track changes in a more detailed way in order to keep track of labels without analyzing all the label data.

For the moment, we are connecting to `set_data` and parse the history to see what has changed. This is complicated, error-prone and fragi

[2022-03-03 16:18] brisvag opened #4196 "Volume Plane slicing breaks with more than 3D"
## 🐛 Bug

Somewhere the 4th dimension is getting passed all the way to the `Plane` model, which only knows 3D. This breaks on current main if tring to use the GUI to set the plane orientation!

## To Reproduce

[code]

Then switch to 3D and change to `plane` mode. When you then click on `oblique`:

[code]

cc @alisterburt

## Expected behavior

## Environment

`v0.4.15rc1`

## Additional context

[2022-03-03 19:51] alisterburt commented on #3575
I started pushing on the depth side of this a bit in vispy/vispy#2305 - colormap side should be easy in a small napari plugin :)

[2022-03-03 22:56] Czaki commented on #4187
Slowly checking.

https://github.com/4DNucleome/PartSeg/tree/napari_debug_version

segfault exit code is 138 which is above 128 supported by git bisect. Maybe final debug workflow (if I success) should be placed in some developer notes.

[2022-03-03 22:58] jni commented on #4187
Wow!

Agreed!!! :heart:

[2022-03-03 23:02] Czaki commented on #4148
you may also would like to trace #3781, which, I have hope,should be implemented before 0.5.0 and which should allow to set viewing area instead of zoom calculation.

[2022-03-04 00:19] isabela-pf commented on #4145
I posted some feedback on the related PR with mockups on the greyed-out overlay for uninstallable plugins. Just commenting here so anyone not following the PR is aware. [My comment on #4074](https://github.com/napari/napari/pull/4074#issuecomment-1058691987).

[2022-03-04 01:02] jni commented on #4196
Closed by #4197

[2022-03-04 01:02] #4196 closed, assigned to nobody

[2022-03-04 01:05] DragaDoncila commented on #4174
Hi @hanjinliu, thanks for raising this issue! I haven't been able to reproduce on `main` or `0.4.15rc1` - both `ok()` progress bars show up in the viewer, and I don't see anything in the terminal. However I will say that we haven't necessarily clearly defined what happens with a worker's progress bar if the worker throws an error.

To help me reproduce this can you give me a bit more info:

- are

[2022-03-04 01:10] DragaDoncila commented on #2281
@kephale sorry for the delay in getting back to you!

`napari-compressed-labels-io` is one way of ensuring labels are small on disk, but we have also made some contributions to [pydata sparse](https://sparse.pydata.org/en/stable/index.html) that allow you to open a sparse array DOK backed labels layer in napari, and paint into it. Unfortunately I don't think we'll ever be able to expand support to

[2022-03-04 01:21] kephale commented on #2281
Sure, the image that I was working on for this was a `(1176, 2934, 8628)` and `uint8` vanilla zarr. I needed to paint some labels really quickly. I'm using a macbook pro with 16gb memory -.-. When I tried to save the labels layer into a tiff napari would crash.

My strategy:
I'm running `napari` through iPython. When adding the `Labels` layer, I overrode `paint` by duplicating it from https://gith

[2022-03-04 01:31] jni commented on #2281
@kephale (1) should happen automagically with zarr-python 2.11+, or with tensorstore as done by zarpaint. (Feel free to raise issues in zarpaint if it doesn't meet your needs!) Did you have any issues with that that we're not aware of?

For (2) we just got a feature request issue #4194, and emitting an event with the (indices, data) tuple would be a great fix.

[2022-03-04 01:46] kephale commented on #2281
@jni I'll raise the issues in zarpaint. I installed it as a plugin, but couldn't figure out how to use it properly. When I randomly click things it crashes.

But FWIW, just modifying `paint` to update my zarr array was just a 5 minute experiment.

[2022-03-04 02:05] jni commented on #2281
I guess I'm asking *what* needed to be modified? I actually made significant efforts so that it would work out of the box with tensorstore array layers, and iirc I did test it with zarr-python when fancy indexing got into main there, so yeah, I thought it *did* just work out of the box.

[2022-03-04 02:18] kephale commented on #2281
Aha! This is just revealing my napari naivete.

I started off by making my Labels layer via UI, then got crashes when trying to export as a tiff (presumably due to file size). Then I saw zarpaint, and had issues using it. So I went through the code and noticed that it would be super easy to do something hacky of just referencing a globally scoped zarr, e.g. adding this line to the end of `paint`:

[2022-03-04 02:22] jni commented on #4194
Yup, I've needed this before @a-ludi so thanks for the issue, hoping we can fix soon, or if you would like to make a pull request (contributor guide [here](https://napari.org/developers/contributing.html)), I would be very happy to help you get it in.

[2022-03-04 02:27] jni commented on #2281
Good-oh, I'm hoping fixing #4194 can help with that going forward. :blush:

[2022-03-04 05:39] hanjinliu commented on #4174
Hi @DragaDoncila , thank you for your reply!

Yes, I use Jupyter QtConsole for everyday Python. I also doubted QtConsole could be a problem because it is a Qt application itself, but in IPython I still got the same result (except that the `ValueError` traceback is printed out, which is usually silenced in QtConsole during running another Qt application).

I'm using `tqdm=4.63.0` now. I was first u

[2022-03-04 09:19] MBPhys opened #4200 "Done: Add a ruler"
## 🚀 Feature
Add a ruler to measure distance in world space.

## Motivation
There were a lot of requests to implement this and I said that I can do this in the community meeting. For me, this is also useful in napari. Now, there is a working implementation :smiley: and I want to share my design suggestion.
@tlambert03, @sofroniewn

## Pitch
The ruler lives on the scale bar overlay. I use the inter

[2022-03-04 10:13] psobolewskiPhD commented on #4200
Love it!
❤️

[2022-03-04 21:52] szsdk opened #4203 "A more sophisticate constrast limit bar"
I am data science. In our field, the pixel values follow an exponential distribution. However, the default behavior of napari is setting the max pixel value as the vmax, which makes the control of values in the interesting region very difficult. A potential good solution is something like the contrast limit widget from `pyqtgraph`.

[2022-03-04 22:56] tlambert03 commented on #4203
Are you looking for gamma?  It's true we don't have histogram like widget for contrast limits, but the linearity of the lookup is controlled by gamma... just below the contrast limits slider

[2022-03-05 08:42] Karol-G commented on #4125
Any update on this?
Or is there some other way on how to achieve this with the current version of napari that I could implement? I kind of need this 🙂

[2022-03-05 08:58] szsdk commented on #4203
From my understanding, the gamma is for [gamma correction](https://www.wikiwand.com/en/Gamma_correction). Then that is not what I want. I want the ability to set contrast limits from (0, 0.0001) to (0, 10000) with a widget at the same time.

[2022-03-05 11:56] tlambert03 commented on #4203
Right click on the contrast limits slider for more control of the exact numbers

[2022-03-05 12:00] tlambert03 commented on #4125
Any interest in opening a PR?  We can certainly help out if you run into difficulty.  Otherwise yes it's still on the todo list, but waiting for someone to have time.

Thanks for the bump!

[2022-03-05 14:17] szsdk commented on #4203
Thanks. Do not know about that. That helps a lot.

[2022-03-05 14:17] #4203 closed, assigned to nobody

[2022-03-05 14:18] tlambert03 commented on #4203
yeah, "make contrast limits widget more discoverable" has been on our to-do list for quite some time now :/ sorry about that.  Glad it works for you

[2022-03-05 22:36] Czaki commented on #4194
The problem with history is that it store only 2D changes. So if you do 3D painting or 3D fill you will not get real changes.

[2022-03-05 22:37] Czaki commented on #4187
I could not reproduce it now. I will try more when I come back to home.

[2022-03-06 03:11] jni commented on #4194
@Czaki that's no longer true (or if it is it's a bug). I changed the history to store the exact indices and values that are written to the array.

[2022-03-06 03:17] jni commented on #4125
Nothing seamless, but you can certainly [make a plugin](https://napari.org/plugins/index.html) to do this, "copy metadata"

[code]

Then you can make a new layer, open the widget, and copy the attributes.

[2022-03-06 08:36] Czaki commented on #4194
It is hard to parse this code from mobile, but if I good understand this code then adding events may introduce performance problem. And if you throttle events to be emitted after edit is done then you may lost information.

[2022-03-06 10:16] MaximilianHoffmann opened #4205 "Non-orthogonal slicing warning + bug in slice views orthognal to rotation with 3D-Volume, affine 90 degree rotation"
## 🐛 Bug

I haven't quite gotten to the bottom of this, but to me it seems that there is a bug when using higher angle rotations.
In the plane of the rotation everything seems fine, but if I want to scroll through orthogonal slices at larger angles , it seems that some things just do not get rendered.

## To Reproduce
[code]

## Expected behavior

## Environment

[code]
## Additional context

[2022-03-06 15:18] #3875 closed, assigned to jaimergp, goanpeca

[2022-03-06 15:18] #4095 closed, assigned to nobody

[2022-03-06 23:47] jni commented on #4194
I think if we only emit on click release (ie one history item), then I don't expect the performance penalty to be huge. But, we will see.

[2022-03-06 23:51] #3358 closed, assigned to jaimergp

[2022-03-07 04:08] jamesyan-git opened #4209 "Previously selected point deleted when deleting layer"
## 🐛 Bug

Recently selected points are erroneously removed when deleting new layers with the delete key. (reproduced with points and labels layer)

## To Reproduce

Steps to reproduce the behaviour:

1. Create a point on a points layer
2. Create a new points layer
3. Select the newly created points layer from the layer list (visually deselecting the point)
4. Delete newly created layer using the d

[2022-03-07 05:21] sofroniewn commented on #4200
Wow this is so cool @MBPhys!! I like how you're re-using the scale bar. I wonder though would people ever like multiple rulers? Or would people ever like to have both a ruler and a scale bar? I'm not sure. I think this is a fine place to start, but very curious what others think, cc @napari/core-devs? I think a PR would be great though - this will be very useful for a lot of folks!!

[2022-03-07 08:56] brisvag commented on #4200
I agree that a ruler would be amazing, but I don't think resizing and rotating the scalebar is a good approach. I'm sure what everyone really wants is to be able to click and drag from x to y and get the distance, without having to fight with handles and stuff. I would instead suggest to reuse the measurement logic from the scale bar, but recreate a new overlay.

Also, a reminder that there were a

[2022-03-07 11:54] dstansby opened #4211 "Add `napari.utils.notifications` to API doc"
## 📚 Documentation
The `napari.utils.notifications` namespace is used in the [first plugin tutorial](https://napari.org/plugins/first_plugin.html#add-plugin-functionality-to-napari-hello-init-py). It would be good to document what is available here in the API reference at https://napari.org/api/index.html

[2022-03-07 12:35] jni commented on #4209
Wowza! That's indeed very surprising behaviour! :joy: thanks for reporting it @jamesyan-git!

[2022-03-07 13:43] Carreau commented on #4189
I would suggest cloudflare pages, or netlify. Moreover they support preview build.

[2022-03-07 16:05] neuromusic commented on #4189
I ❤️  netlify

[2022-03-07 17:11] alisterburt opened #4213 "Can't set face color to property name with empty point set"
## 🐛 Bug

Setting `Points.face_color` as a property/feature fails with an empty point set - the error is not seen when a single point is present.

[code]

cc @andy-sweet as master of features 🙂

## To Reproduce

[code]

## Expected behavior
Non-failure, new points added will follow the color cycle

## Environment
`0.4.15rc1`

## Additional context
temporary workaround:
[code]

[2022-03-07 19:25] psobolewskiPhD commented on #3568
An update:
On live 0.4.14 I still get the div by zero.
But on 0.4.15rc1 I now get an *extra* warning!
[code]
I think I managed to get the most recent `main` into my branch and the fix still works, but I still get the FutureWarning, so that must be triggered by something else.

[2022-03-07 19:39] #3720 closed, assigned to goanpeca

[2022-03-07 19:39] #4145 closed, assigned to isabela-pf, liaprins-czi

[2022-03-07 19:44] andy-sweet commented on #4213
Thanks for the clear write up @alisterburt !

An alternative workaround is to provide the (not yet deprecated) `property_choices`, like follows.

[code]

I think you had to do that before `features` was introduced, as it's what was introduced in the tests and also conveys the main intent of `property_choices` as I understand it.

That will give `my_awesome_feature` a categorical dtype in the under

[2022-03-07 20:58] goanpeca opened #4215 "Pyside issue with filtering QListWidgets"
## 🐛 Bug

When using PySide2 with napari, and filtering in the plugin dialog, a `operator not implemented` error

## To Reproduce

Steps to reproduce the behavior:

1. Install napari with pyside2 (not pyqt=5) using conda/mamba
2. Open the plugin dialog
3. Filter by text

## Expected behavior

There should not be any error and the filtering should happen

## Additional context

See related issue ht

[2022-03-07 21:50] DragaDoncila commented on #4174
@hanjinliu thanks for getting back to me. I'm not able to reproduce this at all, from Ipython or Jupyter notebook or through script - everything behaves as expected. I notice the `ValueError` in your screencap is not shown, either in the viewer or in the console. Seems strange but I wonder if that has anything to do with it... @tlambert03 do you have any insight into what could be causing the diff

[2022-03-07 22:30] jni commented on #4189
@Carreau can you point us to some existing workflows deploying to netlify?

[2022-03-07 22:47] goanpeca commented on #4189
See https://github.com/numpy/numpy.org/pull/562 and https://github.com/numpy/numpy.org/blob/main/netlify.toml

[2022-03-08 04:04] #4215 closed, assigned to goanpeca

[2022-03-08 05:25] sofroniewn commented on #4200
Good point, click and drag would be good to have too - maybe nice to also allow resizing afterwards, so maybe best to have the ruler be its own overlay and have both click and drag and an interaction box. Regardless, it would be nice to pick up #3763 again and get that merge

[2022-03-08 09:30] Carreau commented on #4189
Note that many of the configuration option in netlify need to be done via the netlify UI.
It's also unclear what the limit are in term of size:

https://www.netlify.com/pricing/

Though there is limited build time.

[2022-03-08 09:37] psobolewskiPhD commented on #4189
I use the free tier for my personal site and one of the reasons it was suggested was the integration with GitHub—that I still don't actually use 🤣 Anyhow, here's the link from my notes:
https://www.netlify.com/github-pages-vs-netlify

[2022-03-08 11:18] psobolewskiPhD commented on #4200
If I had my druthers this would be part of Shapes layer tools--more intuitive for me anyways. A ruler icon as an option on the line? Could indicate with a corner like Adobe tools.

[2022-03-08 11:29] alisterburt commented on #4200
wow! super cool @MBPhys :)

I think overall I agree with @brisvag, I would prefer if this was a separate entity from the scale bar - with click and drag to define then with a handle on each end for manipulation.

Starting with 2D is great and this will allow us to add 3D later. @brisvag is right that we don't have a obvious place to put 'things which live in scene space' right now. @psobolewskiPhD

[2022-03-08 11:40] psobolewskiPhD commented on #4200
Anything that gets use closer!
I think there are things a user (like me) can want:
1) to be able to quickly get the size of an object they are viewing. I confess I do this a lot, usually by zooming and repositioning so the scale bar is over my object of interest. Then I eye ball it. 🤣
2) to be able to indicate the size/distance visually on the image with a text label (optional). This is related to

[2022-03-08 18:22] Karol-G opened #4222 "Mouse / Brush disappears on large label layers"
Hi,

## 🐛 Bug

On label layers (e.g 5000x5000 pixel or 500x500x500 voxel) the mouse / brush disappears for certain brush sizes. In the first reproduction example the mouse disappears for very small brush sizes. However, in 3D images the mouse tends to disappear for larger brush sizes (second example) and that much more frequently. In my case this is quite problematic and makes it very difficult to

[2022-03-08 19:10] MBPhys commented on #4200
Thanks for your fast feedback :smiley:
I agree with you, @brisvag, to add the option of drawing a ruler from point x to point y, additionally and create an independent overlay object for the ruler.
Furthermore, I think unifying the overlays is a good idea, too. This looks like a lot of work:) If you want I can help, @brisvag? How I understand the overlays, there are objects they live in world spac

[2022-03-08 23:11] jni commented on #4177
@goanpeca but I think #4180 fixed that? At any rate this seems too big to be in the 0.4.15 milestone?

[2022-03-08 23:14] jni commented on #4177
I'm going to remove it, please add again if this is considered critical to fix before release.

[2022-03-08 23:15] goanpeca commented on #4177
Agreed, we can now defer this after the fix, no longer critical!

[2022-03-08 23:26] andy-sweet commented on #1531
Hiding the console button when launching from IPython is easy enough, given the logic we have in `QtConsole.__init__` to detect the type of console works. If we do hide the button, I also expect to hide the console on initialization if it is showing from the last session.

Should we also disable the keyboard shortcut (by default `Ctrl + Shift + C`)?
If so, is it sufficient to call `action_manager.

[2022-03-08 23:45] goanpeca commented on #4175
This has been fixed! closing

[2022-03-08 23:45] #4175 closed, assigned to DragaDoncila

[2022-03-09 01:07] jni commented on #4175
By #4180 ;)

[2022-03-09 04:31] sofroniewn commented on #4200
Yes i think that is right

I think it is nice to have the separate ruler as people shouldn't be forced to add a shapes layer just to measure something - but we might also want to make is super easy to add a text box to each line with its length and a text box to each polygon with its area - that would be a fun feature

yeah - i do like that simplicity too. i'm curious what others think here too

[2022-03-09 05:01] sofroniewn commented on #1531
Yes i think so.

@jni is a big ipython user and I think has wanted this for a long time

[2022-03-09 05:06] kushalkolar opened #4226 "Cannot assign color to individual shapes in a Shapes layer"
## 🐛 Bug

It is not possible to assign an individual color to an individual shape within a shape layer. Colors for all shapes must be supplied. This is true for both `edge_color` and `face_color`

This should either be documented or updated to be more intuitive, took me several hours to figure out!

## To Reproduce

Steps to reproduce the behavior:

Run this in the napari console:

[code]

## Expe

[2022-03-09 15:04] tlambert03 opened #4227 "Feature: Workspaces (recoverable arrangements of windows & widgets)"
## 🚀 Feature

I'm certain this has been discussed before, but couldn't find the issue, so opening one to track it.

blender has a good example of workspaces: You can have different workspaces for different tasks, and the subwindows let you do everything needed for that task. You can tab between different workspaces. And you can customize or make your own workspaces by dragging around the subwindow

[2022-03-09 15:13] djhoese commented on #2584
Commenting here since this seems like the more specific issue compared to #4005. The old vispy PyQt4 backend used to use (or at least allow) a shared GL context. When updating the backend to allow for Qt5 backends the unit tests would fail or seg fault on CI if I used a shared context so I added this function to turn it off for Qt 5.4+:

https://github.com/vispy/vispy/blob/1df73c0d3683f806ed052c36

[2022-03-09 16:46] lauramarcos opened #4228 "Layer controls is showing up empty in Windows"
## 🐛 Bug

Layer controls is just a grey square without the needed controls

## To Reproduce

Steps to reproduce the behavior:

1. Install napari v0.4.15rc3
2. Open napari and pay attention to the Layer Controls

## Actual behavior

<img width="209" alt="image" src="https://user-images.githubusercontent.com/63799148/157489174-b19588b9-a36e-48e6-b7fb-c21fd68e8c03.png">

## Expected behavior

Layer c

[2022-03-09 16:51] psobolewskiPhD commented on #4228
Silly question, but do you have a layer created and selected?
E.g. File > Open Samples > napari > binary blobs
Edit: or click on the Points layer icon to create a points layer...
With no layer selected that's the behavior.

[2022-03-09 17:05] lauramarcos opened #4229 "Plugins are not being installed the first time when selected a bunch of them"
## 🐛 Bug

When selecting several plugins to get installed, some of the plugins get installed. If selected each of them or again a couple of them, then they are installed successfully

## To Reproduce

Steps to reproduce the behavior:

1. Go to Install/Uninstall plugins
2. Click on Install button for several plugins from the Available Plugins section
3. Wait for them to get installed ---> some plug

[2022-03-09 17:16] lauramarcos opened #4230 "Waver plugin crashes app in windows and shows Error in mac"
## 🐛 Bug

When selecting Waver -> Simulation, app crashes in windows and in mac, thee is a Error displayed

## To Reproduce

Steps to reproduce the behavior:

1. Install Waver plugin
2. Click on Plugins -> Waver -> Simulation
3. Pay attention to app

## Expected behavior

App crashes in windows and shows error in ma

https://user-images.githubusercontent.com/63799148/157494446-31774dc3-6181-4842-b

[2022-03-09 17:21] lauramarcos opened #4231 "Warnings are displayed when new label is added"
## 🐛 Bug

When adding a new label a warning is displayed in Windows and Mac

## To Reproduce

Steps to reproduce the behavior:

1. Open napari
2. Click on File -> Open Sample -> napari -> "any option"
3. Click on any of the buttons on the layer list
4. Pay attention to warnings

## Expected behavior

Warning should not be displayed

https://user-images.githubusercontent.com/63799148/157496090-8f10

[2022-03-09 17:27] psobolewskiPhD commented on #4231
Ah! This is what I was seeing the other day, also on macOS (12.2.1) but arm64.
https://github.com/napari/napari/issues/3568#issuecomment-1061049259

[2022-03-09 17:31] lauramarcos opened #4232 "Uninstall is not happening for some plugins in mac"
## 🐛 Bug

Plugins cannot be uninstalled

## To Reproduce

Steps to reproduce the behavior:

1. Instal several plugins
2. Click on Uninstall button for a bunch of them

https://user-images.githubusercontent.com/63799148/157497851-56f78252-8ad4-4794-89ac-5cd3ea4c1813.mov

## Expected behavior

Plugins should be uninstalled

## Environment

 napari: 0.4.15rc3
Platform: macOS-11.6.4-x86_64-i386-64bit

[2022-03-09 17:35] lauramarcos opened #4233 "Plugins list gets empty when trying to uninstall lots of plugins at once"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Open the Install/Uninstall Plugins window
2. Click on uninstall button for a bunch of plugins
3. Wait for them to get uninstalled

## Expected behavior

Plugins uninstalled are listed in the correction section and still list is visible for all available and installed plugins

## Actual behavior

List of plugins disappears

<img width=

[2022-03-09 17:54] lauramarcos commented on #4228
yup... you are right.. I freaked out for a second there... thank you!

[2022-03-09 17:54] #4228 closed, assigned to nobody

[2022-03-09 18:30] tlambert03 opened #4234 "Task: add CI checks for settings migrator DAGs"
## 🧰 Task

after the settings migrations added in #4086,  we should add a CI check to make sure that none of the known migrator decorators in napari/settings/_migrations create a DAG in the migration tree (e.g.  0.2 -> 0.3,  0.3 -> 0.4, and 0.2 -> 0.4)

h/t cc @Carreau

[2022-03-09 19:26] lauramarcos opened #4235 "World2Data plugin behaves weird when installed in mac and win"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Install World2Data plugin
2. World2Data plugin is included in the Installed Plugins section and it is checked

<img width="1073" alt="image" src="https://user-images.githubusercontent.com/63799148/157514762-35575b3f-932b-426c-a64d-6da352602e1b.png">

3. Close the Plugin Installation window
4. Click on Plugins menu

WINDOWS behavior: w

[2022-03-09 21:05] Carreau commented on #4234
To add from the meeting, the reasoning is there is no reason to have a dag, and we should always have a tree where all path lead to current version.

If there is A->B and B->C, the only reason to add A->C is if A->B->C is broken.

In which case A->B should never run, and the `A->B` migrator should be deleted.

I don't think it's high priority, but would still be nice to have, and is a good first i

[2022-03-09 22:09] chili-chiu commented on #4044
This no longer happens with the new theme, closing the issue now :)

[2022-03-09 22:09] #4044 closed, assigned to nobody

[2022-03-09 23:12] tlambert03 commented on #4230
this is an issue in Waver, not napari.  so going to close this.  But cc @sofroniewn: I think line 33 of _dock_widget.py should be:

[code]

if `None` is a valid option

[2022-03-09 23:12] #4230 closed, assigned to nobody

[2022-03-09 23:21] sofroniewn commented on #4230
Thanks for catching @lauramarcos and thanks for flag @tlambert03 - i will fix on waver end when i get this chance.

I wonder if this is a good example of a plugin bug that could be caught through automated testing?

[2022-03-09 23:24] tlambert03 commented on #4230
yep, pretty sure this would be caught by my CI action ([this test](https://github.com/tlambert03/napari-plugin-action/blob/67f98a4e4081e77ff8c9340d79f37ea6f2451c6c/test_plugin.py#L100-L120))

try it:
[code]

https://github.com/tlambert03/napari-plugin-action

[2022-03-09 23:41] tlambert03 commented on #4230
(nevermind, the [last few lines there](https://github.com/tlambert03/napari-plugin-action/blob/67f98a4e4081e77ff8c9340d79f37ea6f2451c6c/test_plugin.py#L118-L120) would need to be uncommented for this to be caught)

[2022-03-10 20:05] perlman opened #4238 "Use OpenGL 4.1 on macOS"
## 🧰 Enable the OpenGL 4.1 profile on macOS

In https://github.com/napari/napari/pull/4005 @brisvag implemented a new visual using geometry shaders, which require glsl 1.5.

Unfortunately, on MacOS, the default profile uses OpenGL 2.1 (with GLSL 1.20).

After a hacking session with @nclack and @brisvag, we found an example of how to enable the OpenGL 4.1 profile on macOS. The code below will set t

[2022-03-10 20:12] psobolewskiPhD commented on #4238
In case anyone is curious, running this on my M1 MBPro macOS 12.2.1:
[code]
I get the same visual issue, the same warning about shared contexts, plus:
[code]

[2022-03-11 00:01] #936 closed, assigned to nobody

[2022-03-11 00:51] JoOkuma commented on #3620
cc @merlinzebra

[2022-03-11 11:04] Karol-G opened #4242 "Programmatically hide layers"
## 🚀 Feature
One should be able to hide layers programmatically e.g. from a plugin.  They should not appear in the layer list in the GUI on the left side.

Original feature discussion can be found in this thread: [https://forum.image.sc/t/make-particular-layers-invisible-in-the-layer-list-dock/53248/11](https://forum.image.sc/t/make-particular-layers-invisible-in-the-layer-list-dock/53248/11)

##

[2022-03-11 11:42] dstansby opened #4244 "New napari window spawned when plugin starts a new `Process()`"
## 🐛 Bug

I have a plugin that spawns multiple `multiprocessing.Process()` to run tasks concurrently. If I launch `napari` from the command line and run the plugin everything is fine. If I launch `napari` from a Python script, multiple `napari` windows are spawned, I presume one per `Process()`?

The script I'm using to open `napari` is:
[code]

And the contents of my plugin are:
[code]

## Expect

[2022-03-11 12:42] tlambert03 commented on #4244
I believe this is just an idiosyncracy of the way python spawns processes.  In your main script, you should hide the stuff that you only want to happen in the main process behind `if __name__ == '__main__'`

[code]

see these for a bit more discussion:
https://stackoverflow.com/questions/20360686/compulsory-usage-of-if-name-main-in-windows-while-using-multiprocessi
https://stackoverflow.com/questi

[2022-03-11 13:43] dstansby commented on #4244
That works great, thanks for the solution. I'll close this since that works.

[2022-03-11 13:43] #4244 closed, assigned to nobody

[2022-03-11 17:42] tdimino opened #4246 ""Creating a plugin" link on napari.org glossary"
## 📚 Documentation

A minor issue, but a link on the napari.org [glossary page](https://napari.org/further-resources/glossary.html) is now broken, presumably since the switchover to sphinx and redesign of the nav.

Would recommend switching out the existing hyperlink of "creating a napari plugin" and pointing to [this one](https://napari.org/plugins/index.html#how-to-build-a-plugin).

<img width="

[2022-03-11 20:51] goanpeca opened #4247 "Mamba on windows is having issues with temp folder when installing plugins"
## 🐛 Bug

Installing plugins on windows result in an error.

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Open the constructor bundled app 0.4.15rc2 on windows
2. Try to install a plugin

## Expected behavior

Plugin should install without issues

## Environment

 - Please copy and paste the information at napari info option in help menubar here:

 - Any other relevant information

[2022-03-11 21:14] goanpeca opened #4249 "Change default location for next release of bundle app"
## 🧰 Task

To avoid users getting an error message from installing the constructor app on the same location.

This is a one time fix. After updates in place are ready, this problem should be there.

[2022-03-11 21:22] kushalkolar commented on #646
@berl Do you have an example of how you implemented this? I would like to use the grid mode to look at a ton of image outputs, and click on a specific image in the grid to selected the layer so I can see its name.

[2022-03-11 22:12] haesleinhuepf opened #4250 "Label features in status bar inconsistent with label identifier"
## 🐛 Bug

Hi all,

I'm observing an inconsistency in the status bar of napari when inspecting a label image. In the following screenshot, I was hovering over a label with intensity 17; label 17. In napari-skimage-regionprops lives an interactive table that also highlights label 17 in that situation. However, the status bar of napari then lists the properties/features of label 18 and the wrong area

[2022-03-11 22:55] jni commented on #4250
Interesting! Thanks for the report @haesleinhuepf! I think you are right that we probably have an off-by-one error in indexing the features...

[2022-03-11 23:02] jni commented on #4250
Aaaah, memories flooding in, you are running into #2596! For now, you need to rename 'label' to 'index'.

If you look at [`examples/add_labels_with_features.py`](https://github.com/napari/napari/blob/b6cc4bf6a8d8a49792817e7aa70008e954f60dc0/examples/add_labels_with_features.py#L38-L43), you will see that we sweep this issue completely under the rug there. :joy:

So, yeah, for now, renaming 'label'

[2022-03-12 04:56] berl commented on #646
@kushalkolar I ended up doing something entirely different for my use case:
- no grid mode (in my case there is a natural 'grid' of image tile positions that I now use instead)
- binding keys to move between "selected" images.  'selected' is in quotes here because I was keeping track of it myself.

All of this seems anti-pattern for Napari and  I'm sure devs here (@tlambert03, looking at you)  hav

[2022-03-12 08:15] haesleinhuepf commented on #4250
Thanks for the feedback @jni ! I cannot _rename_ the "label" column because this would break a hand full of plugins and scripts. Thus, I added a workaround to napari-skimage-regionprops: If there is a "label" column, I'm adding an "index" column with the same content. This solves the issue; presumably in all plugins that use our tables.

![image](https://user-images.githubusercontent.com/12660498/

[2022-03-12 08:15] #4250 closed, assigned to nobody

[2022-03-12 08:18] haesleinhuepf commented on #2596
I'd like to support @sofroniewn's suggestion here. IMO "label" is the defacto standard here set by [scikit-image regionprops](https://scikit-image.org/docs/dev/api/skimage.measure.html#skimage.measure.regionprops_table). We're also using the "label" column in a couple of plugins already.

[2022-03-13 23:16] jni commented on #646
Thanks for the ping @kushalkolar @berl! Perhaps surprisingly, our mouse event functionality has not changed that much since this issue was raised.

`layer.extent` contains the coordinates of the layer in world coordinates, so you can test for inclusion in each layer by iterating over `viewer.layers`. But yeah, that doesn't work in grid mode either.

I'm going to bump the priority on this one, as I

[2022-03-14 09:59] a-ludi commented on #4194
First of all, thanks for all the feedback.

Regarding the performance, I do not see a big problem here unless somebody does a lot of work in the handler. I mean, in my current implementation I am actually parsing part of the history on every `set_data` event which is certainly more expensive than the debated solution.

I have been thinking about my proposal and came to the conclusion that it is in

[2022-03-14 12:00] Czaki commented on #4194
We cannot assume this :(. But aggregated history suggested by @jni should be the best solution.

[2022-03-14 12:08] dstansby opened #4253 "AttributeError trying to test file opening with a plugin"
## 🐛 Bug

I am trying to test the automatic opening of a file with a `napari` plugin. When running `pytest` on the test code below, I get the following error.

I suspect that I'm doing something wrong here, and that the solution to this issue would be to improve the error message (perhaps no plugings are acutally registered? perhaps it's not possible to do this type of testing?)

[code]

## To Rep

[2022-03-14 12:11] tlambert03 commented on #4253
Thanks @dstansby.  Can you tell me exactly what `plugin_namespace` is in your example above?

[2022-03-14 12:15] dstansby commented on #4253
It's a custom one that imports a bunch of custom plugins. I can provide the source, but commenting out the `plugin_manager.register(plugins)` line I get exactly the same error as above, so I don't think that's the issue?

[2022-03-14 12:22] tlambert03 commented on #4253
Ok, it seems like there must be some other important detail about the way you're setting up the tests or plugin:
This works for example...

[code]

can you create an example for me?

[2022-03-14 12:24] dstansby commented on #4253
I think I'm hitting the case where the file isn't recognised by any of the registered plugins. I think in your example `napari` knows how to read the `test.tif` file. If you try and read an empty `.csv` file (for example) I think it should reproduce the error. (sorry, don't have time to write a full example immediately)

[2022-03-14 12:26] tlambert03 commented on #4253
thanks, that helps:
[code]

[2022-03-14 12:43] tlambert03 commented on #4253
Thanks, fix in https://github.com/napari/napari/pull/4254

[2022-03-14 14:04] a-ludi commented on #4194
I do not know how to best implement the "aggregated history" event, so somebody else must do that. It would definitely be a great option.

But I really do not see the problem with the "immediate history" event. I believe it is the responsibility of the plugin author to maintain performance. Plugin authors must be careful with event handlers in any kind of event really. Right now we are using the `

[2022-03-14 14:47] #4253 closed, assigned to nobody

[2022-03-14 21:39] tlambert03 commented on #3568
@psobolewskiPhD, do you still see the divide by error on main?  I'm fixing the other warning in https://github.com/napari/napari/pull/4256, and would be curious to know if you still get it there

[2022-03-14 22:26] tlambert03 commented on #4174
can reproduce, but _only_ in `jupyter qtconsole` (not in IPython).  will need to do into qtconsole to see why this might be hapenning

[2022-03-15 00:23] 2dx opened #4260 "'examples/notebook.ipynb' link on napari.org is no longer available."
## 📚 Documentation

A minor issue, but a link in the napari.org of [Jupyter notebook usage part](https://napari.org/tutorials/fundamentals/getting_started.html#jupyter-notebook-usage) is now broken.

Would recommend remove this link or prepare notebook.ipynb in the repository. This file seems to have been deleted in the main branch at some point.
![image](https://user-images.githubusercontent.com/

[2022-03-15 00:44] tlambert03 commented on #4164
this is easy enough to fix, but what should the behavior _be_?  The whole generator function trick worked ok for a keypress where we know there's a key-release coming (so a generator function with a single yield matches nicely).  But what should we do with a generator on a button click?

should it execute up to the first yield?  execute two yields?  execute until the generator is exhausted? (bad i

[2022-03-15 07:54] psobolewskiPhD commented on #3568
On line I still get the 3 div by zero.
I did `gh pr checkout 4256` and now I don't get the extra warning (FutureWarning), but i still get the divide by zero warnings:
[code]

I guess this is somehow an arm64 only issue? x86 somehow treats empty data as *not* zero for this division? Anyhow, the fix from the points layer: https://github.com/napari/napari/issues/3568#issuecomment-956115305
still seem

[2022-03-15 09:05] #4246 closed, assigned to nobody

[2022-03-15 09:11] #4209 closed, assigned to nobody

[2022-03-15 09:44] Carreau commented on #4260
Thanks for the report,

It looks like this has been removed as part of 2243b1fe92ab654a89c35455d81c788387a33c3b in #4063

[2022-03-15 11:20] Carreau opened #4262 "Can't resize axis aligned ellipse."
## 🐛 Bug

When an ellipse is axis aligned in the shape layer, the middle edges of the bounding box handle do not allow resizing:

https://user-images.githubusercontent.com/335567/158365922-9f7e59a5-9eec-46cf-a714-e0e164edff3c.mov

There are other issues with handles if you programatically create ellipses with non-rectangular bounding boxes.

This may be related to other things like #4258

I'm also

[2022-03-15 12:30] alisterburt commented on #4164
For context, I originally had one action instead of the code below. This action was supposed to be performed on both button press and key press

https://github.com/napari/napari/blob/86222aaaad0db99e37393dbd0f03b786554f8d10/napari/layers/image/_image_key_bindings.py#L36-L65

With this potential use case in mind (one action covering both key press/release and button press/release), I think it makes

[2022-03-15 13:16] tlambert03 commented on #4164
yeah, I was afraid you were going to suggest this extremely reasonable thing :joy:

here's why (it's a bit more complicated than at first it might appear, because of the ability to bind a button to the ID of a "yet-to-be-defined" action, because of the need for different signal connections, and because of the need to "manage" the generator):

The [`bind_button` code](https://github.com/napari/napa

[2022-03-15 13:24] tlambert03 commented on #3568
Your patch in https://github.com/psobolewskiPhD/napari/commit/aca8e63fbe9e7575364852d2b70bc61e0607e764#diff-8cf0a8f7039380cc36fc53577fb83f0864711525da0f6d9a16f726c645d7e085 seems pretty reasonable!  Can you think of any circumstances in which we _wouldn't_ want that?

On a completely unrelated side note, I was shocked to recently realize that you haven't yet contributed a PR to napari! :wink: :win

[2022-03-15 14:20] psobolewskiPhD commented on #3568
I have no idea, I mean checking there is something before making a thumbnail seems to make sense to me. This check is performed in Points and Tracks—in different ways though... I copy-pasta'd the points way here, but one could use the other approach.
In the end I think making all layers behave the same using the same code/approach would make sense? See also this related issue: https://github.com/n

[2022-03-15 14:22] tlambert03 commented on #3568
That was a not-so-subtle hint for you to make a PR with that patch so we can have you as a contributor :)  I think it's a good solution here.

[2022-03-15 14:37] psobolewskiPhD commented on #3568
Oh, derp. I'll try and figure out how to get back on my fork and that branch this evening (I did `gh pr checkout 4201` to play with the screenshot scaling).

[2022-03-15 14:45] psobolewskiPhD commented on #3338
The above no longer happens with napari 0.4.15. The console opens blank.

However, the bug in the OP still happens for me. In vanilla `python` REPL when you launch napari, the console is functional and so is the REPL (you can use for example `viewer.camera.zoom = 2`, but it enters that wierd state where you can't close, etc. even after closing napari. `control-c` didn't help either. I had to make

[2022-03-15 15:17] alisterburt commented on #4164
ooft - here be dragons! Thanks for all of the details. I totally agree that the multiple wrappers and management sounds less than ideal, let's not overcomplicate things :)

This is super important and is the reason I'm okay with the current separation - the two interactions feel qualitatively different. I'm supportive of explicitly disallowing generators. I don't think we should execute up to the

[2022-03-15 15:21] tlambert03 commented on #4164
I agree.  I think executing up to the second yield also has high "gotcha" potential.  Add to that the fact that this all won't work (or at least gets much harder) if someone happened to call `bind_button` _before_ having registered an action by that specific ID, and I think we should just explicitly raise for now. :)  Thanks for humoring me in the discussion

[2022-03-15 15:28] alisterburt commented on #4164
Pleasure was all mine 😆

To confirm, the path forward here is to check whether the function is a generator in the `bind_button` method (using the snippet you posted above) and raise? (nice walrus!)

[code]

[2022-03-15 15:30] tlambert03 commented on #4164
yep... but note that this still has error potential.  In your example at the top, if you had put `action_manager.bind_button('napari:button_press_callback', button)` above the call to `register_layer_action`, it wouldn't know what type of function to expect yet

[2022-03-15 15:44] alisterburt commented on #4164
oh no... and we can't check when registering the action because we're only disallowing generators for buttons, right?

Potential solution is to check during `ActionManager.trigger()`? but that also feels icky, action shouldn't know if it's bound to a button

hm, let me know if I'm missing something obvious - at the very least I'm more aware of the action manager internals than I was at the start o

[2022-03-15 15:48] lukasvasadi opened #4263 "'napari._vispy.layers.image' is not a package"
## Activating experimental rendering features causes persistent ModuleNotFoundError

Recently, I discovered the two "experimental" features designed to enhance viewer performance with asynchronous rendering. After checking both options in Preferences (under Experimental), the GUI prompted a restart. When attempting to relaunch Napari, the following error is thrown: `ModuleNotFoundError: No module

[2022-03-15 15:50] tlambert03 commented on #4263
sorry for the trouble!  napari stores settings outside of the site-packages folder (e.g. `~/Library/ApplicationSupport/Napari/` for mac)  you can run `napari --reset` to reset settings to their defaults.  Let us know if that helps (with the annoyance).  Looks like there might be an actual bug though with the import?

[2022-03-15 15:56] lukasvasadi commented on #4263
Wow that was a quick fix! Thanks for the tip.

Yes not sure about the import. I think the program is looking for the "octree_image.py" file in the wrong "image" directory, as the the "_vispy" directory does not contain an "image/experimental/" sub-directory...May be worth some investigation 🙂

[2022-03-15 15:58] tlambert03 commented on #4263
yep, can reproduce thanks.  Will add a fix

[2022-03-15 16:41] tlambert03 commented on #4164
yeah :/ and it also incurs a performance penalty at callback time, which is much worse than incurring it once at connection time.

Ultimately, this points to a deeper design assumptions/issues with the generator pattern in general.  As elegant as it seemed to use a generator for the press/release event of a keypress, it does make for a lot of structural difficulties elsewhere.  It also makes an im

[2022-03-15 17:25] alisterburt commented on #4164
love that wrapper! :)

I guess the only thing we can do before changing the generator pattern for key presses is to add a little warning to the docstring with reference to this issue for any poor soul who comes across issues in the near term, sound reasonable?

[2022-03-15 17:27] tlambert03 commented on #4164
yeah, we can definitely also do the check in bind button.  But if we're binding to a button with no action registered, I think we should probably remain silent (i.e. don't warn "hey don't use a generator later!")

[2022-03-15 20:39] psobolewskiPhD opened #4266 "Contributing Guide instructions don't work: requirements.txt missing??"
## 🐛 Bug

<preface: I have no idea if this is the proper place to report this. The whole napari/napari.org/docs/etc. thing is **super confusing**.>

Following the Contributing Guide: https://napari.org/docs/dev/developers/contributing.html#setting-up-a-development-installation fails when it says to: `pip install -r requirements.txt`
This doesn't work:
[code]
This file does not appear to be present

[2022-03-15 20:44] tlambert03 commented on #4266
well, I'm not sure if this adds to the confusion or decreases it, but that docs link isn't actually showing the newest docs :joy:?

I fixed this in https://github.com/napari/napari/pull/4105, and it's live now on https://napari.org/developers/contributing.html ... do you have a bookmark to https://napari.org/docs/dev/ perhaps?  @jni, any idea where that's pulling from?

[2022-03-15 20:45] tlambert03 commented on #4266
so sorry about this.  it's a large scale cleanup project midway through 😖

[2022-03-15 20:45] tlambert03 commented on #4266
(I feel responsible for encouraging you to make a PR 😅 ... lemme know if I can help!)

[2022-03-15 20:51] tlambert03 commented on #4266
ahhhh.... it's this repo: https://github.com/napari/docs  ... will look into whether we can kill it

[2022-03-15 20:55] tlambert03 commented on #4266
I turned off gh-pages for `napari/docs` ... so that confusing `napari.org/docs` won't be there anymore.  just go to napari.org.  closing this since the actual issue has been fixed, but lemme know if I can help

[2022-03-15 20:55] #4266 closed, assigned to nobody

[2022-03-15 20:57] psobolewskiPhD commented on #4266
Gah, I'm sorry I wasn't clear. It's this page:
https://napari.org/docs/dev/developers/contributing.html
It's linked from GitHub napari/napari (https://github.com/napari/napari)
https://github.com/napari/napari

[2022-03-15 20:58] psobolewskiPhD commented on #4266
Anyhow, I'm forging ahead, because I'm thick and I've had a Sidecar. Sorry if I mess something up!

[2022-03-15 21:02] tlambert03 commented on #4266
🤦‍♂️

[2022-03-15 21:16] psobolewskiPhD commented on #4019
Following Apple instructions here:
https://developer.apple.com/metal/tensorflow-plugin/
Followed by
[code]
JustWorks(tm) now, so the issue was related to the TF depends/env.
(BTW I think pyqt will be on conda-forge soon!)

[2022-03-15 21:16] #4019 closed, assigned to nobody

[2022-03-15 21:31] andy-sweet opened #4268 "Shapes layer with high `scale` values is hard to interact with in the GUI"
## 🐛 Bug

A shapes layer with high `scale` values is hard to modify in the GUI because at some point the blue control points of the selected shape cannot be clearly seen anymore. I tried to click on some of the control points, but I could not manager to move any of them.

Similarly drawing a shape on a shapes layer with a high `scale` value is very difficult, likely for similar reasons.

This seem

[2022-03-15 21:46] psobolewskiPhD commented on #4266
Good news: the wrong info is gone.
Bad news: 404 error 🤣
Again if I wasn't clear before it's the link here in the GitHub homepage to contributing guide
<img width="665" alt="image" src="https://user-images.githubusercontent.com/76622105/158478065-5d2e267c-1caa-4567-a23a-4c6417bb37e4.png">

[2022-03-15 22:46] alisterburt commented on #4213
sorry for not replying quickly here @andy-sweet, I didn't know about `property_choices` - your whole reply was really really useful!

I won't pretend to know what's best here, some sort of deferred evaluation would be *really* nice but I'm in no rush now that I have clean workarounds 🙂

[2022-03-15 23:31] #4263 closed, assigned to nobody

[2022-03-16 08:30] michalk8 opened #4270 "Unable to find `https://napari.org/docs/dev/objects.inv`"
## 📚 Documentation

As mentioned above, previously accessible https://napari.org/docs/dev/objects.inv is no longer found.

[2022-03-16 09:23] psobolewskiPhD commented on #4266
FYI: a lot of google search results point to the napari.org/docs and it's all 404 now. Not sure there's anything to be done about it...

[2022-03-16 10:02] #4164 closed, assigned to nobody

[2022-03-16 10:45] Carreau opened #4271 "AttributeError: 'LayerList' object has no attribute 'name'"
## 🐛 Bug

- open napari,
- Click on empty canvas.
- Press Ctrl-C
Console will show:

[code]

## Expected behavior

Don't.

## Environment

This seem to be because `_base_item_model:_BaseEventedItemModel.getItem` is not type stable.

[code]

The `else_self.root` is not of Type `ItemType`, but an (Empty) container.

[2022-03-16 11:21] tlambert03 commented on #4266
We can work on a redirect at napari/docs, and it will also resolve over time.  I'm actually less concerned  about 404 for a period of time than something that directs to a seemingly correct (but not) page!

[2022-03-16 12:59] #4231 closed, assigned to nobody

[2022-03-16 14:59] JoOkuma commented on #4169
@jni can you close this? PR #4165 fixed this.

[2022-03-16 15:24] Carreau commented on #4271
I tried to understand the logic behind `_BaseEventedItemModel`, but I think that may needs @tlambert03

[2022-03-16 15:42] ClementCaporal opened #4274 "Visualize and edit graph like data in napari"
## 🚀 Feature
`graph-layer` to visualize and edit graph data in napari.

## Motivation

I have graph-like data such as neurons paths or vertex model of epithelium. I would like to visualize it with my favorite image viewer in Python.
More generally I suppose that graph-like data such as twitter-network, molecules, ... could also use this layer type?

## Pitch

- create new graph-layer
- load existi

[2022-03-16 16:11] tlambert03 commented on #4274
cc @jni ... who I know is quite interested / working on this as well

[2022-03-16 16:14] brisvag commented on #4274
Relevant: https://github.com/vispy/vispy/tree/main/vispy/visuals/graphs

[2022-03-16 16:36] jo-mueller commented on #4274
Would graphs in Napari  strictly be spatial graphs? Or in other words, would a node in a graph layer always have a location in nd-space?

[2022-03-16 16:44] ClementCaporal commented on #4274
I think position should be an optional argument. It would bypass a default draw layout argument ([like for example in networkx](https://networkx.org/documentation/stable/reference/drawing.html#module-networkx.drawing.layout))

[2022-03-16 19:08] melissawm commented on #4270
Can you try using https://napari.org/objects.inv instead? Because of recent changes in our docs deployment, this file has moved.

[2022-03-16 19:53] michalk8 commented on #4270
Thanks, using https://napari.org in intersphinx works, think this can be closed. Quick question: will ``napari`` docs be versioned in any way (e.g. stable/latest) in the future?

[2022-03-16 20:13] tlambert03 commented on #4270
Yes!  Definitely something we very much want and are (slowly) working towards

[2022-03-16 20:13] #4270 closed, assigned to nobody

[2022-03-17 00:21] #3568 closed, assigned to nobody

[2022-03-17 08:15] jni commented on #4274
Hi @ClementCaporal and @jo-mueller! Great that you are interested here! Indeed we have a number of people interested already. Here's notes from our first meeting:

https://hackmd.io/aDecpm9FR8qYAoal-7_1Lg

@JoOkuma is also interested I believe, because the vision is for Tracks to be a special-case of Graph.

Unfortunately none of us have had time to even start implementing this. If you have bandwi

[2022-03-17 11:48] ClementCaporal commented on #4274
Thank you for the notes of you first meeting @jni .

I did see your solution as specified in the alternative. I didn't test it yet but I will.
For now I use [Genepy3D](https://genepy3d.gitlab.io/) + Point Layer to compare my automatic tracing

- ![image](https://user-images.githubusercontent.com/94049435/158801551-d295e0ab-0dcf-42b7-9d62-ae9c2a98b6f3.png)
(Each layer is one automatic generated tra

[2022-03-17 13:22] jo-mueller commented on #4274
I would also be interested in contributing. From the perspective of my use cases, I would be fine with having more abstract graph representations (nodes and edges) to be able to freely pass criteria like neighborhood between objects (can be points or labels or whatever) between plugins, similar to what has been asked [here](https://forum.image.sc/t/interactive-visualisation-of-graphs/60629)

I thi

[2022-03-17 16:11] dstansby opened #4277 "Error using `read_data_with_plugins` with a URL"
## 🐛 Bug

I'm getting an odd error when trying to use `napari.plugins.io.read_data_with_plugins` with a URL. Reading the same file available locally is working fine.

## To Reproduce

Steps to reproduce the behavior:
[code]

Error message:
[code]

## Expected behavior
File is downloaded and loaded with no error.

## Environment
napari version '0.4.16.dev14+g67556aaf'

## Additional context

[2022-03-18 03:49] liu-ziyang commented on #4277
Hi @dstansby, Thank you for reporting this bug. However, as of now the default implementation for reading tiff does not support reading a URL with HTTP/HTTPS protocol. I went back and checked the history versions and it seems we never supported using a remote URL.

In the documentation for this method, there is indeed mention of using a URL, but it seems this URL is referring to a local address in

[2022-03-18 10:03] tlambert03 commented on #4277
@potating-potato

I think the issue here is not about our builtin reader support for tiff URLs, but the fact that the local file system is being prepended to the url before passing to plugins

[2022-03-18 10:23] dstansby commented on #4277
Yes, it looks odd.... I thought I would post and see if anyone had any immediate ideas, but I can spend some time debugging and working out what's going on today.

[2022-03-18 10:40] dstansby commented on #4277
Somewhere down the call stack `napari.utils.io.magic_imread` is being identified as being capable of reading the URL, but a look at the source code indicates it isn't. I think fixing this errornous identification will then propagate through to https://github.com/napari/napari/blob/9355fdbea01dbec6f01a9ff6409fc67825598e27/napari/plugins/io.py#L123

and a nice "no plugin found" error message will be

[2022-03-18 11:05] LREIN663 opened #4285 "Vector layer creates two stripes instead of one if projection has x values"
## 🐛 Bug

Whenever creating a vector layer in 3D and one of the vectors has a x component it creates two instead of one vector (s. image).
Here is a mininmal code example which creates 3 vectors, where only one of them has an x component (-> shows the described behavior) and the other two are fine:
[code]

I mentioned the bug on Zulip - general as "[Weird Vector behavior](https://napari.zulipchat.

[2022-03-18 11:32] tlambert03 commented on #4277
thanks @dstansby!  See comment over in https://github.com/napari/napari/pull/4284#issuecomment-1072319473 ... it's a little bit more complicated than that.  it's just tiffs that don't work for urls.  the imageio fallback will work for non-tiff urls

[2022-03-18 11:53] dstansby opened #4287 "Add docs on how plugins should depend on `napari`"
## 📚 Documentation
It would be good to document how plugins should depend on `napari`. My understanding from the zulip chat is not at all. Perhaps an entry on https://napari.org/plugins/first_plugin.html#update-setup-cfg explaining this and the reasons for it would be a good solution?

Additionally, if "don't depend on napari" is the advice, https://napari.org/plugins/first_plugin.html#update-setu

[2022-03-18 11:55] tlambert03 commented on #4287
which zulip chat?? :)

You can absolutely depend on napari!  But it's important to us that dependence on napari isn't mandatory.   The "first plugin" example is a good case where you must depend on napari (if you want to provide a notification via napari's API).

[2022-03-18 11:56] tlambert03 commented on #4287
ok... seeing it now.    Juan's comment here is true:

but that doesn't mean that you _shouldn't_ depend on napari as a rule.

[2022-03-18 11:57] dstansby commented on #4287
I didn't know there were > 1, added a link to the top post!

That makes sense. In that case, is there a minimum version of `napari` that should be pinned for a `npe2` plugin to work? From https://github.com/napari/napari/commit/87161a0c0c4b097c6ab46da72dd4616accafbac5, it looks like it might be `napari>=0.4.13`?

[2022-03-18 12:18] tlambert03 commented on #4287
To summarize, for anyone finding this, the answer to the original question is:

Depend on napari exactly as you would any other package: if your plugin directly imports napari, add it to your install_requires, as described in the "your first plugin" guide.  If your plugin requires a specific version of the napari API, go ahead and pin the napari version too.

Note that _internally_, napari tries h

[2022-03-18 12:20] tlambert03 commented on #4287
(sorry, I meant which thread 😄 )

[2022-03-18 12:38] tlambert03 commented on #4287
If it's ok with you, I'm going to close this, since the documentation is correct.  will open issues at cookiecutter and npe1

[2022-03-18 12:38] #4287 closed, assigned to nobody

[2022-03-18 13:01] brisvag commented on #4285
Thanks for the report! Side note: to clarify, the bug is the *opposite* of what you think. The *intended* behaviour is for the vector to be represented by two rectangles intersecting in the middle; this is to ensure that they are always visible from every angle. It's suboptimal and a bit clunky, but necessary to fix some issues with native OpenGL lines. I have an open [PR to update this behavour](

[2022-03-18 13:10] #3389 closed, assigned to nobody

[2022-03-18 13:44] #4211 closed, assigned to nobody

[2022-03-18 15:13] Carreau opened #4289 "Ellipses and Rectangle Shapes don't check for invalid imputs"
Ellipses and rectangle do not check that the "4 corners" representations are actually 4 corners,
and are not crossed (for rectangles).

I started t look into it in #4273 but as the default for shapes is rectangles, and almost all test passes random, non rectangles-shaped 4 corners data to `Shape()`, so for now I gave up updating.

I'm also not even sure we want to prevent invalid data. Do we ?

Bo

[2022-03-18 15:15] VolkerH commented on #4172
Also noticed this with 0.4.15

One additional observation I had is that neither the notification manager message nor the console output show the line number where this warning is thrown. For me, this was in a larger block of code so the connection to the point layer wasn't immediately obvious before coming here.

[2022-03-18 15:18] tlambert03 commented on #4172
do you still see this after https://github.com/napari/napari/pull/4256?

[2022-03-18 15:22] tlambert03 commented on #4172
I just went back and was able to reproduce this error in main just before #4256, but not after... I'm going to close this since I think it was resolved there (just missed this issue).  But feel free to re-open if you find otherwise

[2022-03-18 15:22] #4172 closed, assigned to nobody

[2022-03-18 15:31] VolkerH commented on #4172
Thanks, I looked for an issue with FutureWarning. I found this and overlooked #4526

Will give it a try.

[2022-03-18 15:40] VolkerH commented on #4172
just confirming that it is fixed

[2022-03-18 16:29] nicost opened #4290 "Minimum window size is larger than screen size (on Windows)"
Installed napari using conda on Windows 10 laptop.  Run napari using external monitor (higher resolution then build-in screen). When now running napari on laptop screen, it is impossible to size the window so that it fits on the screen (other than by maximizing the windows altogether).  The minimum window size seems to be set to something larger than the actual display.  In addition, while resizin

[2022-03-18 16:50] tlambert03 commented on #4290
Thanks @nicost, I do think we've probably overlooked things as small as 540px, so indeed we should go through and double check any assumptions.  (@napari/core-devs, the primary window resizing spot is [right here](https://github.com/napari/napari/blob/main/napari/_qt/qt_main_window.py#L1027), and it looks to be trying to work with the sizeHint of the layout... presumably bigger than 540px).

I thi

[2022-03-18 16:54] tlambert03 commented on #4290
sidenote @nicost. This isn't your issue here, but that Qt warning you're getting about `The version installed is 5.9.7.` suggests that you have a rather old version of Qt in your environment:  This is very easy to do if one installs things that use pyqt from the "defaults" anaconda channel (your default if you simply installed miniconda and didn't modify your channels).

I would recommend creating

[2022-03-18 16:54] nicost commented on #4290
Laptop display size is 1920x1080, so is something scaling by a factor of 2?  Can I delete settings to test without history of a previous display?

[2022-03-18 16:55] tlambert03 commented on #4290
`napari --reset`!

[2022-03-18 16:56] nicost commented on #4290
Nice!  Same issue though;(

[2022-03-18 16:56] tlambert03 commented on #4290
yeah, we've also definitely struggled with handling windows monitor scaling nicely in all cases.  I guess you have scaling set to 2 in your general Windows "Display" preferences?

[2022-03-18 17:00] nicost commented on #4290
It is set to 150%(recommended).  Display sure looks better at 100% or 125% (in both those cases, the napari window fits easily)!  Not sure how 150% scaling of 1080 pixels results in 540  pixels.

[2022-03-18 17:03] nicost commented on #4290
B.t.w., I installed from conda-forge using the instructions on https://napari.org/tutorials/fundamentals/installation.  So I guess that conda-forge is still at qt 5.9.7?

[2022-03-18 17:06] tlambert03 commented on #4290
yeah, very confusing 🤔  ... I admit, display scaling and the handling thereof is rather mysterious to me.  We need someone to generally dig into this.  I'm marking this with some priority and severity... since it comes up a lot.  cc @sofroniewn: we need a general windows scaling and Qt hero here :joy:

conda-forge is shipping 5.12.3: https://anaconda.org/conda-forge/pyqt ... my guess is that you i

[2022-03-18 23:18] nicost commented on #4290
I following the conda installation instructions to the letter.  Repeated it to be sure.  Noticed the following after `conda update napari`:

[code]

Python package management is a continuing source of misery for me;(.  I guess that some dependency insists on using qt 5.9.7?

[2022-03-18 23:33] #4233 closed, assigned to nobody

[2022-03-19 01:52] tlambert03 commented on #4290
you're absolutely right.  I just tried it.
So sorry for the confusion (and it _is_ terribly confusing).  The docs need additional clarification, as they essentially assume that people have the conda-forge channel, and in some cases `channel_priority=strict`, added to their conda config.

I do have an explanation for you, but no one should be expected to know this. It's a real mess :/
here's my sum

[2022-03-19 01:57] tlambert03 commented on #4290
oh btw, one more thing:  I gave a seminar trying to demystify this all just a little bit, and it's recorded and available here if you're interested: https://nic.med.harvard.edu/python/

[2022-03-19 11:38] 2dx opened #4292 "When adding Image or Label layer, how about creating them with scale and translation of currently selected layer?"
## 🚀 Feature
Currently, new Image or Label layer has scale of minimum scale of layers for each axes by _step_size and has bounding box of world extent.
How about creating them with scale and translation of currently selected layer?

## Motivation

## Pitch

## Alternatives
We can add image with any scale and translation by python console, so we have workaround.

## Additional context

[2022-03-19 15:26] sofroniewn commented on #4285
I don't really have anything to add @brisvag you described it well. We could have gone with more meshes to make a cylinder instead of the two intersecting rectangle, that might look nicer overall too - but would be computationally more expensive

[2022-03-21 19:23] melissawm commented on #3572
Now that all the docs are building locally with the napari-sphinx-theme, is there anything left to do here?

[2022-03-21 19:27] melissawm commented on #1422
I am closing this as we are now using the [napari-sphinx-theme](https://github.com/napari/napari-sphinx-theme).

[2022-03-21 19:27] #1422 closed, assigned to nobody

[2022-03-21 19:29] melissawm commented on #3529
Folks I am closing this, as the main migration has happened and the LFS-related actions are being discussed in napari/napari#4115 . If you have any feedback or feel like something was not addressed, please reopen.

[2022-03-21 19:29] #3529 closed, assigned to nobody

[2022-03-21 21:17] DragaDoncila commented on #3572
@melissawm I think the only remaining work for previewing docs is to provide an "in PR" preview, but we do already provide the build artifact and I think this would also be part of broader discussion on hosting going forward so I'm not sure if we want to keep this open, or close in favour of a specific, much lower priority issue (imo), of providing in-PR previews.

[2022-03-22 03:46] #4169 closed, assigned to nobody

[2022-03-22 12:14] Jose-Verdu-Diaz opened #4294 "PyQt5 ImportError"
## 🐛 Bug

I'm sorry this issue does not follow the bug template, as it doesn't fit it very well.

I'm working in an app that integrates napari. Yesterday everything worked fine, but today I'm getting the following error when trying to run it:

[code]

What is turning me crazy is the following: when running the code in an **existing jupyter notebook in particular**, the code runs just fine and napa

[2022-03-22 12:49] #4294 closed, assigned to nobody

[2022-03-22 13:01] jaimergp commented on #3432
Closed by https://github.com/conda-forge/napari-feedstock/pull/32

[2022-03-22 13:01] #3432 closed, assigned to jaimergp

[2022-03-22 13:15] tlambert03 commented on #4294
Hi @Jose-Verdu-Diaz, glad you were able to get it fixed.

The issue was very likely the fact that you ended up with PyQt5 installed from _both_ conda (which unfortunately names it `pyqt`) and PyPI (which names in `pyqt5`).

[code]

This dual installation can happen if you had pyqt already installed in the environment from some other dependency, and then you run `pip install napari[all]`.  Because

[2022-03-22 15:37] lukasvasadi opened #4296 "Option to suppress console logging"
## Suppress console logging
I upgraded my Napari version and am now seeing loads of logging output on my launch console (not the built-in Napari console). This makes it difficult to view other information being printed. I tried various approaches to suppress the logging output from the module, but have not found any success. Logging suppression may already be a feature, but I cannot seem to find i

[2022-03-22 15:38] tlambert03 commented on #4296
Can you provide an example of the logging so we can see where it's coming from?  (e.g. if it's a plugin?)

[2022-03-22 15:41] lukasvasadi commented on #4296
First, I receive a printout of every package from my virtual environment. Then, I see various warnings and debug messages.

![image](https://user-images.githubusercontent.com/18079821/159521189-aed3fdbc-7b89-476c-adf2-90c2ec034f55.png)

[2022-03-22 15:51] tlambert03 commented on #4296
strange.  I don't _think_ it's napari doing that... that is, I've never seen that while working on/with napari.  That could happen though if _any_ of the packages imported in your environment modify the global python logger.  Have you already tried a new environment?  and could you perhaps give the output of `conda list` or `pip list` so we can see what's in the environment?  (even still, it does

[2022-03-22 15:59] lukasvasadi commented on #4296
You are probably right. Unfortunately, setting the logging level to critical does not seem to suppress the output. Just running `napari` from my environment does not throw all that information, but then that instance is missing all the features we added to the program, which I assumed was the cause of the problem ha.

Please see below for the long list of packages...

`Package

[2022-03-22 16:04] tlambert03 commented on #4296
thanks for the env info!

can you tell me how you're starting napari then?  is it a custom script? something other than running `napari` on the command line or just creating a viewer in ipython, eg.  Any particular imports there that might be involved?

[2022-03-22 16:11] lukasvasadi commented on #4296
Yes! I have a launch script that creates an instance of a custom Controller object. Inside that object we instantiate a Viewer object—this is also where we start modifying some of the GUI. Then we run `napari.run()` at the end of the launch script. Please see below...

[code]

[2022-03-22 16:15] lukasvasadi commented on #4296
The reason I suspected this may be due to a change in Napari was that this logging output only started appearing after a recent upgrade of the Napari package, and all other packages were kept at their current version.

[2022-03-22 16:34] tlambert03 commented on #4296
we certainly can't rule it out!  but I can't think of anything that changed recently specifically related to logging verbosity.  So, need to dig a bit deeper.  Thanks for the script!  will try to reproduce

[2022-03-22 16:40] tlambert03 commented on #4296
ok, I don't see `controller` in your pip list above, and when I tried `pip install controller` I get an object that lacks `version` param:
[code]

so ... need more information.  What is `controller` and what version do you have

[2022-03-22 16:41] tlambert03 commented on #4296
(and, if you don't import controller, do you still get the verbose loggin?)

[2022-03-22 17:14] lukasvasadi commented on #4296
Sorry, controller is a local script that we import. However, if I run the script below, I still see the verbose logging.

[code]

[2022-03-22 17:15] tlambert03 commented on #4296
yes, but do you see it if you comment out `from controller import Controller`?

*edit*: if not, then I'd need to see what's in the controller module

[2022-03-22 17:46] lukasvasadi commented on #4296
No, if that is commented out then the verbose logging stops. So that means it must be related to another package?

[2022-03-22 17:53] tlambert03 commented on #4296
It at least means there's an interaction somehow.  The fact that it didn't happen on an earlier version of napari is interesting, but without knowing more about the source of the chatter it's hard to say why

[2022-03-22 18:36] tlambert03 commented on #4296
We can absolutely continue this conversation here, but since the actually logging is coming from outside of napari, I'm going to close this as I'm not sure there's too much we can do besides help guide you in discovering and suppressing the source of the logging.  Free free to share more of your `controller` module if you'd like some help

[2022-03-22 18:36] #4296 closed, assigned to nobody

[2022-03-22 21:54] jni commented on #3723
This will be fixed with the next vispy release, so I think it can be closed! 🎉

[2022-03-22 21:54] #3723 closed, assigned to nobody

[2022-03-23 07:57] haesleinhuepf opened #4300 "Depth-colour projection / new 3D rendering mode"
## 🚀 Feature
Hi all,

## Motivation

a colleague of mine asked if a depth-colour projection could be a nice napari-plugin. I'd say it would be better suited as rendering mode in napari core. If the colour would change when rotating the sample, this could give a visual impression we have never seen in other tools such as Fiji before.

## Pitch

The depth colour projection (called "temporal colour c

[2022-03-23 08:29] miura commented on #4300
I feel responsible for this migration...

[2022-03-23 09:44] haesleinhuepf commented on #4300
Great to hear that Kota! I'd hope that maybe @alisterburt @brisvag and/or @kevinyamauchi could help, because they implemented similar "shaders" earlier.

[2022-03-23 09:54] psobolewskiPhD commented on #4300
This kind of visualization, where z-position is indicated by color, is also very nice for some materials science applications, where surface topography or roughness are presented.
I can also imaging it being useful in cartography and related imaging...

[2022-03-23 10:02] kevinyamauchi commented on #4300
Hey everyone. This actually feels very doable as a vispy shader filter now that vispy is setting the depth buffer for most image rendering modes (final ones contributed by @alisterburt in https://github.com/vispy/vispy/pull/2305!).

Basically, the shader filter would have to set the `gl_FragColor` by the value in `gl_FragDepth`. The tricky thing is setting the limits for mapping depth to color, bu

[2022-03-23 10:04] kevinyamauchi commented on #4300
I don't have time to take this on right now, but happy to chat if anybody would like to give it a go!

[2022-03-23 14:42] jaimergp commented on #4247
I think we can set `TEMP` and `TMP`  env vars to `tempfile.gettempdir()` in the subprocess that calls `mamba`, and that should fix it.

Refs:
* https://github.com/mhammond/pywin32/blob/70ddf693927fa1635f15e9ef41eb1aea37fdf32a/com/win32com/__init__.py#L111
* https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-gettemppatha#remarks

[2022-03-23 14:43] jaimergp commented on #4249
I think this is a non-issue. Current conda bundle appends the version to the default installation path, e.g. `$HOME/.local/napari-v0.4.15`.

[2022-03-23 14:45] jaimergp commented on #3487
@Czaki can you confirm if the new conda-based installers work for you now? I believe so, but let's confirm before closing this.

[2022-03-23 14:49] jaimergp commented on #1627
This shouldn't be an issue anymore with the [conda-based installers available for 0.4.15](https://github.com/napari/napari/releases/tag/v0.4.15) and above. For Linux, check [napari-0.4.15-Linux-x86_64.sh](https://github.com/napari/napari/releases/download/v0.4.15/napari-0.4.15-Linux-x86_64.sh)! Once downloaded, you can start the installation with `bash ~/Downloads/napari-0.4.15-Linux-x86_64.sh` (a

[2022-03-23 14:53] jaimergp commented on #1944
Hi @adamltyson! We released a new set of installers for 0.4.15, based on conda packages. I wonder if this option works for you now? Check [napari-0.4.15-macOS-arm64.pkg](https://github.com/napari/napari/releases/download/v0.4.15/napari-0.4.15-macOS-arm64.pkg) (taken from https://github.com/napari/napari/releases/tag/v0.4.15).

[2022-03-23 14:58] jaimergp commented on #4010
Given that we released them for 0.4.15 and you can see them in the [Nightly assets](https://github.com/napari/napari/releases/tag/latest), and that the [CI jobs have been successful reliably](https://github.com/napari/napari/actions/workflows/make_bundle_conda.yml?query=event%3Aschedule), we can close this one @potating-potato.

[2022-03-23 15:27] ianhi opened #4302 "Top google result for `napari points layer` gives a 404"
## 📚 Documentation

When I google `napari points layer` (even in incognito mode) the top result is:
https://napari.org/docs/dev/_modules/napari/layers/points/points.html

![image](https://user-images.githubusercontent.com/10111092/159735267-d204a791-7671-43e8-8255-498289c94d9c.png)

which leads to a 404 page:
![image](https://user-images.githubusercontent.com/10111092/159735347-9f3896de-6182-4e88-

[2022-03-23 15:32] jaimergp commented on #2500
This was fixed a while ago, see current main.

https://github.com/napari/napari/blob/8bf7e1b2e5028be1eb620135826faf2e5046f656/setup.cfg#L150-L158

That said, it won't be as relevant now that we are using conda packaging for the bundle.

[2022-03-23 15:32] #2500 closed, assigned to nobody

[2022-03-23 17:01] ppwadhwa commented on #3975
Hi!  From what I see above, it looks like we want tabs in place on the layer control panel, so I was going to start getting those in place with the translate and scale options added.  If anyone has any objections to that, please let me know!  thanks.  :)

[2022-03-23 17:03] tdimino commented on #4302
We can also request that [Google reindex this 404 URL](https://support.google.com/webmasters/answer/9012289#request_indexing), speeding up their update of this search query.

[2022-03-23 18:19] lukasvasadi commented on #4296
Thanks for your help @tlambert03! I have no issue sharing my code, but it is also a massive project. I will try to first hunt down the module responsible 🙂

[2022-03-23 18:59] liu-ziyang commented on #1627
For now I am going to close this issue as we have alternative app available for the latest build of napari. If someone else encounter similar problem with the latest bundle or have more information on this issue, please feel free to reopen it

[2022-03-23 18:59] #1627 closed, assigned to nobody

[2022-03-23 19:36] #4010 closed, assigned to jaimergp, goanpeca

[2022-03-23 19:54] liu-ziyang commented on #4232
this should be addressed as part of #4283, if anyone experience this again please reopen this issue

[2022-03-23 19:54] #4232 closed, assigned to nobody

[2022-03-23 19:55] liu-ziyang commented on #4229
this should be addressed as part of the #4283, if anyone experience again or have more information please reopen this issue

[2022-03-23 19:55] #4229 closed, assigned to nobody

[2022-03-23 20:06] alisterburt commented on #4300
thanks for bringing this up @haesleinhuepf - such a great suggestion!

@kevinyamauchi reading that shader filter I'm not sure what's going on but I agree this is super achievable and not a crazy amount of work, the hardest part will be exposing it in napari in a useful way. We would have to rework the contrast limits to account for the possible depth values (and decide if that depth should be set

[2022-03-23 23:00] isabela-pf commented on #3975
@ppwadhwa that sounds correct to me! I have some time freed up from bundled app issues, so I will put it on my list to make some more relevant mockups incorporating the latest feedback. I think this will make will make it clear how we want scale and transform to be represented specifically.

[2022-03-24 07:30] miura commented on #4300
I'm very much encouraged by your comments, @kevinyamauchi , @alisterburt , @psobolewskiPhD  , and @haesleinhuepf OK, I assign myself to explore my first napari plugin if I can get help from you guys guiding me to the world. It will be a great chance for me to learn using napari API.

[2022-03-24 09:46] brisvag commented on #4300
I played around with this a bit yesterday; It's a very cool idea, and it should be doable. These are the issues I found:

- Instead of simply using a `position` from the vertex shader, one needs to read the `gl_FragDepth` which is set at the end of the fragment shader, because depending on the rendering mode this will change
- Using the raw number of `gl_FragDepth` won't work, because its scale is

[2022-03-24 09:50] MBPhys commented on #4235
Weird, thanks :) Did this happen for other plugins, too? I will check this.

[2022-03-24 11:06] Czaki commented on #3487
this still fail: https://github.com/napari/napari/actions/runs/2031505558

I do not know where live last build for conda so download from release page.

When try to run I found that file is not executable (no `+x`). This is caused by using zip format that not preserve permissions.

After install applications starts correctly.

[2022-03-24 14:21] alisterburt commented on #4300
Great to have you on board @miura ! This won't be the simplest introduction to napari, it's quite in the guts but that's fun 😄

@brisvag is right, the value in the depth buffer (`gl_FragDepth`) is [not linear](https://learnopengl.com/Advanced-OpenGL/Depth-testing)
<img width="558" alt="image" src="https://user-images.githubusercontent.com/7307488/159934216-2aaf0e90-8de4-4123-a60e-6fa12579c599.png"

[2022-03-24 16:18] brisvag commented on #4300
Great!

However, there's another complication: if one only uses the fragment depth, there is no difference between bright pixels and dark ones; so you want to actually still account for the original brightness. However, you cannot simply sample the texture, because there's some preprocessing to do (projection and whatnot). So you need to take the output of the first colormap application... so one

[2022-03-24 18:15] grlee77 opened #4304 "The viewer's status bar reports a value offset from the mouse cursor in 3D"
## 🐛 Bug

The values reported in the status bar at the bottom left of the GUI do not accurately match the mouse cursor position when in 3D mode. The position whose value is reported is 1/2 pixel offset from the cursor position, so it is not very noticeable in most practical cases. The example below shows screenshots of the issue on a tiny 3D volume of shape `(2, 2, 2)`.

The expected value for the

[2022-03-24 18:18] grlee77 commented on #4304
There is also another, related bug that I came across while looking at this one. If the actual data array is 2D, then in the 3D mode the reported value is not correct. It only increments with vertical position of the mouse, but seems to ignore the horizontal position. I suspect that is in some way related to how dimensions are being broadcast. To see that case, you can adapt the example above to u

[2022-03-24 18:33] haesleinhuepf commented on #4300
The answer may lie in these lines in the original implementation by @miura :
https://github.com/fiji/fiji/blob/master/plugins/Scripts/Image/Hyperstacks/Temporal-Color_Code.ijm#L73-L88

[2022-03-24 22:31] jni opened #4306 "New docs infrastructure to replace lfs"
We have decided to move away from using lfs, for the main reason that `pip install git+https://github.com/napari/napari` consumes lfs bandwidth, and this usage is unbounded and not controlled by us. (See #4115.) We have three main options going forward:

1. Use GitHub's drag and drop API to add images and video to documents. They are then hosted by GitHub and merely pointed-to by our docs. Static

[2022-03-24 22:37] jni commented on #4115
We have decided to move away from lfs because the bandwidth issue is in fact outside of our control. This issue is superseded by #4306.

[2022-03-24 22:37] #4115 closed, assigned to nobody

[2022-03-24 22:43] jni commented on #4306
Other thoughts: we want the docs to build on each PR merged in either repo. Can Actions in one repo trigger builds in another? We suspect as much but we are not sure. Would be good to figure out this question. (Nightly builds are insufficient because they prevent quick fixes should a PR bork the repo inadvertently.)

[2022-03-24 22:45] jni commented on #4306
Also note: the decision here should become a [NAP](#4299) once those are a thing. :joy:

[2022-03-25 08:58] #4277 closed, assigned to nobody

[2022-03-25 10:18] jaimergp commented on #3487
Latest release is enough to try this out. The installer needs to be executed with `bash <installer>.sh`, so no chmod'ing should be necessary. This will be covered in the documentation for 0.4.16, so no worries.

The good news is that it starts correctly so we can close this! Thanks for checking it out!

[2022-03-25 10:18] #3487 closed, assigned to jaimergp

[2022-03-25 10:37] adamltyson commented on #1944
Hey @jaimergp, unfortunately I can't tell you! I don't have access to the relevant machines (I don't even know if they exist anymore!). If I come across an old mac I'll test this out.

Thanks!

[2022-03-25 10:55] bauerdavid opened #4308 "Dimensions mismatch between 3D shapes layer and 4D image layer"
## 🐛 Bug
Hey everyone,
I discovered, that the dimensions of the shapes layer might misalign when I display it in 3D and change the order of visible dimensions.

## To Reproduce

Steps to reproduce the behavior:

1. Script:
[code]
2. Draw a rectangle.
3. Switch to 3D
4. Change the order of displayed dims 3x (Ctrl+E)

The drawn rectangle:
![image](https://user-images.githubusercontent.com/36735863/1

[2022-03-25 14:39] Czaki commented on #3487
Based on the header the `sh <installer>.sh` should be enough. If bash is required, then the header should be updated.

[2022-03-25 14:43] jaimergp commented on #3487
It _should_ according to these [checks](https://conda.io/projects/conda/en/latest/user-guide/install/linux.html), but Anaconda's [instructions](https://conda.io/projects/conda/en/latest/user-guide/install/linux.html) always used `bash` 🤷

[2022-03-25 14:48] jaimergp commented on #1944
Thanks for your reply! `conda-forge` builds their packages on the Mavericks (10.9) SDK, so it _should_ work. Some specific packages (not sure if they are in our dependency tree) do require the 10.12 SDK, but those are rare.

Since we cannot check right now but we have reasons to believe it can work, I'd say we can close this issue for now, @potating-potato! If it becomes a problem in the future, w

[2022-03-25 15:08] sofroniewn commented on #4290
Just catching up on this one -

Should we add this to the docs? Maybe @DragaDoncila can make a PR based on https://github.com/napari/napari/issues/4290#issuecomment-1072916223. Also apologies if this has already been done, I'm super behind on notifications, catching up now

[2022-03-25 16:05] liu-ziyang commented on #1944
thanks all! I am closing this issue for now, for anyone still seeing this with the new conda-based bundling, please feel free to reopen the issue

[2022-03-25 16:05] #1944 closed, assigned to nobody

[2022-03-25 19:58] #1531 closed, assigned to andy-sweet

[2022-03-25 20:11] sofroniewn commented on #3174
Looks like another user ran into this (see image.sc link above). Maybe we should revisit - cc @perlman @grlee77

[2022-03-25 20:46] andy-sweet commented on #2488
I can't reproduce this on `main` (commit 0ff842d11c6e67c77373ffda011125ee9d7bc98b) on macOS from a terminal or from VSCode.

I do get the following warning message when toggling `ndisplay`, but everything seems to work as expected.

[code]

Here's my complete environment.

[code]

If either @DragaDoncila or @uschmidt83 could try to reproduce this on `main` and also find that it is not reproducible

[2022-03-25 20:55] andy-sweet commented on #2488
And I could reproduce this issue at tags/v0.4.7 on the same machine (and the same conda environment), so I suspect this may be fixed.

[2022-03-25 21:06] tlambert03 commented on #2488
with git bisect, https://github.com/napari/napari/pull/3460 was the PR that removed this error .  (and then note that another error was revealed that later was resolved in #3519, showing the error that @andy-sweet saw above).

so I think this can be closed?

[2022-03-25 22:50] andy-sweet commented on #2374
The cause of the last reported error is due to how xarray handles indices of type `tuple[ndarray, ndarray, ndarray]` differently to numpy (orthogonal vs. vectorized). See the similar napari bug #2190 or the [xarray docs for more details](https://numpy.org/doc/stable/reference/generated/numpy.ix_.html).

The obvious/simple fix here is to use the same approach as in #2191 - special case the vectoriz

[2022-03-25 23:21] andy-sweet commented on #2488
@tlambert03 : that's convinces me. I prefer letting core-devs close issues, so why don't you do the honors here?

[2022-03-25 23:27] tlambert03 commented on #2488
Would be nice to get confirmation from either @DragaDoncila or @uschmidt83 that updating napari solves their issue

[2022-03-26 01:49] jni commented on #2374
Oh hello!

Yup, might as well unify with #2191. I also agree with your idea of raising an issue from #2376 to track better approaches.

[2022-03-26 14:50] uschmidt83 commented on #2488
Seems to be fixed for me.

[code]

[2022-03-26 14:51] tlambert03 commented on #2488
thanks

[2022-03-26 14:51] #2488 closed, assigned to andy-sweet

[2022-03-26 17:00] grlee77 opened #4316 "thumbnail omits 0.5 pixels from each edge of image"
## 🐛 Bug

The thumbnail extent seems to go from the center of the first pixel to the center of the last pixel, omitting the outer 0.5 pixels. You can see this by looking at the thumbnail appearance in the image below for a small 3x3 image. All but the central square are missing half their width in the thumbnail:

![thumbnail-crop](https://user-images.githubusercontent.com/6528957/160249699-202a3b5

[2022-03-26 17:06] tlambert03 commented on #4316
As a broader comment on thumbnails generally not matching the canvas (see also, https://github.com/napari/napari/pull/4267#issuecomment-1069561112,  #3581, https://github.com/napari/napari/issues/3409, and other general "thumbnail mismatch" issues), we've talked often about the "ultimate" fix here being to somehow use vispy to render to an offscreen canvas buffer, using the same rendering logic as

[2022-03-27 03:01] #4079 closed, assigned to andy-sweet

[2022-03-27 03:01] #4166 closed, assigned to andy-sweet

[2022-03-27 03:50] #4260 closed, assigned to nobody

[2022-03-27 08:43] jni opened #4318 "get_status and other canvas events should be throttled at (e.g.) 30 or 60Hz"
## 🚀 Feature

napari uses significant resources even when just moving a mouse through the canvas, and even with small datasets, because it emits cursor events at whatever rate the CPU will support. I don't have a fast reproducer right now but anecdotally, I've seen the events emitted at 2.2kHz! This is a stupendous amount of completely unnecessary computation.

[This Zulip thread](https://napari.z

[2022-03-27 15:00] perlman commented on #3174
I am unable to recreate replicate @DragaDoncila's example. (Yes,I hit the shuffle button many times. :-)

I initially thought that this might would be related to a quirk of the GLSL spec where division can be replaced with multiplication (see https://github.com/google/neuroglancer/issues/51). This seems to manifest itself on Intel integrated video cards versus discrete graphic cards, but I was una

[2022-03-27 17:49] #2374 closed, assigned to andy-sweet

[2022-03-27 17:56] sofroniewn commented on #2970
I believe this can be closed by #3689 right @kevinyamauchi @alisterburt @brisvag?

[2022-03-27 18:07] alisterburt commented on #2970
Yep! Closing

[2022-03-27 18:07] #2970 closed, assigned to nobody

[2022-03-28 03:03] jni commented on #4308
Thanks for the report @bauerdavid! We've indeed been messing with how we deal with dimension order so this isn't entirely surprising. Clearly a case of fix a thing over here to break a thing over there. 🤦 Hopefully we can get this fixed soon.

[2022-03-28 03:32] liu-ziyang commented on #342
Hi there, are we still interested in this approach? If not I would like to close this issue to consolidate our recent effort on multi-canvas implementation plan. Thanks! (if you would like to know more about this plan, we are aggregating it here as a starting point: https://github.com/orgs/napari/projects/16)

[2022-03-28 03:34] jni opened #4322 "Shapes.add_rectangles docstring does not match behaviour"
## 📚 Documentation

The Shapes.add_rectangles method docstring [states](https://github.com/napari/napari/blob/1ba738c36d7ac0faf9bc7b5e8a2228cd93e656f2/napari/layers/shapes/shapes.py#L1673-L1678):

However, the corners approach only works in 2D, because of the Rectangle data setter checks that D is 2 when only corners are given:

https://github.com/napari/napari/blob/1ba738c36d7ac0faf9bc7b5e8a2228c

[2022-03-28 03:36] liu-ziyang commented on #320
Hi there, I would like to close this issue to consolidate our recent effort on the big data set slicing implementation plan. Thanks! (if you would like to know more about this plan, we are aggregating it here as a starting point: https://github.com/orgs/napari/projects/16)

[2022-03-28 03:37] liu-ziyang commented on #318
Hi there, I would like to close this issue to consolidate our recent effort on the async implementation plan. Thanks! (if you would like to know more about this plan, we are aggregating it here as a starting point: https://github.com/orgs/napari/projects/16)

[2022-03-28 03:45] liu-ziyang commented on #4129
hi @PMLLancao , we recently released a new packaging app with conda: https://napari.org/tutorials/fundamentals/installation.html#installing-as-a-bundled-app

I hope this resolves the issue. feel free to leave a comment if you still have trouble with the new packaging method

[2022-03-28 03:55] liu-ziyang commented on #3082
@mariavmukhina we recently released a new packaging app with conda: https://napari.org/tutorials/fundamentals/installation.html#installing-as-a-bundled-app

I hope this resolves the issue. feel free to leave a comment if you still have trouble with the new packaging method. I would like to close this bug unless you have more information on reproducing this. Many thanks for bringing it to our atten

[2022-03-28 05:31] jni commented on #4308
@bauerdavid I'm having trouble getting the dimension order you display, but I can get a similar issue as follows:

[code]

<img width="1598" alt="Screen Shot 2022-03-28 at 2 42 23 pm" src="https://user-images.githubusercontent.com/492549/160322759-e0a7e2c7-3c1b-49a1-976f-6c47819d8a01.png">

In this case, ~~I *think* the implicitly correct thing happens: the shapes layer dimensions [0, 1, 2] are al

[2022-03-28 06:54] bauerdavid commented on #4308
Thanks for your response! I actually tried it with matching dimensions (either by adding an extra dimension to the shapes layer or removing the channels dimension from the image), but I get the same results.
However, inspecting both your code and mine, I noticed that for some dims order the layers align correctly, and for others they don't. In my images this can be seen, and also I experience the

[2022-03-28 09:11] jni opened #4323 "Missing essential napari features from CZ Biohub biologists"
As you will see, this issue has been a long-time coming :grimacing:. Now that we are discussing NAPs (#4299), the home page (#4275, #4191), and "who napari is for" (https://github.com/napari/napari/pull/4275#issuecomment-1078529273), it's gotten kind of urgent to make this public.

In late 2020, @royerloic informally surveyed biologists and collaborators, at Biohub and surrounds, and asked them wh

[2022-03-28 09:27] Carreau opened #4324 "Drop meshzoo ?"
This is more a question than a task, but it looks like most of the recent failure are from meshzoo,
As far as I can tell the author have deleted all version but the most recent one, the source code from github is [gone but for a readme](https://github.com/meshpro/meshzoo), and it seem now to be deployed from private.

Now this might have been a mistake, but as this is used only in examples, I thin

[2022-03-28 15:13] Carreau opened #4326 "Cannot render ellipse orthogonal to current volume on N>3 dimension."
## 🐛 Bug

Here is mvp

[code]

leads to

[code]

Reason being that `triangulate_ellipse` in `_shape_utils` try to determine the transform to get the ellipse wrt the current base. And get it back to 2D coord to make an ellipse (x*cos(thetha),y*sin(theta))...

If it can't find the transform it fallback to identity (`eye()`)  transform:
https://github.com/napari/napari/blob/1ba738c36d7ac0faf9bc7b5e8a

[2022-03-28 15:15] Carreau commented on #4326
This is related to #4289 , maybe #4262 though this one should have been fixed, and to #4258

[2022-03-28 19:47] LCObus commented on #4323
Thanks for flagging the table stakes work from last half @jni !
Any of that work is welcome to be shared openly- it was shared openly to the public when I ran the external evaluation and interviews, and that's the biggest thing I'd note is missing here. We had great discourse internally about what the developer team identified as "tablestakes/essential" (which I define as "a feature necessary to i

[2022-03-28 20:10] chili-chiu opened #4328 "[Points] Add `Convert to labels` LayerList contextual option for Points"
## 🚀 Feature

Enable Points layer to have right click > "Convert to Labels" option, like Image and Shape layers.

## Motivation
By converting Points layer to labels, it enables (1) extracting the features that are already available for labels e.g. intensity; (2) using it as the mask for other applications; (3) saving points as images (e.g. tif) which might be handy.

## Pitch
We can use point coor

[2022-03-28 20:41] neuromusic commented on #4323
(and to give credit where credit is due, @LCObus led the "table stakes features" exercise... I was just a participant)

[2022-03-28 20:46] LCObus commented on #4323
also happy to take all the blame 😜

[2022-03-28 20:49] psobolewskiPhD commented on #4323
This 💯
This is how I see `napari is the python gateway drug`.

[2022-03-28 20:56] LCObus commented on #4323
And not to say that even within that scope of "small wins" that napari still might break, and therefore be frustrating to both the teacher and the student, but I think the goal lies in being as discrete as possible to the public about what capabilities we're enabling (and therefore being as discrete as possible to developers about what features we're prioritizing) will help with both the .org cont

[2022-03-29 10:03] Carreau commented on #4326
Ellipse code seem to be completely wrong in 3D

Modifying examples/add_points_on_nD_shapes.py to create ellipses, and plot the 3d points,
[code]

I get completely non-sensical visualisation, the ellipses drawn are always on a plan.

https://user-images.githubusercontent.com/335567/160586984-e99d1c50-260e-41fd-9ad6-ba886e65d969.mov

[2022-03-29 15:38] dstansby opened #4331 "magicgui layer list not updated when layer is renamed"
## 🐛 Bug
The layer list in a widget created via. `magicgui` is not updated when a layer is renamed. It is correctly updated when a layer is added to the `napari` layers list, so I presume this bug is something missing in `magicgui` integration.

## To Reproduce

Steps to reproduce the behavior:

1. Open a `magicgui` created plugin with a `napari.layers.Image` widget
2. Open a new image in `napari`

[2022-03-29 16:15] liu-ziyang commented on #663
Hi there, I would like to close this issue to consolidate our recent effort on the async implementation plan. Thanks! (if you would like to know more about this plan, we are aggregating it here as a starting point: https://github.com/orgs/napari/projects/16)

[2022-03-29 17:05] #3082 closed, assigned to nobody

[2022-03-29 17:08] liu-ziyang commented on #764
with the new napari sphinx theme work ramping up, any objection closing this issue?

[2022-03-29 17:11] liu-ziyang commented on #845
any objection closing this to consolidate effort on async loading?

[2022-03-29 17:13] liu-ziyang commented on #1325
with our work around pydantic data classes, I think we can close this issue?

[2022-03-29 17:16] liu-ziyang commented on #1742
with the new packaging I think we can close this issue?

[2022-03-29 17:18] liu-ziyang commented on #2057
going to close this issue, for anyone having trouble installing napari on windows, please see https://napari.org/#installation

[2022-03-29 17:18] #2057 closed, assigned to nobody

[2022-03-29 17:20] liu-ziyang commented on #2367
thanks for the tracker! I would like to redirect anyone here to our board tracking our async effort latest: https://github.com/orgs/napari/projects/16

[2022-03-29 17:20] #2367 closed, assigned to nobody

[2022-03-29 17:22] liu-ziyang commented on #420
going to close this issue now since we have past 0.3 release cycles, future features will be tracked in 0.4+ release notes

[2022-03-29 17:22] #420 closed, assigned to nobody

[2022-03-29 17:23] jaimergp commented on #1742
I think so! The command prompt pop ups briefly (more like a 300ms flash), but doesn't stay open.

[2022-03-29 17:26] #1742 closed, assigned to nobody

[2022-03-29 17:27] liu-ziyang commented on #760
any objection closing this issue to consolidate multicanvas effort to https://github.com/orgs/napari/projects/16?

[2022-03-29 17:40] kne42 commented on #1325
Probably? I haven't been active on this repo in a while, can you catch me up to speed on what we're doing with those?

[2022-03-29 17:43] #764 closed, assigned to kne42

[2022-03-29 19:38] #3602 closed, assigned to nobody

[2022-03-29 19:48] raacampbell commented on #663
Sure thing, thanks.

[2022-03-29 20:09] #663 closed, assigned to nobody

[2022-03-29 20:09] #1325 closed, assigned to nobody

[2022-03-30 02:46] #845 closed, assigned to nobody

[2022-03-30 02:54] sofroniewn commented on #760
I think ok to close. I guess philosophy here is that with the new project board we have consolidated links to all the old issues and we should close the old ones as they aren't likely to be sites of continued discussion and it will make it easier to deal with the new issues and discussions that are coming in

[2022-03-30 02:54] #760 closed, assigned to nobody

[2022-03-30 02:58] sofroniewn commented on #1325
The main thing we've done is turn things into pydantic evented models - see here https://github.com/napari/napari/blob/978dd9e8108a3cd243c2266013eed4b3d2a604fc/napari/utils/events/evented_model.py#L158 (though we havn't done this for layers yet)

[2022-03-30 08:44] liu-ziyang commented on #561
I would like to close this issue to consolidate effort and discussion around multi-canvas to https://github.com/orgs/napari/projects/16, please feel free to join the architecture working group meeting or zulip chat to discuss more (see zulip or https://napari.org/community/meeting_schedule.html for meeting details)

[2022-03-30 08:47] liu-ziyang commented on #457
assuming this is addressed in our latest version (I don't recall a similar bug report on this past 0.4), going to close this bug. please feel free to reopen if it happens again!

[2022-03-30 08:47] #457 closed, assigned to nobody

[2022-03-30 08:50] liu-ziyang commented on #360
I wonder if this is still a direction that we are interested to explore. cc @perlman not sure if you have any opinion on this? If we are not going to explore the geometry shader path I would like to close this issue

[2022-03-30 08:51] #342 closed, assigned to nobody

[2022-03-30 08:51] jni commented on #561
@potating-potato thank you for consolidating a large number of our old issues. I do worry however that projects have less public visibility than issues on GitHub. For example, they don't appear in a [search of this repository](https://github.com/napari/napari/search?q=multicanvas). Could you please create an issue for each project with links to both the project and previous issues (e.g. "supersede

[2022-03-30 08:53] jni commented on #360
This is 100% still worth pursuing, even if it is not a priority. See e.g. #3867.

[2022-03-30 08:55] liu-ziyang commented on #569
cc @VolkerH I wonder if you are still seeing performance issue with large image labeling? I believe 0.3/0.4 releases introduced some improvements to our labelling performance

[2022-03-30 09:04] jni commented on #1325
I certainly think the specifics of how we would reduce complexity now are different from mid-2020, so perhaps a new issue is warranted.

[2022-03-30 09:04] liu-ziyang commented on #3826
closing the loop: we now have it under https://napari.org/community/meeting_schedule.html

[2022-03-30 09:04] #3826 closed, assigned to nobody

[2022-03-30 09:06] VolkerH commented on #569
I haven't done extensive labelling recently, but I certainly noticed various impreovements since 2019.
I still think it is not quite as responsive as I would hope.

I will tag in @abailoni  he has been working on some [annotation tools](https://github.com/abailoni/cellpose-training-gui)  recently and I believe after testing both napari and QuPath for annotation he found QuPath still had an edge in

[2022-03-30 09:08] jni commented on #569
@potating-potato despite improvements, there's absolutely still issues, see e.g. https://forum.image.sc/t/napari-label-layer-color-maps-usage-and-colors-in-viewer-mismatching-the-tool-colors/64839

Once #3308 is in, although there will still be performance improvements to be had, we can *probably* close this one. :crossed_fingers:

[2022-03-30 09:16] liu-ziyang commented on #561
I believe this is a side effect of the meta-issues currently being drafts on the project board, we may be some time away before converting them to actual epic issues tracking tasks they supersede.
in terms of searchability, they should still show up as before, just as closed issues: https://github.com/napari/napari/search?q=multicanvas&type=issues, the default search look at code only, which of co

[2022-03-30 09:27] liu-ziyang commented on #1662
@kevinyamauchi Hi there, we would like to help on adding perf benchmarks to napari, but we are exploring adding monitoring in general in addition to the tracks layer, do you happen to have work in progress on this that we can build on top of? cc @jaimergp

[2022-03-30 09:31] liu-ziyang commented on #3360
Glad we don't have to explore this with conda packaging 😄

[2022-03-30 09:31] #3360 closed, assigned to nobody

[2022-03-30 09:52] aeisenbarth opened #4332 "napari.utils.progress.update(n) misses default parameter value"
## 🐛 Bug

Instead of an indeterminate progress bar (total=0), I tried to use tqdm's dask callback to get detailed progress for a dask computation (see also https://github.com/napari/napari/issues/3418). This should work since `napari.utils.progress` is a subclass of `tqdm` and [`TqdmCallback`](https://tqdm.github.io/docs/dask/) takes any tqdm class. However it failed because Napari's [`update(n)`]

[2022-03-30 10:21] abailoni commented on #569
Yes, I confirm that recently I tried to label some big images with napari and I encountered some issues with responsiveness. It has been one/two months ago though, so right now I would not remember what was the size of the images I used.

[2022-03-30 11:07] jni commented on #561
I'm aware they appear as closed issues. I think that there should be *open* issues for, well, open issues.

[2022-03-30 11:28] jni commented on #760
@potating-potato @sofroniewn I just realised that multi-scale, async, and multi-canvas (and I'm not sure if anything else) are being consolidated in a single project. These are quite orthogonal (pun not intended) concerns, and I think they should be separate projects.

[2022-03-30 14:47] liu-ziyang commented on #760
I wish we had a chance to discuss the motivation behind async yesterday in the architecture working group. we consolidated slicing/async/multi-canvas to one project because they all spin off the slicing work as different use cases, and share some fundamental refactor requirements. I will pause on the consolidation and let's discuss this on the next architecture working group meeting

[2022-03-30 14:59] sofroniewn commented on #760
I'm fine with either 3 projects or one project as long as if we split into 3 we're taking into consideration that some of the changes we make for one might have big impacts for the others. As @potating-potato says what they have in common is that they all require changes to our slicing model and it could be that we make a single change to slicing that will enable all of them.

[2022-03-30 15:07] louisadamian opened #4336 "Run Is not blocking when napari called from a Qt application"
## 🐛 Bug

`napari.run(force=True)` is not blocking when being called from an existing QtPy PySide2 application.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Napari would block the application at run() until the napari viewer window is closed.

## Environment

napari: 0.4.15
Platform: Linux-5.13.0-37-generic-x86_64-with-glibc2.31
System: Ubuntu 20.04.4 LTS
Pytho

[2022-03-30 15:56] chili-chiu opened #4337 "File > Open File(s) error when reading tif files"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. File > Open Sample > napari > Cell
2. File > Save Selected Layer(s) > save as test.tif file
3. File > Open File(s) > select test.tif --> AttributeError: 'NapariPluginManager' object has no attribute 'ext_map'

The same file can be opened by File > Open Files as Stack.

## Expected behavior
tif file should be able to open using File >

[2022-03-30 16:17] aeisenbarth commented on #4332
There is more work necessary to make the progress bar work with dask.

Napari can only instantiate `progress` in the GUI thread (not inside a `thread_worker`), but `TqdmCallback` wants to instantiate `tqdm` (or `progress`) on its own. This means `TqdmCallback` currently cannot be used in a `thread_worker`.

So we either use threading (but no determinate progress bar for dask), or we use the dask p

[2022-03-30 16:28] kevinyamauchi commented on #1662
Hey @potating-potato ! It's great that you're working on perf benchmarks. Unfortunately, I didn't manage to carve out the time to work on this, so I don't have a WIP you can build on top of.

Looking forward to seeing what you come up with!

[2022-03-30 16:54] perlman commented on #360
Progress on getting OpenGL 4.1 on the Mac can be found in https://github.com/napari/napari/issues/4238.

It feels like there are an increasing number of applications where geometry shaders would be nice to have. I am hoping we can find someone who has had experience with Qt & OpenGL 4.1 on macOS to guide us.

[2022-03-30 17:20] kevinyamauchi commented on #4324
I am open to dropping meshzoo. We would have to update our surface layer examples:

- [examples/clipping_planes_interactive.py](https://github.com/napari/napari/blob/c9360dc3e5741e57b1b7e00d245273cd3d7b95de/examples/clipping_planes_interactive.py)
- [examples/spheres.py](https://github.com/napari/napari/blob/c9360dc3e5741e57b1b7e00d245273cd3d7b95de/examples/spheres.py)

I'm not sure we need the sp

[2022-03-30 17:46] brisvag commented on #4324
Yup, I used meshzoo just for convenience. Anything else would do! And the two spheres example was created only to test surface depth setting, so it could be removed.

[2022-03-30 22:00] DragaDoncila commented on #4306
Sorry, I meant to weigh in on this issue last week but it slipped by me. I'm in favor of the two repo solution, for version control purposes and to support easy "command line" contributions. I think to support tutorials being submitted by new contributors we should document the GitHub online contribution method and it should be on the maintainer to pull those down into the "docs assets" repo befor

[2022-03-30 23:10] jni opened #4340 "Update npe1 to depend on npe2 and warn if it finds plugins that are npe2-only and require newer napari"
## 🧰 Task

We had a [discussion on Zulip](https://napari.zulipchat.com/#narrow/stream/309872-plugins/topic/.E2.9C.94.20Minimum.20napari.20version.20for.20npe2.20plugins.3F/near/275792747) and I've encountered this helping other users too. When a user has an older napari version (e.g. 0.4.12), npe2 plugins are never discovered, even if installed manually. This leads to user confusion as they have f

[2022-03-31 07:35] Cryaaa opened #4342 "Status Bar not Functional for Timelapse Data"
## 🐛 Bug / Feature Sugestion

First of all this is the Issue I raised in the napari community meeting on 30.03.2022.
When I have timelapse data with a corresponding table of features extracted for each frame in the timelapse, I cannot get the status bar to show the correct information for the label which is being hovered above. Since the label is the same between frames (data is tracked) only one

[2022-03-31 10:27] Carreau opened #4343 "Refactor/Contribute to scipy a "Point in polygon" / "Point in shape""
## 🧰 Task

Originally discussed in #4312

It is strange that such a function does not exists, and in many case it is likely easier/more accurate to check that point is shape given the original data, than to use it's triangulation.

[2022-03-31 10:51] #4075 closed, assigned to nobody

[2022-03-31 13:35] kevinyamauchi commented on #4342
Thanks, @Cryaaa ! I suspect this is a somewhat common use case that we should support.

I wonder if it makes sense to add an indexing function to the layer features. This indexing function takes and an nD coordinate (likely in data coordinates) and returns a table row. We could have a default indexing function (e.g., get rows based on the value in the `label` or `index` column), but also allow the

[2022-03-31 13:48] Cryaaa commented on #4342
Hey @kevinyamauchi!
That sounds like a good idea to me especially since users can define their own function. It might also be an idea to default to a column named 'frame' (the same as defaulting to 'index'), when 4D data is loaded? Nevertheless, I think the user defined function is the way to go!

[2022-03-31 14:52] andy-sweet commented on #4342
Assuming we stick with a regular 2D and likely tidy dataframe/table (i.e. no xarray), I think something like @kevinyamauchi's idea is probably the way to go.

Agreed that the fundamental problem here is that we need a more general/powerful way of mapping from a coordinate in the layer's data to just one row (or zero rows) in the feature table. For something like the points layer that's fairly easy

[2022-03-31 15:51] bgraedel opened #4344 "FutureWarning when using Layer.create"
## 🐛 Bug

Numpy raises a future warning when using Layer.create
## To Reproduce

Steps to reproduce the behavior:
[code]
shows:
[code]
## Expected behavior

A points layer is added (which also is added but with the above mentioned warning shown)
## Environment

napari: 0.4.15
Platform: Windows-10-10.0.22000-SP0
Python: 3.10.4 | packaged by conda-forge | (main, Mar 24 2022, 17:32:50) [MSC v.1929 64

[2022-03-31 16:15] hgrecco opened #4345 "HybridData: a class to operate and interact with complex data structures"
# HybridData: a class to operate and interact with complex data structures

*Draft: 2022-03-26*

## Abstract

This is a proposal to add a HybridData to Napari to hold, operate and display complex data structures that have one (or many) image representation(s).

## Motivation

From the first single intensity 2D image to the current 3D multicolor videos, digital imaging techniques have grown in comp

[2022-03-31 16:17] hgrecco commented on #4345
After an initial conversation with @jni about this, he encouraged me to post it here.

[2022-04-01 04:05] ppwadhwa commented on #2449
@goanpeca  can we close this one?

[2022-04-01 20:10] davidpross commented on #4073
Resolved with #4201

[2022-04-01 20:10] #4073 closed, assigned to nobody

[2022-04-01 23:36] andy-sweet commented on #2288
The main bug here was fixed by #2289.

I can't reproduce the other bug with the built-in CSV reader/writer. I wrote the following test to try, but it passes for me on macOS.

[code]

@Czaki : are you able to provide the `Points.data` raw values before you wrote them to CSV? Or some operation that produces them?

I would argue 12.000000000000002 is as valid as 12 as a point coordinate even in the p

[2022-04-01 23:50] Czaki commented on #2288
Here is data produced a few minutes ago with napari 0.4.15 by clicking on the layer. There are two arrays inside. `coordinates` with raw points and scale with layer `scale` parameter
[data.zip](https://github.com/napari/napari/files/8401355/data.zip)

And the head of csv file:

[code]

[test.csv](https://github.com/napari/napari/files/8401363/test.csv)

[2022-04-02 00:32] andy-sweet commented on #2288
Oh I think I get it now. The `11.999999999999998` comes from a slider position. Given that slider positions in general correspond to world coordinates that might also be unavoidable. But for a simple case like this I might hope to avoid it.

Thanks for the data! By inspecting it in ipython, I think we can see that we lose the precision in `Points.data` not when writing the CSV.

[code]

My guess i

[2022-04-02 07:24] eyllanesc commented on #4336
Checking the source code when `force=true` is only executing:

https://github.com/napari/napari/blob/23960ff9a489bab836b5a286a0b32eb53c43f371/napari/_qt/qt_event_loop.py#L401-L402

Which does not block anything if there is already an event loop started and will only show the warning:

[code]

A possible solution is to implement something like:

[code]

[2022-04-02 14:35] haesleinhuepf opened #4348 "Dock widgets without close button"
## 🚀 Feature
It would be cool to have dock widgets which don't have a close-button.

## Motivation

I'm having issues with workflows in napari where the user closed dock widgets after configuring them. If the user would only hide the dock widget, everything would be cool.

## Pitch

The Dockwidget class used in napari has a constructor parameter `close_btn` which would allow to have dock widgets w

[2022-04-02 14:57] psobolewskiPhD commented on #4348
This is something I remember bringing up at the community meeting, regarding closing widgets and losing settings vs. just hiding them to temporarily restore screen real estate. As someone who works on a 13" laptop exclusively, hiding and restoring was an important issue for me.
In my experience, live napari 0.4.15 now has 3 small buttons for widgets:
<img width="46" alt="image" src="https://user-i

[2022-04-02 15:01] haesleinhuepf commented on #4348
I would love to keep it, but unfortunately, it crashes napari in my scenario. Background: If you close a dock widget, its configuration is lost. If you then try to run the underlying function again (e.g. in chained operations), it crashes.

What's wrong with hiding widgets @psobolewskiPhD ? From a user's perspective that's the same, no?

[2022-04-02 15:14] Breeze-Zero opened #4349 "Hope it can be visualized in jupyter interface"
Thank you for your work on GUI visualization, but in most applications we need to run programs on Linux server (command line interface), such as neural network training, and the multidimensional results of the model output we want to see on jupyter, not copy back to local GUI.

[2022-04-02 15:21] psobolewskiPhD commented on #4348
Maybe I wasn't clear, i like hiding! Open, manipulate, hide to get more viewer space, restore ...
(restore works for plugins, but not widgets in my experience)
I just think I should have the option to close, to kill a widget/plugin...
I guess in your case there's an extra issue beyond the UI/UX aspect (close vs hide)...

[2022-04-02 15:32] haesleinhuepf commented on #4348
I see. And maybe I wasn't clear either. I don't want to remove all close buttons, I just want to have the option to remove close buttons for specific widgets ;-)

[2022-04-02 16:05] #1387 closed, assigned to nobody

[2022-04-03 08:17] #4304 closed, assigned to nobody

[2022-04-03 19:34] psobolewskiPhD opened #4350 "Middle-slice rendering vs. data reduction (max project)"
## 🐛 Bug

By default, stacks are loaded at the middle slice.
https://github.com/napari/napari/issues/3559
This is nice, because you're more likely to see something.
But, this can be very confusing if you then do some data reduction, like a (max) projection.
The (max) projection will be at the first slice only, while the view will still show the middle slice, so the new layer will be blank, with a

[2022-04-03 20:10] psobolewskiPhD commented on #4350
I see that this is the effect of:
https://github.com/napari/napari/issues/3803
and https://github.com/napari/napari/pull/3859
I can understand that making a points layer triggering re-centering would be annoying. But, I think recentering would be expected by the user upon making a new image layer.

[2022-04-04 02:35] #4332 closed, assigned to nobody

[2022-04-04 08:38] hanjinliu opened #4351 "Make distant points dimmer in 3D view"
## 🚀 Feature

Viewer should have a method that makes distant points dimmer than those on the front side, both in spherical shading mode and the default mode.

## Motivation

3D view of point cloud is sometimes confusing for data visualization because distances are not taken into account. For instance, in this picture points are aligned in a cylindric shape but they do not look like cylindric and i

[2022-04-04 08:50] kevinyamauchi commented on #4351
Super interesting idea! This is probably related to https://github.com/napari/napari/issues/4300.

You can turn perspective on for 3D rendering, which makes things farther away look smaller.

[code]

Alternatively, you can adjust perspective via the GUI by right clicking the 2D vs. 3D rendering buttong
<img width="1440" alt="Screenshot 2022-04-04 at 10 48 47" src="https://user-images.githubusercon

[2022-04-04 09:35] jjsirn commented on #2027
Hi, did you already find a way to circumvent memory increase when scrolling through a list of images? I am using napari 0.4.14 for scrolling through a list of 2D ome-zarr files and I have similar problems as @kevin-keraudren . It works very nice in the beginning, but after a while the memory is running full even though only one layer should be in memory at a time. Or is my code not optimal?

[code

[2022-04-04 09:39] hanjinliu commented on #4351
Hi, @kevinyamauchi
I didn't know there was a "perspective" option. Thanks for sharing that!

[2022-04-04 10:12] kevinyamauchi commented on #4351
No problem! I love your tubule visualizations. Cool stuff!

[2022-04-04 12:08] #3053 closed, assigned to andy-sweet

[2022-04-04 12:08] #3992 closed, assigned to andy-sweet

[2022-04-04 12:23] jni commented on #2027
I'm still not sure about where the memory is leaking, but I would personally do this by setting the layer data, rather than removing and adding a new layer.

[code]

Of course, you need to find what reader function napari is using when you do `viewer.open`. You can do that by running your script and checking `viewer.layers[0].source`, but if you're doing ome-zarr then I suspect you will be fine us

[2022-04-04 12:45] jni commented on #4349
Hi @834799106! This is a longstanding issue and duplicate of napari/napari#240. I will close it and further discussion can happen there.

napari integrated into jupyter will require a lot of re-engineering that will probably not happen for at least 12 months, and maybe much longer. In the meantime, many people have been able to work around this using jupyter desktop:

https://github.com/jupyterhub

[2022-04-04 12:45] #4349 closed, assigned to nobody

[2022-04-04 16:40] andy-sweet commented on #2288
I think I understand this now and it is related to dims/transforms. Consider the following failing test that just needs an image layer.

[code]

When using a points layer with similar dimensions/scale, clicking on a points coordinate calls `_points_mouse_bindings.add` which then calls `Layer.world_to_data` in a similar way to the above.

Given that the dims model accommodates multiple layers (with

[2022-04-04 17:37] andy-sweet opened #4353 "Define `ColorEncoding` with tests"
This should be similar to `StringEncoding` except that it encodes colors from features instead of strings.

This will be used to implement style coloring in the points, shapes, vectors, tracks, and maybe all layer types. It will also be used to encode text element colors.

As with `StringEncoding`, this can be private initially, and then exposed when used.

[2022-04-04 21:23] DragaDoncila commented on #3532
I think this can be closed now that #4168 is in @GenevieveBuckley @sofroniewn?

[2022-04-04 21:24] DragaDoncila commented on #3535
I think this can be closed following #4202 @GenevieveBuckley @sofroniewn?

[2022-04-05 10:49] joshmoore opened #4358 "read_zarr_dataset errors on non-zarr content"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. `bioformats2raw --scale-format-string '%2$d' a.fake sample.ome.zarr`
2. `napari sample.ome.zarr`
3. exception thrown:

[code]

## Expected behavior

* The primary expectation is that the ome-zarr would get a chance to interpret the fileset. (A workaround is to pass `--plugin napari-ome-zarr`.) Catching this exception would likely allo

[2022-04-05 11:29] jjsirn commented on #2027
@jni ,thank you for your suggestions!! Yet, I am probably not understanding ome_zarr good enough for getting it running... I do not manage to update the layer data.
Checking with 'viewer.layers[0].source' returns: reader_plugin='napari', but this did not help me to find a respective reader function.
Trying
`viewer.layers[0].data = ome_zarr.io.parse_url(layers[current_layer]['Path'], mode='r').load

[2022-04-05 14:56] louisadamian commented on #4336
Sorry, I am not sure how this would listen for napari finishing. Is it possible to listen for the QThread or QEventLoop finishing?

[2022-04-05 15:48] tlambert03 commented on #4340
Do we need this issue open as well since we have an npe1 issue for it?

[2022-04-05 18:36] eyllanesc commented on #4336
@louisadamian It seems that you have an XY problem, what is your final goal? Do you want to know when the Viewer closes?

[2022-04-05 18:38] louisadamian commented on #4336
@eyllanesc Yes, I want to run a function when a napari viewer closes

[2022-04-05 20:30] sofroniewn commented on #490
@chili-chiu @andy-sweet relevant to what we were just discussing around exporting data from napari

[2022-04-05 20:37] #4136 closed, assigned to nobody

[2022-04-06 02:54] jni commented on #2027
Yes, if the reader plugin is napari, you are *not* in fact reading the ome-zarr data, only the array data, with `dask.array.from_zarr`. So, on the plus side, that's the function you need! 😃 The only downside is you miss metadata like scale, but you were not using that anyway so 🤷 I say go with it!

[2022-04-06 02:55] jni commented on #4340
Oh, I missed you opening the npe1 issue @tlambert03, sorry about that! You're right, closing this as duplicate.

[2022-04-06 02:55] #4340 closed, assigned to nobody

[2022-04-06 03:05] jni commented on #4358
Interesting, thanks for the context @joshmoore!

So would you say that in order to be compliant with the spec, we should just remove this bit:

https://github.com/napari/napari/blob/c9b4ba538c95a84cfbce122f507ed25ac950cd32/napari/utils/io.py#L341-L346

?

Regarding the plugin, you *should* have a chance to open it, not sure what's going on there, but you might need #4347 for this...

[2022-04-06 04:25] eyllanesc commented on #4336
@louisadamian One possible solution is to use an event filter to listen for window events:

[code]

[2022-04-06 05:24] sofroniewn commented on #4274
I agree with both of the sentiments above and think it's more in line with the core of napari focusing on visualization and interactivity - we could imagine a plugin computing layouts for example, but the napari layer should just accept one.

Overall it looks like there's a lot of great ideas in this thread and interest and I'm wondering if there is anything I can do to help it along - will we nee

[2022-04-06 05:27] #3532 closed, assigned to nobody

[2022-04-06 05:27] #3535 closed, assigned to nobody

[2022-04-06 06:43] Raphael-Gronauer opened #4359 "Can not import napari Viewer"
## 🐛 Bug

error when loading napari Viewer

## To Reproduce
from napari import Viewer

[code]

## Environment
Ubuntu 20.04 LTS
Python 3.8.10
napari version 0.4.15

[2022-04-06 11:52] dstansby opened #4360 "Blue text in plugin tracebacks is very low contrast"
## 🐛 Bug
The dark blue text in error tracebacks from plugin errors is very low contrast against a black background, and therefore really hard to read:

![Screenshot 2022-04-06 at 12 51 54](https://user-images.githubusercontent.com/6197628/161968666-c7fbfd09-76cd-4431-ab1e-7ecdb26e3aec.png)

## To Reproduce

Steps to reproduce the behavior:

1. Trigger an error in a plugin

## Expected behavior

Hi

[2022-04-06 12:32] Carreau commented on #2481
I'm pinning this issue, and it should be close as soon as resolved, otherwise our `--pre` test suite that runs every 12 hours does does not automatically open an issue as it sees this one is opened.

[2022-04-06 13:16] Carreau commented on #2481
Pre-test are passing with npe2 0.3.0.rc0, closing.

[2022-04-06 13:16] #2481 closed, assigned to nobody

[2022-04-06 13:25] jaimergp commented on #2692
I think this issue is mostly taken care of? We are only missing the update-in-place features, but that's in the works so maybe we can rename this or either close plus open a specific one for the updates? @goanpeca

[2022-04-06 14:38] jaimergp commented on #1001
I'd like to bring attention to this issue again... two years after!

We have moved over to `conda` packaging for the bundle and many plugins have been migrated to conda-forge. This should alleviate a lot of issues for dependency management and ABI compatibility. If the metadata is correct (and we have tried our best), then `conda` will complain loudly about it (with enhanced performance and error

[2022-04-06 15:19] louisadamian commented on #4336
Ok that is perfect. Thank you!

[2022-04-06 15:19] #4336 closed, assigned to nobody

[2022-04-06 16:06] andy-sweet commented on #2288
@Czaki : do you have any other ideas for quick fixes that could resolve the remaining issue? And what do you think about a more general solution like the snap-to-grid option I mentioned above?