[2019-04-20 20:08] royerloic opened #226 "Exception when deleting markers layer in annotate-2d example"
## 🐛 Bug

Exception thrown when removing (deleting) a markers layer:
(whole layer not just a single marker)

`
click to add markers; close the window when finished.
WARNING: Traceback (most recent call last):
  File "/Users/royer/workspace/python/napari/examples/annotate-2d.py", line 17, in <module>
    markers.mode = 'add'
  File "/usr/local/Cellar/python3/3.6.2/Frameworks/Python.framework/Versio

[2019-04-20 20:08] sofroniewn commented on #225
We are no longer using OpenGL lines in the vectors layer, but now using [mesh visuals](http://vispy.org/visuals.html#vispy.visuals.MeshVisual) due to problems with arbitrary line widths. I am not sure if they support an antialias mode

[2019-04-20 20:09] sofroniewn commented on #226
This is a duplicate of #170

[2019-04-20 20:09] royerloic commented on #225
They should, antialias is not specific to old lines stuff...

[2019-04-20 20:10] sofroniewn commented on #225
That's great. I didn't see it exposed at a highlevel in vispy for meshes like it is for some line visuals, but we can dig in

[2019-04-20 20:12] royerloic opened #227 "Support left/right keys to move slider pointer"
## 🚀 Feature

Would be good to be able to move the currently focused dim slider with left/right keybindings by one step. Pressing <Shift> would make it 10 steps or so.

## Motivation

Sometimes one wants to scroll back and forth between two or several slices in a reproducible manner. This is easier by pressing keys.

[2019-04-20 20:15] sofroniewn commented on #221
I have fixed this on the dims PR #171 by directly setting the `QSizePolicy` in the vertical direction to be `Fixed` and pushed a new commit to that PR. I am closing this issue, but further discussion can take place on the PR before it is merged

[2019-04-20 20:15] #221 closed, assigned to sofroniewn, kne42

[2019-04-20 20:17] sofroniewn commented on #227
Once we merge #171 and start using our custom `rangeslider` we have to implement this ourselves (it is currently supported on master which uses the built in sliders from PyQt)

[2019-04-20 20:23] sofroniewn commented on #223
Bug identified - it happens when you create a polygon of zero size. Will fix it in a new PR. It is unrelated to the dims PR stuff

[2019-04-20 20:24] sofroniewn commented on #223
Also note that there is a bug when drawing a line right now that I fix in #220. I could make a separate PR to just fix that bug or it will get fixed when that PR merges

[2019-04-20 22:54] AhmetCanSolak commented on #224
@royerloic i agree less flashy shapes are preferable. For transparency im not sure. Current transparency also seems okay at first sight. maybe we can come up with some basic adaptive approach? What do you think?

[2019-04-21 06:03] perlman commented on #103
It is nice to learn to about Zarr's caching behaviors, and to see the initial pyramid support (#211).

The short answer here is that EM datasets are somewhat arbitrarily large (FAFB was ~50TB, the MICrONS  volume is ~2PB). FAFB dimensions are 248832x134144x7063.

Mipmaps are generally done as powers of 2 in 3D and/or 2D. (For example, the neuroglancer version uses 3D (cubic) downsampling, but we u

[2019-04-21 16:33] #182 closed, assigned to nobody

[2019-04-22 00:07] sofroniewn opened #229 "napari-app / napari-cli"
## 🚀 Feature
In the past couple team meetings the concept of a napari-cli and napari-app has come up. It has also been discussed in this PR #208.

One proposal has been floated to create two new repos `napari-cli` and `napari-app` that would interact with the rest of the ecosystem as follows

<img src="https://user-images.githubusercontent.com/6531703/56477008-72a62680-6455-11e9-9ba1-9ab9b14856a6.

[2019-04-23 22:29] kne42 commented on #229
sounds great to me! 👍 👍

[2019-04-23 23:42] #226 closed, assigned to kevinyamauchi, sofroniewn

[2019-04-24 01:57] jni commented on #229
Makes sense. I want to make sure that I can pip install napari[all] and have a napari command, but I think that is doable with this framework.

[2019-04-24 20:22] kne42 commented on #222
IMO in an object-oriented approach (which napari is unfortunately forced into due to usage of Qt), it's best to just place constants as attributes of their corresponding classes.

[2019-04-24 21:01] royerloic commented on #222
I agree with Kira, it is good practice to keep related things together...
Enums that are related to a class or method should be defined close to that class
or function -- possibly in the same file. Unless, the enum (or constant) is not solely
attached to one class but is instead something used within some package.
In that case, it belongs in the package.
But not in some root package where all cons

[2019-04-25 06:47] sofroniewn commented on #204
I have been trying about visualizing some labeled EM data from [CREMI](https://cremi.org/data/) - one of the unpadded training sets - and have noticed that switching z-planes is very slow even when the data is fully loaded in memory. See the example gif below.

![CREMI](https://user-images.githubusercontent.com/6531703/56714678-6686c700-66ea-11e9-9cbc-be1a36ea45d0.gif)

After using `cProfile`, it

[2019-04-26 03:50] fcollman opened #234 "Shareable viewer state"
## 🚀 Feature
Two part feature.
1) create a serializable state of viewer.
2) enable features to share that state easily between people.

## Motivation
Being able to easily and quickly share the precise view of data with colleagues, not as a snapshot image, but transporting them to the same dynamic state of an interactive viewer is a very useful feature.  Neuroglancer in particular allows this to ha

[2019-04-26 05:00] sofroniewn commented on #234
Thanks for posting @fcollman, I think this is a really interesting feature that we should work towards supporting

[2019-04-27 06:36] jni commented on #204
@sofroniewn I think @perlman's answer is right in the title of this issue. In Neuroglancer, there is no conversion at all, and the color is generated in a shader rather than using a float colormap. The image fed to the shader is not cast as float or converted in any way, but rather the raw uint32 bytes are sent to the GPU as if they were float32 bytes. These are nonsensical numerically but it does

[2019-04-27 16:45] kevinyamauchi commented on #229
I think this is great, @sofroniewn! I like the more simple repo structure. I also totally agree that the napari that is launchable from the command line may as well be `napari-app`.  I am still unsure of the utility of a standalone CLI given that "napari headless is just Python" and the app will come with file IO (seems like unnecessary fragmentation).

[2019-04-29 18:58] sofroniewn commented on #61
Here are some more features that could be on our roadmap

**Refactoring**:
- [x] Merge Dims PR
- [x] Refactor viewer Qt
- [x] Refactor layersList Qt
- [x] Refactor individual layers Qt - properties + controls
- [x] Refactor ViewerApp / Viewer / Window
- [x] Refactor get_coords across layers
- [x] Switch to qtpy, and backport PySide2 support to vispy

**QSS and stylings**:
- [x] Merge new stylings

[2019-04-30 05:21] sofroniewn commented on #223
these have now been fixed with #230 and #231

[2019-04-30 05:21] #223 closed, assigned to sofroniewn

[2019-04-30 05:22] sofroniewn commented on #200
This has been supported with #232

[2019-04-30 05:22] #200 closed, assigned to nobody

[2019-04-30 05:41] sofroniewn commented on #202
Phase 1) of our stylings improvement has been merged in #236

[2019-04-30 05:42] sofroniewn commented on #185
This has been fixed with #236

[2019-04-30 05:42] #185 closed, assigned to nobody

[2019-04-30 05:44] sofroniewn commented on #131
We have now improved our stylings with #236 and I have not observed this behaviour since then so I am closing this issue

[2019-04-30 05:44] #131 closed, assigned to nobody

[2019-04-30 17:32] freeman-lab opened #238 "readme updates for new styles"
## 📚 documentation
readme could use two updates
- updated screenshots to reflect the updated stylings that just got merged
- two additional example screenshots under `features` showing the shapes and labels

happy to quickly take this one on (should have done it as part of the stylings PR!)

[2019-04-30 19:47] sofroniewn opened #239 "Extra clicking needed to change focus"
## 🐛 Bug

Extra clicking is now needed to change focus when moving between different parts of the Qt application since the new styles #236. This occurs on my mac OSX, but doesn't seem to happen on @freeman-lab mac OSX - we will need to see which versions of `Qt`, `PyQt5` etc we each have.

[2019-05-01 00:32] jxchen01 opened #240 "support remote jupyter lab"
## 🚀 Feature
It would be great to support napari for jupyter lab users and people using cloud-based jupyter lab service (like JupyterHub).

## Motivation

This is a follow-up on the conversation after Nick's presentation at Allen Institute for Cell Science. We at AICS are releasing a new python toolkit for 3D intrecellular structure segmentation.

https://github.com/AllenInstitute/aics-ml-segmenta

[2019-05-01 00:37] jni commented on #202
Following the discussion in https://github.com/napari/napari/pull/236#issuecomment-488040626

@freeman-lab if you look at range slider implementations "in the wild", they almost all have some form of separation between the handles and the range (search for "range slider" on Google images). In the rare exceptions that I could find, the handles are much bigger than the thickness of the interval, so

[2019-05-01 00:59] jni commented on #202
It's a pretty massive space for a scrollbar by modern standards! By way of comparison, text editing boxes on the web (such as the one I am seeing right now) are just a few pixels wide and then expand temporarily upon mouse hover.

I agree that the space in the margins should match the splitter spacing, but the splitter spacing is way too big right now. Again, splitters only need to be a few pixels

[2019-05-01 05:00] sofroniewn commented on #239
To reproduce run `examples/add_shapes.py`. You should see the magnifying glass selected on the left in the control panel. Now click on the cursor symbol. On my machine the first click does nothing. If I then click again the cursor gets selected.

For an even stranger example - also run `examples/add_shapes.py`, but now click on the move_to_front button. If you then move the mouse away the button w

[2019-05-01 05:05] sofroniewn commented on #239
I will note that I also have a double title-bar when I run napari and @freeman-lab does not. These could be unrelated, but it is also strange that there are any differences for us.

See the extra title-bar
![image](https://user-images.githubusercontent.com/6531703/57006229-e4881980-6b93-11e9-98c4-2bb79bb76e82.png)

I will note that I've always had that extra toolbar line, but it wasn't so noticeab

[2019-05-01 06:12] jni opened #241 "Default layer selection logic"
## ❓ Questions and Help

By default, as far as I can tell, all layers are selected as they are added to the viewer. In all of the examples, whenever there is more than one layer, they all appear selected. I think this is unintuitive, and it particular it means that layer reordering feels broken by default (because we need to click to select first, and only then can we reorder).

I think the select

[2019-05-01 14:31] sofroniewn commented on #241
Agreed, wasn't really a conscious design choice, was just sort of the way it worked out and we havn't fixed.

How about when you add a new layer that layer is selected and all the others become unselected. That seems most intuitive to me.

[2019-05-01 17:22] kne42 commented on #239
Unable to reproduce on my machine. Output of `conda list | grep qt` is
[code]

[2019-05-01 17:28] kne42 commented on #239
is `PySide2` installed? what is the result of `python -c "import qtpy; print(qtpy.API_NAME)"`

[2019-05-01 21:10] sofroniewn commented on #239
I've uninstalled `PySide2` - but I don't think that was the issue as I noticed this before the `qtpy` PR merged and I get `PyQt5` when I run the command above.

I do however get something different when I run `conda list | grep qt`:
[code]

I'm not quite sure why, but this is what I see!

[2019-05-01 21:14] sofroniewn commented on #239
Ah if I make it `Q` I get more, `conda list | grep Qt`
[code]

[2019-05-01 22:13] sofroniewn commented on #201
This feature has been added with #237

[2019-05-01 22:13] #201 closed, assigned to nobody

[2019-05-02 01:54] sofroniewn commented on #239
So I completely deleted python from my laptop (which happened to be 3.6), `rm -rf` my anaconda folder, then installed python 3.7 using anaconda, then `pip install -e .` on the napari repo and it is still broken :-(

So strange to me that no one else can reproduce. Here's my `conda list | grep qt`

[code]

I'm really at a loss

[2019-05-02 07:20] sofroniewn commented on #239
I tried rolling back to `pyqt5 5.12` and `pyqt5-sip 4.19.14` but that didn't help

I also updated all my mac OSX software with the following
![image](https://user-images.githubusercontent.com/6531703/57060891-de676b00-6c6f-11e9-8e5b-05c452c14493.png)
but note that I am still on mac OS Sierra 10.12.6

Maybe I need to update to macOS Mojave and 10.14.3, but that would be a little unfortunate

[2019-05-02 07:29] sofroniewn commented on #239
Something else strange. If I comment out most of the stylesheet stuff that was new in #236 the problem doesn't go away, and more strange if I roll back to an older version of napari the problem is still there despite the fact that I never noticed it before ....

[2019-05-02 14:47] sofroniewn commented on #239
I have updates to macOS Mojave, 10.14.4, and updated to Xcode 10.2.1 but nothing has gotten better, I still have the same problem :-(

[2019-05-02 18:35] d-v-b opened #243 "clim slider disappears when image layer is renamed"
## 🐛 Bug

When I rename an image layer, the clim slider disappears.

## To Reproduce

run `examples/nD_image.py` and rename the image layer to "Tane", or a name of your choice.

## Expected behavior

clim slider shouldn't have layer-name-dependent behavior

## Environment

 - napari : 0.0.6+33.g7b8750f
 - OS: OSX 10.12.6:
 - Python version: 3.7.3

[2019-05-03 00:03] jni commented on #61
- [x] Shapes layer has "light" n-dimensionality, in that shapes are still 2D but they remember which plane they were created in.

[2019-05-03 00:31] jni commented on #239
Sorry to hear about all your issues @sofroniewn! As mentioned in the conference call, one more thing to try is to create a new user account and see whether you see the problem there. That might narrow down *where* in you stack the problem is happening.

[2019-05-03 02:57] sofroniewn commented on #239
@jni progress!! Creating a new user account fixes the problems - both the extra title bar and the weird clicking!!! At least we now have something to work with :-)

[2019-05-03 03:10] jni commented on #239
Woot! To me it feels like it might be an issue with your Qt install. You should make sure that PyQt is picking up the Qt from the new conda environment you're creating and not some other user-level Qt install — maybe you installed Qt separately as a framework on another occasion? Check your `/Library/` for suspicious items. I don't know whether PyQt has a way to easily introspect this...

[2019-05-03 03:11] jni commented on #239
It could also be something that is global-level but relies on your bashrc messing with your PATH/LDLIBRARYPATH, e.g. Homebrew. Try backing up and removing your bashrc? As a reminder, you can call a conda env's Python without activating by specifying the full path to the python binary.

[2019-05-03 04:53] sofroniewn commented on #239
Unfortunately @jni I've been able to make no further progress. I'm having a hard time determining which Qt version is getting used by PyQt, and how many Qt versions I have on my computer. I did `brew update qt` and it didn't change anything, then I did `brew uninstall qt` and it didn't change anything either, so I guess it was using a `Qt` in the anaconda folder. I then tried directly installing `

[2019-05-03 05:18] jni commented on #239
Two other things to try:

- if you install and run Spyder, do you see a double title bar?
- if you create a tiny Qt app with a simple push button ("click to print hello world"), do you see a double title bar?

There might also be some macOS display preference, such as "hide scroll bar by default", that is affecting things.

A few things I've found that might be relevant:

https://doc.qt.io/qt-5/ma

[2019-05-03 05:48] sofroniewn commented on #239
Trying to launch spyder already throws me an error

[code]

[2019-05-03 06:23] sofroniewn commented on #239
I also get that Spyder error on my new clean username after pip installing napari. Would get good to chase down as a separate issue if napari is not compatible with spyder.

I also get the double title bar with a tiny Qt app

[2019-05-03 06:34] sofroniewn commented on #239
So `self._qt_window.setUnifiedTitleAndToolBarOnMac(True)` inside the window view file makes the double titlebar go away, but it doesn't fix my clicking issue, which was also fixed on the new user

[2019-05-03 08:24] jni commented on #239
Since none of us had the double titlebar problem, this does suggest to me that you have some default Qt settings *somewhere* that are different from ours. This could be due to a different Qt version being used, or a hidden/cached config file somewhere.

[2019-05-03 15:47] d-v-b commented on #243
Update! there actually is no layer-name-dependent behavior. _Deselecting the image layer_ made the clim slider disappear (probably as it should). After renaming the layer, I clicked on the image layer itself (to escape the focus of the layer name textbox), and this also deselected the layer, which made me _think_ the layer rename was making the clim slider disappear. I'm not sure what kind of issu

[2019-05-04 16:52] #238 closed, assigned to nobody

[2019-05-04 20:50] sofroniewn commented on #243
hmm, we've just updated some of our stylings. Can you try how it feels on the latest (v0.0.8 from pip is fine). I'm curious if it is still confusing / deselecting inappropriately - I think probably it is, but worth checking. Also you might like the new stylings! (Though note that some of the dims ordering has also changed if you have 3D data)

[2019-05-06 15:26] d-v-b commented on #243
Yes, this phenomenon still occurs with v0.0.8. I still think it's still a bit confusing -- my instinct when clicking outside of a textbox to deselect it is that _only_ that textbox will be deselected. Current behavior is to deselect the textbox and the entire layer with the same action.

(the new stylings look good, and I'm much happier with the new dims ordering!)

[2019-05-06 18:17] sofroniewn commented on #243
yup, thanks @d-v-b we'll fix this

[2019-05-06 23:17] kne42 opened #252 "custom mouse functions"
as discussed in the meeting today, we may want to support user-defined functions that get executed with mouse events

following is the proposed format of the function a user would provide:
[code]

[2019-05-07 16:03] sofroniewn commented on #252
Looking promising!

We need to be able to get both an `is_moving` and an `is_dragging` (which is a subset of `is_moving`)

And we need to get any modifier keys (like if `Shift` being pressed)

Also we should make sure that we are ok not supporting `double_click` events for now. One of the reasons is that `double_click` events can be handled different on different OS - read this disclaimer from the

[2019-05-07 16:08] sofroniewn commented on #252
Another idea was to have an extra mode / button on the left for each layer that allows the "custom cursor" to be selected. When in this mode any custom mouse events get executed if they have been defined. What this means is that the normal cursor is always the normal cursor with pan/zoom, the paintbrush is always the paintbrush, and the "custom" is always user defined.

If the user wants multiple

[2019-05-07 16:41] royerloic commented on #252
I think we can definitely live without double clicking, at least for now.
It might even be a good thing, double clicking is not a necessity and
can be unnecessarily strenuous if needed many times -- think
annotations, etc...

[2019-05-07 17:17] sofroniewn commented on #37
With the merging of the dims refactor #171 we have now moved to a more pythonic ordering that supports `tczyx`

[2019-05-07 17:17] #37 closed, assigned to nobody

[2019-05-07 17:20] sofroniewn commented on #13
This issue has now been superseded by #202 for discussion and #236 and #253 for implementations

[2019-05-07 17:20] #13 closed, assigned to freeman-lab, kne42

[2019-05-07 19:57] sofroniewn opened #254 "Refactoring MVC & circular references"
This subject of this epic is refactoring to separate our model and view files from each other. This will enable our model objects to be instantiated and tested independently of their views. The refactoring should also remove circular references so that objects lower down in the hierarchy do not depend on objects above them.

[2019-05-07 20:13] sofroniewn opened #255 "Stylings and interactivity"
The subject of this epic is the stylings and interactivity of napari. Our goals are to move settable themes for the stylings, to ensure the UI is intuitive and fully functional, and to allow users to add customization to mouse and key events

[2019-05-08 00:18] jni commented on #252
Well, as I mentioned originally, I think double click to zoom is very nice and matches what Google Maps does. From your documentation link, @sofroniewn, it sounds like double click *would* work on Qt?

I don't love the custom cursor button... I'd rather a warning when your settings shadow existing settings. That's what every app I've seen does. There should also be a fast way to resolve these conf

[2019-05-08 03:09] sofroniewn commented on #252
@jni - indeed - i think double click would work - we may just need to take some extra care. we use doubleclicks to expand the layer properties widgets right now (though I think we might want to switch that to a button as it doesn't seem to be very intuitive)

I'm also not wedded to the "custom cursor" button, but it would nice if there was a relatively straight forward way to enable / disable the

[2019-05-08 22:45] #222 closed, assigned to kevinyamauchi, sofroniewn, kne42

[2019-05-09 23:15] sofroniewn opened #256 "Colormaps"

[2019-05-10 20:03] sofroniewn commented on #256
Closing as we are not using epics

[2019-05-10 20:03] #256 closed, assigned to nobody

[2019-05-10 20:04] sofroniewn commented on #254
Closing as we are not using epics

[2019-05-10 20:04] #254 closed, assigned to nobody

[2019-05-10 20:04] sofroniewn commented on #255
Closing as we are not using epics

[2019-05-10 20:04] #255 closed, assigned to nobody

[2019-05-11 21:54] sofroniewn commented on #181
I had a quick poke around this one, and it seems like the ordering and opacities are wrong and improving the situation for the screenshot makes the situation for the main display worse. I think this may relate to the issue @kne42 identified in #22 but I am unable to see how to fix it and the things I tried did not work

[2019-05-14 16:57] sofroniewn opened #260 "Hotkey focus"
## 🐛 Bug

Right now hotkeys require the main canvas (the inset where the images are seen) to be have focus to be active. This leads to confusing user interactions and is very frustrating when using the paintbrush in the labels layer as when clicking back into the part where the image is you accidentally do some painting.

## Expected behavior

The hotkeys should always be functional regardless of

[2019-05-14 17:04] sofroniewn opened #261 "Drop support for edge_width_rel and scaling in markers"
## 🐛 Bug

I think we should drop support for exposing the `edge_width_rel` property and set the scaling property to always be `True`.

Only one of `edge_width_rel` and `edge_width` can ever be used and the rest of our mesh like layers only use `edge_width`. When making the `to_svg` conversion only `edge_width` is supported too. I think the api is cleaner and simpler without it.

Similarly in all o

[2019-05-14 17:14] sofroniewn opened #262 "Support for nD Vectors"
## 🚀 Feature
For the vectors layer we want to support a fully nD model with projections occurring over non-displayed dimensions. For this we will switch to an internal representation of an N x 2 x D array which displays N vectors with start and end point in D dimensions. This representation could be passed to the `Shapes` layer, but within the `Vectors` layer special computations can be used to ac

[2019-05-14 22:13] sofroniewn commented on #193
This issue is closed with #249

[2019-05-14 22:13] #193 closed, assigned to nobody

[2019-05-16 15:30] kevinyamauchi commented on #261
I think this makes sense to me!

One additional thing we can sneak into this refactor: I think we should change how we set individual marker sizes. I propose that we keep the `marker_size` property, but change the size slider in the layer properties to modulate a `marker_scale_factor` layer property. Thus when rendered, each marker has size `marker_size * marker_scale_factor` and when the size sli

[2019-05-16 15:55] sofroniewn commented on #261
@kevinyamauchi relative scaling makes sense, happy to explore

[2019-05-16 16:22] kevinyamauchi opened #265 "Unify state variable type and interface"
## Overview
Currently, layer properties with categorical values (e.g., layer mode, blending mode) are stored and set in different ways both within layers and across layers. I think we should unify this both for consistency now, but also looking forward I think it will be helpful for recording and resuming viewer state (e.g., #234, #199).

## Proposed approach
Mirroring our approach in #233, I prop

[2019-05-16 16:27] sofroniewn commented on #265
This sounds great @kevinyamauchi - I really like the decomposition into a series of PRs

[2019-05-16 20:54] #178 closed, assigned to nobody

[2019-05-16 21:17] sofroniewn commented on #135
This has now been resolved with #249. The markers layer no longer does any clipping and does not depend on the image layer in any way. The shape of the markers layer is now calculated based on the markers inside the layer.

[2019-05-16 21:17] #135 closed, assigned to kevinyamauchi, sofroniewn

[2019-05-16 21:19] sofroniewn commented on #91
This is no longer needed, as described in #135 and fixed in #249 the markers layer now calculates its shape based on the existing markers and doesn't do any clipping

[2019-05-16 21:19] #91 closed, assigned to nobody

[2019-05-17 00:17] AhmetCanSolak opened #268 "Smart Dropdown with text input search"
## 🚀 Feature

There are so many color and colormap options and we want to keep them. Also we want to provide a better experience on GUI. Hence, here i am proposing to have a dropdown with a text search as seen here: https://www.w3schools.com/howto/howto_js_filter_dropdown.asp

## Motivation

There are so many colors and colormaps. Right now it is not easy to grab you like.

## Pitch

This will mak

[2019-05-17 00:40] jni commented on #265
@kevinyamauchi I'm super into this!

One suggestion I had in the meeting is that it might be worth creating our own `StringyEnum` object that supports this kind of setting of values natively, so that you don't have to repeat the same kind of code everywhere. I'm not sure how feasible this is though. I think you still need to manually set the properties on each object that uses these enums.

[2019-05-17 00:46] jni commented on #268
To clarify the additional suggestion we had during the meeting: the actual list being searched could be bigger than the list being displayed without any search. In the CSS/js example I think you could do this with a `.initially-hidden` class that you apply to hidden elements on the list, and that you remove/ignore when you start filtering.

[2019-05-17 15:10] kne42 commented on #265
They have a copy-pastable example of this in the [Python documentation](https://docs.python.org/3/library/enum.html#using-automatic-values).

[2019-05-17 15:42] sofroniewn commented on #134
Following our in person discussion @royerloic drew this representation of our desired architecture

![image](https://user-images.githubusercontent.com/6531703/57938567-4f686e80-787d-11e9-93dc-3ca97d22e184.png)

Here is I think where things landed (with maybe 1 minor naming revision)

On the right hand side we have our `Qt` classes - they have names like `QtWindow`, `QtViewer`, `QtDims` etc. and ar

[2019-05-17 16:37] AhmetCanSolak commented on #268
Hi @jni , yes, i put css example to give a feeling. I will implement it in the way we discussed during the meeting.

[2019-05-17 19:52] kne42 opened #269 "Segmentation Masks"
## 🚀 Feature
Add support for displaying segmentation instance masks.

## Motivation

Many projects, including [`starfish`](https://github.com/spacetx/starfish) and the [2018 kaggle data science bowl](https://www.kaggle.com/c/data-science-bowl-2018/) use segmentation masks to represent labeled regions in an image.

As of writing this, napari represents labeled regions in a "label image," a singular

[2019-05-17 21:02] kevinyamauchi commented on #265
Thanks for the feedback, @jni and @kne42 ! I need to read more about the autonaming, but that seems like a good approach.

[2019-05-18 00:54] jni commented on #269
We've used this model in skimage before, see `skimage.future.manual_segmentation`. imho this should go in a new layer type though, not Labels.

[2019-05-18 01:42] AhmetCanSolak opened #270 "Using a formatter"
## 🚀 Feature

I am proposing to use `black` python formatter to decrease number of convention decisions to make and sustain consistency on code convention over repository. To me defaults of black seems great and i think you guys might like it as well.
Black formatter: https://github.com/python/black

## Motivation
Using a strong formatter decrease number of convention decisions to make. Reduces fr

[2019-05-18 03:09] jni commented on #134
So, to recap how we got to where we are, to the best of my recollection:

- we originally had imshow, which did the viewer + window dance and returned the viewer
- alternatively we could do the window + viewer object creation, but that was clunky
- we then had a debate about the "canonical" way of using Napari, and whether it was a good thing to have a *function* that returns a weird/nonstandard o

[2019-05-18 03:25] jni commented on #270
I like the idea of formatters in general, but I dislike the rigidity of black (as I understand it it is not very configurable).

The number one concern is whether code formatted with black is actually nice and readable. Do you know any scientific packages that use it? Only the web-world appears to have taken it on.

I guess another way to propose this is to submit a PR with all the code formatted.

[2019-05-18 05:20] sofroniewn commented on #270
I'm open to a formatter, and `black` has come up at CZI recently, but I'm not sure any of our projects actually started using it. @kne42 might know more and I can follow-up.

A PR seeing what the new code would look like would be helpful and might be a good next step if it is not too much work to make. If the new code appears more readable and understandable then I'd be all for it, if we are const

[2019-05-18 05:30] sofroniewn commented on #269
@jni curious how you think this might fit in with the idea to make `Labels` a subclass of `Image`. Would this then be a different subclass of `Image` or could there be another more intermediate subclass that both `Labels` and this class was then a subclass of? I feel like there would be a lot of code shared between this layer and a `Labels` layer.

The thing that is most challenging for me to imag

[2019-05-18 19:44] royerloic commented on #268
This might be an interesting starting point:
https://stackoverflow.com/questions/4827207/how-do-i-filter-the-pyqt-qcombobox-items-based-on-the-text-input

[2019-05-18 22:11] sofroniewn commented on #134
For (1) I am fine with

- Viewer
- Window
- ViewerWidget
- ViewerModel

But would we then do
- LayersWidget
- LayersModel
- DimsWidget
- DimsModel
- etc.

and have file names like `dims_model.py` and `dims_widget.py`? Or `dims_view.py` and `DimsView`? I could go either way.

For (2) and (3) I think (c) is very limiting because you can't pass any of the additional keyword arguments, like `color` as

[2019-05-19 00:01] royerloic commented on #134
I like this suggestion @sofroniewn
Consistency is key here, and will make it very easy for people
to understand how the code is organised. I also would love to
avoid having lots of view.py and model.py files...

I also agree with @sofroniewn  on his preference on @jni
proposals: (a) and (3). Great to see this converging...

[2019-05-19 00:06] sofroniewn commented on #134
@royerloic do you have an opinion on `DimsWdget` or `DimsView`? I prefer `DimsView` as I think it will me more understandable to people outside the `Qt` ecosystem and the could be a day when we have views that aren't strictly widgets. I am fine with `ViewerWidget` though as that is the parent that contains all the others and `ViewerView` is a little weird, though maybe `ViewerView` is ok too

[2019-05-19 00:10] royerloic commented on #134
All these are right now Qt based, so it is fine to have that somehow clear
in the name too -- that would suggest for `DimsWidget` or `QtDims`.
But I don't have a strong opinion except for being consistent.
`DimsView` is fine too.

[2019-05-20 03:31] #154 closed, assigned to nobody

[2019-05-20 18:04] kne42 commented on #270
Summarizing my comments from a different thread, I'm open but not thrilled to having an autoformatter. While it'll be great to finally have our codebase cleanly formatted, I don't think it's a proper substitution for people just actually writing well-formatted code.

At the end of the day, readability is something that a simple program cannot quantify; all it's doing is following a strict set of r

[2019-05-20 18:25] #186 closed, assigned to nobody

[2019-05-20 18:44] AhmetCanSolak commented on #270
Thanks to all @jni @sofroniewn @kne42 for your comments.

I like idea of discussing the formatters on a small PR over code.
I will be opening a showcase PR.

Also, i understand the frustration/hesitation against a strong formatter.
`black` style may not be the most pythonic collection of conventions, however, IMO it increases readability and takes care convention decisions for us.
Its default conv

[2019-05-20 20:52] #241 closed, assigned to nobody

[2019-05-20 23:35] sofroniewn commented on #243
@d-v-b this should now be fixed on master by #271. Can you give it a try and let me know if you like it

[2019-05-20 23:52] #94 closed, assigned to nobody

[2019-05-21 00:22] gregjohnso opened #280 "Z-slider doesn't change when changing image content"
## 🐛 Bug

When a layer of the viewer is updated with an image with a different number of Z layers (say I go from 64 z-layers to 1 z-layer), the Z-slider does not adjust to that same range using `viewer.layers[name].image = new_image`

## To Reproduce

Steps to reproduce the behavior:

1. Load the viewer with an image that is 1 z-layer deep.
2. Load the viewer with an image that is 64 z-layers deep

[2019-05-21 00:48] jni commented on #270
just btw I'm super in favour of changing the default line length to 80, like God intended. =P

The problem of review definitely pushes me in favour of the formatter. I have to admit that I have come to regard PEP8speaks as noise, and rarely read it. This is the problem with all auto-suggest tools, including e.g. the github issue template.

[2019-05-21 01:01] sofroniewn commented on #270
@jni I personally find the PEP8speaks very helpful (though I often run `pycodestyle` because it's faster) as a beginner. I'd say our problem now is that there are many things that it doesn't catch and that I get consistently wrong. The manual approach does mean I'm learning more (and will hopefully get better), but I recognize it's a lot more burden on our reviewers.

I'd say reducing reviewer bur

[2019-05-21 03:58] sofroniewn commented on #261
Closed by #276

[2019-05-21 03:58] #261 closed, assigned to nobody

[2019-05-21 17:47] AhmetCanSolak commented on #270
I opened the #282 . Please check details and let me know about your comments.

[2019-05-21 17:51] sofroniewn commented on #270
That's great, thanks @AhmetCanSolak I will check it out. If easy maybe you or @kne42 wants to open a similar PR using the same three files with `yapf` using some of the configurations that @kne42 likes so we can do side-by-side comparisons.

[2019-05-21 17:56] AhmetCanSolak commented on #270
@sofroniewn it is easy. `yapf` default is pretty much same with black except putting " for strings for the files in PR. So side-by-side comparison could make more sense if we have specific configuration in mind.

[2019-05-22 02:21] sofroniewn commented on #270
Looking now at `black -S` #282 and `yapf` #283 side-by-side I think a couple of us, (@jni, @AhmetCanSolak, and myself) are leaning towards `black -S`. @kne42 and @royerloic what are your opinions?

One more thing we'd need to decide is how to enforce the autoformatter. If it is possible, I'd favor an approach where we add a seventh test (like our current 6 cross platform tests) that checked for co

[2019-05-22 02:51] sofroniewn opened #285 "Generate layer Qt widgets automatically"
## 🚀 Feature
In conversation today, @kne42 proposed that we autogenerate the `QtLayerProperties` and `QtLayerControls` files from the `Layer` model files for our different layer types, (i.e `Image`, `Labels`, `Shapes`, etc.). This would dramatically simplify what it takes to add new layer types and unify parts of the code base that feel heavily duplicated. It would further enforce separation betwe

[2019-05-22 04:05] jni commented on #270
I just saw that JupyterHub uses black and uses git pre-commit hooks to ensure that it runs.

https://github.com/jupyterhub/jupyterhub/issues/2416

Their [solution](https://github.com/jupyterhub/jupyterhub/pull/2418/files) involves the package [pre-commit](https://pre-commit.com/) to manage git hooks, but we could equally well do it [manually](https://githooks.com/). But I think using pre-commit is

[2019-05-22 04:05] sofroniewn opened #286 "Changing dims slider no longer updates status message"
## 🐛 Bug

Changing the dims slider no longer updates status message in the bottom left corner

[2019-05-22 04:07] sofroniewn opened #287 "Dims slider can go to one too many slots"
## 🐛 Bug

The dims slider can currently go to one too many slots, i.e. load a shape `[4, 512, 512]` image and the dims slider will have 5 possible positions, with the last one no longer changing the data

[2019-05-22 04:21] sofroniewn commented on #270
I like the user not having to manually run it, and I have a strong preference towards a pre-commit solution - which if I understand correctly would allow us to see the already formatted code during PR review. If a goal is to streamline PR review I think running the formatting before the review seems very important.

I have no problem with the `pre-commit` package and don't see any reason to role o

[2019-05-22 05:37] jni commented on #270
:100: spot-on point.

I also think that we are early enough in the history of this project that git blame is not a concern. I also think we can generally place the blame on @sofroniewn and have a good chance of being correct. =P

@AhmetCanSolak how do you feel about writing a PR that uses `black -S` on the whole code base *and* installs pre-commit hooks as described above?

[2019-05-22 18:07] bryantChhun commented on #262
I'm a little confused about the difference between your proposed "internal representation" and what the layer accepts.

The internal representation is currently (N, 2) coordinates, paired such that consecutive pairs represent line endpoints in (x, y).  This is largely a layover from the GL lines approach and can absolutely be adjusted in any way optimal for mesh rendering.  And, It sounds like the

[2019-05-22 18:14] sofroniewn commented on #262
Sorry I should have been more clear - here is what I had in mind

`N x 2 x D means`:
- N = number of vectors
- 2 = start point and end point
- D = number of dimensions e.g. (z, y, x)

For "internal representation" we'd use `N x 2 x D`, but the layer accepts both
- `N x 2 x D` which is "coordinate" type data
- `(N1 x N2 x ND) x D` which is "image" type data where each pixel is a length `D` vector o

[2019-05-22 20:47] AhmetCanSolak commented on #270
Hi @jni , yes i can make a PR for `black -S`

[2019-05-24 01:11] #134 closed, assigned to nobody

[2019-05-24 03:35] #97 closed, assigned to nobody

[2019-05-24 20:24] #286 closed, assigned to nobody

[2019-05-25 23:25] sofroniewn opened #294 "Image thumbnails"
## 🚀 Feature
It would be nice to see mini image thumbnails of the layers on the right-hand side in the layers list. This will help keep track of which layer is which when we have many layers. For image / labels layers it would be pretty easy to downsample the array and pass it through the colormap and display it using a qt widget. For shapes we'd need to rasterize the layer with the appropriate co

[2019-05-26 23:25] sofroniewn opened #296 "API for nD shapes"
## 🚀 Feature
As discussed in #112 and other places, it will de desirable to extend support for our shapes layer to be `nD`.

One plan is to just support `nD` shapes were each shape is confined to a single (x, y) slice. For example the raw data maybe 4D, but a given shape will reside entirely within one timepoint and one z plane. If we restrict to supporting this case, how should be represent the d

[2019-05-27 01:45] sofroniewn commented on #296
This is now implemented in #297 with an example at `examples/nD_shapes.py`

[2019-05-27 15:55] sofroniewn opened #298 "Image borders"
## 🚀 Feature
I'd like to add an optional "border" around our image layers. You'd be able to set the border thickness and the border color. For `nD` images each 2D slice would be able to have it's own color, and you'd be able to change the color of any particular slice.

## Motivation

For people doing classification of images into a small set of discrete classes you could set the border color of e

[2019-05-27 16:09] sofroniewn opened #299 "Draggable and resizable image layers"
## 🚀 Feature
It would be nice to be able to drag and resize image layers using their `translate`, `scale`, and potentially `rotate` options. This would allow people doing image registration or template matching to attempt their best guess manually. Image border functionality #298 and the interactive box like functionality from the shapes layer could be reused to make this possible

[2019-05-27 16:12] sofroniewn opened #300 "Highlightable / selectable markers"
## 🚀 Feature
Right now individual markers cannot be highlighted or selected to have their position or properties modified like shapes in the shapes layer have. I'd like to add highlights and selection to the markers layer to make these more similar to each other in look and feel.

[2019-05-27 17:13] sofroniewn commented on #209
This could potentially be solved by #298 an custom keybindings - see there for more details

[2019-05-27 17:17] sofroniewn commented on #180
This discussion has been re-branded as layer specific features needed for `0.1`, and includes some of what was discussed above - but out of scope is anything related to `3D` rendering or multiple axes.

For ease of discussion I'm going to close this issue and focus discussion on #61

[2019-05-27 17:17] #180 closed, assigned to nobody

[2019-05-27 17:22] sofroniewn commented on #298
One further thought - should this functionality actually be on the base layer and so accessible to all layers?

[2019-05-27 17:22] sofroniewn commented on #299
One further thought - should this functionality actually be on the base layer and so accessible to all layers?

[2019-05-27 17:38] sofroniewn commented on #61
I'm reorienting this discussion to features for the `0.1` release and including the layer specific features described in #180.

The major goal of the `0.1` release is to marks our transition from pre-alpha to alpha. At this point we expect to have established a reasonable API and architecture for the viewer that we do not have immediate plans to change. We also expect to have a basic feature and l

[2019-05-27 17:43] sofroniewn opened #301 "Features to 0.2 release"
## 🚀 Feature
This issue is to discuss features for our `0.2` release, aimed for Oct 1 2019 and the Bioimage Informatics meeting in Seattle at the Allen Institute.

At a high level this release marks the addition of new features that will enable a large number of workflows within napari, including support for rapidly switching the displayed dimensions and projection type, support for 3D rendering,

[2019-05-28 00:59] jni commented on #299
Yes, I think it makes little sense to make it part of the image layer only. This way you could select e.g. an image and its markers layer together and transform them together.

[2019-05-28 01:02] jni commented on #298
For different planes in the same image, I think this functionality belongs in a plugin, and probably this is exactly the place to discuss plugins that interact with the GUI. I definitely don't see this as "base" napari functionality. (Coloring a single *layer* I like — see my comment in #299. But at the same time, colormaps kind of help this already... So I would put this in 0.2.0.

[2019-05-28 01:24] sofroniewn commented on #299
Ok making it a generic property of the base layer sounds good, as it makes sense for all our different layer types. Note that it is different then selecting all the markers and moving them - as that  would affect their data coordinates, whereas this would only be affecting the layer translate and scale properties (i.e. the scene graph stuff). It's possible to apply these transformation stuff to ou

[2019-05-28 01:29] sofroniewn commented on #298
Hmm, ok I'm open to a discussion of whether to support different colors for different 2D slices, or whether that's too custom. I'm also open to bumping this to `0.2.0`, but what do you mean by:

[2019-05-28 01:38] jni commented on #299
Yes, I understand this. Incidentally it would be nice to be able to get at this data programmatically, ie, load two images, move one or the other, then grab the transform data. Ditto for *setting* the transform — instant visualization of registrations!

Well, if it is a property of the base-layer, then maybe this interaction can live on the layers/layerslist directly? I am only going by intuition,

[2019-05-28 01:42] jni commented on #298
coloring a single layer -> switching the colormap of a single layer. ie rather than having a color border, you have a colormap. As you do when e.g. visualizing registration.

[2019-05-28 01:42] jni commented on #298
I meant for *layer*, not slices.

[2019-05-28 01:46] sofroniewn commented on #299
The programatic API for translation and scaling is already there, just set the `layer.translate` and `layer.scale` properties to a 2-tuple and a float respectively. I don't think it would be too much work to expose the `rotate` property from vispy, but I need to look into that. It should be pretty easy to add such an example to our current examples. We could also expose a convenience method that t

[2019-05-28 01:49] sofroniewn commented on #298
Just to confirm, do you mean having a color border that is uniform for the entire layer makes sense because we currently have colormaps and clims that are uniform for the entire layer (regardless of z-slice). I agree with that.

You don't mean that somehow the functionality of the color border could be replaced by the functionality of our current colormaps do you?

[2019-05-28 03:03] jni commented on #298
I mean that colormaps can be coerced to serve this purpose until we implement proper borders, and that this is therefore lower priority than other things on our plate (and can certainly wait until after SciPy, in my opinion).

[2019-05-28 03:11] jni commented on #299
It looks like we would have to switch from `STTransform` to `MatrixTransform`, which I think is the right move anyway.

http://vispy.org/visuals.html#module-vispy.visuals.transforms

:+1:

[2019-05-28 03:29] sofroniewn commented on #298
sounds reasonable @jni I will bump this, the dragable / resizable layers, and any discussion of grid / overlay mode to `0.2` - agreed that there's more important stuff to get done before scipy

[2019-05-28 03:29] sofroniewn commented on #299
sounds good - bumping this to our `0.2` milestone as per discussion in #298

[2019-05-28 03:50] sofroniewn opened #302 "Add a Code of Conduct"
## 🚀 Feature
Before our `0.1` and SciPy how would everyone feel about adding a code of conduct?

Github has good resources on different codes of conduct, and why they are valuable [here](https://opensource.guide/code-of-conduct/).

I'd recommend we go with the [Contributor Covenant](https://www.contributor-covenant.org/) which is fairly standard and widely used. Github makes is super easy to add i

[2019-05-28 03:57] sofroniewn commented on #4
this has been closed by #290

[2019-05-28 03:57] #4 closed, assigned to royerloic, kne42

[2019-05-28 04:40] jni commented on #302
I'm in favour of adding a CoC, I've heard from several women in the SciPy community (and others) that they bristle at the overly-strict language on the Contributor Covenant. They have pointed me instead to the [PSF's](https://www.python.org/psf/codeofconduct/) and [Ruby's](https://www.ruby-lang.org/en/conduct/).

[2019-05-28 04:54] kevinyamauchi commented on #302
I am also in favor of adding a Code of Conduct. Of the examples posted thus far, I like the PSF's for its simplicity and clarity.

[2019-05-28 19:31] d-v-b commented on #243
I'm still seeing that same issue on the latest version

[2019-05-28 19:34] kne42 opened #304 "error when clicking in layers list"
## 🐛 Bug

program crashes when i click in the layers list

## To Reproduce

Steps to reproduce the behavior:

1. open any example
2. click in the layers list

[code]

## Expected behavior

it doesnt crash

## Environment

 - napari Version (e.g., 1.0): master
 - OS (e.g., Linux): OSX
 - Python version: 3.7
 - Any other relevant information:

`conda list | grep qt` output:
[code]

[2019-05-28 22:12] kne42 opened #305 "style range slider with QSS"
currently, the custom range slider widget is styled programmatically only

it should be styled with QSS

see [this](https://wiki.qt.io/Qt_Style_Sheets_and_Custom_Painting_Example) for an example – it can be achieved with existing Qt machinery; no parsing required on our side

see #253, #293

[2019-05-28 23:08] sofroniewn commented on #243
Just discussed this with @d-v-b - the functionality is now such that clicking within the layer properties when editing text will deselect the text and leave the layer selected. However, clicking elsewhere in the layers panel will both deselect the text and unselect the layer. I don't find this particularly unintuitive, but a majority of users might disagree and think that only the text should be d

[2019-05-28 23:08] #243 closed, assigned to nobody

[2019-05-29 00:42] jni opened #308 "Int images are not viewable"
## 🐛 Bug

If an image has dtype `int` (int64 on most platforms), napari crashes.

## To Reproduce

Run the following code:

[code]

Error:

[code]

## Expected behavior

The image is displayed correctly.

## Environment

 - napari Version (e.g., 1.0): master
 - OS (e.g., Linux): Linux
 - Python version: 3.6
 - Any other relevant information:

## Additional context

[2019-05-29 01:39] #305 closed, assigned to nobody

[2019-05-29 02:11] sofroniewn commented on #308
:-( looks like another problem with our string formatting, as mentioned in #93 and has been cropping up elsewhere.

@jni do you want to take a stab at fixing this across the entire codebase. It's pretty important we get it right and I think you have a good sense for the desired string outputs and the best ways to get them!!

[2019-05-29 02:55] jni commented on #308
Yes, I'll work on this, just wanted to add it here for tracking. Another 1-2 issues incoming. =\

[2019-05-29 04:12] jni opened #309 "Add debugging information for generated code"
## 🐛 Bug

**Note** I have no idea about what the below message means, but it seems useful.

I was just debugging an issue with `add_image`. When I got to the `add_image` function in the stack, the debugger gave me the following helpful message:

[code]

This suggests a way to add debugging info to code generated by `add_to_viewer`. I don't know how hard/easy this is, and I don't consider it 0.1.0

[2019-05-29 06:38] jni opened #310 "Cursor coordinates are off by 0.5"
## 🐛 Bug

The coordinates at the *center* of pixel [0, 0] should be [0, 0]. When looking at a tiny image, hovering over the pixels and looking at the value in the status bar, it is clear that the cursor coordinates are offset by 0.5 along each axis relative to the image:

![pix2](https://user-images.githubusercontent.com/492549/58534781-86e8fa80-822f-11e9-800c-2730620f9418.png)
![pix1](https://use

[2019-05-29 15:42] sofroniewn commented on #310
Sounds reasonable, I can look into fixing this and making sure it has no unintended consequences for the markers and shapes layer, where we're already doing some `0.5` offsetting

[2019-05-29 16:25] #280 closed, assigned to nobody

[2019-05-30 15:59] sofroniewn commented on #302
@jni looking at how the Contributor Covenant is used in practice, various projects slightly modify the "scope" and "enforcement" sections to better explain and meet their needs, for example [TensorFlow here](https://github.com/tensorflow/tensorflow/blob/master/CODE_OF_CONDUCT.md), so if the concerns are just in those section then we might be able to address them pretty easily.

[Scipy](https://doc

[2019-05-30 16:17] sofroniewn commented on #262
One thing I want to be more explicit about before starting implementation work - is what should the behavior be of vectors that slice across planes? This has been discuss a little in the context of `nD` shapes in #296

Say we have two vectors in a 3D space with the following start and end points
[code]
where `[y0, x0]` and `[y1, x1]` are the start and end points of the vector in the zeroth z-slice

[2019-05-30 18:16] kne42 commented on #302
Could you elaborate as to why this "overly-strict language" is a bad thing? Conversely, I find the PSF and Ruby CoC to be way too general and not enforceable. I like the Contributor Covenant because it leaves no room for interpretation, is explicit, and fairly comprehensive.

[2019-05-30 18:29] kne42 opened #312 "fix TypedList error throwing and add comprehensive test suite"
- `List.__contains__` should handle all exception types
- `TypedList.index` should throw a `ValueError` instead of a `KeyError`
- comprehensive test suites should be added for all custom lists

as brought up in https://github.com/napari/napari/pull/306#issuecomment-497146532

[2019-05-31 01:30] sofroniewn commented on #294
@AhmetCanSolak suggested that we embed a colormap as the bottom row, separated by a black border into the thumbnail. This sounds like a good idea.

Also @kne42 suggested that we add a timer delay to avoid continually refreshing the thumbnail on every edit

[2019-05-31 05:23] jni commented on #302
Well, I don't have a strong opinion about these things. But if the idea is to make things "welcoming", then a bunch of legalese/corporate-sounding language with many clauses about enforcement might achieve that on some level, but on a "how does this document make me feel" level, it's the complete opposite.

I think the idea behind the PSF, Ruby, and other more "minimal" statements (such as scikit-

[2019-05-31 15:31] sofroniewn commented on #302
To me a strong code of conduct serves as both a real and signaled protection to those most vulnerable to harassment, and unfortunately, I think is needed in the context of an internet at large (think twitter and beyond) that can be hostile.

For this reason, I, like @kne42, prefer the more explicit codes of conduct, like the [Contributor Covenant v1.4](https://www.contributor-covenant.org/) or how

[2019-05-31 15:56] freeman-lab commented on #302
Much appreciate the discussion here! I'll just add that of the options above, something similar to the [scipy](https://docs.scipy.org/doc/scipy/reference/dev/conduct/code_of_conduct.html) version seems both appropriate in tone and approach and maintains consistency with core parts of the Python ecosystem, which is a theme of this project as a whole. I absolutely second @kne42 's point that there's

[2019-05-31 17:31] bryantChhun commented on #262
Putting some thought into this ...  What Shalin and I both believe is proper is to draw the intersection of a plane with a line, which results in a point (or segment) that travels along x-y as you move through z.  If our "plane" is really a "sheet" with thickness, then this means the vector isn't a point, but a small segment of the full-length vector.  Unfortunately, this is most analgous to #3 ab

[2019-05-31 22:02] sofroniewn commented on #103
I'm going to close this with the merging of #295, there will likely be more issues related to "big" data or "remote" data that come up in the future, but we've come a long way since the initial ask, now supporting `dask` and `zarr`, for large `nD` arrays and `2D` image pyramids.

[2019-05-31 22:02] #103 closed, assigned to nobody

[2019-06-01 15:31] sofroniewn commented on #262
@bryantChhun, yes this is like (3) above. We'd have to assume that all planes are evenly spaced apart, but it should be possible. The calculations won't be too bad.

An alternative suggested by @jni is just to show the whole vector in the plane of the starting location.

I propose that for we initially make a PR implementing (1) (i.e. only showing vectors entirely in a plane and ignoring / warning

[2019-06-02 16:52] bryantChhun commented on #262
Yup sounds good.  Thanks for working on this PR.

[2019-06-03 09:55] jni commented on #262
I can't disagree more with the Shalin's and @bryantChhun's assessment... Please correct me if I'm wrong, but drawing a vector (1, 1, 3) at position (4, 5, 6) means that the fluid/particle at position (4, 5, 6) has velocity (1, 1, 3). You visualise this by placing a vector (1, 1, 3) either starting at (most commonly) or centered at (haven't seen this but would make some sense) (4, 5, 6). Seeing a f

[2019-06-03 10:20] jni opened #316 "Tracking possible demo datasets for napari"
Just saw this tweet announcing a human brain MRI at 100µm isotropic resolution. This could be a very cool dataset to use as a napari demo. I suggest we use this issue to keep track of datasets that we could put in napari once we have proper data downloading. Please just edit the checklist below to add your preferred demo data.

- [ ] 100µm resolution human brain: https://twitter.com/ComaRecoveryLa

[2019-06-03 18:47] stefanv commented on #302
We worked on the SciPy Code of Conduct for a long time.  The goal was to write a document that shows clear and serious intent, without frightening people with policing language.  Code of conducts are contentious partly because cultures differ in how much tolerance they have for control vs safeguarding of freedoms.

The way the SciPy CoC tries to address the issue is by having a layered document: t

[2019-06-04 19:24] bryantChhun commented on #262
OK I think I've come around on this.  It is important to distinguish path vs vectors, as you describe in your note.  Here we definitely want to describe a vector that encodes both orientation and magnitude.  However, because viewing a (1, 1, 3) vector starting at (4, 5, 6) wholly in plane (_, _, 6) is a projection, we have to somehow convey when a vector is fully in-plane or a projection.  For thi

[2019-06-05 14:16] d-v-b opened #318 "Even lazier visualization of lazy ndarrays"
## 🚀 Feature
Lazily construct planar views of data

## Motivation
The current handling of lazy ndarrays in napari is lazy across planes, but eager within a plane. When displaying data that is chunked in x and y axes, Napari blocks until the entire plane is available as a numpy array. For very large datasets this is less than ideal.

An alternative approach is to display each chunk as it arrives. O

[2019-06-05 15:03] d-v-b opened #320 "Non-orthogonal slices of data"
## 🚀 Feature
Render arbitrary planes through volumetric data.

## Motivation
With isotropic volumetric data, there's no guarantee that the underlying data aligns with the axes along which the data are represented. [Bigdataviewer](https://github.com/bigdataviewer) and tools derived from it allow rendering arbitrary slices of volumetric data, which allows interactively re-aligning data to get inform

[2019-06-05 16:02] sofroniewn commented on #318
We've got some support recently added for stuff like this in the `Pyramid` layer, see the `examples/add_pyramid.py` example, which will leverage a multiresolution list of arrays (could be from zarr files) to just grab the "tile" you need to see given the resolution and fov of the camera. Right now its only been tested for `2D` but it should be pretty easy to extend to `nD` (though still only looki

[2019-06-05 16:04] sofroniewn commented on #320
This would be pretty cool, and something we should think about as we move towards our support for rapidly switching which dimensions are shown (XY, YZ, XZ, etc.) and 3D rendering in general. Thanks for flagging

[2019-06-05 16:17] sofroniewn commented on #294
Support for image thumbnails has been added in #314. Support for vectors, shapes, and markers thumbnails is still coming

[2019-06-05 16:20] sofroniewn opened #321 "Button to expand layer properties"
## 🚀 Feature
Right now you need to double click the layer properties to expand then, but instead we could have a button that either pointed up or down to expand them. I think people would find this a more intuitive UI. Now that we've made the top part of the layer properties independent (in #314) we can easily add the button next to the layer name, and drop support for double clicking. Thoughts?

[2019-06-05 18:26] sofroniewn commented on #265
@kevinyamauchi another place that I think will need the Enum refactor are all the uses of `shape_type` in the shapes layer (like 'rectangle', 'ellipse', etc.) which then refer to shape classes. happy to discuss thursday

[2019-06-06 00:43] sofroniewn commented on #318
I've extended our pyramids layer so it will work now with data that is `[thousands, thousands, thousands]` if you can precompute the image pyramids. Let me know if this is helpful or if you need something else

[2019-06-06 01:46] d-v-b commented on #318
Thanks! I'll see how well this works for our data (some of our datasets have a precomputed pyramid). But even for data with a pyramid, it might still be helpful to render planar views in a lazy way.

I suspect that many very large datasets will not have pyramid computed, and for these cases, lazy rendering of chunks within a planar view is the only way to have a non-blocking interface.

For exampl

[2019-06-06 01:59] sofroniewn commented on #318
How long does `view` block for a simple `512x512` image? Unfortunately I suspect most of those first 15s are creating / styling the viewer.

For the `~2s` that occurs every time the dims slider updates I feel your pain, I just ran your example and the same happens to me. That comes about for how we're using vispy in the `Image` layer where we just send the data straight over to the graphics card,

[2019-06-06 02:13] sofroniewn commented on #318
I'll add with the pyramid pre-computed though this shouldn't be as much of as problem as you can set a limit of how big each tile is - say `1600 x 1600` that is pretty fast to send over to the graphics card, but I do know that there is still some lag for some of our examples and we should work to make that more performant too

[2019-06-06 02:27] d-v-b commented on #318
For the 512  x 512 image, napari blocks for ~1-2s, and scrolling seems to have ~100ms latency, which is totally usable.

At the end of the day it might be that my current problems are niche and I should just be working with pyramids anyway, but I thought raising the issue couldn't hurt :)

[2019-06-06 04:36] sofroniewn commented on #318
Definitely an issue worth having on our radar, the post is much appreciated. If the precomputed image pyramids don't work out let us know too

[2019-06-06 08:57] jni commented on #321
imho we should add the button (with the sandwich icon), but keep double click anywhere else on the layer. I don't think double clicking hurts here.

[2019-06-06 23:39] d-v-b opened #326 "1D plotting of ROI properties (timeseries, histograms)"
## 🚀 Feature
UI elements that display information about the data contained in ROI

## Motivation
Biologists working with functional imaging data often explore 2D+T datasets by loading the data into FIJI / Pyqtgraph, drawing a polygonal ROI, and looking at a 1D trace of some aggregation of the pixels in the ROI. This trace usually appears in a new UI element. When the ROI is moved, this trace is up

[2019-06-07 02:00] sofroniewn commented on #326
I'd say supporting the event driven API around ROIs to enable this sort of functionality is a high priority as there are many other analysis applications that people might want. It should be pretty easy to have that in for our `0.1` release.

The concept of multiple linked canvases is something we're interested exploring in the context of multiple images for `0.2`. Having one of those canvases dis

[2019-06-07 02:15] sofroniewn opened #328 "Precommit wants python 3.6, but i have 3.7"
## 🐛 Bug

I get the following error on making commits after installing our precommit hook

[code]

This is likely because I'm using Python 3.7. I think we should be able to support both. @AhmetCanSolak can you fix this?

[2019-06-07 02:48] sofroniewn commented on #328
This can be fixed by changing the setting to `python3` instead of `python3.6` which was required for me to merge my commit. Does anyone have any objections to this solution?

[2019-06-07 02:49] jni commented on #328
None here.

It was "fun" seeing all the black commits zooming past btw. =P

[2019-06-07 03:05] #321 closed, assigned to nobody

[2019-06-07 03:10] sofroniewn commented on #328
resolved in #324 by switching to `python3`

[2019-06-07 03:10] #328 closed, assigned to AhmetCanSolak

[2019-06-07 03:14] #304 closed, assigned to nobody

[2019-06-07 03:55] sofroniewn commented on #302
Thanks @stefanv for that very helpful context.

At the meeting today those present came to agreement that we should adopt the `scipy` code of conduct. I will make a PR adding the CoC and followup procedures.

We will need to add a contact email, name individuals that will be on the committee dealing with reports, provide an alternate contact for reports involving the members of the committee or wh

[2019-06-09 15:56] sofroniewn commented on #202
Phase 1 of stylings has been implemented with #236 and a couple follow-up PRs like #324 which completes our styling needs for `0.1`. I'm leaving this issue open because it contain an interesting example and discussion around phase 2 - which could meet our styling needs for the full blown app

[2019-06-11 18:31] henrypinkard opened #332 "Problem showing multi-D image with small last dimension"
## 🐛 Bug

Making and showing a multiD image with a last axis <= 4 leads to a bug in the viewer: the extra scrollbar doesn't appear to move through the 0th axis, and the contrast controls don't do anything. Making the size >= 5 leads to expected behavior

## To Reproduce

#this works
with app_context():
    img = np.random.rand(128, 128, 5)
    viewer = napari.view(img.astype(float))

#this doesn't

[2019-06-11 19:03] kne42 commented on #332
Hi @henrypinkard, thanks for the report!

By default, image layers guess whether an image is multichannel or not based upon the length of its last dimension: 3 for rgb and 4 for rgba, else grayscale. To achieve expected behaviour, please specify `multichannel=False`.

Modification of the brightness and contrast controls are not supported via the GUI at the moment.

[2019-06-12 00:10] jni commented on #332
I actually ran into this problem as well and decided to not report it, but maybe that was a mistake. Perhaps we should remove the magic, and default to `multichannel=False`. The "we don't do magic" policy of scikit-image was the result of many similar bug reports.

[2019-06-12 05:22] jni commented on #269
@sofroniewn I don't have an answer to your questions. Glad this is in 0.2.0 because I think there's a reason overlapping segmentations are generally poorly if at all supported in the libraries I've worked with: it's messy so no one wants to do it. I also think there's various workarounds, such as using multiple Labels layers.

[2019-06-12 05:25] jni opened #334 "API Proposal: rename Markers to Points"
To my ears Markers has always sounded a bit ambiguous: I don't know immediately what the data type is. Even though our Points have attributes (unlike mathematical points) such as size and colour, I think it is clearer and fits in better with Vectors and Shapes than Markers.

Happy to be outvoted here but just wanted to raise it before 0.1.

[2019-06-12 05:55] sofroniewn commented on #334
I'm supportive - to me it makes it cleaner with `Vectors`. curious what others think. @kevinyamauchi

Let's try and get as much of this major renaming done before `0.1`!!!

[2019-06-12 05:58] sofroniewn opened #335 "black --exclude in precommit being ignored"
## 🐛 Bug

Our precommit hook is ignoring our excludes in our `pyproject.toml` and reformatting our `_vispy` files. This is known behaviour as described here https://github.com/python/black/issues/395 (and other places referenced there in) and it seems like the solution is to move the excludes to the `.pre-commit-config.yaml` which I will try, but I wanted to flag here in case @AhmetCanSolak or @kn

[2019-06-12 06:39] sofroniewn commented on #335
Turns out you need the exclude in both the `.pre-commit-config.yaml` and `pyproject.toml` for our testing and precommit to both work. This is done now in #331

[2019-06-12 07:01] #132 closed, assigned to royerloic, kne42

[2019-06-12 15:15] sofroniewn opened #336 "Disable pep8speaks"
Now that we are using `black` can we disable `pep8speaks`? @kne42

[2019-06-12 16:57] kne42 commented on #336
done

[2019-06-12 16:57] #336 closed, assigned to nobody

[2019-06-12 17:13] kne42 commented on #335
it was erroneously left in `.pre-commit-config.yaml` which has been overriding the `pyproject.toml`

[2019-06-12 17:15] kne42 commented on #335
oh nevermind just read the thread which is kinda dumb

[2019-06-12 17:24] AhmetCanSolak commented on #334
Agree with @jni from very first day i feel a friction with Marker naming but i thought it was a coined term for biological/medical image analysis community. Points seems more friendly to me.

[2019-06-12 18:14] AhmetCanSolak commented on #335
thanks @sofroniewn

[2019-06-13 18:21] AhmetCanSolak commented on #270
now integrated formatter successfully, im closing this issue.

[2019-06-13 18:21] #270 closed, assigned to AhmetCanSolak

[2019-06-13 18:27] AhmetCanSolak opened #338 "Naming convention on _window component"
## 📚 Documentation

I realized name of the file with Window class is view :D

`napari/napari/components/_window/view.py`

is there a specific reason for such naming that im missing? or just a not-refactored-yet problem?

[2019-06-13 22:56] sofroniewn opened #339 "Labels colormap wrong"
## 🐛 Bug

The labels colormap is now broken - I think from merging #330 - as it now renders with a different colormap and not the desired one. It's pretty unclear to be how this PR broke the functionality (or if it broke somewhere else), but it should be fixed!

Maybe @jni can look into it too

[2019-06-13 23:00] sofroniewn commented on #338
we were going for a system where every model file was named `model.py` and every Qt view file was named `view.py` inside a folder with the name of the component, like `_window` or `_dims`. If this leads to confusion we can discuss changing it, but it was intentional

[2019-06-13 23:09] sofroniewn commented on #339
Here is an image of the colormap not working:
![image](https://user-images.githubusercontent.com/6531703/59473076-9e121580-8df5-11e9-880d-2d807695200f.png)

[2019-06-13 23:55] sofroniewn commented on #339
The problem is the `self.events.colormap()` call is now happening before the `self._qt_properties = QtLabelsLayer(self)` which we need to fix. I'll look into it

[2019-06-14 01:20] AhmetCanSolak commented on #338
for rest it was okay, maybe not having a model but view kind of confusing

[2019-06-14 16:41] sofroniewn commented on #296
This is now merged

[2019-06-14 16:41] #296 closed, assigned to nobody

[2019-06-14 16:49] sofroniewn commented on #112
With #297 we've now added support shapes including an nD mode with broadcasting and slicing, support for a rasterize functionality with `to_masks`, `to_labels`, and also `to_svg`.

Right now all our shapes must be within a 2D plane (even for the nD ones), but in the future we could support true 3D or nD shapes. I will leave that for followup issues and PRs though

[2019-06-14 16:49] #112 closed, assigned to nobody

[2019-06-14 21:12] #339 closed, assigned to nobody

[2019-06-14 22:31] AhmetCanSolak opened #342 "Multiple Document Interface"
## 🚀 Feature

I am sorry if i we discussed on this and i missed. But if it is not the case, i want to bring Qt MDI as a way to implement multiple viewer feature.

## Motivation
Exploiting the default provided Qt features as much as we can.

## Pitch
MDI enable us having multiple subwindows. We can use these to implement multiple viewers or even can use to have multiple canvases.

## Alternatives
M

[2019-06-15 00:14] sofroniewn commented on #342
we havn't discussed yet, but agreed options like this are interesting when we start to think about multiple viewers, or maybe having the plugin controls inside separate windows - but I know @royerloic will want to avoid window explosion .... ;-)

[2019-06-17 18:46] kevinyamauchi commented on #334
Sounds great! I can make the change.

[2019-06-18 01:49] sofroniewn opened #344 "remove broadcast mode from nD shapes"
## 🐛 Bug

#297 introduced nD shapes containing both `broadcast` and `sliced` shapes, with the option to toggle between them, but really looking back on it that was a mistake. As some people pointed out at the time - being able to switch back and forth between the two modes was strange. In reality it was unnecessary - `broadcast` mode is achieved by adding a `2D` shapes layer to the viewer. There w

[2019-06-18 01:55] sofroniewn commented on #344
this might also make some of the weird special casing for the 2D case that I think @jni didn't like go away

[2019-06-18 06:15] jni commented on #344
@sofroniewn but can one add a 2D shapes layer from the GUI when the current image is 3D?

But, yes, in general, non-existent dimensions should be broadcast as NumPy does. =)

[2019-06-18 14:46] sofroniewn commented on #344
Unfortunately it'll now not be possible to add 2D shapes onto a 3D image with a button click from the GUI, but I think we should solve that problem independent of this fix

[2019-06-18 15:31] sofroniewn opened #346 "styling on layer widgets on new layer"
## 🐛 Bug

When a new layer gets added the styling of the new layer does not reflect that it is selected, but the control panels display and functionality indicates that it is

[2019-06-18 15:52] #335 closed, assigned to nobody

[2019-06-18 17:07] kne42 commented on #346
see the [3rd](https://github.com/napari/napari/pull/330#discussion_r293176542) and [4th](https://github.com/napari/napari/pull/330#discussion_r293176737) review comment on https://github.com/napari/napari/pull/330#pullrequestreview-249089637

[2019-06-19 17:41] kevinyamauchi opened #349 "Precision loss warning from thumbnails"
## 🐛 Bug
Converting image to uint8 for the thumbnails raises a precision loss warning:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Run `/examples/add_image.py`
2. The following warning is printed to the terminal
[code]

## Expected behavior
The warning should be suppressed

## Environment

 - napari Version (latest commit): 244c818
 - OS (e.g., Linux): OS X
 - Python version: 3.

[2019-06-19 17:50] kevinyamauchi commented on #349
It looks like this will be resolved by https://github.com/scikit-image/scikit-image/pull/3575. @jni, do you know if this will be merged soon?

Otherwise, we can just catch/ignore it with `warnings`.

[2019-06-19 18:17] sofroniewn opened #350 "update contributing guidelines for compiling resources"
## 📚 Documentation

As pointed out by @csweaver following the instructions in our contributing guidelines for installing `pyrcc5` does not actually lead to the install of `pyrcc5`. It seems like this comes with `PyQt5`. There is also the option to use `pyside2-rcc`  which comes with `PySide2`. We should document both these usage options.

[2019-06-19 19:27] csweaver commented on #350
I've confirmed that pyrcc5 and pyside2-rcc both come with installation of their respective packages and no additional packages are necessary.

`bin` directory from a fresh virtual env
[code]

after `pip install pyqt5`
[code]

after `pip install pyside2` (on a fresh virtual env)
[code]

This is python 3.6 on OSX 10.14.5, it could be different on other platforms.

[2019-06-19 19:37] #334 closed, assigned to kevinyamauchi

[2019-06-20 00:46] sofroniewn opened #351 "adding points changes their size"
## 🐛 Bug
Adding points changes the size of the points due to a weird bug in how we're now setting the point sizes. This got introduced when we allowed for points to be rescaled keeping their relative scalings and needs to be fixed

[2019-06-20 01:28] sofroniewn commented on #351
also using the size slider after deleting points is causing a crash

[2019-06-20 01:50] jni commented on #350
👋 @csweaver! 😊

@sofroniewn so based on the above I guess we should just remove any mention of rcc in the contributing guide?

[2019-06-20 02:00] sofroniewn commented on #350
I have given this a try in #353

[2019-06-20 02:01] jni commented on #349
@kevinyamauchi I'll make another push on it.

[2019-06-20 03:04] kevinyamauchi commented on #349
Awesome! Thanks, @jni!

[2019-06-20 05:07] #350 closed, assigned to nobody

[2019-06-20 06:16] csweaver commented on #350
👋 Hi @jni! Off topic, but thanks for getting me started on python3. I haven't looked back 😁

[2019-06-20 13:15] jni commented on #349
It's merged! =D If you start working with skimage master you won't see the warnings anymore. Unfortunately it'll probably be a couple of months before 0.16 is out though.

[2019-06-20 15:29] kevinyamauchi commented on #349
Amazing! Thanks for the quick turnaround, @jni!

[2019-06-20 18:03] #344 closed, assigned to nobody

[2019-06-21 07:50] jni opened #357 "Should we add versioneer to development.txt or INSTALL_REQUIRES in setup.py?"
I'm trying to copy our version infrastructure for napari-app, and I don't quite grok it. Where is the base version string stored? (ie where does 0.0.9 vs 0.1.0 live, whether it's dev or not) Also, since versioneer is required to run setup.py, does it need to go in the requirements somewhere?

CC @kne42

[2019-06-21 11:41] jni opened #358 "Incorrect number of sliders for particular shapes"
## 🐛 Bug

This might be due to trying to be too clever with detecting multichannel, but maybe not... If I try to visualise an array of shape (51, 5, 2, 196, 171), I only get two sliders, corresponding to dimensions 0 and 2. I have no way to scroll through dimension 1. Additionally, there are too many stops for dimension 2, which can be set to three positions, 0, 1, and 2. The status happily tells

[2019-06-21 16:53] sofroniewn commented on #358
The too many stops bug is true for all of our sliders and noted in #287, but has not been fixed yet. I'm surprised that you're missing a slider though, and I'll look into it

[2019-06-21 17:23] sofroniewn opened #359 "napari-app"
## ❓ Questions and Help

Right now pip installing napari gives you access to the napari viewer that can be launched from either a jupyter notebook or from a python script. The viewer contains the core functionality required to view and manipulate images, shapes etc. but does not contain any file I/O, drag and drop, menu bars, or infrastructure for plugins. It is also not possible to launch napari

[2019-06-21 17:46] bryantChhun opened #360 "faster mesh generation"
## 🚀 Feature
Use geometry shaders to accelerate calculation of triangles and vertices for all objects (markers, shapes, vectors, etc..)

## Motivation
A long-term goal for my applications would be to render objects in napari very quickly (use as a streaming-viewer).  For vectors, as the number of vectors becomes large, compute time for meshes and triangles gets very long as well.  There was also a

[2019-06-21 17:48] freeman-lab commented on #359
Great topic! Generally agree with this direction, and agree with all points 1-4.

However, an additional con of putting everything inside `napari` is the potential for bloat. One thing I currently love about `napari` is that it packs a lot of functionality while remaining really lightweight from an installation and UI perspective.

Specifically, I'd be worried about two forms of bloat
- installati

[2019-06-21 17:51] #346 closed, assigned to nobody

[2019-06-21 17:56] kne42 commented on #357
versioneer works based off of the latest git tag

it does not need to be downloaded off of pip because it installs its source code in the repository

[2019-06-21 18:01] sofroniewn commented on #360
@bryantChhun I think lower hanging fruit would be to explore speeding up the computations we're currently doing with [numba](https://numba.pydata.org/) as most of the calculations are pretty simple and could lead to speed ups that are an order of magnitude.

You might want to give this a try first / I'm happy to look into it after SciPy.

@jni and @kne42 might have some experience here too

[2019-06-22 02:18] sofroniewn opened #363 "Add comprehensive tests and monitor them using codecov"
## 🚀 Feature

We should start adding comprehensive tests for all our model files, our view files, and anything in our utils folders.

We should also add [codecov](https://docs.codecov.io/docs/python) to monitor how much of the codebase is covered and our progress adding tests.

The following things need to be done

- [x] add codecov
- [x] add tests for dims model and view
- [x] add tests for layer

[2019-06-23 00:41] bryantChhun commented on #360
I just wanted to put this on the radar.  It’s not a good sign that vispy’s own example doesn’t run (at least, on my Mac).  It’s also not clear to me if it’s possible to have custom shaders in napari.

Actually. I have already tested and sped up some calculations using numba.  It works — for the few calculations tried it makes a big difference.  Once we add numba as a dependency I can submit a PR.

[2019-06-24 00:15] jni commented on #359
I originally favoured having the CLI in this repo and still do. I really like to give people the ability to `pip install napari` and then immediately type `napari myimage.tif` and see their image. As we saw on Twitter, people still don't have a good solution for this and think Fiji is overkill / not nice enough. Of course, this brings us back to bloat — we don't want to hit the point where napari

[2019-06-24 01:02] jni commented on #357
Ah! Gets me every time :joy: So essentially one should always pull the tags from upstream before building and installing, right?

I also only just noticed the `versioneer.py` file :man_facepalming:

Thanks for the clarifications @kne42!

[2019-06-24 12:39] sofroniewn commented on #359
Sounds good @jni - moving that stuff over to #356 sounds good too, and I think as we go forward we should just try and keep things modular and be mindful of bloat as @freeman-lab warns

[2019-06-25 06:50] #358 closed, assigned to nobody

[2019-06-25 06:51] #262 closed, assigned to nobody

[2019-06-25 20:28] sofroniewn opened #365 "Improve pyramid examples"
## 🐛 Bug

The pyramid examples, including the nD one, don't run well and should be improved

[2019-06-25 23:02] marshuang80 opened #367 "Window scaling issue on Linux and Windows"
## 🐛 Bug

The drop down menu has scaling issues on linux
![image](https://user-images.githubusercontent.com/15271135/60139287-35665980-9762-11e9-8b3a-100b43d7fe51.png)

## To Reproduce
Run `python examples/labels-0-2d.py` and expand drop down menu for segmentation

## Environment

 - napari: 0.9
 - Linux Ubuntu 18.04LTS
 - Python version: 3.7
 - Laptop: Lenovo X1 Carbon 6th gen

[2019-06-25 23:04] sofroniewn commented on #367
Nice catch @marshuang80 - this is probably because we are hard coding a size for the `expanded` properties widget, but we might need to make it depend on things like screen resolution etc. I can look into it further.

In general we need to do a bit more testing of our stylings on linux and windows!

[2019-06-25 23:14] kne42 commented on #357
uhhh it should work for a local installation just fine although the wrong version will be shown which can be problematic downstream for those who enforce a specific version of napari

perhaps we should add a `--tags` argument to the pull command on our contributing guide?

[2019-06-26 02:42] jni commented on #357
This is exactly the problem I was running into with #356 and napari-app. To make matters worse, pip now *enforces* this. There appears to be no way to pip install a package with an incompatible version of a dependency. (I tried all possible combinations of `--force` options.)

That's probably the right approach. I'll reopen this to track it.

[2019-06-26 03:08] jni commented on #367
Note that I haven't run into these issues, and probably has to do with GNOME scaling on 2x (retina/HiDPI) displays (I don't have that turned on because I'm on i3).

It's *very* interesting that the layer name text is not scaled but all the other text is — that might be a hint about what "correct" styling looks like. Incidentally, I think the rest of the chrome should be doubled, rather than the te

[2019-06-26 06:38] jni opened #368 "Proposal: refactor repo"
This is a major refactor so I wanted to check with everyone before going ahead.

I think the napari repo is far too nested, which makes navigation a chore. Even for skimage, which is a much bigger library, we only use two levels of nesting (`skimage/package/module.py`), with only the ~~module~~ **Edit:** package level actually publicly used. I think that is the right way to do it.

Additionally, t

[2019-06-26 14:34] sofroniewn commented on #368
@jni i'm supportive of the approach for the reasons you mention. I do like the idea that if we decided to swap out `Qt` or add a web view it would be one simple change, and separating the models and views makes sense. We also then just need to have one `tests` folder per top level folder `layers`, `components`, and `_qt`.

One thing I find a little strange though is that we have two separate folde

[2019-06-26 15:36] sofroniewn commented on #368
We'll also need to put the `_constants.py` files somewhere. Potentially a new top level folder called `_constants` that would have files like `shape_constants.py` inside it

[2019-06-26 15:45] sofroniewn opened #369 "Rename app_context"
## ❓ Questions and Help

It was floated at the last meeting that we should rename `app_context` to something without the underscore like just `context` and expose it at the top level of napari, not just from `napari.util`. Putting this here to foster discussion / keep track of this change

[2019-06-26 15:47] sofroniewn commented on #287
This has been fixed by #362

[2019-06-26 15:47] #287 closed, assigned to nobody

[2019-06-26 18:56] sofroniewn commented on #310
Note how this appears in matplotlib. We will want to align with this convention across all our layer types.

![image](https://user-images.githubusercontent.com/6531703/60206819-5c2b9b00-9809-11e9-948b-ea791ca9cae8.png)

[2019-06-27 05:00] jni commented on #310
Note: I agree very much about the alignment of voxels and points, but not about the order of axes — `plt.scatter(2.3, 0.3)` will put the dot on the top right instead of the bottom left.

[2019-06-27 05:06] jni commented on #369
imho it should be called app or even qtapp (since it's qt-specific):

[code]

`context` by itself isn't right. It's the equivalent of calling `layerslist` just `list`.

[2019-06-27 05:15] jni commented on #368
Why do you feel so strongly that these need to be in separate files? This ain't Matlab where each file can only have one public-facing function. =) I favour breaking things into smaller units when having everything in one file would make the file unwieldy. In this case, the files are small enough that I think merging them could work. I'm in no way tied to this view though, just leaning that way be

[2019-06-27 14:43] sofroniewn commented on #368
Yup - ok 100% agree with you, both of these "layer qt" classes can live in the same file with names like `image_qt.py` the classes are small and clear enough.

But I'd probably rename and keep the following separate

- `components/_viewer/view/buttons.py` -> `_qt/layerbuttons_qt.py`
- `components/_viewer/view/controls.py` -> `_qt/controls_qt.py`
- `components/_viewer/view/main.py` -> `_qt/viewer_q

[2019-06-27 14:46] sofroniewn commented on #369
Fair - how about `qtcontext` instead of `qtapp`?

Or maybe `qtgui` or `guiqt` or `qt_gui` or `gui_qt`- in someways that last one mirrors the IPython usage the best which is `%gui qt`

@freeman-lab, @kne42 ?

[2019-06-27 20:45] kevinyamauchi commented on #351
I propose that we change the way the relative sizes are preserved. I think we should calculate the marker size by multiplying the user-specified size by a scale factor set by the size slider. I think this should make the size of the spots independent of the number of spots. Thoughts @sofroniewn?

[2019-06-27 21:17] sofroniewn commented on #351
I have a PR in the works that fixes this. It allows points to be selected individually and then be resized, like in the shapes layer. I'll push it soon(ish)

[2019-06-27 21:46] kevinyamauchi commented on #351
Awesome!

[2019-06-28 02:01] jni commented on #369
So, I feel like there's two conflicting issues:

`with napari.qtgui():` or `with qtgui():` *sounds* better in English than `with gui_qt()`, at least to me (?). The ordering is now different from IPython but I think that's not a big deal — `gui=qt` is already different from `gui_qt`. In one you're saying "give me a Qt GUI" and in the other you're saying "make the GUI be of type Qt". From a readabil

[2019-06-28 02:13] sofroniewn commented on #369
I'm open to either `qtgui` or `gui_qt`. I'd probably vote for `gui_qt`, but one thing to consider though is the file that contains this might make more sense as `qtgui.py` instead of `gui_qt.py` as the latter naming convention is similar to how @jni plans to refactor our qt views in #368

[2019-06-29 15:02] sofroniewn commented on #349
This is fixed in #370, and I'm closing the issue, though once skimage `0.16` comes out we could remove our warnings catch

[2019-06-29 15:02] #349 closed, assigned to nobody

[2019-06-29 21:04] royerloic opened #372 "Coordinates in status bar not updated when moving dim slider"
## 🐛 Bug

When viewing for example a nD stack (n>=3),
coordinates in status bar are not updated when moving dim slider.
This is confusing as it is difficult to know where we are.

## Expected behavior

The status bar should display something like:

[3, 5, :, :], layer_name, value ...

where 3 or 5 are changing depending on the dim slider being moved.
the ':' are there because we are not overing ov

[2019-06-29 21:10] royerloic commented on #372
fixed in 0.0.9 !
but the ':' might still be relevant...

[2019-06-29 22:06] royerloic commented on #227
I encountered this issue again today while browsing a dataset,
turns out to be quite useful in practice as we know.
Just adding some weight to this issue here :-)

[2019-06-29 23:29] sofroniewn commented on #372
@jni is working on the string reformatting as discussed in #93 and can look into displaying `:` when moving the dims sliders

[2019-06-30 06:07] royerloic opened #375 "napari crashes when attempting to display an array of zeros"
## 🐛 Bug

Napari crashes when clim slider is touched and an image layer
consisting only of zero values is displayed:
np.zeros((10, 10), dtype=float)
This is because of the min max values being the same and
leading to a division by zero.

The clim must be set to [0,1] by default if the min max values computed from the array are
identical.

`  << caught exception here: >>
  File "/Users/royer/anacon

[2019-06-30 16:17] sofroniewn commented on #375
noted - will fix

[2019-06-30 16:41] sofroniewn opened #376 "Bundling napari with pyinstaller"
## 🚀 Feature
With the decisions outlined in #359 and PR #356 where we are adding file I/O, menubar, and CLI to this main repo - I think it makes further sense to go ahead and add the machinery to create the `napari-app` to this repo as well, instead of making an entirely separate repo.

@csweaver has offered to help us with this process as she has been recently working on bundling a `Qt` app using

[2019-07-01 15:51] sofroniewn commented on #351
This has been fixed with #371

[2019-07-01 15:51] #351 closed, assigned to nobody

[2019-07-01 15:51] sofroniewn commented on #300
This has been implemented with #371

[2019-07-01 15:51] #300 closed, assigned to nobody

[2019-07-01 15:55] sofroniewn commented on #229
This discussion has been superseded by #359 and #376  and partially resolved by PR #356. As discussed on those issues and implemented in that PR we have now merged the menubar access and CLI all into this main napari repo - keeping our organization much simpler, removing the need for coordinated development across multiple repos, and ensuring there is just one napari that people can use which is f

[2019-07-01 15:55] #229 closed, assigned to nobody

[2019-07-01 15:56] sofroniewn commented on #125
Points (markers) can now be resized and recolored individually - this has been implemented in #371

[2019-07-01 15:56] #125 closed, assigned to nobody

[2019-07-01 15:58] sofroniewn commented on #10
We now have sliced nD support for all our supported layer types - `Image`, `Pyramid`, `Labels`, `Points`, `Vectors`, and `Shapes`

[2019-07-01 15:58] #10 closed, assigned to nobody

[2019-07-01 15:59] sofroniewn commented on #92
We have now successfully separated our Qt files from our Model files

[2019-07-01 15:59] #92 closed, assigned to nobody

[2019-07-01 18:09] sofroniewn opened #379 "File IO"
## 🚀 Feature
With #356 and #378 we will have the capacity for File IO from the CLI, the menubar, and drag and drop. I’m creating this issue for us to start discussing file opening and saving in more detail.

Ideally I think file IO from the CLI, the menubar, and drag and drop should all function in as similar way as possible (though from the menubar / CLI you might have a little more flexibility f

[2019-07-02 17:14] sofroniewn commented on #294
Thumbnails for all layers are now supported, including vectors #377, points #352, and shapes #364

[2019-07-02 17:14] #294 closed, assigned to nobody

[2019-07-02 17:19] sofroniewn opened #380 "Menu bar focus on Mac"
## 🐛 Bug
We've now added a menubar, but you need to toggle focus in and out of napari before it becomes active on the mac. This bug has been encountered in other Qt apps, but we still need to look into fixing.

See here - https://github.com/robotology/yarp/issues/457

[2019-07-02 21:13] sofroniewn commented on #8
This has now been achieved with #330

[2019-07-02 21:13] #8 closed, assigned to nobody

[2019-07-02 21:53] pranathivemuri opened #381 "Color maps for images displayed"
## 🚀 Feature
It would be great to have the images displayed in default colormaps like a grayscale color map for grayscale images and RGB for color images instead of the default "magma" colormap. It converts images to unexpected colors. It might be a problem with binary images containing 0, 1 to be displayed in "gray" colormap but something else might be a good colormap in this case. I am not sure

[2019-07-02 22:09] pranathivemuri opened #382 "Capability to exporting markers,regions coordinates into csv file or xlsx files"
## 🚀 Feature
<Capability to exporting markers,regions coordinates into csv file or xlsx files-->

## Motivation

Annotators/Pathologists/ in general people who don't have access to/know how to code in python can just go to in the menu on GUI File -> export markers -> select file type/filename (csv or xlsx) and save them.

## Pitch

## Alternatives

## Additional context

[2019-07-02 22:19] pranathivemuri opened #383 "Eraser in fill/paint brush layer"
Add "eraser" feature to pixel-wise painting layer

Motivation
If a pixel is incorrectly painted as a label and we want to erase the label and set it to zero. It would be great to have a single pixel/varying pixel sized eraser icon that lets you change that. For example, I had manual annotations of cells that are touching each other when they weren't actually. So, I had to open them in matplotlib a

[2019-07-02 22:54] pranathivemuri opened #384 "Documentation on Napari example without context manager"
## 📚 Documentation

Without context manager, we would have to %gui qt5 and wait for a few seconds until it generates the window and then call napari methods. Can we mention in this documentation to avoid seeing the below warning/abort

(napari) vemuri-mbp:~ pranathivemuri$ ipython3
impPython 3.6.5 (default, Jun 17 2018, 12:13:06)
Type "copyright", "credits" or "license" for more information.

IPyt

[2019-07-02 23:03] pranathivemuri opened #385 "For example, you can add multiple images in different layers and adjust them"
## 📚 Documentation
In the readme, the example output doesn't really seem like images were overlaid.
This below image might be better and mentioning that opacity on layers is tweaked to obtain such an image might be good. Just a suggestion
<img width="637" alt="Screen Shot 2019-07-02 at 4 02 08 PM" src="https://user-images.githubusercontent.com/10284094/60552218-d2853d00-9ce2-11e9-91b0-2193ac0988c5

[2019-07-02 23:04] jni commented on #385
I love it!

[2019-07-02 23:06] jni commented on #384
ouch! We should also point out that one can launch IPython with `ipython --gui=qt`, or even set this in the configuration (which is what I have). That should provide a more seamless experience, although annoyingly on mac it means the terminal loses focus immediately after launch.

[2019-07-02 23:25] pranathivemuri opened #386 "3D stack example in Readme doesn't give the expected figure as in the Readme"
## 📚 Documentation
It gives a very anisotropic narrow pixel figure as below

array size = (128, 128, 128, 10), dtype=bool
code ran:
import numpy as np
from skimage import data
import napari
from napari.util import app_context

with app_context():
    # create fake 3d data
    blobs = np.stack([data.binary_blobs(length=128, blob_size_fraction=0.05,
                                        n_dim=3, v

[2019-07-02 23:27] jni commented on #386
This probably was missed when we changed the dimensions ordering. We just need to change `axis=-1` to `axis=0`.

[2019-07-02 23:36] pranathivemuri opened #387 "Shapes Layer example in Readme"
## 📚 Documentation
 python3 examples/add_shapes.py

The figure generated after running this command that has a layer of shapes and the photographer as below.

Although on the shape layer, opacity, face_color, edge_color sliders seem ineffective. They don't change anything in the shape layer overlaid on the image, although interestingly the thumbnail changes

<img width="624" alt="Screen Shot 2019-

[2019-07-02 23:36] jni commented on #381
magma allows more contrast than grayscale, so it allows users to see the variation in their data better than a grayscale colormap. For our current examples, which include natural images, it doesn't make sense, but for scientific data it's quite useful to get that added contrast. Matplotlib use viridis and Matlab uses parula (previously jet), so I think it's pretty standard in scientific communitie

[2019-07-02 23:37] pranathivemuri commented on #386
oh makes sense! z is the first dimension

[2019-07-02 23:42] pranathivemuri commented on #381
yes, totally for scientific data added contrast would be great. But having that optional and showing what actually the images look like would be better I think.

we could mention in the docs/help section that changes in colormaps can yield add contrast. or just a note on the gui at the "cmap" button that hovers and says change colormap to add contrast probably?

I can see two sides to this. If som

[2019-07-02 23:57] marshuang80 commented on #367
Seems like this issue only happens when the display on linux is scaled to anything larger than 100%.

![image](https://user-images.githubusercontent.com/15271135/60553931-60b0f180-9cea-11e9-8e85-3bf8ee5ba655.png)

[2019-07-03 04:25] sofroniewn commented on #384
Yup, this is the second time it's come up - see #206, so we definitely need to make this clear

[2019-07-03 04:30] sofroniewn commented on #383
To achieve this you can set the value of the label to be painted to zero and then use the exact same paintbrush and fill tools. You can set the label to zero either in the expanded properties widget in the right or by selecting the color picker and clicking on an unlabeled background pixel. Would this meet your needs? If so we need to make sure we make this clear in our documentation

[2019-07-03 04:32] sofroniewn commented on #381
I'm open to either. I think in the first instance though just exposing the colormap keyword argument and clims arguments on the `Image` layer will be a step in the right direction

[2019-07-03 04:37] sofroniewn commented on #387
In order to edit those properties you have to select a shape first, which you can do with the select tool that becomes available on the left-hand side panel when you select the shapes layer. This is fairly unintuitive and confusing though so we definitely have to work on documenting it / we might also want to revisit how this is done

[2019-07-03 04:46] jni commented on #383
It's probably useful to have an eraser button that sets the label to 0.

[2019-07-03 15:29] sofroniewn opened #388 "Drop image `meta` dict and replace with kwargs"
## 🚀 Feature
I'd like to drop the image meta data property and replace with explicit keyword arguments to the image layer. I worry passing an arbitrary dictionary right now is too much freedom and we should be explicit about what keyword arguments we support. I also think we should expose all the key parameters as keyword arguments (like `clim`, `colormap`, `blending`, etc.). Thoughts @kne42 @roye

[2019-07-04 00:25] sofroniewn commented on #381
As discussed on the call - we will switch this to `gray`, thanks @pranathivemuri for highlighting this.

@jni I can do this in the PR I'm working on right now for testing the image layer and adding keyword args like `colormap` etc

[2019-07-04 02:09] jni commented on #381
Go for it!

[2019-07-04 15:44] sofroniewn commented on #369
As noted in #390 I'm now leaning pretty strongly to `with gui_qt` instead of `with qtgui` for the sole reason that I really think it will be less confusing for beginners to keep `with gui_qt` and `%gui qt` straight for scripting and notebook usage instead of having to remember two different orders of the words for the two different scenarios. It took me a long time to remember `%gui qt` in the not

[2019-07-04 18:15] pranathivemuri commented on #383
both solutions work. but maybe eraser button would be good to have, I think

[2019-07-04 18:15] pranathivemuri commented on #387
gotcha, yeah documentation would be great

[2019-07-05 02:41] jni commented on #369
@sofroniewn very well, your argument has swayed me. It's sometimes hard to put oneself in a beginner's shoes, I hadn't done that here, and I think you are definitely right that it would be easier in this case.

[2019-07-05 05:24] #368 closed, assigned to nobody

[2019-07-06 15:58] #369 closed, assigned to nobody

[2019-07-06 16:08] #375 closed, assigned to royerloic, sofroniewn

[2019-07-06 16:09] sofroniewn commented on #388
resolved by #391 - we added a `metadata={}` keyword arg only for image metadata and made all other input params like `clim`, `colormap` etc. keyword args too

[2019-07-06 16:09] #388 closed, assigned to nobody

[2019-07-06 16:58] jni commented on #388
@sofroniewn fwiw I think it should be `metadata=None`, as it's considered bad practice to use mutable types as default arguments.

[2019-07-06 17:01] sofroniewn commented on #388
that's fine, I will fix in a followup

[2019-07-08 17:08] sofroniewn commented on #381
We have switched to `gray` as default in #391

[2019-07-08 17:08] #381 closed, assigned to nobody

[2019-07-08 17:09] sofroniewn commented on #365
These have been reduced in size in #391

[2019-07-08 17:09] #365 closed, assigned to nobody

[2019-07-08 17:12] sofroniewn commented on #93
As noted by @royerloic in #372 - when changing the dims sliders

the ':' are there because we are not hovering over a pixel, so in some sense
we have nothing relevant to give there.

[2019-07-08 17:13] sofroniewn commented on #372
I've added this request on string formatting to #93 and am closing this issue in favor of that one

[2019-07-08 17:13] #372 closed, assigned to sofroniewn

[2019-07-08 17:19] sofroniewn commented on #123
We've come a long way since this issue was create - converting all our examples to executable scripts that get run during testing, and separating out our model and view files so that we can separately test non-qt and qt files. We still havn't got full interactive testing simulating button clicks on the gui and screenshots, but that can be discussed in another issue, so I am closing this one.

[2019-07-08 17:19] #123 closed, assigned to nobody

[2019-07-08 22:06] sofroniewn commented on #385
agreed, thanks for the suggestion @pranathivemuri. Would you like to make a PR changing the example to be this way?

[2019-07-09 19:57] sofroniewn commented on #385
fixed in #399

[2019-07-09 19:57] #385 closed, assigned to nobody

[2019-07-09 20:20] pranathivemuri commented on #386
fixed in https://github.com/napari/napari/pull/399

[2019-07-09 20:20] #386 closed, assigned to nobody

[2019-07-10 22:03] jni opened #404 "Warning with numpy 1.17rc1"
## 🐛 Bug

Running `examples/add_image.py` with NumPy 1.17rc1 results in the following warning:

[code]

Coming from within vispy. @djhoese is this fixed on master / easy to fix?

[2019-07-10 22:08] djhoese commented on #404
No this is not. Here's the full code for the `line.py` portion:

[code]

What is the new method that we should be using?

[2019-07-10 22:18] jni commented on #404
Great question! Let's ask someone here at the conference! =P

@mattip perhaps?

[2019-07-10 22:28] mattip commented on #404
According to the message, you should add parenthesis around the shape parameter (or eliminate it if 1:
[code]
Does this work, and if so can you suggest an alternative wording for the warning?

[2019-07-10 22:49] djhoese commented on #404
Talked to @seberg at SciPy and he explained it to me. The above should work. I might make a PR for numpy to improve the warning message.

[2019-07-10 23:12] djhoese commented on #404
Fixed in #1662, will be included in vispy 0.6. Feel free to close.

[2019-07-11 03:00] jni commented on #404
Awesome! Gotta love this conference! :grinning:

[2019-07-11 03:00] #404 closed, assigned to nobody

[2019-07-12 22:54] sofroniewn opened #407 "vispy 0.6 release"
## 🐛 Bug

We currently have a bug with the new `0.6.0` vispy release - see errors in `add_image.py`

![image](https://user-images.githubusercontent.com/6531703/61162374-e5abc000-a4cd-11e9-90ad-ce1b111d3c1c.png)

and `add_labels.py`

![image](https://user-images.githubusercontent.com/6531703/61162400-ff4d0780-a4cd-11e9-95c7-65ab735d5206.png)

The first bug is already fixed in #406 by removing our v

[2019-07-13 16:40] rbavery opened #408 "division by zero error while opening xarray data array"
## 🐛 Bug

When I load a 110 Mb geotiff as an xarray data array and then try to open this with napari I get the following errors below. See screenshot for what the screen looks like during this error, doesn't seem like the image appears but a thumbnail does.

## To Reproduce

Steps to reproduce the behavior:

1. load landsat geotiff image as an xarray data array
2. view with napari
3. the error hap

[2019-07-13 20:37] sofroniewn commented on #408
Hi @rbavery I'm trying to reproduce, but my minimal example with xarray works fine - i'm new to xarray so might be missing something.

Here's what I ran
[code]
and the result below

![image](https://user-images.githubusercontent.com/6531703/61176291-ea32b000-a583-11e9-8b75-f178ab57ecf8.png)

can you tell me more about what `band3` is / share with me a script / link to generate `band3` or try and r

[2019-07-13 20:46] rbavery commented on #408
Howdy! Here's my minimal example for a single band

[code]

[2019-07-13 22:59] #408 closed, assigned to nobody

[2019-07-14 03:04] sofroniewn commented on #408
@rbavery - this now works fine, here's a gif of the `band3` and `evi` data as two image layers in naprai using their xarray representation

![geospatial2](https://user-images.githubusercontent.com/6531703/61178770-d6a23c00-a5b9-11e9-9899-b58f64e598ab.gif)

To reproduce see this minimal example here that will work if you have the raw data files.

https://github.com/sofroniewn/image-demos/blob/maste

[2019-07-14 03:32] sofroniewn commented on #214
empty layers can now be added for the viewer for all layers, which is captured in the tests introduced by #401

[2019-07-14 03:32] #214 closed, assigned to nobody

[2019-07-14 03:37] sofroniewn commented on #213
All OSX tests problems have been fixed by the vispy `0.6` release

[2019-07-14 03:37] #213 closed, assigned to nobody

[2019-07-14 03:40] sofroniewn commented on #210
This is close to completion - we now have a standard framework - but still need to move our own internal functions over to using it. Maybe @kne42 can address this next

[2019-07-14 05:19] jni commented on #408
@sofroniewn 😍

[2019-07-14 15:54] rbavery commented on #408
@sofroniewn Thanks Nicholas! More info on Landsat 8 can be found at: https://landsat.gsfc.nasa.gov/landsat-8/mission-details/

I used the https://github.com/loicdtx/lsru to order the imagery, folks can also download Landsat 8 with https://earthexplorer.usgs.gov/

[2019-07-14 16:02] marshuang80 opened #414 "Paint color doesn't match color indicator after shuffle color button is pressed"
## 🐛 Bug

When the "shuffle colors" button is pressed, the paint brush's color is changed as well. However, the paint brush color indicator on the left still displays the previous color.

## To Reproduce

Steps to reproduce the behavior:

1. Make a label layer
2. Click shuffle colors
3. Paint on layer

![image](https://user-images.githubusercontent.com/15271135/61186046-6aedbc80-a615-11e9-8f15-e38

[2019-07-14 16:19] sofroniewn commented on #414
This will hopefully be fixed after fixing our vispy `0.6` update - as discussed here #407

[2019-07-14 19:54] jni opened #417 "Adding points after select (?) doesn't work"
I get the following error after loading an image, adding a points layer, selecting select mode by tapping "s", then selecting add mode by tapping "a" (the add mode does not get enabled):

[code]

[2019-07-15 13:48] sofroniewn opened #420 "Features to 0.3 release"
## 🚀 Feature
This issue has some features moved over from our `0.2` release #301. They are considered more advanced topics that we'll likely be aiming to have explored or supported for our `0.3` release, which might be around Jun 1 2020.

**Dims features**:
- [ ] Enable range mode for dims including slice / max_projection / crop (S/P/C)
- [x] Add play button to dimension sliders.
- [ ] Support uni

[2019-07-15 14:18] sofroniewn commented on #414
fixed by #416

[2019-07-15 14:18] #414 closed, assigned to nobody

[2019-07-16 15:15] sofroniewn commented on #308
this is now fixed by #422

[2019-07-16 15:15] #308 closed, assigned to nobody

[2019-07-16 21:43] jni opened #424 "More selection rules discussion + a keyboard shortcut"
After deleting a layer, the layer underneath it should be selected. This allows rapid deletion of layers by clicking the trashcan icon, rather than the current behavior, which requires going back and forth between the trash icon and the next layer. When deleting the bottommost layer, the layer above it should be selected.

Finally, we should add a shortcut, say Shift-Backspace, for deleting layers

[2019-07-17 16:17] #170 closed, assigned to nobody

[2019-07-17 19:09] sofroniewn commented on #407
The above colormap issue can be fixed by reverting this function back to its `0.5.6` version in the `vispy.color.colormaps.py` file

[code]
i'll look into a better fix, though it would be easy to back port this if needed @jni @kne42 @perlman

[2019-07-18 14:12] sofroniewn commented on #424
This is easy to do. @kne42 is going to move over the current keybindings to the new style soon. once that is done i can do this

[2019-07-18 17:59] sofroniewn commented on #407
Something to try for @perlman is reversing the colors list inside the `_glsl_step` function
[code]
I'll check it out when I get the chance, for now I've merged our bug fix #426

[2019-07-18 18:00] perlman commented on #407
I think this is a bug in vispy. The colors in the generated LUT appear to be in inverse order from how they are specified.

I can add

to _glsl_step (https://github.com/vispy/vispy/blob/master/vispy/color/colormap.py#L168) to bring back the prior behavior.

(To be clear, this isn't a proper fix. I think there is a logic flaw with how it's assigning the LUT bucket. e.g., one can invert LUT_tex_idx

[2019-07-18 19:07] perlman commented on #407
Here's the problem:
https://github.com/vispy/vispy/blob/v0.6.0/vispy/color/colormap.py#L186 needs to either be < or <= rather than >=.

[2019-07-18 19:54] joe-albert opened #428 "Labels layer not visible on Windows"
## 🐛 Bug

If you add a labels layer on Windows you can see the labels in the thumbnail but not in the viewer.

I also get a vispy warning:
INFO: Program has unset variables: ('texture2D_LUT')

## To Reproduce

Steps to reproduce the behavior:
[code]
~~@jni will provide the example data asap~~ **Note from @jni:** Added below

## Expected behavior

## Environment

 - napari Version (e.g., 1.0): 0.1.

[2019-07-18 20:07] perlman commented on #407
This is the real fix, I think:
https://github.com/vispy/vispy/pull/1668

(Edit: The whole function should probably be redone, but this is the minimal viable fix. 1 character.)

[2019-07-18 20:57] berl opened #429 "fixed-range rendered marker size"
## 🚀 Feature

I'd like to have the (perhaps optional) ability to set a min and max rendered marker size
## Motivation

Analyzed data from [starfish](https://github.com/spacetx/starfish) can be rendered very nicely as marker layers in napari. Using different colors for the many different mRNA species (~20 here) is great.  However, when I zoom in, the fixed marker size makes all the colors for diffe

[2019-07-18 21:24] jni commented on #428
test images: (though I suspect this would work fine with random data)

image.png
![image](https://user-images.githubusercontent.com/492549/61493092-678d6480-a978-11e9-9f0c-e10f13022acb.png)

segments.png
![segments](https://user-images.githubusercontent.com/492549/61493098-6b20eb80-a978-11e9-902f-7058f3779f67.png)

[2019-07-18 21:51] jni commented on #407
@sofroniewn do you mind reverting `#426` (thanks to git squash, just a `git revert` away), and replacing it by @perlman's `color = color[::-1]`?

[2019-07-19 01:47] sofroniewn commented on #428
interesting, we've been running into some problems with our labels colormap - i have a PR in right now #430 that might fix it. if not we'll follow up

[2019-07-19 14:56] #417 closed, assigned to nobody

[2019-07-19 15:04] sofroniewn commented on #407
i made a followup PR with the `<` and `>` switch. Closing this now, hopefully to be removed with the next vispy release.

[2019-07-19 15:04] #407 closed, assigned to nobody

[2019-07-19 15:22] sofroniewn commented on #384
This has now been explained in our [installation tutorial](https://napari.github.io/napari-tutorials/tutorials/installation.html), including the ability to launch `ipython --gui=qt5`

[2019-07-19 15:22] #384 closed, assigned to nobody

[2019-07-19 15:55] sofroniewn commented on #206
Instructions have been added to [installation tutorial](https://napari.github.io/napari-tutorials/tutorials/installation.html) to make this more clear

[2019-07-19 15:55] #206 closed, assigned to nobody

[2019-07-19 15:58] sofroniewn commented on #138
We've left one notebook file in the examples, and now added instructions on how to launch napari here [getting started tutorial](https://napari.github.io/napari-tutorials/tutorials/getting_started.html)

[2019-07-19 15:58] #138 closed, assigned to AhmetCanSolak

[2019-07-19 15:58] sofroniewn commented on #384
link should be [getting started tutorial](https://napari.github.io/napari-tutorials/tutorials/getting_started.html)

[2019-07-19 15:59] sofroniewn commented on #206
link should be [getting started tutorial](https://napari.github.io/napari-tutorials/tutorials/getting_started.html)

[2019-07-19 22:00] sofroniewn opened #432 "mixing dims"
## 🐛 Bug

Adding a 4D image followed by a 5D image causes the sliders to get really messed up, need to fix inside `qt_dims.py`

[2019-07-21 02:48] jni opened #436 "Proper suport for scales in 2D and 3D layers"
## 🚀 Feature

Currently, scale on a layer can be set with `layer.scale = <tuple>`, which is great. However, this method currently sets vispy scale directly (?) and so does not follow row/column aka zyx coordinates as we do. For example, in the following code:

[code]

The image is stretched along the *vertical* dimension, when NumPy axis conventions would lead us to expect that the horizontal dime

[2019-07-21 23:28] sofroniewn commented on #265
Seems like this is all down now apart from our colormaps which are using a dictionary and our colors which are just strings. Do we want to change this, or is that a separate piece of work, or should I just close this issue as it is complete. Thoughts @kevinyamauchi?

[2019-07-22 15:23] pranathivemuri commented on #436
we can allow it to be a parameter that can be tuned on the layer. I can add that it in. But I was wondering if we could set the whole 3  tuple of scale at once or do we want slider buttons for each of the scales in x y and z. We transpose/reverse the scales set on the layer from xyz to zyx and xy to yx in the property setter

[2019-07-22 18:59] #432 closed, assigned to nobody

[2019-07-22 19:17] #181 closed, assigned to nobody

[2019-07-22 20:57] kevinyamauchi commented on #265
Hey @sofroniewn. I think we can close this issue. I think if we want to change the colormaps to an `Enum`, this will be a larger discussion that probably warrants its own issue.

[2019-07-22 21:34] sofroniewn commented on #265
Ok - sounds good, closing this now

[2019-07-22 21:34] #265 closed, assigned to nobody

[2019-07-22 23:28] jni commented on #436
@pranathivemuri imho we don't want a slider: the scale is something that is fixed for each image. Eventually we'll want to adjust it based on metadata, but an input parameter works great. I agree about transposing the scales in the property setter. =) Thanks!

[2019-07-24 18:32] kne42 opened #441 "label layer can have its label id reduced below 0"
## 🐛 Bug

not via the UI but via the property/keybindings

side-effect: the color preview thingy on the left disappears when this happens

[2019-07-25 22:12] berl opened #445 "point layer color problem?"
## 🐛 Bug
When I run the `add_points` example, I am unable to change the face color or the edge color of the added points.

## To Reproduce

Steps to reproduce the behavior:

1. create new conda environment
2. pip install napari
3. python add_points.py
4. try to change edge or face color from menu, nothing happens

programatically changing the face or edge color from a notebook does update the corr

[2019-07-26 05:00] sofroniewn commented on #445
@berl we changed the default behavior so that you now need to select points before you can change their color. This allows you to assign different colors to different points in the layer, but means that if you have nothing selected and you change the color nothing will change. we'll be making a tutorial soon for the points layer and will definitely put this in there

[2019-07-26 17:12] berl commented on #445
even programatically?  any examples for how to do this after an `.add_points()` call?

[2019-07-26 17:22] sofroniewn commented on #445
a couple ways to do it - we should definitely improve our API - but to make them all `red` you could do

[code]

you can also use the `selected_data` property

[code]

We can add some convenience methods to make this nicer

[2019-07-26 17:39] royerloic opened #447 "Some types (int64) are not supported yet."
## 🐛 Bug

By mistake i tried to add an image (array) of type int64 and boom -- it crashes.

We might want to have some tests or examples for more exotic types.
For example, complex types would be cool but are outside the scope of this issue...
(but exciting!)

## To Reproduce

Create an array of int64 dtype and try to view it in napari...

You get this:

[code]

## Environment

 - napari Version (

[2019-07-26 17:47] pranathivemuri opened #448 "Support for 3D animation"
## 🚀 Feature
3D animation

## Motivation

 It would be great to have an open-source viewer that displays 3D volume and you can fly through it and record as you do so or just have a 360-degree rotation of volume.

## Pitch

1. Scripted animation - http://zulko.github.io/blog/2014/11/29/data-animations-with-python-and-moviepy/
2. Screen Record animation - idea from @kevinyamauchi To do this we save

[2019-07-26 18:08] royerloic opened #449 "Image layer should be able to display non-normalised float arrays"
## 🐛 Bug

Thumbnail display chokes on ndarrays  of dtype float32 that are not normalised,
see stacktrace below...

[code]

[code]

## Environment

 - napari Version (e.g., 1.0): 0.1.3
 - OS (e.g., Linux): OSX
 - Python version: 3.7
 - Any other relevant information:

[2019-07-26 18:38] berl commented on #445
got it, thanks!

[2019-07-27 02:59] jni commented on #449
Yeah that's our (scikit-image's) bad. See https://github.com/scikit-image/scikit-image/issues/3009.

I think @sofroniewn didn't want to stretch the contrast in the thumbnail, so I think the fix here would be:

[code]

(where `rescale_intensity` is from `skimage.exposure`)

[2019-07-30 23:52] jni opened #454 "Consider Glasbey LUT for labels layer"
## 🚀 Feature

I was just introduced to the Glasbey colormap:

https://imagej.net/Glasbey

which uses a principled way to create maximally distinct colors. (To be fair it looks quite similar to what we ended up with.) Perhaps we can implement it in a shader instead of rolling our own thing. *But* we do need a way to randomize adjacent colors.

[2019-07-31 02:56] jni opened #456 "Display total number of slices on right end of corresponding slider"
## 🚀 Feature

From my colleague @VolkerH who was trying out napari on his (oddly-shaped due to IO issues) data: it would be nice if the max value of each slider was shown e.g. at the right end of that slider, so that you could at a glance tell the shape of your data.

[2019-07-31 04:05] jni opened #457 "Layer updates lag on Windows"
## 🐛 Bug

A fun one! When viewing multiple layers on Windows (or at least @VolkerH's machine), the update of each layer lags. This is very visible when layers are supposed to be the same object but different color tags, as the colors should never be "out of sync". Here is an example:

**Edit:** updated link (made an imgur account, not sure how long ephemeral posts last): https://i.imgur.com/kuadZs

[2019-07-31 05:28] VolkerH commented on #457
I can now also provide an animated gif

![napari](https://user-images.githubusercontent.com/2210044/62185958-ca82f080-b3a7-11e9-909d-22279cf57248.gif)

[2019-07-31 08:28] jni opened #458 "Incorrect clipping at bottom edge of pyramid"
## 🐛 Bug

(Sorry, no gif right now, will produce if you can't reproduce it.)

When I run `examples/add_pyramid.py`, if I zoom near the very bottom of the image, the image is cut off inside the viewport. This happens right at the very beginning of a level change. (ie when I go from 2 to 1, or 1 to 0.)

[2019-07-31 09:40] jni opened #459 "Add hover status to vectors layer"
## 🚀 Feature
Currently, hovering on any layer except the vectors layer produces a little status message about what's under the cursor in the currently visible layer. It would be nice, especially for nD vectors, if hovering over a vector produced a message about that vector's projection.

Given that our internal data format is (?) [coord -> projection], we probably need a cKDTree to efficiently fin

[2019-07-31 15:25] sofroniewn commented on #459
we can reuse code from the shapes layer for this - but I worry about the efficiency with millions of vectors. For now you can just get it to print the name / coords and nothing about the vectors. I think this is better than printing absolutely nothing, and something you could even put in #460

[2019-07-31 15:31] sofroniewn commented on #457
Hmm yeah - those layers are separately getting refreshed when you move the slider, so one will get refreshed and then the other one, and if it takes a long time then this will happen. I guess the issue here is that the refresh is taking a long time. I'm curious if you have a sense of how this scales with the size of the 2D array being looked at? my feeling is large arrays will be much worse.

[2019-08-01 01:22] jni commented on #457
@sofroniewn well that's only 128x128 so I think size is a secondary concern to some implementation details. It's also curious that it only seems to happen on Windows — I can't reproduce at all on my machine (same gen processor/integrated graphics as @VolkerH's).

We might also be able to fiddle with our event system so that `update()` is only called after all the layers have switched slices.

[2019-08-01 02:35] jni commented on #459
The efficiency is why I was suggesting cKDTree — I don't think you use that at all?

https://jakevdp.github.io/blog/2013/04/29/benchmarking-nearest-neighbor-searches-in-python/

The numbers there I'll admit are not super encouraging, but the examples are also quite different from what we would need. 2D seems to be pretty speedy.

Anyway, we could consider *not* homogenising the input data to list-

[2019-08-01 02:35] jni commented on #459
(And I think K=1 will also be reasonably speedy.)

[2019-08-01 03:09] VolkerH commented on #457
Without being familiar with the vispy or the napari code base I just googled whether vispy supports double-buffering and I came across the `autoswap` parameter for the vispy Canvas.

r.

Without having looked at the code in detail I am taking a wild guess here, but setting this to False and triggering the redraw after the last layer has been drawn might be a way to address this?

[2019-08-01 20:09] marshuang80 opened #462 "Turn off ndim for painting by default"
## 🚀 Feature
Requesting to turn off n-dim paint by default.

## Motivation
I think cases where users will paint on multiple dimensions by default is small. Having paint default to ndim will confuse users when they see their paintings leak to other dimensions.

## Pitch

Simply default ndim painting to False.

## Alternatives

Better indication that paint bush is painting on multiple dimensions.

[2019-08-01 21:17] sofroniewn commented on #462
Yup, makes sense - happy to change that default

[2019-08-05 03:48] jni opened #464 "Canvas splitter no longer expanding when widening the viewer"
## 🐛 Bug

Introduced by #443 or #453 I presume.

![napari-resize](https://user-images.githubusercontent.com/492549/62437699-ebca4080-b709-11e9-8683-6f58908bec3e.png)

[2019-08-05 04:04] sofroniewn commented on #464
oops - was caused by #443 - will fix :-(

[2019-08-05 22:58] bryantChhun opened #465 "updating a layer by assigning .data is slow"
## 🐛 Bug

Assigning an image layer's data by directly modifying layer.data takes roughly 500ms to display.  Updates more frequently than this will result in unrendered data, sometimes crashing the app.

## To Reproduce

Steps to reproduce the behavior:

1. Create a napari image layer
2. Assign data to it by using "layer.data = ..."
3. Sleep some interval time.
4. Assign more data as in 2 above
3.

[2019-08-06 00:23] sofroniewn commented on #465
@bryantChhun the main change in how napari has displayed images was the introduction of the `_data_view`

https://github.com/napari/napari/blob/0481f2546df389b3c0f2962a3a73d2b6c9b4cd68/napari/layers/image/image.py#L282

If you skipped this, say by setting `layer._node.set_data(img)` and calling `layer._node.update()` directly then you'll probably have much faster speeds (though you won't actually

[2019-08-06 00:24] sofroniewn commented on #465
I'll add the `_data_view` was added to support the lazy loading with dask / zarr etc

[2019-08-06 01:37] #464 closed, assigned to nobody

[2019-08-06 01:41] jni commented on #424
CC @stefanv who just pinged me privately to ask for exactly this. ;)

[2019-08-06 15:21] jni opened #467 "Issues raised by @stefanv while trying out napari"
This is just a placeholder for @stefanv to provide complete examples after his talk at the M&M conference.

- running dask-distributed concurrently with %gui=qt in IPython doesn't work. In his words, "I can very reliably kill the kernel when using napari and dask together". The gui_qt() context manager does not suffer from this.
- our labels colormap shuffle doesn't reliably separate nearby labels

[2019-08-06 18:27] stefanv commented on #467
Correction on one of my earlier observations: the fix in #466 worked.

[2019-08-07 02:10] jni commented on #465
@sofroniewn another thing that has changed is the thumbnails. I wonder if processing thumbnails is taking a while also? More generally, a side effect of our model/view separation is that we are sending a heck of a lot of signals around that we weren't historically, and I wonder if that is what is causing the slowness...

[2019-08-07 02:55] jni commented on #449
As noted in #468, this potentially requires further clarification. It might also be that @royerloic needs a more recent skimage version.

[2019-08-08 23:06] sofroniewn opened #469 "napari design suggestions"
## ❓ Questions and Help

napari has the opportunity to get some design input from a couple designers at CZI. I'm creating this issue for us to discuss current design issues, suggestions, feedback, etc.

[2019-08-09 00:01] bryantChhun commented on #465
Nick's solution above, to use:

[code]

Works like a charm.  Can drop update_rate to 0.001 with seemingly no issues.

[2019-08-09 00:14] jni commented on #465
Let's keep this open as a reminder to follow up on streaming data. It'll be important to be able to e.g. stream a volume and have the 3D sliders work.

[2019-08-09 00:18] jni opened #470 "Clicking the "add labels" button when viewing a lazy (zarr/dask) image should create a zarr-backed labels array."
## 🚀 Feature

Currently, add_labels will try to create an in-memory labels array of the same shape as the currently viewed image. This will break if the image layer is a bigger-than-memory dask array. A possible solution is to create an out-of-core dataset backed by zarr.

[2019-08-09 11:25] constantinpape commented on #436
I agree with @jni that this should be a fixed parameter (and that it should respect the same axis-convention as napari). IMHO, it should be a keyword argument for `add_image` and other relevant functions.

Also, is this supported for the pyramid layer already? I.e. the scale of each level should be something like `scale_of_level = [sc1 * sc2 for sc1, sc2 in zip(scale, downsample_level)]`, where `s

[2019-08-09 12:25] constantinpape opened #471 "Napari for large volumetric data; feedback and issues"
I have been exploring the use of napari for displaying large volumetric data and wanted to provide some issues / feedback.
Before that: thanks a lot for developing napari, I really like the design of the API and GUI and it's definitely the best python viewer I know already.

Using napari for large volumetric data:
- **Performance**: I have been using napari with larger-than-memory volumes by passi

[2019-08-09 16:03] sofroniewn commented on #471
@constantinpape this list is amazing - that's so great you're already finding value from napari and building on top of it. I'd also love to see anything you're doing of general interest make back upstream into napari, but agree we can approach that gradually. It seems that you're further along on the advanced fileIO than we are - we've just started discussing it here #379.

My overall take though

[2019-08-09 16:55] constantinpape commented on #471
Thanks for referencing this. I will have a look later and maybe add some comments.

Very happy to hear this :).

That's pretty accurate. I would prioritize my needs as follows:
1. Performance: Here, `lazy rendering` is indeed the most important point, because it needs to be implemented in napari. For caching, I can start by inserting an intermediate cache myself to gain first experiences with this

[2019-08-09 17:54] sofroniewn commented on #471
Nice.

1. For `lazy rendering` if you were interested in contributing this feature to napari that would be amazing, we could help you with the integration. Probably worth continuing a discussion about this feature specifically on #318 where i'm curious to get an update from @d-v-b too. It might require some changes on the vispy end of things and we'll have to think more about the details, but a co

[2019-08-10 14:24] constantinpape commented on #318
I have recently started using napari for similar use-cases as @d-v-b and I also think that lazy rendering of slices would improve the user experience for large data-sets significantly. I brought this up this and other points in #471 and @sofroniewn and me decided to move the discussion of this particular feature here.

Even when pre-computing pyramid levels, the load times when scrolling to new sl

[2019-08-10 14:37] constantinpape commented on #379
I think you should also keep in mind `hdf5` as a file backend.
In particular, there are standardized pyramid formats in use the bio-imaging community already:
the [bdv-dataformat](https://imagej.net/BigDataViewer#Exporting_Datasets_for_the_BigDataViewer) and the [imaris dataformat](http://open.bitplane.com/Default.aspx?tabid=268).

Also, for reference, I wanted to bring up the convenience function

[2019-08-10 16:05] sofroniewn commented on #318
@constantinpape this all sound good, there's no rush on this feature from our end, so early september is fine, and starting with some smaller stuff / working on this in a test environment might be good too.

there are at least 3 things we'll want to understand

1. what are the latencies right now around just updating image data. if you look at #465 it seems like our main path has become slower lat

[2019-08-10 16:30] sofroniewn commented on #210
with #444 we're now using the new keybinding system for our internal keybindings too

[2019-08-10 16:30] #210 closed, assigned to kne42

[2019-08-10 23:42] sofroniewn opened #473 "Hosted docs"
## 📚 Documentation

I think now would be a good time for us to start hosting our API docs on a public site. I view this as complimentary to, but connected to our current [tutorials page](https://napari.github.io/napari-tutorials/)

Using readthedocs is fine with me, I don't know if CZI will pay to remove adds, but that would be reasonable. Alternatively there is https://github.com/freeman-lab/mini

[2019-08-10 23:46] sofroniewn commented on #473
There was a recent [discussion around hosted docs on twitter](https://twitter.com/choldgraf/status/1158848109465624576) that might be of interest too.

[2019-08-11 06:25] jni commented on #473
I use [doctr](https://github.com/drdoctr/doctr) for the skan docs and really like it:

https://jni.github.io/skan/

That would be my recommendation. The only thing I haven't set up yet is multiple hosted versions, but I think that's not hard to do.

[2019-08-11 08:53] constantinpape commented on #252
It would be very helpful to specify the behavior of the mouse wheel as well.
For example, I would like to map scrolling through an axis, in particular the z-axis for 3d data, to the `MouseWheel` (and remap zoom to `Shift` + `MouseWheel) or map scrolling to `Shift` + `MouseWheel`.

[2019-08-11 09:00] constantinpape commented on #318
Do you have any benchmarks for the viewer performance?

Thanks for the pointer. I will have a look at it. Also, I am trying out some caching things myself and I will let you know if anything interesting comes up.

Definitely sounds like something worth exploring. Also sounds like a good first issue to work on. Again, for these things some meaningful benchmarks would be great.

[2019-08-11 14:59] sofroniewn commented on #318
No viewer benchmarks yet - we should definitely incorporate some into our CI. It's been something we've talked about as we've been adding features to ensure we don't have too much performance regression but we havn't gotten around to it. I think vispy has implemented something to do this on their end which we should check out. Definitely worth doing before making any serious push around performanc

[2019-08-12 02:40] royerloic commented on #318
I agree that we need smarter and better lazy rendering,
caching and tiled render would be great to have more
generally. But we first need to understand where are the bottlenecks.

I have been using napari to visualise light-sheet data with dask,
and indeed it is pretty slow in the absence of caching... and for
some reason moving some sliders is slower than for others.
very strange. Once we get a b

[2019-08-12 16:48] kevinyamauchi commented on #469
What an awesome opportunity! I have listed a few things below that I think we could use some feedback on:

- **Usage pattern for the sidebars**: Currently, we have a sidebar on either side of the the canvas and we are not consistent in how each layer utilizes the UI elements in each one. For example, should one sidebar be dedicated for parameters that are applied to the entire layer and the other

[2019-08-12 19:58] kne42 commented on #473
`doctr` looks super awesome but unfortunately we do not use travis, although i suppose we could set it up for this purpose. i am definitely in favor of self-hosting our docs if possible :)

it's also not terribly difficult to replicate this functionality ourselves, see [how scikit-image does it](https://github.com/scikit-image/scikit-image/blob/master/tools/travis/deploy_docs.sh)

since there are

[2019-08-12 21:11] jni commented on #473
@kne42 Is Doctr really travis only? Could we not adapt it to other CIs? And anyway, as you mention, we can have Travis just for docs, I don't think that's a big deal.

Yes I own napari.org, happy to change that to our gh-pages site once it's up and running!

[2019-08-12 21:59] shanaxel42 opened #474 "Every GUI action in napari should be undoable."
## 🚀 Feature

- [ ]  Create Action base class that holds all information needed to execute and undo any given GUI action
- [ ] Create AttributeGetter, AttributeSetter, and AttributeCaller classes that capture provenance of any given action in user readable format (i.e for macro generation)
- [ ] Create subclass InvertableAction that contains the inverse function of the action (the inverse takes th

[2019-08-12 23:28] kne42 commented on #473
@jni Yes, I inspected the code and it's only compatible with travis due to its reliance on its environment variables. We may define these in our config as a hack but that's not guaranteed to work.

[2019-08-13 00:30] sofroniewn commented on #260
fixed by #472

[2019-08-13 00:30] #260 closed, assigned to nobody

[2019-08-13 00:30] sofroniewn commented on #136
fixed by #472

[2019-08-13 00:30] #136 closed, assigned to royerloic

[2019-08-13 00:30] sofroniewn commented on #424
fixed by #472

[2019-08-13 00:30] #424 closed, assigned to nobody

[2019-08-13 00:31] sofroniewn commented on #227
fixed by #472

[2019-08-13 00:31] #227 closed, assigned to jni, royerloic, sofroniewn

[2019-08-13 06:51] constantinpape commented on #318
Ok, I will start looking into tiling once I have some more time. Any pointers to the general relevant area of the codebase are very welcome ;).

Is there an issue about this yet?
Should I make one?

[2019-08-13 08:10] jni commented on #424
This is amazing @sofroniewn! I just tried it and it's soooo much nicer! :clap:

I agree wholeheartedly with the decision to merge and revisit default bindings later, btw. =) Thank you!

[2019-08-13 15:32] sofroniewn commented on #318
@constantinpape there's no issue about benchmarks - do you want to make one and we can start discussing them there. @bryantChhun may have some experience too. I think that's probably the first PR to make and then we can work on the tiling.

For the tiling one of the key lines in the codebase will be where we slice the `data` array and then pass it over to vispy for the rendering here - https://git

[2019-08-13 17:06] AhmetCanSolak opened #475 "Behavior of selected layer"
## ❓ Questions and Help
I have a minor experience concern.

- I think, with current implementation, the relationship between objects on canvas and layers is not intuitive. Like when i add couple images of same size, i can disable top layers to see previously added ones but i cannot move the only top layer and see the layers underneath (even if i select only top layer). Could there be another way t

[2019-08-13 17:19] sofroniewn commented on #207
@d-v-b - we've now switched over to `PySide2` so curious if it is any better now? Can you try again with the latest napari release `0.1.4`

[2019-08-13 17:21] sofroniewn commented on #475
@AhmetCanSolak when you say "move only the top layer" do you mean drag the image on top to reveal the image below as discussed here #299 or do you have something else in mind?

[2019-08-13 17:27] AhmetCanSolak commented on #475
Missed #299. sorry to re-issue same thing.

[2019-08-13 17:27] #475 closed, assigned to nobody

[2019-08-13 17:28] d-v-b commented on #207
I just checked and nD_image.py is working now. So it's fixed, as far as I can tell. I'm not going to do any more extensive testing for now, but you can feel free to close this.

[2019-08-13 17:36] constantinpape opened #476 "Add benchmarks"
## 🚀 Feature

Add benchmarks to monitor the performance of napari.

## Motivation

Keep track of performance to catch regressions and judge performance improvements for planned features like lazy rendering, better tiling or caching.
Moving the discussion from #318 here.

## Pitch

Benchmarks should be easy to run, maybe be part of the CLI and should cover
relevant use-cases like 2d/3d image render

[2019-08-13 17:37] constantinpape commented on #318
See #476.

Thanks for the pointer!

[2019-08-13 17:39] sofroniewn commented on #207
Ok sounds good, thanks for checking -  i'm closing this now - we can always reopen if we have more problems in the future

[2019-08-13 17:39] #207 closed, assigned to nobody

[2019-08-13 17:48] sofroniewn commented on #476
Thanks for creating this issue @constantinpape. In the long run I'd like us to have full coverage for all our layer types for the benchmarks - shapes / vectors / points can all run into problems with 1000s or millions of objects depending on the details and we will want to understand those limits.

I also see a couple different things we'll want to measure.

- Each layer has a `.refresh` method th

[2019-08-13 17:49] sofroniewn commented on #299
@AhmetCanSolak just gave this feature request a +1 I think, correct?

[2019-08-13 18:08] AhmetCanSolak commented on #299
Absolutely, i think this is valuable for overall layers experience.

[2019-08-13 18:49] jni commented on #476
In the [original asv talk for SciPy 2014](https://www.youtube.com/watch?v=OsxJ5O6h8s0) (which is highly recommended), Michael Droetboom cautions against benchmarking in standard CI, because these are shared-CPU VMs where you have no guarantees about the load on the machine as you run your benchmarks, so you can get wildly diverging values between runs. Many SciPy projects run on pandas.pydata.org/

[2019-08-13 21:42] hmaarrfk commented on #476
Sorry to chime in, but I would suggest defining a target image size and resolution you want to work with and data type. When developing certain algorithms for numpy, we found that certain things that did not sclae well for large images were very fast for small images and datasets. This often had to do with memory allocation and shuffling data around. Also, I would suggest maybe being a little forw

[2019-08-13 23:10] kne42 opened #477 "remove vispy backport folder"
contents have been patched in vispy release `0.6.1` by https://github.com/vispy/vispy/commit/bfe96648fb50ec1eec56568aff93a302473a2e6f

[2019-08-14 03:05] sofroniewn commented on #476
@jni - i'll look into what resources CZI might be able to provide for a "benchmarking machine"

@hmaarrfk thanks for weighing in - benchmarking for different target image sizes makes a lot of sense, there are different use cases that have different sizes, and different latencies maybe tolerable depending on use case. In general we'll want to understand and measure across the range that is meaningf

[2019-08-14 15:19] clbarnes commented on #379
[imageio](https://github.com/imageio/imageio) as an optional dependency would give you a [lot of formats](https://imageio.readthedocs.io/en/stable/formats.html), images/multi-images/volumes through a single API.

[2019-08-14 15:29] clbarnes opened #478 "Is pyqt5 a dependency? (or: does PySide2 work?)"
I `pip install napari`'d and tried the simple example

[code]

and got

[code]

PySide2 is installed, but ipython tried to import pyqt5, which isn't. Installing pyqt5 made it work. Running a napari-based script previously had given me issues re. finding qt; installing pyqt5 seems to have resolved that.

[2019-08-14 22:25] kne42 commented on #476
@jni Resources for the machine are not a problem. We mostly just want to figure out right now whether we want a physical machine or an ec2 instance.

[2019-08-14 22:38] sofroniewn commented on #478
Hmm, very odd, can you try pip installing `0.1.3` instead of `0.1.4` and see if the same error happens.

We should be compatible with either `PySide2` or `PyQt5` through our use of `qtpy` (see more info [here](https://github.com/spyder-ide/qtpy)). We are now choosing to depend on `PySide2` and you shouldn't need `PyQt5` at all. I'm worried though that something has crept through on of our PRs that

[2019-08-14 22:39] sofroniewn commented on #478
You should be able to use the environment variable `QT_API` to switch between `PyQt5` and `PySide2` if you have both installed, and on my laptop both work

[code]

[2019-08-14 22:40] sofroniewn commented on #379
@clbarnes we now depend on `imageio` and `skimage`, I think our plan is to expose all the `imageio` options through the file open / drag and drop.

[2019-08-15 07:55] jni opened #480 "Specifying nD point sizes"
Currently, point sizes can be specified with a 1D array of one uniform size for each point, or a 1D array of anisotropic sizes (one size per dimension), or a 2D array specifying a different anisotropic size per point. This convention can be convenient but it can also be confusing: if I have 5 5D points, and I pass `size=[5, 8, 2, 2, 1]`, am I specifying five isotropic point sizes, or a single anis

[2019-08-15 09:17] jni opened #481 "Deprecate add_image(multichannel=True)"
I originally proposed that we use `multichannel=` as a keyword argument for an RGB image layer to match scikit-image. However, in scikit-image, the meaning is more broad: a multichannel array is one where the last dimension is not a spatial dimension but rather different channels of information for the same spatial coordinates. In napari, we use it only to *specifically* mean RGB, so it's a bit of

[2019-08-15 12:33] clbarnes commented on #379
I even read the requirements file before posting but somehow missed the first line. Sorry about that!

[2019-08-15 14:49] clbarnes commented on #478
Hm, this may be an ipython issue more than a napari one - the failure is at the `%gui qt5` line. The behaviour is the same with napari 0.1.3 (unsurprisingly, as it's ipython's problem). The ipython version is 7.7.0.

Pip freeze:

[code]

`ipython -c "%gui qt5"` output:

[code]

I get exactly the same output with `QT_API="pyside2" ipython -c "%gui qt5"`.

This is on python 3.7.3 installed using pye

[2019-08-15 14:54] clbarnes commented on #478
Confirmed, the "script" example works in both a raw python interpreter and an ipython interpreter. Looks like an issue with ipython and pyside2.

[2019-08-15 15:22] sofroniewn commented on #478
@clbarnes try `%gui qt` instead of `%gui qt5`, having the 5 in there may force it to look for pyqt5 related things instead of pyside2 related things

[2019-08-15 15:25] clbarnes commented on #478
Aha! That seems to be it. Trivial docs change, then.

[2019-08-15 15:28] sofroniewn commented on #481
@jni I like the concept of `add_channels` that is a convenience wrapper around multiple calls to `add_image` that allows you to add and `rgb` image as 3 color channels, or would allow you have add a `C x ....` array and expand along that C dimension with a provided or default list of colormaps.

I'm really not sure about the `rgba` support. unfortunately the `alpha_mask` is hard as that will requi

[2019-08-15 15:31] sofroniewn commented on #478
@clbarnes definitely something to fix in the docs, but unfortunately maybe not so trivial - right now on my computer I get errors when I do `%gui qt` due to multiple version conflicts of `qt`, so we'll need to look into this a bit more @kne42:

[code]

glad we got it working for you, and keep letting us know any problems / feature requests etc.

[2019-08-15 16:00] sofroniewn commented on #130
Given that we're considering dropping RGB in #481 - this may no longer be an issue. bumping to `0.2` regardless

[2019-08-15 21:19] jni commented on #476
@kne42 as mentioned above, cloud vCPUs are not a good fit for benchmarking, because they might be shared across many applications. A benchmarking machine should be running nothing but the benchmarks.

[2019-08-15 22:08] kne42 commented on #476
@jni according to my colleagues, AWS offers [bare metal instances](https://aws.amazon.com/blogs/aws/new-amazon-ec2-bare-metal-instances-with-direct-access-to-hardware/), which offer direct access to the hardware without all of the virtualization on top

[2019-08-15 22:10] jni commented on #476
Ah, thanks. I had a vague memory of this but I couldn't find information on that in the [EC2 instance types](https://aws.amazon.com/ec2/instance-types/), so I thought I must have imagined it!

[2019-08-16 01:20] #449 closed, assigned to sofroniewn

[2019-08-16 01:20] sofroniewn commented on #449
i am unable to reproduce on my system - given the added tests in #468 this issue is now closed

[2019-08-16 01:24] sofroniewn commented on #447
I can reproduce this bug - probably fixable by checking the type and casting the `_data_view` which is what we actually send over to vispy, that way the original data is unchanged.

@kne42 @jni do you have thoughts on how best to do this? Something like?

[code]

[2019-08-16 16:05] kne42 commented on #447
If modifying the original array is not something that we'll be doing, I would use the following instead:
[code]

This way we aren't creating a new copy every time :)

[2019-08-16 16:58] kne42 commented on #447
you'd also probably want to cover all of the other exotic data types:
[code]

[2019-08-16 22:03] #477 closed, assigned to nobody

[2019-08-17 08:23] jni commented on #447
@kne42 doesn't np.int resolve to np.int64 on most platforms these days?

[2019-08-17 15:47] kne42 commented on #447
@jni correct, so it should explicitly be `np.int32` in the first example

[2019-08-19 18:04] #473 closed, assigned to nobody

[2019-08-21 14:29] sofroniewn commented on #458
fixed in #485

[2019-08-21 14:30] sofroniewn commented on #462
fixed in #485

[2019-08-21 14:30] #462 closed, assigned to nobody

[2019-08-21 14:31] sofroniewn commented on #459
the vectors layer now returns its coordinates when hovering. we could additionally return if we are over a vector or not, or maybe something like the length / direction of the current vector? I'm leaving this open but view these as more advanced status updates and bumping this issue to `0.2`.

@bryantChhun @jni do you have opinions? if it is fine as is then i will close

[2019-08-21 14:33] sofroniewn commented on #93
With #485 this has been dramatically improved. We now have a consolidated all our status formatting to one function inside the utils folder that can be tested / improved independently.

[2019-08-21 14:33] #93 closed, assigned to nobody

[2019-08-21 14:34] jni commented on #459
I'd suggest leaving it open, and maybe even bumping to 0.3.

[2019-08-21 14:38] sofroniewn commented on #61
With the merging of #485 we've officially completed all the items on this list. There are a couple issues still tagged as `0.1` that we need to close, and there's lots more work still to do for `0.2` - see #301 for some things we're working on right now, but congrats everyone on getting all the above done!!!

[2019-08-21 14:38] #61 closed, assigned to nobody

[2019-08-21 14:47] sofroniewn commented on #6
@kne42 do you want to either address this or close it? I'm very open to the standardization and think now's a good time to do it, but I don't quite know if I'd get it done correctly. You could probably just go through both the `_qt` and `_vispy` folders and get it done.

[2019-08-21 14:48] sofroniewn commented on #133
@jni do we know if this is still an issue? can you confirm it is still a problem with master and then we should look into fixing as this seems like important functionality to have working

[2019-08-21 14:49] sofroniewn commented on #144
@jni do we know if this is still an issue / can you provide some more info - I don't think I've seen anything like this on my mac or maybe i just havn't noticed / it hasn't bothered me.

[2019-08-21 14:56] jni commented on #144
Honestly, it happens on *firefox* webpage rendering on my laptop, so I think it's just Linux interacting badly with OpenGL. Probably not an issue with napari but with my graphics drivers. I'll close for now.

[2019-08-21 14:56] #144 closed, assigned to nobody

[2019-08-21 14:58] jni commented on #133
Indeed it still is an issue for me, and very frustrating when using napari's annotation tools...

[2019-08-22 14:49] jmetz opened #489 "CLI app (i.e. `napari.main.main()` ) fail with PNG file, but opens with open menu"
## 🐛 Bug

The CLI (`napari` and the equivalent python call `napari.main.main()`) fail when passing in a PNG or list of PNG files on the command line.

Opening the same file from the *open* menu has no problems.

The issue seems to stem from the thumbnailing operation being passed an empty array.

## To Reproduce

Steps to reproduce the behavior:

1. Use either `napari file.png` or `python -c "from

[2019-08-22 16:50] jni commented on #489
@jmetz the key issue is that this png is actually multichannel [1], and the File Open dialog does some multichannel-guessing magic while the command line viewer doesn't. We should unify this behaviour so I'll leave this open, but in the meantime, using `napari -m file.png` works.

.. [1]

[code]

[2019-08-22 16:51] jni commented on #489
(Actually the other issue is that we should be able to display a thumbnail for a (696, 3)-shaped image, which is what napari was trying to do. @sofroniewn? =)

[2019-08-22 17:41] sofroniewn commented on #489
yup the thumbnail generation has tried scaling that so that it fits inside a 32x32 block - which has led it to scale to a `32x0` image that causes everything to choke - due to the extreme aspect ratio - we should certainly catch this and fix it, i've encountered it before. i'll follow up with a PR that fixes this

[2019-08-22 18:08] sofroniewn opened #490 "save napari to zarr file"
## 🚀 Feature
It would be nice to do "file save" and save the entire state + data of the napari viewer to a zarr file. This is related to #234 which wanted the ability to serialize the state of the viewer (without the data), and #379 which talked about saving out individual layers (i.e. save an image / labels layer to a tif).

This feature would capture the meta data of the viewer (current camera p

[2019-08-23 15:18] sofroniewn opened #492 "master broken: missing node argument after automatic layer view creation"
## 🐛 Bug

All the examples on Master are currently broken - the error I get on `add_image.py` initially is

[code]

if i make this no longer an abstract method, the error i get is

[code]
which is because the `VispyBaseLayer` takes two arguments the layer and the node which doesn't seem to work out well with the approach of #488. We could drop the `node` argument and append it inside the layer spe

[2019-08-23 16:38] jmetz commented on #489
Ahh got it - thanks for the clarification @jni . In that case, I guess this is somewhere between a mild bug (the way it fails is still a little ugly) and a feature request that the CLI have the same clever guessing that the internal opener uses.

[2019-08-23 18:56] kne42 commented on #492
@sofroniewn Oops, sorry about that.

I was able to fix the error, which was due to the files not being run and therefore not registered. It's at [`kne42:layerview-import-fix`](https://github.com/kne42/napari/tree/layerview-import-fix) ([commit](https://github.com/kne42/napari/commit/26dd02f30b35ab7dbe6f0b0f87cd52a20db424d3)).

However, I discovered that due to some weird things that `PySide2` is d

[2019-08-23 19:20] sofroniewn commented on #492
ok let's revert #488, merge, and then revisit early next week

[2019-08-23 19:22] sofroniewn commented on #492
maybe #2) reverting just for qt is best if not too hard

[2019-08-26 19:40] #492 closed, assigned to kne42

[2019-08-26 22:15] sofroniewn commented on #363
Done in #455

[2019-08-26 22:15] #363 closed, assigned to nobody

[2019-08-27 14:33] sofroniewn commented on #174
Looking into this more - the same functionality in matplotlib is called `clim` - see [here](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.clim.html#matplotlib.pyplot.clim) which makes me lean towards keeping. If we are going to change though, I'd like to do it now so that things on the repo can be more stable as we move forward. Thoughts @jni @royerloic?

[2019-08-28 12:08] jni commented on #174
I think #310 is more urgent, but anyway. =P

matplotlib itself has a lot of historical baggage, so in terms of API it's not necessarily the best model to move forward with. It's unclear that they would keep it if they were starting anew.

Currently I'm thinking that the middle road is the best one: use `clim` but being more explicit: `contrast_limits`.

[2019-08-29 21:59] henrypinkard opened #497 "Add turbo colormap to Napari"
## 🚀 Feature

A group at Google has created a rainbow colormap that shares some of the desirable properties of inferno/viridis/etc., but is slightly better for visualizing very dim and very bright features. You can read about it more [here](https://ai.googleblog.com/2019/08/turbo-improved-rainbow-colormap-for.html). I think this would be a very useful addition to Napari (which, btw is awesome, tha

[2019-08-29 22:29] sofroniewn commented on #497
@henrypinkard yes, we were talking about that the other day. We'd love to have it in there. Would you like to make a PR adding it? We can guide you through the process if you get stuck

[2019-08-30 18:00] marshuang80 opened #500 "Key-bindings stop working after increasing/decreasing label number"
## 🐛 Bug

After clicking the "+" or "-" button for changing the labels, all key-bindings stop working until the user clicks somewhere else on the viewer.

## To Reproduce

1. Increment label number
2. Notice the highlighted label number
3. Try any keybinding
4. Click somewhere else on the viewer (empty parts of a layer)
5. Notice that the label number isn't highlighted anymore
6. Try keybinding ag

[2019-08-31 21:23] henrypinkard commented on #497
In theory, yes, but realistically I would likely triage it for at least a few months as I have no urgent need for it

[2019-08-31 22:36] #174 closed, assigned to nobody

[2019-08-31 22:38] sofroniewn commented on #497
No worries, if someone else wants to start working on it in the meantime they can post here, otherwise we'll get to it when we get to it. It should be pretty easy to add here https://github.com/napari/napari/tree/master/napari/util/colormaps

[2019-08-31 22:48] sofroniewn commented on #357
@kne42 @jni can we get this closed? Not sure of it's difficulty level, but I'm trying to go through our open `0.1` issues and close them out

[2019-09-01 05:53] sofroniewn commented on #481
@royerloic @jni @kevinyamauchi have we had further thoughts on this one? I'm still leaning towards dropping support from `add_image`, providing a convenience method `add_channels` that makes multiple calls to `add_image` looping over a list of colormaps when provided an axis to expand over, and doing some clever guessing / looking at metadata to decide is someone drags / drops an image if its rgb

[2019-09-01 18:29] sofroniewn opened #502 "add Surface layer for easy 2D / 3D mesh rendering"
## 🚀 Feature
Following this discussion on twitter - https://twitter.com/TrackingActions/status/1168040048664530949

I propose we add a new layer type `Surface` with a corresponding `add_surface` method that allows you to easily render a 2D or 3D mesh with certain colorings / shadings.

We can take inspiration for this from the MRI neuroimaging community that frequently wants to render surface plot

[2019-09-01 22:13] sofroniewn commented on #502
A followup thought is how we should best handle timeseries of meshes. One simple option is to have the vertices be NxD where the data is then `D` dimensional and use the rest of our machinery to handle the slicing. This allows for the meshes to change over time which could be useful for some applications, but I also imagine there will be cases where the meshes are fixed `Nx3` but what changes over

[2019-09-01 22:22] danlurie commented on #502
I've uploaded the surface data that I used in my example: https://gist.github.com/danlurie/891bd6c42ec2edd468b82976ad2fdb5a

(Example notebook here: https://gist.github.com/danlurie/691d0cea1b2c74b227e11d32147e9823)

[2019-09-02 04:29] sofroniewn commented on #502
see #503 for beginnings of an implementation

[2019-09-02 18:58] royerloic commented on #502
@sofroniewn This is great! Good that the current API matches vispy, as it also matches what OpenGL ingests which means speed... Would not be a bad ideas to have key-values for data, as we could add other per-vertex or per-face elements such as normals, texture coordinates, etc... In that case tuples might be brittle long-term. also the keys provide a form of explicit documentation that is in gener

[2019-09-02 19:02] royerloic commented on #174
I think explicit is better, I thought that clim meant 'color-limits' and I thought it was bad.
'contrast-limits' is a bit better, but technically it is wrong, since both brightness (offset) and contrast(slope) are affected by changing any of the two clim values...  So unless we find
something better than 'contrast-limits' that's fine. Any ideas?

[2019-09-03 03:47] #447 closed, assigned to nobody

[2019-09-03 04:13] sofroniewn opened #504 "pytest not catching errors in event callbacks"
## 🐛 Bug

As noted during #498 pytest is not catching any errors that are inside callbacks triggered by our events. To note this you can put any trivial error inside on of our callbacks (for example a new undefined variable) and this will not cause the test to fail, even though this code is getting run and causing an error.

I'm not sure how to fix, but maybe @kne42 or @jni knows?

[2019-09-03 04:21] sofroniewn commented on #504
So I've figured out the reason for this is the following line in our event emitter class
https://github.com/napari/napari/blob/3803e0ad0e8c89089bfdf00269717a779c22de4b/napari/util/event.py#L245

which currently ignores all callback errors. I think this is good behavior for when we're actually running `napari` as it maybe lets us recover from some errors, but it's definitely very bad from a testing

[2019-09-03 04:25] sofroniewn commented on #504
I'll note that we have currently have 6 tests that only fail with this set to `False` (all introduced in #498) around `dtypes` and vispy (and now easily fixed, but previously invisible)

[2019-09-03 10:06] jni commented on #504
Why do we want to allow errors in callbacks ever? Errors should *never* silently pass. At an absolute minimum they should be printed in stderr. Better, expected errors should be specifically caught and handled.

[2019-09-03 13:05] jni commented on #174
"saturation_range", "saturation_limits", "saturation_points"? But I think "contrast_limits" is clear enough, despite your reservations...

[2019-09-03 14:53] sofroniewn commented on #504
Ok, I will change this to `False` and then fix the tests :-)

[2019-09-03 15:04] sofroniewn commented on #174
I'm think `contrast_limits` is fine, agreed it's not strictly correct, but it is clear enough not to be confusing for most people (beginners in particular, whom might have heard of `clim` before in matplotlib and can recognize the similarity)

[2019-09-03 15:31] #310 closed, assigned to nobody

[2019-09-03 20:43] sofroniewn commented on #504
closed by #505

[2019-09-03 20:43] #504 closed, assigned to nobody

[2019-09-03 22:49] sofroniewn opened #507 "Create release.md file"
## 📚 Documentation

It would be good to have a `release.md` file that explains our release process

[2019-09-06 02:45] #357 closed, assigned to nobody

[2019-09-06 02:46] #507 closed, assigned to kne42

[2019-09-06 02:47] #441 closed, assigned to kne42

[2019-09-06 03:09] sofroniewn commented on #500
@marshuang80 I've just tried reproducing this on the master version of napari, and while the selection of the new label # happens for me, all the keybindings still work though. This may have been fixed with #472 - and you should update your napari to see if it is still an issue.

There could also be a difference in how some of the focus stuff is handled across platforms (i'm on a mac), but first l

[2019-09-07 16:33] sofroniewn opened #513 "3D rendering for image pyramids"
## 🚀 Feature
Currently 3D rendering has not been extended from the `Image` layer to the `Pyramid` layer. 3D rendering on the pyramid layer is more complex as the decisions about what part of the pyramid to show and at what resolution are a lot harder.

https://github.com/google/neuroglancer is a tool that has solved this well

[2019-09-07 16:35] sofroniewn opened #514 "3D rendering of shapes"
## 🚀 Feature
Right now our `Shapes` layer only supports 2D rendering. 3D rendering of shapes would be nice, though thinking about any interactivity in 3D is complex (i.e. drawing polygons etc.)

[2019-09-07 16:37] sofroniewn opened #515 "3D interactivity / picking"
## 🚀 Feature
Right now although many of our layers (`Image`, `Labels`, `Points` etc.) support 3D rendering, interactivity in 3D (i.e. painting, picking, adding points) has yet to be fully explored or supported.

[2019-09-07 16:51] sofroniewn opened #516 "1D rendering"
## 🚀 Feature
As originally laid out in #9 it would be nice if the viewer can move between different rendering modes - 1D, 2D, and 3D. We've made good progress on 2D and 3D and so I'm making this issue to discuss 1D rendering.

I think the goal with 1D rendering is not to become a full 1D plotting library, there are many of those, but it is more to be able to expose functionality that people may of

[2019-09-07 16:52] sofroniewn commented on #9
We've made good progress towards 3D rendering recently including #493 where we have merged support for 3D rendering with many of our layer types.

We haven't begun to address 1D rendering yet, but that could be a useful feature so I've made a new issue #516 to explicitly discuss 1D rendering and am closing this one.

[2019-09-07 16:52] #9 closed, assigned to nobody

[2019-09-07 17:59] sofroniewn commented on #436
This has now been mostly implemented in #493 - each layer accepts a `scale` keyword arg that is in the axis conventions of napari.

inside the pyramid layer the `scale` right now gets autocomputed based on the downsampling, but the proposal by @constantinpape to have both a `scale` and `scale_of_level` would be preferable. I'll implement that shortly

Similarly the `translate` property is now a ke

[2019-09-07 18:06] sofroniewn opened #517 "Standardize events"
## 🚀 Feature
Right now there are many events that layers generate for use within napari. There are also interesting things that happen within a layer where we might not need an event, but where a user might want an event, for example finishing drawing of a polygon or rectangle.

We should standardize our events and expose useful ones across all our layer types and viewer. I see plugin developers w

[2019-09-07 18:09] sofroniewn opened #518 "Report and test all keybindings"
## 🚀 Feature
Right now we've been adding keybindings to the window menubar, the viewer, all our layers.

We need a way to document and expose all these keybindings to the user, and test that all of them work and remain stable over time.

I expect that our plugin developers will want to leverage these keybindings, or provide their own to overwrite or complement them, and we will need to know what k

[2019-09-07 18:12] sofroniewn commented on #359
We've merge functionality for launching from the cli into the main repo and are just developing in this repo for now, so I am closing this issue

[2019-09-07 18:12] #359 closed, assigned to nobody

[2019-09-07 18:16] sofroniewn opened #519 "Extending painting to the image layer (merging image / labels)"
## 🚀 Feature
Right now we have a separation between our image layer - which can have continuously varied pixel information and different colormaps and our labels layer which has discrete values meant to represent labeled regions and the ability to paint / fill.

We could those merge these layers and allow for painting / filling of continuously valued pixel information like is possible in photoshop

[2019-09-09 16:36] AhmetCanSolak opened #520 "Providing viewer interactivity through scripting"
## 🚀 Feature

Right now due to nature of qt and our implementation it is not possible to interact with viewer programmatically through scripting. I want to propose providing a way to users to interact with viewer during runtime.

## Motivation

A script would be executed then rendered with the current implementation. But there are many case where one might want to interact with viewer in async fas

[2019-09-09 20:56] sofroniewn commented on #490
@kne42 @jni I've been trying to make custom file icons for our saved zarr files based on napari screenshots, but i'm not able to figure out how to do it. do either of you have any experience with this?

I created an issue on the zarr repo to see if anyone else has any ideas but havn't got any engagement yet - https://github.com/zarr-developers/zarr-python/issues/477

[2019-09-10 04:26] sofroniewn commented on #490
So after some pointers from @freeman-lab to get me in the right direction I have figured out how to do this on a mac.

The first step is to generate a `.icns` file (for mac, `.ico` file linux/windows). Fortunately imageio.imwrite can already do this from a numpy array and so that step is very easy for us.

Then given a `.icns` file - in this example called `icon.icns` located inside a folder, to s

[2019-09-11 04:29] sofroniewn commented on #469
@liaprins - has completed her design audit of napari and produced a truly incredible document with the feedback, included here as a pdf.

[Napari design audit.pdf](https://github.com/napari/napari/files/3598847/Napari.design.audit.pdf)

@kne42, @freeman-lab and I went over some of the main takeaways from the report today with Lia and we'll be going through it in more detail over the next week or t

[2019-09-11 05:22] sofroniewn opened #521 "Unify layer controls / properties buttons"
## 🚀 Feature
Following the design audit by @liaprins - see https://github.com/napari/napari/issues/469#issuecomment-530214616

It has been suggested that we should unify our layer controls and properties buttons - see the issue in the design audit titled `Unclear why some layer-specificactions appear in left toolbar, and some are in the layer-toggle area itself` as it can be confusing to move back

[2019-09-11 15:43] sofroniewn commented on #521
A quick mock of what the new layout could look like is as follows.

For the shapes layer it would be like this:
![image](https://user-images.githubusercontent.com/6531703/64712313-d6b2a100-d46f-11e9-8f35-f4c12b3e280d.png)

For other layers when you selected them the buttons / sliders would change as appropriate. The clim slider for the image layer would now be vertical.

One concern I have is that

[2019-09-11 15:52] sofroniewn commented on #521
Here's a new option:
![image](https://user-images.githubusercontent.com/6531703/64713251-64db5700-d471-11e9-8b41-71e4603c4c8b.png)

You're sacrificing space where the layers list is, but I think that's ok as we can make the layer laist widgets much smaller now as they don't need to be expanded. I think I prefer this option to the one above.

@freeman-lab thoughts?

[2019-09-11 16:07] liaprins commented on #521
Thanks for exploring this idea and creating mock-ups! I think I also prefer
the second one, with the controls above the layer list, but off to the
right. Or maybe the tools could go in a row at the top of everything (but
for Shapes layers since there are so many, they might need to go into two
rows. There could be other options as well, but I think these are a great
starting point.

On Wed, Sep 11

[2019-09-11 16:10] liaprins-czi commented on #469
@liaprins-czi

[2019-09-11 16:10] liaprins commented on #469
Mentioning my CZI Github, so I can follow from it @liaprins-czi

[2019-09-11 16:30] sofroniewn commented on #521
Do you mean something even more like this where we've also unified the layer creation buttons that were on the bottom? I think I prefer this even more, but we have to think about which buttons are always present / which come and go depending on what layer type is selected and how to make that not be confusing. We can go over stuff on the white board next week :-)

![image](https://user-images.gith

[2019-09-11 17:07] liaprins-czi commented on #521
Whiteboarding sounds good. I do think it is important to keep a distinction between the layer-creation buttons and the buttons specific to a given layer, so might be best to still keep the layer creation buttons separate.

[2019-09-11 23:58] bioimage-analysis opened #523 "Napari crashed when trying to open image with value range outside -1 to 1"
## 🐛 Bug

Napari crashes when I try to open an image:

[code]
if I use:

`napari.view(array)`

it gives the following error:

[code]

While it will work if I do:

`napari.view(
        ch0=image[:,:,:,0],
        ch1=image[:,:,:,1],
        ch2=image[:,:,:,2],
        ch3=image[:,:,:,3])`

## To Reproduce

[code]

## Environment

 - napari Version (e.g., 1.0):0.1.5
 - OS (e.g., Linux): osx
 - Pyth

[2019-09-12 14:38] sofroniewn commented on #523
Thanks for catching this, I'll work on a fix today.

[2019-09-12 15:27] sofroniewn commented on #523
So the reason this fails in the first case and not the second is that in the first case because the last dimension is either `3` or `4` we have a special case where we consider it as an rgb or rgba image and so we don't do any rescaling which causes some downstream code to crash. In the second case because the channels are added separately we treat them independently and rescale them.

We've recen

[2019-09-12 15:56] bioimage-analysis commented on #523
Thank you @sofroniewn for the quick reply, in my case, we are talking about a 4 color channels. I will join @jni (#481 ), when working with microscopy images, "multichannel" doesn't mean RGB or RGBA but different color channels, we actually have images with up to 50 different color channels.

[2019-09-12 19:31] dany-fu opened #527 "windows problem"
## 🐛 Bug
Napari launches and a thumbnail of my image can be seen in the top right corner, but the actual viewer is just black

![image](https://user-images.githubusercontent.com/7750862/64814859-49a44080-d572-11e9-8c8d-95a01a09fbc6.png)

## To Reproduce
Jupyter notebook
https://github.com/hicsail/neuro-circuit/blob/df-dev/starfish-notebooks/sample2Round2.ipynb

## Expected behavior
See an enlarged

[2019-09-12 20:02] sofroniewn commented on #527
hi @dany-fu this example is using napari `0.1.3` can you update to `0.1.5` and see how it goes?

[2019-09-12 20:09] kne42 commented on #527
@sofroniewn starfish currently enforces napari's version to be `0.1.3`

[2019-09-12 20:13] dany-fu commented on #527
I can change that constant locally just for testing

[2019-09-12 20:16] kne42 commented on #527
@dany-fu yeah you could try that. however, looking at the errors, it looks like it has to do with OpenGL/maybe VisPy. could you check if you have OpenGL installed?

[2019-09-12 20:18] dany-fu commented on #527
I have pyopengl

[2019-09-12 20:20] dany-fu commented on #527
Interestingly, when I upgraded to 0.1.5 the openGL errors went away, but the initial 'LooseVersion' error still persists

[2019-09-12 20:20] kne42 commented on #527
That's the python bindings, but it does not guarantee that OpenGL is installed on your system.

Could you send me the output of the following?
[code]

[2019-09-12 20:49] dany-fu commented on #527
`ModuleNotFoundError: No module named 'vispy.gloo.gl2'`

My errors look similar to this thread here https://github.com/vispy/vispy/issues/1503, is it worth to try and install pyqt4? Would that work with Napari?

[2019-09-12 20:55] kne42 commented on #527
my bad, it was `vispy.gloo.gl.gl2`, but regardless, if it was fixed by the latest napari version then it probably wasn't OpenGL

we are not compatible with PyQt4

your LooseVersion error may have to do with conda doing funny stuff. could you send me the output of `conda list`?

[2019-09-12 21:21] sofroniewn commented on #527
This could be related to some problems with windows people were having in #428 with the labels layer on windows

[2019-09-13 01:07] dany-fu commented on #527
I updated the notebook with the stacktrace for v0.1.5 and gl version. It does print `unknown` for `_get_gl_version(_lib)`, does that mean the machine is missing the driver?

https://github.com/hicsail/neuro-circuit/blob/df-dev/starfish-notebooks/sample2Round2.ipynb

[2019-09-13 01:33] #523 closed, assigned to nobody

[2019-09-13 04:03] VolkerH opened #531 "callback hook to provide additional information on hover over image"
## 🚀 Feature
Allow the user to provide the viewer with a callback function, that receives the current x,y coordinate and intensity and returns data to either be shown somewhere in the viewer or as a tooltip.

## Motivation / Pitch

One possible use case:

When dealing with segmented objects (label images) it is desirable to query information about these objects, e.g. object measurements such as th

[2019-09-13 04:25] jni commented on #367
As noted by @hmaarrfk in #530, his library might be a good way to deal with this issue:

https://github.com/hmaarrfk/qtpy-tools

[2019-09-13 04:49] sofroniewn commented on #367
@hmaarrfk any PRs around this would be great, @marshuang80 and I found some settings that might have helped but couldn't quite get it working

[2019-09-13 08:50] jni commented on #519
I don't favour merging the layers, as they represent fundamentally different information. And I think painting in scientific images is much much less common than in natural images (hence photoshop). So I would mark this for 3.0 rather than 0.3.0. =P

[2019-09-13 11:28] hmaarrfk commented on #367
I've never coded up qt, just converted the UI files into py files with the qt tools. I typically do that step at build time.

[2019-09-13 14:28] sofroniewn commented on #367
Ok, I'll try and look into this again soon

[2019-09-13 15:26] sofroniewn commented on #531
thanks @VolkerH for making an issue. I think it would be addressed by #252 which we havn't worked on yet, but good to know another example use case, @kne42.

[2019-09-13 16:21] sofroniewn commented on #521
Another option that @jni is in favor of is keeping the buttons and the layers list side-by-side:
![image](https://user-images.githubusercontent.com/6531703/64878185-c9301f00-d607-11e9-8c1a-39e744bbe492.png)

[2019-09-13 16:25] liaprins-czi commented on #521
Yeah I was envisioning something like that as an option as well, especially if there are going to be several layers the user has. It would mean the Napari viewer overall (not the image canvas area) would get wider.

If the tools stay at the top of the layer list as in a previous idea you showed, then probably they should stay "stuck" to the top and let the layer list scroll below them.

[2019-09-14 03:12] sofroniewn commented on #481
This has been addressed by #528

[2019-09-14 03:12] #481 closed, assigned to nobody

[2019-09-15 16:24] sofroniewn commented on #480
I like the idea of scalars for points and a universal anisotropy factor, it seems pretty reasonable. We have the `scale` parameter right now that we use for anisotropy in volumes etc, I think we might need a separate one, I'll look into it. We might also want to leverage that `scale` parameter when painting in nD on the labels layer.

[2019-09-16 00:38] sofroniewn opened #534 "rearranging layers off when lots of layers"
## 🐛 Bug
When there are so many layers that the layers list starts showing a scrollbar on the side if you scroll down and then start trying to rearrange the layers everything goes wrong because that scrolling has not been taken into account in the geometry calculations. This needs to be fixed.

[2019-09-16 00:44] sofroniewn opened #535 "clicking in layers list disables "up" / "down" keybindings"
## 🐛 Bug

Clicking inside the layers list disables the `Up` / `Down` keybindings if they have been attached to the viewer. Attaching the same function with another keybinding continues to work. This is a bit of a strange one. I can show @kne42 an example tomorrow.

[2019-09-16 17:03] ambrosejcarr opened #537 "Auto-create pyramid when image exceeds expected capabilities"
## 🚀 Feature
I would like napari to create pyramids for me if I pass an image that's too large for it to handle.

## Motivation

Right now, napari throws a difficult-to-parse exception when I pass it an image to display that's ~ 20k x 20k. The solution is known, and is simple, but it's not declared in the exception:

### Suggested Solution:

## Pitch

Given the simplicity of the solution, Napari s

[2019-09-16 17:25] sofroniewn commented on #537
So one option here would be to drop the `add_pyramid` method entirely and integrate all the `Pyramid` layer functionality into the `Image` layer and then allow for `add_image` to accept a list of arrays too (like `add_pyramid`) does or add a flag that allows us to autocompute pyramids if we think we need to. I think this may be cleaner than having multiple layer types. Thoughts @jni?

We could the

[2019-09-16 19:05] AhmetCanSolak commented on #520
@sofroniewn i am not happy to see this as a part of 0.3.0 milestone to be honest. I feel there is a significant need.

Also, I want to suggest providing another contextmanager in napari to provide a way to update viewer. An example:
[code]

and we can run everything under update context in a separate thread maybe? What are your opinions on this? @sofroniewn @jni @royerloic

[2019-09-16 19:05] ambrosejcarr opened #538 "Help with starfish.display for large images & mask collections"
## 🐛 Bug

I would like to load the segmented Allen data in napari. These data consist of ~2200 regions of interest over a field of view of shape (27084, 20825)

When I attempt to use napari to load these data, the images are too large and the mask collections throw errors. You can view my attempts [here](https://github.com/spacetx/starfish/blob/2d61bdd0490f22db2837aa52249baaf66d40f18b/notebooks/ma

[2019-09-16 19:19] kne42 commented on #520
Unfortunately a context manager would not work in this scenario since the code is still run. I can not think of any workarounds/magic to make this work without just requiring the user to define a function.

Here is the nicest syntax I can think of:
[code]

the thread containing `stream_data` would be scheduled to run on application execution

[2019-09-16 19:21] sofroniewn commented on #538
As noted in our slack exchanges a napari image layer will choke if you try and pass it an image > 16k x 16k, you instead need to use the pyramid layer and pass a list of precomputed image pyramids. There is some discussion right now in #537 around autocreating the pyramid when we need, which could be the long term solution.

[2019-09-16 19:30] sofroniewn commented on #520
@AhmetCanSolak happy to discuss this more on Thursday and also happy to have a solution for this get merged into `0.2` if we can identify a good one.

I'll change the milestone now, I agree there are a couple people out there including @henrypinkard and Anton Tremsin (can't find his github) who I think will be interested in trying this out right away if we get something working.

[2019-09-16 20:01] ambrosejcarr commented on #538
Does this also explain the issue with the masks? If that's the case, it sounds like the fix for this could be relatively simple and I'm happy to close this in favor of #537.

[2019-09-16 20:11] AhmetCanSolak commented on #520
@kne42 you are right code will still run with context manager. Decorator is a better idea definitely. What do you think about checking if napari running from a jupyter kernel or not in the property setters and handling threading deep in the code? I know will take more work but then people can freely use same syntax on notebooks and scripts.

@sofroniewn thank you so much for quick reply. I am hopi

[2019-09-16 20:16] henrypinkard commented on #520
Yes, happy to test whenever it's ready

[2019-09-16 20:17] AhmetCanSolak commented on #420
Hi @sofroniewn , how are you feeling about moving `add play button to dimension sliders` to 0.2.0 milestone? I can work on it after #520 and #496.

[2019-09-16 20:18] kne42 commented on #520
I was thinking about this too but unfortunately the issue remains in the event that either the data is being live-streamed or any use case where obtaining the data to stream takes a significant amount of time. Even in the same example, it will not work because we are using `sleep` which still blocks the thread.

[2019-09-16 20:27] AhmetCanSolak commented on #520
@kne42 what i mean was in the setter doing below:
[code]

so user will not pass any function with some sleep commands to setter. We could adjust the property setter in a way to execute from a separate thread, if user wants sleep calls in their script that will be fine.

[2019-09-16 20:30] kne42 commented on #520
@AhmetCanSolak could you provide a hypothetical example script where this is implemented as described?

[2019-09-16 21:36] AhmetCanSolak commented on #520
@kne42 as we discussed offline my example script not achieving what we want. Seems letting users to write their methods still seems as best option

[2019-09-17 00:21] ambrosejcarr commented on #538
I tried to display the mask as an image using the pyramid and wasn't able to get it to work. Am I doing it incorrectly?

[code]

[2019-09-17 00:41] jni commented on #538
@ambrosejcarr what is `labels`?

Anyway, based on the [example](https://github.com/napari/napari/blob/master/examples/add_pyramid.py), I'm starting to wonder whether pyramid is RGB by default...

[2019-09-17 00:42] sofroniewn commented on #538
That's a bug on our end - you're passing the entire pyramid all the way to the `1x1` image at the top and something is choking - if you use the `max_layer` keyword argument you'll prevent this - for example I just verified that the following works for a 20k x 20k image

[code]

[2019-09-17 00:44] sofroniewn commented on #538
Here's a gif. I can make a fix so that even if you pass in the full pyramid it won't try and show the `1x1` square!

![rand_pyr](https://user-images.githubusercontent.com/6531703/65002604-88573500-d8a9-11e9-8fe7-9c75f5785560.gif)

[2019-09-17 00:49] jni commented on #538
@sofroniewn love the gif a lot! Kinda trippy! =D

[2019-09-17 01:14] ambrosejcarr commented on #538
Thanks. I was able to get this working -- worth noting that it choked on the `(2, 2)` square too, but `pyramid[:-3]` is 👌

My next question is: how do I get these to display as masks instead of as a label image? `starfish.display` wasn't able to display the set of ~ 2200 masks.

[2019-09-17 01:16] ambrosejcarr commented on #538
It's a 2d integer array, the output of `scipy.ndimage.label` on a binary image, meant to reflect distinct cell bodies. the pyramid construction appears to have worked.

[2019-09-17 01:30] sofroniewn commented on #521
I'm exploring adding a layer type icon after the layer name in the layer widget - so far only supporting icons for `Points`, `Labels`, and `Shapes`, but I can extend to all. I've also made the layers thinner. What do people think?

<img src="https://user-images.githubusercontent.com/6531703/65003930-63fe5700-d8af-11e9-8aae-2d35f2c9c1fc.png" height="350">

[2019-09-17 01:43] sofroniewn commented on #538
@ambrosejcarr for masks instead of label image - what is it that you are expecting to see? say you have ~2000 masks do you want one image per mask and then a "z-slider" that allows you to scroll through all 2000? or if you want to see them all at the same time how should they be colored / how do you want to resolve overlap? This is discussed in #269.

Also if you have ~2000 masks and want to view

[2019-09-17 16:34] liaprins-czi commented on #521
This looks great to me! Yeah, I'm not sure if the photo/image layers should have an icon or not, since there's not a button to create them. They could be differentiated by _not_ having an icon anyhow.

[2019-09-17 19:02] liaprins-czi commented on #521
Although I just realized that there are a few layers that don't get created from the UI (therefore don't have an icon associated to them in the UI):
- pyramid
- image
- vector
... and possibly any that a contributor/plugin would bring in the future.

We should think about if we'd want these to have any icon or not, and if so, whether they'd each have their own and how to make that sustainable goin

[2019-09-17 21:23] royerloic commented on #521
@sofroniewn One thing to keep in mind is that most screens have a strong landscape aspect ratio. So I would suggest we avoid putting tools on the top or bottom, but instead exploit thebleft or right sides. I agree that we need consistency in terms of what applies to layers and what is global. the original plan was global on the left, local on the right.

[2019-09-17 21:26] royerloic commented on #521
I like a variation of that. Having a more compact list of layers as shown above would free up space for the toolbar. Only displaying tools (top of right panel above list) that are relevant to the layer(s) selected is I assume the idea, right?

[2019-09-17 21:30] royerloic commented on #521
I don't like this option...
From a design perspective I think the layout is poor,
and this wastes and sacrifices a lot of space that could
be used to show pixels. I think a good guiding principle is
that we should optimise the layout so that we favour showing
image pixels versus the layout. The ratio of screen
real-estate occupied by the canvas versus the whole
window should be as high as possible

[2019-09-17 23:33] royerloic opened #539 "Tracks lines for representing trajectories in nD+t"
## 🚀 Feature

A typical bioimage analysis task is to track the movement of objects of interest such as cells in their 2D or 3D movement (possibly more, @jni --guardian-of-dimensions-- would argue). Having the possibility to display such tracks both in the 2D and 3D view and show future and past positions (increasingly faint and transparent as you go away from the current time point) would be extre

[2019-09-18 03:44] sofroniewn commented on #539
@royerloic how do you feel this functionality intersects with the current `Path` object in the shapes layer? For example see this WIP PR #532 for examples of lines in 3D? You can pass a list of NxD arrays as input and a list of colors and it will do 2D and 3D rendering. It won't change transparency along the line, this could be done, but unclear if it is needed functionality. There's also only one

[2019-09-18 03:58] sofroniewn opened #540 "Better support for surface timeseries data"
## 🚀 Feature
Right now the surface layer, created in #503 can support multiple dimensional data by providing a `NxD` array of vertices, a list of triangles, and a length `N` value for each vertex. This allows for very general surfaces that change over any of the `D` dimensions.

There is potentially a very special case where we have timeseries of either a 2D or 3D surface and that surface remains

[2019-09-18 04:17] #502 closed, assigned to nobody

[2019-09-18 06:23] royerloic commented on #516
We could start witha  1D mode that is just a natural extension of 2D and 3D: we just show one dimension and have sliders for the rest. this can be useful when considering for example 2D kimograph data to go back to see the 1D profile, etc...

But, of course, what would be interesting would be able to link multiple canvas that display different aspect of a dataset. For example, we could draw a line

[2019-09-18 15:41] sofroniewn opened #541 "main api for launching"
## ❓ Questions and Help

Last week @kne42 and I were able to onboard a bunch of new users at imageXD, and I couldn't help but feel some of our main api was still a little confusing. I know we talked about this a lot a couple months ago, but I wanted to see if anyone else was feeling similarly after getting napari out in the wild a little more.

Specifically I felt that people found confusing the d

[2019-09-18 16:33] AhmetCanSolak commented on #541
I am absolutely up for dropping `view`.
But i think we should promote this api in the way below:
[code]

or:
[code]
😄

i would argue that we can even let people access viewer via `napari.viewer` as a singleton. I know this is conflicting with multiple viewer possibilities but why not considering multiple naparis instead multiple viewers? This could bring some Qt benefits as well.

I believe we sho

[2019-09-18 16:52] sofroniewn commented on #541
I’m wary of enforcing a single viewer, as in a jupyter notebook context it could lead to unexpected interactions between code cells.

For example i’d say two success calls to napari.add_image should open two separate viewers. Though I will say we have some bugs right with our ipython console when we have multiple viewers, and I’m curious about the potential Qt benefits of just having one viewer.

[2019-09-19 00:04] royerloic commented on #539
Yes this looks like a good starting point!
One possibility would be to subclass 'paths' to 'tracks'
adding features specific to spatio-temporal tracking as
described above. This is something we could work on with
@pranathivemuri . Could be exciting feature.

[2019-09-19 00:44] sofroniewn commented on #539
There might be some general interest in more advanced coloring options for the paths from other communities too, I thinking about some of the track tracing people from diffusion tensor imaging for example, https://dipy.org/, and I've been chatting with @arokem about some example datasets from that space too, but starting with subclassing sounds good, and I'd be excited to get more contributions fr

[2019-09-19 01:10] royerloic commented on #539
Sounds good.
My guess is that you have a list of vertex/face data , one for each shape or so...
Whereas for performance you would want to have it all packed into single arrays...
Is that the case? We can also just tailor-made a layer just for tracks that could handle
tens of thousands of tracks...  Subclassing might not be the right way then, because
it creates shallow dependencies and prevents pe

[2019-09-19 01:22] royerloic commented on #539
Maybe, we should keep shapes as a generic and rich layer,
but also have specialised and optimised layers that are very good,
and very fast, for specific types of data. In the end everything is built
upon vispy, but we don't force ourselves to square the circle.
Sometimes, It can be difficult to truly have both generality and performance...
Also, it might be easier to maintain specialised layers th

[2019-09-19 01:56] sofroniewn commented on #539
We basically use both representations - we take data in as lists of arrays and then convert it to a giant array of vertices and triangle that vispy will accept. Right now generating that giant array is pretty slow for reasons that aren't surprising - each time we add a shape it does all sorts of concatenations to that array (instead say of first figuring out how big that array will need to be and

[2019-09-19 06:01] jni commented on #539
I'm into a "tracks" or "connections" layer. It works not just for tracking but also e.g. for skeleton tracing of neurons in 3D data.

I don't have much to add to the discussion about performance except I do think that this is a separate kind of layer from shapes. I might even consider ripping out lines from shapes altogether, and have 0D (points) 1D (lines/tracks/connections) 2D (shapes/surfaces)

[2019-09-19 18:49] royerloic commented on #539
I buy @sofroniewn argument that reimplementing interactivity for each layer would be expensive, so it makes sense to first optimise shapes and then se how far we can go. From @sofroniewn description of the implementation, it sounds that the fundamentals are solid and it would be feasible to optimise the array generation.

One question @sofroniewn:  once the 'giant array' is generated, I assume tha

[2019-09-19 22:12] sofroniewn opened #543 "CLI broken on master"
## 🐛 Bug

On master right now launching `napari` gives
[code]

[2019-09-19 22:43] kne42 commented on #543
This is due to the contents of `setup.py` changing in #529. `setup.py` is what determines what is used for the entry point of the `napari` script and does not update automatically even in development mode.

This is only an issue for people who have are using an editable installation (e.g. with `pip install -e .`) which has not been fully updated since #529 was introduced. To fix this, simply re-ru

[2019-09-19 22:43] #543 closed, assigned to nobody

[2019-09-20 13:55] ambrosejcarr commented on #538
I'm content with the current `starfish.display` functionality, which shows the mask as a series `alpha < 1` colored shapes via `add_labels`, but functioning over large sets of such masks.