[2022-10-17 00:40] tlambert03 commented on #5232
huh,  ok, that's unfortunate, will fix

[2022-10-17 09:00] jaimergp commented on #4891
The following snippet tests for all platforms:

[code]

Feel free to adjust for other tests, but it looks like it's working:

[code]

[2022-10-17 09:01] jaimergp commented on #4891
Btw, thanks for handling the fix @psobolewskiPhD!

[2022-10-17 09:11] Chris-N-K opened #5233 "Shapes Layer data event fires to early when adding new shape"
## 🐛 Bug

When adding a new shape to a Shapes layer via the draw functionality the data event fired to signal that a new shape was added and yielding the nodes of the shape fires on initial click into the canvas.
Thus, the array contains the initial nodes of the shape with minimal edge lengths (super tiny) and not the nodes after finishing drawing the shape. Only, after moving the shape or adding

[2022-10-17 12:17] Carreau commented on #5233
I think the event emission has likely been thought of for programmatic shape addition.
This problem is likely in how the mouse is handling shape addition.
Currently it does add a shape (`_shape_mouse_bindings.py:151:_add_line_rectangle_ellipse`), then `Shape.add` emit the data. Then the click handler will _modify_ the data until mouse up.

The question is what is the best fix ?
Should we maybe hav

[2022-10-17 12:26] Chris-N-K commented on #5233
Yes I think so too.
The course of steps from the layer side does make sense. It would be good to hold the event till the edit is finished, thus a second layer context manager does sound reasonable.

[2022-10-17 12:34] Carreau commented on #5228
I believe you can, at least locally I can. To do so you need to set the contrast_limits_range first.

In the same slider pop-up that you show above, you should be able to click on the min/max values of the slider and change them.

https://user-images.githubusercontent.com/335567/196177133-f17d2ebb-cb38-4c1f-87f1-00714426b48b.mov

I can admit it was not obvious to find.

If you can't do that, can y

[2022-10-17 12:36] Carreau commented on #5228
I have renamed the issue, and tag at design and not bug. Can you confirm that you can also edit the limits, but that it is non-intuitive how to do so ?

[2022-10-17 12:39] Carreau commented on #5206
May I suggest we fold napari-console plugin back into napari itself? It does not seem to see many activities, and the problem we have with deprecation, and old version seem to overweight the cost of having it as a separate repo/separate plugin.

[2022-10-17 13:06] psobolewskiPhD commented on #5228
To clarify: what @haesleinhuepf shows is trying to set the contrast limit to a negative value, while the contrast limit range is still limited to positive values (see zero on the far left). Setting the range value to negative first and then the actual contrast limit does work.
But changing the contrast limit should reset the range. So the bug is that changing the contrast limit doesn't also reset

[2022-10-17 13:34] Carreau commented on #5228
Yes, those are both things I said in my comment.

IMHO we can't have/shouldn't not have setting the `contrast_limits` propagate to `contrast_limits_range`, that seem like a recipe for a disaster.

At least my understanding is that `contrast_limits_range` is a bound for `contrast_limits`, so if the bounds are not enforced they are not bounds.

This show that if `contrast_limits_range` shrinks, `con

[2022-10-17 14:29] psobolewskiPhD commented on #5228
contrast_limits are the limits of what is displayed in the canvas.
contrast_limits_range are the limits of the slider, within which one can change the limits. So yes, in a sense it is a boundary, but for the slider behavior. If the user wants to change the limits outside this boundary by typing numbers, it should be possible and the boundary should be reset, such that further slider manipulation i

[2022-10-17 15:57] isabela-pf commented on #4952
I ended up getting responses to my last questions in meeting, so here are the notes and responses I'm making mockups off now.

| Question | Response | Impact on UX mockups |
| -- | -- | -- |
| 1. Am I missing any other major actions the installation manager needs to include? | - create is the only command that is installation manager only; - install is NOT on the installation manager; - term may b

[2022-10-17 16:02] andy-sweet commented on #5231
I cannot reproduce on an Intel mac with macOS 12.6. I don't have `mamba`, but I believe this `conda` command should be the equivalent.

[code]

That creates an environment with `napari==0.4.16`, `pyside2==5.15.6`, and `vispy==0.10.0` (see [the full env](https://gist.github.com/andy-sweet/567e6294557f4f3463f700dfce023cc1) for more details).

After activating the environment, I am then able to open

[2022-10-17 16:05] kcpevey commented on #5194
@andy-sweet I'm wondering if your recent work on time_set_view_slice may have affected this. Not sure if it will ultimately matter since that will all be reworked soon?

Separately, I need to check to see if the speedups would trigger a failure since they are being reported as well.

Qt benchmarks report:
[code]

[2022-10-17 16:10] psobolewskiPhD commented on #5231
Thanks @andy-sweet so it seems it's a arm64 issue, interesting.
(Also get mamba 🤣)
I set up macOS pyside2 CI on my fork and it's fine, but a pip install and older (I think?) `PySide2==5.15.2.1`. Still, it that supports the notion that it's a arm64 issue.
https://github.com/psobolewskiPhD/napari/actions/runs/3266662171/jobs/5370721559

Edit: I don't understand the pyside2 versioning... 5.15.1.2 see

[2022-10-17 16:16] andy-sweet commented on #5194
@kcpevey : do you mean #5003? Agreed that definitely looks the most likely culprit in the last week. These checks run once a week right?

Is there a command I can run on my machine to compare that commit against the previous one?

[2022-10-17 16:19] andy-sweet commented on #5194
Looks like the base here (36c94477) is from 2022/05/31 - am I reading that right? If that's true, our list of potential culprits will probably grow quite a bit!

[2022-10-17 16:31] kcpevey commented on #5194
You can run a manual dispatch comparing two commits. Go to the Action page for the Benchmark and select `Run workflow`. You'll get a popup with spaces from the commits hashes. https://github.com/napari/napari/actions/workflows/benchmarks.yml

This particular check is from the weekly schedule (every sunday). You can also run manually, as mentioned, or by adding the `run-benchmarks` label to a PR.

[2022-10-17 17:36] kcpevey commented on #5194
Also, to not be misleading. This is the report for the non-Qt benchmarks:
[code]

[2022-10-17 17:47] andy-sweet commented on #5194
Thanks for the info. I was looking for something more like a `git bisect` that I could run with one fast benchmark on my local machine, so I could more easily pinpoint the commit that may have caused the regression. I think [asv find](https://asv.readthedocs.io/en/stable/commands.html#asv-find) sounds promising, so I temporarily edited `QtViewerImageSuite.params` to be `[16]` and ran

[code]

That

[2022-10-17 18:00] liu-ziyang commented on #4925
@andy-sweet now that we are in the implementation phase, do you think there is still value in investing more here? I felt we have a good idea on the shapes layer with the existing branch, and can continue implementation from there instead of spending more time on adding it to the prototype

[2022-10-17 18:19] liu-ziyang opened #5236 "Use layer slicer in viewer model"
# Description

The [accepted design for async slicing](https://napari.org/dev/naps/4-async-slicing.html?highlight=naps#detailed-description) defines a `LayerSlicer` class that the `ViewerModel` uses to slice layers.

The task here is, given an existing implementation of `LayerSlicer`, use it in `ViewerModel` to perform slicing. This should work by making the relevant connections from things like `

[2022-10-17 18:20] #4925 closed, assigned to kephale

[2022-10-17 20:50] sunglyoungKim opened #5238 "Napari can't open an image"
## 🐛 Bug

I have ubuntu 22.04 with AMD RX6900XT with Rocm 5.3

I have installed napari in a conda environment by following

conda install -c conda-forge napari

When I run napari I see this error,

WARNING: Warning: Ignoring XDG_SESSION_TYPE=wayland on Gnome. Use QT_QPA_PLATFORM=wayland to run on Wayland anyway.
16:47:13 WARNING Warning: Ignoring XDG_SESSION_TYPE=wayland on Gnome. Use QT_QPA_PLATF

[2022-10-18 00:10] jni commented on #5217
@Czaki sorry can you clarify: are you saying that PySide6 monkey-patches the Python built-in module `enum`??? And if so, is that not reason enough to never use PySide6??? (And/or ask them to stop doing this???)

Anyway, I like approach 1 better as it seems much simpler.

[2022-10-18 00:10] jni commented on #5217
(But next to the import there should be a big comment explaining the situation.)

[2022-10-18 03:53] lucyleeow opened #5241 "DOC Transfer doc issues to `napari/docs`"
## 📚 Documentation

With https://github.com/napari/napari/pull/5216/https://github.com/napari/napari/issues/4306 relevant doc issues should be transfered to `napari/docs`.

Note not all doc issues should be moved over:

Also note that this can only be done with someone with the right permissions in `napari/napari` and `napari/docs`. How to transfer: https://docs.github.com/en/issues/tracking-your-

[2022-10-18 08:11] Czaki commented on #5217
Yes:

[code]

[code]

It looks like it affects python bellow 3.10, so we could add conditional dependency based on the python version.

Here report in their bug tracker: https://bugreports.qt.io/browse/PYSIDE-2063?jql=project%20%3D%20PYSIDE%20AND%20text%20~%20enum

Some person test only on python 3.10 and close...

[2022-10-18 08:55] Carreau commented on #5241
I've create the `documentation-migrate-do-docs` label, reason being that I can tag issue with this label, but don't have enough permissions to migrate. Devs in the same category as me can thus tag issues, and a core dev can just look at all of those tagged issues and migrate them.

[2022-10-18 09:43] psobolewskiPhD commented on #5231
SO the pyside2 conda-forge install arm64 macOS 12.6 does work, I can run the tetra example:
<img width="662" alt="image" src="https://user-images.githubusercontent.com/76622105/196396083-35624f8b-41b9-46a9-bdb2-74b22a897c5d.png">

[2022-10-18 09:50] Czaki commented on #5231
But your problem is connected with opengl support in this build. It may happen that PySide2 is build without proper opengl support and all non opengl examples will work.

[2022-10-18 10:14] psobolewskiPhD commented on #5231
After adding `pyopengl` to the `pyside2` env, the OpenGL example also works:
https://github.com/pyside/pyside2-setup/blob/5.15/examples/opengl/hellogl.py
<img width="660" alt="image" src="https://user-images.githubusercontent.com/76622105/196402906-ea9cfc6a-4a8a-45c0-a771-5768b8026abb.png">

[2022-10-18 10:35] Czaki commented on #5217
Current state:
"It is not a bug, it is a feature."

[2022-10-18 10:36] Czaki commented on #5231
But this is PySide2=5.12.6 not Pyside2=5.15.6?

[2022-10-18 10:42] psobolewskiPhD commented on #5231
It's Pyside2 5.15.6, the older versions are not available on conda-forge for arm64:
[code]

Edit: I checked it happens with pyside2 = 5.15.5 also.

[2022-10-18 10:52] Czaki commented on #5231
core bug looks like a bug in pyside6 as a class is documented: https://doc.qt.io/qtforpython/PySide6/QtOpenGLWidgets/QOpenGLWidget.html#PySide6.QtOpenGLWidgets.PySide6.QtOpenGLWidgets.QOpenGLWidget.defaultFramebufferObject

I will try to create simple code for test it and if it will reproduce on You machine then will be case to open issue on Qt bug tracker

[2022-10-18 10:53] psobolewskiPhD commented on #5231
But this is pyside2? (I have a different issue with pyside6 and vispy: https://github.com/vispy/vispy/issues/2407 )

[2022-10-18 10:58] Czaki commented on #5231
You ar right. But when reading current code I do not understand what happens with Pyside2. I will add some debug code at evening.

[2022-10-18 11:57] brisvag opened #5242 "setting `properties` at a specific index is broken"
## 🐛 Bug

Bug was [pointed out on imagesc](https://forum.image.sc/t/cannot-assign-value-to-the-name-property-of-the-point-layer/72878/2). It seems to be an issue arised after the migration to `features`.

## To Reproduce

[code]

however, this works:
[code]

cc @andy-sweet

[2022-10-18 14:49] andy-sweet commented on #5242
Unfortunately, this is expected and not easily fixable since `Points.properties` returns a `dict` whereas (right now) we're actually storing the properties/features as a pandas `DataFrame` (though that could change in the future).

The main problem here is that the properties redesign work is unfinished. The remaining work is fairly well defined in the [public project](https://github.com/napari/na

[2022-10-18 15:18] Czaki commented on #5231
@psobolewskiPhD
could you run this code (from script) and paste output

[code]

[2022-10-18 15:37] MartinK84 opened #5243 "Multiple napari instances with magicgui widget"
## 🐛 Bug

It appears that during a single python session the same magicgui widget can only be used once by napari when adding it via ```add_dock_widget()```. If you close napari and readd the widget in another napari instance an error is thrown:

## To Reproduce

Steps to reproduce the behavior:

1. create a napari viewer and add a magicgui widget using ```add_dock_widget()```
2. close napari
3. c

[2022-10-18 16:06] Czaki commented on #5243
This is a bug in magicgui as such a widget should be recreated. Without manual undocking, it Qt will remove Qt children.

[2022-10-18 16:14] MartinK84 commented on #5243
Does napari support adding an event/callback that is called when napari is closed? For some cases as in #4377 it might work to have an event fired when napari is closed to then programmatically undock the widget.

[2022-10-18 16:26] Czaki commented on #5243
If I correctly remember, there is no such event.

[2022-10-18 17:30] psobolewskiPhD commented on #5231
Here's my regular pyqt env:
[code]
and the env with `"napari=*=*pyside2*"`
[code]

[2022-10-18 17:56] #5200 closed, assigned to nobody

[2022-10-18 22:53] isabela-pf commented on #4952
Hooray! I have a first round of ideas for the installation manager, and feedback is much needed. It would be especially helpful to hear your thoughts on
- UI language/how features are described.
- What information is listed, especially if anything is missing.
- Whether a status like “active” to indicate an install in use makes sense or is helpful.
- If there a preferred way to list packages? I imi

[2022-10-18 22:53] isabela-pf commented on #4952
When working on this round, I realized I had some UX questions to sort out as well. Below are two major questions I had with possible user flows as examples. Please let me know which ones make the most sense to you.

## Opening bundled app installs

Key question: When a user opens a bundled app of napari, what happens?

### Option 1
1. Open “napari” from relevant OS menu.
2. The last-used version

[2022-10-18 23:01] jni commented on #5238
Sorry @sunglyoungKim, this looks both OS *and* graphics card specific, so it's going to be hard for us to debug beyond what else you find on the internet. (A quick search confirms this.)

By the way, can you type `napari --info` and show us the printout? It would be good to know what napari version you got. Sometimes you can get an old version, and then you won't be able to get the latest fixes. C

[2022-10-19 09:04] brisvag commented on #5242
Reasonable! As long as we effectively points users towards using features, it's good :)

[2022-10-19 13:06] psobolewskiPhD commented on #4891
Thanks for the script @jaimergp ! That's awesome, did't realize that this could be tested like that. I got a `jq` error, but rolled my own more primitive version with `| grep 'napari-0.4\|vispy'` instead of the `jq` line.
Here's using vanilla conda solver and
`conda create -n napari-clean -c conda-forge python=3.9 napari`
[code]
(I get the same results with create, activate, install pattern as wel

[2022-10-19 13:06] #4891 closed, assigned to jaimergp

[2022-10-19 13:10] sunglyoungKim commented on #5238
@jni

I have installed the specific version of napari with a new environment on conda.

It works!

Thank you

[2022-10-19 13:10] #5238 closed, assigned to nobody

[2022-10-19 13:12] psobolewskiPhD commented on #5207
Please see testing in the original issue:
https://github.com/napari/napari/issues/4891#issuecomment-1283985799
Using vanilla conda solver now properly installs 0.4.16 from conda-forge with proper vispy.
If 0.4.15 is specified, the vispy also matches.

[2022-10-19 13:12] #5207 closed, assigned to nobody

[2022-10-19 13:18] psobolewskiPhD commented on #4415
@haesleinhuepf
Using conda-forge channel, conda will now properly install napari 0.4.16 with vispy 0.10.0 and napari 0.4.15 with vispy 0.9.6. See testing here:
https://github.com/napari/napari/issues/4891#issuecomment-1283985799
This should also resolve your `devbio-napari` issue where I believe you are using napari 0.4.15.

[2022-10-19 13:18] #4415 closed, assigned to nobody

[2022-10-19 13:38] haesleinhuepf commented on #4415
No, we're pinning 0.4.15 because of the broken Tools menu in 0.4.16, see:
https://github.com/napari/napari/issues/4708

[2022-10-19 13:43] psobolewskiPhD commented on #4415
Right, but what I mean is that 0.4.15 will properly pull 0.9.6 vispy now, because the previous releases on conda-forge have been patched, so can avert any install issues.

[2022-10-19 14:21] #5194 closed, assigned to andy-sweet

[2022-10-19 16:34] jaimergp commented on #4952
I **LOVE** the Preferences-based style!

[2022-10-19 17:12] #5199 closed, assigned to perlman

[2022-10-19 18:25] andy-sweet commented on #5231
I guess these statements above target the `vispy/app/backends/_qt.py` module? Specifically, the [conditional block associated with pyside2](https://github.com/vispy/vispy/blob/v0.10.0/vispy/app/backends/_qt.py#L125)

Based on the results of @psobolewskiPhD's print statements, I'm don't follow what's going wrong. I can only assume that there's an issue with the definition of `PySide2.QtWidgets.QOpe

[2022-10-19 18:30] Czaki commented on #5231
yes, the problem is that `PySide2.QtWidgets.QOpenGLWidget` does not have `defaultFramebufferObject` when it is required for `Qt >= 5.4.0`

[2022-10-19 18:31] psobolewskiPhD commented on #5231
But apparently just on arm64? Because @andy-sweet has no issues with pyside2 5.15.6 on x86?

[2022-10-19 18:52] psobolewskiPhD commented on #2101
@brisvag is this still an issue? Both snippets in the OP are perfectly performant for me at different zoom and whatnot.
Same with the snippet from here: https://github.com/napari/napari/issues/2101#issuecomment-759700505

[2022-10-19 18:57] psobolewskiPhD commented on #687
The original issue is solved:
<img width="1136" alt="Pasted Graphic" src="https://user-images.githubusercontent.com/76622105/196779729-e359c1b1-9ccb-4db1-a8d7-866a6c649bdd.png">

@jni at present the console still launches when napari is launched from jupyter but it is empty. I've made a PR to disable the button, same as for ipython:
https://github.com/napari/napari/pull/5213
Is that sufficient to

[2022-10-19 18:59] andy-sweet commented on #5231
Yeah, if I do `from PySide2.QtWidgets import QOpenGLWidget` in the environment I created above and inspect the attributes of `QOpenGLWidget`, I see `defaultFramebufferObject` among many other things. Let me see if I can use someone's ARM mac to dive a little deeper.

[2022-10-19 19:03] psobolewskiPhD commented on #5231
If you have some ideas, can jump on a call/island whatever and screenshare.

[2022-10-19 19:07] psobolewskiPhD commented on #2133
@Carreau I'm not getting an error using the instructions from the OP. Instead `exit()` is just ignored:
<img width="1214" alt="image" src="https://user-images.githubusercontent.com/76622105/196781619-79a671d5-c96e-4751-aca5-fb0145ead30e.png">

I'm not sure what the expected behavior should be, so I'm sort of OK with ignoring it? I'd rather it not kill the console so it can't be reopened and for su

[2022-10-19 19:19] psobolewskiPhD commented on #2714
@Carreau @jni
the keybinds have changed a lot since this, but also the press-hold behavior has been changed: https://github.com/napari/napari/pull/4814
I can't replicate the issue with the new keybind system. Can y'all check if it's still an issue on your end?

[2022-10-19 19:25] psobolewskiPhD commented on #3287
I think so. The color picker also uses a crosshair now—loupe mode would be cool, but not sure it's really needed?— nd sm. brush is crosshair.

[2022-10-19 19:26] psobolewskiPhD commented on #3603
@alisterburt I think https://github.com/napari/napari/pull/5086 has added exactly this, for example the brush size keybinds. Can we close this?

[2022-10-19 19:37] psobolewskiPhD commented on #2015
@wooahn I've updated your snippet from the OP:
[code]
With n_circles = 5000 and 15000—the later takes a bit to launch—I don't see any issues with the UI responsiveness. Just that making the layer takes a bit of time (~40s for 15k circles). With 15k circles selecting a specific one is tricky, but seems responsive and fine to me.
Perhaps this has been solved by https://github.com/napari/napari/pull/

[2022-10-19 19:51] Czaki commented on #5231
official statement from qt side is that PySide2 may not work on Apple Silicon https://www.qt.io/blog/qt-on-apple-silicon

I try to inspect PySide2 code but do not find any obvious. It looks like it may require check Qt code itself, so I instead focus on finding why conda selects PySide2 instead of PyQt5 .

[2022-10-19 20:01] psobolewskiPhD commented on #5231
I'm fine with blocking pyside2 on M1. I got the napari+pyside2 conda-forge combo when using
(minus the dry run)
`╰─ mamba create -n napari-clean -c conda-forge python=3.9 stardist-napari --dry-run`
<details>

[code]
</details>

Interestingly  the vanilla conda solver gives pyqt:
`╰─ conda  create -n napari-clean -c conda-forge python=3.9 stardist-napari --dry-run`

<details>

[code]

</details>

[2022-10-19 20:11] psobolewskiPhD commented on #2800
@haesleinhuepf
the keybinds have changed a lot since this, particularly with https://github.com/napari/napari/pull/3072 but also the press-hold behavior has been changed: https://github.com/napari/napari/pull/4814
And there is also the possibility to make secondary keybindings: https://github.com/napari/napari/pull/5018
Do you think this is still an issue?

[2022-10-19 20:31] psobolewskiPhD commented on #2799
Running this from ipython (and changing to 1, because `d` is not longer bound) I do get a warning:
`ValueError: key combination 1 already used! specify 'overwrite=True' to bypass this check`
But from a script it's silent.
Can we print the warning from script too?

[2022-10-19 21:00] alisterburt commented on #3603
absolutely! Thanks @psobolewskiPhD

[2022-10-19 21:00] #3603 closed, assigned to nobody

[2022-10-20 05:28] haesleinhuepf opened #5247 "Scroll bar in Widget panel"
## 🚀 Feature
If there are too many widgets open, show a scroll bar so that one can work with all

## Motivation

Users with small laptop screens often have the issue that 2-3 plugin widgets are already too much for the widget panel on the right of the napari main window. A course attendee proposed a scroll bar to solve that problem.

## Pitch

Put scroll bars in the panels where napari plugins can

[2022-10-20 07:08] Carreau commented on #2133
Yeah, it does not crash anymore. The question is 1) should it just do nothing, or print a warning ? "hey we think this is a mistake, you might not be trying to exit napari". I remove the "bug" and happy to get it closed.

[2022-10-20 07:36] brisvag commented on #2101
@psobolewskiPhD unfortunately this is still a problem. The only reason you think it's solved is because you're on a mac, which has a crazy low maximum size for gl points :P vispy/vispy#2078.

This means that to you the point size is capped to small enough that the number of fragments to render does not throttle your GPU. On my machine, every one of those 10000 points takes up the whole canvas, so

[2022-10-20 08:02] psobolewskiPhD commented on #2101
But isn't the OP testing default size of 10? shouldn't that be the same?

[2022-10-20 08:08] psobolewskiPhD commented on #2133
Hmm, that's a very good question.
I guess I can see a user using the console and hoping to use a text command to quit/close napari, despite the presence of shortcuts for that, so such a warning makes sense. Alternately, it could be the user wants to close the console...
I think I'd vote to close this and make that a new issue—should it be in the napari-console repo?—because the bug is solved and i

[2022-10-20 08:16] jaimergp commented on #4952
More thoughts now that I have some time :)

* I am definitely more inclined to the Preferences-based style.
  * The "Open in Plugin Manager" button makes me very happy :) It makes a lot of sense!
  * What does the "Active" checkmark mean next to `napari v0.4.16`. That it's running? Or that is the default version?
  * I don't know if the installation manager needs an "Update On Quit" button, since

[2022-10-20 08:39] Czaki commented on #2133
the default call `exit()` is raising `SystemExit` exception.

(This is a technical comment).

[2022-10-20 09:22] brisvag commented on #2101
If size is 10 but the points coordinates are all between 0 and 1, the extents of the layer are much smaller than the size of the points. So when the viewer resets the view, it checks for the world extents, finds `(0, 1)` and sets the camera to cover that view.

Remember that the `size` of points is defined in *data* space (i.e: world pixels).

[2022-10-20 12:52] brisvag opened #5250 "screenshot breaks due to `float` canvas size"
This is caused by a new argument in `v0.4.17` called `size=` that lets setting a specific size to the screenshot. I'm sure it used to work, but now this fails:

[code]

with the following error:

[code]

[2022-10-20 12:53] brisvag commented on #5250
@andy-sweet I added the v0.4.17 milestone, I don't think we want to add a new broken argument :P

[2022-10-20 18:52] psobolewskiPhD commented on #1085
@sofroniewn @kevinyamauchi
Is this still an issue? Using the instructions in OP, I get 2 of the `+` turning blue. If I modify to `viewer.layers[-1].selected_data = [0, 1, 2]` then all three turn blue.

[2022-10-20 19:48] psobolewskiPhD commented on #1724
@jni I can't reproduce this on my arm64 macOS12.6—the example is gone, so I just used the binary blobs 3D. Is this still an issue?

[2022-10-20 20:12] kephale commented on #5169
@JoOkuma Can you link me to your graph layer implementation? It would be great to make sure the updates to the `Points` layer works with your layer.

Aha, @andy-sweet linked me to https://github.com/napari/napari-graph/pull/1 I'll check it out!

[2022-10-20 23:46] JoOkuma commented on #5169
Hi, [this is the branch ](https://github.com/JoOkuma/napari/tree/graph-layer)
Thanks!

[2022-10-21 12:57] haesleinhuepf opened #5253 ""Show only this layer" menu / double-click action"
## 🚀 Feature
If you have many layers open, it would be convienient if here was a menu such as "Show only this layer, hide all others"

## Motivation

For showing just one layer, it is complicated because you need to hide many other layers.

## Pitch

To spare time of users, it would be great if some convenience menus for this existed.

## Alternatives

The course attendee who reported that also pr

[2022-10-21 13:02] Chris-N-K opened #5254 "Add the `napari.layers.utils._link_layers.get_linked_layers` function as method to the Layer class"
## 🚀 Feature
I would like to suggest to add access to the utility function `get_linked_layers` as a method to the Layer class.

## Motivation
At the moment one has to call the function to access linked layers by:
[code]
The ability to directly access the linked layers through a layer centred path might be more user friendly.

## Pitch
With the courtesy of @tlambert03 :
[code]
This approach places

[2022-10-21 13:08] psobolewskiPhD commented on #5253
I agree, I think a `Hide other layers` contextual would be nice. Could maybe register it for a keybind. I can try to make such a PR, it's been on my list of things.
I'm not sure I like the double-click option, because that's an easy mess-up. Plus, i frequently click repeatedly on the Visibility toggle to flip it on and off to compare something....

@haesleinhuepf a workaround: if you're in the lay

[2022-10-21 15:59] Czaki commented on #5217
Next update:

https://codereview.qt-project.org/c/pyside/pyside-setup/+/439654

It looks like it will be solved, but I would like to highlight this part of message:

tampering, but the user complaints will hopefully go away now.

[2022-10-21 17:02] yunhal opened #5256 "scale parameter doesn't work when applying by array indexing"
## 🐛 Bug

Scale parameter works fine when doing this way : layer.scale = [-1, 1]
However, it doesn't work when appyling by this: layer.scale[-2] = -1. The same problem happens for n-D images.

## To Reproduce

[code]

When executing the code above, I got this:
![image](https://user-images.githubusercontent.com/28872346/197249300-763074f5-6a44-4c73-95d2-8a56519cc50b.png)

I can flip the image (upsi

[2022-10-21 18:11] andy-sweet opened #5257 "Multi-scale images with negative floating values cannot be added"
## 🐛 Bug

If you have multi-scale image data that has a floating-point dtype (e.g. `np.float64`) and has negative values, then try to add that as a multi-scale image to napari, you will see an error related to contrast limits.

[code]

Credit to @Czaki for [the bug discovery in #5245](https://github.com/napari/napari/pull/5245#issuecomment-1284263313).

## To Reproduce

Running the following examp

[2022-10-21 18:29] MartinK84 commented on #5243
You are correct that this is apparently a magicgui problem,
I tried running the following code using a simple QtWidget instead and the problem does not occur.
[code]

[2022-10-21 18:37] Czaki commented on #5243
Your code is not equivalent. The magicgui equivalent code will look like this:

[code]

and will not crash.

[2022-10-21 19:05] MartinK84 commented on #5243
I'm not so deep into magicgui that I fully understand the difference (except that the decorator somehow breaks).
Nevertheless, your code seems to work, thank you for that!

If you want you can close the issue unless you think the @magicgui decorator thing should be fixed in the future.

[2022-10-21 19:41] Czaki commented on #5243
The core problem with magicgui is that it creates a widget when `@magicgui` is called, not when docking.

The best code for you will be:

[code]

[2022-10-22 14:59] tlambert03 commented on #5260
hi @VolkerH, this is a napari issue, not a magicgui issue.

Widgets inherit the stylesheet of their parent. So, when you dock a magicgui widget in a napari viewer, it assumes all of the styles defined in https://github.com/napari/napari/tree/main/napari/_qt/qt_resources/styles

without napari, this is what a disabled button looks like in magicgui:
<img width="284" alt="Screen Shot 2022-10-22 at 10

[2022-10-22 19:17] haesleinhuepf opened #5261 "Support `color` parameter of Labels layers also for Surface layers"
## 🚀 Feature

It would be great if we could apply custom color(map)s to surface layers as one can with Labels layers.

## Motivation

We're working on classifying vertices, e.g. using unsupervised machine learning.
* https://github.com/BiAPoL/napari-clusters-plotter/pull/139

When creating a labels layer, one can call this:
[code]

With surface layers, this `color` parameter does not work unfortun

[2022-10-22 19:25] MartinK84 commented on #5243
Yes, both this way and using pure pyqt5 and QWidget do work and will not crash when napari is repeatedly opened.

[2022-10-22 19:25] #5243 closed, assigned to nobody

[2022-10-23 02:05] jni commented on #5256
Hmmm. Thanks for the report @yunhal! There's actually multiple layers of things going wrong here, some of which definitely need fixing.

The first thing is that `layer.scale` is Just A NumPy Array, which means that we really have no way of knowing whether something has changed within it. It's the same as with your data — if you did `layer.data[50, 50] = 100`, the napari display wouldn't change, be

[2022-10-23 02:33] jni commented on #5256
Ok here's the issue:

https://github.com/napari/napari/blob/16a133df6c5e328019192f89d8e1725d0b956619/napari/utils/transforms/transforms.py#L715-L724

The `.scale` attribute on a layer resolves to the `.scale` attribute in a `CompositeAffine` transform which has separated scale, translate, rotation, and shear parameters. The problem is that the transform doesn't use that array directly — it uses `s

[2022-10-23 07:50] github-actions[bot] opened #5263 "[test-bot] Benchmark tests failing"
The Benchmarks workflow failed on 2025-06-01 09:01 UTC

The most recent failing test was on ubuntu-latest py3.9 non-Qt
with commit: 831b91b9689d7445f4a53ea2d6f4f57b23f209b4

Full run: https://github.com/napari/napari/actions/runs/15371824535

(This post will be updated if another test fails, as long as this issue remains open.)

[2022-10-23 15:26] psobolewskiPhD commented on #1543
@sofroniewn
Split Stack and Merge Stack are both available in the layer contextual menu.
https://github.com/napari/napari/pull/2556
Does that resolve this issue?

[2022-10-23 16:10] psobolewskiPhD commented on #3133
This open—but finished? PR—should close this:
https://github.com/napari/napari/pull/5021

[2022-10-23 16:25] psobolewskiPhD commented on #3338
Bump. this is still an issue, but I want to note that when using the stock REPL, one can keep entering commands in that window and they interact with napari. It works just like ipython/jupyter as far as I can tell—but not as nice obviously. For those two cases, we block the console from opening. Should we just do that for the stock REPL?
Would prevent this bug from triggering and make it more cons

[2022-10-23 18:22] psobolewskiPhD commented on #4089
I think this is an important feature request, but it's a duplicate of:
https://github.com/napari/napari/issues/1726
https://github.com/napari/napari/issues/1887
I'll add high-priority to the latter—can we close this?

[2022-10-23 18:34] psobolewskiPhD commented on #4302
This is no longer the case. The changes to docs building have propagated:
<img width="1202" alt="image" src="https://user-images.githubusercontent.com/76622105/197409576-d0443f8b-7049-4181-a759-87cbc0f85778.png">

[2022-10-23 18:34] #4302 closed, assigned to nobody

[2022-10-23 20:03] psobolewskiPhD commented on #4693
https://github.com/napari/napari/pull/4928 has been merged, can we close this @jni?

[2022-10-23 20:14] psobolewskiPhD commented on #4853
For me macOS 12.6 Safari 16 this works.
https://napari.org/stable/usage.html
goes to 0.4.16 (Stable)
@melissawm can we close this?

[2022-10-23 21:04] psobolewskiPhD commented on #5206
@haesleinhuepf can you try a fresh conda env and use `conda-forge` channel for the install—is this still an issue on Windows?

[2022-10-23 21:22] haesleinhuepf commented on #5206
In a fresh install it works. I'm just wondering how these things can happen. I see similar issues quite frequently. I will keep reporting if you don't mind

[2022-10-23 21:35] Czaki commented on #5206
it is possible that in this environment are mixed calls of pip and conda for installation?

[2022-10-23 21:39] psobolewskiPhD commented on #5206
Other possibility is not remembering `-c conda-forge`—pretty sure it's not the default with anaconda, as the env in OP appears to be?

[2022-10-23 21:45] haesleinhuepf commented on #5206
Definitely, yes. It's unavoidable in practice unfortunately. One of the last things I did before the console broke was pip-installing napari 0.4.17rc4. That's why I reported it.

[2022-10-23 22:05] Czaki commented on #5206
It looks like there is a need for tools like pamba or some other way to solve the problem of installing from pip things that are available in conda. Bugs caused by mixing pip and conda are the reason for avoiding conda usage if possible and often recreating conda env if it is not possible :(.

[2022-10-23 22:37] jni commented on #4693
There's still some decisions to make that are effectively being tracked by this issue:

- Do we deprecate the `view_` functions?
- Do we add `ptshow` and similar?

I think yes to deprecating the `view_` functions (and we close this after the deprecations are added), no (for now) to the non-image `show` functions. (And we open a new issue if people love `imshow` so much that they miss the sister fu

[2022-10-23 22:52] Czaki commented on #4323
Its even deals with units, but units could be set only using the console.

[2022-10-23 23:16] hanjinliu commented on #4089
agree.

[2022-10-24 04:22] jni commented on #4323
@Czaki it doesn't "deal with units", it lets you set text to "simulate" units. imho dealing with units would involve the scale bar switching from 100µm to 1mm if you zoom out 10x. This is currently not something we support — it'll say 1000µm.

[2022-10-24 05:47] haesleinhuepf commented on #5206
Note that some people believe avoiding pip is the solution.

[2022-10-24 06:42] Czaki commented on #4323
It switch. I use it. Did I need to add wideo  showing it?

[2022-10-24 07:00] jni commented on #4323
What! No you need to remind me which PR made it happen! 😂

[2022-10-24 07:03] Czaki commented on #4323
I don't know. I just set units via console and see it is working as expected.

[2022-10-24 07:16] Czaki commented on #4323
here wideo:

https://user-images.githubusercontent.com/3826210/197468891-cf063c30-2987-45d3-8d7e-5ca01adce492.mp4

[2022-10-24 13:24] wahabk commented on #4377
I think a much more elegant fix is this one [5243](https://github.com/napari/napari/issues/5243)

[2022-10-24 13:25] tlambert03 commented on #5243
... (or use `magic_factory`)

[2022-10-24 13:27] Czaki commented on #5243
Maybe, but magicgui docs does not provide any information about magic_factory

https://napari.org/magicgui/search.html?q=magic_factory

[2022-10-24 13:29] tlambert03 commented on #5243
🙄... ok, well let's add it to the docs then, it doesn't make it a "maybe" though.  It's a first class use case that is discussed in the napari docs: https://napari.org/stable/guides/magicgui.html#magic-factory

[2022-10-24 13:33] Czaki commented on #5243
Nice to know. For a long time, I do not visit this part of the docs, and when trying to respond on questions I prefer to suggest methods that are documented.

And I check only magicgui docs.

[2022-10-24 14:53] andy-sweet commented on #5256
@jni: I think that sounds reasonable for a short term fix.

Also agreed that the longer term fix here may be to use custom objects to store the scale (and other) values, so that users don't need to manually call `self.events.scale()`.

@yunhal: thanks for writing up the issue!

[2022-10-24 14:59] #5250 closed, assigned to nobody

[2022-10-24 19:59] #5257 closed, assigned to andy-sweet

[2022-10-24 22:09] isabela-pf commented on #3287
I agree this has been solved in one of the listed options, so I think it can be closed. If we find the core problem of a small or imprecise cursor persists, we can always reopen this issue.

[2022-10-25 12:10] github-actions[bot] opened #5265 "[test-bot] pip install --pre is failing"
The --pre Test workflow failed on 2022-10-27 12:27 UTC

The most recent failing test was on macos-latest py3.9 pyside2
with commit: 6ba16c1af85ebb395633f6f18924599822a961e0

Full run: https://github.com/napari/napari/actions/runs/3337234650

(This post will be updated if another test fails, as long as this issue remains open.)

[2022-10-25 12:16] kevinyamauchi commented on #5265
Weird, we are seeing this in napari-threedee as well. It looks like [`py`](https://pypi.org/project/py/) is somehow not being installed? I tried adding it to the dependencies explicitly and that allowed the tests to pass, but there was an X11 error

[2022-10-25 12:16] kevinyamauchi commented on #5265
Hmm pytest just released a new version (`7.2.0` today): https://pypi.org/project/pytest/#history

I will test pinning the pytest version and report back.

[2022-10-25 12:24] kevinyamauchi commented on #5265
I re-ran the `napari-threedee` CI with `pytest 7.1.3` and the tests now run and pass, but there's an X11 error (below). I'm not sure what it means though...

https://github.com/napari-threedee/napari-threedee/actions/runs/3320817650/jobs/5487651655

[code]

[2022-10-25 13:01] Czaki commented on #5265
@kevinyamauchi Te error that you observe is connected with using pytest-xvfb.
This error is exactly reason why we switch from pytest-xfvb to GabrielBB/xvfb-action@v1 in napari.

 https://github.com/napari/napari/blob/5cfcc38c0a313f42cc8b0f82ac3db945874ae362/.github/workflows/test_pull_requests.yml#L171

could You make a PR with block of pytest 7.2.0 in napari tests?

[2022-10-25 14:38] psobolewskiPhD commented on #3880
I can confirm this on rc4, python 3.10, pyqt6 6.3.1 arm64 macOS 12.6
`jupyter qtconsole`
then launch napari `viewer = napari.Viewer()`
and then it's sufficient to click back to the console for the viewer to disappear.
This only happens when launching from `jupyter qtconsole` or jupyter notebook (VS Code) using ipython instead is fine.

[2022-10-25 16:33] Czaki commented on #5265
Pytest is no longer defending on py library

https://docs.pytest.org/en/stable/changelog.html

There is a new release of pytest-qt so tests should works now.

[2022-10-25 16:50] Tomaubier commented on #3880
That's weird, both VS Code and Atom Hydrogen show the same issue as `jupyter console` for me..

[2022-10-25 18:53] kevinyamauchi commented on #5265
Okay, so sounds like we don't need to exclude pytest 7.2.0?

[2022-10-25 21:22] Czaki commented on #5265
I just ran this workflow again. Let's wait on the result.

[2022-10-25 21:50] Czaki commented on #5265
it may still be required as bug in `pytest-metadata` required by `pytest-json-report`

[2022-10-25 22:06] Czaki commented on #5265
https://github.com/pytest-dev/pytest-metadata/issues/54

[2022-10-25 23:13] Czaki commented on #5265
the py problem is soved, but there is some problem with a new release of Pint (0.20) on macOS.

[2022-10-26 08:24] Czaki commented on #5265
I have opened Issue in Pint:

https://github.com/hgrecco/pint/issues/1634

[2022-10-26 12:04] melissawm commented on #4853
Yes, thanks for pinging!

[2022-10-26 12:04] #4853 closed, assigned to nobody

[2022-10-26 12:33] s-m-e commented on #710
Sry for the late reply - just scrubbed through a compressed on-disk `zarr` array, 700G uncompressed, 54G compressed, using `napari` 0.4.16, `zarr` 2.13.3, `numcodecs` 0.10.2, `numpy` 1.23.4. It works just fine, `napari` shows up near instantaneous, memory usage of the Python process (3.10, conda-forge, on Ubuntu 22.04 LTS) never exceeding 500M (11G virtual). I guess this issue can be closed. Thank

[2022-10-26 12:33] #710 closed, assigned to nobody

[2022-10-26 15:02] isabela-pf commented on #4952
But wait, there’s more! Between [the bundled app/packaging working group meeting](https://hackmd.io/DRj2p6v2SCWhuW1wuyqxOw) and the feedback in comments above (thank you, @jaimergp!), here are changes made in this round of mockups.

- Remove the environment name section. There can only be one install per version, so the napari version alone is sufficient to tell the installations apart.
- Remove t

[2022-10-26 19:48] psobolewskiPhD commented on #3880
Maybe I wasn't clear, but I got the bug in:
jupyter console and jupyter notebook (VS Code)
but not in ipython.
Anyhow, at this point I think this specific thing should become an issue.

[2022-10-27 00:54] GenevieveBuckley commented on #5253
+1 on this suggestion

[2022-10-27 08:14] Tomaubier opened #5273 "Qt6, PyQt6: v0.4.17rc5 viewer closing on object call in a Jupyter kernel"
## 🐛 Bug

Napari viewer v0.4.17rc5 crashes when calling the `viewer` object in a Jupyter notebook (tested in VS Code) or Jupyter console but works fine in `IPython` as found by @psobolewskiPhD in #3880.

## To Reproduce

Steps to reproduce in a terminal:
1. Launch a Jupiter kernel (I used `jupyter console`)
2. `In [1]: import napari`
3. `In [2]: viewer = napari.Viewer()` -> the viewer opens and be

[2022-10-27 08:30] Tomaubier commented on #3880
Ok that makes sense, thanks for the feedback, I've just created the issue.

[2022-10-27 12:22] Czaki opened #5278 "`test_qt_notifications` causes segfault again"
## 🐛 Bug

I have opened this issue to remind that this problem is not solved.

Maybe qt_notifications requires the next refctor.

https://github.com/napari/napari/actions/runs/3336901676/jobs/5522599562#step:8:222

[code]

## Expected behavior

## Environment

current main test output.

## Additional context

[2022-10-27 14:16] Czaki commented on #5265
Both bugs are solved. I'm closing this issue.

[2022-10-27 14:16] #5265 closed, assigned to nobody

[2022-10-27 16:28] psobolewskiPhD opened #5279 "BUG: Plugins can downgrade napari via plugin GUI, without warning the user"
## 🐛 Bug

If a plugin pins napari to an older version than the running napari with plugin installer GUI, the plugin will install and downgrade napari, silently without warning to the user.

## To Reproduce

Steps to reproduce the behavior:

1. install napari 0.4.16 or 0.4.17rc
2. use the plugin GUI to install `napari-n2v`

## Expected behavior

napari should resist version changes initiated by a p

[2022-10-28 11:15] jaimergp commented on #4952
Thanks Isabela!

Some notes and answers:

This might not be true in the future, if we allow users to install "custom napari distributions" if they find that two plugins they need are not co-installable. Or if they want to have per-project naparis or something like that. So maybe we do keep the name, since "removing is easier than adding"? :D The default name might still be "napari vX.Y", though.

[2022-10-28 17:44] andy-sweet commented on #5273
Thanks for testing the RC and reporting the bug @Tomaubier!

Qt6 support is still experimental for v0.4.17, so this probably won't be fixed with the final release for v0.4.17. But given its severeness, we should try to prioritize this to get into the next release.

[2022-10-29 03:01] yunhal opened #5282 "opening multiple images with different shape in the napari"
## 🐛 Bug

Napari has a "cosmetical error" when handling multiple images with different shape. I called "cosmetical error" because it handles data and thus visualization correctly.

## To Reproduce

The example below opens 2d and 4d images together.

[code]

As you can see the screenshot below, it shows '2d coin' image with 4d array in the bottom left corner as well as two sliding bar.

![image](ht

[2022-10-29 08:00] Czaki commented on #5282
But napari has global sideboards, and it state depends on all present layers. This is design decision

[2022-10-29 09:42] psobolewskiPhD commented on #5282
Yeah this is intended behavior. The sliders and dimensions are a viewer property, so they apply to every image. Perhaps to better see the reasoning try opening just the 4D cells again. It's actually a z-stack, so it's 3D+Ch, so it's better to open it either as:
[code]
(or `viewer.add_image(data.cells3d(), channel_axis=1)` which will split the channels)

Then go to the layer list and right click an

[2022-10-29 14:17] melissawm commented on #5222
If we are already cloning both repos side by side, do we really need another makefile? My preferred solution would be to fix the current docs generation to be more general. [Here's a proposed solution](https://github.com/melissawm/napari-docs/tree/improve-makefile) that works by calling
[code]
from your local napari/napari clone. Let me know if this is a reasonable solution!

[2022-10-29 14:19] melissawm commented on #4871
I am closing this as completed - please reopen otherwise. Thanks!

[2022-10-29 14:19] #4871 closed, assigned to melissawm

[2022-10-29 22:09] Czaki commented on #5222
Based on multiple issues related to napari, even this part may create problems.

And if someone is working with the napari code and the requirement to switch directories for build docs may be problematic. Many IDE does not support working outside the project directory, so for some persons, it may be better to clone docs directory inside the napari directory.

Also one could work with napari withou

[2022-10-30 14:47] Tomaubier commented on #5273
Thanks for the reply!
To my knowledge and from my experience Qt6 is the only version of Qt running natively on Apple silicon. Fixing this quite severe bug significantly reducing the usability of Napari on this platform seems like a good idea!
Especially since, from what I’ve tested using IPython, most of Napari’s features seem stable under Qt6.

[2022-10-30 15:09] Czaki commented on #5273
@Tomaubier I understand, but this requires someone to spend time on it and we do not want to delay release of napari.

If you have time to try debug this and prepare a simple bugfix it is possible to add this to 0.4.17 or maybe 0.4.18.

In the opposite situation you need to wait until someone will have a free time for bugfixing napari.

[2022-10-30 16:22] psobolewskiPhD commented on #5273
@Tomaubier if you want to run arm64 native on M1 you can use pyqt5 from conda-forge.
Make sure your conda env is arm64, I use miniforge3:
https://github.com/conda-forge/miniforge
I also use mamba.
Then you can create an env with pyqt5 from conda-forge and `pip install napari` plus whatever
or you can install napari from conda-forge directly and be done.

Edit: but yes, on pypi it's just pyqt5 and

[2022-10-31 09:23] psobolewskiPhD commented on #5273
So with pyside6 6.3.2 and rc6 I get the same behavior as the OP, so it's not a PyQt issue, but Qt6 in general.
Note that after the viewer disappears, I tried `viewer.show()` and got:
[code]

[2022-10-31 14:10] yunhal commented on #5282
Thanks for the quick answers, @Czaki and @psobolewskiPhD !

I understand now that the sliders and dimensions are a viewer property. Personally I find the sliders themselves are okay to remind. However, I still find the dimesions/values displayed in the bottom left corner misleading, and I strongly prefer to see the correct dimensions of my data, instead of viewer property.  Just my two cents.

@ps

[2022-10-31 14:19] psobolewskiPhD commented on #5282
You can! With the example code I posted above, try adding:
`viewer.dims.axis_labels = ("C", "Z", "Y", "X")`

(I used `viewer.layers[0].data.shape` to get the shape of the layer data, which because I knew it was a Z-stack told me what the axes were. But could have checked at the source: https://scikit-image.org/docs/stable/api/skimage.data.html#skimage.data.cells3d )

[2022-10-31 14:41] yunhal commented on #5282
I meant I would like to display the correct dimension showing up at the bottom left corner (or somewhere in the napari). For example,  "2d coin" would show [230 193], instead of [22 0 230 193] in napari.

[2022-10-31 16:39] Czaki commented on #5282
@yunhal I have opened PR that should solve this. But I'm not sure if it will be merged in 0.4.17. You may try to convince @andy-sweet.

[2022-10-31 20:14] andy-sweet commented on #5282
While the fix looks simple, this isn't a critical enough bug to bring into the v0.4.17 release. But should be in the next one!

[2022-11-01 00:30] github-actions[bot] opened #5286 "[test-bot] pip install --pre is failing"
The --pre Test workflow failed on 2022-11-03 12:17 UTC

The most recent failing test was on windows-latest py3.9 pyside2
with commit: 4ebbf1e58ac258a27775f4a314c3aa53418503da

Full run: https://github.com/napari/napari/actions/runs/3385519090

(This post will be updated if another test fails, as long as this issue remains open.)

[2022-11-01 10:12] Carreau commented on #5279
Do you suggest that the plugin installer always adds `napari==<current version>` to the install command ? Because I guess a plugin could also downgrade numpy, or any other package.

[2022-11-01 10:22] Czaki commented on #5279
I suggest to use constraints file and generate it base on napari (and other plugins metadata.

[2022-11-01 11:13] karchern commented on #1866
Hi, is there any update on this bug?

[2022-11-01 11:41] psobolewskiPhD commented on #1866
@karchern Woof, looks like this fell through the cracks. Thanks for bumping it. I can confirm it's still a bug. Will try to get some eyes on it.

[2022-11-01 17:09] andy-sweet opened #5289 "Add a tool to detect cyclic imports"
## 🧰 Task

During the v0.4.17 release process, we added #5244 to help with an issue, but inadvertently added a cyclic import to one of napari's modules. When using the napari app, this cyclic import didn't cause an issue (presumably due to import order), but would cause failures when running some of the tests and may cause issues in other use cases.

At best, cyclic imports tend to represent a cod

[2022-11-02 13:20] psobolewskiPhD commented on #4697
Going to bump this as I ran into it recently where installing `main` which changed keybinding mechanism resulted in an error in my live 0.4.16 working napari env. `napari --reset` fixed everything but it's less than ideal.
I'm a big fan of all of these options from the OP:

I think it's very much worth exploring how to better handle settings between conda envs and how to permit users to import/exp

[2022-11-02 13:57] Czaki commented on #4697
I rather suggest having a separate directory per the napari version.

[2022-11-02 14:14] psobolewskiPhD commented on #4697
So in the settings path `napari` folder would be replaced with `napari_v<version>` and the file would still be `settings.yaml`?
Or nested one more level: `napari/v<version>/settings.yaml`
Either option seems reasonable to me, because it would make moving settings around easier.

[2022-11-02 14:32] Czaki commented on #4697
this one is best for me.

y motivation is that my plugin store its settings in the same directory as the current napari instance settings.

[2022-11-02 15:14] isabela-pf commented on #4952
I’ve been trying to iron out the full user flow for how this UI string together from download to update prompts within a given napari. In the meantime, I’d like to get some feedback on what we talked about most in the last bundled app/packaging working group meeting: what it looks like to roll back an environment while preserving installed plugins. In the UI, I’m calling it Revert Installation for

[2022-11-02 16:41] goanpeca commented on #4697
Agreed with @Czaki suggestion on using folders!

I can take a look at this one next week. Sorry for the issues with your preferences with 0.4.16 @psobolewskiPhD !

We could start by fixing preferences by versions, now to deal with environments, we could cascade

`Current working directory > Current environment > User by version > System by version`

[2022-11-02 17:01] psobolewskiPhD commented on #4697
♥️ @goanpeca
I will also poke around maybe can get somewhere with the folders idea, if I have some time this week.

[2022-11-02 22:08] #5145 closed, assigned to kcpevey

[2022-11-03 13:19] kephale opened #5297 "Canvas crash when displaying dask arrays of delayed functions"
## 🐛 Bug

When trying to visualize an image that is provided by a dask array of delayed function calls an error is thrown in the vispy drawing loop. It looks like it might be related to trying to access memory too early.

Note that the thumbnail *does* get rendered, it just seems to be the vispy canvas that crashes.

The trace for the error is:

[code]

## To Reproduce

This code triggers the erro

[2022-11-03 13:28] brisvag commented on #5297
I cannot quite reproduce. What I get is instead a black (very laggy) canvas, and I get the following warning:
[code]

Can you reproduce with smaller data?

[2022-11-03 13:32] kephale commented on #5297
Interesting that I don't get the downsampling warning.

I'll try on smaller data.

I should point out that I can get it working if I have the camera centered/zoomed around the first tiles/chunks in the array. To trigger this bug, I am moving the camera to ensure that dask only attempts to fetch some data from the middle of the array.

[2022-11-03 13:36] kephale commented on #5297
So sorry, I'm on a different branch: https://github.com/andy-sweet/napari/tree/async-slice-proto. I was testing some other stuff on main at the same time.

[2022-11-03 14:11] kephale commented on #5297
I can get this working correctly in main after adding some extra dask context management that is present in the async prototype.

[2022-11-03 14:11] #5297 closed, assigned to nobody

[2022-11-03 16:08] jni opened #5298 "Idea: add b'napari' watermark to saved screenshots or movies"
matplotlib embeds the `b'Matplotlib'` string in saved pngs and pdfs. This enables cool analyses like [this one](https://github.com/mrocklin/arxiv-matplotlib) that count how many papers in arxiv use matplotlib (A: quite a lot!). Napari is more useful interactively than to create figures, but that might change at some point — already people use napari-animation in papers.

We might want to use somet

[2022-11-03 17:05] #5286 closed, assigned to nobody

[2022-11-03 17:08] #5282 closed, assigned to nobody

[2022-11-03 17:38] psobolewskiPhD commented on #4697
So the version-subfolder approach is actually really easy to implement because napari uses `appdirs` (HT @Czaki)
https://github.com/napari/napari/blob/3779997fbfa23f9e02bf29f5087f857e8246b846/napari/utils/_appdirs.py#L16-L35

Now I'm not sure I totally follow the comment.
I think it's referring to the fact that napari `v<n>` will only look for config in folder `v<n>`, so if you update from `v<n-1>

[2022-11-03 18:59] Czaki commented on #4697
For me, the best option is if the directory `vX.Y.Z` is not available then the most recent previous version should be copied. Ten after the update user will have his settings, but when downgraded, then the previous version still exists.

I use this approaching PartSeg, and it works for me.

Here the code for coping that I already use: https://github.com/4DNucleome/PartSeg/blob/42b1d71ed7d70ffb81ad

[2022-11-03 19:07] #5260 closed, assigned to nobody

[2022-11-03 19:08] psobolewskiPhD commented on #4697
Yeah, that makes sense and what I was trying to say—my post above had some formatting issue so it didn't come out that way.
So where would such checks live in the napari codebase?

[2022-11-03 20:48] andy-sweet opened #5300 "Add ability to force sync slicing"
# Description

The `LayerSlicer` should perform asynchronous slicing when all layers being sliced are asynchronously sliceable. In some cases, we might want to temporarily force slicing to be synchronous. For example, we might consider usage like

[code]

where we need to wait for slicing to finish before taking a screenshot.

This task should define public ways to allow synchronous slicing to be

[2022-11-03 21:00] isabela-pf commented on #4952
We ironed out a lot of final details in this week’s bundled app/packaging working group meeting. I’m going to report back all the decisions we made so people not at the meeting can weigh in. Thanks in advance for giving it a review!

## napari Installations (top level of sidebar)

- Update info: good as-is.
- New install: remove.
- Default version: remove.

Because there are no baseline preference

[2022-11-03 21:33] andy-sweet opened #5301 "Add cadenced runs for benchmarking slicing"
## Description

The goal of this task is to ensure that any existing benchmarking tools are running as expected. And that the output of those tasks can be easily used to detect performance changes in napari.

## Motivation

Slicing is a core part of napari and it's critical that any changes to the related code does not substantially negatively impact performance of slicing. Many of the existing AS

[2022-11-03 21:33] andy-sweet opened #5302 "Add exception handling to layer slicer"
# Description

Slicing functions may raise exceptions on the non-main thread and we want to be deliberate about how those are handled. In the prototype, we call `result()` on the future that is passed through to `_LayerSlicer._on_slice_done`, which will raise the exception that was raised while the slicing task was executing.

That might be good enough, as I believe napari should handle errors rai

[2022-11-04 04:34] isabela-pf commented on #4952
Following up on the previous comment, this is what the changes would look like all together. The main edit I would still expect is if there are inaccuracies in the description text.

<img width="795" alt="" src="https://user-images.githubusercontent.com/50221806/199888239-07920af4-af14-4bd2-af53-7dddc11ef6b4.png">
<img width="795" alt="" src="https://user-images.githubusercontent.com/50221806/1998

[2022-11-04 16:23] junxini commented on #4952
this looks great @isabela-pf!! one minor wording suggestion, should the `Revert Installation` button be changed to `Roll Back Installation`? that way it's consistent with the description using the word "roll back" since in the meeting a few people pointed out that "revert" has a different connotation.

[2022-11-04 16:51] aganders3 commented on #4952
Just throwing this out as another option to consider: what about "Restore Snapshot" or "Restore from Snapshot"?

[2022-11-04 21:12] goanpeca commented on #4952
That could also work, however it might give the idea that there will be many snapshots to choose from (which there will be, but we will not expose them, just the last one available)

`Snapshot` might be a bit too technical a term? (just realized the word snapshot is on the description text whoops!)

[2022-11-05 00:24] melissawm commented on #4973
Fortunately, I don't think this is necessary anymore. Feel free to reopen otherwise!

[2022-11-05 00:24] #4973 closed, assigned to nobody

[2022-11-05 01:18] melissawm commented on #5241
I believe this is taken care of for now? There are a few items related to docs still in this repo but I think they should stay.

[2022-11-05 01:26] melissawm commented on #5219
So, is the idea that this build docs workflow from the napari/napari repo would build and deploy to napari.github.io on every PR, include those that don't touch the docs? If that's the case, copying the build docs workflow from the napari/docs repo (with very minor changes) would be enough.

[2022-11-05 12:47] psobolewskiPhD opened #5304 "for npe2 plugins with multiple sample datasets or widgets, the display_name from the manifest isn't used"
## 🐛 Bug

In `napari.yaml` one can set the `display_name` for the plugin. The docs suggest that this will be the user-facing text name of the plugin:
https://napari.org/stable/plugins/manifest.html#fields

A similar field is available for individual widgets and the `display_name` of a widget is used in the napari Plugins menu for the widget in a submenu of widgets. However, the top level menu in n

[2022-11-06 00:07] lucyleeow commented on #5241
Thanks closing in that case!

[2022-11-06 00:07] #5241 closed, assigned to nobody

[2022-11-06 11:05] psobolewskiPhD commented on #5241
I've tagged a few more with the `migrate` tag that seem worth transferring. Maybe you can glance at them @melissawm and @lucyleeow ?

[2022-11-06 11:35] #3287 closed, assigned to liaprins-czi

[2022-11-06 15:38] jni commented on #5219
Every *merged* PR, yes. 😅 I *think* that should work? And yes, I think the changes are just related to which checkout goes in which directory but otherwise the action is basically unchanged I think. 🙏

[2022-11-06 16:22] Carreau commented on #5263
There are a bunch of warnings in the bechmark test suite that make it hard to find the failure in the log.

One will be easier to track with the right stacklevel in https://github.com/scikit-image/scikit-image/pull/6613

The other one seem to be the creation of an empty pd.Series, with dtype not passed or set to None, which I don't find either.

[2022-11-06 17:07] Carreau commented on #5263
[code]

Most of the slower path are in slower TextManager creation. I've tried to profile, and AFAICT, 90%+ of the time is spent in Pydantic, so there is not much more we can do in here:

Custom metaclass for event emitter spend 95% of it's time in super's new which is in pydantic.

[code]
TextManager's init, spend also 97%+ of its time in BaseModel, which is in pydantic.

[code]

There is one spo

[2022-11-08 09:41] Carreau opened #5311 "New Label Layer emit a warning of invalid color"
Since #5180, now that we rely on skimage newer version, we actually see warning about improper colors and colorspace.

In particular we get "Color data out of range: Z < 0 in N pixels"

The warning in napari emanates from this line:

https://github.com/napari/napari/blob/1cc90a74211c6cbf3fc644da5866f9752cf1ac78/napari/utils/colormaps/colormap_utils.py#L361

And it seem that we are sampling colors

[2022-11-08 14:51] aganders3 opened #5313 "Performance regression in test suite (slow fixture)"
## 🧰 Task
Tests are now running quite slowly compared to a month ago (~14 min instead of ~8-10 min per platform). I think it's mainly due to this `autouse` fixture introduced a few weeks ago - specifically in the teardown:https://github.com/napari/napari/blob/1cc90a74211c6cbf3fc644da5866f9752cf1ac78/napari/conftest.py#L448

Here's a chunk of some profiling output that pointed me to this bottleneck

[2022-11-08 17:12] andy-sweet opened #5314 "Reading settings from an incompatible schema fails ungracefully"
## 🐛 Bug

If napari tries to read the settings/preferences file, but fails, it does not start.

One common way this can occur is for people who have both a development install (i.e. some arbitrary commit on `main`) and at least one fixed version of napari in another environment. In this case, changes to `main` can break stable releases. See steps to reproduce for one way this can happen, though th

[2022-11-08 17:16] andy-sweet commented on #5314
Though we have #4697, it's more of a feature, whereas this describes one related bug. Solutions might overlap, but might also be distinct.

[2022-11-08 17:38] andy-sweet commented on #5314
I did a quick test to see if bumping the [settings schema version](https://github.com/napari/napari/blob/1cc90a74211c6cbf3fc644da5866f9752cf1ac78/napari/settings/_napari_settings.py#L19) on my development branch would be a quick and easy fix for this, as I hoped that napari might detect that it's trying to read a schema from the future and fail gracefully or at least more informatively.

But I did

[2022-11-08 18:14] andy-sweet opened #5316 "Missing settings schema version change from 0.5.0 to 0.6.0"
## 🐛 Bug

In #5103 we changed the schema of napari settings, but did not bump the [schema version number](https://github.com/napari/napari/blob/1cc90a74211c6cbf3fc644da5866f9752cf1ac78/napari/settings/_napari_settings.py#L19).

If I understand the implementation correctly, I believe we also need to provide a migrator from 0.5.0 to 0.6.0, in order for the new schema version to actually be written t

[2022-11-08 19:09] #687 closed, assigned to nobody

[2022-11-08 19:09] #5211 closed, assigned to nobody

[2022-11-09 00:48] lucyleeow commented on #5241
Thanks @psobolewskiPhD ! I don't have transfer rights but @melissawm may be onto this? :)

[2022-11-09 01:59] GenevieveBuckley opened #5319 "Labels "opaque" blending does not persist after click to canvas"
## 🐛 Bug

The labels "opaque" blending mode does not stay opaque after the user clicks on the 3D canvas.

## To Reproduce

Steps to reproduce the behavior:

1. Set up some example data with labels
[code]
![napari-labels-opaque-blending](https://user-images.githubusercontent.com/30920819/200716378-91fd671e-e77d-4c31-86b1-8edd3ef48d35.png)

2. Click on the napari canvas and observe the change to the

[2022-11-09 06:43] psobolewskiPhD commented on #5241
I can transfer them, just wanted to let people see them first, so that we don't need to transfer any back 😊

[2022-11-09 09:00] Czaki commented on #5319
Could you chcek if it still happens in napari 0.4.17rc?

[2022-11-09 09:38] dagewa commented on #5111
Hi folks, has anyone had a chance to think about this? It's definitely a bug as shown by the simple reproducer script. I wish I could debug it further myself, but the alternate code paths are buried somewhere in the event handling and I haven't figured out how to track exactly what's happening.

[2022-11-09 11:55] jaimergp commented on #4697
We are keying by version assuming there might be changes in every release. I think we should be instead generating a versioned schema of the config file, with minimum napari release requirements or something like that. An import mechanism should be able to "rescue" old files an produce the modern schema-compliant mechanism. This would also allow us to offer compatibility hooks on newer naparis, to

[2022-11-09 12:17] brisvag commented on #5111
Hi @dagewa , sorry you had to wait, the issue must have slipped through the cracks!

I found the issue with problem 2: we need to index into `translation` so that only the displayed dimensions (in the correct order) are used. I opened a PR at #5321 with a fix.

As for the other one, I'm not sure, we need to dig a bit deeper. @andy-sweet might be of help here!

[2022-11-09 14:58] brisvag commented on #5111
Uhm, I might have been wrong :/

[2022-11-09 15:13] brisvag commented on #5111
Ok, I think I solved the issue. However, for number `2.`, it seems that it's by design that in 3D you cannot use for example the lower left anchor, and instead it will always fall back to `center`:

https://github.com/napari/napari/blob/8a78b3cc89fdcd7fd8595dcc714d63547240b30d/napari/layers/utils/_text_utils.py#L99-L103

I'm not sure why that's the case, but git `blame`s @kevinyamauchi, so maybe h

[2022-11-09 18:52] kevinyamauchi commented on #5111
Sorry, I can't remember off the top of my head why we made that decision 😬 . If it seems unnecessary to restrict to `center` in 3D, I think it's fine to relax the constraint!

[2022-11-10 02:34] #5151 closed, assigned to andy-sweet

[2022-11-10 10:39] dagewa commented on #5111
Thanks @brisvag, #5321 is really great as that solves the issue that meant I couldn't work with some of my datasets. The other bit about text placement is more cosmetic. I hope #5321 makes it to release soon, as then I can actually roll out my reciprocal lattice viewer in https://github.com/dials/dials/pull/2229 to users for testing.

[2022-11-10 12:22] brisvag commented on #5111
@dagewa unfortunately it might be some time before this gets released. We just pushed `v0.4.17` yesterday, and the next planned release is `v0.5.0`, which will contain several breaking/big changes, so it might take longer than usual. There might be a possibility of a smaller `v0.4.18`, but likely only if big bugs show up in the wild, because it would be a lot of work to make it happen.

However, f

[2022-11-10 15:40] dagewa commented on #5111
Ah, is there a likely timeline for `v0.5.0` release? I can certainly still wait a bit longer. Now I have this fix on your branch I can continue working on some features for my viewer.

Back on `main` if I use `[0, -5]` as the translation, I get:
[code]

<details>
  <summary>full traceback</summary>

[code]
</details>

[2022-11-10 15:58] brisvag commented on #5111
Yeah, no way around it... I guess you could just pass a scalar (`-5`) for now. It will be slightly off from the center, but at least it won't overlap with the line.

As for a timeline, hard to tell right now, but no less than a few of months I'm afraid :/

[2022-11-10 16:14] dagewa commented on #5111
Brilliant, the scalar actually works fine for now. I can go with that on the current release. Thanks!

[2022-11-10 22:05] dstansby commented on #5279
One option would be to resist *any* version changes that installing a plugin tries to do. For pip the new `--dry-run` option (added in version 22.2: https://github.com/pypa/pip/pull/10771) might help here.

[2022-11-11 03:16] Lisa-CZI opened #5326 "Async slicing behavior"
Sharing designs for the async slicing behavior that supports the NAP ([see here](https://github.com/andy-sweet/napari/blob/55b025a6013f90914f15bca7030aca98ed542b40/docs/naps/4-async-slicing.md)).

Screens include expected behavior, slow loading, and warning and error states. Please review and comment with your feedback.
You can view the screens [here](https://drive.google.com/file/d/1Z4e1gjhFWutH1

[2022-11-11 03:21] Lisa-CZI commented on #5326
You'll notice that this explores messages in the status bar. Curious to hear your thoughts about messaging here vs. the corner popup.
<img width="316" alt="ErrorLoadingDataset" src="https://user-images.githubusercontent.com/107234983/203163548-88590e9a-7ad7-47b7-8b64-3fddd0425ae7.png">

[2022-11-11 03:34] junxini commented on #5326
thanks for sharing Lisa! cc'ing the rest of the crew for visibility and input on the error message location. @andy-sweet @kephale @potating-potato @dgmccart @kcpevey @perlman

[2022-11-11 03:36] Lisa-CZI commented on #5326
Thanks @junxini!

[2022-11-11 10:10] jaimergp opened #5327 "Consider adding an explicit dependency on `pip`"
## 🐛 Bug

The plugin manager depends on `pip` being present in the same installation/environment as `sys.executable`. This is usually the case since:

* Most users install `napari` with `pip` anyway
* Conda users won't have changed the default settings, which always include `pip` next to every `python` install ([see feedstock issue for longer explanation](https://github.com/conda-forge/napari-feed

[2022-11-11 10:54] Czaki commented on #5327
next argument to split the plugin dialog to a separate package and make core of napari lighter

[2022-11-11 15:13] psobolewskiPhD opened #5328 "Bug: Samples, including Cells (3D) don't load after `pip install napari` (or napari[pyside], etc.), due to lack of pooch"
## 🐛 Bug

`pip install napari` — used when one wants to not have pypi PyQt5 backend, that is installed by `napari[all]` — does not install `pooch` which is needed by scikit-image to make all Sample images work, including `cells3d()` which we have on the napari.org homepage and in the viewer getting started docs.
Note that all `napari[all]` does is install PyQt5 backend and use `scikit-image[data]`

[2022-11-11 16:17] jaimergp commented on #5327
I would love to start doing that if core agrees :)

[2022-11-11 16:40] psobolewskiPhD commented on #5319
I can reproduce this in 0.4.16, but on my end it's fixed in 0.4.17.
@GenevieveBuckley Can you double check with the new live release, 0.4.17?

[2022-11-12 17:12] alisterburt opened #5330 "tracks 'color_by' attribute not maintained after updating properties"
## 🐛 Bug

The `color_by` attribute on a tracks layer changes if the properties are updated.

## To Reproduce

[code]

then in the console

[code]
## Expected behavior

If the previous 'color_by' attribute is still present in the properties, this should not be changed by updating the properties

## Additional context

The offending lines of code are
https://github.com/napari/napari/blob/cd5c3147a13

[2022-11-12 18:33] psobolewskiPhD commented on #2140
@Michael-L-Miller @Czaki With 0.4.17 `minimum` blending mode is released.
Also, it's possible to change the canvas color thanks to: https://github.com/napari/napari/pull/2270

I think we can close? I mean it's not addressing the underlying issue of how additive blending works, but I don't think that can be changed really.

[2022-11-13 11:19] psobolewskiPhD commented on #5047
Bumping this. As of #5103 the platform specific keybindings don't show at all on macOS 12.6:
<img width="1232" alt="image" src="https://user-images.githubusercontent.com/76622105/201518959-f637422e-4457-4f6f-bd69-751b36f14c15.png">

To make it more confusing, everywhere  `^` is shown, `command` actually works for the keybind, so it is just a display issue.
This includes the splash screen:
<img wid

[2022-11-13 12:16] psobolewskiPhD commented on #5047
Ok, it seems like the keybind Meta<->Ctrl on macOS that Qt does is not properly accounted for in the settings.
When setting a new keybind in Preferences, say pressing `command-option-m` it shows `Ctrl-Alt-M` (command is read as control, which is what Qt does by default) and then when confirmed shows `⌘⎇M`, because napari displays `⌘` for Ctrl on macOS. **BUT** that keybind doesn't work, because it

[2022-11-13 12:26] psobolewskiPhD commented on #5047
Yeah, this is a different issue. I will make a new issue.

[2022-11-13 12:36] psobolewskiPhD opened #5332 "On main: new Keybinds with ⌘ on macOS don't work due to #5103 and old show ^"
## 🐛 Bug

On macOS, on `main` after #5103 keybinds with involving ⌘ don't work properly.
First, keybinds that use the actual physical ⌘ key are shown as `^`, see for example the splash screen and the Preferences:
<img width="1232" alt="image" src="https://user-images.githubusercontent.com/76622105/201521675-1ac935a9-b573-4801-b4b9-0359d8d29184.png">
<img width="1232" alt="image" src="https://user-

[2022-11-14 11:30] Kd-Here commented on #5330
Hello Alisterburt can I make a try their.
It will my 1st contribution to ML lib.

[2022-11-14 11:39] alisterburt commented on #5330
@Kd-Here cool! Feel free to drop a message here if you get stuck

The general implementation would probably look like
- store the current 'color_by' attribute before clearing the combobox
- recreate the combobox (exactly as done in the 'offending lines of code')
- check if the previously stored 'color_by' is present in the `self.layer.properties_to_color_by`
- if present, set `self.layers.color_by

[2022-11-14 13:30] tlambert03 opened #5335 "double command-q no longer quitting"
## 🐛 Bug

if you press cmd-q, and then press it again (as the dialog instructs), it doesn't quit... it just opens more dialogs

https://user-images.githubusercontent.com/1609449/201672279-161cef46-63c7-4e6f-879f-82fd2a930d7f.mov

(napari 0.4.17 with `conda create -n env napari`)

[2022-11-14 13:57] Czaki commented on #5335
@tlambert03 What Happens after you clik on dialog and then click cmd-q?

On Linux shortcut is working, so I worry that it is somehow connected with a lack of focus on dialog.

[2022-11-14 14:21] psobolewskiPhD commented on #5335
Wow, that looks really annoying. I can't reproduce on my macOS 12.6 with pip install of napari 0.4.17 (python 3.9) or via `mamba create -n nap-test python=3.10 napari`. Both cases with pyqt5 backend. The dialog has focus and if I try to click anywhere I get an error beep.

[2022-11-14 14:36] tlambert03 commented on #5335
no luck:

https://user-images.githubusercontent.com/1609449/201686902-eca4c5ce-f222-4596-a09e-69a6bd0a89d8.mov

note though... I do see this warning in the console:
[code]

<details>

<summary>conda list</summary>

[code]

</details>

(macos 11.7)

[2022-11-14 14:39] Czaki commented on #5335
you have `pyqt` in version 5.12.3

Could you try to update to pyqt 5.15?

[2022-11-14 14:46] psobolewskiPhD commented on #5335
Based on the old issue about Big Sur and this warning, it seems updating to 5.15.2 could help
https://github.com/napari/napari/issues/1393#issuecomment-729134340
Or check environment variable `QT_MAC_WANTS_LAYER=1`?

[2022-11-14 14:50] psobolewskiPhD commented on #5335
Hmm, i just tried in rosetta, python 3.9, and I'm also getting `pyqt` 5.12.3, all get the warning, and can reproduce the effect.
Edit: checking `mamba repoquery whoneeds pyqt`
` napari 0.4.17  pyh275ddea_0_pyqt pyqt >=5.12.3,!=5.15.0 conda-forge`
Also, `mamba update pyqt` doesn't do anything, 🤔

[2022-11-14 15:01] psobolewskiPhD commented on #5335
If I force latest pyqt (again x86, arm64 only has 5.15.x)
`CONDA_SUBDIR=osx-64 mamba create -n nap-test python=3.9 pyqt=5.15.7`
Then install napari `CONDA_SUBDIR=osx-64  mamba install napari` then everything is good.

So the question is why does napari pull down old pyqt? instead of 5.15.x?

Edit:
`CONDA_SUBDIR=osx-64 mamba create -n nap-test python=3.9 napari=0.4.16`
also pulls pyqt 5.12.3
`  + p

[2022-11-14 15:05] Czaki commented on #5335
but this warning is only in 0.4.17, not in 0.4.16.

[2022-11-14 15:05] psobolewskiPhD commented on #5335
Right, so the issue with conda installed napari on x86 big sur may have been masked.
Edit: sorry i see I missed the `no`: `no clear problem`

[2022-11-14 15:25] psobolewskiPhD commented on #5335
Wonder if this is somehow related to the SSL issue from before:
https://github.com/napari/napari/issues/4891
Do we need to bump the Qt requirement?

[2022-11-14 16:02] tlambert03 commented on #5335
i would recommend against  this given how broadly Qt is used in the ecosystem.  If you have a critical issue, where a whole bunch of things become possible if you bump your requirement, then maybe... but if you _already_ have supported 5.12, and the only issue you can find is this dialog, then I'd figure out how to patch the dialog for 5.12 rather than potentially cause environment solving problem

[2022-11-14 16:05] Czaki commented on #5335
Yes. But it will be nice if you could check if it is related to the Qt version or not. It will be simpler than trying to reproduce it and preparing a patch.

[2022-11-14 16:44] tlambert03 commented on #5335
oh sorry; yes, as @psobolewskiPhD has shown above, it is related to qt version.  happens in 5.12 but not in 5.15

[2022-11-14 19:05] psobolewskiPhD commented on #5335
Thanks @tlambert03 !
So we have two aspects to this issue:
1. the fact the close-dialog doesn't work right on Qt 5.12—although, it does yield a captive audience 🤣
2. that a fresh conda-forge env python 3.9 & 3.10, x86 macOS, with napari pulls pyqt 5.12.3 instead of current.
@jaimergp as conda-forge guru, do you have any thoughts on nr. 2 above?

[2022-11-14 19:21] jaimergp commented on #5335
I am afraid you are correct @psobolewskiPhD. I analyzed the logs and while `pyqt 5.15` is initially selected, the solver is forced to backtrack once it reaches openssl=3, which is not compatible:

[code]

This ends up resolving in such a way that openssl=1 and pyqt=5.12.

I guess this will go away once https://github.com/conda-forge/qt-main-feedstock/pull/63 is dealt with.

[2022-11-14 19:40] psobolewskiPhD commented on #5335
OMG @jaimergp you're amazing 🤩 🙏

[2022-11-14 19:56] Czaki commented on #5335
@tlambert03 I even switch to a conda base environment to use qt from conda and still cannot reproduce this problem.

So, could you validate if #5337 solve this problem? From a logical point of view, it should be.

[2022-11-14 20:18] psobolewskiPhD commented on #5335
I can confirm #5337 fixes the issue in my Rosetta-emulated x86 env.

[2022-11-14 21:34] aganders3 commented on #5313
This is at least partially alleviated with the 0.1.1 release of `app-model`, but might want to continue monitoring.

[2022-11-14 21:34] #5313 closed, assigned to nobody

[2022-11-15 00:43] #5301 closed, assigned to kcpevey

[2022-11-15 17:03] #5091 closed, assigned to nobody

[2022-11-15 20:46] gatoniel opened #5340 "ComboBox automatically filled with viewer.layers for `QWidget` class plugins"
## 📚 Documentation

It would be great if this page https://napari.org/stable/guides/magicgui.html#using-magicgui-in-napari-plugin-widgets would also explain, how to create a Layers `ComboBox` in a `QWidget` class plugin. It is straight-forward with the `@magicgui` decorator. But if you want something similar in a `QWidget` class plugin, information on how to do this is not so plentyful. The follow

[2022-11-15 21:13] Czaki commented on #5340
It is possible to do this without using private API.

In general the workflow is
use create_widget for creating magicgui widget ex:
 `self.layer_select = create_widget(annotation=Image)`

add to layout using native
`self.layout().addWidget(self.layer_select.native)`

Also, it is essential to define two methods:

[code]

to ensure that list of layers will be refreshed.

Here is a sample code using

[2022-11-15 22:25] gatoniel commented on #5340
Great thanks. I thought this must be possible without private API. Could you explain, why you use `showEvent` to reset the choices? Is `showEvent` triggered everytime, when the widget is already shown, but a Image layer is converted to a Labels layer?

[2022-11-15 23:05] Czaki commented on #5340
Because napari does not refresh layers in hidden widgets,

[2022-11-16 00:00] andy-sweet commented on #1346
Almost at the second anniversary of this one, so not so soon! But I am looking at clarifying `Layer.editable` and `Layer._set_editable` and stumbled across this bug.

I think I can/should fix this as part of a related clean up, but am considering two fixes given that we likely still want to disable the editing layer control buttons either when a layer is not visible or not editable.

1) Make the `

[2022-11-16 07:27] psobolewskiPhD commented on #5304
Updated the OP and title for the fact that File > Open Sample also doesn't use the display name

[2022-11-16 09:03] AlistairCurd opened #5341 "napari will not run when installed from conda-forge"
## 🐛 Bug

napari will not run when installed from conda-forge

## To Reproduce

Steps to reproduce the behavior:

1. Create a new environment
2. ```conda install -c conda-forge napari```
3. ```napari```

[code]
## Expected behavior

Run napari.

## Environment

 - Please copy and paste the information at napari info option in help menubar here:
```napari info option``` results in the same error me

[2022-11-16 09:14] Czaki commented on #5341
the problem is here

Please use `conda install -c conda-forge napari=0.4.17`

[2022-11-16 09:18] #5335 closed, assigned to nobody

[2022-11-16 09:38] AlistairCurd commented on #5341
Thanks, this has worked.

[2022-11-16 09:39] #5341 closed, assigned to nobody

[2022-11-16 12:08] Kd-Here commented on #5330
Hey @alisterburt Thanks for detail informatn!!!
From 2 days I was checking & using napari and **amazed by your work.** 👏

I implemented the code as mention above.
![image](https://user-images.githubusercontent.com/90677747/202175699-d3a707ce-5312-4852-b5b2-9960d757ea2b.png)

But it is not working correctly. (I know it's my mistake I still don't correctly knowt the class used n their attributes)
Do

[2022-11-16 15:53] psobolewskiPhD commented on #4697
To give an update here:
Right now, the issue of `main` or `dev` vs. live napari is resolved, because `dev` settings have been silo'd, the PR is merged: #5322
So when using a `dev` release, a new `config_path` is set and no attempt is made to import previous settings from a different path nor make dev settings available to a non-dev, live napari. Switching envs
There is also an open PR to make sett

[2022-11-16 16:24] andy-sweet commented on #5330
It's possible that my work replacing `properties` with `features` makes this more confusing than it needs to be, so happy to help out if that's the case.

@Kd-Here : do you have a work-in-progress PR or branch you could share? I think you might just need to swap 133 and 134 in the image above because assigning `Tracks.color_by` to something will emit the `Tracks.events.color_by` event which will s

[2022-11-16 17:15] kephale commented on #5278
This came up in my CI job as well.

[2022-11-17 06:54] Kd-Here commented on #5330
Thanks @andy-sweet for your suggestion. I shared a pr can you please help by reviewing the code!

[2022-11-17 09:00] brisvag commented on #5278
Might be a variation of the issues I also have in #5312.

[2022-11-17 11:12] Chris-N-K opened #5345 "Napari with PySide2 backend broken"
## 🐛 Bug

I can not get `napari` to work with the PySide2 backend.
I tried several Python versions (9.8 to 9.10) and to install via `conda` or `pip`.
With `conda` even when generating the environment completely based on `napari` with `PySide2` the solver is not able to find a working configuration.
With `pip` the installation works but starting `napari` generates different errors depending on the

[2022-11-17 11:38] tlambert03 commented on #5345
Looks like you ended up with python 3.11 (look at the environment path names)

[2022-11-17 12:47] Chris-N-K commented on #5345
Oh well lol.
Suppose could be the reason. Will test. Not sure why.
Interesting the two errors are close but not exactly the same.

[2022-11-17 13:05] Chris-N-K commented on #5345
Ok with the correct python version <3.11 at least the `pip` path works.
Why installing it via `conda` wont work still puzzles me.
Doen't matter if I create the environment with python 3.10 first and install then or try to directly build the environment specific for `napari` with `PySide2`.

[2022-11-17 13:27] tlambert03 commented on #5345
might need to paste the output of your `conda list` (and either @Czaki  or @jaimergp might know)

[2022-11-17 13:33] psobolewskiPhD commented on #5345
What error are you getting with conda-forge pyside2? I've run into issues with conda-forge pyside2 on macOS arm64.
See:
https://github.com/napari/napari/issues/5231
Minimal reproducer:
[code]
Should be True, but on arm64 returns False.

[2022-11-17 14:27] Chris-N-K commented on #5345
So I did some more investigation as I'm still puzzeled that the installation using:
`conda install -c conda-forge "napari=*=*pyside2"`
fails.

If I install `PySide2` manually and then use the same call afterwards the solver does no longer commit suicide and the installation works. This way `napari` runs fine with `PySide2`. Going without a manual installation of `PySide2` doesn't work at all.

[2022-11-17 14:47] psobolewskiPhD commented on #5345
When you say fails, can you elaborate? post an error?
I wonder if it's also related to openssl migration, as
https://github.com/napari/napari/issues/5335
and #4891
You could also try to install mamba (or libmamba-solver )
Running a linux-64 dry-run the solver succeeds for "napari=*=*pyside2"

[2022-11-17 14:58] Chris-N-K commented on #5345
@psobolewskiPhD the solver just runs till it kills itself without any real error message. Guess he's not able to solve the dependencies within a set time out.

`mamba` might be a solution.

It's still very confusing that installing `PySide2` manually and napari afterwards with the call above works but the combined installation using the call above doesn't.

[2022-11-17 15:08] psobolewskiPhD commented on #5345
It's due to the solver. By installing pyside2 you're narrowing the solution space.
Mamba is not only faster but uses a better solver. You can install it in your base env to use it.
Again I'm pretty sure it's related to the openssl migration.

[2022-11-17 15:49] Chris-N-K commented on #5345
Yes works fine with mamba. I'm still annoyed over the `conda` solver >.<
Would some hints in the doc be helpful for cases like these?
If so I could make a small pull request with the hints.
Will close this issue.

[2022-11-17 15:49] #5345 closed, assigned to nobody

[2022-11-17 15:53] psobolewskiPhD commented on #5345
Mamba is now 1.0.0 so we could just outright recommend using it in the conda section.
@jaimergp and @goanpeca can chime in if there's any drawback to doing that, but my experience with mamba is basically 🔥

[2022-11-17 17:01] jaimergp commented on #5345
Mentioning both would definitely help. The mamba-org is pushing hard for micromamba as well, and it looks like it will be the focus moving forward. Anaconda is also promoting the experimental solver to non-experimental soon (but still not the default).. Anyway, yes, we can definitely mention it. If you open a PR, please feel fre to tag me so I can do a quick review on that info is articulated :D

[2022-11-17 18:26] JoOkuma opened #5346 "Tracks features ordering inconsistency for unordered track data."
## 🐛 Bug

Track data are sorted by their track ids and time when a layer is created.

Updating thee features of an originally unsorted data can lead to inconsistency because it returns the sorted features while expecting it unsorted.

## To Reproduce

[code]

## Expected behavior

I expected the operation above would store the features on the features' getter method.

## Environment

[code]

## Ad

[2022-11-18 09:13] Carreau commented on #5332
Does #5064 help ? I can extend it, but it has been opened for close to two moth, and still not merged...

[2022-11-18 09:21] psobolewskiPhD commented on #5332
I'll do some tests again, but I'm pretty sure it's related to app-model, see:
https://github.com/napari/napari/pull/5296#issuecomment-1315657792
I'll try to figure out how to have your PR and the other app-model PR at the same time to test further.

I think what might be happening is that the meta-control swap is happening twice. Once when the keybind is made (converting my physical command key to

[2022-11-18 11:59] #5223 closed, assigned to melissawm

[2022-11-18 17:45] MalteMederacke commented on #914
Hi,

Thanks for developing and maintaining such a nice software.

Is my perception correct, that I cannot use the shape layer with shape_type = 'path' shapes to create a mask/label? I have a bunch of paths that I want to transform into a label, but the shapes.to_labels() throws either an error (if labels_shape = none) or gives a layer with shape (n_labels, labels_shape[0], labels_shape[1], labels_

[2022-11-18 18:03] psobolewskiPhD commented on #914
@MalteMederacke I can't get any 3D shapes to work using the GUI at least, so it seems like there may be an issue here. I also don't full understand your use case or the error. Could you open a new issue with a better description: maybe a screenshot, a traceback, and your `napari --info` to help us run down this problem? Thanks! 😊

[2022-11-18 20:54] kcpevey commented on #5314
I went through the steps you've described and I also got a TypeError, but it was slightly different:

<details><summary>Traceback</summary>

[code]
</details>

One thing that strikes me is that the error is arising from 0.5.0/0.6.0 settings being applied to an older version of napari. There are migration tools in place, but they expect people to migrate from an older version, to a new version.

Do

[2022-11-18 21:37] Czaki commented on #5314
There are two opened PR connected with this problem:

#5333 - separate settings per environment. Remove the probability that older versions from different environments will crash and solve the problem of settings related to a different set of plugins in different environments
#5306 - separate settings per napari version. This will remove the problem that you describe.

[2022-11-18 21:54] psobolewskiPhD commented on #5314
@Czaki I think the schema issue is a different issue than the settings location.
The schema migration is supposed to handle migration between settings, at least from older to newer. But I didn't see from my reading the code, how older napari is to interpret newer schema.
#5306 ends up just being a work around for the newer -> older issue.
#5333 though ends up offering a feature, which is handling

[2022-11-18 22:02] Czaki commented on #5314
#5306 is solving this bug as there will be no import of older settings.

[2022-11-18 22:09] psobolewskiPhD commented on #5314
#5306 specifically does attempt to look for and import older settings. But it does not adress migrating the schema between older and newer napari.  It does mitigate the issue of older napari accessing newer napari settings.

Edit: perhaps to make clearer: #5306 will attempt to *read* older settings. But it's the schema migrators https://github.com/napari/napari/blob/76a81e027e77b587d20ddbe9fa8e370

[2022-11-18 23:06] MalteMederacke opened #5349 "Shape layer using shape_type = 'path' fails to be converted to mask/label"
## 🐛 Bug

Shape layer fails to be converted to mask/image if shapes are drawn with shape_type = 'path'. I use Napari to visualize some tree graphs, because I compute them from an image (skeletonizaiton). Now, I want to do a reverse thing, and compute images from graphs. I expected to simply use Napari to plot the lines and transform the shapes to labels, but that is not what happens. I get, given

[2022-11-18 23:10] MalteMederacke commented on #914
@psobolewskiPhD
Hi thanks for coming back to me! Done it at

https://github.com/napari/napari/issues/5349

Thank you!

[2022-11-19 10:29] psobolewskiPhD commented on #5349
I can reproduce this on 0.4.17 live, macOS arm64 just using the GUI contextual menu `Convert to Labels`
Can also be reproduced using the napari example `3D_paths.py`:
https://github.com/napari/napari/blob/main/examples/3D_paths.py

Full traceback:
[code]

[2022-11-20 22:55] jni commented on #3338
Hmm, I must say I'm surprised that you can still enter commands in the base REPL, but that's good! In that case I support #5350, that was my main concern.

[2022-11-21 15:38] #5302 closed, assigned to kcpevey

[2022-11-21 15:38] #5300 closed, assigned to kcpevey

[2022-11-21 15:56] andy-sweet commented on #5314
Sorry for the confusion here. Agreed that #5306 avoids the main issue here. We might also consider some extra safety measures (e.g. if we fail to read a settings file, then maybe just warn and continue) to avoid similar issues in the future that might be caused further changes. But I don't think that's too important.

I created #5316 to track the settings migration separately from this issue.

[2022-11-21 17:36] JoOkuma opened #5352 "`ViewerModel` can't open files in 0.4.17"
## 🐛 Bug

`ViewerModel` object has trouble opening files on version 0.4.17, this used to work on 0.4.16.
`Viewer` object works on both.

## To Reproduce

[code]

0.4.17 error

[code]

## Expected behavior

I expected `Viewer` and `ViewerModel` to work, using `ViewerModel` as an interface to open files is really useful to leverage existing plugins without requiring a UI.

## Environment
[code]

[2022-11-21 19:24] Czaki commented on #5352
The problem was introduced in #4847. You could workaround it by add:

[code]

[2022-11-22 03:45] GenevieveBuckley commented on #5319
It doesn't seem possible to upgrade napari in the environment I'm actually using (too many conflicts), but I've just created a new empty test environment and can confirm that the "opaque" setting is actually opaque in 0.4.17, unlike the screenshots above from 0.4.16

![napari-opaque-3d-labels](https://user-images.githubusercontent.com/30920819/203216191-d79f58b5-fd4d-40fe-8a88-f9c5be97bc74.png)

[2022-11-22 03:45] #5319 closed, assigned to nobody

[2022-11-22 18:54] boegel commented on #3792
For anyone else hitting this when using a `PyQt5` installation from source, make sure that was not configured with `--no-tools`, see also https://github.com/easybuilders/easybuild-easyconfigs/pull/16469/files...

[2022-11-22 19:47] #5304 closed, assigned to nobody

[2022-11-22 20:07] youyifong opened #5355 "RuntimeError: Using glBindFramebuffer with no OpenGL context."
## 🐛 Bug

When I drop a png file into the viewer, I get the following error. If I reboot my windows 10 machine, sometimes this error won't occur, but in most cases, it will.

The version is 0.4.17rc4, but I tried 0.4.8 and it also errored.

[code]

## To Reproduce

[2022-11-22 20:09] youyifong commented on #5355
Not sure if it is relevant, but my machine is a gaming laptop with GPU.

[2022-11-22 20:32] Czaki commented on #5355
It looks like you do not install GPU drivers. Please check it first.

[2022-11-22 20:57] DragaDoncila commented on #5352
Hmm this is an interesting one. I think this is definitely a use case we still want to support. I don't know if we *always* want to `_initialize_plugins` when creating a `ViewerModel` though. So many plugin contributions just don't make sense without a `Viewer` object. I guess I see a few options:

- always `initialize_plugins` when making a `ViewerModel`
- only initialize builtins when making a `

[2022-11-22 21:02] Czaki commented on #5352
From my perspective plugins does not need to be initialized on create of `ViewerModel` as it will create unnecessary slowdown. But maybe we should call it in methods that depends on it?

[2022-11-22 21:50] psobolewskiPhD commented on #5304
To fully close this out I've made a PR to the cookiecutter to update the docs and defaults:
https://github.com/napari/cookiecutter-napari-plugin/pull/142

[2022-11-22 22:01] JoOkuma commented on #5352
I'm in favor of initializing always if possible because a because a valid use case is
[code]
I started writing processing scripts like this so I don't have to worry about the file format as long as there's a napari plugin for it and it returns a single layer. `plugin_option` is a command line option.

Out of curiosity @Czaki, why is beneficial to have a greater performance on the `ViewerModel` ove

[2022-11-22 22:19] youyifong commented on #5355
Thanks. By GPU drivers, do you mean CUDA or python OpenGL?

I have three versions of cuda and cudnn installed. I changed the path to
point to v11.0 from v10.1. The problem still persists.

I tested OpenGL by following this page
https://stackabuse.com/brief-introduction-to-opengl-in-python-with-pyopengl/
and got the following error:

*In [3]: def showScreen():   ...:     glClear(GL_COLOR_BUFFER_BIT

[2022-11-22 23:13] Czaki commented on #5355
Yes, but are you sure that NVIDA driver is currently used by your system? Because it looks like running napari on Windows that uses built-in system GPU driver.

[2022-11-22 23:15] Czaki commented on #5352
If you use napari only as a Viewer You could use ViewerModel + QtViewer which will be docked somewhere in GUI (see PartSeg). So still uses great power of napari but without waiting to load things that you do not use.

[2022-11-23 00:00] isabela-pf opened #5358 "Create system for layer controls layout and visuals"
**Summary:** Layer controls in the viewer seem to lack a organizing model of how they appear in the left upper panel, what UI components they use, and how they interact with one another. Having a method for layer controls are handled as UI could better support users and maintainers. Myself and @LCObus are in the process of organizing UX research to understand the problem and propose methods to imp

[2022-11-23 05:25] youyifong commented on #5355
I installed OpenGL Extensions Viewer, which shows that I am using OpenGL
1.1.

I have a NVIDIA GeForce RTX 3080 laptop GPU. I updated the driver from
NVIDIA, but it did not change OpenGL 1.1.

It is a Windows 10 laptop.

On Tue, Nov 22, 2022 at 3:13 PM Grzegorz Bokota ***@***.***>
wrote:

[2022-11-23 06:18] youyifong commented on #5355
A strange thing is that if I reboot a few times, one of the times it will
work.

On Tue, Nov 22, 2022 at 9:24 PM Youyi Fong ***@***.***> wrote:

[2022-11-23 12:07] github-actions[bot] opened #5360 "[test-bot] pip install --pre is failing"
The --pre Test workflow failed on 2023-01-02 12:16 UTC

The most recent failing test was on windows-latest py3.9 pyside2
with commit: 562cc7f8cd7ff70e3ff567f258af209fbd15b00d

Full run: https://github.com/napari/napari/actions/runs/3822390677

(This post will be updated if another test fails, as long as this issue remains open.)

[2022-11-23 15:53] dalthviz opened #5361 "Unable to open samples from File menu (on main, due to PR #5351)"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Run Napari from source: commit 7ccee2c6
2. Go to `File > Open Sample > napari builtins`
3. Select any sample (e.g `Cell`)

[code]

## Expected behavior

Be able to open the builtin samples

## Environment

 - Please copy and paste the information at napari info option in help menubar here:

[code]

 - Any other relevant information:

[2022-11-23 15:59] psobolewskiPhD commented on #5361
Eeeep! You're right! I obviously overlooked this in the original PR. Boy do I feel dumb 😞
I will attempt to address this ASAP. Thanks for the heads up!

[2022-11-23 17:18] JoOkuma commented on #5352
How big is the slowdown when loading only readers and writers as @DragaDoncila suggested?

This could be a good alternative too

[2022-11-23 17:42] Czaki commented on #5352
It still means that you need to read the manifest of every installed plugin to collect a list of readers and writers. So it depends on the number of plugins, access time to disc etc.

[2022-11-23 19:52] #5328 closed, assigned to nobody

[2022-11-23 19:54] #3338 closed, assigned to Carreau

[2022-11-23 22:14] psobolewskiPhD opened #5365 "Unable to open Plugin widgets (on main, due to #5305)"
## 🐛 Bug
This is the analogous bug to that reported for Open Sample: #5361
I totally screwed up with PR #5305 (and #5351 ). Changing the iterators was not the way to go, even if it changed the menu look. I swear I tested locally, but I must have gotten git branches messed up.

Traceback:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Install plugin with multiple widgets
2. Try to op

[2022-11-24 19:17] youyifong commented on #5355
I came across a potentially relevent discussion on
https://github.com/vispy/vispy/issues/1342

"To help track this down, do you know what GPU you have @chouran
<https://github.com/chouran>? Do you have a dedicated GPU (ex. Nvidia or
AMD) or an integrated GPU in your CPU (usually Intel integrated graphics)?
If both, do you know if you are able to switch between them? If you have
both and you were a

[2022-11-24 19:17] youyifong commented on #5355
And I wonder if the fact that occasionally napari works when I reboot is
due to a randomness in which graphics card is used.

On Thu, Nov 24, 2022 at 11:16 AM Youyi Fong ***@***.***> wrote:

[2022-11-24 19:55] Czaki commented on #5355
Could you show the properties of your GPU cards driver: Something like this:
![obraz](https://user-images.githubusercontent.com/3826210/203856343-69337533-2527-49f3-80fa-b9b558fe379e.png)
It would be best if you could check this for both of your GPU. Maybe you need to install drivers for integrated graphics.

(I m sorry, I do not have the option to make a screenshot of the English version of the s

[2022-11-24 21:09] youyifong commented on #5355
I put the screenshots below. Before I saw your reply, I disabled NVIDIA
card and rechecked the OpenGL version with Extensions Viewer and it changed
from 1.1 to 4.6. Furthermore, vispy.sys_info() returned a bunch of info on
opengl, which it did not do before. Then I reinstalled napari 4.17rc4 and
it was able to render.

[image: image.png]

[image: image.png]

On Thu, Nov 24, 2022 at 11:55 AM Grzego

[2022-11-24 21:15] Czaki commented on #5355
There is no image attached.

[2022-11-24 21:36] youyifong commented on #5355
sorry let me try again, both inline and attached

[image: 2.png][image: 1.png]

On Thu, Nov 24, 2022 at 1:15 PM Grzegorz Bokota ***@***.***>
wrote:

[2022-11-24 21:42] Czaki commented on #5355
It looks like you need to do this via github webpage, not mail.

[2022-11-24 22:53] youyifong commented on #5355
![2](https://user-images.githubusercontent.com/29523631/203871848-e89d1999-fcc7-45b2-9d06-60cdeaea4f17.png)
![1](https://user-images.githubusercontent.com/29523631/203871849-1ea2b746-4653-4bf3-8443-799e85cebdbd.png)
I see. Let's see if this works.

[2022-11-25 08:03] Czaki commented on #5355
As I google, I see a few people reporting similar problems in the past (lack of OpenGL when using Nvidia driver on Windows), but no one contains information about the solution.

So I do not have any idea how to solve it. Maybe system reinstallation will be required.

[2022-11-25 09:39] Carreau commented on #5360
This seem to be a problem with latest numpy RC, that breaks scipy.

https://github.com/numpy/numpy/issues/22673

[2022-11-25 09:49] Carreau commented on #5178
Needs #5181 to be merged first I think.

[2022-11-25 15:33] thorstenwagner opened #5369 "Can't install napari on Mac M1"
Hi,

we try to get napari on an Mac with an M1 processor:
[code]

However, it can't find a matching distribution. The newst version it can install is 0.4.14.

Does someone know the reason?

We also downloaded the latest asset for 0.4.17. When we try to install it we run into the following exception:

[code]

Best,
Thorsten

[2022-11-25 15:41] Czaki commented on #5369
Hi. Unfortunately, not all packages that are used in napari have m1 compatible wheels uploaded to PyPI.

Currently, you need to install napari from conda
[code]
should work.
If you have more problems maybe @psobolewskiPhD may know something more.

[2022-11-25 16:54] psobolewskiPhD commented on #5369
Exactly as noted by @Czaki. The issue is that on pypi there are not arm64 wheels for pyqt5, which is what `pip install napari[all]` tries to install.
Conda-forge does provide these binaries though. So the best option is to use pure conda/mamba as suggested above. You can do:
`mamba create -n napari-env -c conda-forge python=3.10 napari`

Alternately, if you do want to install via pip (for example

[2022-11-25 18:01] youyifong commented on #5355
Thanks very much for your help.

For now, I will disable the NVIDIA card when I need to use use napari.

On Fri, Nov 25, 2022 at 12:03 AM Grzegorz Bokota ***@***.***>
wrote:

[2022-11-25 20:55] kcpevey opened #5371 ""show_selected_label" checkbox doesn't update when value is changed programmatically"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Create a new Labels layer
2. Programmatically change `label_layer.show_selected_layer = True`
3. The UI doesn't update

## Expected behavior

Changes to the backend should update the UI

## Environment

napari main at 5fe0048cccc03db2b9afa2ecd30acdbeefb4bc40

## Additional context

Discovered while I was working on #4864. It wasn't po

[2022-11-28 01:02] ianhi opened #5374 "Allow adding a points layer with data of shape `(A, B, ..., N, 2)`"
## 🚀 Feature

Accept arrays with shape `(A, B, .., N, D)` to `add_points`

## Motivation

I have arrays of point locations with shapes like `(S, T, N, YX)` I'd like to be able to easily turn these into a points layer.

## Pitch

If `data.ndim>2` automatically convert the data using the leading array indicies to fill in the first columns of the array. I've been using this function:

[code]

## Alte

[2022-11-28 19:03] #5169 closed, assigned to kephale

[2022-11-29 11:05] thorstenwagner commented on #5369
Hi,

[code]

works like a charm!

Thank you so much!

Best,
Thorsten

[2022-11-29 11:05] #5369 closed, assigned to nobody

[2022-11-29 11:09] psobolewskiPhD commented on #5369
@thorstenwagner To clarify, did you need to install pip from conda as shown above? or was that a copy paste error 😅

[2022-11-29 11:11] thorstenwagner commented on #5369
We actually had to do it.... it was not installed. I saw that this is happening occasionally when creating enviroments. Not sure why...

[2022-11-29 11:26] psobolewskiPhD commented on #5369
Huh. For me I get the same env whether the pip is added or not.
Maybe due to versioning?
[code]
Here's a one-line tester:
`mamba create -n test-env -c conda-forge python=3.10 napari --dry-run | grep pip`
output:
[code]

[2022-11-29 16:47] kcpevey commented on #5289
I tried out pylint for detecting cyclic imports:
`pylint --disable=all --enable=cyclic-import --recursive=y -v napari`

This discovered almost 200 cyclic imports. I assume these don't cause issues because the imports in question are hidden inside of function (likely because they'd cause issues otherwies).

It could be that many of these issues are the same error being reported by different modules

[2022-11-29 17:12] kcpevey commented on #5072
This fairly old, but looking at recent CI runs...

https://github.com/napari/napari/actions/workflows/test_comprehensive.yml

It was failing until 11/25 when a fix was merged in https://github.com/napari/napari/pull/5357

I think this is safe to close.

@andy-sweet

[2022-11-29 17:16] kcpevey commented on #4876
I can't quite tell if there is still an action item here. Can this be closed @Czaki / @haesleinhuepf ?

[2022-11-29 17:22] kcpevey commented on #4816
Confirmed that the above code works for me on current main. Can we close @brisvag ?

[2022-11-29 17:22] psobolewskiPhD commented on #2520
@haesleinhuepf I can't reproduce the issue from the OP in a dummy plugin, is this still a problem?

[2022-11-29 17:40] Czaki commented on #5289
which version of `pylint` do you use?
I just ran `pylint==2.15.7` and have over 240 (and some of them are real.

Here is an issue in pylint to allow disable cycle when going through function.
https://github.com/PyCQA/pylint/issues/850

But if such a function is used to create module-level variables on import then even import in function will not prevent from the cycle.

[2022-11-29 17:54] Czaki commented on #4876
The #5373 is partially related to this topic. It will allow finding all problematic places in the napari codebase.

[2022-11-29 18:24] andy-sweet commented on #5072
Agreed. I'm going to close this.

[2022-11-29 18:24] #5072 closed, assigned to nobody

[2022-11-29 18:32] kcpevey commented on #5289
I have `pylint==2.15.6`. Also just realized I'm on my fork so I'm behind napari main by a few days so that may account for the difference as well.

https://github.com/PyCQA/pylint/issues/850 has been open since 2016 and there doesn't seem to be a workaround at the moment - there isn't a way to distinguish between going through a function vs not.

[2022-11-29 18:48] #4816 closed, assigned to nobody

[2022-11-29 19:04] andy-sweet commented on #5289
Thanks for following up on this @kcpevey!

If moving some functions resolves most/all of these, and that's not much work, I'd be very supportive of such a PR.

Given https://github.com/PyCQA/pylint/issues/850, I think we can't make this a blocking action (i.e. we shouldn't block PRs if they have cyclic imports, since importing in a function is a valid strategy in my opinion), but it could still be

[2022-11-30 09:23] guiwitz opened #5379 "Error when editing shape data in nD"
## 🐛 Bug

I have an image layer which can be n-dimensional, and then add a shapes layer that has the same dimensions. In 2D if I add a 2D rectangle in the shape layer, I can then modify its corresponding data e.g. I can round the coordinates ```viewer.layers['rois'].data = [np.around(x) for x in viewer.layers['rois'].data]```. With a higher dimensional image, I can add a rectangle without problem

[2022-11-30 10:17] haesleinhuepf commented on #2520
I haven't tested for a while - GitHub CI in the context of python/napari is too volatile to spend much time on it.

[2022-11-30 10:25] Czaki commented on #2520
My experience is that nonstable GitHub CI in the context of python/napari shows the bug hidden in plugin code.

Bug that depends on various conditions and may hit the user randomly.

[2022-11-30 17:13] github-actions[bot] opened #5380 "[test-bot] Comprehensive tests failing"
The Comprehensive Test workflow failed on 2022-12-01 09:48 UTC

The most recent failing test was on windows-latest py3.8
with commit: 6cd7f78d6f8aa0ef29a25e6422a06a40e5aaeb76

Full run: https://github.com/napari/napari/actions/runs/3585422927

(This post will be updated if another test fails, as long as this issue remains open.)

[2022-11-30 20:26] DannyAlas opened #5382 "run loop not initialized with napari.Viewer()"
## 🐛 Bug

When initializing napari inside a qt application using `napari.Viewer()` it appears as though the run loop for vispy isn't initiated. Attempting to drag and drop an image into the viewer directly after opening the application results in an error, see error below.

This issue does not occur if `napari.run()` is used after the viewer is initialized, but this seems to start a completely sep