[2020-07-24 18:34] liaprins-czi opened #1501 "Error handling design"
napari needs consistent way(s) to surface various error types to the user. This issue relates to #1395 and #1090

There are a few different categories errors can fall into that should be considered:

### Severity levels
**Critical error** = (How would we define critical? For MVP we might not worry about distinguishing between critical and non-critical.)

**Non-critical error** = Not critical, but

[2020-07-24 18:54] hectormz commented on #1419
@floryst if you had wanted to work on this, that's fine with me. If you weren't able to do so, I was looking at taking a stab at it. Either way, do you want to talk about some of the ideas you've been thinking about?

[2020-07-24 19:43] berl commented on #1499
I think a correspondence between layers would be better held inside `napari` so things like `grid_view` can act on those correspondences instead of having to modify `stride` all the time.  I was just about to make some comment about some kind of layer groups and .... now there's a new PR on the topic!?  amazing.

anyway, I do think some of this functionality belongs in `napari` because keeping tra

[2020-07-24 19:57] berl commented on #1499
@VolkerH I'm seeing now that this layer correspondence isn't exactly the issue here- you're more interested in addressing the correspondence one level down, like points 0,1,2 _within_ a layer corresponding to points 4,33,1 within a different layer.

it does seem like there's some overlap, but maybe not as much as I initially thought.

carry on!

[2020-07-24 20:36] kevinyamauchi commented on #1499
This is all super cool stuff. @sofroniewn , I like the idea of using properties to store correspondence between layer data for now. I definitely agree that coming up with an "official" model for that is going to take some thought.

I think I prefer a properties implementation for now because I think it can be more flexible (e.g., allow for many-to-one correspondence, as suggested by @VolkerH ). A

[2020-07-24 20:47] tacaswell commented on #1493
xref same discussion at Matplotlib https://github.com/matplotlib/matplotlib/pull/13306 and a (maybe janky) implementation from my DAMA work https://github.com/bluesky/bluesky/blob/cde1d87294a41d48d0a92d6cae0ce9c508e20388/bluesky/utils.py#L1384-L1495

[2020-07-24 21:37] berl commented on #1499
@kevinyamauchi  what happens with multiple correspondence layers?  I think you would need N-1 arrays of `np.nan` for each of N layers.  If one happened to have many points, this could get painful.  maybe a sparse representation of these could be accomplished by making a list of  a layer ids and connected point indices  for each point.  if the list is empty, it's not connected to any other point in

[2020-07-24 21:40] berl commented on #1499
cc'ing @adamltyson here- he's working on some tools for  brain image -> atlas registrations [here](https://github.com/brainglobe) with a `napari` gui and may have some related use cases or concerns

[2020-07-24 23:11] liaprins-czi commented on #1501
Update: Here's a link to my latest Figma explorations:
https://www.figma.com/file/Aq1PhG2tVTodGZnSBe0nui/Error-Handling?node-id=0%3A1

I tried several locations for where errors could appear, and added some comments about my initial thoughts. (You can press the "c" key to see the comments or add your own.) It'd be great to get any feedback via the Figma comments or if it's easier can add them to t

[2020-07-25 02:22] #977 closed, assigned to kne42

[2020-07-25 14:27] jni opened #1503 "Multiple viewers on a layer: tracebacks when closing a viewer"
## 🐛 Bug

It's unclear whether this should be an officially supported feature, but probably it should be!

Creating a layer outside of the viewer, and then adding it to *two different* viewers seems to work fine. The layer attributes are perfectly synchronised, and changing e.g. the colormap on one viewer changes it in both. Which is excellent!

However, when one of the viewers is closed, I start

[2020-07-27 01:05] floryst commented on #1419
Hey @hectormz, I went ahead and merged what I had originally with napari master (and your neat circle brush code!). You can see the changes here (only one commit on this branch): https://github.com/floryst/napari/tree/1419-scale-brush

The scaling stuff works if you run the code, but needs refinement. Here are a few thoughts that come to mind:
1. UI integration. Right now there is no flag for togg

[2020-07-27 08:59] adamltyson commented on #1499
Thanks @berl. Very interested in this, and we will likely have multiple uses. I think the general concept discussed would suit our needs (picking corresponding points in N 2/3D images, then cropping to a bounding box, and aligning as an initial registration step).

Will keep an eye on this, as we will soon have someone dedicated to this project, who will hopefully be able to contribute upstream to

[2020-07-27 18:00] tlambert03 opened #1507 "possible replication of first frame in large datasets on Intel integrated GPU"
## 🐛 Bug
from  https://forum.image.sc/t/napari-stuck-view-in-3d-cube/40899/4

I haven't had time to try to reproduce this yet, but @kapoorlab is seeing a strange issue in which the first timepoint of a relatively large (82, 65, 967, 516) 4D volume is superimposed on all later timepoints.  If he crops Z to ~16 planes, it seems to go away.

[2020-07-27 18:10] kapoorlab commented on #1507
Here is an example dataset to try this:

https://drive.google.com/file/d/1qqXiGunUN3ecpR5j8K4QIz2_196-cVU1/view?usp=sharing

[2020-07-27 18:14] tlambert03 commented on #1507
Thanks,  I tried to recreate with synthetic data but it didn't happen:

[code]

so I'll take a look at this dataset

[2020-07-27 18:17] tlambert03 commented on #1507
hmm... i also couldn't see it with your dataset, though I opened it with `napari path/to/file.tif` instead of using imread...  Could you 1) paste the output of your `napari --info` here ... and 2) give me more details on the imread?  is that from skimage?  tifffile?

[2020-07-27 18:20] tlambert03 commented on #1507
also, just want to double check that you tested this smaller dataset `shape = (10, 27, 967, 516)` and definitely still see it?

[2020-07-27 18:58] kapoorlab commented on #1507
My napari --info output:

`
napari: 0.3.6
Platform: Darwin-18.7.0-x86_64-i386-64bit
Python: 3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 13:42:17)  [GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
Qt: 5.14.2
PyQt5: 5.14.2
NumPy: 1.18.4
SciPy: 1.4.1
Dask: 2.17.2
VisPy: 0.6.4

GL version:  2.1 INTEL-12.10.12
MAX_TEXTURE_SIZE: 16384

Plugins:
  - napari-plugin-engine: 0.1.5
  - svg: 0.1.3

[2020-07-27 19:21] sofroniewn commented on #1507
Ok, wow this one is a surprise!!

Cross-posting my comment from image.sc - i'm curious if you drop the scale arg do weird things still happen?

Curious if you go back in time before https://github.com/napari/napari/pull/1445 then do bad things still happen?

[2020-07-27 19:32] liaprins-czi commented on #1501
Here's a link to the Figma page where I've narrowed down some of the designs:https://www.figma.com/file/Aq1PhG2tVTodGZnSBe0nui/Error-Handling?node-id=0%3A1

And here's a link to a prototype of how the error message for anticipated errors (e.g. user drags wrong file type onto canvas) could appear and act:
https://www.figma.com/proto/Aq1PhG2tVTodGZnSBe0nui/Error-Handling?node-id=22%3A36&viewport=-19

[2020-07-27 19:46] sofroniewn commented on #1501
These are so beautiful @liaprins-czi!!!

For the github submission right now our error dialog looks like this and then clicking on github opens it like this if i am logged in. i'm pretty sure you get sent to a signup / login page if you aren't logged in.

![image](https://user-images.githubusercontent.com/6531703/88584567-ab449080-d006-11ea-877c-284fef5876db.png)

and

![image](https://user-images

[2020-07-27 19:47] kapoorlab commented on #1507
Hi, yeah there is one more surprise I noticed but first, I went back in time n cloned the dev repo, napari info for that:
`
(base) AIMachines-MacBook-Pro:napari aimachine$ napari --info
napari: 0.1.dev768+g9b90648
Platform: Darwin-18.7.0-x86_64-i386-64bit
Python: 3.7.3 (default, Mar 27 2019, 16:54:48)  [Clang 4.0.1 (tags/RELEASE_401/final)]
Qt: 5.14.2
PyQt5: 5.14.2
NumPy: 1.18.4
SciPy: 1.4.1
Dask:

[2020-07-27 19:48] sofroniewn commented on #1501
Also @tlambert03 what was the Qt element you were thinking for this display in the bottom right?
![image](https://user-images.githubusercontent.com/6531703/88585028-679e5680-d007-11ea-9699-0540d7e0c1ad.png)

can you link to it?

[2020-07-27 19:59] sofroniewn commented on #1507
maybe, but probably something that should be fixed, can you make a dedicated issue for this one

[2020-07-27 20:05] Czaki commented on #1507
could You try if for code from this PR this problem is fixed? https://github.com/napari/napari/pull/1360
It may be connected with wrong handling scale when creating labels.
I meet this problem on other side of scale (large values) in #1407

It is partially fixed (for your case also should be).

[2020-07-27 20:06] tlambert03 commented on #1501
there is a slight issue here.  Since we are encoding the message in the URL there, there is a character limit (5910 chars) to the body of the bug report if the user is not logged in.  So, in _some_ cases, they will have to re-submit after logging in.  Otherwise it will forward them correctly to the page (with bug report intact) after login.  see https://github.com/napari/napari/pull/1024#issuecomm

[2020-07-27 20:26] kapoorlab opened #1508 "Label editing and creation with scale keyword"
## 🐛 Bug

When trying to edit the labels in Napari setting scale attribute in view_image prohibits editing and drawing of the labels.

## To Reproduce

Steps to reproduce the behavior:

1.  You can open an example image with its labels and then use this code

`
scaleZ = 1
scaleX = 0.16
scaleY = 0.16
with napari.gui_qt():

                            viewer = napari.view_image(image, name='Raw', rg

[2020-07-28 01:10] jni commented on #1304
Soooo... I *was* able to reproduce this on Python 3.8 and napari master.

[code]

stdout:

[code]

Traceback:

[code]

Steps:

- open the file with the command line
- click on a middle slice
- click on 3D view
- cry 😭

[2020-07-28 08:15] kapoorlab commented on #1507
Hi @Czaki ,

I tried the PR #1360 but it does not solve the issue because scaling does not seem to cause this problem. Even with no scaling the problem remains.

[2020-07-28 08:29] Czaki commented on #1507
Could you provide information about RAM in your computer?
Could you describe steps?

Did You have access to other computer and could reproduce any of these two bugs?

[2020-07-28 08:33] kapoorlab commented on #1507
@Czaki I am using a standard Macbook pro. I open a Jupyter notebook where the images are tiff files of about 3 GB and read using imread and then I launch napari gui from the notebook and switch to the cube view and I see this error. Even drag n drop in napari would cause the same issue.

Maybe you can try the dataset I uploaded and see if you see the same error as me?

[2020-07-28 09:24] Czaki commented on #1507
@kapoorlab
I try this on Ubuntu and on MacOS (MacBook Pro (Retina, 15-inch, Mid 2015) 16 GB RAM). And not see this error.
Only difference which I see is that I use pure CPython (from pyenv) and You use Python from Anaconda.

I could paint on labels (it work only in 2D mode). And first layer does replicate.

I think that You need to provide more information to allow other person to reproduce this p

[2020-07-28 09:30] kapoorlab commented on #1507
My Napari info is as follows:

napari: 0.3.6
Platform: Darwin-18.7.0-x86_64-i386-64bit
Python: 3.7.3 (default, Mar 27 2019, 16:54:48)  [Clang 4.0.1 (tags/RELEASE_401/final)]
Qt: 5.14.2
PyQt5: 5.14.2
NumPy: 1.19.1
SciPy: 1.5.2
Dask: 2.21.0
VisPy: 0.6.4

GL version:  2.1 INTEL-12.10.12
MAX_TEXTURE_SIZE: 16384

Plugins:
  - napari-plugin-engine: 0.1.6
  - svg: 0.1.3

Maybe it is my plugin engine whic

[2020-07-28 10:03] Czaki commented on #1507
Hm. In this moment I have no idea. I cannot reproduce this bug. Maybe someone else will have better idea.

[2020-07-28 10:09] tlambert03 commented on #1507
@kapoorlab, can you
- try loading data with `napari path/to/image.tif` and see if it still happens for you?
- provide a full script with imports showing how the data is loaded
- try my synthetic example above and see if it happens for you

[2020-07-28 10:59] kapoorlab commented on #1507
@tlambert03

So I tried loading data with napari path/to/image.tif and it still happens.

My script:

`
import os
from tifffile import imread
import napari

ImageName = '/Users/aimachine/Downloads/C2-Raw_Timelapse_87E_Tomato_GFP.tif'

scaleX = 0.161
scaleY = 0.161
scaleZ = 1

Name = os.path.basename(os.path.splitext(ImageName)[0])
Image = imread(ImageName)
Image= Image.astype('float16')
print(Imag

[2020-07-28 11:15] tlambert03 commented on #1507
yep, I'm coming to the same conclusion... but it's still quite interesting.  I'd like to try to recreate it locally... can you do `conda list --export > requirements.txt` and upload the file here?  And if you have time, create a fresh conda environment and see if the problem persists?

[2020-07-28 11:18] kapoorlab commented on #1507
[code]

[2020-07-28 11:33] kapoorlab commented on #1507
I created a new minimal environment with fresh install of napari and still napari path/to/.tif gives me the same error. The requirements file for this environment contains:
[code]

[2020-07-28 11:47] tlambert03 commented on #1507
wow.  well I just tried both environments, and I _still_ can't reproduce it here locally... and I double checked to make sure the environments are the same.  so I fear that means we now need to consider things like opengl drivers/platforms... which is harder (for me at least) to debug.  The only other thing I might try on your end is an environment with python3.8

[2020-07-28 11:55] Czaki commented on #1507
OpenGL could connected with replication, but I cannot imageine how it could be connected with label editing.

[2020-07-28 12:05] kapoorlab commented on #1507
I also tried python3.8 environment, still the same bug for me!

[2020-07-28 12:06] Czaki commented on #1507
Did you have possibility to get access to other computer and test on it?

[2020-07-28 13:12] kapoorlab commented on #1507
Not at the moment, am on holidays but will do that as soon as I am back in the office.

[2020-07-28 13:57] tlambert03 commented on #1304
hmmm... didn't happen for me.  I get the same `root_attrs` and `resolutions` stdout... but I don't get the warnings, and it works fine when I click on a middle slice, then click on 3D view.  (tried both with master and recent release)

<details>
<summary>conda list</summary>

[code]

</details>

[2020-07-30 12:01] pwinston opened #1512 "napari.utils.list could use better documentation"
## 📚 Documentation

All the files in `napari.utils.list` are pretty sparsely documented. See for example `TypedList.index` where there is no doc string and it's not easy to understand what it even does:
https://github.com/napari/napari/blob/master/napari/utils/list/_typed.py#L59-L84

Also the variable names could be clearer, the last line of the method is: `q = e`.

The class docstring is not very

[2020-07-30 12:57] tlambert03 commented on #1512
agreed.
for what it's worth... that whole folder will hopefully be replaced by #1444 ... so if you're using `TypedList` as a component in a new class, you might consider trying to use `TypedEventedList` from #1444.  It too probably needs a bit more documentation before merge.

also agreed.  I know your point here was not to ask "what does it mean?", but rather to say we should have this in the doc

[2020-07-30 15:41] brainwane commented on #631
pip 20.2 is now out. This release includes the **beta of the next-generation dependency resolver**. It is significantly stricter and more consistent when it receives incompatible instructions, and reduces support for certain kinds of constraints files, so some workarounds and workflows may break. **Please test it** with the `--use-feature=2020-resolver` flag. Please see [our guide on how to test a

[2020-07-30 17:26] sofroniewn commented on #631
Thanks @brainwane! I'll give this a try when I get the chance!!

[2020-07-30 19:11] henrypinkard commented on #903
On the subject of docker vs singularity, after using several cloud computing platforms it seems that clusters are more likely to favor singularity (because you don't need root access to run it) but proprietary cloud computing (AWS/GCP) are favor docker and have many features to make it very easy to use. I believe you can generate a singularity container from a docker container though, so docker is

[2020-07-31 02:05] jni commented on #631
:wave: @brainwane! I intend to use the resolver every time I use pip now, if I can remember. Bravely onwards! :crossed_fingers:

[2020-07-31 05:15] jni opened #1513 "Creating an empty labels layer should only rely on image layer extents"
## 🚀 Feature

In #1360, @sofroniewn has added a short term fix for #1407, in which a new labels layer grabs the spacing from the layers list, which creates a labels layer with the smallest spacing present from all the layers. This works when you have one or more images in the viewer, but in the case of points, which can be "scale-less", ie the data can be in world coordinates directly, this can re

[2020-07-31 08:30] jni opened #1514 "Support for fractional ctrl-scrolling through stack"
## 🚀 Feature

In #1434 we added support for using the scroll-wheel while holding Ctrl to change slices. However, this does not work well with a trackpad rather than a mouse, because the trackpad allows deltas <1, so holding Ctrl and slowly scrolling (ie two finger drag on Mac) actually does nothing but accumulate a whole bunch of events with delta <1. Ideally, we would add an accumulator value tha

[2020-07-31 14:54] tlambert03 commented on #1389
Well, I have an [autogenerated connection graph now](http://www.plantuml.com/plantuml/uml/X9Z1RkCs48RlUGfZJtjPFq0FHPiiMXH8YmPPR0w58J3Ys2AM8WLobCGjzjrhcGfNz2zw3W7YuKUAvCm_vF2No2hmsDkRVL0zRJuyyBrw9XlllEFWRVom-Uzci_ddqhnjl6k6G9722pNstDQqdN87sbLvqeRLioKHZ6IfPUETI9v6SzguWmZwGRM6Z_A0OOnT4ys_9AAjjpuqlTSowXfjUdd0qmyZBgNyulURTyzzDVHAuSzJevsTjh1ict7GYgc9h7YCkylcoPFSl9mikrfFguuKOhMv7KFquRnpo7YNkkSOgOro24OBdw

[2020-07-31 15:04] tlambert03 commented on #862
Just want to put a few thoughts here from our conversation yesterday... and hopefully we can do something with this to simplify the work on the models.

I don't totally mind the idea of a new object `(colors, controls, interpolation, name)`, but I am also sensitive to Juan's comment about creating "yet another colormap representation".  If the counter argument is that we don't want our users to ne

[2020-07-31 16:32] sofroniewn commented on #862
yup i totally recognize the burden here is on me to provide something concrete. I will give it a go, but it might not be till next week. I'm offline this weekend. I do feel pretty strongly about this one though so want to give it my best shot to convince everyone, recognizing your concerns too!!

[2020-07-31 16:33] tlambert03 commented on #862
that's fine!  nothing urgent.  look forward to your thoughts

[2020-08-01 02:49] pwinston commented on #1320
For above `remove_smFISH.py` @sofroniewn I cannot access the data. It said first need credentials but then I setup my own AWS ones, then it says `Forbidden`. Is the data somewhere else?

[code]

[2020-08-01 02:58] sofroniewn commented on #1320
I’m not at my laptop now, but I wonder if @tlambert03 was able to access that data. I think getting all this stuff nicely available will be a priority!

[2020-08-01 03:09] tlambert03 commented on #1320
@sofroniewn, I'm not 100% sure, but I think you might still need to adjust the [Bucket Policy](https://docs.aws.amazon.com/AmazonS3/latest/user-guide/add-bucket-policy.html)?

@pwinston, try this dataset to see if it behaves differently  (first make sure to `pip install s3fs`)

[code]

[2020-08-01 03:12] tlambert03 commented on #1320
I get the Forbidden error as well for  `s3://sofroniewn/image-data/smFISH/raw.zarr`

[2020-08-01 21:52] sofroniewn commented on #1514
I just had an idea - given that two finder scrolling when the slider is in focus works nicely to scroll through the stack do we just want holding the `ctrl` key to temporarily toggle focus to the last used slider dims? Curious what @jni @tlambert03 think of this idea?

[2020-08-01 21:54] tlambert03 commented on #1514
yeah, that seems nice... what currently happens if you try two-finger scrolling with the `ctrl` down if no slider has focus?  And... isn't there always a "current" (last used) slider?

[2020-08-01 21:59] sofroniewn commented on #1514
Pre-merge of #1434 holding ctrl and hovering over canvas 2 finger scrolling causes pan-zoom just like without ctrl. After #1434 it doesn't, so we'd need to use the #1434 approach of intercepting the scroll wheel call too, but instead of calling the increment dims methods on the model, I guess we'd just reroute the call to the Qt Slider.

I think if there are no sliders present it is `None` and I'm

[2020-08-01 22:05] tlambert03 commented on #1514
I think I'm missing the point :) what's the actual behavior this would change/fix?  and is the point here specific for 2-finger-scrolling vs mouse-wheel scrolling?

[2020-08-01 22:16] sofroniewn commented on #1514
Ah sorry, the trackpad scrolling (2-finger scrolling) when the canvas is in focus doesn’t work well after #1434 because of how the delta’s are accumulated - it can’t really get it “to work” on my laptop, maybe it advances a frame or too then suddenly might advance lots. The plan @jni had that @ziyangczi was going to implement was based on accumulating those deltas.

It just occurred to me that an

[2020-08-01 22:19] tlambert03 commented on #1514
ooooh, sorry, I didn't realize this was an alternative to accumulating the deltas.  Yes, seems like it's worth a try!  hard to say ahead of time which approach will feel more natural.

[2020-08-01 23:55] jni commented on #1514
As much as I like reducing unsolved problems to already-solved problems, I feel like changing the focus with Ctrl is a very big leap — unless I'm misunderstanding, suddenly, all shortcuts with Ctrl will have their focus changed (?), which seems like a minefield of issues waiting to happen.

[2020-08-02 00:03] sofroniewn commented on #1514
Yeah ... I was a little worried about that too - it could just introduce a lot of unexpected coupling. Maybe we can re-route the mouse event to the dims slider without switching focus. How does that sound?

[2020-08-02 11:10] qizhuli opened #1516 "Enable per-label visibility control for labels layer"
## 🚀 Feature
The requested feature is for the labels layer to have a fine-grained visibility control for individual label values, which enables users to focus on certain label values by turning the rest invisible.

## Motivation
Often labels image can have a large number of labels. To make things worse, one label can have bits and pieces scattered in different parts of an image. These two factors

[2020-08-02 23:39] sofroniewn commented on #1516
This is a great feature request! I wonder in the short term if a better workaround might involve the new `properties` dictionary added to the labels layer and the ability to use custom colormaps. See this example here https://github.com/napari/napari/blob/master/examples/add_labels_with_properties.py Maybe @DragaDoncila can also give some suggestions.

I'm curious how that goes, we can then think

[2020-08-03 00:21] DragaDoncila commented on #1516
This seems like a fairly key feature for working with labels. I would say the `properties` dictionary could be leveraged to enable/disable visibility based on the values of the properties or the value of the label itself e.g. show all labels with a particular classification.

In terms of working with existing features, one option I can think of (which is certainly suboptimal), is to use the custom

[2020-08-03 14:02] jni opened #1518 "magic name guessing no longer works with napari.view_*"
## 🐛 Bug

Tragically, it looks like 0e53da7965c96315e74716f25a477c918d1c18ff / #978 broke @kne42's wonderful magic name guessing when using `v = napari.view_image(my_named_data)`. This makes sense, since the generated code is no longer easily detectable as being part of our stack.

One option would be to generate the code at *install time* rather than *run time*. Thoughts @tlambert03?

## To Repro

[2020-08-03 14:11] jni commented on #1514
*mouse wheel =)

Then, sure! =)

[2020-08-03 15:11] sofroniewn commented on #1514
Yeah, one option to explore is if ctrl is pressed then the mouse wheel event is blocked on the canvas, but reroutes to the dims slider - that seems pretty nice. If that approach doesn't work, we could try the fractional scrolling one.

[2020-08-04 13:51] vzinche opened #1519 "One color per multiple labels results in gradients"
## 🐛 (Probably a) Bug

Related to #716

## Problem
I have a segmentation image, which I want to color by some metadata. Let's say, each segment id has a property A or B assigned. To color segments by properties, I supply a dictionary to the labels layer that looks like:
`color_dict =  {0: 'black', 1: 'red', 2: 'red', 3: 'blue', 4: 'blue', etc}`
`viewer.add_labels(segmentation, color=color_dict)`
N

[2020-08-04 14:19] constantinpape commented on #1519
For some context here, @vzinche and me have been looking into similar problems of coloring labels by data associated with the labels.

I think a good solution for this would be to color via the `properties`, which are also available in the labels layer now. As far as I can see there's no option to explicitly color by the properties right now.
See also #1516.

[2020-08-04 15:59] sofroniewn commented on #1519
Thanks so much for flagging this, it does look like a bug from #1339 - maybe @ziyangczi can take a look.

It could either be in the colormap calculation here, https://github.com/napari/napari/blob/master/napari/utils/colormaps/colormaps.py#L119-L140 or in the mapping of integer labels to floats here https://github.com/napari/napari/blob/master/napari/layers/labels/labels.py#L556-L565. Somewhere th

[2020-08-04 17:03] qizhuli commented on #1516
@DragaDoncila they are great ideas! @sofroniewn Thanks so much for supporting this feature request.

In addition, to facilitate _systematic_ inspection through all existing label values, it would be nice to have a list of label IDs, where users can directly toggle their visibility, without having to locate them in the image. It can be implemented as an expandable menu -- which is hidden by default

[2020-08-04 18:01] neuromusic commented on #764
As an alternative analytics platform to Google Analytics and Matomo, I'm impressed with https://plausible.io/

- Open Source
- Simple metrics
- No cookies at all (fully GDPR compliant w/o cookie banners)
- Option to have a public dashboard for transparency w/ users

[2020-08-04 19:40] sofroniewn commented on #764
That looks great @neuromusic, nice find!! @jni have you seen this before? How do you feel if we wire it up to `napari.org`? Could be nice to get some baseline data before more website improvements

[2020-08-04 23:54] sofroniewn commented on #1516
Thanks for that cool mock @qizhuli!

@tlambert03 has actually been thinking about some functionality to support layer groups that might look like that - see some discussion in #970 and #1089, but I think for changing the visibility status or name for an individual label we might want to leverage more of a properties table approach (something that we've been discussing in the context of Points with

[2020-08-05 00:15] #1518 closed, assigned to nobody

[2020-08-05 03:05] #986 closed, assigned to nobody

[2020-08-05 03:05] #987 closed, assigned to nobody

[2020-08-05 03:42] sofroniewn commented on #1407
Closed by #1360

[2020-08-05 05:23] jni commented on #764
Cookie banners are the bane of my existence. I have never seen this before but I would *love* to hook this up on our site and have the analytics be public!

[2020-08-05 05:23] jni commented on #764
Thank you @neuromusic for finding it! The Best.

[2020-08-05 10:21] #1407 closed, assigned to nobody

[2020-08-05 15:19] sofroniewn commented on #1508
Thanks for flagging this, we will look in soon!

[2020-08-05 18:36] manzt opened #1524 "Generative zarr example / reusing zarr-related plugins"
## 🚀 Feature
Add mandelbrot set (or other generative multiscale) example to docs to showcase napari's multiscale capabilities.

## Motivation
Current multiscale examples are either toy examples where the whole pyramid fits in memory (tiled astronaut) or require download / access to some large remote dataset. This usually means quality internet access is necessary when trying to showcase the extent

[2020-08-05 18:45] liu-ziyang commented on #1514
Before I jump in and implement anything:
I tried the current version without any change, it does work if you scroll hard, so a sensitivity fix may be needed, however, I noticed that the scroll direction is reversed compared to when I scroll on the dim scroller directly, there may be more fixes required to align the scrolling direction.
My personal experience so far is that I like the responsivenes

[2020-08-05 19:02] sofroniewn commented on #1514
The Qt Wheel Event is the same for trackpad and mouse wheel see in https://doc.qt.io/qt-5/qwheelevent.html, so you should be able to implement the event catching and forwarding for the trackpad during development and then only when finished should we test on mouse wheel. Does that make sense?

I don't think not having a mouse wheel will be a problem for implementing this approach as it can be deve

[2020-08-05 20:05] liu-ziyang commented on #1514
attempted a fix with https://github.com/napari/napari/pull/1525/files, I tested out with trackpad, works on both inverted or uninverted setting on my MacBook to have right/downwards scroll to scroll to right

[2020-08-05 20:59] sfcaracciolo commented on #1254
Hi,

I have same error than @hectormz, but I can't found the `_qt_resources.py` file in `napari/resources/` to delete it. Besides, I'm not sure where replace the code fragment in `build_icons.py` (at line 176 I see `build_pyqt_resources` definition). I tried copy/paste at line 209 (after `qrc_path` assignment) but doesn't work.

Thanks for your help!

[2020-08-05 21:03] tlambert03 commented on #1254
Hi @sfcaracciolo, this is a pretty old issue, and there should no longer be a need to edit `build_icons.py` since #1261 has merged...  Is this an old install/environment you're working in?  Can you provide the output of your `napari --info`?   Does it happen if you create a new environment and reinstall napari?

[2020-08-05 21:36] sfcaracciolo commented on #1254
Indeed, if I create a new venv the problem is solved, thanks! Probably, the issue is related to my original venv because is a Intel distro in order to use MKL. Unfortunately, napari installation upgraded Numpy and I lost the MKL support. Maybe, in this case is better separated both projects.

Thanks again @tlambert03 !

[2020-08-05 21:46] tlambert03 commented on #1254
hmmm... well that's no good either.  i can play with this later... but if you pre-install just numpy with `conda` or use conda to install napari, are you able to keep MKL?

[2020-08-05 22:07] sofroniewn commented on #764
Ok, great @jni I will look into trying this! They have a free trial

[2020-08-05 22:35] liaprins-czi commented on #764
Here are a couple different sitemaps I've been exploring:
https://www.figma.com/file/CCKg8nO8vVcYVIvkVJbW4g/Website?node-id=17%3A0

We would not need to do one versus the other binarily, but ultimately could have a combination of the two (they are different in multiple ways, and rather than building out every permutation of difference-combinations, I just made the two "extremes"). Magenta outlines

[2020-08-05 23:19] jni commented on #1524
@manzt I'm not sure why you've conflated the Mandelbrot set and the generic remote zarr store in the same issue, but both are *super cool* and please add the Mandelbrot example to our examples NOW. =D

[2020-08-05 23:59] manzt commented on #1524
Yeah ... originally the generic zarr stuff was a minor comment / observation about zarr-based images that came up in the sync today and I wanted to put somewhere. Turns out I had a lot more to say apparently ... sorry 😅 Will move to a separate issue.

[2020-08-06 03:08] sofroniewn opened #1527 "Mac OSX 3.7 CI fail"
## 🐛 Bug

We are getting a consistent Mac OSX 3.7 CI fail

See https://github.com/napari/napari/runs/951608936

looks like it might be pooch/ scikit-image related

[code]

[2020-08-06 14:49] sfcaracciolo commented on #1254
Hi @tlambert03,

At the moment I don't use conda, but I created a new venv of python intel distro, then I installed napari and it works. Finally, I executed my requirements.txt in order to use my project and MKL it´s ok. I don't know why doesn't work when I install napari after to the other packages.

Good luck and thanks!

[2020-08-06 14:53] tlambert03 commented on #1254
I see...  if pip doesn't see `numpy>=1.10.0` from PyPI when it tries to install napari, it will likely overwrite whatever is already there.  You might have better luck with conda, which is pretty good about [compatibility with MKL](https://docs.anaconda.com/mkl-optimizations/).  cheers

[2020-08-06 21:06] liaprins-czi commented on #764
Update: I've also created a third sitemap that reflects my current inclinations of which changes would be most beneficial to user's needs/experience (but am in no way 100% about any of this, still need feedback to help make right decisions!):
https://www.figma.com/file/CCKg8nO8vVcYVIvkVJbW4g/Website?node-id=22%3A0

**Sitemap 3 overview:**
Identical to Sitemap 2, except the plugin content is pulled

[2020-08-07 02:28] sofroniewn commented on #1527
Looks like CI just passed, so it might not happen every time, or it might no longer be an issue .... https://github.com/napari/napari/runs/956001037

[2020-08-07 02:33] sofroniewn opened #1530 "Viewer variable in console clobbered with multiple viewers"
## 🐛 Bug

Launching two napari viewers from the same python script will cause problems where the viewer variable inside each console clobbers each other as they use the same `viewer` name - see https://github.com/napari/napari/blob/master/napari/_qt/qt_viewer.py#L230

This was flagged in https://github.com/napari/napari/issues/787#issuecomment-564829450

[2020-08-07 02:35] sofroniewn opened #1531 "Button to open console shouldn't exist if viewer launched from IPython"
## 🐛 Bug

As noted in https://github.com/napari/napari/issues/787#issuecomment-564829450 the button to open the console should not exist if the viewer is launched from IPython as the console is not supported there (there is no need for it as the IPython terminal functions as the console).

We could consider blocking the console and disabling the button from Jupyter too.

[2020-08-07 02:36] sofroniewn commented on #787
The remaining work to still address in this issue is now captured by #1530 and #1531 and this issue can be closed

[2020-08-07 02:36] #787 closed, assigned to shanaxel42

[2020-08-07 02:38] sofroniewn commented on #130
This has been supported by #1456

[2020-08-07 02:38] #130 closed, assigned to nobody

[2020-08-07 02:42] sofroniewn commented on #225
This behaviour was fixed by using the mesh visual in #215 and i can no longer reproduce any moire effects. If anyone encounters additional aliasing problems they can either reopen this issue or create a new one with steps to reproduce

[2020-08-07 02:42] #225 closed, assigned to nobody

[2020-08-07 02:43] sofroniewn commented on #312
Note this no longer be needed after #1444 and followup PRs using the new evented list

[2020-08-07 02:52] sofroniewn commented on #817
@lennart-g and @wiebkejahr we made some good progress with our windows specific 3D volume crashes - see a similar issue in #1347 a fix by #1445.

Can both of you try upgrading to napari 0.3.6 and see if the issue still persists? We do still have a couple of lingering ones like #1224 so would be good to know where this one lands. I hope it is now solved!!

[2020-08-07 03:43] sofroniewn commented on #614
Note this bug is independent of addition of world coordinates

[2020-08-07 14:16] imagejan opened #1533 "Installation via conda doesn't install PyQt5"
## 🐛 Bug

When installing via `conda`, the `PyQt5` dependency doesn't get installed, whereas with `pip` it does.

## To Reproduce

Steps to reproduce the behavior:

1. `conda install napari[all] -c conda-forge`
2. `conda list` will not list PyQt5, and running a script the requires napari will complain about `PySide` not found.
3. `pip install napari[all]` will then install `PyQt5` and `PyQt5-sip`

[2020-08-07 14:23] tlambert03 commented on #1533
Hi @imagejan, thanks for the issue.

`conda install napari[all]` is not actually valid syntax for conda ... that `[all]` bit is a "pip extra" ... but doesn't apply to conda.  However, if you do _just_ `conda install -c conda-forge napari`, it should be installing PySide2 (as per [our recipe](https://github.com/conda-forge/napari-feedstock/blob/master/recipe/meta.yaml)).
(sidenote: when I do it loc

[2020-08-07 14:27] tlambert03 commented on #1533
if I run `conda create -n napari-env -c conda-forge python=3.8 napari` on windows 10  with git bash... here's what I tells me it's going to install:

(@jni, note both pyside2 and pyqt ... should we update the recipe?)

<details>
<summary> conda list </summary>

[code]
</details>

[2020-08-07 14:50] imagejan commented on #1533
Yes, thanks @tlambert03 for the clarification, that was my bad. I confirm that when creating a new env the way you described, `pyqt` and `pyside2` are installed.

[2020-08-07 14:50] #1533 closed, assigned to nobody

[2020-08-07 14:51] tlambert03 commented on #1533
thanks for letting us know.  Yeah, the difference between the conda and pip install methods are unfortunate.

[2020-08-07 16:11] sofroniewn commented on #1527
Ok it has failed again, https://github.com/napari/napari/runs/956641527, so looks like it might not be every time, but right now at 66%. It's also only Mac OSX Python 3.7 that fails, all the others always work

[2020-08-07 16:55] tlambert03 commented on #1527
might be worth opening up a branch, enabling py3.7 on cirrus so it can be tested... and then maybe turn off the pip cache?

https://github.com/napari/napari/blob/2315443d9bd4fb6b8cc30967cf433d017f7c8ca2/.cirrus.yml#L61-L65

[2020-08-07 18:13] liaprins-czi commented on #764
I've incorporated the feedback since yesterday's meeting, but would love more feedback to help iron out the final tweaks/refinemments, or if this isn't looking right when actually seeing it.
https://www.figma.com/file/CCKg8nO8vVcYVIvkVJbW4g/Website?node-id=42%3A2

[2020-08-07 20:14] tlambert03 commented on #1327
Ok, sounds like wording is very important here, and everyone is a bit more comfortable opening up various APIs as long as we protect the word "plugin".  I can certainly get behind that.  I do think we need _some_ sort of avenue to promote the amazing work that early adopters are doing, and I genuinely do think we will kill some of the buzz/excitement if we make everyone wait until we come up with

[2020-08-08 00:40] JoOkuma opened #1535 "Default key bindings of standard layers not working when inherited"
## 🐛 Bug

The child object of a layer class does not inherit its key bindings.

This bug happens because of the changes in PR #1528.

## To Reproduce

Steps to reproduce the behavior:

1. Install the latest version of napari.
2. Execute the code provided below.
3. Try to use some key bindings such as hold SPACE to pan or zoom while adding points.

[code]

## Expected behavior

I expected the defau

[2020-08-08 00:54] JoOkuma commented on #1535
I'm not entirely sure if this is expected or not.

However, if the key binding inheritance is not expected, it should not show "hold <space> to pan/zoom" in the bottom right corner when in add/select mode.

[2020-08-08 01:11] sofroniewn commented on #614
This was fixed by #1102 and a test added. @jni would you like to confirm this is now fixed and close? (I just checked and it looks fixed to me)

[2020-08-08 02:32] tlambert03 opened #1536 "RuntimeWarning when creating empty points"
## 🐛 Bug
not a bug exactly, but a runtime warning that users will now see when creating empty points after #1360

[code]

@sofroniewn, would it be possible to catch the all-NaN cases before running np.nanmax/min here?

https://github.com/napari/napari/blob/2315443d9bd4fb6b8cc30967cf433d017f7c8ca2/napari/components/layerlist.py#L209-L214

[2020-08-08 03:08] liu-ziyang commented on #1519
should be fixed with https://github.com/napari/napari/pull/1537, feel free to try it out!

[2020-08-08 03:56] jni commented on #1533
Yep! I'd quickly merge a PR that set PyQt5 as the default. :grimacing: I think the package is called just pyqt on conda-forge because of course it is.

[2020-08-08 17:00] tlambert03 commented on #818
We've since switched to shipping with pyqt5 instead of pyside2 by default, and a lot of other things have changed about the install.  I imagine this issue is either solved, or is machine specific at this point... but feel free to open again if you're still having installation issues.

[2020-08-08 17:00] #818 closed, assigned to nobody

[2020-08-08 17:04] tlambert03 commented on #919
hi @irahorecka, are you still experiencing this issue with recent versions of napari?

[2020-08-08 17:15] sofroniewn commented on #1327
Hi @tlambert03 thanks for keeping this thread going. Following on, here are a couple additional thoughts on how people could maybe build on top of napari, thinking more from the user/ builder perspective rather than implementation perspective. Note that what follows are just some proposals and ideas, not anything written in stone:

### Extensions
I see extensions as interactivity focused. They all

[2020-08-08 17:34] sofroniewn commented on #1536
Yup, that shouldn't have happened. I'll look into fixing. Thanks for the catch.

[2020-08-09 01:04] irahorecka commented on #919
Hello, I have not tried the new version of napari, but because I have not experienced this since, I will close this issue

[2020-08-09 01:05] #919 closed, assigned to nobody

[2020-08-09 22:06] sofroniewn commented on #1211
Following discussion in https://github.com/napari/napari/issues/1327#issuecomment-670952382 I'd like to return to this discussion.

If we for now limit ourselves to consider three main types of plugin - IO, Processing, and Analysis that I'd like to define as follows (note these definitions are up for debate, but I want to help orient a discussion).

### IO plugins
IO plugins are for reading/ writi

[2020-08-09 22:34] tlambert03 commented on #1211
I think this is the only part I struggle with here... The "parameters" we have been discussing in this thread are strictly outside of the hookspec signature, and I don't see why we should be in the business of telling third party functions what types they should be expected to accept.  I also don't see what it "costs" us to just pass a `**kwargs` object through to the plugins (I suspect we'll prob

[2020-08-09 23:15] sofroniewn commented on #1211
I guess I see these restrictions as necessary so we can guarantee an ecosystem of interoperable modular plugins and make things really simple and accessible for the GUI only user - which has always been a primary goal of napari. If we allow plugins to take custom objects/ types how do users not familiar with those types define them purely from the GUI? For example, think about autogenerating a gra

[2020-08-09 23:32] tlambert03 commented on #1211
GUI design is always separate from backend/library design.  As we have often seen, it's not always the case that the GUI implements every possible feature that is possible from the command line/interactive shell.  So when we're designing hookspecs, I think first about programmatic access/design ... and remember that there is always the opportunity to add another layer of restriction for the things

[2020-08-10 00:06] tlambert03 commented on #1211
let's frame this another way: if we _were_ going to restrict the parameter types that third party functions could accept, how would you propose to impose those type restrictions?
Would we inspect the signatures of the developer-provided plugin functions, and if they happened to annotate them with something that wasn't in a set of approved types, then raise an exception during plugin registration?

[2020-08-10 00:37] sofroniewn commented on #1211
Something like this seems reasonable to me, but I'd be open to many possible implementations. We could also offer a plugin validation service to plugin developers that would allow them to assess this ahead of time as part of their CI. Maybe a custom GitHub action or something similar.

If so, I'd lean away from allowing plugins to define their own custom types. If `workbook` is a really essential

[2020-08-10 03:47] #1536 closed, assigned to nobody

[2020-08-10 14:04] jni commented on #1211
I just want to correct the history a little bit here... At least from my perspective, napari was first and foremost a viewer for the scientific Python ecosystem. Making that ecosystem accessible to non-coders — that came at least a tick later. And I want to emphasise that although it *is* now a primary goal of napari, I don't want it to come at the cost of napari becoming bloated or inflexible as

[2020-08-10 14:12] tlambert03 commented on #1211
yeah... it would come as a bit of a surprise to me too if the _primary_ goal of napari was to make things really simple and accessible for the GUI only user.

[2020-08-10 15:36] sofroniewn commented on #1211
This is fair, as @tlambert03 points out above there are also ways to provide additional layers of restriction on top of something fairly permissive (for example which plugins can be used in graphical programming language, or which plugins we could generate GUI elements for, or which plugins are surfaced/ or in what manner in an App store).

I just meant what is in our [mission statement](https://n

[2020-08-10 15:49] tlambert03 commented on #1211
I guess it's the "critical" part that's a bit open to interpretation :) ... The gui is of course super important, and I definitely agree that we should be cognizant of how any particular new design might ultimately play with the GUI (and i wouldn't want to shoot ourselves in the foot with a built-in incompatibility) ... I just didn't see gui-only use as the _primary_ goal.

[2020-08-10 19:47] sofroniewn commented on #1527
Just noting that it looks now like we have many more CI fails due to a conda issue, see https://github.com/napari/napari/pull/1510/checks?check_run_id=968244108

[code]

which will mask the above fail.

I think the conda issue will probably get fixed by the conda team in the next couple of days and we don't need to dig into, but it might make fixing this issue hard. See discussion here https://nap

[2020-08-10 22:14] sofroniewn commented on #1527
Following #1541 we're back to only have the CI issue originally mentioned at the top of this issue.

[2020-08-10 22:50] #669 closed, assigned to nobody

[2020-08-11 00:01] liu-ziyang commented on #1425
I give it a bit of try, I don't think we are yet ready to adopt it given the nature of our code changes. Mainly because I don't feel confident we should block changes even if they increase code complexity index. Having a single metric is nice, but my personal feeling is that the stage is too early for this project

[2020-08-11 01:06] tlambert03 commented on #1425
fwiw, there is also a mccabe complexity check in flake8 (C901: we currently have it disabled).  It's nowhere near as thorough as wily looks... but if we wanted to add some basic complexity checking without any more tooling, we'd just need to remove that from our ignores...  currently, these are the offenders:
[code]

[2020-08-11 15:42] sofroniewn commented on #1519
Closed by #1537 @constantinpape @vzinche please re-open if this isn't fixed as expected.

[2020-08-11 15:42] #1519 closed, assigned to nobody

[2020-08-11 15:48] sofroniewn opened #1542 "Colormap dropdown should be disabled for rgb images"
## 🚀 Feature
The colormap dropdown in the top left corner should be disabled/ hidden for rgb images. Now it just shows `gray` which is not accurate

![image](https://user-images.githubusercontent.com/6531703/89918784-52046180-dbaf-11ea-8455-ec2a843d8b30.png)

## Additional context

napari 0.3.6

[2020-08-11 16:10] sofroniewn opened #1543 "Add split layer/ group layers shortcuts/ button"
## 🚀 Feature
Following #1322 we should add some GUI button or keyboard short cuts to split/ combine layers

[2020-08-11 16:10] sofroniewn commented on #1442
This should then have keyboard shortcut/ GUI button support too - see #1543

[2020-08-11 16:53] willingc commented on #1425
Either tool is great. I wouldn't gate a PR based on complexity. I do find it helpful to have the output generated for each PR.

[2020-08-11 16:59] #1484 closed, assigned to nobody

[2020-08-11 22:51] liu-ziyang commented on #1527
can someone please rerun the failed macos ci task? I want to see if the cache is fixed without having to merge my PR on this

[2020-08-11 22:53] tlambert03 commented on #1527
which one?  I just triggered this one https://cirrus-ci.com/task/5336673233928192

[2020-08-11 22:53] liu-ziyang commented on #1527
https://github.com/napari/napari/runs/956641527
Thanks in advance!

[2020-08-11 23:30] liu-ziyang commented on #1527
It looks like https://cirrus-ci.com/task/5336673233928192 made it through, but I am not sure if because me successfully invalidated the cache, I will keep an eye on this issue

[2020-08-12 21:03] liaprins-czi commented on #1395
Below is a link to a design for the hover state. When user hovers on an error message it will keep it from fading out while they are hovering, as soon as they stop hovering it will reset the timer before it starts to fade away again.

https://www.figma.com/proto/Aq1PhG2tVTodGZnSBe0nui/Error-Handling?node-id=69%3A4&viewport=-2308%2C201%2C1&scaling=min-zoom

On hover the message changes to have a bo

[2020-08-12 21:04] #1501 closed, assigned to nobody

[2020-08-13 08:10] tanguyduval opened #1545 "RGB contrast is not well managed"
## 🐛 Bug
Intensity range is not well managed for RGB images encoded as:

- [ ] uint16
- [ ] float32

For example on a 16bits images, with values around 1000, contrast need to be set to [0-128] to see something, and colors are flattened...:
![image](https://user-images.githubusercontent.com/7785316/90109995-dd672980-dd4c-11ea-97a1-14f377e2525d.png)
While on an other viewer the image look like this

[2020-08-13 20:52] justinelarsen commented on #1389
@tlambert03 Have you looked into this tool? https://pynsource.com/ I haven't used it, but it seems like something to try out. @pwinston Also mentioned there was a similar one which is bundled in pylint called pyreverse: https://www.logilab.org/blogentry/6883

I'm skeptical how good these auto generated diagrams could be but I definitely think it would be extremely useful to have diagrams for new d

[2020-08-13 21:01] tlambert03 commented on #1389
I haven't played with either of those specifically... but the issue with any of these UML renderers is that what we need to plot here isn't really a UML class diagram 😜 , but rather a connection between methods.  from what I can tell UML class diagrams only concern themselves with inheritance, composition, interfaces, etc... but they don't let you say "when this method in this class is called, it

[2020-08-14 00:22] justinelarsen commented on #1389
Got it, I see what you're looking for now! Yes, UML diagrams are not good for what you're trying to do with mapping the events. When I clicked on the link you added for the visual, I was having a hard time seeing the entire graph. It only shows a portion of it. Am I not looking at the right thing?

I think the UML diagrams could be good in addition to what you're trying to map out as separate docu

[2020-08-14 00:34] tlambert03 commented on #1389
no you're looking at the right thing... it's a crappy website.  you can see the whole thing if you [look at the svg](http://www.plantuml.com/plantuml/svg/X9Z1RkCs48RlUGfZJtjPFq0FHPiiMXH8YmPPR0w58J3Ys2AM8WLobCGjzjrhcGfNz2zw3W7YuKUAvCm_vF2No2hmsDkRVL0zRJuyyBrw9XlllEFWRVom-Uzci_ddqhnjl6k6G9722pNstDQqdN87sbLvqeRLioKHZ6IfPUETI9v6SzguWmZwGRM6Z_A0OOnT4ys_9AAjjpuqlTSowXfjUdd0qmyZBgNyulURTyzzDVHAuSzJevsTjh

[2020-08-14 04:45] berl commented on #804
just chiming in here that I am running into a likely similar problem with XRDP on a linux host:
[code]

I'll look into the nvidia fix mentioned above although I never have fun messing around with nvidia drivers

[2020-08-14 06:26] VolkerH commented on #804
Hi @berl

not familiar with XRDP, but I have also experienced the `XKeyboard` extension error with tightvnc (linux server)/ turbovnc (client). It seems to affect all PyQt (and likely all Qt-based) applications and I also noticed it in VSCode. It does not mean the keyboard won't work at all, but certain keyboard combinations don't work. That's why I have given up using napari remotely on turbovnc o

[2020-08-14 07:26] jni commented on #1304
About to create a new conda env to check, but wanted to note down the macOS crash report here as well: https://gist.github.com/jni/5a1cdf5a53c878bff2b98b8da244e61c

Not sure whether that will help anything. 😬

[2020-08-14 12:36] joshmoore opened #1549 "dask crash leads to napari crash"
## 🐛 Bug

If a dask array crashes on `.compute()`, napari crashes as well.

## To Reproduce

Steps to reproduce the behavior at the dask layer:

1. `import dask.array as da`
2. `da.from_zarr("https://s3.embassy.ebi.ac.uk/idr/zarr/v0.1/6001240.zarr/masks/0").compute()`

Caused by https://github.com/intake/filesystem_spec/issues/342

Opening an OME-Zarr with ome-zarr==0.0.11 that has masks (e.g. htt

[2020-08-14 12:55] tlambert03 commented on #1549
Thanks @joshmoore,
Interestingly, I'm actually now thinking that this is more related to exception handling in our `event_loop.py`, and would be ~fixed~ improved by a [small change](https://github.com/napari/napari/pull/1511/files#diff-d1bc703bd5b400db6db702707c0fe4e2R75-R79) I made in #1511

Take this example, where I plant an exception on the 5th frame in `lazy_array`

[code]
This will load fine

[2020-08-14 13:18] joshmoore commented on #1211
In the way of 2 cents, I want to perhaps roll back some of the complexity that I might have unintentionally voted for above in https://github.com/napari/napari/issues/1211#issuecomment-624896795 -- I can see limiting the target of any config file / representation to key/value pairs or perhaps INI-style grouped key/value pairs.

[2020-08-14 16:41] liu-ziyang commented on #1527
we need to merge https://github.com/napari/napari/pull/1548 in order for cirrus to clear the cache

[2020-08-14 16:42] liu-ziyang commented on #1514
shall we close this issue?

[2020-08-14 16:57] liu-ziyang commented on #1224
trying to reproduce this on macbook, when I Load the data directly, I get a 2x2 astronaut image matrix, and when I switch to 3D, it seems to be rotating as a plane just fine, one thing I noticed is that the plane has much less resolution than the original 2D plane, meaning the image gets blurry. other than that no error/exception happens whatsoever. I am looking up how to capture gifs on MacBook..

[2020-08-14 17:02] liu-ziyang commented on #1224
I do notice this ticket is reported on a relatively old napari version, can you maybe try reproducing this on the latest release and see if that helps? I am on my local build reporting `napari-0.3.5.dev20+g9d95e8e.d20200617`, (weird that it says 0.3.5 since we are on 0.3.6 now)

[2020-08-14 17:29] tlambert03 commented on #1224
You would need to fetch tags and run `pip install -e .` to update your local version

[2020-08-14 17:29] sofroniewn commented on #1514
Yes closed by #1525. Putting "closes ..." or "fixes ..." in the PR can do that automatically, see syntax here https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2020-08-14 17:29] #1514 closed, assigned to liu-ziyang

[2020-08-14 17:32] liu-ziyang commented on #1224
here's what it looks like on my mac when reproduced:

![demo](https://user-images.githubusercontent.com/41968256/90276844-6d72a500-de19-11ea-826a-7bfc6caff282.gif)

[2020-08-14 17:38] berl commented on #804
@VolkerH  thanks for the note- I dug around a bit last night and came to a similar conclusion. I don't have the time / chops to mess with the various configs on the host side so I'll come back to this if the underlying issues get sorted out.  I have other workarounds I can use for debugging and building with napari (i.e. do the work on local machine) so it's not exactly blocking me.

[2020-08-14 17:40] sofroniewn commented on #1224
Nice gif @ziyangczi! Looks like you were replicating the second comment from @jni

which I think was fixed by #1360. Good to see that appears to be the case.

I think though that was potentially unrelated to the original zarr 3D activation error at the top of the PR.

I think this error may still remain as the stack trace was a vispy one. @ziyangczi can you try reproducing this error using the zar

[2020-08-14 17:44] liu-ziyang commented on #1224
I was reproducing from the zarr test dataset, I was running napari test_data.zarr. let me include that in the gif as well

[2020-08-14 17:46] liu-ziyang commented on #1224
![demo1](https://user-images.githubusercontent.com/41968256/90277906-53d25d00-de1b-11ea-9aea-49cd4a0c8d2f.gif)

[2020-08-14 18:11] sofroniewn commented on #1224
Amazing, sorry I didn't understand the astronauts came from the zarr dataset!!! Likely also this was fixed by #1360.

It looks like this is fixed on our main branch now, so maybe @joshmoore can confirm this now works for him and then we can get to closing.

Looking through our tests though, and remembering what happened on #1360 I don't think we have an explicit test for this though. Maybe @ziyang

[2020-08-14 20:02] joshmoore commented on #1224
_Whoa!_ Earlier crash. Never properly launches:

[code]

from ```* 12a7c30 - (HEAD, origin/master, origin/HEAD) Prevent napari crashing after layer is dragged into trash (#1487) (3 days ago) <Hector>```

[code]

[2020-08-14 20:10] joshmoore commented on #1224
In a fresh 3.8.5 environment, it works fine:

[code]

:+1:

[2020-08-14 20:19] sofroniewn commented on #1224
any idea @joshmoore what might be causing the environment difference? looks like it might be some vispy/ qt interplay. not clear if there is more digging we can do on our end, or if we just add that missing test and then close. let me know what you think?

[2020-08-14 20:23] joshmoore commented on #1224
I don't know of any particular reason this would be happening in the Python 3.6 environment. I'm happy to test things, but I assume there are diminishing returns.

[2020-08-14 20:26] sofroniewn commented on #1224
Agreed. Let's close after we get that additional test in, and then we can always re-open if a new error appears. We'll be dropping Python 3.6 relatively soon too (likely the release after our next one)

[2020-08-15 00:29] jni commented on #1224
@sofroniewn I actually reproduced the second error reported by @joshmoore just yesterday:

[code]

This was on napari 0.3.6 on conda-forge, Python 3.8. (was investigating #1304). I'm uncomfortable closing this issue until we understand where it comes from...

We should probably make a "vispy" tag for errors that have to do with GL or the canvas, as the errors are scattered a little all over the pl

[2020-08-15 00:35] jni commented on #1224
btw to reproduce I did:

[code]

then I absentmindedly played around with the 3D volume for about 1-2 minutes while chatting with @joshmoore. 😂 Unfortunately I don't know what actually caused the error! One possibility is the macOS automatic graphics card switching? 🤷

Anyway, as I said, I'd love to keep these open until we understand them, or maybe until VisPy makes a new release and then neither

[2020-08-15 19:13] liu-ziyang commented on #1224
I am not able to access the dataset to help reproduce this issue (https://s3.embassy.ebi.ac.uk/idr/zarr/v0.1/6001240.zarr), so far I had no luck in getting any error to show up with the dataset from the original report (test_data.zarr)

[2020-08-15 22:32] sofroniewn commented on #1395
This is coming along very nicely, with the merge of #1511. I think there are still some followups and improvements, like around deciding when the display to console vs GUI, and different levels of errors, so I will leave this open, but it has come a long way!!

[2020-08-15 23:50] #312 closed, assigned to kne42

[2020-08-16 00:11] tlambert03 opened #1552 "Add custom indexing to nestable evented list"
## 🚀 Feature
#1444  added a nestable evented list, and also continued with the ability to do "custom" indexing with (e.g.) a string.  However, custom indexing isn't yet enabled for nested evented lists.  it would require traversing the full tree, but that's probably fine.  probably the majority of our nested lists won't be that much bigger than our flat lists were.
just don't want to forget that f

[2020-08-17 09:14] jni opened #1556 "Discussion: napari policy on testing"
Over at #1510 we are having a discussion about whether new features, and PRs in general, should aim for complete coverage, with @tlambert03 weighing in:

and @pwinston arguing instead:

I don't want to derail that review with a long discussion about what our policy should be, so I'm making this issue instead. (I do expect such a long discussion :joy:.) For the full history of the discussion you ca

[2020-08-17 10:36] joshmoore commented on #1224
@ziyangczi : if you can let me know what you've tried and what error you are seeing, happy to try to set you up with access to the S3 data.

[2020-08-17 13:19] jni commented on #1556
Back in #1510 @pwinston mentions:

This is true, but that says nothing about whether there are unit tests for those settings in Chrome master. I wouldn't say I'm sure but I'd place a small bet that there are.

[2020-08-17 13:43] pwinston commented on #1556
I'll take that bet, here is their [overall coverage](https://analysis.chromium.org/p/chromium/coverage?host=chromium.googlesource.com&project=chromium/src&platform=linux) and specifically checkout their coverage for [Vulkan](https://analysis.chromium.org/p/chromium/coverage/dir?host=chromium.googlesource.com&project=chromium/src&ref=refs/heads/master&revision=bd17f198378256de880e54544a6076de1215b8

[2020-08-17 13:44] MaksHess opened #1557 "Wrong intensity values in status bar for automatically down-sampled images."
## 🐛 Bug

When displaying a 2D image larger than 'GL_MAX_TEXTURE_SIZE', it is automatically downsampled. While the coordinate values displayed in the status bar are correct, the intensity values that are shown don't take the downsampling into account.

## To Reproduce

Steps to reproduce the behavior:

1. Create a 2D image larger than 'GL_MAX_TEXTURE_SIZE'.
2. Hover over the image and notice that

[2020-08-17 13:47] jni opened #1558 "Should colormap/color mode, etc events automatically trigger a refresh?"
While @DragaDoncila and I were working on #1555, we noticed that `self.events.color_mode()` did not by itself trigger a refresh of the display. In fact, we needed to subsequently call `self.refresh()`. Is this the intended behaviour? (ie manual refresh in general?) Or should certain classes of events be connected to a refresh automatically?

[2020-08-17 13:54] pwinston commented on #1556
My comment from #1510 also applies here:

From my experience having experimental features in master of shipping programs is a strong and clear trend in the industry that has developed over the last 10 years, and one Napari should embrace.

In Chrome if you go to the URL chrome://flags there are 288 flags listed. At the top of the file it says **WARNING: EXPERIMENTAL FEATURES AHEAD! By enabling the

[2020-08-17 14:24] pwinston commented on #1556
As for "test coverage" I think there's clear ladder of sophistication:
1. We don't have unit tests.
2. We encourage units tests, but don't don't measure coverage.
3. We measure coverage, we even have nice treemap plots.

Step 4 can go one of two ways:

A) We measure coverage and coverage should be 100% across the board no exceptions.

B) We measure coverage and strive for high coverage numbers. Bu

[2020-08-17 15:03] sofroniewn commented on #1558
Not intended behaviour, I would not have expected you to need to manually refresh.

[2020-08-17 15:03] sofroniewn commented on #1557
Thanks for this report, this does sound like a bug! We will look into it promptly

[2020-08-17 15:24] pwinston commented on #1556
One more, Chrome's flagship [V8 JavaScript engine](<https://en.wikipedia.org/wiki/V8_(JavaScript_engine)>) has 54% [test coverage](https://analysis.chromium.org/p/chromium/coverage/dir?host=chromium.googlesource.com&project=chromium/src&ref=refs/heads/master&revision=bd17f198378256de880e54544a6076de1215b854&path=//v8/src/&platform=linux) overall. In the [init](https://analysis.chromium.org/p/chrom

[2020-08-17 15:25] tlambert03 commented on #1556
in the amount of time you just spent researching the test coverage of other projects... I suspect you could knocked off a good 20% here

[2020-08-17 15:30] pwinston commented on #1556
I'm doing the research as my best-effort way to advise Napari on how to choose a future direction that will impact the success of the project for years to come. I think in the end it will have been worth 30 minutes which is about the cost of a modest lunch.

[2020-08-17 15:51] pwinston commented on #1556
I'm offering up facts that I hope will help the project make a good decision. In my experience if someone is _earnestly_ trying to help by surfacing true valid information with good citations, but you wish they were helping in a different way, it's best to just let them contribute how they feel is best.

Maybe raise it at a meeting "I think person X did Y but they should have done Z", see what the

[2020-08-17 15:58] liu-ziyang commented on #1224
making a little progress on this, I used anaconda to set up the env as @jni had, I can see the same error when running `napari test_data.zarr`, so I made a bit more experimentation. I opened napari directly, and tried to drag and drop the test_data into the viewer afterwards, then I don't see a crash immediately, the error only happens when I try to switch to 3D mode.

interestingly, then I tried

[2020-08-17 16:06] liu-ziyang commented on #1224
fwiw, the anaconda environments also gives me
[code]
which I have not seen from my own python environment

[2020-08-17 17:54] pwinston commented on #1556
I think this is a specious objection. My first impulse here is ask some successful projects how they do it, which is probably the answer we should jump to for any question. We are not the first project to go down any of these roads. Asking around should probably be the default solution. People are friendly and eager to tell you their clever ideas, and there are many high-functioning projects aroun

[2020-08-17 18:31] sofroniewn commented on #1527
Closed by #1553

[2020-08-17 18:31] #1527 closed, assigned to nobody

[2020-08-17 21:47] pwinston commented on #1556
Here's an analogy. On the island of Napari1 they build every building out of stone. They figure out with 100% certainty where the building should go, which way it should face, how big it should be, they cut stone and the building lasts for a hundred years.

On Napari2 there are some beautiful stone buildings in the center of town. But radiating outwards there are buildings made of other materials.

[2020-08-17 22:54] liaprins-czi commented on #764
Update: here is the Figma where I've applied my initial structural explorations to real content and created prototypes showing how the navigations would work:
https://www.figma.com/file/fHIg6ktb6dFW3dhONihdVk/Page-structures?node-id=60%3A0

Select the different explorations via the pages in the top left sidebar in Figma. Then enter prototype mode for each by clicking the little triangle icon in th

[2020-08-18 01:49] pwinston commented on #1556
This is tangentially related: https://jamesclear.com/repetitions

I've read his book. It's okay but he gives away like 90% of it in [this podcast interview](https://samharris.org/podcasts/200-creatures-habit/).

[2020-08-18 07:57] jni commented on #1556
@tlambert03

Please refrain from this kind of snap remark towards any of our contributors. I agree with Phil 100% that this kind of comment is a negative signal for anyone hanging around that might want to contribute to napari. Furthermore, I created this issue *specifically* to discuss this topic, and Phil's responses were 100% on-topic, even if you disagree with his point.

There's always going

[2020-08-18 10:05] quantumjot opened #1559 "add timeout option to thread_worker"
## 🚀 Feature
Add a timeout to the thread_worker decorator

## Motivation

Some computations do not have a guaranteed run time (e.g. optimization problems), and can consume all available compute. Running this inside of a thread worker can lead to the GUI becoming unresponsive. It would be really useful to have the option to set an upper limit on acceptable duration, before the thread gracefully(?)

[2020-08-18 12:49] kevinyamauchi opened #1562 "Shapes layer performance"
This work in progress issue is to discuss the current state of the Shapes layer performance (mostly with regards to frame rate with large numbers of shapes) and potential improvements. I am still exploring and I will update the original post as I learn more.

When creating a `Shapes` layer with many shapes (500-1000), the performance degrades substantially. In particular, the layer creation time i

[2020-08-18 15:12] jni commented on #1562
Awesome analysis @kevinyamauchi and great plan for moving forward! 👏👏👏 🎉

[2020-08-18 15:21] sofroniewn commented on #1559
This seems like a very reasonable request. @AhmetCanSolak @Czaki have done a fair amount with threads in napari, I'm curious if they have any additional input on this?

@quantumjot sounds this should like it should be a fairly self contained addition to [our qthreading code](https://github.com/napari/napari/blob/3297bfabe36ab7b526d41aefc80ef503bf81450c/napari/_qt/qthreading.py), is it something th

[2020-08-18 15:26] sofroniewn commented on #1562
Wow, this is so cool @kevinyamauchi and so great to see the perfmon work from @pwinston paying dividends here. I'm not surprised to hear there is much we can do to improve shapes performance, and some of it appears low hanging fruit!! Sounds like you're already off to the races, but we can keep discussing as you did deeper. Definitely some of those reindexing calls are costly!!

[2020-08-18 15:41] Czaki commented on #1559
hmm.
Any calculation which is running in non main thread should not block GUI.
But it sometimes happen. I meet such behavior when running C++ code when execution stuck in C++ code. In my case it looks like GIL is locked and no Python code could be executed. So python solution which should kill calculation will not work.

I hope I'm wrong but all solution should be carefully tested.

I wish this co

[2020-08-18 16:04] quantumjot commented on #1559
@Czaki - that's exactly the situation I'm running in to, and I also think the GIL is the problem. Spawning a separate process (using multiprocessing) works and does not block, but I have a feeling that this may be a huge can of worms...

[2020-08-18 16:20] Czaki commented on #1559
So I modify my c++ code to add limitations in it and get fast stop.

You could Check QThread interface, but I do not found timeout option for it. And GIL probably will block python code which could kill such thread.

[2020-08-18 16:24] #1493 closed, assigned to nobody

[2020-08-18 19:31] pwinston commented on #1562
Performance monitoring is fun and easy once you get into it! Really improves the quality of the conversations. I only used it for async, but I think it can be used in many ways. Just have to get creative.

[2020-08-18 19:37] pwinston commented on #1562
Using a full profiler might also bear fruit. I have not tried one on napari. A full profiler can sometimes find things that tracing cannot. I think you want tracing no matter what, but a full profiler once in a while might make sense to really exhaustively look at the cost of every single function. YMMV. Historically full profilers slow everything way down. But maybe there are good ones today for

[2020-08-19 04:00] sofroniewn commented on #1562
I've had pretty good results using [airspeed velocity](https://asv.readthedocs.io/en/stable/) for profiling, we're also using for our benchmarking in general. You can see instructions here https://napari.org/docs/developers/BENCHMARKS.html#profiling, but we might @kevinyamauchi want to make some better benchmarks to profile for shapes too, this is all we have right now https://github.com/napari/na

[2020-08-19 08:30] kevinyamauchi commented on #1562
Thanks for the feedback, everyone!

I think it might makes sense to flesh out the Shapes benchmarks a bit before finishing up #1561 , that way we know that we are definitely improving performance. @pwinston 's perfmon tool has highlighted some key methods we should add to the benchmarking, as they are clearly bottlenecks that we should pay attention to (e.g., ~~thumbnail generation~~ and the meshi

[2020-08-19 08:48] kevinyamauchi commented on #1562
Another latent step when interacting with large shapes layers is clicking on shapes to select them. From the profiling, we see that there are some duplicate calls (likely multiple refresh-triggering events being emitted) that we can clean up. However, with 1000 shapes, a single thumbnail update takes ~250 ms on my computer. Until we figure out a way to speed up the thumbnail generation, what do yo

[2020-08-19 11:21] quantumjot commented on #1559
I took a look at both QThread and QRunnable, there's no timeout for either. I've seen a few implementations of a timeout method that uses a separate QTimer object, but I don't like these options very much.

I agree that the best option is to not have code that blocks in the first place. In this case I was having difficulty with third-party libraries (like `GLPK`) - however, I notice the python bin

[2020-08-19 11:27] Czaki commented on #1559
But GLPK could be easy move to separate process? If I good remember its result is single float?

[2020-08-19 11:43] quantumjot commented on #1559
Yes, I can spawn a separate process, and use the solver's own timeout - everything works as expected then.

@sofroniewn - I don't know if it's worth putting time in to this atm, given the complexity/payoff. Happy for it to be closed unless others feel strongly that it is useful.

[2020-08-19 12:25] pwinston commented on #1556
Just a tiny postscript to this. My experience is 99% from industry. I think perspectives from open source projects would be valuable here. Open source sometimes means different concerns. I think a diversity of inputs will produce a better output, in terms of napari charting a course. I'm curious myself, and I also think the project would benefit from hearing from more voices on this issue.

[2020-08-19 12:52] kevinyamauchi commented on #1562
I have made a small PR (#1563) to add asv benchmarks for selecting and dragging shapes. These should help us track how the changes we make in #1561 affect performance.

[2020-08-19 15:12] sofroniewn commented on #1559
Ok, sounds good. I will leave this open for a little in case anyone else wants to comment, and then if it gets no comments we can close and always reopen if people want, but thanks @quantumjot for putting it out there and thanks @Czaki for diving in with some comments!

[2020-08-19 15:15] sofroniewn commented on #1562
I think fine to make thumbnail generation only happen after data editing is finished

[2020-08-19 17:18] Czaki commented on #1559
@sofroniewn qthreading is created to simplify run calculation in thread. So maybe it is good idea to create such simple interface for multiprocessing where thread will wait on on result and then call signals?

[2020-08-19 20:51] liu-ziyang commented on #816
For this particular doc (CORE_DEV_GUIDE.md), I don't think this is an issue, because this doc is intended for onboarding newly added core_dev members, meaning they would be in the organization and would be able to see the link themselves when going through the doc.

That being said, I found the same link to core_dev/steering council in napari websites, etc. It can be an issue for people who would

[2020-08-19 23:23] sofroniewn commented on #1556
I want to weigh in that napari does have the following lose language around testing in our [mission and values](https://napari.org/docs/developers/MISSION_AND_VALUES.html#our-mission)

and have some more words to that effect in our [contributing guide](https://napari.org/docs/developers/CONTRIBUTING.html#tests)

and our dedicated [testing guide](https://napari.org/docs/developers/TESTING.html). I

[2020-08-20 00:54] pwinston commented on #1556
Great observations and food for thought. Numpy jumps out at me because it's a 25 year old project though. So very conservative by necessity. Also it's almost all math routines and low-level data structures, and thousands of projects depend on it. Still I think _it is a good example_ because I think napari's core does _aspire_ to be numpy-like some day, so it's a good comparison project. Just might

[2020-08-20 03:06] sofroniewn opened #1564 "Use the `experimental` namespace to allow us to try out new features"
## 🚀 Feature
There have been a couple of convos recently in different places in the project where we have wanted to get functionality in for advanced users and developers to try out, but where we might want to make breaking changes more frequently and ultimately might not end up supporting all the functionality that we try out. This could apply to hookspecs, like discussed in #1327, new layer type

[2020-08-20 04:44] jni commented on #764
@liaprins-czi I can't access the latest figma without an account, could you make it public?

[2020-08-20 06:46] kevinyamauchi commented on #1564
I am a big fan of adding an "experimental" namespace. A few quick thoughts:
- I think the intention is much more clear than then `_` convention - especially to those that don't spend a lot of time with python.
- I think having an explicitly experimental section gives contributors a lot more freedom to implement and importantly get community feedback on new features much more quickly.
- I also thin

[2020-08-20 07:08] kevinyamauchi commented on #1562
I just wanted to record a couple of ideas from the sync:
- We can add a time check to slow functions (e.g., `layer._update_thumbnail()`) to ensure they aren't called too frequently (e.g., `if time_since_last call > threshold:`)
- We can make the thumbnail generation async
- We can try to speed up functions with a lot of calculations and loops (e.g., triangulation and thumbnail generation) with num

[2020-08-20 11:04] pwinston commented on #1564
I like the sound of "experimental" and particularly think it might resonate with Napari's science-oriented users? I also think an `experimental` namespace could itself be considered an experiment. For instance "we are going to experiment with four week sprints" will generally be better received than "we are switching to four week sprints". And really it's more truthful.

But "experiment" should no

[2020-08-20 12:32] pwinston commented on #1562
The other idea about "called too frequently" is have an explicit way for the caller suppress events/updates, consider this:

    do_something()  # this will cause the UI to update

compared to this:

    with do_not_update_the_ui():
        for i in range(1000):
            do_something()

The nice thing is when `do_not_update_the_ui()` exits it updates the UI. You can think of it as bundling or g

[2020-08-20 12:55] pwinston commented on #1562
I had a totally different idea. Sometimes with graphics you can create one of something and then instance it a bunch of times. I don't think that really applies here, but graphics cards highly like this approach. Instead of of drawing 100,000 different trees, you have only 10 unique trees, but you have around 10,000 instances of each tree. The speedup there is gigantic because you only send 10 tre

[2020-08-20 14:21] kevinyamauchi commented on #1562
Good idea! I used a [similar context manager](https://github.com/napari/napari/blob/fe4d7d59dcac7832a9d444295a0567fd5b39e48d/napari/layers/base/base.py#L643-L647)) to block the thumbnail refresh when making a batch of calls to other functions that would all call the thumbnail refresh function. However, I didn't think to use that same context manager to then call the update at the end. Nice!

I lik

[2020-08-20 14:32] pwinston commented on #1562
Yea batching/grouping/sorting comes up a lot in graphics. Generally you want to minimize state transitions with graphics (and with CPU really). It's like "once I'm setup to do X, let's do all the X's". I'm not really sure what rasterization we are doing today. Naively I'd expect you'd want the card to everything possible.

Like back in the day with OpenGL they had crazily detailed lines and joints

[2020-08-20 14:33] pwinston commented on #1562
It was $10,000 back twenty years ago. It's still for sale today but they say "contact us for pricing". You could write and ask if there a volume discount if you buy more than 100 seats. I bet they'd call you back very quickly.

[2020-08-20 15:04] kevinyamauchi commented on #1562
I totally understand where you're coming from. I think we've been trying to find time to document/communicate as much as possible while still moving things forward, but there is definitely a lot of "siloed" knowledge.

In this particular problem, we have a bunch of polygons stored as coordinates of mesh vertices that we want to convert into a thumbnail image. The current way it is done is quite sl

[2020-08-20 15:22] pwinston commented on #1562
What you definitely want to do long term is do all the rendering on the card. You do a "render to texture" instead of a render to screen. Then that texture can be used in the scene if drawing it with vispy. Or if the Qt is doing the display, you can read the texture back from the card and give it to Qt.

I mentioned C++ can be 10-1000 times faster than Python. The card is probably 10,000 times fas

[2020-08-20 15:33] pwinston commented on #1562
The [gap](https://www.nextplatform.com/2019/07/10/a-decade-of-accelerated-computing-augurs-well-for-gpus/) between CPU and GPU performance is growing rapidly, to say the least. It's almost always better to use the card. Unless moving the data to/from the card is really expensive, which is sometimes the case.

<img width="700" alt="cpu-gpu-gap" src="https://user-images.githubusercontent.com/4163446

[2020-08-20 15:34] pwinston commented on #1562
For this specific problem though doing some small improvements if they are enough for now might make sense. But long term with lots of geometry it probably has to move to the card.

[2020-08-20 16:02] sofroniewn commented on #764
Hi @liaprins-czi these are amazing!! So great to be able to click though them.

I think my favourite is "Top primary nav + side sub-nav". I like how you can see the main things at the top so it's easy to get around, but you have the detailed index on the left. This is the relevant figma https://www.figma.com/proto/fHIg6ktb6dFW3dhONihdVk/Page-structures?node-id=32%3A98&scaling=min-zoom
and here is

[2020-08-20 16:17] MaksHess commented on #1557
Hi Nicholas,

I had some time to further look into the bug today. I found a simple fix by changing one line in `napari.layers.image.image.Image._get_value` :

[code]

Piping the coordinates through the layer transforms seemed to do the trick. There might be similar bugs in other layers that override `_get_value`.

Cheers Maks

[2020-08-20 16:20] liaprins-czi commented on #764
@jni Sorry about that! I have updated the link:
https://www.figma.com/file/fHIg6ktb6dFW3dhONihdVk/Page-structures?node-id=60%3A0

I will explain a bit better at the mtg today, but thanks for all the feedback @sofroniewn ! Right now still very much in progress, but I think I am honing in on a direction

[2020-08-20 16:23] liu-ziyang commented on #1564
for experimental packages, I am a little concerned that people would then lack the motivation to push the last mile to make them official, the use case is satisfied and therefore can be perceived to left as is. Looking at some of the packages you would have experimental packages for ages, with others potentially want to use it wondering when would they be admitted.

If we also dedicate some engine

[2020-08-20 16:53] AhmetCanSolak commented on #1559
Hi everyone, I followed the discussion and I don't see any other solution than going for a multiprocessing implementation for the stuck code which locks GIL.

For the non-stucking thread code this suggestion still can make sense. If there is interest maybe we can consider.

[2020-08-20 17:02] pwinston commented on #1564
This is a very legitimate concern @ziyangczi. I could imagine "permanent experiments" that people depend on, but no one is interested in finishing. One approach there is a create a new plugin API and punt the person's code to a plugin. Basically eject the sub-standard code from the product. And then other people can write different plugins that hit that API.

It's a concern, but I would call ongoi

[2020-08-20 17:15] AhmetCanSolak commented on #1564
I am happy to see this issue and I love to see us having `experimental` namespace. As @kevinyamauchi said makes the intention super clear. Possibly this is also our best bet to address test coverage/merge requirements discussed in #1556 .

Also as a person who left some WIP pieces in the past, I take @ziyangczi 's concern serious and maybe we can try to adjust our milestones/project management in

[2020-08-20 18:50] AhmetCanSolak commented on #1559
Hi everyone, little late to party. I followed the discussion and I do not have any better solution for the stuck code in separate thread which locks GIL. As you folks discussed I would go for a multiprocessing implementation for such problem.

[2020-08-20 18:50] #1559 closed, assigned to nobody

[2020-08-20 20:35] neuromusic commented on #1564
Could also force a "self-destruct" of `experimental`, by purging it for all major releases. The assumption here is that experiments that aren't ready for core by key release milestones probably need to die, especially since there will likely be breaking changes.

It also might be worth adding some friction to letting users access `experimental`... maybe they need to set an environment variable to

[2020-08-20 20:49] sofroniewn commented on #1564
Loving this discussion everyone, lot's of great ideas and questions being raised.

I'm curious how some of our early plugin developers and advanced users view this proposal and the discussion. Any and all input welcome cc @adamltyson, @constantinpape, @Czaki, @GenevieveBuckley, @guiwitz, @hectormz, @JacksonMaxfield, @joshmoore, @manzt, @quantumjot, @will-moore

[2020-08-20 21:38] pwinston commented on #1564
I definitely imaged `experimental` was opt-in, probably opt-in per experiment. I was thinking of it like "early access" or Gmail's [labs](https://zapier.com/blog/gmail-labs-missing/) features, which is now just **Advanced**.  Like Chrome's 200+ `chrome:://flags`. You don't want newbies stumbling into them, that could lead to a bad first impression of Napari. I love the idea of generating some urge

[2020-08-20 22:00] sofroniewn commented on #816
Ok yeah hopefully once the napari website reorganizes we can just link to an about team page on the website with the necessary info

[2020-08-20 22:25] sofroniewn commented on #1085
Hi @kevinyamauchi we're going through some of our old bug issues, trying to bring the number down, curious what your thoughts on this one are. Is it still like this? Should we change this? Would this change when we do the color manager stuff?

[2020-08-20 22:28] sofroniewn commented on #1087
Note the line number link above is no longer accurate, i will add a better link when i can

[2020-08-20 23:33] Czaki commented on #1564
My first think is "great idea`, but then questions appear "What should be placed here".
Most PR which I participate rebuild `napari` core parts.

I think `experiment` namespace should be place for utills which need more feedback from users. But in how many cases it is better place than plug-in?

I think that all such things should be placed in `napari.experimental.feature_name` sub package. Becaus

[2020-08-21 00:00] Czaki opened #1566 "Transparency on screenshot"
## 🐛 Bug

When create screenshot using Save Screenshot it contains transparency channel. When such screenshot is opened in programs which mark transparency (like Eye of Gnome or GIMP) it looks strange.

![Zrzut ekranu z 2020-08-21 01-50-22](https://user-images.githubusercontent.com/3826210/90836833-b910db80-e350-11ea-92d6-b68ca2f5b600.png)
instead of

![Zrzut ekranu z 2020-08-21 01-40-15](https://

[2020-08-21 02:55] jni opened #1568 "napari cannot be run interactively in nbclient"
## 🐛 Bug

This isn't a napari specific thing, but it could be a blocker for our docs, so I'm creating an issue here so we can track it.

I have been experimenting with [Jupyter Book](https://jupyterbook.org/intro.html) for the scikit-image tutorials. It's pretty cool, you can write materials in a bunch of formats (Jupyter notebooks, Jupytext, markdown, MyST...), and Book compiles them all into a s

[2020-08-21 07:31] kevinyamauchi commented on #1085
Hey! Sorry, @sofroniewn , I lost track of this one. I think we can patch this before we do `ColorManager`. The implementation might change a bit with `ColorManager`, but I think the heart of this is choosing what we want the behavior should be.

From your previous comment that I accidentally ignored (sorry again!) it sounds like you're advocating to switch to `select` mode when the `Shapes.selecte

[2020-08-21 08:33] adamltyson commented on #1564
I also think it's a good idea. `tf.experimental` has always been clear to me (without ever really thinking about it).

(To me) early access to new features, and lowering the barrier of entry for contributions is always good. Agree that functionality shouldn't live in `napari.experimental` forever, and @neuromusic's idea for wiping the slate clean at every major release is a good one. It feels less

[2020-08-21 09:32] jni commented on #1355
Finally revisiting this during my review of #1565. I would like to replace it with `Callable[[ArrayLike], ArrayLike]` wherever it appears. It is longer but instantly readable to anyone with a passing familiarity with NumPy and type annotations.

[2020-08-21 09:47] quantumjot commented on #1564
I think this is a great idea. Agree with @adamltyson that if we want feedback on experimental features, we should allow users to try them with minimal effort.

[2020-08-21 12:04] pwinston commented on #1355
I got rid of the `ImageConverter` type alias just now in #1565. However what does the style guide say about when to spell out a type, when to use a type alias, and when to create a user-defined type (class)? You want to give people a fighting chance of doing it right the first time, not make it into a "ask Juan" type of thing. For instance we do have type aliases in places.

[2020-08-21 13:45] jni commented on #1353
This seems like as good a place as any to note that ImageSlice and ImageView are, imho, not descriptive enough of what is going on. See @pwinston's description here for details:

https://github.com/napari/napari/pull/1565#discussion_r474566605

[2020-08-21 14:14] Czaki opened #1569 "Plugin Errors not work in develop"
## 🐛 Bug

$ NAPARI_CATCH_ERRORS=0 python -m napari
16:11:17 ERROR Unhandled exception:
Traceback (most recent call last):
  File "/home/czaki/Dokumenty/projekty/napari/napari/_qt/qt_main_window.py", line 300, in _show_plugin_err_reporter
    plugin_sorter = QtPluginErrReporter(parent=self._qt_window)
  File "/home/czaki/Dokumenty/projekty/napari/napari/_qt/dialogs/qt_plugin_report.py", line 62, in

[2020-08-21 14:14] jni commented on #1355
We don't have a specific style guide. However the Zen of Python (import this) is the overarching guide, and it states "explicit is better than implicit". (It also says "practicality beats purity". So some type definitions might be judged as necessary. In this case I don't think it was — it's a judgement call. And I acknowledge that! It just happens to be one that I feel strongly about.)

[2020-08-21 14:51] sofroniewn commented on #1569
Looks like this relates to a reorg of the qt files in #1431 and some additional nesting. Should be an easy fix to `from ...plugins import plugin_manager as _pm` but I'd want to check first. A PR with a test would be very welcome @Czaki, sorry about the bug!

[2020-08-21 15:03] Czaki commented on #1569
I found it by accident. I'm not sure if I found time for PR before Monday. And You have plan to create next release in short time, where such bug should not appear.

So If no one fix it earlier I will probably fix in in next week.

[2020-08-21 15:36] sofroniewn commented on #1562
Just catching up with this convo, but completely agree with everything that was said above.

First off, we should definitely do a deep dive @pwinston on the "geometry" or "mesh" layers, I suspect lots of low hanging fruit there.

Second, we should probably move all thumbnail calculation off of our models and onto the card, though we might want to preserve the CPU calculations somewhere. There coul

[2020-08-21 15:39] sofroniewn commented on #1557
That makes sense to me, thanks for digging in! We'd love a PR with a fix for this bug and a test to check it.

You could start with just one for the Image layer, but you might want to look at those other layers too.

Thanks!!

[2020-08-21 15:45] sofroniewn commented on #1569
Sounds good, thanks for letting me know!! I may quickly fix it before release. If it's still there next week, then PR welcome :-)

[2020-08-21 18:17] sofroniewn commented on #470
@manzt do you have any thoughts on if you could make a zarr "plugin" for labels painting? maybe in the first case you'd want to just explore the feature directly before seeing if it could be funneled through our current plugin API.

[2020-08-21 19:07] kevinyamauchi commented on #1562
Definitely!

I agree with this and I also agree with @pwinston 's comment that there may be some smaller improvements we can make now to hold us over as we figure out the "best" way to render the thumbnail and do the meshing.

[2020-08-21 19:28] manzt commented on #470
I think I would need to take a closer look at the hook specification (since I've only implemented `napari_get_reader`), but zarr would be a very efficient way to back the labels array, especially if labels are sparse.

You could by default create an in-memory `zarr.Array` which is very light-weight:

[code]

By design, `zarr.zeros` is simply a creation method where only metadata for the array is s

[2020-08-21 19:43] liu-ziyang commented on #816
Thanks to @sofroniewn, I added another fix for broken link, but for napari.org page: https://github.com/napari/napari.github.io/pull/4.

In the meantime, I think we can close this issue

[2020-08-21 21:08] sofroniewn commented on #470
Wow i love these ideas, curious what @jni thinks, but you may have broken this one wide open :-)

I think I'd probably look at the total number of pixels requested by the new labels layer, if it was below a threshold I'd just use a numpy array (as people might want an easy way to save labels to a tiff), and if it was larger then i'd start with the in memory zarr array, and then moving to the zarr

[2020-08-21 22:09] manzt commented on #470
Totally agree! numpy by default (if below a certain pixel threshold), and only zarr if it makes sense (with flexible storage backends).

[2020-08-21 23:15] sofroniewn commented on #1566
Hmm that does look funny, and definitely like a bug that we should fix. I wonder if it relates to #673 - we'll need to look in more. Thanks for flagging!!

[2020-08-21 23:30] d-v-b opened #1571 "Defocus from axis label field on slider"
## 🐛 Bug

After selecting the axis label field to the left of an axis slider, clicking outside the text entry area does not reliably break the focus of that UI element. Clicking on the image canvas does break the focus, but adjusting the slider itself, opening the console, etc does not.

## To Reproduce

Steps to reproduce the behavior:

1. look at a 3d image
2. click on the axis label text entry

[2020-08-21 23:41] d-v-b opened #1572 "Mouse drag vs arrow key axis slider steps"
## 🐛 Bug

When drawing two 3D volumes with different voxel sizes, using arrow keys correctly increments the axis slider by the smaller of the two voxel sizes, but dragging the axis slider with the mouse does not.

## To Reproduce
[code]
on my mac laptop, the axis slider moves in increments of 2 when driven by the mouse, but increments of 1 when driven by arrow keys.

## Expected behavior

- mouse

[2020-08-21 23:43] d-v-b commented on #1572
Additional bug (I figured I'd skip making a second issue, since I suspect this is related): hitting the "play" button to view slices as an animation doesn't work when one of the datasets has been scaled. After hitting "play", nothing changes on screen until I pan the camera around, at which time the slices start getting animated. Makes me think something is queued to happen on redraw but not trigg

[2020-08-21 23:54] d-v-b commented on #1572
looks like this gets fixed in #1539 (I had forgotten that PR was still open). I'll close this issue when that PR gets merged.

[2020-08-22 00:11] jni commented on #1572
Thanks @d-v-b! =) This is just the best kind of issue. 😂

[2020-08-22 00:44] jni commented on #1355
Fixed in #1565. Thanks @pwinston!

[2020-08-22 00:44] #1355 closed, assigned to nobody

[2020-08-22 01:57] manzt commented on #470
Putting this here for future reference. Dug into the Zarr docs and found they have a convenience method for coping one store to the other (in-memory to directory in this case).

[code]

[2020-08-22 11:46] #816 closed, assigned to nobody

[2020-08-22 17:05] sofroniewn commented on #673
Note when looking into this we should also look into https://github.com/napari/napari/issues/1566 as it also raises some transparency screenshot issues that might be related

[2020-08-22 18:01] sofroniewn commented on #1571
Thanks for flagging @d-v-b, we will look into this!

[2020-08-22 18:02] sofroniewn commented on #1572
Ok great, @d-v-b thanks for reporting this and thanks for checking in #1539. I can look into this more too, but sounds like stuff that we will want to have fixed and tested in #1539!!!

[2020-08-23 20:31] sofroniewn opened #1575 "Further simplify and extend support for our colormaps"
## 🚀 Feature
Following #1523 we now have a very simple napari colormap object that is based on pure numpy.

One of the things to do is to ensure that we can accept matplotlib colormaps as requested in #899 and make sure it is easy to convert our colormaps into matplotlib colormaps, as noted and discussed here https://github.com/napari/napari/pull/1523#issuecomment-678820325

The same is true of vi

[2020-08-23 20:32] #862 closed, assigned to nobody

[2020-08-23 21:15] sofroniewn commented on #926
Now that we have our own colormap object (see #1523) we could add a simple flag `reverse` to reverse the colormap. Curious what people think?

[2020-08-24 08:00] Czaki commented on #1566
I check this on Ubuntu 18.04, Ubuntu 20.04, MacOS 10.14.6. In Macos default image viewer it is invisible, but when transfer on Ubuntu and open in Eye of Gnome it is visible.

[2020-08-24 10:08] jni opened #1576 "Sanity checks for input arrays delayed in async code"
In #1565, a sanity check for the rgb flag was added to the `on_chunk_loaded` method of the Image layer, see:

https://github.com/napari/napari/blob/67eb6908f77d93d064a69a6b4f6b48034ac60a90/napari/layers/image/image.py#L628-L633

In other words, this check is not done on layer creation, but rather every time that a chunk loads, which seems like overkill — it only needs to happen once, on the first

[2020-08-24 13:47] pwinston commented on #1576
Yes, there must be a much better way to do this. I just threw that in because without the error was very confusing. The error gave no indication the problem was RGB related, at least by my memory. It was a while ago.

Reproducing the error is probably the first step. And attaching it here. I think with async the "guess RGB" is not run on load. So you have to trust the user to set the "rgb" flag co

[2020-08-24 15:10] sofroniewn commented on #1576
@jni, see might comment here though about the fact that data can change dimensionality after the layer has been created, so this might actually be a little more complex, and we might need to keep checking more frequently. Comment posted below.

[2020-08-24 16:49] ekdnam commented on #1542
Can I work on this?

[2020-08-24 16:51] sofroniewn commented on #1542
Yes, that would be great, a PR would be very welcome. Feel free to checkout out our [contributing guide](https://napari.org/docs/developers/CONTRIBUTING.html) if you havn't already.

[2020-08-24 16:56] ekdnam commented on #1542
Okay sure!

[2020-08-24 17:07] liaprins-czi commented on #764
Here's a link to a prototype showing the desktop-size navigation in action:
https://www.figma.com/proto/fHIg6ktb6dFW3dhONihdVk/Page-structures?node-id=263%3A151&viewport=779%2C669%2C0.125&scaling=min-zoom

Will work on shoring up the other sizes next.

[2020-08-24 17:56] sofroniewn commented on #764
Looking great @liaprins-czi!! One question I have is if we will need 3 levels of expansion in the index column on the left, see
![image](https://user-images.githubusercontent.com/6531703/91078769-f5199a00-e5f7-11ea-9c42-9c0dfb8d6f57.png)

Should `Getting Started` and `Using Layers` be their own things which have an "expand" button? I can imagine pros/ cons. If things get too nested it can be hard

[2020-08-24 18:39] liaprins-czi commented on #764
Yeah that is a great point, @sofroniewn I coudl see it being either way, but in general I was follpwing the rule that anything toggle-able in the side nav is also its own page (e.g. in this case you can click to go to the overall Tutorials page which lists its children + has an intro/overview to Tutorials in general at the top)... and I think it helps people to see more of the options at once (i.e

[2020-08-24 20:27] liaprins-czi commented on #764
Here's another link to a prototype, this time applied to a narrower window width wherein the primary nav is collapsed into a hidden hamberger menu (and secondary "menu" accessed only by navigating to a primary-nav page, e.g. "Tutorials" page, rather than toggling open the menu within the hambuerger overlay). Also, the anchor link mini-nav is inserted at the top of each page rather than sticky at t

[2020-08-24 22:00] sofroniewn commented on #1566
This may be related to #1237 too

[2020-08-24 22:02] sofroniewn commented on #1566
Could also relate to https://github.com/vispy/vispy/issues/1889 which is not screenshot specific but pyqt5 specific

[2020-08-24 22:10] Czaki commented on #1566
![Zrzut ekranu z 2020-08-25 00-08-11](https://user-images.githubusercontent.com/3826210/91101329-19608f80-e667-11ea-9619-8fb180f34fff.png)
Same for PySide2.

But #1237 looks similar.  Maybe @jni could check if removing alpha channel will help.

[2020-08-24 22:20] sofroniewn commented on #924
A good place to think about that renormalization could be on the vispy side of things right here, before we set the data
https://github.com/napari/napari/blob/master/napari/_vispy/vispy_image_layer.py#L55-L67

[2020-08-25 17:35] liaprins-czi commented on #764
Sitemap update:
I have converted the site map to Lucid Chart, and updated it to reflect some more nuance, like the "use napari" vs "contribute to napari" groupings of the top nav sections:
https://app.lucidchart.com/invitations/accept/f7a85c5d-1ecc-4951-88f8-eaa9ec9b5a6e

[2020-08-26 01:58] #1569 closed, assigned to nobody

[2020-08-26 03:03] jni opened #1579 "pan/zoom broken for multiscale images with scale= parameter"
## 🐛 Bug

When viewing a multiscale image, setting the scale on the viewed dimensions to anything other than 1, 1 causes the pan/zoom to break.

[code]

See the screengrab video. The jumps are just me scrolling.

https://imgur.com/a/UpzyOC6

When you click and drag, the coordinates displayed in the status bar change while dragging. 🤷

[2020-08-26 03:55] ekdnam commented on #1542
how can the parameters of the `view_image` function be modified? and also the colormap dropdown menu? in the `view_layers.py` script, it is said that the `view_image` function is auto-generated

[2020-08-26 04:13] sofroniewn commented on #1542
Hi @ekdnam you shouldn't need to modify view_image. Instead you could just add an if statement looking at the `layer.rgb` and if `True` not add the colormap widget to the qt controls for the image layer here https://github.com/napari/napari/blob/master/napari/_qt/layer_controls/qt_image_controls.py#L101-L102.

You could then add a test in a new file called `test_qt_image_layer.py`, similar to this

[2020-08-26 04:21] ekdnam commented on #1542
Okay. Will do so. Thanks

[2020-08-26 13:31] ekdnam commented on #1542
Hi @sofroniewn . I have removed the dropdown as well as the 'Colormap' label. But can't remove this ->
![napari-colormap-dropdown](https://user-images.githubusercontent.com/40426312/91309155-e258be00-e7cd-11ea-8c6f-410658a48bcc.jpg)

Which function / statement controls this icon? I declared the `colormapLayout` object such that it gets created only when `layer.rgb == False`, but then the icon gets

[2020-08-26 15:09] sofroniewn commented on #1542
That object is the colorbarLabel, here https://github.com/napari/napari/blob/master/napari/_qt/layer_controls/qt_image_controls.py#L89. Preventing adding the colormap_layout should prevent adding both the dropdown and the colorbar. Do you want to make a pull request with what you have so far and then I can give you more detailed help on the PR

[2020-08-26 16:10] #659 closed, assigned to nobody

[2020-08-26 16:24] sofroniewn commented on #1572
Closed by #1539

[2020-08-26 16:24] #1572 closed, assigned to nobody

[2020-08-26 16:24] sofroniewn commented on #1369
Closed by #1539

[2020-08-26 16:24] #1369 closed, assigned to nobody

[2020-08-26 19:58] manzt opened #1584 "Make layer state easily JSON-serializable"
## 🚀 Feature

I've been experimenting with serializing the viewer state as zarr, using `layer.as_layer_data_tuple()` to get the layer data, state, and type. (Love this method!!) However, the meta dict is not easily jsonify-able. For example `scale` and `translate` for the image layer are of type `List[np.generic]` rather than `List[float]` or `List[int]` which means you can't just dump the metadat

[2020-08-26 20:24] kne42 commented on #1566
Hi @Czaki, thank you so much for taking the time to make this bug report!

I was able to reproduce this bug. My preliminary investigation leads me to believe that this is likely to be an error in vispy's canvas rendering code. I'll take a look and see if I can find any solutions.

[2020-08-26 21:36] djhoese commented on #1566
Hi everyone. A couple thoughts coming from someone who doesn't know the inner workings of napari but does know vispy:

1. How is napari making the screenshots? Does it use the `_screenshot` method in vispy?
2. What does this look like in napari? If the regions aren't 100% opaque in napari then wouldn't we expect to see the transparency (and the image viewer's checkerboard background)? If I'm under

[2020-08-26 22:23] Czaki commented on #1566
@djhoese
It looks like it is not `_screenshot` but `grabFramebuffer`
https://github.com/napari/napari/blob/2ff87e56aac2e1c812e82fa5bbf8bcf1b7954150/napari/_qt/qt_viewer.py#L365

here screenshot of all window
https://github.com/napari/napari/blob/2ff87e56aac2e1c812e82fa5bbf8bcf1b7954150/napari/_qt/qt_main_window.py#L509

I expect that if any layer has opacity 100% then there should be no opacity on

[2020-08-27 03:39] sofroniewn commented on #1584
That would be fine, a PR would be most welcome.

Yeah, it will now be very easy to turn the colormaps/ color arrays into json as we have complete control over them and knowledge of what they are.

I like this idea a lot, and it could solve some of the discussions we were having about if `_get_state` should return things like the `colormap` object or things like a serializable object. I think the a

[2020-08-27 03:56] sofroniewn opened #1585 "interaction between visibility and contrast limits"
## 🐛 Bug

I've just found a funny bug where there appears to be an interaction between the visibility and contrast limits

## To Reproduce

Steps to reproduce the behavior:

1.  napari.view_image(np.random.random((200, 200)), contrast_limits=[0, 10])
2. move clim slider to be [0, 2]
3. toggle visibility off/ on
4. notice that after toggle image is very saturated. adjusting slider a tiny bit causes

[2020-08-27 03:57] ekdnam commented on #1542
Okay sure will create a  PR

[2020-08-27 15:16] nitschw opened #1587 "Label paint tools don't work when using a pyramid as the input to viewer.add_labels(some_label_mask)"
## 🐛 Bug

I am trying to display big images (54000x54000) and am doing so successfully using pyramids. I would like to be able to label my images, but when I use a pyramid as an input to add_labels for my napari.Viewer object none of the brush tools work (they are greyed out on the left hand side in napari). When I input a single numpy array of the same size as the normal resolution layer of the i

[2020-08-27 17:13] manzt commented on #1584
Yup, same thought. It makes sense to keep state objects as they are if interacting with state _within_ a python session, but for serialization, you want the ability to capture the minimal data (as basic types) required to recreate each object.

Rather than `as_json=True` maybe something like `serializable=True` which means a dict of basic types. For any state object which is not composed of basic

[2020-08-27 19:58] sofroniewn commented on #1587
Hi @nitschw, yes apologies that this isn't clearly documented yet, painting for pyrmaids is not supported yet. You can see some discussion of how we're thinking about supporting this in #470 for new labels layers, we'll have to think also about how to support it for existing pyramids like you mention above

[2020-08-27 20:07] tlambert03 opened #1588 "behavior of translate in view_image"
## 🐛 Bug/Question

it's possible that I just don't understand how I should be using translate in `view_image`, but after #1360, using `translate` in `view_image` (when viewing a single volume) no longer shifts the image relative to the camera.  It _may_ be a strange case of my particular dataset that the image needed to be translated at all, but I always needed to use `translate` to get the dask m

[2020-08-27 23:00] jni commented on #1588
Incidentally, it's interesting that the layer list doesn't appear in the screenshot!

Other than that this is pretty concerning. 😅 Do the coordinates under the cursor make sense in both cases? That might tell us whether this is more of a camera issue or a data issue...

[2020-08-28 00:50] zeroth commented on #1566
@djhoese

I am not 100% sure, but in my preliminary finding I found that
`self.canvas.native` is of type `vispy.app.backends._qt.CanvasBackendDesktop`
and looking at `vispy` code CanvasBackendDesktop inherits QGLWidget.

QGLWidget has a method grabFrameBuffer which has a default paramater `withAlpha = false`  (`QImage QGLWidget::grabFrameBuffer(bool withAlpha = false)`)

I think before digging fur

[2020-08-28 01:18] djhoese commented on #1566
Note the misleading import in `_qt.py`:

https://github.com/vispy/vispy/blob/bb2cd96eb16dde1ecac3c70f9e572791bb5699e9/vispy/app/backends/_qt.py#L82

It is actually the newer QOpenGLWidget.

@Czaki You said:

When you say "transfer on Ubuntu", do you mean you ran the same napari operations on Ubuntu, saved an image, and then viewed it? Or do you mean you copied the screenshot image to an Ubuntu mac

[2020-08-28 02:12] zeroth commented on #1566
@djhoese Thanks for pointing that. I found this bug report on Qt https://bugreports.qt.io/browse/QTBUG-55245 might give you some idea.

[2020-08-28 02:43] djhoese commented on #1566
Hm the last comment on that bug report suggests that should be fixed with Qt 5.12 which I think conda-forge has as the newest version. I wonder if this was a bug back on Qt 5.9. Might be hard to check.

[2020-08-28 03:50] sofroniewn commented on #922
@kevinyamauchi can you look into this again now that #1360 and #1539 have merged. I'd actually like us to remove the `layer.shape` property, but we want `layer._extent_data` to be accurate

[2020-08-28 04:00] #1074 closed, assigned to nobody

[2020-08-28 07:19] Czaki commented on #1566
I mean copy screnshoot image on ubuntu machine and there view it with build in viewer (Eye of Gnome).

I created screenshot which have this effect on Ubuntu 18.04, 20.04 using PyQt 5.14.2, on Ubuntu 20.04 using PySide2 5.15.0,   on MacOs using PyQt  5.14.2. I do not test other version of Qt bindings. I use Qt bindings from PyPi, not conda one.

[2020-08-28 14:03] djhoese commented on #1566
I think I need this put another way. What exactly is the unexpected behavior? I'm not sure I understand what moving a screenshot from one OS to another tells us besides how different image viewers display transparent pixels. One image viewer might use a black background or a white background so transparent pixels always have that behind them. Others might use a checkerboard pattern to make it clea

[2020-08-28 14:22] Czaki commented on #1566
Below labels layer there is image layer. This layer is not transparent. So on screenshot I do not expect transparency in this place.
I expect transparency on screenshot only if all layers in stack have set opacity below 1

Moving is only to use viewer which marks pixels with alpha value bellow 255. I do not know such viewer for MacOS but I expect that it exists.

[2020-08-28 14:24] djhoese commented on #1566
On OSX, Preview can be configured to show a different background (checkerboard even I think).

[2020-08-28 15:53] kevinyamauchi commented on #922
Will do. I'll take a look this weekend!

[2020-08-29 12:59] jni commented on #698
@anntzer Thanks for raising this issue. There's now several IO plugins for napari in the wild, and it should be easy to create one that suits your needs. ([link again](https://napari.org/docs/plugins/index.html)) Given that, I'm going to close this issue, but feel free to comment here if you have any different thoughts on how to fix the issue!

[2020-08-29 12:59] #698 closed, assigned to nobody

[2020-08-29 13:02] jni commented on #696
In the medium term, the IPython console in napari is going to become optional. Additionally, since we have not been able to reproduce this and there's been several IPython and ipykernel releases in the meantime, I'm going to close this. As always, feel free to reopen if you encounter this issue again.

[2020-08-29 13:02] #696 closed, assigned to nobody

[2020-08-30 02:18] joshuawillman commented on #1312
I know this is mostly related to PySide, but today I upgraded PyQt5 to version 5.15.0 and found that the widgets I tested worked, except for QPushButtons. I just wanted to know if anyone else experienced this.

[2020-08-30 03:24] tlambert03 commented on #1312
Yep, it's both pyside and pyqt 5.15... we need to figure out what's going on with buttons in both cases

[2020-08-30 22:56] jni commented on #660
@berceanu napari has changed a lot since this issue was raised. Is it working for you now? There is also a conda-forge recipe so you can `conda install -c conda-forge napari`. Please let us know if we can close this issue...

[2020-08-30 23:01] jni opened #1593 "Make the console an optional install"
## 🚀 Feature

It's not great that installing napari brings down the entire jupyter stack because of the console. We should remove the button both in IPython (as already discussed) and when the QtConsole dependencies are not there. `pip install napari[all]` would bring down the console stack, as would `pip install napari[pyqt5,qtconsole]`.

## Motivation

We should aim to make napari a lean viewer.

[2020-08-30 23:04] jni opened #1594 "Consider not raising when launching from IPython"
## 🐛 Bug

When launching from Jupyter, it's common to put the entire preparation code (create the viewer, add an image, add labels, add points, ...) in the same cell, so raising by default is the natural choice. On the other hand, when I launch napari from IPython, typically I launch a Viewer, and still have quite a few statements to type before I want to actually use the viewer. In this situation

[2020-08-31 00:11] tlambert03 commented on #1593
👍... it already pretty closely matches the description of the proposed dock widget extensions in #1327

[2020-08-31 01:12] sofroniewn commented on #1593
agreed, this would be a good test case for that hookspec, and at that point would could have a new repo `napari-qtconsole` (or something similar) which would just be a plugin, which would be pretty cool!

[2020-08-31 01:13] sofroniewn commented on #1593
Probably first step is to get #1327 (or something similar) in, possibly under an "experimental" namespace (see discussion in #1564), and then follow up with this refactor. Thoughts @jni @tlambert03?

[2020-08-31 04:43] jni commented on #1593
That's definitely the medium term vision, but I am proposing that we can make it optional even before that.

[2020-08-31 07:16] berceanu commented on #660
Yes, all good, you can close :+1:

[2020-08-31 13:13] tlambert03 commented on #1588
ok, turns out the main thing I was seeing here was due to me incorrectly updating chunk size while chaining dask `map_blocks` calls that actually modify the shape of the underlying data.  Since dask calculates the `shape` of the array based on those chunks, it resulted in a dask array that reported an incorrect shape.  It's (kinda) interesting that it all still works "fine" in napari... that is, t

[2020-08-31 13:13] #1588 closed, assigned to nobody

[2020-08-31 13:15] tlambert03 opened #1596 "nbscreenshot not always showing layerlist"
## 🐛 Bug
as [jni noted](https://github.com/napari/napari/issues/1588#issuecomment-682233015) from my screenshot in #1588 (shown below) ... `nbscreenshot` is sometimes not showing the layer list... and possible other inconsistencies with the viewer?
(cropped is a dask array in this case)
<img width="699" alt="91489668-2bb51600-e87f-11ea-81e6-6a7a4470de0a" src="https://user-images.githubusercontent.

[2020-08-31 13:19] tlambert03 commented on #1596
i think there's some sort of race condition, cause if I simply re-run that cell above, commenting out the new viewer, then the screenshot is correct the second time that it gets run

[2020-08-31 15:37] sofroniewn commented on #1596
@tlambert03 I have noticed this too. A race condition seems likely

[2020-09-01 00:16] jni opened #1598 "Add python.app to the test matrix"
## 🐛 Bug

@joshmoore pointed out in #1597 that our command line interface was failing when used with `pythonw`/`python.app`. We should add tests with and without python.app in our testing matrix to prevent a regression.

[2020-09-01 02:00] #1594 closed, assigned to nobody

[2020-09-02 00:50] GenevieveBuckley opened #1600 "Add napari to the briefcase packaging success stories page"
After the napari 0.3.7 release (which includes pre-built bundled apps for Mac & Windows), we might consider adding napari to the list of "briefcase success stories" at https://briefcase.readthedocs.io/en/latest/background/success.html (as suggested by Russell).

Thoughts?

[2020-09-02 00:51] GenevieveBuckley commented on #1600
I should add, I feel relatively confident that we can sort out the issue we're having with the latest briefcase version (see https://github.com/napari/napari/pull/1599 for details)

[2020-09-02 03:37] jni opened #1602 "Add testing optional extras to napari setup.cfg"
## 🚀 Feature

When testing a release candidate, I always have to install extras from the repo, including testing extras. It would be excellent to be able to install them with `pip install napari[all,testing]`.

The relevant lines are here:

https://github.com/napari/napari/blob/42d26d66a82fbd00b9db3515c0d10e16f76a284f/setup.cfg#L70-L78

[2020-09-02 09:51] Czaki opened #1603 "Make color mode for label layers more informative"
## 🐛 Bug

Current implementation of color mode does not provide user enough information what he should expect after change this option.
It allow to select `direct` when user does not provide mapping dict.
With current implementation also order of changing properties produce different result in viewer which will introduce problem with  #1584 and simple screenshot of layer control widget is not enou

[2020-09-02 12:35] tlambert03 commented on #1602
that was originally part of #1324, see [e1f3c47](https://github.com/napari/napari/commit/e1f3c477462141edb9b9a03f257c1992bf625bae#diff-380c6a8ebbbce17d55d50ef17d3cf906R66) (and the change was inspired by [this post](https://caremad.io/posts/2013/07/setup-vs-requirement/)) ... but in review it was requested to return to the `requirements/test.txt` and other requirements files.
Shall we just return

[2020-09-02 21:38] liu-ziyang commented on #1348
after reading the existing code and tried to patch in place, I start to feel we may need more drastic changes to make it more intuitive. right now there are 3 things involved in setting color as pointed out: property, face/edge_color, face/edge_color_cycle, I would propose that we do something similar to the label layer, where we consolidate them to one single dict as suggested: {1: 'green', 2: 'r

[2020-09-02 22:00] neuromusic opened #1605 "IDEA: a semantic plugin API"
## 🚀 Feature
Support a semantic plugin API, enabling analysis plugin developers to define the inputs and outputs of their plugin using microscopy concepts like "space" and "time" and biological concepts like "nuclear stain".

## Motivation

I've been thinking about various segmentation tools (Allen Cell Segmenter, cellpose) & what they might look like as napari plugins. One theme that comes up is

[2020-09-02 22:30] ahnsws opened #1606 "Pyramids are clipped when translated"
## 🐛 Bug

Hi all, I'm having a absolute blast with napari. Though, I've run into an issue with rendering pyramids with translation:

![napari-multiscale-translate](https://user-images.githubusercontent.com/17461258/92041835-fc068200-ed46-11ea-9373-8f7d56673cde.gif)

## To Reproduce

Steps to reproduce the behavior:

I'm running the following:
[code]

To create the two pyramids I run this:

[code]

[2020-09-02 22:39] sofroniewn commented on #1605
My immediate thoughts @neuromusic is that this sounds like a great idea for a plugin which could take more plugins. i.e. the napari interface shouldn't have to understand what DAPI etc is as these concepts are too domain specific, change to frequently to even handle all of a domain like cellular biology, but we could make a `napari-cell-biology-interface` plugin which itself did the translation be

[2020-09-02 22:40] sofroniewn commented on #1606
Possibly related to #1579, we can look in more, thanks for the detailed bug report and glad you're having fun with napari!!

[2020-09-03 03:01] sofroniewn opened #1611 "Mac OSX bundle fails to build first time"
## 🐛 Bug

Mac OSX bundle fails to build first time for 0.3.7 release - here is the log file.

The bundle generally builds on the second run, but doing so wipes the log, making the issue hard to debug, so I have copied the log cc @tlambert03 @ziyangczi

<details>

[code]
</details>

[2020-09-03 03:06] sofroniewn commented on #1611
Most important part of log appears to be

[code]

[2020-09-03 03:25] sofroniewn commented on #1611
If easy it might also be nice to make it so that it is possible to rerun just one of the builds without re-running the other two. No big deal if not, but just a thought

[2020-09-03 03:40] sofroniewn commented on #1611
I've left the `0.3.7rc3` build as a failure - see here https://github.com/napari/napari/runs/1064826791?check_suite_focus=true so logs are still available.

[2020-09-03 16:15] horsto opened #1614 "Retrieve mouse global coordinates"
## 🚀 Feature
It would be great if mouse coordinates could be returned independent of the currently active layer, i.e. "globally" in respect to the displayed data.

## Motivation

Currently mouse coordinates can be retrieved from individual layers (`layer.coordinates`) when they are active, but it is sometimes desirable to return coordinates no matter what layer is active and tie for example a `mou

[2020-09-03 19:13] sofroniewn commented on #1614
Thanks for raising this issue @horsto, this is top on my priority list for our next release. I should be able to work on this over the next two weeks and will link PRs

[2020-09-03 23:27] GenevieveBuckley commented on #1611
Thanks for looking into this Nick. It's worth mentioning that we don't seem to have first run failure problems on [this hello world pyside2 bundled](https://github.com/GenevieveBuckley/hellopyside) (where Talley has helpfully added github CI actions). Knowing this might now help narrow things down much though!

[2020-09-04 07:02] GullyBurns commented on #1605
I think this could well be an interesting application but from the knowledge engineering side, this would likely have to be implemented as a set of structured queries over a KG with the relevant logic coded into the queries.

There might be some  interesting ways this could be built, especially if the main logical outcome was driven by a well-delineated class of entities. Justin, you seem to be ve

[2020-09-04 18:16] sofroniewn opened #1618 "Seg fault on closing napari with framework launch mac"
## 🐛 Bug

We're currently getting a seg fault when quitting napari after it has been launched with the framework build on mac - likely after #1554. See

[code]

If you do this a couple times in a row you start getting this dialog which blocks launch until it is addressed.

<img width="532" alt="Screen Shot 2020-09-04 at 11 14 21 AM" src="https://user-images.githubusercontent.com/6531703/92273259-e

[2020-09-04 19:37] Czaki commented on #1618
Could You provide more details? MacOS version, python version?
I cannot reproduce this on my Mac.

[2020-09-04 20:00] sofroniewn commented on #1618
macOS Catalina, Version `10.15.5` and Python 3.7.4

napari --info is

[code]

[2020-09-04 20:34] Czaki commented on #1618
I install anaconda and still cannot reproduce this error. My system is 10.14.6.

[code]

[2020-09-04 20:36] sofroniewn commented on #1618
Maybe it is Pyside2 vs PyQt5? I can try that too. Thanks for trying @Czaki!!!

[2020-09-04 20:41] sofroniewn commented on #1618
Yes! I only get error with PySide2 5.14.1 and NOT PyQt5 5.14.1

[2020-09-04 20:41] Czaki commented on #1618
Sometimes ago I have symilar problem and it could be PySide. In my case it was problem with wrong cleaning order.

How install PySide with Anaconda (I use mainly core CPython )

[2020-09-04 20:47] sofroniewn commented on #1618
Do you think @Czaki it is how I installed PySide2 or is there for all PySide2 users?

Do you think there is a fix we can make to prevent this crash?

[2020-09-04 22:03] Czaki commented on #1618
I cannot simply reproduce because #1262 broke #1080

[2020-09-04 23:18] Czaki commented on #1618
Also work:

[code]

[2020-09-04 23:32] sofroniewn commented on #1618
Ah, I guess this is issue #1349 that you are referring too. @Czaki can you maybe post on #1349 about how this has broken #1080 and has made switching PyQt5/ PySide2 harder for you. Maybe @pwinston can spend some time looking into fixing that one.

[2020-09-04 23:35] sofroniewn commented on #1618
Interesting that you could get PySide2 working @Czaki!

Maybe the Python 3.8 vs 3.7 matters too. We'll probably need to get some more eyeballs on this one to really understand, cc @ziyangczi

[2020-09-04 23:42] Czaki commented on #1618
If I good remember when I have symilar problem I run whole program under c debuger
[code]
and trace source of problem

@sofroniewn
It is different problem. #1080 introduce check that if `pyrcc5` fails then `pyside2-rcc` is called.
When working with `pyenv` ones `pyrcc5` is installed such named file in in path. But if current environment does not contain it then produce such message:

[code]

[2020-09-04 23:47] sofroniewn commented on #1618
Ok thanks for that tip, I can try that right now

Is this something that you can fix @Czaki? If so we'd happily merge a PR. Apologies we broke #1080, if you could also add a test that would have caught the bug introduced in #1262 then maybe we'll be able to avoid doing it again!!

[2020-09-04 23:48] Czaki commented on #1618
I wil create such PR. This time with tests.

[2020-09-05 01:07] sofroniewn commented on #1618
Ok, testing this in a clean Python 3.7 environment with napari 0.3.7, PySide2, and pythonw works fine. I'm sorry for not doing that sooner! I guess something is wrong with my other environment, which has loads of stuff in it!! I can try looking into that more. Thanks @Czaki for testing!!

[2020-09-05 02:42] GenevieveBuckley commented on #1611
I've just heard Jack McKew give a great talk at PyConlineAU about Github actions, and he suggested we might like to look at the "retry step" action to re-run our flaky bundling: https://github.com/marketplace/actions/retry-step

Obviously we'd like to fix the underlying problem, but maybe this can help make things less annoying until we work that out.

[2020-09-05 09:05] Czaki commented on #1618
I see that you have developer vispy version in main env. Maybe this is source?

[2020-09-06 01:40] djhoese commented on #1585
How do you control visibility on the vispy level? Does anything change on the underlying ImageVisual object?

[2020-09-06 01:51] sofroniewn commented on #1585
Just with the setting the `visible` property - see here https://github.com/napari/napari/blob/master/napari/_vispy/vispy_base_layer.py#L142 where `node` is the `ImageVisual`

Not sure if it affects both `ImageVisual` and `VolumeVisual`, need to check.

If I had to guess, I'd guess with > 90% confidence this problem would reproduce in vispy alone just by toggling visibility too

[2020-09-06 21:21] sofroniewn opened #1621 "New point color off"
## 🐛 Bug

Changing color before adding the first point to a layer doesn't cause new point to have new color

## To Reproduce

Steps to reproduce the behavior:

1. Run `python examples/add_image.py`
2. Click the new points layer
3. Change the face color from white to red - see color icon change
4. Click in Add mode and add point. Point is white and color icon is now white too

## Expected behavior

[2020-09-07 01:59] liu-ziyang commented on #1348
@constantinpape out of curiosity, why would you include green in the color cycle if you wish not to see it? I am trying to understand the usecase in case I miss anything in my commit

[2020-09-07 03:35] GenevieveBuckley opened #3540 "More informative alt text for images"
I've noticed that the alt text for all of the images included with markdown in this repository appears to say the same thing: "image". This seems less than helpful.

I'd like if we replaced the alt text with something better, probably along the lines of "image: a more informative of the image content here"

[2020-09-08 18:28] kne42 commented on #1237
I was able to reproduce this using specific colors with shapes in [this notebook](https://gist.github.com/kne42/ceb41bca2b68f85a350349b7da523d8c).

<img width="1200" alt="Screen Shot 2020-09-08 at 10 52 52 AM" src="https://user-images.githubusercontent.com/29165011/92513687-8f1b3e00-f1c5-11ea-9096-0e6f5d39202f.png">

![ex2](https://user-images.githubusercontent.com/29165011/92513676-8b87b700-f1c5-

[2020-09-09 00:15] neuromusic commented on #1605
Yeah, that's a common use of the biologists we're working with. Through the design of the microscope, a biological marker, and the experiment, the biologist will map some aspect of subcellular anatomy to a "color" channel in the imaging data. There's a chain of associations/inferences (my molecule binds to a receptor that is expressed by a certain gene and fluoresces over a range of wavelengths &

[2020-09-09 20:52] tferr opened #1627 "libffi: Cannot initialize AppImage on Ubuntu 20.04"
I get the following exception when starting the napari-0.3.7-x86_64.AppImage on Ubuntu 20.04:

[code]

[2020-09-09 22:05] tlambert03 commented on #1627
thanks for the report @tferr.  I'm afraid that's a known issue without a resolution at the moment.
The issue with `libffi.so.6` appears to be [fixed in briefcase 0.3.3](https://github.com/beeware/briefcase/issues/420#issuecomment-660442534).  However, our build pipeline has been [pinned to version 0.3.1](https://github.com/napari/napari/pull/1599), because there's a different [issue building Pysid

[2020-09-09 23:22] pwinston opened #1628 "noise2self: threads and processes"
## 📚 Documentation

* The `DelayQueue` fixes the Jupyter/Torch example.
* Processes are not needed, threads work.
* Threads work in Jupyter itself or in the stand-alone script.
   * Processes did not work inside Jupyter

## Details

Previously we concluded that processes (rather than threads) were needed for the [noise2self Jupyter notebook](https://github.com/jni/noise2self). This actually not tr

[2020-09-10 21:43] kne42 commented on #1566
Hi @djhoese, thanks for taking a look!

To try to clear things up:
- these are effectively two ImageVisuals
- the one closer to us ("the foreground") is partially transparent
- the one farther from us ("the background") is completely opaque
- when we take a screenshot, we expect that because the background overlaps with the foreground, the result should be a blending of the two, but opaque, since

[2020-09-11 06:57] jni commented on #1353
Another note on this. Today @tlambert03 and I played around with resurrecting #838. It's not trivial! The main issue we were running into is that, until now, `Image.raw_to_displayed()` and `Image.rgb` never changed after instantiation. So, now, as opposed to six months ago, when we try to refresh and grab the slice *with new parameters*, the chunk loader says, you already have that slice, here you

[2020-09-11 19:25] kne42 commented on #1385
Ok so unfortunately `sphinxcontrib-versioning` doesn't work and hasn't been updated in months. I've also tried using `sphinx-multiversion` but it keeps stumbling into errors on my machine. I've made an issue to report it but the developer hasn't seemed to reply to things for 23 days. I'm opposed to using RTD for hosting.

There's a few options we can take from here:
1. Make a script to generate do

[2020-09-11 19:50] pwinston commented on #1353
I'm not sure I have the full context. But long term it seems like `ImageSlice` or something like `ImageSlice` should contain just the bytes loaded from disk/network. And then if Napari wants to display them some special way, that's a separate downstream step prior to display.

Like if we do have a cache some day, and your cache is full of chunks, and suddenly you change some display mode. We certa

[2020-09-11 19:54] tlambert03 commented on #1353
@jni, I've got it mostly implemented on the vispy side.  Not GPU yet (started playing with it ... but that's heavy surgery since gl doesn't natively support GL_FLOAT_VEC2 textures)

[2020-09-11 20:11] pwinston opened #1629 "Move async into experimental and merge it"
## Task
We need all async functionality to be in the `experimental.*` namespace before merge

## Motivation

Not sure if this belongs in an "issue". But since the feature is spread out over so many PRs and those PRs seem to come and go, I think we need some permanent home that documents and tracks the state of things. This issue will be that home, unless there is a better place.

## GitHub Project

[2020-09-11 23:14] jni commented on #1353
@pwinston That sounds right and pretty much what I meant.

@tlambert03 My idea was that you could send .real and .imag to the GPU as two separate textures, then do the colormapping on the GPU based on those.

[2020-09-11 23:18] jni commented on #1385
@kne42 You could also check the scikit-image implementation. We don't use any third party packages, we just build the docs on each tag, and then there is a short bit of js on the scikit-image-web repo to switch between versions.

[2020-09-11 23:42] pwinston commented on #1353
Thinking about it you have the Model and the Viewer. But then I think we are saying the Viewer itself also has two layers. Kind of the raw layer and the cooked layer. Or maybe even more.

I think some layers already work like this. But I wonder if it needs to be formalized or standardized across the board. That every layer has this flow of model -> raw -> processed -> displayed. For `Image` the  `

[2020-09-12 02:28] d-v-b commented on #1353
This goes back to an old "weird hill I wanted to die on", but... this issue could be addressed by taking a datatype-oriented approach. Imagine if napari dispatched off datatypes for array elements (like `uint8`, `uint16` (regular grayscale), but also `[uint8, uint8, uint8, uint8]` (RGBA), and maybe `[float64, float64]` (complex))... and each datatype determines the rendering modality. A datatype-d

[2020-09-13 20:04] pwinston commented on #1353
So I think you are saying yes, the Viewer needs a raw data layer and a processed day layer. But then you are adding that the processing for different types `Image` layers is highly depending on the type of data. Such that we should have a clean way to map from datatype to processing code. And not have code that is constantly sniffing at the datatype and doing if/then branching.

Maybe what that me

[2020-09-13 22:32] #1585 closed, assigned to nobody

[2020-09-14 00:22] #660 closed, assigned to nobody

[2020-09-14 05:47] mkitti opened #1630 "napari.utils.naming.magic_name should return a default name on exception"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Execute https://gist.github.com/mkitti/2f7c5fc3d3f8b0d15dd13f6d67b0e73d in Julia
2. On executing `napari.view_image(astronaut)`  the following error stack trace occurs

[code]

## Expected behavior

The astronaut image should appear in the Napari viewer.

## Environment

napari: 0.3.6
Platform: Windows-10-10.0.18362-SP0
Python: 3.8.3

[2020-09-14 05:53] mkitti commented on #1630
Here is the Julia version information:

[code]

[2020-09-14 07:34] jni commented on #1630
Thanks for the detailed report @mkitti! It makes things very easy on our end. =) I like either option 1 or 2, and would definitely welcome a PR that fixes things! Originally we just named things after the layer type so that is a sensible default.

If you don't have time for a PR, don't worry, we'll get to it. =)

[2020-09-14 17:22] djhoese commented on #1566
Are you using `canvas.render()` to do the whole screenshot? I know it was said that the `grabFrameBuffer()` was being used above, but is it being used for both cases with and without the canvas? Have you tried using `vispy.gloo.util._screenshot` (yes I know its private, sorry). Here is what I got from your notebook on my PopOS (Ubuntu) system (using matplotlib's `Figure.savefig`):

The actual napa

[2020-09-15 16:15] kapoorlab commented on #1507
Hello, I can confirm that the issue only shows up on my Mac and not on the more powerful computer that I have. On my mac I still see the stuck view but for the same image/program running on server/powerful computer with >60 GB of RAM the issue does not exist.

[2020-09-15 18:13] Czaki commented on #1507
Maybe it is some OpenGL bug in your driver

[2020-09-16 07:57] averypennington opened #1631 "Paint not showing until 3d mode activated"
## 🐛 Bug

After updating to 0.37 (dev56) the paint tool isn't working. Paint doesn't show up when painting onto an image volume (99,256,256). However, if the '3d mode' (number of displayed dimensions) is activated, the paint is there.

## To Reproduce

Steps to reproduce the behavior:

1. Run examples/nD_labels.py
2. Select label layer, select paint brush, paint. Try to switch number of displayed

[2020-09-16 11:51] jni commented on #1631
I can reproduce this behaviour in master. Dang! Thanks for reporting @penningav! This is a bad regression so I hope we can fix it before 0.3.8!

[2020-09-16 12:17] averypennington commented on #1631
Not a problem, glad you guys are looking at it. That would be great. Cheers

[2020-09-17 14:47] jni commented on #1631
Looks like this is caused by #1607, based on git bisect.

[2020-09-18 17:23] sofroniewn commented on #1631
Yikes! I should be able to look into this tomorrow, thanks for reporting!! Sounds like it's not in the `0.3.7` release itself, just the latest version on master.

[2020-09-21 06:39] jni opened #1636 "Layer._get_state(), or something like it, should be public"
## 🐛 Bug

The `napari_get_writer` [hookspec docs](https://napari.org/docs/plugins/hook_specifications.html#napari.plugins.hook_specifications.napari_get_writer) say:

Unfortunately, `Layer._get_state()` is a private method, which should raise alarm bells, and as a consequence it is not even documented in our API docs (see e.g. for [`Image`](https://napari.org/docs/api/napari.layers.image.html)). S

[2020-09-21 07:06] jni opened #1637 "The napari_get_writer hookspec should get more info about the layers"
## 🚀 Feature

At a minimum, the data from `_get_state` would be really useful. For example, some plugins might only be able to save luminance, not RGB, data. Others might not be able to save a multiscale layer but they can save single scale. etc.

## Alternatives

Currently, the only option for the plugin is to fail late, during the actual writing. This seems suboptimal!

[2020-09-21 16:04] sofroniewn commented on #1631
Ok, I looked into this a little more. It is caused by these lines in #1607 https://github.com/napari/napari/pull/1607/files#diff-3ff6125a4ff917291bee7185ab645021R91-R94,

[code]
Where we no longer update the image if the key hasn't changed. Unfortunately this update scheme doesn't take into consideration that the data itself may have changed. There maybe other ways to trigger the update in this ca

[2020-09-21 16:26] sofroniewn commented on #1636
I agree with this proposal, I think there was some discussion in #1584 about API around this method - we should have one function call to return something serializable, we should have another function call that returns our simple objects that plugins could use. The only place where there would be a difference right now is the `colormap` object.

[2020-09-21 17:09] sofroniewn commented on #1621
@kevinyamauchi @ziyangczi @jni just flagging, this one needs to be reproduced but looks probably pretty simiple. Would be great to get it in for the 0.3.8 release which I think we'd like to do soon (will be a small bug fix release and likely our last python 3.6 release)

[2020-09-21 17:17] sofroniewn opened #1639 "Support for mapbox vector tile spec"
## 🚀 Feature
As we think about making more layers multiscale, like shapes, one thing we might want to consider is support the [mapbox vector tile spec](https://docs.mapbox.com/vector-tiles/specification/) used in the mapping/ geospatial community (h/t @freeman-lab). We might relate to our geo-json support and could require a combination of adding some multiscale to our shapes layer and some custom

[2020-09-21 21:27] kevinyamauchi commented on #1621
I can take a look tomorrow!

[2020-09-21 21:30] sofroniewn commented on #1621
Thanks @kevinyamauchi!! I think @ziyangczi might be looking into this afternoon, so look out if there is a PR first, but that would be great. PR or tips in the right direction would be appreciated. Also @ziyangczi if you run into questions looking into today it you could ask @kevinyamauchi

[2020-09-21 23:18] liu-ziyang commented on #1621
I am planning to dig into this tomorrow as well, but happy to see more people able to reproduce it!

[2020-09-22 02:19] jni commented on #1621
To clarify the symptoms, when you start adding points, they *alternate* between white and red, and the little face_color box alternates as well. It's really quite fun and hilarious! 😂

<img width="1200" alt="Screen-Shot-2020-09-22-at-12 08 19-pm" src="https://user-images.githubusercontent.com/492549/93838625-ae3dc380-fccd-11ea-8f34-6650b8bd5323.png">

#1623 does **not** fix the issue, in case anyo

[2020-09-22 02:30] jakirkham commented on #805
FWIW [`from_zarr`]( https://docs.dask.org/en/latest/array-api.html#dask.array.from_zarr ) does accept a [`MutableMapping`]( https://docs.python.org/3/library/collections.abc.html#collections.abc.MutableMapping ) or an [`Array`]( https://zarr.readthedocs.io/en/stable/api/core.html ) as well. So if one is able to construct an [`N5Strore`]( https://zarr.readthedocs.io/en/stable/api/n5.html#zarr.n5.N5

[2020-09-22 05:14] kevinyamauchi commented on #1621
Okay, sounds good! Thanks, @ziyangczi !

[2020-09-22 07:25] DragaDoncila opened #1640 "Add note to show user if plugins are still loading"
## 🚀 Feature
While plugins are being loaded, add loading message to Plugin Errors box and/or Plugin Sorter.

![plugin_noerror_loading](https://user-images.githubusercontent.com/17995243/93853933-25884d00-fcf8-11ea-9601-73191c7fa95e.png)

## Motivation

If a plugin fails to be imported, it can take a while (sometimes on my machine more than a minute) for the error to show up. During this time there

[2020-09-22 15:25] sofroniewn commented on #1640
@DragaDoncila have you looked at this with #1357, I'd like us to get that merged soon, and while I don't think that addresses this particular concern it does improve the whole plugin discovery/ installation experience

[2020-09-22 17:01] sofroniewn opened #1642 "pre-commit error"
## 🐛 Bug

Running into some problems with pre-commit, looks like it might be looking for python 3.8 but i'm on 3.7, will look into more later today

[code]

[2020-09-22 17:51] sofroniewn commented on #1642
@jni this may have been added in #1617, see https://github.com/napari/napari/pull/1617/files#diff-82c3b36709926de3a1b27bea0d8258ccR1-R2, we should fix asap

[2020-09-22 22:07] jni commented on #1642
Sorry about this. I somehow needed it when developing on Linux, where it was finding python 3.6, which had an old version of pip, which couldn't install isort (because it doesn't ship with a setup.py). It *also* wouldn't let me commit without committing the changes to pre-commit config. It was absolutely infuriating. Feel free to remove it. I could try some other solution.

BUT, the whole thing wi

[2020-09-22 23:23] sofroniewn commented on #1642
i had to change to 3.7 but then all my commits have that change!!

[2020-09-22 23:42] #1631 closed, assigned to nobody

[2020-09-23 00:01] DragaDoncila commented on #1640
@sofroniewn I do actually remember seeing that. I think that's much cleaner, so maybe this particular issue should wait for that to be merged, after which the 'loading' message can simply be shown on the install screen, or maybe even instead of the Remove button, so it would go Install-Loading...-Remove. Or, if you had already installed the plugin it could just show Loading...-Remove.

I still thi

[2020-09-23 02:49] GenevieveBuckley commented on #1637
I'll also suggest that `_get_state` should also return the layer type.

This is less interesting right now, but when we have layergroups, this becomes more useful to include. (Eg: then the layergroup `_get_state` can easily be a simple combination of all the individual layers state information without a lot of extra special handling to include what type each layer in the group is)

EDIT: wait sorr

[2020-09-23 02:51] jni commented on #1642
Yeah it was the same for me — I didn't *want* to commit it, but I had no choice. It didn't occur to me to edit in the GitHub API, that was clever/sneaky of you. 😂

[2020-09-23 03:22] sofroniewn commented on #1611
We're now releasing `0.3.8` and running into the same issue, i'm going to try retriggering the runs manually, but that retry mentioned above might be good to add for the next go around!

[2020-09-23 11:00] Czaki opened #1646 "Add metadata to layers"
## 🚀 Feature

Add to layer metadata parameter which allow programmer to store some domain knowledge description of given layer.
## Motivation
In my tool I have saving project utility which allow to simple session restore. I would like to use napari for manual annotation or manual correction of some algorithm prepared annotation. But without information about file which is annotated I need to use t

[2020-09-23 15:47] sofroniewn commented on #1646
Hi @Czaki, right now you can pass an arbitrary dictionary to the `metadata` keyword arg for any of our `add_*` methods to add a layer, see here on the base layer https://github.com/napari/napari/blob/master/napari/layers/base/base.py#L27-L28 for its doc string.

Right now though that metadata dict could be arbitrary and non-standard. Is your proposal to try and standardize it, or could you start u

[2020-09-23 15:53] Czaki commented on #1646
Oh I missed this.

But If I good understand still if one create new labels with button its metadata is empty dict?

[2020-09-23 15:55] sofroniewn commented on #1646
Yes that would be correct. If you create a reader plugin then you could populate the `metadata` with your custom information, so it would be there if people did drag and drop etc.

[2020-09-23 15:58] Czaki commented on #1646
And what You think about add `origin` section in metadata for label layer (if created with button) with some list of layer based on which new layer is created?

I will add this to my plugin

[2020-09-23 16:02] sofroniewn commented on #1646
I could imagine many people wanting different metadata in layers created by buttons, so rather than pick one to give to everyone maybe we try and think about an easy way so that you could pass your own via your tool?

[2020-09-23 16:54] #1642 closed, assigned to nobody

[2020-09-23 21:51] sofroniewn commented on #1611
I'm worried that it is worse today, the bundle build seems to have failed 5 times in a row over the past 24hrs with both `rc0` and `rc1`. I'll keep retrying though

[2020-09-24 12:50] Czaki commented on #1646
My current workflow is to use my own tool for automated segmentation and napari for automated one. There is any documentation to create dockable widget plugin for napari? Or I should subclass `Viewer` class?

[2020-09-24 15:45] sofroniewn commented on #1646
The last discussion of that was in #1327. I think the conversation there has reach consensus that we would add a viewer dock widget hookspec as described in the original post under an `experimental` namespace, but we havn't started work on an implementation yet.

[2020-09-25 00:05] Czaki commented on #1327
I'm also interested in add plugin system for widget. Maybe good idea to be use `Protocols` and `TypedDict`? So:

From my experience I prefer to use `Protocols` with `classmethod` than description in additional structure. `runtime_checkable` decorator allow to check which protocol is implemented.

Additionally napari does not use all popular widgets, and unused one are styled symilary to plain `QWi

[2020-09-25 00:10] GenevieveBuckley commented on #1611
Looked into the flaky bundling more, found a few things.

**Good news:** dmgbuild (which is what briefcase uses to do the Mac app packaging) introduced a PR to retry hdiutil detach - https://github.com/al45tair/dmgbuild/pull/11
**Bad news:** we're already using dmgbuild version 1.3.3 which includes this fix. We could comment over at dmgbuild to let them know we're having this issue pretty consiste

[2020-09-25 02:00] sofroniewn commented on #1611
Ok thanks for those updates, I'll merge #1651 soon. I'm hoping to get a successful 0.3.8 build before then, but we'll see

[2020-09-25 07:42] jni opened #1653 "Error with certain polygon data"
## 🐛 Bug

I recently provided the Shapes layer with some funky data (result of an algorithm converging incorrectly), and got a rather mysterious error. It might well be VisPy's fault, but I don't have time to investigate now so I'll note it here for followup.

<details>

<summary>
Geometry error traceback
</summary>

[code]

</details>

## To Reproduce

Run the following script ([gist](https://gis

[2020-09-25 15:34] sofroniewn commented on #380
This can be closed by #1554, we now use the framework python build on mac if available, where this issue does not occur

[2020-09-25 15:34] #380 closed, assigned to nobody

[2020-09-25 15:36] sofroniewn commented on #1621
Closed by #1643

[2020-09-25 15:36] #1621 closed, assigned to nobody

[2020-09-28 17:10] sofroniewn opened #1656 "failing dask test"
## 🐛 Bug

Looks like some of our tests are now failing on master possibly due to a new dask release. I will look into and post more detail here when available.

[2020-09-28 18:14] sofroniewn commented on #1656
See the CI report here, looks like it is only python3.8 macos https://cirrus-ci.com/task/5702782638358528 right now ...

[2020-09-28 23:35] jni commented on #1141
This was closed by #1434! 🎉

[2020-09-28 23:47] hectormz commented on #1141
Woohoo! Thanks @DragaDoncila !!

[2020-09-29 00:57] GenevieveBuckley opened #1658 "Change napari's rotation convention so positive rotation angles cause an anti-clockwise rotation"
## 🚀 Feature

We would like to change napari's rotation convention so that positive rotation angles cause an anti-clockwise (sometimes known as counter-clockwise) rotation.

## Motivation
This convention is the most widely used in mathematics and also other python libraries like scikit-image. Having different conventions makes things unintuitive and very easily leads people to make mistakes.

## P

[2020-09-29 07:38] #1141 closed, assigned to nobody

[2020-09-30 00:53] jni opened #1661 "Clean up our pytest configuration so others can use it"
## 🐛 Bug

[On Zulip](https://napari.zulipchat.com/#narrow/stream/212875-general/topic/napari-omero/near/211657066), @perlman reports:

The reason ome-zarr-py adds that hook is so that they can use our test fixtures, which they wanted to do to test their plugin. But, since there's no way for them to *conditionally* add an entry point, they are stuck depending on napari for testing.

I think the cle

[2020-09-30 03:26] sofroniewn commented on #1656
Looks like the failings are timeout related. I notice that `pytest napari/layers/image/_tests/test_big_image_timing.py` is much slower with dask `2.28.0` compared to `2.27.0` and I think we're now passing our 2sec timeouts.

This could relate to https://github.com/dask/dask/pull/6665 and discussions around [efficiency](https://docs.dask.org/en/latest/array-slicing.html#array-slicing-efficiency) he

[2020-09-30 03:38] sofroniewn commented on #1656
I've tried
[code]
which I think should have reverted to the behavior before `2.28.0` is released, but it doesn't seem to have. The config might not be getting set as i expect though ...

[2020-09-30 03:45] #1579 closed, assigned to nobody

[2020-09-30 08:20] kevinyamauchi opened #1662 "Tracks performance benchmarks"
## 🚀 Feature
After #1361 is merged, I think we should add airspeed benchmarks for the Tracks layer.

## Motivation

Having performance benchmarks will help us know how many tracks we can reasonably visualize currently and identify parts of the code we can optimize in the future.

## Pitch

Some things to benchmark:

- creation of Tracks layers with varying numbers of tracks
- updating the coloring

[2020-09-30 17:59] Czaki opened #1663 "Add user friendly interface for MatrixTransform"
## 🚀 Feature
Add interface to `MatrixTransform` which allow people who are not familiar with 4x4 transform matrix to allow usage of affinity_transform feature.

## Motivation
During Napari Euro developers meeting there was suggestion that there should be user friendly interface which allow
non experienced user.
The inspiration for such interface is documentation of clij https://clij.github.io/clij

[2020-09-30 18:40] Czaki opened #1664 "Skip roll over 1 size axis"
## 🚀 Feature

Ignore empty dimension on "Roll Dimension"
## Motivation

To have consistency of coordinates between different data I normalize axis order and input single dimension axes.
napari does not show slider for such dimension, but when using "Roll dimensions order" this axes could be set as visible, which produce black screen.

## Pitch

When do roll over dimension skip this combination whi

[2020-09-30 19:13] liu-ziyang commented on #1568
fwiw, I tried using the `with napari.gui_qt()` context manager approach and works fine in the jupyter

However I did not manage to reproduce the nbclient issue, when I try to run the example with magic like this:
[code]
I still see the same error as if I didn't add the magic:
[code]

can you please maybe share your setup so I can reproduce from there?

[2020-09-30 21:22] sofroniewn commented on #1664
Nice catch, fixing this makes sense. It should be a relatively simple change to the logic here https://github.com/napari/napari/blob/master/napari/components/dims.py#L399-L401

If you'd like to make a PR @Czaki I'd happily review

[2020-09-30 22:07] Czaki commented on #1664
Created, but I stil think that there should be separated option for side view (this will not provide side view for 3d time data for example). Maybe using affinity from #1616,

[2020-09-30 22:09] sofroniewn commented on #1664
Can you explain this a bit more? I'm not sure I understand

[2020-09-30 22:25] Czaki commented on #1664
It is common to to view data not only in xy but also in zy and zx.
But if there is and image with `tzyx` axis order (all axis with more than 1 step) then using roll operation user could see: `yx`, `zy`, `tz`, `xt` planes. So no view on `zx` (and for 3d data this operation will produce view in `xz` not `zx`)

It may be done with changing order, or in future using afinity. I'm not sure which option

[2020-09-30 22:29] sofroniewn commented on #1664
Ah ok yes, I see -  we should probably fix that in a new PR, and maybe make a new issue specifically for that as it is unrelated to this issue. We do have the option to do a transpose, which could be combined with a roll to achieve what you want, but not in a simple way!!

[2020-10-01 01:00] Czaki commented on #1661
Hm. I go through pytest documentation (for prepare classes) and found nice fixture (`pytestconfig`) which may be solution for this problem, https://docs.pytest.org/en/stable/reference.html#pytest.config.PytestPluginManager.register.

So to check it I download `ome-zarr` code, remove `"pytest11": ["napari-conftest = napari.conftest"]` line from `setup.py` then install and try to run test. Everythin

[2020-10-01 01:34] jni commented on #1661
@Czaki I'm sorry, could you explain the steps in more detail? I'm 95% sure that the ome-zarr folks added that entrypoint *precisely* because they couldn't use our fixtures without it...! CC @joshmoore @will-moore

[2020-10-01 03:04] sofroniewn commented on #1656
It seems like multiscale performance with dask is actually much worse on `2.28.0` too, so this isn't just making our tests worse, it's making the actual performance worse too (panning and zooming with one of my pathology slide examples is slower). Maybe one of our dask experts @jakirkham @GenevieveBuckley has ideas on this one? We might want to pin `<2.28.0` until we figure it out. Thoughts @jni?

[2020-10-01 05:02] GenevieveBuckley commented on #1656
I support pinning until we work it out.

I don't have an idea about what's happened, though. It might be worth mentioning that in a dask issue, or maybe over on the dask gitter. Other people might have a better idea of what the most recent changes were.

I found https://github.com/dask/dask-benchmarks but it doesn't seem to be especially active? I'm not sure if those benchmarks are run regularly.

[2020-10-01 07:19] joshmoore commented on #1661
Wow, thanks @Czaki! I've opened https://github.com/ome/ome-zarr-py/pull/51 with:
[code]

This looks to work. (The first run without a new call to `pip install` fails with a double registration of the plugin)

That block of code would need to be hard-coded by anyone wanting to re-use napari's conftest. If there were a way to make that simpler, this issue might still have some value. But from my sid

[2020-10-01 07:41] jakirkham commented on #1656
If we can come up with a minimal example and share that on the Dask issue tracker, I think that will help narrow things down.

[2020-10-01 07:53] Czaki commented on #1661
@joshmoore pleas check it detailed. I already created empty virtualenv and install `ome-zarr`. Then install test dependecies (`pytest`, `scikit-imge`, `scipy`) and run test. Everything works in environment without napari.

[code]

[2020-10-01 07:59] joshmoore commented on #1661
Ah, you're saying that the current code is (without the PR 51) works as expected? Then I'd defer to @perlman man. From my side, the change isn't particularly onerous so if it helps, happy to see it go in.

[2020-10-01 08:07] Czaki commented on #1661
I run my test on revisions db60b8272e0fe005920f8a296d4828b7a32e663e (With removed "pytest11": ["napari-conftest = napari.conftest"] from `setup.py`).
Fro my test it looks like yesterday, developer version of `ome-zarr` test set does not dependent on `napari.conftest`. Maybe previous one does this.

[2020-10-01 09:25] DragaDoncila opened #1667 "Add ability to query highest resolution coordinates for multiscale images"
## 🚀 Feature
Add function or property which returns coordinates of layer from highest resolution and/or current level of multiscale pyramid.

## Motivation
Currently, adding a click callback to the layer which prints coordinates displays different coordinates when the user clicks on the same spot of the image, depending on the pyramid level currently displayed and the zoom level.

For example,

[c

[2020-10-01 11:59] kevinyamauchi commented on #1662
I can work on this after we merge #1361!

[2020-10-01 15:13] sofroniewn commented on #1667
Note that
[code]
give the desired values, but we still need to think about how to expose them. I'll likely think about this in the context of some clean-up to the cursor code

[2020-10-01 15:31] sofroniewn commented on #1656
Ok, thanks @GenevieveBuckley and @jakirkham. A starting point for a minimal example can be the following, which captures one of the [failing tests](https://github.com/napari/napari/blob/master/napari/layers/utils/_tests/test_layer_utils.py#L69-L72) with for a [function defined in napari](https://github.com/napari/napari/blob/master/napari/layers/utils/layer_utils.py#L8-L48). We can probably simpli

[2020-10-01 15:40] sofroniewn commented on #1656
Ok, this much simpler example still captures the difference

[code]
Which is `0.13` seconds for `2.27.0` and `4.3` seconds for `2.28.0`, which is quite difference. I will look into changing the config settings and then will post of the dask issue tracker

[2020-10-01 15:44] sofroniewn commented on #1656
I will add that changing the dask config as follows yields little difference for the True/ False case, but it's not clear to me I am using the config right. I'll take this to the dask issue tracker

[code]

[2020-10-01 15:46] perlman commented on #1661
https://github.com/ome/ome-zarr-py/pull/51 works for me in the context of my other pytest tests running without needing to disable napari-conftest.

[2020-10-01 16:02] sofroniewn commented on #1656
Dask issue made here https://github.com/dask/dask/issues/6694

[2020-10-01 18:38] mrocklin opened #1670 "Support development versions of Dask"
Dask uses versioneer for development versions

[code]
[code]

Unfortunately it seems that Napari does some direct checking of version numbers here, which assumes that the user is using a released version.  See the traceback below.

[code]

I recommend using either `distutils.LooseVersion` (this is what Dask uses) or perhaps instead just straight string comparison.  I understand the drawbacks of co

[2020-10-01 22:09] sofroniewn commented on #1348
This is closed by #1623

[2020-10-01 22:09] #1348 closed, assigned to nobody

[2020-10-01 22:13] sofroniewn commented on #1606
Ah @ziyangczi looks like there is already an issue for this - see discussion in #1657

[2020-10-01 22:31] liu-ziyang commented on #1606
Nice, let me push a quick PR so people can try it out

[2020-10-01 22:47] liu-ziyang commented on #1606
@wooahn can you please try out this PR and see if it helps? https://github.com/napari/napari/pull/1672

[2020-10-02 03:50] sofroniewn opened #1674 "Simpler way to erase all data in shapes layer"
## 🚀 Feature
An [image.sc post](https://forum.image.sc/t/proper-way-to-erase-all-data-in-a-layer/40702) requested a simpler way to erase all data in a shapes layer, possibly via

[code]
or
[code]

See that post for additional discussion and suggestions, which we can continue here.

[2020-10-02 17:30] sofroniewn commented on #539
This is closed by #1361!

[2020-10-02 17:30] #539 closed, assigned to royerloic, pranathivemuri

[2020-10-02 17:33] sofroniewn commented on #539
I'd encourage anyone on this thread to checkout the new `Tracks` layer that was added in #1361, and feel free to open a new issue if you have any feedback or requested improvements!! Thanks to all who gave input on this thread, especially @pranathivemuri who got it started, it was definitely very helpful and a huge thanks to @quantumjot who did an amazing job with the PR!!

[2020-10-02 17:35] sofroniewn commented on #693
Now that #1361 is merged which added `Tracks` I wonder if it might be worth looking at some of this again, and thinking about either using that layer or adding a new `Traces` layer. I know @jni is also interested in a `Skeleton` layer

[2020-10-02 18:16] sofroniewn opened #1677 "Autogenerate add_* methods (revert #303)"
## Refactor

In #303 we decided to explicitly put our `add_*` methods onto the viewer and no longer use the very nice `add_to_viewer` decorator that @kne42 had made.

As @kne42 noted at the time

I think now experiences like #1616 where i add a keyword arg to the base layer and have to add 14 copies of the doc string, make me thing we might want to revert this change.

For all our layers apart fro

[2020-10-02 22:58] NicolasCARPi commented on #1198
Shouldn't this issue be closed now that the change has been merged to master?

[2020-10-03 02:12] sofroniewn commented on #1198
Correct, thanks for the catch!! This was closed by #1236

[2020-10-03 02:12] #1198 closed, assigned to nobody

[2020-10-03 02:15] sofroniewn commented on #1656
Dask `2.29.0` has now been released and our tests passing again so I will close this. Looks like dask reverted that particular change and will be fixing it for the next release. We can always re-open this of create a new issue if it arises again. Thanks to the dask team for being on this so promptly!!

[2020-10-03 02:15] #1656 closed, assigned to nobody

[2020-10-03 03:31] jni commented on #1677
Yeah I'm into it! We could have code that autogenerates *unless that function already exists*, in which case (add_image), it would not autogenerate, but it would autogenerate any docstring arguments that were missing (everything except "channel axis").

[2020-10-03 03:46] sofroniewn commented on #1677
@jni so not going with the explicit `add_to_viewer` decorator on the layers? Can you maybe make that proposal more clear, would have a function that adds them all to the `Viewer` when/ after the viewer gets instantiated? I like this because we wouldn't need to change any of the code in our layer models, and our layer models wouldn't need to know about concepts like adding to the viewer

[2020-10-03 09:03] jni commented on #693
Definitely worth looking at! Yes, my (totally half-baked) idea would be to have a `graph` or `network` layer that both skeleton and tracks inherit from. And yes, graph itself could inherit from a 1D-shapes layer. It would be great to get to "grammar of graphics"-like composition of all our layers... Again, these are all half-baked ideas but my main point is that we should think about how to maximi

[2020-10-03 09:27] jni commented on #1677
@sofroniewn I'm not sure about the implementation, I'm just saying, we can go with `add_to_viewer`, but it would check whether Viewer already has that `add_*` method, and if it does, it wouldn't add the implementation but it would update its docstring. Does that make sense?

[2020-10-03 11:18] kevinyamauchi opened #1686 "layer._extent_data inconsistent between image and points/shapes/tracks"
## 🐛 Bug
The values for `_extent_data` are calculated differently for the image layer and points/shapes/tracks. In the image layer, the maximum value for the extent is the `maximum index + 1` (i.e., the result of `data.shape`) and in the points/shapes/tracks layer it is the maximum index (i.e., the results of `np.max(data)`. It appears that our Dims model assumes the maximum value of the extent is

[2020-10-03 11:22] kevinyamauchi commented on #922
@sofroniewn , I've been playing around with the shapes/points/tracks and I think there is some inconsistency with the `layer._extent_data` property. I've made a new issue since it pertains to multiple layers: #1686

Feel free to close this one if you think we should just move the conversation entirely over there.

[2020-10-03 21:29] sofroniewn commented on #922
Ok, yeah, thanks for flagging. I will close this now and we can move the convo over there!!

[2020-10-03 21:29] #922 closed, assigned to nobody

[2020-10-03 21:32] sofroniewn commented on #1686
Thanks for this write up @kevinyamauchi, I will probably need to ponder this one more, and am curious what @jni thinks, but am I write in thinking that this can be fixed by dropping all the `+1` but making sure that any rounding happening on the sliders always makes sure to include the last slice for dims?

[2020-10-03 21:56] sofroniewn opened #1687 "Show axes in 3D rendering mode."
## 🚀 Feature
In a couple of places it's come up that we want to show reference axes in 3D rendering mode. vispy has a little visual for this that we can use [XYZvisual](https://github.com/vispy/vispy/blob/master/vispy/visuals/xyz_axis.py#L7-L33) or we could make our own. You should be able to turn it on/ off from the viewer.

See https://forum.image.sc/t/show-axes-reference-in-the-3d-canvas/43578

[2020-10-03 21:58] sofroniewn opened #1688 "Show scale bar"
## 🚀 Feature
Now that we're making good progress on our world coordinate system it is finally possible for us to add a scale bar in world coordinates. Rather like the proposed axes visual #1687, I'm imagining an additional visual and a way to toggle the scale bar on and off from the viewer.

[2020-10-03 22:17] jni commented on #1686
I'm not sure about the fix, but the reason that it's different for images vs points et al is that images use 0-based half-open indexing, so we wanted to be able to read the dims extent from the layer extent. There are no such concerns with vector quantities, but then the dims slicing needs to know that the extent of a points layer and the extent of an image layer might mean different things. And o

[2020-10-03 22:18] sofroniewn commented on #1686
Ah yes, good point, especially now with #1660 merged that makes sense to me

[2020-10-04 00:24] jni commented on #1662
I'll add links here for various performance suggestions I made on #1361, I think it makes sense to try them together with the benchmarks:

- [ ] Use a track id -> indices map using `scipy.sparse.csr_matrix` to be able to quickly retrieve data given a track id: https://github.com/napari/napari/pull/1361#discussion_r497459001
- [ ] pre-sort full dataset by ID and time using np.lexsort: https://githu

[2020-10-04 02:39] jni opened #1689 "Grid mode auto-zoom should be improved"
## 🚀 Feature

When using grid view with just two layers, the zoom is set as if I was looking at a 4x4 grid. imho it should be a bit smarter and zoom in further. Here's a small example to reproduce:

[code]

This looks like this:

<img width="1200" alt="Screen Shot 2020-10-04 at 1 21 59 pm" src="https://user-images.githubusercontent.com/492549/95005626-ef779100-0646-11eb-9904-1e9fdd6009c9.png">

Wh

[2020-10-04 03:34] sofroniewn commented on #1689
I can fix this when I get back to the camera PR #854, thanks for the flag!! All this stuff is becoming much much easier to reason about with the merge of #1660 and things like #1673 getting close!!

[2020-10-04 03:35] sofroniewn commented on #1689
Actually I might wait till after #854 to fix it in its own PR where I clean up grid mode, that's actually been long overdue. Regardless this should get fixed soon, and the screenshots are very helpful!!

[2020-10-04 04:23] sofroniewn opened #1690 "Move grid information off individual layers"
## Refactor

As part of improvements to our handling of transforms I propose we move `grid` mode off of the individual layers and have all of that done at the level of the viewer

[2020-10-04 16:28] #1667 closed, assigned to nobody

[2020-10-04 16:31] sofroniewn commented on #1606
This has been fixed by #1673, which includes changes from #1672 and more

[2020-10-04 16:31] #1606 closed, assigned to nobody

[2020-10-04 16:33] sofroniewn commented on #1667
Following #1673 the `layer.coordinates` is now in the highest resolution for multiscale data

[2020-10-04 19:36] #1557 closed, assigned to nobody

[2020-10-05 02:48] #1670 closed, assigned to nobody

[2020-10-05 02:56] sofroniewn commented on #1614
We're now well on our way to achieving this with the merging on #1673. `layer.position` now represents the cursor position in the global world coordinates space. We'll still want to add this to the `viewer`, but at this point it should be very easy and something that we can get in for `0.4.0`. I'll keep this updated as we get closer

[2020-10-05 02:59] sofroniewn commented on #1576
This `rgb` check was removed in #1659 and so this can be closed. If we need to revisit this topic we can reopen this issue or create a new one

[2020-10-05 02:59] #1576 closed, assigned to nobody

[2020-10-05 03:00] sofroniewn commented on #899
See discussion in #1575 about extending our colormaps to support matplotlib colormaps

[2020-10-05 03:05] sofroniewn commented on #1513
Might be good to look at this again as we've made more progress with our coordinate system

[2020-10-05 03:08] sofroniewn commented on #1204
We'll want to revisit this after #1616 merges

[2020-10-05 03:14] sofroniewn commented on #614
ping @jni - want to confirm this is fixed and then I can close?

[2020-10-05 03:15] jni commented on #614
Yep! Sorry for the delay, works great! 😊

[2020-10-05 03:15] #614 closed, assigned to nobody

[2020-10-05 03:16] sofroniewn commented on #376
With #1289 we decided to use briefcase for our bundling and so this issue can be closed

[2020-10-05 03:16] #376 closed, assigned to nobody

[2020-10-05 03:18] sofroniewn commented on #1687
I just realized this is a duplicate of #952, see that issue for more detail

[2020-10-05 03:25] sofroniewn commented on #566
Unfortunately this issue still occurs for me. It's worst when mirroring displays, see this gif of panning/ zooming the astronaut and notice the weird jumps and cropping

![mirror_displays](https://user-images.githubusercontent.com/6531703/95037368-a132b400-067f-11eb-8614-6ae09d8ffb16.gif)

We'll likely want to keep looking into one more.

[2020-10-05 03:27] sofroniewn commented on #817
Given progress on our 3D rendering described above and the lack of activity on this issue I am going to close. If people encounter new 3D rendering issues feel free to reopen or create a new issue

[2020-10-05 03:27] #817 closed, assigned to nobody

[2020-10-05 03:31] sofroniewn commented on #631
I'm going to close this issue as we've changed some of our dependencies and pins so this no longer applies, but thanks all for the comments and the great info on pip's new resolver!!

[2020-10-05 03:31] #631 closed, assigned to nobody

[2020-10-05 03:32] sofroniewn commented on #894
I'm closing this as we now have a conda package and the issue looks like it was pretty independent of napari, thanks for the comment though!

[2020-10-05 03:32] #894 closed, assigned to nobody

[2020-10-05 03:34] sofroniewn commented on #1100
I'm going to close this now. We do emit a warning when the requested data exceeds the texture size and downsample automatically. If this continues to cause issues feel free to reopen or create a new issue!!

[2020-10-05 03:36] sofroniewn commented on #1176
This was closed by #1528

[2020-10-05 03:36] #1176 closed, assigned to nobody

[2020-10-05 03:41] sofroniewn commented on #1105
We now use screenshots in a number of our tests with the `show=True` setting. Given this is working I'm going to close now, but anyone should feel free to reopen if further discussion is warranted. Thanks!!

[2020-10-05 03:41] #1105 closed, assigned to nobody

[2020-10-05 03:46] sofroniewn commented on #710
We've come a long way with our multiscale handling since this issue was raised (including replacing `is_pyramid` with `multiscale` in the API). If you're still interested in this functionality I wonder @s-m-e if you could check this again? Otherwise maybe I or someone else on the team can try and look into this again cc @jni @DragaDoncila. Thanks!!

[2020-10-05 03:50] sofroniewn commented on #1507
Hi all, sounds like this bug ended up being fairly hardware specific/ possibly openGL / memory related. I'll leave this open for a couple more days in case anyone can shed any further light on this and then I will close it. Sorry we couldn't get to the bottom of it @kapoorlab! Thanks for reporting it

[2020-10-05 03:54] sofroniewn commented on #903
Hi all, note that we have now merge #1496 which adds a dockerfile. I'm sure there's probably much more to discuss, but unless there are more things people want to bring up here I'll close this issue in a bit. We can always make new ones or reopen as people docker needs evolve

[2020-10-05 03:55] sofroniewn commented on #1457
Hi @talkhanz we've now added a dockerfile to napari in #1496 (see more discussion in #903). Are you still running into problems?

[2020-10-05 03:57] sofroniewn commented on #1423
This may be related to #566, though behavior described is slightly different.

[2020-10-05 05:07] jni opened #1693 "Add build using `pip install --pre` to our CI matrix"
## 🚀 Feature

This will help us detect when upcoming releases of libraries we depend on will break our CI — or our library!

[2020-10-05 10:12] quantumjot commented on #1662
Empirically, I've noticed that the `build_tracks` function can be slow with a large number of tracks. If we enforce/ensure the lexicographic ordering of the data and properties (by ID, time), that would make that function much simpler, and would remove the loop.

In general, how do you feel about sorting the data in place? I guess it means that data =/= layer.data.

[2020-10-05 15:05] sofroniewn commented on #1388
This has been closed by #1673

[2020-10-05 15:05] #1388 closed, assigned to nobody

[2020-10-05 19:28] sofroniewn opened #1695 "Async To Dos"
## 🚀 Feature
Making this issue to keep track of some async to do's as we merge PRs. This is fairly raw right now @pwinston but I'll update it as we go!

1. Improve flickering to black during async loading.
2. Add ability to force refresh data / not pull from cache, particularly in cases where data.
3. More comprehensive async tests, see https://github.com/napari/napari/pull/1685#issuecomment-70380

[2020-10-05 19:57] kevinyamauchi commented on #1686
Thanks for the quick responses, @sofroniewn and @jni!

Got it - the rationale makes sense to me.

At the moment, I'm not sure if I have a strong preference if the extents should all be half-open intervals or all be closed intervals, but I agree that they should all be the same (i.e., don't do special casing on the dims).

It looks like to make the change we would have to:

- Update the layers so t

[2020-10-05 20:19] sofroniewn commented on #1686
I think that is right, it looks like we just need to add a `-1` to the image shape here https://github.com/napari/napari/blob/master/napari/layers/image/image.py#L332, right? (labels inherits)

I think that will be what we need.

Consider:

[code]

<img width="1200" alt="Screen Shot 2020-10-05 at 1 06 32 PM" src="https://user-images.githubusercontent.com/6531703/95127013-2e234f00-070c-11eb-9972-07

[2020-10-05 22:30] sofroniewn commented on #1686
@kevinyamauchi I have created a PR to fix this in #1696

[2020-10-05 22:33] sofroniewn opened #1697 "drop `layer.shape` and make `_extent_*` not private"
## 🚀 Refactor
I'd like to drop the `layer.shape` property and make the `_extent_data` and `_extent_world` properties public, but possibly with different names (I can never remember if it is `_extent_data` or `_data_extent`!).

Very open to suggestion for names here @kevinyamauchi @jni

[2020-10-06 00:36] sofroniewn commented on #1697
Would be nice to use named tuples so things like `layer.extent.world.max` were possible based on the private `layer._extent_world` - idea from @jni

[2020-10-06 08:47] jni opened #1700 "Add ability to set layer scale from the UI"
## 🚀 Feature

Most IO plugins cannot/do not set the scale of the underlying data. This means that although we have wonderful drag and drop functionality, in many cases the datasets appear squished when viewed in 3D. Dropping into the built-in console to fix this is pretty clunky.

I have no preconceived ideas of the best way to do this.

[2020-10-06 08:55] jni opened #1701 "Allow scale and translation parameters to have units"
## 🚀 Feature

Some popular unit frameworks include [pint](https://pint.readthedocs.io/en/stable/), [astropy.units](https://docs.astropy.org/en/stable/units/), and [unyt](https://unyt.readthedocs.io/en/stable/). For scientists I think it would be great to write something like `scale=np.array([1, 0.2, 0.2]) * u['µm']` (pint syntax) and have the rest of the napari UI take the units into account, e.g.

[2020-10-06 11:28] jni opened #1702 "Old documentation links are 404"
## 🐛 Bug

Our transition to versioned docs has meant that many (all?) old links to the docs are 404. (e.g. https://napari.org/docs/developers/GOVERNANCE.html). Currently Google is still finding them. They should instead redirect to or contain a copy of dev, imho. (or latest stable release.)

[2020-10-06 16:15] d-v-b commented on #1700
Neuroglancer has the concept of a coordinate space, which is essentially a set of basis vectors (in physical units) describing the spatial embedding of a data source (input) AND its embedding in the viewer space (output). If you want to override the default input or output coordinate spaces, there's a gui for it:
![image](https://user-images.githubusercontent.com/3805136/95228422-4c9d4f00-07cd-11e

[2020-10-06 17:20] sofroniewn commented on #1702
Good catch! I'd probably link to `dev` as that will be stable moving forward

[2020-10-07 03:26] #1686 closed, assigned to nobody

[2020-10-07 16:08] quantumjot opened #1706 "Error when using pandas dataframe for properties on Tracks layer"
## 🐛 Bug

Error when using pandas dataframe for properties on Tracks layer.

## To Reproduce

The `Tracks` layer throws an error when passing a dataframe for the properties kwarg:

[code]

## Expected behavior

Tracks layer should accept the dataframe.

## Environment

[code]
## Additional context

[2020-10-07 20:13] kevinyamauchi commented on #1706
Thanks flagging this, @quantumjot ! I can take a look over the next couple of days.

edit: if you want to make a PR that's great too!

[2020-10-07 20:16] kevinyamauchi commented on #1706
Notes from @quantumjot in [this comment](https://github.com/napari/napari/pull/1705#issuecomment-704930599):

https://github.com/napari/napari/blob/647d9182a6dc3542521cbc99b8b59beb4f2ba901/napari/layers/tracks/tracks.py#L144

[2020-10-07 21:39] kevinyamauchi commented on #1701
May be of interest:[ `pint` integration with `xarray`](https://github.com/xarray-contrib/pint-xarray)

[2020-10-08 00:11] GenevieveBuckley commented on #1690
This sounds like a good idea.

What impact do you think this change will have on the current situation? Eg: right now when I select points the coordinates are very different depending on whether grid mode is on or off, so I can't toggle between these views.

One situation I currently find frustrating is that we don't have an easy way to do matched control point selections. We avoided doing this in

[2020-10-08 00:36] sofroniewn commented on #1690
We could try and get this fixed!! It might be a little tricky without having two canvases, but we can try. Thanks for the links. I do want us to push on the multicanvas too once all of this is done.

From an implementation standpoint, we'd probably need to pass the grid transform to the [base vispy visual](https://github.com/napari/napari/blob/master/napari/_vispy/vispy_base_layer.py) somehow and

[2020-10-08 01:08] GenevieveBuckley commented on #1690
Muticanvas support sounds like it would help do what we want - probably it's better to wait and implement that properly, rather than messing around with stuff here before that happens?

[2020-10-08 01:18] GenevieveBuckley commented on #1690
I think you're making sense, but there are some problems. Because points are layers themselves, we can't work with them in grid mode if they are supposed to indicate points on an Image layer.

I've told Juan recently that I'm not a fan of doing tricky things with strides in grid mode to force the outcome I want. It's much too fragile, if a layer is added, removed, or even rearranged then it will b

[2020-10-08 01:20] #1677 closed, assigned to nobody

[2020-10-08 01:25] sofroniewn commented on #1690
yeah, those are both fair points. we might be best waiting a little longer, but it's definitely good to keep thinking about this

[2020-10-08 05:22] #1693 closed, assigned to nobody

[2020-10-08 05:59] GenevieveBuckley opened #1709 "magic_name should work for all layer types"
## 🐛 Bug

The `magic_name` function should work for all layer types, imo.

https://github.com/napari/napari/blob/5e8be0987b3ab691da5755380ce1dd798978b1c6/napari/utils/naming.py#L49

## To Reproduce

Steps to reproduce the behavior:

[code]
![napari-magicname-screenshot1](https://user-images.githubusercontent.com/30920819/95419212-dd6a5b00-0984-11eb-8dde-a804670b8e82.png)

[code]
![napari-magicname

[2020-10-08 06:20] GenevieveBuckley opened #1710 "More than two layers in the layerlist should be visible without scrolling on small screens"
## 🚀 Feature

## Motivation

On my smaller laptop screen, I can just see two of the layer names. This is very cramped, especially if you're working with a reasonable set of layers. I would prefer to be able to see maybe three or four layers before having to scroll up or down.

It's a bit frustrating that I can't resize the amount of relative space taken up by the layerlist vs the layer controls in

[2020-10-08 06:28] GenevieveBuckley commented on #1689
Speaking of auto-zoom, should we have this happen every time a new layer is added? And does auto-zoom take into account all of the layers, or all of the visible layers, or just the last selected layer?

If I add an image with a larger field of view after one with a smaller field of view, then parts of the bigger image appear cut off in the image viewer. It's not always super-obvious the user just

[2020-10-08 06:40] jni commented on #1709
Ah, damn, this might be a reversion caused by #1694! 🤦 It was definitely working for all layers last week LOL.

#1522 might contain inspiration for how to fix this.

[2020-10-08 07:06] GenevieveBuckley commented on #1709
Interesting that the magic name tests didn't catch it
https://github.com/napari/napari/blob/5e8be0987b3ab691da5755380ce1dd798978b1c6/napari/utils/_tests/test_naming.py

[2020-10-08 09:09] quantumjot commented on #1706
@kevinyamauchi - Done!

[2020-10-08 18:00] liu-ziyang commented on #899
As of today, I am able to run the example given and BuPu is correctly recognized and added as available colormap when configured so, maybe we can close this issue?

[2020-10-08 23:33] liu-ziyang commented on #1575
@sofroniewn for #899 I think somehow it is done. I tried BuPu and it was working for me, despite it was not on the available list, so for the scope of this story we are refactoring the ensure colormap method?

[2020-10-09 08:17] GenevieveBuckley commented on #1384
Rather than try and work out why the naming was a problem, I've just renamed it & that seems to have helped: https://pypi.org/project/napari-tifffile-reader/

[2020-10-09 08:20] Czaki commented on #1710
Layer list could be moved with drag'n'drop. Moving to right is not a solution?

[2020-10-09 09:23] Czaki opened #1713 "#1694 breaks statistical code analysis tool"
## 🐛 Bug

The changes introduced in #1694 really nice reduce code repetition, but break tools which base on statistical code analysis.

![obraz](https://user-images.githubusercontent.com/3826210/95561078-7bf4cb80-0a1a-11eb-8c40-a731d9843709.png)

Also other tools (like vscode with python plugin) does not show documentation for function.

## To Reproduce

Steps to reproduce the behavior:

Open some

[2020-10-09 09:52] GenevieveBuckley commented on #1710
Well it's only a problem on a small screen, so moving it to the right just cuts into the available screen space even more. But sure, you can do that.

[2020-10-09 15:19] #1706 closed, assigned to nobody

[2020-10-09 15:22] sofroniewn commented on #1709
I wonder if @mkitti has ideas for this given his work on #1635

[2020-10-09 18:23] mkitti commented on #1709
I think the first thing is to add integration tests for all the layers where this is supposed to work. We only have unit tests to check if `magic_name` is working itself.

[2020-10-09 18:52] mkitti commented on #1709
The only place where `magic_name` is invoked outside of a test is in `Layer.__init__`:
https://github.com/napari/napari/blob/7d288e5c37a2c46c3ca3f4c31d8a3f51a4603797/napari/layers/base/base.py#L140-L141

[2020-10-09 19:18] mkitti commented on #1709
I have a fix in #1714. We still need to add tests for `Layer` based on @GenevieveBuckley 's example code.

[2020-10-09 19:26] mkitti commented on #1709
I also integrated the fix in #1635

[2020-10-10 03:18] #1709 closed, assigned to nobody

[2020-10-10 03:24] sofroniewn commented on #1709
Now that #1714 has merged do we no longer need to merge #1635? I'm rerunning the tests in #1655 to see. It looks like #1714 is a much smaller change than #1635!

[2020-10-10 03:25] jni opened #1717 "Broadcast error when viewing ome-zarr data"
7d288e5c37a2c46c3ca3f4c31d8a3f51a4603797 / #1673 broke viewing ome-zarr multiscale data. I'm not sure yet what exactly is broken. Reproducible example (requires `pip install ome-zarr`):

[code]

Results in:

[code]

[2020-10-10 03:29] sofroniewn commented on #1717
Ok good to know, thanks!! I can look into tomorrow

[2020-10-10 03:31] jni commented on #1395
@sofroniewn @ziyangczi we're currently in this middle ground where errors on `napari path/to/image` are caught by the UI, but it is a completely unhelpful dialog, because I can't view a full traceback (let alone copy it to the clipboard!). What do people think about reserving the error catching for the bundled app or as an opt-in until this proposal (which is great, to be clear) is more fully impl

[2020-10-11 03:59] #1630 closed, assigned to nobody

[2020-10-11 22:56] sofroniewn commented on #1701
Picking up in the discussion of units happening in https://github.com/napari/napari/pull/1720#issuecomment-706778646 and https://github.com/napari/napari/pull/1720#issuecomment-706779755

Do you @GenevieveBuckley and @Czaki have a preferred library or way of dealing with units in Python or experience with the packages that @jni suggests?

If we get a PR adding unit support in first we can then ext

[2020-10-11 23:02] Czaki commented on #1701
I use custom implementation of units. But presented libraries looks great and I think that I should switch to one of them.

[2020-10-11 23:04] GenevieveBuckley commented on #1701
I don't have a lot of direct experience with this, but if pint can integrate with xarray I think that's a point in it's favour.

I would like to see stronger xarray support here too, we might find that we get some of what we need here for free, or in a much easier way.

[2020-10-11 23:26] sofroniewn commented on #1701
Agreed! Maybe @Czaki you can investigate switching over your work to pint and report back on if that looks like a good idea for us to adopt here.

@GenevieveBuckley let us know if you look in pint more too.

It seems relatively widely used at this point > 2000 projects, which is nice!!

[2020-10-12 13:42] jni commented on #1701
I've used pint before in small projects and it's great, others were included for completeness. Unyt is the new hotness and claims to compute things up to 2x as fast as pint (if I remember correctly), but I think for the uses we are likely to have in napari this is not a huge concern. It's also a much heavier dependency as it pulls down SymPy. So I'm pro-pint.

[2020-10-12 17:26] liu-ziyang commented on #1395
@jni supposedly the exiting changes would push the error messages to the console same as default python behavior, I am surprised to see otherwise, are you able to find a reproducible pattern?

[2020-10-12 23:24] jni commented on #1395
Well, thanks to #1717, you can do `pip install -U ome-zarr` then `napari https://s3.embassy.ebi.ac.uk/idr/zarr/v0.1/6001240.zarr` right now on master and see the errors get caught by the UI, at least on Mac. I think it's the same on Linux actually, so it's probably/sadly not a weird interaction with our `pythonw` hack.

[2020-10-13 05:13] jni commented on #1717
@sofroniewn here's a reproducible example with just numpy:

[code]

[2020-10-13 18:48] liu-ziyang commented on #566
some progress: if you see the weirdness after you switch monitors, etc, you can get it to work normally again on your monitor by adjusting the napari window size. I am looking into what is refreshed in that now

[2020-10-13 20:26] liu-ziyang commented on #566
a little more progress: I traced down and found the physical_size and pixel_scale on canvas are being drastically changed when moving across monitors, but I have yet to find a way to fire off signals to have the canvas update those on screen change

[2020-10-13 23:44] VolkerH opened #1722 "Tracks color_by not handled correctly"
## 🐛 Bug

Two issues with `color_by`:

1. When creating a tracks layer with multiple properties and specifying a specific property name using `color_by`, the property is not selected for coloring (it always seems to default to the same property). Color_by always seems to default to the first dictionary key. ![image](https://user-images.githubusercontent.com/2210044/95926667-8f33dc80-0e08-11eb-85a0

[2020-10-14 01:35] jni commented on #1722
@VolkerH fyi the examples directory contains an example with synthetic data:

https://github.com/napari/napari/blob/d3511ee050eacdb00db9cbc119f346c0d13b24af/examples/tracks_3d.py

[2020-10-14 02:54] sofroniewn commented on #1722
Thanks for the report! @kevinyamauchi might have ideas too

[2020-10-14 04:28] sofroniewn commented on #566
ooo this sounds very promising!

[2020-10-14 04:37] sofroniewn commented on #899
Yes, turns out this was fixed by #1180 and a [test was added here](https://github.com/napari/napari/blob/v0.3.8/napari/components/_tests/test_viewer_model.py#L40-L41) using a valid colormap string but not one present in our dropdown (in this case `cubehelix`), but we forgot to close this issue. I will close now!

Thanks for the investigation and update @ziyangczi

[2020-10-14 04:37] #899 closed, assigned to nobody

[2020-10-14 04:40] sofroniewn commented on #1713
Thanks for these proposed solutions @Czaki. I'm wondering if @jni or @kne42 have any recommendations or thoughts on which might be best to try first?

[2020-10-14 04:45] sofroniewn commented on #1664
This has been closed by #1665.

[2020-10-14 04:45] #1664 closed, assigned to nobody

[2020-10-14 04:46] VolkerH commented on #1722
Thanks @jni

I modified `tracks_3d.py` to create a reproducible example:
https://github.com/VolkerH/napari/blob/tracks_color_by.py/examples/tracks_3d.py

[code]

produces:

[code]

[2020-10-14 04:50] sofroniewn commented on #1115
I'm wondering @mirestrepo is this has remained a problem for you and maybe if you can try updating to the latest napari `0.3.8` and seeing if you can still reproduce this problem. We've clean up quite a bit since `0.2.12` and so this might no longer be an issue. It looks like at the time the rest of the team struggled to reproduce too. Thanks!!

[2020-10-14 04:54] sofroniewn commented on #457
@VolkerH @jni i'm going through some old bug issues and just came across this one. I'm wondering if this is still an issue for you? Judging from the above gif it was first observed on quite an old version of napari!

If so I'm curious how high priority you both see it?

[2020-10-14 05:19] VolkerH commented on #1722
I added a test in a branch https://github.com/VolkerH/napari/blob/tracks_tests/napari/layers/tracks/_tests/test_tracks.py

[code]

The test passes. So it appears not to be an issue when `Track` is used, but an issue when `v.add_tracks(...)` is used.
But I don't know enough about how `add_tracks()` is dynamically generated:
![image](https://user-images.githubusercontent.com/2210044/95946775-f5d0ee8

[2020-10-14 05:28] VolkerH commented on #1722
Ok, so I suspect this error must be happening somewhere in
https://github.com/napari/napari/blob/be9196a02c08e3d6e38704ecc00beb170323f563/napari/components/add_layers_mixin.py

maybe around here ???:
https://github.com/napari/napari/blob/be9196a02c08e3d6e38704ecc00beb170323f563/napari/components/add_layers_mixin.py#L448

[2020-10-14 06:04] quantumjot commented on #1722
My guess is that this originates from the `color_by` Qt events when the layer controls are built.

[2020-10-14 06:38] kevinyamauchi commented on #1722
I think this is a good guess. I will take a look this afternoon before the dev meeting.

[2020-10-14 09:51] jni opened #1724 "Isolevel rendering has weird spots/artifacts at the edge of a volume"
## 🐛 Bug

When using isorendering for volumes that have objects touching the volume edge, weird little green spots appear at those interfaces:

<img width="1200" alt="Screen Shot 2020-10-14 at 8 49 24 pm" src="https://user-images.githubusercontent.com/492549/95973102-f7151200-0e5e-11eb-9745-d6af8dafd1c4.png">

## To Reproduce

1. Run `python examples/add_volume.py`
2. Switch rendering mode to `iso

[2020-10-14 10:07] VolkerH commented on #1724
Can't reproduce on my linux box.

![image](https://user-images.githubusercontent.com/2210044/95974402-a7cfe100-0e60-11eb-896d-327c5a2d897f.png)

Potentially an OpenGL driver issue?

I previously saw similar artefacts in other contexts when the GPU on my laptop was overheating and also when a 2080 Ti card in a workstation was starting to die.

However, the fact that this pixels seem to show up in l