[2021-10-14 12:24] tlambert03 commented on #1742
Yeah, let's drop the window for bundled apps on windows

[2021-10-14 12:59] tlambert03 commented on #3478
sure, sounds good to me

[2021-10-14 13:54] alisterburt commented on #3477
But it's fine on main? To be clear, mine is glitchy both in main and in my unvendoring PR (no link, on mobile)

[2021-10-14 13:56] brisvag commented on #3477
Sorry, it's just that I had only tested your branch :P It's the same on main for me too!

[2021-10-14 16:53] andy-sweet commented on #3468
I think it would be great to have these descriptions on napari.org (and the team or community page seems like a good place).

I like the rust compiler working groups as an example to follow because:

- each group has a focused task they're trying to finish or a goal they're trying to achieve (most of which have an endpoint)
- each working group summary is fairly concise and fairly consistent (goal

[2021-10-14 16:59] LCObus commented on #3468
I like both what rust's internal docs outline, and the descriptions they have on their website (per @andy-sweet 's suggestion): https://www.rust-lang.org/governance

[2021-10-14 23:39] isabela-pf commented on #3468
I can start a PR listing the ideas we've discussed here on the [Team page](https://napari.org/community/team.html) since that seems to have gotten some +1s. I'll link it to this issue regardless, but if anyone wants to collaborate on this pre-draft PR let me know!

[2021-10-14 23:53] neuromusic opened #3530 "Fix headings on "Hooking up your own events""
*from October 2021 pre-launch bug bash*

**Created by**: @liaprins-czi

## Description

On Developer Guides > "Hooking up your own events", the last header on the page ("Long-running, blocking functions") is H1 but should be H2.

## Info

**Bug source**: *unknown*

**Browser**: *unknown*

**PR**: *none*

## Attachments

https://dl.airtable.com/.attachments/5270674c647dfe78cfec44ff801a728d/4dfa0e3a

[2021-10-15 00:42] GenevieveBuckley commented on #3530
I don't think this is true, though?

I think it just looks like it, because the very first heading on that page is H2 instead of H1...
Currently we have:
- H2: Hooking up your own events
- H3: Listening for keypress events
- H3: Listening for mouse events
- H3: Connection functions to native napari events
- H2: Long-running, blocking functions

I think the more sensible fix would be to upgrade the

[2021-10-15 02:38] GenevieveBuckley commented on #2481
Ooh, very interesting - do you have links to those?

[2021-10-15 03:12] tlambert03 commented on #2481
https://github.com/napari/napari/pull/3254

[2021-10-15 05:40] isabela-pf commented on #3002
Based on last week's community feedback, here's [the promised (tiny) prototype](https://www.figma.com/proto/nl19TPV1yOuoCBVfgLGpAS/Progress-bars?page-id=10%3A2639&node-id=254%3A2004&viewport=288%2C48%2C0.06&scaling=scale-down&starting-point-node-id=254%3A2004). If you click the button to collapse the pop up progress bars on the first page, the rest will progress on its own.

This is the combined U

[2021-10-15 16:14] LCObus commented on #3468
I've never done a PR before, so I'm down to help @isabela-pf !

[2021-10-17 10:45] psobolewskiPhD commented on #3411
Woof, the root of tutorials also has a wall-of-errors:
https://napari.org/tutorials/
<img width="1067" alt="image" src="https://user-images.githubusercontent.com/76622105/137623834-f8820feb-e881-4ed6-96dc-12a4c15b9a36.png">

[2021-10-17 19:57] Czaki opened #3487 "Linux bundle crash on new linux versions"
## 🐛 Bug

When trying to start bundle:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Start napari Appimage on a new linux release (in my case it is ubuntu 21.04)

## Expected behavior

start napari from the bundle

## Environment
[code]

## Additional context

When I check Pyinstaller build output then libffi.so.6 is included in bundle output.

[2021-10-17 23:32] #3428 closed, assigned to grlee77

[2021-10-17 23:55] tlambert03 commented on #3338
want to bump this... just tried again with the newest ipykernel and i'm still seeing this.  It's actually kinda problematic because it's often quite hard to interactively check garbage collection in IPython (it always seems to maintain references to objects that get cleaned up successfully in the regular python REPL).  so this bug makes it a lot harder to debug leaked object references.  @Carreau,

[2021-10-18 14:50] Anushri1903 commented on #729
Getting an attribute error when I try to run
code

import napari
from skimage import data
viewer = napari.view_image(data.moon())

AttributeError: type object 'SubControl' has no attribute 'SC_None'

[2021-10-18 14:58] tlambert03 commented on #729
hi @Anushri1903, can you create a new issue for that?  and provide us with the output of `napari --info` and `pip list`

[2021-10-18 17:18] liaprins-czi commented on #3468
Per Andy's bulleted description of working groups (which I like!):

trying to achieve (most of which have an endpoint)

What would be the goal / endpoint for this proposed group
(specifically @Gonzalo
Peña-Castellanos ***@***.***> since you
are proposing it)?

@Gonzalo Peña-Castellanos ***@***.***> you
initially mention

   - Dealing with where interaction goes (CLI) and how the UI/UX could/will

[2021-10-18 17:26] liaprins-czi commented on #3002
I love how this is shaping up! Great to be getting to consolidated feedback and decisions! 🎉

[2021-10-18 19:20] sofroniewn commented on #3487
@jaimergp any idea what might be going on here?

[2021-10-18 20:54] jaimergp commented on #3487
Apparently Ubuntu updated their `libffi` so now instead of providing `*.so.6`, they have `*.so.7`. That library should be bundled in the AppImage though so no clue why it wasn't found. I'll look into it!

[2021-10-18 21:44] Czaki commented on #3487
on ubuntu 21.04 libffi is in *.so.8

If you have some solution I could test it.

[2021-10-18 22:10] DragaDoncila commented on #3002
@isabela-pf just want to clarify as well that currently the dialog is pinned to the bottom-right corner of the canvas *not* the window, so when the console is open the activity dialog doesn't cover it. I don't know if we want to keep it that way - my intuition is yes

[2021-10-18 22:18] isabela-pf commented on #3002
@DragaDoncila yes! That was my mistake in mocking it up; thanks for catching that.

[2021-10-18 22:19] melissawm opened #3490 "Layers how-tos, introduction and explanation"
## 📚 Documentation

Hi all!

I've recently started with a proposal to refactor the [Layers tutorials](https://napari.org/tutorials/fundamentals/image.html). This includes:

- Grouping all the layer how-tos into a "Using layers" section;
- Removing duplication of content by creating a "Layers at a glance" document, explaining basic features common to all layers;
- Cleaning up links and wording to r

[2021-10-18 23:00] jni commented on #3469
I just want to chime in to say that this conversation makes me rather nervous! 😅 Magical behaviour almost always comes back to bite us in the butt. So I'd be very cautious here and would prefer to find a solution that involved a user-specified switch, e.g. going from `rgb=True` to using `channel_axis=` to specify "RGB" or "RGB-like" behaviour (since we are thinking of dropping the layer splitting

[2021-10-19 00:51] tlambert03 commented on #3469
I definitely get that... that's why the title of this topic has a question mark in it.  But I find it hard to imagine a scenario in which a user providing a MxNx1 image really wanted to see an Nx1 image with a slider of M spaces :joy:  ... that doesn't really feel like magic to me, and if a user-specified switch is involved, i think it should be the user who _does_ want the 1 column image who need

[2021-10-20 16:38] liaprins-czi commented on #3420
Would we want to have the additional contributors listed separately from the authors? Or have them all together and relabel the section from Authors to Contributors?

Here are a couple of ways this could look:
https://www.figma.com/file/pDKU0CdSzpSWGaoXXQVJLz/?node-id=1337%3A92

[2021-10-20 18:32] #3415 closed, assigned to goanpeca

[2021-10-20 22:26] EmanuelCastanho commented on #973
I'm trying to use GeoTiffs and Shapefiles in napari and I consider this feature very important to create a 3D visualization that facilitates the analysis of certain parameters over time. Can you provide more information on how to implement vismap in napari and how to add a projection (example EPSG 4326)?

This is what I've achieved so far:
- Added a shapefile (it is upside down), represented by se

[2021-10-20 22:37] Czaki opened #3500 "In Napari Windows bundle console does not show"
## 🐛 Bug
from https://napari.zulipchat.com/#narrow/stream/215289-release/topic/0.2E4.2E12.20bugfix.20release/near/258449904
[code]

## To Reproduce

Steps to reproduce the behavior:

1. install last bundle on windows
2. open napari
3. open console

## Expected behavior

working console

## Environment
[code]

## Additional context

[2021-10-20 23:19] Czaki commented on #3500
Console work when start napari from terminal (with command `python.exe -m napari`)

![napari](https://user-images.githubusercontent.com/3826210/138185620-b1fab580-b462-490c-a53b-1ce22f90790c.png)

[2021-10-20 23:34] GenevieveBuckley commented on #973
This is great!
More geodata examples would be wonderful. I have started a "napari for geoscience" playlist on youtube, which currently has only Draga's talk in it, but ideally we can add more in the future: https://www.youtube.com/channel/UCbTgw84ew4pxTJ9qu3W2hqg/playlists

[2021-10-20 23:56] jni commented on #973
@EmanuelCastanho awesome. I'd love to do a bit of pair programming with you to help you get to where you're going! Bonus points for repeating the above analysis on [Tabuaeran](https://en.wikipedia.org/wiki/Napari)! :smiley: Anyway you can book a slot with me at: https://twitter.com/jnuneziglesias/status/1385754529639985152 I think @DragaDoncila will join us. :smiley:

For geographic transforms, we

[2021-10-21 05:41] #3500 closed, assigned to nobody

[2021-10-21 06:18] sofroniewn commented on #3420
Are you thinking in terms of the napari hub here and the plugin page? I think there's also a need for the main repo too. I guess the tool above can generate tables like https://github.com/all-contributors/all-contributors#contributors-

Maybe that's just a standalone page on the napari.org website in the community section? cc @melissawm

[2021-10-21 06:22] sofroniewn commented on #973
Super cool you're excited about napari for geosciences!

I'd be interested to know what this requires too, I'm not so familiar with geographic transforms. cc @andy-sweet who was worked on the napari transform system too

[2021-10-21 06:40] DragaDoncila commented on #973
Definitely excited for this and happy to contribute to napari and/or any plugins we need to get this work across.

[2021-10-21 13:10] haesleinhuepf commented on #3222
Hi @tlambert03 and @sofroniewn ,

I have never seen this issue outside of clesperanto and just fixed it on clesperanto side. Thus, I'm closing the issue here. Feel free to reopen it in case you think that makes sense.

Best,
Robert

[2021-10-21 13:10] #3222 closed, assigned to nobody

[2021-10-21 13:12] tlambert03 commented on #3222
great, and #3331 should have improved this on the napari side

[2021-10-22 01:24] andy-sweet opened #3504 "Removing a point with text derived from a property errors"
## 🐛 Bug

When a points layer has text derived from properties (i.e. when it's in mode `PROPERTY` or `FORMATTED`), trying to remove that point errors (see the traceback at the end).

The reason for this is fairly simple: the call to [`TextManager.remove` in `Points.remove_selected`](https://github.com/napari/napari/blob/9af23fb0ddd8b9804edc84d534095a00b697c41c/napari/layers/points/points.py#L1424)

[2021-10-22 03:41] jni commented on #3469
It's not so hard... It could be the face of a cube, and you would be adding (M, N, 1) data in the context of a pipeline intended to hold (M, N, P) data. Now napari squeezes that dimension *that you carefully added* following NumPy broadcasting rules as the docs suggest, and we go and remove them?

To be honest I got a bit worked up even writing that! :joy:

[2021-10-22 09:02] alisterburt opened #3506 "Layer bounding box calculated incorrectly"
## 🐛 Bug

We currently calculate an (ndisplay, 2) bounding box around our data using a boolean mask on the displayed dimensions

https://github.com/napari/napari/blob/9af23fb0ddd8b9804edc84d534095a00b697c41c/napari/layers/base/base.py#L1167-L1169

The dims displayed mask has no order so can produce incorrect results, we should modify this to take the list of displayed dimensions for indexing into

[2021-10-22 11:30] kevinyamauchi commented on #3506
I think we should rename the kwarg to `dims_displayed` and then use `dims_displayed` instead of `dims_displayed_mask` here:

https://github.com/napari/napari/blob/9af23fb0ddd8b9804edc84d534095a00b697c41c/napari/layers/base/base.py#L1217

[2021-10-22 12:29] brisvag commented on #3477
After some digging, this seems to be a magnitude-related problem. For some reason, when vertices are very close to each other (in this case everything is roughly between -1 and 1) this flickering appears. If you just multiply the positions by 100, everything is fine. Also, increasing the camera FOV makes things better.

Strangely, none of this happens in an [identical vispy example](https://github

[2021-10-22 12:32] alisterburt commented on #3477
huh! weird but also reassuring to know it's only semi-broken rather than completely broken... can you expand a little on the last sentence, what is it about normals/depth calculation that is different in napari to vispy?

[2021-10-22 13:24] brisvag commented on #3477
Nothing should differ! I say this just because of how it looks: the issue happens around the edges of the mesh in screen space, which is where the depth of two overlapping faces reaches the closest values. About normals, maybe that's unrelated :P

[2021-10-22 14:01] tlambert03 commented on #3469
I want to re-emphasize the comment I made above:

what I'm really talking about here is display.  This is the phrase I'd like you to comment on:

There's no need to get worked up about it... I'm not suggesting we have to modify the data. I'm absolutely fine with keeping broadcasting rules and leaving that last singleton dimension in the data ... that's not really my point here.  I just think that

[2021-10-22 16:14] andy-sweet commented on #973
I'm also unfamiliar with geographic transforms, but happy to learn about them. In the architecture working group, we split off [a topic on potentially revamping transforms in napari](https://github.com/napari/napari/issues/973), so I added this issue to the list.

In general, it feels like transforms may be coupled with the layer data slicing problem (e.g. if we want to handle tiled data). Current

[2021-10-23 04:53] isabela-pf commented on #3002
For next steps, I was thinking of all that could go wrong (as I do) and trying to design for progress bars breaking. It seems like It'd be very possible to have a task fail to complete, and so we'd need to communicate that to users in some way.

I just started exploring ideas for this ([on figma](https://www.figma.com/file/nl19TPV1yOuoCBVfgLGpAS/Progress-bars?node-id=265%3A2283)), but immediately

[2021-10-24 00:17] sofroniewn commented on #1742
note this has been reopened as we reverted #3479 in #3501

[2021-10-24 00:26] sofroniewn commented on #973
@perlman might be interest in that approach too as we think about the "level of detail" rendering - cc @nclack

[2021-10-24 00:41] #3504 closed, assigned to andy-sweet

[2021-10-24 00:42] #1833 closed, assigned to andy-sweet

[2021-10-24 00:54] alisterburt commented on #3506
closed by #3511

[2021-10-24 00:54] #3506 closed, assigned to nobody

[2021-10-25 12:04] Czaki opened #3518 "Vispy errors on double click on canvas"
## 🐛 Bug

When during right-click on the canvas and moving view the left button is clicked then many of these exceptions show in terminal

[code]

## To Reproduce

Steps to reproduce the behavior:

1. load scikit-image -> Binary blobs 3d
2. Switch to 3d view
3. during change zoom with right mouse button click left mouse button (keeping right)

## Expected behavior

No errors on missclick

## Envir

[2021-10-25 12:26] alisterburt commented on #3518
thanks for the report @Czaki - I can't reproduce because my mouse doesn't let me click the left button whilst the right is pressed, hopefully @brisvag can chime in

[2021-10-25 15:34] brisvag commented on #3518
Yup, I can reproduce. It seems to only happen in 3D, and when left-clicking while right-dragging. It definitely looks like a vispy bug, and I think I've seen this issue before. My first guess it's that some event handling does not have the right conditional and takes the new event despite it not being the right kind of event...

[2021-10-25 16:00] brisvag commented on #3518
I opened a small PR about this over at vispy/vispy#2244 which should solve the problem!

[2021-10-25 18:10] melissawm commented on #3420
I think there are two ways to go about this, one is to include the table in the readme in the repo itself, the other is to include a page under the Community header for the napari.org website. It could be something like

- Mission and Values
- About the Project and Team
- Code of Conduct
- Handling Code of Conduct Reports
- Governance Model
- Translations
- Contributors <- all contributors table

[2021-10-25 19:35] liaprins-czi commented on #3390
@codemonkey800 brought an issue to my attention about the current UI design: it limits the depth of content within the left sidebar navigation to two levels, but the "API references" section (and also the new "Tasks (How-tos)" section (within the "Using layers" subsection / page) content requires three levels deep:

per @codemonkey800 "all of the index pages for the API references have information

[2021-10-25 19:40] liaprins-czi commented on #3420
@sofroniewn Yes, I got confused and thought that this was referring to the plugins on the hub, and that that was why I was being mentioned in this issue.

[2021-10-25 21:01] codemonkey800 commented on #3390
@liaprins-czi I remember expressing preference for the second for consistency, but after seeing the mockup for the first one, I now prefer having that one because I like how it conveys the nested structure of the links 😄

Will the TOC page still be the same or will there also be a redesign?
![image](https://user-images.githubusercontent.com/2176050/138770215-f82fbdee-4c7a-4809-994e-3e0ceeb7e528.pn

[2021-10-25 21:23] lstrgar opened #3520 "GUI + Ipython Integrate Terminal Very Slow"
## 🐛 Bug

I don't know if this is a problem with my system -- perhaps I'm looking for recommendations of how I may be able to speed things up. Generally I find that reading images in the integrated console is much slower than if I was to do this in a regular notebook, script, etc. Similarly, interacting with the viewer object is also very slow. Any assistance would be much appreciated!

## Environ

[2021-10-25 22:21] liaprins-czi commented on #3390
Great, thanks for the feedback @codemonkey800 ! And yes, the ToC page should remain the same (also with nesting / indenting, which also makes me like the first design for consistency in that way)

[2021-10-25 22:50] DragaDoncila commented on #3002
Hmm yes... 😆 . So at the moment, if a progress bar fails, the exception is caught by our notification manager and the associated progress bar disappears - the same way as it does when it completes.

We don't yet have a concept of "logs" - notifications are popped up to the user, but if dismissed they aren't stored anywhere for reference.
I think this goes back to the discussion about whether we wa

[2021-10-25 23:21] tlambert03 commented on #1790
closing this, will be a bit less relevant in npe2, where static metadata is more readily available.  thanks for the discussion!

[2021-10-25 23:21] #1790 closed, assigned to nobody

[2021-10-26 02:45] GenevieveBuckley commented on #973
Just adding a note here to say that Vlad is maybe interested in writing a GeoJSON writer plugin for napari https://forum.image.sc/t/annotation-file-specification/58910/2 (it doesn't look like Vlad specifically uses geodata, but a plugin for this would obviously be useful in lots of situations, so I think it fits this thread too)

[2021-10-26 04:11] sofroniewn commented on #1286
There was an attempt at an implementation in #1367, but there was an open question there of if `viewer.save` might want to save the entire viewer state, which is currently not possible, and would be different that `viewer.layers.save`.

We might actually want to consider saving the entire viewer state now that @nclack is doing the npe2 writer plugin work. Any thoughts about that @tlambert03 @jni @

[2021-10-26 12:22] melissawm commented on #3390
Posting this here as well for the record:

Next actions are to
- Write a plan for how to merge this reorganization, as I will need to close napari/napari.github.io#176 and split it into two: one for the parts that need to change on napari/napari.github.io, another for the parts in napari/napari.
- Write a plan for where contents should live in the future.

I will do that today, and share here. Onc

[2021-10-26 12:39] aeisenbarth opened #3523 "Crash in context menu on image layer with pyramids"
## 🐛 Bug

When opening the context menu on image layers with pyramids, Napari crashes.

## To Reproduce

Steps to reproduce the behavior:

1. Create an image layer with pyramids:
[code]
2. In the layers panel, right-click the image layer.
3. It will crash because the lambda `"ndim"` ([napari/components/layerlist.py:399](https://github.com/napari/napari/blob/90f8572e8d807677e142cbe55f0dce5547ef5920

[2021-10-26 13:01] tlambert03 commented on #3523
@jni we need something like #2683

[2021-10-26 13:41] brisvag commented on #3518
The PR was merged. This should be closed by #3494 as soon as the bugfix release is added and the vispy version bumped there!

[2021-10-26 14:55] melissawm commented on #3390
I agree, I like that one too :) Although I think that is critical for the API reference docs, for the how-to section I don't think we necessarily need to expose the sub-documents in the left sidebar toc, though. They could live under the "Using layers" page, and be reachable from there.

[2021-10-26 21:02] #3032 closed, assigned to nobody

[2021-10-26 22:07] DragaDoncila commented on #3523
I am in full support of something like #2683. This has come up a lot for me when writing plugins as well. Anything that takes a layer has to do a little check in case that layer is a list or risk erroring out, and while that check is easy enough to do, it's pretty forgettable...

I also see the point that it's up to the plugin/specific code piece to decide exactly how to handle pyramids, but we've

[2021-10-27 07:45] GenevieveBuckley commented on #316
Copying this comment over from the zulip discussion:

The rough wish list we currently have looks a bit like this:
- cells3d (from skimage)
- Talley's LLSM (or something similar, to use with all of Talley's demonstations)
- a tiny cell tracking dataset (ideally should contain at least one cell division)
- histology slide (largeish 2D tiled dataset, with mulitple resolution levels)
- a geodata exam

[2021-10-27 07:58] GenevieveBuckley commented on #316
For cell tracking, this dataset could be really interesting (there's a very speedy cell, and also a cell splitting in two). It's from this website: http://celltrackingchallenge.net/

[2021-10-27 08:02] GenevieveBuckley commented on #316
... and this 3D cell tracking dataset is gorgeous!

[2021-10-27 13:09] Czaki opened #3528 "Plugin data storage"
## Magicgui plugins

Maybe it will be nice to preserve values of parameters of magicgui generated plugins between napari runs. Base on my experience when working on one project then I prefer to use one set of parameters. But often one session is not enough. My current solution is to update default parameters in code but it is not the ideal solution.

This should also apply to widgets not construct

[2021-10-27 13:13] tlambert03 commented on #3528
Have you tried using the `persist` argument in magicgui?

Another related note: npe2 has a configuration contribution that lets the plugin provide a schema with defaults for all configurables.  These will be persisted for plugins

[2021-10-27 13:22] Czaki commented on #3528
not, but it looks like this does not solve the problem of isolation storage between projects (or napari overwrite `user_cache_dir` to be inside setting directory?

I do not understand. There is a place (maybe in code) which I could read?

[2021-10-27 13:33] tlambert03 commented on #3528
please elaborate.  napari isn't involved in that persistence at all, it's a magicgui (FunctionGui) feature.

sure, the proposal is to accept JSON schema [like this](https://github.com/tlambert03/npe2/blob/ad10394fa07d005e09ec79e0d712a1c0b818d165/tests/sample/my_plugin/napari.yaml#L15-L21) as a part of the [`contributions` in the manifest](https://github.com/tlambert03/npe2/blob/ad10394fa07d005e09e

[2021-10-27 13:56] Czaki commented on #3528
For me, it is important to have the possibility of separate data between different projects. There is a possibility now for separate napari settings using the environment variable. But using persistence from magicgui this data will be shared between different projects.

Looks really nice. But JSON schema is the name connected with: https://json-schema.org/ wit scheme like https://json-schema.org/l

[2021-10-27 13:59] tlambert03 commented on #3528
maybe I'm missing what we mean by "project" here.  Do you mean, like you want the same widget to have different settings depending on what project the _user_ is working on?  (that's certainly a good use case that we could try to support)

we likely won't describe it as JSON schema.  but ... it _is_ JSON schema, from json-schema.org under the hood.  https://github.com/tlambert03/npe2/blob/ad10394fa

[2021-10-27 14:00] psobolewskiPhD commented on #3411
Based on a recent closed duplicate issue, it looks like this is being handled in the other repo: https://github.com/napari/napari.github.io/issues/161
(this is a bit confusing, as to where to report what, but as long as folks are aware, it's all good)

[2021-10-27 14:02] tlambert03 commented on #3528
https://json-schema.org/understanding-json-schema/reference/combining.html#anyof

[2021-10-27 14:16] tlambert03 commented on #3411
Yep thanks @psobolewskiPhD!

[2021-10-27 14:16] #3411 closed, assigned to nobody

[2021-10-27 15:11] Czaki commented on #3528
could You explain why You close this issue?
This is what you point addresses only the first part of the issue. From my point of view, it is not completely cover this part.

Your comment does not address migrations and does not address moving data from one computer to another.

By default, JSONschema covers only basic types. Even in your code: https://github.com/tlambert03/npe2/blob/ad10394fa07d005

[2021-10-27 15:23] tlambert03 commented on #3528
sorry, that was completely a mistake,  hit the wrong button

[2021-10-27 15:23] tlambert03 commented on #3528
all good thoughts here.  i encourage you leave some comments over at npe2 on the configuration spec.  Migrations are a good thing to be thinking ahead about.  definitely "next level" stuff we hadn't got to yet

[2021-10-27 15:25] tlambert03 commented on #3528
enums are covered in json schema using the [enum](http://json-schema.org/understanding-json-schema/reference/generic.html?highlight=enum#enumerated-values) field ([here](https://github.com/tlambert03/npe2/blob/ad10394fa07d005e09ec79e0d712a1c0b818d165/npe2/manifest/configuration.py#L94) in our spec)

[2021-10-27 15:33] Czaki commented on #3528
I still worry about needs of duplicationion information about structure of data. Or there is a plan to allow specify it as path to python enum class?

[2021-10-27 16:18] sofroniewn commented on #3520
Hi sorry to hear this @lstrgar. I'm not quite sure why the integrated console would be much slower. Is this for all operations or just reading operations? Does @Carreau have any ideas?

[2021-10-27 18:31] melissawm opened #3529 "Migration proposal between repositories"
## 📚 Documentation

Hello, folks

During the latest docs working group and community meetings we have been discussing a strategy to unify documentation for napari in a way that
1. Makes it easier to run doctests and CI
2. Makes it easier for contributors to know where to contribute

### Current situation

As of now, this is the workflow as I understand it:
1. The Tutorials live on the napari.githu

[2021-10-27 21:25] GenevieveBuckley commented on #3531
Next steps: we need to remove all references to a napari gallery (check both napari/napari & napari/napari.github.io), since a gallery does not exist yet. This would be a good first issue, if anyone is interested.

[2021-10-27 21:34] GenevieveBuckley commented on #3532
@DragaDoncila has started working on this here: https://github.com/napari/napari.github.io/pull/206

This may also be relevant: https://github.com/napari/napari.github.io/pull/181

[2021-10-27 21:39] GenevieveBuckley commented on #3546
We need to make sure this information (especially the compression keyword argument Juan suggests above) is easy to find in the documentation. Maybe in the label layer tutorial?

cc @melissawm (I think you're keeping some sort of documentation content wishlist, is that right?)

[2021-10-27 21:44] GenevieveBuckley commented on #3542
cc @melissawm - relevant info for the documentation reorganization work

[2021-10-27 21:59] GenevieveBuckley commented on #3530
I opened this earlier https://github.com/napari/napari.github.io/pull/265, but Melissa says this actually needs fixing in the napari/napari repository. This issue is currently available for anyone who wants to do that.

[2021-10-27 22:02] GenevieveBuckley commented on #3540
I've added the "bug" label because this is an accessibility issue - a major part of our documentation isn't available if you're using a screen reader.

[2021-10-27 22:04] GenevieveBuckley commented on #3540
@tonyfast says Quansight have been running some "low code sprints", centered around things like adding alt-text to documentation. Apparently they've been quite successful, so maybe we'd like to look into doing something similar here too @sofroniewn

See https://github.com/dask/community/issues/193 and https://labs.quansight.org/blog/2021/09/low-code-contributions-through-GitHub/

[2021-10-27 22:11] GenevieveBuckley commented on #3529
+1 :+1:
This part is hugely important, whichever solution we end up with.

[2021-10-27 22:19] GenevieveBuckley commented on #3537
(apparently our new policy is to transfer everything *back* again :rofl: )

[2021-10-28 01:23] jni opened #3551 "3D interpolation mode cannot be set at layer creation time"
## 🐛 Bug

Using `viewer.add_image(image, interpolation='nearest')` when the viewer is in 3D mode doesn't work.

[code]

napari info

[code]

[2021-10-28 01:39] WenChentao opened #3552 "The colors with the same RGBA value look different."
## 🐛 Bug

I modified the color dict in the label layer to show two labels (from the same object) with the same color. However, even when the two labels were assigned with the same RGBA value, their colors look different.

Here is one example:
The first label (47):
<img width="1310" alt="Screen Shot 2021-10-28 at 10 08 44" src="https://user-images.githubusercontent.com/27986173/139170844-4b5acdf7-a

[2021-10-28 01:51] DragaDoncila commented on #3552
Thank you for raising this issue @WenChentao. I think there is actually an existing issue, #3174, that might have the same root cause. In particular it looks like in this case too the label color thumbnail is "correct" and it's the canvas that's misrendering the label. @sofroniewn any ideas at all?

[2021-10-28 05:55] sofroniewn commented on #3552
Hmm I'm not sure maybe @perlman could look into this?

[2021-10-28 23:57] isabela-pf commented on #3287
Addressing the

point, I've tried this out with color pickers on some software I had around (mostly creative tools) since that is a commonly used pixel-perfect behavior like we might need for napari. Below are my notes and photos (when applicable)

Looking at these also gave me some ideas on questions that could help us choose a direction.
- Is pixel-perfect precision of the cursor selection neede

[2021-10-29 00:06] sofroniewn commented on #3540
Yes, i love the idea! Maybe we discuss coordination/ timing/ logistics in zulip and then post here

[2021-10-29 00:38] GenevieveBuckley commented on #3540
[Link to the zulip chat](https://napari.zulipchat.com/)

[2021-10-29 04:54] Mishrasubha commented on #3530
Can I take up this issue?

[2021-10-29 06:49] kevinyamauchi opened #3559 "Change default dims.point to the centroid of the world extents."
## 🚀 Feature
When a new layer is added, we could set `Dims.point` to the centroid of the new world extents. I think this default behavior is more likely to show an "interesting" slice.

## Motivation

Currently, when a layer is added, the `Dims.point` is set to the minimum of the world extents. As @Czaki pointed out in #2104, this often leads to the default view being blank when loading data (e.g.

[2021-10-29 07:43] Czaki commented on #3559
This is set here:

https://github.com/napari/napari/blob/c4d1038fc3ed30dc228949cbdedf12826ec2efc2/napari/components/dims.py#L108-L111

Instead of using the 0 there should be used middle between minimum and maximum.

[2021-10-29 08:33] GenevieveBuckley commented on #3530
Sure!

[2021-10-29 08:43] GenevieveBuckley commented on #2698
This is great @tlambert03

[2021-10-29 15:32] alisterburt commented on #3559
Love it! Supportive

[2021-10-29 23:45] NBCS1 commented on #3273
I had the same issue, I needed to do rectangular selections on x frames and I had to go back to the slider all the time.
It's not especially pretty, kind of temporary but it's working like a charm. I coded two key events.
I was going to add some handling for when you reach out of the range of the image but suprisingly, it does not throw any error when you reach 0 and keep pressing or the max frame

[2021-10-29 23:48] sofroniewn commented on #3559
me too

[2021-10-30 06:11] sofroniewn commented on #1256
There was an attempt to do this in #2345 which could be picked up by folks. We're certainly not far from this functionality, but I don't have bandwidth to finish it up right now so am closing that PR.

[2021-10-30 06:15] sofroniewn commented on #1256
See here for an explanation of what might be required to finish the work https://github.com/napari/napari/pull/2345#issuecomment-955157371

[2021-10-30 06:20] sofroniewn opened #3562 "Allow 1D plots in the canvas"
## 🚀 Feature
It would be nice to allow 1D plots in the main canvas

## Motivation

Sometimes you want to plot 1D things like profiles of an image or things like 1D simuluations of the wave equation. See

https://user-images.githubusercontent.com/6531703/119280929-6a96b300-bbe8-11eb-9c03-aeed0329f185.mov

and

https://user-images.githubusercontent.com/6531703/119244514-5ab69a80-bb26-11eb-99d1-8c60f

[2021-10-30 16:09] tlambert03 opened #3564 "Discussion: Dependency injection vs globals"
## 🧰
Something I think about a lot, but haven't written up anywhere (and would like to gather thoughts on) is the general usage pattern of global objects in napari.  Current global objects in napari include are "service"-like application related things such as:
- `napari.plugins.plugin_manager`
- `napari.utils.action_manager.action_manager`,
- the settings object return by `napari.settings.get_set

[2021-10-30 19:14] haesleinhuepf commented on #2231
Hi all, hi @sofroniewn ,

I've been working on this in a plugin space. Just that you're aware, there might be handy user-interface ideas to copy from here: https://github.com/haesleinhuepf/napari-mouse-controls

[2021-10-30 19:41] #2570 closed, assigned to nobody

[2021-10-31 00:09] tlambert03 opened #3565 "bug in normalize_callback (or bug in disconnect call)"
working on #3184, I just came across a unexpected bug in the `closeEvent` of `QtBaseImageControls`

[code]

It seems to be caused by this line (added in #3217)

https://github.com/napari/napari/blob/9af23fb0ddd8b9804edc84d534095a00b697c41c/napari/_qt/layer_controls/qt_image_controls_base.py#L199

and with some print statements in the `_normalize_cb` method, it looks like the callback variable is _

[2021-10-31 16:57] Czaki commented on #3565
Maybe I miss something when I create #3449. It should've been possible to disconnect all object events by passing the object itself?

[2021-10-31 16:59] tlambert03 commented on #3565
yeah, I wasn't entirely clear on that myself... but since you also added that [disconnect line in 3217](https://github.com/napari/napari/pull/3217/files#diff-7b43dacbdfe011eea412f799bc5117e8b5cf760ccc0f1024153dcc91f7ca825bR199) I thought you might know

[2021-10-31 17:17] Czaki commented on #3565
I should remember this, but unfortunately, I miss this. I will create a fix and add the missing test.

[2021-10-31 17:17] tlambert03 commented on #3565
thanks!

[2021-10-31 17:31] Czaki commented on #3565
There was inproper annotation of `disconnect` function wgich does not contain object in signature.

[2021-10-31 21:50] grlee77 opened #3567 "OpenGL runtime error when a multiscale image is moved outside the canvas"
## 🐛 Bug

When viewing a multiscale 2D layer, if the object is moved out of the viewer window, a RuntimeError error is raised:
`RuntimeError: OpenGL got errors (Check before draw): GL_INVALID_VALUE`

This is illustrated here:
![Peek 2021-10-31 17-23](https://user-images.githubusercontent.com/6528957/139602114-cb4a4b82-bee2-426c-85e8-e5ae0c221465.gif)

## To Reproduce

Steps to reproduce the behavi

[2021-11-01 07:13] jni commented on #3567
Ha, interesting. I guess VisPy isn't too happy if we send an empty array to render. 😬 I guess we can set a minimum crop size and render the minimum off-canvas.  Thoughts @sofroniewn?

e.g. we could add a check here:

https://github.com/napari/napari/blob/785e49a1e4a54f10a09ce87fccb95dc19e3886d5/napari/layers/base/base.py#L1420-L1434

and default corners to a 1-pixel-by-1-pixel "image".

[2021-11-01 10:03] psobolewskiPhD opened #3568 "Adding shapes layer (empty) results in divide-by-zero warning"
## 🐛 Bug

When adding a shapes layer using the GUI, a warning is generated:
[code]

All other layers work without any warnings.
In 4.10 I also got such warnings for creating an image layer (eg. open sample image). That was resolved in 4.11. But the shapes layer warning remained in 4.11 and is still present in 4.12.
See also: https://github.com/napari/napari/issues/3159#issuecomment-909974727
The s

[2021-11-01 10:27] psobolewskiPhD commented on #3568
The warning refers to a calculation in `shapes.py` `_update_thumbnail`.
Comparing that section to the same function in `points.py` — making a new Points layer does not trigger a warning—it seems like these lines, present in `points.py` but not `shapes.py` are the key?
https://github.com/napari/napari/blob/785e49a1e4a54f10a09ce87fccb95dc19e3886d5/napari/layers/points/points.py#L1354-L1355

This loo

[2021-11-01 19:11] andy-sweet commented on #3564
This is an excellent summary of DI (dependency injection) and some of the pros/cons of it as a pattern, and some benefits of using DI frameworks.

I recently developed on a project using a DI framework ([Dagger](https://dagger.dev/) in Java/Android), so I'm happy to share some of my experiences.

First, it's important to clarify/reiterate the difference between DI and DI frameworks. DI is mostly a

[2021-11-01 20:10] Czaki commented on #3564
I do not have experience using any dependecy incetor framework but it looks promising. But we still need remember about nature of Qt and event base programming.

Is someone will create napari Viewer in application and then execute some other code (like PartSeg > View > Napari viewer) and there is a need of pass context calculated after start of Qt event loop (or for example start napari in `ipytho

[2021-11-01 20:16] DragaDoncila opened #3570 "Implement asynchronous API for long running operations"
## 🚀 Feature
We need to update our API to allow users to choose whether they receive a synchronous result or an async `Future` object.

## Motivation
Our `Viewer` API is currently limited to synchronous communication. In particular, `viewer.open` and `viewer.add_*` return a list of layers and layer respectively, and it is expected that the user will wait until those objects are returned before int

[2021-11-01 20:23] DragaDoncila commented on #3570
It's worth noting that there are many other applications we could use an async API for besides file I/O. In the long term we may want to support users decorating any long running operation (including maybe internal ones?) as `async` e.g. complex layer transforms, rolling/transposing axes, computing contrast limits, etc.

[2021-11-01 20:41] tlambert03 commented on #3564
Thanks for that great additional detail @andy-sweet!

very good point.  I also wanted to mention that many libraries have their own internal DI patterns that don't necessarily require an external framework.  (FastAPI, for example, has a [nice internal DI pattern](https://fastapi.tiangolo.com/tutorial/dependencies/))...  I was playing with it today and got something working pretty well with:

[code

[2021-11-01 20:48] Czaki commented on #3564
As far as I understand the use of a dependency injector is suggested as a solution for using napari as a library, not for plugin creator. The core of the problem with the global objects is using multiple viewer instances and interactions between them through global objects?

[2021-11-01 21:53] tlambert03 commented on #3564
I still just don't know that I entirely agree that this is _the core_ problem. I definitely see that this was _a_ problem, specifically with regards to the action manager and buttons, but, as mentioned in my first post I really do see that as a specific difficulty with the design of the current action manager, that "took on too much" by managing literal button instances in individual viewers.  Tak

[2021-11-01 21:54] tlambert03 commented on #3564
yep, definitely not aiming external users.  this is simply a question of how best to organize the rapidly growing number of interfaces and objects that napari manages

[2021-11-01 22:01] Czaki commented on #3564
Looking in the more general case. As far as I understand dependency injector is the solution for temporary change behavior of some part of code? And from my point of view, in most of the cases, I would like to have the possibility to change behavior for instance, mot time unit.

Also, did you test if the suggested library plays nice with pydantic? I observe that `monkeypatch` from `pytest` fails t

[2021-11-01 22:51] DragaDoncila commented on #3529
Pinging @codemonkey800 who may have missed this and has recently been building out a preview page for plugins on the napari-hub. That work has more stringent requirements about the preview not going stale, and is limited to one single HTML page, but we should be able to repurpose some of that work to get similar behavior here.

In particular I think the preview should be "no extra work" on the con

[2021-11-01 23:51] DragaDoncila commented on #3529
Or, maybe a better option would be to have a local dev environment, like we do for `napari.github.io` but point it to the napari directory instead? This could potentially be achieved using `make` by grabbing the relevant content from `napari.github.io` and then building the theme using `yarn` on top of `napari/docs`.

[2021-11-02 00:27] DragaDoncila opened #3572 "Provide a way for documentation contributors to preview their documents with the theme from `napari.github.io`"
## 🧰 Task
After the migration proposed in #3529 is complete, users will be able to contribute documentation by only making PRs to `napari/napari`. However, because the theme and build tooling all lives at `napari.github.io`, they will not be easily able to preview their documents.

We therefore need a way to build a preview using the theme from `napari.github.io` but pointing to `napari` docs sour

[2021-11-02 00:28] DragaDoncila commented on #3529
I've opened napari/napari#3572 to track discussion on docs previews for contributors.

[2021-11-02 04:09] rbavery commented on #316
@GenevieveBuckley I have radar images of oil slicks from Sentinel-1 if you'd like to use any as an example:

<img width="1440" alt="Screen Shot 2021-11-01 at 9 03 15 PM" src="https://user-images.githubusercontent.com/22258697/139785191-e5abf593-e523-44fd-a0cd-d24aef43681b.png">
<img width="1440" alt="Screen Shot 2021-11-01 at 9 03 00 PM" src="https://user-images.githubusercontent.com/22258697/1397

[2021-11-02 06:13] GenevieveBuckley commented on #316
@haesleinhuepf has a bunch of neat demo datasets available on zenodo for napari-pyclesperanto-assistant

https://zenodo.org/record/5090508#.YYDVeptxW-Z

There's some cool fly embryo datasets, and the [MRI of Robert's head](https://twitter.com/haesleinhuepf/status/1454716232712732679) is particularly impressive.

CalibZAPWfixed_000154_max.tif
md5:16f8b7efc838ae90e1aeff2806b17bca
9.2 MB
https://zeno

[2021-11-02 16:59] sofroniewn commented on #3559
@grlee77 can you give this a go in a new PR - then we can revisit #2104 - thanks!!

[2021-11-02 18:08] chili-chiu opened #3573 "support CMYK color space"
@cgohlke
## 🚀 Feature

There's no direct support for image color spaces other than grayscale, RGB, and indexed (palette). Specifically, I was missing CMYK and was unable to "approximate" it with custom palettes.

## Alternatives
Any color space can be converted to RGB or grayscale before visualization, but ideally conversions should not be required for an image visualization library.

[2021-11-02 18:54] chili-chiu opened #3575 "add built-in colormaps with transparency"
@cgohlke
## 🚀 Feature

Napari offers a "translucent" volume rendering mode but there are no longer any built-in colormaps with transparency. Some built-in colormaps with transparency will be very helpful for work with that rendering mode.

## Alternatives
Adding an interactive transfer function editor so users can adjust transparency settings will be even more useful.

[2021-11-02 21:39] andy-sweet commented on #1058
I took a quick look at this, found the same issues as @sofroniewn, found some of the underlying causes in vispy, and added a comment to [an existing vispy issue](https://github.com/vispy/vispy/issues/1847#issuecomment-958181091) that runs into the same problem.

I think it's relatively easy to fix vispy to avoid the assertion failure (at least in the simple case described), but I'm unsure how to f

[2021-11-03 01:37] sofroniewn commented on #1058
Thanks for investigating @andy-sweet - let's see what happens on the vispy thread and then make a decision from there

[2021-11-03 08:39] haesleinhuepf commented on #316
There is also some more developing Tribolium embryos, mouse brain slices and mouse colon volumes:

https://zenodo.org/record/4276076#.YYJKMWDMJaR

[2021-11-03 08:58] haesleinhuepf commented on #316
Maybe, some classical example data sets from ImageJ's collection are also interesting:
https://imagej.nih.gov/ij/images/
https://imagej.net/images/

[2021-11-03 09:14] jni commented on #316
@rbavery that's great (and terrible too :joy:). Is there a time series following the oil slick? That would be a fantastic demo.

[2021-11-03 19:22] lstrgar commented on #3520
Thanks for getting back to me. Most operations it is slow.

[2021-11-03 20:42] memoryleine opened #3576 "Change behavior of "preserve labels" to "preserve other labels" when editing labels layers"
## 🚀 Feature

Currently, the "preserve labels" feature allows one to select a label and then paint or erase that label without affecting any of the others. However, it might be nice if the behavior was changed to "preserve labels _other than the one present where you originally clicked_".

## Motivation

When editing labels (e.g. to correct errors in a 3D segmentation) I often run into situations

[2021-11-04 00:48] RoccoDAnt opened #3578 ""import pandas as pd" cause napari menu to become unresponsive: "File/Open File(s)..." etc not working."
## 🐛 Bug

Hello, I would need to use pandas to save a .csv file. If I "import pandas as pd" in my plugin, the napari menu becomes not responsive. If I comment out that specific import, the menu works fine: I can open images/stacks etc.

I am using pandas and other packages in conjunction with magicgui to build the interface.

## To Reproduce
Use napari 0.4.10
Try to install a simple plugin templat

[2021-11-04 01:21] GenevieveBuckley commented on #3231
I found this [Glossary of Image Processing Terms](https://jeffreymorgan.io/articles/image-processing-glossary/), which seems reasonably ok. Linking here as a reference.

[2021-11-04 01:49] GenevieveBuckley commented on #3231
My other big picture feedback is that the glossary should be grouped into meaningful sections, instead of listed in alphabetical order. Two reasons why:
1. It's much easier to understand information if there's some sort of framework or structure to it
2. People can Ctrl+F to search for any word they like instantly. (If you really wanted we could work out how to put a search bar at the top of the g

[2021-11-04 02:11] GenevieveBuckley commented on #316
@jni I notice that a lot of your links at the top of this issue are links to tweets, or links to say, a paywalled New York Times article. We'd need direct download links for the datasets in order to include any of those.

[2021-11-04 03:43] rbavery commented on #316
@jni I don't have a time series at that location but I can see if the images acquired before and after this date still capture the evolution of this particular event. Because the revisit time is ~10 days we may or may not get anything but it could still be interesting to include a before and after scene.

[2021-11-04 06:37] GenevieveBuckley opened #3579 "Can't add image to napari (using new napari dev environment)"
## 🐛 Bug

When I try to add a numpy image array to the napari viewer, the image does not appear in napari and I see OpenGL errors `QOpenGLWidget: Failed to create context`

## To Reproduce

Steps to reproduce the behavior:

1. Create a new napari development environment (see [here](https://napari.org/docs/dev/developers/contributing.html))
[code]
2. Start ipython, and attempt to add a new image to

[2021-11-04 06:59] GenevieveBuckley commented on #316
@alisterburt I feel like it might be good to have a teeny-tiny cryo-EM dataset too.

It might be hard to find something good in [EMPIAR](https://www.ebi.ac.uk/empiar/) - that tends to have buckets of huge amounts of data that may or may not be interesting. What we probably want is a very tiny cropped dataset that's already been processed and has an interesting structure in it. Maybe you have some

[2021-11-04 07:05] alisterburt commented on #316
@GenevieveBuckley agreed! I'm planning to collate a few examples and get them on zenodo today 🙂

[2021-11-04 07:07] GenevieveBuckley commented on #316
I assume the performance is better if you upload a zip file rather than the uncompressed dataset (haven't checked, but this seems a very safe assumption)

[2021-11-04 08:21] RoccoDAnt commented on #3578
Curiously, if I use instead "[datatable](https://github.com/h2oai/datatable)" (R package) napari menu shows no issue:

    import datatable as dt

works fine for my purpose but is a bit weird not being able to use pandas.

For interested developers, the template above works with the correction:

    a=np.array([1,2,3])
    b=np.array([1,2,3])
    prop={'Parent_label': a,'Area': b}

Any suggestion

[2021-11-04 09:15] alisterburt commented on #3579
interesting - looks like openGL is completely missing, do you have graphics drivers installed? https://www.khronos.org/opengl/wiki/Getting_Started#Downloading_OpenGL

[2021-11-04 09:23] alisterburt commented on #3578
Very strange, thanks for the bug report @RoccoDAnt !

Could you try updating napari to `0.4.12` to see if the problem persists?

Another troubleshooting step you could try if it persists is to restart napari after installing the plugin - I remember this being a required step fairly recently but am not sure whether that's still the case.

Let us know how you get on 🙂

[2021-11-04 09:26] alisterburt commented on #3575
Love the idea - do you have any experience with what these colormaps tend to look like in other softwares? I've thought about this before, particularly when rendering volumes with dark backgrounds on our white canvas in the light theme but wasn't immediately sure how to tackle it

[2021-11-04 11:31] Czaki commented on #3579
I see such problem after GPU drivers updated and system was not restarted after this. Problems gone when system was restarted.

[2021-11-04 13:34] RoccoDAnt commented on #3578
Hi @alisterburt , unfortunately updating to version 0.4.12 does not fix the import, and the issue persists also closing and reopening napari.
For the moment being, I am using `datatable` instead of `pandas`.
Thanks for your help!

[2021-11-04 16:26] tlambert03 opened #3581 "bug creating thumbnail for rgb tiff"
## 🐛 Bug
haven't had the time to dig into it yet, but loading this tiff from the cellpose test data causes an exception in thumbnail creation (i think it has to do with it being an RGB tiff):

https://www.dropbox.com/s/93fqj6usq26u980/000_img.tif?dl=0

[code]

[code]

[2021-11-04 21:37] isabela-pf commented on #3002
@DragaDoncila thanks for following up on this and answering my question. This is a good point in favor of having the (more complicated) progress bar experience where they persist, though it definitely has more details to work out. I don't think this should be a blocker, though, since having any kind of feedback on progress seems more helpful than we currently have.

I can put this on my list of th

[2021-11-04 23:29] GenevieveBuckley commented on #3579
I certainly should have OpenGL, and I don't think anything major has changed in the interim. I'll try a restart, like Grzegorz suggests.

[2021-11-05 01:34] jni commented on #3576
Thank you for raising @memoryleine! Yes I will chime in to give my 👍 to this proposal. I have been surprised by the behaviour of preserve labels in this way (as have others in the forum post), and must say that it is very disconcerting. imho changing to "preserve other labels" would make the behaviour more intuitive and add utility to this mode.

[2021-11-05 03:17] GenevieveBuckley commented on #3579
Yup, a restart fixed things. Thanks @Czaki

[2021-11-05 03:17] #3579 closed, assigned to nobody

[2021-11-05 15:50] alisterburt commented on #316
Small update, have some examples but hitting snags with permission to upload (not all are public) - please hold

[2021-11-05 18:30] andy-sweet opened #3585 "Write labels layer properties"
## 🚀 Feature

A way to write `Labels.properties` to a file. I think CSV would be a minimal format to support and sufficient for this issue.

## Motivation

`Labels.properties` may be used to store calculated values (e.g. area, mean intensity, etc) that may represent some measurement from an image layer associated with the the labels layer. Some of these properties data may represent the results of

[2021-11-05 21:29] isabela-pf commented on #2999
I got to loop back to this issue for a moment this week and thought it might be helpful to show how the above options look in the light theme (since I mention we are responsible for both light and dark theme). It also may make the issue of ensuring we have contrast in both modes more clear.

All of these have the same specifications as above, repeated so you don't have to scroll between comments.

[2021-11-08 04:56] sofroniewn commented on #3585
Love this! I think we should extend to all layers with properties, but labels makes sense for a place to start!

Yeah, if folks find that odd we can change it - we should probably be consistent. I think that might be an oversight. Though for shapes we might need both a shape id and a vertex id column. I can't remember where we landed though

[2021-11-08 14:28] will-moore commented on #2487
We recently worked around the lack of channel_axis support for labels in https://github.com/ome/napari-ome-zarr/pull/16 by squeezing out the channel axis (since we assume labels data from OME-Zarr is the same shape as image data).
However, if you did have OME-Zarr labels data with size-C being `>1` then I think the squeezing would fail and you wouldn't be able to open in napari.
We need to work ar

[2021-11-08 17:56] haesleinhuepf commented on #3585
Hey @andy-sweet

I love this idea! I think there are about a hand full of plugins writing into `layer.properties` and thus, any convenience for dealing with those is very welcome :-)

Not exaclty the same, but something similar, e.g. here:
* https://github.com/haesleinhuepf/napari-skimage-regionprops/blob/master/napari_skimage_regionprops/_regionprops.py#L206
* https://github.com/clEsperanto/napar

[2021-11-08 20:13] kapoorlab commented on #1507
Ah the issue is still alive I just reproduced it in  python 3.9.7 on a Mac for image of dimensions: (74, 22, 973, 512)

[2021-11-09 00:29] sofroniewn commented on #2487
@DragaDoncila do you have any thoughts on this?

[2021-11-09 01:09] DragaDoncila commented on #2487
I'm just catching up with some of this now. Couple of thoughts, not sure if they're helpful:

- I think it makes perfect semantic sense for `labels` data to potentially contain more than one channel e.g. different segmentations based on different confidence levels or different models, or even segmenting for different things
- I am in support of dropping the `channel_axis` option for `add_*` and pr

[2021-11-09 03:46] sofroniewn commented on #1507
Thanks for the bump. Maybe @nclack can try digging into this one at some point in time. It seems to be hardware specific. It would probably be good to figure out if this can be reproduced with vispy only. @AhmetCanSolak might have ideas too as I think he might have seen some other memory leaks in the past too

[2021-11-09 14:04] melissawm commented on #3572
One way of doing this would be defining the theme to be a git submodule.

[2021-11-09 17:14] nclack commented on #1507
I very briefly looked at this. I suspect there's a gl failure somewhere along the line. Is there a way to turn on gl error checking?

Setting
[code]

nominally enables checking for errors after each gl call; errors are silently ignored normally.  However, I'm not able to reproduce the problem and I can't confirm the above actually turned on the error checking :)

[2021-11-09 19:01] Carreau opened #3589 "Test failure when image.data.shape is an ndarray."
## 🐛 Bug
`napari/_tests/test_adding_removing.py` test fails with the earliest supported version of tensorstore:

[code]

Because at some point:

[code]

That is because with this version of tensor store, the data.shape is itself an ndarray instead of tuple.

this is fixed in later version of tensor store, but I still want to open this to ask:

Should we make the assumption that image.data.shape is

[2021-11-09 19:14] codemonkey800 commented on #3529
This proposal sounds good to me, I'm glad the docs are finally being consolidated!

[2021-11-09 19:26] codemonkey800 commented on #3572
My impression from #3529 is that the `napari.github.io` repo would be restructured to be only the theme and tooling, so it already contains the minimum content required for building the theme. @melissawm's git submodule solution also sounds good to me.

Another thing I thought of was creating an npm or pypi package that exposes a CLI for building the theme, but it might be overkill for now

[2021-11-09 20:15] codemonkey800 commented on #3529
This would be challenging with our existing setup because we're hosting things on GitHub pages, which do not have built-in support for preview deployments.

Rather than reinvent the wheel, maybe we can leverage existing services under an open source plan? One good example is [Netlify](https://www.netlify.com/legal/open-source-policy) whose open source plan provides features from their pro plan to

[2021-11-09 22:42] perlman commented on #3589
Sounds good to me! Unlike numpy, there isn't a large community of tensorstore users out there relying on older releases.

[2021-11-10 00:52] DragaDoncila commented on #3572
@melissawm and @codemonkey800 thanks for weighing in! I haven't run into git submodules before, so I just wanted to check my understanding.

If we were to go down that path we would:
- add `napari.github.io` as a submodule to the napari repo
- people who wanted to contribute docs would need to `init` the submodule after cloning `napari`, or clone using `--recurse-submodules`
- once the submodule i

[2021-11-10 01:02] melissawm commented on #3572
Yes, that is what I am imagining, but I'm not entirely familiar with the whole deployment workflow as it is right now so I could be underestimating the work here :)

I'm ok with that, but I can tell you it can be very useful when reviewing docs PRs - it's easy to see build issues for both submitters and reviewers, and if the build is successful keeps the review workflow entirely on github.

[2021-11-10 01:38] codemonkey800 commented on #3572
I'm fine with it being a stretch goal. I think it's mostly useful for PR reviewers, less technical folks, and people who don't want to install the required theme tooling 😄

[2021-11-10 02:03] perlman commented on #1507
(Apologies if this is a red herring...)

This issue feels very similar to one with neuroglancer (https://github.com/google/neuroglancer/issues/51), in which the first layer of each chunk would be replicated, but _only_ on computers with Intel integrated video (e.g., any 13/14" Intel  MacBook Pro, but not the Intel MacBookPro 15/16" or desktop with discrete graphics -- consistent with what I've see

[2021-11-10 03:16] jbms commented on #1507
There have certainly been a lot of GPU-specific bugs in Neuroglancer related to floating point precision issues.  However, I don't know enough about how napari implements rendering to say whether there is likely to be any conneciton.  If napari renders from 3-d or higher-d textures/buffers stored in GPU memory, then I think it is possible there is a similar issue.  If napari renders from 2-d textu

[2021-11-10 05:21] jni commented on #3572
@codemonkey800

:raising_hand:

I use the PR-built-docs *all the friggin time* on user contributions over at scikit-image. Compare the workflow:

- cd napari
- gh pr checkout (number)
- cd ../napari.github.io
- make build  # or whatever command it is to build the docs
- open _build/index.html

vs:

- click a link

All this to say, I think a gh action to build the docs on PRs should be a primary go

[2021-11-10 08:00] GenevieveBuckley commented on #3572
I agree with Juan's comment.

I would totally click a link, but much less reliably build the docs locally to check.

Plus, the whole idea is that people shouldn't need to set up a development environment in order to contribute a tutorial or similar to the docs. They should be able to make their tutorial using the napari release they are *already* using, then contribute that without much extra effo

[2021-11-10 08:59] kapoorlab commented on #1507
@nclack thanks for the tip, I tried it but it did not show errors, I think what @perlman is pointing out is the case here as this only happens on my Mac of 14" and not on my linux workstation. Well I will just buy a new laptop with linux as it seems to be the easiest solution :).

[2021-11-10 12:36] Czaki opened #3592 "Modify order of test execution"
## 🚀 Feature

Use `pytest_collection_modifyitems` for reorder test from the most basic one (event system) through middle structures (labels definition) to Qt.

## Motivation

For default napari pytest run is finished after 5-th fail. But currently, the first Qt tests are executed. So this test could find bugs in some basic structures but may not be clear.

## Pitch

## Alternatives

## Additional

[2021-11-10 16:58] neuromusic commented on #3572
This is a good point. Moreover, as @DragaDoncila's contributor guide work has noted, folks should be able to contribute a new tutorial or update the docs without even cloning the repo locally, just using Github's editing and contribution mechanisms.

I'll +1 the Netlify suggestion. It's a great platform & it looks like the [free starter version](https://www.netlify.com/pricing/) should support our

[2021-11-10 18:18] melissawm commented on #3546
Yup, thanks @GenevieveBuckley !

[2021-11-10 19:07] tlambert03 opened #3596 "running_as_bundled_app no longer works"
## 🐛 Bug
The `running_as_bundled_app`  function no longer seems to work, and the reason is that the METADATA file currently produced (at `app/napari-...dist-info/METADATA`) is extremely minimal, and lacks the stuff (like Briefcase-Version) that is "supposed" to be in there as per https://briefcase.readthedocs.io/en/latest/how-to/access-packaging-metadata.html?highlight=briefcase-version.

@goanpec

[2021-11-10 19:38] goanpeca commented on #3596
@tlambert03 what command produces that file? is this a `python sdist...` thing that might have changed? Maybe we have to pass a flag to preserve whatever information is missing?

Or maybe I am not understanding the issue 🤔

---

Also was this the result of the last PR that added constructor things?

[2021-11-10 19:39] jaimergp commented on #3596
I gave up with the metadata approach and introduced a sentinel file next to `sys.executable` in my PR.

See [creation](https://github.com/napari/napari/pull/3555/files#diff-192446c64cc8dd900288f1523d9d032513bf68066f0c0ad4fd3a29b8baf6fd3bR226-R234) and [detection](https://github.com/napari/napari/pull/3555/files#diff-09b82be2ee4fc3ca890d1d940d9b55e60d35290e15ad69d74f53734da25dda8cR15-R32).

[2021-11-10 19:40] tlambert03 commented on #3596
briefcase itself, during installation, based on the setup.cfg and pyproject.toml in the project

that works for me!  any chance we could get that in main?  or does it really require the full toolchain that you're working on there?

[2021-11-10 19:41] jaimergp commented on #3596
Yep I'll port it, it's totally independent from conda.

[2021-11-10 19:47] DragaDoncila commented on #3572
Yeah, definitely didn't mean to understate the importance of having a preview built on documentation PRs - it's important for a lot of people and makes the process much smoother.

When I said "stretch goal" I meant, let's stretch this out until we've built a local workflow first 😄

[2021-11-10 22:26] tlambert03 commented on #3589
The array api states tuple, so I think we should go with that:

https://data-apis.org/array-api/latest/API_specification/array_object.html#shape

[2021-11-10 23:13] #3141 closed, assigned to andy-sweet

[2021-11-11 04:22] #3468 closed, assigned to nobody

[2021-11-11 06:40] graeme-winter opened #3600 "Add ability to "slab" 2D slices from 3D data"
## 🚀 Feature

At the moment a 2D view of a 3D data set is limited to slices of thickness 1: I would like to be able to look at the (sum/average/max/min) of a slab of data e.g. in place of

[code]

have

[code]

The current viewer structure delegates much of the interaction to dask which does not give a window to allow this, e.g. using

[code]

## Motivation

We in the DIALS team are looking to rep

[2021-11-11 07:24] kevinyamauchi commented on #3600
Hey @graeme-winter ! Thanks for coming to the community meeting and for making the issue. As we discussed in the meeting, one option is to use plane rendering for things that fit in GPU memory (cc @alisterburt ). For doing the "slabbing" on the CPU, the "data source" refactor that is under discussion would probably be the way to go, but is not yet implemented. However, there may be some workaround

[2021-11-11 07:34] kevinyamauchi commented on #3600
Ah, maybe what you are looking for is the [uniform filter](https://dask-image.readthedocs.io/en/latest/dask_image.ndfilters.html#dask_image.ndfilters.uniform_filter) with shape `(10, 1, 1)` (~~or is it `(10, 0, 0)`?~~)for images that are ordered (time, y, x)

[2021-11-11 08:00] kevinyamauchi commented on #3600
I was curious, so I gave it a go and I think it is working for the `(10000, 100, 100)` image I tried (see the script below). You can toggle the visibility of the filtered and raw image layers to see the difference. As I mentioned, I am not a dask expert, so others may have better ways to implement it.

[code]

Do you think this would work for you, @graeme-winter ?

edit: you might need to adjust t

[2021-11-11 08:24] MosGeo opened #3601 "Disabled controls in widgets do not have the correct style"
## 🐛 Bug
When disabling a control using the setEnabled function, the styles of the controls are not correct. Note that the a qpushbutton become transparent and a qcombobox does not change the styling when it was disabled.

![image](https://user-images.githubusercontent.com/10503349/141262455-e00d556c-f28e-493b-b606-e30c9b254780.png)

## To Reproduce

Steps to reproduce the behavior:

[code]

I exp

[2021-11-11 08:36] jaimergp opened #3602 "Test bundle installation on CI?"
## 🧰 Task

Right now we have CI to test that the bundles can be _created_ across platforms, but we do not try to install them and see if at least we can get the `napari --help` output. We can always check the bundles locally and run the installation (which can take a few mins), but right now we don't have a consistent check protocol across OSs.

Thoughts? Is this a good idea or overkill?

[2021-11-11 08:49] alisterburt opened #3603 "Feature request: key-hold callbacks"
## 🚀 Feature
Auto repeating keypress callbacks

## Motivation
Sometimes I want an action to be repeated whilst a key is held down, rather than fired once on key press and once on key release.
A concrete example would be keyboard controls for the 3D camera, you don't want to repeatedly press the button to shift you by many small increments in a particular direction. Instead, you want to press and h

[2021-11-11 09:12] alisterburt commented on #3601
Hey @MosGeo - thanks for taking the time to put together a nice minimal example, I agree this looks wrong!

For the button, the piece of qss we have to modify can be found here

https://github.com/napari/napari/blob/8981dbc4a179850fd3524420d8b339ad31e793a9/napari/_qt/qt_resources/styles/00_base.qss#L85-L87

e.g. modifying this to
[code]
gives the following (which is also incorrect, just demonstrat

[2021-11-11 09:44] alisterburt commented on #3600
@kevinyamauchi I love it! We should definitely consider trying to add this to core napari. Possible routes to this have been discussed/half implemented before at #1744 #1820 (there's a whole rabbit hole to go down here if you choose, this is clearly something people have wanted for a while.

I like the idea of exposing this with a 'thickness' parameter associated with the point slicing that we do

[2021-11-11 10:18] graeme-winter commented on #3600
@kevinyamauchi nailed it thank you

added:

[code]

now we have a stack of 10 images. So: time to start looking at this as a UI toolkit.

I suspect that the average user would find a "thickness" parameter as suggested by @alisterburt pretty useful, but from here I think we can get what we need doing done. Totally appreciate the fast feedback! ++ kudos

[2021-11-11 10:19] kevinyamauchi commented on #3600
Given the planned changes to the data model, I would lean towards keeping this outside of core napari if there is a reasonable way to do so. Also, depending on the image size and filter type, I could imagine that there is some tuning (e.g., chunk size, tile size) to get reasonable performance, so it might be too "fiddly" to make a core feature. That being said, I think it would be awesome to see s

[2021-11-11 10:23] alisterburt commented on #3600
makes sense @kevinyamauchi ! Let's leave for now. I might turn your example into something for the docs over the weekend, it's super powerful and I'll definitely be using it too 🙂

Glad that should get you going @graeme-winter - I'll close this now but don't hesitate to reach out if you run into more issues!

[2021-11-11 10:24] kevinyamauchi commented on #3600
Great! I am happy you're able to move forward @graeme-winter ! Happy to chat about adding GUI elements, etc.  In case you haven't seen it, we have a "zulip" (kind of like slack) that is a great place to get more "realtime" feedback/discussion:  https://napari.zulipchat.com

Also, in case the uniform filter is too slow for your data, you could try the "coarsen" function. I haven't tried it, but I t

[2021-11-11 10:44] MosGeo commented on #3601
@alisterburt Thanks for the note. Interesting. This is my first time seeing qss. It looks very similar to css.

[2021-11-11 11:05] jni commented on #3600
@graeme-winter thanks for the issue!

Actually I want to say that this is in fact something we've wanted to have in napari pretty much since its inception, though the only mention I can find for it is the top item in [this list on #420](https://github.com/napari/napari/issues/420)! As you can see the item remains unticked :sweat_smile:, but we'll get there! So @kevinyamauchi @alisterburt I think I

[2021-11-11 11:42] alisterburt commented on #3600
I had come across `stride_tricks.as_strided` but not sliding window view, you just blew my mind @jni 🤯

[2021-11-11 12:04] jni commented on #3600
Recently ported to NumPy from scikit-image. :smiley:

[2021-11-11 12:08] jni commented on #3600
@graeme-winter et al, check #3604 for an example using magicgui to change the window size dynamically from the UI. :heart: :snake: + Dask.

[2021-11-11 12:12] tlambert03 commented on #3602
I'm for it if it's not too much trouble

[2021-11-11 15:27] alisterburt opened #3605 "Adding single item to empty vectors layer results in no drawn object"
## 🐛 Bug

Creating an empty vectors layer then adding vectors to it leads to all vectors except the first one being rendered.

I've dug into it a bit, the data appears to be correctly set on the napari side and it's just the rendering which is borked, I'm not sure if the problem is on the vispy side or something to do with how we're passing things to vispy in this situation.

https://user-images.g

[2021-11-11 17:27] #3596 closed, assigned to jaimergp

[2021-11-12 09:58] GenevieveBuckley opened #3608 "Discussion: synthetic data generation"
This afternoon I played around with synthetic data generation, after our discussion about it in today's meeting.

## Example

[code]
[code]
[code]

## Thoughts
- The scikit-image `binary_blobs` function is very slow to compute anything much bigger than 100 pixels cubed
- `scipy.ndimage.zoom` is a good fit for upsampling data
- We need Dask `blockwise` instead of `map_blocks` since we're upsampling

[2021-11-12 10:00] GenevieveBuckley commented on #3608
cc @jakirkham for general awareness, it's possible something similar might be useful for dask-image tutorials

[2021-11-12 17:41] jakirkham commented on #3608
Is there a scikit-image issue tracking this?

Did you try [scikit-image's `random_noise`]( https://scikit-image.org/docs/dev/api/skimage.util.html#skimage.util.random_noise )? If so and that was slow, would also suggest raising a scikit-image issue on this as well

Others probably know more about how to get Napari running smoothly. That said, there was some discussion in issue ( https://github.com

[2021-11-12 20:49] psobolewskiPhD opened #3610 "Point selection doesn't work at high zoom?"
## 🐛 Bug

When **really** zoomed in—pixel level—the point selection tool doesn't always select points.

https://user-images.githubusercontent.com/76622105/141532392-27a10d87-4e7b-4813-b5a5-c18e89e49daf.mp4

## To Reproduce

Steps to reproduce the behavior:

1. Open Astronaut sample
2. Add points layer
3. Make a few points
4. Zoom in on the points, select one and move it.
5. Repeat 4, zoom in, use

[2021-11-13 03:43] andy-sweet commented on #3357
I think I worked out what's causing this.

First, like @psobolewskiPhD mentioned, this border is the one associated with canvas. Or rather its central widget. You can see that by changing that widget's color:

[code]

![Screen Shot 2021-11-12 at 7 14 19 PM](https://user-images.githubusercontent.com/2608297/141604275-88f0a8c6-19c4-4db7-b274-37bb4af0bd96.png)

`VispyCanvas.central_widget` is a vispy

[2021-11-13 10:34] psobolewskiPhD commented on #3357
Wow, awesome detective work.
From my point of view:
In live napari the border—once you see it—is merely a nuisance, but in screenshots it's really annoying to have to crop out for clean figures. So option 1 would be perfectly fine.

Long term, the idea of a persistent 1 px border for all widgets by default seems, odd? Almost like test code leftover? By analogy, when I'm making tables I have cell b

[2021-11-13 12:25] #3565 closed, assigned to nobody

[2021-11-13 19:24] andy-sweet commented on #3357
Thanks for the comments @psobolewskiPhD. I reached out to the vispy maintainers on [their gitter](https://gitter.im/vispy/vispy) to check whether the border is intended and if they can think of any other possible fixes. Or if they would be open to a PR.

[2021-11-14 22:34] GenevieveBuckley commented on #3608
I don't know of one. It's probably not unsurprising that it's slow for large volumes.

I didn't use the scikit-image `random_noise` function, instead I was doing something reasonably similar with numpy. I think the slowness there was just that constructing a second large array, and multiplying it with the synthetic data array both take time. This might all be a lot more obvious when you look at da

[2021-11-15 02:29] sofroniewn commented on #3559
I was thinking about this more. While I think it makes sense for Points, I wonder if it will be annoying for people looking at timeseries data, you now get a middle timepoint. Maybe for Z-stack data it's ok?

Also, if we go with #2104 then if someone has points + a 3D image layer will the sliders now go out of bounds of the image to show black slices with parts of points. That might be a bit funny

[2021-11-15 04:36] nclack opened #3617 "npe2 dock widget TypeError"
## 🐛 Bug

Binding a `napari_experimental_provide_dock_widget()` function as the callable for a npe2 widget raises a TypeError when the corresponding menu item is invoked.

This is because some plugins return a `(callable,dict)` and other just the `callable`.

## To reproduce

1. Install the branch corresponding to  [tlambert03/npe2#26]
2. Adapt `napari-animation` to be a npe2 plugin. (e.g see [thi

[2021-11-15 06:23] sofroniewn opened #3619 "Vendored tests failing for darkdetect"
## 🧰 Task
There is a new version of [darkdetect](https://github.com/albertosottile/darkdetect) out now causing our vendored test to fail.

There was some discussion around whether to vendor or not in the original PR - see https://github.com/napari/napari/pull/3370#issuecomment-921321704, which lead to the test getting created.

Now that a new version is out, I'm curious should we just update all t

[2021-11-15 12:38] tlambert03 commented on #3617
That was intentional... I don't think `napari_experimental_provide_hookspec` is a particularly "good" interface that we should be bringing into npe2.  The whole point of the second dict there was to provide metadata, but now we have a better way to do it... npe2 doesn't need `napari_experimental_provide_hookspec` at all.

I'll note that there's also a case where the hookspec can return a list of `

[2021-11-15 12:51] grlee77 commented on #3559
Hmmm... yeah, I had not thought of this, but it does seem like that could happen for points that are more than twice the slider step size. I am not sure if excluding the point's radius from the extent is actually annoying users in practice? I noticed it caused a poor initial zoom when doing some tests on a layer with a single point, but that isn't a typical real-world use case.

[2021-11-15 13:33] Czaki commented on #3559
currently, when you load data with an empty first slice you will get also an empty slice. The question is which case is more often.

[2021-11-15 14:05] kevinyamauchi opened #3620 "Long layer names get cut off"
## 🐛 Bug

When layers have long names, they get cut off in the layer list.

cc @imagejan

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
It should be possible to see the name,.

## Environment

 - Please copy and paste the information at napari info option in help menubar here:

 - Any other relevant information:

## Additional context

[2021-11-15 16:55] andy-sweet commented on #1885
@sofroniewn: all the PRs originally associated with this issue have been merged or closed (in favor of other PRs).

I'm sure there are other layer performance improvements to come, but I think this issue has served its purpose, so I think we should close it - what do you think?

[2021-11-15 17:04] tlambert03 commented on #3619
it would also be nice to have this test on a cron job instead of PRs... not necessary to have PRs fail because our vendored code is behind

[2021-11-15 17:23] nclack commented on #3617
I was thinking that might be the case. I'm on board with that. It's an easy mistake to make though, so I'd like to address is somehow. I'll leave more comments in the PR.

[2021-11-15 18:58] sofroniewn commented on #3619
yeah, that's a good idea too!

[2021-11-15 19:28] sofroniewn commented on #1885
Agreed - i will close, thanks for flag!!

[2021-11-15 19:28] #1885 closed, assigned to nobody

[2021-11-15 22:00] isabela-pf commented on #3286
The easier solution (having an improved cross hairs design without any kind of zoom in or scaling) has been added for the Points tool via #3607. The PR has a great demo video attached at the top so you can see the interaction in action.

The only question I still have is if there are other pixel-perfect selections/tools in the napari viewer that might also benefit from switching to this cursor. I

[2021-11-15 22:06] isabela-pf commented on #3002
Update on persistent progress bars from the community meeting:

@DragaDoncila and I brought up the pros and cons of having a progress bar experience that is persistent/shows completed jobs. Overall the feedback was to start without that feature (since it brings up many implementation and design questions) and reassess it in the future. This seems to be more of a wish list item than a need.

[2021-11-16 00:31] #2400 closed, assigned to Czaki

[2021-11-16 00:36] #3589 closed, assigned to nobody

[2021-11-16 00:49] #3617 closed, assigned to nclack

[2021-11-16 01:02] tlambert03 opened #3622 "Task: develop tooling to evaluate public/private API usage of a napari-using package"
## 🧰 Task
As more and more packages start to build on napari  (regardless of whether they implement a hookspec or entry_points, or just use napari) it would be nice to have a better sense for what the heavily used public API surface is.  In parallel, it would be nice to have a metric to gauge how much of napari's private internals a given plugin is using.  @royerloic suggested that we could perhap

[2021-11-16 05:03] #3357 closed, assigned to andy-sweet

[2021-11-16 08:09] imagejan commented on #3620
Hovering the mouse over the layer name is sufficient to see the full name, but it would be great if the panel size was adjustable by dragging its border, just as the other panes (i.e. console and plugin dialogs).

[2021-11-16 09:56] guiwitz commented on #3578
Hi @RoccoDAnt,

this line:
[code]
is not a valid Pandas statement. If you want to create a dataframe from a dictionary, the elements of the dictionary have to be a list or array e.g.
[code]
Maybe it's just this that makes your plugin fail and then perturbs napari?

[2021-11-16 10:10] guiwitz opened #3623 "Tracks id not displaying"
## 🐛 Bug

There is an [unanswered question](https://forum.image.sc/t/id-for-each-cell-in-napari-viewer-is-not-diplayed/59956) on the image.sc forum about track IDs not displaying. Indeed, when using the simple example from the docs, the IDs cannot be displayed and an error appears in the terminal which seems related to something deeper in vispy.

## To Reproduce

1. Run the demo code:
[code]
2. Tr

[2021-11-16 11:31] quantumjot commented on #3623
I'm also having issues with this. Did something change in a recent update?

[code]

[2021-11-16 13:20] jni commented on #3623
I don't have time to delve into this right now but I recommend running git-bisect on this. We did make a few updates to our text handling to fix other bugs, but it might have caused this one if it was not covered by a test.

[2021-11-16 13:41] brisvag commented on #3620
I agree that the left are ashould be resizeable like the bottom and right dock widget areas. Are there reasons why we wouldn't want this?

[2021-11-16 13:44] brisvag opened #3624 "Docked widgets are resizeable outside of their enclosure"
## 🐛 Bug

While checking out how to address #3620, I found out this:

https://user-images.githubusercontent.com/23482191/141996124-b45e4cbf-052d-479d-8943-ea3c0bfc984f.mp4

## To Reproduce

Click and drag just a tiny bit to the right of the resizing handle of the right side area.

## Environment

[code]

[2021-11-16 13:54] RoccoDAnt commented on #3578
Hi @guiwitz very good observation. It was my error while reporting the issue, the dictionary had instead arrays like
`'Area': properties['area']`

Thanks for the good point anyway. As said I moved on by using another package but it might be relevant, as Pandas is foundational!

[2021-11-16 15:57] tlambert03 commented on #3624
yeah 😆 ... that's an unfortunate "easter egg" that I've come across myself.  would be nice to fix

[2021-11-16 17:38] chili-chiu commented on #3575
@alisterburt
The current behavior of having 2 or more image layers with transparency settings resulted in the mix of color.

Red image layer + blue image layer of binary blobs, each with alpha = 0.5 for blobs and alpha = 0 for background:
![image](https://user-images.githubusercontent.com/89602983/142033746-63465928-fe9b-4a2d-b16a-5f08e374fe78.png)
The overlap shows up as the mixed color (purple).

[2021-11-16 19:39] Carreau commented on #3619
@tlambert03  did #3626,

What we can even do is use https://github.com/marketplace/actions/create-pull-request so that when `tools/check_vendored_modules.py` find changes, it actually send a PR with updates.

Drawbacks is it will keep sending it until the first one is merge so we may want to use `0 2 * * 1` to only make PRs on monday :-)

[2021-11-16 19:43] Carreau commented on #3619
Actually correcting myself:

[2021-11-17 04:04] #3619 closed, assigned to nobody

[2021-11-17 09:40] VolkerH opened #3630 "Performance issues with many multi-scale (pyramid) layers"
## 🐛 Bug

I demo'd this issue briefly at the napari-Eurasia dev meeting.

## To Reproduce

Open a number of  multiscale image layers, I already see a severe drop in rendering performance with approx. 20 layers.
This is both with regular napari and with (as suggested by @jni) experimental ASYNC mode.

In comparison, a similar number of non-multiscale layers doesn't cause such severe performace issu

[2021-11-17 10:00] quantumjot commented on #3623
Thanks @jni - I might try to take a look myself and see when this stopped working. In anycase, I've never used git-bisect, so I'm curious to try it!

[2021-11-17 18:02] haesleinhuepf opened #3634 "pip install napari[all] doesn't work on Windows (pywin32 conflict between conda and pip)"
## 🐛 Bug

Hi all,

following up on a [discussion on image.sc](https://forum.image.sc/t/best-practice-for-scripting-napari-for-end-users/60077/17) I'm trying some napari installations on windows which fail regularily. Napari crashes right after installation in this case.

## To Reproduce

Steps to reproduce the behavior:

open a `cmd` terminal on Windows 10 and enter these commands:
[code]

This er

[2021-11-17 18:12] andy-sweet commented on #3026
Moved this into the icebox because we're planning to move forward with `ColorEncoding` vs. `ColorManager`.

[2021-11-17 18:18] andy-sweet commented on #3409
See the discussion on Zulip for some things tried here regarding wider fixes: https://napari.zulipchat.com/#narrow/stream/212875-general/topic/Thumbnails/near/261301624

I also think there is some ambiguity on what thumbnails are supposed to be (which is also described in Zulip), but let's leave this issue to specifically be about centering.

Unassigning myself to work on higher priority items.

[2021-11-17 18:22] haesleinhuepf commented on #3223
I was just able to reproduce a similar issue using this procedure:

[code]

Afterwards go to the `Plugin > Install/uninstall plugins` menu and install these plugins by clicking on their "Install" buttons:

* napari-animation
* napari-aicsimageio
* napari-allencell-segmenter

This error pops then up:
[code]

[full_error_log2.txt](https://github.com/napari/napari/files/7557019/full_error_log2.txt)

[2021-11-17 18:37] haesleinhuepf commented on #3223
One more similar issue. Using this procedure:

[code]

Afterwards go to the `Plugin > Install/uninstall plugins` menu and install this plugin by clicking on its "Install" button:

* napari-autoalign

This error pops then up:
[code]

[full_error_log3.txt](https://github.com/napari/napari/files/7557111/full_error_log3.txt)

I do have buildtools installed btw.

![image](https://user-images.githubuser

[2021-11-17 18:37] QuaternionsRock opened #3636 "Mutate evented objects in parallel whenever possible"
## 🧰 Task
`Viewer`'s `components.Dims` is often mutated in series, which causes more event emissions than necessary and therefore may impede performance; I suspect this may also be the case for various other evented objects. Whenever possible, napari should either (1) mutate evented objects in parallel, or (2) block evented objects' `utils.events.EventEmitter`s for the duration of the mutation.

F

[2021-11-17 18:44] haesleinhuepf commented on #3223
I can also reproduce the issue reported initially this issue using this procedure:
[code]

Afterwards go to the `Plugin > Install/uninstall plugins` menu and install this plugin by clicking on its "Install" button:

* stardist-napari

This error pops then up:
[code]

[full_error_log4.txt](https://github.com/napari/napari/files/7557174/full_error_log4.txt)

And afterwards, napari doesn't start anym

[2021-11-17 18:47] tlambert03 commented on #3636
Thanks @QuaternionsRock ... totally agree.  There is a lot of "less-than-optimal" event usage lurking around in the codebase.  Thanks for providing a very clear concrete one.

[2021-11-17 18:56] haesleinhuepf commented on #3223
@tlambert03 @sofroniewn Please consider this bug for spending some efforts on. These Windows issues are hard to reproduce, but it is definitelty possible. All I did today was starting from empty conda environments and installing random plugins. Earlier or later, the installer fails and potentially even breaks the environment. For end users without command-line-skills this can be a reason to stop t

[2021-11-17 19:00] sofroniewn commented on #3223
We’ll definitely keep looking into this - the more detailed examples should help a lot, thanks for providing them!

[2021-11-17 19:29] tlambert03 commented on #3634
I wasn't able to reproduce the following command worked for me on Windows 10 (19042).
[code]

I will note though, that your `appdirs` seems to be using `_get_win_folder_with_pywin32` instead of `._get_win_folder_with_ctypes` (which is what mine ends up with).

[code]

The relevant line in appdirs is [here](https://github.com/ActiveState/appdirs/blob/7af32e0b1fe57070ae8b5a717cdaebc094449518/appdirs

[2021-11-17 19:40] tlambert03 commented on #3634
in case it helps, here's my pip list:

[code]

and my sys.path:

[code]

[2021-11-17 19:58] tlambert03 commented on #3634
here were the items present in your environment that were not in my fresh install, perhaps they will help you track down environment issues:

bleach                        4.1.0
importlib-metadata            4.6.0
keyring                       23.0.1
pkginfo                       1.7.0
pywin32-ctypes                0.2.0
readme-renderer               29.0
requests-toolbelt             0.9.1
rfc398

[2021-11-17 20:05] tlambert03 commented on #3634
I'll also note that all of those things (which are just the requirements for twine) are not in your conda env... so they might be in some global user space (i.e. if you have ever used `pip install --user ...`)
I have no particular reason to suspect that any of those things are the problem, and if I install twine into my environment it brings `pywin32-ctypes`, and it _still_ works for me (though my

[2021-11-17 20:10] haesleinhuepf commented on #3634
It's in my base environment:
[code]

Does that mean I should uninstall conda and reinstall it again? I do this every 3-4 weeks anyway... :-)

[2021-11-17 20:14] tlambert03 commented on #3634
it _could_ mean that you've bonked your base environment... so I'd say it's worth a try.
(side note, I _really_ wish there was a way to lock that base env, see https://github.com/conda/conda/issues/7791)

but, before you do, can you run `conda list -n base` and see where `win32` came from?  (i.e. via pypi or conda?)

[2021-11-17 20:15] tlambert03 commented on #3634
you can also try to "unpip" your base env :)
https://twitter.com/TalleyJLambert/status/1283483071514398721

this is bash, so you'll need to convert for windows, but here's the idea:

[code]

[2021-11-17 20:18] haesleinhuepf commented on #3634
'conda list' says this:

[code]

Do I interpret that right, win32 wasn't installed via conda?

[code]
I'm definitely unable to translate that to windows batch 😆 I'm really not a command-line person. Really.

[2021-11-17 20:19] haesleinhuepf commented on #3634
`mamba`! I installed `mamba` intentionally in my base environment!

[2021-11-17 20:22] tlambert03 commented on #3634
huh...  I don't know enough about win32 ... usually even if you install with pip, it will show channel `pypi` there.  So it's possible that the win32 module is just distributed _with_ one of those others (like `pywin32`?)...  But really, your base looks kinda ok!

maybe, for fun, try `conda uninstall pywin32` in your base?

yeah, that's a weird line.  the gist is just "delete all packages that hav

[2021-11-17 20:27] tlambert03 commented on #3634
oh actually, check it out:
you got `pywin32 302` installed via pip in your `test` env, and you have `pywin32 301` via conda in your base env.  So there's probably a binary incompatibility going on there.

This is all why installing with conda is working fine for you (it will catch internal binary incompatibilities in many cases).  It's completely fine if you just prefer to use `conda install napar

[2021-11-17 20:27] haesleinhuepf commented on #3634
I just tried. In my `test_1` environment napari still doesn't work then, same error:
[code]

BUT: After `conda install pywin32` inside `test_1`, napari works again! 🥳

I will close this issue. Thanks 💯 for your help!

[2021-11-17 20:27] #3634 closed, assigned to nobody

[2021-11-17 20:28] haesleinhuepf commented on #3634
Yeah, a colleague recently gave that `conda install napari` hint. I never used it before and after 2-3 weeks of using it, I have the _feeling_ that conda works more stable than `pip install napari[all]`...

[2021-11-17 20:48] tlambert03 commented on #3223
this one states directly on the readme that you might run into that issue.  I believe that you have build tools installed, but there's likely a PATH issue preventing pip from finding the appropriate compiler.  That said, I would definitely say that this one is unfortunately up to plugin developers at the moment.  That is, a plugin that requires the end-user to compile something (or depends on a pa

[2021-11-17 21:19] tlambert03 commented on #3223
this one is failing because it tries and fails to uninstall numpy (so it can install an earlier version).  Probably the best we can do here is to try to catch special cases of packages that are going to _uninstall_ something as core as numpy during runtime, _block_ them from installing, and encourage you to install them without napari open (this is not dissimilar to the [issue you found with napar

[2021-11-17 21:42] tlambert03 commented on #3223
The first two here are fine... but `napari-allencell-segmenter` unfortunately explicitly [declares `pyqt5` in its requirements](https://github.com/AllenCell/napari-allencell-segmenter/blob/main/setup.py#L24).  Given that you've installed napari via conda, you will have the conda version of Qt (which unfortunately names itself `pyqt` instead of `pyqt5`...) and a conflict _will_ result from installi

[2021-11-17 21:48] tlambert03 commented on #3223
thanks, we don't really need "testing" per se, but we _do_ need problem solving/debugging help and we also need documentation.  If you wanted to help, but don't feel ready yet to debug these things, you could open a PR for a dos & don't's page listing some of the issues mentioned above, and some of the "gotchas" you've recently discovered when building your local environments.  See also https://gi

[2021-11-17 21:49] jaimergp commented on #3223
Agreed. Most of these things are bad interactions between `conda` and `pip`, which transcends what napari can do for its users. The _good_ part of reproducing them with a `conda` environment is that all the dependencies can be supplied with `conda` even if the plugins are installed with `pip`. The _bad_ part is that this is not easy to automate because (a) `pip` dependencies are often not specifie

[2021-11-17 21:52] tlambert03 commented on #3223
It would be nice to close this topic in favor of some more granular "tasks".  Installing plugins doesn't globally fail on windows (the topic could be called "napari-stardist" install fails in the builtin plugin installer when numpy installed via conda).  But there are definitely cases caused by both poor plugin development practice and user environment setup that we could try to make clearer with

[2021-11-17 22:28] melissawm commented on #3530
I am closing as this was fixed in #3563.

[2021-11-17 22:28] #3530 closed, assigned to Mishrasubha

[2021-11-17 22:45] jaimergp commented on #3223
I can install stardist after some "negotiations" :)

![Screen Shot 2021-11-17 at 11 27 15 PM](https://user-images.githubusercontent.com/2559438/142292513-d746d449-3559-4674-aa2d-4a52c8731cf5.png)

The important part here is to realize that reproducing these issues do not require napari at all. It's a Python packaging issue we can only circumvent by inspection, trial and error and experience. You c

[2021-11-17 22:46] tlambert03 commented on #3223
thanks you for writing that up @jaimergp ... I'm sure it will be helpful!

[2021-11-17 22:53] AhmetCanSolak opened #3658 "Request for summary on API reference"
I was going through the API reference on our website and I found it hard to understand what members a class has, like attributes/properties/methods. For example `napari.Viewer` : https://napari.org/docs/dev/api/napari.Viewer.html#napari.Viewer
I ended up scrolling whole page to see everthing `napari.Viewer` has.

I want to suggest here that a summary at the top of the page can be really nice.

Goo

[2021-11-17 23:11] Carreau opened #3642 "Test translation failing since forever since it runs in cron and check is visible nowhere."
See https://github.com/napari/napari/actions/workflows/test_translations.yml

I guess we could use https://github.com/marketplace/actions/create-an-issue or similar  for cron workflow to automatically open and update an issue when the cron fails.

[2021-11-17 23:51] sofroniewn commented on #3223
I'm +1 here. We can leave it another 24 hours for folks on different timezones to respond. But i feel like I might need to butcher Dostoevsky here - "All happy plugins are alike; each unhappy plugins is unhappy in its own way" - so getting more granular feels like the way to go

[2021-11-18 01:21] nclack commented on #3642
fwiw, it looks like the problem is the `calframe[1][3]` reference on this line [here](https://github.com/napari/napari/blob/76bafdaec166ab47f1cff2ec474648a9bebc9428/napari/settings/__init__.py#L57).

[2021-11-18 02:11] haesleinhuepf commented on #3223
Wow! Thanks @tlambert03 @jaimergp for figuring that out! I don't understand every detail but ok. Before we now close this issue, are there action items?

Is there something the napari-stardist developers can do, e.g. pinning keras or something? If so, would you mind telling them, e.g. here?
* https://github.com/stardist/stardist-napari/issues/3

It's hard for me to derive practical implications fr

[2021-11-18 02:27] haesleinhuepf commented on #3223
Also feel free to give the colleague here some hints if you can, he has a similar issue:
https://forum.image.sc/t/can-not-install-napari-stardist/60085

[2021-11-18 02:40] tlambert03 commented on #3223
- tell them what you told us in https://github.com/chanzuckerberg/napari-hub/discussions/299#discussioncomment-1528734 ... tell them that the cost of jumping on a speeding train that is just barely gaining its foothold is that sometimes things may break, and you're happy to fix them! 😉 and ask them to have a little patience, just as I was asking in https://github.com/chanzuckerberg/napari-hub/disc

[2021-11-18 02:49] sofroniewn commented on #3223
Thanks for some great discussion on this issue and a really thoughtful last comment from @tlambert03. I'm going to close this issue now and recommend more granular followups as need in new issues. Thanks again!

[2021-11-18 02:49] #3223 closed, assigned to jaimergp

[2021-11-18 03:26] sofroniewn commented on #3636
eek! Yes, definitely something that needs some attention. Thanks for flagging. Maybe @grlee77 or @andy-sweet can look into this one.

I have sometimes wondered about the value of having `dims.events.connect` (e.g. connecting to main class that get fired whenever any attribute changes) and not just the attributes `dims.events.ndim.connect`, but the ship has probably already sailed on that choice, a

[2021-11-18 07:20] kevinyamauchi commented on #3575
Thanks for making this issue, @chili-chiu and for the examples! From my understanding, the behavior you would like to add is:

- the ability to make "background" values (i.e., values below some intensity threshold) completely transparent.
- render the scene such that each pixel only shows the value most "in front" image

Did I understand correctly?

For the transparent background, one option is to

[2021-11-18 08:42] alisterburt commented on #3575
@kevinyamauchi this issue came about after @chili-chiu showed me the 'blending' mode in imaris. In this mode, the user plays with a widget which defines a mapping between intensity value and alpha value. This is similar to your plugin but rather than one threshold you define...
- a lower limit (below which `a=0`)
- a maximum alpha value (e.g. `0.8`)
- an upper limit (above which `a=a_max`).

We ra

[2021-11-18 09:00] alisterburt opened #3646 "View dependent artefacts for volumes rendered in `attenuated_mip`"
## 🐛 Bug

The dark streak in this video is the artefact being reported

https://user-images.githubusercontent.com/7307488/142382805-2fc25795-cc35-41a0-b0fd-c07dd99f4dc4.mp4

The amount of attenuation in our `attenuated_mip` mode depends on the distance from the start point of the ray. The start point of the ray is the first intersection of the ray with the data bounding box. The distance to the ce

[2021-11-18 11:48] melissawm commented on #3658
Out of curiosity, if you go to the page with the new theme, how does it look to you? https://napari.org/api/stable/index.html (Equivalent Viewer docs: https://napari.org/api/stable/napari.view_layers.Viewer.html)

[2021-11-18 14:37] grlee77 commented on #3636
Increases in the number of `dims` events was a concern in #3574 as well (there is an increase from *six* to *nine* for the example above when using that branch). I was looking at the event classes late last week and had noticed the connection to `dims.events.connect` as opposed to individual attributes, but hadn't looked into refactoring that yet.

[2021-11-18 16:29] kevinyamauchi commented on #3575
Thanks for the clarification, @alisterburt .

I believe this is what would happen if we properly set the depth buffer for each image (I think for both `translucent` and `opaque` blending modes). For each pixel, only the image closest to the screen would get rendered. However, the depth buffer is set by all of the visuals that have depth turned on, so they would potentially be other visuals "fighti

[2021-11-18 17:51] AhmetCanSolak commented on #3658
we have two docs now? I didn't know that.

New theme looks definitely better! ❤️

Is the equivalent https://napari.org/api/stable/napari.view_layers.Viewer.html or https://napari.org/api/stable/napari.Viewer.html ? I guess our API is little confusing here.

I am curious if we still can add a summary on https://napari.org/api/stable/napari.view_layers.Viewer.html for example. I am assuming this con

[2021-11-18 18:24] Carreau opened #3650 "Use imageio imwrite instead of imsave in notebook screenshot"
## 🧰 Task

See https://github.com/imageio/imageio/pull/688#issuecomment-973125411 for background.
Simple code is better code.

[2021-11-18 18:30] FirefoxMetzger commented on #3650
Note: `imsave` is simply an alias of `imwrite` (https://github.com/imageio/imageio/blob/f48bace7d9cbc1858814e0e26c7ed8895eee1012/imageio/__init__.py#L43); both functions can write to `"<bytes>"`.

[2021-11-18 19:29] chili-chiu opened #3651 "napari for beginners page"
## 📚 Documentation

Goal:
Create a page for people to know what napari does and have the first try efficiently.

Target audience:
- Know nothing about napari
- May or may not know Python
- Interested in image visualization and/or analysis

Possible contents:
- [ ] 3 minutes "napari overview" video
- [ ] Bullet point of main features
- [ ] Quick start tutorial : installation (viewer + plugins), ope

[2021-11-18 20:27] Czaki opened #3652 "Colormap `__iter__` breaks pydantic API"
## 🐛 Bug

Base on pydantic documentation it should be possible to call `dict` on an instance of `BaseModel` class to get dict of fields names to its values.  https://pydantic-docs.helpmanual.io/usage/models/#basic-model-usage

Using `dict` method still works, but in pydantic it creates deep conversion which may not be this what user wants:
[code]

The problematic part is here:
https://github.com/n

[2021-11-18 20:43] goanpeca opened #3653 "Sidebar on napari discussion"
# Description

An initial POC for sidebar implementation. This could be used for a couple of things:
- Add the help viewer to either side
- Move the plugin install/uninstall dialog to this place.

![sidebars](https://user-images.githubusercontent.com/3627835/115819448-73ffe600-a3c4-11eb-8492-bae05cde58ef.gif)

[2021-11-18 20:44] goanpeca commented on #3653
Original comment from @jni

---

tbh, I actually disagree about the VSCode sidebar. I really kinda hate it. Some specific issues I have:
- it takes up a significant amount of screen width for functions that one uses quite rarely (e.g. the account manager icon, or the preferences). I know, it's not a lot, but I find that when trying to have windows side by side it makes the difference between seein

[2021-11-18 20:49] goanpeca commented on #3642
It is kinda by design @Carreau, we basically do not bother users or contibutors with translations, but the maintainers fixes them on every release, so having that visibility would not help in the current workflow.

[2021-11-18 20:57] goanpeca commented on #3624
Is that related to magicgui @tlambert03 or the interaction within napari itself?

[2021-11-18 20:58] Carreau commented on #3642
Well I don't mean to make it visible in every PR – I agree this woudl be annoying, but I'd like something more obvious than "think about checking it every now and then". Hence why I suggest to auto open an issue when it starts failing.

[2021-11-18 21:00] goanpeca commented on #3642
Well as soon as there is a new release we will have a new issue open as soon as a PR "breaks" it, so we would go from very annoying to mildly annoying 🙃.

It is actually more like check that workflow when preparing a napari release.

[2021-11-18 21:50] DragaDoncila opened #3654 "Events reference is blank"
## 📚 Documentation
Hi team, @chili-chiu and I were hoping to make use of the recently merged events reference from #2750, however it appears the tables aren't being populated as we expected i.e. they're blank:

![image](https://user-images.githubusercontent.com/17995243/142502268-9db08b59-a89b-49df-b8eb-904df984386f.png)

[Reference link](https://napari.org/guides/stable/events_reference.html)

I

[2021-11-18 21:53] nclack commented on #3642
I may be misunderstanding something, but:

1. `test_strings.py::test_missing_translations` fails with an exception (hence my comment above). That looks like a bug to me?
2. even when 1 is fixed, napari fails the audit of missing strings. I guess this will be addressed before release.
3. it appears the visibility of the above issues has been low

Is there a way we can check that test_strings.py is

[2021-11-18 22:06] goanpeca commented on #3642
Hi @nclack

Agreed, that might need a fix!

Correct!

I guess we could do a check that checks that things do not fail, so that we ensure we have correct code running, but do not fail in case of missing strings checks, since as stated before, we do that as part of the release process.

We could eventually start enforcing translations checks on PRs, we just decided against for now. As soon as we hav

[2021-11-18 22:17] tlambert03 commented on #3654
my guess is that the `yarn build` command, that is used by the [github.io site](https://github.com/napari/napari.github.io/blob/main/package.json#L11) is not running the scripts that are [run in the napari repo](https://github.com/napari/napari/blob/main/Makefile#L7-L8) (specifically, `update_preference_docs` and `update_event_docs`)

there are a lot of cooks in this documentation kitchen :joy: ..

[2021-11-18 22:20] tlambert03 commented on #3624
the [AnimationWizard](https://github.com/napari/napari-animation/blob/54aa0e5df0c64105d78a43d872eddc59c42475a5/napari_animation/_qt/animation_widget.py#L20) in the above example doesn't use magicgui, so this is a generic QWidget problem.  Maybe something in our QDockWidget wrapper though?

[2021-11-18 22:21] goanpeca commented on #3624
Oh, ok, that narrows it down. Thanks!

[2021-11-18 22:39] tlambert03 commented on #3654
let me add a bit more detail here:

people paying attention to docs in the main napari repo (where most of the documentation source lives) pay attention to 1 or 2 things:

- the `Build & Publish Docs` workflow [here](https://github.com/napari/napari/blob/291a11a70fdc8210bf3053ec6bc0e3db3c416d1e/.github/workflows/make_docs.yml#L51)... which I kind of thought was the thing that built docs and pushed

[2021-11-18 22:51] DragaDoncila commented on #3654
LMAO

Yeah the docs build workflow is more complex than many of us realized as @melissawm is also discovering.

I'm not sure either. Pinging @kne42 - do you know what changes need to be made in `napari/napari` or `napari/napari.github.io` to make sure the `update_preferences_docs` and `update_events_docs` scripts are run and their results included in docs builds?

[2021-11-19 00:35] jwindhager opened #3659 "Access QDockWidget instances from dock widgets"
## 🚀 Feature
Expose `QDockWidget` instances to dock widgets

## Motivation
The original motivation for this was to adapt a widget's layout upon changing its dock location (e.g. `QVBoxLayout` for left/right, `QHBoxLayout` for top/bottom). This would require listening to [QDockWidget.dockLocationChanged](https://doc.qt.io/qt-5/qdockwidget.html#dockLocationChanged). However, currently, dock widgets i

[2021-11-19 00:54] AhmetCanSolak commented on #2976
It looks like this issue is addressed, so I am closing it.

[2021-11-19 00:54] #2976 closed, assigned to nobody

[2021-11-19 01:01] AhmetCanSolak commented on #3541
@sofroniewn could you update the links this issue? I think this is an important parameter and I like to make sure it is in the updated documentation.

[2021-11-19 01:39] Carreau commented on #3642
I think having an issue automatically opened when there are missing translation strings is also good for first time contributions.

1) It does not block the original PR author,
2) It's automatic once the PR is merged.
3) It's a well defined task that can be taken with someone w/o knowledge of the first PR
4) it's potentially less work for the release manager.

Even with many language pack, I think

[2021-11-19 01:49] tlambert03 commented on #3659
Howdie @jwindhager  👋

can you clarify what you mean there?  There's a little understandable semantic confusion here, I think of "dock widget" as actually the `QDockWidget`... but do you mean, "the QWidget that a plugin developer might make", _before_ it gets added to napari?

what about `parent()`?  wondering again whether you mean  that you don't have the `parent` until it gets docked?

A QWidge

[2021-11-19 01:52] tlambert03 commented on #3659
if the approach above doesn't work, all dock widgets are accessible in the private attribute `viewer.window._dock_widgets` ... not immediately sure we want to expose/promise that publicly, so let me know if the approach above isn't what you wanted

[2021-11-19 05:20] sofroniewn commented on #3541
I updated link. This issue was should actually have been closed by https://github.com/napari/napari.github.io/pull/147, the information is now there.

We actually have a proposal in #3019 to drop the channel axis parameter though. If you'd like us to keep it @AhmetCanSolak maybe you can weigh in there. Thanks!

[2021-11-19 05:20] #3541 closed, assigned to nobody

[2021-11-19 11:11] jaimergp commented on #3359
Practical demo in [this comment](https://github.com/napari/napari/issues/3223#issuecomment-972189348)

[2021-11-19 14:00] brisvag commented on #166
Was this closed by https://github.com/vispy/vispy/pull/1968?

[2021-11-19 14:06] brisvag commented on #320
This was made possible by #3023 and followups! Closing.

[2021-11-19 16:58] AhmetCanSolak commented on #3541
thank you for heads up @sofroniewn

[2021-11-19 17:45] brisvag commented on #2347
This was apparently fixed in v0.4.12!

EDIT: funnily enough, by my own unrelated PR :D #2995

[2021-11-19 17:45] #2347 closed, assigned to nobody

[2021-11-19 18:02] melissawm commented on #3654
Oops. that was a pure reference to "preferences" that got picked up by intersphinx instead of picking up the local doc. I'll fix that in a bit.

[2021-11-19 18:12] sofroniewn commented on #320
One comment just so folks know is that this only works on data small enough to fit on the GPU. Hopefully one day we'll extend to big data too!

[2021-11-19 18:41] tlambert03 commented on #3654
I'm also actually wondering if it _would_ work if the local doc were actually present.  that local doc gets built by [this script](https://github.com/napari/napari/blob/main/docs/_scripts/update_preference_docs.py) ... however, part of the point here is that the build pipeline being used at github.io isn't actually running that script...

[2021-11-19 18:51] goanpeca commented on #3642
Sounds good @Carreau, thanks for bringing this up. I will add the checks on PRs just to make sure we do not have incorrect python code (so not failing if missing strings, but failing if an exception is raised while running tests :) )

Could you work on the other side of it :) ?

[2021-11-19 20:02] chili-chiu opened #3661 "dead link to https://napari.org/docs/plugins/for_plugin_developers.html"
## 🐛 Bug

The link is mentioned here: https://napari-plugin-engine.readthedocs.io/en/latest/
See also: documentation for writing a napari plugin.

Is the documentation still somewhere?

[2021-11-19 20:08] melissawm commented on #3661
The current page is here: https://napari.org/plugins/stable/for_plugin_developers.html

The legacy versions documentation follows a pattern of `https://napari.org/docs/<version>/plugins/for_plugin_developers.html`, with the most recent one here: https://napari.org/docs/dev/plugins/for_plugin_developers.html

[2021-11-19 20:16] jwindhager commented on #3659
Hi @tlambert03, thanks so much for the extensive reply!

Indeed, that's precisely what I meant - sorry for the confusion.

Yes, I ran in to the issue that `parent()` was `None` in `__init__()`. Your example was super-helpful! I wasn't aware of `eventFilter()` and that this could be used to "catch" the parent. This now solved the problem for me. Thanks a lot!

[2021-11-19 20:16] #3659 closed, assigned to nobody

[2021-11-19 21:29] tlambert03 commented on #3661
thanks @chili-chiu, since those are the docs for the plugin engine itself, could you open an issue there?
https://github.com/napari/napari-plugin-engine

[2021-11-19 22:11] #3661 closed, assigned to nobody

[2021-11-19 22:28] jni commented on #320
Yeah to be honest I would consider reopening this given that it's quite unlikely #3023 is actually usable by @d-v-b. @perlman and I do see a future where the slicing logic is abstract and async enough for BDV-style slicing to work in napari.

Or do we want to open a new issue "BIG non-orthogonal slices of data"? :joy:

[2021-11-19 23:41] goanpeca commented on #3642
Updated the strings https://github.com/napari/napari/pull/3662/files

[2021-11-20 06:12] jni commented on #3642
Thanks both, I like the final decision here! :blush:

[2021-11-20 14:28] brisvag commented on #320
Right, I wasn't thinking of larger-than-memory data! I guess I'll reopen :)

[2021-11-20 16:59] tlambert03 opened #3664 "Plugin install filter feature inconsistent depending on timing"
## 🐛 Bug
See discussion at https://napari.zulipchat.com/#narrow/stream/212875-general/topic/.E2.9C.94.20Plugin.20installation

I think there are a few subtle issues going on in the plugin install filter field, such that depending on when you start typing, results may or may not appear, or, the filter may or may not be applied?
To reproduce, start napari, open the plugin installer, and try to start

[2021-11-21 06:44] #3624 closed, assigned to goanpeca

[2021-11-22 13:46] goanpeca commented on #3664
Yep I think that is another easter egg you have found 🤪

Will look into it !

[2021-11-22 16:51] brisvag opened #3667 "Removing and readding a 3D image layer is broken"
## 🐛 Bug

Re-adding a previously removed 3D image layer results in the following error and a failure to add the layer:

[code]

This only happens with *3D images*. 2D images are fine.

As appropriate, `git bisect` tells me that it was a regression introduced by *me*, over at #3333 :P

## To Reproduce

[code]
[code]

[2021-11-22 17:38] kevinyamauchi opened #3669 "Add ability to attach vispy Filter objects to layer visual"
## 🚀 Feature

I think it would be nice if we allowed users to attach vispy shader filters to layer visuals as a way to enable more customized rendering.

Some examples of things one can do with filters filters:
- wireframe for the mesh visual: https://github.com/napari/napari/issues/2970
- clipping planes (implemented by @brisvag ): https://github.com/vispy/vispy/blob/main/examples/scene/clipping_

[2021-11-22 17:59] brisvag commented on #3669
Definitely useful! Just for clarity:
- clipping_planes are already hooked up in napari layers with `experimental_clipping_planes`
- mesh filters will be super easy to implement after #3494 is merged (though you can already do it technically)

Clipping based on shapes is gonna be awesome!

[2021-11-22 18:14] maweigert commented on #3669
Yes, this would be very useful! Ideally, a napari layer would be able to attach a given filter to its visual, which currently needs a slight detour (or is there a better way?)

[code]

[2021-11-22 18:22] brisvag commented on #3669
That's the right way, for now!

The only communication between napari layers and vispy visuals is through events, so as kevin suggested we need to add an evented model for filters :)

[2021-11-22 18:23] kevinyamauchi commented on #3667
Haha, git bisect can be so cruel 😛

[2021-11-22 18:23] kevinyamauchi commented on #3667
Is this related? https://github.com/napari/napari/issues/3551

[2021-11-22 19:19] maweigert opened #3672 "calc_data_range() fails for large 1d data"
## 🐛 Bug

Currently, the calculation of data ranges fails for large (`len > 1e7`) one-dimensional arrays:

[code]

which e.g. will be triggered when constructing `Surface` layers with a large number of vertices/values:

[code]

## Environment

[code]

[2021-11-22 21:14] alisterburt commented on #3667
just checked and #3551 is still present with the proposed fix at #3670 so probably related but separate

[2021-11-22 22:25] snigdhaAgarwal commented on #1986
I have come across a similar use case. @chrisroat were you able to accomplish the task using napari?

[2021-11-22 22:31] Czaki commented on #1986
Not all performance tweaks are done, so I do not think that it will work now.

[2021-11-22 23:00] brisvag commented on #3551
This issue stems from the fact that we always create the layer in 2D and them change its display mode to 3D only when it gets added to the viewer. At that point, we switch over to the 3D interpolation setting, which was never set. In short:
- create layer in 2D
- set 2D interpolation to 'nearest'
- change display to 3D
- check what 3D interpolation is set to
- find the default, `linear`

[2021-11-22 23:01] brisvag commented on #3667
#3551 is not related. I explained why there!

[2021-11-22 23:48] #3664 closed, assigned to goanpeca

[2021-11-22 23:55] DragaDoncila commented on #3651
Thanks for starting this conversation @chili-chiu.

I actually think here we should assume they don't know Python i.e. they have run or written a few small notebooks, but are unfamiliar with programming/development practices, using the terminal, packaging, the GitHub workflow (e.g. opening issues or PRs).

I think we should spend a lot of time here making a detailed installation tutorial for the p

[2021-11-22 23:58] tlambert03 commented on #3651
nope the standard install method works fine on big sur now

[2021-11-23 02:05] sofroniewn commented on #1986
@snigdhaAgarwal if you do end up trying this out and run into problems let us know. Things should be better than before, especially if you only want to look at < 10 at a time (even though you have 1000s loaded). We should be able to improve performance here. Looking at 1000s at the same time will be tough!

[2021-11-23 02:18] sofroniewn commented on #3672
Thanks for flag. this should be a pretty straight-forward fix. Maybe @grlee77 can take it on when he gets a chance

[2021-11-23 02:22] #1801 closed, assigned to nobody

[2021-11-23 02:44] FudgeMunkey opened #3680 "Points properties are not equal if labels array ends with empty string"
## 🐛 Bug

I rewrote the `test_empty_points_with_properties` function using Hypothesis. There is an assertion error between `pts.current_properties` and `current_props` if the labels array has at least two elements where the last one is an empty string. For example, `["0", ""]` causes an error however, the following do not: `[""]` or `["", "0"]`.

## To Reproduce

This test generates a 1D array of

[2021-11-23 03:07] jojoelfe opened #3681 "Changing the mode of linked layers leads to RecursionError or crash"
## 🐛 Bug

When the mode of a layer that is linked to another layer is changed napari crashes for me without error most of the time, even though I sometimes have seen a RecursionError. It looks to me like the interactive attribute of the layer oscillates between True and False, thereby bypassing the equality check that prevents recursions.

## To Reproduce

Steps to reproduce the behavior:

1. Add

[2021-11-23 03:34] #3667 closed, assigned to nobody

[2021-11-23 04:07] grlee77 commented on #3672
sure, I will take a look

[2021-11-23 13:50] tlambert03 commented on #3681
thanks @jojoelfe ... fixed in #3684

[2021-11-23 13:52] tlambert03 commented on #3681
side question:
when we link layers, we exclude a couple key attributes like `data`, and `thumbnail`...  while #3684 does fix the recursion, I wonder whether we want to add `mode` and/or `interactive` to the properties that are excluded from linking?

[2021-11-23 14:31] #3672 closed, assigned to grlee77

[2021-11-23 14:52] jojoelfe commented on #3681
For transforming multiple layers there is a mild convenience when the mode is linked, because it will be active no matter which layer is selected:

![linked](https://user-images.githubusercontent.com/6081039/143046351-a7f98bd7-cf46-44d3-b533-0d8b9d127a8e.gif)

But the real magic is the linking of the affine attribute and I can imagine that linked modes become more complicated when layers of differ

[2021-11-23 18:13] #3681 closed, assigned to nobody

[2021-11-23 20:36] nclack opened #3685 "Support for npe2 in the plugin install dialog"
## 🧰 Task

The napari plugin install dialog should list installed npe2 plugins.

This requires
- [x] listing any installed npe2 plugins in the plugin install dialog #3694
- [x] #3924
- [x] #3925

Support for enable/disable requires some npe2 library support. See napari/npe2#36

[2021-11-23 20:43] goanpeca commented on #3685
Hi @nclack any pointers here :) ?

[2021-11-23 22:38] nclack commented on #3685
@goanpeca so many pointers! I've also been discussing this w @ppwadhwa.

See napari/napari-svg for an example of an npe2 enabled plugin. We can play around with a locally installed version of it to observe how it interacts with the plugin install dialog.

But first we need npe2 installed.  At the moment, napari/npe2 needs to be installed from source. Once you can successfully `import npe2` in your

[2021-11-23 22:52] roflmaostc opened #3686 "On headless Ubuntu server starting Napari crashes Python Session"
## 🐛 Bug

When loading Napari on a headless server remotely it crashes the Python terminal.
I've seen a few issues regarding usage of it. I'm not primarily interested in using it but to prevent that the full session crashes.
Maybe I got also lost and the same issue is already existing?

## To Reproduce

[code]

## Expected behavior

A error message probably? Or a warning but not Python crash.

##

[2021-11-23 23:41] schoinh commented on #3620
I came here to post about this same issue, specifically to request that the left panel width be made adjustable.

We're working on the AICS segmenter plugin, and as it gets more complex, we are currently appending information about layers created during a workflow to the layer name. So the layer names are getting longer, with important distinguishing info often at the end of the layer name, and th

[2021-11-24 00:03] schoinh commented on #3620
Seems closely related to #2470

[2021-11-24 10:45] Czaki commented on #3686
What scenario you would like to support?
Headless server is a server without GUI?

If the server has no GUI then what do you expect when you call the method to show the image in a window.

This message told that napari cannot find an engine to create the Window.

Running python interpreter under xvfb may solve this problem `xvfb-run python`

[2021-11-24 12:51] roflmaostc commented on #3686
I would expect a error message but instead the whole python shell dies.
So potentially all calculation and variables are gone.

[2021-11-24 13:30] tlambert03 commented on #3686
One thing you can try:
Just uninstall qtpy in your environment, napari should still work without the gui. And you won't get qt errors like that

[2021-11-24 14:17] tlambert03 commented on #3685
as mentioned elsewhere: I _don't_ think we should support this case of providing double entrypoints.  so don't spend too much time trying to deduplicate things that do that.

@goanpeca ... I would just a hook to iterate over the registered plugins in the npe2 plugin manager around here: https://github.com/napari/napari/blob/64b7a9541815f2f9ab357993d7876c5e66eda78f/napari/_qt/dialogs/qt_plugin_dial

[2021-11-24 14:37] jojoelfe opened #3688 "Setting .affine attribute of image layers resets contrast_limits"
## 🐛 Bug

Changing the affine attribute of the image layer resets the displayed contrast_limit ( image looks like default, the .contrast_limits attribute of the layer is unchanged).

## To Reproduce

Steps to reproduce the behavior:

1. Change contrast limits of an image
2. Set .affine property `viewer.layers.selection.active.affine = napari.utils.transforms.Affine()`
3. Image will look like befor

[2021-11-24 16:00] goanpeca commented on #3620
Will start working on this :)

[2021-11-24 19:16] Carreau opened #3690 "Test seem to be tearing down QApp when they should not ?"
Ok, this is fairly complex:

Apply this given patch:

[code]
This will make IPython use one less thread, and not access disk during test.

And run this minimal test suite:

[code]

You will get something along

[code]

Now if you _add_ or _remove_ tests, it might not be the case anymore.

My understanding is that this is due to subtle interaction between a few things in many placed.

1) test_examp

[2021-11-24 19:40] roflmaostc commented on #3686
That probably could work.

But the main issue is: Napari.jl (Julia wrapper) automatically installs all deps when you import it. So I didn't install anything by hand. However, during import of Napari.jl it crashes the full Julia session.

And I thought the reason is that also Napari crashes the full Python session (when opened)-
Is that fundamentally because qt kills the Python terminal? Why is it

[2021-11-24 19:49] Czaki commented on #3686
Yes. Qt kills process when cannot create QApplication.

To solve your problem there is a need to add some code that will check if GUI could be created before creating a QApplication instance. But I do not do such a thing before.

[2021-11-24 20:10] Czaki opened #3691 "Add option to hide technical layers from layer list in GUI interface"
## 🚀 Feature

Add possibility to hide technical layers from layer list in the interface

## Motivation

When creating advanced widgets which add some information to canvas (like for 3D activity from today's "napari euro dev sync" meeting) the layer list is polluted with multiple layers which should not be controlled by the user, and also make the interface less readable and make harder to access t

[2021-11-24 20:22] tlambert03 commented on #3686
yes, as @Czaki mentioned, this is a Qt thing.  (plenty of discussion online about this, but [this thread](https://www.riverbankcomputing.com/pipermail/pyqt/2017-July/039411.html) on the pyqt mailing list is useful).

you'll note that napari overrides sys.excepthook [here](https://github.com/napari/napari/blob/65c624cbd55102775d316568e28d284bb597f596/napari/utils/notifications.py#L227) in order to

[2021-11-24 20:28] Czaki commented on #3686
This prevents only from aborting on python exception. If Qt calls directly std:::exit or equivalent then I do not know a method to prevent the close of the application.

[2021-11-24 20:28] tlambert03 commented on #3690
interesting points.  I'm roughly following, and it definitely makes sense that it could all be relevant!

I think this is well worth a try.  I mean, even just skipping examples on CI altogether and seeing if it helps is a start.  (We used to do that, and we can go back there, if it's easier to make it independent of PR tests that fine)

[2021-11-24 21:02] Czaki commented on #3686
Ok. I Check Qt codebase and halt is done here https://github.com/qt/qtbase/blob/3ba1a196aaac8f480c0fcb4fc005c1f4e7d7f88b/src/gui/kernel/qguiapplication.cpp#L1242

But when checking Qt documentation it looks like it is possible to prevent this failure: https://doc.qt.io/qt-5/qtglobal.html#qFatal And here is a function to register handler https://doc.qt.io/qt-5/qtglobal.html#qInstallMessageHandler,

[2021-11-24 21:07] tlambert03 commented on #3686
sounds like it wont help... but just fyi, superqt has a [convenience](https://github.com/napari/superqt/blob/0681f7138af27858aa6d6d5ae933989abfe371d8/src/superqt/utils/_message_handler.py#L18) around installing a message handler:

[code]

but I think I also recall that qFatal goes below it

[2021-11-24 22:17] isabela-pf commented on #3540
I'm not sure if my zulip skills are failing me (likely), but I'm not seeing a thread for this in zulip yet. If this is the case, I'm happy to start a thread (in #sprints maybe?).

This just came across my path via the [Dask community issue linked above](https://github.com/dask/community/issues/193) and I wanted to weigh in because I'd be happy to help make this happen if there's interest. I've run

[2021-11-24 22:30] tlambert03 opened #3693 "Tests failing due to vispy deprecation"
## 🐛 Bug
Tests are now failing because we use a vispy API internally that we also deprecated 😄

[code]

didn't look to deeply, but it wasn't immediately clear to me what we need to change to remove the warning.  @brisvag, can you update our code for this?

[2021-11-24 22:41] GenevieveBuckley commented on #3540
@isabela-pf I don't think there's any reason we need to wait for other people - if you're happy to take the lead and organise something that would be great.

[2021-11-24 22:55] brisvag commented on #3693
These deprecations are fixed by #3494; however, that one is blocked due to another CI failure, which in turn is seemingly unrelated and popping up in other PRs (macos tests).

[2021-11-24 23:16] goanpeca commented on #3540
Happy to help @isabela-pf if you need a helping hand :) !

[2021-11-25 01:04] Carreau commented on #3693
I'm still tracking down the core of those mac failures. It's still unclear. I have found many related issues that I'm fixing one by one. Maybe we should skip those test for now on mac ?

[2021-11-25 01:05] Carreau commented on #3693
(I'm hopping #3695 might help??)

[2021-11-25 01:26] sofroniewn commented on #3693
@Carreau is it ok if i go ahead and merge in #3494 now? and then we update tests in a followup PR

[2021-11-25 01:27] #3231 closed, assigned to liaprins-czi

[2021-11-25 01:54] Carreau commented on #3693
Sure !

[2021-11-25 12:20] jni commented on #3688
Hmm, it doesn't reset it for me (using `examples/add_grayscale_image.py`), but it definitely messes with it! Thanks for the report @jojoelfe.

[2021-11-25 12:27] jojoelfe commented on #3688
I have tested it with `examples/add_image.py` and there the effect is much stronger. Not sure if it's because of RGB or 8bit vs 16bit.

[2021-11-25 13:50] brisvag commented on #2637
Closed by #3494.

[2021-11-25 13:50] #2637 closed, assigned to nobody

[2021-11-25 13:51] brisvag commented on #3077
Closed by #3494.

[2021-11-25 13:51] #3077 closed, assigned to nobody

[2021-11-25 13:52] brisvag commented on #3301
Closed by #3494.

[2021-11-25 13:52] #3301 closed, assigned to nobody

[2021-11-25 13:55] brisvag commented on #1310
After #3494 this does not crash anymore; However, it seems that it's worse than I tought: the whole layer becomes black, even though only part of it is`nan`, which is pretty bad.

[2021-11-25 15:16] brisvag opened #3698 "Contrast limits range with dask data"
## 🚀 Feature
Right now, if a `dask` array is passed to `Image`, the contrast limits range will be set to `0, 1` (same for anything that's not `np.ndarray`). This is unfortunately really bad with some of my data (which can sometimes be between `-0.0001` and +`0.0001`,  or similarly tiny ranges). Now, I know that I can manually set these limits, but what if I don't know this?

At a first glance, it

[2021-11-26 00:36] GenevieveBuckley commented on #1310
Is that behaviour a vispy thing, or is there something strange about the way napari is interacting with vispy?

[2021-11-26 09:40] MosGeo commented on #3466
Here is my initial thinking on the subject after reading #1570

# Concept
Design a general locker to hold keys (dictionary of keys) for any object. The locker would be attached to the object (mainly layer at the start but it is generic). It is basically the dictionary concept in #1570.

# Details
- Each key holds its status (locked or unlocked), a value (e.g., the maximum number of layers), and a

[2021-11-26 09:42] brisvag commented on #1310
After some quick tests, it appears to be a napari thing. I'll dive in a bit more!

[2021-11-26 10:23] Czaki opened #3700 "Error not shown proprly if error contains `<` in text"
## 🐛 Bug
Traceback from napari Traceback view:
[code]

Traceback from terminal:

[code]
As You could see, when  `<` occurs these parts are not properly rendered

## To Reproduce

Steps to reproduce the behavior:

1. Raise exception with `<` in the description in napari viewer.
2.
3.

## Expected behavior

Same text in napari window and console.

## Environment
napari: 0.4.12
Platform: Linux-5.11.0

[2021-11-26 18:08] sofroniewn commented on #3466
Thanks for the detailed proposal here.

I guess this is something that we can make sure we respect internally, but we might not find high compliance from plugins/ external API calls.

Another approach might be to add something to our EventedModels, maybe a LockableEventedModel which would check the "lock" on setting and actually prevent setting if the lock was applied. We still need to make our la

[2021-11-26 18:35] sofroniewn commented on #3698
i think we used to guess, but then we changed the behaviour, cc @jni @tlambert03. There are some closed issues that discuss this for sure

[2021-11-27 11:49] haesleinhuepf opened #3704 "Deprecation warnings when using thread_worker"
## 🐛 Bug

Hi all,

I'm facing deprecation warnings like this one when using the napari `thread_worker`:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Set up an environment:
[code]
2. Save the following code to `threading_test.py`:
[code]
3. run it using `python threading_test.py`.
4. Move your mouse over the canvas and there will be many deprecation warnings:

![image](https://user

[2021-11-27 15:24] tlambert03 commented on #3466
yeah, this feels like a bad idea to me.  i suspect that approximately no one will check this, making it effectively useless.  A lock should be a lock.

I think this needs to be implemented in `__setattr__`.  As @sofroniewn mentioned, pydantic does provide a frozen/allows-mutation switch, however this is set at the class level (not the instance level), which means we'd still need to do some mucking

[2021-11-27 16:20] tlambert03 commented on #3704
this probably isn't due to the threadworker, but rather implicit casting of some Qt enum into an int somewhere else in the code.  I wasn't able to reproduce this with the environment provided (but on mac)... but I have certainly seen something like this before.  I suspect if you use a newer version of qt you won't see it (so you'd have to `conda uninstall pyqt; pip install pyqt5`...

it would requ

[2021-11-27 16:22] tlambert03 commented on #3698
it _should_ schedule an autoscale to happen [right here](https://github.com/napari/napari/blob/6ba0845de10dcd63b2583dcc719454358b0f5b2a/napari/layers/image/image.py#L311), which should execute [right here](https://github.com/napari/napari/blob/6ba0845de10dcd63b2583dcc719454358b0f5b2a/napari/layers/image/image.py#L681) using the data from the first view chunk ... can you maybe try to confirm that t

[2021-11-27 17:20] brisvag commented on #3698
Actually, after trying again with different data, everything seemed to work fine. I need to get back to the office and try with that first data I had to make sure it wasn't somwthing wrong with the data itself.

[2021-11-27 17:34] haesleinhuepf commented on #3704
Thanks for the reply Talley @tlambert03!

That seems increadibly hard as I need to find from where this code is called. I went a bit in the other direction: Where does a thread-worker invoke anything that is related to vispy or QEnums, and couldn't find anything.

Anyway, the bug goes away by updating pyqt5 to >= 5.15.0. Does anything speak against specifying that version as dependency in napari?

[2021-11-27 18:05] tlambert03 commented on #3704
Yes, the fact that it's unavailable on conda-forge

As mentioned, I think the threadworker is a red herring...

[2021-11-27 18:12] haesleinhuepf commented on #3704
Yes, I understand. But why does it only happen in case the thread_worker is activated? (-:

[2021-11-27 18:15] tlambert03 commented on #3704
I would start at
`site-packages\vispy\app\backends\_qt.py:627`, throw an exception or breakpoint there, perhaps use the "enter debugger" button in napari when your exception gets raised.  Unfortunately, until I can cause it to happen I can't test locally

[2021-11-27 21:51] tlambert03 commented on #3704
just tried on my windows system, still no luck in reproducing it
[code]

[2021-11-28 08:45] MosGeo commented on #3466
@sofroniewn @tlambert03 Thanks for the guidance.

1. Using __setattr__ is possible to check for locks simply using the below for the base layer. I've tested it and I was able to lock the name property for example. if it is a lock, we can raise an error or a warning or do something.

[code]

2. I am still not sure what is the best way to have two lock modes: actual lock, and a lock to stop only int

[2021-11-28 17:29] sofroniewn commented on #3466
It does make sense to me that a plugin dev might want to lock a property from being editable in the GUI, but keep letting it be edited by the plugin itself. I'll have to think more about the different possible implementations, but I think I get the use case

[2021-11-28 18:19] Czaki commented on #3466
One option to workaround this is to keep a local reference to the layer (in the widget) and add it again if it is missed in layertlist. Current napari release allow adding again removed layer.

[2021-11-28 19:37] Czaki opened #3708 "Add API for updating properties with new values"
## 🚀 Feature

Add API to update properties with new values, without removing this already in properties of layer

## Motivation

When creating plugins for napari I found that part of my segmentation methods set properties for components. But also I would like to set layers properties from the measurements widget. But simple assignments remove properties set by segmentation. Of course, I could (and

[2021-11-29 15:59] pskeshu opened #3713 "PySide2 rcc binary not found"
I get this traceback when I try `viewer = napari.view_image(imgs, name="image")`

[code]

[2021-11-29 16:08] pskeshu commented on #3713
These are the binaries at `pyside_root`

[code]

[2021-11-29 16:14] pskeshu commented on #3713
interestingly, running napari in command line works. napari in interactive python interpreter seems fine too.

[code]

[2021-11-30 02:12] MosGeo commented on #3704
I remember seeing a might be related depreciation warning regarding implicit functions when using pytorch/fastai. It seems thread worker converts something to implicit. I will dig it up when I have time.

[2021-11-30 04:18] MosGeo commented on #3466
Yes. That is one option for this specific use case. As napari is looking for a general solution for any property (per #1570), I thought it would be good to design the more general solution that would encompass this use case.

[2021-11-30 09:25] Czaki commented on #3466
To implement properly permissions there is a need to implement also ownership to release permission when controlling widget/object was deleted, or just some sudo mode. To allow user delete a layer, without the need of napari restart, if there was some error in plugin code which corrupt object.

[2021-11-30 16:35] brisvag opened #3719 "Creating points in 3D on a 2D layer"
## 🐛 Bug

#3508 Introduced the ability to create points in 3D. However, if one tries to add points while in 3D to a 2D layer, the behaviour is quite surprising.

https://user-images.githubusercontent.com/23482191/144088048-769f05a3-a754-4bc8-890e-a02761fb642c.mp4

## To Reproduce

[code]

## Expected behavior

Either we should upgrade the layer to 3D (my preferred behaviour, but I understand this

[2021-11-30 17:22] dgmccart commented on #3651
I think for this page to be most effective we should assume they are completely new to image visualization and analysis. Capturing the folks that need the most hand-holding will be challenging, but I think doing this from the start will save work in the future.

[2021-11-30 18:10] andy-sweet commented on #3410
Removed myself from this because it has multiple assignees and because it may be something that is fixed by general updates to slicing.

[2021-11-30 18:57] goanpeca opened #3720 "Move napari to start using the Hub API"
## 🚀 Feature

Move napari plugin manager dialog to use the hub API

## Motivation

Use napari hub as the source of truth.

## Additional context

The current endpoints for the napari hub API are as follows

https://api.napari-hub.org/plugins gives the full list of available plugins (plugin developers can "hide" deprecated or pre-release plugins, so this list is smaller than what PyPI returns)
http

[2021-11-30 19:04] neuromusic commented on #3651
I think its important here to be a bit more specific with the goal of this page.

I'd argue that the _primary_ goal here should be "Create a page for people to know what napari does" and the secondary goal is "have the first try efficiently."...

The first goal is relevant to a very broad audience (Python and non-Python alike), then they will decide whether or not to pursue the second.

For all of

[2021-11-30 20:21] DragaDoncila commented on #3651
I'm not sure that I agree with this. I do think that in the longer term the bundled app will be the "solution" for inexperienced users. However, even if the bundled app gains feature parity with the package, I think interacting with napari programmatically will still remain a huge benefit of the application.

We've often talked about napari being a "gateway to Python" or more specifically "a gatew

[2021-11-30 20:41] chili-chiu commented on #3651
Napari's access to Python is certainly a feature worth highlighting, and we can explicitly showcase it as a "feature" not a "requirement".

We can:
(1) Show it in the short video, along with other GUI interactions
(2) List it under bullet point of main features

As for installation and in general, perhaps only offer the most straightforward method (even if it only works 80% of the time)
and avoid

[2021-11-30 20:51] psobolewskiPhD commented on #3651
I will say from experience: a sufficiently captivated user will put up with a lot of difficulties in installation—if they see the rainbow. The speed, versatility, and extensibility of napari (thanks to the python eco-system) are the rainbow. 🌈
(Warning: the rainbow can be addictive!)

Also, for me, the layer model of napari *really* clicked. To me, it's much more intuitive—and convenient—than mult

[2021-11-30 21:01] kevinyamauchi commented on #3719
Ah yeah, that's definitely not ideal...I am actually not totally sure how a 2D layer is displayed in 3D. Does it align the 3D layers 0 and 1 axis with the 0 and 1 axis of the 3d layer?

I think in any case it will be a little confusing, as it won't be clear where the plane of the 2D points player is. Perhaps it's best to disallow adding points to 2D layers in 3D?

[2021-11-30 22:51] brisvag commented on #3719
The problem actually only shows up if no 3D layer is present.

[code]

This works fine. If however you delete the image layer, things start misbehaving again. It seems that axes alignment is doing something weird!

[2021-11-30 23:13] jni commented on #3559
@sofroniewn doesn't this assume that the points centroid is outside of the image space? I don't think that would be a common scenario?

Having worked with a lot of time series recently, I think this is actually ok. Typically at the start of the time series, nothing much is going on, and the middle/end really differentiates between the different treatment samples. So I think in this context it woul

[2021-11-30 23:33] sofroniewn commented on #3559
Ok, all good - thanks for weighing in @jni let's press on with #3718 then

[2021-12-01 00:26] neuromusic commented on #3651
Oh agreed there @DragaDoncila !! By "bending over backward" I was more referring to exhaustive documentation on all of the pitfalls of getting things like Python environments and paths working properly. We should absolutely include a clear, concise opinionated guide to getting napari installed on a clean system.

[2021-12-01 04:09] jni opened #3723 "Setting the camera center also resets the zoom"
## 🐛 Bug

Additionally, there appears to be a race condition during which the model and VisPy view fall out of sync.

Motivated by this imagesc post:

https://forum.image.sc/t/different-ways-to-control-camera-in-napari/60552

[code]

If you then open the console and `print(viewer.camera.zoom)`, you'll get 0.2something.

I had a look at the code, and nothing on our end is actually doing the zoom se

[2021-12-01 09:10] Czaki opened #3724 "Traceback copied with copy button contains terminal color commands"
## 🐛 Bug

Traceback copied with copy button contains terminal color commands. Here button marked:

![Zrzut ekranu z 2021-12-01 10-03-16](https://user-images.githubusercontent.com/3826210/144204349-a5ea816c-2bbc-45c8-a9db-9659ea9f02e4.png)

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Generate traceback
2. Open Plugins > Plugin error.., select plugin
3. click copy button
4. paste t

[2021-12-01 09:29] Czaki opened #3725 "Reordering layers remove translation grid"
## 🐛 Bug

When reordering layers, the information about the translation grid is set to 0.

## To Reproduce

Steps to reproduce the behavior:

1. run code:
[code]
![Zrzut ekranu z 2021-12-01 10-21-14](https://user-images.githubusercontent.com/3826210/144207986-450bc0f7-83de-4c64-b802-98337511551c.png)
2. reorder ~axes~ layers
![Zrzut ekranu z 2021-12-01 10-27-17](https://user-images.githubuserconte

[2021-12-01 10:30] Czaki opened #3726 "Crash label rendering on switch to 3d view"
## 🐛 Bug

When tying to reproduce another error with minimal working example and switch to current `main` I got crash when try to reproduce it.

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Run
[code]
2. Switch to 3d view

## Expected behavior

Render 3d view as in 0.4.12

## Environment

 - Please copy and paste the information at napari info option in help menubar here:

 - Any

[2021-12-01 11:12] Czaki opened #3727 "Removing label and add a new one label makes a new label transparent"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

Full reproduce:

https://user-images.githubusercontent.com/3826210/144221551-e19f8b29-62a3-494c-a98d-289a913ec152.mp4

1. Install PartSeg
2. load image and lables
3. Select Plugins > PartSeg widgets > Search Label
4. iterate through labels using `"label number"
5. click "Stop" button
6. Change to another "label number"

To got properly r

[2021-12-01 12:11] jni commented on #3727
@Czaki but is this not to be expected with `blending='additive'`?

[2021-12-01 12:23] Czaki commented on #3727
the core of problem is that adding layer first produces different result than adding it again after removing previous one. And first version is selected when reorder axist. Maybe proper rendering is after remove/add step. But this is still a bug. (change orgder of layers should not impact on rendering mode).

[2021-12-01 12:32] Czaki commented on #3727
I also observe a similar problem with translucent, but cannot reproduce it now.

[2021-12-01 13:00] kevinyamauchi commented on #3726
Thank you for the bug report and the minimal reproducible example! I was able to use it to hunt down the commit that caused the regression (#3494). From the error, it looks like a typo was introduced into the shader, but we need to look deeper.

[2021-12-01 13:17] kevinyamauchi commented on #3726
I dug around a bit and I think a bug is in the `iso_categorical` frag shader: https://github.com/napari/napari/blob/d0b6b3f17298578f157188b50b2660e533c10d97/napari/_vispy/visuals/volume.py

@alisterburt and @brisvag , would you mind taking a look. I spent some time looking for the typo and I can't find it yet :P

@Czaki as a near term workaround, you can set the labels `rendering` mode to `translu

[2021-12-01 13:28] quantumjot commented on #3623
I just had chance to try `git-bisect` on this, using  `examples/tracks_3d_with_graph.py`. The bad commit is:

[code]

so it looks like something got broken during the vispy module cleanup.

[2021-12-01 14:04] quantumjot commented on #3623
I think I've identified the source of the bug here (@brisvag - correct me if I'm wrong!).

In the cleanup of the _vispy module (#3333), the compound visual for the tracks layer had two separate shaders attached to the line visuals, and nothing to the text visual, whereas in the new version, a single shader is applied to all subvisuals:

https://github.com/napari/napari/blob/7d5707390e876746440e0af

[2021-12-01 15:07] brisvag commented on #3726
I'm very confused! This code is the same as before, it's just shiffled around so it fits inside the same string, rather than being at the top of the shader. My best guess at the moment is that somehow defining functions inside that part of the shader is broken. I tried adding this line at the top:

[code]
and I get this error, basically the same:
[code]

EDIT: I also tried moving them outside the

[2021-12-01 15:20] brisvag commented on #3623
Yes, I think you're right! Actually, it seems that I wrote [a comment about this](https://github.com/napari/napari/pull/3333#issuecomment-915005470) in that PR asking about this, but got no feedback :P

If it's possible to attach the same filter to multiple visuals, we still don't need multiple filters; otherwise, we should split it out again.

[2021-12-01 15:26] brisvag commented on #3623
Opened a PR to fix this at #3729. It seems that reusing the same filter works fine :)

[2021-12-01 15:28] kevinyamauchi commented on #3726
Thanks for having a look @brisvag . Very puzzling indeed. I didn't follow along with #3494. Is there maybe something farther upstream that we need to fix or change?

[2021-12-01 15:32] kevinyamauchi commented on #3726
Maybe we can call to discuss in the coming days?

[2021-12-01 15:35] brisvag commented on #3726
Can confirm that the same issue arises in pure vispy if I declare a function inside a function. I think this might be a limitation of glsl that I was simply not aware of :P If that's it, we can get around it by using the `Function` object from vispy, which then compiles properly (in theory).

[2021-12-01 16:16] quantumjot commented on #3623
Cool - thanks @brisvag.  However,  I think this may still fail if you have any `graph` data, since the vertex buffers would need to store different data.  Does the PR work with `examples/tracks_3d_with_graph.py`

[2021-12-01 16:26] brisvag commented on #3623
Nope, doesn't work, you're right. I reverted to using two instances.

[2021-12-01 20:00] haesleinhuepf opened #3732 "✨ Warnings appear more "alarming" than error messages"
### Overview of design need
In napari's notification windows, error messages appear less dramatic than warnings. A user could easily miss that a problem exists.

When python raises an error, the notification looks rather un-dramatic in napari:
![image](https://user-images.githubusercontent.com/12660498/144304424-4bbfd3f8-e008-411b-9e5c-5873f414f1a8.png)

If a warning is shown, it looks more dramat

[2021-12-02 01:52] jni commented on #3732
Agreed, thanks @haesleinhuepf!

[2021-12-02 09:31] tischi commented on #624
Hi @sofroniewn @tlambert03,

May we ask what algorithm you currently use to set the contrast limits?

Experimentally we found for a unit16 3000 x 3000 pixel image:
`input range: 3, 56292 => contrast limits: 47, 17538`
This looks like you are using some quantiles for the contrast limits?!

And I think we found some issue with a _big 2D_ unit16 image that has 30000 x 30000 pixels.
`input range: 0, 6

[2021-12-02 12:04] brisvag commented on #1310
I think that this can be closed now that #3701 is merged. Are there any outstanding issues?

[2021-12-02 13:34] brisvag commented on #3610
Continuing theconversation here from this comment: https://github.com/napari/napari/pull/3733#issuecomment-984620802

@psobolewskiPhD can you add some code? I tried reproducing, but it seems fine to me.

[code]

https://user-images.githubusercontent.com/23482191/144432021-9dc29f7a-81ce-4b34-a5d1-766d9f8f203c.mp4

[2021-12-02 13:44] psobolewskiPhD commented on #3610
Using your code everything works.
But using the GUI, click to make a new points layer it doesn't work.
I realize now the key: you use `v.add_points(size=1)`
while the GUI default is `size=10`.
For me your code with:
`v.add_points(size=10)` gives the broken behavior.
The points appear to be ~1 px in size, but in fact they are 10 px so selection is foiled.
Again here I am mousing over the TOP point

[2021-12-02 13:47] psobolewskiPhD commented on #3610
I updated my env and the same behavior. New napari info:
[code]

[2021-12-02 13:50] brisvag commented on #3610
I changed the size to 1 to get closer to your example in hopes of reproducing; with default size, everything is fine as well. However, it seems that your displayed size is not actually 10, cause it should be much bigger (as 10 image pixels, in fact).

As you're on MAC, this just sounds like #2894. Unfortunately, it's a hardware problem :(

[2021-12-02 14:01] brisvag commented on #3610
More context: vispy/vispy#2078

[2021-12-02 14:29] psobolewskiPhD commented on #3610
Yup! That's exactly it. I can use @alisterburt code there and reproduce.
and with #2894 this should be closed I guess?

[2021-12-02 16:02] brisvag commented on #3610
Unfortunately, no. The only solution to this problem is to go deep in vispy and change how Markers are rendered on the deepest level (use hand-made quads rather than the gl points).

[2021-12-02 16:53] psobolewskiPhD commented on #3610
Ok, what about a kludge where on mac the size is reduced with zoom?
I mean your example `size=1` on my end is perfectly functional both at `astronaut` high zoom.
In fact, smaller points at high zoom seem more useful!

Otherwise, maybe change the default size to maybe 2 or 3 so the effect is less likely to be triggered? Those are both functional at default zoom for `astronaut` on my end.

Edit: als

[2021-12-02 17:19] brisvag commented on #3610
Automatically adjusting zoom would require (as you expected) a similar fix as the one required by #3734 . That's not trivial, cause we need access to the camera zoom from the layer, afaik.

Changing default size is not really a solution, since that would depend on what other underlying data is there and how the camera initializes its zoom depending on it... I think the only good solution is to sim

[2021-12-02 17:19] #3610 closed, assigned to nobody

[2021-12-02 17:52] chili-chiu commented on #3542
see also [issue 3597](https://github.com/napari/docs/issues/39)

[2021-12-02 17:52] #3542 closed, assigned to nobody

[2021-12-02 18:01] chili-chiu commented on #848
See also [napari-crop plugin](https://www.napari-hub.org/plugins/napari-crop).

[2021-12-02 18:01] #848 closed, assigned to nobody

[2021-12-02 18:26] alisterburt commented on #2894
Thanks @brisvag - will close this!

[2021-12-02 18:26] #2894 closed, assigned to alisterburt

[2021-12-02 18:32] liaprins-czi commented on #3732
Thanks for noticing this and creating an issue @haesleinhuepf !

@isabela-pf Just FYI about this issue; it could probably be one to look at before the other remaining / existing issues that were created a while ago. Here's where I had made initial mockups of the error messages:
https://www.figma.com/file/Aq1PhG2tVTodGZnSBe0nui/Error-handling?node-id=69%3A3
I like the idea of changing both the colo

[2021-12-02 23:44] jni opened #3735 "Add "tips for debugging plugins during development" page"
## 📚 Documentation

Talley had a wonderful answer to an imagesc question on best practices for debugging a plugin during development, where you might be editing code, then having to reload the whole napari state (data, view, plugin dock widgets) manually each time. This is an issue I've come across a lot myself, and we should definitely add these tips to the docs.

https://forum.image.sc/t/debug-d

[2021-12-02 23:50] GenevieveBuckley commented on #1310
I don't think so, https://github.com/napari/napari/pull/3701 should have fixed things. I'll close this, we can always reopen if we discover problems later on.

[2021-12-02 23:50] #1310 closed, assigned to ppwadhwa

[2021-12-03 01:12] isabela-pf commented on #3732
@haesleinhuepf and @liaprins-czi I think you are both correct! Octagon for errors and triangle for warnings sounds like a solid pattern to follow. Here’s mockups based on the errors @haesleinhuepf originally posted.

<img width="459" alt="napari viewer error with a red octagon icon." src="https://user-images.githubusercontent.com/50221806/144524124-00540d1a-2448-4b1c-8e48-38b25d368cf7.png">
<img w

[2021-12-03 05:55] FudgeMunkey opened #3737 "Infinity values cause runtime warnings on main but not in latest release"
## 🐛 Bug

Infinity values cause runtime warnings in `_update_thumbnail` in `points.py` for the Points layer.

Large coordinates create `RuntimeWarning: overflow encountered in double_scalars` in `_update_thumbnail` in `points.py` for the Points layer. I included this bug here since it may be related to infinity issues.

[code]

This bug was found using [Hypothesis](https://hypothesis.readthedocs.i

[2021-12-03 13:49] brisvag commented on #3693
Closed by #3494.

[2021-12-03 13:49] #3693 closed, assigned to nobody

[2021-12-03 14:48] tischi opened #3741 "Unsupported types for keyboard (python 3.10)"
## 🐛 Bug

<img width="752" alt="image" src="https://user-images.githubusercontent.com/2157566/144619202-b50afa72-b937-4f33-a3ed-7483f3430311.png">

[code]
## To Reproduce

Steps to reproduce the behavior:

1. `conda install -c conda-forge napari`
2. `napari`
3. `File > Open Sample > skiimage > Clock`
4. Hover over image

## Environment

 - Please copy and paste the information at napari info optio

[2021-12-03 16:36] brisvag commented on #3725
@Czaki, is there a reason why you set `translation_grid`, rather than `translation`? `translation_grid` gets automatically calculated every time the layerlist changes, because it's the transform used by the grid mode to put layers side by side.
It seems that `translation_grid` should have been private in the first place.

[2021-12-03 18:10] haesleinhuepf commented on #316
Hi all,
I also just discovered a rich source for example data of beautiful microscopy data CC0 licensed:

https://scif.io/images/

🥳

[2021-12-03 18:21] Czaki commented on #3725
I do not remember, this is based on the old part of the code which is based on grid view from 0.3.x napari line code.

[2021-12-03 18:41] brisvag commented on #3725
But are you actually trying to affect the grid view, or is this supposed to be a simple translation? Can you provide a bit more context so we can see if there's a reason for `translation_grid` to be accessible? Otherwise, I think you should just stick to `translate` and I will open a PR proposing to privatise `translate_grid`.

[2021-12-03 19:18] tlambert03 commented on #3741
looks like you ended up with python 3.10 ... which (while we [recently added support for it](https://github.com/napari/napari/pull/3702)) probably still has shoddy general support for Qt related things.
try specifying a python version:

`conda install -c conda-forge python=3.9 napari`

[2021-12-03 19:25] jxchen01 commented on #2732
I encountered similar issue. I have a new laptop, the first time I install and use napari on this laptop is when the laptop connected to a secondary display at my office. After getting back home, where I don't have the secondary display, I cannot start napari anymore on the laptop, specifically the window does not show up and got the following message:

[code]

Tried to re-install napari on a diff

[2021-12-03 19:36] Czaki commented on #3725
I will check tomorrow.

[2021-12-03 19:53] ianhi commented on #2374
As an update this no longer break explicitly but does try to allocate a stupendously large array:
Use this script:
[code]

and then try to fill

[code]

[2021-12-03 21:02] liaprins-czi commented on #3732
This all looks great to me! Thank you! One thing I'm noticing is that the image posted of just the octagon icon looks like a more pink color, which looks nice, but I think sticking with the more orange-red that the hub uses for errors would be good in that it can help to keep the viewer and hub a little more visually cohesive and make it easier to keep track of colors in general (like you have in

[2021-12-03 22:06] sofroniewn commented on #3654
Maybe @codemonkey800 can take a look here

[2021-12-03 22:20] haesleinhuepf opened #3745 "Loading animated gifs doesn't work"
## 🐛 Bug

When opening an animated gif in napari, only the first frame is loaded.

I can offer code for loading multi-frame gifs [here](https://github.com/haesleinhuepf/napari-animated-gif-io/blob/main/src/napari_animated_gif_io/_function.py#L21-L23). If a core-developer tells me where this would be needed in napari, I'm happy to provide a PR.

## To Reproduce

Steps to reproduce the behavior:

1.

[2021-12-03 22:26] haesleinhuepf opened #3746 "Saving 3D stacks as animated gifs doesn't work"
## 🐛 Bug

When saving a 3D image stack as `.gif` file, an error appears "PluginCallError: Error in plugin 'builtins', hook 'napari_write_image': Image must be 2D (grayscale, RGB, or RGBA)."

I can offer code for saving animated gifs [here](https://github.com/haesleinhuepf/napari-animated-gif-io/blob/main/src/napari_animated_gif_io/_writer.py#L41-L47). If a core-developer tells me where this should

[2021-12-03 22:35] haesleinhuepf commented on #3732
Thanks @isabela-pf for working on this. I love the new icon. I have no opinion regarding colors though - as long as the icons are not grey or green. ;-)
Have a great weekend everyone!

[2021-12-03 22:56] codemonkey800 commented on #3654
There are a bunch of moving parts here from what I can see. Currently we have three workflows (I'm hoping not, but there could be more since the napari-docs bot was a surprise):

1. Deploy workflow on `napari/napari.github.io`: [deploy.yml](https://github.com/napari/napari.github.io/blob/main/.github/workflows/deploy.yml)
    - This deploys napari.org whenever there's a push to `main`
2. Copy docs

[2021-12-03 23:34] Czaki commented on #3700
here example where this bug make debug harder https://github.com/AllenCell/napari-allencell-segmenter/issues/129

[2021-12-05 04:50] MosGeo commented on #3466
Ok, below is the latest prototype that I have. Three items still are still in the investigation phase:

1. It is now a hard lock by default as suggested by @tlambert03 and @sofroniewn.
2. I added lock mode for locking values too. For example, value can be locked to a specific choices or a range.
3. As @Czaki  excellently pointed out, there should be some kind of override (either manual or automati

[2021-12-05 06:56] sofroniewn commented on #624
@tischi here is the standalone function that does the data range calculation https://github.com/napari/napari/blob/1f80f888318bebf72f034f59a947fe99cb3fc9d9/napari/layers/utils/layer_utils.py#L65-L137

It shouldn't be doing any quantile stuff - I'm surprised by `input range: 3, 56292 => contrast limits: 47, 17538`. Can you test that again using just the stand along function.

We do have to do some

[2021-12-05 07:15] sofroniewn opened #3747 "Tests failing after skimage release"
## 🐛 Bug

I think we've got some failing tests after the latest skimage release around data loading . Maybe @jni or @grlee77 can look in and fix. thanks!!!

[code]

see https://github.com/napari/napari/runs/4413703143?check_suite_focus=true for example

[2021-12-05 07:23] sofroniewn commented on #3654
Thanks for digging in here @codemonkey800

Agreed, maybe we could get this on your docket for the near future. Having a simpler process here could let a lot more folks contribute and save us a lot of time in the long run. cc @neuromusic

[2021-12-05 08:01] sofroniewn commented on #3466
This is looking very nice!!

Great! This is now probably out of date (at the top of the code)

[code]

This is interesting. I like it. It can done differently for each attribute which is cool. I like the initial options you've provided as well.

hmm ok, i need to think about this more. maybe @tlambert03 has an idea

Love this thanks!!

Minor comment: `Lock` above could probably be a [dataclass](ht

[2021-12-05 15:35] grlee77 commented on #3747
commented here: https://github.com/napari/napari/pull/3742#pullrequestreview-823404603

What do you think about just disallowing 0.19.0 for now? This is something we can address on the scikit-image side for 0.19.1 (hopefully to be released in the next day or so)

[2021-12-05 16:35] Czaki commented on #3725
@brisvag  using `translate` instead of `translate_grid` works perfectly. But `translate_grid` getter should remain public. And maybe the setter should become first deprecated.

[2021-12-05 18:03] sofroniewn commented on #3066
following up on comment from @tlambert03 https://github.com/napari/napari/pull/3736#issuecomment-986234389

yeah - i'd love that! you'd get 100% support from me for a deprecation PR from me. It could contain a note like - if you don't know how do this with a public method reach out for help and we will help you. I don't think we can possible explain how to provide all alternatives in a message, so

[2021-12-05 20:13] brisvag commented on #3725
Why do you think the getter should stay public? Definitely agree on deprecation.

[2021-12-05 20:50] Czaki commented on #3725
I think that getting the current (final) value of the current translation grid value for some calculation. But maybe it should be done with `world2data` and `data2world`. But one of them is not public yet.

[2021-12-05 23:38] #3747 closed, assigned to grlee77

[2021-12-06 07:55] FudgeMunkey opened #3752 "Unexpectedly delayed error when viewing points layer with invalid edge_width"
## 🐛 Bug

You can add coordinates to the Points layer with negative `edge_width` values. An error is raised if you try to view it, rather than when the property is set.

*This bug was found using [Hypothesis](https://hypothesis.readthedocs.io/).

## To Reproduce

This will create an empty Points layer with a default `edge_width` of `-1`.

[code]

The following error is produced

[code]

## Expecte

[2021-12-06 08:18] hanjinliu opened #3753 "Cannot change axis labels just after layers are cleared."
## 🐛 Bug

When viewer dimension is changed from 3D to 2D, renaming axis labels causes `IndexError`.

## To Reproduce

Steps to reproduce the behavior:

1. Add 3D image.

[code]

2. Clear layer list and change axis labels **at the same time**

[code]

Then I got

[code]

## Expected behavior

Since viewer is 2D after layer list is cleared, axis labels should be renamed to "y" and "x" respectively.

[2021-12-06 12:41] melissawm commented on #3654
I think this is solved by #3751 - I have a successful cross build (napari/napari and napari/napari.github.io) locally. Unless there are additional steps for deployment that I don't understand - maybe @codemonkey800 can confirm that is works?

[2021-12-06 16:15] goanpeca commented on #3746
Thanks @haesleinhuepf for the issue :)

---

@napari/core-devs should this belong to core or ?

[2021-12-06 16:20] goanpeca commented on #3732
Awesome work everyone :), I think this is up for grabs then :)

[2021-12-06 16:22] sofroniewn commented on #3746
Is this something that could be contributed upstream to [imageio](https://imageio.readthedocs.io/en/stable/) and then we'd get "for free"?

[2021-12-06 16:50] brisvag opened #3755 "[Discussion] Overlays"
## 🚀 Feature
Often the desire to work on (and unify) `overlays` (or `highlights`) comes up in different contexts (#2560, #3068, #2954, #999). By overlays, I mean visuals that live in canvas space that are not data and are supposed to be displayed on top of everything that's data.

While this is currently possible, it's not unified (see the code duplication in [`napari/_vispy/overlays/`](https://gi

[2021-12-06 18:35] jojoelfe commented on #3755
When we were discussing where to put the interaction_box a fear was to crowd the namespace of the viewer and the plan was to move other overlays, such as the axes and the scalebar,  also into this dedicated namespace.

The nice thing about it existing as an instance in the API is that is simplifies dealing with keyboard and mouse events, as it guarantees that only one exists. For the visual there

[2021-12-06 23:42] JoOkuma opened #3758 "`MouseEvent` position varying according to layers scale"
## 🐛 Bug

The `MouseEvent` position doesn't seem to be mapping to the correct position in the canvas when the layers have different scales.

I'm reproducing this bug by setting the current step of the viewer to the position where the mouse double click was captured. I expected the viewer to stay at the same step, but it moves, hence `event.position` is not at the `current_step`. Is this expected?

[2021-12-07 00:08] isabela-pf commented on #3732
@liaprins-czi you are correct! I accidentally posted two different sets of colors. Thanks for catching that. Just so this issue is accurate, here's the colors I intended/that are shown in the above dialog images:
- Error is `#D85E38`
- Warning is an `#E3B617`

(for real this time 🙃 )

![Red octagon with an x.](https://user-images.githubusercontent.com/50221806/144939104-c3babe0c-1efa-49f7-af65-c9f

[2021-12-07 00:43] goanpeca commented on #3732
I think we are using these icons, which is just normal text it seems.

https://github.com/napari/napari/blob/5f96d5d814aad697c367bdadbb1a57750e2114ad/napari/utils/notifications.py#L33

[2021-12-07 00:49] goanpeca commented on #3732
Should we change form text to actual images @tlambert03 ?, this would be much easier when using supertqt font handling :)

[2021-12-07 00:50] tlambert03 commented on #3732
yep, that is, they're _not_ using icons, they're just text.

[2021-12-07 00:53] #2897 closed, assigned to nobody

[2021-12-07 00:53] #2977 closed, assigned to nobody

[2021-12-07 01:02] #3623 closed, assigned to nobody

[2021-12-07 01:09] tlambert03 commented on #3732
sure might as well just use SVGs for now, keep it consistent with the rest of napari.  if/when we eventually use font icons we can change them all at once

[2021-12-07 01:27] GenevieveBuckley commented on #3746
ImageIO already has support for writing gifs. I agree that we should rely on that wherever possible (and contribute any upstream changes back to imageio).
- [imageio using GIF-PIL (Pillow)](https://imageio.readthedocs.io/en/v2.9.0/format_gif-pil.html#parameters-for-saving)
- [imageio using GIF-FI (FreeImage)](https://imageio.readthedocs.io/en/v2.9.0/format_gif-fi.html#parameters-for-saving)

One t

[2021-12-07 03:49] sofroniewn commented on #3746
Ah, yeah that makes a lot of sense to me. I didn't realize above function just wrapped a few of lines of imageio (copied here)

[code]

would be nice if we could get this without having to make changes to napari or make an additional napari-gif plugin.

------------------------------------

I guess there's some special handling for the potentially "nD" nature of the dataset. That's actually someth

[2021-12-07 08:24] kevinyamauchi commented on #3466
Sorry for the late response! I can have a look later today!

[2021-12-07 16:55] kevinyamauchi commented on #3466
Hey @MosGeo ! Thank you for the clear and well thought out proposal. I would be interested in seeing this move forward into a PR. I have a few comments/questions below. Thanks again @MosGeo !

- It might make sense to make the `Lock` class a pydantic model so we can validate `Lock.value` against `Lock.value_lock_mode` (e.g., if it's in range mode, make sure the value a list or tuple)
- I am wonder

[2021-12-07 19:01] gatoniel opened #3764 "Viewer buttons from multiple viewers connected to last created viewer"
## 🐛 Bug

When using multiple viewers, the viewer buttons in the bottom left do not change the camera scene of the viewer they belong to. Instead, they change the camera scene of the last created viewer. This might be related to #1530 .

## To Reproduce

Steps to reproduce the behavior:

1. Run the following code to open two napari viewers
[code]

2. Go to `viewer 1` and click one of `Toggle ndisp

[2021-12-07 19:06] tlambert03 commented on #3764
Hi @gatoniel, I believe this is the same thing that was just fixed in #3692 (i.e. duplicate of #2977 and #2897).  If you are able to work on the master branch, can you confirm?  (it would be `pip install -U https://github.com/napari/napari.git`) ... if not, you can wait until the next release to give it a try.  should be soon

[2021-12-07 19:26] gatoniel commented on #3764
Yes, works with current master branch.

[2021-12-07 19:26] #3764 closed, assigned to nobody

[2021-12-08 00:31] JoOkuma opened #3767 "ClippingPlanes uses vispy `x,y,z` convention and not napari's `z,y,x`"
## 🐛 Bug

Experimental clipping planes API uses a different convention than our default.

## To Reproduce

Steps to reproduce the behavior:

1. Execute the code below:

[code]

## Expected behavior

I expected it to display a cube in the center of the canvas. It works when we flip the coordinates.

## Environment
[code]

[2021-12-08 04:49] jni commented on #3767
Nice reproducible example @JoOkuma! Explains why I was seeing unintuitive behaviour the one time I played with this. I attributed it to me not thinking hard enough about the problem. The opposite was true! :sweat_smile:

CC @brisvag @alisterburt

[2021-12-08 04:53] #3066 closed, assigned to nobody

[2021-12-08 04:59] #3726 closed, assigned to nobody

[2021-12-08 10:13] JulesScholler opened #3770 "Upgraded Napari and now the GIL is released"
## 🐛 Bug

In the previous version of Napari you could use the following:

[code]

to manually label image area and then when closing the Napari window the rest of the code would execute, e.g. using labels_manual for segmentation purpose. Now it seems that the GIL is released upon calling napari.run() and the rest of the code will execute. This is making most of my applications bugging.

## To Repr

[2021-12-08 10:33] JulesScholler commented on #3770
I tried the following method proposed in the documentation:

[code]

and got the following error:

[2021-12-08 10:48] JulesScholler commented on #3770
I found the proper way to import `get_settings`:

[code]
But it is still executing and locking the interpreter.

[2021-12-08 10:49] brisvag opened #3771 "Testing for vispy error and rendering"
## 🐛 Bug

As highlighted by #3738, if something fails in the deeper weeds of vispy due to a change we make in napari (e.g: vertex buffers having wrong length due to shader changes), we currently are unable to catch the errors. Even something as dramatic as 3D labels not working anymore went completely unnoticed in the testing.

As far as we could tell, this is probably a threading issue. We should

[2021-12-08 13:15] tlambert03 commented on #3770
Hi @JulesScholler, this behavior will depend on the execution context:

1. **in a script**

    if you are running a script (e.g. `python my_script.py`) then the following _will_ print the message only after closing the napari window, as you desired:

[code]
2. If you are working in IPython, or in Jupyter, then `napari.run()` is essentially a no-op, since the Qt application is controlled by IPytho

[2021-12-08 13:16] tlambert03 commented on #3770
thanks, will update the docs!

[2021-12-08 14:24] JulesScholler commented on #3770
Wow this community is really amazing!

Thanks for your quick answer and sorry for the confusion with the GIL. I could not find this block method in the doc (should we add it somewhere?) and was naively looking into the viewer instantiation rather than the viewer methods.

Cheers,
Jules

[2021-12-08 14:24] #3770 closed, assigned to nobody

[2021-12-08 14:35] tlambert03 commented on #3770
yep it's an understandable confusion!

sure! anything that would help prevent the confusion in the future would be great. I guess  that page on the event loop might be one place? (it would also be a decent place to discuss why you'd need it in interactive ipython, but not in a script.)  But also, it looks like that particular parameter is not documented in the [docstring of `viewer.show`](https://

[2021-12-08 14:42] JulesScholler commented on #3770
I agree that the event loop is probably the best place with an added docstring of the viewer.

In my case I develop my apps using PyCharm and I execute scripts using iPython to allow for an easier debugging. It might be an edge case but I am sure some folks would end up doing similar workflow with jupyter.

Thanks again.

[2021-12-08 14:58] tlambert03 commented on #3770
definitely not an edge case!  first class use case:  I also use napari primarily through ipython, and I know @jni  does too.

[2021-12-08 16:16] gatoniel opened #3774 "CallablePublicOnlyProxy creates trouble with numpy"
## 🐛 Bug

Hi,
I don't know when and how a `layer.data` gets the type `napari.utils._proxies.CallablePublicOnlyProxy` instead of `numpy.ndarray`. But when it has this type it cannot directly be passed to skimage as the data type cannot be interpreted by numpy.

## To Reproduce

Steps to reproduce the behavior:

I am sorry, but I did not find any way to reproduce the error without using the Widget P

[2021-12-08 16:36] tlambert03 commented on #3774
thanks for reporting!  will get this fixed

[2021-12-08 17:17] gatoniel opened #3775 "Inconsistent pydantic.error_wrappers.ValidationError depending on how widget is started"
## 🐛 Bug

Depending on how I start a widget that changes `self.viewer.layers.selection` in response to a `checkbox.changed` event an `pydantic.error_wrappers.ValidationError` occurs or not:
- when starting the widget via the Plugins Menu the error occurs
- when starting the widget programmatically via `viewer.window.add_dock_widget` no error occurs

## To Reproduce

Steps to reproduce the behavior

[2021-12-08 17:31] JoOkuma commented on #3767
I also noticed that the clipping planes do not take the layer's `scale` into account. I haven't checked the others transformations. To make it work the planes need to be specified in the transformed (final) space.

[2021-12-08 17:59] Czaki commented on #3775
Check `self.viewer.layers.selection = [self.viewer.layers[0].name]`

Selection is by layer name, not the layer itself. maybe selection by layer also should be supported.

[2021-12-08 18:30] tlambert03 commented on #3774
fix in #3777

[2021-12-08 19:05] andy-sweet opened #3778 "Use pandas DataFrame to store Layer properties"
## 🚀 Feature

I created this mostly for tracking purposes.

The proposal is described in detail in the following document: https://hackmd.io/emsLO3cUR3O9nxSc6YYwUA

## Additional context

Part of #2866

[2021-12-08 19:24] andy-sweet opened #3779 "Unify behavior of features across Layer types when changing data"
## 🚀 Feature

There are some current inconsistencies related to feature values when changing the primary data of a layer. The goal of this feature is to unify that behavior across layer types in some well defined form.

## Motivation

This originally came up in Zulip: https://napari.zulipchat.com/#narrow/stream/296574-working-group-architecture/topic/meeting-2021-11-02/near/260283167

I've done my

[2021-12-08 19:52] gatoniel commented on #3775
I think that is not correct. `viewer.layers` is of type `LayerList` which inherits from `SelectableEventedList[Layer]` https://github.com/napari/napari/blob/e6ce01d9d43b5204cea9c84a6b08db97a2d23148/napari/components/layerlist.py#L22 `SelectableEventedList` inherits from `Selectable[_T]` https://github.com/napari/napari/blob/e6ce01d9d43b5204cea9c84a6b08db97a2d23148/napari/utils/events/containers/_s

[2021-12-08 19:59] gatoniel commented on #3774
I tested it on #3777 and the error is gone. Thanks!

[2021-12-08 19:59] #3774 closed, assigned to nobody

[2021-12-08 20:00] DragaDoncila opened #3780 "Add tooltip to npe2 plugin enable/disable checkboxes"
## 🧰 Task
Currently it's not clear why some plugins' enable/disable button is greyed out because there's nothing telling the user it's an npe2 plugin. It would be great if we could add a tooltip on checkbox hover that tells the user "This plugin cannot be disabled as it's an npe2 plugin" or something like that.

This depends on how long we think it'll take us to get the enable/disable functionalit

[2021-12-08 20:01] Czaki opened #3781 "Allow set area of view in `napari.components.camera.Camera`"
## 🚀 Feature

Instead of calculation on the user side, there should be a method to set the view area in the camera.

## Motivation

I create a plugin for finding components and in this plugin, I ensure that the whole area of the component is in the visible area:
https://github.com/4DNucleome/PartSeg/blob/744893e10e712726175962d73c43618731f1e47a/package/PartSeg/plugins/napari_widgets/search_label_w

[2021-12-08 20:22] tlambert03 commented on #3775
yep, @gatoniel is correct, `viewer.layers.selection` is a set of layer objects.

was able to reproduce, will submit fix (related to #3777)

[2021-12-08 20:33] Czaki opened #3782 "Proxy wrapper should be removed when passing object back to napari functions"
## 🐛 Bug

There is a possibility to generate Proxy future warnings using only public API, because the proxy is not removed when passing object bac to napari function (which uses private API).

## To Reproduce

Steps to reproduce the behavior:

The sample scenario is to remove one layer to add it later.

1.
[code]
2. open Test Widget RemoveAdd plugin.
3. click "Remove/add" button twice.

## Expecte

[2021-12-08 20:41] tlambert03 commented on #3775
ok @gatoniel, if you have a moment to try again with #3777, would appreciate it!

[2021-12-08 20:54] tlambert03 commented on #3782
thanks!  agreed, that shouldn't warn

[2021-12-08 21:06] nclack commented on #3780
I like the tooltip idea.

I also wonder if there should be an npe2 badge or something displayed on those plugins. It would be nice to have some visual indicator especially for plugin developers who are migrating their plugins.

[2021-12-08 21:10] gatoniel commented on #3775
@tlambert03 thanks so much. I am out of office already. I will try it first thing tomorrow morning.

[2021-12-08 21:25] tlambert03 commented on #3782
this warning is also fixed by #3777 ... I like the idea of removing the wrapper as well, but it's harder to think about how to do that (without adding a lot of instance checks everywhere).  need to ponder

[2021-12-08 21:26] tlambert03 commented on #3782
(this is actually a variant of #3775)

[2021-12-08 21:29] Czaki commented on #3782
as I commented in #3777. If you check that calling place is inside napari itself, you could return object, not proxy of object. Then first object still will be wrapped, but sub objects will not be wrapped.

[2021-12-08 21:33] JoOkuma commented on #3779
Hi Andy, thanks for creating this issue.

I agree with most of the points from your pitch.

Some additional thoughts:
 - the `remove(indices)` should also remove the rows from the `data`.
 - the `update(data, indices, *, features=None)` could have `indices=None` so when they are not provided it changes the whole data but keeps the features the same, but they must match in length. I can see this be

[2021-12-08 21:42] ppwadhwa commented on #3780
Yes,  I like the tooltip and the badge!

On Wed, Dec 8, 2021, 3:06 PM Nathan Clack ***@***.***> wrote:

[2021-12-08 21:57] andy-sweet commented on #3779
Agreed on `remove` and `indices`.

Yeah, that `update` function isn't something we currently have as far as I'm aware. The intent was to make the semantics of that function match the example use case you have of moving some points (i.e. the identities of the points are the same, but their coordinates changed).

Looking at it again, I think maybe we should just be able to get away with standard in-

[2021-12-08 22:00] jni opened #3783 "Transformations architecture"
## 🚀 Feature

This is a brain dump of ideas that have been floating around in my head for a while and that I have mentioned in passing in various contexts but never written down as a dedicated issue for discussion. At some point I will probably need to formally write it up in an @andy-sweet -style design doc — should we call them Sweet Docs from now on? :joy:

## Motivation / current situation

Cu

[2021-12-08 22:02] jni commented on #3783
I've made a "vision" tag for "big picture" issues, because I've started to realise that a lot of that knowledge is internal to a few of us, or scattered across many smaller issues, and we need to do a better job of communicating the overall direction. Having just a few of these vision issues, easily collated, might really help everyone be on the same page about where we want the software to go!

[2021-12-08 22:29] tlambert03 commented on #3780
maybe 😎 ?

[2021-12-08 22:36] nclack commented on #3783
strong agree

This is maybe a separate discussion, but I love the idea of something like [NEPs][].  I think that kind of thing is fantastic for guiding discussions into some concrete piece of useful documentation.  @andy-sweet has done some great work along this direction imo.

[neps]: https://numpy.org/neps/

I love this. _especially_ for slicing.  We basically aways want to be able to map a quer

[2021-12-08 22:38] tlambert03 commented on #3783
I guess we should call them ... NEPs ??

💯.  role model :)

[2021-12-09 00:28] jni commented on #3783
In informal discussion we suggested NAPs, "napari acceleration/augmentation/awesome proposal". 😜 I'm not that fussed but it should definitely *not* be NEP.

Anyway, part of the role of NEPs is to summarise discussion in issues like this and come to a decision, so I see them as additional to the vision tag, not a replacement for it.

Well, you *have* to have a way to go from canvas to data, or you

[2021-12-09 00:32] jni opened #3784 "Pre-release testing should be both louder and clearer"
## 🧰 Task

As discussed in #3757, we [do test pre-releases](https://github.com/napari/napari/blob/main/.github/workflows/test_prereleases.yml), but the issue created sometimes struggles to surface, and gets lost in the noise of so many issues and PRs.

We need (a) some process to surface and action testing failures when dependencies create pre-releases (as scikit-image did last week), and (b) as @

[2021-12-09 00:56] nclack commented on #3783
agreed. It's the other direction (data to canvas) I'm not sure we need.

[2021-12-09 01:32] jojoelfe commented on #3783
One thing I really would like to be able to do is instead of using an nD affine matrix for an nD dataset is to provide a list of (n-k)D affine matrices along k dimensions. The main usecase I have in mind is video-stabilization, where one would assign a 2D affine to every frame of a movie. Another usecase are montage-datasets where one could assign a 2D affine to every tile. Together with a way to

[2021-12-09 02:20] jni commented on #3783
Ah, sure, but (a) it's usually more natural to provide that direction, and (b) usually projections (where this would be an issue) happen on the way to the canvas, not the other way around?

Anyway, I should say I'm also not sure on this, but it seems like a reasonable constraint that will make our lives easier. 😂

Yes, this would be feasible with the above framework: you'd "just" provide a "Piecew

[2021-12-09 03:17] perlman commented on #3783
Yes, and this would extend down to individual tiles(/chunks) in a tiled(/chunked) datasource... Tiling is done by adding a translation to the chain for each tile.

I am currently thinking of "slicing" as a rectangular matrix, where the output dimensions are fewer than input.

(Edit: I believe it was @andy-sweet that mention rectangular matrices in this weeks architecture working group.)

[2021-12-09 03:52] jni commented on #3783
can you elaborate on how this works with invertibility? I don't have a good mental model of how slicing works with the matrices and how you can infer the original high-D coordinate from the low-D coordinate + the matrix...?

[2021-12-09 04:34] #3520 closed, assigned to nobody

[2021-12-09 05:19] sofroniewn commented on #3781
Makes sense to me. I might just call it `set_view`. Would be nice for it to both in 2D and 3D.

In 2D is `rect` a 2x2 array of "corner pixels"?

In 3D is `rect` a 2x3 array of "corner pixels"? Does that make sense?

Do @alisterburt or @kevinyamauchi have any additional thoughts here?

[2021-12-09 05:25] #3775 closed, assigned to nobody

[2021-12-09 05:25] #3782 closed, assigned to nobody

[2021-12-09 06:15] jni opened #3785 "viewer.add_points fails on proxy viewer"
## 🐛 Bug

Trying to add points to a public only proxy viewer fails:

[code]

Gives:

[code]

fwiw since I encountered this while trying to prepare my plugins for the plugins meeting next week, imho we should leave this experiment until after the 16th, as most people are likely to be disrupted by it. (And other npe2-related enhancements since 0.4.12 are required to work with npe2, so sticking to 0.

[2021-12-09 09:49] brisvag commented on #3767
This was caused by the change from data-space to world-space for the coordinates of the clipping planes, and forgetting to update things here in napari. Shouldn't be too hard to fix!

This is on purpose. The idea is that later on, we should eb able to use a single `Plane` evented model to clip any number of objects in space, and it should Just Work. This means that the clipping has to happen in th

[2021-12-09 09:52] alisterburt commented on #3781
I love the idea! In 3D the optimal zoom will depend on viewing direction, i.e after setting the view if you rotate then your view may no longer be in view... I don't think this is a big issue, just worth noting in a docstring

The`2,2`, `2,3` bounding box API seems natural and I like the name `set_view()`!

[2021-12-09 10:19] tlambert03 commented on #3785
As mentioned in one on one chat, Im just fine with turning off the proxy for the next release if you want to, but this particular bug is a trivial fix

[2021-12-09 10:38] tlambert03 commented on #3785
fixed in #3786

[2021-12-09 10:44] Czaki commented on #3781
For me, the name `set_view` is a little too general.  For 2D passing only rectangle is natural. but for 3D I expect that set_view will also accept some arguments connected with camera position. But it should be possible to use it only setting bounding box.

[2021-12-09 10:47] tlambert03 commented on #3785
this was introduced by moving from `getattr(type(obj), '__module__')` to `getattr(obj, '__module__')` in review of #3777

[2021-12-09 10:50] alisterburt commented on #3781
I was thinking along the same lines but it becomes (IMO) complicated quite quickly if you want a catch all `set_pose` method which might also end up setting the view direction and up direction or camera angles....

`set_view` feels like a nice simple addition that we can get in quickly with clear value - the way I imagine it, the camera position would be set to the midpoint of the `2,3` bounding b

[2021-12-09 11:44] #3785 closed, assigned to nobody

[2021-12-09 11:48] jni commented on #3785
@tlambert03 yeah, I didn't think it would be a hard fix, but even if nothing else breaks and this starts working as intended, this is bound to be noisy at a time when plugin devs probably want to minimise noise. My 2c and preference, but not dogmatic about it, will just keep reporting issues when/if I encounter them.

[2021-12-09 11:56] tlambert03 opened #3787 "Proposal: require `notifications.show_warning` instead of `warnings.warn` for GUI warnings (vote please)"
## 🧰 Task
We've discussed in multiple places now the possibility of no longer hooking into `warnings.warn` for napari gui notifications, but rather requiring the explicit napari API `notifications.show_warning`.  It was a nice "pythonic" idea, but it can be too noisy, and the fraction of warnings that actually need to be shown to the GUI user are probably low.

vote please:
👍 = require `show_warni

[2021-12-09 12:05] jni commented on #3787
@tlambert03 to clarify: do you mean that e.g. the private attribute access would *not* be surfaced to the UI, only specific notifications from us/plugin devs would be surfaced, and everything else would go to the console?

[2021-12-09 12:16] tlambert03 commented on #3787
yes, that would be just one consequence of this.  Essentially _any_ usage of `warnings.warn` would not go to the UI.  Someone would need to explicitly use `notifications.show_warning` instead

See for example #3704, and #3214, both of which were caused by a warning in vispy or Qt or something, usually environment/version specific.  the kind of thing that should perhaps fail a test (if you're surfa

[2021-12-09 15:47] andy-sweet commented on #3783
Obviously it won't work with invertibility without other information (as is true in general when going from 2D canvas to nD data/world coordinates). This initially came up around a potential fix for #3410 where we take a square submatrix when slicing a transform, which loses information about the source/domain of that transform, whereas a rectangular submatrix would not. Given the discussion here

[2021-12-09 15:48] andy-sweet commented on #3783
Agreed. As we seem to be using these as exemplars, the sooner we can reference code or design docs, the better.

[2021-12-09 16:08] andy-sweet commented on #3783
On a similar topic, if I pick one transform object (e.g. one affine matrix transform in the chain), is that intended to be a transform of spatial dimensions only? In the example described, we have a spatial affine matrix per time point, but we can't transform data across across time points. In other cases, we might expect all time points to share the same transform. Similarly with channel dimensio

[2021-12-09 16:18] sofroniewn commented on #3781
yeah this feels simple enough

[2021-12-09 16:19] sofroniewn commented on #3781
does @jni have an opinion here?

[2021-12-09 16:20] #3559 closed, assigned to grlee77

[2021-12-09 16:24] #3732 closed, assigned to goanpeca, liaprins-czi

[2021-12-09 16:29] andy-sweet commented on #3783
The grid space is one I'd also like to clarify in a doc. I see the intent of that space/transform as one to allow viewing multiple layers side-by-side for easy comparison. When we have one canvas, we need it to achieve that. But if we have multiple canvases, do we still need it? Another related question is if there's a use for tiling beyond 2D?

On main, I think it's quite easy to break grid mode

[2021-12-09 16:40] andy-sweet commented on #3783
The specificity of glsl here seems to imply that we will support using these transforms for visualization, but maybe not for general purpose processing. For example, if I write a napari plugin to find transforms that align some medical images to a common template space and then want to resample those images into that space, would napari provide a way for me to do that (maybe doing GPGPU behind the

[2021-12-09 16:42] andy-sweet commented on #3783
Last comment on this particular brain dump, but I also made [a list of issues related to transforms](https://hackmd.io/ciRyBvssT66BJD-Sz_5wsw#Transforms-and-coordinate-spaces). As we know, there's also some overlap with [issues relating to layer data and slicing](https://hackmd.io/ciRyBvssT66BJD-Sz_5wsw#Transforms-and-coordinate-spaces).