[2021-07-10 07:37] svenkat19 commented on #3014
Hasn't line 79 solved the issue?

[2021-07-10 15:44] tlambert03 commented on #3015
yep, now that #2556 is in, we need to think about how to expose these take-a-layer-and-do-something functions externally.  This is all rather tightly connected to the concept of the action manager, which is coming along nicely as well.  More generally,  we can describe these single-click functions as callables that happen in response to an event (button click, mouse press, etc.) with some degree o

[2021-07-10 16:57] tlambert03 opened #3017 "Proposal: Make `layer.metadata` a read-only attribute (whose value is still mutable)"
## 🚀 Feature
So far, we've treated `layer.metadata` as "whatever the user wants it to be"... (which really implies no type whatsoever)  which is fine for solo-usage... but tricky when multiple plugins fight for it.  Here's an interesting case where `napari-pyclesperanto` makes the assumption that `layer.metadata` is a dict, but napari-aicsimagio (I'm assuming) makes it a callable that lazily gets

[2021-07-10 18:28] #2926 closed, assigned to nobody

[2021-07-10 18:36] sofroniewn commented on #3014
@svenkat19 line 79 does do the normalization, but if you look at the diff in #3016 you'll see what I had in mind, there we move away from an integer based slider to a float based slider so the normalization isn't needed and the label has the "correct" value

[2021-07-10 18:42] sofroniewn commented on #3017
This seems wise to me.

yeah, not quite sure what we should do here! Maybe something "opt-in" where we could define metadata schemas that plugins could depend on and share, but they are defined in their own 3rd party repos rather than being baked into napari. Maybe something do explore with `ome_types.OME`.

We could add a hookspec for `add metadata schema` and then have plugins like `ome_types` t

[2021-07-10 18:43] tlambert03 commented on #3017
for now, `ome_types` will look for `layer.metadata['ome_types']`

[2021-07-10 18:50] sofroniewn commented on #3017
yeah, maybe good to put them inside like that too, could let you use multiple metadata schemas together if you wanted

`layer.metadata['ome_types']` and `layer.metadata['nifty']` say

[2021-07-10 18:58] sofroniewn opened #3018 "Make a "register_colormap" hookspec"
## 🚀 Feature
Following discussion in https://twitter.com/sofroniewn/status/1413691322334998528 and some more plugin dev stuff that i've been playing with - I think it would be very nice to add a hookspec to allow plugins to register custom colormaps.

I'm imagining something like

[code]

where a `ColormapType` is a dict with kwargs that are the inputs to https://github.com/napari/napari/blob/aade

[2021-07-10 19:00] tlambert03 commented on #3018
i like it.

[2021-07-10 19:02] sofroniewn commented on #3015
Yes, i think to me these will come under the auspices of the action manger. Look here @haesleinhuepf at the idea of a plugin registering actions that can be used as keybindings https://github.com/napari/napari-animation/pull/103

My hope is that we can have the same action registration idea for all actions, and then have a separate ability to wire them up, would you like them to appear in a menuba

[2021-07-10 19:40] sofroniewn opened #3019 "Drop channel_axis parameter"
## 🧰 Task
Following discussion in https://github.com/napari/napari/pull/2556#discussion_r659247491 it has been proposed to drop `channel_axis` parameter from `add_image` and `view_image` methods. This would allow for a dramatic simplification for the `Viewer._add_layer_from_data` approach as now the kwargs for all the `add_*` methods would be the same as for all the `Layer.__init__` methods.

We'd

[2021-07-11 11:52] haesleinhuepf opened #3021 "Example data hooks pointing to resources on HTTP don't load TIF files correctly"
## 🐛 Bug

I'm trying to make example data available from zenodo.org. napari doesn't load it correctly. I also can't tell which plugin loaded the data. It's not AICSImageIO, because I have reported a [related issue](https://github.com/AllenCellModeling/napari-aicsimageio/issues/16) there and deactivated it before observing the issue reported below:

## To Reproduce

I implemented a napari hook for

[2021-07-11 11:58] tlambert03 commented on #3021
have you tried `layer.source`?

[code]

note, you can also specify which plugin should be used in [`viewer.open_sample`](https://github.com/napari/napari/blob/aade148d8e5cb339bb2981ab4d1081ae5d2747e0/napari/components/viewer_model.py#L713) (but it looks like that isn't yet an optional part of the hookspec)

[2021-07-11 12:05] tlambert03 commented on #3021
I suspect that, being a url, the builtin reader is using `imageio.imread`, which would probably need some help in loading a full 3D stack.  Definitely would be a nice feature... but probably takes some digging, starting around here:

https://github.com/napari/napari/blob/aade148d8e5cb339bb2981ab4d1081ae5d2747e0/napari/utils/io.py#L129-L131

let me know if I can help with the sleuthing

[2021-07-11 12:43] haesleinhuepf commented on #3021
Ok, when I modify [this part](https://github.com/napari/napari/blob/aade148d8e5cb339bb2981ab4d1081ae5d2747e0/napari/utils/io.py#L122-L131) so that the URL passes and the image is loaded by tifffile, like this:
[code]

Then I see an error on the command line:
[code]

Thus, tifffile also doesn't allow to read this file. The error can be confirmed by calling:
[code]

However, calling skimag.io.imread

[2021-07-11 13:06] tlambert03 commented on #3021
We just generally need to handle URLs better.  A while back, we stopped using `skimage.io.imread` so as to avoid the full dependency (as implied in our imread docstring), but one thing that didn't come over is the [`file_or_url_context` manager](https://github.com/scikit-image/scikit-image/blob/d85b06468e063f2b8aa6aa7e073e120294e8e2f8/skimage/io/util.py#L21-L43) that scikit-image uses in their [im

[2021-07-11 17:38] sofroniewn commented on #3015
I guess one open question is if we'd also have event connection run through the action manager / a provide action hookspec, or if they'd be their own hookspec.

i.e. if you could provide something like

[code]

And then when your plugin was active/ enabled we'd connect your callbacks (possibly gated on some other information too).

Curious what folks think of this idea too?

[2021-07-11 17:39] #3014 closed, assigned to nobody

[2021-07-11 18:14] haesleinhuepf commented on #3015
I'm not sure if I communicated my initial suggestion well. I just would like to use a hook for generic functions that get executed on menu-click.  :-)

[2021-07-11 18:17] tlambert03 commented on #3015
I think we did understand the gist of the request... but I'm not sure it's as simple as "just do this when I click".  there's a lot of contextual stuff to take into consideration.  That said, if you have a spec in mind, with an idea for how it might be implemented, feel free to propose!

[2021-07-11 18:22] haesleinhuepf commented on #3015
Yeah, sure! I thought of exactly the same as `napari_experimental_provide_function`, but instead of adding the function-widget to the GUI, the function is just called. :-)

[2021-07-11 18:23] tlambert03 commented on #3015
does the function take no inputs?

[2021-07-11 18:25] tlambert03 commented on #3015
In my opinion, `napari_experimental_provide_function` is still kind of a "hook without an implementation".  We basically don't use it anywhere except to make a magicgui widget for the user (which wasn't exactly the original motivation for it)... and it's exactly because it's unclear exactly how it should be used (similar to the question I'm posing here)

[2021-07-11 18:28] haesleinhuepf commented on #3015
Just like `napari_experimental_provide_function` the functions can have inputs such as `napari_viewer : Viewer` or `image : Image`, `labels : Labels` or `layer : Layer`. It think that pretty much all of that is already implemented. I'm just not sure which image or layer should be passed in case no layer is selected. Maybe none should be passed then.

[2021-07-11 18:32] tlambert03 commented on #3015
the "implementation" there (i.e. the association of those type annotations with a python object that gets passed to the function) is entirely in magicgui... where a stateful connection between a user-mediated layer selection can be made _because_ of a widget.  That is, that function doesn't go looking for the currently selected layer in `viewer.layers` or anything.  it "knows" what layer to use on

[2021-07-11 18:36] haesleinhuepf commented on #3015
Ah I see. Ok, so it's more complicated than I thought.

Just another example of what I'm thinking of to draw a better picture: I have [this function](https://github.com/clEsperanto/napari_pyclesperanto_assistant/blob/master/napari_pyclesperanto_assistant/_convert_to_numpy.py#L26-L27) which copies a labels layer:
[code]

If a labels layer is selected, this could just be executed. No need to confirm

[2021-07-11 18:39] AKEOPLUS-boris-bocquet commented on #2849
`viewer.show(block=True)` does the job properly. I have updated all my codes on my project [UCVTK](https://github.com/AKEOPLUS-boris-bocquet/UCVTK) and I don't experience troubles so far (even if I am not hard trying to make the code to fail). So let's forget about the "old way" and continue with a properly implemented and maintained `viewer.show(block=True)`.
Thanks for your help.

[2021-07-11 18:39] #2849 closed, assigned to nobody

[2021-07-11 18:48] tlambert03 commented on #3015
yep, agreed... but that "if a labels layer is selected" sentence there is exactly the sort of context I was referring to [above](https://github.com/napari/napari/issues/3015#issuecomment-877841437) when I said "there's a lot of contextual stuff to take into consideration".  In other words: yes, it's very simple to say "hey, is a label's layer selected?" and satisfy your use case above.  but what i

[2021-07-11 18:53] haesleinhuepf commented on #3015
Oh wow, I wasn't aware that all this awesome stuff is coming!! Maybe my request becomes obsolete then. I'll practice patience 😊

[2021-07-11 21:04] Czaki commented on #2213
@sofroniewn Maybe a short meeting in next week (in this I do not have time) with comparing of environments?

[2021-07-12 06:23] evamaxfield commented on #3021
Just patched `napari-aicsimageio` to allow for proper passthrough to the next in line readers.

I will say, part of your problem will be trying to read from zenodo... it seems like the they don't like getting slammed with requests and a lot of remote read libraries split reads into chunks. After I patched I was getting `Too many requests` errors.

As cool as zenodo is.. maybe using an object store

[2021-07-12 11:47] MaximLippeveld opened #3024 "Building image from dockerfile results in "WARNING Could not load the Qt platform plugin "xcb" in "" even though it was found.""
## 🐛 Bug

When running a docker image built with the dockerfile provided in this repository, I get a warning from Qt which states that "xcb" could not be loaded.

## To Reproduce

Steps to reproduce the behavior:

1. In local napari repository, run: `docker build -t napari .` to build the image
2. Run `docker run -e DISPLAY=host.docker.internal:0 napari:bad python3 /tmp/examples/add_image.py`

Thi

[2021-07-12 13:39] kevinyamauchi commented on #3013
@andy-sweet , thanks for flagging this! You are correct. The intended behavior should be for the cycles to be cycled in the order of the data (i.e., hand should be blue, face should be magenta, and camera should be green). I agree that it makes sense to fix this by integrating`ColorManager` into `Shapes`.

[2021-07-12 16:22] andy-sweet commented on #3013
Thanks for clarifying @kevinyamauchi!. I'll create a separate issue for integrating `ColorManager` into `Shapes` to make sure that work isn't repeated and will link it to this issue.

[2021-07-12 16:31] andy-sweet opened #3026 "Integrate `ColorManager` into `Shapes` layer"
## 🚀 Feature

The `ColorManager` class was added to encapsulate the behavior of defining colors in layers and was integrated in the `Points` and `Vectors` layer, but not the `Shapes` layer. The shapes layer has lots of custom logic regarding colors, some of which is buggy (e.g. see #3013). The goal of this issue is to replace that custom logic by using `ColorManager` to the `Shapes` layer to handl

[2021-07-12 16:43] andy-sweet opened #3027 "Write document describing current behavior, interface, and implementation of properties"
## 🧰 Task

We have a goal to unify properties across layers (#2866). This task represents some initial design and prototyping work that should help define the new/unified interface and behavior of properties.

This task is done when a rough design doc has been written and shared with the community. The document should contain high level proposals and ideas, as well as tangible examples, ideally wi

[2021-07-12 17:10] sofroniewn commented on #3009
@LCObus new plan for grid button is here (see comment from @LCObus in https://github.com/napari/napari/pull/2974#issuecomment-878444882)

[2021-07-12 17:27] LCObus commented on #3009
thanks @sofroniewn, excited to see this develop!
Agree on the

maintaining expectations about when to discover and customize more will be helpful for heuristics (recognition not recall)

[2021-07-12 18:19] liaprins-czi opened #3029 "Design for (#3009) "Add pop-out button for grid mode and store defaults in settings""
- [ ] Find out what content needs to be included in the pop-out + map the interactions
- [ ] Mockup design / prototype interaction if needed
- [ ] Consider right-click interaction...
- [ ] Share on #3009

[2021-07-12 18:20] liaprins-czi commented on #3029
https://github.com/napari/napari/issues/3009

[2021-07-12 19:39] ppwadhwa commented on #2790
I was thinking it was just these 2.  However, thinking about it, changing the language requires a restart, right?  I'm not sure how to get around that one.

Anyway, we could still work on making the settings for async and octree not require a restart.

[2021-07-12 20:00] goanpeca commented on #2790
We could allow for this without a restar but would be tricky for some widgets, we would need some "refresh/update" method that updated all the strings if a language changes in labels and buttons.

[2021-07-12 20:11] Carreau commented on #2906
Done for Shape layer, closing, will add issue for other layers and close this one.

[2021-07-12 20:13] Carreau opened #3030 "Extend shape layer new mouse binding functionalities to other layers."
## 🧰 Task

#2906 tracked new shape layer mouse binding, we'll use other PRs to do the same to other layers.

[2021-07-12 20:41] liaprins-czi opened #3031 "Spike for #3022 (PR) to better understand design and user needs"
https://github.com/napari/napari/pull/3022

- [ ] Set up time with Talley and Nick

[2021-07-12 20:45] sofroniewn commented on #3019
If @jni and @tlambert03 are aligned on this, could be good to give to @nclack - unless @tlambert03 you want to take this on?

[2021-07-12 20:56] DragaDoncila opened #3032 "[SPIKE] Investigate future of progress bar architecture"
Currently our `progress` objects inherit from `tqdm` allowing them to behave like terminal progress bars when there is no active viewer, and be added to the viewer when there is one. See [this discussion](https://github.com/sofroniewn/waver/pull/5#discussion_r666692376) for how useful that can be.

The ability to "alias" our own progress objects as `tqdm` can be very useful for code which already

[2021-07-12 21:06] nclack commented on #2732
I don't see the unresponsive window but I do see some warnings.

[code]

I see the same behavior in the current master and in 0.4.7.  My info:

[code]

[2021-07-12 21:11] JoOkuma opened #3033 "Unable to open another viewer after closing another one in the same program"
## 🐛 Bug

Napari can't open multiple viewers inside a for loop, note that they are not being executed at the same time.
This used to work in 0.4.6, it might be related to #2977.

I'm not sure where to start to fix this.

## To Reproduce

Steps to reproduce the behavior:

1. Execute the following code.

[code]
2. Close the first viewer.
3. Subsequent viewers do not work as expected, they open all a

[2021-07-12 21:12] nclack commented on #2732
I should have mentioned, the warnings only show up when starting napari on the second display.

[2021-07-12 21:17] JoOkuma commented on #3033
After commenting [these lines](https://github.com/napari/napari/blob/4cfe609c71bd5d9347e3c93da0bec20dd662768d/napari/_qt/qt_event_loop.py#L351-L353) it works as expected.

[2021-07-12 21:24] JoOkuma commented on #3033
When used as below it works as expected.
[code]

[2021-07-12 21:58] tlambert03 commented on #3033
assuming you were running that code in IPython, this is by design

The default in IPython is to not block (unless, as you discovered, you use `block=True`).  Note, if you put your first code example in a file `test.py` and ran `python test.py` ... it _would_ behave as you expected, but if you run the identical code in IPython, it assumes you want interactive usage unless you explicitly ask for it

[2021-07-12 22:52] tlambert03 commented on #3019
go go gadget @nclack

[2021-07-12 22:58] sofroniewn commented on #3019
Will be a good issue as @nclack as you'll be refactoring/ deprecating some API to bring it more in line with what we think will be a better / more streamlined approach

[2021-07-12 23:08] JoOkuma commented on #3033
Thanks for the reply, Talley.

This is happening when I run from Terminator or the vscode terminal, both inside a conda environment. I also tried opening a fresh terminal and it still happens.

[2021-07-12 23:09] tlambert03 commented on #3033
in the terminal though, how do you launch python?

[2021-07-12 23:13] JoOkuma commented on #3033
`python debug.py`

[2021-07-12 23:14] tlambert03 commented on #3033
and debug.py contains the script above?

[code]

[2021-07-12 23:19] DragaDoncila opened #3035 "Improve correspondence between packages and plugins"
## 🚀 Feature
A napari plugin is a defined entry point in a Python package.
The napari plugin install dialog displays entry points as individual plugins.
Multiple plugins can exist inside a single package.
However, it's the python package containing the plugins that can be installed/uninstalled by the user.

This could be confusing for users for a number of reasons:
- multiple packages could declar

[2021-07-12 23:22] DragaDoncila commented on #3035
Pinging @neuromusic and @liaprins-czi as they may wish to track progress on this issue.

[2021-07-12 23:29] sofroniewn commented on #3017
@tlambert03 now that we have the evented dict from @lukasz-migas should this be an evented dict? can come later, but just a thought?

[2021-07-12 23:32] #2884 closed, assigned to DragaDoncila

[2021-07-12 23:32] tlambert03 commented on #3017
intriguing!  seems like it can't hurt?  what do you think?

[2021-07-12 23:35] sofroniewn commented on #3017
i think we can try, if it doesn't work out we could roll back - curious what @jni thinks

[2021-07-12 23:37] JoOkuma commented on #3033
Yes

[2021-07-12 23:43] tlambert03 commented on #3033
we might need to pair up on this then, when I run that script above as `python debug.py` (regardless of which terminal I run it in, VScode, iterm2, terminal, etc...) shows each viewer, one at a time...  if I run it as `ipython -i x.py` then they all show up at once as you're describing.  you don't happen to have any aliases that turn `python` into `ipython` do you?

also just want to clarify: is y

[2021-07-12 23:57] tlambert03 commented on #3035
Totally agree @DragaDoncila ... I've been concerned about this too and was thinking of raising a similar issue.

My immediate concern isn't so much that a user gets two plugins for one package... or how they are presented in the plugin installer (though, I do see the potential confusion there).  I _am_ concerned a lot however about the fact that multiple packages can declare the same entry_point.

[2021-07-13 03:31] sofroniewn commented on #3035
Yeah, that's not ideal

Hmm yeah, not sure what to do here either

Yup, that's how I feel too!!

[2021-07-13 03:32] sofroniewn commented on #3035
We can also start with some improvements like this too, that might make it easier for users to understand grouping

[2021-07-13 06:52] jni commented on #2732
OMG 👋 👋 👋 @nclack!!! 😊 😊 😊

@Remote-Radical would you mind attempting to reproduce your issue on a more recent napari and/or another machine? It seems hard to reproduce and thus to fix...

Having said that @nclack given your setup maybe you could investigate the warnings and how one might be able to get rid of them? Fixing the warnings might fix the issue in other users' cases.

[2021-07-13 06:57] jni commented on #3032
Nice. =)

Yeah ideally what we want is an "evented progressbar" that allows callbacks on update, and it perhaps allows a *global* callback register so that we can register napari as a viewer of those progress bars. Unclear to me how easy that would be to do for tqdm or for alternatives like [alive-progress](https://github.com/rsalmei/alive-progress), the latter of which has some rather honking gre

[2021-07-13 08:27] #2984 closed, assigned to andy-sweet

[2021-07-13 09:36] Carreau opened #3036 "Speedup CI Testing."
## 🧰 Task

CI has become a bit slow with close to ~20 min turnaround between pushing a commit and having all items green.
It should be possible to speed that up.

1. caching – a large part of the time is CI is spent creating the venv, caching may be a way to speed things up.
    - [ ] #2996 is a first step toward caching on linux.
    - [ ] cache on macOS
    - [ ] cache on windows
 2. Test extrem

[2021-07-13 11:10] tlambert03 commented on #3032
Fwiw, we were also benefiting from throttling using tqdm, which has its own cap on update frequency.

[2021-07-13 15:31] andy-sweet commented on #2973
The crash should be fixed by PR #2990, so closing this issue.

[2021-07-13 15:31] #2973 closed, assigned to andy-sweet

[2021-07-13 15:32] andy-sweet commented on #2967
Fixed with PR #2990

[2021-07-13 15:32] #2967 closed, assigned to andy-sweet

[2021-07-13 16:16] liaprins-czi commented on #3035
Yes I thin kthis is very intuitive and natural first step. Also makes it more clear about what happens + how to uninstall

[2021-07-13 16:51] neuromusic commented on #3035
thanks for adding this issue, @DragaDoncila!

my biggest concern is that we use clear and consistent nomenclature within and across the napari viewer, the napari hub, and other materials.

for v0 of the hub, we are referring to the python package as the "plugin". this is consistent with...

- the napari plugin installation GUI, which lists python packages under "Available Plugins"
- parts of the d

[2021-07-13 17:29] JoOkuma commented on #3033
The recording tool that I use in Linux stopped working, so I tried reproducing the bug on my mac laptop and it does not happen. I can show it at the next napari meeting if I can't reproduce it until then.

[2021-07-13 17:30] tlambert03 commented on #3033
ok, good to know that it's linux specific, will try to reproduce

[2021-07-13 17:36] tlambert03 commented on #3033
perfect, i see something funny now.  actually reminds me of https://github.com/napari/napari/pull/2276 a little bit

will try to see what's going on with the event loop in linux that might cause this

[2021-07-13 17:43] tlambert03 commented on #3033
oh you know what, I think this is also related to https://github.com/napari/napari/issues/2925
the main point there is that when the console is open, our "_ipython_has_eventloop" logic gets confused, and it no longer blocks on the event loop.  Can you confirm this for me?  first try `pip uninstall napari-console` (you can reinstall it afterwards) and tell me if that fixes it?
Then, reinstall `napa

[2021-07-13 17:50] tlambert03 commented on #2925
want to add to this:
I think what @JoOkuma observed in https://github.com/napari/napari/issues/3033 is related to this.
I think that our `_try_enable_ipython_gui` is too greedy.  It will look for IPython in `sys.modules`, and if it finds it, attempt to run `shell.enable_gui`.
Because _our own_ console imports IPython, this means that the second call to `get_app` in a single session (For instance,

[2021-07-13 17:57] tlambert03 commented on #2925
@Carreau, I'm not quite sure what the best way to detect this would be.  It would be easy enough to check `sys.argv`, but I don't know whether that would work in, for example, a jupyter environment.

Can you think of a good way to differentiate between napari-console creating an InteractiveShell within an already existing python process started directly from a script (or from `python -m napari`),

[2021-07-13 18:19] haesleinhuepf opened #3038 "Storing window size in properties fails when closing napari in full screen mode"
## 🐛 Bug

If you close napari when its window is maximized, it stores the window size of the full screen.

## To Reproduce

1. Start napari.
2. Make the window e.g. 500x500 pixels large.
3. Make the window full screen.
4. Close napari
5. Start napari again
6. Undo full screen

## Expected behavior

Napari should have size 500x500 then. This could be achieved by automatically undoing full screen be

[2021-07-13 18:30] JoOkuma commented on #3033
You found the issue :). After I uninstalled `napari-console` it worked as intended and when I reinstalled it back the issue returned.

[2021-07-13 18:42] tlambert03 commented on #3033
thanks for checking!

[2021-07-13 21:40] liu-ziyang commented on #3031
not working on this immediately

[2021-07-13 21:40] #3031 closed, assigned to nobody

[2021-07-13 23:04] andy-sweet opened #3039 "Setting `Points.face_color` as a property with cycling colors raises IndexError"
## 🐛 Bug

When setting `Points.face_color` to be a property that is associated with a color cycle raises an IndexError in some cases. In particular, this causes problems when the layer is initialized without any points data, which will be added later.

## To Reproduce

The following test case fails at HEAD.

[code]

## Expected behavior

I would expect to be able to set these properties without an

[2021-07-13 23:10] andy-sweet commented on #3039
Note that passing `face_color` and `face_color_cycle` when creating the `Points` layer seems to act as an effective and safe workaround for this issue, but does not negate the need to fix it.

[code]

[2021-07-14 07:59] kevinyamauchi commented on #3039
Thanks for flagging @andy-sweet and @quantumjot ! I think this is related to https://github.com/napari/napari.github.io/issues/133 (sorry, I lost track of this one over my holidays 😞 )

[2021-07-14 08:27] quantumjot commented on #3039
@kevinyamauchi - absolutely - I "borrowed" your code!

[2021-07-14 09:06] kevinyamauchi opened #3042 "test error with vispy 0.7 (deprecated colormap)"
## 🐛 Bug

In the CI for #3006, I am getting the error below. It looks like passing 'cubehelix' as a string to the vispy colormap is deprecated with `vispy >= 0.7`.

[code]
## To Reproduce

Steps to reproduce the behavior:

1. Run the viewer tests

## Expected behavior
We should not use the deprecated behavior

## Environment
From the CI
[code]

## Additional context
See CI run: https://github.com/

[2021-07-14 09:18] jni commented on #3042
@kevinyamauchi fixed in #3043 *I hope*! LOL

[2021-07-14 15:24] #3042 closed, assigned to nobody

[2021-07-14 15:52] alisterburt commented on #515
with #3037 3D interactivity is starting to become a reality - I thought it might be good to build a list of features we want in this issue...

From discussion with @kevinyamauchi
- point selection in 3D
- selecting labels in 3D (#3037)
- painting on arbitrary slices through 3D data (#3023)
- click and drag to move an arbitrary slice along its normal vector
- click and drag to move points/labels al

[2021-07-14 16:08] kevinyamauchi opened #3044 "Labels layer controls checkbox labels are cut off"
## 🐛 Bug

Currently, the label text for the labels layer control checkboxes is cut off

![Screenshot 2021-07-14 at 18 01 36](https://user-images.githubusercontent.com/1120672/125655277-10df030b-06d4-47f6-a162-6913344707a2.png)

I propose we add a new line so they are not cut off:
![Screenshot 2021-07-14 at 18 03 59](https://user-images.githubusercontent.com/1120672/125655348-8a3ceae0-a25a-457f-84f

[2021-07-14 17:40] VolkerH opened #3045 "ValueError assigning to `.affine` if image is tczyx with singleton tcz dimensions + TypeError in EventedList"
## 🐛 Bug

This is potentially  a bug or two bugs. I want to put this issue in before I'll have to finish for the day, I don't have a minimum reproducible example yet.

Part 1:

The first part of this might be related to #2973. Therefore I pulled the current master to make sure this isn't already fixed by  PR #2990.
I have what is essentially a 2D image pyramid, as .ome.zarr in a single image layer

[2021-07-14 17:51] VolkerH commented on #3045
While trying to create a minimal reproducable example I find that if I use a regular 5D array (rather than reading an .ome.zarr pyramid) I get the TypeError directly:

[code]
results directly  in
[code]

[2021-07-14 18:21] mdziczkowski commented on #1457
Try following solution (typed in the console):

sudo xhost +si:localuser:$USER

in most cases it should help and you should be able to run the application

[2021-07-14 20:16] liaprins-czi commented on #3009
![Grid mode settings](https://user-images.githubusercontent.com/53277128/125686798-165928c3-69c1-4cef-b596-49497902a3b8.png)

@neuromusic @ppwadhwa Here is my mockup for the popout, let me know if this makes sense. Also, what should the default stride be first time user opens the grid mode popout?

[2021-07-14 20:31] liaprins-czi commented on #3009
And if we want to includ emore explanatory info, it could live in little help icons; here is a little prototype mocking it up:
https://www.figma.com/proto/5yHtWYtZ9KzEuCFRzVMwRI/Grid-mode-settings?page-id=0%3A1&node-id=3%3A116&viewport=172%2C-851%2C1&scaling=min-zoom&starting-point-node-id=3%3A116

[2021-07-14 20:42] thewtex commented on #2973
@andy-sweet @jni @sofroniewn thank you! :100:

[2021-07-15 04:19] sofroniewn commented on #3035
Thanks for the detailed post here on nomenclature @neuromusic - maybe a topic for an upcoming community meeting discussion, just to get it on folks minds. Curious what @jni thinks here too

[2021-07-15 04:51] sofroniewn commented on #2809
@jni @DragaDoncila what's still left to do on this issue after #2992? Apologies for not recalling, but i just want to track it here so we still remember in the future

[2021-07-15 05:00] DragaDoncila commented on #2809
@sofroniewn we've now got equivalence between `Shapes` and `Points` for adding, removing and moving layer contents. However, I still think it's worth implementing additional information into the `data` events to surface what type of change occurred (`add`, `remove` or `move`) and which indices where affected, to save users having to search through the data in an at best linear pass.

I'm not sure

[2021-07-15 06:02] sofroniewn commented on #3009
Thanks so much for this @liaprins-czi! Great to see it mocked out and I love the little help icon in
![image](https://user-images.githubusercontent.com/6531703/125735867-518fb39a-f918-4aa0-9816-346bd2c5c5c6.png)

Definitely something we might want to use more of!

I'm thinking that we might want to go with `Grid stride`, `Grid height`, and `Grid width` as the three options. I find `shape height` a

[2021-07-15 08:05] jni commented on #3045
@VolkerH I think both are bugs and need to be fixed before the next release. The second one relates to `_transforms` which is a funky sequence class that ~~allows~~ *should allow* indexing with both integer position and name. It is the same as the layer list which lets you grab layers by either position or by name, as you know. So that should definitely work, not sure whether what's happening is t

[2021-07-15 08:09] jni commented on #3045
Either way though, I suspect in this line:

[code]

you might have to make sure you limit the dimensionality of the affine_matrix:

[code]

in case we coerce/broadcast to the full dimensionality at assignment time. I'm not sure yet whether that is what we do or whether that is where we might go.

[2021-07-15 08:15] VolkerH commented on #3045
Hmmm... but assuming that some dimensions are channels, what does an affine across channels even mean ?
For timepoints I can see that one might be wanting to translate in time, but if a general affine is possible one can wildly interpolate between spatial, temporal and spectral dimensions, which is conceptually too challenging for my little brain. (I didn't take general relativity courses)

[2021-07-15 10:06] jni commented on #3045
@VolkerH Ideally, channels would be represented as layers, rather than as a dimension. In a sense, channels appearing as a dimension within a single layer is a failure of metadata handling rather than a "happy" state. Otherwise, perhaps we will want to track "channel" axes in napari as special. But that is a longer-term goal.

[2021-07-15 11:11] mfranzon opened #3049 "Z-slider does not work when napari OCTREE is enabled with multiscale images"
## 🐛 Bug

I have a stack of multiscale images. When I set  `export NAPARI_OCTREE=1`, then the z-slider stop working. I can move the slide but the image is stuck at the first one of the stack.

## To Reproduce

Steps to reproduce the behavior:
In the terminal:
` export NAPARI_OCTREE=1`

and then:

[code]

## Environment

[code]

## Additional context

Thank you very much for the support and for you

[2021-07-15 12:56] Carreau opened #3051 "Label Layer square brush is deprecated since 0.4.7 and marked for removal in 0.4.9, still there."
## 🧰 Task

#2426 marker square brush are deprecated and to be removed, though it is still there.
If we actually want to remove it, it should not be too hard and would simplify some code.

This could be an easy task for a new contributor.

[2021-07-15 12:57] Carreau commented on #3051
This would affect code added by #3050, and remove the piece of logic that checks whether a new cursor value is callable and simplify it a bit.

[2021-07-15 14:16] VolkerH commented on #2954
I have exactly the same use case, so it would be nice to have such a feature as suggested in the original post.

In addition, I could see a use where layers can be selected by clicking into the grid, e.g. to select images on which a plugin should operate.
However that would again be a different mouse/selection mode from the usual image navigation so maybe too confusing for users.

[2021-07-15 15:44] ianhi opened #3052 "QGroupBox Styling hard to see on linux"
## 🐛 Bug
Checkboxes (`QGroupBox`?) are very difficult to notice on linux (this seems OS dependent see https://github.com/tlambert03/napari-micromanager/issues/23#issuecomment-880797592)

![image](https://user-images.githubusercontent.com/10111092/125816876-10e52200-2817-4701-aa86-ff2f3d88ae92.png)

## To Reproduce

Steps to reproduce the behavior:

1. Be on linux
2. Open napari-micromanager plugin

[2021-07-15 15:47] tlambert03 commented on #3052
specifically, we need to fix `QGroupBox::indicator` in our QSS

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qgroupbox

[2021-07-15 16:21] #3001 closed, assigned to ppwadhwa

[2021-07-15 16:35] liaprins-czi commented on #3009
@sofroniewn Yeah that all sounds good to me! I will update soon.

So just to verify, the width and height inputs will now be the same style as the stride (the + and - buttons with int showing in the middle)?

Also, we can have sepaarate "?" icons for the width vs height if that is better, I just put them as one because the initial text you posted in the Slack thread describing each input had width

[2021-07-15 17:56] sofroniewn commented on #3009
Yes i think so

I like how you did one "?" between the two as they are so related to each other

[2021-07-15 17:57] #2765 closed, assigned to ppwadhwa

[2021-07-15 19:31] liaprins-czi commented on #3009
Alreight, here is the updated prototype:
https://www.figma.com/proto/5yHtWYtZ9KzEuCFRzVMwRI/Grid-mode-settings?page-id=0%3A1&node-id=3%3A116&viewport=-167%2C-1050%2C1&scaling=min-zoom&starting-point-node-id=3%3A116

[2021-07-15 19:44] tlambert03 opened #3053 "Make it easier to provide text"
## 🚀 Feature

Text associated with points is great, and it's cool to be able to provide a format string that can use properties in coming up with the text, but it would be nice to support the very simple use case of just providing a list of strings (`text = ['a', 'b', 'c']`) as well.  As I understand it, one currently _must_ create a property  that can be rendered by the text manager.

Short of ad

[2021-07-15 20:17] tlambert03 opened #3054 "Index error when processing points properties with no content"
## 🐛 Bug

`layer_utils.get_current_properties` makes assumptions about the length of data in the properties array, which leads to an index error if the properties are empty.

While I doubt anyone would intentionally create  an empty properties array, this sort of thing could come up in batch processing (as it did for me) where you don't know ahead of time the content of the data

## To Reproduce

[2021-07-15 21:20] ppwadhwa commented on #3009
Thanks, @liaprins-czi and @sofroniewn.  I'm going to start putting this in place!  :)

[2021-07-15 22:09] andy-sweet commented on #3045
The assignment issue was broken by [PR 2855](https://github.com/napari/napari/pull/2855/files#diff-ae7753430cbb6fe9e6dc532f409eed7d2ee7fe362347f8309cbdc4e349bd6063L462). It seems like reading from the `TransformChain` by transform name/key (and modifying the transform associated with it) works , but assigning to it does not (i.e. `transforms['physical2world'].affine_matrix = ...` works, but `trans

[2021-07-15 22:11] andy-sweet commented on #3045
Also, agree with @jni on some of the longer term goals here around distinguishing channels and dimensions, which should hopefully help prevent these kinds of problems in the future and makes thing a little clearer.

[2021-07-15 22:29] sofroniewn commented on #3009
Love it! Great hand off @liaprins-czi

![image](https://user-images.githubusercontent.com/6531703/125865899-0b15bedd-e3ed-4447-880a-8f90466481b2.png)

[2021-07-16 06:09] #2942 closed, assigned to ppwadhwa

[2021-07-16 06:26] #2756 closed, assigned to nobody

[2021-07-16 06:26] sofroniewn commented on #3051
Closed by #3047

[2021-07-16 06:26] #3051 closed, assigned to nobody

[2021-07-16 06:30] sofroniewn commented on #3049
Yes, so sorry about this - it's a known limitation that the "octree" doesn't really work beyond 2D. It might be a little hard to tell that from the "future work" comments here https://napari.org/guides/stable/rendering.html#time-series-multiscale, but it is something that's on our radar and that we want to improve, though we're not actively working on right now

[2021-07-16 06:32] VolkerH commented on #3045
@andy-sweet thanks for addressing this so quickly, will try and give it a spin

[2021-07-16 08:01] mfranzon commented on #3049
Ohh I see, thank you for the reference.

[2021-07-16 12:10] VolkerH opened #3057 "Assigning affine transform that contains a negative value doesn't work for Pyramids."
## 🐛 Bug

When assigning an affine matrix that has a negative value (flips the direction of an axis) to an image layer containing a pyramid
the image is not longer rendered and a `WARNING: Error drawing visual <Image at 0x7f01db57c850>` appears.

Note that this report is based on #3056 which addresses other problems in affine and hasn't been merged yet.

## To Reproduce

Steps to reproduce the beh

[2021-07-16 12:14] VolkerH commented on #3057
When I run this minimal example from a napari viewer that was started from a console (rather than a jupyter notebook) I get a lengthy and potentially useful traceback that was not present when starting from the notebook:

[code]

[2021-07-16 13:06] VolkerH commented on #3057
I just checked. This (or a similar) problem already exists in napari version `0.4.7` and therefore probably hasn't been introduced by the recent PRs.

[2021-07-16 14:35] andy-sweet commented on #3057
Thanks for the detailed write-up @VolkerH. I'm a little less familiar with pyramids in napari and the vispy side of things, but will try to take a look at this soon (likely next week instead of today though).

[2021-07-16 15:00] andy-sweet opened #3058 "EventedList does not support assignment to an item by lookup"
## 🐛 Bug

`EventedList` does not support assignment to an item when using a custom `lookup`, though does support access to that element through the same lookup. For example, `TransformChain` is an `EventedList` that has `lookup` based on the name of the transform. As described in #3045 `transform['physical2world'].affine_matrix = ...` works, but `transform['physical2world'] = ...` does not.

## To

[2021-07-16 15:17] tlambert03 commented on #3058
to be honest, I've never liked that "feature".  I feel like that's a mutable mapping... not a mutable sequence.  I do see that the asymmetry is probably stranger... but I'd rather see us _remove_ the ability to get/set on a key rather than double down on it.
I know we'd need to "grandfather in" the layerlist... but there too, the fact that the name key has to be unique makes for a lot of unfortuna

[2021-07-16 16:11] tlambert03 commented on #3058
i think this discussion is relevant too here: https://github.com/napari/napari/pull/2793#discussion_r646144451

[2021-07-16 17:27] andy-sweet commented on #3058
Removing the behavior is good with me, as I agree the custom key mapping for a list is unexpected.

Like you mentioned `LayerList` also shares this behavior, so the test below fails too, but I don't think we depend on that behavior anywhere in our implementation and it probably isn't a high priority for users either (though accessing by layer names is!).

[code]

Agreed that named fields in `Trans

[2021-07-16 18:13] tlambert03 commented on #3058
yep, and given the hurdles we already jump through to make `layers['name']` work (i.e renaming the layer if necessary) I think `layers['name'] = Image(... name='other name')` probably _should_ continue to be an error...  Basically, it's just a list with (unfortunately) a custom accessor... but not a dict.

Happy to hear what others have to say here; but I doubt anyone wants to remove the `layers['

[2021-07-17 06:41] #3045 closed, assigned to andy-sweet

[2021-07-17 06:47] #3044 closed, assigned to nobody

[2021-07-17 06:53] sofroniewn commented on #3058
fine with me too remove in general/ and in transform chain - but

it might be nice to keep this at least for a while longer - I do use it quite a lot, and think others do too, but I get the concerns here too ...

[2021-07-17 13:28] alisterburt commented on #3000
closed by #3060

[2021-07-17 13:28] #3000 closed, assigned to nobody

[2021-07-17 14:48] tlambert03 opened #3061 "Progress test breaks local testing"
## 🐛 Bug

this line, added in #2931 breaks local tests when you just run `pytest`, since it's expecting the viewer to be shown:

https://github.com/napari/napari/blob/712a96e27fc901d052abb37202d15ccf285b52f3/napari/_qt/_tests/test_progress.py#L161

(I'm guessing it worked for @DragaDoncila locally because that particular module shows things for linux as well?)

## To Reproduce

Steps to reproduce

[2021-07-17 15:27] tlambert03 opened #3062 "Set `use_enum_values` to False on EventedModel"
## 🧰 Task
Assuming everyone is ok with it, we should remove `use_enum_values = True` from our EventedModel.Config.

this would make it so that internally, accessing the value of an Enum field on an EventedModel would give you the enum object itself (this is the pydantic default), rather than the string version.

This comes in handy when comparing a current value to its field default value.   It wi

[2021-07-17 20:12] #3030 closed, assigned to Carreau

[2021-07-17 20:20] #2951 closed, assigned to DragaDoncila

[2021-07-19 01:55] DragaDoncila commented on #3061
@tlambert03 thanks for flagging this. I've made a PR which I think should address this issue, but it would be great if you could review that and also run tests locally to make sure it has fixed it.

[2021-07-19 03:49] sofroniewn opened #3066 "Make qt_viewer private"
## 🧰 Task
In #1878 we discussed making `window.qt_viewer` private, so it would be `window._qt_viewer`.

We need to discuss this more before implementation as see real world usage here https://github.com/search?q=.window.qt_viewer&type=code, but it still might be worth doing as we expand the ability to do things without touching our qt files.

I'm creating this issue so we can close the existing PR

[2021-07-19 10:10] #3061 closed, assigned to nobody

[2021-07-19 14:45] goanpeca commented on #3038
Hi @haesleinhuepf thanks for the report.

I started looking at this and it is going to be a bit tricky, will look for options.

[2021-07-19 16:21] #2693 closed, assigned to goanpeca

[2021-07-19 17:13] sofroniewn commented on #3035
@goanpeca see discussion here, might be relevant for "multiplugin" install case

[2021-07-19 17:44] neuromusic commented on #3035
Following up on Thursday's call...

In our discussion there, @sofroniewn & @jni expressed support for "package=plugin".

This would mean that @DragaDoncila's setup for this issue needs some revision. Specifically,

Would become

[2021-07-19 17:45] sofroniewn opened #3068 "Add a "ruler/ measure" tool"
## 🚀 Feature
Building on some discussion in #2560, #2954 and other places - it might be nice for napari to provide a "ruler" or "measure" tool that was its own visual - not tied to any layers, and could be used like the scale bar say.

This has also been discussed in
https://napari.zulipchat.com/#narrow/stream/212875-general/topic/Measuring.20shapes.20via.20keybind/near/246431176

We can use this

[2021-07-19 17:57] goanpeca commented on #3035
This still leaves the plugin installation dialog in a weird state, since the thing that you see on the top list is not the same that you see on the bottom list. For the sake of cleaning things out I would suggest that the plugin installation dialog dealt only with packages/plugins, so that the top list would only list installed packages, and the bottom list would only list installable packages. (s

[2021-07-19 18:01] tlambert03 commented on #3035
both fine by me

[2021-07-19 18:02] sofroniewn commented on #3035
That makes sense to me.

I'd also be ok with removing it there as it is now in the preferences and i don't use it in the plugin installer. I'm ok with sticking with the "plugin sorter" name a little longer as it is in a big picture sense. We could also call it a "hook sorter" or something, but that might just be more confusing

[2021-07-19 18:08] goanpeca commented on #3035
Sure, we can also add some text on the plugin dialog in the lines of:

"A napari plugin may provide several hooks, the priority of how these might be used can be set in the plugins preferences dialog"

And on the preferences dialog we might have a text that clarifies the terms.

[2021-07-19 18:08] tlambert03 commented on #3035
I think we should also try to drop support for the multiple entry point thing. It's not really necessary.  I think aicsimageio might be the only package doing it (easy enough to check) so we could help transition anyone away from it

[2021-07-19 18:09] goanpeca commented on #3035
Sounds good.

[2021-07-19 18:46] goanpeca commented on #3035
@tlambert03 what do you think of having then a single list (single search box) sorted by installed/uninstalled and name?

[2021-07-19 19:20] tlambert03 commented on #3035
I like it!  In addition to just sorting though, one should be able to show only installed or only available things (maybe two checkboxes?)

[2021-07-19 19:31] psobolewskiPhD commented on #3068
At the moment I'm using napari for exploratory visualization of data, so I'm *looking* at images and the features, then altering parameters such as gaussian blur sigma or whatnot. To me, it's useful to measure the size of something or the distance between features.
For a (*very short*) time, I was zooming and panning (so smooth!) to position the scale bar, but then I opted to try to make a keyboar

[2021-07-19 19:41] goanpeca commented on #3035
Maybe. I think we need @liaprins-czi help :)

[2021-07-19 23:13] goanpeca opened #3070 "✨ Add a cancel button on the plugin install dialog"
## 🚀 Feature

## Motivation

Currently when a package is being installed and the dialog is closed (via close button or via close icon on the window corenr tools) the install process will be terminated without any notification.

## Pitch

When a user closes the plugin install dialog and something is being installed, I would like to have some clearer notification in order to effectively continue or

[2021-07-19 23:53] goanpeca commented on #3035
See https://github.com/napari/napari/pull/3071

[2021-07-20 02:13] sofroniewn commented on #3035
Good by me too.

😄  @liaprins-czi we should get something around the plugin installer in the design queue for the future - this can be a good test case for ideas around a design intake process

[2021-07-20 03:49] #2653 closed, assigned to nobody

[2021-07-20 17:44] andy-sweet commented on #3062
I just ran into this morning and it confused me for a little while, so I'd be in favor of going ahead with this task.

If it's helpful, here are some test cases that all fail that help to demonstrate the weirdness.

[code]

Comparing to the string values (e.g. `'some_mode'`) pass, which I can see as a convenient behavior, but not at the cost of comparing against the enum values.

[2021-07-21 07:53] jni commented on #3057
Probably this has something to do with how the tile2data transform is composed with the rest of the transform chain — perhaps it results in an invalid transform somehow...

[2021-07-21 14:59] tibuch commented on #1478
Hello everyone,

An orthogonal viewer would be very useful for some of my users and I wanted to inquire what the status/timeline is of this feature? Are there still some larger underlying issues to be resolved first or would it be possible to start working on this already? I would also be able to contribute some developer time to get this done if necessary. However if the underlying code is underg

[2021-07-21 17:14] liaprins-czi commented on #3070
Great idea for an improvement!

Yes I agree with this. But I also like the idea of changing the close button to be called "Cancel", because users may actually _want_ to cancel sometimes, but not now how or know that it is an option to do by closing the dialog. I think that doing both changes you suggest would be beneficial.

[2021-07-21 17:30] goanpeca commented on #3070
Thanks for the feedback @liaprins-czi 🤗

[2021-07-22 03:20] sofroniewn commented on #1478
Hi @tibuch so exciting you're willing to help out - there are some underlying issues that need to be sorted out around our layer/ data model - but we're actually in the process of trying to set up a working group that would focus on this area and that you'd be more than welcome to join!

Not sure if you're in the napari zulip https://napari.zulipchat.com/login/ yet, but maybe you join that and i c

[2021-07-22 14:50] maweigert commented on #2571
Same here:

[code]

Only happens with `ipython --gui qt` on MacOs not when using napari as as stand-alone or when running it from Linux (all fine there)

[2021-07-22 23:55] nclack commented on #1426
I'd love to take this on.

[2021-07-22 23:56] tlambert03 commented on #1426
I'd love for you to take this on.  and happy to review.

[2021-07-23 01:18] maweigert opened #3077 "points layer + 3D + perspective projection results in white image on MacOS"
## 🐛 Bug

Rendering a points layer in 3D and changing the projection from orthogonal to perspective results in a completely white image on MacOS

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

A rendered points layer (as when setting `viewer.camera.perspective=0`

## Environment

[code]

[2021-07-23 02:30] jni commented on #3077
Yup, I can reproduce, thanks for the example @maweigert! It's also reversible. To me it suggests a vispy bug, we'll have to drill down and make a vispy-only reproducer though.

[2021-07-23 03:13] liu-ziyang commented on #3024
good catch! host.docker.internal:0 is a docker MacOS convention where other platforms have different ways of mounting the display device address which I couldn't exhaust when I worked on this. I will add the dependencies in the docker file and rebuild some of the images.

We will continue the discussion of the underlying issue in #1457 for visibility. I will rebuild the images as fast as I can, an

[2021-07-23 03:13] #3024 closed, assigned to nobody

[2021-07-23 04:06] maweigert opened #3078 "Deleting points raises IndexError (MacOS)"
## 🐛 Bug

Removing points from a points layer via "Delete selected points" sometimes results in an`IndexError: index is out of bounds`. This happens only for certain points and in specific situations - git bisects indicates commit 5dd37eccb84e3291123 to be the culprit (maybe some events race condition?)

## To Reproduce

The following script generates 3 points `P1--P2--P3`. Directly selecting the

[2021-07-23 06:02] jni commented on #3077
Ok, so I was able to *sort of* reproduce in VisPy with this code:

[code]

roughly adapted from https://github.com/vispy/vispy/issues/1166

Here's the result with me moving through the perspective values with shift+right click. You can see that just above 0 (isometric), the markers become enormous and fill the field of view, but otherwise things are ok:

https://user-images.githubusercontent.com/4

[2021-07-23 06:08] jni commented on #3078
Maybe there should be a limit on the number of terrible bugs one person can report in a 24h period hey @maweigert? 😂

(Joking, just thought it was funny that I literally *just* finished responding to your other bug, hit "archive" on the GH notification, and this was the next top notification! 😂)

Thanks for the git-bisect! Should really help narrow down what is happening!

[2021-07-23 06:13] jni commented on #3078
Ok so this one I can't seem to reproduce... Perhaps it has to do with mouse sensitivity and whether the point thinks it's moving while it's being deleted, and my mouse is on a less sensitive setting than yours... (Tried with both trackpad and mouse.) Would you mind copy-pasting the full traceback @maweigert? You might want to use a gist.github.com to paste into if it's too long. Thank you!

[2021-07-23 08:03] VolkerH opened #3079 "ensure_sequence_of_iterables : ValueError for empty list."
## 🐛 Bug

While chasing down some problems with displaying multi-channel, pyramidal ome.zarr files through a plugin
I noticed a problem in `ensure_sequence_of_iterables`:

https://github.com/napari/napari/blob/3bd58bde6858eb4d9f916fe32df262a4ebe1a24f/napari/utils/misc.py#L151

When the `obj` passed in is an empty list `[]`, an index error is raised:

[code]

In the ideal world (no upstream errors)

[2021-07-23 10:53] maweigert commented on #3078
Sure, here it is https://gist.github.com/maweigert/034ecccab08b02cf4aface706f5fb732

[2021-07-23 11:51] tlambert03 commented on #3079
looking only at this function, i think I agree that an empty list qualifies as a sequence of iterables (albeit an "empty" sequence of iterables).  I think the only place this function is used in in `stack_utils:split_channels`  (where, to my reading, an empty list should be fine as well ... or at least should be handled there instead).

I think the behavior for an empty list should be to return an

[2021-07-23 11:55] tlambert03 commented on #3077
yes, this has been a known vispy bug since the [original addition](https://github.com/napari/napari/pull/2636#issuecomment-830988629) of the slider.  (see also https://github.com/napari/napari/issues/2637)

[2021-07-23 12:36] maweigert opened #3080 "Saving layers dialog broken with ipython + MacOS"
## 🐛 Bug

When using napari from within ipython and trying to save a layer e.g. with "Save Selected Layer(s)" the corresponding FileDialog pops up and immediately closes without any user intervention. This seems to happen with all `QFileDialog` dialogs (but not `QMessageBox`).

## To Reproduce

1. Open an empty image **within ipython**

[code]

2. Try to save the image with `⌘ + S`

## Expected be

[2021-07-23 21:26] sofroniewn commented on #3035
Now that #3069 and #3071 have merged can we close this or is there still more we want to do here? We can also open up a new issue for the additional work if it is different in scope

[2021-07-23 21:48] sofroniewn commented on #3077
Might be something good for Owen when he joins @jni

[2021-07-24 00:48] mariavmukhina opened #3082 "Application has crashed"
Application 0.4.10-macOS crashes at initiation with following error:

Traceback (most recent call last):
  File "napari.app/Contents/Resources/app_packages/vispy/gloo/gl/_gl2.py", line 682, in _glGetIntegerv
    nativefunc = _glGetIntegerv._native
AttributeError: 'function' object has no attribute '_native'

During handling of the above exception, another exception occurred:

Traceback (most recen

[2021-07-24 13:02] willingc opened #3085 "Bringing back the example from the old napari homepage"
## 📚 Documentation

Hi @sofroniewn @kne42,

I was at a conference this weekend and met a postdoc doing work on tumors at a Childrens Hospital. I wanted to show her a quick demo of napari that used to be on the landing page. The GIF/image of the cell was the one that I was thinking about. I eventually found something on the CZI website.

I love the docs. Awesome job all around.

If you point me in

[2021-07-24 15:39] tlambert03 opened #3086 "Use QDialog accept/reject instead of custom signals"
## 🧰 Task
In looking through some settings stuff, I see this pattern being used in a few places, where a custom `valueChanged` signal is added to a `QDialog`, and emitted just before closing the dialog, based on whether the user clicked ok or cancel:

https://github.com/napari/napari/blob/d6bc683b019c4a3a3c6e936526e29bbd59cca2f4/napari/_qt/dialogs/qt_message_dialogs.py#L47-L59

usage example here:

[2021-07-24 19:46] sofroniewn commented on #3085
Hi @willingc, we definitely want to bring the gallery back and thanks for offering to make a PR!

While the old homepage had custom made gifs that were committed directly to the repo, we want to now leverage juptyerbook/ sphinx to make autogenerated movies like vispy have done here https://vispy.org/gallery/scene/index.html as they will then both automatically be kept up to date and easily provide

[2021-07-25 07:56] #2956 closed, assigned to DragaDoncila

[2021-07-25 13:54] tlambert03 opened #3087 "Reclaim keypress events from vispy, and clarify what actually handles keypresses."
## 🧰 Task

In looking through some of the keypress handling, I think we would benefit from reclaiming the handling of keypress events from the vispy canvas, and generally clarifying _what_ handles keypress events.

Currently, most keypress events that happen will either be directly handled by the vispy canvas (if the canvas has focus), or will be handled by QtViewer.  This makes sense because Qt p

[2021-07-25 20:09] sofroniewn commented on #3087
Agreed! I'd be supportive of this. Could be something good for @ppwadhwa to take on

[2021-07-25 20:09] sofroniewn commented on #3086
I'm supportive of this change

[2021-07-25 20:12] sofroniewn commented on #3082
Hmm, looks like this might be a vispy related issue @mmuxika. Have you ever been able to get napari working or this happens on first launch? Are you using the bundled app that you downloaded, or did you install napari with `pip` or something else? If you could add a little more info here it might help us track down the issue. Sorry you're running into problems!!

[2021-07-26 00:55] jni commented on #3082
@sofroniewn this path in the traceback: `napari.app/Contents/Resources/app_packages/vispy/gloo/gl/_gl2.py` shows that this is an issue with the bundled app.

[2021-07-26 00:59] jni commented on #3082
@mmuxika could you tell us about your macOS version and what Mac you are using?

To me it looks like an issue with OpenGL drivers, which is not going to be fun to deal with. But also, maybe @mmuxika you are using a new Apple Silicon Mac? In which case the bundle is not expected to work yet...

[2021-07-26 16:02] willingc commented on #3085
Got it! @sofroniewn I think even a static image with the cells and ui would be awesome during the transition.

Gallery will be so cool.

[2021-07-26 16:47] mariavmukhina commented on #3082
@sofroniewn, @jni yes, I was trying to start the bundled app for the first time.
My system:
Model Name:	iMac Pro
  Model Identifier:	iMacPro1,1
  Processor Name:	18-Core Intel Xeon W
  Processor Speed:	2.3 GHz
  Number of Processors:	1
  Total Number of Cores:	18
  L2 Cache (per Core):	1 MB
  L3 Cache:	24.8 MB
  Hyper-Threading Technology:	Enabled
  Memory:	128 GB
  System Firmware Version:	1554.1

[2021-07-26 20:25] DragaDoncila commented on #3035
@sofroniewn I think final issue in regards to this would be a warning or an error when two plugins try to register the same entry point. Even with individual entry points per package, we have no namespace for the entry points. The result is that one plugin completely shadows the other if they have identically named entry points.

Longer term I know @tlambert03 is looking at completely revamping th

[2021-07-26 20:33] tlambert03 commented on #3035
yeah, totally agree @DragaDoncila.  As I [mentioned earlier](https://github.com/napari/napari/issues/3035#issuecomment-878674473), I see the user confusion caused by the gui (fixed in those recent PRs) to be a relatively minor problem compared to the potential for namespace clashes.

@DragaDoncila, if you'd like to submit a PR for this, we'd just need to emit a warning on this line:
https://github

[2021-07-26 20:34] DragaDoncila commented on #3035
@tlambert03 yep I was planning on doing so later today!

[2021-07-26 20:35] tlambert03 commented on #3035
**edit**: actually... you could even just go ahead and rename it to `plugin-2` or something, widgets and stuff would still show up in the menu

[2021-07-26 20:35] DragaDoncila commented on #3035
Yeah I was thinking about renaming, probably still with a warning to the user though

[2021-07-26 21:51] andy-sweet commented on #3027
I changed the title of this to reflect the first step of work on this larger work before I start proposing new ideas.

[2021-07-26 21:55] ppwadhwa opened #3089 "Discussion to plan for re-directing keypress events"
Make plan for how to accomplish https://github.com/napari/napari/issues/3087.  Map out steps, understand changes needed, etc.

[2021-07-27 15:55] Czaki opened #3090 "NAPARI_CATCH_ERRORS=0 does not disable catching errors by Notification manager"
## 🐛 Bug

NAPARI_CATCH_ERRORS=0 does not disable catching errors by Notification manager which does not allow to use of IDE integration during debugging.

## Expected behavior

Use NAPARI_CATCH_ERRORS=0 should disable all caching methods (book installing own excepthooks)

## Environment

napari: 0.4.10
Platform: Linux-5.11.0-25-generic-x86_64-with-glibc2.2.5
System: Ubuntu 21.04
Python: 3.8.3 (def

[2021-07-27 17:39] tlambert03 commented on #3090
yep, agreed.  PR would be great.

[2021-07-27 18:37] Czaki commented on #3090
After check of code. Did you prefer to disable notification manager or only disable registration of `excepthook`?

[2021-07-27 19:04] su2804 opened #3092 "Superqt installation issue"
## 🐛 Bug
ERROR: Could not find a version that satisfies the requirement superqt (from napari[all])
ERROR: No matching distribution found for superqt

When I install napari using a git cloned repository it throws this error.
I also tried installing superqt using pip but it throws the same error.
## To Reproduce

Steps to reproduce the behavior:

1. Install napari by cloning the GitHub repository

[2021-07-27 19:06] tlambert03 commented on #3092
strange... it's definitely on there: https://pypi.org/project/superqt/

can you tell me more about your system?  python version? os? etc...

[2021-07-27 19:15] su2804 commented on #3092
Thanks for the reply. Here are the system details:

Python 3.6.8
macOS catalina

[2021-07-27 19:16] tlambert03 commented on #3092
ah, ok.  Yeah, neither `napari` nor `superqt` support python 3.6 anymore.  Can you update?

[2021-07-27 22:06] su2804 commented on #3092
That fixes it!

[2021-07-27 22:06] #3092 closed, assigned to nobody

[2021-07-27 23:27] JoOkuma opened #3093 "Additional option to tracks layer to display the tracks of subsequent time points."
## 🚀 Feature

Add a checkbox to allow seeing tracks independent of the current time point. Currently, we only display the tracks of previous time points.

## Motivation

This is useful to check where cells a migrating given a starting point and investigate other cell divisions behaviors.

## Pitch

I think it would be extremely useful to be able to toggle between seeing tracks from previous or eve

[2021-07-28 08:06] alisterburt opened #3094 "reload image from source"
## 🚀 Feature
The ability to reload images from files easily within the viewer.

## Motivation
Sometimes people are running external programs which update a file on disk. If people have an existing layer created by opening that file, it would be nice to be able to reload that file from within napari without having to find the file in a file browser.

## Pitch
- Add an action to 'reload' a file from

[2021-07-28 08:22] alisterburt opened #3095 "`ShapesData` not properly passed to magicgui function"
**Describe the bug**
Only the shapes layer data which was present when a layer was initialised is passed to magicgui when a function argument is decorated as `napari.types.ShapesData`.

**To Reproduce**
Run the following example, add a new shape interactively then hit the `print my shapes` button. Only the shape present upon layer initialisation will be printed. For a shapes layer which started em

[2021-07-28 08:32] alisterburt commented on #3093
this would be super useful! Rather than changing the time point, what do you think about the idea of 'two-tailed' tracks with one tail for previous time points and one for future time points?

Visually, this might look more correct than just shifting the head of the track because the thickest part would be centered on the object of interest.

[2021-07-28 10:54] quantumjot commented on #3093
~~If I recall - you can just set the blending mode to opaque - that should show the whole track independent of time.~~ I take that back - I changed it so that it discards the vertices in the shader - so my suggestion won't work.

[2021-07-28 11:29] tlambert03 commented on #3094
I like it!
Quick pointer, `layer.source` is an attribute (not in the metadata dict), see https://github.com/napari/napari/pull/2518 for details

[2021-07-28 13:06] alisterburt commented on #3094
thanks @tlambert03 !

[2021-07-28 16:11] JoOkuma commented on #3093
@alisterburt And we would have two checkboxes, one for each direction?

It would tackle my use case because I just want to see both directions simultaneously.

For example, analyzing cell divisions:
<img src="https://user-images.githubusercontent.com/21022743/127357895-755a7e99-2e10-4208-950e-35241e0cdc13.png" width=50% height=50%>

[2021-07-28 16:18] quantumjot commented on #3093
What if you had a double slider for +ve tail length and -ve tail length? You could effectively show an arbitrary window of time (or whatever dim 0 represents).

[2021-07-28 17:17] ppwadhwa opened #3096 "Convert tooltip text to rich text globally"
## 🧰 Task

Currently, Qt tooltips will not wrap text if it gets very long.  Most tool tips are not long enough to be a problem, but in the event that it is, wrapping is necessary. I have made it wrap in one place where the tool tip text was very long by using rich text (see the the grip mode pop up button tooltips), but doing this in one spot is not preferable.

In [this discussion ](https://stack

[2021-07-29 03:00] PMLLancao opened #3097 "Napari error : does not install plugin in GUI bundle app"
## 🐛 Bug

I am using the bundle app without python in MAC OSX mojave.
I want to install plugins to use napari but it does not work..
Every time that I tried to install a plugin I received this error:

2021-07-28 22:57:36.775 napari[2163:247395] error: unrecognized arguments: --upgrade

## To Reproduce
Downloadind the app and install in mac.
Try to install plugin

2021-07-28 22:57:36.775 napari[216

[2021-07-29 10:26] tlambert03 commented on #3090
I don't have a very strong opinion.  Whatever allows IDE debugging is most important.  but I guess the name itself `NAPARI_CATCH_ERRORS=0` implies that the excepthook itself should not be registered... what do you think?

[2021-07-29 10:34] tlambert03 commented on #3090
actually, I guess one tricky thing here is how to deal with the Qt abort.  i think the original intention of that env var was to toggle whether the exceptions appear in the gui or in the console... but if we disable the except hook altogether, a Qt exception will cause a full-on program exit.  is that what we want for IDE debugging?

[2021-07-29 10:45] Czaki commented on #3090
It is possible to do this without halting the program. I have access to such code.

[2021-07-29 14:07] goanpeca opened #3098 "Write document for options on building mamba/conda integration for bundled app"
## 🧰 Task

This task will provide a document summarizing the steps needed to provide initial support for conda/mamba on briefcase. This will also define the posible options on including this in the bundle.

Topics to detail and coves

- napari installation in user space
- Plugin installation in user space
- micromamba vs mamba vs conda
- Briefcase work to allow
- Autoupdates
- App store
- Other ap

[2021-07-29 14:29] JoOkuma commented on #3093
@quantumjot I think that's a great idea. I will work on it.

[2021-07-29 14:30] goanpeca opened #3099 "Restore global plugin enable/disable on the plugin dialog"
## 🐛 Bug

Restore global plugin enable/disable on the plugin dialog

[2021-07-29 14:32] goanpeca opened #3100 "✨ Move plugin errors entry to notification manager"
## 🚀 Feature

The plugins dialog could be simplified if the plugin errors were displayed as part of the notification manager?

<img width="210" alt="Screen Shot 2021-07-29 at 9 31 22 AM" src="https://user-images.githubusercontent.com/3627835/127510630-3d0132b6-1176-4103-ba93-7da6f2e656e7.png">

## Motivation

Simplify the UI, plugins menu and dialogs.

---

Pinging @liaprins-czi

[2021-07-29 14:33] tlambert03 commented on #3100
agreed.  The main thing that we would either lose (or need to port) is the select box that let's you review/select all of the tracebacks collected by a specific plugin

(i.e. the notification manager still doesn't really have a "history")

[2021-07-29 14:39] goanpeca opened #3101 "Unify (visual) plugins (dockwidgets) under either the window or the plugins menu."
## 🚀 Feature

Unify (visual) plugins (dockwidgets) under either the window or the plugins menu.

<img width="197" alt="Screen Shot 2021-07-29 at 9 33 05 AM" src="https://user-images.githubusercontent.com/3627835/127510942-314f31d4-9f49-4704-a693-53edfe6f7a18.png">
<img width="280" alt="Screen Shot 2021-07-29 at 9 33 16 AM" src="https://user-images.githubusercontent.com/3627835/127510969-470c95c2-0

[2021-07-29 14:41] tlambert03 commented on #3101
sounds good.  I would also add: currently if you click the "X" button on a dock_widget, it simply hides the widget but does not destroy it.  I think that's both a bit a confusing, and inefficient.  that could be addressed here as well.

[2021-07-29 14:42] goanpeca commented on #3100
Indeed, we would need to do some work and maybe add "sections" to the notification manager so that plugins errors could be accessed on demand more easily.

Port sounds good, might need to think about what history looks like on the notification manager.

[2021-07-29 14:44] goanpeca commented on #3101
We could add a custom (we already do I think?) toolbar to dockwidgets so that hide and close/destroy are separate actions. However on "normal" vanilla docks on Qt (and applications I have used) clicking the `x` is effectively just hiding the thing.

[2021-07-29 14:49] tlambert03 commented on #3097
this is a duplicate of https://github.com/napari/napari/issues/2965,
it should have been fixed in https://github.com/napari/napari/pull/2980... but I just tested the recent and indeed it didn't work.  I'm going to close this issue, since we already have a dedicated (and open) issue for this.  please track progress at #2965

[2021-07-29 14:49] #3097 closed, assigned to nobody

[2021-07-29 14:56] goanpeca opened #3102 "Unify capitalization of plugin names / provide guidelines for plugin naming"
## 🚀 Feature

<img width="198" alt="Screen Shot 2021-07-29 at 9 54 28 AM" src="https://user-images.githubusercontent.com/3627835/127514797-65cf3a30-2a5a-4008-99dd-cfee8fe8491f.png">

Some start with lowercase some other do not, and plugins should provide a display language so that capitalization rules will change for different languages (if they apply)

## Motivation

Provide a consiste UI

## Pit

[2021-07-29 15:01] goanpeca opened #3103 "✨ Overall dockwidget UI feedback"
## 🚀 Feature

Plugins have very long names and when tabbed together are not very readable (if more than… 2 or 3).

<img width="224" alt="Screen Shot 2021-07-29 at 10 00 21 AM" src="https://user-images.githubusercontent.com/3627835/127515782-a7292b0d-5a2d-4a82-9151-c91a48d63e4a.png">

<img width="589" alt="Screen Shot 2021-07-29 at 10 00 37 AM" src="https://user-images.githubusercontent.com/3627835

[2021-07-29 15:09] goanpeca opened #3104 "✨ Viewer buttons toolbar should not be part of Layer List dock widget"
Currently some buttons that affect the viewer are placed on the layer list dockwidget.

Additionally the show console button is part of this dock as well, which means closing the layer list would effectively close viewer related actions plus the show/hide console button.

<img width="618" alt="Screen Shot 2021-07-29 at 10 07 17 AM" src="https://user-images.githubusercontent.com/3627835/127516913-c

[2021-07-29 15:33] tlambert03 commented on #2965
as noted in #3097, pinning briefcase to 0.3.1 in https://github.com/napari/napari/pull/2980 did _not_ actually change anything about this problem, since the newer support package (with static libs) is still being used.

we'll need to pin the support package as well, and since [3.8-b5](https://github.com/beeware/Python-Apple-support/releases/tag/3.8-b5) states that it's the first version in static

[2021-07-29 21:52] liaprins-czi commented on #3101
This all sounds great to me. I like the idea of unifying the actions and also getting rid of the Windows menubar if we don't need it.

Hmm do youthink it would be a problem then if we changed this behavior so that "x" does destroy? Would ppl expect it not to, and if so, how harmful would that be vs the benefit?

[2021-07-29 21:55] liaprins-czi commented on #3102
Yes I think we will be doing this as part of the hub's effort to have better plugin names shown. (@neuromusic for reference)

@goanpeca Do verify, are you referring to the actual name of the plugin, or to commands that the plugin includes and that subsequently appear in menubar when using it? (or both?)

[2021-07-29 21:59] liaprins-czi commented on #3103
Very related to this heuristic issue (possible duplicate on most fronts):
https://github.com/napari/product-heuristics-2020/issues/18

If useful we can still kepp this one open though

[2021-07-29 22:03] liaprins-czi commented on #3104
Also closely related to this heuristic issue:
https://github.com/napari/product-heuristics-2020/issues/19

[2021-07-29 22:10] DragaDoncila commented on #3078
@maweigert thanks for the report. I couldn't reproduce on ubuntu but I've managed to reproduce now on Mac and am looking into it.

[2021-07-29 22:19] tlambert03 commented on #3095
hmm... I'm not seeing it.  napari and magicgui versions?

[2021-07-29 22:21] tlambert03 commented on #3095
https://user-images.githubusercontent.com/1609449/127573089-6d57e7b4-33ea-420c-b45a-2bb9fb85d0fb.mov

[2021-07-29 22:24] tlambert03 opened #3106 "Consider making default shapes edge-color not black"
## 🐛 Bug
The default edge-color of black doesn't work well with a default canvas color of black.
it looks like lines don't work:

https://user-images.githubusercontent.com/1609449/127573341-255a2f03-7459-4c97-90ad-1b0b4296c1a5.mov

[2021-07-29 23:22] goanpeca commented on #3101
Well since we can control and create our own custom title bar for the dockwidget we can add the buttons that we considere necessary. We could have `x`, `hide`, `undock`

[2021-07-29 23:23] goanpeca commented on #3102
I meant the name of the plugin that will appear on the plugins menu, if they provide a dockwidget hookspec.

[2021-07-29 23:32] liaprins-czi commented on #3102
Okay great!

[2021-07-30 16:19] JoOkuma opened #3111 "It is not possible to create an empty tracks layer."
## 🐛 Bug

The tracks layer can't be created without data.

## To Reproduce

Execute:

[code]

Error:
[code]

## Expected behavior

I expected it to allow to be constructed without data like the points layer since it already allows updating existing data:

[code]

## Environment
[code]

[2021-07-30 20:51] alisterburt commented on #3095
Oh! In my dev environment I can't reproduce either, napari master and magicgui 0.2.9.

This came up in the context of working on a plugin, there I was on napari 0.4.10 and magicgui 0.2.10. Trying to recreate now but installing xcode seems to have borked my conda installation... this can probably be closed!

[2021-07-31 01:38] #3057 closed, assigned to nobody

[2021-07-31 01:39] jni commented on #1959
Fixed by #3088. 🎉

[2021-07-31 01:39] #1959 closed, assigned to nobody

[2021-07-31 23:20] DragaDoncila commented on #3106
Totally agree, I've run into this and it's pretty annoying because you have to select all the shapes and then change the edge colour - new users may not realize. Whatever we choose would obviously still have to work with the light theme where the canvas is white, so maybe a middle grey.

[2021-08-01 00:21] DragaDoncila commented on #3078
Finally managed to figure out exactly what's happening here.

@jni was right that this happens when a slight mouse drag is detected on click. Since #2992 this point move also emits a `data` event, causing `_on_layers_change` to fire [on the viewer](https://github.com/napari/napari/blob/9dd9fa6390ad4dfe9a08194de8c84e7e87bfeaa0/napari/components/viewer_model.py#L335). This resets the cursor position

[2021-08-01 10:19] haesleinhuepf commented on #3102
Hi all,

great to see this discussion here! I just renamed some of my plugins so that their name highlights more "What" the plugin is doing. I would recommend that to all plugin developers in general. We could then mid/long term have a menu that contains
* Filtering
* Segmentation
* Measurements

Instead of technical terms such as
* clEsperanto
* StarDist
* Regionprops

From a users perspective, t

[2021-08-01 15:05] tlambert03 commented on #3102
oof @haesleinhuepf 😝 [this bit](https://github.com/clEsperanto/napari_pyclesperanto_assistant/blob/8667d44526729582205ce02444706f4ed11b22c3/setup.py#L56-L66) right here is definitely not what was intended by the entry_point mechanism.  I'd point you to #3035 for most of the conversation on this topic (I even proposed recently that we [drop support](https://github.com/napari/napari/issues/3035#issu

[2021-08-01 20:08] haesleinhuepf commented on #3102
Well, the headline of this issue is "provide guidelines for plugin naming". And I think plugins should have meaningful names such as "AlgorithmX-Segmentation" or "Measurement: MethodY". Not sure why you oppose here.

At the moment, users have a hard time because the menu is full of "abcde-napari: abcde", "ThingStar" and "CellPlugin". In many cases it's not obvious from the menu entry name what the

[2021-08-01 20:39] tlambert03 commented on #3102
I oppose because `Measurement: MethodY` is not a plugin ... it's a command.  And while I get that "provide guidelines for plugin naming" is in the title of this post...  I think we mean more along the lines of https://github.com/napari/napari/issues/3035, (where the general desire was to go the other direction with entry points).

Again, we completely and whole-heartedly agree here.  But the solut

[2021-08-01 21:00] psobolewskiPhD commented on #3102
I mentioned this in the image.sc thread, but coming from a neophyte PoV, I strongly feel the Plugins menu should remain sane and well organized, 1 item per plugin. What would be nice though is to be able to activate more robust plugins to enable have their own dedicated menu. Then it would be easy to access those features and know clearly what plugin they belong to. I prefer a menu to a panel in n

[2021-08-01 21:03] tlambert03 commented on #3102
This is absolutely the goal.  work actively in progress.  We'll be putting out some more public proposals in the not too distant future.

[2021-08-01 22:47] tlambert03 opened #3115 "[discussion] Proposal for napari plugin manifest schema"
## 🧰 Gathering input on new napari plugin schema

This task is for discussing ideas around a new static manifest proposal (see https://github.com/napari/napari/issues/2975 for original proposal).  This is very incomplete at the moment, we're still fleshing out ideas and welcoming input.

The primary benefits of a static manifest would be full "awareness" of what a plugin has to offer without havin

[2021-08-02 02:54] jni commented on #3078
@DragaDoncila Honestly I like *both* options, and think we should probably do both. I don't think it should make any difference setting the cursor position to (0, 0, ...) when changing the layer list, as it's not a particularly special value. But I agree with you that setting `self._value` to None feels more "proximal" to the fix. 😅 So if @sofroniewn agrees I would suggest make both changes in a P

[2021-08-02 03:26] sofroniewn commented on #3078
I think you might need to either pad/ drop dimensions so that cursor.position has correct dimensionality - i.e. the significance is not about it going to `0` but going to the right `n` in our `nD` representation. That's a shame no test is currently catching that behaviour, but you might be able to write a test which changes dimensionality of layers and moves cursor to find bug

seems like a good i

[2021-08-02 03:34] sofroniewn commented on #3101
Unifying sounds great! Very supportive of this as well.

do you know which one of these we'll be going for? I recall some discussion in a meeting a while back, but can't remember where we landed.

[2021-08-02 06:50] haesleinhuepf commented on #3115
Hey @tlambert03 ,

thanks for your initiative! Great to see that :-)

Just a quick question:

Would it be ok if multiple plugins populate a similar / shared menu structure? E.g.

Plugin A:
* Segmentation
  * Algorithm A

Plugin B:
* Segmentation
  * Algorithm B

I'm asking because that would allow us to keep the first level in the plugins menu short and clearly structured.

Best,
Robert

[2021-08-02 10:25] tlambert03 commented on #3115
The plugins menu isn't the only menu that plugins can contribute to.  In the schema, napari declares menus that plugins can add to. So in this case napari would expose the `Segmentation` menu, and plugins could add to it.

But, I think this is also a good case for the "analysis protocols" concept that we've been discussing.  So one could imagine "segmentation" being its own contribution point (fun

[2021-08-02 14:06] QuaternionsRock commented on #3111
Can you not pass `np.empty((0,4))` to achieve this behavior?

[2021-08-02 14:37] QuaternionsRock opened #3116 "Add a CSV layer type detection function registry for `napari.utils.io.guess_layer_type_from_column_names`"
## 🚀 Feature

As of v0.4.10, the `napari.utils.io` module is _almost_ able to load layer data for arbitrary layers that use the CSV format for data storage. I believe this functionality should be completed and exposed to the plugin API.

## Motivation

`napari.utils.io` exposes [`csv_reader_functions`](https://github.com/napari/napari/blob/v0.4.10/napari/utils/io.py#L572-L575), a dictionary that m

[2021-08-02 16:42] JoOkuma commented on #3111
No, it raises

[code]

[2021-08-02 17:46] kevinyamauchi opened #3118 "get_status() is broken in 3D when the layers do not have the same number of dimensions"
## 🐛 Bug
When mousing around the canvas in 3D mode when the layers have different numbers of dimensions, if the layer with fewer dimensions is selected, we get an `IndexError`. I am pretty sure this is because the layer doesn't have as many dimensions and we aren't mapping `dims_displayed` properly. To be a bit more concrete:

If `layer_0` is 5d and `layer_1` is 3d. In 3D display mode, by default,

[2021-08-02 17:53] sofroniewn commented on #3118
there was code for doing this in the code base before, but i think it might be gone now. i think now best to add a new util method, long term though i really do want us to move away from ever needing `layer._dims_displayed

[2021-08-02 22:27] DragaDoncila commented on #3035
I think we can now close this issue, after merging [#32](https://github.com/napari/napari-plugin-engine/pull/32) in `napari-plugin-engine`

[2021-08-02 22:35] #3035 closed, assigned to nobody

[2021-08-02 23:17] #3017 closed, assigned to nobody

[2021-08-02 23:26] #3039 closed, assigned to nobody

[2021-08-02 23:30] #3106 closed, assigned to nobody

[2021-08-02 23:34] #3038 closed, assigned to goanpeca

[2021-08-03 13:22] kevinyamauchi commented on #3118
Thanks @sofroniewn ! I agree we should avoid adding new usages of `layer._dims_displayed`. As suggested, I made a small util function that converts world `dims_displayed_world` to  `dims_displayed_layer` in #3121 .

[2021-08-03 15:49] #2798 closed, assigned to tlambert03

[2021-08-03 17:20] kevinyamauchi commented on #3118
Closed by #3121

[2021-08-03 17:20] #3118 closed, assigned to nobody

[2021-08-03 20:50] haesleinhuepf commented on #3115
Fantastic! That sounds exactly like what I was looking for 🌞

And that's even more exciting! 😍

I love the proposal! Let me know if I can help making it happen. And: no hurry 🙂

[2021-08-03 22:54] #3086 closed, assigned to ppwadhwa

[2021-08-04 00:44] jni commented on #2866
Looks like I never added what I think should be the canonical reference here:

[Tamara Munzner (2014) Visualization Analysis & Design](https://www.cs.ubc.ca/~tmm/vadbook/)

It's a reasonably thick book for a semester-long course, but everything is nicely summarised in this blog post:

https://maelfabien.github.io/machinelearning/Dataviz/

[2021-08-04 00:55] andy-sweet commented on #2866
Here's a doc I've been working on that is my understanding of the behavior, implementation, and API of properties and related concepts: https://docs.google.com/document/d/1ZSlUPmGop6wuVEPTVC_DCb49E0orhyplrEyV302-sdU/edit?usp=sharing

It doesn't include any proposals or plans, but feel free to comment on any misunderstandings or anything that's missing.

I'm also thinking about converting the doc t

[2021-08-04 07:44] #3078 closed, assigned to DragaDoncila

[2021-08-04 10:53] Czaki opened #3124 "Memory not clean after remove layer"
## 🐛 Bug

When removing a layer from viewer its memory is not released.

## To Reproduce

Steps to reproduce the behavior:

1. Check memory usage
2. Load multiple heavy files
3. check napari memory usage
4. delete all layers
5. compare memory usage

## Expected behavior

There should be no memory leaks

## Environment
napari: 0.4.11.dev80+g718d50775
Platform: Linux-5.11.0-25-generic-x86_64-with-gl

[2021-08-04 10:59] tlambert03 commented on #3124
Duplicate of #2027, some work exploring fixes done in #2155

[2021-08-04 11:04] Czaki opened #3125 "Progress bar when loading multiple files"
## 🚀 Feature

Progress bar when loading multiple files (for example from drag n drop)

## Motivation

When loading multiple files it will be nice to have some feedback information, not frozen interface.

## Pitch

As there Is a great threading mechanism with the generator worker then loading data could be moved to separated thread, layers added live and progress bar in the interface.

## Alternati

[2021-08-04 11:07] Czaki commented on #3124
I was searching for leak-related issues. Thanks for pointing proper one. If I have a time I will try to debug it.

[2021-08-04 11:30] tlambert03 commented on #3124
that would be great!  As shown in #2155, most of the references can be pruned with weakrefs in the proper places... the `ImageSlice`, `ImageSliceData`, and that whole chain of objects is the main problem

[2021-08-04 16:40] #3062 closed, assigned to andy-sweet

[2021-08-04 16:45] sofroniewn opened #3128 "Switch "master" to "main""
## 🧰 Task
GitHub now defaults new projects to use "main" instead of "master" - see https://github.com/github/renaming for context - and many projects like vispy and scikit-image have now switched to using "main".

There has been some discussion on the cookie-cutter of renaming see https://github.com/napari/cookiecutter-napari-plugin/issues/18 and https://github.com/napari/cookiecutter-napari-plugi

[2021-08-04 17:02] justinelarsen commented on #3128
I think it's a great idea! Thanks for suggesting it @sofroniewn

[2021-08-04 17:08] kevinyamauchi commented on #3128
Sounds good to me!

[2021-08-04 18:12] tlambert03 commented on #3128
yep.  anytime!

[2021-08-04 20:05] #3090 closed, assigned to nobody

[2021-08-05 00:38] jni commented on #3128
I think >50% of my projects now use main, and it's only going to increase going forward, so I'd very much like to make it 100% to give my muscle memory a chance to relax again. 😂

Advice for devs: once the switch happens, *delete your master branch locally*. I checked out master many times when skimage made the switch, only to realise later that my PRs were based off some ancient commit. 🤦

[2021-08-05 02:14] GenevieveBuckley commented on #3128
When we did this for dask-image, Julia had excellent instructions for what developers needed to do on their end locally. Here's the comment: https://github.com/dask/dask-image/issues/184

It was pretty straightforward. It involved:
1. (Admin only) Going into the repository settings on github and renaming the master branch
2. (Admin only) Find and replace "master" with "main" in the repository, and

[2021-08-05 12:34] jni opened #3131 "Error when reordering plugin sorter"
## 🐛 Bug

When I tried to drag and drop plugins for get_reader in the plugin sorter, I got the following error:

[code]

[2021-08-05 22:21] #3009 closed, assigned to ppwadhwa

[2021-08-05 22:45] sofroniewn commented on #2714
Following up on https://github.com/napari/napari/pull/3072#issuecomment-893199773 I think we should drop the use of modifier keys to change labels mode - cc @jni

[2021-08-05 23:15] tlambert03 opened #3132 "Feature: make mask from points with sizes"
## 🚀 Feature
Similar to how we can convert shapes to masks, I'd like to be able to generate masks from a points layer with sizes.  In `skimage` my (probably very crappy) implementation is something like this:

(where the last column of `blobs` is the `size` parameter in the points layer)

[code]

[2021-08-05 23:24] tlambert03 commented on #3131
thanks for the report @jni.  I'm unable to recreate at the moment... but I can see how this might potentially happen if something independently added an item to `QtHookImplementationListWidget`.  We might be able to patch it just by using `getattr(..., None)`... but i'd feel a bit better about it if i knew exactly how a `QListWidgetItem` got added without getting that `hook_implementation` attribu

[2021-08-06 02:24] jni commented on #3131
... aaaand I can't reproduce either. 🤦

A bit more context, though I don't know how much it would help:

- I installed napari-bioformats
- I tried to open a .nd2 file
- The builtins keep higher priority because the author of napari-bioformats has no faith in their own library. 😜
- The builtins don't error out gracefully, so I was getting annoying error messages (though eventually bioformats picks

[2021-08-06 02:36] jni commented on #2714
We agree on that, @sofroniewn, but that doesn't get to the root cause here — this problem happens with *any* "hold to toggle" behaviour, including hold space for pan-zoom. Actually it's worse with hold-space: the other modes get disabled!

https://user-images.githubusercontent.com/492549/128447443-e7383496-4a83-410f-a1e4-f9f6b4731d47.mov

[2021-08-06 02:41] jni commented on #3132
I mean, the fact that this draws in 2D only hurts my soul 😂😜, but other than that, 👍!

I *will* note that we are considering moving to size being a "visual attribute" that must always be derived from a property, but there are ways around this for the purposes of this feature, e.g. you could always access the derived values.

[2021-08-06 07:19] jni opened #3133 "Align all layer mode keybindings to the number keys"
## 🧰 Task

In #2800, @haesleinhuepf noted that for many situations, having keybindings close to each other is better than having them correspond to a letter on the keyboard that somehow matches the name, especially if one is switching modes often, as is the case during segmentation editing.

@AbigailMcGovern started this work for the Labels layer in #3072. We should do the same thing for other lay

[2021-08-06 07:20] jni commented on #3133
Oh, another idea discussed with @sofroniewn: pan-zoom should always be the rightmost mode button and the rightmost key (5).

[2021-08-06 11:21] tlambert03 commented on #3132
I did warn you it was crappy! 😅

[2021-08-06 11:27] tlambert03 commented on #3131
Ohh!  Yeah that's helpful.  Thanks for the details, will dig.

Also, we should definitely fix the annoying error message independently

[2021-08-07 19:38] sofroniewn commented on #3133
Nice @jni! Is this something that you and @AbigailMcGovern are planning to take on? It could also be something @ppwadhwa can help with

[2021-08-07 20:31] sofroniewn commented on #3128
Ok great, thanks all for the support, and @GenevieveBuckley that guide looks great! I propose we do this sometime early next week. Say Tuesday August 10th. I'll post in the zulip too and give people a heads up

[2021-08-07 23:46] DragaDoncila commented on #3125
I think we should be able to leverage the `progress` interface relatively easily to provide this feedback to the user - and I do agree we should move the opening of large files into a separate thread for usability.

[2021-08-09 00:28] jni opened #3135 ""Shuffle colors" button in Labels layer controls incorrectly updates the selected label color"
## 🐛 Bug

Using the shuffle colors button on the Labels layer shuffles the colors, but the new color displayed next to the selected label spinbox is incorrect. Incrementing and decrementing the spinbox restores the correct color.

## To Reproduce

[code]

Then:
- click shuffle a few times (until the color clearly doesn't match)
- click - on the selected label spinbox
- click + on the selected labe

[2021-08-09 13:26] tlambert03 opened #3136 "Use font icons instead of SVGs"
## 🧰 Using icon fonts instead of SVGs
Was looking into how VS Code does their icons, and it looks like they use font glyphs for everything (like font-awesome, etc..).  Digging in more, I found that Qt nicely supports this sort of thing (see https://github.com/gamecreature/QtAwesome for example)... digging in even _more_ it appears that this is what spyder does using the [qtawesome](https://github.

[2021-08-09 15:15] #3027 closed, assigned to andy-sweet

[2021-08-09 15:39] tlambert03 opened #3137 "Bug in _QtMainWindow `window_position` on first resizeEvent"
## 🐛 Bug
after #3075, the `resizeEvent` in `_QtMainWindow` seems a bit buggy, and I often find my window pinned in the upper left corner.

I haven't dug too deep, but a pretty repeatable way to see the problem is to open napari, open the console, then close napari.  I believe that the very first `resizeEvent` ends up appending a window position of `(0, -22)`, so if you save after two resize events

[2021-08-09 15:49] goanpeca commented on #3137
Thanks @tlambert03, will take a look.

[2021-08-09 17:41] goanpeca commented on #3101
Hmmm I think unify on `Plugins` and remove `Window` was what was discussed last time? Cannot recall either.

[2021-08-09 18:00] goanpeca commented on #3136
Hmmm 🙃

We definitely can!

Definitely :)

Please go for superqt code!

Feel free to grab anything you find useful from qtawesome.

Icon manager all the way :) !

---

I did thought of it but felt like a disruptive change that was not urgent. Also bear in mind that for anything that is already a font, this works like a breeze, for custom icons we need to make it can get more difficult as someone n

[2021-08-09 18:04] goanpeca commented on #3136
Also I think this can be phased out into several different PRs, that start implementing bits of this.

[2021-08-09 20:21] andy-sweet opened #3139 "Write document of proposals for unifying properties."

[2021-08-09 20:25] andy-sweet commented on #3139
The result of this work is to have a document with specific proposals for the properties unification work, with go/no-go decisions. Each proposal should have technical descriptions with example usage, possibly with links to WIP PR(s).

The document will be shared with the community on hackmd open for comments and contributions (i.e. other ideas) from the community.

The issue is done after collect

[2021-08-09 20:51] sofroniewn commented on #2686
The core API functionality needed for this was added in #2695, now it needs to be exposed in the UI

[2021-08-09 20:54] sofroniewn commented on #3095
@DragaDoncila can you give this issue a quick read over and see if you can reproduce or if it can be closed, this might be something you fixed not too long ago, thanks!!

[2021-08-09 20:55] sofroniewn commented on #3029
This has now been done, and #3009 has merged, thanks!!

[2021-08-09 20:55] #3029 closed, assigned to nobody

[2021-08-09 20:59] sofroniewn commented on #3054
@andy-sweet just flagging for you - not sure if you've seen, but something you might want to know about

[2021-08-09 21:08] sofroniewn commented on #3132
@andy-sweet this could be a fun one for you - i'd look at the `Shapes.to_masks` and `Shapes.to_labels` functions here https://github.com/napari/napari/blob/4489e43c4d5162ddf3d3aa2eb73dc0cf9cfd6a79/napari/layers/shapes/shapes.py#L2765-L2809 for inspiration, there could be some utils we could resuse there. Might note be the most performant implementation, but could be a starting point

[2021-08-09 21:10] sofroniewn commented on #2686
@liaprins-czi this will be a good candidate for your new design in take process - just mentioning now so we remember to use your in-take template once it is added!!

[2021-08-09 21:12] liaprins-czi commented on #2686
Sounds good, thanks!

On Mon, Aug 9, 2021 at 2:11 PM Nicholas Sofroniew ***@***.***>
wrote:

--

*Lia Prins*

Senior Data Visualization Designer

(650) 422-1750

chanzuckerberg.com

[2021-08-09 21:16] sofroniewn commented on #2660
@codemonkey800 this could be a good first issue for you to try if you like!!

[2021-08-09 21:25] DragaDoncila commented on #3115
I've been meaning to comment on this for a while.

First, I love the proposal as a whole and much prefer the flexibility and control it offers plugin developers. In particular I love that we can know all the functionality provided by the plugin without having to first import it, as this could feed into some great features for the napari-hub as well.

One aspect I want to flag early on, which we've

[2021-08-09 21:46] tlambert03 commented on #3115
thanks @DragaDoncila!  totally agree on all points, and currently feel optimistic that none will be big problems (and maybe even nicer UX ultimately)

💯 ... I meant it when I said "documentation-driven-development" above! :)  One nice thing here is that we can lean very heavily on the example (and literally documentation structure) of VS Code, since we can see their docs [here](https://github.com/

[2021-08-09 23:51] liaprins-czi commented on #3002
While I start working on the designs for this issue, I have made a document to keep track of design considerations:
https://docs.google.com/document/d/1uIf6OAPuaDOd0guVUCc2pTgRC6iV_u9H7q1bTmqLKhI/edit?usp=sharing

I have highlighted some of the considerations that are more like questions I have at this point, that the design explorations and decisions will be dependent upon. If anyone has answers,

[2021-08-10 00:53] #1744 closed, assigned to nobody

[2021-08-10 16:26] tlambert03 opened #3141 "Feature: accept RGB(A) tuple as colormap"
## 🚀 Feature
Just as our `add/view_image()` function accepts a string "red" for the `colormap` value (meaning you want a colormap that goes from black to red), it should accept an RGBA tuple, meaning you want a linear colormap that goes from black to whatever color that is.

The alternative is to import either napari or vispy to create a colormap object manually (which means heavy dependencies for

[2021-08-10 17:31] maweigert commented on #3078
Thanks!! Points are getting deleted without complaining for me again :)

[2021-08-10 19:23] Czaki commented on #3115
From my point of view the main problem with current napari engine is lack of mechanism for shared state between multiple widgets other than global object.

If I would like to try port PartSeg to be napari plugin it cannot be fitted in one widget (to keep clear interface). Also there is no need to spawn all "PartSeg" widgets every time. It will be nice to have option to provide some shared state Ev

[2021-08-10 21:16] DragaDoncila commented on #3115
Totally agree that the main companion should be properly formatted and categorized HTML docs. In-code comments can only do so much 😂  - I do still think it's worth at the very least having comments on, for example, the `activate` function of the cookiecutter template saying `# This function is connected to the viewer via the schema in pyproject.toml. See *link* for how to use this schema`.

Essent

[2021-08-11 00:25] andy-sweet commented on #3132
I started working on this, but had some questions before I make any more progress.

1. Do we want this to work in n-dimensions? Or is 2D OK?
Based on @jni's soul, I assume n-dimensions.

2. Does `napari.layers.shapes.Ellipse` work with more than 2-dimensions?
From a quick look, I don't think it does. But if it does, or it's easy to make it do so, then a simple implementation is to transform each p

[2021-08-11 02:31] sofroniewn commented on #3132
I think that is the correct assumption 🤣

No, unfortunately I believe all that code is ultimately just 2D and works with the polygon approximation of each shape - eventually calling this code here
https://github.com/napari/napari/blob/3081a1f21136e3b61882cdd8f3c134ab22ef71a0/napari/layers/shapes/_shapes_models/shape.py#L358

Hmm interesting, I'd probably just start with a shape, but I like your th

[2021-08-11 12:09] tlambert03 opened #3144 "Consider making "ok" the default when closing the preferences window"
## 🧰 Task
Currently, if you change a preference in the preferences and then close the window, the new preferences will be reverted _unless_ you click the OK button.

This is different from the standard behavior (on mac at least) where if you open preferences and change something and close it, the preference "sticks", even if you close the window with the "x" button at the top left.  I get tripped

[2021-08-11 13:22] alisterburt commented on #3141
agreed, seems like something we should add 👍🏼

[2021-08-11 15:59] ppwadhwa commented on #3101
I am going to try to summarize some steps to take on this issue.  If you all could look at this and let me know what you think:

PR 1:
1. Show all installed plugin dock widgets under the plugins menu.
2.  Do not display plugin dock widgets on window menu at all.
3.  A user can toggle the dock widgets from the plugins menu to display/hide the dock widget.  (if toggled off is the dock widget hidden

[2021-08-11 16:31] liaprins-czi commented on #3101
Thanks for outlining these steps and questions @ppwadhwa !

Yes it might have some design .. I will have to look into current patterns for similar actions on napari

I don't think we shoudl get rid of these actions. So maybe that means either:

1. - Keeping Windows menu even though all plugins are moving out of it
2. - Move all plugins to Windows menu instead and remove Plugins menu (if do this th

[2021-08-11 18:30] ppwadhwa commented on #3101
Thanks for your feedback, @liaprins-czi !   I also prefer # 1 and I like keeping plugin related items to their own menu.

[2021-08-11 19:53] sofroniewn commented on #3101
We can def start here, thanks for the comments. PR1 sounds good to me too and we can continue to evaluate things as they go!!

[2021-08-12 08:43] alisterburt opened #3147 "Feature idea: `Viewer` callbacks which are 'attached' to specific layers"
## 🚀 Feature
Viewer callbacks which behave like `Layer` instance callbacks, only being active when that layer is selected in the layer list.

## Motivation
Currently, layer callbacks contain a reference to the layer and viewer callbacks contain a reference to the viewer. The object we bind the callback to also defines the scope of activity of the callback (viewer callbacks are active for the whole

[2021-08-12 10:08] brisvag opened #3148 "[discussion] architecture for clipping/embedded planes and other "geometrical masks""
## 🚀 Feature
After a chat with @kevinyamauchi and @alisterburt, we have some ideas for the future of embedded plane rendering (#3023), clipping planes (#3140) and other "geometry-based masks" that modify the rendering (a bounding box, or @alisterburt 's beloved "clipping orb" :P).

## Motivation
Things we are trying to address/implement:
- EventedModels all the way down
- future proofing the archi

[2021-08-12 12:41] alisterburt commented on #3147
had a chat with @tlambert03 about this, we both agree the right answer is that this should be a layer callback and there should be an easy way to get to the current viewer (or a proxy thereof) and current layer from within the callback.

This could look like a class method `Viewer.current()` (which was previously in there but removed because having that method on instances `viewer.current()` was a

[2021-08-12 13:13] brisvag commented on #3144
If (or when?) preferences changes are completely tracked by the action manager and can be easily undone, I'd say this is great. Before then, I had experiences with big software with a lot of settings where you click something by mistake and then you'll never know what you messed up because it was saved automatically...

[2021-08-12 14:03] tlambert03 commented on #3144
I don't think preference changes are slated to be added to the undo/redo architecture... so let's chat about it assuming that that won't happen for the moment.  I _still_ think changing (and then losing) intentional changes is a more common and equally frustrating experience than changing something accidentally and not noticing/forgetting what you changed.
In any case, even with the current system

[2021-08-12 14:08] brisvag commented on #3144
True, I'm convinced!

[2021-08-12 22:51] DragaDoncila commented on #3095
Have given this a try and cannot reproduce. Not sure what the original issue was, but it's no longer present in the codebase.

I think this can be closed for now.

[2021-08-12 22:54] tlambert03 commented on #3095
yay!  best type of issue :)

[2021-08-12 22:54] #3095 closed, assigned to DragaDoncila

[2021-08-13 17:53] Carreau opened #3156 "PluginError.get() return error with no traceback"
## 🐛 Bug

I locally have the following error (code slightly edited for readability) :
[code]

Which I tracked down to
[code]

I have issue tracking it down further.

[2021-08-13 19:16] Carreau opened #3158 "Playback loop mode serializing issue."
## 🐛 Bug

Found by @ppwadhwa in https://github.com/napari/napari/pull/3123#issuecomment-892317829, I can't get the TB but can reproduce a similar issue.

Changing the Playback loop mode erases the settings :

https://user-images.githubusercontent.com/335567/129407915-44630d10-ec51-4189-9cb9-e599f2b9a93b.mov

## To Reproduce

- Open napari settings file
- Open napari
- Go to settings, Application S

[2021-08-13 20:06] Peter-Hogg opened #3159 "Vispy Divided by Zero"
## 🐛 Bug

When opening an image the thumbnail in the layer list will be displayed but the image won't be displayed in the Napari Window.  There seems to be an issue with the vispy camera. This issue only occurs on one machine.

## To Reproduce

Steps to reproduce the behavior:
I ran the following code in a jupyter notebook:
viewer = napari.Viewer()
viewer.add_image(image[1, :, :], name="Microglia"

[2021-08-14 01:03] #3156 closed, assigned to nobody

[2021-08-14 01:33] jni commented on #3147
Hi everyone, I'm ok with merging #3149, as I can see its use, but I would like to reopen this issue and discuss the best way to advocate for users and plugins to manage this issue. I really dislike "global/current" behaviour, which we are having more and more of and which has resulted in numerous bugs in the past few months. Matplotlib had its global state machine since forever (based on Matlab) a

[2021-08-14 01:51] tlambert03 commented on #3147
curious what bugs you're referring to.  I do think this is an important thing to discuss/get right, but I'm not immediately sure that we can blame much on the general concept of stateful "current" objects, as much as painpoints in our implementation of it.  If you're thinking of #2914 ... I would argue that that bug is not because of difficulties related to global objects... it's specifically _bec

[2021-08-14 02:52] QuaternionsRock opened #3160 "Removing selected points from a Points layer while hovering over an unselected point causes infinite out of bounds errors"
## 🐛 Bug

I believe this error is caused, either in whole or in part, by [this line of code](https://github.com/napari/napari/blob/master/napari/layers/points/points.py#L1404). The `remove_selected` method invariably `_value` is invariably set to `None` despite it being a wildly unsafe assumption that the user is hovering over one of the deleted points.

## To Reproduce

Steps to reproduce the beh

[2021-08-14 05:20] jni commented on #3147
This one that I didn't have time to investigate:

https://napari.zulipchat.com/#narrow/stream/212875-general/topic/plugins.20in.20jupyter/near/248799067

where registering a plugin fails if a viewer has been created and deleted. I haven't looked into it yet but I think it stems from assuming that there is one and only one menubar, whereas I guess each viewer creates its own...?

#2897 #2977 (indee

[2021-08-14 06:16] sofroniewn commented on #3159
Thanks for flagging @Peter-Hogg! I think I may have seen this too. Maybe @DragaDoncila or @alisterburt can take a quick look for a fix

[2021-08-14 06:18] sofroniewn commented on #3160
Thanks for flagging @QuaternionsRock! Maybe @DragaDoncila can take a look at this, looks like that line was recently added in #3119 and we have an unexpected regression that wasn't caught by any of our tests.

[2021-08-14 11:05] tlambert03 commented on #3147
i still feel like all of these bugs fall under the category of our code not expecting a second viewer. That is i think they would all be made easier if we "accepted" that we always have multiples and standardized an approach for getting the most recent.

- I don't see #1530 as issues with global state, I see them as our code assuming we never have more than 1 viewer (a different bug).  Setting the

[2021-08-14 16:55] tlambert03 commented on #3099
any progress on this?  I'd really like to be able to disable plugins again

[2021-08-14 20:31] goanpeca commented on #3099
Working on this

[2021-08-15 01:32] DragaDoncila commented on #3160
I tried this on mac and ubuntu and can't reproduce, which is frustrating. However we can revert changing `self._value` to `None` and just keep the cursor position changes from #3119 to keep the fix for #3078. PR incoming. Apologies for this one @QuaternionsRock

[2021-08-15 04:06] sofroniewn commented on #3160
@DragaDoncila I was able to reproduce on 0.4.10, but it is now fixed on master - can you check if that's the same for you. We can still make the change in #3165

[2021-08-15 04:15] DragaDoncila commented on #3160
Just had a quick look now - this is behaving a lot like a duplicate of #3078 but I'll git bisect and dig a bit deeper to make sure there's nothing else we've missed.

[2021-08-15 13:54] tlambert03 opened #3166 "Drop support for NAPARI_PERFMON with an existing QApplication"
## 🧰 Task
I propose we drop support for using `NAPARI_PERFMON` with an existing `QApplication`.

The only real application for this is when you want to use something like `NAPARI_PERFMON=1 ipython --gui qt` and then start a napari viewer.   It then actually deletes the QApplication  so it can create a new one.  This is just super error prone and something we shouldn't try to support.

Note: removi

[2021-08-15 16:56] sofroniewn commented on #3166
If we added "perfmon" to our settings now would we ever be able to enable perfmon without a restart or would we always require a restart even with this code?

It might be nice to have perfmon in settings one day, and if we're ok always requiring a restart then i think it's fine to drop all that logic.

Would be nice to also update the perfmon docs to make it very clear how to support the ipython/

[2021-08-15 17:00] tlambert03 commented on #3166
it would always require a restart.  Given the deep nature of the QApplication monkeypatching, it feels acceptable to me to enter in a "profiling session" explicitly.

[2021-08-15 17:02] tlambert03 commented on #3166
the only thing we'd need to add is to _not_ use `%gui qt` before starting napari.  It's already not in the docs and gone from most of our examples... but it would also give a warning if someone tried it

[2021-08-15 17:26] sofroniewn commented on #3166
ok makes sense, i'm supportive!

oh nice, even better!!

[2021-08-15 18:26] alisterburt commented on #3159
Hey! Thanks for the report @Peter-Hogg - I can't reproduce locally and I'm fairly sure this is the error that was fixed in #2958, we're aiming to put together a new release soon so hopefully this error will disappear once that release is out 🙂

I'm a bit concerned by the `Error drawing visual`, the error that was fixed in #2958 produced an error but didn't affect rendering. If possible, could you

[2021-08-15 20:25] alisterburt commented on #3147
Really interesting discussion @tlambert03 @jni - thanks @jni for your zarpaint example of the closure, very clean, I like it a lot and it will work for this use case!

It feels like this is a key point - do you both see multiple viewers as a stopgap until we have good multicanvas support or rather that this is a core feature?

I feel like having a canonical way to get the current viewer for users

[2021-08-15 21:11] tlambert03 opened #3170 "Linux bundle build failing"
## 🐛 Bug
I know it probably doesn't get used much, but we should either fix the failing Linux bundle build, or skip it for now, since it will make all of our master branch tests look like they're failing.    best I can tell from the [logs](https://github.com/napari/napari/runs/3331141461?check_suite_focus=true),  this might be an issue?
[code]

cc @ziyangczi, @goanpeca

[2021-08-15 21:44] alisterburt opened #3172 "Viewer creation bug in PyCharm's `PyDevConsole`"
## 🐛 Bug

Creating a viewer in the PyCharm `PyDevConsole` without explicitly starting an event loop (`%gui qt`) fails.

[code]

[code]

The same example in normal ipython works flawlessly

## To Reproduce

Steps to reproduce the behavior:

1. Open the python console in PyCharm
2. Try to create a napari viewer
3. ☹️

## Expected behavior

Viewer should pop up and not block the console

## Additiona

[2021-08-15 21:57] alisterburt commented on #3172
this is irritating - any attempt to add print statements/drop into a debugger to find out what's going on seems to fix the issue...

[2021-08-15 22:11] alisterburt commented on #3172
https://github.com/napari/napari/blob/0989e71cd31e05d8fef8c6a4022be8e71bbad72b/napari/_qt/qt_event_loop.py#L146

This failure mode happens with a viewer created here

being able to reproduce this seems to require
- starting the pydev console manually, not in a 'run configuration'
- typing the commands manually/copy and pasting (not accessing console history)

edit: giving up for the evening
QApp i

[2021-08-15 22:47] DragaDoncila commented on #3160
@sofroniewn I can confirm this is a duplicate of #3078, occurring because the emission of the data event in `remove_selected` led to the `cursor_position` being reset to 0.

The change in #3165 is not necessary to fix this bug, but since the `cursor_position` changes from #3119 are sufficient, maybe it's best we do merge #3165 - to go back to minimal change required to fix the bug? I'm not sure ab

[2021-08-15 22:58] sofroniewn commented on #3160
Ok makes sense, I think we should probably still merge #3165, no harm there

[2021-08-15 23:26] QuaternionsRock commented on #3160
@sofroniewn I agree - even if I was incorrect in my assessment as to the cause of this particular error, it still seems illogical to set `_value` to `None` unless we know for certain that the hovered point was amongst those deleted. That said, it is equally problematic to leave `_value` as-is when the hovered point actually *was* deleted. I'll take a closer look at #3165 when I get a chance to mak

[2021-08-15 23:30] DragaDoncila commented on #3160
@QuaternionsRock completely agree with your point about the flow of logic. The change in #3165 goes back to checking whether the current `_value` is in the layer's `selected_data` about to be deleted, and only sets `self._value = None` when that's the case.

[2021-08-16 00:21] DragaDoncila opened #3174 "Labels colors sometimes mismatch between canvas and controls"
## 🐛 Bug

I found this bug while working on #3135. I don't believe the two bugs are related, as the behaviour of this one is quite different.

Briefly, shuffling labels colors eventually leads to a mismatch between the thumbnail/label spinbox color of a label, and the color displayed for that label on the canvas.

![labels_color_error](https://user-images.githubusercontent.com/17995243/129496945-0

[2021-08-16 00:38] DragaDoncila commented on #3159
I can reproduce this locally with master (on mac and linux). Behaviour for me is different in that it still opens both thumbnail and layer - I've tried with labels and image layers.

Sample code:
[code]
or

[code]

I will have a closer look at the conditions under which this warning does and doesn't occur, but I have to admit my familiarity with vispy is nonexistent.

[2021-08-16 01:26] sofroniewn commented on #3159
@DragaDoncila @alisterburt could it depend on what version of vispy one has? Maybe on latest vispy it is gone? It might be time to bump our vispy version dependency soon

[2021-08-16 01:29] DragaDoncila commented on #3159
@sofroniewn just upgraded vispy from 0.6.6 to 0.7.3 and the warning persists so I don't think it's vispy - unless you reckon it'll be fixed in the next release?

[2021-08-16 01:36] sofroniewn commented on #3159
No, was just a guess at why @DragaDoncila you might see something different from @alisterburt (if I am reading this thread right)

[2021-08-16 01:38] sofroniewn commented on #3174
Huh funny, i wonder @DragaDoncila if you go back to `0.4.10` -> `0.4.0` if you can always see this bug or if you can find a PR which introduced it

[2021-08-16 01:42] DragaDoncila commented on #3174
@sofroniewn I'll do a bit more digging later today to narrow this down - just wanted to get the issue up while I was already in labels shuffling land

[2021-08-16 16:39] sofroniewn commented on #3148
Ok nice, this is a good discussion. A couple things I'm taking away are that it's more than just planes we're talking about, they could be other objects. We might want to do more than just clip with these objects.

I think the API you're proposing is a reasonable one, but I can see an alternative framing now which is that a canvas has a list of `geometrical_masks` and operations like `clipping` an

[2021-08-16 17:21] alisterburt opened #3177 "Make events easy to copy"
## 🚀 Feature
the ability to copy/deepcopy events

## Motivation

When writing a mouse callback within napari, a nice pattern is to provide a utility function which takes mouse event(s) as input (as done for the labels layer by @jni). This means these utilities can be reused by users writing their own custom functionality.

https://github.com/napari/napari/blob/3e72711007728e3c420985151b793a67a28a0

[2021-08-16 17:26] sofroniewn commented on #3177
I believe vispy supported this and then we didn't expose it. It might be worth looking at what they did

[2021-08-16 17:28] #3166 closed, assigned to nobody

[2021-08-16 17:29] #3135 closed, assigned to DragaDoncila

[2021-08-16 17:59] alisterburt commented on #3148
I agree with the suggestion that these should live on the canvas/viewer and be easily applied to different layers/purposes. Re: `0.4.11` - an `experimental` tag is a good idea, I think it's worth taking the time to get the API around this stuff figured out, maybe for `0.5.0`? Will post a message in the zulip for visibility

[2021-08-16 19:21] tlambert03 opened #3180 "Important challenge: show "pre-populated" viewer without error"
## 🧰 Task
related to the challenge of reusing a viewer model after closing its window (i.e. viewer = Viewer(); viewer.close(); viewer.show()) see  #2225 and #2238)... Inasmuch as our `viewer.window` and related objects are a view/controller for the underlying model, we _should_ conceptually be able to create and show a window for a viewer model that has been "pre-populated" with layers.

For examp

[2021-08-16 20:00] tlambert03 commented on #3180
ah... maybe not so much of a challenge! this line in `qt_viewer`  just needs to be kept after some of the other stuff

[code]

would be good to add a test for the that to prevent future reversions

[2021-08-16 21:26] tlambert03 commented on #3180
will pick this back up in another PR

[2021-08-16 21:26] #3180 closed, assigned to nobody

[2021-08-16 23:46] andy-sweet commented on #2894
No need to reopen this, but it looks like the visualized diameter of the points is never 4 at any of these zooms. At a zoom of 2.4 and 4, in the original image, it looks like the diameter is about 5.75.

@alisterburt : am I missing something about the setup here, or can I simply not count? As part of my work on #3132, I'm trying to understand if the size we pass to vispy has a direct correspondenc

[2021-08-17 01:33] liu-ziyang commented on #3170
Looking into this, hopefully I can address the issue along with ubuntu version upgrade

[2021-08-17 03:30] sofroniewn opened #3185 "Allow text font size to scale when zooming"
## 🚀 Feature
For some applications I think it would be nice to allow for text font size to scale when zooming, in the way that point size does. In the vispy marker visual this is set by `scaling=True` https://github.com/vispy/vispy/blob/af2439895a13f187d840a476bd73ed480f2978f2/vispy/visuals/markers.py#L526

It doesn't look like the vispy text visual supports this https://github.com/vispy/vispy/blo

[2021-08-17 03:41] sofroniewn opened #3186 "Add background color behind text"
## 🚀 Feature
Sometimes it is hard to read our text because the background can be uneven. Adding a background color to the textmanager and vispy text visual that filled in the bounding box behind to box could address this.

For example making something like

![image](https://user-images.githubusercontent.com/6531703/129659657-eeb49277-1141-483f-bb90-1c03bbd62b5c.png)

instead of just

![image](http

[2021-08-17 07:33] brisvag commented on #3148
I see the benefit from a high-level api standpoint, but I'm worried that moving these things to the canvas will make the actual rendering code a bit noodly (we still somehow need to get these things to the vispy nodes for each layer, since the clipping happens in the shader...).

Agree 100% on the experimental stuff, so we can keep this discussion going without getting stuck!

[2021-08-17 11:00] alisterburt opened #3187 "`Layer.get_value_3d()` progress"
This is an issue to track the progress of adding `get_value_3d()` implementations to our different layer types and modes within each layer.

- [x] Image
- [x] Labels (#3074)
- [x] Points (#3508)
- [ ] ~~Vectors~~ (removed since it doesn't have a 2D implementation)
- [x] Shapes (WIP @ #3117)
- [ ] Surface

cc @kevinyamauchi

[2021-08-17 11:16] alisterburt commented on #2894
you're right @andy-sweet - I just can't count! I think you're right about the size correspondance, maybe we should try to fix that

[2021-08-17 11:17] alisterburt commented on #2894
I'm reopening this because of what @andy-sweet mentions in his comment above - point sizes should be absolute from the napari side (with the caveat that they only increase up to a limit set by a combination of GL/drivers/hardware)

[2021-08-17 11:29] alisterburt commented on #3185
great idea - will try to look into how to do the text scaling!

[2021-08-17 11:37] alisterburt commented on #3186
agree - the ideal would be stroked text I think, followed by a background as you suggest. I'll look into this a bit too

[2021-08-17 13:22] kevinyamauchi commented on #3186
I totally agree that giving the text a background color is necessary for the text to be legible on a varied background. In one of the early attempts at text, we tried overlaying two text visuals (background one with a larger font size), but the text size doesn't scale uniformly, so it didn't work. Perhaps there

With regards to adding a background rectangle, I think we experimented with estimating

[2021-08-17 13:41] kevinyamauchi commented on #3185
I agree this is a good idea. Maybe investigating this will give us some ideas for fixing the scaling of points with perspective.

[2021-08-17 13:47] djhoese commented on #3186
I like the idea of stroked text, I see that there is some `distance` and `width` logic in the fragment shader in vispy:

https://github.com/vispy/vispy/blob/af2439895a13f187d840a476bd73ed480f2978f2/vispy/visuals/text/text.py#L377-L383

Maybe that can be used to "fake" the stroking to do a minimal working solution for it. I'm not familiar with all the stroking possibilities in CSS (the only thing t

[2021-08-17 13:59] kevinyamauchi opened #3189 "Rename mouse event properties"
## 🧰 Task
As @haesleinhuepf pointed out in [this comment](https://github.com/napari/napari.github.io/pull/144#discussion_r690199347), the naming of some of the properties on our mouse event are not very clear. In particular, `pos` and `position`. For reference, the current properties are listed below.

- **pos**: the position of the click in canvas coordinates.
- **position**: the position of the

[2021-08-17 15:03] tlambert03 commented on #3189
related discussions:
https://github.com/napari/napari/pull/2443#discussion_r598281786
https://github.com/napari/napari/issues/2459

[2021-08-17 15:28] andy-sweet commented on #2894
I'll leave it up to you, but I think it might be better to keep this closed for a couple of reasons.

1. The original bug was about inconsistent sizing at different zoom levels, but this seems to be a vispy issue, and there's not much we can to fix it in napari.
2. The [docs on vispy's VisualMarker](https://vispy.org/api/vispy.visuals.markers.html#vispy.visuals.markers.MarkersVisual) tell us that

[2021-08-17 15:33] alisterburt commented on #2894
Cool, I'll leave open because of point 2 - it really feels to me like the diameter of the disc/longest axis of the marker should be absolute, I was imagining a simple scale-factor on the napari size as you suggest. Glad it doesn't block you on #3132 though

[2021-08-17 20:45] goanpeca commented on #3137
@tlambert03 I cannot reproduce with the steps you mention 🤔

[2021-08-17 21:54] DragaDoncila commented on #3159
I've only been able to reproduce this message with layers where one dimension is a singleton e.g. a row or column of pixels, or just one pixel itself.

In these cases it occurs because the bounding corner of that dimension is still 0, and so `extent` [here](https://github.com/napari/napari/blob/49727940b479cbf6494570e5872c68509258078b/napari/components/viewer_model.py#L286) ends up with one dimens

[2021-08-17 21:57] #3158 closed, assigned to tlambert03

[2021-08-17 22:17] liaprins-czi commented on #3136
@goanpeca Would this be a continuous issue or only a "one-time" issue, e.g. when first merging in the custom icons?

After having perused FA's and Material's icons again, I do think we will need a lot of custom icons given the specificity + consistency we need for the action buttons to be clear to users!

[2021-08-17 22:20] goanpeca commented on #3136
Well if icons are made in one go, then it would be a single issue, if we start with FA defaults and then gradually adjust some to better fit our needs, it would be ongoing I guess.

[2021-08-17 22:28] liaprins-czi commented on #3136
Okay thanks @goanpeca! Definitley would be planning to have them all ready together in one commit, ideally

[2021-08-17 22:43] liaprins-czi opened #3195 "✨ Improve icons"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[Use font icons instead of SVGs #3136](https://github.com/napari/napari/issues/3136)
[Heuristic: Iconography #16](https://github.com/napari/product-heuristics-2020/issues/16)

- **In a sentence or two, describe the problem to be solved for users**
Overhaul the design of all the icons in the viewer to

[2021-08-17 22:52] Peter-Hogg commented on #3159
I'll send you a test file when I get home today. What is the easiest way to share that? It's a fairly small file.

[2021-08-17 22:56] alisterburt commented on #3159
@Peter-Hogg a [gist](https://gist.github.com/) can be quite convenient, otherwise just copy and paste into a code block in a comment here! 🙂 thanks for delving into this @DragaDoncila

[2021-08-17 23:02] tlambert03 commented on #3195
sounds great!
Want to just point out react icons, which has a useful page for searching a lot of font families on the same pages:
https://react-icons.github.io/react-icons
and icomoon https://icomoon.io/app/#/select

[2021-08-17 23:05] tlambert03 commented on #3136
... but I wouldn't limit yourself to font-awesome in your search

[2021-08-17 23:23] tlambert03 commented on #3137
ok, thanks for looking.  fixed in #3196

[2021-08-17 23:26] liaprins-czi opened #3197 "✨ Allow mapping of file extensions to plugin (to open them)"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[Direct plugin-reader selection by extension #2686](https://github.com/napari/napari/issues/2686)

- **Also link to any specific comments or threads where the problem to be solved by design is mentioned**
[Talley's comment about allowing users to make plugin-to-extension mappings in the UI (one-to-man

[2021-08-17 23:30] liaprins-czi commented on #3195
Awesome, thanks @tlambert03 !

[2021-08-17 23:45] liaprins-czi opened #3198 "✨ Make additional button actions more discoverable"
### Overview of design need
- **Also link to any specific comments or threads where the problem to be solved by design is mentioned**
[Comment from Nick about how this relates to autoscaling work by Talley + Photoshop example](https://github.com/napari/napari/pull/3022#issuecomment-877838623)

- **In a sentence or two, describe the problem to be solved for users**
A few action buttons in the viewe

[2021-08-18 04:02] Peter-Hogg commented on #3159
https://gist.github.com/Peter-Hogg/b7beaae633ff2460a6d24fb532c77cf5

 Here is the notebook that generated the issue.  The shape of the images are as follows: (2, 2048, 2048).

Here are few test files: https://osf.io/84f5k/

[2021-08-18 04:49] DragaDoncila commented on #3159
Ok after looking into it a bit further I'm confident the singleton dimension issue I described [above](https://github.com/napari/napari/issues/3159#issuecomment-900656581) is unrelated, despite the warning being the same.

@Peter-Hogg I've tried the files you shared and couldn't reproduce the error on `master`. What's weird is I also couldn't reproduce it on `0.4.10`. Would it be possible for you

[2021-08-18 05:21] sofroniewn commented on #3185
Great! Thanks both!!

[2021-08-18 05:24] sofroniewn commented on #3186
Stroking sounds great! It would also be nice if we could avoid adding another visual for performance reasons. Thanks for discussion and ideas so far!!

[2021-08-18 06:18] #3160 closed, assigned to DragaDoncila

[2021-08-18 13:54] alisterburt opened #3199 "Thoughts re: adding `einops` as a dependency"
## What is `einops`, should we add it as a dependency?
This is an issue to gauge whether people would be okay with adding `einops` as a dependency in napari.

Writing vectorised code is great, but the same code can be quite hard to read (and maintain!). [einops](https://github.com/arogozhnikov/einops) is a library which provides [einstein-like notation](https://en.wikipedia.org/wiki/Einstein_notat

[2021-08-18 15:15] Peter-Hogg commented on #3159
I won't have access to the machine that is giving me the error for a day or two. I'll install from source and see if the error persists probably on Friday and post the results here.

[2021-08-18 16:08] #3137 closed, assigned to goanpeca

[2021-08-18 17:46] #3099 closed, assigned to goanpeca

[2021-08-19 03:21] DragaDoncila commented on #3174
@sofroniewn I've gone back as far as 0.4.0 and have been able to reproduce the bug (mismatching colours between thumbnails and canvas) consistently for all releases (except 0.4.7 when shuffle was broken). I've reproduced on Mac as well. What's weird is I can no longer reproduce the X11 error, and was never able to reproduce it on the Mac, so maybe that was specific to my machine and is now gone. R

[2021-08-19 06:37] sofroniewn commented on #2894
I completely missed this when it got posted. I havn't had time to read yet, but I'd like too

[2021-08-19 06:42] sofroniewn commented on #3174
ok sounds like it might have always been bug, i might have seen it before, but definitely sporadically - let's keep an eye out though, and maybe other folks have noticed it too

[2021-08-19 06:48] sofroniewn commented on #3199
The library looks to be pure Python - with no additional dependencies which is good.

The library looks like it's trying to support many different array libraries which is good, but one concern might be if it ended up limiting what types of arrays we could support (maybe not an issue though).

I'm not sure I love the `'m i j -> m 1 i j'` string style notation, to me it's harder to reason about and

[2021-08-19 14:06] alisterburt commented on #3199
Thanks for taking a look @sofroniewn - I think if you struggle to reason about the notation then it's reason enough not to use it. I had a similar thing with @brisvag when he switched to xarrrays within something we were working on, adding extra barriers is not something we want to do, I'll close this!

[2021-08-19 14:06] #3199 closed, assigned to nobody

[2021-08-20 03:23] sofroniewn commented on #3199
Thanks for the consideration and suggesting it though - i will keep this on my radar, and at some point we could revisit if it looks like there is more of an uptake in this style of notation in the broader community

[2021-08-20 03:40] #3132 closed, assigned to andy-sweet

[2021-08-20 03:44] sofroniewn commented on #906
@andy-sweet there hasn't been a lot of activity on this one in a while, so i think it's probably available for you to take over. I think the proposal https://github.com/napari/napari/issues/906#issuecomment-774749188 still sounds good to me, but let me know if you can see problems with it/ can think of a preferable API.

This will be a great feature to have - a lot of folks would start using it im

[2021-08-20 03:49] sofroniewn commented on #3079
Just noting I think this will be closed by #3140 - have we added a test for it over there though @brisvag @alisterburt?

[2021-08-20 03:51] sofroniewn commented on #2569
No pressure, but just wanted to follow up here to see if you're still interested in taking this on @sebgoti, if not someone else can pick this up. Thanks for your interest though!!

[2021-08-20 04:04] sofroniewn commented on #1457
Sounds like there has been some real progress on this thread but there aren't any open active discussions/ action items. In the interest of keeping our GitHub Issues manageable I'm going to close this again, but if issues persist we can either reopen or at this point, possibly better create a new issue. Thanks all!!

[2021-08-20 04:04] #1457 closed, assigned to nobody

[2021-08-20 06:55] brisvag commented on #3079
Yes, there a couple more tests and it should also close automatically (due to the commit message being "fix #3079") :)

[2021-08-20 12:02] tlambert03 opened #3206 "Preferences dialog refactor followup"
## 🧰 Task
#3178 got merged before I could address some of @ppwadhwa's points, so copying them here for followup.  Some of them point to interesting issues that we were sort of "working around", where the proper solution requires something beyond the preferences dialog:

@ppwadhwa, @sofroniewn ... can you guys remind me about the underlying thing we're trying to prevent here (i.e. if octree is on,

[2021-08-20 15:50] #3139 closed, assigned to andy-sweet

[2021-08-20 17:01] Peter-Hogg commented on #3159
I was unable to install napari from source on that machine. I was getting errors with installing TensorStore when pip was installing some of the dependencies and the installation failed. My notebook works on my local Ubuntu machine but this Windows 7 machine is giving me a lot of problems. My only access to the machine is over Zoom when my colleagues screen shares from their Mac while they have re

[2021-08-20 17:50] ppwadhwa commented on #3198
@liaprins-czi The issue for the playback button is here: https://github.com/napari/napari/issues/2765
The PR merged has a video that shows the button in action: https://github.com/napari/napari/pull/2933#issuecomment-872738573

There is another button with a right click pop up--- the grid button that we just completed recently (with stride, widget, height).   Here is the PR that merged that new po

[2021-08-20 20:24] joaomamede commented on #630
I have no idea how to do that! (sorry the silence since May)

[2021-08-20 22:10] #3079 closed, assigned to nobody

[2021-08-20 22:13] liaprins-czi commented on #3198
Wow thank you so much! This is so helpful!

On Fri, Aug 20, 2021 at 10:51 AM Pam ***@***.***> wrote:

--

*Lia Prins*

Senior Data Visualization Designer

(650) 422-1750

chanzuckerberg.com

[2021-08-20 22:15] sofroniewn commented on #3206
My apologies here! Sorry for the early merge, and thanks for opening this up!!

If octree is on then the async setting is ignored and the viewer automatically behaves async regardless of the async setting - the value doesn't actually matter

@tlambert03 do the above items need to be addressed before the `0.4.11` release?

[2021-08-20 22:23] sofroniewn commented on #3159
Looks like TensorStore is a test dependency for us - I do worry maybe we've gotten out of hand with out test dependencies - thoughts @jni?

Wow, nice work!

Huh ok sounds like it's still an issue

Yup could be ok if we fixed it there - alternatively we could just set `zoom = 1` instead of doing divide inside the camera file - it is definitely is not worse then the current behavior. I don't want to

[2021-08-20 22:26] tlambert03 commented on #3206
I don't seem them as super critical.  they're all indicative of deeper problems.  but 1/3/4 shouldn't be too hard

[2021-08-21 02:37] DragaDoncila commented on #3159
@sofroniewn , trying @Peter-Hogg's files with `master` on my Ubuntu machine, I do hit line 109 [here](https://github.com/napari/napari/blob/350e07cc5861005d6bb3199f8e39e276f8d04b3c/napari/_vispy/vispy_camera.py#L109) with `scale=[0,0]`, and the `if statement` added in #2958 changes it to `scale=[1, 1]`. If I comment out the two lines added in #2958, I do see the `RuntimeWarning` (though the image

[2021-08-21 02:38] sofroniewn commented on #3159
Ok I should make a release candidate tomorrow - which we can then test. thanks for the investigation here!

[2021-08-21 17:19] #2859 closed, assigned to nobody

[2021-08-22 16:49] haesleinhuepf opened #3214 "Filter out notifications"
## 🚀 Feature: Filter out notifications
Hi all,

I'm wondering if it would be possible to filter notifications. There is a lot of useless warnings all the time and they are deterrent to end-users.

When [a specific plugin](https://github.com/haesleinhuepf/napari-plot-profile) is activated, I'm receiving notifications all the time when I move my mouse over the vispy canvas. There is no code related

[2021-08-22 16:54] tlambert03 commented on #3214
python has builtin support for this with `warnings.filterwarnings`: https://docs.python.org/3/library/warnings.html#warnings.filterwarnings

It will take me a little while before I'll be able to play with it and write up an example... but you could try starting there?

try something like this https://stackoverflow.com/a/879249 ... and for more granularity, read up on the python [warnings filter](h

[2021-08-22 17:03] haesleinhuepf commented on #3214
Thanks @tlambert03 for the light speed response!

I will give it a try. :-)

[2021-08-22 17:08] haesleinhuepf commented on #3214
Actually, I wouldn't hide warnings in general. I just would like to hide some specifically in the notifications popup...

[2021-08-22 17:12] tlambert03 commented on #3214
then we would need to add additional logic here:
https://github.com/napari/napari/blob/dc903d2bde15f104d5c619108fe4897c8d4cbb8d/napari/utils/notifications.py#L268-L281

... but i think it's also worth discussing the use case.

[2021-08-22 17:14] haesleinhuepf commented on #3214
Sure, makes sense! I'm thinking of a checkbox "Hide future similar warnings" within the notification area itself...

[2021-08-22 17:22] tlambert03 commented on #3214
also: by "warnings in general" are you differentiating between the ones in the popup vs the terminal?  or are you differentiating between warnings from a specific module vs other modules?  The warnings filter I linked above gives you that sort of granularity to hide warnings only from a specific module, line, warning type, etc...

[2021-08-22 17:29] haesleinhuepf commented on #3214
I'm not sure. I think it's bad to hide warnings in general. However, when they are clearly not helpful, they should not show up all the time in a nice user interface. For now, I'm just voting for hiding stuff from the notification area. Would be cool if only useful messages would show there, e.g. "Sigma must not be a String" or "Index out of range"... I know that's super hard to implement in pract

[2021-08-22 17:41] tlambert03 commented on #3214
That SO post is just one example.  Read the python docs I linked, you _can_  use it in a with block but you don't have to.  I do it all the time to silence noisy packages, just put `warnings.filterwarnings(module='some.noisy.thing')` at the top of your script.

This is more of advice to you as a user, not a proposal to block warnings for everyone.

yeah, that basically comes down to either us usin

[2021-08-22 18:37] haesleinhuepf commented on #3214
I've tried that first, by adding [here](https://github.com/haesleinhuepf/napari-plot-profile/blob/main/napari_plot_profile/_dock_widget.py#L15) or [here](https://github.com/haesleinhuepf/napari-plot-profile/blob/main/napari_plot_profile/_dock_widget.py#L21):
[code]

But that didn't help. I will read the docs and then come back here :-)

[2021-08-22 20:17] sofroniewn commented on #3214
@Carreau might have ideas here too - i could also imagine something where if a warning has been shown 10 times in < 10 minutes one suppresses it for next hour or something ...

[2021-08-23 12:36] sebgoti commented on #2569
Hi @sofroniewn I am still interested in taking this up, was somehow busy the last weeks but would like to give it a try if that's ok, thanks in advance.

[2021-08-23 15:01] haesleinhuepf opened #3219 "Default color for shapes should be settable in Prefs"
## 🐛 Bug

Hi all,

I'm just testing napari 0.4.11rc0 🥳 . The default color of shapes has been change (which is great!) from black to grey (which is not optimal). Folks like me work mostly with grey value images.

![image](https://user-images.githubusercontent.com/12660498/130469839-63ed558b-22e0-4653-99d5-0117ec4278a6.png)

## To Reproduce

Open napari, load an image, add a shapes layer. Draw a li

[2021-08-23 15:11] haesleinhuepf opened #3220 "napari freezes when napari-plot-profile gets started"
## 🐛 Bug

Hi all, I'm observing this bug with napari 0.4.11rc0: When I start [napari-plot-profile](https://www.napari-hub.org/plugins/napari-plot-profile), napari freezes and crashes with no error message.

## To Reproduce

Steps to reproduce the behavior:

1. Start napari
2. Load an image
3. Click on Plugins > Measurements (Plot Profile): Plot Profile

https://user-images.githubusercontent.com/12

[2021-08-23 15:27] tlambert03 commented on #3219
this should be a setting.  there's no globally optimal color

[2021-08-23 15:47] haesleinhuepf opened #3221 "Slider GUIs look like elements are missing with Qt 5.12"
## 🐛 Bug

I'm just testing napari 0.4.11rc0. It appears like some GUI changes were not finished in the points layer GUI.

This is how it looks in 0.4.10:
![image](https://user-images.githubusercontent.com/12660498/130476930-fa350c96-6339-454b-9970-2a7f1de5f9cf.png)

And this is the 0.4.11 version:
![image](https://user-images.githubusercontent.com/12660498/130476820-a44d35b8-15c7-48a9-bae3-a63db3e

[2021-08-23 15:47] haesleinhuepf commented on #3219
Sure, I'm suggesting to have the same default color for labels, shapes and maybe even points.

[2021-08-23 15:48] tlambert03 commented on #3221
oooh, no... can you run `pip install -U superqt` and retry?

[2021-08-23 15:51] haesleinhuepf commented on #3221
Sure! It said:
[code]

And the issue remains :-)

[2021-08-23 15:53] tlambert03 commented on #3221
bummer... must be a styles difference on windows.  It's amazing that we apparently have so few devs working on master on windows that this hasn't been seen before! 😖  i'll log into a windows computer later today and see if I can reproduce

[2021-08-23 15:54] tlambert03 commented on #3221
(btw, this is what it should look like, and what it looks like on mac):
<img width="254" alt="Untitled" src="https://user-images.githubusercontent.com/1609449/130478421-76b2e7d4-3155-4748-99d4-aa1fec84f041.png">

[2021-08-23 15:59] haesleinhuepf opened #3222 "Deleted layers return after being deleted"
## 🐛 Bug

Hi all, I'm just testing 0.4.11rc0. When using [clEsperanto](https://www.napari-hub.org/plugins/napari-pyclesperanto-assistant), I observe layers returning after being deleted.

## To Reproduce

Steps to reproduce the behavior:

1. Start napari
2. Open Examples > clEsperanto > Blobs
3. Start Plugins > clEsperanto > Label
4. Close the label magicgui dialog
5. Delete all layers
6. Open Exa

[2021-08-23 15:59] tlambert03 commented on #3221
ugh... even more of a bummer: it apparently varies across PCs.  Here's the first one I tried (not perfect, but much better):

<img width="259" alt="Untitled" src="https://user-images.githubusercontent.com/1609449/130479276-f3b0f318-5ce3-45aa-8dd6-7862ad16a010.png">

@haesleinhuepf ... can you remind me about your display?  pixel pitch, and scaling, etc...

[2021-08-23 16:02] haesleinhuepf commented on #3221
Napari info says this:

And I'm working on an FullHD screen recently:
![image](https://user-images.githubusercontent.com/12660498/130479604-a8bc4d07-6b7a-4254-abf0-cf88686e3939.png)

[2021-08-23 16:02] tlambert03 commented on #3221
thanks

[2021-08-23 16:10] haesleinhuepf opened #3223 "Installing some plugins fails when conda-based environments are mixed with builtin pip installer"
## 🐛 Bug

Hi all, I'm just testing napari 0.4.11rc0. This error is however a bit older. I have seen it in other versions of napari before. Typically I see it when using the napari-app. Today it happened in napari installed via pip in a conda environment.

When installing stardist-napari, it takes forever and eventually fails:

[code]

![image](https://user-images.githubusercontent.com/12660498/130

[2021-08-23 16:13] haesleinhuepf opened #3224 "Warning when starting napari"
## 🐛 Bug

Hi all, I'm just testing napari 0.4.11rc0. When starting napari, it outputs this every time:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. start napari from command line

## Expected behavior

The config file is saved correctly when napari closes. Afterwards, this message doesn't show anymore.

## Environment

 - Please copy and paste the information at napari info optio

[2021-08-23 16:15] haesleinhuepf commented on #3221
I see a similar issue on the labels layer GUI:
![image](https://user-images.githubusercontent.com/12660498/130481616-45ebf9df-51c3-489d-b6de-3480d41ae730.png)

[2021-08-23 16:15] tlambert03 commented on #3224
the warning itself is not unusual, but the fact that it's not resetting is... I wonder if this is another permissions issue in your environment.  Can you give me the content of your settings.yaml?

[2021-08-23 16:16] tlambert03 commented on #3221
yes, this is not points specific... I would expect you to see this on all sliders now

[2021-08-23 16:21] haesleinhuepf commented on #3224
Sure! There you go (I just removed some confidental paths):
[code]

According to the time stamp the file was saved all the time.
![image](https://user-images.githubusercontent.com/12660498/130482185-442b1e33-32f0-43d7-a432-8b79e37fcef9.png)

[2021-08-23 16:23] haesleinhuepf commented on #3221
Correct :-)
![image](https://user-images.githubusercontent.com/12660498/130482643-87b632cf-4bbe-47a2-b283-075e60eef1bd.png)

[2021-08-23 16:26] tlambert03 commented on #3224
thanks, and can you confirm for me that when you open napari, move the window, and resave, that the `window_position ` setting in settings.yaml is updated?

[2021-08-23 16:30] tlambert03 commented on #3224
when I use your settings locally it gives me the warning, then removes the `call_order: null` line, and no warning on the next one.   my guess is that there's something "read-only" about your environment and we're unable to correct your settings file.  If you try `napari --reset` in the same environment where you're seeing this (feel free to back up your settings first) does it work?

[2021-08-23 16:37] tlambert03 commented on #3221
I'm really kind of at a loss here.  maybe @goanpeca knows something about strategies for debugging cross-platform font rendering issues?

[2021-08-23 16:41] haesleinhuepf commented on #3224
The error is gone now, without explicitly doing anything. I swear I have seen it 10 times today. 🙂

[2021-08-23 16:41] #3224 closed, assigned to nobody

[2021-08-23 17:11] goanpeca commented on #3221
I do not have a windows machine handy :-\ , but we could try to add some automated screenshot taking and have some base images to run as benchmarks on different operating systems to at least get some failsafes on CI

[2021-08-23 17:12] tlambert03 commented on #3221
even that wouldn't have necessarily caught this, since I see most of the text on sliders on my windows machines, but @haesleinhuepf  doesn't see it on his :/

[2021-08-23 17:24] goanpeca commented on #3221
@haesleinhuepf do you see any (qt) warnings on the console when running napari from it ?

[2021-08-23 17:29] haesleinhuepf commented on #3221
No, I don't see any qt-related warnings.

[2021-08-23 19:00] liaprins-czi commented on #3002
Here's the Figma where I've started explorations + grouped otpions for feedback by the progress-bar-related issues they attempt to solve:
https://www.figma.com/file/nl19TPV1yOuoCBVfgLGpAS/Progress-bars?node-id=36%3A1580

[2021-08-23 19:00] haesleinhuepf opened #3226 "✨ Improve user experience while drawing Shapes lines"
### Overview of design need

I would like to help improving the user experience for people who draw shapes on data (using a shapes layer), in particular `Line`s and `Path`s. There are two rather small suggestions:

* When drawing a single line, the user has to drag&drop, keeping the mouse button pressed. If the user draws a path, the user has to release the mouse after clicking the first point and

[2021-08-23 19:56] psobolewskiPhD commented on #3226
@haesleinhuepf read my mind—I too have been playing a lot with lines and paths lately.
The difference between line and path is weird.
On my laptop lines are a breeze: three finger swipe. Paths I have to remember what to do.
And ending them!! Gosh, that is always tricky. I never get my first path the way I want it. I always have to think hard to recall the escape key, because all other software I u

[2021-08-23 19:58] tlambert03 commented on #3226
side note: this changed in #2907

[2021-08-23 20:09] tlambert03 opened #3227 "Don't use bound methods of QObjects as callbacks in the action manager (another multi-viewer challenge)"
## 🐛 Bug
don't quite know where to capture this thought... but don't want to forget it.
In #3184, I'm tracking down all of the connections that get from ephemeral Qt objects, to persistent python objects.

An interesting example comes up with the keybindings and action_manager:
When a `viewer.window.qt_viewer` gets created, the `napari:toggle_console_visibility` action is registered in the `action

[2021-08-23 21:23] #2777 closed, assigned to goanpeca

[2021-08-23 21:23] #2651 closed, assigned to goanpeca

[2021-08-23 21:30] liaprins-czi commented on #3226
Also strongly relates to / covered by https://github.com/napari/product-heuristics-2020/issues/27

@haesleinhuepf Thank you so much for creating this issue! I have a question for you and @psobolewskiPhD :
What do you think of the way napari ha the polygon be a complete polygon from the start that you can only add more points to, but it is always a filled polygon (instead of starting with the outli

[2021-08-23 21:49] liaprins-czi commented on #3104
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[Heuristics: Layer controls relationships #19](napari/product-heuristics-2020#19)

- **In a sentence or two, describe the problem to be solved for users**
The actions shown per layer type, as well as the parameters are not consistently communicated in terms of their relationships and dependencies. Ove

[2021-08-23 21:56] liaprins-czi commented on #3103
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[Layer panels layout #18](napari/product-heuristics-2020#18)

- **In a sentence or two, describe the problem to be solved for users**
Very confusing interactions with the visibility + decoupling of the layer controls and layer list panels: The icon to click on to pop them out is very tiny and hard to

[2021-08-23 22:00] liaprins-czi commented on #3102
@neuromusic Is this something that is within the scope of the upcoming hub work for "Simplified plugin names"?

[2021-08-23 22:10] psobolewskiPhD opened #3228 "Shift with line tool prevents next lines from free adjustment"
## 🐛 Bug

Pressing shift *while using the line tool with a line started* fixes the current angle, both for the current line as well as *future* lines.
I instinctively hit shift to get a vertical or horizontal line, which is typical behavior in other drawing programs, so this bug gets me really often.

## To Reproduce

Steps to reproduce the behavior:

1. Create shape layer
2. Start a line using li

[2021-08-23 22:17] psobolewskiPhD commented on #3226
Hmm, that's an interesting question. I admit I never used the polygon tool before, but it's quite intuitive, aside from the issue of finishing—again I hit this, even though I literally posted about today, read about it today, etc.! I think the path tool, in my mind, could serve a dual purpose:
Drawing lines that are composed of segments—this can be quite useful, for measuring lengths or getting li

[2021-08-23 22:22] liaprins-czi commented on #3100
### Overview of design need
- **In a sentence or two, describe the problem to be solved for users**
Consider if / how to make plugin errors more consistent in experience with other (napari core) errors.

### What level of design is needed? (Choose all that apply)
_This section may be updated by the designer / UX researcher working on this issue_

- [ ] **User experience research:**  high-level rec

[2021-08-23 22:23] psobolewskiPhD commented on #3228
Wowza, I get bizarre shift behavior with circle and rectangle tools as well:
pressing shift before drawing the shape results in circle/square, but releasing shift before ending the shape makes it 'explode' to a seemingly arbitrary, but much larger ellipse/rectangle.
Start drawing shape first, then press shift—my typical behavior—results in flashing and unpredictable behavior, with again very large

[2021-08-23 22:29] liaprins-czi commented on #3070
### Overview of design need
- **In a sentence or two, describe the problem to be solved for users**
When a user closes the plugin install dialog and a plugin is being installed, they should be more clearly made aware of the implications as well as alternatives.

### What level of design is needed? (Choose all that apply)
- [ ] **User experience research:**  high-level recommendation/exploration of

[2021-08-23 22:31] neuromusic commented on #3102
@liaprins-czi yes, I think so. in a convo w/ the Plugin Working Group (@nclack @tlambert03 & @Carreau), it was proposed that this would be a unicode field in the to-be-developed manifest file... then, either the napari hub or viewer could render it in the appropriate places

[2021-08-23 22:36] liaprins-czi opened #3229 "✨ Some checkboxes on Linux are not accessible"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[QGroupBox Styling hard to see on linux #3052](https://github.com/napari/napari/issues/3052)

- **In a sentence or two, describe the problem to be solved for users**
On Linux specifically, checkboxes applying to a section ("QGroupBox") blend nearly completely into the background. They need to be acces

[2021-08-23 22:38] liaprins-czi commented on #3229
Note: Wait to do this one until e[ngineering has done its fix](https://github.com/napari/napari/issues/3052#issuecomment-880806176), then see if still unaccessible.

[2021-08-23 22:42] tlambert03 commented on #3103
agree... but difficult to make bigger without increasing the size of the title bar itself, which I wouldn't want to get much bigger (it's mostly dead space).

<img width="33" alt="Untitled" src="https://user-images.githubusercontent.com/1609449/130528552-3086e2bc-76c3-4121-94ba-046302a8331b.png">

I don't know :) I think it says "window on top of window".  But always nice to have better ones!

thi

[2021-08-23 22:53] liaprins-czi opened #3230 "✨ Designs for progress bars"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[Improve progress bars design #3002](https://github.com/napari/napari/issues/3002)

- **In a sentence or two, describe the problem to be solved for users**
Fix vertical jumping, horizontal alignment, scrolling experience, activity indicator, close experience, multi-step progress bars.

### What level

[2021-08-23 22:53] liaprins-czi commented on #3230
I have made a document to keep track of design considerations:
https://docs.google.com/document/d/1uIf6OAPuaDOd0guVUCc2pTgRC6iV_u9H7q1bTmqLKhI/edit?usp=sharing

Here's the Figma where I've started explorations + grouped otpions for feedback by the progress-bar-related issues they attempt to solve:
https://www.figma.com/file/nl19TPV1yOuoCBVfgLGpAS/Progress-bars?node-id=36%3A1580

[2021-08-23 23:04] liaprins-czi commented on #3226
Thanks for this very helpful information @psobolewskiPhD ! In othe rimaging-related tools you use, are there other key-press behaviors you would expect to find in napari but are not there (or are behaving erratically / unexpectedly)? E.g. in Adobe products, `option` makes the shape expland from origin of the shape's center while you drag (but I am not sure if / how other imaging tools do this off

[2021-08-24 07:12] haesleinhuepf commented on #3226
Hey @liaprins-czi, that's a great question! SHIFT and ALT play a key-role in ImageJ for adding and removing parts of shapes. I'm sure you are aware that ImageJ and napari aim for overlapping target audiences. Thus, I recommend to check out how the ImageJ developers made their user interface for drawing stuff. It is extremely user-friendly. It's also not perfect. But hundreds of thousands of imagin

[2021-08-24 07:17] psobolewskiPhD commented on #3226
The drawing from center is a nice feature for sure. I don't use adobe products as much lately, so I'm not as hooked on that keybind and it's not universal, eg. in PowerPoint, but for selecting round objects in particular it can be easier to just grow from center for sure.
In Adobe products the arrows are reversed: filled (solid black, normal arrow) is the normal select tool and the open/white arro

[2021-08-24 07:28] haesleinhuepf opened #3231 "✨ Terminology in napari"
### Overview of design need

I would like to start a discussion about terminology in napari versus other image analysis tools (I mostly refer to ImageJ). I often find myself explaining basic things to end-users, just because things have different / "unusual" names in napari. Examples:
* "shapes" (napari) = "regions of interest" (ImageJ)
* "hook specs" (napari) = "plugin types" (ImageJ)
* "Dock wid

[2021-08-24 08:34] psobolewskiPhD commented on #3231
I'm agnostic on the first and last ones—I didn't/don't find them confusing.
Shape is readily understandable and at the moment—correct me if I'm wrong—Shapes by themselves in bare napari don't really *do* anything other than just being shapes, so you're installing some plugin to leverage them which I think can vary, so the plugin should be the one with docs as to what they're using shapes for.

Key

[2021-08-24 16:15] liaprins-czi commented on #3231
Thanks again to you both for creating and weighing in on this very helpful issue! I agree with the idea of developing a general "How to name things" guide.

Also linking to another very related heuristic issue: [UI terminology #15](https://github.com/napari/product-heuristics-2020/issues/15) and looping in our UX researcher @LCObus for awareness.

[2021-08-24 16:19] liaprins-czi commented on #3231
I also like the idea of somehow making the docs searchable for more than just the "napari term". This might be by including alternative terms in the documentation as you suggest or maybe there is another way. Looping in @melissawm who will be lookign at how to structure our docs, in case this is relevant to what you will be working on at any point.

[2021-08-24 16:31] LCObus commented on #3231
Great points @haesleinhuepf , thanks for raising them! We definitely don't want to make users learn a new language if the functionality is identical, especially given the understandable activation energy that comes with learning napari after using imageJ. That confusion isn't kind to our users, and the design principle here is called "[recognition not recall](https://www.nngroup.com/articles/recog

[2021-08-24 16:35] goanpeca commented on #3231
Having a glossary would be helpful :)

[2021-08-24 16:44] LCObus commented on #3144
From a UX front, I totally agree with you Talley! Systems preference "stickyness" is expected behavior and thus eliminating the extra click "ok" would be ideal. @brisvag isn't without merit, but speaks more to ensuring the preference dialog is well designed in the first place to avoid mistaken clicks, and perhaps adding a "are you sure, this will change XYZ" if there's a given preference that has

[2021-08-24 16:47] tlambert03 commented on #3144
Thanks @LCObus.  sorry, this should be closed 😂  it was implemented in #3178

[2021-08-24 16:47] #3144 closed, assigned to nobody

[2021-08-24 16:59] LCObus commented on #3144
glad to hear it!

[2021-08-24 17:15] tlambert03 commented on #3231
I'd also suggest that ImageJ not be the only thing which we compare to here.

While there is undoubtedly lots of overlapping functionality, it's not in our mission statement to be the python equivalent of ImageJ.  I agree completely that we shouldn't use new terms gratuitously (i.e. "just to be different" or something)... but inasmuch as there is meaningful difference in the objects used between t

[2021-08-24 17:15] psobolewskiPhD commented on #3231
@LCObus wrote:

As a new user, I'd be very wary of such reverts!
Napari has been out for some time, people have learned or are learning—and not everyone is coming from ImageJ, which isn't necessarily a pinnacle of UX design either.
In this case, the layers model napari uses is fundamentally different from ImageJ and more similar to graphics programs like Illustrator or Photoshop.
Changing Shapes t

[2021-08-24 18:13] Carreau commented on #3228
Can you try to reproduce with IPython from either the 7.x or master branch ? There was some issues that would swallow tracebacks, and it may be that some error were silenced.

I can reproduce weird behavior  as well, but with the latest of IPython I actually get notifications that something went wrong,
in particular
[code]

[2021-08-24 18:17] LCObus commented on #3231
I agree that potential reverts should be handled with extreme care!  my primary recommendation is to audit these important terms to assess differences and ensure there isn't actually any unnecessary additional naming conventions (which was @haesleinhuepf 's original concern, but as @tlambert03  noted,  it sounds like there indeed ARE useful differences which would be helpful to note for new users)

[2021-08-24 18:25] psobolewskiPhD commented on #3228
Still occurs with:
[code]
(previous was with the VS Code Interactive Python window)
Here's what's printed in the ipython window when drawing some lines (bugged and not bugged).
<details>
<pre>
shapes.py (2217): divide by zero encountered in true_divide
shapes.py (2217): divide by zero encountered in true_divide
vispy_camera.py (109): divide by zero encountered in true_divide
shapes.py (2217): divi

[2021-08-24 18:31] Carreau commented on #3228
Yeah, that confirms the issue I have here. If you run napari on it's own with older version of IPython it might just swallow tracebacks.

I've narrowed it down to `layer._moving_coordinates` being None even if `_is_moving` is True, though I'm not too familiar with that part of the code base. It also seem to call into "Keep aspect ratio", so I'm not 100% sure this is only for 45º/90º lines, but at

[2021-08-24 18:51] goanpeca opened #3232 "Remove extra search box on plugin dialog"
## 🚀 Feature

Now that plugin dialog is uniform in displaying packages on both installed and non-installed plugins, we could move to use a singe search box.

<img width="1192" alt="Screen Shot 2021-08-24 at 1 50 45 PM" src="https://user-images.githubusercontent.com/3627835/130673163-50f6d16f-c5d1-4d01-a6fb-2730770b3544.png">

## Motivation

Simplify UI :)

## Pitch

No need for two separate boxes

[2021-08-24 20:06] goanpeca opened #3233 "Spacebar is triggering visibility on layers (when active)"
## 🚀 Feature

While we improve on navigation and highlighting focus on widgets, we. should probably disallow using spacebar to trigger actions on buttons in the layer list

## Motivation

Might be confusing fro some users, accidentally hitting spacebar

## Pitch

Disable focus on layer buttons for now to avoid the behavior

## Alternatives

## Additional context

[2021-08-24 20:58] goanpeca commented on #3232
@tlambert03 commented

![napari](https://user-images.githubusercontent.com/3627835/130686792-ff932787-d92b-40a9-9f5e-fa8d68af84c5.gif)

@liaprins-czi I think indeed we might need to put the box in a different place to convey the right meaning. Thanks!

[2021-08-24 21:04] haesleinhuepf commented on #3231
That's the origin of my colleagues' confusion. In ImageJ, there is plenty of tools to draw shapes very prominently:
![image](https://user-images.githubusercontent.com/12660498/130686449-7483ad89-6f8c-4c6d-a800-7eee3052c2a6.png)
... which serve as ROIs. Those are vector-based structures btw (SVG-like), and the end-user doesn't care. I was using the analogon 'shapes' as ROIs in [napari-plot-profile]

[2021-08-24 21:10] goanpeca commented on #3231
In general I would encourage to use more known common names, independent on how things are called in python world. As napari is used by new (non dev) users as a click and point UI tool, and not a programming tool, calling things by their python usual names (matplotlib example by @tlambert03) does not seem to help in this use case.

Similar to how Qt has `QDockwidget` and we had "add dockwidget" in

[2021-08-24 22:42] liaprins-czi commented on #3232
This was my first thought as well. Is it possible to put it at the very top of the page for now, above the "Installed plugins" label?

In future I would like to examine the relationship between the search bar and the Install bar at the bottom. But this is a bigger issue.

[2021-08-24 22:49] liaprins-czi opened #3236 "✨ Streamline search in plugin dialog"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[Remove extra search box on plugin dialog #3232](https://github.com/napari/napari/issues/3232)

- **Also link to any specific comments or threads where the problem to be solved by design is mentioned**
[My comment about looking into relationship between search and install fields](https://github.com/na

[2021-08-24 22:57] liaprins-czi commented on #2999
### Overview of design need
- **Also link to any specific comments or threads where the problem to be solved by design is mentioned**
https://github.com/napari/napari/issues/2993#issuecomment-877313089

- **In a sentence or two, describe the problem to be solved for users**
Make keyboard navigation visually accessible.

### What level of design is needed? (Choose all that apply)
- [X] **User exper

[2021-08-24 23:49] Carreau commented on #3236
As you mentioned #3232, is that really a search or a filter ? It seem to me that if it's a search the list should be initially empty, and search populated, so it may act more like a filter?  I know napari hub uses search as well even if it looks also more like a filter.

It seem to me that search/filter in UI often have a distinctive look and feel, often with a magnifying glass (which is present o

[2021-08-25 00:10] liaprins-czi commented on #3236
Thanks for these thoughts @Carreau ! I am most curious actually how the
functionality fo the two input fields differ. Does the instal field search
a different (global) set of plugins? And the other search just looks at
ones you have installed currently (or have had installed in past but since
have uninstalled)? If so, they are really very similar and perhaps we only
need one, in combination with m

[2021-08-25 00:11] nclack commented on #3221
fwiw, mine looks ok w 0.4.11rc1

![image](https://user-images.githubusercontent.com/98295/130705510-939be1c2-4032-4bd8-b3eb-f4ebbb993870.png)

It looks like my opacity is only printed with one digit past the decimal.  I tried changing display scaling from 100 to 125 to 150 and nothing seemed out-of-place (except that the "layer controls" title for the dock widget is clipped).

[2021-08-25 00:15] Carreau commented on #3236
One things we could do is change the sorting so that installed plugins are at the top, and have a single list, but I'm not too familiar with the exact difference in both fields. But other can inform us.

[2021-08-25 00:15] tlambert03 commented on #3236
yeah it's a filter.  they just filter the respective lists (top list being installed, bottom list being available).   These fields were introduced when the bottom list was starting to get long, see https://github.com/napari/napari/pull/2923 ... and the top one was added for parity, see https://github.com/napari/napari/pull/2923#issuecomment-868939063

agreed... that's what https://github.com/napar

[2021-08-25 00:16] nclack commented on #3221
Dragging between monitors w different scaling produces interesting behavior.  I get a slightly different layout on the other screen.

![image](https://user-images.githubusercontent.com/98295/130706219-ed1a7cd9-d42a-464c-b0be-c0fa46e354b9.png)

[2021-08-25 00:16] tlambert03 commented on #3236
top area is currently installed in the environment, these have fundamentally different properties (disable, update, uninstall), and the bottom is available packages gleaned from scraping pypi: can only have an install action

[2021-08-25 02:35] #3233 closed, assigned to goanpeca

[2021-08-25 02:53] sofroniewn commented on #3222
@haesleinhuepf how major a regression is this for you? is this something urgent we need to fix before `0.4.11`? cc @tlambert03 @goanpeca

[2021-08-25 02:56] sofroniewn commented on #3228
I think it might just be that I implemented the wrong this here so to speak - i.e. holding shift right now locks aspect ratio - but better behaviour would be to lock to horizontal or vertical. We should probably change that. Also the error isn't great, but i don't think this behaviour ever "worked"

[2021-08-25 02:58] sofroniewn commented on #3221
Ok sounds like this may end up being very machine specific. We can give it one more day, but right now I'm leaning towards releasing tomorrow without this fixed. We can release a patch maybe when it is fixed

[2021-08-25 11:25] haesleinhuepf commented on #3222
@sofroniewn
I just checked, the bug has been in 0.4.10 already. As nobody hit it (and/or told me), it might not be that urgent. If I find time, I will also dig a bit into this. If I find something out, I will post updates here.

[2021-08-25 11:50] Czaki opened #3238 "Do not connect partial, lambda or local function to signals"
## 🧰 Task

During the development of #3217, I and @tlambert03 found that connecting partial or lambda functions to signals causes memory leaking.

The source of the problem is that if we bind the bounded method then `EventEmmiter` and `Signal` could store a weak reference to object. But if `lambda` or `partial` object is passed, then to prevent garbage collection of temporary function strong refer

[2021-08-25 13:44] bpavie opened #3240 "This Windows version (6.3.9600) does not support the required bluetooth API."
## 🐛 Bug

Running napari from windows server 2012R2, I have got the following error:
![image](https://user-images.githubusercontent.com/1775952/130799950-59e0d48f-9eb8-470f-9744-65dc8c22f58f.png)

'This Windows version (6.3.9600) does not support the required bluetooth API.'

Looking on others projects, it looks to be a dependency (PyQT) issue (see similar error in https://github.com/GIS4WRF/gis4w

[2021-08-25 13:52] tlambert03 commented on #3220
unable to repeat so far... will keep trying

[2021-08-25 15:01] psobolewskiPhD commented on #3220
Works for me as well on MacOS Big Sur 11.5.2
<img width="1612" alt="image" src="https://user-images.githubusercontent.com/76622105/130815059-aee089e2-936d-4f43-8d4a-d30e61ecc770.png">

I do get a warning when opening the Shapes layer:
[code]

Edit: BTW, I don't have that Blobs image in the Sample menu, even though all my plugins are listed as up-to-date.

[2021-08-25 15:11] CRLFx0D0A opened #3241 "from vispy.ext.six import string_types fails"
## 🐛 Bug

The import **`from vispy.ext.six import string_types`** in
**`napari/utils/event.py`** and **`napari/_vispy/vendored/image.py`**
fails if the installed vispy version is >0.6.6.
This is because ext.py was removed from vispy after 0.6.6.
https://github.com/vispy/vispy/blob/v0.6.6/vispy/ext/six.py

So either change the requirement in setup.cfg to vispy>=0.6.4,<=0.6.6 or **lose the import an

[2021-08-25 15:18] goanpeca commented on #3170
Pinging @jaimergp

[2021-08-25 15:18] goanpeca commented on #3098
Pinging @jaimergp

[2021-08-25 15:18] goanpeca commented on #2965
Pinging @jaimergp

[2021-08-25 15:19] goanpeca commented on #2964
Pinging @jaimergp

[2021-08-25 15:19] goanpeca commented on #2898
Pinging @jaimergp

[2021-08-25 15:19] sofroniewn commented on #3222
Ok - good to know, we'll definitely look into this more after the 0.4.11 release then!!

[2021-08-25 15:23] CRLFx0D0A commented on #3241
And I found my error. Everything works fine with `napari 0.4.10`.

[2021-08-25 15:23] #3241 closed, assigned to nobody

[2021-08-25 16:22] liaprins-czi commented on #3236
I am referring to potentially visaully in the UI combining the search and install fields. I am aware that their results would have different actions available to them (already by combining the two existing search bars the results have different actions available to them), which would likely mean updating the design of the results somewhat.

[2021-08-25 16:33] haesleinhuepf commented on #3221
@goanpeca @sofroniewn I can trace this issue down to specific pyqt5 versions.

I just set up a new conda environment and installed everything from scratch and there the bug is more or less gone:
![image](https://user-images.githubusercontent.com/12660498/130828580-8b66a6d5-7436-40c4-886f-719d33a30326.png)

If I then downgrade in this environment my pyqt5 to 5.12.3, I can reproduce the bug again:
!

[2021-08-25 16:37] tlambert03 commented on #3221
thanks, that's really helpful ... we should have tested that from your original info.

Unfortunately, since qt is such a ubiquitous dependency, and because 5.12 is still the most recent version available from conda-forge, pinning napari to a later version (which is how we would ensure that someone always had a more recent version) would basically break our conda distribution, and a lot of environm

[2021-08-25 16:38] haesleinhuepf commented on #3220
@goanpeca Similar to #3221, I can fix this issue when using pyqt5 5.15.4. The bug is reproducible in pyqt5 5.12.3. Thus, maybe the solution is to make sure that the right pyqt version gets installed with napari...

[2021-08-25 16:40] tlambert03 commented on #3220
thanks again, great to know.

same answer as https://github.com/napari/napari/issues/3221#issuecomment-905695092 ... we either have to support 5.12 fully or not at all, and not at all is not yet an option due to conda.  will dig deeper

[2021-08-25 17:35] tlambert03 commented on #3221
I opened #3243, which effectively reverts #2753 if someone is on 5.12 or 5.13 ... that will give us a little more time to dig into this without totally mangling the UI for users on those versions

[2021-08-25 17:42] haesleinhuepf commented on #3226
Someone made that double-clicks end drawing paths in napari 0.4.11 and I ❤️  it!

[2021-08-25 18:19] tlambert03 commented on #3220
OK, I see the deprecation warnings now on 5.12 ... I think the simplest solution here, for now, is to change your thread_worker implementation.  In this case, if you're only using the thread as a timer to trigger some main-thread computation every so often (i.e. [`update_layer`](https://github.com/haesleinhuepf/napari-plot-profile/blob/937ae492b465b72e8ba1ba732f1eac74d05ab99e/napari_plot_profile/_

[2021-08-25 18:34] tlambert03 commented on #3220
there's a type warning for the QElidingLabel in superqt that I can fix for 5.12 (we test 5.11 and 5.15 ... but I'll also start testing everything in between).  However, the vispy warning is not something we can fix as easily

[2021-08-25 18:41] Czaki commented on #3220
@tlambert03 QTimer takes time in miliseconds not second. Sou you should use 500 instead of 0.5

[2021-08-25 18:46] haesleinhuepf commented on #3220
Awesome, thanks @Czaki and @tlambert03! The timer works great, also with pyqt5 5.12.3 :-)

Feel free to close this issue if you feel like!

[2021-08-25 19:04] haesleinhuepf opened #3246 "mouse_drag_callback on shapes layer does not fire while dragging"
## 🐛 Bug

I was trying to implement a mouse-drag event on a shapes layer for [napari-plot-profile](https://www.napari-hub.org/plugins/napari-plot-profile). Goal was to plot intensities along the line while the user is dragging. I didn't manage to use the `layer.mouse_drag_callbacks` list. It does not fire while dragging and also not when releasing the mouse. (See video below)

## To Reproduce

Ste

[2021-08-25 19:05] haesleinhuepf commented on #3220
Sure. There you go: https://github.com/napari/napari/issues/3246

[2021-08-25 19:13] tlambert03 commented on #3246
ah, this isn't that well documented... but the `mouse_drag_callback` decorator was designed expecting a generator (if you want it to fire while dragging) ... see the example [here](https://github.com/napari/napari/blob/master/examples/mouse_drag_callback.py), or try:

[code]

does that work for you?

[2021-08-25 19:15] psobolewskiPhD commented on #3246
I use this method in my somewhat similar tool and it works perfectly, so it's odd it doesn't for you.
https://gist.github.com/psobolewskiPhD/025704ad8ec6991216e2899d82b68334
I've polished it slightly so you can just import it as a module and call
`profile_line(viewer)`
where viewer is the name of your napari viewer (`viewer = napari.view_image(img)`)
As long as you don't delete the last line (or t

[2021-08-25 19:17] #3220 closed, assigned to goanpeca

[2021-08-25 19:37] haesleinhuepf commented on #3246
I'm not 100%ly sure. In the code I posted above it obviously works. However, when I try to do this in my environment, I would like to use a class member function as callback. This doesn't work; or is at least not straightforward. [Here is the code](https://github.com/haesleinhuepf/napari-plot-profile/pull/10/files) and [there comes the error message](https://github.com/haesleinhuepf/napari-plot-pr

[2021-08-25 19:49] tlambert03 commented on #3246
😆

I think the issue there is that you're using the same callback for [two different types](https://github.com/haesleinhuepf/napari-plot-profile/pull/10/files#diff-fa5d7f298451227ac2b797c30aa04f641cf3a74e91fdf9f1fcd719de855e02c4R123-R124) of "connections".

[code]

the `layer.events.data` connection is going to call your callback with a single `Event` object (where `event.value` will hold the curr

[2021-08-25 20:30] tlambert03 commented on #3222
ok, looked at this.  This is a variant of the problem that dock widgets "stick around" too long.  clicking the x button effectively only hides it, it doesn't destroy it.  So the clesperanto `Labels` widget is still there, waiting to react to a layer change and create a new labels layer.  Not sure whether #3190 is slated to change this behavior.  (but we definitely should)

[2021-08-25 21:16] sofroniewn commented on #3221
indeed - maybe @goanpeca this is something we can help move forward too - i think tania from quansight mentioned it might be something they were looking into - if some resources are needed to help maybe i can get some from CZI. would make a big difference for us i think

[2021-08-25 21:25] goanpeca commented on #3221
Indeed, I think we can help move this forward :) pinging @jaimergp @trallard

[2021-08-26 01:11] #2888 closed, assigned to jni

[2021-08-26 02:50] sofroniewn commented on #316
@perlman checkout the list above for some cool datasets that we could try linking into - also feel free to add!!

[2021-08-26 02:52] tlambert03 commented on #316
Bonus if we can somehow turn it into a sample_hookspec plugin! 😃

[2021-08-26 08:05] kevinyamauchi opened #3250 "experimental_clipping_planes should accept a dictionary"
## 🚀 Feature
I think the `Image.experimental_clipping_planes` setter should accept a single dictionary when a single plane is being defined.

## Motivation
I think the user should be able to pass just the dictionary defining the clipping plane when they want to add a single clipping plane.

## Pitch

If a valid dictionary (i.e., can be used to instantiate a Plane object), it is automagically wrapp

[2021-08-26 08:29] jaimergp commented on #3221
Hi 👋 !

I looked into the conda-forge pinnings because `qt` is a central piece of many packages, so I guessed they would be strict about bumping its version. Indeed, [it has been pinned to 5.12 for two years](https://github.com/conda-forge/conda-forge-pinning-feedstock/blame/ce8a3979cc805c9d2a3a96527c56ad089ebc4cd8/recipe/conda_build_config.yaml#L644), so that tells us that `qt` is not updated ver

[2021-08-26 08:43] jaimergp commented on #3221
Oh, 5.12 is LTS with EOL at 2021-12-05, so I guess that's why that's the one pinned.

Do the patch releases help with the bug? CF has 5.12.9, but I see 5.12.11 was released (providing this in CF is feasible-ish). Maybe that one ships some of the needed bugfixes for this?

[2021-08-26 08:47] jaimergp commented on #3221
5.12.10 is being prepared [here](https://github.com/conda-forge/qt-feedstock/pull/189). Somebody needs to build the packages for Windows.

[2021-08-26 10:17] psobolewskiPhD opened #3251 "4.11rc2 Plugin window Installed panel not showing available plugin updates."
## 🐛 Bug

In Napari 4.11rc2 I am not seeing any updates to my installed plugins, even though I know there's new versions.
For example:
Installed: napari_plot_profile 0.1.3, but that's 2 versions out of date: both the hub and pypi show 0.1.5 available.
Installed: napari-pyclesperanto-assistant 0.9.10, while I know 0.10 has been released few weeks ago.
Installed: napari-skimage-regionprops 0.1.4, bu

[2021-08-26 11:05] perlman commented on #316
@tlambert03 That's my goal. :) "Eric's first plugin".

[2021-08-26 12:24] goanpeca commented on #3221
Hi @jaimergp, thanks for the information and digging it up.

Just wanted to point out that Qt 5.15 is also LTS (and [will be the last long term support version](https://www.qt.io/blog/qt-5.15-released) BTW).

It has been around since May 2020, so besides the hurdles of having to build Qt offline, and any other complications in building such a complex package, I do not see a "strong" reason to *not

[2021-08-26 12:30] goanpeca commented on #316
Just wondering if there is an issue tracking any download utilities infrastructure needed for @jni 's comment

[2021-08-26 12:31] goanpeca commented on #3251
Ohhh dear, yes this is probably a side effect of when we moved from hook-specs to actual plugins in the installed plugins section of the plugin dialog.

I can take a look at this in a couple of hours @sofroniewn

Thanks for the report  @psobolewskiPhD !

[2021-08-26 13:41] jaimergp commented on #3221
To maintain ABI compatibility within the conda-forge ecosystem, they pin most of the libraries packages can link to (C/C++ `host` dependencies, mainly). This way, they ensure several packages linking to, let's say, Qt, can coexist in the same process. That's why `qt` is pinned to `2.12` now; otherwise each feedstock would be able to pick their own (or accidentally use a more recent one), thus dest

[2021-08-26 13:41] tlambert03 commented on #316
I don't think there is actually.  Currently all downloading happens in wrapped libraries (scikit-image, dask, ome-zarr, etc...).  If someone opens anything with a remote protocol `napari https://...` all of that is left to plugins (and even the "builtin" plugin leaves it to downstream libraries).  Would be great to open an issue to discuss it

[2021-08-26 13:44] tlambert03 commented on #3221
thanks for the background @jaimergp!  very helpful to understand.

That's fine, I suspect there's a reasonable workaround to this issue, and in any case, it's not as urgent after #3243.  Hopefully there will be a transition to 5.15 after the EOL at the end of the year.  That would be "fast enough" for most of the things we need i think

[2021-08-26 13:45] jaimergp commented on #3221
Yes, this is a reasonable expectation. I am going to open an issue now.

-- edit: see here https://github.com/conda-forge/qt-feedstock/issues/200

[2021-08-26 13:50] jaimergp commented on #3221
Hm, looks like Qt 5.15 is only LTS for [commercial](https://lists.qt-project.org/pipermail/development/2021-January/040798.html) license holders and the next LTS, 6.2 (planned), is going to fall under the same criterion: once 6.3 is released, LTS is only for commercial users.

[2021-08-26 15:31] goanpeca commented on #316
Yes please, could you open one to do some brainstorming 🧠 with any extra context you can think of.

Thanks !

[2021-08-26 16:14] andfoy commented on #3221
Hi, just for everyone's information, there is an ongoing update of Qt (5.15) on conda-forge in PR https://github.com/conda-forge/qt-feedstock/pull/198, all packages were built and tested on https://github.com/andfoy/qt-recipe, right now I'm adjusting the recipe so that the conda-forge maintainers accept the changes.

[2021-08-26 16:16] trallard commented on #3221
Hey folks - thanks for the ping. As Edgar mentioned he is currently working on the Qt update so hopefully within a few weeks/ couple of months (?) we will be able to have an update

[2021-08-26 17:05] sofroniewn commented on #3251
Ok thanks @goanpeca - much appreciated!!

[2021-08-26 17:17] kevinyamauchi commented on #2637
I think I have come up with a fix for this: https://github.com/vispy/vispy/pull/2198

If the vispy folks agree, we can vendor the shader and implement it here.

[2021-08-26 17:18] psobolewskiPhD commented on #3251
Not sure if related, but on 4.11rc2 some plugins don't show up to install?
Here's 4.11rc2, when I went to install `napari-plot-profile`
<img width="1192" alt="image" src="https://user-images.githubusercontent.com/76622105/131006803-a78d1d31-271d-4b9c-b251-9b36fc19da2a.png">
Also note it says 58 available.
Here's 4.10 in a different conda env:
<img width="1192" alt="image" src="https://user-images.

[2021-08-26 19:23] haesleinhuepf opened #3257 "Repeated error display of "Contours are not displayed during 3D rendering""
## 🐛 Bug

Hi all, just a minor issue in 0.4.11rc2 - not hindering release of 0.4.11: The error message "Contours are not diplayed during 3D rendering" shows up again and again when `layer.data` is updated.

## To Reproduce

Steps to reproduce the behavior:

1. Start napari
2. Open Cells (3D+2ch)
3. Use a labeling plugin, e.g. `Plugins > clEsperanto > Label`
4. Increase `contours` of the labels lay

[2021-08-26 19:39] haesleinhuepf opened #3258 "`Layer (right click) > Duplicate` doesn't work with GPU backed layers"
## 🐛 Bug

Hi all, I just discovered a bug in 0.4.11rc2 when copying clEsperanto/pyopencl-based GPU-backed layers; `deepcopy()` doesn't work for these special arrays. This bug should not delay 0.4.11 release. It would be nice to know what we can do about it. I'm also happy to fix it on clEsperanto side. I'd be happy about hints for how to make GPU-backed arrays deep-copyable.

When duplicating a GP

[2021-08-26 20:08] haesleinhuepf commented on #3246
Thanks for the hint @tlambert03 it works like a charm for the `drag` callback like you suggested. I'm still struggling to make it work for the `move` callback, because when drawing paths, mouse button isn't down. See also #3226 .

Thanks again and feel free to close this issue here!

[2021-08-26 21:08] Carreau commented on #3228
Please see #3259 it does not fix things, but make it less broken, where at least the "keep aspect ratio" will go away of let go of shift.

[2021-08-26 22:42] sofroniewn commented on #3221
Love this discussion

Ok thanks - good to know

[2021-08-26 22:45] sofroniewn commented on #2894
@kevinyamauchi given you're digging into some of the points sizing issues in vispy can you take a look at this one too see https://github.com/napari/napari/issues/2894#issuecomment-864760708 and linked vispy issue for more detail

[2021-08-26 22:45] sofroniewn commented on #2637
Nice @kevinyamauchi I just flagged https://github.com/napari/napari/issues/2894#issuecomment-906792080 for you too - not sure if it is related, but might be good for you to look at too

[2021-08-26 22:47] sofroniewn commented on #3251
Soon I think it would be nice to switch over to using the napari-hub open API endpoint that @ziyangczi has been working on. I know @codemonkey800 is interested in getting a little more involved in some of the napari Qt UI would, could be a fun thing for him to help out with too

[2021-08-27 02:15] meg-bit opened #3261 "Could not load the Qt platform plugin "windows" in "" even though it was found."
## 🐛 Bug

In windows 10, I cannot use napari in python. The error message is
"Could not load the Qt platform plugin "windows" in "" even though it was found."

**_When I run it in jupyter notebook, the kernel always dies._**

## To Reproduce
import napari
viewer = napari.view_image(img)

[2021-08-27 02:19] tlambert03 commented on #3261
Can you please tell us how you created your environment, how you installed napari, and the output of "conda list" (if in conda, or "pip list" if not)?

Thanks

[2021-08-27 02:29] meg-bit commented on #3261
conda create -y -n napari-env python=3.8
conda activate napari-env
pip install 'napari[all]'

[2021-08-27 02:34] meg-bit commented on #3261
I can open napari by clicking its icon in the start menu. If I open the IPython console inside napari and run
viewer = napari.view_image(img), I get the following error:

[code]

[2021-08-27 03:39] tlambert03 commented on #3261
ok, I'm a little confused by some of the things I'm seeing here.  in your installation log in https://github.com/napari/napari/issues/3261#issuecomment-906877419, it's saying "Requirement already satisfied: ... in **c:\users\whh\anaconda3\lib\site-packages**"  which does suggest that it's not installing into from your newly created `napari-env` ... Instead, it seems you're always using your global

[2021-08-27 05:33] kevinyamauchi opened #3262 "clipping plane and plane rendering appear to not be aligned"
## 🐛 Bug

When using the same plane parameters for a layer with a clipping plane and a layer with a slicing plane, they appear to not be aligned (see screenshot below).

<img width="1059" alt="Screenshot 2021-08-27 at 07 27 41" src="https://user-images.githubusercontent.com/1120672/131076586-1ad9b5ca-06fb-4ff9-8af5-8202514d1e26.png">

## To Reproduce

<details>
  <summary>Click to expand!</summary

[2021-08-27 05:33] kevinyamauchi commented on #3262
It's a bit easier to see with a movie:

https://user-images.githubusercontent.com/1120672/131077060-52686e5c-a10a-4ee0-9c46-729f4e1ae9f9.mov

[2021-08-27 05:38] kevinyamauchi opened #3263 "AttributeError: type object 'QEvent' has no attribute 'PinchGesture' on Apple laptop trackpad"
## 🐛 Bug

When I make the pinch  gesture on my Apple laptop's trackpad (usually on accident), I receive the `type object 'QEvent' has no attribute 'PinchGesture` error below

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Open napari on a Mac laptop
2. Make a "pinch" (bring two fingers together on the trackpad) in the canvas

## Expected behavior

The gesture is silently ignored.

#

[2021-08-27 06:02] kevinyamauchi commented on #2637
I'll have a look!

[2021-08-27 06:43] alisterburt commented on #3262
Oh wow, thanks for picking this up @kevinyamauchi ! Will have to have a thorough check of what's going on here

[2021-08-27 07:19] brisvag commented on #3262
It seems to be a shape-related issue. Things only break if the volume is non-cubic (we didn't do a great job at testing, it seems ^^').

[2021-08-27 09:05] psobolewskiPhD commented on #3263
Intestesting, I remember trying the pinch to zoom when I first started using napari. I didn't see any effect so abandoned it.
For me it still does nothing and I don't get an error. Same behavior as 4.10.
I mean it would be cool if it worked though! (The trackpad/mouse gestures to zoom and pan in napari being so fluid and easy are one of the things that really sold me on it vs. ImageJ.)

Here's my

[2021-08-27 09:10] kevinyamauchi commented on #3263
Thanks for the feedback @psobolewskiPhD ! I think this is a vispy issue that was recently introduced. The difference might be that you have vispy 0.7.0 and I have vispy 0.8.0.

In light of that, the easy fix might be to pin vispy to `== 0.7.0`  or `< 0.8.0` for now.

[2021-08-27 09:14] psobolewskiPhD commented on #3263
I have to help a user with microscope today, but I'll try to clone my env and update vispy see what happens.

[2021-08-27 09:23] kevinyamauchi commented on #3263
Thanks!

[2021-08-27 09:35] jni commented on #3231
I want to second Talley's concerns here. I agree 100% that we should aim to be internally consistent. I disagree that we should mimic ImageJ. *It should be considered an accident of history that napari came out of the bioimaging community*, and thus we currently have an overrepresentation of users and developers from that community. We absolutely aim to be a domain-agnostic viewer/platform (it's i

[2021-08-27 10:00] kevinyamauchi commented on #3263
I had a quick minute, so I just tested with `vispy==0.7.0` and that seems to work for me. I think we need to just exclude `0.8.0` for napari `0.4.11`. Thoughts @sofroniewn ?

[2021-08-27 11:00] psobolewskiPhD commented on #3221
Slightly tangential: It would be *sick* if updating pyqt5 on conda-forge could include arm64 binary for macOS (Apple Silicon). That's the only 'hoop' making napari a smidge harder to install native.
At the moment `homebrew` has arm64 binaries available (both pyqt5 and pyqt6):
https://formulae.brew.sh/formula/pyqt#default
but native pyqt is not on conda/pip, and getting homebrew binaries into a con

[2021-08-27 11:05] jaimergp commented on #3221
Both Qt and PyQt are [part of the migration process](https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/master/recipe/migrations/osx_arm64.txt#L120-L121), but Qt is still [pending](https://github.com/conda-forge/qt-feedstock/pull/185). See the [graph here](https://raw.githubusercontent.com/regro/cf-graph-countyfair/master/status/armosxaddition.svg?sanitize=true) and this [other issu

[2021-08-27 11:58] djhoese commented on #3263
I can make a 0.8.1 release today with the fix if someone can point me to why this doesn't work. On PyQt6 `QtCore.Qt.PinchGesture` exists so we have that correct. So what's going on with QEvent :thinking:

[2021-08-27 12:07] djhoese commented on #3263
@tlambert03 says that PyQt6 works for him after his latest related PR. On my non-mac system (PopOS) I don't even have the attribute that the backend is using:

[code]

https://github.com/vispy/vispy/blob/e2bdc37457c8c5709218a7c9b2fbe8e218bd26a7/vispy/app/backends/_qt.py#L570

[2021-08-27 12:13] djhoese commented on #3263
Found the bug:

https://github.com/vispy/vispy/pull/2172/files#diff-211d803936a45285d93b8cbb6315dd40a722ef61afddfe3f1ba268951254577dR574

Edit: I'll fix this after waking up a bit more.

[2021-08-27 12:17] tlambert03 commented on #3263
see this little bit here: https://www.riverbankcomputing.com/static/Docs/PyQt5/gotchas.html#enums

tldr:  starting with sip v4.19.9 (around PyQt 5.11) all enums are now scoped, and starting in PyQt6, the backwards compatibility allowing enums to be accessed in their top level namespace has been removed (so there may be a few more of these lurking around).
If you're still supporting < 5.11, you nee

[2021-08-27 12:22] melissawm commented on #3231
Thank you all for the very helpful discussion - it seems like a glossary would be a good place to start. Initially I thought of suggesting something akin to the [NumPy for MATLAB users](https://numpy.org/doc/stable/user/numpy-for-matlab-users.html) document (as it is a fairly common case for people to migrate from matlab to NumPy/Python, it may also be the case that people arrive at napari from so