[2020-01-27 15:48] sofroniewn commented on #910
Thanks for flagging @anntzer, this reminds me of #875 and would be good to fix alongside our other install improvements

[2020-01-27 18:18] ttung commented on #875
I agree that most tests, for ease of development, should reside alongside the source files, e.g., `napari/layers/tests` should contain the tests for `napari/layers`.

There will likely be some common test infrastructure, and if the installed package is to be testable, it would likely need to reside under `napari/tests/`.

There will also likely need to be a place for integration tests, and that wo

[2020-01-27 18:19] miketaormina commented on #3544
Hi Nicolas,

Thanks for building such a great visualization tool for python!

I have been trying to use (napari version `0.2.10+7.g47af135`) the `.to_labels` functionality on an image stack and not getting the behavior I expected. For example, if I add the line `print(np.unique(labels))` at line number 36 of the nD_shapes.py example, expecting this to reflect the labels of all unique shapes, the o

[2020-01-27 18:45] sofroniewn opened #914 "to_labels broken in nD_shapes.py"
`labels = layer.to_labels(labels_shape=(128, 128))`
I get an index for all 128 shapes, but of course they are now compressed into one image plane, but if line 34 reads:
`labels = layer.to_labels()`
I again get only zeros (but with shape `(127,128,128)`).

_Originally posted by @miketaormina in https://github.com/napari/napari-tutorials/issues/46#issuecomment-578882563_

[2020-01-27 18:47] sofroniewn commented on #914
Sounds like a bug, I can look into it

[2020-01-27 18:48] sofroniewn commented on #3544
This sounds like a bug, I've moved the convo into the main napari repo https://github.com/napari/napari/issues/914 as it will be easier for us to track - thanks for bringing this to our attention

[2020-01-27 20:07] manics commented on #886
@sofroniewn

https://github.com/yuvipanda/jupyter-desktop-server is a fork of https://github.com/manics/jupyter-omeroanalysis-desktop/ that provides a generic desktop (so for example my Napari demo could be built on top of it, as could many other desktop apps). They both use jupyter-server-proxy to proxy VNC to the browser.

The more complex explanation: VNC requires TCP traffic which can't be sen

[2020-01-28 04:03] sofroniewn commented on #766
Python 3.8 support has been added with #878

[2020-01-28 04:03] #766 closed, assigned to nobody

[2020-01-28 04:56] #812 closed, assigned to nobody

[2020-01-28 05:12] jni commented on #875
@ttung I don't think #912 / making `tests` a package is the right solution, because the testing infrastructure should not be part of the public API of napari. I think if you make `napari.tests` a package, doing `import napari; napari.<TAB>` will autocomplete with our test infrastructure, which is bad. So I still think the scikit-image solution of `_shared/testing.py` or `utils/_testing.py` is the

[2020-01-28 17:27] sofroniewn commented on #914
@kevinyamauchi if you have time and are interested can you take this one too? Will force you into the Shapes layer a bit :-) :-)

[2020-01-28 17:54] kevinyamauchi commented on #914
No problem. On it!

[2020-01-28 20:47] irahorecka opened #919 "napari.gui_qt() 'play' button stalls and eventually corrupts program"
I am having issues with the play button in ```napari.gui_qt()```.

When I open the ```napari.Viewer(ndisplay=3)``` with two overlaid channels, I can slide around the various image slices with minor latency. If I press the play button, a movie of my images will start. However, around image 6, the application will freeze and loop over images 1 - 6 again. This cycle happens 3 - 4 times before the app

[2020-01-28 21:12] sofroniewn opened #921 "Intermittent macos test fails and leaking qt resources"
## 🐛 Bug

Following on from discussion in https://github.com/napari/napari/pull/913#issuecomment-579454379 we are still seeing intermittent failures of our mac osx tests - possibly due to resource leaking with the `QtUpdateUI`. @shanaxel42 fixed some similar problems around closing resources for our console and can maybe take a look here too -

Some relevant places to start looking might be https:

[2020-01-28 21:20] sofroniewn commented on #919
Hi @irahorecka, I'm sorry you're running into these problems, my guess is that we're triggering too many calls to dask, and although I think @tlambert03 put some machinery specifically into the play functionality to try and drop repeated calls we're not doing enough here.

We have some improvements planned around big data applications in #881 that I think will improve this, see for example droppin

[2020-01-28 21:23] sofroniewn commented on #919
Ah I just realized @irahorecka you also raised #893 (which is where I saw the - `with napari.gui_qt()` syntax in the notebook) I'm curious if the proposed solutions there helped you too. Feel free to weigh in again directly on that issue if you can. Thanks!!

[2020-01-28 21:44] irahorecka commented on #919
Hello @sofroniewn, thank you for the response. I omitted the ```with napari.gui_qt()``` syntax, but I still run into the same freezing issue.
Nevertheless, I looked into the README and it seems like the syntax should only be used in script calls! I believe I was looking into some of @tlambert03 's notebooks for napari tricks and tips and kept the ```with napari.gui_qt()``` syntax...

[2020-01-28 21:47] sofroniewn commented on #893
Sounds like from the comment in https://github.com/napari/napari/issues/919#issuecomment-579471058 the original issue of @irahorecka has now been resolved and so I will close this. If anyone wants to discuss this further we can always reopen it.

[2020-01-28 21:47] #893 closed, assigned to nobody

[2020-01-28 23:20] #875 closed, assigned to nobody

[2020-01-29 00:18] sofroniewn commented on #919
Note also discussion in https://github.com/napari/napari/issues/845#issuecomment-575286085 about canceling dask calls in the context of napari

[2020-01-29 00:34] kevinyamauchi opened #922 "Shapes shape, range, and extent"
## ❓ Questions and Help

Hello everyone. While working on #920, I realized that I don't really understand how we use extent, range, and shape in the context of the dims, but I may have found a bug. In short, the shape calculation for the `Shapes` layer seems off by one.

## To Reproduce

For example, if I am making a `Shapes` layer with the following data (1 square each on z planes 0, 1, and 2):
[

[2020-01-29 00:34] kevinyamauchi commented on #922
@sofroniewn , would you mind giving a rundown on how shape, range, and extent should work for the `Shapes`layer?

[2020-01-29 00:44] sofroniewn commented on #888
@tlambert03 I am working on a fix for this now, will make a PR soon. hope that's ok

[2020-01-29 00:57] sofroniewn commented on #922
The z-shape definitely seems off. I will look into this more and write a longer response, but curious if the behaviour is the same for points? it might be simpler to agree on what we want for points and then make sure shapes is doing the same thing (which I think it should). I do remember this being a little tricky, especially when you have values like `10.3` around and you have to decide if you w

[2020-01-29 01:36] d-v-b commented on #763
I find this a little muddled... sure, you can define a `worldslice` as a collection of points in a particular coordinate space with real units, but for this `worldslice` there is a corresponding `dataslice`, which is that same collection of points but mapped into data coordinates (e.g., array indices). Should there be an API-level recognition of both? These two slices are a really the same thing -

[2020-01-29 08:04] mkitti opened #924 "48-bit RGB (3-channel uint16 support and hela-cells.tif)"
## 🐛 Bug

[edited title and description after @tlambert03's assessment]

48-bit RGB (3-channel uint16) images should be supported.
For example: https://imagej.nih.gov/ij/images/hela-cells.zip

## To Reproduce

Steps to reproduce the behavior:

[code]

img is a numpy.ndarray
[code]

This was using QT 5.9.6
[code]

Here is the actual error produced:
[code]

## Expected behavior

Napari should show t

[2020-01-29 12:15] tlambert03 commented on #924
Hi @mkitti,

thanks for the example.  It's not that napari doesn't support `uint16`, it's that we didn't anticipate that type of image (48-bit RGB): it's arranged as an RGB image (n x n x 3), so napari interprets it as an RGB image and tries to show it as such ... but it's not in an 8-bit range as almost all other RGB images are.  So the following _would_ work:

[code]

I'll note that one of the r

[2020-01-29 14:14] jni commented on #763
@d-v-b I was thinking about it in terms of API. The data will be given as an nd volume with nd transform parameters: `scale`, for example, would be the vector (16ms, 1um, 200nm, 200nm) for a tzyx volume. So, it's straightforward to define a mapping from data to world.

In terms of the sliders, yes, I think we want them to be in world data coordinates in general. For example, if I stack multiple 3D

[2020-01-29 16:18] mkitti commented on #924
Thanks @tlambert03 .

In this case it seems the error is coming from thumbnail generation. Perhaps it would be best to use something like bytescale since the thumbnail numbers are not critical.
https://docs.scipy.org/doc/scipy-0.13.0/reference/generated/scipy.misc.bytescale.html

Incidentally I came across this when sending images from Julia to Napari via PyCall.jl.
https://gist.github.com/mkitti/

[2020-01-29 16:26] sofroniewn commented on #924
Thanks @mkitti for catching this, and thanks @tlambert03 for those initial tips.

We should be able to work around this - I'm not sure how vispy, the library we use for rendering will handle this type of image (adding support there should be possible too, but might take more time). I can look into this when I get the chance

[2020-01-29 17:04] #888 closed, assigned to nobody

[2020-01-29 17:31] #914 closed, assigned to kevinyamauchi

[2020-01-29 17:34] d-v-b commented on #763
I'm not sure what the arrows mean here... maybe it's easier to explain with code? How do you see the API looking? Here's a rough idea of how I envision things:

[code]

* The viewer only knows about world coordinates
* The viewer has a clipping plane, defined in world coordinates, that gets moved around by user input (maybe this is what you meant by worldslice?)
* The datasource has a method that

[2020-01-29 19:24] tlambert03 opened #925 "working on fixing tests"
## 🐛 Bug

here are some crazy observations that started from looking into the test failure in #923, and may have some implications for general test fixes that we want to look into in #921.  I'll patch it in a PR soon, but just want to document this somewhere, in case it becomes pertinent to #921

on a mac (but we observe it in linux tests too), with python 3.7, using pyqt5 (I'm on 5.14.1), running

[2020-01-29 19:48] tlambert03 commented on #925
another note... the following will create an error if you run it in an ipython session started with
`--gui=qt` (But not if you run it in a `gui_qt` context):

[code]

... and then all hell breaks loose culminating in `RuntimeError: OpenGL got errors (Check before draw): GL_INVALID_OPERATION`

[2020-01-29 19:57] sofroniewn commented on #925
This sounds crazy @tlambert03! Amazing job chasing this down and good to document here

[2020-01-29 20:02] tlambert03 commented on #925
the two offending modules within pytest are `_pytest.main` and `_ptest.python`
if I comment out all imports from both of those modules, then the error doesn't occur... (though a single import from either of those modules is sufficient to cause this bug) still need to look into those modules to see why

[2020-01-29 20:39] kevinyamauchi commented on #922
Thanks for the quick reply, @sofroniewn . I just took a look and the behavior is the same for `Points`. I agree that this is a tricky one. If we don't already have them, I think it would be good to start with definitions of `layer.shape` and the outputs of `layer._get_range()` and `layer._get_range()`. I definitely need to do some more thinking...maybe we can discuss on Thursday?

[2020-01-29 20:44] tlambert03 commented on #925
this subtle modification to the first example exits with a full segmentation fault.
(note the shifted position of the second `napari.view_image` call)

[code]

[2020-01-29 22:09] sofroniewn commented on #925
crazy. is it worth trying to create a minimal vispy example?

[2020-01-29 22:15] tlambert03 commented on #925
yeah, trying to do that.  the strangest part is that pytest has to be imported !?

[2020-01-30 00:10] GenevieveBuckley commented on #899
Was this decision to avoid clutter in the napari GUI dropdown list of colormaps? If so, could we allow support for all matplotlib colormaps "behind the scenes", but keep the dropdown menu to the shorter list of options?

[2020-01-30 00:22] GenevieveBuckley opened #926 "Add reversed colormap(s)"
## 🚀 Feature

I would like us to add some reversed colormaps to the list currently available in napari.

## Motivation

It's frustrating trying to use napari to look at image volumes with a high intensity background. When you try to look at the 3D volumes with the current colormap options, all you see is the blank background and you can't get a good look at your sample.

Examples of this type of i

[2020-01-30 00:44] sofroniewn commented on #899
Yes @GenevieveBuckley I think this was about not having an overwhelming list in the drop down menu, but maybe we can find a way to support them all and not have them all in the drop down or to add support for better search in the dropdown - see #268 for example. I'm very open to having the full list there or thinking about how to improve this. I will comment in #926 too

[2020-01-30 00:47] sofroniewn commented on #926
I think this makes lots of sense, as noted in #899 I think we just want to make sure the drop down menu doesn't become overwhelming and #268 could be an option

Agreed - I don't like this option because it changes the data, and I don't think napari should be forcing people to do that to achieve the visualization they want

This can be done in our themes / palettes right now, but it's not super eas

[2020-01-30 01:23] tlambert03 commented on #925
ooo.  a very nice piece of the puzzle:  the problem is unique to vispy 0.6.4
both of the code segments above run fine on vispy <= 0.6.3

[2020-01-30 02:46] tlambert03 commented on #925
it just keeps getting more interesting!  Turns out the only difference that matters between vispy 0.6.3 and 0.6.4 is simply the [moving of this import](https://github.com/vispy/vispy/commit/eafa62bac096372427ae0c0ad5790a4a42299c8f): `from skimage.measure import find_contours` in [`visuals.isocurve`](https://github.com/vispy/vispy/blob/14bf3023f004e096e4131c1331423a5f43be9883/vispy/visuals/isocurve

[2020-01-30 06:21] HagaiHargil commented on #899
I suggest that instead of writing
[code]
To change a colormap, we can offer a simpler `layer.colormap = 'BuPu'` option, and if that string is a recognized matplotlib colormap name then napari will automatically create the actual colormap (`vispy.color.Colormap(plt.cm.BuPu(np.linspace(0, 1, 256)))`). If that name isn't in our bank of colormaps then the user will have to enter this tuple manually. I

[2020-01-30 06:49] HagaiHargil commented on #900
Here's an idea for the context manager: How about we make the `Viewer` class a context manager in itself? Then you "re-export" the viewer in the main napari namespace to achieve:

[code]

I believe this solution shouldn't break anything and is quite clear and simple from the user's POV - you get a viewer by instantiating a Viewer class. It also doesn't muddy the napari namespace with new functions

[2020-01-30 06:55] HagaiHargil commented on #925
For what it's worth, the latest scipy also caused some *very* weird issues in CaImAn, a known calcium source extraction library. See for example https://github.com/flatironinstitute/CaImAn/issues/696 which was resolved by this commit https://github.com/flatironinstitute/CaImAn/commit/5f2193077bf29a208dfa16b4579650339bb829aa.

Something funky is definitely going on with scipy imports in its latest

[2020-01-30 12:50] tlambert03 commented on #925
just tested and this bug happens with scipy versions as far back as 1.1.0 (and importing scipy.stats still fixes it back then).  so it doesn't seem to be related to any of the most recent scipy stuff

[2020-01-30 12:59] jni commented on #925
Wow!

[2020-01-30 13:08] cbrnr commented on #380
I'm pretty sure this bug is specific to Anaconda/Miniconda/conda. On my macOS 10.15.3, the minimal example works just fine when I use Python installed via Homebrew. However, if I run the same snippet with Anaconda Python, I can reproduce the issue. This seems to have something to do with Qt requiring a framework build of Python, which Anaconda's `python` command does not provide. However, you can

[2020-01-30 14:40] tlambert03 commented on #900
yeah I like that syntax a lot.  so we would just be creating the qt app if it didn't exist in the `Viewer.__enter__` method?

There's a tiny part of me that still feels like we're just saying "many users don't know what qt is, so let's just put a different name on it (`Viewer`)..." but behind the scenes, the only thing the context manager is required for (the `__enter__` method) is exactly what `g

[2020-01-30 14:41] tlambert03 commented on #380
thanks for chiming in!  very interesting.

[2020-01-30 14:51] HagaiHargil commented on #900
That's the plan.

What I'm really trying to solve here is the duplication between `add_x` and `view_x`, which is a bigger pain point for new users (from the n=3 I've seen) than the `gui_qt()` context manager, which is both quite easy to use and kinda necessary due to qt.

[2020-01-30 14:54] tlambert03 commented on #900
yeah I see (and am sympathetic to) that confusion.  Do you propose that we actually remove the `napari.view_x` syntax altogether after adding this context manager?  Or leave it in, but remove it from all of our tutorials and examples?  Otherwise, we're just creating a third option, right?

[2020-01-30 14:58] HagaiHargil commented on #900
I think it should eventually be removed.

I'm not sure what is napari's deprecation policy, but if we emit a deprecation warning now it will give users (hopefully) enough time so that we could remove it by 0.3 or 0.4. We also need to remove it from tutorials, tests, etc...

[2020-01-30 15:16] tlambert03 commented on #900
still potentially ok with it, but it all just makes me a bit sad.  @HagaiHargil, I absolutely like both your motivations (decreasing confusion), and the proposed solution (a nice syntax) ... I'm just sad because it means we're removing what is a very nice and clean minimal functional syntax:

[code]

in favor of a context manager:
[code]

because of an understandable (but still extremely basic) mi

[2020-01-30 16:17] kevinyamauchi commented on #651
Point properties (e.g., class) were implemented by #895 .

[2020-01-30 16:17] #651 closed, assigned to kevinyamauchi

[2020-01-30 16:25] adamltyson commented on #651
Amazing. Thanks again @kevinyamauchi! Is there an ETA for napari 0.2.11 with this functionality?

[2020-01-30 16:33] sofroniewn commented on #651
ETA for 0.2.11 is latest this weekend. I want to start the release process today / tomorrow

[2020-01-30 16:38] HagaiHargil commented on #900
I thought that the `gui_qt()` context manager is always needed in scripts, but not in IPython consoles. It seems fair to always use it as a context manager when writing code examples for new users, but obviously it's not a must.

My suggestion replaces `gui_qt()` with a context manager specifically designed to return a Viewer instance, you code snippet above will keep working wherever it now does.

[2020-01-30 16:54] kevinyamauchi commented on #858
I just merged the first PR introducing point properties and the ability to set colors using the point properties (#895). @adamltyson, I included the example (`examples/add_points_with_properties.py`) that you checked out earlier, but there are some syntax changes. Let me know if you have any questions or run into any issues!

**Moving point display property slicing into the model**
Currently, some

[2020-01-30 16:57] kevinyamauchi commented on #651
No problem, @adamltyson! Please don't hesitate to let me know if you run into any problems!

[2020-01-30 17:06] adamltyson commented on #858
Hi @kevinyamauchi. All looks great from my end. I've put together a rudimentary [training data generation interface](https://github.com/SainsburyWellcomeCentre/cellfinder/blob/master/cellfinder/train/curation.py) for our cell detection software.

The only thing I couldn't work out how to do was to allow the user to select/deselect classes of points in the GUI (like you would be able to if they wer

[2020-01-30 17:34] sofroniewn commented on #900
I think at the beginning we should add the

[code]

and replace `gui_qt` in all the tutorials / docs (would we also leave `gui_qt` or get rid of it too? we probably would want to add a deprecation warning around that if we did)

I think removing the `view_*` entirely would be less desirable, until we think of a good one liner for the notebook use case.

Thoughts @jni?

[2020-01-30 17:38] kevinyamauchi commented on #858
@adamltyson , I haven't tested this, but I think the following will work:
[code]

Note that the highlighting only works when the viewer is in 2D mode and the points layer is in select mode.

Another alternative is to set the edge_color and face_color of the point class you want to "hide" to `'transparent'` (@HagaiHargil added this in #782). For example,

[code]

[2020-01-30 17:39] sofroniewn commented on #858
You'd need to hook up the code @kevinyamauchi mentions to a custom mouse function for this, say with a "shift-click" to selects all of one class. I'm not sure it is generic enough an operation for us to put in the core. Here is a link to a custom mouse function example https://github.com/napari/napari/blob/master/examples/custom_mouse_functions.py

[2020-01-30 17:44] kevinyamauchi commented on #858
Also, cool application of napari, @adamltyson !

[2020-01-30 18:14] kevinyamauchi commented on #858
@adamltyson , you could also try a pattern where you select a point or points and the when you press and hold a key, only points of that close or those classes are visible and then when you release the key, all of the points a visible again. See the [pan_zoom keybinding](https://github.com/napari/napari/blob/4414d284461b3d62b688591c97ed84a0d525552c/napari/layers/points/keybindings.py#L5) for an ex

[2020-01-30 22:36] sofroniewn commented on #177
@kevinyamauchi wanted to bump this issue in light of #858 and https://forum.image.sc/t/add-semantic-labels-in-napari/33484 where similar topics like a `properties` have been proposed for `Points` and `Labels`

[2020-01-31 02:08] #910 closed, assigned to nobody

[2020-01-31 03:43] jni commented on #900
(a) I'm totally opposed to removing `view_image`. For interactive work, it's much nicer than creating a viewer and adding an image. We don't need the context manager at all in IPython with the Qt magic, so then it becomes extra clunky. Additionally, even though layers are one of the main selling points of napari, I *very often* just want to quickly look at an nD image, and keep going. In those cas

[2020-01-31 03:57] jni commented on #380
@cbrnr my hero! I totally forgot about that issue! :joy: One hopes that Anaconda eventually gets on top of this. It'll almost certainly be useful when it comes time to distributing our bundled binary.

[2020-01-31 04:10] tlambert03 commented on #900
Did I say something that made you think I thought otherwise?  I dont mind using `Viewer.__enter__` to replace `gui_qt`;  but I hope we don’t start seeing people use the context manager everywhere (instead of just instantiating a viewer) even when a qt event loop has already been started, just because they no longer realize that was the only additional thing the context is doing for them. (Even if

[2020-01-31 04:15] jni commented on #900
@tlambert03

Ah ok, I get now what you were going for with:

Indeed, now the context manager logic might be *more* confusing rather than less: why sometimes create a viewer in a context and other times just making it? :thinking: And btw I'm not *entirely* sure that it's harmless to use the context when a Qt loop already exists...

[2020-01-31 04:28] tlambert03 commented on #900
Yes, this exactly.

I’m tempted to say that if we’re going to have a method or function that both creates a qt loop and instantiates a viewer, it should require both terms, such as `gui_qt(with_viewer=True)` or `Viewer(..., start_qt=True)`  Where the default on each is false

[2020-01-31 05:32] HagaiHargil commented on #900
Just FYI, using the context manager inside IPython works flawlessly from what I could tell. Also, I'm less concerned about using the API "correctly" while having the precise mental model of how napari is integrated in the qt event loop, and more about giving the user the best possible usage experience. If this means having complex logic in `Viewer.__enter__` to make it work, while adding a bit of

[2020-01-31 05:39] jni commented on #858
@kevinyamauchi

Oh no no no no, this still *must* go in! Allow me to explain the rationale.

1. Consistency and data viz fundamentals

This will make size, face_color, and edge_color all be proper *channels* that data gets *encoded to* on the way to visualisation. This is a fundamental data viz principle that we should support fully, not half-assedly.

2. Setting different attributes to the point

[2020-01-31 12:41] tlambert03 commented on #900
yep, understood. thanks @HagaiHargil.  we know the context manager works in IPython, and we understand that the core proposal here is ultimately aimed at improving user experience.  It's just definitely worth talking about how best to do it.

[2020-01-31 16:07] kevinyamauchi commented on #177
Wow, nice memory - I had forgotten about this issue! I agree with past Kevin 😛 I think it would be straightforward to add `Shapes.properties` in the same manner we have done for the `Points` layer. I haven't looked into hooking up the color properties as well, but I suspect it is doable.

I think we should focus on finishing up the changes to the `Points` layer described in #858 and then once we a

[2020-01-31 16:23] sofroniewn commented on #177
Agreed

[2020-01-31 16:30] sofroniewn commented on #858
@kevinyamauchi I defer to @jni on the setting of size with columns, his argument makes sense to me. Also right now size is an `NxD` matrix and we're planning to more away from that - see #480 and #552. I plan to close #552 in favor of whatever you do here, so if you could also address #480 during this process that would be great - can be a single standalone PR.

[2020-01-31 17:57] sofroniewn opened #930 "Adding points with properties / empty properties"
## 🐛 Bug

@kevinyamauchi I'm trying to create a basic demo where I load an empty points layer with a properties dict with an empty list - say named "class", which I can then populate as I add points - leveraging a combination of custom keybindings / mouse functions. The overall goal is to create a simple demo of how to annotate a movie for input into a tracking program like DeepLabCut. The reason

[2020-01-31 18:00] sofroniewn opened #931 "Should color mode be a kwarg arg to Points?"
## ❓ Questions

Should color mode be a kwarg arg to Points (i.e. `edge_color_mode` and `face_color_mode`)? The reason for this is that these properties will affect how things get rendered on the screen and so if we want to enable full round trips of our data through serialization and back again to have the exact same thing appear on the screen they need to be included. Thoughts @kevinyamauchi?

[2020-01-31 20:43] cudmore opened #932 "Adding more than 1024 points causes the 3D viewer to crash."
## 🐛 Bug

Napari crashes if I add more than 1024 3D points and switch to the 3D view. It also crashes with more than 1024 points if I explicit start up Napari with the 3D view.

## To Reproduce

[code]
1. Run the code above
2. Click the 3D view button/icon
3. Napari crashes

## Environment

MacOS 10.14.3
Python 3.7.2
Napari 0.2.11

 - Please copy and paste the information at napari info option in

[2020-01-31 21:09] sofroniewn commented on #932
This looks like a relatively straight forward bug with our thumbnail generation

<details>

[code]

</details>

determined by our usage of a max number of points to use for thumbnail generation - https://github.com/napari/napari/blob/master/napari/layers/points/points.py#L205

@kevinyamauchi can you take on fixing this?

[2020-01-31 21:21] sofroniewn commented on #930
Looks like the problematic line is `colors = self.face_color[self._indices_view]`, this maybe much easier to do after the new `_view` approach to properties. Note the issue is that we don't want all the face colors, we only want at most 1024 corresponding to the points that we randomly selected

[2020-01-31 21:32] cudmore commented on #932
Thanks for the follow-up and link to the code. Next time I run into a bug like this I will try and take the time to fix it before posting.

[2020-01-31 21:35] kevinyamauchi commented on #930
Dang it! Thanks for flagging these, @sofroniewn .

I hadn't made a test for the use case where the properties is initiated with keys and empty arrays (as oppose to an empty dict), but it makes sense. For an empty points layer with properties, what do you think default `Points.current_properties` value be? Maybe `''`?

For the point adding bug, I've pushed a fix it and added a test (#933 ). In shor

[2020-01-31 21:37] kevinyamauchi commented on #932
No worries! I really appreciate you flagging the bug. I am happy to make a fix today!

[2020-01-31 21:41] sofroniewn commented on #930
Thanks for jumping on fixes so quickly. I'll do some thorough testing.

I'm not sure - maybe the empty string, or None, or np.NaN? Curious what @jni thinks

[2020-01-31 21:43] sofroniewn commented on #930
Separate to the bug fixes, I'd love it if we could make a nice gist with this working well. Do you think you can take a stab at that too? Could be a nice "applications" tutorial.

[2020-01-31 22:00] sofroniewn commented on #932
@cudmore you're also more than welcome to post bugs right away, ask for pointers, and then try and fix them yourself - no need to struggle alone first!!

[2020-02-01 00:54] kevinyamauchi commented on #930
No problem! I will be traveling over the next week, so I will have less time, but I can work on that when I get back!

[2020-02-01 00:58] sofroniewn commented on #930
@kevinyamauchi we can also wait till this is done, as by then it might become trivial. Sounds like we are on the same page :-)

[2020-02-01 02:46] jni commented on #900
Of all the methods discussed `with Viewer() as v:` is my favourite. I don't love `gui_qt(with_viewer=True)` because now you have to have `viewer_kwargs` as an option, which is clunky. The potential for confusion about context vs no-context is real, but I think it can be resolved with good docs and error messages.

[2020-02-01 03:05] jni commented on #899
@HagaiHargil I like that idea a lot as a first step.

[2020-02-01 04:04] sofroniewn commented on #900
I also like `with Viewer() as v:` best. Would I still be able to do `viewer = Viewer()` inside a notebook and have it work like normal too?

[2020-02-01 04:05] tlambert03 commented on #900
yep, adding the `__enter__` method wouldn't prevent normal instantiation.

[2020-02-01 04:20] sofroniewn commented on #900
Ok I think we might be nearing consensus that for the next release we will add the with Viewer syntax to the code base and change our scripting examples in the documentation to use it, but we won’t deprecate or remove any other APIs at this point.

How does that sound to everyone?

[2020-02-01 04:59] #932 closed, assigned to kevinyamauchi

[2020-02-01 05:03] kevinyamauchi commented on #932
@cudmore , I just merged a fix into master (#934). Please feel free to let me know if you continue to have issues. Thank you again for bringing this to our attention!

[2020-02-01 05:17] kevinyamauchi commented on #931
Yeah that makes sense to me. My only hesitation is that I generally try to avoid kwargs that can conflict (e.g., `Points(edge_color_mode='cycle', edge_color = [[1, 0, 0, 1]])`). This one isn't too bad and should be easy to check for, so I think we can give helpful error messages.

I can work on it soon. Although, think this would be a good first issue if anybody else wants to take a crack at it. I

[2020-02-01 20:45] sofroniewn commented on #899
As long as this approach means we don't have to add matplotlib as an explicit dependency

[2020-02-02 00:31] tlambert03 opened #936 "Plans for plugin PRs"
To keep reviewing manageable (and to encourage collaboration), I'm going to keep the plugin PRs as small as possible.  #908 lays the groundwork, and here are my plans for follow-up PRs.  I will update this as we progress.  (and feel free to comment/add items)

- [x] merge #908 🎉
- [x] #937: actually hook up the `napari_get_reader` hook (created in #908) to file io in napari. 🎉
- [x] https://github

[2020-02-02 00:43] jni commented on #899
Unless memory fails me, I left all of the vendored colormaps in there. Of course, the problem with vendoring: we might now have diverged from matplotlib master, if they added new cmaps in the meantime...

[2020-02-02 06:15] HagaiHargil commented on #899
If you really want to make sure napari's always 1:1 with matplotlib's colormaps, you can add matplotlib as a dev dependency and add a test that iterates over both package's colormaps and verifies that all of matplotlib's are included in napari's codebase.

[2020-02-02 23:37] GenevieveBuckley commented on #899
That would be a neat way to handle it, but I don't think matplotlib's colormaps are updated frequently enough for it to be worth the added complexity. As long as the docs here have an accurate list of what is actually available in napari, it's probably less maintenance effort to just update as needed.

[2020-02-03 01:11] jni opened #938 "Log-scale slider"
## 🚀 Feature

In tutorials about e.g. image segmentation with scikit-image, I often advise students to first tune parameters (such as compactness for watershed or SLIC, or alpha and beta for active contours) on a log scale, before refining further if at all needed. For many plugins, this would be the right type of slider for floating point arguments by default.

Therefore, it would probably be goo

[2020-02-03 01:19] jni opened #939 "High-value plugin ideas"
This is a meta-issue to collect ideas for plugins that we want to see sooner rather than later, once we have some plugin infrastructure in place. (Thanks @tlambert03! :grinning:) I'm writing this in preparation for RGSoC, as plugins would make a great development project for students.

- [x] Ilastik-like interactive segmentation
- [x] Segmentation editor: merge labels, split labels with e.g. water

[2020-02-03 01:31] VolkerH commented on #939
I'm rather keen to work on the regionprops viewer once a plugin infrastructure is in place. I did not follow all the issues/discussions on this during my absence in January, will read up on the `pluggy` discussions. Possibly @jni can bring me up to speed with this.

[2020-02-03 02:36] tlambert03 commented on #938
In case it's useful to start with, I implemented something of a cheater log slider in the histogram widget here:
https://github.com/napari/napari/blob/0cbb95dedf71232a9841b12f125920496b0d56a7/napari/_qt/qt_histogram.py#L64-L75

would be great to have our own class though.

[2020-02-03 03:51] sofroniewn commented on #939
On PyPi I have grabbed the following names

- napari-classification
- napari-denoising
- napari-detection
- napari-io
- napari-registration
- napari-segmentation
- napari-tracking

My idea for those plugins, would be to try and turn them into their own little plugin ecosystems - i.e. `napari-segmentation` would provide some convenience functionality that all segmentation plugins might want to use

[2020-02-03 07:45] GenevieveBuckley opened #940 "to_svg() layer method does not work for RGB image skimage.data.astronaut()"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]
[code]

Note that `viewer.layers[0].rgb` returns True, so it's probably lost the idea of the image being RGB when it's passed to imageio. I bet the napari and imageio models for RGB data don't quite align or translate well between one another.

The example code above works well if you use the scikit-image "camera" example image (a

[2020-02-03 08:23] GenevieveBuckley commented on #382
I think something like this might work well for points, and a similar method for polygons could be made pretty easily as well. I'll open a PR in a bit, unless anyone has comments now.

[code]

[2020-02-03 17:44] sofroniewn commented on #940
It's probably something like that. I don't think it should be too hard to fix. Thanks for flagging

[2020-02-04 08:28] jni opened #945 "Add docstrings to all our Qt classes"
## 📚 Documentation

I was looking through our Qt classes to try to provide some guidance in napari/napari-tutorials#52, but found it hard to understand exactly what each Qt class is doing, because almost none of them have class docstrings, and many methods have no docstring or a one-liner rather than a complete docstring. See e.g. https://github.com/napari/napari/blob/master/napari/_qt/qt_layerlis

[2020-02-04 19:58] kne42 commented on #900
I like the idea of this, but I am not sure that it will be so trivial.

The `gui_qt` context manager is equivalent to:
[code]

However, when using `Viewer` as a context manager, it becomes equivalent to this instead:
[code]

Because all of the Qt stuff is inside `Viewer.__init__`, it will be called before the app is instantiated and cause an error:
https://github.com/napari/napari/blob/7a04984472d

[2020-02-04 20:20] HagaiHargil commented on #900
@tlambert03 offered here https://github.com/napari/napari/issues/900#issuecomment-580301487 the interesting idea of ditching the context manager all together. Do we really need it? Can we tear down the Qt event loop without it? Do we even need to worry about a "stray" event loop? I have very little knowledge in this area.

[2020-02-04 20:26] tlambert03 commented on #900
sorry for the confusion... I wasn't suggesting we could ditch context managers all together there.  In the first code block (`view_image(array)`), I was assuming that a qt event loop had already been started using either `ipython --gui=qt`, or a previous `%gui qt` magic.  The last code block also made that same assumption.

The reason we "need" the context manager is just in the scenario when you

[2020-02-04 20:29] tlambert03 commented on #900
in case you're curious to learn more about the event loop, there's a good intro [here](https://wiki.qt.io/Threads_Events_QObjects#Events_and_the_event_loop).  The point is, there needs to be some object running in an infinite loop in the background that is continually asking "did something happen? .... did something happen?", such that when the user _does_ interact with something (e.g. clicks a bu

[2020-02-04 20:42] tlambert03 opened #953 "docs/dev URL"
can we change https://napari.org/docs/dev/ to https://napari.org/docs/ ?
I think the /dev/ made sense as long as it was a strictly auto-generated apidoc, but if we merge #942, then I can't really think of what else we'll need to put in `/docs/` that would necessitate an additional level for that URL.
or, in any case ... can we change the "docs" link at https://napari.org/ to go straight to the sph

[2020-02-04 21:15] kne42 commented on #900
I believe that the context manager was introduced simply to offer a nicer syntactic sugar (see #134). As mentioned in my previous comment, the following API could also be introduced:

[code]

[2020-02-04 23:18] tlambert03 opened #947 "New standard napari screenshot. contest?"
this https://github.com/napari/napari/pull/942#issuecomment-582158682 from @jni, (suggesting the astronaut be retired as the representative napari screenshot) got me flippantly suggesting a contest... but now I think I might be serious :)

should we put out a twitter post or something to request submissions for a screenshot highlighting napari?  preferably 4D image with some analysis layers?  I kn

[2020-02-04 23:23] kne42 commented on #947
It would be super awesome to have people submit their screenshots!!! Maybe have them include what they love about napari too so we can put them in presentations lol ;)

[2020-02-04 23:24] jni commented on #947
I'm +/- 1 here. #BoatyMcBoatFace. =P

[2020-02-04 23:47] GenevieveBuckley commented on #947
I think @tlambert03 is suggesting: "you all submit screenshots and **we will choose a winner**", not "you all submit screenshots and you all get to choose the winner".

@kne42 makes a great point about being able to use them for presentations. For that reason you might also suggest people submit gifs or short videos.

[2020-02-05 00:01] tlambert03 commented on #947
ha!  I had to google "boatymcboatface" to understand that.  that's hilarious. and yes, I meant we pick.  and I also like requesting both stills and gifs.

[2020-02-05 00:26] jni commented on #947
Did you see the original? My wife and I got the giggles for several days when we first saw it 😂😂😂😂😂😂 https://i.kym-cdn.com/photos/images/newsfeed/001/110/982/f62.jpg

I'd like to minimise gifs as much as possible in our site and use autoplay mp4/ogg instead. gifs are bandwidth hogs that furthermore look terrible compared to how buttery-smooth napari is in normal use.

[2020-02-05 00:34] jni commented on #947
Anyway, assuming we go ahead with this, which I'm coming around to, I'd like to lay a minimum of three rules:

- full code needs to be available and BSD/MIT licensed
- data needs to be available, and CC-BY or CC0+BY licensed.
- bare viewer only, no plugin-y things like PyQtGraph integration (as cool as that is, this is for the face of napari, so it should be what users see by default)

[2020-02-05 01:10] jni commented on #953
👍

[2020-02-05 06:06] sofroniewn commented on #947
I'm supportive. I think it would be nice to think about how to show case all submissions (that fall within any area of science) in a public gallery rather than it be purely about picking a winner. I'd also want to communicate that up front, so people know if they go through the effort of making a submission it will see the light of day somewhere. I think it's also important that we are looking for

[2020-02-05 06:17] jni commented on #947
@sofroniewn I would prefer not to mix the contest up with the user research. I think we can do a separate bit of outreach for that.

[2020-02-05 15:31] sofroniewn commented on #953
Yup, makes sense to me - @kne42 can you take care of this?

[2020-02-05 15:39] sofroniewn commented on #947
Yup, that's fine - probably wise to keep it separate, was just an idea, and maybe good to put on the napari teams radar that we'll likely be able to get some help with that from CZI in the future :-)

[2020-02-05 16:48] sofroniewn commented on #608
This has now been fixed in #943

[2020-02-05 16:48] #608 closed, assigned to nobody

[2020-02-06 05:23] #901 closed, assigned to kevinyamauchi

[2020-02-06 10:17] HagaiHargil opened #952 "Add 3D vector coordinates object to the viewer"
## 🚀 Feature
It would be nice if the viewer could also show the current direction of each axis via a simple 3D vector triplet which can be found in many 3D viewing applications, like Blender ([example](https://en.wikibooks.org/wiki/Blender_3D:_Noob_to_Pro/Coordinate_Spaces_in_Blender)).

## Motivation

Having the current axis directions spelled out in the viewer may help with the general orientati

[2020-02-06 19:46] kne42 commented on #953
Sorry, didn't see this, I did that in the event that we wanted to host past versions of our docs but I can fix this for now.

[2020-02-06 23:44] sofroniewn commented on #952
I'm fine with this as long as it is easy to turn on and off. Vispy has some machinery to make this super easy. I'd prefer to wait though until #885 goes in and we start thinking about scale bars and how we are going to overlay them. I see these visuals as more belonging to the viewer than any one particular layer, and we don't quite have that abstraction yet. It may come with some plans in #772

[2020-02-07 01:42] #953 closed, assigned to kne42

[2020-02-07 19:33] stefanv opened #959 "Documentation is AWOL"
https://napari.org/docs/ -> 404

(same for https://napari.org/napari-tutorials/)

[2020-02-07 20:40] cgohlke commented on #924
After working around the ValueError, 16 bit integer RGB images are rendered correctly. Unfortunately interactive contrast and gamma adjustments have no effect on RGB images.

[2020-02-07 22:34] neuromusic commented on #931
ok, I took a stab at this (see #955), but tests are currently failing. I'll try to swing back to this later

[2020-02-07 22:40] kne42 commented on #959
Thanks for the report @stefanv!

It seems that the following line properly copies the contents of `html` directly to the current folder on MacOS but not on linux (it shows up in https://napari.org/docs/html) 😒

https://github.com/napari/napari/blob/3950dba6ced8a7f477877149df1d920f3502a647/.cirrus.yml#L255

This has been renamed to https://napari.org/tutorials. Do you think I should put in a redire

[2020-02-10 05:01] jni commented on #959
@kne42 I guess the [homepage](https://napari.org/) needs updating also, as it links to both those addresses. Not sure exactly where it lives.

[2020-02-11 18:33] HagaiHargil opened #966 "[0.2.11 regression] Adding more than 1024 3D points raises a ValueError"
## 🐛 Bug

When trying to add more than 1024 points to the viewer napari returns an error, claiming that we gave it a 4D point array.

## To Reproduce

From a script or the integrated terminal:
[code]

## Expected behavior

napari <= 0.2.10 doesn't judge me regarding the number of points I add.

[2020-02-11 22:33] #959 closed, assigned to nobody

[2020-02-12 08:40] kevinyamauchi commented on #966
Hey, @HagaiHargil ! Thanks making the issue. Is the error your received similar to the one in #932 ? If so, we merged a fix in #934. Does that fix the bug you’re encountering?

[2020-02-12 09:05] HagaiHargil commented on #966
Hi,

Yes, it works. Not sure how I missed this issue, sorry about that.

[2020-02-12 09:05] #966 closed, assigned to nobody

[2020-02-12 10:40] HagaiHargil commented on #900
Thanks @tlambert03 for being patient with me, and @kne42 for you suggestions.

I've implemented a draft of this idea in #968.

[2020-02-12 14:33] kevinyamauchi commented on #966
No worries, @HagaiHargil . Sorry about the bug!

[2020-02-12 16:19] NHPatterson opened #970 "Nesting image layers in groups for navigation"
## 🚀 Feature
Following discussion [here](https://forum.image.sc/t/image-array-layer-grouping/33908). It could be beneficial to group image planes from the same image. For instance, group multi-channel images together and allow a collapsible view of the channels. Right now, the system assigns a numerical index to the name of a multi-channel image so that ```My MC image``` becomes ```My MC image(1)`

[2020-02-12 16:51] kevinyamauchi commented on #970
I like this idea!

If layers are nested, should there be some layer properties that are synced between the layers? For example, it seems like it should be possible to show/hide all of the layers in the group with a single click/command. I could also see it being useful to set opacity for all layers in a group together as well. Or maybe it would be better if the `LayerGroup` (or whatever we call it

[2020-02-14 00:00] kevinyamauchi commented on #858
Hello @jni and @sofroniewn , sorry for the slow response. I am back in town and ready to pick this up again!

I agree with the points you raise and I will work on allowing size to be set by a property. I think the approach in #552 of having a layer size anisotropy and scalar point sizes makes sense. The one addition I might make is adding an additional layer size scaling factor. The layer size sca

[2020-02-14 01:23] tlambert03 opened #971 "Points-data6-3 Test bug"
## 🐛 Bug
Well... I was wrong about @ttung  PR #957  fixing the recently broken test.
specifically, the `Points-data6-3` in `layer_test_data` is throwing problems,  I thought it was PyQt5-specific, but it doesn't seem to be

see: https://cirrus-ci.com/task/6267251569459200?command=test#L122
<details>
<summary>Full stack trace</summary>

[code]

</details>

i'll try to look at it soon, but if anyone

[2020-02-14 03:31] kevinyamauchi commented on #971
Thanks for making this issue, @tlambert03. It looks like there is a case where the indices of the highlighted points aren't being updated when transitioning from 3D to 2D. We can force the highlighted points in view to be recalculated when `Points._set_view_slice()` is called and that should fix the issue. I guess the failure is intermittent because there are distributions of points that don't cau

[2020-02-14 05:12] jni opened #973 "napari for geodata"
## 🚀 Feature

We've had some interest in using napari for geodata. In addition to physical coordinate systems, we'll need tiling and geographic transforms. It turns out there is a project implementing these things, which I heard about on gitter.im/vispy/vispy: https://github.com/codypiersall/vismap

I have nothing more to add here, only opening this to track interest and progress here.

[2020-02-14 05:26] GenevieveBuckley commented on #970
I think grouped layers will be very useful. I think it's also important to be able to support groups of groups as well (so people can have more complicated hierarchies if that's what they need as well).

[2020-02-14 10:41] #971 closed, assigned to nobody

[2020-02-16 03:29] sofroniewn commented on #939
- [ ] add a reader plugin for the "surface" layer that uses https://github.com/nschloe/meshio - see https://github.com/vispy/vispy/issues/1817
- [ ] [AICSImageIO](https://github.com/AllenCellModeling/aicsimageio) - a Python library for reading and writing image data with special handlers for bio-formats. See more discussion here https://forum.image.sc/t/aicsimageio-3-1-0-release/34343

[2020-02-16 03:33] tlambert03 commented on #285
as per zulip chat... just wanted to put a link to [magicgui](https://magicgui.readthedocs.io/en/latest/) here which _might_ be useful internally as well as externally

[2020-02-16 03:52] sofroniewn commented on #970
I really like this idea - here is another example where I am running into this, using some multiview tracking data from @lambdaloop and https://github.com/lambdaloop/anipose where there are 3 cameras, each one contributing an image layer, a points layer, and a vectors layer. It would be nice to be able to group those three layers all together for each camera. I think this matches what is being req

[2020-02-16 04:02] sofroniewn commented on #973
Very cool, maybe @freeman-lab can help us out ;-)

[2020-02-16 17:13] sofroniewn opened #977 "Test `view_*` API"
## 🚀 Feature
As noted in #976 it might be nice to add a test that our `view_*` API looks like our `add_*` and `Viewer` APIs combined. This should be true for all layers. We should test both the function signature and doc strings. We can test that the keyword args etc are even in the same order.

[2020-02-16 18:27] jojoelfe commented on #970
Hi,

I work on correlated microscopy and have so far been using a tool from Zeiss called ZEN Connect to overlay images from different microscopes. I have been desperate for an open-source tool to do this job and napari looks super promising.

This feature would be fantastic for this kind of data as one quickly builds a up a hierarchy of images. This is a typical example:

[code]
I think it would b

[2020-02-16 20:41] sofroniewn commented on #970
That's great that you're excited about napari @jojoelfe. Those suggestions for the layer groups and chaining transforms / passing down properties sound like really good ones. I think we might be able to do something like make a new object - a `LayerGroup` that subclasses the base `Layer` so it has all the properties that are common for all the `Layers` and a list of the layers / layergroups it con

[2020-02-18 06:17] GenevieveBuckley commented on #947
@jni - maybe you could ask David if his users would be happy to enter with some of the neutrophil data we saw earlier? A small time-series of one neutrophil could be fun

[2020-02-18 06:19] GenevieveBuckley commented on #973
Is this tiling purely for map data, or could you also tile images with the same mechanics?

[2020-02-18 08:36] jni commented on #973
That specific package is for map data, but yes, it certainly can and should be generalised when it comes to napari.

[2020-02-18 17:13] jluethi opened #983 "Black is still a color in the label colormap => Some labels are not displayed"
## 🐛 Bug

When displaying label images with a label of value 305, that label is not displayed in the viewer. When colors are shuffled, it appears (see images below). It also is still visible in the thumbnail. It looks like 305 is black in the default colormap. Black with translucency is not displayed. The same happens for 915, 1525, 1902 etc. in the standard colormap

## To Reproduce

Steps to rep

[2020-02-18 18:08] sofroniewn commented on #983
Opps, that's not so good, sorry about that. I could try and make a quick fix inside https://github.com/napari/napari/blob/56ab67d009b6f8a46a049a262aecf199d3d81cb0/napari/utils/colormaps/colormaps.py#L173, but I think I might use this as a driver to make a push on #713 (maybe @jni when I see you the week after next you can help me take that one over)

[2020-02-18 19:17] manzt opened #984 "Pyramid image fails for non strictly decreasing tiles."
## 🐛 Bug

Trying to build a zarr pyramid and lazily load with dask. I padded some of the smallest tiles to be 512 x 512, but since layers are not "strictly decreasing" in shape this errors despite `is_pyramid` passed explicitly.

## To Reproduce

Steps to reproduce the behavior:

1. Create a (mostly) decreasing pyramid, and explicitly pass `is_pyramid` to `viewer.add_image`.
[code]

[code]

But th

[2020-02-18 19:20] manzt commented on #984
Lesson learned that the final tiles aren't necessary, but the breaking behavior is unexpected. Perhaps a more informative error message that tiles must be strictly decreasing would be helpful. It took a little while to debug.

[2020-02-18 21:12] sofroniewn commented on #984
I think a more informative error message is the way to go here, as I'm not sure why you would need the final tiles - but let me know @manzt if you have a need for them.

We could also put a warning in here https://github.com/napari/napari/blob/master/napari/layers/image/image_utils.py#L17 if we think that something is close to a pyrmaid, but not quite.

[2020-02-18 21:17] manzt commented on #984
I definitely don't think they are necessary to have, and padding images is a pain anyways. No need for the final tiles!

A warning would have been great. A colleague told me to check the shape of each array and helped me to debug. The `AttributeError: 'list' object has no attribute 'shape'` made me think there was an issue with passing a list to `viewer.add_image` rather than an array directly. Mi

[2020-02-18 21:24] sofroniewn commented on #984
Yup, ok that makes sense - we'll get something in. Thanks for letting us know

[2020-02-18 21:38] manzt commented on #984
Thank you!

[2020-02-18 22:37] jni commented on #983
Thanks for the detailed report, @jluethi! Yep, definitely a bug in the way we "hacked" regular image display to display labels. Any value too close to zero after "hashing" from labels to floats in [0, 1] will map to 0.

@sofroniewn #713 is a bit of a mess, whereas I think this could be an easy fix: map the low-discrepancy sequence to 0.05-1 rather than 0-1. I'll try to submit a bug fix soon. Of co

[2020-02-18 22:42] jni commented on #983
@sofroniewn fixing now. The fix is easy, it looks like we just need to tweak the values here:

https://github.com/napari/napari/blob/56ab67d009b6f8a46a049a262aecf199d3d81cb0/napari/utils/colormaps/colormaps.py#L102

The colormap we currently use has 256 values iirc, so it should be sufficient to clip at 1/128 rather than the current value of 10^-5.

[2020-02-18 22:44] jni commented on #983
Actually, I take it back, clipping is the wrong approach here: it'll make all the values in [0, 1/128] map to the same color. which is bad. Anyway, still an easy fix, just a bit different. =) Hold please!

[2020-02-19 01:43] VolkerH commented on #983
In this context, I think the glasbey colormap would be most suited for label images, there is already an issue here:
https://github.com/napari/napari/issues/454

[2020-02-19 01:47] VolkerH commented on #454
There is a python implementation for generating glasbey LUTs here:
https://github.com/taketwo/glasbey
No license given. I will raise an issue and ask for clarification whether this can be used.

[2020-02-19 10:39] VolkerH commented on #454
I had overlooked the license of the glasbey package, turns out it is MIT licensed so might be worth having a look at the code to see whether it is usable.

[2020-02-19 11:36] jni commented on #454
@VolkerH thanks! I already had @DragaDoncila and @jamesryan094 on the case and they had found that implementation. =) They'll grab the bits of code that they need from there, which is not the whole thing. =) But we ran into two issues:

- the way the glasbey LUT is implemented, it is better to get the first few colours if you only have a few labels, rather than to choose randomly. (ie Glasbey prog

[2020-02-19 16:18] adamltyson commented on #939
Once there is a plugin infrastructure is in place, there are a few of us who would like to contribute to a registration plugin for napari (cc @FedeClaudi). We're particularly interested in registration of 2D sections to a 3D volume, which would likely involve a lot of manual tweaking (and napari seems perfect for).

[2020-02-20 02:45] VolkerH opened #986 "change default zoom level"
## 🐛 Bug

Rather than describing this with words I show a screen recording:

![shapes_opaque](https://user-images.githubusercontent.com/2210044/74895715-84928600-53e6-11ea-8479-b5ee8e71efea.gif)

## To Reproduce

Steps to reproduce the behavior:

1. add a shape layer
2. set blending mode to additive or opaque
3. choose some colors other than the background color for face and edge
4. draw a polygon

[2020-02-20 02:49] VolkerH commented on #986
Just realized that this is also happening in translucent blending mode if the edge color is not black.

[2020-02-20 02:57] VolkerH commented on #986
There seem to also be an issue with face color (which is
completely ignored in blending mode translucent). Also, when drawing multiple shapes, only the first shape shows up when drawing in translucent:

![shapes_multiple](https://user-images.githubusercontent.com/2210044/74896640-e653ef80-53e8-11ea-8b4c-4e0eafd1ee26.gif)

[2020-02-20 03:08] VolkerH opened #987 "visibility and selection behaviour of multiple polygons in a shape layer is bizarre (broken?)"
## 🐛 Bug

When defining multiple polygons in a shape layer, they are not all visible in translucent mode although they are non-overlapping. Visibility sometimes stays on a newly created polygon, sometimes it immediately jumps back to a previously defined polygon.
When a polygon is selected and the mouse cursor is moved, visibility and selectability of polygons changes in a way that is inconsistent

[2020-02-20 03:21] VolkerH commented on #986
The issue seems to go away when an image layer is added.
Is the image layer required to establish a proper coordinate system ?

As can be seen in the recording the coordinates shown on the bottom left remain at [0 0] the whole time (rounded to the nearest integer?) when there is no image.

[2020-02-20 03:25] VolkerH commented on #987
Just as with #986 the problems disappear if an image layer is added first.

[2020-02-20 03:40] VolkerH commented on #986
Talking of face and edge colors,  neither of the drop-down menus offers the option to select "no color" (or transparent). Sometimes I may not want  a face color.

[2020-02-20 03:42] mirestrepo opened #988 "Toggle point class property fails if they are all in the same class"
## 🐛 Bug

When running the example for adding points with properties. If the 'good_point' property in the [line](https://github.com/napari/napari/blob/f53d7448f2858a36ff7a57bcfc5176018f2af670/examples/add_points_with_properties.py#L21) is homogeneous for all points (all 'True' or all 'False'), then the toggling fails. Is that expected behavior?

## To Reproduce

Steps to reproduce the behavior:

1

[2020-02-20 04:59] sofroniewn commented on #986
@VolkerH what i suspect is happening here has nothing to do with colors, and is not as much a bug in shapes but more a "bug" / "poor choice" about our default zoom level.

When you open napari with no data I think you are zoomed into a field of view that is [0, 1] x [0, 1]. When you start drawing you have a default edge_width that is 1 and so it takes up the whole FOV. If you use to console to loo

[2020-02-20 05:00] sofroniewn commented on #986
Also - we'll be adding `transparent` to shapes, possible in #898.  Agreed that will be useful

[2020-02-20 05:02] sofroniewn commented on #987
Yup, this is also about zoom - what is happening here is that the edge is so thick that you don't see any of the white interior, and so the black edge on the black background makes things look invisible. As with my comment in #986 we should definitely figure out a fix for this as I see how it is super confusing

[2020-02-20 05:10] VolkerH commented on #987
Yes, that explanation makes perfect sense.

[2020-02-20 05:13] sofroniewn commented on #988
Hi @mirestrepo, thanks for raising this issue - this looks like a bug, or at least somewhat undesirable behaviour. I was able to reproduce it by changing the line of code you highlight in the example and then running it. When I select a point and hit `t` I get the following error message

[code]

It looks like because only `True` values were present at initialization when we then look for a `False

[2020-02-20 05:15] sofroniewn commented on #987
Maybe the thing to do to fix #987 and #986 is just have the camera default to a 128 x 128 FOV or 512 x 512 FOV when there is no data present. We can make that better once we get #885 in too

[2020-02-20 13:28] kevinyamauchi commented on #988
Hello, @mirestrepo . Thank you for posting a very clear issue!

As, @sofroniewn guessed, the issue here is that the colormap for the `good_point` property is set upon initialization (a color is only assigned for `True` in your example) and then when a value is toggled to `False`, there isn't a color available in the colormap.

The reason for this behavior is [this line](https://github.com/napari/n

[2020-02-20 13:45] sofroniewn commented on #988
@kevinyamauchi thanks for the suggestion on a fix. Is there a way where we could do more within `napari` (and not within the example) to catch right before this error (i.e. `if x not in face_color_properties`) and then force the update of the color mapping when that happens? I worry the burden we're placing on the external developer / user here to remember this / code in this way might be too grea

[2020-02-20 14:29] kevinyamauchi commented on #988
@sofroniewn , I definitely agree we should try to do as much of this type of thing as possible from within napari to avoid user/dev burden. I had initially shied away from doing so here because I wasn't sure that we should update the color map when the user sets `update_color_mapping=False`. However, I can see that doing so could be preferable to throwing an error.

If we want to go that route, we

[2020-02-20 14:32] sofroniewn commented on #988
Thanks @kevinyamauchi! I don't have time to do a proper review of this right now - in a microscopy software acquisition workshop at janelia right now :-) but this looks good at first glance. I will try and take a closer look later

[2020-02-21 03:36] jni commented on #988
I like your solution, @kevinyamauchi. Bonus points, I feel like we can leave `update_color_map` as default False now!

[2020-02-22 16:57] MMathisLab commented on #939
One vote for DeepLabCut for multi-keypoints tracking of animals, cells, etc:
www.deeplabcut.org

[2020-02-22 17:20] tlambert03 commented on #939
We still need to write up developer-focused plugin documentation, but I'd just like to add a little background info here for any developers thinking ahead:

For now at least (since https://github.com/napari/napari/pull/908), what it means to "plug in" to napari is to write a function (called a "hook implementation") that will get called at some specific place (a "hook") inside of the napari codeba

[2020-02-22 17:29] amrita112 opened #990 "Integrated output display in notebooks"
## Question

In windows, if a keybinding function in a jupyter notebook prints output, it doesn't show up in the notebook.

## To Reproduce

Steps to reproduce the behavior:

1. In windows, open a jupyter notebook and open a napari console
2. Write a keybinding function to display some output using print()
3. Keypress doesn't give output in the notebook

## Expected behavior

Output in the cell in

[2020-02-22 21:52] kevinyamauchi commented on #988
Thanks for the feedback, @jni and @sofroniewn. Sorry for the late response! Things with the move are a bit hectic right now.

@mirestrepo , I am sorry about the false start with the example modification I suggested. It sounds like there is consensus around the change to `Points.refresh_colors()` that I [suggested above](https://github.com/napari/napari/issues/988#issuecomment-589078718). I can wor

[2020-02-22 22:38] rbavery opened #991 "Rolling dimension order for individual image layers instead of all layers"
I have two image layers, one originates from importing multiple .tif files at once into an Image layer, each is ordered (3035, 2016, 3). Another is a single .tif file with shape
(3035, 2016, 52) imported individually.

![Selection_090](https://user-images.githubusercontent.com/22258697/75100178-5e541e00-557f-11ea-9979-e3b67a720725.png)

When I select the option to roll the dimensions, I can only s

[2020-02-22 23:34] sofroniewn commented on #990
Thanks for reporting this @amrita112, maybe one of the @napari/core-devs that has access to a windows machine can look into replicating this

[2020-02-22 23:40] sofroniewn commented on #991
That's great that you're liking the tool @rbavery! From the sounds of it you only really want to do this roll once when you load in the image write? If that's the case, it might be something we expose in a more advanced file open dialog we're working on in https://github.com/napari/napari/pull/616#issuecomment-562896633 or once we get #937 merged it will be possible for you to write your own IO pl

[2020-02-23 20:48] tlambert03 opened #992 "Ideas for Settings & Preferences"
## 🚀A list of things that might benefit from persistence
Following up on this https://github.com/napari/napari/pull/834#issuecomment-590112950, this issue is a place list ideas for things that might make good settings/preferences (once we have a persistence layer in place).  Feel free to edit this comment directly, or start your own lists.

- [x] theme (superseding #943)
- [ ] monitor DPI (#820)
-

[2020-02-23 20:55] rbavery commented on #991
Yep, that's correct. Maybe this "only-selected" option for dimension rolling could go up near the other options that seem to apply to selected image layers (interpolation, blending, etc.). If writing an IO plugin was simple enough I'd make one that automatically moved the axis with the smallest length to the first position and that would work too (for .tifs with 3 axis since this is usually what I

[2020-02-23 21:00] sofroniewn commented on #991
Ok sounds good @rbavery - maybe we leave this one to sit a little as we think about exactly how that would work on the UI and as we work to make the io-plugins possible. Thanks for bringing this to our attention though

[2020-02-23 21:27] rbavery opened #993 "what are the translation values for the translate argument of the Image class?"
## 📚 Documentation
I noticed that there's now an argument when defining an Image object to specify translation values: https://napari.org/docs/api/napari.layers.image.html?highlight=translation. Are these specified as (top_left_x, top_left_y)? Or something else?

I have a series of images that each have metadata for their center coordinates and size in microns on a cartesian grid and I'm looking t

[2020-02-23 23:58] sofroniewn commented on #993
We definitely need to improve the docs here, and a PRs improving both the doc strings and the tutorials https://github.com/napari/tutorials would be more than welcome. Probably for the fundamental tutorials still ok use default images from skimage, but we also have more advanced applications tutorials where we love cool gifs of real biological data and even better to have the data publically avail

[2020-02-24 01:46] jni commented on #990
@sofroniewn I don't think this is windows-specific, but rather a limitation of notebooks. In a notebook, once a cell is done executing, you can't modify its output[^1]. So as far as know there is no way for us to resolve this appropriately. Packages like Bokeh and streamz do crazy/fun things like display an html/js widget that is synced with a value in Python that can be modified in an independent

[2020-02-24 01:53] rbavery commented on #993
Got it, thanks for the info. I'll sit tight on making a PR until #885 clears.

[2020-02-24 03:34] #983 closed, assigned to nobody

[2020-02-24 17:57] sofroniewn opened #995 "add github handles to our release notes for contributors / reviewers"
## 📚 Documentation
I think it would be nice if we modified the [release generating script](https://github.com/napari/napari/blob/master/docs/release/generate_release_notes.py) so that not only did we put the names of our contributors and reviewers, but we also put their github handles - it might help bridge the gap between names and github handles in our community. See our release notes here https

[2020-02-26 02:35] VolkerH opened #998 "Visual filtering: colormaps with transparency/ limiting contrast scaling"
## 🚀 Discussion about potential colormap/contrast scaling feature for visual filtering

I've been playing with "visual filtering" of objects using some tweaks to default vispy colormaps over the last couple of days.

The idea is to use a label image and measurement values (from a yet to be added measurement plugin ... for the time being `skimage.measure.regionprops_table` will have to do) to creat

[2020-02-26 05:33] neuromusic commented on #939
@jni can you expand on why these plugins should be "sooner than later"? because they are foundational and every bioimage analyst will want to use them? because they are a "flagship" that demonstrate how napari differentiates from competing image visualization+analysis tools? I'm curious how you are thinking about this and you would approach prioritization.

[2020-02-26 07:02] HagaiHargil opened #1000 "Add napari to pyviz.org"
## ❓ Questions and Help

[PyViz](https://pyviz.org/) is a comprehensive aggregator of visualization tools for Python. napari isn't in it, currently, I believe. What are your thoughts on asking them via an issue or PR to mention napari in their mind maps and other texts?

[2020-02-26 07:16] VolkerH commented on #939
Regarding plugins in general, if they add new functionality they will typically bring new dependencies. I believe the napari developers are trying to keep unnecessary dependencies at a minimum (at least that is my impression from interactions with @jni). However, I assume that the plugins have to live in the same python environment as the viewer. I expect some of the highly desirable plugins to co

[2020-02-26 11:35] tlambert03 commented on #939
Super good point 👆.  Dependency hell will a very real issue with multiple plugins with heavy dependencies. Thanks @VolkerH. Possible that conda could help slightly here, but some users will likely still run into unsolveable dependencies between plugins (and the plugins would also need to have conda installs of course)

[2020-02-26 13:19] VolkerH commented on #939
Just thought of imjoy. The plugin architecture there is based on plugins running in their own process and exchanging data with the main program via rpcs. That has some limitations when it comes to tight integration with the viewer (I'm thinking e.g.  of. GUI elements ot direct access to GPU functionality via vispy) but avoids the depedency hell.

[2020-02-26 14:19] tlambert03 commented on #939
just thinking out loud... if we did eventually want to go that direction (RPCs and messages) we could, it would just require moving away from pluggy and rolling our own plugin registration system (since pluggy is pretty much built on the assumption that you can import the plugin module at registration time).  That's might not be _that_ big of a job though, and we can definitely take what we learn

[2020-02-26 16:01] sofroniewn commented on #1000
Good idea, I can get that done soon if @jni agrees?

[2020-02-26 16:42] sofroniewn commented on #998
@VolkerH - this is an interesting idea. I see how filtering segmented objects based on the values of some measurement is a common task, and that the current behavior - which in many ways is already pretty cool - is not desirable for the reasons you point out about because the colormap is changing as you filter.

Using a colormap only approach seems quite nice as I don't think you should have to ch

[2020-02-26 16:47] sofroniewn opened #1001 "Plugin dependency management"
## ❓ Questions and Help

I'm pulling this question from @VolkerH out of #939 so we can have a more focussed discussion on it:

From @VolkerH

From @tlambert03

From @VolkerH

From @tlambert03

[2020-02-26 16:53] sofroniewn commented on #939
I just pulled of the discussion from @VolkerH and @tlambert03 on plugin dependency management into its own issue #1001 and it would be great if we could keep discussion on that there as I do see it as separate from ideas on new plugins.

@VolkerH really never worry about creating too many issues, it's actually much easier for me to keep track of more issues that are smaller / more granular and tig

[2020-02-26 17:03] sofroniewn commented on #1001
@VolkerH, thanks for surfacing this. @tlambert03 this was something that was discussed during team meetings at quite some length during the early phase of the project and we havn't revisited too much lately. The strong feeling then was to start with a single python environment for performance reasons. Maybe @jni wants to weigh in with more thoughts.

I'll also add that pip is actively working on i

[2020-02-26 18:36] neuromusic commented on #939
Do I understand correctly that "plugins" for napari is first and foremost an architecture decision? And that when #376 or some variant is implemented, some fundamental plugins (e.g. i/o) will likely be bundled with the application?

[2020-02-26 18:51] jni commented on #939
@neuromusic bundling is its own discussion also. =)

[2020-02-26 18:58] neuromusic commented on #1001
This is a hard decision to make without clear prioritization of 3rd party plugins. If there are 5 "must have" plugins that have dependency conflicts in their native implementation, then you are left with either building the plugin architecture to handle that OR forcing plugin devs to refactor their code to work in the napari environment.

[2020-02-26 18:59] jni commented on #1001
I'm inclined to go towards standard distributions, e.g. Anaconda. Different versions of napari will make available certain standard versions of packages, and that is what plugins *must* depend on for specific versions of napari. Things like the NEP29 deprecation policy will make this easier to do. imho this is the only way to manage large interdepency chains. I have a significant bias against RPC

[2020-02-26 19:06] jni commented on #939
@neuromusic re "high value" and "sooner", these are applications/workflows that I and others have already received requests for in the context of napari.

[2020-02-26 19:59] neuromusic commented on #1001
Do you have any expectation of the cadence of these version changes? Quarterly? Annually? Decadely?

[2020-02-26 20:16] sofroniewn commented on #1001
I think this will likely change with time and the size, maturity, and needs of the plugin ecosystem. At the beginning I imagine will try and be flexible with respect to the development practices of the community and try and give them the best experience possible.

[2020-02-27 02:01] sofroniewn commented on #936
@tlambert03 @jni at the EOSS meeting one of the matplotlib maintainers recommended https://pypi.org/project/entrypoints/ https://entrypoints.readthedocs.io/en/latest/ for very lightweight plugin stuff. I just wanted to surface this, it might target a slightly different use case then pluggy though. I wasn't sure. Thoughts?

[2020-02-27 02:05] sofroniewn opened #1004 "Add citation file"
## 🚀 Feature
We should add a citation file using the [citation file format](https://citation-file-format.github.io/). We could potentially use a citation format that is provided by CiteAs - see here http://citeas.org/cite/https://github.com/napari/napari for example (i'm not saying we want to use that exact one, but linking to a place which autogenerates them). I do like having a dedicated file th

[2020-02-27 02:12] sofroniewn opened #1005 "matplotlib widgets in napari"
## 🚀 Feature
Following some guidance from @story645 and @tacaswell we were able to get a matplotlib widget into napari using some instructions from the matplotlib documentation https://matplotlib.org/3.1.1/gallery/user_interfaces/embedding_in_qt_sgskip.html

If you have matplotlib installed then the following code will add a widget:

<details>

[code]
</details>

<img width="1200" alt="Screen Shot

[2020-02-27 09:49] jakirkham commented on #718
I wonder if a short-term solution would be to perform optimization of slicing by hand first (this could lead to something potentially useful for upstream discussion/integration). Another similar (though not the same) optimization problem comes up in issue ( https://github.com/dask/dask/issues/746 ), which could be useful to pull from.

As to the caching point, there has been a fair bit of discussi

[2020-02-27 16:25] sofroniewn commented on #635
@jni @jakirkham can this now be closed? I think napari can now be installed with

[code]

When we make new releases to pip will conda-forge then automatically start using the newest release or do we need to do something to make that update? What is the recommended way after / during the release process to make sure the new conda-forge release works? Do we need to add something to our test script p

[2020-02-27 20:10] tlambert03 commented on #936
from what I can tell, the main offering there is a helper function to discover packages that offer a particular `entry_point` group... which is pretty much exactly what our `plugins.manager.entry_points_for(group)` function does using the builtin [`importlib.metadata`](https://docs.python.org/3/library/importlib.metadata.html) module:

https://github.com/napari/napari/blob/723c937d47c266aa37916c3a

[2020-02-27 20:23] sofroniewn commented on #936
Makes sense @tlambert03, thanks for checking that out!!

[2020-02-28 10:34] vigji opened #1009 "Problems with pip installation of the new napari version"
Trying to pip install napari in anaconda 3 on a Windows produces an error.

## To Reproduce

Steps to reproduce the behavior:

1. From terminal, `pip install napari` gives me:

[code]

I have tried also in a completely new conda env and the same happens. I was able to install using conda-forge.

[2020-02-28 11:41] tlambert03 commented on #1009
Thanks for reporting @vigji and sorry we let that windows issue through!

@jni @sofroniewn, i guess my distributing my plugin discovery testing strategy is problematic for pip on windows.  I tried to emulate the discovery as closely as possible with my dist-info fixtures, but I guess I'll need to rethink that strategy if we are distributing those fixtures with the releases.  I am giving an off cam

[2020-02-28 15:09] guiwitz commented on #1009
FYI I just had exactly the same problem on MacOSX-10.13. Conda installation worked fine but pip produced the exact same error message as in the original post.

[2020-02-28 15:29] tlambert03 commented on #1009
thanks @guiwitz ... we obviously need to change some things on our side.  but just out of curiosity, what version of pip are you running?  on `20.0.2` I'm not getting any errors.

[2020-02-28 16:04] guiwitz commented on #1009
This happened with 19.2.3 (I actually used the wrong environment with an old pip version). Installation works fine with pip 20.0.2 for me too.

[2020-02-28 21:52] d-v-b commented on #1005
this looks awesome! thinking bigger-picture, do you feel like this kind of functionality is generally the right approach for stuff like 1d plotting in napari?

[2020-02-28 21:57] sofroniewn commented on #1005
@d-v-b I certainly see this as a good option that there should be a matplotlib plugin. As to inside napari directly, I think it still makes sense to think about some of the 1D plotting stuff @tlambert03 was working on in #823

[2020-02-29 04:53] HagaiHargil commented on #1000
On the same note, is it cool if I'll send a hint to Python Bytes regarding napari?

[2020-03-01 16:52] d-v-b commented on #792
I wonder how much of this stuff we could get for free by using xarray. "rgbness" of an xarray can be represented by assigning the name "rgb" to the axis corresponding to the color channel; the `coords` property of an xarray naturally describes the position of the data in physical space. It should also be simple to use xarrays for making lazy pyramids, since they have a `coarsen` method... I'll see

[2020-03-01 19:04] d-v-b opened #1013 "image datatypes"
rgba data in numpy is usually represented as an array with n spatial dimensions and 1 channel dimension that has length 3 (for rgb) or length 4 (for rgba). This is a little unfortunate, because the rgba-ness of the data is a property of the values, not of the array of values. This leads to stuff in napari like specifying which array dimensions correspond to the channel (no slider) vs the array dim

[2020-03-01 22:59] jni commented on #1013
Interesting idea! No, I haven't seen this use of dtypes or recarrays brought up before. Having said this, though, this is non-standard, and I am reluctant to have us make a push for making it standard, as I think it has limited value compared to xarray, which, as you point out, we will probably end up adopting at some point, and then this problem could be solved equally well with that. In general,

[2020-03-01 23:51] GenevieveBuckley commented on #792
Yes, it would be really good to explore this

[2020-03-02 00:43] GenevieveBuckley commented on #1013
I'm +1 on xarray instead of custom dtypes as well.

[2020-03-02 00:58] d-v-b commented on #1013
Yeah I agree that doing strange stuff should be avoided when possible... But, if this datatype were used internally, I don't think it would actually be that weird: every user with C-ordered array data in the form X,Y,...C is already compliant with the scheme I depicted above (since i'm proposing a view of data, not a transformation of data). Both matplotlib and vispy assume rgb numpy arrays will c

[2020-03-02 01:12] jni commented on #1013
@d-v-b note that in scikit-image, we will no longer assume the last axis is the channel axis. See https://github.com/scikit-image/scikit-image/issues/4294. And this is very important in microscopy where it is *often* not the last axis. Due to acquisition order, many microscopy arrays come in TZCYX order.

At any rate, I don't like having lots of code that assumes RGB, which a tiny sample in an eno

[2020-03-02 02:11] sofroniewn opened #1016 "World coordinates API question"
## ❓ Questions and Help

After discussions on Thursday I'm picking up work on #885 and https://github.com/jni/napari/pull/6 from @jni and @GenevieveBuckley to add support for world coordinates to the viewer (see previous discussions in #763 too and a number of comments from @d-v-b across these issues). I think I am fairly close to having a follow-on PR that has many of the features we want but I w

[2020-03-02 02:30] d-v-b commented on #1013
@jni good points! Other sample datatypes to consider are vectors (for use in vector fields), and LabelledMultisets, which get used in segmentation images for reversibly aggregating labelled samples. The latter are not fixed-length, which complicates the "just add another array axis" approach.

[Image scanning microscopy](https://physics.aps.org/featured-article-pdf/10.1103/PhysRevLett.104.198101),

[2020-03-02 02:50] jni commented on #1016
@sofroniewn

I don't love this. There's certainly a *massive* user base that uses more complex transforms, *and* vispy allows arbitrary transforms, *and* geodata *and*... In short, not accounting for more complex transforms cuts out a huge number of people. We can say "leave this for later", but honestly, is there a better time than now?

Part of the reason I chose to go with scale + translation a

[2020-03-02 03:00] d-v-b commented on #1016
Yay! Thanks for working on this!

For me, affine is enough (for now)! Neuroimaging formats and bigdataviewer describe data with a full affine transform. Just make sure that the clipping plane/volume is also represented by an affine transformable-object. Right now there is no clipping plane/volume. That functionality is localized in the `dims` object but it is not a geometrical object. `dims` shoul

[2020-03-02 04:30] sofroniewn commented on #1016
@jni

Now is a good time to talk about it :-) I just have a hard time understanding how it would work in practice without substantial PRs to vispy too. While the vispy [BaseTransform](https://github.com/vispy/vispy/blob/master/vispy/visuals/transforms/base_transform.py#L25) is architected in a generic way it needs to be subclassed to be used and someone needs to provide both a python `map` functio

[2020-03-02 06:53] GenevieveBuckley commented on #1016
I can see people wanting to do this too.

Isn't that why we wanted the chained transforms in the first place? Right now chained transforms just looks like overhead because we're only reproducing the current functionality available in napari, but it allows more flexibility later on. I suspect also that chaining transforms will make the pyramid and grid view modes a little less confusing to work wit

[2020-03-02 07:24] jni commented on #1016
But that's why there are packages like [vismap](https://github.com/codypiersall/vismap) which provide additional transforms — which we probably want to support! And other users (*cough* @bogovicj *cough*) will probably be able to directly add support for additional transforms. I don't know for sure but I do think this is one of the easier-to-extend parts of vispy, since transforms are conceptually

[2020-03-02 14:03] bogovicj commented on #1016
Thanks for looping me in everyone!

:+1: My use case(s) require more complicated transformations that affine, and almost always involves chaining a sequence of transforms.

I've seen stuff that builds transforms from point-correspondences, but havn't seen something that's nicely interactive.

lol.  Happy to! :smiley:  #subtlety

## thoughts on API

* For general transforms, it's nice to have an ap

[2020-03-02 18:23] sofroniewn commented on #1016
Ok, I'm taking away from this that the group is very pro-chain transform and likes thinking about transforms more generally than affine :-) That's good to know and fine with me. I have made a super simple refactor in #1018 that changes no functionality, but now lets us use a `scale` / `translate` transform. If that looks good I'll add a "world" coordinate system in a followup, and then explore aff

[2020-03-02 22:57] GenevieveBuckley commented on #1016
So vispy has a `simplified` method (see [here](https://github.com/vispy/vispy/blob/19f024229f5bebd32c6fb57d079b498848b65d16/vispy/visuals/transforms/chain.py#L99) and [here](https://github.com/vispy/vispy/blob/19f024229f5bebd32c6fb57d079b498848b65d16/vispy/visuals/transforms/chain.py#L252)) for chain transforms, which we'll absolutely want to use.

There are some cases in which it won't completely

[2020-03-02 23:43] VolkerH commented on #1016
There is an important reason why you may not wan't to simplify a chain of affines into a single affine. I learned this the hard way (but tracking down the source of artefacts) and have communicated this in person to @jni a few times:

If you are dealing with unisotropic data, e.g. from confocal microscopes, where the voxel spacing in z is significantly larger than in x,y directions, you don't want

[2020-03-03 00:16] GenevieveBuckley commented on #939
@VolkerH suggested via email that another good idea would be a plugin similar to AnnotatorJ, for semi-automatic image annotations.

*AnnotatorJ: an ImageJ plugin to ease hand-annotation of cellular compartments*
https://www.biorxiv.org/content/10.1101/2020.02.27.968362v1.full.pdf

[2020-03-03 00:35] GenevieveBuckley opened #1019 "Support for multiresolution (pyramid) layers besides Image layers"
## 🚀 Feature

1. Move everything needed for multiresolution/pyramid layers into VispyBaseLayer. Currently we have things split across VispyImageLayer and VispyBaseLayer, eg: the `find_top_left()` method, which depends on the `level_shapes` property (which is only available in the image layer).
2. (Possibly) change the name of `is_pyramid` to `is_multiresolution`.

## Motivation

The motivation her

[2020-03-03 00:43] DrLachie commented on #903
Just came across this when running a gui interface from docker, as in the links above. Would love to be able to fold napari into the gui we're working on (works locally, just not on the docker image).

[2020-03-03 00:43] sofroniewn commented on #1019
Thanks for making this issue!! I like this idea, it would maybe be good to have a concrete example of say many many points where napari currently cannot handle it, but where having a multiresolution approach would help. Maybe @kevinyamauchi has ideas / experience there

[2020-03-03 03:04] GenevieveBuckley opened #1021 "Feature request - add frame range to the animation slider popup"
## Feature request - add frame range to the animation slider popup

At one point @tlambert03 planned to add a frame range to the slider popup for playing animations.

There's a chunk of commented code related to this that will be pruned out of the codebase in https://github.com/napari/napari/pull/1022. This issue is set up to track

The new feature should live in the `QtPlayButton` class in `napar

[2020-03-03 12:35] tlambert03 commented on #1021
Thanks for the reminder @GenevieveBuckley . We can remove them and I’ll add that feature someday in the future.  You can do that in your qt docstring pr if you want

[2020-03-03 16:10] bogovicj commented on #1016
@VolkerH ,

I generally agree with everything you wrote, but am confused about this part:

What's the problem of combining transforms here?  Is this what you have in mind:
1) Create an affine that makes the image isotropic.  Render that isotropic (upsampled) image into memory.
2) Apply your affine (in physical coordinates) on that upsampled image.

Why not do:
1) Create an affine that makes the im

[2020-03-03 21:02] axtimwalde commented on #1016
Here are my 5ct: I like to keep lists or chains of transformations around and reduce them as needed for the endpoint, i.e. when you want to render a frame.

The above mentioned hack to treat non-isotropic scaling independently from the rest of the transformation is a hack to avoid transforming the interpolation kernel correctly.  I find it less than exciting to bake in such hacks into a general pu

[2020-03-03 21:58] d-v-b commented on #1019
This seems like a good idea; additionally, it might be nice to force all data to be represented internally as multiscale, even if only 1 scale level (full resolution) is used / calculated. This would remove a lot of the current `is_pyramid` checks.

[2020-03-03 23:50] GenevieveBuckley commented on #1021
Ok then, I'll update the qt docstring PR https://github.com/napari/napari/pull/1022

I'll also leave this issue open so we can use it to track any future implementation of the feature.

[2020-03-04 00:15] tlambert03 commented on #1021
thanks!

[2020-03-04 00:19] tlambert03 commented on #1021
just some additional notes-to-self here when I or someone gets back to this.  I think the original difficulty with exposing the frame range to the popup was restricting the allowable values to a valid range dictated by the data.  There's a fair amount of events that need to be hooked up and a couple "gotchas"...

[2020-03-04 01:03] #1009 closed, assigned to nobody

[2020-03-04 12:05] jni commented on #1016
@axtimwalde thank you so much for weighing in! And yes, we do care. =) I have a follow-up question:

To clarify, this means that the *interpolation software* (e.g. `scipy.ndimage.affine_transform`) needs to adjust its distance calculations to take the transform into account, is that right? ie in the case of a skew in x, the "nearest" points to a particular coordinate will be skewed, and this must

[2020-03-05 16:38] sofroniewn commented on #1019
Noting the discussion in https://github.com/zarr-developers/zarr-specs/issues/50 it looks like their preferred term would be `is_multiscale` and I see that is what @jni used above. Do we prefer that or `is_multiresolution` which I think I had used (without much thought)? I'm fine with either but would like us to match them if we can.

[2020-03-05 17:50] d-v-b commented on #1019
to be super pedantic, "multiscale" is more implementation-agnostic than "multiresolution". The resolution of actual images can be decoupled from the sampling density -- two images can have the same resolution, but different sampling densities. "multiscale" more clearly describes the space in which the image is embedded. Also multiscale is a little shorter :)

[2020-03-05 23:14] hectormz opened #1025 "Feature Request: View grids of image stack"
## 🚀 Feature

I'd like to load a stack of images, and toggle view between single image and grid of chunk of images at a time.

## Motivation

I work with non-3D stacks of images that I can look at frame by frame, but I'd like to look at a grid (say 6 x 10) at a time. When I started using `Napari` I thought `toggle grid view` would show me a grid of this stack, instead of showing a grid of all imag

[2020-03-05 23:21] VolkerH commented on #1016
Sorry for not replying earlier, I overlooked this in the many Github notifications.

I had been thinking exactly the same. For one project, I combined several transformations that were done in sequence, thinking a single affine transformation (one interpolation step) should give better results than 3 affine transformations with interpolation steps each.  Then I noticed some funny artefacts with th

[2020-03-05 23:29] VolkerH commented on #1016
Just to clarify, sequencing the transforms is a hack and having a proper interpolator would be much nicer ... I just can't implement it at the level where it is needed to work in  vispy, napari, gputools.
For very anisotropic data one blows up the memory and compute requirements unecessarily by upscaling.

BTW: I am not 100% sure there is no support for additional weights in the Khronos libraries

[2020-03-05 23:32] sumanthratna opened #1026 "Segfault with Dask and OpenCV"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]
- This happens in both the interactive prompt and by running the script from the command line.
- Not importing `dask` resolves the issue
    - I need `dask`, though ://

## Expected behavior

The image should be displayed

## Environment

[code]

## Additional context

When I run my script, this output always occurs when importing

[2020-03-06 01:38] GenevieveBuckley commented on #1016
The level of detail in your comments is very helpful @VolkerH 😄

[2020-03-06 02:26] GenevieveBuckley commented on #1025
Just so you know, it's not a good idea right now to do labeling or annotation in grid mode, see https://github.com/napari/napari/issues/860 for an example of how that might cause problems. This is a problem that's actively being worked on, but it might take a fair bit of work (and time) to do.

If it's still useful to see your slices in grid mode (without annotating), it's probably easier to try a

[2020-03-06 02:30] GenevieveBuckley commented on #1025
It also took me a minute to realize this feature request is *not* the same as https://github.com/napari/napari/issues/970, but I'm still going to link to that here because if anyone tries to adapt grid mode they will need to think about all these use cases.

[2020-03-06 02:36] GenevieveBuckley commented on #1026
What happens if you run:
[code]

[2020-03-06 02:48] VolkerH commented on #1026
`cv2` uses PyQt. I ran into similar problems. Using napari with PyQt (rather than PySide) as a backend for qtpy fixed it. I think there is an option to install napari with
`pip install napari[pyqt]` or similar (don't have the time to look right now).

[2020-03-06 02:50] tlambert03 commented on #1026
we don't unfortunately have the `[pyqt]` option at the moment.  So to try this, you will need to:
[code]

[2020-03-06 02:51] GenevieveBuckley commented on #1026
This error might also be platform specific, I can't reproduce it on either Windows or Ubuntu.

[code]

[2020-03-06 03:20] sumanthratna commented on #1026
I just tried this, and I still got the segfault. After the segfault, the macOS problem report shows up. Here're the logs that show up (there's a lot of text):
<details>
 <summary>macOS logs</summary>
<pre>
Process:               Python [10387]
Path:                  /Library/Frameworks/Python.framework/Versions/3.6/Resources/Python.app/Contents/MacOS/Python
Identifier:            org.python.python

[2020-03-06 03:23] sumanthratna commented on #1026
It works great, with no warnings or errors.

[2020-03-06 03:32] jni commented on #1025
@GenevieveBuckley I've done grid mode annotation before — it's 100% definitely feasible if you are careful with which layer is selected while clicking, and this can be achieved reasonably easily by setting up different colours for points in each layer.

@hectormz thanks for raising this issue! imho the best way to achieve this is to add "split selected image into layers" and "combine selected laye

[2020-03-06 03:44] hectormz commented on #1025
@GenevieveBuckley thanks for pointing me to #860 ! Good to know!

@jni in the case of splitting image into layers, it would be as if I had loaded each image individually? Perhaps in that case they could be nested in the way that #970 suggests? I would most likely have a stack of ~10,000 images, so I wouldn't want to release them all to layers unless I could wrangle them.

[2020-03-06 03:45] GenevieveBuckley commented on #1025
I also think this would be a good feature to have.

[2020-03-06 03:46] VolkerH commented on #1026
So the first issue was a python traceback, now with PyQt we're dealing with a Segfault where the whole process crashes (without a python traceback I assume) ?
I still think the problem you reported first is due to an incompatibility of cv2 with PySide.
This new problem seems to be a problem with your PyQt, although I cannot fully grok the Segfault message.
Which python environment are you using? A

[2020-03-06 03:47] tlambert03 commented on #1026
I'm sort of able to reproduce this (in a clean environment), but for me, it only matters whether I have imported cv2 (import dask or not makes no difference).

[code]

I'll also note that simply importing napari and cv2 together throws this warning:
[code]
@sumanthratna, do you see any warnings prior to segfault?

interestingly, I can only get it to fault with the `gui_qt` context manager.  Starti

[2020-03-06 03:48] VolkerH commented on #1026
Actually, I see you seem to be using system python

[code]

I reiterate my suggestion to install this in a clean conda environment.

[2020-03-06 03:48] jni commented on #1025
@hectormz 😂 that would be a lot of layers, pretty sure we can't handle that many. One way to handle this case might be to use `images = [da.roll(image, i, axis=0) for i in range(-12, 13)]` (or whatever number of simultaneous slices you want) and pass those as independent layers to the viewer. Then when you use grid view you'll get the 25 slices around your current slice, which will be in the centr

[2020-03-06 03:52] d-v-b commented on #1025
"split into layers" sounds very dangerous to me for cases with lots of images. and the inverse operation could open a can of worms. It seems like an cleaner way to solve the "view k different, adjacent slices of a dataset" is to just have k clipping planes. Geometrically this problem is actually very similar to orthoviews. Solve one and the other should be simple.

[2020-03-06 03:54] sumanthratna commented on #1026
I'm using `poetry`—before I was using `pipenv`. When I ran `pipenv` update, I had the segfault error—before updating everything works fine. I switched to poetry because I heard it makes PyPI publishing easier. I switched to poetry ~2 days ago, and have had the segfault error since then, so I don't think the environment is the issue.

Yep, sorry for not making this clear. When I import `napari` and

[2020-03-06 03:54] tlambert03 commented on #1026
also, order of import matters for me:
[code]

[code]

@sumanthratna , does importing cv2 after napari fix it for you?

[2020-03-06 04:04] jni commented on #1025
@d-v-b I think the split/merge operation would still be useful for many folks. (e.g. merge channels/split channels). We can build in sanity checks, "doing this would create a bajillion layers, are you sure you want to proceed?".

Agreed that the eventual orthoviews machinery can totally be repurposed for parallel views, but it'll need some UI/UX fiddling. In the meantime, this other solution might

[2020-03-06 04:10] tlambert03 commented on #1026
it appears from those warnings that cv2 is shipping its _own_ Qt libraries...  I would need to look into exactly what they are doing there, but I wouldn't be surprised if it's somehow not playing well with `qtpy`.  I get the warnings just by doing `import cv2, qtpy` ... If that is the case, this may be rather tricky for us to fix on our end.  See also [this issue](https://github.com/conda-forge/op

[2020-03-06 04:11] sumanthratna commented on #1026
Yes, the two scripts you wrote function as you stated. I won't be switching to the headless because changing import order works for now.

Thanks for the detailed help; I'll leave this open but you guys can close if you think this is a problem with Qt.

[2020-03-06 04:12] #945 closed, assigned to nobody

[2020-03-06 04:15] tlambert03 commented on #1026
Ok good.  Yeah I'm going to close this since it's pretty clear this is an issue with the version of Qt shipped with opencv, which has been reported elsewhere.  If anyone stumbles on this issue and it does _not_ work for you to use opencv with `pip install opencv-contrib-python-headless` or to import cv2 _after_ `napari`/`qtpy`, feel free to leave a new comment.

[2020-03-06 04:15] #1026 closed, assigned to nobody

[2020-03-06 04:52] d-v-b commented on #1025
@hectormz this might work for you: basically, I define a new, lazy array defined by the application of a montage function at every index (along one axis) of the input array.

[code]

<img width="1087" alt="image" src="https://user-images.githubusercontent.com/3805136/76053782-4fd11380-5f3c-11ea-9a11-71f0ff0bfa9e.png">

[2020-03-06 17:53] ttung opened #1029 "python garbage collector can trigger in any thread"
## 🐛 Bug

Interactions with Qt objects often need to be done on the GUI thread.  Furthermore, Qt objects backed by opengl require an openGL context that needs to be actively managed among threads (deactivate on one thread, and activated in the new thread it will be operated on).  Unfortunately, deallocations count as interactions, and garbage collection in python can be triggered from any thread.

[2020-03-06 17:54] ttung commented on #1029
FYI, this is not a theoretical crash.  I have seen this and debugged it enough to understand it, but cannot reproduce it at will.

[2020-03-06 17:58] neuromusic commented on #939
Someone at NEUBIAS asked for a Napari implementation of Stephan Saalfeld's Interactive Moving Least Squares ImageJ plugin to facilitate manual registration of cross-modal imaging data.

https://imagej.net/Interactive_Moving_Least_Squares

[2020-03-06 17:59] ttung commented on #1029
I'm happy to fix it but will probably need some guidance to make sure I cover all the entry points for napari.  It is likely that every entry point would need this logic.

[2020-03-06 18:32] sofroniewn commented on #1029
Can you give any indication on when the crash comes? I.e. is it during "normal usage"? I.e. loading / displaying / manipulating images, or maybe if you use napari for > 1 hr without closing? Or more extreme testing / CI usage?

I wonder if vispy has reported any issues like this when using their Qt backend. I tried poking around their repo but couldn't see any.

I certainly don't have any problems

[2020-03-06 18:40] sofroniewn commented on #764
@kne42 at some point (maybe a follow on to #967) can we add the markdowns from our meeting notes https://github.com/napari/meeting-notes to the developer part of our website

[2020-03-06 19:24] ttung commented on #1029
It can happen whenever multiple threads in python exist (if Qt launches multiple threads, it's not a problem).  There are reports of it to pyqt.  I can try to find it in my browser history if you want.

The biggest potential problem is that we don't tune the periodicity of the GC correctly, I believe.  Love to hear others' thoughts.

[2020-03-06 19:26] neuromusic commented on #939
@carsen-stringer's cellpose

https://twitter.com/computingnature/status/1224477812763119617

[2020-03-06 19:33] haesleinhuepf commented on #939
How about adding a pythonized CLIJ as plugin for generic image processing? We could call it [clEsperanto](http://clEsperanto.net) 😉

[2020-03-06 19:38] AhmetCanSolak commented on #1029
I'm not sure if I totally understood the claim about openGL context. @ttung would you mind trying to explain again? What is a concise condition for the crash you mentioned?

I have been using multiple threads with QThreadPool and they play well with python garbage collector so far. Also, what is an example for multiple python threads trying to interact with a single Qt application? If you are thin

[2020-03-06 20:04] ttung commented on #1029
Sure, one situation is when the garbage collector removes a QObject and calls its destructor in a non GUI thread.  Here's an [example report](https://riverbankcomputing.com/pipermail/pyqt/2011-August/030376.html).

I encountered one more situation where a destructor path called QOpenGLContext's `makeCurrent`, and triggered the fatal at this line. https://code.qt.io/cgit/qt/qtbase.git/tree/src/gui/

[2020-03-06 21:26] ttung commented on #1029
Here's a partial stacktrace of the second situation:

[code]

Destruction of an `QOpenGLWidget` calls `reset()` and that leads to `makeCurrent()`.

[2020-03-06 21:29] ttung commented on #1029
In my particular situation, this is because I'm experimenting with dask-distributed to load data (so that I can cancel requests).  That definitely spawns threads.  I don't know if napari uses threads elsewhere, so it's possible that no one else has encountered this issue.

However, napari is moving in the directions of extensibility, it is only logical to assume that people may employ threads in p

[2020-03-06 21:40] sofroniewn commented on #1029
Absolutely agree with this - I know there have been other bug reports in our issues around things like this for example #679 that was closed because we couldn't reproduce - and fixing them seems high value

[2020-03-06 21:55] sofroniewn commented on #1000
@napari/core-devs I am going to submit to napari to pyviz.org now under "Native GUI" tools - see here https://pyviz.org/tools.html. This involves a PR as described here https://github.com/pyviz/pyviz.org/blob/master/tools/README.md

@HagaiHargil I'm not familiar with Python Bytes, but by all means reach out to them. I assume this is who you mean https://pythonbytes.fm/ do let us know if they want

[2020-03-06 21:56] hectormz commented on #1025
@jni I realize it's quite a few images!

@d-v-b thanks for the work through, I've learned some things! For my particular use case, I only want to see each image once (For 301 images with 3x3 grid, I create ceil(301/9) planes), so I modified your code a bit to suit my needs:
[code]

Now I realize that I don't know to get data from a points layer in the GUI (back in `Jupyter` etc). Is there a doc ab

[2020-03-06 22:11] AhmetCanSolak commented on #1029
Got it. I'm not sure if this worth to disable python garbage collector. I am hoping that we can come up with ways to extend napari without passing QObjects between python threads. We can possibly share a threadpool with plugins to interact with QObjects. Im looking forward to come up with a fix and hopefully keeping python garbage collector in too.

[2020-03-06 22:26] sofroniewn commented on #1000
I have made a PR to pyviz now here https://github.com/pyviz/pyviz.org/pull/63

[2020-03-06 22:57] hectormz commented on #1025
Okay, I've learned if I create a `points` layer named `"Points"` I can access it:
[code]
If I want to get these marked points and align them to my original stack of images I can do the following (not so elegant):

[code]

[2020-03-06 23:31] sofroniewn commented on #1000
We're up on the site now:

![image](https://user-images.githubusercontent.com/6531703/76130344-56549f00-5fbf-11ea-93f6-2cf54ff71416.png)

Not sure if we have the ability to have any conda downloads, so maybe I shouldn't have put `conda` here https://github.com/pyviz/pyviz.org/pull/63/files#diff-b01fe052bd1b11bf615f43220b43c42aR127, I can quickly fix with a follow-up PR if @jni can advise

Also not

[2020-03-06 23:35] ttung commented on #1029
You don't have to pass the QObjects between python threads for this problem to manifest.

timeline:
- GUI thread allocates QObject.
- GUI thread dereferences QObject, but for whatever reason, it's not destructed (maybe a reference cycle).
- other thread allocates memory, triggers garbage collector.  QObject destructor called, BOOM.

[2020-03-06 23:38] tlambert03 commented on #1000
i think you're right, based on the image URL, it looks like pyviz is doing their own badge cacheing.  I'd give it a week or so and then recheck.  I also wouldn't worry about the conda badge just yet, the download count is increasing (at [48 now](https://anaconda.org/conda-forge/napari/files)), so the monthly count probably takes refreshes slowly as well

[2020-03-06 23:41] sofroniewn commented on #1000
Ok great, thanks @tlambert03 I will close this now as the main objective is done. As mentioned about to @HagaiHargil we'd love it if you continue to spread word of napari to people in the python community and feel free to open a new issue if there are more groups we could be talking too or that want to talk to us!! Thanks again for suggesting this, it really is great to see napari up there with so

[2020-03-06 23:41] #1000 closed, assigned to nobody

[2020-03-07 02:45] tlambert03 opened #1031 "QtModal.show_at doesn't work on Qt < 5.10"
## 🐛 Bug
@fenixnano reported in https://github.com/napari/napari/pull/837#issuecomment-595508738 that the clims slider right click didn't work, using Qt 5.9.6.

the `QGuiApplication.screenAt` method used there was [introduced in 5.10.0](https://doc.qt.io/qt-5/qguiapplication.html#screenAt) so a different solution would be needed if we are to support older versions of Qt.

@Volker, perhaps you can

[2020-03-07 14:28] tlambert03 opened #1032 "Style refactor destroyed styles on Qt 5.9.3"
## 🐛 Bug
I just realized that #1017 seems to have totally broken styles on Qt 5.9.3.  I know we technically only support >= 5.12  ... but given that it use to at least _kind of_ work on 5.9.3, I think we should figure that out before including #1017 in the next release.

will work on it

[2020-03-07 15:57] tlambert03 commented on #1032
ok, looks like it's two things:
1. i added `qlineargradient` to some of the styles, which older versions of `Qt` didn't like...
2. more interesting: the qt.py file autogenerated by newer versions of pyside2 does not work for older versions of Qt using PyQt5.  I'm not exactly sure if it's the older version or the pyside vs pyqt... but this suggests that if we want to continue supporting older versi

[2020-03-08 00:45] carsen-stringer commented on #1001
I don't see this as a huge hurdle personally, but for me I think it would mostly require making a separate pip package with fewer potentially conflicting dependencies (ideally there is a better solution than making an entirely new package that I don't know about, see my issue [here](https://github.com/MouseLand/cellpose/issues/28) about this).

On a related note, will napari choose a specific deep

[2020-03-08 01:12] sofroniewn commented on #1001
One definitely want's to avoid the `entirely new package` scenario. I just weighed in https://github.com/MouseLand/cellpose/issues/28#issuecomment-596153650 with one approach, but I basically see two options.

- One is that `pip install cellpose` could actually contain the napari specific hooks in addition to your GUI so that you could actually just run cellpose right away from napari without anyt

[2020-03-08 19:02] sofroniewn opened #1035 "Points / shapes highlight color settable by theme"
## 🐛 Bug

As noted in https://github.com/napari/napari/pull/1033#discussion_r389383586 the highlight color for `Shapes` and `Points` should be inherited from our `theme` rather than being hardcoded in the `vispy_*.py` files

[2020-03-08 19:38] sebi06 opened #1036 "Update of napari to 0.2.12 via pip failed with AssertionError"
## Bug

Update of napari via pip failed on Ubuntu 18.04 LTS.

## Console Output

[code]

[2020-03-08 19:47] sofroniewn commented on #1036
This is likely the same error as in #1009 which can be fixed up updating your `pip` - `20.0.2` should work `19.2.3` should fail. We've fixed this in master so it shouldn't be an issue for our next release, but updating pip will probably be your fastest fix

[2020-03-09 00:54] tlambert03 opened #1038 "Info on python 3.8 `dumps` AttributeError"
## 🐛 Bug
Very low priority, and not really a napari issue, but just wanted to put this info somewhere.  We've seen an `AttributeError: 'NoneType' object has no attribute 'dumps'` in our tests on python 3.8.  It seems to have something to do with dask cleanup.  run the following _in a script_ (not in an interactive shell), in python 3.8:

[code]

when you quit, you see:
[code]

doesn't happen with

[2020-03-10 02:50] #988 closed, assigned to kevinyamauchi

[2020-03-10 04:48] jni commented on #1038
This appears to be the corresponding dask issue:

https://github.com/dask/dask/issues/5806

and it appears to have been fixed recently! 🎉 So we should test with the latest dask release (just this past weekend) and see if this is fixed.

[2020-03-10 07:45] jni commented on #1001
Just fyi the current Anaconda distribution includes both PyTorch, TensorFlow, and Chainer but not MXNet. You can see the full package list here:

https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/

It would be kind of cool to outsource our package management to Anaconda and thus support only the packages there, but I expect that will break at the seams pretty quickly. We could come up with

[2020-03-10 11:05] tlambert03 commented on #1038
Oh how did I miss that??  Thanks for linking

[2020-03-10 22:56] jni opened #1041 "Label painting modifies the input array in-place"
## 📚 Documentation

It was brought to my attention by @VolkerH that not everyone will expect that painting/editing labels will modify the input array in-place. It might be worth documenting this fact and also suggesting that an array copy should be made if this behaviour is not desired (e.g. `viewer.add_labels(segmentation.copy())`).

[2020-03-11 21:18] marshuang80 opened #1044 "Napari GUI not displaying properly on OSX"
## 🐛 Bug

The buttons and labels are not displayed properly on the Napari GUI so it's hard to tell the function of each button (e.g. the buttons don't have proper labels). Scaling seem a bit off as well.

## To Reproduce

Steps to reproduce the behavior:

1. Download Napari by ```pip install git+https://github.com/napari/napari```
2. Open Napari GUI

## Expected behavior

Napari GUI that has butto

[2020-03-11 21:26] tlambert03 commented on #1044
Hi @marshuang80, sorry about that.
There are some known issues at the moment with installing directly from the master branch as you have done here (vs using `pip install napari`), it is being fixed in #1037.  I suspect, but would like to know for sure, that you are using an older version of Qt?  Can you confirm that for me?
use `napari --info` at the command line, or use `pip freeze` (or `conda li

[2020-03-11 21:28] tlambert03 commented on #1044
This is a duplicate of https://github.com/napari/napari/issues/1032

[2020-03-12 01:20] marshuang80 commented on #1044
Hey @tlambert03,

Thank you for your reply. The follow is the output of ```napari --info```

[code]
Additionally, I am getting a ```AssertionError: Multiple .dist-into directorises``` when I try to install napari via ```pip install napari``.  This is probably a local issue so I don't think I will need to open a seperate issue.

[2020-03-12 01:24] tlambert03 commented on #1044
Oh very strange.  do you get any other errors or warnings when you start up napari?  I haven't seen this problem with that version of `Qt`...  Can you provide the full output of `pip freeze`?  I'm curious to see your environment.  I'll try to reproduce it here.

The pip install issue probably means that you have an older version of pip installed.  That is described in https://github.com/napari/nap

[2020-03-12 01:30] marshuang80 commented on #1044
Updating my pip did solve the installation problem, thank you so much!

I didn't install napari in an environment so there is a lot of packages in ```pip freeze``. Here is the full list:

alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
appnope==0.1.0
appscript==1.0.1
asn1crypto==1.0.1
astroid==2.3.1
astropy==3.2.2
atomicwrites==1.3.0
attrs==19.2.0
Babel==

[2020-03-12 02:02] tlambert03 commented on #1044
I think that #1037 is going to fix this for you.  My suspicion is that this is due to pip installing from the github master branch (rather than using `git clone`) because some of the updated styles that just got changed a few days ago are not in the manifest.ini (but they will be once #1037 merges).

If you want to be trying out bleeding edge stuff, that's definitely great! 😀and it should _usually

[2020-03-12 20:23] hectormz opened #1045 "Feature Request: Load images from non-image files via CLI"
## 🚀 Feature

It would be useful to load images from non-image files such as `Matlab`'s `.mat` files.

## Motivation

I go back and forth between `Python` and `Matlab` and store images as matrices in `.mat` files, especially if they are floats/doubles. I'd love to be able to inspect images in these files which can be loaded as `numpy.ndarray`s via `scipy.io.loadmat` using `napari`'s command line i

[2020-03-12 20:41] tlambert03 commented on #1045
You're in luck!  With #937 having just merged (but not yet in the release), it is now extremely to do this sort of thing with reader plugins.  Under the hood, the napari CLI now calls `napari.view_path` which hands the data to plugins.  If you have a function that can accept a filepath and return a numpy array, you can use it to create a plugin to load data into napari.   (`scipy.io.loadmat` is al

[2020-03-13 00:04] hectormz commented on #1045
@tlambert03 awesome, and I appreciate the `cookiecutter` setup! I'm glad you tipped me off to #937. I thought about this last week and could have sworn there were different CLI arguments like `--layers`, but couldn't find them in the project anymore. I thought I was crazy, but didn't look at recent commits. I'll come back with any questions, but would be happy to create a plugin

[2020-03-13 03:45] hectormz commented on #1045
@tlambert03 Are the `napari.plugins` imports:
[code]
relating to a version ahead of `master` branch of napari on Github, or is the `cookiecutter` template outdated?

[2020-03-13 10:56] tlambert03 commented on #1045
Ah, the cookie cutter needs updating!  Thanks for reminding me.  We changed all usages of “hookimpl” to “hook_implementation” and “hookspec” to “hook_specification”

[2020-03-13 15:43] hectormz commented on #1045
Got it, thanks! I had to use:
[code]

[2020-03-13 16:02] tlambert03 commented on #1045
Yeah, that's correct for napari 0.2.12 ... but in the next release (and in master since #937), note that the types `LayerData` and `ReaderFunction` have moved to `napari.types`.  I am, at this moment, updating [napari-cookiecutter](https://github.com/napari/cookiecutter-napari-plugin) to reflect these changes...

I'll also note (and will mark this in the updated cookiecutter) that we have made it

[2020-03-13 18:14] kne42 opened #1048 "mouse bindings generalization proposal"
# Introduction
As called for in #793, following is my proposal for the interface for the improvement of the registration & definition of custom mouse functions. This proposal streamlines registration into one style and better defines interactions between multiple custom mouse functions.

# Registration
There will be 4 types of mouse bindings: **click** (this includes press, release, and drag), **m

[2020-03-13 18:14] kne42 commented on #1048
cc @napari/core-devs

[2020-03-13 18:22] kne42 commented on #793
Hi @tinku99, so sorry that we missed your comment!

Could you explain how exactly you would like to control brightness/contrast with dragging?

We do not currently support binding mouse scroll events but we plan to in the future. I've just proposed a new system for mouse bindings in #1048 and would love to hear your input on if it covers your use cases and is not confusing!

[2020-03-13 18:46] sofroniewn commented on #1048
Thanks @kne42! Looking forward to going through this. Maybe @ttung can give it a review too - he mentioned some concern with generators here https://github.com/napari/napari/pull/1010#discussion_r391981075

[2020-03-13 18:56] sofroniewn commented on #1026
At some point we should add this to our docs in maybe a "trouble shooting" section - I just encountered this error and switching to the headless install worked great

[2020-03-13 19:16] tlambert03 opened #1049 "Docs locations and format"
I think we could use some more discussion on exactly where our docs go, and what format they are in.

I agree with @sofroniew's https://github.com/napari/napari/issues/1026#issuecomment-598867558 that it would be nice to have a place to put some "troubleshooting" notes.  At the moment, the pattern is to (probably) make another markdown file in `docs/developers`...
That worked pretty well when the

[2020-03-13 20:13] ttung commented on #1048
generator functions solve the problem of updating the event.  curious how you think error handling should be done.

[2020-03-13 23:57] amedyukhina opened #1050 "big image (68 megapixels) does not display entirely"
## 🐛 Bug

I am trying to display a very large image (6898 x 9946 pixels), but only the part of it is displayed: the bottom part is black. If I display only a part of the image, everything works fine. From my experience, problems start to occur from image size > ~55 megapixels.

## To Reproduce

This is the code to reproduce the issue with a random image:

img = np.random.randint(0, 100, size=(6898

[2020-03-14 00:34] sofroniewn commented on #1050
Hi @amedyukhina, sorry that you're running into this problem and thanks for reporting it. This is actually the same problem as reported in #458 that we still havn't fixed yet, but will hopefully get to soon as it is coming up a lot for people.

What's happening now is that we have a size threshold (8095) above which we're actually automatically generating an image pyramid under the hood to avoid p

[2020-03-14 00:40] amedyukhina commented on #1050
Passing `is_pyramid=False` solves the issue. Thanks for your quick response!

[2020-03-14 00:44] sofroniewn commented on #1050
Ok good to know, thanks for the quick test and response too. It's a bit of a bandaid unfortunately. I'm going to leave this issue open for now and will close once we have a solution that doesn't require passing another keyword argument

[2020-03-14 00:51] sofroniewn commented on #1019
I'd like to do the `is_multiscale` switch in my next PR in the world coordinates series (after #1042 merges). Given the amount of code that depends on `is_pyramid` and our plans to make our next release `0.3.0` we could either add a deprecation warning or maybe catch the error and give a special update message. We can decide in the context of that PR but curious what @jni and others think

[2020-03-14 05:16] sofroniewn commented on #733
I'm going to close this now as it seems like the `contrast_limits` issue with our range slider was fixed and we now have good testing for making sure the https://github.com/napari/napari/blob/dec5b9965d4a3fcea2d8314064465af14a97fec7/napari/layers/layer_utils.py#L25-L65
function doesn't take too long if big data is provided - both zarr and dask - see https://github.com/napari/napari/blob/dec5b9965d

[2020-03-14 05:16] #733 closed, assigned to nobody

[2020-03-14 05:32] sofroniewn commented on #731
I'm going to close this now as it seems like the `contrast_limits` issue have been fixed and the https://github.com/napari/napari/blob/dec5b9965d4a3fcea2d8314064465af14a97fec7/napari/layers/layer_utils.py#L25-L65
function doesn't take too long if big data is provided - both zarr and dask - see https://github.com/napari/napari/blob/dec5b9965d4a3fcea2d8314064465af14a97fec7/napari/layers/image/_tests

[2020-03-14 05:32] #731 closed, assigned to nobody

[2020-03-14 05:35] sofroniewn commented on #736
I'm going to close this now as it seems like the `contrast_limits` issues have been fixed and the https://github.com/napari/napari/blob/dec5b9965d4a3fcea2d8314064465af14a97fec7/napari/layers/layer_utils.py#L25-L65
function doesn't take too long if big data is provided - both zarr and dask - see https://github.com/napari/napari/blob/dec5b9965d4a3fcea2d8314064465af14a97fec7/napari/layers/image/_test

[2020-03-14 05:35] #736 closed, assigned to nobody

[2020-03-14 05:41] sofroniewn opened #1052 "Remaining pyramid bugs"
## 🐛 Bug
I've been closing out some of our older pyramid and big data issues, (i.e. #736) to try and make it clear what issues still remain and what are solved. `contrast_limits` computation is now in good shape (please open fresh issues if it is not). Behavior with `is_pyramid=False` is in good shape, but if `is_pyramid` is not specified we can still auto-compute one (like in #1050) which can exp

[2020-03-14 12:09] #1031 closed, assigned to nobody

[2020-03-14 12:09] #1032 closed, assigned to nobody

[2020-03-15 19:19] sebi06 commented on #1036
pip 20.0.2 did the job for me.

[2020-03-15 19:26] sebi06 opened #1054 "Napari viewer runs with notebook but not within the exported script with TypeError: ChannelABC() takes no arguments"
## 🐛 Bug

Hi guys,

i just convert a jupyter notebook into a *.py file and tried to run it in VS Code on Ubuntu and got errors. But from with the original notebook everything works fine. Any ideas?

[code]

[2020-03-15 20:34] sofroniewn commented on #1036
Great! I will close as this is fixed in master and will be fixed on our next release.

[2020-03-15 20:34] #1036 closed, assigned to nobody

[2020-03-15 20:38] sofroniewn commented on #1054
This is likely caused by a recent `jupyter_client` upgrade - we've pinned to prevent it, see this quick fix here https://github.com/napari/napari/pull/997. But now maybe a good time to look into a better solution.

[2020-03-15 20:45] sofroniewn commented on #1054
Note this has been reported at https://github.com/jupyter/jupyter_client/issues/523 and there is a PR fix at https://github.com/ipython/ipykernel/pull/489 that is waiting for merge and then release

[2020-03-15 20:46] sofroniewn commented on #1054
For now best to just try using napari with `jupyter-client-5.3.4` instead of `jupyter-client-6.0.0`

[code]

[2020-03-16 13:37] FedeClaudi opened #1057 "Closing viewer programmatically"
## 🚀 Feature
I can't find a way to close the window programmatically, but it'd be a useful feature to have.

## Motivation
I'm writing a [small python package](https://github.com/BrancoLab/imgreg2D) and in it I need to create and close napari viewers as needed. To make things easier for the user I'd like to close the viewer programmatically when an operation is completed, rather than requiring the

[2020-03-16 13:39] tlambert03 commented on #1057
Hi @FedeClaudi,
We revamped the shutdown process and added a `viewer.close()` method in #1014.   Try the current master branch at let us know if it works for you.

[2020-03-16 13:48] tlambert03 commented on #1057
I'll also add that part of what you're seeing here might have to do with using multiple context managers like that in a script.  I don't have a full explanation... but there's obviously some race conditions that happen when spinning up and shutting down a Qt event loop.  So you might run into weirdness when using two `napari.gui_qt()` calls like that in sequence in a script.

Even on the master br

[2020-03-16 13:48] FedeClaudi commented on #1057
Hi,

Thanks for getting back to me so quickly.
I've installed from the master branch and tried it.
There is a close method but it doesn't seem to work.

This is the result:
<img width="1287" alt="image" src="https://user-images.githubusercontent.com/17436313/76764419-b6500000-678c-11ea-8edc-da177c725785.png">

As far as I can tell, `viewer.close()` just calls `self.window.close()` so it's the same

[2020-03-16 13:50] tlambert03 commented on #1057
sorry, see my previous comment... `viewer.close()` _does_ call `viewer.window.close()`. but #1014 significantly changed `viewer.window.close()` as well.  So the master branch is _not_ the same as v0.2.12 .... however, the bigger issue here is the immediate opening and closing of a viewer in a context manager.

[2020-03-16 13:51] FedeClaudi commented on #1057
Hi,

This solution:
[code]

works, but I can't use it in my application.
The two viewers are created by different functions at different times, so I need to call `with napari.gui_qt():` twice.

---
p.s. I've installed from the master branch with:
[code]
is there something else I should try?

[2020-03-16 13:56] tlambert03 commented on #1057
`napari.gui_qt()` is only a convenience for spinning up a quick Qt event loop.  If you need a more persistent Qt application (with which to run multiple different functions), then you should be starting it elsewhere. (for instance, using `ipython --gui=qt`, using the `%gui qt` IPython magic, or calling `QtWidgets.QApplication()` directly in your program before using napari).  the most appropriate

[2020-03-16 14:01] FedeClaudi commented on #1057
Awesome thanks!

So the users need to first click on a set of points on the reference image used for image registration.
This is done using `get_fixed_points` in `imgreg2D.points.py` (https://github.com/BrancoLab/imgreg2D/blob/master/imgreg2D/points.py)

After that the user needs to click on the same points on the image being aligned, this is done with `get_registering_points`, in the same script.

[2020-03-16 14:09] FedeClaudi commented on #1057
Hi,

So,
[code]
Doesn't work.

But I decided to try `viewer.close()` in my code anyways, and there it works!
Not sure if it's becaues of the delay between the two calls to `with napari.gui_qt(): ` or something else, but at least in my application `viewr.close()` seems to be working perfectly.

Thank you very much for the help!

[2020-03-16 14:35] vigji commented on #733
Yep! Tested it again recently and I had no troubles with the `contrast_limit`. I confirm that for my case I still had to pass `is_pyramid=False` but this is definitively reasonable.

[2020-03-16 15:06] tlambert03 commented on #1057
glad to hear it.
still happy to show you an alternative to using `gui_qt()` throughout your code.
It's a bit hard from your readme to figure out exactly how you're calling all your functions (and the GIF isn't high enough resolution).  How do you actually launch your program?  and does it involve multiple "executions", or is the full "run" contained in a single session?
It looks like you're using

[2020-03-16 15:33] tlambert03 commented on #1057
a general pattern you might consider is to try to design your program such that you only need a single `with napari.gui_qt` call... so, for instance, your `test.py` might look like this instead:
[code]
then you would remove all of the `gui_qt` calls inside your code.

Another thing you should try to avoid is accessing napari layers _after_ your context managers are closed and the napari viewer is

[2020-03-16 17:26] FedeClaudi commented on #1057
Hi,

awesome, thank you so much for taking the time to look into this. I'll see if I can restructure the code to start the Qt context only once, but for the time being the master branch version of napari's `viewer.close()` seems to be working very well.

Thank you again,
Federico

[2020-03-16 17:33] tlambert03 commented on #1057
ok, I'm gonna close this issue, since the original request was added in a recent PR, but feel free to leave more comments or open a new issue with any additional thoughts

[2020-03-16 17:33] #1057 closed, assigned to nobody

[2020-03-16 18:22] sumanthratna opened #1058 "Assertion failed when adding shapes"
## 🐛 Bug

When I try to add shapes, I get an `AssertionError`:`assert (c, b) not in self._edges_lookup`. Switching to paths works as expected.

## To Reproduce

Steps to reproduce the behavior:

[code]
Results in the following error:
[code]

## Expected behavior

The shapes should render just as they did with `shape_type='path'`, but the shapes should be filled in.

## Environment

 - Please copy

[2020-03-16 18:55] sofroniewn commented on #1058
Thanks for reporting this @sumanthratna. This looks like a corner case in vispy's triangulation code. I will dig in and take a look. Ultimately this might require a PR to vispy to fix.

[2020-03-16 23:24] hectormz commented on #1045
Thanks @tlambert03 !

I've been working a plugin that's starting to do what I want:
https://github.com/hectormz/napari-mat-images

I may come back with some more advice and tips about crafting my plugin.

[2020-03-17 16:51] kevinyamauchi commented on #930
@sofroniewn , I've started working on this (finally) and I am a little stuck on what should happen when the user attempts to add a point to a layer initialized without any data where a display property (e.g., `edge_color`) is set as a function of one of the properties.

That is, what should happen in this case:
[code]
Should to `edge_color_mode` switch to direct and then set the edge color as the

[2020-03-17 17:18] sofroniewn commented on #930
Hmm, I think you definitely want to be able to add points, but it's unclear what a default value should be - that's the problem right? Can you make in None? What will that do? I guess right now we don't have a nice way for people to change these properties from the GUI. Switching to direct mode seems less desirable as people will be using properties to avoid that. What are your thoughts?

[2020-03-17 17:47] kevinyamauchi commented on #930
I agree that the ideal thing is to be able to add points. However, when the edge color is mapped to the `label` property, I am not sure how to assign the color. I think it's tricky because the model doesn't know what the valid `label` values are, so I don't know what a sensible default would be.

Perhaps we could somehow attach the valid values to the empty property array (I think pandas might do

[2020-03-17 17:50] sofroniewn commented on #930
If possible this would be nice

[2020-03-17 17:52] sofroniewn commented on #930
Do you have plans / ideas for this? It could help influence how we think about this. I think now that we have properties it might make sense to have some GUI for this, could be autogenerated. Maybe @tlambert03 has ideas?

[2020-03-17 18:30] kevinyamauchi commented on #930
I think accepting a default property as an input argument is straightforward, but it does add to the increasingly large number API. That being said, both matplotlib and seaborn seem to have gone the route of lots of kwargs with sensible defaults, so maybe it's the best way to balance customizability with usability.

I will look into the pandas categorical dtype. Even if it's possible, we would hav

[2020-03-17 18:48] sofroniewn commented on #930
I prefer this option. I am less excited about "the pandas categorical dtype" for reasons you mention above.

Agreed

If there was a separate way to provide / edit a list of default values that makes even more sense. Maybe figuring that bit out is top priority

[2020-03-18 21:12] d-v-b opened #1062 "An example from neuroglancer: custom shaders with UI integration."
[Neuroglancer](https://github.com/google/neuroglancer/) lets you write custom shaders that integrate with UI elements for client-side customized rendering ([Examples](https://github.com/google/neuroglancer/blob/master/src/neuroglancer/sliceview/image_layer_rendering.md) from the neuroglancer github page). Abstractly the prospect of writing code in a language I don't know at all inside a tiny textb

[2020-03-19 04:22] jni commented on #1062
I think Vispy makes this sort of thing easy, and essentially this is what you did with the attenuated MIP mode, right @sofroniewn? It's just a matter of surfacing that to users. Which I would consider super low priority (=P) but totally in-scope.

[2020-03-19 07:08] kevinyamauchi commented on #930
Based on our conversation at the sync last night, I will be implementing the following:
- Introduce a property to store user-provided property values  (`Points.default_property_values` or `Points.preset_property_values` or something else?). The user provided values can serve as default values and also provide a list of valid values for each property. The property will store a dictionary where the

[2020-03-19 09:25] #785 closed, assigned to kne42

[2020-03-19 13:01] jni opened #1064 "Use scipy.spatial.cKDTree for point subsetting and selection"
## 🚀 Feature
Currently, we are brute-force linear searching through points for slicing and selection. Using a cKDTree could speed things up dramatically. However, for now we would have to use some hacks because:

- slicing would require searching only along two dimensions out of many. This problem could be alleviated with the use of spacing/scales in the cKDTree, or equivalently we could modify th

[2020-03-19 14:52] tlambert03 commented on #802
weird. [Qt docs](https://doc.qt.io/qt-5/qdoublespinbox.html#setStepType) say it was added in v5.12.  what backend are you using?
In any case, it shouldn't be an issue in the master branch, now that we check `if hasattr(obj, 'setStepType')`... are you seeing this bug in napari?  or just independently?

[2020-03-19 15:02] Zebrafish007 commented on #802
bugger.. you're quick in responding ;-) I'd removed my comment because I saw "conda list" spamming its 5.9.3 and linked that to above comments. Running the Conda update PyQt=5.12.3 but all froze isn't good enough as I see now. Fysio in 5min so thereafter I check what the status is about updating it to 5.12.3.

[2020-03-19 16:44] kne42 commented on #764
I've begun work on prototyping the website in Figma. You can track my progress [here](https://www.figma.com/proto/mGbDMu2KmFKtAd09EBBGBz/website?node-id=1%3A2&viewport=630%2C459%2C0.6196041703224182&scaling=scale-down-width).

[2020-03-19 17:46] sofroniewn opened #1065 "Block saving with a context manager"
## 🐛 Bug

As noted in https://github.com/napari/napari/pull/1010#discussion_r394962872 the `block_saving` in the labels layer should probably done by a context manager. @jni @kne42

[2020-03-19 19:30] Zebrafish007 commented on #802
PyQt=5.12.3 update issue solved via:

`conda config --set allow_conda_downgrades true`
`conda install conda=4.6.14`

and from there update via `conda install qt=5.12.5` to latest version. It auto-installs PyQt=5.12.3 and also the latest Conda version (4.8. in my case when this comment was written).

Problem solved.

[2020-03-20 01:08] danielballan opened #1066 "Could a SciPy-wide Reader protocol work with napari?"
## 🚀 Feature

I have written [a proposal for an overhaul of the lazy image I/O library PIMS](https://github.com/danielballan/pims2-prototype). Starting from this idea, I see a path for establishing a new protocol across the SciPy ecosystem for "readers" that take some resource at rest (including but not limited to files) and return a suitable SciPy/PyData structure. _This can be achieved in a dist

[2020-03-20 01:40] sofroniewn commented on #704
#1059 now makes it possible to install napari without pyside2. We'll be updating our docs accordingly, and so I am closing this issue

[2020-03-20 01:40] #704 closed, assigned to nobody

[2020-03-20 02:21] sofroniewn opened #1067 "Push docs fail"
## 🐛 Bug

Currently the push docs fails - see https://github.com/napari/napari/runs/520695069

Maybe @kne42 has ideas

[2020-03-20 04:44] GenevieveBuckley opened #1068 "Meta issue: roadmap for exporting output from napari"
## 🚀 Feature

Meta-issue for exporting data, annotations, etc. from napari in a consistent way.

## Motivation

The motivation here is pretty clear: in order for napari to be useful as part of an analysis pipeline it should support basic export capabilities. Users are already asking for these features: https://github.com/napari/napari/issues/382

## Discussion

**I want to hear from everyone about

[2020-03-20 16:40] kne42 opened #1070 "Update conda forge recipe"
With the merging of #1059, our installation instructions for `pip` and `conda` will differ with regards to the installation of PyQt5. We should add the same functionality to our conda forge recipe if possible.

cc @jakirkham @jni

[2020-03-20 16:49] jakirkham commented on #1070
Thanks Kira! 😄

What happens if neither are installed for some reason? Will it raise an informative error?

If so, one option might be to put both in [`run_constrained`]( https://docs.conda.io/projects/conda-build/en/latest/resources/define-metadata.html#run-constrained ) and let the user decide at install time. We could also make one of them a hard requirement. Curious what @jni thinks of these o

[2020-03-20 17:06] Czaki opened #1071 "Extract viewer features to separate package"
## 🚀 Feature
Extract napari viewer (and maybe some other features) to separate package (napari-core, napari-viewer) with reduced dependencies and exposed Qt widgets.

## Motivation

I would like use power of napari viewer (multiple layers) in my project but in current configuration it have many dependencies which may be not needed in given project.

Splitting on subpackage may simplify usage of de

[2020-03-20 17:37] kne42 commented on #1070
@jakirkham Yeah, we use QtPy. Basically what we want to do is:
- if PyQt5 is installed, make sure it meets a minimum version
- if PySide2 is installed, make sure it meets a minimum version
- if neither are installed, install PySide2

[2020-03-20 17:41] jakirkham commented on #1070
Ah ok. Should have read more closely 😅

Yeah that makes sense. 🙂

`run_constrained` would solve the meeting minimum requirements. Though it doesn't pick which one to install. There is a `qtpy` package in conda-forge. So making that a requirement (if we haven't already) would make sense.

[2020-03-20 19:53] tlambert03 commented on #1066
Thanks a lot for opening this issue @danielballan!  I read through your full pitch and I like it a lot, we share lots of similar philosophies and ideas!  Though I can't speak for the whole team, I would venture to say "yes", this all is very compatible with what we started implementing in #937, and how we envisioned reader "plugins" working.  Of course, some of our implementation details would nee

[2020-03-21 03:02] #1067 closed, assigned to nobody

[2020-03-21 03:19] sofroniewn commented on #1071
Hi @Czaki, thanks for raising this issue. We're definitely committed to making sure other people can build on top of the work we're doing at napari as easily as possible, but I'm also a little hesitant to splitting things out too much due to the potential added complexity.

Can you describe a little more about exactly what you'd like separated out and why?

I saw you contribution in #1059 which wa

[2020-03-21 03:33] #758 closed, assigned to nobody

[2020-03-21 03:34] sofroniewn commented on #787
Console loading has now been make lazy, but we still need to improve the default passing of the viewer to the console, and the clobbering that happens with multiple viewers - see https://github.com/napari/napari/pull/1055#discussion_r395432200

[2020-03-21 03:37] sofroniewn commented on #687
Console loading has now been made lazy by default with #1055 so the console imports will not happen unless someone clicks the console button. Does this satisfy peoples needs here? (in which case i will close the issue). Otherwise we could additionally provide a way to hide the open console button too so that it could never be accidentally opened.

[2020-03-21 03:38] sofroniewn commented on #734
Console loading has now been made lazy by default with #1055 so the console imports will not happen unless someone clicks the console button. Does this satisfy peoples needs here? (in which case i will close the issue). Otherwise we could additionally provide a way to hide the open console button too so that it could never be accidentally opened.

[2020-03-21 03:46] jni commented on #1071
@Czaki @sofroniewn it's worth noting that we did start out as separate packages and eventually came to the conclusion that the overhead wasn't worthwhile. I think while we remain in alpha, this will remain true. A possible middle ground is to make some dependencies optional. For example, now that the console loading is lazy, we could potentially make our ipython/jupyter stack dependencies optional

[2020-03-21 03:48] jni commented on #687
@sofroniewn I'd like to leave this open until the root cause here can be fixed or the error *completely* prevented. If that means no console when launching from Jupyter, so be it... Honestly I think the most valuable use case for the console is when launching from script. Other uses are essentially redundant and have caused us quite a lot of grief (eg the `viewer` variable being overwritten).

[2020-03-21 11:18] Czaki commented on #1071
My case is that I create tool for biologist for quantitative analysis (mainly concentrated around cell nucleus analysis -  https://github.com/4dnucleome/PartSeg). I create own viewer, but it is worst than napari and I prefer to use one which is developed with more experienced people.

Because it is addressed to mainly biologist, not bioinformatics it is important to provide it in exec form, not on

[2020-03-21 22:57] tlambert03 opened #1073 "lazy console not working with keybinding or menu"
## 🐛 Bug
I missed this during review, but just noticed that #1055 seems to have added a bug when you open the console using either the `Shift+cmd+C` keybinding, or use the `Window > Console`  menu: the dock widget opens, but the console is missing until you press the actual button in the GUI.  haven't looked at the code yet.

[2020-03-21 23:15] tlambert03 opened #1074 "Installing plugins from bundled app"
## 🚀 Feature
As discussed in the last meeting, we'll need a way to extend bundled apps with plugins.  So this issue is here to propose and discuss ideas.

After playing with it a little bit, I have one possible solution:
As long as `pip` is included in the bundle (easily done by adding it to `hiddenimports` in the pyinstaller spec), people can pip install packages... but will _not_ of course, be a

[2020-03-21 23:20] hectormz opened #1075 "Expose `order` argument within `AddLayersMixin.add_image()`"
## 🚀 Feature

## Motivation

I'm trying to load a `dask` array that is saved/chunked in the forms `[slice, column, row]` or `[column, row, slice]`, but need to pass it to `AddLayersMixin.add_image()` in `[slice, row, column]`. If I use `da.transpose` or `da.moveaxis`, scrolling through the stack becomes much longer, even when just the `row` and `column` are switched.

I see that `order` is an argu

[2020-03-22 19:21] sofroniewn commented on #1073
Good catch, sorry I should have caught that. The problem is that the menubar / shortcut option just trigger the changing of the visibility of the viewer doc widget and are automatically added by the `add_viewer_doc_widget` code, but what we really want to happen is call the `QtViewer.toggle_console_visibility` method which will also trigger the lazy import. Any ideas on a clean way to do this @tla

[2020-03-22 19:34] sofroniewn commented on #1075
@hectormz I am looking into this now, will post back shortly

[2020-03-22 19:51] sofroniewn commented on #1075
@hectormz I was hoping that something like the following
[code]
Would just work (note you'd still have to pass the `is_pyramid=False` because otherwise we might trigger some unnecessary pyramid generation, but that will get fixed soon I hope). But unfortunately that doesn't work as during the construction of the layer we do two bad things as we don't have access to the order parameter there.

One

[2020-03-22 20:00] hectormz commented on #1075
Thanks for looking into this @sofroniewn . I agree with your assessments.

I also wasn't sure if `order` could apply to a single image, or if it's for the entire viewer. Theoretically I might load a `dask` array in this manner, alongside properly shaped images. In that case, I wouldn't want to change order for all. I'll look to see what comes out of this, but might look to see if there is somethin

[2020-03-22 20:16] sofroniewn commented on #1071
@Czaki thanks for the extra info about your use case and for the link to the your segmentation tool, it looks very cool, and we'd love to make it possible for you to use napari inside it.

I see your work is part of the 4D nucleome project, and that makes me wonder if you know @strambc (Caterina Strambio De Castillia) from UMMS as she is funded by the organization I work for as a [CZI imaging scie

[2020-03-22 20:21] sofroniewn commented on #1075
So exciting to see you working on your napari plugin for mat files!!! Very cool, I bet @tlambert03 will be excited too.

Yes, this is a key question. If you anticipate this being a common use case then it argues that we should keep this maximum flexibility. Right now we're in a bit of a hybrid zone where according to the API for object creation you pass a single `order` to the viewer and you can't

[2020-03-22 20:32] sofroniewn commented on #130
@tlambert03 I saw you digging into some of the vispy clim / rgb stuff in https://github.com/vispy/vispy/pull/1844 does that give you ideas for how to fix this issue? Can you see how to make a nice PR to vispy to address this?

[2020-03-22 20:33] tlambert03 commented on #130
oh yeah, forgot to mention that... those PRs fix this too!

[2020-03-22 20:33] sofroniewn commented on #924
Also @tlambert03 given recent vispy work, is there the opportunity to address this issue?

[2020-03-22 20:35] sofroniewn commented on #130
Amazing, ahead of the game @tlambert03 - do those PRs also enable RGB is 3D rendering? I think that hasn't been possible either (I couldn't find a dedicated issue, but seem to remember it), or is that different?

[2020-03-22 20:44] tlambert03 commented on #130
I think that would require some more doing.  the [VolumeVisual](https://github.com/vispy/vispy/blob/cf244a266fe71a5b306ef518f0f8a05040502939/vispy/visuals/volume.py#L378-L379) doesn't accept a `MxNx4` array like the [ImageVisual does](https://github.com/vispy/vispy/blob/cf244a266fe71a5b306ef518f0f8a05040502939/vispy/visuals/image.py#L106).  I have a sense for how it would be accomplished now if it

[2020-03-22 20:47] tlambert03 commented on #130
btw, if you're curious.  The reason clims hasn't previously worked for RGB data is [this line right here](https://github.com/vispy/vispy/blob/cf244a266fe71a5b306ef518f0f8a05040502939/vispy/visuals/image.py#L399), where they skip the rescaling step for RGB-like data.  after vispy/vispy#1844, it (still) makes the assumption that RGB data has been pre-normalized to 0-1 before giving the data to the I

[2020-03-22 20:52] tlambert03 commented on #924
yeah, we could address this... but those recent PRs to vispy won't let us address this in any more of an elegant way than we currently could just by downscaling the data prior to creating the `ImageNode`.  The main issue there, is that the GPU Texture objects in vispy are hard-coded at 8bits ([here](https://github.com/vispy/vispy/blob/01df04b675d8dc39beb3e0b2558f5df5254b6def/vispy/gloo/glir.py#L15

[2020-03-22 20:59] sofroniewn commented on #130
It has been requested. I couldn't find the place yet, only briefly looked, but I think it would be nice to support if not too much trouble

[2020-03-22 21:01] sofroniewn commented on #924
If it's natural to address this stuff in vispy that makes the most sense to me. I don't want to overwhelm them with PRs though, but it would be nice to fix

[2020-03-22 21:03] tlambert03 commented on #924
the best internal fix for us would be to simply add the magic I mentioned in https://github.com/napari/napari/issues/924#issuecomment-579729438, to do some checking and rescale data accordingly.  It would require vendoring a _lot_ of stuff to achieve the "proper" (GPU-based) fix internally.

(the internal checking/scaling strategy would make for a "good first issue" though, btw 😉 )

[2020-03-22 21:38] AMR-KELEG commented on #316
@jni Hi Juan,
This is Amr, the coach of team Bro-grammers (@din1881 and @DaliaAymanAmeen).
We are trying to download the dataset `100µm resolution human brain` but it's about 32GB. We have already sent a request to get a download link and are waiting for the reply.
Should the demo make use of such huge data-set?
Can we start with a couple of jpeg images like these ones (`https://histopath.nmr.mgh.

[2020-03-22 21:41] tlambert03 commented on #1074
some more info here.  I was able to make a nice "`install_plugin`" function that installs packages with pip to some platform-specific folder (outside of the environment), which then loads fine with our `plugin_manager.discover()` method.
However, it's going to be rather tricky to "bundle" pip with pyinstaller for a couple reasons:
- pip _strongly_ discourages using anything but the CLI to install

[2020-03-23 00:56] jni commented on #1074
@tlambert03

Does `sys.base_exec_prefix` point to something useful in this context?

[2020-03-23 00:58] jni commented on #1074
By the way, though, using pip might be super dangerous in this context. If a plugin declares a dependency that conflicts with our existing stack, that dependency will get overwritten, I think? Fun! It would be nice to have a way to tell pip, don't touch existing packages, but rather, error on install.

[2020-03-23 01:31] tlambert03 commented on #1074
doesn't seem to.  on a mac, if the bundled app is at `./napari.app`, then `sys.base_exec_prefix` points to `./napari.app/Contents/MacOS` and `sys.executable` points to `./napari.app/Contents/MacOS/napari`.

as long as `--prefix` is used (which is what I was doing with the bundled app) then any new packages seemed to be installed only into `prefix`... but I'll keep playing with that.

[2020-03-23 02:33] jni commented on #316
@AMR-KELEG hello! The datasets above are only suggestions! The ideal case is to find a dataset that your team wants to explore and start looking at it with napari, then publishing notebooks with the exploration.

Note also that in many cases, using dask you can lazily load *remote* images as you look at them, rather than downloading a full dataset. This can be a bit slow and choppy but it'll work,

[2020-03-23 04:01] hectormz commented on #1075
I appreciate the ability to make a plugin, and the work @tlambert03 and anyone else has done!

I think if I were loading this in a notebook, I could manipulate the `layer.dims.order` for individual layers, but I don't think I have that access naturally in the plugin system. Currently it's setup to just serve up the data to the viewer.

As I develop the plugin further I'll see what else comes up th

[2020-03-23 15:57] sofroniewn commented on #1075
Correct you don't - nor do you have the ability to do things like make the viewer enter 3D rendering mode, or actually provide axis labels. @tlambert03 and I had a long github thread about this a while back, but maybe now is a good time to revisit since we gotten the basic stuff in.

We don't have anything merged into master yet. We had some in progress stuff here https://github.com/napari/napari/

[2020-03-23 15:59] tlambert03 commented on #1075
can't write more at the moment (meeting in 2 min) but https://github.com/napari/cookiecutter-napari-plugin/issues/4#issuecomment-601138657 is another thread where this was recently discussed, and that one has a link to the discussion in #891 where this was originally discussed

[2020-03-23 16:17] sofroniewn opened #1077 "Provide viewer keyword args via plugin reader system"
## 🚀 Feature

Back in https://github.com/napari/napari/pull/891#issuecomment-576082264 there was some extensive discussion between @tlambert03, myself, and others around how / whether to provide access to viewer keyword args like `n_display`, `axis_labels`, and `order` via the plugin reader system.

We decided then to wait during this first round of PR merging, but now some of our very first reade

[2020-03-23 16:20] sofroniewn commented on #1075
Thanks for those links @tlambert03! I have made a dedicate issue for viewer keywords args from reader plugins so we can have a focused discussion around that there https://github.com/napari/napari/issues/1077

[2020-03-23 16:34] evamaxfield commented on #1077
Thanks for opening a dedicated issue for discussion!

I thought a bit more about this. I think for `axis_labels`, it is _okay_ to not have them because the axis bars have the index ranges displayed which should allow users to know which dimension is which especially if they are viewing them. But, it would be really nice to allow the plugin to set them so there is no confusion from the get go.

The

[2020-03-23 17:23] tlambert03 commented on #1077
some additional thoughts on challenges here:
- since viewer params like `ndisplay` and `axis_labels` are global, we need to give a little thought to how we'll deal with conflicts.  If the viewer is empty, and the user opens a single filepath, it's pretty straightforward, but what if the viewer already has existing layers and  `axis_labels`, should opening a new image nuke the old ones?  when openi

[2020-03-23 18:02] sofroniewn commented on #1077
You can toggle ndisplay between 2 and 3 with the button second from the left in the bottom right corner of the viewer or Control-Y. We could also put an option in the dropdown no problem - would be a good first issue.

![image](https://user-images.githubusercontent.com/6531703/77346658-d6834000-6cf3-11ea-948a-9f22504eae8c.png)

We will also likely want to revisit this after #970 and layer groups,

[2020-03-23 18:30] evamaxfield commented on #1077
@sofroniewn thanks for alerting me of that button. That solves that issue haha

[2020-03-23 20:36] Czaki opened #1078 "Console missed on menu toggle"
## 🐛 Bug

When open console with main menu ort shortcut it fail (only place for it is visible). After trigger console with button everything works.

## To Reproduce

Steps to reproduce the behavior:

1. Start napari
2. Window > console (or Ctrl+Shift+C)

## Expected behavior

Visible console

## Environment

 - Please copy and paste the information at napari info option in help menubar here:

 - A

[2020-03-23 20:46] tlambert03 commented on #1078
Thanks, this is a duplicate of https://github.com/napari/napari/issues/1073.  will close to keep it all in one place.

[2020-03-23 20:46] #1078 closed, assigned to nobody

[2020-03-23 21:08] danielballan commented on #1066
Great, thank you. I agree with

It's the only part of the API that diverges from the analogy to built-in `with open(...) as f: f.read()`. Exactly as you said, for a community-wide standard we'd need some way to differentiate types so that the next layer up can impose type stability.

An exchange with @shoyer on Twitter convinced me that the sketch of `some_library.open(...)` in the post is not use

[2020-03-23 21:19] Czaki opened #1079 "Toggle theme not working"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. install napari from master
2. launch napari
3. chose View > Toggle theme

[code]
## Expected behavior

theme changed to bright
## Environment

 - Please copy and paste the information at napari info option in help menubar here:
napari: 0.2.12+25.g51cedac.dirty
Platform: Darwin-18.7.0-x86_64-i386-64bit
Python: 3.7.4 (default, Sep 15 20

[2020-03-24 02:05] sofroniewn commented on #1068
@GenevieveBuckley thanks so much for kicking off this issue with all those great examples. One thing I'd like to discuss (could be here or in an even more focused issue) is what the API for our plugin writer hookspec should be.

For me a guiding principle with the plugin writer should be symmetry with the plugin reader. So while the reader ultimately provides a function that takes a path or list o

[2020-03-24 04:08] jni commented on #1068
@sofroniewn I like the sound of that!

[2020-03-24 12:33] #1073 closed, assigned to nobody

[2020-03-24 12:33] #1079 closed, assigned to nobody

[2020-03-24 19:42] ruhmamehek commented on #995
Hi, I have worked on this issue. Currently I am generating the output for authors and reviewers in the format: `Name, GitHub handle`

Can someone please guide me on what the preferred output format will be, and if I can also hyperlink the usernames with their corresponding GitHub profiles.

[2020-03-24 22:43] sofroniewn commented on #995
Hi @ruhmamehek there's actually some work in #1043 that starts this process. Do you maybe want to look at progress there. Maybe you can help @boonepeter bring it to the finish line - though it looks like we're also waiting for @jni to weigh in over there too

[2020-03-24 23:22] GenevieveBuckley commented on #1068
I agree, symmetry is a really important goal

[2020-03-25 00:23] boonepeter commented on #995
Thanks @ruhmamehek, I should have mentioned here that I was working on it. The pull request I made works, it's just open in case anyone wants anything different.

[2020-03-25 02:47] tlambert03 commented on #1068
definitely on board with a symmetric approach... though I anticipate some challenging details when it comes to saving _multiple_ layers.  some questions:

- assuming a strictly symmetric approach, (i.e. the user provides a save `path` and `napari` then hands `LayerData` tuples to writer plugins), do we hand the _full_ viewer state (a list of all `LayerData` tuples) to each plugin, or do we iterate

[2020-03-25 03:03] GenevieveBuckley commented on #1068
I'd lean towards this, personally. Mostly because I'm worried about introducing too much complexity early on, but if that's less of an issue then you can take this opinion with a grain of salt.

[2020-03-25 03:09] tlambert03 commented on #1068
I think implementing hooks for plugins to save individual layers will be rather straightforward... but saving _multiple_ arbitrary layers either demands quite a lot from plugin developers, or rather complex internal logic for combining the outputs of disparate plugins.  if we start by implementing our own full-viewer export process, we might realize some more hidden issues in the process.

[2020-03-25 04:03] sofroniewn commented on #1068
Great comments @tlambert03 @GenevieveBuckley. Just to set terminology I see the following options for saving

1. A single layer
2. An arbitrary list of `LayerData` objects, that may contain data from layers of different types
3. Full viewer state (see #851 for a WIP on viewer serialization), including dims, camera etc.

Right now reading returns `2.` and I wrote above it could be natural to start

[2020-03-25 04:16] jni commented on #1068
Erm, it seems to me that layers groups solve all our problems... ;)

[2020-03-25 07:36] ruhmamehek commented on #995
Hi @sofroniewn and @boonepeter
Thanks a lot for letting me know! I'll look into other issues then.

[2020-03-25 11:34] Czaki commented on #1071
@sofroniewn

I do not know her but I'm only PhD student. Maybe she know my PI (Dariusz Plewczyński)

As you see I create #1082 with comes from my experience with PyInstaller in PartSeg. Again I see that PyInstaller better work with PyQt5

I will.

What do you think about move module `_qt` to `qt` (with keep possibility to import form `napari._qt`)?

[2020-03-25 11:56] tlambert03 commented on #1071
you've mentioned this a number of times, so I wanted to just point out that the reason we're trying to work with pyside2 instead of pyqt5 is related to licensing. ([see side discussion](https://napari.zulipchat.com/#narrow/stream/212875-general/topic/qt.2C.20bundled.20apps.2C.20.26.20licensing)) It's not completely out of the question to bundle with pyqt5, but we have a slight preference for pysid

[2020-03-25 12:15] Czaki commented on #1071
I always have a problem when taking with peoples in different threads if repeat same information, to lower entry level for people who do not read all threads, or reduce information to only unique.

This time I choose first approach. I understand that you prefer second one so I try to reduce repetition in future.

I agree that it is doable with `PySide2` and it should be enough to write own hooks f

[2020-03-25 12:24] tlambert03 commented on #1071
it's ok! :) I definitely don't prefer the second approach.  (my comment wasn't trying to prevent repetition, it was just for your edification).  we've been discussing issues around bundling for many months here, so was just trying to point out some motivations that may not be immediately obvious.

[2020-03-25 12:36] Czaki commented on #1071
I also go through using PySide2 in my project (PartSeg) because of license but finally decide to create bundle base on  PyQt5 because PySide2 based consumes to many time. But napari team is bigger.

[2020-03-25 12:36] yashika51 opened #1084 "Incompatibility of python 3.8 with napari on Windows"
## 🐛 Bug

Error in Installing napari on windows with the Python version 3.8 using anaconda prompt

## To Reproduce

Steps to reproduce the behavior:

1. Open anaconda prompt
2. Create virtual environment making sure python version==3.8 or higher
3. pip install git+https://github.com/napari/napari
You will get an error.

ERROR: Command errored out with exit status 1:
   command: 'c:\users\yashika s

[2020-03-25 12:51] tlambert03 commented on #1084
Hi @yashika51,
I'm unable to reproduce this error.  On my windows10 computer, with a fresh python 3.8 conda env running `pip install git+https://github.com/napari/napari` works fine.  It looks like you're having an issues installing numpy.  one thing I notice is that it's using a relatively old cached version of numpy (1.14.5) and it's trying to compile the source rather than using a wheel, so you

[2020-03-25 13:12] danielballan commented on #1066
I see new momentum on the numpy mailing list around embracing type annotations. In the blog post I suggested that it might premature to make that core to how Reader would work, but maybe that's not true. If we could remove the `'container` attribute and rely on a type-annotation, we end up with API that looks just like built-in `open`, but with type-annotated `read()`.

[code]

[2020-03-25 15:26] tlambert03 commented on #1074
just want to document this somewhere:
I've been playing around with bundling `pip` in the pyinstaller bundle, with the hopes that we will be able to offer a "install plugin" feature in the bundled app, which would install to some external environment (probably in [`appdirs.user_data_dir`](https://github.com/ActiveState/appdirs)).  The good news is that I can successfully bundle the full pip execut

[2020-03-25 19:19] sofroniewn opened #1085 "Changing points color via API doesn't work in add mode"
## 🐛 Bug

Following up on https://github.com/napari/napari/pull/898#issuecomment-604011240 it seems like changing color of the points fails via the API when in add mode. I think it used to be that you couldn't select points in add mode, but then that changed in #972, and so now the points get highlighted, which makes one think they should be able to edit the properties I think. Thoughts @kevinyama

[2020-03-25 20:50] kevinyamauchi commented on #1085
Thanks for flagging this, @sofroniewn! We had changed the selection behavior to this when we allowed selections to persist across modes in #907 (see [this comment](https://github.com/napari/napari/pull/907#issuecomment-580358966)). I believe the rationale was to prevent previously-selected points from accidentally being modified when switching to "add" mode and then changing the properties in the

[2020-03-26 02:24] jni commented on #1066
I'd love love love type annotations to be the main interface here. =) I seem to have killed the discussion over on the mailing list though! :sweat_smile:

[2020-03-26 11:42] yashika51 commented on #1084
Hi, Thank you so much for your reply, the issue solved on my system but my friend is trying to use python 3.8.2 and getting error. We are figuring that out.
Also, my session was crashing in Jupyter notebook while using the %gui qt5, after searching I found the solution here https://github.com/napari/napari/blob/master/examples/notebook.ipynb.
This command should come before 'import' statements. (M

[2020-03-26 11:59] tlambert03 commented on #1084
glad it helped.  I'm going to close this issue for now, but please encourage your friend to open another issue (or comment on this one) if they need help.

[2020-03-26 11:59] #1084 closed, assigned to nobody

[2020-03-26 14:43] tlambert03 commented on #1074
another challenge with pip installing additional packages in a frozen environment:
the whole point of pyinstaller is to bundle the minimum number of modules and libraries required to run the `__main__.py` script (and if one wants to include additional stuff, they must explicitly include it with [`hiddenimports`](https://pythonhosted.org/PyInstaller/when-things-go-wrong.html#listing-hidden-imports)

[2020-03-26 15:20] sofroniewn commented on #1068
@tlambert03 and others - I'm going to start working on a PR for this now. I'm very happy to change API / approach as I go, but I think it will be good for me to understand how to write a hookspec etc to aid with maintenance of this part of the codebase too

[2020-03-26 15:25] tlambert03 commented on #1068
yeah, that's great.  feel free to slack, zulip, and/or comment here if you want feedback

[2020-03-26 15:37] tlambert03 commented on #1074
@sofroniewn, I think i could probably use some input from your connections on the pip team at this point.  Here's how I would summarize the problem:

- when we create a bundled app with pyinstaller, it [analyzes our main script](https://pyinstaller.readthedocs.io/en/stable/operating-mode.html#what-pyinstaller-does-and-how-it-does-it) and bundles only those modules and libraries required to run it.

[2020-03-26 15:44] sofroniewn commented on #1085
I found the current behaviour non-intuitive. One option might be to have no ability to have selected points in `add` mode, i.e. `selected_data` always return the empty set, even if someone tries to select points via the API in add mode. Or maybe better, if you modify the `selected_data` property then inside the setter we force you into `select` mode. Maybe that is best? Thoughts @kevinyamauchi?

[2020-03-26 18:11] tlambert03 opened #1086 "ListModel.append does not check type"
## 🐛 Bug
in working on layer groups, I found a strange lack of type checking when appending to a `ListModel` (which inherits from `TypedList`).  [`ListModel.append`](https://github.com/napari/napari/blob/59ed366e9d492a2389c451468fd8b9f96508b4e2/napari/utils/list/_model.py#L59)  jumps right over `TypedList.append`
https://github.com/napari/napari/blob/59ed366e9d492a2389c451468fd8b9f96508b4e2/napari

[2020-03-26 18:13] sofroniewn commented on #1086
Maybe @kne42 can comment on this one?

[2020-03-26 21:08] sofroniewn opened #1087 "Edge thickness should be added to point size for hovering"
## 🐛 Bug

Edge thickness should be added to point size for hovering here https://github.com/napari/napari/blob/master/napari/layers/points/points.py#L1623-L1625 as otherwise it is confusing for points that have transparent faces and only edges.

[2020-03-27 12:39] tlambert03 opened #1090 "Unified error console and error reporting"
## 🚀 Feature
As discussed in meetings, napari should have an embedded, unified error console.  The idea being that, for the most "bundled" like usage scenarios, a user should not have to look in the console that started the napari process to see errors that occured.  It should also allow easy review and reporting of errors that have occured in the session, along the lines of #1024, but for all err

[2020-03-27 15:55] sofroniewn commented on #764
I've been looking for this link on documentation a couple times lately, so want to put it here so I know where to find it, along with my summary of some potential goals for our website https://www.divio.com/blog/documentation/

- Provide **tutorials** that are *learning-oriented* and teach the fundamental aspects of napari, including the `viewer`, `layers`, and `dimensions` to newcomers. These tut

[2020-03-27 16:31] tlambert03 opened #1091 "Discuss policy on camelCase in QtSubclasses, then add to docs"
## 📚 Documentation
@jni asked in  https://github.com/napari/napari/pull/1023#discussion_r399197252

I don't think there is a formal policy... but we can discuss what it might be here and then add it to contributing.md

[2020-03-27 17:56] sofroniewn commented on #1091
See also #6 our oldest open issue from @kne42!!! I'd love to resolve this, standardize the repo and update the contributing guidelines. I don't come into this with strong opinions, so if anyone wants to put out a proposal that would be great!!!

[2020-03-27 18:01] tlambert03 commented on #1091
interesting!  I also don't really have strong opinions either way, though my habit had been to follow #6.  It was my impression though that @jni had the opposite preference to what @kne42  was saying there in #6 (i.e. our stuff should always be pythonic) ... but I could have misinterpreted that.

[2020-03-28 03:57] jni opened #1093 "Controlling attributes of multiple selected layers simultaneously"
## 🚀 Feature

This possibly interacts with #1089, but is slightly independent.

I was recently looking at multispectral data with many layers, where three layers were R, G, and B channels in natural images. I wanted to adjust the contrast limits of the three layers, but this could only be done independently. Instead, it should be possible to select all three layers and adjust their contrast limits

[2020-03-28 09:13] BhavyaC16 commented on #1041
Hi, I am interested in working on this issue. Shall I add this documentation to the docstring of `add_labels` method in the file [napari/components/add_layers_mixin.py](https://github.com/napari/napari/blob/e07158c3c850f79d08671a806c3bc2258f280479/napari/components/add_layers_mixin.py#L376) as follows:

[code]

[2020-03-30 14:50] #1041 closed, assigned to nobody

[2020-03-30 17:04] #1086 closed, assigned to kne42

[2020-03-30 18:21] tlambert03 commented on #1074
I've been working on an alternate strategy to pyinstaller: I have a working (mac) prototype ([download here](https://api.cirrus-ci.com/v1/artifact/task/5474815058378752/napari/dist/napari.dmg)) and I'm curious to get people's thoughts.

I stumbled onto [this blog post](https://dschreij.github.io/how-to/package-anaconda-environments-as-apps), that describes a _non_-frozen (mac-specific for now) app

[2020-03-31 00:44] jni commented on #1074
@tlambert03 that is so, so cool. I'm practically in tears. 😂

I *do* want a 1GB executable containing all of Anaconda for napari. That will make our dependency messaging so much easier. Again, we need to be super careful that we don't clobber our existing installs, e.g. if we ship NumPy 1.17 and some plugin declares 1.18, **installation should fail**, rather than clobber our shipped NumPy. Annoyin

[2020-03-31 17:45] ctrueden commented on #1074
...

You don't have to distribute via the app store, but you do need to code-sign the app with your Developer ID Certificate, which you get by joining Apple's developer program for $99/year.

https://developer.apple.com/developer-id/

For Fiji, I have resisted doing this out of principle, meaning new Fiji users on macOS always have to:
1. Copy the app into Applications.
2. Right-click the app and

[2020-04-01 01:19] jakirkham commented on #318
We may have already discussed this somewhere (maybe offline?), but have you explored [Dask Array's `coarsen`]( https://docs.dask.org/en/latest/array-api.html#dask.array.coarsen )? That might be useful for creating pyramids on the fly.

[2020-04-01 02:04] sofroniewn commented on #318
@jakirkham I should try again, the first time I still had to load in too many tiles from the bottom layer to ever make the top layer and it was too slow.

[2020-04-01 18:27] tlambert03 opened #1098 "Pillow 7.1.0 breaking tests (and screenshots)"
## 🐛 Bug
Pillow 7.1.0 was released 3 hours ago and appears to be breaking tests.  https://cirrus-ci.com/task/5001684665499648?command=test#L800

changelog: https://github.com/python-pillow/Pillow/blob/master/CHANGES.rst

[2020-04-01 20:35] #1098 closed, assigned to nobody

[2020-04-02 01:39] amedyukhina opened #1100 "RuntimeError when displaying large image in 3D"
## 🐛 Bug

When I try to display a 500x1500x1500 image using 3D mode, napari crashes and returns  RuntimeError: Cannot SIZE object 545 because it does not exist

This issue does not occur if I display a smaller image (100x1500x1500).

## To Reproduce
[code]

Complete error message:

[code]

## Environment

napari: 0.2.11
Platform: Linux-4.15.0-88-generic-x86_64-with-debian-buster-sid
Python: 3.6.10

[2020-04-02 19:44] AndrewGYork opened #1101 "Clarification in interactive_scripting.py"
The following lines confuse me:

https://github.com/napari/napari/blob/cfadbdb778fbc8f44a9227622da0f1112e77ab95/examples/interactive_scripting.py#L21-L23

If I understand correctly, layer.data is a numpy array of random floats, and layer.data.all() returns a single Bool, which is almost certainly True; the same is true for 'dat'. If I'm correct, the while loop never triggers. If it did, what effec

[2020-04-02 20:01] AhmetCanSolak commented on #1101
Hi @AndrewGYork ! Thanks for reaching out!

numpy.ndarray.all is `True` if all elements evaluates True.
Assuming everything works smoothly, you are correct, this while loop never triggers. In case assignment somehow blocked or something else this while loop would be triggered.

If you happen to use some lazy loading numpy compatible libraries you might want to keep such while loop around to verify

[2020-04-02 22:13] AndrewGYork commented on #1101
Thanks, Ahmet!

[2020-04-02 22:13] #1101 closed, assigned to AhmetCanSolak

[2020-04-03 00:30] GenevieveBuckley opened #1103 "Functions to split/combine multiple layers along an axis"
## 🚀 Feature

Juan suggested on zulip that it would be a good idea to have:
1. A function to split an image axis into separate layers
2. A function to combine multiple layers into a single layer along a new axis.

## Motivation

This would allow users to more easily work with multichannel images, etc. since they may be saved as a single file and imported into napari as a single layer.

## Pitch

#

[2020-04-03 01:22] jni commented on #1101
@AndrewGYork @AhmetCanSolak for context, the history of that while-statement is that @bryantChhun once upon a time was finding that `layer.data = dat` did *not*, in fact, update the whole data synchronously, which is still puzzling to me and might have been a red herring. See #465. But as written it is indeed a bug/nonsensical, and is meant to be:

[code]

Again, I suspect we were somehow misreadi

[2020-04-03 02:05] jni commented on #1100
@amedyukhina thank you for reporting! To be honest, that is a pretty large volume to display in 3D. What is your GPU? I can't reproduce on my machine (integrated graphics, which I think means shared RAM with the CPU), but it's super slow. (Although rendering='translucent' speeds up the interactivity dramatically.) I would say on our end there is probably not much to do except maybe intercept this

[2020-04-03 03:21] GenevieveBuckley commented on #1074
I gave your bundled app a go on my Mac @tlambert03, here's what happened:

1. I downloaded the dmg file you linked to at https://api.cirrus-ci.com/v1/artifact/task/5474815058378752/napari/dist/napari.dmg
2. I double clicked it to run the installer, everything looks fine & I can drag the bundled napari app into my Applications folder
3. I start napari either from the launchpad, or by clicking it in

[2020-04-03 03:27] jni commented on #1074
There's no digital signature in this bundle. Apple just keeps changing the rules for unsigned apps. Now you have to right-click -> Open, and then you should get a dialog that takes you to system preferences to add an exception for this app. It is super annoying.

[2020-04-03 03:42] GenevieveBuckley commented on #1074
Yes, that's what I'm used to - right-clicking to get the option to run the app anyway.

What actually happens is:
1. I right-click the napari.app in the Applications folder, and select "Open"
2. The "verifying napari.app" message appears, if this is the first time
3. The error message appears: '"napari.app" cannot be opened because the developer could not be identified'.

(I've just re-downloaded

[2020-04-03 03:45] jni commented on #1074
Maybe now they've been even more helpful and you have to go to system preferences > security manually. Or maybe you have to hold down option.

[2020-04-03 04:06] GenevieveBuckley commented on #1074
Oh wow, they have changed the way you can do this! Yes, system preferences > security and privacy > general. *Then* you can use your administrator password to unlock the settings and click the "Run Anyway" button. Whew!

A few years ago it was: right click > Open, select "Open Anyway" in the popup dialog.
Even more recently it was just double click, select "Open Anyway" in the popup dialog.

[2020-04-03 06:01] GenevieveBuckley opened #1105 "Screenshots taken during a pytest run appear entirely black"
## 🐛 Bug

Screenshots taken during a pytest run appear entirely black.

## To Reproduce

Steps to reproduce the behavior:

1. In pytest (this test produces an AssertionError when it should not)

[code]

2. With python (this script does not produce an AssertionError, which is good and what we expect)

[code]

## Expected behavior

I expected the contents of a screenshot acquired during a pytest run

[2020-04-03 06:03] GenevieveBuckley commented on #1105
@tlambert03 do you think this could have something to do with the way `viewer_factory` works during pytest runs?

[2020-04-03 06:35] GenevieveBuckley commented on #970
# Summary of meeting discussion

I've summarized our discussion from the meeting today about layergroups.

There are two halves to the problem of how we handle layergroup properties:
1. Getting attributes
2. Setting attributes

## 1. Getting attributes
* This is a little philosophically tricky, because we need to work out what a LayerGroup property should be.
For example `.opacity` (float), `.visi

[2020-04-03 06:56] GenevieveBuckley opened #1106 "Fix inconsistency in return types from _get_extent() Layer methods"
## 🐛 Bug

@tlambert03 notes that different napari layer types are inconsistent in what they return from internal functions like `_get_extent()` https://github.com/napari/napari/pull/1097#issuecomment-607838844

[2020-04-03 06:58] #1106 closed, assigned to nobody

[2020-04-03 09:43] tlambert03 commented on #1074
Just to clarify, this app IS digitally signed... but it’s done using an ad hoc signature.  (See [this post](https://eclecticlight.co/2019/01/17/code-signing-for-the-concerned-3-signing-an-app/) for a good post explaining the three levels of signing).   You actually *have* to use some level of signing for it to open at all... took me a while to figure that out.
I also tried using a self-signed cert

[2020-04-03 09:51] tlambert03 commented on #1105
I wouldn’t expect this to have anything to do with the viewer factory... (that is mostly just than a context manager that makes sure the viewer is closed at the end of the test).
My main questions would be:
- is this on CI or on your local computer?  Issues are GL contexts and display buffers are the first thing I think about here.
- if local, what version of pillow are you using?  There were some

[2020-04-03 09:52] GenevieveBuckley commented on #1074
It did run!

I didn't do very much with it, just opened an image and mucked around. Let me know if you have specific things you want checked (like the pims bioformats stuff later on).

[2020-04-03 10:08] GenevieveBuckley commented on #1105
I ran pytest on my local computer. I haven't tried running it on a CI service, but I could try it if you think that will help gather information?

[2020-04-03 10:09] GenevieveBuckley commented on #1105
My version of pillow is 7.0.0

[2020-04-03 10:13] tlambert03 commented on #1105
Ok, I’ll try to take a look later today.  No need to try on CI yet.

[2020-04-03 10:15] GenevieveBuckley opened #1107 "Feature request: add_path() should accept kwargs like 'name', 'metadata', etc."
## 🚀 Feature

I would like the `add_path()` function to accept keyword arguments like `name`, `metadata`, etc.

## Motivation

I think the behaviour of `add_path()` should be as similar as possible to the other `add_` methods (`add_image()`, `add_points()`, `add_labels()`, etc.)

What do you think @tlambert03?

[2020-04-03 10:16] tlambert03 commented on #1105
Oh! What happens if you do Viewer(show=False) in python?  Alternatively you can pass show=True to the viewer factory in pytest (where the default is False)

[2020-04-03 10:20] tlambert03 commented on #1107
Yeah that sounds good.  Since those are passed to plugins though, we’ll have to deal with conflicts between what the user entered and the second item in the tuple returned by the plugin... and also the fact that it can be any type of layer.

[2020-04-03 11:28] tlambert03 commented on #1105
yep, that's it...  this should work for you in pytest:
[code]
sorry... I guess that _was_ an issue with `viewer_factory`! 😅 it defaults to `show=False` unlike the main `napari.Viewer()`

it might be interesting to look into an [offscreen buffer](https://github.com/vispy/vispy/blob/490cf300581b8112861be418ba8ead8785fef730/examples/demo/gloo/offscreen.py) for our tests...  We might want to emulate w

[2020-04-03 22:01] AndrewGYork opened #1110 "Are some operations impossible via the Viewer.update() function?"
This code works how I expect: the screen updates with random "snow".
[code]

...but this code does not; it triggers several warnings like this:
`WARNING: QObject::setParent: Cannot set parent, new parent is in a different thread`
and also seems to break and undock the layer controls panel.

[code]

I guess Viewer.update() creates a QRunnable, which I guess I should think of as a thread?

https://g

[2020-04-03 22:29] AhmetCanSolak commented on #1110
Yes it is basically a new thread @AndrewGYork . These are run and forget type of threads to handle some side computation/data manipulation.

The way to interact with parent thread's objects would be using signals and slots from another thread. Creating a slot in parent thread, passing connected signal to closure can do what you want to achieve here. Maybe wrapping some `viewer` methods as slots ca

[2020-04-03 22:33] GenevieveBuckley commented on #1105
I'm not sure if that counts as an issue with `viewer_factory`, more just an issue with my understanding of it 😄

[2020-04-03 22:52] tlambert03 commented on #1105
if it's helpful to see the code, here's what it does:
https://github.com/napari/napari/blob/dbf88f269414bdc969cdd872ebc273807f3263fd/napari/conftest.py#L43-L59

[2020-04-03 23:05] GenevieveBuckley commented on #1105
I looked at the `viewer_factory` code, thought "yeah that seems right, but maybe Talley will know how to steer me in the right direction". I did not dig into what the `model_kwargs` could be, so I didn't think to try `show=True`. So thank you!

I'm very happy to have learned this today 😄

[2020-04-04 03:14] sofroniewn commented on #1105
Maybe we could add a comment to our [writing tests guide](https://github.com/napari/napari/blob/master/docs/developers/CONTRIBUTING.md#writing-tests) on how to write a test with a screenshot?

[2020-04-04 03:17] tlambert03 commented on #1105
hmmm ... perhaps, though I'd really rather not "codify" the workaround of showing the viewer, until we give up on the better `canvas.render()` approach.  (alternatively, we could skip screenshot tests on everything but mac CI, where they seem to work).

[2020-04-04 03:17] sofroniewn commented on #1105
That's fine

[2020-04-04 03:18] tlambert03 commented on #1100
yeah, you're definitely running out of memory. (As a sidenote, whenever you get those
"`RuntimeError: Cannot SIZE object`" errors in vispy, it usually means the real error is buried somewhere higher up in the stack trace.  in this case it's this line):
[code]

but the explanation is still complicated: that last line of your `--info` return shows you the GL_MAX_TEXTURE_SIZE for your system: 8192.

[2020-04-04 05:06] amedyukhina commented on #1100
Oh, I see. Thanks for explaining @tlambert03 !  I had no idea I could run out of memory since the machine that I used has 1.5Tb CPU memory (but apparently very little GPU memory).

@jni this is actually just a small part of the volume that I work with and try to visualize (570x6900x10000). Apparently, I will have to switch to GPU-heavier hardware.

Btw, thanks for developing such a great software!

[2020-04-04 05:36] jni commented on #1100
@amedyukhina unfortunately this is not a problem that can really be solved by bigger GPUs, as GPU memory is much more limited compared to CPU RAM. The best GPU you can buy only has 12GB of memory. The really fancy graphics engines work by loading subsampled, low-resolution images in the background, and high-resolution images only in the foreground. We don't have that in napari and I expect it'll t

[2020-04-04 16:46] sumanthratna commented on #1068
I think it would help to allow Points and Shapes to be exported as SVGs. Of course, this can probably be done programmatically from the CSV output, but it'd be nice to be able to get an SVG without having to write extra code.

[2020-04-04 16:51] sofroniewn commented on #1068
Hi @sumanthratna that's great! There is some support for svg writing [demoed in this example](https://github.com/napari/napari/blob/master/examples/to_svg.py) using the following parts of the code base

https://github.com/napari/napari/blob/master/napari/layers/base/base.py#L658

https://github.com/napari/napari/blob/master/napari/layers/points/points.py#L1552

https://github.com/napari/napari/blo

[2020-04-04 16:52] tlambert03 commented on #1110
Just to echo what @AhmetCanSolak said here...  The update function here is very nice for updating the data of a specific layer in the viewer, but for a _lot_ of other interactive things you might want to do with the viewer, it's not going to be flexible enough for you, and you'll need to get a little more familiar with the event loop(s) running in napari.  I definitely think it's worth getting fam

[2020-04-04 17:39] AndrewGYork commented on #1110
Good information! Thanks, @AhmetCanSolak and @tlambert03. The event I'm (most) interested in responding to is an object becoming available in a multiprocessing [Connection](https://docs.python.org/2/library/multiprocessing.html#Connection). Depending on the context, we typically either block:
[code]
or poll:
[code]
We played with using a QTimer in the main process to trigger polling, which seems t

[2020-04-04 19:02] tlambert03 commented on #1068
@sofroniewn and I just had a quick chat about writer plugins, here are the things we thought would be a good next step for #1104... keeping in mind that we will need to do slightly different things if the user wants to save a single layer vs multiple layers.

- there will be _both_ a hookspec as discussed above in #2, that accepts a list of layer types (as strings) and returns a writer function if

[2020-04-04 19:32] tlambert03 commented on #1110
Yeah, for heavy polling like that, you should put the listener in a different thread.  While  `viewer.update(func)` is designed as a convenience to create a simple thread based on a function, it doesn't provide ways to connect to the main thread.

For more complicated event handling, you might consider looking at [`napari._qt.utils.new_worker_qthread`](https://github.com/napari/napari/blob/1ae61bb

[2020-04-04 21:18] sofroniewn commented on #995
Closed by #1043

[2020-04-04 21:18] #995 closed, assigned to nobody

[2020-04-04 23:08] GenevieveBuckley commented on #1068
If you're saving a list of layers (say a mixture of Images and Points), will this work as long as you have a writer that supports images  and a writer that supports points? Or do you need to have a single writer that supports both? If it's the latter, I can see that putting more of a burden on plugin authors.

[2020-04-04 23:23] tlambert03 commented on #1068
We can make that work.  Here, I was describing the latter: in which `napari_get_writer` is specifically looking for plugins that know how to combine layer types into a single output.  Yes, that adds burden on plugin authors, but it's a tricky balance between making it easy for them, and also empowering them, since we definitely also need to somehow support the case where plugins _want_ that burden

[2020-04-05 03:54] katierupp opened #1112 "error when importing napari: FileNotFoundError: [WinError 2] The system cannot find the file specified"
Hello, I have successfully installed napari with pip, but when I run `import napari` in a Jupyter
notebook or type `napari` in the command window, I receive the error shown at the
end of this post. I get the following output when I run

`import vispy
print(vispy.sys_info())`

[code]

App info-gathering error:

[code]

[2020-04-05 14:37] tlambert03 commented on #1112
Hi @katierupp, thanks for letting us know!  Looks like a failed installation, and I'd like to try to reproduce this locally... can you tell me exactly how you set up your environment and installed pip?    It's a little unclear cause it looks like you have both a global python interpreter but also conda?
please let use know:
- how did you install python (python.org?  anaconda? etc...)
- are you usi

[2020-04-05 16:34] katierupp commented on #1112
Hi @tlambert03, thanks for the response!

I installed python with Anaconda, and I was not using a virtual environment, so I was trying to install napari where there are a lot of other packages.

I tried napari by cloning the git repository, navigating to the directory, then calling `pip install -e .`. This is what was producing the error in my original post. However, I just tried using  `pip insta

[2020-04-05 16:41] tlambert03 commented on #1112
Thanks for the extra info.  First, I'd like to nail down if this is somehow a problem with your environment, or our installation process (for instance, if it's a problem with our install on certain machines).  Can you test whether it all works in a clean environment?

[code]

[2020-04-05 17:31] tlambert03 opened #1114 "view_image with axis_labels doesn't resize labels"
## 🐛 Bug
Just noticed that calling `napari.view_image` with `axis_labels` doesn't immediately "resize" the labels to fit long text.  will fix later, just didn't want to forget.

[2020-04-05 20:32] katierupp commented on #1112
Yes, I ended up uninstalling and reinstalling Anaconda because I wasn't able to make a new environment. Now that I am able to, I was able to install napari, but when I call  `napari` I get this traceback:

[code]

[2020-04-05 20:53] tlambert03 commented on #1112
that is _very_ strange.  it definitely points to something broken in your old environment, but it's also weird that in your new anaconda install, even when you create a fresh `testenv` environment, you're _still_ only getting Qt 5.9.6, instead of the current Qt 5.14.  I have to say that's the first time I've seen that.  sorry to keep making you try things, but I want to rule some things out:

1) a

[2020-04-05 21:13] katierupp commented on #1112
1. Yes, I just followed the installation instructions for installing Anaconda on Windows. I am not aware of anything unusual about the permissions.

2.  I retrieved napari using git clone.

For `conda list` in testenv :
[code]

3. using `pip install git+https://github.com/napari/napari.git`, I still get the same error.

For `conda list` in testenv2:

[code]

`napari --info` in testenv2 gives the s

[2020-04-05 21:22] tlambert03 commented on #1112
ok that was helpful.  it looks like, for some reason, your `pip install` is not installing _any_ of the dependencies, it's _only_ installing the requested package.  It's like you have [`--no-deps`](https://pip.pypa.io/en/stable/reference/pip_install/#cmdoption-no-deps) set as a global pip setting somehow.  can you run `pip config list` or `pip config list -v` to see whether you have something set

[2020-04-05 21:25] tlambert03 commented on #1112
also, btw, for multi line code blocks in github comments, use three "```" marks on an empty line before and after your code block :)

[2020-04-05 21:38] tlambert03 commented on #1112
alternatively... do you have anything permanently set for your `PYTHONPATH` environment variable? such that pip thinks it's already installed?  `python -c "import sys; print(sys.path)"` might show it.
or you can try the `--ignore-dependencies` trick again to force it to reinstall stuff.

[2020-04-05 22:26] katierupp commented on #1112
Interestingly, `pip config list` and `pip config list -v` did not output anything. It looks like it is possibly only installing the packages that were not located in the base environment?

I tried running `pip install git+https://github.com/napari/napari.git --ignore-installed` in testenv2 so it would install all of the packages regardless of whether they were in the base enviroment or not and the