[2022-06-06 20:23] DragaDoncila commented on #4625
I don't think we should remove the message, that would make our already kinda hidden keybindings even more hidden lol.

This makes most sense to me

[2022-06-06 20:25] haesleinhuepf opened #4627 "Alt+Shift+S shortcut doesn't work"
## 🐛 Bug

Hi all,

I just noticed that the shortcut Alt + Shift + S is set for three menu items. None of them is executed when hitting Alt + Shift + S. Instead an error message is printed out in the terminal.

![image](https://user-images.githubusercontent.com/12660498/172242456-dec5efed-fbe9-4683-8050-a8ed24b4d1b8.png)

## To Reproduce

Steps to reproduce the behavior:

1. Start napari
2. hit Alt

[2022-06-06 20:26] haesleinhuepf commented on #4626
I also propose to remove the short-cut Ctrl + W, which also closes napari.

[2022-06-06 21:53] andy-sweet commented on #2313
@Carreau : I could reproduce this at 3d8f315a74ce53d2e6a784f246b5d405d3951667, but I can't reproduce on `main` now at 5c10022337601f350ad64ce56eddf6664306e40e.

If you also find that, can you close this specific bug?

Or do you think there's another way to reach the undesirable state here? If so, can you add new steps to reproduce.

[2022-06-06 23:06] tlambert03 commented on #2571
this was sort of "sidestepped" in #3130 by adding these lines to not use the native dialog if ini python:

https://github.com/napari/napari/blob/5c10022337601f350ad64ce56eddf6664306e40e/napari/_qt/qt_viewer.py#L566-L570

it prevents the missing save dialog, but at the cost of no longer being able to use the better native dialog.  so, not sure that it counts as a fix, but it's an explanation why yo

[2022-06-06 23:39] andy-sweet commented on #2245
I could not reproduce this at v0.4.4 on macOS. I suspect it's not OS dependent, but can try on Windows too later.

From the initial description, I was not sure on the exact setup here, but here's the example I put together.

[code]

This also works if I pass the whole `array` instead of `array[0]`.

@sebi06 : if this is still an issue for you, let me know how I should update the example above to r

[2022-06-07 00:23] github-actions[bot] opened #4629 "[test-bot] pip install --pre is failing"
The --pre Test workflow failed on 2022-08-31 00:33 UTC

The most recent failing test was on macos-latest py3.9 pyqt5
with commit: 297dfc3dfc48963181411d64d06199857076ca4c

Full run: https://github.com//actions/runs/2960493274

(This post will be updated if another test fails, as long as this issue remains open.)

[2022-06-07 03:30] jni commented on #4629
This will be fixed by the next scikit-image release, and [possibly](https://github.com/numpy/numpy/issues/21652) by the final NumPy 1.23 release.

[2022-06-07 03:34] jni commented on #2245
Another important bit of info is @sebi06 if you could run the script with `python -m pdb script.py`, then when you hit the error:

[code]

You can tell us what `self.image` contains and what `order` contains. To me it smells of an issue with arrays of different dimensionality in the viewer and/or transposed axes.

[2022-06-07 06:42] jni commented on #4626
@haesleinhuepf Ctrl-W is absolutely a standard shortcut for closing a window, both on Mac and Linux. Ditto for Ctrl/Cmd-Q (just checked on Firefox for Linux). So I don't want to remove these shortcuts. I'm totally open to adding a preference to check for "confirm before closing main window", though.

[2022-06-07 06:51] psobolewskiPhD commented on #4626
Confirm before closing with a populated layer list and/or maybe open dock widget would be a nice feature.

[2022-06-07 07:23] lucyleeow commented on #1449
I think this has been done:

https://github.com/napari/napari/blob/5c10022337601f350ad64ce56eddf6664306e40e/napari/layers/image/_image_utils.py#L30

so closing.

[2022-06-07 07:23] #1449 closed, assigned to nobody

[2022-06-07 08:38] jni commented on #4626
Personally I would want this to be a preference and/or a distinction between the bundle and IPython versions, because I open and close viewers many times within an IPython session. (ie I use napari a lot as a quick "plt.imshow" replacement.)

[2022-06-07 08:48] Czaki opened #4631 "New shortcuts are not populated if user modified default shortcuts"
## 🐛 Bug

During the development of #4628 I found that napari settings treat shortcuts as a single field in the base model, so if the user modifies any of the shortcuts and a new shortcut is added then its value is ignored and a user needs to define it or restore all keybindings

## To Reproduce

Steps to reproduce the behavior:

1. checkout 5c10022337601f350ad64ce56eddf6664306e40e commit.
2. rest

[2022-06-07 09:38] Czaki commented on #4626
maybe the second `Ctrl+Q` on the asking dialog should be counted as confirmation?

[2022-06-07 10:15] brisvag opened #4633 "Figure out 3D viewer handedness"
## 🐛 Bug

It seems that at some point, when choosing to follow the `zyx` "row-major" ordering, we also assumed a left-handed coordinate system. This goes against expectations and often results is mirrored objects (I quickly tried to open DNA with `napari-molecule-reader` and got a left-handed helix). [Inciting discussion is here](https://forum.image.sc/t/3d-view-coordinate-system-is-left-handed/66

[2022-06-07 12:37] tlambert03 commented on #4633
CC also @alisterburt, we recently taught me most of what I know here about rendering and handedness :)

[2022-06-07 13:02] sebi06 commented on #2245
Hi all,

meanwhile I am running Python 3.9.12 and napari 0.4.16 and the problem is not occurring to me anymore. It works as expected and the individual scenes can be loaded  "lazy" without any problems.

<img width="1447" alt="image" src="https://user-images.githubusercontent.com/3833249/172386307-0afe2bf7-8bb1-400d-93a2-8e714cc31881.png">

[2022-06-07 14:02] jni commented on #2245
Great! I'll close this then, thanks for reporting back @sebi06! Please feel free to reopen if the problem reappears, and of course raise new issues as they come up! :pray:

[2022-06-07 14:02] #2245 closed, assigned to nobody

[2022-06-07 15:14] andy-sweet commented on #4633
Also see a similar conversation about 2D visualization, where there is a desire for the first axis' ordinates to increase as we go up: https://napari.zulipchat.com/#narrow/stream/212875-general/topic/coordinate.20system

The way I'm used to dealing with handedness in medical imaging volumes is that a visualization tool picks a convention and its up to the data/import to define any rotations/flips

[2022-06-07 15:22] andy-sweet commented on #4573
Thanks for filing the issue! This might be solved with some upcoming work, though I'm not sure yet.

Are you manually assigning colors to points? E.g. by selecting some and changing the current color either with the API or the GUI using the color picker?

Or are you assigning colors to points from properties? As in this tutorial: https://napari.org/howtos/layers/points.html#setting-point-edge-and-

[2022-06-07 15:51] andy-sweet commented on #1968
@jni : I'm not sure what magic name means here.

My guess is that is meant an automatic name assigned to a tracks layer after calling `Viewer.add_tracks` without a `name` argument? Which seems to be controlled by the [`magic_name`](https://cs.github.com/napari/napari/blob/2dc5aa659f875c353bfbde3b20d8f07a664ed8a8/napari/utils/naming.py#L135) function.

But that works for me at v0.4.2 and on main no

[2022-06-07 15:59] andy-sweet commented on #1905
I don't think this has been an issue for a while. I think the welcome visual was made into a dedicated Qt widget in https://github.com/napari/napari/pull/2542 so we can probably close this.

@Czaki : if you agree, please close this issue. Otherwise, add more information. Thanks!

[2022-06-07 16:06] andy-sweet commented on #1903
@Czaki : if you close https://github.com/napari/napari/issues/1905 , maybe this should be closed too? Looking through the comments here, it's a little unclear how connected these are. I think it would be OK to leave this open, though I'm not sure what immediate action we could take.

[2022-06-07 16:18] Czaki commented on #1903
I need to review last CI fails.

[2022-06-07 16:18] #1905 closed, assigned to nobody

[2022-06-07 16:20] andy-sweet commented on #1881
@sofroniewn : similar to https://github.com/napari/napari/issues/1905, do you think this was also fixed by #2542?

[2022-06-07 16:31] andy-sweet commented on #1868
@neuromusic : as part of #1190 there were some updates to this as the core developers are listed now, though that needs to be kept in sync. But the links to the GitHub teams ([core-devs](https://github.com/orgs/napari/teams/core-devs) and [steering council](https://github.com/orgs/napari/teams/steering-council)) are still present.

If I try to open these in a Chrome incognito window, then GitHub a

[2022-06-07 17:24] andy-sweet commented on #771
@HagaiHargil : I think is kind of an older duplicate of #1310, and was likely fixed by #3701 and friends, as I could not reproduce it on `main` (5c10022337601f350ad64ce56eddf6664306e40e).

If you agree, please close this issue! If not please explain why. Thanks again for writing up the issue.

[2022-06-07 17:47] andy-sweet commented on #4344
@bgraedel : I believe this was fixed by https://github.com/napari/napari/pull/4256, which was included in v0.4.16, so I'm going to close this.

If anyone still finds this issue, please reopen and comment.

[2022-06-07 17:47] #4344 closed, assigned to nobody

[2022-06-07 18:13] andy-sweet commented on #4380
Sorry for the major issues here!

Does your Apple computer have an M1 processor? If so, there's a [long thread on image.sc discussing some issues](https://forum.image.sc/t/issue-with-downloading-napari-on-mac-m1-chip/53961/15) and another [on Zulip](https://napari.zulipchat.com/#narrow/stream/212875-general/topic/Napari.20.26.20Python.20on.20Apple.20M1).

If I understand the comments there correct

[2022-06-07 19:21] psobolewskiPhD commented on #4380
i can't see how this could possibly be an M1 Mac.
Python 3.7 isn't supported and Rosetta emulation would report `Metal` for OpenGL.
I think the ATI OpenGL means AMD GPU?
Very puzzling.

[2022-06-07 19:36] andy-sweet commented on #4380
Thanks for the clarification @psobolewskiPhD ! I don't have an M1 Mac, so I wasn't quite sure what to expect from the report. You're right that ATI probably refers to an AMD GPU which I think were present in some macbooks before the M1.

[2022-06-07 19:42] psobolewskiPhD commented on #4380
What stands out for me is the quite old (2019) PyQt5 version, and fairly `modern` napari & vispy (and numpy).

[2022-06-07 19:53] andy-sweet commented on #4624
Thanks for the issue! This is definitely a bug that we'll hopefully fix in the not too distant future.

But if you need a workaround before then, you can set `axis_labels` after the image has been added:

[code]

[2022-06-07 21:19] andy-sweet commented on #4380
One guess is that this might be related to installation type and environment. I.e. miniconda vs. anaconda and `pip` vs. `conda` install. Sometimes I've seen old Qt versions bundled with anaconda remain as defaults in a conda environment and cause issues, though usually less severe than this.

@xwyan1230 : if you're able to provide details on exactly how you installed napari, that could be useful.

[2022-06-08 00:48] xwyan1230 commented on #4380
Hi @andy-sweet  and @psobolewskiPhD
Thank you so much for getting back to me!

It is not a M1 Mac, it is an iMac (Retina 5K, 27-inch, 2020 with macOS Big Sur version 11.5.2). It does have a AMD Radeon Pro 5700 XT 16 GB GPU and I guess that's what you guys are referring to?

It is very possible that this could be an installing/environmental thing since the current environment is inherited from an o

[2022-06-08 01:31] github-actions[bot] opened #4640 "[Automatic issue] Missing `_.trans()`."
It looks like one of our test cron detected missing translations.
You can see the latest output [here](https://github.com/napari/napari/actions/workflows/test_translations.yml).
There are likely new strings to either ignore, or to internationalise.

You can also Update the cron script to update this issue with better information as well.

Note that this issue will be automatically updated if kept

[2022-06-08 03:29] neuromusic commented on #1868
I'm also a member of the napari org & the behavior for me is the same.

So I'm not sure what the behavior is like for someone logged into Github but not a member of the napari org.

[2022-06-08 04:18] VasudhaJha commented on #4573
Yes, I'm selecting one or more points manually and changing their color from the GUI using the color picker and also from the API.

[2022-06-08 05:11] #771 closed, assigned to nobody

[2022-06-08 05:46] #4606 closed, assigned to nobody

[2022-06-08 06:12] #3923 closed, assigned to nobody

[2022-06-08 06:13] lucyleeow commented on #4640
The error seems to be related to pytest not being able to find the `checks` fixture:
[code]

Although the `checks` fixture does seem to be defined:

https://github.com/napari/napari/blob/26aea96ab5a745f8abc6f1cd9951d22a2111abbd/tools/test_strings.py#L472-L480

[2022-06-08 06:23] stefanv commented on #3923
Thank you @lucyleeow for the patch and @Czaki for reviewing!

[2022-06-08 06:26] jni commented on #4631
@Czaki that's a rather complex reproducer. Should we just wait until #4628 is in to deal with this?

[2022-06-08 06:39] jni commented on #4623
We've had some discussions about this before. @haesleinhuepf do you want this to happen *before* e.g. all the layers are cleaned up, or after, or don't care? As I recall someone else asked for this to happen before anything is actually done. In that case I might be inclined to call it "about_to_close" or "closing"

[2022-06-08 06:45] jni commented on #4752
I've moved this to the theme as I think it's more of an issue here. Might be wrong though, looking for guidance from @codemonkey800 et al. :pray:

[2022-06-08 06:46] haesleinhuepf commented on #4623
Hey @jni ,

I personally don't care. I _think_ QT and/or the Windows API sends two events: `closing(flag)` and `closed()`, and I find the names intuitive. Using the `flag` it can be cancelled. Maybe it would be cool to give developers the same flexibility here...

[2022-06-08 06:54] lucyleeow commented on #4608
Have checked and it seems to be fixed now, closing

[2022-06-08 06:54] #4608 closed, assigned to nobody

[2022-06-08 06:56] haesleinhuepf commented on #4623
Just adding a reference: http://www.java2s.com/Tutorial/CSharp/0470__Windows-Presentation-Foundation/WindowClosingandClosedevent.htm

Sorry for the sharp C 😜

[2022-06-08 07:01] jni commented on #1311
I think we can close this, given that we have image <> labels conversion, and many more options for contrast limits adjustment (including continuous automatic adjustment). @Czaki please reopen if you disagree.

[2022-06-08 07:01] #1311 closed, assigned to nobody

[2022-06-08 08:08] Czaki commented on #4640
it is not defined. There is an only function named `check` defined. To change it to fixture there is a need to use `@pytest.fixture` decorator.

[2022-06-08 09:10] kpavani14 opened #4642 "Terminal error while trying to create an environment and installing napari using using conda"
I am trying to create a new environment for napari and install it using the commands
conda create -y -n napari-env python=3.7.4  (the current python version I have )
conda activate napari-env
conda install -c conda-forge napari

I am getting the same error for each command

Error report:
Traceback (most recent call last):
      File "c:\Anaconda\lib\site-packages\conda\exceptions.py", line 1082, i

[2022-06-08 09:15] pr4deepr opened #4643 "Issue displaying image of different scales in napari"
Hi
 linking this form an imagesc post: https://forum.image.sc/t/napari-image-layers-with-different-scaling-error/67420/5

I am using napari to display 3D images of different scales.
Can we have images of different scales across different image layers? Is it possible to display this in napari without fixing all images to one scale?

I am having some issues with scaling and how images are displayed.

[2022-06-08 09:16] Czaki commented on #4642
Napari drops support of python 3.7 a few versions ago. It is possible for you to use a more modern python version?

[2022-06-08 09:48] Czaki commented on #4752
I do not think that it is a theme problem. It is problem that napari uses a logo with transparent background.
Especially I show screenshots from GitHub readme, not form documentation.

[2022-06-08 11:32] jni commented on #4752
Oops! Interesting. Having said that, I think the "right" way of doing this is to use different logos for different themes (?), rather than using a non-transparent background?

[2022-06-08 11:35] jni commented on #4640
Yeah, interestingly, it is defined immediately below that (line 480), but as *`_checks`*, with a leading underscore.

[2022-06-08 11:53] Czaki commented on #4752
But, as far as I know, markdown do not provide a way to declare this (both screenshots are from github.com).

[2022-06-08 11:56] jni commented on #4643
@pr4deepr the *slider* tries to put in as many stops as it needs to be able to traverse every slice of *any* layer. Even though you have 1724 slices, you will notice that image1 only updates more or less every other slice.

Switching to 3D mode, it looks to me like you've got your axes transposed somewhere?

![image](https://user-images.githubusercontent.com/492549/172610343-b56da991-1c3a-40b5-9b3

[2022-06-08 14:55] MalteMederacke commented on #4562
Does not work for me. I have napery 0.4.16 and still get the error:

ValueError: invalid literal for int() with base 10: '2012ServerR2'

[2022-06-08 15:03] Czaki commented on #4380
It is possible for you to change the python version to a more modern (at least 3.8) and upgrade napari to 0.4.16?

[2022-06-08 15:25] psobolewskiPhD commented on #4562
Hmm, looks like even though the PR was merged (https://github.com/napari/napari/pull/4561) and had the 0.4.16 milestone, it didn't make it to 0.4.16 release. I can confirm that on live 0.4.16 I have `__version__ = '0.5.2'`

I don't really understand how vendors stuff works.
@Carreau any idea if manually installing `darkdetect` 0.6.0 would fix the issue?

[2022-06-08 16:00] andy-sweet commented on #4380
If possible, I'd suggest creating a new conda environment from scratch following [the instructions on napari.org](https://github.com/orgs/napari/teams/core-devs). There is [an issue with how that documentation](https://github.com/napari/napari-sphinx-theme/issues/99) is displayed right now, so if you click on the `1. FROM PIP` title that will show the recommended pip install command.

Following th

[2022-06-08 16:02] psobolewskiPhD commented on #4380
Question: what's the advantage of that over the one-liner:
`conda create -y -n napari-env -c conda-forge python=3.9 napari`
if we're already using conda anyways?

[2022-06-08 16:14] andy-sweet commented on #4380
I don't think there's a big advantage, so either works. Though I guess it will depend on your hardware, OS, and the packages you're installing, right?

I shouldn't have said using `pip` is recommended - it's just what I've been using for a year on a non-M1 mac and haven't run into any serious issues.

[2022-06-08 16:24] psobolewskiPhD commented on #4380
`pip` works fine for napari on M1 too **if you have pyqt from conda-forge**
I was just wondering why the extra line, here on x86 😄

[2022-06-08 19:34] xwyan1230 commented on #4380
I create a new environment as @andy-sweet suggested, it looks good so far! I will use this new environment to try more things and hopefully it will be good from now on!  Thank you so much for all you guys' input, it has been really helpful!! I will update on this Friday if everything looks good and have this thread closed. Thank you all @psobolewskiPhD @andy-sweet @Czaki !!

[2022-06-08 20:22] andy-sweet commented on #1868
I had @junxini test this as someone with a GitHub account, but not currently a member of the napari organization.

They can see [the napari organization](https://github.com/orgs/napari/people) fine, but get a 404 for the [core-devs](https://github.com/orgs/napari/teams/core-devs) and [steering council](https://github.com/orgs/napari/teams/steering-council) teams.

So leaving this open for now.

I'

[2022-06-08 20:49] andy-sweet commented on #1868
Seems like making teams public is not supported yet: https://github.community/t/why-is-my-github-team-isnt-visible-to-anyone-outside-my-organization/251617

There's some related discussion in #1190 and #816 around whether to keep the team links or not. I don't feel strongly as the core dev members and steering council are listed and linked to, but if someone else does feel free to pick up this iss

[2022-06-08 21:11] andy-sweet commented on #4640
Should be fixed by https://github.com/napari/napari/pull/4596

[2022-06-08 22:51] goanpeca commented on #4562
Unfortunately It will not work since we import from the vendor folder.

[2022-06-09 04:46] pr4deepr commented on #4643
So, the raw data is acquired skewed in the Y direction (Zeiss lattice lightsheet)
We process the image by shearing in YZ direction along the Y-axis,  so the Z and Y sorta gets transposed in the final image.
This is the function we use for processing the raw image: https://github.com/clEsperanto/pyclesperanto_prototype/blob/master/pyclesperanto_prototype/_tier8/_deskew_y.py

Yes, its updating layer

[2022-06-09 05:00] pr4deepr commented on #4643
correction, its not displaying the slider information accurately..

[2022-06-09 09:01] #4625 closed, assigned to nobody

[2022-06-09 09:09] cnstt opened #4649 "Add public method for viewer.dims._transpose()"
## 🚀 Feature
Add public method for viewer.dims._transpose()

## Motivation

I use this transpose method inside of a plugin. Currently it works, but by accessing this protected method, my IDE is complaining and it's not the cleanest way to code the plugin...

## Pitch

Simply add a viewer.dims.transpose() public method

[2022-06-09 10:56] Carreau opened #4653 "Run ASV only once a day ?"
Should we run ASV only once/twice a day on CI ?
Or at least set the concurrency to cancel the previous run if not finished ?
Each run eats about 2h or ci-worker time, and when merging a few PRs we ended up losing more than the time we gained by speeding up the standard test suite.

[2022-06-09 10:57] Carreau commented on #4653
For example right now our 4 free workers are all busy with ASV, meaning that nothing else runs.

[2022-06-09 11:02] Czaki commented on #4653
I think that it should only execute once per day.

And on PR should be triggered only on request (if core developers worry about performance)

[2022-06-09 11:20] jaimergp commented on #4653
I'll put some PRs today to fix this and other issues!

[2022-06-09 13:06] Czaki opened #4658 "Plugin dialog fail to open in bundle app"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. install the last available bundle from the release page https://github.com/napari/napari/releases/tag/v0.4.16
2. try to open the plugin dialog

## Expected behavior
[code]

## Environment

napari: 0.4.16rc7
Platform: Linux-5.13.0-48-generic-x86_64-with-glibc2.34
System: Ubuntu 21.10
Python: 3.9.13 | packaged by conda-forge | (main, Ma

[2022-06-09 14:28] kevinyamauchi commented on #4562
Thanks for looking into this @psobolewskiPhD and @goanpeca ! Indeed it looks like we missed #4561 in 0.4.16.

https://github.com/napari/napari/blob/36c94477b5b63e160f75cf8c4aef5524e2a6af19/napari/_vendor/darkdetect/__init__.py#L7

@MalteMederacke , sorry about that. As @psobolewskiPhD said, it looks like #4561 is merged in `main` and it _should_ fix your issue. You can try to upgrade from `main` w

[2022-06-10 04:12] lucyleeow commented on #1426
I would like to try adding some basic architectural documentation. In the first instance the idea would be to give an overview of the separation between python models, qt and vispy. Then walk through how our `EventedModel` class works, using the `dims.py` `ndims` field.

Any suggestions/thoughts welcome. cc @jni @kevinyamauchi

[2022-06-10 09:21] #4653 closed, assigned to nobody

[2022-06-10 12:22] #4658 closed, assigned to nobody

[2022-06-10 14:00] alisterburt commented on #1426
@lucyleeow I'd love to see it! Feel free to ping for review when you have a draft 🙂

[2022-06-10 18:20] Czaki opened #4667 "Overwritte default Qt Icons with ones following napari theme"
### Overview of design need

During the review of #4637 we found that when using QMessageBox (and maybe in other places where icons are selected by enum) the dialog contains standard Qt icons instead ones that fit in the napari theme.

It will be better looking if we replace them with custom one. Also @goanpeca suggest that MacOS ones could be not properly visible when using a dark theme.

![Zrzut

[2022-06-11 12:03] Czaki opened #4670 "creating copy of layer should not copy list of connected events"
## 🐛 Bug

during the development of #4665 I found that there is no method for a make proper copy of the layer without coping all events connected to this layer. That may cause some problems if objects used is not picable.

## To Reproduce

Steps to reproduce the behavior:

1. connect the QWidget method with `partial` to one of the Layer events
2. Right-click on layer on layer list
3. select copy

[2022-06-11 16:28] perlman opened #4674 "Assertion error when meshing certain polygons"
## 🐛 Bug

While testing performance of the shapes layer, I found it increasingly easy to produce "complex" shapes (subjective term, not math) which would cause an exception in the triangulation code used to generate the meshes.

This may be a `vispy` issue instead. I need to first verify that napari isn't doing anything weird with the vertices.

## To Reproduce

Sample code:
[code]

Traceback:
[co

[2022-06-11 23:29] #4365 closed, assigned to andy-sweet

[2022-06-11 23:29] #2019 closed, assigned to andy-sweet

[2022-06-11 23:47] jni commented on #4643
@pr4deepr but that's the thing, the slider *is* accurate: it is a global viewer property so it must let you slice through *all* your layers, not just the "first" layer or "last" layer.

[2022-06-12 07:33] github-actions[bot] opened #4680 "[test-bot] Benchmark tests failing"
The Benchmarks workflow failed on 2022-06-12 07:33 UTC

The most recent failing test was on ubuntu-latest py3.9 non-Qt
with commit: 7d27d9f0f5bbcad9be1924cf1937bfab878f2121

Full run: https://github.com//actions/runs/2482509837

(This post will be updated if another test fails, as long as this issue remains open.)

[2022-06-13 09:34] Cryaaa commented on #4384
Hey @jni and @DragaDoncila,
I'm not sure if this belongs here but I am also having the exact problems described in this thread, although I am working with custom colormaps in the form of  dictionaries `colormap = {label_integer : numpy.array(RGBA-value)}`. The strange thing in my case is that the mismatch depends on the length of the colormap that is used. I have a simple minimal working example i

[2022-06-13 09:55] perlman commented on #4384
@Cryaaa, thank you for chiming in and providing a clear, reproducible, example!

@jni and I believe we've uncovered the problem. While working on #3308, we were stepping through [color_dict_to_colormap](https://github.com/napari/napari/blob/5985c54f8b9fc6231548dea5835359dbfd3c1fd3/napari/utils/colormaps/colormap_utils.py#L241-L269) and think it's doing some weird things with the control points.

I

[2022-06-13 10:05] Cryaaa commented on #4384
@perlman,
No problem :)

[2022-06-13 13:05] dagewa opened #4683 "Allow public access to points layer's `_antialias` attribute"
## 🚀 Feature
I am working on a 3D viewer in which a potentially large number of points may be displayed. There is useful information available from an overall view of the points cloud, as well as working closer in. However, at low zoom the points tend to fade to indistinctness. Following [a discussion](https://forum.image.sc/t/adjusting-depth-fading/68181/6) at image.sc, I found that setting

[cod

[2022-06-13 15:08] brisvag commented on #4419
This is now a NAP!

- #4684

[2022-06-14 01:08] jni commented on #4680
@tlambert03 do you know why the [test fail template](https://github.com/napari/napari/blob/cde95f0785912c1c4fb7be728a2d239d29f73084/.github/TEST_FAIL_TEMPLATE.md) doesn't include the repo name in the "full run" URL, which causes the URL to be incorrect and 404? I see that there's a `{{ payload.repository.full_name }}` in the URL but that var seems to be missing.

Anyway, I'm hoping this failure is

[2022-06-14 01:10] tlambert03 commented on #4680
No but I noticed that on another repo recently.  I imagine the payload API has changed since the template was made

[2022-06-14 06:35] #4627 closed, assigned to nobody

[2022-06-14 08:09] Czaki commented on #4680
I also observe (in another repository) that it sometimes works and sometimes does not work. And do not know why.

[2022-06-14 13:36] jni opened #4693 "Proposal: napari.imshow, or changing view_* to return *both* the viewer and the layer"
## 🚀 Feature / Motivation

Probably my most common napari usage involves quickly looking at an image, followed by some operations. If I want access to the viewer and the layer, I currently have two choices:

[code]

*or,*

[code]

The entire point of the `view_*` methods was to *avoid* a 2-line construct, and imho they have ultimately failed at that goal except in the simplest cases where we don't

[2022-06-14 14:27] #4626 closed, assigned to nobody

[2022-06-14 15:03] kevinyamauchi commented on #4693
🤣

My preference would be to modify the existing `napari.view_*` methods to return both the image and viewer because I like the names and it's a breaking change anyway, so I don't think it's too bad to change the return signature. I suppose the downside is that it's more difficult to deprecate slowly/give a warning, but if we do it with 0.5.0 and include it in the "migration guide", I think it's n

[2022-06-14 16:57] jaimergp commented on #2014
I've been experimenting a bit with different headless options, and will soon submit a PR gathering all the possibilities, depending on the configuration of the host. For now, suffice to say that I FINALLY found out how to get the astronaut to show up on a browser tab served from a Docker image!

![image](https://user-images.githubusercontent.com/2559438/173633335-17b6e734-d6c2-4cda-a00a-d0e173f2e9

[2022-06-14 17:16] cnstt opened #4694 "Vectors layer not refreshing on refresh()"
## 🐛 Bug

Vectors layer not refreshing despite having updated elements of the array.
EDIT: Vectors layer not refreshing on `refresh()`

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The viewer should update when changing parts of the array (because it does when you change the whole data at once) or at least the refresh() method should work...
EDIT: The viewer sho

[2022-06-14 19:05] GenevieveBuckley opened #4695 "Seed values passed to viewer.add_labels() behaving incorrectly"
## 🐛 Bug

Passing a seed value in to the `viewer.add_labels()` function does not work the way you'd expect.

## To Reproduce

[code]

All the labels layers here have the same (yellow) colour.

## Expected behavior

I expected every label layer to have a different colour, since they all had a different seed value.

## Environment
[code]

 - Any other relevant information:
This bug also occurs in a

[2022-06-14 19:08] GenevieveBuckley commented on #4695
Experiments:
* We found that seed values using `np.random.random()` worked as expected. Those values always fall between 0.0 and 1.0, which is different than my example above
* We also found that *negative* seed values (using `-1 * np.random.random()`) also worked.
* Oddly, when we tried `1 + np.random.random()` this also worked,
* But seed values like: 1.1, 1.2, 1.3 did not work 🤷

[2022-06-14 19:11] GenevieveBuckley commented on #4695
I'm pretty sure you can use any value you like for numpy seed values, so I expect that seeds in napari should also work the same way.

If consistency with numpy seed behaviour cannot be achieved, we should at least put it clearly in the docs to let people know what the restrictions are.

[2022-06-14 19:11] DragaDoncila commented on #4695
^ To add to this I also tried seeds `[1.1, 2.2, 3.3]` and that works, so it's not even that they're limited by absolute value or anything... It's very unclear what values will and won't work. This might be not a napari thing but a `np` thing or `vispy` thing where we generate the colormaps, but in that case we really should document the `seed` parameter a bit more. Certainly this is totally not ob

[2022-06-14 19:12] Czaki commented on #4694
The lack of refreshing on `refresh()` is a bug. But NumPy does not provide a way to know that values are updated.

[2022-06-14 19:19] Czaki commented on #4693
add argument `return_layer: bool = False` ?

[2022-06-14 20:52] isabela-pf commented on #4667
Hey there! I'd like to clarify what is needed here. I think I agree that overwriting the default Qt icons sounds like a good idea for visual consistency and for properly flipping colors with the theme. Are you asking for

- Just my thoughts on the proposal to overwrite Qt's icons?
- Thoughts on what existing icons might be suited for the range of dialog types we need to cover?
- Or for new icons?

[2022-06-14 21:13] goanpeca commented on #4667
Hi there @isabela-pf :)

I think we already have a warning icon and a help icon we could use?
<img width="400" alt="Screen Shot 2022-06-14 at 4 12 38 PM" src="https://user-images.githubusercontent.com/3627835/173689872-c8d8d8bc-a19c-41ad-b55c-02a0f21653cb.png">
<img width="209" alt="Screen Shot 2022-06-14 at 4 12 09 PM" src="https://user-images.githubusercontent.com/3627835/173689919-d8d42dd0-8c8e

[2022-06-15 02:13] jni commented on #4693
I agree regarding the pattern, but personally I think of images as the first-class layer in napari, with the other ones being adjacent to it, so I'd be ok with `imshow` being the *only* view function, with others requiring multiline.

Additionally, I think the key is for the other names to be abbreviated as well: shpshow, ptshow, segshow/labshow, vecshow, trkshow, srfshow. I quite like them tbh! 😃

[2022-06-15 06:23] jni opened #4697 "How to deal with preferences with multiple environments and multiple napari versions"
### Overview of design need

Preferences are a slightly weird thing in Python, because users typically have more than one Python environment in their machine, and napari is constantly evolving (so some preferences for 0.4.15 might not make sense for 0.4.16, and vice versa, but both versions might exist alongside each other in different environments). Additionally, users might have different prefer

[2022-06-15 06:58] Czaki commented on #4693
`Literal[False]` and `overload` are friends that allow handling this for mypy. But I see potential problems.
But it still could be used in transition time (first warning and behave as the value set to `False` and then breaking change).

[2022-06-15 16:18] jaimergp commented on #4680
@jni

First thing I'd do is to re-run it again to see if it was a false positive. The workflow has a `workflow_dispatch` trigger so we can do this:

![image](https://user-images.githubusercontent.com/2559438/173876241-c70083b0-272d-4058-ae1c-141b5bbe52bd.png)

(hashes taken from before/after in that output).

Running here now: https://github.com/napari/napari/actions/runs/2503636562

Note this is

[2022-06-15 22:20] ctrueden commented on #2686
I'm late to the party here, but just wanted to comment that in microscopy, in quite a few cases, file extension alone is insufficient to evaluate which plugin should be used for a particular file. Especially for `.tiff` (but not limited to `.tiff`—there is also `.obf`, `.h5`, and others), there are a variety of variants that all share this extension but each have special, differently represented m

[2022-06-15 22:42] Czaki commented on #2686
most of the `.tiff` could be reader with one plugin, For example, `tifffile` allow to parse of most of the metadata native (like Icy, or Imagej with bioformats). I prefer to push to have one plugin that could handle all tiff files than have multiple and users need to remember which file use for which tiff.

The big problem with `.h5` is that it is an arbitrary data container. You could store in it

[2022-06-16 03:51] ctrueden commented on #2686
It's doable, but be aware that Bio-Formats supports more than 30 flavors of TIFF with extension `.tif`/`.tiff`. It would be a big plugin!

In case it's interesting, here is a breakdown of all file extensions recognized by more than one Bio-Formats format:

<details><summary>List of file extensions by format count</summary>

Count | Extension
------|----------
2 | cfg
2 | csv
2 | eps
2 | epsi
2 | h

[2022-06-16 11:35] jaimergp commented on #4680
Yep, false positive. [The re-run didn't detect any regressions](https://github.com/napari/napari/actions/runs/2503636562). We can close.

[2022-06-16 14:06] perlman commented on #4674
Similar, but not identical, to #1058. The exceptions are different -- #1058 is regarding an edge not being generated, whereas this exception is from a triangle being created with duplicate vertices.

[2022-06-16 14:36] tlambert03 commented on #4693
I'd actually be ok with this, as I rarely use `view_<>`.  but it's a pretty big break, since these are used _everywhere_.

I'd also be ok with changing the return type to a tuple, but agree that that deprecation would be much harder/more invasive than a name change (hard to do in one step).

I also dislike the return type changing based on `return_layer` argument.  It's true that overloads are the

[2022-06-16 16:05] #4680 closed, assigned to nobody

[2022-06-16 16:37] GenevieveBuckley commented on #2487
I ran into this problem too today, it doesn't work even for a simple 3D image.

The x and y coordinates return sensible values for the corner pixel coords, but the z-slice coordinate is always reported as zero, regardless of which slice the viewer is currently observing.

That's a problem. I would honestly prefer napari not report a value, as opposed to confidently reporting something entirely inc

[2022-06-16 20:33] andy-sweet commented on #4694
Hey @kcpevey - as you recently took a look over the vectors layer + vispy layer, thought this could be a good bug to try to fix.

[2022-06-17 07:24] pr4deepr commented on #4643
ok, I get what you mean.
For the purposes of the plugin, does it make sense to change scale if the viewer wants to look at say, `viewer.layers[0]` in this instance?

[2022-06-17 12:57] tlambert03 commented on #4697
I like this.
I don't love the user interaction required in the "would you like to import from previous environment?"... and it seems like something that could break a lot given the heterogeneity of environments.

how does ipython and or matplotlib deal with this?

[2022-06-17 15:25] haesleinhuepf opened #4705 "Inconsistent default size of points when creating a points layer using PointsData"
## 🐛 Bug

The default size of points, when creating a layer using `PointsData` might be computed from the current size of the field of view (= image size * voxel size)

## To Reproduce

[code]

Assuming the field of view is big, points are hardly visible:
[code]
![image](https://user-images.githubusercontent.com/12660498/174327865-3f7b37c0-474e-4004-baa6-d78b67c1502e.png)

In case the field-of-vie

[2022-06-17 15:39] Czaki commented on #4705
I cannot agree that it is a bug. It could be a feature request. The current point size is determined in pixels. As all other sizes in napari. So when you zoom, also size of points is increasing proportionally.

If I good remember this behavior is used when visualizing proteins for example (@brisvag work).
For me, such use cases cannot be broken by implementing this feature.

[2022-06-17 15:49] brisvag commented on #4705
Yeah, I disagree that this should be default behaviour. This also would make scripts non-deterministic (which we generally tried to avoid in the past), because just depending on the window size, you'd end up with different point size.

This fall back on a old discussion about `Points`: sometimes they indicate, well, *points* (and thus their size only has *relative* meaning), but sometimes (like in

[2022-06-17 15:50] brisvag commented on #4705
A more reasonable approach might be to set the default field of view to something bigger.

[2022-06-17 16:30] haesleinhuepf commented on #4705
Can you guys make a concrete proposal how to make points visible, e.g. if a user does spot detection on a 2048x2048 large image? At the moment the points cannot be seen as they are too small. From a user's perspective this is clearly a bug.

[2022-06-17 16:37] Czaki commented on #4705
this is totally different from what you mention in this issue. Growing point if it is too small it is a good idea. @brisvag it is doable in vispy?

[2022-06-17 16:41] haesleinhuepf commented on #4705
Yeah sorry, I used 1000x1000 in my minimal-reproducible-example code snipped posted above, not 2048x2048. Thanks for pointing this out

[2022-06-17 16:59] brisvag commented on #4705
The real issue that makes them invisible is that antialiasing is enabled, and it uses transparency which is broken in vispy. To get around this, there are two ways:
1. disable antialiasing (Points._antialias = 0); downside, points will be jagged when bigger.
2. set a lower canvas size limit (#3734). Downside: `get_value` does not know about it, and will not see the point if you are outside of its

[2022-06-17 17:21] Czaki commented on #4705
No. You suggest having point size independent of zoom factor. Not make small points visible.

[2022-06-17 17:57] haesleinhuepf commented on #4705
Maybe, I wasn't clear. I'm not talking about independence from zoom level.

I proposed "The default size of points, when creating a layer using PointsData might be computed from the current size of the field of view (= image size * voxel size)"

The Zoom-level is not in the proposed equation:

[code]

[2022-06-17 19:49] kcpevey commented on #4694
Thanks for the bug report @cnstt !

---

TLDR;
For the time being, the best workaround is to replace `data` completely (i.e. `viewer.layers[0].data = np.array([[0,10],[0,1]])`) rather than just changing a slice.

---

I had a look and am able to reproduce the issue.

As you noted, when you call `refresh()`, the visual display doesn't update, but when you call `viewer.layers[0].edge_width=1` (which

[2022-06-18 02:54] haesleinhuepf opened #4708 "Hybrid npe1-npe2 plugins don't work anymore in napari 0.4.16"
## 🐛 Bug

Hi all,

together with @jo-mueller, I'm trying to program a hybrid npe1-npe2 plugin ([here](https://github.com/BiAPoL/napari-stress)). Key code might be [this](https://github.com/BiAPoL/napari-stress/blob/main/setup.cfg#L63-L67):

[code]

Goal: Have menu entries organized in the Tools menu _and_ be compatible with npe2 as long as there's no menu-support in npe2. In napari 0.4.15, it show

[2022-06-18 11:17] giovp opened #4709 "`grid_layout` not available anymore"
while trying to access `grid_layout` with

`viewer.window.qt_viewer.controls.widgets[viewer.layers["CD36:X:image1"]].grid_layout`

I get:
[code]

yet it seems it's still in the docs?

https://github.com/napari/napari/blob/e0cc713d4454524093bafdd3507ab18c9f86fc2a/napari/_qt/layer_controls/qt_points_controls.py#L40

on another note: I've used to access `grid_layout` to be able to add widgets to the

[2022-06-18 11:22] Czaki commented on #4709
viewer.window.add_dock_widget

https://github.com/napari/napari/blob/e0cc713d4454524093bafdd3507ab18c9f86fc2a/napari/_qt/qt_main_window.py#L729-L775

[2022-06-18 11:31] tlambert03 commented on #4709
Yeah, I’m afraid modifying the layer controls in a plugin isn’t supported at the moment. As the warning you’re seeing indicates _qt_viewer is private and not intended for access (esp by plugins).  This use case would require a fundamentally different/new access point for plugins

(you’re free of course to do it as an end user of napari, but not currently as a plugin modifying other peoples viewers

[2022-06-18 18:58] giovp commented on #4709
thanks for the prompt reply!

this is what I'm doing atm but it gets messy really fast (as layer are added, more sliders and cmaps are added as well) and it gets tricky to track layer states.
![image](https://user-images.githubusercontent.com/25887487/174452457-a0231f34-292b-4123-90c6-f0ce0b656d8a.png)

I get why is private and shouldn't be modified by plugins, but it'd be nice to have a way to "d

[2022-06-18 19:03] Czaki commented on #4709
You may want to connect `viewer.layers.selection.events.active` event and update widget content base on current active layer.

[2022-06-18 19:39] tlambert03 commented on #4709
elaborate?  By dock do you mean lock or otherwise link such that the widget updates itself when the layer does?

[2022-06-20 07:41] brisvag commented on #4709
If I understand correctly, the goal is to have a *single* widget, but have it always refer to the selected layer. Then yes, I would do as @Czaki suggests, as there is no "official" way to do this at the moment.

This use case was actually mentioned as one of the reasons in favor of the tab layout for layer controls in #4381, as it would make the interface for this kind of thing a lot easier.

[2022-06-20 07:49] brisvag commented on #4709
Btw, a random thought: It looks like the thing you're adding is a colormap indicator of some sort. It would be *awesome* if we had a way to add things like that directly on the canvas, just like the scale bar...

[2022-06-20 07:54] Czaki commented on #4709
it looks like support for #3691.

[2022-06-20 08:03] jaimergp commented on #4697
From [IPython docs](https://ipython.readthedocs.io/en/stable/config/intro.html):

They also have a `--profile` flag to load a different configuration.

[2022-06-20 08:17] brisvag commented on #4705
@haesleinhuepf I'm a bit confused, your proposal and your examples seem to say different things to me.

1. The field of view *definitey* includes the zoom level, since higher zoom = smaller field of view. The size of the field of view is determined by canvas size (and shape!) and camera zoom.
2. `image size * voxel size` might be the *screen* size of a specific image layer, or the world space size

[2022-06-20 08:30] brisvag commented on #4694
Yup, that's exactly what I remembered about caching when this issue came up in the meeting. Thanks for digging out the details!

I agree with your assessment: there's no good way to solve this without changing strategy, because mesh computation is expensive and we want to minimize it. This is one of the reasons why I *really* wanted to get #4005 in before working on new slicing behaviour (#4005 wa

[2022-06-20 10:02] brisvag commented on #4709
Not sure if that's a good candidate for technical layers. This is an overlay (i.e: it should not live in *world* space, but *canvas* space).

[2022-06-20 10:22] Czaki commented on #4709
True

[2022-06-20 12:25] haesleinhuepf commented on #4705
Sorry for using the wrong term here. I mean the area that was imaged (image size * voxel size). Hence the entire shown scene, independent from zoom level. Again I am NOT asking for anything that is zoom-related. 3 is the thing I implemented now for all operations that create points and are listed in the tools menu. Thus, the problem is solved on my side. Feel free to close this issue.

The actual

[2022-06-20 12:45] brisvag commented on #4705
Then this sounds like it's exactly the use case for which `experimental_canvas_size_limits` was created :) Is there a reason why you don't think this is the right approach for you in this case? As far as I can tell, absolute point sizes have no meaning in your use case, so this shouldn't be an issue. My impression is that `3.` is just too *finnicky* :P

Will close for now, but anyone feel free to

[2022-06-20 13:13] haesleinhuepf commented on #4705
Just for the record: `experimental_canvas_size_limits` and `_alias` also don't offer a nice default size for points:

[code]

![image](https://user-images.githubusercontent.com/12660498/174608847-1d6ee655-5966-483a-bc13-47b338878d57.png)

My intention was to make it easy for developers to show points that are _just_ visible per default. If the user wanted to visualize points with specific sizes, t

[2022-06-20 13:45] Czaki opened #4714 "Fail of create conda package tests"
## 🐛 Bug

Conda creates package fail with:

[code]

## To Reproduce

https://github.com/napari/napari/runs/6958614736?check_suite_focus=true

## Expected behavior

## Environment

last main

 - Please copy and paste the information at napari info option in help menubar here:

 - Any other relevant information:

## Additional context

cc @jaimergp @goanpeca

[2022-06-20 13:56] psobolewskiPhD commented on #4705
I think it may be the name `experimental_canvas_size_limits` that is adding confusion?
Looking at the original PR https://github.com/napari/napari/pull/3734

The default min is 0 and max is 10K, while you are setting the min and max both to 1K.
Then your GL driver is limiting the actual render size (see https://github.com/vispy/vispy/issues/2078)
Perhaps try
`points_layer = viewer.add_points([(20,

[2022-06-20 13:56] Czaki commented on #4705
I stil do not see how it should work:

1. Change the size of point based on zoom - points added on different zoom levels will have a different size?
2. Change point size until the first point is added? Then keep it to have the consistency of size between points (until the user modifies it from the interface)

And what should happen with points loaded from a disc, from a format that does not contai

[2022-06-20 13:58] jaimergp commented on #4714
Looks like out-of-memory during the feedstock rerender. We can _temporarily_ comment [that line](https://github.com/napari/napari/blob/main/.github/workflows/make_bundle_conda.yml#L92) out; it's just "nice-to-have".

[2022-06-20 14:05] haesleinhuepf commented on #4705
Sorry guys, that's all workarounds for a problem that should be resolved at the source: when points are added without size specification, napari core must make sure the points are visible.

[2022-06-20 14:17] brisvag commented on #4705
Yup, that's indeed what `experimental_canvas_size_limits` was added for (see #429 for the original issue).

Exactly right!

Yes, I agree that `Points` should be visible to avoid confusion. But `experimental_canvas_size_limits` *is* that core solution, not a workaround. Maybe we should default it to a lower limit greater than zero, but I don't think that's a lesser solution than setting the `size`

[2022-06-20 14:19] brisvag commented on #429
I forgot to close this one when #3734 was merged. Closing now!

[2022-06-20 14:19] #429 closed, assigned to nobody

[2022-06-20 15:51] psobolewskiPhD commented on #4705
Why is the `experimental_canvas_size_limits` min default 0?
I think making that say 10, maybe 15 would go a long way towards solving this? (along with _antialias = <.3 on my screen at least)

[2022-06-20 15:54] brisvag commented on #4705
Because it was added as an experimental feature, and setting it to `0` would change nothing about the behaviour at the time. I'm open to changing the default, though I think in that case we should un-experimentalize it and document it, in case someone prefers their points to have a real *absolute* size.

[2022-06-20 15:57] Czaki commented on #4705
Maybe we should not change it by default, but change it for the points layer created by the button? And maybe builtin points reaer?

[2022-06-20 16:13] brisvag commented on #4705
I disagree, because of the points I made above about reproducibility and magic. I'd also like hear what @jni has to say, since he was interested in the `experimental_canvas_size_limits` discussion.

[2022-06-20 18:21] haesleinhuepf commented on #4705
Now I understand the problem you have on the viewer side! Thanks for the explanation.

Wouldn't it make sense to build this logic into a place where the viewer adds the layer and only set the computed default in case the user didn't specify it?

In my use case I'm working with functions that return PointsData (and they have to return that type) that are automagically added to the viewer... Those f

[2022-06-20 18:29] Czaki commented on #4705
but magicgui allows returning size for points. On your side you could change return style to `LayerData` and return `(data, {"size": 100}, "points")`. This may allow you to solve this problem on your side and give us more time to find a proper solution.

[2022-06-20 18:38] haesleinhuepf commented on #4705
Not really. I'm talking about collections of (many) functions that return basic numpy types. Goal is to have the same functions called in napari, which can also be called from jupyter notebooks; using the same API. Side effect: code generation.

To make long story short: A function that is called `detect_spots` must return a list of points. Any other return type doesn't make any sense; at least fr

[2022-06-20 18:49] haesleinhuepf commented on #4705
... and it would be cool if napari-core would make sure that  results of functions returning `PointsData` are visible to the user; ideally in a pleasing size neither half a pixel, nor half the screen.

[2022-06-20 18:58] haesleinhuepf commented on #4705
I have solved that problem on my side (see link in my first post). I'm advocating here for finding a proper solution in napari core.

[2022-06-20 21:26] Czaki commented on #4705
It is much wider problem. Layers created from numpy array does not respect transform of existing layers (so functions that return PointData, LabelsData, etc are problematic if used such data).

So there is a need for general approach for returning data that need calculate part of properties base on viewer state.

[2022-06-20 23:57] tlambert03 commented on #4708
Hi @haesleinhuepf,

I'm afraid hybrid plugins (in the sense that some of the contributions are using the old API and some of them are using the new API) have never been formally supported.  What _has_ been supported is the ability to provide _both_ an npe1 and an npe2 plugin interface, which would be useful if you wanted your plugin to support versions of napari prior to 0.4.13 (that didn't have n

[2022-06-21 02:48] haesleinhuepf commented on #4708
Thanks for the explanation @tlambert03 , I was thinking of something like this happening here. As this was working with napari 0.4.15, I'm wondering if it makes sense to drop support for npe2 in napari-stress to become compatible with napari 0.4.16; or pin napari==0.4.15 and keep the code as it is until npe2 supports menus.

I know and I'm very much looking forward to this! I was thinking of conve

[2022-06-21 03:16] tlambert03 commented on #4708
yeah, if support for napari-tools-menu is the key here, then I'd suggest not updating.

this is something we're already doing.   just about merged... see https://github.com/napari/npe2/pull/75 and https://github.com/napari/npe2/pull/186
strictly uses the AST, no install and import required.  Can render a manifest yaml during build step.  (so, I'd hope you'd encourage people to use that, and perhap

[2022-06-21 03:29] haesleinhuepf commented on #4708
Oh my god, this is soo cool. Were you reading my mind or was I reading yours? :-D

Of course I will. I btw don't believe many people were implementing napari-tools-menu-compatible things. Also we did a couple of other things under the hood of the tools menu but these things can all be done using other decorators. No big deal.

Wow. Thanks again! And no hurry. As soon as you think I should try out

[2022-06-21 03:31] haesleinhuepf commented on #4708
I'm closing this as my question is answered. Thanks again!

[2022-06-21 07:24] jo-mueller commented on #4708
@haesleinhuepf maybe a short sidenote:

I *think* npe2 may already be able to do just that: It provides a convert/validate command line tool to create napari.yaml from npe1 plugins! Not sure whether that's what you had in mind :)

[2022-06-21 21:45] perlman commented on #4695
This is an interesting quirk of `low_discrepancy_image`. It clearly works for values `[0.0-1.0)`, which are what @jni and I initially tested with (you know, `random.random()` 🙃). I agree with @GenevieveBuckley that we should either behave as expected with any floating point value _or_ document the behavior and generate a warning. Preferably the former.

Here's a simplified case, showing the

[code

[2022-06-21 22:20] perlman commented on #4695
Well, the problem is pretty clear. In `low_discrepancy_image`, we do `(image_float - np.floor(image_float))` (effectively `%`), which will be identical if the seed values are exact integer values apart.

It seems to me that the right solution is to document `seed` as being `[0,1.0)`, or, alternatively, we can perform a hash function on the seed itself...?

@jni What do you think? Our shader in #33

[2022-06-22 11:54] giovp commented on #4709
thanks all for the discussion! Let me answer briefly:

maybe wrong word but by dock I mean to actually add the widget to the layers control panel (as was available before
see image in here: https://github.com/napari/napari/issues/4709#issue-1275764819 where "percentile" would be the slider controlling the clipping and the colormap). This way, by changing the layer, the percentile slider would visu

[2022-06-22 11:59] tlambert03 commented on #4709
ah, ok.  Well yeah, that's a thing (access to the private _qt_viewer model) that's specifically not allowed in plugins anymore.

however... that doesn't mean that you can't still achieve what I think you mean by "This way, by changing the layer, the percentile slider would visualize in the right state when it was set for that specific layer.".  You just need to connect the appropriate [layer event

[2022-06-22 13:31] psobolewskiPhD commented on #4709
I think the idea is to have a color bar, that shows the colormap lookup table values.
So it would reflect what the numerical values of the underlying data are for the color shades using the colormap and contrast limits.
I also think this is valuable—in ImageJ this is called the `Calibration Bar`:
https://imagej.nih.gov/ij/docs/menus/analyze.html#cbar
It could also be used to provide depth coding i

[2022-06-22 13:43] brisvag commented on #3314
Checking back on this; it seems that napari no longer freezes if a simple `.` is entered! Instead, we get a normal `SyntaxError` and napari keeps working fine. We do get an additional Warning, but I would say we can close this issue and maybe @Carreau can address this upstream, if it makes sense.

[code]

[2022-06-22 13:43] #3314 closed, assigned to Carreau

[2022-06-22 13:45] brisvag commented on #3005
Checking back on this. What do we think about the padding proposal if higher `ndim` is passed, and error if lower is passed? cc @jni

[2022-06-22 14:18] brisvag commented on #3698
Ok, took a look at this (at last :laughing: ) and the issue is cause by the fact that the autoscale on `set_view_slice` only happens for `contrast limits`, and not `contrast_limits_range`. It's easy enough to replace this, but I'm not 100% sure we *do* want to reset the contrast limits *range* every time we change slice, cause this could cause us to lose the contrast picked in a different slice. O

[2022-06-22 14:19] brisvag commented on #3698
Here's a minimal example:

[code]

[2022-06-22 15:07] brisvag commented on #3719
#4096 was actuallly a duplicate of this, and was fixed (or at least, "guarded") by #4184.

[2022-06-22 15:07] #3719 closed, assigned to nobody

[2022-06-22 15:33] brisvag commented on #3995
Closed by #3999!

[2022-06-22 15:33] #3995 closed, assigned to nobody

[2022-06-22 15:38] brisvag commented on #4419
Closing this, since the discussion has been moved to the NAP.

[2022-06-22 15:38] #4419 closed, assigned to nobody

[2022-06-23 00:34] chili-chiu commented on #4531
After today's community meeting and also a brief discussion at the docs working group, here's the summary of the possible solution moving forward. @alisterburt and everyone please see if this correctly describes what has been discussed.

Current situation:
The past events/workshops are added to [napari.org](http://napari.org/) > Usage > napari workshops, with links to the materials that are hosted

[2022-06-23 05:27] kevinyamauchi commented on #4531
Thanks for the nice summary, @chili-chiu ! I am sorry I missed the community meeting - sounds like there was some great discussion.

Quick clarifying question: do we think there can/should be different places for listing what napari events have taken place and for hosting workshop/event materials? Based on [@psobolewskiPhD 's comment on zulip](https://napari.zulipchat.com/#narrow/stream/311822-hac

[2022-06-23 06:33] psobolewskiPhD commented on #4531
Yeah, along what @kevinyamauchi wrote, I think there is room for a listing of past events/workshops/hackathons that have been organized, say in the Community pages? Maybe some why to scrape from the calendar? (assuming those events do go on the calendar)
This would make those events public record and verifiable, in a central location rather than zulip threads. This would both show how active the c

[2022-06-23 09:40] wahabk commented on #4600
Thank you for the help guys, my qt installation is working but lamberts explanation makes sense.

For now I am working around this by lazily importing my widgets so that they are only created when I need them

I will aim to remove magicgui decorators from my code and convert them to qwidgets classes, as I had issues before with magicgui and instantiating multiple napari windows

[2022-06-23 09:40] #4600 closed, assigned to nobody

[2022-06-23 10:51] jluethi commented on #4531
For community contributions, this documentation of best practices & how to do them would be very useful! For example, I had a [little intro to napari workshop I held at FMI in early June](https://github.com/jluethi/napari-animation-tutorial), but had not figured out a good way to provide example data publicly and if there are instructions for e.g. zenodo already linked at the workshop page, I coul

[2022-06-23 12:07] Czaki opened #4726 "Shortucts in napari require click on canvas to switch ViewerModel in context."
## 🐛 Bug

Move mouse above additional canvas (QtWiewer) docked in plugin are does not switch context for a shortcut. Context is switched only when clicking on the canvas. Because vispy does not provide the proper way to inform about leaving canvas then shortcut may use wrong data (like mouse coordinate).

## To Reproduce

Steps to reproduce the behavior:

1. switch to #4665
2. start the example fr

[2022-06-24 01:33] lucyleeow commented on #4456
Currently the output for me looks like this:
[code]

Should we now include both the hook specs and npe2 plugin information?

[2022-06-24 01:37] tlambert03 commented on #4456
Yes, but there’s a lot in flux here at the moment,  so it’s not immediately clear how best to do this in a way that won’t change very soon.   See https://github.com/napari/npe2/pull/192 which is doing exactly this for npe2, so the feature is there… but the “merging” with npe1 plugin manager output is the issue

[2022-06-24 01:40] lucyleeow commented on #4456
Thanks, will leave for now then!

[2022-06-24 01:52] lucyleeow commented on #2033
Can this be closed by #2518 ?

[2022-06-24 10:20] Carreau opened #4731 "Turn on DeprecationWarning in Gui at startup."
## 🚀 Feature

Table to edit/activate/desactivate warnings filters from the napari Setting UIs, with some default filters, like turning on DeprecationWarnings.

## Motivation

From https://github.com/napari/napari/pull/4725#discussion_r904766883, There are various uses of `FutureWarning`s to make them visible in the UI. I think it might be a better idea to add a filterwarning("default", "napari.*",

[2022-06-24 12:02] VolkerH opened #5260 "Default styling: Disabled PushButtons can't be distinguished from Labels"
When using magicgui `PushButton` widgets in napari, the default styling of a disabled button is to not show the box around the button text. This essentially makes the widget look like a text Label widget.

I think this styling is unfortunate:

* Depending on the context, the user may not realize that there is a button that may become activated through some means.
* The user may mistake the button

[2022-06-24 16:21] cnstt commented on #4683
This shouldn't be too hard to to, as I'm currently doing 2 other PRs about public access. Maybe @Czaki or @tlambert03 is this something we want? (because I don't want to work on it, if this change is not desired :laughing:  )

[2022-06-24 16:35] tlambert03 commented on #4683
Fine with me I think, but I'd yield to @jni @alisterburt @brisvag @andy-sweet on this one

[2022-06-24 16:35] Czaki commented on #4683
I do not work with such type of data. I would rater call @brisvag or @alisterburt.

[2022-06-24 17:06] brisvag commented on #4683
I'm ok with having `antialias` public. I think @sofroniewn was "against" it when I first introduced the attribute (see https://github.com/napari/napari/pull/3430#issuecomment-984199297), maybe he can comment here now.

I would also still argue in favor of setting a non-zero value (even just 1 or 2 pixels) for the minimum of `experimental_canvas_size_limits`, just so the points never disappear (see

[2022-06-24 17:26] alisterburt commented on #4683
I'm absolutely in favour, I don't think the upstream issue will be fixed any time soon so have no problem with a public API here - PR incoming

[2022-06-24 17:27] DragaDoncila commented on #2033
@lucyleeow it sure can!

[2022-06-24 17:27] #2033 closed, assigned to nobody

[2022-06-24 17:42] cnstt commented on #4683
Thanks for the PR @alisterburt, I would have done it but you have already done the work so it's great, thanks! ;)

[2022-06-24 17:43] alisterburt commented on #4683
@cnstt sorry I totally missed that you were going to take it on!! Hopefully this frees you up to take on something bigger 😉

[2022-06-24 17:50] tlambert03 opened #4736 "Deferred translation strings with kwargs cannot be deepcopied"
## 🐛 Bug
#2913 fixed a bug in calling deepcopy on a TranslationString, but I just ran into a case where it fails when kwargs are provided and deferred is True:

[code]

<details>

[code]

</details>

cc @goanpeca, @Carreau

[2022-06-24 18:02] alisterburt opened #4737 "rename `Tracks.tail_width` to `Tracks.width`"
## 🧰 Task

A `Tracks.head_length` API was added to the tracks layer by @JoOkuma in #3168. @andy-sweet noted in #4688 that `Tracks.tail_width` is now a bit of a misnomer as it adjusts the width of both the head and the tail.

We should probably deprecate `Tracks.tail_width` in favour of `Tracks.width`

[2022-06-24 18:16] tlambert03 opened #4738 "[Task]: Track down all the places needing `@ensure_main_thread`"
## 🧰 Task
A really awesome thing would be track down all/more of the places in the napari codebase that _must_ be executed in the main thread, and put the `superqt.utils.ensure_main_thread` decorator on them.  This was re-raised by @andy-sweet in #4543, and it would really make asynchronous coding a lot easier both internally, and for anyone using the `@thread_worker` decorator.

As a very simple

[2022-06-25 00:01] JoOkuma commented on #4274
Hi, everyone.

I implemented an initial version of the [napari-graph](https://github.com/napari/napari-graph). With this implementation, we'll speed up the graph initialization and it'll allow us to manipulate the graph.

Beyond that, I think it might be doable to have a single layer for graphs and tracks, where tracks are a directed graph with a sliding window (thick slices) over the time dimensi

[2022-06-25 09:56] alisterburt commented on #4274
Really exciting @JoOkuma ! Would love to see a demo soon :)

[2022-06-25 12:29] tlambert03 opened #4740 "Feature: "light viewer""
## 🚀 Feature
Just found myself in a non-napari environment, wanting to to just view some (3D) images relatively quickly.  When i considered installing napari, I found myself thinking "ugh... such a heavy dependency, so slow to import and startup, I'll just use matplotlib or something...".  And that feeling is a bummer!

This is by no means a simple feature request, and I'm not even immediately sur

[2022-06-25 15:08] brisvag commented on #4274
<3 I think this shouldn't be a special case for tracks; we should be able to make it part of the general `thick slices` implementation.

[2022-06-26 01:28] jni commented on #4737
👍 from me. I'll point out that this might eventually go under `tracks.style.width` if we unify all visual attributes for all layers under `style`.

[2022-06-26 19:08] Czaki opened #4744 "Formatting of traceback in test output on github actions is unreadable"
## 🐛 Bug

Current formatting of a traceback in test run add coloring but breaks spaces in rendering preview of a traceback in browser making it hard to read:

![obraz](https://user-images.githubusercontent.com/3826210/175829957-6a358522-f9e4-484f-98ba-3a87fa8d5a40.png)

How it looks without formating in the different repository (PartSeg)

![obraz](https://user-images.githubusercontent.com/3826210/

[2022-06-27 01:30] haesleinhuepf opened #4745 "Future warning when testing `if isinstance(x, Viewer)`"
## 🐛 Bug

When testing if a variable is a Viewer, I receive a Future warning that this is no longer possible in napari 0.5.0

## To Reproduce

Steps to reproduce the behavior:

1. Install [devbio-napari](https://github.com/haesleinhuepf/devbio-napari)
2. Open a 4D dataset of shape `[1, d, h, w]`
3. Apply the menu `Tools > Filtering / Noise Removal > Gaussian (n-SimpleITK)`

This warning pops up:
[

[2022-06-27 06:48] Czaki commented on #4745
the problem is here https://github.com/napari/napari/blob/8beccad1aee695dc90dd2d164c3e90211e9e80a8/napari/utils/_proxies.py#L46

this clause should be extended to not catch names in the format `__something__`

[2022-06-27 07:43] #3551 closed, assigned to nobody

[2022-06-27 08:07] jeylau opened #4746 "Smarter property type guess in ColorManager"
## 🧰 Task

A property is understood as continuous if it contains 16+ unique labels: this is problematic for example when trying to map many keypoint names to their colors. I wondered whether there is room to improve the guess that is made: can this hardcoded value of 16 be removed? Or would it be preferable to guess categorical when variables are strings? https://github.com/napari/napari/blob/7f6d

[2022-06-27 08:40] uschmidt83 opened #4747 "`importlib.metadata` issue on import (Python 3.7 & Linux)"
It looks like importing napari 0.4.14 with Python 3.7 on Ubuntu 20.04.4 causes a `ValueError` [here](https://github.com/napari/napari/blob/v0.4.14/napari/utils/misc.py#L65).
See [this GitHub action log](https://github.com/stardist/stardist-napari/runs/7068816275?check_suite_focus=true#step:3:600) for all the details and how to reproduce.

Note: This issue does not occur on Windows or macOS.

[2022-06-27 10:26] dstansby opened #4749 "`magicgui` integration broken when `magicgui` is a child widget"
## 🐛 Bug
Automatic layer selection in a `magicgui` widget doesn't work when the `magicgui` widget is embedded in another parent widget. The example below:

1. Creates a magicgui widget with image layer input
2. Sets that widget as the child of a `ScrollArea`
3. Adds the `ScrollArea` as a widget to `napari`

The widget shows up fine, but layer selection does not work.

## To Reproduce

[code]

## E

[2022-06-27 10:31] Czaki commented on #4749
This is not a bug, but maybe lack of documentation. If you embed magicgui in some widget you need to implement `reset_choices` method that will call `reset_choices` on children widgets. For inspiration you may look here:

https://github.com/4DNucleome/PartSeg/blob/13b151d2ad516803784ab6eebaa707c4b4e7691f/package/PartSeg/plugins/napari_widgets/measurement_widget.py#L102-L105

here is proper documen

[2022-06-27 12:00] kevinyamauchi commented on #4746
Hey @jeylau. Sorry about that. I can see how this would be frustrating.

I am open to changing the behavior. I believe the original decision to have such a threshold was because it is difficult to come up with high contrast categorical colormaps for a large numbers of categories and because integer valued columns could be categorical or continuous. Not catching the string values was an oversight.

[2022-06-27 12:33] #4553 closed, assigned to nobody

[2022-06-27 20:27] neuromusic commented on #4752
moved back to napari/napari, as this is not an issue with the sphinx theme, but rather an issue with the logo linked in the napari/napari README.md

[2022-06-27 20:29] neuromusic commented on #4754
@melissawm is this a sphinx theme issue? if not, we should move it to napari/napari

[2022-06-27 20:51] DragaDoncila commented on #4697
I'm super hesitant on this because I spin up bulk environments to test stuff and this would be annoying. Yes, we could add a preference for whether we ask or not, but I'm also very conscious of preference creep in general.

I think this would be ok, and should probably be done in conjunction with other methods of inferring the correct preference file e.g. the hierarchical approach you're proposing

[2022-06-28 08:29] #4434 closed, assigned to nobody

[2022-06-28 14:34] cnstt commented on #4412
As in https://github.com/napari/napari/issues/4683 I would like to know if this is something you would want to see implemented as a public API @alisterburt @Czaki @tlambert03 or others :)
Because I could try to work on it, but I would rather want to know if this is wanted before starting the work ;)

[2022-06-28 18:08] Carreau opened #4758 "Mini-NAP: Adopt a version of NEP 23 – Backwards compatibility and deprecation policy"
It would be good to adopt a policy on Implementing deprecations and removals in napari.
I found that a number of deprecation warnings are sub-par and might not be actionable,

Plus it would be good to have a release step process to check that the deprecations messages are correct and that any promises of removal are enacted or updated when removal is postponed.

From Nep 23 and emphasis to section

[2022-06-28 18:11] Czaki commented on #4758
Support

[2022-06-28 22:30] Czaki opened #4760 "`Layer.source` should be cleaned on data assign"
## 🐛 Bug
During check #4664 I found that when assigning a data to layer the source is not cleaned.
So if use a plugin that updates the layer if exists (based on name) then the layer still reports the source reader.

So when #4664 was merged the user may get wrong information suggesting that data is loaded from the disc, when it was the output of some plugin.

## To Reproduce

Steps to reproduce th

[2022-06-30 09:11] tlambert03 commented on #4758
yeah this would be great.  thanks @Carreau.

this one point works fine for numpy, given that they've freed themselves from https://0ver.org/ ... and have something much closer to honoring true semver, but we'd need to make some changes to our versioning philosophy for that to work here

[2022-06-30 09:38] Carreau commented on #4758
Yeah, that's why I said it's one of the point we might want to change.
We could also decide to increase minor versions number more often.

[2022-06-30 14:14] dstansby opened #4765 "Add graphical metadata viewer and editor"
## 🚀 Feature
It's possible to store arbitrary metadata on layers using the `metadata` attribute. It would be great to having funtionality built into the napari GUI to view and edit (for certain data types e.g. strings) metadata.

## Motivation

## Pitch

## Alternatives

## Additional context

[2022-06-30 14:14] dstansby commented on #1646
Just looking into some metadata stuff, and it seems like this issue can be closed since it's possible to use the `.metadata` layer attribute?

[2022-06-30 14:49] Czaki commented on #1646
Yes but I cannot do this from mobile app.

[2022-07-01 14:12] cnstt commented on #4747
I don't know if this issue might be worth trying to fix, because napari 0.4.14 is an old version (current version is 0.4.16) and Python 3.7 support has been dropped since napari release 0.4.15 https://github.com/napari/napari/releases/tag/v0.4.15

[2022-07-01 19:02] aeisenbarth opened #4769 "Dask array not computed in Labels layer _raw_to_displayed"
## 🐛 Bug

The function `_raw_to_displayed` may raise an exception when called with a Dask array and direct color mode.

In several places in Napari, Numpy and Dask arrays seem to be used interchangeably (`ArrayLike`). For some uses like thumbnail generation, it is assumed that at some point dask arrays are converted to Numpy. It seems I have an edge case where this does not happen.

https://github

[2022-07-01 20:25] ctrueden opened #4775 "Improve keyboard interaction in the viewer"
## 🐛 Bug

Two related issues, stemming from [this Zulip conversation](https://napari.zulipchat.com/#narrow/stream/212875-general/topic/More.20keyboard.20focus.20fun/near/288215538):

* Buttons with keyboard focus are indistinguishable from others. Most UI themes put some kind of highlight around a button when it has the keyboard focus, so that the user can keep track of where they are, and know th

[2022-07-01 20:25] ctrueden commented on #4775
Ach, if you go straight to github.com/napari/napari/issues/new, it skips you past all the templates, which is how I managed to file this without using the Bug template. Sorry, will fix. Edit: I just added the Bug header... the other stuff about reproducing and expected behavior is all in there, I think. Happy to clarify as needed.

[2022-07-01 20:29] ctrueden opened #4776 "Improve console-related keyboard behavior: shortcut to return focus to viewer"
## 🐛 Bug

Stemming from [this Zulip conversation](https://napari.zulipchat.com/#narrow/stream/212875-general/topic/More.20keyboard.20focus.20fun/near/288215538):

* Pressing the console button on the bottom left opens the console, but does not put the keyboard focus onto the console prompt. You then need to click into the console again after clicking the button, or press <kbd>tab</kbd> 17 times (o

[2022-07-01 20:30] uschmidt83 commented on #4747
I respectfully disagree. If napari claims to support Python 3.7 in version 0.4.14, then it should work.
Also, version 0.4.14 came out on Feb 04, 2022, which is not that old...

[2022-07-01 20:36] cnstt commented on #4747
I agree that it should work, but maybe we could figure out what is blocking you to update to a newer release? I don't know the maintenance policy at napari (I'm not a core developer :laughing:), but I don't know if they continue maintaining past versions... I mean even though it's not that old, I'm imagining myself the burden It would be to maintain several versions (including old ones) at the sam

[2022-07-01 21:00] uschmidt83 commented on #4747
This is not about me personally. I maintain a plugin that's (currently) Python 3.7 compatible and noticed this issue when my daily tests against the latest version of napari (for the respective version of Python) failed.

[2022-07-01 21:11] cnstt commented on #4747
Ah ok I see :) So maybe to raise the minimum required python version to 3.8 would solve the issue in your plugin here?

[2022-07-03 22:31] alisterburt commented on #4747
Thanks for the report @uschmidt83 and for your input @cnstt !

As it says in the linked release notes, we aim to follow [NEP29](https://numpy.org/neps/nep-0029-deprecation_policy.html) in line with the big packages in the scientific python stack to reduce maintenance burden.

I'm not sure why the bug has come up now... we do not yet have the capacity to support older napari versions actively and a

[2022-07-03 22:41] alisterburt commented on #4765
totally agree - there is some draft work over at napari/magicgui#318 which may help and you may find [this blog post](https://chrishavlin.github.io/post/magicpydantic/) interesting too 🙂

[2022-07-03 22:51] alisterburt commented on #4740
Totally agree - here is a quick install in a fresh env
<details open>
<summary>

`pip install --no-cache-dir napari[pyqt5]`

</summary>
<br>

[code]

</details>

Seems like the worst offenders are the big packages (numpy, scipy, pyqt5) but there are definitely lots of smaller ones that come in which we could get rid of.

Out of interest, was the feeling related to the install time or rather the id

[2022-07-03 22:59] tlambert03 commented on #4740
install time is a minor concern (happens so rarely compared to usage).  environment pollution slightly bigger concern... definitely increases the chances of a conflict.  really, I think import time and per-session usage was my primary thought here.  just don't want to have to wait as long as napari takes to look at some data if i'm in an iterative try-something-and-restart mode

[2022-07-03 23:08] alisterburt commented on #4740
I'm with you - the one time I go for jupyter notebooks is when I'm in that mode for exactly that reason, kernel interruption really slows iteration speed

[2022-07-04 07:47] Czaki commented on #4747
Hello @uschmidt83. I also observe this problem in PartSeg but do not have time ealaier to debug this.

The regression is in `importlib_metadata`, not in `napari` itself. In version `importlib-metadata==4.12.0` that was released on the 25 of Jun, they change the behavior for the empty string as input.

The fastest solution for you will be to block this version of `importlib_metadata` for your CI.

[2022-07-04 07:51] Czaki commented on #4740
it may be hard to avoid these packages. Especially numpy and pyqt5. But from the other hand `numpy` is an expected package for any person working with n-dimensionnal data.

but in the first place, we could strip all settings modules, and part of evented structures.

[2022-07-04 09:35] tlambert03 commented on #4740
Yeah, I’m kinda imagining something that loads no “app” related things, like menus, commands, (settings yes, as @Czaki said).  we do need some events, cause it would be nice to have layer controls like contrast, etc.  but it would even be fine to make it a single layer viewer (if that sped anything up)

[2022-07-04 09:49] Czaki commented on #4740
Controls may be lazy-loaded (with possible to controls by boolean args).

[2022-07-04 12:16] #3698 closed, assigned to nobody

[2022-07-04 12:23] kevinyamauchi commented on #4531
I haven't had a chance to look yet too closely, but I saw this on twitter and it may be of interest: a repo for community bonej scripts. It looks like there is some automated zendo archiving, but I'm not sure how this works

https://github.com/bonej-org/bonej-scripts

[2022-07-04 15:55] brisvag commented on #2852
closed by #4725.

[2022-07-04 15:55] #2852 closed, assigned to nobody

[2022-07-05 10:54] jaimergp commented on #4714
Looks like it fixed itself (or [thanks to this](https://github.com/conda-forge/conda-smithy/pull/1636)?). We can close!

[2022-07-05 10:55] #4714 closed, assigned to nobody

[2022-07-05 18:20] aeisenbarth commented on #4769
I found the cause, the run configuration had environment variables set: NAPARI_OCTREE=0;NAPARI_ASYNC=1

After removing these (so no async), the crash does not happen.

[2022-07-05 18:20] #4769 closed, assigned to nobody

[2022-07-05 18:32] michael-sutherland opened #4781 "Pyramid level calculation for multiscale is incorrect"
## 🐛 Bug

When using pyramids in Napari, the level chosen appears to be incorrect. This can cause the application to slow down or crash in certain instances.  Specifically, a lower resolution level should often be chosen than what is actual picked.  The main issue appears to be that the algorithm assumes the layer image fills the entire field of view when picking the pyramid level.  I think this m

[2022-07-05 19:32] ianhi opened #4782 "Installation page dropdowns broken - makes it seem like instructions are missing"
## 📚 Documentation

On the installation tutorial (https://napari.org/tutorials/fundamentals/installation.html) it looks like the code to install is missing

![image](https://user-images.githubusercontent.com/10111092/177401469-98cd97cf-fd16-4cb4-943b-ab6b10feb8a6.png)

on closer inspection these seem to be dropdowns that aren't folding properly. However, I only noticed that after looking a the sou

[2022-07-05 19:56] #4649 closed, assigned to nobody

[2022-07-05 20:08] DragaDoncila commented on #4782
Hi @ianhi thank you for raising this! We've noticed this and have an issue open tracking this problem over on the [napari-sphinx-theme](https://github.com/napari/napari-sphinx-theme/issues/99) repo (as it is an issue with the theme rather than the docs themselves). Totally agree it's super confusing and we're in the process of fixing. If it's ok with you I'll close this issue in favor of the exist

[2022-07-05 20:08] #4782 closed, assigned to nobody

[2022-07-05 21:44] goanpeca commented on #4736
Taking a look at it

[2022-07-06 03:59] jni commented on #4781
Good point @michael-sutherland and I believe I've encountered it before myself. Agree this needs fixing.

[2022-07-06 05:29] jni commented on #4758
Yeah, I'm ok with moving faster in the minor versions, and ending up in 0.99 if need be. I'm also very much in favour of being generally more aggressive in napari regarding deprecations. Even though it is a popular library, we still bill ourselves as alpha, and there have been many instances where a deprecation pathway has been >2x the effort of just changing a thing. So I'd like to keep the optio

[2022-07-06 11:49] jni commented on #4406
Yeah it seems to me this should be public, I don't see a reason why it wouldn't be. Let me see where in the settings I can find this. (If someone can point me to an exact spot that would be handy! CC @Czaki)

[2022-07-06 11:51] jni commented on #4406
A quick rummage didn't turn up any relevant settings. If someone tells me *exactly* what I need to change where I will be happy to help!

[2022-07-06 12:19] Czaki commented on #4406
https://docs.github.com/en/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility

it looks like is should be possible to be done from organizational setting.

[2022-07-06 13:47] brisvag commented on #2666
This was introduced with #3625 and the `shown` property.

[2022-07-06 13:47] #2666 closed, assigned to nobody

[2022-07-06 17:34] #4456 closed, assigned to nobody

[2022-07-06 20:59] haesleinhuepf opened #4785 "Create labels layer of specified size/shape"
## 🚀 Feature
Users should be able to specify size/dimensionality of a labels layer when creating it.

## Motivation

E.g. for measurements of labeled objects one may want to create a labels layer that has a different size/shape/dimensionality than the currently open image layer. E.g. assume I have a 3D+t timelapse dataset open and  want to create a 3D labels layer.

## Pitch

When the user right-c

[2022-07-06 22:13] Czaki commented on #4785
agree

EDIT. I think that it could live in the context menu of add layer buttons.

[2022-07-06 23:24] andy-sweet commented on #4781
Thanks for the write-up here. I'm going to assign myself to this issue because there's some strong overlap with the async slicing redesign I'm working on - we need the non-experimental multi-scale data lookup to work as intended for some of that work to be useful.

I'll start by writing up some test cases based on the great description above.

Thanks @michael-sutherland!

[2022-07-07 05:58] jni commented on #4406
Ok I think I've done it? It was napari org page > Packages [**not** settings] > napari/napari > "Change package visibility". I then chose public and clicked on "I understand the consequences, change package visibility" even though I understood nothing. 🤣 Please close this if the issue is resolved!

[2022-07-07 09:13] Czaki commented on #4406
its Working

[2022-07-07 09:13] #4406 closed, assigned to nobody

[2022-07-07 12:36] jaimergp commented on #4642
This is a problem with your Anaconda installation, I am afraid; nothing to do with `napari` since you would probably obtain the same error if you tried to install `numpy` instead.

A possible workaround is to `pip install tqdm` on your `base` environment and cross your finger. If that doesn't work, reinstalling Anaconda might be simplest way :(

[2022-07-07 12:40] jaimergp commented on #3810
Seeing Python packaged by conda-forge but PyQt at version 5.15 (back in 2021) makes me think that a combination of `conda` and `pip` install commands was used to get to this point (which is not supported). It should work with a fresh environment created like this:

[code]

[2022-07-07 12:40] #3810 closed, assigned to nobody

[2022-07-07 12:45] jaimergp commented on #3578
I am seeing Python packaged by conda-forge but PyQt v5.15 (which was not available on conda-forge back then when this issue was created; it should have been 5.12). This makes me thing that a mixture of conda and pip install commands were used to obtain napari, which can result in all kinds of incompatibilities. As such I am inclined to diagnose this as an installation error that could be fixed by

[2022-07-07 12:59] jaimergp commented on #3221
Qt and PyQt 5.15 are available on conda-forge now.

[2022-07-07 13:05] jaimergp commented on #2199
Is this being done for wheels already? If that's not the case, the conda packages are not doign that either, nor the installers. Let me know if you want me to open an issue/PR to tackle this @jni!

[2022-07-07 13:19] tlambert03 commented on #2199
Hi @jaimergp, a lot has changed since this issue.  we really can't build _everything_ we need up front, because part of the point is that themes/icons can be dynamically declared.

The bigger issue here wasn't as much about dynamic code generation as it was about finding qt executables in the environment.  I'll add two notes:
- since #2285 (which added even more fallbacks here) we haven't had any

[2022-07-07 13:19] #2199 closed, assigned to nobody

[2022-07-07 13:59] Charles-Fieseler-Vienna opened #4789 "Label layer not displaying in 3d"
## 🐛 Bug

3d viewing of label layers produces an error and does not display. Does not crash the viewer. In preliminary investigation, may be due to napari 0.4.14 (napari 0.4.13 works).

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Correct display of layer. Note that sometimes it works; I don't have a reproducible working example, only a failing one!

## Environm

[2022-07-07 14:48] brisvag commented on #2110
I don't know when this was fixed, byt it's fine now! Git bisect was not helpful, it seems to be fixed way back...

[2022-07-07 14:48] #2110 closed, assigned to nobody

[2022-07-07 14:54] brisvag commented on #2832
This was implemented in #2902.

[2022-07-07 14:54] #2832 closed, assigned to nobody

[2022-07-07 15:34] jaimergp commented on #4697
I recently rediscovered the [docs for conda config](https://docs.conda.io/projects/conda/en/latest/user-guide/configuration/use-condarc.html#searching-for-condarc), which might be relevant in terms of where configuration files are searched, the precedence and how conflicting values are merged.

[2022-07-07 21:14] DragaDoncila commented on #2213
Hey folks, I also just reproduced this on main too, on a "just about brand new" environment.

[code]

Does anyone have time to look into this?

[2022-07-07 21:32] tlambert03 commented on #4412
I agree we probably need some public API to generally achieve the hiding and showing of widgets.  But it would be nice to do so in a single method such that we don't need to add a new one everytime we want to show hide another thing.  `viewer.controls.visible = False` and `viewer.layers.visible = False` are simple enough for now, but what about `viewer.console` ... and yes we have two commonly use

[2022-07-08 17:41] michael-sutherland commented on #4781
Depending on timelines, it might be nice to patch the potential crashing.  I threw in an ugly check to make sure I'm not picking a level that is displaying more pixels than the max texture size.  I ended up hard coding the texture size for my computer to make it easy for me.  Here's my snippet from layers/utils/layer_utils.py:

[code]

[2022-07-08 23:43] andy-sweet opened #4795 "Slice layers asynchronously"
## 🚀 Feature

In napari, slicing a layer refers to the act of generating a partial view of the layer’s data. The main use of slicing is to define the data that should be rendered in the canvas based on the dimension slider positions and the current field of view. This feature is about performing slicing asynchronously (i.e. not on the main thread).

## Motivation

Currently, all slicing is perform

[2022-07-10 07:30] github-actions[bot] opened #4796 "[test-bot] Benchmark tests failing"
The Benchmarks workflow failed on 2022-08-28 10:02 UTC

The most recent failing test was on macos-latest py3.9 Qt
with commit: f6bdd6235da23d4d23239653b6e4cf02e7f6d4ac

Full run: https://github.com//actions/runs/2941962944

(This post will be updated if another test fails, as long as this issue remains open.)

[2022-07-10 12:23] haesleinhuepf opened #4797 "Plugin tests suddenly produce errors in napari-core code"
## 🐛 Bug

Hi all,

I'm experiencing a bug in napari on github CI. The detailed error log is [here](https://github.com/haesleinhuepf/napari-segment-blobs-and-things-with-membranes/runs/7270515756?check_suite_focus=true#step:7:99) and these are the last lines of the traceback:

[code]

## Expected behavior

## Environment

 - Please copy and paste the information at napari info option in help menuba

[2022-07-10 12:43] haesleinhuepf commented on #4797
We have the same issue in other plugins as well aparently:

https://github.com/BiAPoL/napari-stress/issues/93

[2022-07-10 13:02] haesleinhuepf commented on #4797
I _think_ this is specific to python 3.7. Dropped napari supporting that version officially?

[2022-07-10 13:06] haesleinhuepf commented on #4797
Answering that question myself: https://github.com/napari/napari/pull/4063

[2022-07-10 14:08] haesleinhuepf commented on #4797
Confirmed: Removing Python 3.7 from the tests solves the issue.

Thanks for reading 😄

[2022-07-10 14:08] #4797 closed, assigned to nobody

[2022-07-10 20:06] perlman commented on #4789
I believe you are seeing an incompatibility between napari & vispy versions.
`setup.cfg` for `v0.4.14` specifies `vispy>=0.9.4`, but I don't believe support for vispy 1.10 came until later.

I'd recommend trying to install an older vispy into your environment, e.g., `pip install vispy==0.9.4`.

Current versions of napari are more strict with vispy versions, e.g. the current version, `v0.4.16` requ

[2022-07-10 22:26] Czaki commented on #4797
@haesleinhuepf https://github.com/napari/napari/issues/4747#issuecomment-1173469950

[2022-07-11 09:27] #3884 closed, assigned to andy-sweet

[2022-07-11 12:51] cnstt opened #4800 "Napari as a plugin depency can break napari conda install"
## 🐛 Bug

Napari as a plugin dependency can break napari conda install.

## To Reproduce

Steps to reproduce the behaviour:

1. Have a Python 3.9 fresh conda environment on Ubuntu 21.10 and installed napari through conda.
[code]
3. Install a plugin that has napari in its dependencies.
[code]
5. Try to launch napari:
[code]

## Expected behavior

It should not break the conda install, after removin

[2022-07-11 16:24] cnstt opened #4801 "3D rendering incoherences"
## 🐛 Bug

When enabling 3d view with several layers, I have detected incoherences.

## To Reproduce

Steps to reproduce the behavior:

1. Have a labels layer at 0.33 opacity
2. On top have another labels layer with 1 opacity
3. On top add an image layer with 1 opacity (in white on the screenshot)
4. When tilting in 3d view, and the bottom most labelmap overlaps the others in the perspective, the b

[2022-07-11 18:29] jaimergp commented on #4800
While this is not technically supported, there might be some ways it can work better:

* Use `pip install --no-deps ...` to make sure you are only installing the plugin and provide the dependencies with conda whenever possible
* Try your luck with the experimental [`pamba`](https://github.com/tlambert03/pamba) tool

[2022-07-11 20:57] tlambert03 commented on #4800
The issue here isn't declaring napari in your requirements, (you actually _should_ do that if you directly import napari, and should probably revert https://github.com/deep-finder/napari-deepfinder/commit/7bcc71552458f5c2cd109fd25df0369e7b9cc267), the issue here is that your dependency `deep-finder` is itself [directly depending on PyQt5](https://gitlab.inria.fr/caronsso/deep-finder/-/blob/improve

[2022-07-11 20:57] #4800 closed, assigned to nobody

[2022-07-11 22:48] andy-sweet commented on #4781
I'm actually surprised by the crashing behavior, as [napari has some existing logic to downsample any image that exceeds that the max texture size](https://github.com/napari/napari/blob/67c50a4bec99d6a0f381276195ccc1ee1210b876/napari/_vispy/layers/image.py#L129), though it is less efficient than your approach. Maybe there's at least one case when that doesn't happen? I plan to add to add at least

[2022-07-12 08:33] cnstt commented on #4800
Thanks a lot for the detailed answer! I will try to explain my situation for each point :smile:

I already know the good practice about PyQt/qtpy in napari, and that's why my plugin itself only has qtpy as a dependency. Unfortunately deepfinder itself needs PyQt for it's own UI elements (not related to the napari plugin). Indeed I could modify it with an extra like [gui] but that's not the top pri

[2022-07-12 10:47] Czaki commented on #4800
@cnstt I cannot reproduce the error on bare metal Ubuntu 21.10. So same version as you report.
So if you still have an error please attach a stack trace (or another error report). I agree that most probably a source of error is installing PyQt5 again.

We may try even try to organize debug session on a zulip/zoom/gather to find real source of the problem.

But first, try to reproduce errors in env

[2022-07-12 10:48] tlambert03 commented on #4800
is your issue just on ubuntu?  I can't reproduce this issue

[2022-07-12 10:53] tlambert03 commented on #4800
i understand where you're coming from here.  and it's "fine" if you want to have a package that only works in certain environments.  I guess the main counterpoints are

1. "principle" :)  ... if you import a package, you should list it in your dependencies
2. ability to declare version: if you eventually use a feature of napari that was introduced after some version, you would have to specify that

[2022-07-12 12:02] cnstt commented on #4800
On Fedora 36 I haven't had this issue at least. Only when trying on Ubuntu 21.10. (I think MacOS worked, but don't have a MacOS to test it now).

[2022-07-12 12:07] tlambert03 commented on #4800
thanks!  Can you paste what error you get?  It sounds kinda like you're running into the classic xcb missing libraries issue, but it's hard to say without more info (and it's also not clear why that would be the case _only_ when you also install napari).

If your error seems to come from qt, can you also try the following, and paste the output?

[code]

[2022-07-12 12:11] cnstt commented on #4800
[code]

[2022-07-12 12:13] tlambert03 commented on #4800
yeah, now try with `QT_DEBUG_PLUGINS` ... it will likely show you exactly what system library it's missing

[2022-07-12 12:14] cnstt commented on #4800
I get

[code]
And a lot of other things, but this is the start and looks to be the most important. An outdated version of Qt seems to be the reason of the issue...

[2022-07-12 12:18] tlambert03 commented on #4800
actually, what I'm really looking to see is probably in that big mass of text.  it will usually tell you exactly what `.so` file is missing.

huh... how did you end up with 5.9.7?  when I follow your environment setup above I don't end up with that.  This feels like an environment setup issue...  Can you run your env setup:

[code]

and then paste the output of `conda list` (I know it's long... bu

[2022-07-12 12:20] tlambert03 commented on #4800
another question.  if you create a fresh environment, without napari or anything, and simply pip install deepfinder and run _its_ gui... do you not also get these xcb issues?

[2022-07-12 12:21] cnstt commented on #4800
This time I was creating a virtualenv and installing napari from pip. (which should work...)
But I will retry with a conda env and paste the output of pip list!

[2022-07-12 12:23] gatoniel opened #4803 "View -> Toggle Menubar Visibility not reversible with Strg+M"
## 🐛 Bug

After deactivating the menubar via View -> Toggle Menubar Visibility or Strg+M it is not possible to recover the menubar with Strg+M.

## To Reproduce

Steps to reproduce the behavior:

1. Deactivate Menubar via clicking View -> Toggle Menubar Visibility or hitting Strg+M
2. Try to recover the menubar with Strg+M
3. Get stuck with napari without Menubar, and therefore without any other s

[2022-07-12 12:27] tlambert03 commented on #4800
Let me give a little bit of a higher-view summary here to let you know what I'm thinking:

in a fresh ubuntu install, Qt won't actually work without additional libraries.  This is why on github actions, we add this `setup-qt-libs` action that [you use in your tests](https://github.com/deep-finder/napari-deepfinder/blob/7bcc71552458f5c2cd109fd25df0369e7b9cc267/.github/workflows/test_and_deploy.yml#

[2022-07-12 12:32] cnstt commented on #4800
Here is the output:
[code]

[2022-07-12 12:34] tlambert03 commented on #4800
well that time you ended up with an updated version :joy:  ... maybe we can throw this one in the "broken environment" pile?

[2022-07-12 12:35] Czaki commented on #4803
fixed in #4636. Will be available in the next release

[2022-07-12 12:35] #4803 closed, assigned to nobody

[2022-07-12 12:41] cnstt commented on #4800
This is soo weird :thinking:
This means I could revert my commit that removed the napari dependency?

[2022-07-12 13:00] cnstt commented on #4800
Indeed  I encounter also these issues, which are resolved when installing the several indicated things :)

[2022-07-12 14:30] tlambert03 commented on #4800
great!  Ok, then it sounds like this is settled?  A lesson in the frustrations of using PyQt on ubuntu, and the terrible tangle of pyqt on conda vs pyqt5 on pypi :)

[2022-07-12 14:31] tlambert03 commented on #4800
yeah, I think that was a red herring.  To be sure, it's tricky to coordinate multiple packages that all use Qt (here, napari and deepfinder), but it's possible.  Feel free to ping me over in your own repos if you want help on packaging/installation strategies

[2022-07-12 14:33] cnstt commented on #4800
Yes and some broken conda environments :thinking:
It is very frustrating to encounter all these bugs, and I'm really sorry to have made you loose time for this :/

[2022-07-12 14:38] Czaki commented on #4800
I use pyenv for manage environments. And all try to work on base anaconda env ends with tragedy.

[2022-07-12 15:29] Czaki commented on #4800
I means, that I use base env only for create separate env using `conda create`. Then work in it.

[2022-07-13 12:10] Charles-Fieseler-Vienna commented on #4789
Thank you for the quick response! I thought I read that discussion carefully, but I clearly missed things

[2022-07-13 12:10] #4789 closed, assigned to nobody

[2022-07-13 20:26] sofroniewn commented on #1881
yup - fixed, just tried it and no error - will close. thanks!!

[2022-07-13 20:26] #1881 closed, assigned to nobody

[2022-07-13 20:31] sofroniewn commented on #1868
Yes this is unfortunately not supported.

I think we should open a PR to remove links that don't work when not logged in and replace them with links to the about page in the napari.org site. Maybe @chili-chiu can make sure this is on the radar for the docs working group. should be a very minimal PR. Thanks!!!

[2022-07-13 23:58] DragaDoncila commented on #2234
This is indeed a bug, and it does not just affect point size, but also other properties. The point is correctly selected, and I think we all agree that its selection is desired behavior. This means we need to explicitly update the `current_*` setters to remove the check that we are in `add` mode.

Tagging this for SciPy sprint this weekend!

[2022-07-13 23:59] kevinyamauchi commented on #2988
I just tested this on main and it appears to no longer be an issue, so I am closing for now. Please feel free to reopen if you experience it!

[2022-07-13 23:59] #2988 closed, assigned to nobody

[2022-07-14 00:00] sofroniewn commented on #4694
Hmm, agreed - this isn't ideal. Some thoughts are - we might want to pull mesh generation out of the [napari/layers/vectors.py](https://github.com/napari/napari/blob/main/napari/layers/vectors/vectors.py) and put it in the [napari/_vispy/layers/vectors.py](https://github.com/napari/napari/blob/main/napari/_vispy/layers/vectors.py). What this does is then say that from napari's perspective how we a

[2022-07-14 00:07] kevinyamauchi commented on #3292
Hello @liaprins-czi ! Thanks for this issue. Since we are still working on layer groups (as far as I know), I have removed the "good first issue" label. Please feel free to re-add it if I misunderstood the goal of issue or the state of napari layer groups!

[2022-07-14 00:09] tlambert03 commented on #3292
i don't think this is about what we've been calling layer groups, but rather about "stacking" and splitting layers. I'm not quite sure what more need to be done here, since you can do it from the layerlist context menu?

[2022-07-14 00:10] sofroniewn commented on #3005
I guess this is relevant for Shapes, Vectors, and Points where we allow you to pass in a kwarg that then isn't settable later. I guess we could say that we should never do that. If you can pass an input then you should always be able to set it later. I'd probably trim rather than error. I think if we can do that consistently across all layer types and add some nice round trip tests then I'd be ok

[2022-07-14 02:18] sofroniewn commented on #4683
Given the need I'm fine with this - i was just trying to limit too rapid growth of our API. I have approved #4735

[2022-07-14 02:28] sofroniewn commented on #4274
Awesome @JoOkuma - great to hear about progress here!!

@quantumjot you might find this exciting! if you or any of your team want to check napari-graph out, see this comment https://github.com/napari/napari/issues/4274#issuecomment-1166144787

[2022-07-14 02:41] #1646 closed, assigned to nobody

[2022-07-14 03:09] sofroniewn commented on #3221
Yay! I think this can then be closed. If not someone can please reopen - thanks!!

[2022-07-14 03:09] #3221 closed, assigned to goanpeca

[2022-07-14 16:06] liaprins-czi commented on #3292
Hmm I do not actually remember anythign about making this issue now that it's been almost a year ago haha. But from context I can tell I created it as a design-specific issue in response to [#1543](https://github.com/napari/napari/issues/1543) where @sofroniewn said "we should add some GUI button or keyboard short cuts to split/ combine layers". I will reassign to @Lisa-CZI and @isabela-pf since t

[2022-07-14 17:11] sofroniewn commented on #2213
Maybe @brisvag could take a look as it might be vispy related?

[2022-07-14 17:24] JoOkuma opened #4813 "[bug] painting options not working"
## 🐛 Bug

Alternative painting options are not working (e.g. alt, shift, control), space does work (pan/move).

Here I tried using them but it just did the default painting, with the exception of the pan/move.

![labeling_options](https://user-images.githubusercontent.com/21022743/179044996-bdfedac0-517c-4fff-ba5a-c4ed5c69aa39.gif)

## To Reproduce

Steps to reproduce the behavior:

1. open napari

[2022-07-14 17:58] andy-sweet commented on #3005
Sorry, I'm catching up here and trying to be clear, so excuse any stating the obvious.

As a general design principle (i.e. not specific to napari), I think it's fine to have an init parameter that doesn't have a corresponding property setter. In my opinion it's preferred because (public) mutable state is one of the common enemies of good design.

For napari and its layers/models, there is often m

[2022-07-14 18:34] psobolewskiPhD commented on #4813
Related issue:
https://github.com/napari/napari/issues/3926

[2022-07-14 20:44] andy-sweet commented on #4694
I like the idea in term of the semantics - the meshes should be more associated with the visualization/rendering (i.e. vispy) than the data/model (i.e. layer). But I don't immediately see how it would make solving this problem easier - we still have to work out when to regenerate them. Separating them might actually make things harder, though the vispy layer does have access to the napari layer, s

[2022-07-15 03:56] sofroniewn opened #4815 "Close confirm dialog should tell people they can disable dialog through preferences or say never ask again"
## 🧰 Task
Like @tlambert03 remarks here https://github.com/napari/napari/pull/4637#issuecomment-1156640165 I have just discovered this behaviour and it also drives me a little nuts. I'm grateful there is a way to disable it through the preferences, but that required me reading the GitHub to discover. It would be nice it the close dialog either told people they can disable in the preferences or eve

[2022-07-15 09:54] tlambert03 commented on #4815
Yeah a checkbox would be awesome

[2022-07-15 11:28] jduffield65 opened #4816 "Adding Points Layer with out_of_slice_display and shown"
## 🐛 Bug

I can't seem to add a points layer which uses both the `shown` and `out_of_slice_display` parameters.

## To Reproduce

If I run the following code:
[code]
I get an error:
<img width="1124" alt="napari_bug" src="https://user-images.githubusercontent.com/44460382/179214154-6a7520aa-7e77-4818-be08-7c3e69633a73.png">

But it does work if I set `shown=[True, True]`.

## Expected behavior

To

[2022-07-15 13:58] d-v-b opened #4818 "Viewer lock up during data access"
## 🐛 Bug

Napari locks up completely while accessing data.

## To Reproduce
In this example, I generate a small dask array (should load fast) and a transformed version of that same array where each chunk is delayed by 8 seconds, which should load in a minimum of 8s, potentially more depending on the dask backend. Note that we know in advance the shape and datatype of the slow array. The only slow

[2022-07-15 14:13] Czaki commented on #4818
@andy-sweet is working on implementing async access to data.

[2022-07-15 15:00] jni commented on #4818
@d-v-b this can't possibly be the first time you encounter this 😂 but tbh I'm not sure that there is a specific issue for it so thanks! 😂 This is a high priority and as @Czaki mentions, @andy-sweet is actively working to fix it.

[2022-07-15 15:02] jni commented on #4816
Thanks for the bug report @jduffield65!

[2022-07-15 15:21] jni commented on #4813
See also #4814 — fix might be coming real soon! 🎉

[2022-07-15 15:37] andy-sweet commented on #4818
See the tracking issue (#4795) for more details and feel free to comment there.

[2022-07-15 15:47] tlambert03 opened #4821 "Feature: cached views (for toggling visibility)"
## 🚀 Feature
It's nice that we don't unnecessarily render layers that are not visible, but it's a shame that toggling visibility off and back on is now a rather expensive operation (taking about 5 seconds on my computer).  I very frequently want to toggle the visibility of a labels layer to evaluate how i'm doing, but it's kinda infeasible for 3D data at the moment.

### Pitch

maybe we could have

[2022-07-15 15:59] tlambert03 opened #4822 "[Feature] add-or-update layer"
## 🚀 Feature
I find myself repeating this chunk of code a lot in various scenarios where I want to create a layer if it doesn't exist, or update it if it does.

[code]

how do @napari/core-devs  feel about a convenience around that?  Useful?  or API creep?

It could be either a new parameter to all of the `add_*` methods (like `replace`, or `clobber` or something) that overrides a layer of the sam

[2022-07-15 22:06] alisterburt commented on #4822
Super supportive! I slightly prefer the parameter to `Viewer.add_*()` to the new `Viewer.add_or_update()` but wouldn't oppose either :)

[2022-07-15 22:57] Czaki commented on #4822
I prefer `add_or_update`, where parameters different from data (point and edge colors are treated as data) will be updated only if the layer is created.

[2022-07-16 07:35] alisterburt commented on #4822
I would expect the opposite behaviour, any parameters specified would also be clobbered on an existing layer...

[2022-07-16 08:04] jni commented on #4822
Yeah I'm unsure:

I think it's both? 😂 @Czaki and I just had a conversation about how enormous our `add_*` function signatures are now, so I am wary of adding yet another parameter. On the other hand `add_or_update` is ugly.

Anyway, I'm weakly in favour of the extra parameter.

[2022-07-16 08:25] Czaki commented on #4822
from my point Is that I return some default view (like colormaps) but if the user decides to change it to better fit his requirements (like colorblindness) then it should not be overwritten.

But this is connected with only parameters connected to rendering. Many others should be updated.

[2022-07-16 09:05] alisterburt commented on #4822
@Czaki interesting, I was thinking about it from the point of view of someone using napari interactively who would then think 'oh, why didn't my parameters get set' - both arguments are totally valid and incompatible 😂

[2022-07-16 09:22] Czaki commented on #4822
After longer think. I do not like additional paremeter to `add_layer` because when I will be reading someone else code the semantic that comes from name of function will mean they here a new layer is created. Using one of ~30 parameters to change semantic will make it harder to understand.

Having separate name for me will produce more readable code.

The next thing is that we currently does not h

[2022-07-16 13:00] tlambert03 commented on #2622
i think this was added in #2658

[2022-07-16 13:00] #2622 closed, assigned to nobody

[2022-07-16 13:09] tlambert03 opened #4824 "Layer tooltips not working (since v0.4.11)"
## 🐛 Bug
Just noticed that #3204 broke #2658 ... (Window no longer even has a `tooltip_menu` attribute anymore)
so this feature has been broken since v0.4.11.  but it was never detected by tests, and it looks like no one has noticed.  @Czaki, is this still a feature that you want to have and fix?  Or does the fact that no one has noticed mean we can trim this one?

[2022-07-16 13:56] Czaki commented on #4824
![Zrzut ekranu z 2022-07-16 15-55-04](https://user-images.githubusercontent.com/3826210/179357885-372734fd-d833-45e7-a991-2db156ad8c79.png)

Could you explain what you mean when writing that it is not working? This screenshot I do a moment ago on the main branch.

[2022-07-16 14:36] tlambert03 commented on #4824
ah, ok sorry my bad.  At the very least, there's some hanging/stale code in qt main window:
https://github.com/napari/napari/blob/458a7e0f0a15c17fab12cb5ae45cbfc591fa303e/napari/_qt/qt_main_window.py#L634-L637

that's the only reference I can find to `Window.tooltip_menu`

[2022-07-16 15:04] jamesyan-git commented on #2234
I will be working on this today at the napari sprint :)

[2022-07-16 15:16] Czaki commented on #4824
Not only this one.
I remove few of them in #4817

[2022-07-16 16:39] andy-sweet commented on #4822
If I understand correctly, the `ViewerModel.add_*` methods mostly pass through the arguments to the corresponding layer type initializer and add the layer the layer list. I think the only exception is `add_image` which has the extra `channel_axis` argument, which we don't like (https://github.com/napari/napari/issues/3019).

I don't like adding an extra parameter like `update` to `ViewerModel.add_

[2022-07-16 16:48] tlambert03 commented on #4822
i'm swayed by the argument for `ViewerModel.add_or_update_layer`.

yeah it's related.  Though I don't really see that as magicgui specific.  magicgui is just one of the things that makes the most use of our `LayerDataTuple` idea... but the idea of representing layers in pure python types (and not forcing someone to import napari to pass napari-compatible data) was a "valued" idea before our magicg

[2022-07-16 20:03] DragaDoncila commented on #4785
+1 to this feature, and I think we should have it for all editable layer types i.e. `points`, `shapes` and `labels`

[2022-07-16 20:38] haesleinhuepf commented on #4785
I think points and shapes layers are not limited in size, are they?

[2022-07-16 20:46] Czaki commented on #4785
they are not limited in size but limited in dimensions (on create, you decide how many dims have such layer).

[2022-07-16 22:17] #2234 closed, assigned to nobody

[2022-07-17 08:19] jni commented on #4785
I think better than context menu — on click, you get a two-item menu where the option under the cursor is the current default size, and the other option is to specify another value. This will help both discoverability and for users to understand what the default behaviour of the buttons is.

[2022-07-17 16:23] brisvag commented on #4694
I think I went down this rabbithole before (moving the mesh generation logic to the `VispyLayer` side), but found it even harder if not impossible, because you need to keep track of the viewd *slice*, which normally happens on the napari side... If someone can figure it out, I agree that it would be *theoretically* better, but I'd rather prioritize efforts towards #4005.

[2022-07-17 16:47] DragaDoncila commented on #4726
@Czaki I think this was fixed by #4768?

[2022-07-17 16:53] Czaki commented on #4726
No. There is a try to fix this in #4762, but it has too many side effects.

[2022-07-17 19:02] cajongonzales commented on #4624
After some investigation it appears that `dims.py` defaults to `ndims=2`. If you use the Viewer class to create an `axis_label` without passing data then `dims.py` will trim the `axis_label` tuple down to `ndims=2`. The best solution I can see is to not trim `axis_label` if they are specified. Currently the `Viewer` class does not take `ndims` which could be another solution to the issue but would

[2022-07-17 19:08] DragaDoncila commented on #4624
Thanks for the additional detail @cajongonzales! I tend to agree with the linked comment from Talley that `axis_labels` shouldn't be as stringently checked as e.g. `order` on init, as I can easily imagine wanting 5 dimension labels but not immediately loading a 5D layer.

[2022-07-17 20:07] #4571 closed, assigned to nobody

[2022-07-17 20:17] mstabrin commented on #4816
Hello @jduffield65, could you install the current version of the `main` branch and test it there?
I think I fixed this issue some weeks ago :)

PR: https://github.com/napari/napari/pull/4699

[2022-07-18 07:59] brisvag commented on #2213
This seems to be quite deep... I took a look, and I *think* it's something caused by how the transform chain in vispy combines with the size determination inside the vertex shader in `Markers`.

[2022-07-18 08:44] jaimergp commented on #4796
Looks like further runs didn't reproduce the regressions, so it can be considered a false positive.

[2022-07-18 08:51] brisvag commented on #2213
Opened vispy/vispy#2357 to track down the problem, with a vispy-only reproducible example.

[2022-07-18 11:09] GenevieveBuckley opened #4834 "Builtin reader plugin is not handling HDF5 files correctly"
## 🐛 Bug

Although HDF5 files are listed as accepted by the napari builtin reader, attempting to
drag and drop a `.hdf5` file into napari produces an error.

Is there an extra, optional dependency I need to install? I've tried installing [h5py](https://www.h5py.org/).

## To Reproduce

Steps to reproduce the behavior:

1. Download [one of the CREMI HDF5 files](https://cremi.org/data/)) as an examp

[2022-07-18 11:20] Czaki commented on #4834
I think that h5 support should be removed from builtins as h5 is not a specific file format but rather a generic container that inner structure depends on an author's idea.

[2022-07-18 12:46] perlman commented on #4238
I have a minor update. We can get an OpenGL 4.1 context by [modifying vispy to request the 4.1 core profile](https://github.com/perlman/vispy/commit/6e17ddbb8d8de59e7ba28f20480915084813fccd).

This works insofar that napari will start and report using OpenGL `4.1 Metal - 76.3` and GLSL `4.10`.

Unfortunately, that's where the good news ends. Here's the list of problems I've been playing whac-a-mol

[2022-07-18 12:57] brisvag commented on #4238
*mac-a-mole* :smirk:

Sounds like good-ish news to me, thanks for tracking this down! I'm sure we can find a way to make this work. There are already several mechanisms for translating shaders between versions, so at worst we just add one more. Looking forward to the conversation over at vispy, I'm sure we'll get a lot more feedback from the devs!

[2022-07-18 13:56] haesleinhuepf opened #4836 "Label layer: independent brush size for eraser"
## 🚀 Feature
Have two different brush sizes; one for the brush and one for the eraser.

## Motivation

When annotating label layers, I find myself often doing this click-/workflow involving back-and-forth changing the brush size:

1. Activate brush
2. Change the brush size to a specific "fine" value, e.g. 3
3. Annotate some region
4. Activate erase
5. Change brush size to something very large (e.g

[2022-07-18 14:00] haesleinhuepf opened #4837 "Labels layer: Zooming while brush is activated"
## 🚀 Feature

It would be cool if the mouse wheel allows zooming in and out while the brush tool is activated on a labels layer.

## Motivation

While annotating small structures on a large image, I'm zooming in and out between drawing lines. It would be cool if this was possible without switching between brush and zoom tool.

## Pitch

When I use the mouse-wheel while the brush is activated, noth

[2022-07-18 14:38] Czaki commented on #4837
Might #4814 be a solution for this issue? Holding 5 will switch mode for a moment.

[2022-07-18 15:23] haesleinhuepf commented on #4837
I'd like to avoid using the keyboard in case a convenient user interface is possible without. I outlined above how this could be done single-handed.

[2022-07-18 16:03] Czaki opened #4838 "`NapariQtNotification` show as separate dialog when use only QtViewer"
## 🐛 Bug

When using `QtViewer` (for example in PartSeg)  and there is called `show_info` (For example press A when having active points layer in current main) the

## To Reproduce

Steps to reproduce the behavior:

1. run this script:
[code]
3. press letter A

![Zrzut ekranu z 2022-07-18 18-04-18](https://user-images.githubusercontent.com/3826210/179553949-fddf9104-20cb-4437-b736-455a1264a3e3.png

[2022-07-18 16:10] tlambert03 commented on #4838
thanks.  For what it's worth, I don't actually see a dialog on mac (and I suspect windows too).  I _have_ seen it on linux where the moment you make a window it shows though, (without content, as in your video).

In any case, I think this can be fixed either  in the `__init__` here:
https://github.com/napari/napari/blob/e490e5535438ab338a23b17905a1952f15a6d27a/napari/_qt/dialogs/qt_notification.py

[2022-07-18 16:17] Czaki commented on #4838
This may vary on exact library and python versions as the only place where the parent is set is here:
https://github.com/napari/napari/blob/e490e5535438ab338a23b17905a1952f15a6d27a/napari/_qt/dialogs/qt_notification.py#L90

and in `show_notification` function:

https://github.com/napari/napari/blob/e490e5535438ab338a23b17905a1952f15a6d27a/napari/_qt/dialogs/qt_notification.py#L425

there is no ref

[2022-07-18 17:43] #4838 closed, assigned to nobody

[2022-07-18 18:23] sofroniewn opened #4840 "Plugin file extension preferences dialog cut off"
## 🐛 Bug

It is not possible to scroll down to edit file extensions for file extension reader preference. Here you can see two showing - but I have many more.

<img width="1035" alt="image" src="https://user-images.githubusercontent.com/6531703/179577001-b061e5ef-20f2-498c-afcc-a9385ea97c85.png">

In general this preference page should be cleaned up - it's not clear what the plugin sort order is n

[2022-07-18 18:35] sofroniewn opened #4843 "FileIO for plugins might be unreliable"
## 🐛 Bug

We may have a problem mapping plugins to file extensions - see comment here
https://twitter.com/apoliscope/status/1549074725158227969

<img width="595" alt="image" src="https://user-images.githubusercontent.com/6531703/179579069-5121593b-e6fb-4c0e-a51d-556b1324fa20.png">

I have sporadically encountered some errors myself too the first time i install a plugin and try to load a file. If I

[2022-07-18 18:40] andy-sweet commented on #4781
@michael-sutherland : took me a little longer than I said, but I think I have a fix for this in #4842

Feel free to comment on or review that PR and/or try that branch out to see if it fixes the issue for you.

[2022-07-18 21:25] DragaDoncila commented on #4843
@sofroniewn thanks for the ping, I'm still travelling this week but will investigate when I'm back home next week (if nobody gets to it first, of course)

[2022-07-18 21:29] DragaDoncila commented on #4840
@sofroniewn thanks for raising, the table is configured to scroll when many items are added but it looks like we've got a size policy issue there. Will look into it.

As for the call order dialog we didn't initially remove it as we still support legacy plugins without conversion. I think technically though, the code paths can't get into a state where the call order is applied, but will have to inv

[2022-07-18 21:32] sofroniewn commented on #4843
Sounds good @DragaDoncila - the image.sc thread above has a lot of folks looking into this too - it might be unrelated to file extension linking, but still good to look into!! Thanks!!

[2022-07-18 22:59] sofroniewn commented on #1507
This happened to me again last week. @perlman I can reproduce this with

[code]

entering 3D rendering mode and toggling between the first two frames. Note the smaller dataset works fine.

I'm running on macbook pro. If you are fine on both just go up to 300, 400 etc. Let me know if you cannot reproduce, i can add videos too

I would be huge @perlman if you could get to bottom of this!!!!

[2022-07-18 23:11] tlambert03 commented on #1507
Huh, does it have to be dask?  Have we already narrowed this to dask?

[2022-07-18 23:50] tlambert03 commented on #4843
Yeah I think this is just an issue aicsimageio conda as I mentioned on the thread

[2022-07-18 23:51] tlambert03 commented on #4843
Should be fixed by https://github.com/conda-forge/aicsimageio-feedstock/pull/17

I'm not sure we need an open issue for this without a reproducible example?

[2022-07-19 00:06] AhmetCanSolak commented on #1507
no @tlambert03 , it can be observed with numpy too.

[2022-07-19 00:08] tlambert03 commented on #1507
@sofroniewn If you replace your dask script with numpy you also see it?

[2022-07-19 00:10] sofroniewn commented on #1507
yup! same behaviour with numpy!! sorry, i was modifying a "real" example I had that happened to be using dask

[2022-07-19 00:12] sofroniewn commented on #4843
Sounds good - will close. If people run into problems associating file extensions reproducibly then we can either reopen or create new issue. Thanks!!

[2022-07-19 00:12] #4843 closed, assigned to nobody

[2022-07-19 02:12] #2014 closed, assigned to nobody

[2022-07-19 03:08] sofroniewn commented on #4694
So it might actually help a bit to move the mesh generation over to the vispy side as we'd only be generating meshes for the current slice. Right now we generate meshes for all the possible slices right when data is loaded - which is great once it's down as it means that slicing is very fast afterwards, but it could be terrible if you actually had lots and lots of slices (this is why we only regen

[2022-07-19 03:27] perlman commented on #1507
intel or arm64? intel or discrete video?

I am unable to reproduce this on macOS+arm64, but I *can* reproduce on macOS+intel+integrated video.

Has anyone seen this with anything other than Intel graphics?

Also, I found it a lot easier to see (in 3D) by assigning a different color to each frame:
[code]

![image](https://user-images.githubusercontent.com/671841/179658422-f28e397d-4112-4431-ad49-db

[2022-07-19 03:47] sofroniewn commented on #4694
I gave this a quick attempt in #4846 - doesn't look too bad from a code standpoint, but I havn't done any profiling or anything else

[2022-07-19 03:54] sofroniewn commented on #1507
<img width="314" alt="image" src="https://user-images.githubusercontent.com/6531703/179661061-a4bc53b2-f811-4f2c-a464-0709dd5b6d9a.png">

[2022-07-19 04:11] sofroniewn commented on #4822
I also don't love `update` parameter to `add_*` for reasons named above too.

I don't really love `ViewerModel.add_or_update_layer` right now as it doesn't really match our layer type semantics - i.e. we don't have `ViewerModel.add` or `napari.view`, and then `ViewerModel.add_or_update_image` etc feels like major API expansion. If however we moved towards also supporting `ViewerModel.add` and `nap

[2022-07-19 04:14] sofroniewn commented on #3005
Good points @andy-sweet - one thing i'll add is that a big goal is to make the layer models actually be pydantic models and then drop `_get_state` and use pydantics built in serialization. I'd love to see this so so so much for the napari code base.

[2022-07-19 07:23] Czaki commented on #3005
but this requires removing all information about the current render state (I know, I promise longer text about this, but writing takes a longer time than I expect).

[2022-07-19 09:18] tlambert03 commented on #4822
Yeah i agree.  I think there's enough to dislike about the concept for now that I'm gonna close this.  Thanks for entertaining the thought everyone! :)

[2022-07-19 09:19] #4822 closed, assigned to nobody

[2022-07-19 11:12] #4593 closed, assigned to nobody

[2022-07-19 16:09] TomNicholas commented on #14
Chiming in 4 years after the original opening to give the current situation (from an xarray dev's biased perspective). :sweat_smile: (@tlambert03 sent me here from [here](https://github.com/napari/napari/pull/3715#issuecomment-1189218372))

This used to be the case, but now Xarray [explicitly aims](https://docs.xarray.dev/en/stable/roadmap.html#flexible-arrays) to wrap any array type that exposes

[2022-07-19 16:28] ianhi commented on #4837
fwiw I and I think a few other people have set it up so that scrolling with the brush active modifies the brush size which I find to be very convenient. If I want to zoom then I press and hold space and scroll.

[2022-07-19 16:36] haesleinhuepf commented on #4837
That's cool, too. How can I get this?

Awesome! I'm learning new things here. Where in the documentation can I find this? Are there more tricks of that kind?

[2022-07-19 17:01] Czaki commented on #4837
On the bottom bar of napari when activating brush.

![Zrzut ekranu z 2022-07-19 18-59-04](https://user-images.githubusercontent.com/3826210/179807715-e92c7dae-465e-4649-85c4-d002407d8365.png)

But other shortcuts are not working and need to be treated from settings.

[2022-07-19 17:07] ianhi commented on #4837
Feel free to use this callback: https://github.com/Hekstra-Lab/napari-labeller/blob/74913dce72c773df2ec94e1cb3798dd40fedf219/src/napari_labeller/_keybinds.py#L59-L66

[2022-07-19 17:12] haesleinhuepf commented on #4837
Wow. Indeed. I have never noticed that! Thanks again. And if more people complain that this is not obvious / accessible enough. Consider putting this hint in a more prominent place.

How about making this part of napari-core? I mean at the moment, the mouse wheel has no function attached. It would be cool if it had. It would make napari more user-friendly

[2022-07-19 18:05] Czaki commented on #4837
I try to understand how napari/vispy change wheel behavior base on layer mode. But still have no idea how it works.

I end in place when it comes to rendering under the mouse.

[2022-07-19 19:02] andy-sweet commented on #4738
I'm not sure exactly how `qthrottled` works, but it looks like it's using `threading.Timer` to control when a callback/slot is executed, which I think means that the target callback may be executed on a non-main thead.

One place where this likely causes issues is when connecting [a throttled version of the status update to cursor position changes in `ViewerModel`](https://github.com/napari/napari

[2022-07-19 19:25] tlambert03 commented on #4738
ahh, interesting.  actually that's using `psygnal.throttled` (the pure python non qt one)... I think that was used there rather than `qthrottled` because it was in non Qt part of the code... I actually wonder whether qthrottled would behave differently there (not that we probably want to import from superqt there).

totally agree

[2022-07-19 22:26] michael-sutherland commented on #4738
Hrmmm... I added  @ensure_main_thread to [_QtMainWindow._status_changed](https://github.com/napari/napari/blob/a72d512972a274380645dae16b9aa93de38c3ba2/napari/_qt/qt_main_window.py#L1128) and to [ViewerModel._update_status_bar_from_cursor](https://github.com/napari/napari/blob/a72d512972a274380645dae16b9aa93de38c3ba2/napari/components/viewer_model.py#L402), but I'm still having a thread issue (eve

[2022-07-19 22:45] tlambert03 commented on #4738
the fact that that ends with an error from qtutils is strange. looks like it might be doing some monkeypatching...  do you still get this if you `pip uninstall qtutils`?

[2022-07-19 22:56] perlman commented on #1507
Well, my efforts to tweak the shader to sample with a very minor offset had no effect.

Stepping through the code, on change of `t` (the one slider in 3d view), an entirely new 3D texture is being loaded with the expected values [e.g., vol is equal to `data[0,:,:,:]` or `data[1,:,:,:]`). Thus, I'm even more confused that we get a bizarre rendering only at t=0.

[Edit: I have not actually verified

[2022-07-19 22:56] michael-sutherland commented on #4738
Interesting!  That seems to have fixed it!  I was using qtutils to force the main thread in my widget and just switched to superqt.utils.ensure_main_thread.  Also, it still works if I remove the ensure_main_thread decorators I added as well.  It looks like importing qtutils was the actual problem.

[2022-07-19 22:58] tlambert03 commented on #4738
yeah, looks like merely importing it has [side effects](https://github.com/philipstarkey/qtutils/blob/28f2295322c4fc8af0751bd16ec800eedeb1106d/qtutils/__init__.py#L18)

[2022-07-20 09:09] brisvag commented on #1507
I'm a bit lost, late to the party. If I understand correctly, If I run this code:

[code]

I'm supposed to see... Something strange like the stripy artifacts from @perlman? Everything looks fine on my machine.

[code]

[2022-07-20 09:11] brisvag commented on #1507
One thing that this reminds me of is this other time when @alisterburt saw a different behaviour from mine on his mac (can't recall what it was exactly atm), and it turned out to be caused by different *initialization* in shader code depending on the platform. Basically, doing:

[code]

instead of

[code]

Was resulting in inconsistent behaviour depending on the platflorm, because one was all zero

[2022-07-20 10:23] brisvag commented on #2213
Found the root of the problem and a fix! vispy/vispy#2359

[2022-07-20 10:25] brisvag commented on #2213
I still can't explain why @sofroniewn couldn't reproduce, but hopefully this doesn't break on *his* system xD

[2022-07-20 11:33] perlman commented on #1507
@brisvag In addition to running the code, you'd need to switch to 3D mode, rotate the volume a bit, and toggle layers. But, I wouldn't expect you to see anything odd with NVIDIA graphics. This seems to occur on Intel integrated graphics only.

I could see that being an issue here. I'll skim through the volume shader code to see if anything looks fishy.

[2022-07-20 15:23] skeltoh opened #4850 "Unable to open anything in napari"
## 🐛 Bug

I'm unable to get napari to work at all, with a new install (per instructions, I tried pip and conda, all in new environments). The GUI will open, but it won't open any images.

## To Reproduce

Steps to reproduce the behavior:

1. Install napari via conda:
      conda create -n napari -c conda-forge napari
2. Run "getting started code"
[code]
3. Result -> napari opens, blank window.

1.

[2022-07-20 16:20] Czaki commented on #2213
Would this solution also solve the problem of our vectors whose thickness changes similarly?

[2022-07-20 17:00] brisvag commented on #2213
I doubt it, the vectors use are a completely different, with meshes. Can you point me to the issue?

[2022-07-20 17:11] Czaki commented on #2213
There is no issue as I'm not sure if it is a real issue, but A you could observe on attached image the thickness is different along z-axis, and the scale is array([  1.        , 210.        ,  77.52248562,  77.52248562])
![Zrzut ekranu z 2022-07-20 19-09-13](https://user-images.githubusercontent.com/3826210/180042003-ede99b5e-5a08-400e-b792-2f0fa235cef1.png)

should I open a separate issue for thi

[2022-07-20 18:26] brisvag commented on #2213
Ah, I see... Yes, this is a different thing. I guess we need to use the scale when generating the meshes.

[2022-07-20 23:31] melissawm opened #4853 "Redirect for stable links in the documentation is not working"
## 📚 Documentation

After the versioning of the docs was merged, we were supposed to have a redirect pointing to `stable` for any of the old links.

For example: `napari.org/usage.html` should redirect to `napari.org/stable/usage.html`

I am investigating, but any ideas for fixing this are welcome!

[2022-07-22 00:02] GenevieveBuckley commented on #4836
I support this suggestion.
I'd also suggest that if we have separate paint/eraser brush sizes, the default eraser size should be 1.5 times the paint brush size (at least on initial startup)

[2022-07-22 00:28] GenevieveBuckley commented on #4837
I agree.
It doesn't make sense that you need to use a different method to zoom for image layers vs other layer types. And especially so because the mouse wheel isn't even given another purpose, it just does nothing.

It would make much more sense if the zoom user interface was consistent across all layer types and modes. I also support the idea of adding to core napari a way to use the scroll whee

[2022-07-22 00:31] GenevieveBuckley commented on #4837
There was a design audit done on napari a quite a while back. My understanding was that it was intended in part to find these kinds of inconsistencies. Perhaps it's worthwhile revisiting that?

[2022-07-22 00:37] GenevieveBuckley commented on #4850
Hi @skeltoh, thanks for the report!

Do you get an error message?

Can you open a new napari window with `viewer = napari.Viewer()` and then open a sample image from the menu? File > Open Sample > napari > Astronaut (RGB)

[2022-07-22 02:20] GenevieveBuckley opened #4855 "Making zoom function accessible from View menu and hotkey shortcuts"
## 🚀 Feature
Make zoom function accessible from View menu and hotkey shortcuts (Ctrl +/-), in addition to current mouse scroll wheel.

## Motivation
I was unable to zoom in a napari instance running on a remote desktop.

Originally I thought maybe it was something to do with the remote desktop itself not understanding. However, I've since reinstalled napari and the newer version behaves better, so

[2022-07-22 03:10] sofroniewn commented on #14
This is very exciting! As the OP 4-years ago, I'm very happy to hear things are moving in this direction!! Maybe @andy-sweet wants to look into the above and your comment here https://github.com/napari/napari/pull/3715#issuecomment-1189208297 and think about any of this in the context of the work to make slicing async in napari. Thanks!!

[2022-07-22 03:25] sofroniewn commented on #3005
the layer specific render state should be on the layer model. i'm not sure i understand this

[2022-07-22 07:06] haesleinhuepf commented on #4855
I support this feature request. Fiji users will love it too I presume. 🏝️♥️

[2022-07-22 07:10] haesleinhuepf commented on #4837
See also:
- https://github.com/napari/napari/issues/2060
- https://www.napari-hub.org/plugins/napari-mouse-controls

![](https://github.com/haesleinhuepf/napari-mouse-controls/raw/main/docs/zoom.gif)

![](https://github.com/haesleinhuepf/napari-mouse-controls/raw/main/docs/windowing.gif)

I'm happy to contribute code from the linked napari plugin to napari core if a core developer guides me where

[2022-07-22 07:15] Czaki commented on #4836
it also is nice to have the option to select synchronize like in gimp

![Zrzut ekranu z 2022-07-22 09-13-45](https://user-images.githubusercontent.com/3826210/180384521-b56e92e5-20d0-4848-8214-27145ac872b6.png)

So if a user has 2 times the difference and selects synchronize, then changing one may change second to keep the ratio.

[2022-07-22 07:16] Czaki commented on #4850
I think that it may be an OpenGL problem. when I try last cellpose does not use OpenGL for rendering.  And when having OpenGL problem on my machine (driver update) it happen that the whole napari window was black.

[2022-07-22 07:17] kevinyamauchi commented on #14
Thanks for the follow-up, @TomNicholas . It was nice meeting you at scipy! Super exciting stuff. I look forward to digging into all of the new developments (especially the flexible indexes).

[2022-07-22 07:19] haesleinhuepf commented on #4836
That's a super cool idea @Czaki - this might be useful also for other magicgui-ed GUIs 🤩

[2022-07-22 07:22] kevinyamauchi commented on #2954
@brisvag , do you think #4849 would be useful here?

[2022-07-22 08:59] brisvag commented on #2954
Exactly!

[2022-07-22 09:55] Czaki commented on #4837
I may help, but I do not have an idea how should look interface for this (understanding that we will implement these controls in the image control area)

[2022-07-22 10:25] GenevieveBuckley opened #4856 "For multi-resolution data, show low res level of data for 3D volume rendering"
## 🚀 Feature
Simpler solution for 3D rendering: show a low res level of the multi-resolution data in 3D

## Motivation

It's very frustrating when you're working with large datasets in napari, because accidentally clicking the 3d view mode button will cause napari to freeze and crash. That 3d view mode button is also very close to other buttons, so it's easier than I'd like to make a mistake.

I w

[2022-07-22 10:55] Czaki commented on #4856
we nned to check VRAM as we load data to GPU.

[2022-07-22 14:22] dchudz opened #4857 "broken CSS at old pages like https://napari.org/plugins/index.html"
`https://napari.org/plugins/index.html` isn't getting the CSS and other static assets, so that page looks bad.

The working version is https://napari.org/stable/plugins/index.html, so mostly this is OK since `https://napari.org/` redirects to `https://napari.org/stable` and then all of the links go to the working version. So users should mostly be seeing pages that work fine.

However, `https://na

[2022-07-22 14:26] dchudz commented on #4857
Oh sorry, I just noticed this is a duplicate of https://github.com/napari/napari.github.io/issues/353.

Closing.

[2022-07-22 14:26] #4857 closed, assigned to nobody

[2022-07-23 17:43] #4824 closed, assigned to nobody

[2022-07-23 17:43] tlambert03 commented on #4824
(fixed in https://github.com/napari/napari/pull/4817)

[2022-07-23 17:55] #4736 closed, assigned to goanpeca

[2022-07-23 17:59] tlambert03 commented on #4532
this has been implemented in [in-n-out](https://github.com/tlambert03/in-n-out) ... and used in #4784.

the purpose of this issue has been served, closing

[2022-07-23 17:59] #4532 closed, assigned to nobody

[2022-07-23 20:22] #3934 closed, assigned to brisvag

[2022-07-23 20:27] tlambert03 commented on #3880
Qt6 is now 'supported' as of https://github.com/napari/napari/pull/3707 ... but with the unfortunate aesthetic issue shown in https://github.com/napari/napari/pull/3707#issuecomment-1152997251

![](https://user-images.githubusercontent.com/1609449/173204591-f3bdd9dc-e280-4d2e-b222-c014284f3725.png)

it seems to be something rather low level in Qt6, regarding how the background of Dockwidgets gets

[2022-07-23 20:33] Czaki commented on #3880
in my case I do not see this bug but I found that PyQt6 version is not reported:

[code]

[2022-07-23 20:37] tlambert03 commented on #3880
ok thanks, might be a mac thing then

[2022-07-23 20:37] Czaki commented on #3880
The visibility of the layer is not properly indicated.
![obraz](https://user-images.githubusercontent.com/3826210/180622045-66e693dd-2494-4221-bad2-467381b66a5d.png)

[2022-07-23 20:38] tlambert03 commented on #3880
thanks.  please create issues with Qt6 in the title if you'd like to report stuff

[2022-07-23 21:00] tlambert03 commented on #3581
this is fixed in that a better error message is now given in #4630

[code]

[2022-07-23 21:00] #3581 closed, assigned to nobody

[2022-07-23 21:02] tlambert03 commented on #2924
closing.  I'm not sure if this still happens... but a) i don't think so and b) we're removing sort order anyway

[2022-07-23 21:02] #2924 closed, assigned to nobody

[2022-07-23 21:11] tlambert03 commented on #2808
sorry @kne42  ... you must have been very confused :joy:  I realize now that this has been fixed by re-reverting #2683 in #3560

https://github.com/napari/napari/pull/3560/files#diff-11f2c63f66f3e9b0271b3c1584a67e2eb682b8638c1c679bcd9d036f977675c5R247-R248

[2022-07-23 21:11] #2808 closed, assigned to nobody

[2022-07-23 21:16] tlambert03 commented on #2156
I'm gonna close this.  I think the general goal here is fully in our collective consciousness, and @andy-sweet will probably improve the state of things here gradually in the slicing work

[2022-07-23 21:16] #2156 closed, assigned to nobody

[2022-07-23 21:20] #1327 closed, assigned to nobody

[2022-07-23 21:22] tlambert03 commented on #1205
let's maybe close it now :joy:

[2022-07-23 21:22] #1205 closed, assigned to nobody

[2022-07-24 19:32] tlambert03 opened #4860 "TODO list for integration of app-model"
## 🧰 Task
list of todos after #4784

- [ ] continue replacing procedural QtMenus with app-model registered ones (note PR #4826 provides the base changes and tests required for the menu migration to app-model and all other PRs are based off of this original PR. It should thus be merged first)
    - [x] view menu: #4826
    - [x] file menu: #4865
    - [x] help menu: #4922
    - [x] window menu: htt

[2022-07-25 01:00] brossetti commented on #3848
I see that `_dims_displayed`, `_dims_displayed_order`, `_dims_not_displayed`, and `_dims_order` have been added as private attributes. This is extremely helpful for me because I recently discovered this problem while working on my own plugin (many thanks to @brisvag for leading me here). Is there any chance these attributes can be made public? They are needed for my plugin, and (according to the F

[2022-07-25 07:18] jni commented on #4856
@GenevieveBuckley we already show the lowest-resolution level of the pyramid in 3D. But I like your idea of showing the biggest we fit in RAM. And we definitely should do some "fail early" checks on the data size. Both of these are high-value low-hanging fruit.

One intermediate step, higher-hanging but not as high as octree, is to load the lowest resolution first then load higher resolution after

[2022-07-25 12:01] tlambert03 commented on #3087
I'm starting to work on this... just adding some notes here on how this currently works for personal future reference:

### current keypress handling

#### if a key is pressed When qt-viewer is focused...

1. `QtViewer.keyPressEvent` retrieves the OS key press event
2. that calls `vispy.app.backends._qt.CanvasBackendDesktop._keyEvent` (`QtViewer.canvas._backend`)
    - this performs conversion of

[2022-07-25 12:21] Czaki commented on #3087
You mean stop using vispy conversion with overwrite of `QtViewerDockWidget.keyPressEvent` to not accept event?

In your description you also commit case of Dock widget that calls `self._ref_qt_viewer().keyPressEvent(event)` to pass event to canvas.

[2022-07-25 12:24] tlambert03 commented on #3087
yeah, no vispy in the loop at all.

in what I've described so far, I haven't yet touched on dock widgets...  I'm just describing the current handling of keypress events on `QtViewer` or `QtViewer.canvas` ... will look at dock widgets later, but that's why I think we'd probably want to put our final keypress handler on QMainWindow (not on QtViewer)

[2022-07-25 12:26] tlambert03 commented on #3087
and for reference... "reclaiming" the keypress events from vispy and simply redirecting them to QtViewer can look like this

[code]

[2022-07-25 12:39] Czaki commented on #3087
You could use simple [`event.ignore()`](https://doc.qt.io/qt-6/qevent.html#ignore) and Qt will automatically call key handling in parent class. There is no need to call basic implementation from QWidget.

Wrong edition of my message. I was thinking about `QtBaseCanvasBackend` that you overwrite in your example if I correctly understand.

[2022-07-25 12:42] tlambert03 commented on #3087
ok ... I did that because of this line in the [qt documentation](https://doc.qt.io/qt-6/qwidget.html#keyPressEvent):

did I misunderstand it?

[2022-07-25 12:56] Czaki commented on #3087
Yes and no. Next paragraph is saying:

So call `.ignore()` do explicit what do default implementation in our case.

But You do not call `keyEvent` of the base class but key event for QWidget. For the current code, it is exactly the same but it may change. This note is mainly for situations where you inherit from the class that already (or possibly could) handle keys for some events.

There is a di

[2022-07-25 13:11] Czaki commented on #3087
To be more clear. Calling `event.ignore()` is acting upon the key. You handle the key and decide that its pressing should not trigger anything in this widget.

[2022-07-25 13:21] tlambert03 commented on #3087
got it.  thanks!

[2022-07-25 14:10] tlambert03 opened #4861 "specific values for scale parameter can break dims"
## 🐛 Bug
haven't dug deeper yet, but reposting here from
https://forum.image.sc/t/image-layer-in-napari-showing-the-wrong-dimension-size-one-plane-is-missing/69939/10

[code]

slider only has 4 positions (not 5) ... where a slightly different first scale value works fine

[2022-07-25 15:29] cnstt opened #4862 "KeyError: 'version' when installing a plugin"
## 🐛 Bug

KeyError: 'version' when installing a plugin (that is on pypi but not yet on napari hub).
This error is maybe the reason why the warning message  'When installing/uninstalling npe2 plugins, you must restart napari for UI changes to take effect.' is not displaying...

## To Reproduce

Steps to reproduce the behavior:

1. Install the `napari-deepfinder` plugin from the UI by typing `napari

[2022-07-25 15:50] cnstt commented on #4862
The issue is likely caused by this try/except section here: https://github.com/napari/napari/blob/975a2de6bff1f92c27820237fdcfa38ff2adc713/napari/plugins/hub.py#L41-L45

An additionnal check should be made, to verify that the if `info` is empty, we quit the we also `return None, False`

[2022-07-25 16:28] psobolewskiPhD commented on #4862
What's fun is I just got this error when installing a *different* plugin!
(napari-serialcellpose from GitHub):
[code]

[2022-07-25 16:36] Czaki commented on #4862
Conda may change their responses from webserver.

[2022-07-25 17:07] tlambert03 commented on #4862
this doesn't appear to be a conda thing... it seems to be a hub thing.  For example, Right now, https://api.napari-hub.org/plugins/ is showing:
[code]

but https://api.napari-hub.org/plugins/napari-deepfinder is showing:

[code]

while some other plugin endpoints are showing nothing, and some are nicely populated.

the hub code in hub.py doesn't seem to anticipate there ever _not_ being at least t

[2022-07-25 17:13] tlambert03 commented on #4862
@goanpeca, @neuromusic ... if we're going to use the hub API in napari code, it would be very handy if we had

1. some type hinting with `TypedDicts` in `hub.py` that would show us the structure we're supposed to expect from those payloads
2. a link in hub.py to the exact source code page in napari-hub that defines the schema (I couldn't in the [swagger-docs](https://api.napari-hub.org/#/plugins/g

[2022-07-25 17:20] cnstt commented on #4862
Yes no issue with the PyPI API :)
When using the napari hub api, I get this error but fortunately the installation of the plugin succeeds nevertheless :)

[2022-07-25 17:22] tlambert03 commented on #4862
ok, well... use the PyPI API for now, and we'll put your PR on hold until we get some feedback from the hub team

yeah. that's cause the hub is only attempting to provide the metadata for plugins (not the actual plugin)... and it looks like something's going on with their payloads at the moment

[2022-07-25 17:36] cnstt commented on #4862
Yeah this probably needs some fixes on the napari hub side more than on the napari side, or at least some better coordination :)

[2022-07-25 21:17] sofroniewn commented on #3087
Love this - only thing we need to then do is make sure all the camera functionality is implemented right - so zooming, panning, rotation etc.

I think this will make some of the complex 3D interactivity stuff @brisvag @alisterburt @kevinyamauchi have been interested in much easier.

It will also mean that we don't have vispy objects flowing through our main APIs anymore, which I love as we can hav

[2022-07-25 21:35] sofroniewn commented on #4862
@potating-potato can you take a look at this

[2022-07-25 22:22] neuromusic commented on #4862
I think this is due to an error on our end where there's a long lag before a plugin's initial release and us catching it: https://github.com/chanzuckerberg/napari-hub/issues/611

[2022-07-25 22:23] neuromusic commented on #4862
per our spec, the napari hub should catch any new plugins w/in 5 minutes of their release on PyPI. I'm sorry that's not happening here, but we will get it sorted out.

[2022-07-25 22:25] tlambert03 commented on #4862
thanks for weighing in!  but even in the case of a delay from PyPI... why would there be a dict in the API that's neither empty nor complete (i.e.  why the key error and not a missing plugin)?  that's the bigger issue in this case.  it's fine to just be indexed quickly, but a partial index is tough

[2022-07-25 22:28] neuromusic commented on #4862
@tlambert03 that seems to be another bug that we should capture... those fields appear to be related to soon-to-be-re-released npe2 support. not sure why they are there.

[2022-07-25 22:32] tlambert03 commented on #4862
ok, sounds good.  To summarize/fix this particular issue then: we either need the index at https://api.napari-hub.org/plugins/ to never contain any key's that can't be queried at https://api.napari-hub.org/plugins/{plugin-name} ... or we need to update `hub.py` to more gracefully handle a payload that doesn't have the expected info (which is a good idea anyway cause... internet :) : #4863)

[2022-07-25 22:45] neuromusic commented on #4862
I would recommend this until we can properly spec and build an API that isn't just our frontend API exposed to the world :P

I suggested a revision to #4863 that should help to avoid any stray fields (since any real plugin will have a `name`): https://github.com/napari/napari/pull/4863/files#r929364346

[2022-07-26 03:35] GenevieveBuckley commented on #4856
Hm, so perhaps in the interim I should use multiscale pyramids more often, and do some back of the envelope calculations about what a good low res data size would be for most cases.

Ooh yes, I like this idea too

[2022-07-26 05:07] GenevieveBuckley commented on #4570
No, it's not a problem specific to M1 Macs. I'm seeing the same problem on Windows as well.

I just upgraded numpy with conda (which presumably has also updated vispy among a bunch of other things), and now can't switch into 3D mode for the volume I've been working on.

I know the problem has nothing to do with the size of the image vs the memory I have available, because I was able to do it easil

[2022-07-26 05:10] GenevieveBuckley commented on #4570
... although my conda environment has vispy 0.11.0, which is the version [suggested here](https://github.com/napari/napari/issues/4587#issuecomment-1141127488) as one that should work. ¯\_(ツ)_/¯

EDIT: Turns out it must strictly be less than vispy 0.11.0, not less than *or* equal to it ([see here](https://github.com/napari/napari/pull/4594)). I wasn't able to downgrade, but I was able to delete an

[2022-07-26 09:19] cnstt opened #4864 "IndexError when changing selected label on labels layer"
## 🐛 Bug

IndexError when changing selected label on labels layer.
This happens when changing very fast the label, having a layer containing 12 labels and selecting "show selected".

## To Reproduce

Steps to reproduce the behavior:

1. Have a labels layer (in my case 12 labels)
2. Select "Show selected"
3. Change the selected label by going from 1 upwards until it fails...

[code]

## Expected be

[2022-07-26 10:42] brisvag commented on #4503
Closed by #4778! Sorry for the wait @ch-n, you can finally stop using your manual patch :P

[2022-07-26 10:42] #4503 closed, assigned to nobody

[2022-07-26 10:48] brisvag commented on #4570
Yes, that's unfortunately because we're using "private" stuff from vispy (implementation details of the shader), and those things were changed in a incompatible way. This is a recurring problem, because we're pusing vispy forward along with napari, so we opted to restrict the version more aggressively for the time being, to avoid this issue in the future.

[2022-07-26 10:54] Czaki commented on #4864
Yes. The bug is when you change label value to bigger than any existing layer and could be observed even with two labels on the Labels layer.

[2022-07-26 11:49] cnstt commented on #4864
Is this behaviour intended or should it not happen?

[2022-07-26 12:46] #4862 closed, assigned to nobody

[2022-07-26 13:12] Czaki commented on #4864
Of course, should not happen.

[2022-07-26 16:09] tibuch opened #4867 "`viewer.reset()` throws `TypeError`"
## 🐛 Bug
Calling `viewer.reset()` via the napari console results in a `TypeError`.

## To Reproduce

Steps to reproduce the behavior:

1. Open an image e.g. XYZ tif.
2. Open iPython console.
3. Run `viewer.reset()`.

[code]

## Expected behavior
Reset the viewer perspective.

## Environment

 - Please copy and paste the information at napari info option in help menubar here:
[code]

 - Any other r

[2022-07-27 02:36] melissawm opened #4871 "Names of versions for version switcher"
## 📚 Documentation

Currently, we have 3 versions available at the version switcher: `latest`, `0.4.16 (stable)`  and `0.4.15`. However, as @kandarpksk pointed out to me:

- For the stable docs, this is the link: https://napari.org/stable/index.html
And this is how it's presented on the page: version 0.4.16 (stable)
- For the latest doc, this is the link: https://napari.org/dev/index.html
And this

[2022-07-27 02:47] kandarpksk commented on #4871
Thanks for making this, Melissa! An alternative design is to say 'version latest (dev)' where the text in parentheses indicates to the stable/dev "channel" if that makes sense.

[2022-07-27 07:02] #4781 closed, assigned to andy-sweet

[2022-07-27 07:12] brisvag opened #4873 "website: text block too narrow"
## 🐛 Bug

If I search `something` on the search bar, the website will look like this:
![image](https://user-images.githubusercontent.com/23482191/181184375-acff1313-f154-447f-bb10-cc25a7e03676.png)

[2022-07-27 07:19] jni commented on #4873
CC @neuromusic @codemonkey800

Last time I moved an issue to napari-sphinx-theme I was totally wrong so I'll wait on this one until I get a few more eyeballs on this. 😂

[2022-07-27 07:23] brisvag commented on #4873
I just checked the dev site and everything seems fine there... So I think we can close this :)

[2022-07-27 07:23] #4873 closed, assigned to nobody

[2022-07-27 07:23] jni commented on #4871
I'd also say @melissawm I think we should have "0.4.15", "0.4.16", "stable (0.4.16)", and (say) "development", for the reason @Czaki pointed out: sometimes people are looking for the latest stable docs just to see what to do, sometimes people want a permalink to the current version docs, and they shouldn't have to mess with the URL bar for that.

[2022-07-27 20:19] melissawm commented on #4754
@Czaki I think this is fixed now, can you confirm? Thanks!

[2022-07-27 20:24] Czaki commented on #4754
It is solved, but the version switcher is not working properly:
![Zrzut ekranu z 2022-07-27 22-23-12](https://user-images.githubusercontent.com/3826210/181365336-08b3b130-dc4f-4cc5-97eb-d044a1ab05d3.png)

Should I open a separate issue?

[2022-07-27 20:24] #4754 closed, assigned to nobody

[2022-07-27 21:00] melissawm commented on #4754
Please comment on #4871 - I'll make sure to make that a priority. Thanks!

[2022-07-27 21:04] Czaki commented on #4871
![Zrzut ekranu z 2022-07-27 22-23-12](https://user-images.githubusercontent.com/3826210/181371808-03683042-8c68-4e23-97f7-c10ac010eb6a.png)

I have found that when I select version 0.4.15 then version selector is showing "Version latest" instead of 0.4.15.

[2022-07-28 02:14] sofroniewn commented on #14
Another good reason to consider better xarray support might be [ndpyramid](https://github.com/carbonplan/ndpyramid) (h/t @GenevieveBuckley who pointed it out in https://github.com/dask/dask-blog/issues/141#issuecomment-1197547317

[2022-07-28 02:18] TomNicholas commented on #14
Yes Kevin and I also discussed support for multi-resolution data in Napari.
Ndpyramid wraps xarray-DataTree, a prototype feature addition to xarray. I
am the main person developing xarray-DataTree, so feel free to ping me with
questions about that too!

https://github.com/xarray-contrib/datatree

On Wed, 27 Jul 2022, 19:14 Nicholas Sofroniew, ***@***.***>
wrote:

[2022-07-28 06:47] haesleinhuepf opened #4876 "Test with make_napari_viewer suddenly break in github CI"
## 🐛 Bug
Hi all,

I have again a plugin where suddenly tests break in github CI case they use `make_napari_viewer()`. Locally, tests pass.

The error in very short is:

[code]

[code]

[more details](https://github.com/haesleinhuepf/napari-simpleitk-image-processing/runs/7554545218?check_suite_focus=true#step:7:69).

Maybe related:
#4797

Any hint is welcome.

## To Reproduce

## Expected behavior

[2022-07-28 07:27] Czaki commented on #4876
hi @haesleinhuepf, The problem that you meet is connected with removing x11-utils from the default ubuntu runner host image. Because of the lack of this package, QApplication initialization fails that causing a visible stack trace.

It was first reported here https://github.com/napari/napari/pull/4696#issuecomment-1182914689 with an explanation here https://github.com/napari/napari/pull/4696#issue

[2022-07-28 08:00] totmar101 opened #4877 "Points with multicolor text"
## 🐛 Bug

I cannot add points with multicolored texts.

## To Reproduce

For me the [example code](https://github.com/napari/napari/blob/87a263328fd71c8d3fc6252fe8ee2d09056ae776/examples/add_points_with_multicolor_text.py) provided in napari fails with the same error as in the code I was working on.

Error traceback:
[code]

## Environment

[code]
## Additional information
Could be related to #446

[2022-07-28 08:16] brisvag commented on #4876
I suggest we leave this open for some time so it's easier to find :)

[2022-07-28 09:02] Czaki commented on #4876
One additional place to visit in the future if a similar error happens. The pytest-qt has a troubleshooting section in their docs, that should contain an updated list of libs https://pytest-qt.readthedocs.io/en/latest/troubleshooting.html#github-actions

[2022-07-28 09:03] haesleinhuepf commented on #4876
Shall we add this link to the github-ci config in the cookiecutter template?

[2022-07-28 09:10] Czaki commented on #4876
I do not understand which link you mean?
But currently cookiecutter template is using `tlambert03/setup-qt-libs@v1`

https://github.com/napari/cookiecutter-napari-plugin/blob/main/%7B%7Bcookiecutter.plugin_name%7D%7D/.github/workflows/test_and_deploy.yml#L37

[2022-07-28 09:15] haesleinhuepf commented on #4876
I've just tested your proposal @Czaki [here](https://github.com/haesleinhuepf/napari-simpleitk-image-processing/pull/12) and it works like a charm! Thanks for the instant feedback&support!

And how about adding https://pytest-qt.readthedocs.io/en/latest/troubleshooting.html#github-actions to the cookiecutter template?

[2022-07-28 09:20] Czaki commented on #4876
but what will be profit of this link if cookie-cutter already use @tlambert03 action for setup qt required libs, so troubleshooting is done on side of this action. Or you mean to add it somewhere in documentation?

[2022-07-28 09:28] haesleinhuepf commented on #4876
Your words @Czaki :

[2022-07-28 09:44] Czaki commented on #4876
Yes, but I see that in your project, you use your own management list of libraries to be installed. This whole section is the result of my contribution to `pytest-qt` docs.  Looking at history, I assume that it will be as up-to-date as `tlambert03/setup-qt-libs` action. So if someone uses this action this webpage will not contain any helpful information. But if someone uses a self-curated libs lis

[2022-07-28 14:52] andy-sweet commented on #4877
@tothmarcella : thanks for the bug report! From the info, it looks like you're running napari version 0.4.16. Is that right?

The multi-color text feature added in #4464 was not released in version 0.4.16 (it got merged just after that was released). So in order to run it, you should probably pull down the latest commit from `main`.

If you need this feature in a stable version of napari, I believ

[2022-07-28 16:29] tlambert03 opened #4879 "Re-enable make conda bundle test on mac"
## 🧰 Task

re-enable the failing ci from napari/napari#4878 ... it would be nice if we could somehow isolate these sorts of tests that fail due to reasons outside of our immediate control

[2022-07-28 16:36] Czaki commented on #4879
What is the plan o 0.4.17 if this is not fixed before? Lack of OSX bundle or build locally on some of core developer mac?

[2022-07-28 16:39] cnstt commented on #4469
I found that the layers_change is located in this file : https://github.com/napari/napari/blob/main/napari/components/viewer_model.py
Has anyone an idea about why this event is publicly exposed or what is supposed to do?
(maybe ping @Czaki)

[2022-07-28 16:51] Czaki commented on #4469
A fast look at code shows that is emitted on these updates triggers some update in rendering.

The name change is not connected to the function that triggers this event but to some method of the layer list.

https://github.com/napari/napari/blob/main/napari/components/viewer_model.py#L489

Last person touching this part of code is @sofroniewn, but it is only refactored. I do not touch this code ea

[2022-07-28 16:56] cnstt commented on #4469
Because as of now it is a little bit strange to have it exposed as a public accessible event, but as I showed with my code snippet it is never triggered (layer change, layerlist change, layer name changed...)

[2022-07-28 17:02] jaimergp commented on #4879
Notice that [0.4.16](https://github.com/napari/napari/releases/tag/v0.4.16) didn't have the arm64 builds either (just noticed), and the version tags are wrong (they have a `rc` suffix, when it's not needed).

Also take into account napari/packaging#11 - installers are not being signed on MacOS.

[2022-07-28 17:04] Czaki commented on #4469
It is often triggered. On add layer. On remove layer, on reorder layer, and on this event from layer:

https://github.com/napari/napari/blob/32176714d2852f1c3c0b65d39b7877d27255a404/napari/components/viewer_model.py?rgh-link-date=2022-07-28T16%3A51%3A43Z#L483-L488

I test it on the current main, and its works.

But I totally agree that the lack of documentation makes it hard to determine why it is

[2022-07-28 17:09] cnstt commented on #4469
Ah my bad, I may have done something wrong in my snippet/testing ^^

[2022-07-28 22:55] kandarpksk opened #4880 "Toggling from 3D → 2D crashes napari eventually (in presence of visible surfaces layer)"
## 🐛 Bug

Toggling from 3D → 2D crashes napari immediately or after scrubbing

## To Reproduce

Steps to reproduce the behavior:

1. Install the napari-bio-sample-data plugin
2. Open the sample image '3D nuclei' from the plugin
3. Switch from 2D → 3D → 2D (and napari will likely crash)
4. If napari doesn't crash, the image previews won't look right, and scrubbing will cause it to crash soon enough

[2022-07-29 00:19] dgmccart opened #4881 "conda update napari breaks napari"
## 🐛 Bug

conda update napari breaks napari. I had napari 0.14.0 installed, and after trying to update to the latest version with conda, napari is no longer able to open. An error message about dask requirements results, but following the instructions to install dask with conda does not fix the issue (same error message appears).

## To Reproduce

Steps to reproduce the behavior:

1. install napar

[2022-07-29 00:24] psobolewskiPhD commented on #4880
I can reproduce this on my M1 mac (12.4, dev branch of napari).
3d mode works but then going back to 2d yields:
`fish: Job 1, 'napari' terminated by signal SIGSEGV (Address boundary error)`

[2022-07-29 01:37] DragaDoncila commented on #4388
I'm going to work on this now. Couple of initial thoughts -

- Implementing this for drag&drop should be pretty trivial. Shortcut would be Alt+Drag (or Alt+Shift+Drag for open as stack).
- Implementing in file menu is going to be annoying because of the whole open file/open folder separation. Might start with a submenu and see how that looks. Long term would love to maybe just have one Open with a

[2022-07-29 07:31] Czaki commented on #4388
Why we would like to implement separate positions in the menu for the open files with selected dialog? Why we could not simply add name filters to the standard "Open file" menu position? https://doc.qt.io/qt-6/qfiledialog.html#setNameFilters

[2022-07-29 08:29] totmar101 commented on #4877
@andy-sweet thank you I did not realize that, now it works perfectly

[2022-07-29 08:39] Carreau commented on #4879
napari/napari#4883 may fix the issue by muting error messages.

[2022-07-29 15:50] andy-sweet commented on #4877
@tothmarcella : therefore, I'm closing this issue. Thanks again for filing!

[2022-07-29 15:50] #4877 closed, assigned to andy-sweet

[2022-07-29 18:26] tlambert03 commented on #4881
I'm afraid the only answer here is probably going to be that something went wrong in your environment.  I tried reproducing by creating a new environment with 0.4.14, then updating to 0.4.16, and it worked fine.

[code]

From the looks of your error message:
[code]

it looks like you've ended up with a binary incompatibility... this likely means that at some point before updating napari, you used

[2022-07-29 18:26] #4881 closed, assigned to nobody

[2022-07-29 18:36] kandarpksk commented on #4879
When I did a conda-forge install, I got version 0.4.14 instead of the newest stable one (0.4.16). Is it the same/related issue, or should I create another one?

EDIT: created napari/napari#4891 based on Czaki's reply.

[2022-07-29 18:53] Czaki commented on #4879
This is totally different issue, but first idea is that you do not install napari in a fresh environment and some of the already installed packages force conda to use the older napari version.

[2022-07-29 20:54] DragaDoncila commented on #4388
@Czaki I'm not sure what you're suggesting here - can you please expand a little on where we would be using `setNameFilters` and for what purpose? I'd love to avoid that submenu if at all possible.

[2022-07-29 21:03] Czaki commented on #4388
There could be one filter, `All files (*)` for our mechanism of selecting plugins based on preferences and one entry per plugin reader that will be constructed by `reader name (list of supported extensions separated by space)`

Here sample screenshot from PartSeg:
![obraz](https://user-images.githubusercontent.com/3826210/181842533-b9802211-527d-4dcc-bb2c-5ad5197fa29a.png)

Then when the user clic

[2022-07-29 21:42] DragaDoncila commented on #4388
@Czaki yeah I like that - that's partially what I was envisioning when I said "one Open dialog where you select everything". Except for me I think it should also support opening files OR folders, and have a checkbox for stacking.

I think that's a much bigger lift though, as it would involve rewriting our file open dialogs and the plugin dialog, as well as exploration into how to get this all into

[2022-07-29 21:56] Czaki commented on #4388
The main problem is that adding some checkbox requires to stop using native dialog and switch to qt one what I remember is not preferred option in napari.

[2022-07-30 07:48] haesleinhuepf opened #4885 "`Split stack` should allow user to choose axis or use dims"
## 🐛 Bug

Hi all,

I'm trying to split a dataset along the second axis. The layer right-click menu `Split stack` unfortunately doesn't allow me choose this. When I click this menu, it splits the stack in 164 layers instead of 2.

![image](https://user-images.githubusercontent.com/12660498/181880443-cc753f9b-2a9b-4161-a6e2-550551ede691.png)

![image](https://user-images.githubusercontent.com/126604

[2022-07-30 08:31] Czaki commented on #4885
@tlambert03 This look like things that require an option for a dynamic (calculated base on current layer) submenu for selection along which axis image should be split. As I think that submenu with axis selection is better than opening dialog for this.

What did you think?

[2022-07-30 09:54] tlambert03 commented on #4885
This is a duplicate of https://github.com/napari/napari/pull/3981

See extensive discussion there

[2022-07-31 22:03] sofroniewn commented on #4693
Picking up from https://github.com/napari/napari/pull/4858#issuecomment-1200505333

[code]

where `layers` is a `list` (not a `LayerList`) of any added `Layer` objects - will be `1` if `multichannel=False` and will be more if `multichannel=True`. The other `**kwargs` are the same as for `add_image`.

Is that how you see it @jni?

If so we should probably have one PR to add `imshow` then one PR to

[2022-08-01 04:07] sofroniewn commented on #4469
`layers_change` should just be removed - It used to be used internally, but we did a refactor > 17 months ago that made it no longer used, but there was pressure at the time not to break the API without a more formal deprecation process. To me this is a prime example of how not letting us actually develop as we are in an alpha stage and removing things quickly led to cruft sticking around in the p

[2022-08-01 10:17] #4867 closed, assigned to nobody

[2022-08-01 10:21] Carreau opened #4886 "Introduce and `Identity` transform."
## 🧰 Task

From [this issues/comment](https://github.com/napari/napari/pull/4868#issuecomment-1198334997), in the code it looks like transforms values can often be `None`, which may lead to bug/hard to read code.

Initialising to a `AffineTransform()` which value is the identity is not optimal as it may result in extra computation to do nothing.

I suggest we create an `Identity()` singleton that

[2022-08-01 11:49] #4815 closed, assigned to nobody

[2022-08-01 13:20] brisvag commented on #4861
Found the problem. In short:

[code]

Some floating point error that's so small it's not even displayed, I suppose. The result of the above expression is passed to `int()`, so it's floored anyways... so I supposed we don't need the floor division. But this makes me wonder if the opposite case can happen as well? (i.e: we "spill" into the next integer)

[2022-08-01 14:40] brisvag commented on #4683
Closed by #4735! The attribute is now exposed as `antialiasing` and as a keyword argument as well.

[2022-08-01 14:40] #4683 closed, assigned to nobody

[2022-08-01 20:42] kandarpksk opened #4891 "conda-forge installs napari 0.4.14 instead of newest stable version"
## 🐛 Bug

When I did a conda-forge install (with Miniconda), I got version 0.4.14 instead of the newest stable one (0.4.16). It was in a fresh environment where I hadn't installed any packages before.

## To Reproduce

Steps to reproduce the behavior:

I followed the [installation instructions](https://napari.org/stable/tutorials/fundamentals/installation.html) exactly:
conda create -y -n napari-e

[2022-08-01 21:08] Czaki commented on #4891
could you paste the whole log from conda these commands? Maybe they will contain some additional information.

[2022-08-02 00:24] tlambert03 commented on #4693
i think that works for me if everyone else likes it!  (but `multichannel` needs to be an int right?  to know which axis to split?)

[2022-08-02 01:52] sofroniewn commented on #4693
yup yup! was moving too quick - that's right

[2022-08-02 04:49] sofroniewn commented on #4891
I think this was on an M1 mac

[2022-08-02 12:36] cnstt commented on #4469
No I don't use it if I remember correctly. I wanted to use it in the first place, but it didn't work and the lack of documentation made me switch to viewer.layers.event: see an example here https://github.com/deep-finder/napari-deepfinder/blob/d288f4ed9fd2dec6682c98cb861b783ec80197ee/src/napari_deepfinder/_cluster_widget.py#L24

[2022-08-02 13:44] psobolewskiPhD commented on #4891
I can reproduce this on my M1 macOS 12.4 arm64-native miniforge/conda-forge environment.
Conda install output:
<details>

[code]

</details>

Conda list output:

<details>
[code]
</details>

Aha! I think here is the culprit?
Repoquery output
[code]
Looks like since 0.4.15 and on you need to specify backend

Using `conda install napari[pyqt]` worked:
[code]

Full Conda list output:

<details>

[cod

[2022-08-02 15:18] Czaki commented on #4891
Strange. I remember that I needed to fight with napari as it installed PyQt5 backed as default for 0.4.15

@goanpeca ?

[2022-08-02 15:47] sofroniewn commented on #4469
`viewer.layers.event` is recommended.

@Czaki can you make a PR to deprecate `viewer.events.layers_change` with a suggestion to use `viewer.layers.event` instead? It would be good to get this in for next release so we can drop for `0.5.0` - cc @jni

[2022-08-02 17:12] sofroniewn opened #4897 "Icon for napari in web-browser"
Can we make it so napari logo appears in my web-browser as a little icon instead of the default gray globe when you're at napari.org - like how the github logo appears when you're on github.com

<img width="549" alt="image" src="https://user-images.githubusercontent.com/6531703/182433910-f56f8b58-667a-4fc3-90cf-eedf5d2b47eb.png">

It's just a detail, but i think it's a nice touch :-)

cc @codemonk

[2022-08-02 17:49] codemonkey800 commented on #4897
oooh definitely, although I think that's something that should be handled as part of the docs source and not the theme, so it should go into `napari/napari` instead. thoughts?

[2022-08-02 18:02] Czaki commented on #4897
Agree with @codemonkey800.

It looks quite simple https://stackoverflow.com/a/54665517/7475772

[2022-08-02 18:03] sofroniewn commented on #4897
Great - maybe we move this issue over to that repo then. Thanks!!

[2022-08-02 19:26] kcpevey opened #4896 "Condense code in `Points._slice_data` and `Vectors._slice_data`"
## 🚀 Feature

Condense `Points._slice_data` and `Vectors._slice_data` to share more code and comments since they're doing very similar things. There are some nuances between the two, but it seems like there is some room for code sharing.

## Motivation

Attempting to reduce duplicate code in order to reduce maintenance burden (e.g. optimization on the [points layer](https://github.com/napari/napar

[2022-08-03 10:09] AlexSauer opened #4899 "Crash when switching to 3D"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Installed a new and clean environment and installed napari from conda (see below)
2. I try to run the following code:

[code]

3. Napari opens and the 2D view look fine, however when I switch to 3D rendering I get the following error:

[code]

## Expected behavior

The image should be rendered in 3D.

## Environment

 - I am using an

[2022-08-03 10:39] AlexSauer commented on #4899
The problem seems to be related to #4891 as using pip to install napari gives the version 0.4.16 and things seem to work fine now.

[2022-08-03 11:16] jaimergp commented on #3359
This issue was originally conceived to better support PyPI packages in the bundled plugin manager, but with NAP-2 we will offer direct support for them (as a warned fallback), so there's no need to convert anything.

Conversation might continue on https://github.com/napari/packaging/issues/7 if necessary.

[2022-08-03 11:51] jaimergp commented on #4891
Hm, this is weird:

[code]

That's a `noarch` package uploaded to the native platform subdir o.o

[2022-08-03 11:53] brisvag opened #4900 "`Layer._display_bounding_box()` returns too few dimensions"
## 🐛 Bug

In working on #4849 I had issues because I assumed I would get consistent output from `Layer._display_bounding_box()`. I would expect a 2d bounding box when passing 2 dimensions, and 3d when passing 3. However, if the layer is a 2D image, I only get 2 dimensions. But I would expect these two layers to behave identically:

[code]

@kevinyamauchi @alisterburt am I wrong about my assumption

[2022-08-03 11:53] jaimergp commented on #4891
It doesn't really exist as an [artifact in anaconda.org](https://anaconda.org/conda-forge/napari/files?version=0.4.14), so it might be repodata patch gone wrong. I'll see if I can find it.

[2022-08-03 11:57] jaimergp commented on #4891
Btw, I can only reproduce with classic conda. If I use `mamba` or `conda` + `libmamba-solver` you do get 0.4.16 directly.

[code]

[2022-08-03 11:59] jaimergp commented on #4891
I can't reproduce your query @psobolewskiPhD :( I am also running an M1 Mac, version 11.2.3.

[code]

[2022-08-03 12:02] jaimergp commented on #4891
I'd like to see your `conda config` output if possible too.

[2022-08-03 12:06] psobolewskiPhD commented on #4891
@jaimergp I can't either today. Not sure what changed.
Either way, is there something that can be done to make `conda install napari` give the latest version?
Edit: Scrolling back I see I had mamba v 0.23.0 now I have 0.25.0 and you have 0.24 above...
`conda config`
doesn't do anything?

[2022-08-03 12:10] jaimergp commented on #4891
I think it has to do with the ongoing `openssl` transition at conda-forge. See how installing napari forces a downgrade from 3.x to 1.x:

[code]

Sounds very similar to these:

* https://github.com/conda/conda-libmamba-solver/issues/64
* https://github.com/mamba-org/mamba/issues/1581#issuecomment-1068845806

... and it all revolves to this PR:

* https://github.com/conda-forge/cryptography-feedsto

[2022-08-03 12:14] psobolewskiPhD commented on #4891
Forcing the version does work and results in the pyqt backend.
Interestingly other than the openssl downgrade I also have this puzzling line:
[code]

[2022-08-03 12:16] jaimergp commented on #4891
Those are the two Python variants for each openssl version, one built for openssl=1, and another for openssl=3 (hence the different hash but the same build number; the hash is computed from the rendered requirements during build, among others).

[2022-08-03 12:17] jaimergp commented on #4891
Sorry I mean `conda info` 😬  @psobolewskiPhD

[2022-08-03 12:18] psobolewskiPhD commented on #4891
conda info:
[code]

[2022-08-03 12:24] jaimergp commented on #4891
Yes, nothing wrong. It must be the openssl issue. One possible solution to this temporary problem is to be more explicit in the instructions we share in the documentation. We could template the version so it gets auto-updated on every release, but not on the `dev` docs.

[2022-08-03 12:26] psobolewskiPhD commented on #4891
Any idea why `conda install napari[pyqt]` works? Is it because that's sort of also forcing the version?

[2022-08-03 14:41] alisterburt commented on #4900
Hm, I don't quite see why you would expect the 3D data to give a 2D bounding box unless the image layer drops the dimensionality?

[2022-08-03 14:56] brisvag commented on #4900
The opposite acually: I would expect to get a 3D bounding box if I ask for 3D:
[code]

But I'm not sure I agree with myself here xD

[2022-08-03 15:11] alisterburt commented on #4900
so you currently get a 3D bounding box for 3D data and a 2D one for 2D data?

The `_display_*` methods slice the nD object (in this case bounding box) by the dims in the same way as the data are (currently) sliced... we know there are lots of problems with the way this slicing occurs, tidying this up is I think also part of Andys future work plans

You can think of this as the bounds of the data i

[2022-08-03 17:00] jaimergp commented on #4891
It shouldn't work at all :D That's not even an accepted conda syntax. conda does support `pkg_name[keyword=value]` ( e.g. `numpy[build_number=0]`) but keyword-only shouldn't work.

It is simply parsed as `napari` internally:

[code]

[code]

The conda-speech "equivalent" (not literally, but what we have done to obtain functionally the same behaviour) of that optional PyPI syntax is `napari=*=*pyqt

[2022-08-03 17:05] brisvag commented on #4900
But that's not relaly true, since the data in view for the two layers above is exactly the same, and yet the bounds look different... It's really the bounds for the data in view, except for the dimensions in which that data has implied thickness of 1 :P

Anyways, this is not urgent, just something interesting I noticed... Definitely will be nice to clean up this.

[2022-08-03 20:33] alisterburt commented on #4900
I see your point but idk, to me it would seem much weirder if the extents of the sliced data had different dimensionality than the data itself 🤷‍♂️

Maybe we could have a system where data is explicitly promoted to have ndim=max(layer.data.ndim for layer in viewer.layers) internally prior to slicing? This would likely resolve lots of weirdness like this

[2022-08-03 21:12] kephale commented on #2569
Hi all,

I started on this one and have run into another issue.

This is my branch: https://github.com/kephale/napari/tree/singular_layer_exception

This throws a more clear exception when the error happens, but when I was writing a test for this I found that there is some funky behaviors when a layer that is added throws an exception:

<details>
  <summary>Detailed exception</summary>

[code]
</d

[2022-08-03 22:10] tlambert03 commented on #2569
hey @kephale!  nice to see you here!  :) glad to hear you'll be working on napari more these days.

by putting the exception in `_vispy/layers/base`, the exception is only being thrown when the layer is _visualzed_ ... this check should probably be in the base layer `__init__`  (`layers.base.base.Layer.__init__`).  It might need to take a slightly different form than `if np.linalg.det(affine_matri

[2022-08-04 03:00] #4469 closed, assigned to nobody

[2022-08-04 03:11] sofroniewn commented on #4693
If we have consensus @jni @tlambert03 is [this](https://github.com/napari/napari/issues/4693#issuecomment-1200509018) maybe a good thing for @kcpevey to pick up when possible @potating-potato and get this issue closed? Doing this will then unblock #4858 which we want to get in asap I think

[2022-08-04 06:46] Czaki commented on #4900
So there I a need to move it outside Layer as layer dhould not need to know viewer state for proper working and creating bounding box base on viewer dimensionality break this.

[2022-08-04 07:05] alisterburt commented on #4900
Agreed @Czaki - I wasn't suggesting literally that we perform this calculation on the layer, rather that the slicing machinery could leave the necessary info somewhere accessible :)

[2022-08-04 07:42] brisvag commented on #4900
Why would you need info about the layer? You can simply return `(0, 0)` (translated as appropriate) or something like that for any dimension that's not in the data.

[2022-08-04 09:00] Czaki commented on #4900
And how many of them? This is determined by other layers.

[2022-08-04 09:08] brisvag commented on #4900
No, it's determined by the argument of `Layer._display_bounding_box`, which is `dims_displayed`. This does not depends on the state of the layer, it simply asks "if you were to be displayed with dimensions `1` and `3`, what would be your bounding box?"

[2022-08-04 09:30] dagewa commented on #4683
Thanks all, just catching up after a while working on some other projects. This is great :+1:

[2022-08-04 13:08] kephale commented on #2569
@tlambert03 Awesome. Thank you for the tips! I've made the changes and submitted a corresponding PR https://github.com/napari/napari/pull/4906

[2022-08-04 14:19] alisterburt commented on #4821
Love the proposal - I don't think the way you've proposed it will work exactly (don't think we can cache intermediate framebuffers from separate visuals) but simply toggling visibility and debouncing the offloading of data from VRAM (long timescale, 10s or so?) could be a great solution

[2022-08-04 14:19] alisterburt commented on #4821
cc @brisvag

[2022-08-04 14:37] brisvag commented on #4821
Yes! This always annoys me, but I never got around to do anything about it.

I'm not sure if there's a way to keep the data on vram on the vispy side when `visible` is set to false... But are we sure that's the bottleneck? Isn't it the call to `Layer.refresh()` which then does:

[code]

`self.events.set_data()` being probably the major offender here?

[2022-08-04 15:25] alisterburt commented on #4821
not sure, would need to check the details - once all set in vispy interacting is super fast so I assumed the slow thing was a transfer back to vispy, aren't we saying the same thing? (i.e. shouldn't need to call set_data because the data hasn't changed)

[2022-08-04 15:42] kandarpksk commented on #4871
Maybe another related issue: I can't remember where I found this link
https://napari.org/tutorials/fundamentals/installation.html#install-as-a-bundled-app

but it redirects to
https://napari.org/stable/tutorials/fundamentals/installation.html

Notice that the anchor is dropped. Is that possibly a browser (Chrome) issue?

[2022-08-04 15:53] brisvag commented on #4821
Sorry, I meant "set view slice" :)

[2022-08-04 16:22] #2569 closed, assigned to sebgoti

[2022-08-04 19:47] amedyukhina opened #4909 "Image layer 3D view doesn't get updated when changing data"
## 🐛 Bug

For larger images, the 3D view doesn't get updated when changing the values of the data. The data array itself gets updated, and the 2D view looks fine. This does not occur for smaller images (e.g. 100x100x100 pixels).

## To Reproduce

[code]
![Screen Shot 2022-08-04 at 2 32 56 PM](https://user-images.githubusercontent.com/37274810/182938585-20a6e0e6-7442-4bf6-a336-36e15bf225b2.png)

![

[2022-08-04 19:56] kandarpksk opened #4910 "napari (installed using conda) appears as 'python3.9' in macOS"
In macOS, napari (installed using conda) appears as 'python3.9' in the app menu (left side of the menu bar) and dock icon. It would be a nice touch to see 'napari' there!

PS: maybe it's better in the bundled app (which I haven't tried yet).

[2022-08-04 21:34] kandarpksk opened #4911 "Example for add_image() in gallery doesn't actually use that API"
## 📚 Documentation

The example for the `add_image` function uses `view_image` instead:
https://napari.org/stable/gallery/add_image.html

[2022-08-05 00:06] psobolewskiPhD commented on #4911
On a related, but different note:
On Safari (both my 12.4 macOS and my 15.5 iOS) I get the examples repeated like 4x in the list, so it's like 5+ screenfuls of scrolling to actually see the example.
<img width="1202" alt="image" src="https://user-images.githubusercontent.com/76622105/182975232-8aae8298-0934-4060-8878-f75decc8a096.png">
<5+ screenfuls beyond this before I get the example>
Not sure

[2022-08-05 13:08] kandarpksk commented on #4911
Yes, I'd think so. This is a content issue, while yours sounds like something in the template/how the site is coded.

[2022-08-05 19:12] kandarpksk commented on #4871
Aside: Does the "latest" release have a version number that could be shown in the switcher?

[2022-08-06 12:40] melissawm commented on #4871
@kandarpksk that shouldn't be a browser issue - let me check. Thanks for reporting!

[2022-08-06 14:58] jaimergp commented on #4910
Yes, this little issue should be fixed in the new bundles!

[2022-08-06 14:58] jaimergp commented on #4879
Btw team, the fix is ready in https://github.com/napari/napari/pull/4904

[2022-08-06 15:50] psobolewskiPhD commented on #4910
@jaimergp Can it also be changed when launching from the terminal or ipython in a non-bundle install?

[2022-08-06 16:59] jaimergp commented on #4910
@psobolewskiPhD It's tricky... 😂 It took me a while to find out where MacOS takes the app name from and if there's no .app shortcut, it takes the process executable name. One reliable way is to copy the `python` executable to `napari` and then do `napari -m napari` but that's super hacky. ~Symlinks did not work, IIRC.~ They do!

[2022-08-06 20:09] cnstt commented on #4469
Thanks a lot for the fix! :+1:

[2022-08-07 02:37] liu-ziyang commented on #4910
as @jaimergp said, the name "python3.9" is the executable's name, which cannot be changed as far as I am aware. I want to write more on where this python3.9 is picked up from.

when a package that defines a console_script (or gui_script) is installed via pip, pip generates a shebang script that maps the command to the specified entry point in setup.cfg, etc. This shebang script looks like this:
[c

[2022-08-07 02:47] liu-ziyang commented on #4880
can also confirm I can reproduce this. I also have more information:

I played around with this data set, there are three layers:
The image layer, a label layer, and a surface layer.

the problem seems to be with the surface layer. when the surface layer is dropped or hidden, any toggling between 3D and 2D does not seem to be problematic. I also noticed the surface layer behaves strangely when bei

[2022-08-08 01:42] lucyleeow commented on #3546
I think this can be closed by #4832

[2022-08-08 01:42] #3546 closed, assigned to nobody

[2022-08-08 10:09] leoguignard opened #4917 "napari does not install numpy correctly on MacOs M1 (with possible workaround/fix) leading to a crash"
Hello,

I've recently been working with __M1 MacOs__ chips and had trouble with the installation. I found a work around and thought it might be useful to you.

## 🐛 Bug

When installing and running napari the intended (?) way, napari crashes.

## To Reproduce

Steps to reproduce the behavior:
[code]
After running `napari`, it crashes and
<details>
  <summary>I get the following error:</summary>

[

[2022-08-08 10:36] leoguignard opened #4918 "Issue with 3D visualization of images and vispy with MacOs M1 chips (with possible workaround/fix)"
Hello again,

Still trying to make napari work as well as I can on __MacOs M1 chips__.

## 🐛 Bug

When installing napari the way described in #4917, napari runs but 3D visualisation of intensity and label images does not work.

## To Reproduce

Steps to reproduce the behaviour:
[code]
then, in `python` I run:
[code]
which opens the napari viewer as intended. But when I click on the `toggle ndispla

[2022-08-08 10:44] Czaki commented on #4918
The core problem here is that you installed napari 0.4.14. Since napari 0.4.16, we pin not only the lower version of napari but also the upper.

For napari 0.4.14, you need to install vispy in version 0.9.6.

You have installed version 0.4.14 because of some problem with conda described in #4891

[2022-08-08 10:46] Czaki commented on #4917
Please checek version of napari. Based on your second issue it looks like you meets a bug in conda and got napari in version 0.4.14 instead of 0.4.16. See #4891

[2022-08-08 10:59] leoguignard commented on #4917
It might be worth noticing that I am using `miniforge` and not `miniconda`

[2022-08-08 11:10] Czaki commented on #4917
If your configuration is different than described in https://github.com/napari/napari/issues/4891 then add this information to this issue to simplify the life of a person who will try to fix it.

[2022-08-08 11:13] leoguignard commented on #4918
Ok it seems to have solve the issue indeed, sorry for missing the other issue and thanks a lot for the quick answer!

[2022-08-08 11:14] leoguignard commented on #4917
Ok your suggestion seems to have solve the issue indeed, sorry for missing the other issue and thanks a lot for the quick answer!

[2022-08-08 11:18] asheibanifard commented on #693
Thanks for the comments. I have a problem is that the neurom.io does'nt have .swc to be loaded. So I cant read the SWC file

[2022-08-08 12:40] Michael-L-Miller commented on #2140
I have a multichannel image that I am viewing in Napari. The blending works great for LUTs that emulate illuminance/fluorescence data (dark background). I would like to emulate bright field/absorbance images (white background) though. Is there a workaround to allow blending of images with a white background?

[2022-08-08 13:13] psobolewskiPhD commented on #2140
Hi @Michael-L-Miller
It's something I've been working on.
It's a long time coming, as you can see from a discussion here, with this post being a sort of summary.
https://github.com/napari/napari/discussions/3914#discussioncomment-2586389
and a PR implementing `minimum` blending here:
https://github.com/napari/napari/pull/4875

Any feedback from you would be very welcome, whether on the concept or

[2022-08-08 14:57] Michael-L-Miller commented on #2140
Hi @psobolewskiPhD

This looks great. I am still testing it out but I am able to view several channels with white backgrounds which is exactly what I needed.

[2022-08-08 15:08] psobolewskiPhD commented on #2140
@Michael-L-Miller I'm happy to hear that.
Are you using custom colormaps/LUTs?
Does the lack of opacity control bother you/affect your work?

[2022-08-08 16:39] Michael-L-Miller commented on #2140
The lack of opacity control does not bother me.

Yes, I am using colormaps to emulate hematoxylin and eosin for the channel. The image source is was an H&E stained whole slide image which was separated into hematoxylin only and eosin only images. After additional processing/analysis, I ultimately view the images in Napari and would like emulate the look of each stain.

[code]
Left = both channels

[2022-08-08 17:04] psobolewskiPhD commented on #2140
Awesome—I hadn't thought of that use case! Glad it's working for you.
If you have any more feedback, let me know.

[2022-08-09 10:01] #4918 closed, assigned to nobody

[2022-08-09 17:14] liu-ziyang commented on #4860
@tlambert03 Thanks for putting this together! do you mind if I convert this issue to a project board so we can track and collaborate?

[2022-08-09 18:56] kne42 opened #4919 "suggestion: context object for layerlist and viewer to be moved to app model"
currently, the layerlist and the viewer have a _ctx ... but I think it might be better suited on the app itself, which will listen for change events of those objects to update it's context?

[2022-08-09 18:56] kne42 commented on #4919
welp i just accidentally clicked somewhere on the page and it made this sooooo

[2022-08-10 14:47] liu-ziyang commented on #4919
For context, this was created from the TODO list for app menu migration. Supposedly it should be tracked as a draft issue to help planning but was mistakenly created. If not too misleading or distracting, I will leave this open and get to this while we march on the app model migration

[2022-08-10 14:48] liu-ziyang commented on #4917
going to close this issue as it seems resolved