[2021-02-08 22:57] jni commented on #764
(I've left comments on the Figma also but just wanted to summarise here for all the non-click-through-ers =P.)

[2021-02-08 23:01] GenevieveBuckley commented on #2233
Yeah, the black screen is weird.

pip freeze output, napari development environment, Ubuntu 20.04
[code]

[2021-02-09 00:10] sofroniewn commented on #2230
Hi @d-v-b thanks for filing this! As discussed in Zulip, i'll look into this more and get back to you!!

[2021-02-09 00:16] tlambert03 commented on #2233
I'm sorry, I just tried this with python 3.7 and as similar of an environment as I could and couldn't repeat on mac.  my ubuntu setup is currently bonked so, will take me a while to rebuild that to test this out there.

[2021-02-09 04:14] sofroniewn commented on #2233
Cross linking to #2238 as it will change some of this behaviour

[2021-02-09 05:16] jni commented on #2233
I wonder if this is related to my random affinder window launch issue, which also could not be reproduced in a fresh env. @GenevieveBuckley could you try to create a minimal environment to see whether it also happens in a fresh env?

[2021-02-09 18:57] ianhi commented on #734
I think this is more than just the console. For me on:
- JupyterLab: 3.0.7
- ipywidgets: 7.6.3
- ipympl: 0.6.3

napari: 0.4.4
Platform: Linux-5.8.0-7630-generic-x86_64-with-glibc2.10
System: Pop!_OS 20.04 LTS
Python: 3.8.5 (default, Sep 4 2020, 07:30:14) [GCC 7.3.0]
Qt: 5.12.9
PyQt5: 5.12.3
NumPy: 1.19.5
SciPy: 1.6.0
Dask: 2021.02.0
VisPy: 0.6.6

OpenGL:
- GL version: 4.6 (Compatibility Profile) M

[2021-02-09 19:54] kevinyamauchi opened #2239 "Error when update Shapes.data when the layer has properties"
## 🐛 Bug

As reported by image.sc user johschmidt42 in [this thread](https://forum.image.sc/t/replace-shapes-in-the-shapes-layer-with-new-shapes/48633/4),  updating the layer data via the `Shapes.data` setter on a `Shapes` layer that has properties/text throws an error. This bug shows a couple of things we need to fix:

- we need to make sure that properties are properly trimmed/extended in the `S

[2021-02-09 20:01] tlambert03 commented on #2233
was able to try this on ubuntu 20.04 and saw the black screen.  will see what I can learn.  @jni, have you not seen this yet?

[2021-02-09 20:13] tlambert03 commented on #2233
ok, so it looks like I can reproduce this (on ubuntu) without even using napari:

[code]

need to figure out why this happens on ubuntu, and whether it's unique to 20.04.  @goanpeca, any insight here?

[2021-02-09 20:15] ianhi commented on #734
Something must have changed in the last year becuase now when I activate matplotlib first I can open napari without an issue.

[2021-02-09 20:16] ianhi commented on #734
Actually, even more surprisingly the qt console in napari integrates with jupyter. It even gets the execution count correct:
![image](https://user-images.githubusercontent.com/10111092/107422968-c336ba00-6ae9-11eb-956d-efb74ba88e71.png)

[2021-02-09 21:50] ianhi opened #2240 "Incorrect color in labels sidebar"
## 🐛 Bug

When working in a labels layer for some colors when I use the eyedropper the color in the side bar is not correct:

![Peek 2021-02-09 16-48](https://user-images.githubusercontent.com/10111092/107433061-d734e880-6af6-11eb-8215-6a37ad7952b0.gif)

## To Reproduce

Steps to reproduce the behavior:
I haven't figured out a minimal example but I am definitely running into this semi regularly
##

[2021-02-09 21:59] sofroniewn commented on #734
We made some of the console imports lazy, so that might be helping, but it sounds like there might be more stuff going on. It's been a while since I looked at this, but can check it out again. It would be really nice to have all the matplotlib widget integration stuff working smoothly

[2021-02-09 22:22] ianhi commented on #734
I'm pretty happy with the workaround of just reversing the order of the magics. As far as I can tell if I do that then everythings totally fine

[2021-02-09 22:43] sofroniewn commented on #2240
Uh oh! That's not so good. The data to get to a color goes through two different paths to appear on the screen - one is via the CPU and then Qt for the color square on the left, the other is via the GPU and vispy for the label in the canvas. The nature of the colormap for labels is that small differences in input can lead to large differences in color space, which maybe makes the whole system more

[2021-02-10 00:58] jni commented on #734
I suspect that this has less to do with the console and more to do with `%matplotlib ipympl` somehow clobbering the Qt eventloop in IPython (based on the "RuntimeError: napari requires a Qt event loop to run" traceback above).

Either way, I hope everyone has been able to get on with their work here... 😬

[2021-02-10 01:01] jni commented on #2233
I haven't encountered this because `%gui=qt` is part of my IPython default profile. 😂

[2021-02-10 01:10] ianhi commented on #734
Maybe @s-m-e could edit the first post to reflect the workaround so a future person doesn't find this issue and immediately despair?

[2021-02-10 01:30] jni commented on #734
@ianhi I updated it. 😊

[2021-02-10 10:45] haesleinhuepf opened #2243 "Improve viewer performance when handling GPU-backed 3D arrays"
## 🔬 💻 🚀 Feature
Hi all,

following up earlier discussions (with @sofroniewn, @tlambert03, @GenevieveBuckley, @jni and @VolkerH ), to improve performance when processing 3D image data, I'd like to send GPU-backed 3D arrays into vispy without turning them into a numpy-array on the way.

## Motivation
Vispy is based on OpenGL and thus, does the heavy computing on the GPU anyway. If we use GPU-accele

[2021-02-10 11:27] haesleinhuepf commented on #2243
Note to self: Do more detailed identification of bottlenecks using @jni's suggestion: https://napari.org/docs/dev/guides/perfmon.html

[2021-02-10 12:18] tlambert03 commented on #2243
Since ultimately this would be a vispy feature (outside of the convenience functions we might provide), you might also consider posting a quick feature request to vispy.  Someone there might also have some good insights as to how feasible this is

[2021-02-10 12:31] jni commented on #906
The proposal seems reasonable to me!

[2021-02-10 12:55] haesleinhuepf commented on #2243
There is some already:
https://github.com/vispy/vispy/issues/1800
https://github.com/vispy/vispy/pull/120
https://github.com/vispy/vispy/issues/57

Will read more in detail and report back...

[2021-02-10 16:59] sebi06 opened #2245 "Unhandled exeption when adding dask array as an image layer"
Hi,

I try to achieve the following (napari=0.4.4, Python 3.7.4, Win10 64bit)

* load and CZI that has 96 scenes via dask-delayed (per scene) into an dask array  - OK
*  cutout every channel from this array and add it as a layer to the napari viewer

It fails here with the error message below. The the shape of the complete array looks good and also the shape of the individual channel has the corre

[2021-02-10 17:59] manzt commented on #14
I would _love_ something like this. I have a handful of heatmaps that overlay a WSI, and the UI isn't great to toggle each of these as independent 2-D layers. The other option is to stack the heatmaps as single array`shape=(n_heatmaps, h, w)` and use the axis slider to flip between heatmaps. The only issue is that I lose the ability to communicate the labels for each heatmap in the UI. (in this ex

[2021-02-10 18:59] ianhi opened #2246 "Specifying physical coordinates for axis in `add_` methods"
## 🚀 Feature

Create sliders that display a readout in physical units dataspace but still provide an integer index to be used internally of Napari.
This is essentially the ipywidgets.SelectionSlider
[code]

![image](https://user-images.githubusercontent.com/10111092/107557702-f2136580-6ba7-11eb-9dbe-6dfc84cfdffc.png)

## Motivation
Sliders need to return integer values to effectively index arrays

[2021-02-10 19:02] ianhi commented on #14
https://github.com/napari/napari/issues/2246

@manzt if all you need to is view the layers you should try out [hyperslicer](https://mpl-interactions.readthedocs.io/en/stable/examples/hyperslicer.html#Hyperslicer-with-Xarray). The downside is that it's based in matplotlib so it's lower performance, and you can't do any of the fancy things napari does. But for quick viewing it is still helpful (not

[2021-02-10 19:10] manzt commented on #14
Thanks for the suggestion! I'll check it out. I think the main issue is that heatmaps are scaled and translated to overlay a multiscale RGB image (which is important for interpretation), so I'm pretty dependent on napari features.

[2021-02-11 00:38] kne42 commented on #764
Hi all, I've provided a chart below detailing how I plan to re-organize all of our documentation sources. In essence, any sources that are tied to a specific napari version will live in the main `napari/napari` repo and all other sources will live in `napari/napari.github.io`. This means that `napari/tutorials` and `napari/docs` will be combined into that singular repository. For now, due to diffi

[2021-02-11 00:51] sofroniewn commented on #764
Sounds good, numpy uses `stable` in their URLs https://numpy.org/doc/stable/reference/arrays.scalars.html, so we can just go with that for the latest release

[2021-02-11 01:23] sofroniewn commented on #2245
Hi @sebi06 thanks for filing, someone will look at this soon :-)

[2021-02-11 02:48] sofroniewn commented on #2246
I know that @jni @Czaki @alisterburt and others have been thinking about units lately too, see also some discussion in #1701.  I think you're request goes beyond that because you also want values for the axes themselves, but I think it's worth connecting the two discussions. Curious if any of them have any thoughts on this.

The API you propose is quite reasonable, and I can see how it would then

[2021-02-11 07:57] Czaki commented on #2246
The proposition for the time could be done now using the `scale` assignment.

I'm still not sure if the channel should be an axis of the image. I strongly prefer using multiple layers. But we need to think about how to handle it when introducing units.

[2021-02-11 16:45] liaprins-czi commented on #764
Great chart! This makes it really easy to understand.

[2021-02-11 16:52] nweisenfeld opened #2253 "API for status line updates"
## 🚀 Feature

The bottom line of the viewer, which I'm calling the "status line," has a display that changes with cursor position and active layer.  The goal here is to make the display more configurable, in order to display application-specific information about the location of the cursor.  For instance, displaying label names e.g.  ("cancer", "not cancer"), instead of or in addition to a numeric

[2021-02-11 17:01] sofroniewn commented on #2246
What about the `"time": np.arange(0, 60, 15)`, or even arbitrary non-uniform time points? Could that be done with the new proposal?

[2021-02-11 20:11] ppwadhwa commented on #2138
I looked at this and was able to see that some points that are between 0 and 1 do seem to change location in space when your aspect angle changes.  Some points appear to move closer to the front to overlap points that should be behind.  I found reducing the point size to be helpful in convincing myself of this.

[2021-02-11 20:31] tlambert03 commented on #2138
oh yeah, very trippy!
![Untitled](https://user-images.githubusercontent.com/1609449/107695154-307b5400-6c7e-11eb-92a5-f41fb2f2ed75.gif)

[2021-02-11 20:35] sofroniewn commented on #2138
We've also got this problem recently reported https://github.com/napari/napari/issues/2213. Definitely something we need to look into, cc @Czaki

[2021-02-11 23:28] tlambert03 commented on #2233
@GenevieveBuckley, can you try something for me?

in `qt_main_window.py`, in `Window.__init__` ... change this
[code]
to this:
[code]

and see if it avoids the black screen until you use `napari.run`?

[2021-02-12 02:52] DragaDoncila opened #2257 "Plugin error colour scheme is hard to read"
## 🐛 Bug

The colour scheme for displaying plugin errors is difficult to read for both light and dark themes.

![errors_light](https://user-images.githubusercontent.com/17995243/107724769-c2e02e00-6d38-11eb-9240-c37dc13de54e.png) ![errors_dark](https://user-images.githubusercontent.com/17995243/107724778-c70c4b80-6d38-11eb-97f9-0d182e7ae939.png)

This may require some input on design from the desi

[2021-02-12 02:59] tlambert03 commented on #2257
@DragaDoncila, if you want to play with this, I think you should just be able to  change some of the colors in the `ANSI_STYLES` dict in that file.  it's generating html, so any valid css "color" style will work.  you might look to [pygments](https://pygments.org/demo/) for inspiration.

[2021-02-12 03:01] tlambert03 commented on #2257
actual pygments colors are here: https://github.com/pygments/pygments/tree/master/pygments/styles

[2021-02-12 03:02] tlambert03 commented on #2257
(bonus points for figuring out how to make it change with the theme :joy:)

[2021-02-12 03:10] DragaDoncila commented on #2257
"left as an exercise to the reader" lol

[2021-02-12 06:47] berl commented on #886
resurrecting this issue in case @tlambert03  or @sofroniewn  have seen any progress anywhere on this. Currently I do actually get the napari icon and a napari-named window appearing when I try to open napari on ubuntu remotely via x-forwarding to OS X, but the window is blank and I get lots of
[code]
which is consistent with the comments above.  I have similar weirdness/failure on remote desktops

[2021-02-12 12:16] tlambert03 commented on #886
Nope, using virtualgl is still the only working strategy I've seen

[2021-02-12 13:21] jwindhager opened #2259 "How to differentiate between select and drag in points layer"
## 📚 Documentation

In the examples, there is a section on how to listen to mouse drag events: https://github.com/napari/napari/blob/edee9af289660b609f8517a8c03054270876fc8c/examples/custom_mouse_functions.py#L54-L69

With the points layer, when `Points.mode == 'select'`, there are two possibilities in which a mouse drag can occur:
1. The user "rectangle-selects" points
2. The user moves points by

[2021-02-12 13:28] jwindhager opened #2260 "Moving points does not emit data change event"
## 🐛 Bug

Moving points in the viewer does not emit Points.events.data event

## To Reproduce

Steps to reproduce the behavior:

1. Add a points layer
2. Register a callback for `Points.events.data`
3. In the viewer, select and drag points and observe how the event is not emitted

## Expected behavior

To my understanding, `Points.events.data` should be emitted whenever the data changes, so either

[2021-02-12 16:46] sofroniewn commented on #2260
Thanks for filing @jwindhager - I know @jni has flagged this too. It is because we modify the data in place so the setter isn't called on the `data` property. We could just manually call the event here though https://github.com/napari/napari/blob/edee9af289660b609f8517a8c03054270876fc8c/napari/layers/points/points.py#L1725-L1727 which would be an easy one line fix as we work on a more elegant solu

[2021-02-12 16:49] sofroniewn commented on #2259
The location of the if/ else block is here https://github.com/napari/napari/blob/edee9af289660b609f8517a8c03054270876fc8c/napari/layers/points/_points_mouse_bindings.py#L52-L61. If this what you are looking for?

[2021-02-12 16:55] sofroniewn commented on #2253
Hi @nweisenfeld thanks for raising this as an issue after your PR earlier. I'm wondering the best way to do this.

The granular approach is appealing as I could imagine options in a settings and preferences panel that would allow a GUI only user to customize what they see in the status bar - "I only want to see coordinates", "I only want to see labels" etc.

That might be too limiting though for a

[2021-02-12 18:33] VolkerH commented on #2253
Hi,
thanks for tagging me.

Well, I had the specific use case of displaying the zoom level in mind. I thought that should go into the status bar (it is a very common feature).

I am not sure whether I would want the general functionality to completely change the status bar. A plugin could then completely change the user experience.

For additional information, maybe a docked inspector widget that

[2021-02-12 19:04] sofroniewn commented on #2253
Yes I like this idea too. I do worry that the status bar might get a little long, cluttered otherwise.

This is something that could be configurable, we could provide a list of 5 or so different things people might want to see and the people could check or uncheck the exact ones

[2021-02-12 23:34] jwindhager commented on #2259
Thanks a lot! It might be... So the code snippet you mention shows how the points layer handles the mouse drag event. As far as I can see, it first updates `layer.selected_data`
https://github.com/napari/napari/blob/edee9af289660b609f8517a8c03054270876fc8c/napari/layers/points/_points_mouse_bindings.py#L23-L44
and then continues with processing either the move (if `len(layer.selected_data) > 0`) o

[2021-02-12 23:40] jwindhager commented on #2260
Thanks! Happy to submit a pull request for this. Just want to make sure that this doesn't break things? For example, if some existing plugins do some heavy lifting in the `Points.events.data` event handler (e.g. I/O), it might be a suboptimal idea to now change the behavior to emit this event during a mouse drag operation... Maybe there should be two separate events, e.g. `data_updating` and `data

[2021-02-13 02:50] sofroniewn commented on #2260
That's a reasonable concern, we could do something a little more complex like use a recently added ability to block and count event emission, see #2197. We would add event emission to the points move function after the line I indicated above, but then inside the mouse function we could block event emission when the mouse gets pressed, then when the mouse gets release we could count the number of e

[2021-02-13 02:58] sofroniewn commented on #2259
Hmm yeah, this isn't so elegant. I actually have been thinking about moving the highlighting logic and visual (like the drawing of the bounding box) off the layer entirely (see #1353) which might make this easier, but that might not be for a while.

The order of the callback is determined by its order in the `mouse_drag_callbacks` list, and as you are using append it will go after our builtins.

Y

[2021-02-13 17:12] tlambert03 opened #2264 "PySide2 conflicting with pydantic signatures"
## 🐛 Bug
~I don't know how to explain this one yet... but simply importing napari is changing/breaking something about `pydantic.BaseModel`.  It may be doing many things, but the way I noticed it is that BaseModel signatures are breaking after napari is imported:~

**update**: PySide2 is still not playing well with pydantic (or apparently anything that tries to dynamically update a class `__signat

[2021-02-13 17:45] tlambert03 commented on #2264
ok, some more details... this is really quite a mess.  I'm still only kind of following here. but [this patch](https://codereview.qt-project.org/c/pyside/pyside-setup/+/261411) in PySide2 describes their "fix" as follows:

write into a `__signature__` attribute. We now allow this by implementing
a writable attribute that memorizes any written value.

I'm not sure, but it kinda seems like they're d

[2021-02-13 21:41] tlambert03 opened #2267 "Consider deprecating `@layer.mouse_drag_callbacks.append` syntax"
@sofroniewn got me thinking about mouse & key callbacks recently, both of which pose small (but solvable) problems for trimming down our models and Viewer/Layer objects to their "essential data".  Currently, we store callbacks on the classes and instances themselves, in special dicts and lists for the purposes.

The primary advantage I can see is the nifty decorator that we have in our examples:

[2021-02-13 22:44] sofroniewn commented on #2267
Yes, I prefer using methods here and think it will give us greater control. It will also bring things closer in line with our `@bind_key` approach.

I wonder when we do this if it isn't also an opportunity to look at some of the proposals in #1048 again too, for example we could do something like `@bind_mouse('press')` too.

Ideally we could do this in a way with deprecations. If so then I say ful

[2021-02-13 22:56] sofroniewn opened #2268 "Hookspec for interactive callbacks"
## 🚀 Feature
Following on with some ideas from #2267 I'd like to consider adding a hookspec that would allow plugin developers to provide callbacks that would connect to our mouse bindings, key bindings, or evented models.

We've had some discussion of keybinding and mouse function callbacks in #1272 and keybinding collision in #1321. In general I think we want something declarative where plugins

[2021-02-13 22:58] #2081 closed, assigned to nobody

[2021-02-14 13:14] #2264 closed, assigned to nobody

[2021-02-14 22:34] GenevieveBuckley commented on #2233
I've tried your suggestion @tlambert03 and it seems to make things worse, not better. Sorry!

[code]

[2021-02-14 22:56] tlambert03 commented on #2233
it should be `napari.run` ...  not `viewer.run`

but in any case, the window shouldn't have shown at ` viewer.show()`.  I'm really confused (and have no idea how linux is showing a widget that explicitly has not been shown without an event loop ... do this without napari if you can:

[code]
if you see the black screen there.  try this:

[code]

[2021-02-14 23:16] sofroniewn opened #2271 "Plans for our selected and active layer model"
## 🚀 Feature
The current state is that `selected` is a property that lives on each layer and a `selected` and `deselected` event are emitted. The `active_layer` lives on the viewer and is an attribute.

In #1952 we'll move `active_layer` from the `viewer` on the layerlist, accessible as `viewer.layers.active`. This is now a dynamically calculated, but cached, property. We clear the cache when the

[2021-02-14 23:19] sofroniewn opened #2272 "Docs build broken"
## 🐛 Bug

Looks like our docs build is broken, which could be because of the new release of jupyterbook, I'm not sure.

https://github.com/napari/napari/runs/1897828746

cc @kne42 @tlambert03

[2021-02-15 00:10] jni commented on #2260
Indeed, affinder specifically writes data each time the affine matrix changes, so this would re-save the affine matrix at each increment. It's tiny but I think that would add up. I like @sofroniewn's proposed solution.

[2021-02-15 00:35] jni opened #2273 "Default points layer is 2D rather than current viewer dimension"
## 🐛 Bug

In prior versions of napari (0.3.4), adding points with no data would default to the dimensionality of the existing layers, if any, or 2D if the viewer was empty. Today, it defaults to 2D in any case. This might have been done consciously to minimise complexity (since layers don't know about the viewer, and much of `add_*` is auto-generated), but I wasn't sure so I thought I'd raise an i

[2021-02-15 03:42] tlambert03 commented on #2233
I just got my linux system back up and running, and this fix _does_ work for me to prevent the black box.  @GenevieveBuckley, I'm not sure what went wrong when you tested it above, but maybe you can try #2276, which is what I was trying to suggest in https://github.com/napari/napari/issues/2233#issuecomment-777864183

[2021-02-15 04:49] GenevieveBuckley commented on #2233
Gah, of course - sorry!

[2021-02-15 07:12] GenevieveBuckley commented on #2233
We're not screwed, this works the way you expected & wrote above.

Yep, this also works like you expect. I don't see any kind of screen until the last line, when `app.exec_()` pops up a grey dialog box

[2021-02-15 08:28] jni commented on #2268
@sofroniewn very interesting! And exciting!

I wonder how this relates to the [discussion in Zulip](https://napari.zulipchat.com/#narrow/stream/212875-general/topic/callbacks.20on.20layer.20*instances*/near/226203271) about callbacks on classes rather than instances. Specifically, do you see a way for plugin writers to bind to only a specific instance of a layer?

Thinking about affinder, for exam

[2021-02-15 17:57] Czaki commented on #2213
@sofroniewn Did you test on another vispy version?

How `scale` is handled by vispy layers?

[2021-02-15 22:06] DragaDoncila commented on #2123
@pranjaldhole I'm looking into a more portable label format for your use case, and I was hoping you could give me a bit of extra detail on your workflow.

Your napari output, for example, has both labels layers stacked to correspond to your image stack. Is this because you chose to open the input images as a stack? I'm also curious about the two labels classes showing up as two separate labels lay

[2021-02-15 22:34] sofroniewn commented on #2273
Ah - I disagree that this is a bug, it maybe should be been a better documented or more widely discussed breaking change, but it was quite intentional at the level of the `viewer.add_points()` method. Clicking the new points button in the UI still uses the dimensionality of all the data, but the `add_points` method does not as it not is autogenerated from the `Points` layer.

I think that the `add

[2021-02-15 22:56] GenevieveBuckley opened #2277 "Fix obselete roadmap links in the README"
## 📚 Documentation

We want to have a link to the napari project roadmap in the README, but the filenames keep changing as new napari releases come out and the link becomes obselete/broken.

Originally discussed here: https://github.com/napari/napari/pull/2275#discussion_r575982386

Proposal:
* We use `roadmap_latest` as the filename for whatever the current roadmap is, and link to that in the REA

[2021-02-15 23:29] GenevieveBuckley commented on #2233
I apologize, I totally missed this earlier.

I think:
* It's fantastic you're doing this work making sure headless napari can work well
* I worry that for new users this might become a bit of a trap, and we don't have good ways to redirect them back to what they thought they were doing in the first place. It's only "not a mistake" if you *meant* to be running napari headless. If you didn't mean th

[2021-02-15 23:31] pranjaldhole commented on #2123
@DragaDoncila Thanks for looking into this. Let me write down an expected workflow in the following steps:

**On User Laptop**:
1. I want to open a stack of images using the `Open Folder` function. This way all the images are loaded in Napari.
2. I will label only some of the images that I will choose manually from this stack. The images are labelled sparsely, i.e., only very small portion of the

[2021-02-15 23:36] GenevieveBuckley commented on #2233
Since the removal of the user warning was intended, I'll close this issue.

I would like it if we had a better way to address this barrier to adoption:

[2021-02-15 23:36] #2233 closed, assigned to nobody

[2021-02-15 23:41] tlambert03 commented on #2233
would you then suggest that it's a mistake to make a matplotlib figure without showing it?

I'm not sure I agree on that ... surely, parity between the tutorials and the current state of master is an independent topic from how things "should work" ... for sure, the tutorials need to be clear and up-to-date,  but we have to be able to evolve from how the tutorials were originally drafted, and yes,

[2021-02-15 23:46] tlambert03 commented on #2233
it's also not even about running strictly headless or not.  If you're _not_ using ipython's magic `%gui qt`, (which again, is an optional third party event loop feature), then you would definitely need to set up some additional things before starting the event loop with `napari.run()`.  That's why we had the `gui_qt` context in the first place (because no one should _have_ to use %gui qt)... but f

[2021-02-16 00:03] jni commented on #2273
@sofroniewn on the one hand, as you know I love functional programming and stateless APIs. On the other hand:

- we already break parity between the layer `__init__` and the `add_` method for Image,
- `viewer.add_points` is a method on the viewer instance, so one would probably expect some state there anyway,
- `ndim=` might actually be autogenerated as well, if we decide to go that route (check w

[2021-02-16 02:33] sofroniewn commented on #2277
Thanks for pulling this out for dedicated discussion @GenevieveBuckley. Looking at our current organization of roadmaps, we'll probably want to move them off the top level of `Developer Resources` too, as we'll just be accumulating many links here for all the different versions

![image](https://user-images.githubusercontent.com/6531703/108010851-b3701780-6fba-11eb-82b5-77f6486c3e0b.png)

We could

[2021-02-16 04:31] GenevieveBuckley commented on #2277
I'm happy with whatever is easiest to maintain, that is not likely to cause us more problems with broken links

[2021-02-16 07:43] jni commented on #2233
This is the crux of it and I wonder if it's not a good idea to do this anyway? Especially given the large community we've built used to `gui_qt()`/`%gui qt`. ie *if* we're in IPython *and* `%gui qt` hasn't been launched when we instantiate the viewer, *warn* the user that they want to use `napari.run()` or `%gui qt`. What do you think @tlambert03?

[2021-02-16 15:24] jwindhager opened #2278 "Allow passing kwargs to reader functions"
## 🚀 Feature

Allow passing kwargs to the reader functions, e.g. when using `napari.Viewer.open()`.

## Motivation

It took me a while to understand why my JPG was always rotated 90 degrees in napari, but not in ImageJ. Turns out that imageio's JPEG-PIL plugin, which is used by napari's built-in reader function, supports an `exifrotate` parameter (see https://imageio.readthedocs.io/en/stable/forma

[2021-02-16 15:26] tlambert03 commented on #2278
agreed!  this is a duplicate of #1211, (definitely considered a high value feature though!)

[2021-02-16 15:33] jwindhager commented on #2278
Apologies, didn't find this before for some reason!

[2021-02-16 15:38] tlambert03 commented on #2278
this is the part that is potentially harder than it looks by the way.  There are restrictions in the way that hooks can be called (this is an old characteristic of pluggy that was inherited in napari-plugin-engine...)  So it may also require some surgery to the plugin engine itself to fix this.  If you're curious to dig a little bit, [`napari_plugin_engine.callers._multicall`](https://github.com/n

[2021-02-16 20:41] DragaDoncila commented on #1637
@sofroniewn @tlambert03 Thoughts on this? It's quite timely now I would say, particularly with the alfa cohort hopefully producing their own plugins (albeit maybe not writers specifically).

For example I'm in the process of writing a writer which needs to know the shapes of the given layers in order to determine whether it can write them or not. It doesn't seem like this should be left to the wri

[2021-02-16 20:47] tlambert03 commented on #1637
It all seems reasonable to me!

[2021-02-16 21:26] tlambert03 commented on #2233
as i laid out above, I'm not a fan... but it's a democracy and I'm happy to be outvoted! :joy:
I absolutely think we have an obligation to those who _already_ use `gui_qt()` to make sure it doesn't break without a solid deprecation period.  And I also definitely think we should continue to tell people about `%gui qt` in our documentation, just as we always have, and to make sure that it works well

[2021-02-16 22:31] kne42 commented on #2272
not really sure what's causing this but ill check it out

[2021-02-16 23:59] jni commented on #2233
You monster! 😂

[2021-02-17 04:06] GenevieveBuckley commented on #2233
I think it's a bit different to the matplotlib example because in my view the real power with napari is interactivity, whereas in matplotlib you generally want to construct the entire figure before seeing it.

But I'm not trying to start a philosophical argument here. I just missed that there was an intentional change here & was trying to be  helpful by flagging it.

[2021-02-17 07:57] emilmelnikov commented on #2142
I would like to add that a similar problem exists in the brush mode: the cursor is quite hard to see if the brush size is small and the image is zoomed out.

This motivated me to suggest an additional feature for the viewer: press a modifier key to activate a "loupe" mode, in which area around the cursor is zoomed to 100%, while still being able to perform an operation with the selected tool. This

[2021-02-17 08:49] emilmelnikov opened #2281 "Sparse Labels Layer"
## 🚀 Feature

Add a sparse labels layer, which is distinct from the current `napari.layers.Labels` in that is does not inherit from `napari.layers.Image`, and keeps it's data in a sparse format.

## Motivation

Some types of workflows require sparse labels, which includes adding them for the display, adding new labels, erasing old labels etc. `napari.layers.Labels` can be used as an approximation,

[2021-02-17 09:33] emilmelnikov opened #2282 "Global Progress Bar"
## 🚀 Feature

A single place in GUI, and a plugin protocol for reporting operations' progress.

## Motivation

Some plugin operations require a substantial amount of time, so users should see some kind of progress bar, preferably in a single place, and in a single style.

## Pitch

1. Implement a progress hook spec in a plugin, something like the following:
[code]
2. Start a lengthy plugin operati

[2021-02-17 13:24] tlambert03 commented on #2233
I think it's the warning for completely acceptable usage that bothers me.  I feel like the "use `%gui qt`" suggestion belongs in the documentation and tutorials more than the code itself.   However, an alternative that I would be less opposed to is actually _making_  the `napari.Viewer` be interactive by default when running in IPython.  This could be done as follows:

[code]

_edit:_ I'll note he

[2021-02-17 17:16] liaprins-czi commented on #2277
Would it be possible / make sense for the previous release's roadmaps to be accessed via the doc version dropdown? Or am I confusing the two concepts of doc version and releases (I had been thinking they go together but could be wrong)?

Then There could still be one single roadmaps page living within the Community section, but it could be changed to view the older versions of it via the dropdown,

[2021-02-17 17:45] ianhi opened #2283 "Gallery missing images/titles"
## 📚 Documentation

The images for https://napari.org/tutorials/gallery.html seem to be broken:
![image](https://user-images.githubusercontent.com/10111092/108245152-f26aae00-711d-11eb-9af0-94d63065599a.png)

[2021-02-17 18:47] kne42 commented on #2272
ran it on my machine and it worked. re-ran on CI and it [appears to have resolved itself](https://github.com/napari/napari/runs/1921220803)

[2021-02-17 18:47] #2272 closed, assigned to nobody

[2021-02-17 19:59] tlambert03 commented on #2282
+1.  certainly something we need!  I like the idea of a dedicated spot to show progress bars, and a basic API that people can use to update it (rather than making everyone create their own progress bars using, qt or magicgui). Couple thoughts:

the plugin/hookspec system system doesn't currently work in a way such that _plugins_ call the hookspecs... It's the other way around: plugins create imple

[2021-02-18 01:49] jni commented on #2282
I think this could get real crowded real fast. If we end up with a right scrollable drawer for plugins, I'd personally stack the progress bars vertically at the bottom of that drawer. Progress bars don't need tons of horizontal space...

Other than that this is all great! 😊 I'll note that the dask scheduler has some fantastic built in progress bar support (based on tqdm I believe), so *maybe* we w

[2021-02-18 02:07] GenevieveBuckley commented on #2233
I'd support this, on the basis that headless mode is likely to be less commonly used (and when it is used, those power users are likely to be people with stronger coding skills & ability to troubleshoot).

[2021-02-18 02:08] GenevieveBuckley commented on #2277
Will that dropdown auto-populate @liaprins-czi? I'd be happy with that, as long as someone doesn't need to remember to update things.

[2021-02-18 05:27] sofroniewn commented on #1637
I'm very open to this. I'd want to think about how to do it in a backwards compatible way if possible.

Right now we have:

[code]

We could layer done

[code]

(where `layer_type` or `type` should probably be a kwarg in the `dict`). Could just call it `meta` too. This might be tricker to make backwards compatible.

I do wonder though then if we should just move away from the `get_writer` approach

[2021-02-18 05:35] sofroniewn commented on #2142
Love this suggestion @emilmelnikov, we don't have support for anything else like this right now, but that would be a super nice feature. we can definitely think about how we could support it

[2021-02-18 05:38] sofroniewn commented on #2272
ok nice, maybe they pushed a bug fix! thanks for checking it out :-)

[2021-02-18 06:18] sofroniewn commented on #2277
They are actually slightly independent, in the sense that i could update a previous releases roadmap in a new release, but generally i don't expect that to happen.

I think trying a top level "roadmaps" section at the same level as "release notes" might actually work nicely. Thoughts @jni?

I think that will be most transparent to users and developers @GenevieveBuckley and should be easiest to mai

[2021-02-18 06:24] sofroniewn commented on #2281
Thanks for making this issue @emilmelnikov, cc @DragaDoncila who can start looking into this.

I'll also link to #2123 which is discussing some of the IO around labels, and #269 which wanted support for segmentation masks, which could possibly be supported via sparse labels too. Exciting ideas all around!

[2021-02-18 06:35] sofroniewn commented on #2278
Indeed, a very important topic, and one we may end up treating differently for different hookspecs.

Even just in the context of fileIO, I'll be honest, I'm still a little hesitant about opening up the hookspecs to allow arbitrary keyword arguments. If a plugin does take kwargs I'd somehow want to make sure that we can generate GUI elements for them in an open or save dialog. It would be good to c

[2021-02-18 06:37] sofroniewn commented on #2283
I think that grid may now have been dropped (it was always slow to load!). I now see

![image](https://user-images.githubusercontent.com/6531703/108315724-b7de3100-7170-11eb-820f-fe8752191c0b.png)

Can you confirm that's what you see now too @ianhi and then we can close this issue?

[2021-02-18 12:28] #2190 closed, assigned to nobody

[2021-02-18 15:54] tlambert03 opened #2286 "Standardize usage of single backticks for variables in docstrings."
## 📚 Documentation

as pointed out by @Carreau in https://github.com/napari/napari/pull/2279#discussion_r578018715, there are plenty of places in our docstrings where double backticks are being used stylistically, to achieve `<pre>` styling in the sphinxdocs... but this conflates style with semantics.  This has been discussed a lot elsewhere (see e.g. https://github.com/sympy/sympy/issues/13519 an

[2021-02-18 16:32] ianhi commented on #2283
Yup fixed for me now!

[2021-02-18 16:32] #2283 closed, assigned to nobody

[2021-02-18 19:08] liaprins-czi opened #2287 "Bundled app won't open on Mac"
## 🐛 Bug

I have followed the [instructions for installing the napari bundled app on a Mac](https://napari.org/tutorials/fundamentals/installation#installing-as-a-bundled-app) exactly, but unfortunately it does not open for me.

## To Reproduce

Steps to reproduce the behavior:

Specifically, after I update the Mac system preferences to allow napari to open, when I next go to napari within my Appl

[2021-02-18 19:32] tlambert03 commented on #2287
sorry, big sur broke a lot of things (#1393) and the bundle isn't working yet on big sur.

However, as of a few weeks now, it _should_ be working now with the standard install via conda (but note, you will definitely need to use python 3.9):
[code]

if conda is not working at all for you, let me know what errors you're getting

[2021-02-18 20:13] liaprins-czi commented on #2287
Okay thanks for your help @tlambert03 ! I have just installed the latest version of Python now (3.9.1), and tried running the command you list above, but after the first command I get the error: `-bash: conda: command not found`

So am wondering if this means conda is not found / not installed anymore...?

[2021-02-18 20:18] tlambert03 commented on #2287
yep looks like it.
two things to check: if you installed [miniconda](https://docs.conda.io/en/latest/miniconda.html) (or anaconda) via the "normal" install, then you should have a `miniconda3` (or anaconda) folder in your home directory.  If you _don't_, then just reinstall.
If you _do_ have a folder, then your "conda init" may be broken (you can check for something like `# >>> conda initialize >>

[2021-02-18 20:19] tlambert03 commented on #2287
this actually raises another question:  did you install python directly via python.org?  or were you trying to install python using the `conda create` command above and that's when you ran into issues?

[2021-02-18 20:51] liaprins-czi commented on #2287
I updated/installed Python via [Python.org](https://www.python.org/downloads/mac-osx/) and right after I did I checked the version again in Terminal with `python --version` and it said 3.9.1 (before it was 3.8.2 I think). So I am pretty sure the Python version part is fine.

Now am looking into the conda stuff like you mentioned, I will update here if run into more issues! Thanks for all you quick

[2021-02-18 20:55] tlambert03 commented on #2287
I ask, because it's actually not necessary (and honestly, not even advisable really) to install python system-wide from python.org if you're _also_ going to use conda (unless you know specifically that you want to do so).  Conda will install python for you.  When you run `conda create -n envname python=3.9`, the "python 3.9" bit means _install_ python 3.9 ... (not "use" python 3.9).  In some cases

[2021-02-18 20:55] liaprins-czi commented on #2287
Okay, I have neither miniconda3 nor anaconda anywhere in my computer at this point. So just to make sure I install it right, I just follow the instructions from the [anaconda docs](https://docs.anaconda.com/anaconda/install/mac-os/)? Or would it be better to do the miniconda version?

[2021-02-18 20:56] tlambert03 commented on #2287
I'd say go for miniconda.  it provides the `conda` program without all the bloat of hundreds of packages you may never use.  follow install here: https://docs.conda.io/en/latest/miniconda.html

[2021-02-18 20:56] liaprins-czi commented on #2287
Okay great I will do that! Thank you!!!

Also I jsut saw your comment about Python... should I uninstall it before install miniconda?

[2021-02-18 20:58] tlambert03 commented on #2287
you can if you want. but it shouldn't be a problem

[2021-02-18 20:58] tlambert03 commented on #2287
![python_environment](https://user-images.githubusercontent.com/1609449/108420718-2c14e500-7202-11eb-8ccd-83f1af522240.png)

:joy:

[2021-02-18 21:12] liaprins-czi commented on #2287
Great! now everything seems to be back to normal, now the usual `napari` command works to open napari! thank you so much for your help @tlambert03 !

[2021-02-18 21:12] #2287 closed, assigned to nobody

[2021-02-18 21:13] Czaki opened #2288 "Points saving and rendering problem"
## 🐛 Bug

From one user I got a points csv file with points marked. I see that points on some layers are not showing. Then I check csv file and found that part of the points has such coordinates:

[code]

The user works with data with noninteger scaling

There are two bugs at once.

Points should be saved in proper image coordinates. So `12.0` not `12.000000000000002`

Points with coordinate `12.0

[2021-02-18 22:38] jni commented on #2288
@Czaki are you saying point 12.000000000000002 is *not* rendered on slice 12? That's *definitely* a bug.

As to the issue of floating point error that is giving rise to this... floating point is always tricky but I suppose it should be safe enough to round to, I dunno, 12 decimal places 😂

Any thoughts @sofroniewn?

[2021-02-18 22:49] Czaki commented on #2288
yes

[2021-02-18 23:23] Carreau commented on #2286
Thanks @tlambert03, I think internally in sphinx single backticks will be converted to a inline directive with a  role and name, it just happened that if there is None, sphinx try to "guess", and the "guess" is part of sphinx configuration.

I don't think this is critical in the short term, and likely something I can try to address in vélin. Maybe this is something we can also talk about with the

[2021-02-18 23:57] Czaki commented on #2288
What did you think about use round function before saving in image coordinate space?

[2021-02-19 01:53] jni commented on #2288
I sort of implied that round would be sort of ok but to some ludicrous precision. I can see a plain-old-round being troublesome in cases where the slicing is *not* actually at integer coordinates. Note that this is not "image coordinate space", it's whatever results from the points layer scale and translate parameters. The points layer does not know whether this is image coordinates or some other

[2021-02-19 01:58] jni commented on #2286
Yeah, so I've started using ``:py:func:`my_function` `` when I want a function specifically, but what is the directive for a function parameter, @Carreau? "in the face of ambiguity, refuse the temptation to guess". ;)

[2021-02-19 02:00] jni commented on #2287
Just for future reference, I recommend people install miniforge these days in place of miniconda:

https://github.com/conda-forge/miniforge

it's the same thing as miniconda, except it defaults to searching conda-forge instead of the (privately managed) Anaconda defaults.

[2021-02-19 02:03] tlambert03 commented on #2286
I don't think there is one.  The :func:my_function: role actually links to a reference in the Sphinx index, but parameters don't have such cross-reference indices... hence the confusion here

[2021-02-19 02:07] jni commented on #2286
That's... annoying. LOL

[2021-02-19 02:30] goanpeca commented on #2195
@Czaki could you elaborate a bit more on:

[2021-02-19 06:15] sofroniewn commented on #2288
Agreed this sounds like a bug, I can take a look when I get a chance and report back here. Will be something funny going on in our Dims model https://github.com/napari/napari/blob/v0.4.5/napari/components/dims.py

[2021-02-19 06:17] sofroniewn commented on #2286
Thanks for raising this @tlambert03, I'll go with to whatever the recommended best practices here are

[2021-02-19 08:19] Czaki commented on #2288
No. The points are saved in image coordinate space. I already mentioned it earlier on zulip.
The original data has a scale equal to `1, 300, 64, 64` reader form image metadata (and from division by ~300 error my comes)

[2021-02-19 08:24] Czaki commented on #2195
For example, I could write a plugin that provides some measurements method to napari. This measurement could have names and descriptions which are not already presented in the napari translation file. It will be nice If I could provide such translations for languages that I know inside the plugin, not creating PR to some main package.

[2021-02-19 17:08] goanpeca commented on #2195
Hi @Czaki so maybe it is worth explaining how localization will (or at least in my head) will work

Any plugin developer will do something like

[code]

This is what devs will need to do. From there we will centralize the generation of catalog for any registered plugins in the language packs repository.

And example of the configuration file on that repo from another project where I followed a sim

[2021-02-19 17:34] tlambert03 commented on #2271
couple thoughts:
I continue to like the idea of a selection model that is _independent_ from the item model (this is how Qt does it... not that we need emulate to all Qt things... but in this case I like it).  so a layer group will have the concept of selected items, but via some instance of a `SelectionModel` (this could actually live on `Group` ... not `LayerGroup`.  emphasizing that this is a t

[2021-02-19 17:34] Carreau commented on #2286
Personally I think that staying with single in the codebase and working on fixing the styling/directive-role in sphinx is the right way to go.

It may be a matter of updating numpydoc to emit references in parameters.

[2021-02-19 17:41] liaprins-czi commented on #2277
FYI, I have just updated the site map to show Roadmaps now as its own top-level section within the nav.

Sitemap on LucidChart:
https://lucid.app/lucidchart/192f0dbb-99dc-43e8-b9fb-d023be464658/edit?page=0_0#?folder_id=home&browser=icon

Same exact sitemap on Figma:
https://www.figma.com/file/CCKg8nO8vVcYVIvkVJbW4g/Sitemap?node-id=566%3A2

[2021-02-19 18:59] sofroniewn commented on #2271
I like this idea a lot, seems very natural to me

I'm not sure. We might want to use the `EventedList` again and so it might be nice to have selection as something on the list too. For example, we currently use the evented list inside the napari-animation plugin, and more plugin developers might want to use it too.

It might be nice to have both a `SelectableEventedList` and `SelectableGroup` when

[2021-02-19 19:09] tlambert03 commented on #2271
I think we _do_ want all that stuff. my emphasis there was on the "immediate gain" part.  I also like this direction and agree it's reusable, but I'm just very conscious of the fact that the layergroup specifically may very well change a lot in the near future.  so I'm wondering why go through wiring this all up to a layerlist that is about to get removed?  We're _nearly_ there ...

yeah, you coul

[2021-02-19 19:34] sofroniewn commented on #2277
Thanks @liaprins-czi! I think that looks good to me!!

[2021-02-20 15:42] tlambert03 commented on #1637
just want to point out: there is a mechanism in place to let hookspecs add new arguments over time without breaking old ones. hook implementations [may accept _less_ arguments than defined in the spec](https://pluggy.readthedocs.io/en/latest/#opt-in-arguments).  So this proposal doesn't necessarily need to change `layer_types` to `layer_meta` and deal with complicated backwards compatibility.  Plu

[2021-02-20 16:04] tlambert03 commented on #2278
it wouldn't be (and indeed [_can't_ be](https://github.com/napari/napari/issues/2278#issuecomment-779918184)) arbitrary **kwargs.  It would be a `plugin_kwargs` dict argument on the `open()` method (and the `read_data_with_plugins` function).  Also, it wouldn't need be on the hookspec itself ... it would be handed to the `ReaderFunction` that is _returned_ by the plugin.

[code]
I think it's a pre

[2021-02-20 21:19] Czaki commented on #2195
Maybe I do not understand something. But how it allows for the translation of a text which is not already present in napari translation files (for example during the development of a new plugin?.

[2021-02-22 10:55] Czaki opened #2291 "Allow to provide list of docked widgets which will be open on viewer start"
## 🚀 Feature

Add to `Viewer` constructor argument `widgets` or `docked_widgets` with a list of widgets that need to be docked on Viewer start. This could be a list of names or a list of classes (not instances).

## Motivation

When working with the development of plugins this is annoying to all-time open widgets from the main menu. of course it possible to use `add_dock_widget` from `viewer.windo

[2021-02-22 20:18] liaprins-czi commented on #764
I have re-org'ed the Figma project housing all the design explorations for the napari.org overhaul, to make it easier to now find the final designs + other assets!

Figma with final visual designs:
https://www.figma.com/file/NmdYwtpKfMzLnNLYYWrbTw/Final-designs?node-id=275%3A0

Folder containing exported SVGs for icons used within the design:
https://drive.google.com/drive/folders/1taZYafPoxS3ZZGq

[2021-02-22 23:12] kne42 commented on #764
Hi all, I have a preview of the new website up at https://napari-staging-site.github.io/

we'd love to hear feedback and for you to report any bugs [here](https://airtable.com/shrZYpR7pH2VAJX1V)!

[2021-02-23 01:34] GenevieveBuckley opened #2295 "Napari syntax error identified in the tutorials docs"
## 🐛 Bug

I've been converting the napari 'fundamentals' tutorials to jupyterbook, and have already found a failure because of a syntax error. We don't want to recommend users do things that don't work, so we should update the docs. Trouble is, I'm not entirely sure what the right way is.

So the [tutorials/fundamentals/viewer](https://napari.org/tutorials/fundamentals/viewer.html) documentation s

[2021-02-23 01:57] tlambert03 commented on #2295
as mentioned on zulip.  that syntax is no longer supported and that tutorial needs to be updated.  (another exciting reason for moving to dynamic docs eh? :joy:)

I don't have an example immediately ready, but you can move layers using standard python list syntax (tricks like [this SO post](https://stackoverflow.com/questions/3173154/move-an-item-inside-a-list)), or you can use the methods from `E

[2021-02-23 02:09] GenevieveBuckley commented on #2295
Thanks a bunch for your thoughts!
You know what? I'm just going to say "you can move layers by clicking and dragging them". I have no idea why this super-obvious solution did not occur to me until just now :rofl:

[2021-02-23 02:09] #2295 closed, assigned to nobody

[2021-02-23 02:12] DragaDoncila commented on #2123
@pranjaldhole thank you for all the detail on the workflow and your patience on this issue. I have written a plugin which I hope will be able to provide much of the functionality you are after and you can find it [here](https://github.com/DragaDoncila/napari-compressed-labels-io).

To mitigate the issue of compression, we've added compression to the default call for saving layers, so the tiffs sho

[2021-02-23 06:03] sofroniewn commented on #2291
I'm not sure this will be a complete solution to what you request, but I could imagine keeping track of which plugin widgets were open when you last closed the viewer and restarting napari with those plugin widgets displayed. This will at least help our plugin developers and users.

[2021-02-23 07:41] Czaki commented on #2291
I do not think that it will solve this problem. This base on the previous run, not the context of a current situation.
Another solution when something like this may be useful is using naprai from a notebook. That you could simply adjust the interface to the current task.

[2021-02-23 13:44] tlambert03 commented on #2291
I'm not sure I'm following what you want to happen.  Is the issue that you want to be able to start napari with a plugin dock widget already open (without manually needing to open it in the menu)?  Is it that you want to be able to have multiple instances of the dock widget?  Is it that you _want_ to be able to close and reopen it, or _don't_ want to be able to close and reopen it?

Would this be

[2021-02-23 15:00] Czaki commented on #2291
I would like to start napari with already docked widgets and without the possibility of multiply instances (which could be done with add_docked_widget).

I think yes.

[2021-02-23 22:22] goanpeca commented on #2291
This would be saved as part of the geometry saving, we just need to track the list of visible plugins/docks on shutdown. Dockwidgets also need to have a unique and object name assigned

[2021-02-23 22:28] Czaki commented on #2291
This is a nice idea for Viewer used as bundled app. Not for viewer used from a notebook. A different notebook may need a different set of widgets.

[2021-02-24 02:21] #2207 closed, assigned to nobody

[2021-02-24 03:18] tlambert03 opened #2299 "py37 failing"
## 🐛 Bug
looks like #2254 has introduced some incompatibilities and [failing tests](https://github.com/tlambert03/napari/runs/1966542373?check_suite_focus=true#step:9:1796) with py37 with `AttributeError: module 'gettext' has no attribute 'dpgettext'`.  I think the only reason linux is passing is because those tests are getting skipped.

cc @goanpeca

[2021-02-24 03:20] tlambert03 commented on #2299
(btw, @goanpeca ... we don't test all python/OS combinations in PRs... so it might have looked like a linux-specific problem in the PR, but we only test 3.7 on linux in PRs)

[2021-02-24 04:55] sofroniewn commented on #2299
Good catch @tlambert03, is it also failing locally? We should look into a fix asap

[2021-02-24 06:21] GenevieveBuckley opened #2300 "Bug: File menu 'Save screenshot' causes napari to freeze/crash on Ubuntu"
## 🐛 Bug

Using the menu item to take a screenshot of napari causes the viewer to hang and requires me force-quit.

Furthermore, it isn't possible to change the save directory location, or the save filename away from the default `/home/genevieve/Pictures/napari.png`. When I click on a different folder in the save dialog GUI, nothing happens, and when I click and try and type in the filename box, n

[2021-02-24 06:24] GenevieveBuckley commented on #2300
On napari 0.4.5 I don't see the freezing/crashing so much, but I am unable to set a custom directory location or filename for the saved screenshot.

[2021-02-24 06:35] GenevieveBuckley commented on #2300
Hmm, and now that I've pulled changes from the last few days, I'm getting different behaviour *again*. This time it's less severe, but does tell me EVERY time that whatever filename I've chosen already exists & do I want to overwrite it. This is plainly not the case for some of the cases I've tried.

[2021-02-24 06:36] GenevieveBuckley commented on #2300
Anyway, given this I'd say it's weird but still useable. Closing this issue.

[2021-02-24 06:36] #2300 closed, assigned to nobody

[2021-02-24 06:43] GenevieveBuckley opened #2301 "The Help 'napari info' dialog box does not match the napari theme"
## 🐛 Bug

Somewhere between napari release 0.4.5 and the current master branch, we've lost the theme that should be applied to the `napari info` dialog box from the Help menu.

On napari 0.4.5 I don't see this issue, the theme of the napari info dialog box matches the rest of napari.

## To Reproduce

Steps to reproduce the behavior:

1. Launch napari from the master branch
2. Click the `Help` men

[2021-02-24 06:43] GenevieveBuckley commented on #2301
Probably a good first step here is using `git bisect` to narrow down on when this was introduced.

[2021-02-24 12:58] tlambert03 commented on #2301
the general refrain that people should try remember about styles in Qt, is that widgets inherit their styles from their parents.  For this reason (and also for widget cleanup reasons), it's important that all widgets be assigned parents if at all possible.  This appears to be one of a few lingering cases of a custom widget not being given a parent, and can be fixed by:
1) changing the `__init__` o

[2021-02-24 13:11] tlambert03 commented on #2299
yep, try:
[code]

[2021-02-24 16:14] tlambert03 commented on #1596
just want to bump this issue again.  I was starting to create some magicgui docs, showing the result of adding a widget and layers, but it's not very helpful at the moment, since the layers don't appear (and actually I don't think added dock widgets do either?)

[2021-02-24 16:17] sofroniewn commented on #1596
For the layer list i wonder if it is because it's our own custom qscrollarea. if we used a listview it might be better. not sure if that change is worth it before the coming layer groups though.

i'm not quite sure what to do if the issue is more general. i don't have any leads right now, but i've seen this too

[2021-02-24 16:58] goanpeca commented on #2299
I will add a fix. My bad I looked at the 3.8 docs an not the 3.7 docs. Indeed some methods are not available.

I need to fix. Working on this now.

Good catch @tlambert03

[2021-02-24 17:04] tlambert03 commented on #1596
ahh.. it's the gd event loop (it's _always_ the gd event loop :).  This is conceptually somewhat like https://github.com/napari/napari/issues/2029 actually.

If you do something like this:
[code]

then at the moment that nbscreenshot is called, none of the events that have been "queued up" by lines 2 and 3 have actually been triggered... since there _is no_ event loop until `napari.run` is called.

[2021-02-24 17:49] kpasko opened #2304 "Napari not working with dask distributed Client"
**What happened**:

TypeError: can not serialize 'function' object

In distributed/client.py line 2635
futures = self._graph_to_futures

**What you expected to happen**:

successful image viewing

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:
Works fine when not initializing client, i.e.
[code]

works as expected

**Environment**:

- Napari/Dask version:
das

[2021-02-24 17:49] kpasko commented on #2304
@jrbourbeau

[2021-02-24 18:02] tlambert03 commented on #2304
interesting.  This does appear to be at least partly related to the interplay between napari and `dask-image` itself...  If I directly pass a dask array, I get no error:

[code]

also, if I cast the dask_image to numpy prior to passing to napari, it also seems to work:

[code]

cc @jakirkham

[2021-02-24 18:11] jakirkham commented on #2304
Thanks for letting us know. Do we have more details from the exception?

[2021-02-24 18:12] jakirkham commented on #2304
cc @GenevieveBuckley

[2021-02-24 18:13] jrbourbeau commented on #2304
Is there a nice way to save a Dask array to `*.tif` files? I'd like to try and run

[code]

locally

[2021-02-24 18:14] tlambert03 commented on #2304
fwiw, I was able to reproduce just using a plain local `.png` file for `imread`

[2021-02-24 18:50] jakirkham commented on #2304
Does this happen with an older version of Dask-Image? I think there were some changes to `imread` in the recent release

[2021-02-24 18:57] kpasko commented on #2304
here's the full trace

![image](https://user-images.githubusercontent.com/167271/109051054-f606b380-768e-11eb-903b-2a9193767078.png)

[2021-02-24 18:59] tlambert03 commented on #2304
another thing we should try is to go back before the async stuff got added to the Image layer in napari (i.e. before #1343 and #1565), and see if it happens there.

[2021-02-24 19:03] jakirkham commented on #2304
cc-ing @madsbk (as HLG is coming up in the trace though we might need to unpack things further)

[2021-02-24 19:10] jakirkham commented on #2304
In particular would be good to test 0.4.0 to see if this works there as 0.5.0 started using `da.map_blocks` ( https://github.com/dask/dask-image/pull/165 )

[2021-02-24 22:28] #1596 closed, assigned to nobody

[2021-02-25 00:51] GenevieveBuckley commented on #2304
Yes, this is the next step to try. Would you be able to give that a go @kpasko?

[2021-02-25 03:20] #2299 closed, assigned to nobody

[2021-02-25 04:54] richardbeare opened #2309 "Installation problems - ubuntu 20.04"
Installing via pip into a clean conda environment as follows:

[code]

[code]
grepping for the missing symbol on the output of nm -D shows that it exists in libQt5Gui.so

Same host, with a purely conda install works:

[code]

[code]
Differences in packages:

working version
[code]

problem version

[code]

so different qt packages.

[2021-02-25 05:05] GenevieveBuckley commented on #2304
Can confirm, this problem was introduced with `dask-image` version 0.5.0

You can use either `dask-image` version 0.4.0, or `dask.array.image.imread()` and not see the same problem.

[code]

[2021-02-25 05:08] GenevieveBuckley commented on #2304
Since this is a clear problem caused by `dask-image`, I'm going to copy this info over to a new issue there.

Head over to https://github.com/dask/dask-image/issues/194 if you want to follow it there

[2021-02-25 05:08] #2304 closed, assigned to nobody

[2021-02-25 05:17] GenevieveBuckley commented on #2309
Hi @richardbeare - nice to see you here!

I'm also running Ubuntu 20.04, but I'm not able to reproduce the same behaviour. I can import napari without error.
My list of qt package versions looks the same as yours:
[code]

I guess it's possible that somewhere on my system `libQt5Gui.so` exists, even if it might be missing from the conda environment I've just created. If that's the case, it might be

[2021-02-25 05:25] richardbeare commented on #2309
I've had success using the same commands on a 20.04 VM. That VM is a more minimalistic than the workstations, and I haven't figured out the differences yet. As far as I know, all the Qt components on the workstation were installed with apt from normal sources.

[2021-02-25 05:42] richardbeare commented on #2309
@GenevieveBuckley Can you try installing qtbase5-dev with apt to see if it breaks? Strangely the libQt5XcbQpa.so.?? files are owned by different packages - some libqt5gui5, others by qtbase5-dev.

[2021-02-25 05:47] #2301 closed, assigned to nobody

[2021-02-25 05:55] GenevieveBuckley commented on #2309
:rofl: "Try this, and let's hope it breaks your system"

Sadly(?) installing qtbase5-dev does not seem to have broken anything. Again, I do seem to have a bunch of qt stuff installed in my base conda environment (not sure when that happened), so it is possible that my laptop is not a great testing environment for nailing this down.

[2021-02-25 07:44] richardbeare commented on #2309
I'll keep poking around. It has me mystified.

Problem remains after reinstalling miniconda.

[2021-02-25 08:25] jni opened #2311 "Text on shapes layer fails when ndim>3"
## 🐛 Bug

Reported on image.sc [here](https://forum.image.sc/t/3d-bounding-box-text-labels-valueerror-pos/49369)

When adding a shapes layer with text properties to a 3D+t dataset, the text update fails with the traceback

<details>

<summary>

[code]

</summary>

[code]

</details>

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Text should have correct placement

[2021-02-25 18:10] kevinyamauchi commented on #2311
Ah, sorry about that! I agree that we likely aren't correctly slicing the coords for n>3 D. Unfortunately, I don't have time to push a fix this week, but I've outlined what I think needs to be done below.

The coordinates of the next elements are passed to vispy via `layer._view_text_coords`, which calls the `TextManager.compute_text_coords()` method to get the coordinates. `TextManager.compute_te

[2021-02-25 19:04] Carreau opened #2313 "Gui Locked and unstopable notification error stream"
## 🐛 Bug

![crsh](https://user-images.githubusercontent.com/335567/109203242-c4f2b580-7758-11eb-9144-d38c96a9bcbc.gif)

## To Reproduce

Steps to reproduce the behavior:

- Open napari;
- Toggle number of displayed dimension (Ctrl-Y),
- Add new layer shape.
- Napari is now locked and keep popping notification, and must be killed.

## Expected behavior

- Show an single notification
- don't block t

[2021-02-25 20:38] ianhi opened #2314 "Allow adding custom modes to the Labels layer"
## 🚀 Feature

I'd like to be able register custom modes on the Labels layer.

## Motivation
The default labels layer provides excellent basics for labelling/segmenting an image, however there is no easy way to add specific functionality such as applying a skimage function to the region under the brush or painting in along the TXY dimensions (but not all ndims).

## Pitch
Provide an api on the labe

[2021-02-25 21:23] alisterburt opened #2315 "magicgui integration problem"
I'm running into an issue with the napari/magicgui integration, looks like it may be a version mismatch somewhere but I'm fairly up to date

[code]

with magicgui 0.2.6

When I try to run the [magicgui napari example](https://napari.org/magicgui/examples/napari/napari_img_math.html#code) the `FunctionGui` is created fine but when I click the execute button I get

[code]

I guess I could fix it by

[2021-02-25 21:38] tlambert03 commented on #2315
arg... this might be another case of what @sofroniewn fixed in https://github.com/napari/magicgui/pull/154/files

The return annotation shouldn't be `Image` anymore unless you're actually returning an `Image`.  To return just a numpy array (as is done in that example), try a return annotation of `napari.types.ImageData` (as in [this example](https://github.com/napari/magicgui/blob/master/examples/

[2021-02-25 23:15] alisterburt commented on #2315
Brilliant, changing the return type sorted it - thanks for the quick reply!

[2021-02-26 01:53] colinmarcus opened #2320 "How to view 3D images in perspective mode?"
I have a large (>4GB) 3D image I am trying to view. It is in numpy array format. I am able to successfully load it into napari viewer, but I have noticed it is rendering in orthographic view, rather than perspective view.

How can I render in perspective view?

Thanks!

[2021-02-26 03:54] richardbeare commented on #2309
I currently cannot figure out why the system libraries are involved at all. The relevant Qt libraries are all available in the miniconda hierarchy. There's a chance that we have something broken in our system startup on the workstations.

[2021-02-26 04:40] jni commented on #2320
Well, I didn't think it was possible without accessing private APIs, but, the power of open source! I knew we used the VisPy Arcball camera, the source code of which can be found here:

https://github.com/vispy/vispy/blob/48122e63c376d05c76a131911984f323c0eaeb05/vispy/scene/cameras/arcball.py

And there I noticed this comment in the docstring:

    Notes
    -----
    Interaction:
        * LMB: o

[2021-02-26 05:39] sofroniewn commented on #2320
seems like a pretty reasonable request and we probably should. do they just use fov in degrees, which i guess runs for 0 -> 90 with 0 being orthographic. We could just reuse that same name `fov`? Here is where we hard code it right now https://github.com/napari/napari/blob/3d8f315a74ce53d2e6a784f246b5d405d3951667/napari/_vispy/vispy_camera.py#L32

[2021-02-26 05:58] sofroniewn commented on #2315
Yeah we did, we could add back in, sorry, it was there for 2 releases but maybe that was too quick!

[2021-02-26 06:04] jni commented on #2281
Just to recap some discussion about this from the Asia/Pacific dev meeting today:

- [Discussion on Zulip](https://napari.zulipchat.com/#narrow/stream/212875-general/topic/sparse.20arrays/near/227866238)
- Issues relating to fancy indexing of pydata/sparse arrays: pydata/sparse#298, pydata/sparse#114. These suggest that they are very close with this, and would give us labels painting into sparse a

[2021-02-26 11:59] emilmelnikov commented on #2281
For our specific use case, I'm not sure we really need fancy indexing from sparse arrays. Fancy indexing (more specifically, ["coordinate selection"](https://zarr.readthedocs.io/en/stable/api/core.html#zarr.core.Array.get_coordinate_selection) or "vindex") is required only from a dense array implementation, while data from `sparse.COO` can be used directly as indices into the dense:

[code]

Also,

[2021-02-26 15:52] bentaculum opened #2321 "Missing dependencies for drag-and-dropping zarr array"
## 🐛 Bug

Missing dependencies for drag-and-dropping a persistent `zarr` array from disk.

## To Reproduce
Drag-and-dropping a persistent `zarr` array into a fresh install of `napari` leads to the following errors:

[code]

After installing `zarr`, there is another missing dependency:
[code]

Running the suggested `pip install 'fsspec>=0.3.3'` solves the issue.

## Expected behavior

It seems reas

[2021-02-26 17:02] colinmarcus commented on #2320
Fantastic! The shift+right mouse button thing works! The only downside, is that it doesn't just scale between ortho and perspective - it keeps going past perspective, into some nightmare super-stretched-perspective view. :)

In any case, if you could add an ortho/perspective menu option in the future, that would be great!

[2021-02-26 17:10] sofroniewn commented on #2313
This doesn't look good! Thanks for flagging!!

[2021-02-26 18:25] sofroniewn opened #2322 "pydantic 1.8 release"
## 🐛 Bug

Looks like the pydantic 1.8 release has broken something. Not sure what yet. Could make a quick pin < 1.8 or quick fix cc @tlambert03

[2021-02-26 18:28] sofroniewn commented on #2322
[code]

[2021-02-26 20:47] cgohlke commented on #758
The slow startup issue due to `pkg_resource` is back (tested with napari-0.4.5). This time it comes from xarray, which is loaded on startup through some decorator (?, I guess):

https://github.com/pydata/xarray/blob/318816a8304cf637417e889e563eafe63fde7c12/xarray/__init__.py#L1
https://github.com/pydata/xarray/blob/318816a8304cf637417e889e563eafe63fde7c12/xarray/backends/plugins.py#L7
https://gith

[2021-02-26 21:03] tlambert03 commented on #758
hmmm... this seems tricky.  how would you propose we deal with third-party packages that have slow imports?  We only use xarray in our tests... isn't this just something that anyone using xarray has to deal with anyway?

[2021-02-26 21:04] tlambert03 commented on #758
(I guess we could take extra care not to check for xarray's existence until the last possible moment?)

[2021-02-26 21:07] tlambert03 commented on #758
if xarray is heavy, we should probably use a different check for whether something is an xarray here:

https://github.com/napari/napari/blob/68822f8f2ef618cc727442bc5c1a35e70198aa64/napari/utils/misc.py#L419-L425

that will get run all the time

[2021-02-26 21:11] tlambert03 commented on #758
I always hesitate to use `type(x).__name__ == ` ... but perhaps that's best here.

how about something like
`'xarray' in type_.__module__ and 'array' in type_.__name__.lower()`

[code]

[2021-02-27 01:17] Czaki commented on #2322
There is plan for some fast release (0.4.5.post1 differed from 0.4.5 with one commit) with such pin? It touch also napari in 0.4.5.

[2021-02-27 01:21] Czaki commented on #2309
This problems may comes from wrong order of installation of libraries. Force reinstall PyQt5-Qt or use PyQt5 in version 5.15.2

Which version of pip did you use.

[2021-02-27 01:31] jni commented on #2281
Haha, maybe *you* don't need it, but napari needs it to paint with a circular brush, fill a label, etc. The key here is that napari needs to do *nothing* to support sparse data arrays as labels, if those arrays support indexing, have a `__array__` method to support a `numpy.asarray()` call (for display), and support fancy indexing (for editing). Currently, pydata/sparse already supports 2/3, and i

[2021-02-27 04:47] sofroniewn commented on #2322
I think we could start release process for 0.4.6, it's been two weeks. Earliest that would be out is monday/ tuesday though. Thoughts @jni? What do you think we should do?

[2021-02-27 09:30] Czaki commented on #2322
But it is still few days when the new installation of napari will be broken if the user does not have `pydantic` already installed.

[2021-02-27 21:09] richardbeare commented on #2309
I'll check out versions later on. The error implies that the system qt libraries are being used - do you know if this is meant to happen? There appear to be a set of qt libraries installed in the conda environment - why would it look at the system libraries at all?

[2021-02-27 21:55] tlambert03 commented on #2309
Hi @richardbeare,
I couldn't repeat your observation in a _clean_ environment... but I was able to reproduce it by updating pyqt in an existing environment (qt bindings couldn't be found after installing PyQt5==5.15.3

In that case, doing what @Czaki suggested works... but I needed to make sure to get everything:

[code]

PyQt5==5.15.3 doesn't yet exist on anaconda cloud... so that's probably why

[2021-02-28 03:14] richardbeare commented on #2309
I tried uninstalling and reinstalling, but ended up in the same place.

My best guess at the moment is that I have problems with miniconda due to a possibly broken environment modules setup on this workstation, where some of the default modules that get loaded have Qt components. Perhaps these fool conda somehow.

[2021-02-28 04:49] richardbeare commented on #2309
I forgot to say:
[code]

[code]

same error.

it is definitely pulling in the system libraries when it shouldn't. The symbols it is complaining about aren't in the libraries that get installed by pip:

[code]

Any suggestions about why this could be happening?

[2021-02-28 14:04] tlambert03 commented on #2111
Hi @adamltyson,

I just tried to reproduce this but wasn't able to.  Everything worked fine via the gui plugin installer on ubuntu 20.04.

<details>

<summary>environment immediately after env creation and pip install napari[pyqt]</summary>

[code]

</details>

<details>

<summary>environment diff after installing napari-brainreg via gui</summary>

[code]

</details>

here's where `bg_atlasapi` go

[2021-02-28 15:18] tlambert03 opened #2328 "Settings manager may need to handle edge case where loaded data is None"
## 🐛 Bug
Looks like the settings manager `_load` method may need to handle the case where `safe_load` returns `None`.  I don't yet have a reproducible example... but I'm working on some stuff that is crashing napari a lot :joy:, so maybe settings aren't getting written correctly at close?  and during one of my runs I got this traceback:

[code]

[2021-02-28 15:21] Czaki commented on #2309
Did you try if `PyQt5==5.15.2` from `pip` works?

Could you try to show the output of `LD_DEBUG=symbols ipython --gui=qt`

[2021-02-28 23:24] GenevieveBuckley commented on #2309
Yeah, I think I was displaying the viewer with either the astronaut or the camera image (it's just that Richard was noticing errors even before that point). I'm going to step out of this conversation now, since I wasn't able to reproduce this earlier and now other people have.

[2021-03-01 00:37] GenevieveBuckley opened #2329 "Do not set the dask cache to 1/10th of RAM on import"
## 🐛 Bug
Copy-pasting this over from a discussion in dask-image

@jni says https://github.com/dask/dask-image/issues/194#issuecomment-786450341

@tlambert03 https://github.com/dask/dask-image/issues/194#issuecomment-786611351

@jni
https://github.com/dask/dask-image/issues/194#issuecomment-786968555

and then @tlambert03 says

## To Reproduce

https://github.com/dask/dask-image/issues/194 is an ex

[2021-03-01 00:42] tlambert03 commented on #2329
hi @GenevieveBuckley, can you summarize the crux of the problem?  I tried to read through that issue to see why the cache was causing that issue... but I didn't immediately see it.  I see that @jni lamented our cache, and I agree we should figure out how to offer caching without having global side effects... but I'm still missing why exactly dask/dask-image#194 popped up because of it?

[2021-03-01 00:55] GenevieveBuckley commented on #2329
...nope! I don't remember any of the conversations @jni talks about. I'm just kicking this over here so it doesn't get lost completely.

[2021-03-01 00:58] tlambert03 commented on #2329
ok that's fine.  I just wanted to clarify (for my own understanding) whether the cache was actually _causing_ that problem, or just came up as a topic while investigating that problem (and possibly made investigating it harder), but didn't actually contribute to the problem.  @jni, do you know?

[2021-03-01 01:10] GenevieveBuckley commented on #2329
I'd lean towards this probably being a more accurate summary. Feel free to edit the text above if you like.

[2021-03-01 10:04] richardbeare commented on #2309
[code]
all from pip - same missing simple error.

I've run the LD_DEBUG version, and there doesn't appear to be any reference to system Qt libraries until the error occurs. I can attach the log, but it s 25M +

I've also found something else. The setup above works if I ssh -X to the host - so I guess that means an interactive login shell, and I purge the environment modules. The original setup was

[2021-03-01 10:31] Czaki commented on #2309
Yes. Most probably the source of problems is this environment variable.

I do not know why it is set.

the most interesting part is the end of LD_DEBUG log which will inform which modules are loaded before this fail.  Because this may allow understanding which module makes a problem.

[2021-03-01 11:55] jni commented on #2329
@tlambert03

Indeed, it just caused a red-herring, because calling `data.compute()` before adding the array to napari made the problem go away — but that's only because `dask.compute()` would cache the whole thing, so no more computation would need to happen. Discussion starts at this comment and the two that follow:

https://github.com/dask/dask-image/issues/194#issuecomment-786419669

[2021-03-01 12:07] adamltyson commented on #2322
I'd vote for releasing a new version of napari to patch this. It took me a while to work out why napari wasn't working in a fresh environment.

[2021-03-01 12:25] VolkerH commented on #2322
Same here, just now. As I was building napari inside a Docker container (something I am not that familiar with) I was debugging my Dockerfile for a while before looking for the issue here.
So +1

[2021-03-01 12:27] adamltyson commented on #2111
Looks fixed to me (either my machine, or somewhere between 0.4.2 and 0.4.5). Thanks for looking into it!

[2021-03-01 12:27] #2111 closed, assigned to nobody

[2021-03-01 13:19] tlambert03 commented on #2329
gotcha.  thanks!

[2021-03-01 16:15] tlambert03 commented on #2322
this has been fixed upstream, and will presumably be in the next pydantic release: https://github.com/samuelcolvin/pydantic/pull/2421

(not that we shouldn't release with `pydantic<1.8.0`)

[2021-03-01 16:42] Czaki commented on #2322
When new version of pydantic will be released?

[2021-03-01 16:43] tlambert03 commented on #2322
at this point, we don't know

[2021-03-01 16:44] sofroniewn commented on #2322
We've started the `0.4.6` release process now with a pin `pydantic<1.8.0`, will have an `rc` to test soon.

[2021-03-01 16:53] sofroniewn commented on #2322
Ok `0.4.6rc0` has been released and can be tested with `pip install --pre napari`. Please let us know how that's working on the Zulip release discussion - https://napari.zulipchat.com/#narrow/stream/215289-release/topic/0.2E4.2E6/near/228264146

[2021-03-01 23:00] Carreau commented on #2322
That won't totally work, pip has a dependency resolver, and might decide to downgrade napari for end users instead of downgrading pydantic.

[2021-03-01 23:04] Carreau commented on #2322
Not saying that you should not make a release pinning pydantic to <1.8.0; but that users may end up upgrading pydantic and downgrading napari when manipulating other dependencies, updating plugins.... (had the same issue with IPython/Jedi recently.

[2021-03-01 23:15] tlambert03 commented on #2322
Interesting... is there any better alternative?  Or just something were kinda stuck with?

[2021-03-01 23:35] jni commented on #2322
I would suggest we release with `pydantic!=1.8.0` so that we automatically work with subsequent versions, since the fix is in pydantic master?

[2021-03-01 23:55] Carreau commented on #2322
Yeah, it's something we are stuck with. It's an inherent problem of package manager that don't allow to update package meta informations after the release, it also affects conda, but in a lesser form, as you can hotpatch repo index in conda/conda-forge, and the fact that we can't know the future (yet).

It's worse in pip/pypi as the info is _in_ the wheel, **and** pip recently changed to a resolve

[2021-03-02 00:24] richardbeare commented on #2309
Last few lines - let me know if you'd like more:

[code]

[2021-03-02 00:26] Czaki commented on #2309
but this is a log from the working version?

[2021-03-02 01:01] richardbeare commented on #2309
No that's the failing version. The error comes out at then end and doesn't go to the log.

[2021-03-02 02:49] ianhi commented on #561
Is there a shorter path to having multiple unlinked multple canvases? Even unlinked is something that I would find very help and currently seemed to be confined to matplotilb for. Grid mode doesn't work for me easily because I essentially want a BF background for serveral of these canvases and different combinations of points or layers on top of them.

[2021-03-02 03:24] GenevieveBuckley commented on #561
@ianhi is it possible for you to use multiple napari viewer to achieve this aim?

[code]

[2021-03-02 03:58] jni commented on #2322
@Carreau you're exactly right (here and on twitter), metadata fixed at release time causes so many problems. :facepalm:

[2021-03-02 04:19] sofroniewn commented on #2322
I've updated our `rc` to just avoid `1.8.0`

[2021-03-02 04:22] Carreau commented on #2322
If ever you think you think a pep is necessary, I'm happy to contribute. If it becomes a long time problem we can try to pull resources and get funding to  try to fix this upstream.

[2021-03-02 04:41] ianhi commented on #561
Thanks for the pointer @GenevieveBuckley ! There's the small downside of clunkiness of duplicating napari windows but that's not a big deal. The larger issue holding me back from doing that is that all my code currently does `with napari.gui_qt` as it most written before figuring out the work around of getting `%matplotlib ipympl` and `%gui qt` to work together.

In the better world that is to com

[2021-03-02 05:30] GenevieveBuckley commented on #561
What workaround did you end up figuring out for this? (Maybe this sort of stuff deserves a page in our docs, to try and spare other people some pain)

Is [this](https://github.com/DeMarcoLab/correlateim) what you mean? I built that on top of [cpselect](https://github.com/hofmann-tobias/cpselect) (because that was a thing that already existed and we were looking to do something relatively quickly).

[2021-03-02 13:41] kevinyamauchi commented on #1727
From [this comment](https://github.com/napari/napari/pull/2204#pullrequestreview-600185434) in #2204 by @sofroniewn , we will do the following after #2204 merges.

[2021-03-02 16:53] sofroniewn commented on #2176
I think we can close this now that #2212 has merged and we went with YAML, right @goanpeca?

[2021-03-02 17:39] sofroniewn commented on #1727
Now that #2204 is merged I think we should continue the "private" refactor in as many places as possible first - @jni also mentioned trying to use this in labels too, and then reconvene before deciding exactly how to expose everything publicly.

I think @jni wasn't sold yet on the `layer.edge.color` API, but we can defer that decision until we've gotten further. How does that sound @kevinyamauchi?

[2021-03-02 18:41] cgohlke commented on #2322
Trying pydantic-1.8.0 with the fix, napari-0.4.6 still fails to start (on Windows):

[code]

 Reverting to pydantic-1.7.3 works.

[2021-03-02 19:07] tlambert03 commented on #2322
thanks @cgohlke.  I just tried with the current pydantic master and napari 0.4.6, but it worked for me on my mac (strange though... doesn't seem this would be an OS specific error).  I can get on this for windows though and we can try to make sure to have a napari release that works for it when it comes out.

[2021-03-02 19:08] sofroniewn commented on #2322
Thanks for flagging @cgohlke - is that fixed by https://github.com/samuelcolvin/pydantic/pull/2423?

[2021-03-02 19:48] Czaki opened #2336 "Settings improvements"
## 🚀 Feature

I would like to request few upgrades to the new settings feature

1. Use version information in the path to the settings file.
   **Why:** napari dynamically updated the inner structure. There are also plans to store more things in settings. Then working on stable and development settings may often corrupt the settings file. Maybe also stable and development version of `napari` shoul

[2021-03-02 19:57] cgohlke commented on #2322
Yes, using pydantic master works. Sorry for the noise.

[2021-03-02 20:09] sofroniewn commented on #2322
No worries, great to have the additional confirmation! Always keep your bug reports coming :-)

[2021-03-02 21:50] colinmarcus commented on #2320
In the meantime, is there a way I can set the fov in code? The issue with shift+RMB is that it is too imprecise. I am currently doing something like:

`import napari`
`%gui qt`
`viewer = napari.view_image(data3D_sphericalized)`

Is there a line I could add here that would set the fov=90? This is in Jupyterlab FYI.

[2021-03-02 22:01] tlambert03 commented on #2320
[code]

[2021-03-02 23:31] GenevieveBuckley commented on #561
@ianhi here is a link to Juan's talk, he's happy to share it. It's a 10 minute video and the affinder demo appears at 4:55-5:50.

https://www.dropbox.com/s/kkqyx01spsh2rf2/vis2021-napari-juan-nunez-iglesias.mp4?dl=0

[2021-03-03 02:15] ianhi commented on #561
Thanks for sharing that video - very informative!

Affinder looks like a great thing to build off of, but I'm not sure that it's easy to do what I want yet. I'm just allowing for manual tweaking of a skimage watershed which is conceptually super easy to implement using matplotlib's subplots:
![Peek 2021-03-01 23-48](https://user-images.githubusercontent.com/10111092/109741557-46a07400-7b9b-11eb-8b

[2021-03-03 02:20] royerloic commented on #561
Exciting to see this topic discussed again.
Just want to point out, or emphasis again,
that vispy has already support for multi-canvas, it is called a 'viewbox':

https://github.com/vispy/vispy/blob/master/examples/basics/scene/one_cam_two_scenes.py
https://github.com/vispy/vispy/blob/master/examples/basics/scene/viewbox.py

That's perhaps the best way to implement this...

[2021-03-03 02:37] GenevieveBuckley commented on #561
Thanks @ianhi it's really helpful to see that gif

Yeah, this is something I'd like to improve (and you're right, it's mostly because napari plugins are in early stages right now).

One question: what is not working for you with your current matplotlib process? Why will changing this to napari be helpful for you?

[2021-03-03 03:04] ianhi commented on #561
Napari is so much more responsive for drawing labels+zooming in and out than matplotlib is. The lag with matplotlib is small enough that it's still usable, but large enough that it's unpleasant. You can see this a little bit in that gif but it's far more noticeable when you have the physical feedback of moving the mouse with your hand. In contrast the labels labels layer (is fantastic) is super re

[2021-03-03 03:06] ianhi commented on #561
The other side benefit of napari is that it provides an easy way to run a blocking function on user input in a notebook which is one of the gaps in ipywidgets.

[2021-03-03 03:12] sofroniewn commented on #561
The current thing that would be hard is to have the same data sliced in multiple different ways without having multiple copies of it. This is a limitation of having sliced data "live" on the layer which we're trying to fix. We could support having different slicing with copies, but that seems less desirable.

This is interesting because you want the same data in multiple canvases with the same vie

[2021-03-03 03:18] ianhi opened #2337 "Text overflow in Labels Layer on Linux"
## 🐛 Bug
The text for some of the options for the labels layer is not displaying correctly:
![image](https://user-images.githubusercontent.com/10111092/109747434-1c53b400-7ba5-11eb-9371-f0d69ee4a9f0.png)

This persists even with window resizing.

## To Reproduce
I just run the layers.py python example and added a labels layer by clicking the button to add one.

## Expected behavior
Text looks good

[2021-03-03 03:26] ianhi commented on #561
What exactly do you mean by unlinked? I was imagining that each layer gets given a view of the array and just slices it however it wants, then it shouldn't be copied multiple times in memory.

I also think that part of what I meant by unlinked is that the two images could be displaying different datasets entirely (like in subplots 2 vs 3 in my gif)

[2021-03-03 03:27] joaomamede commented on #1457
I also have this problem but running locally, updated pyqt and napari and it broke (0.4.6 from pip and 0.4.5 from anaconda).
Tried pyside, and it doesn't work either.

[2021-03-03 03:42] sofroniewn commented on #561
When I've said linked and unlinked I think I've mostly been referring to the cameras, and whether you have one global camera (like grid mode) or one camera per canvas, and so whether those camera are linked in the sense that zooming one zooms the other, or unlinked in the sense that they can be controlled independently. If it looks like I'm using the word differently though point me where and I ca

[2021-03-03 04:25] sofroniewn opened #2338 "Multicanvas API Thoughts"
## 🚀 Feature

This comment right now is really a collection of some of my thoughts around the multicanvas API

--------

### Background context and minor questions

There are a number of issue discussing multiple canvases that already exist in napari - #561, #662, and #760, including discussion of our grid mode. Most of them though are a little out of date, and we've made some good progress since

[2021-03-03 04:26] sofroniewn commented on #561
I created #2338 if people want to discuss the multicanvas API more there, it's a little rambly, but there are a number of things we'll need to consider from the API perspective

[2021-03-03 06:07] sofroniewn commented on #2338
Note the motivation for this post was recent discussion in https://github.com/napari/napari/issues/561#issuecomment-788535358

[2021-03-03 08:54] Czaki commented on #1457
@joaomamede Which system did you use? Which version of Qt?

[2021-03-03 13:10] tlambert03 commented on #2328
we're seeing this in the tests for tutorials too: https://github.com/napari/tutorials/pull/111
@goanpeca

[2021-03-03 14:42] pranjaldhole commented on #2123
@DragaDoncila Thank you for developing the plugin. I was testing the example file you uploaded. It seems that it is no longer possible for me to add further labeling to  the data. I get an error when I tried to add more labels as follows:

Is that an easy error to fix?

[2021-03-03 14:58] Czaki opened #2340 "Settings broke new theme registerd"
## 🐛 Bug

#2212 Broke registering a new theme by creating a closed list of the available themes.

https://github.com/napari/napari/blob/eaa54747e376c9da853a63f3e326b89d49a4f73b/napari/utils/settings/_defaults.py#L19-L23

Test for registering new theme was disabled on CI.

https://github.com/napari/napari/blob/eaa54747e376c9da853a63f3e326b89d49a4f73b/napari/_tests/test_examples.py#L39-L58

[2021-03-03 15:54] sofroniewn commented on #2340
Sorry about that. We definitely do want to support the addition of new themes.

[2021-03-03 20:46] DragaDoncila commented on #2123
Hi @pranjaldhole , this should be fixed now. You'll need to upgrade your plugin version using pip install -U napari-compressed-labels-io.

Let me know if this works for you!

Note that the error was a result of zarr not supporting fancy indexing, which we need for painting. This means when we read the layers back, we must instantiate them as numpy arrays. Could this be an issue for you? How large

[2021-03-03 21:05] alisterburt opened #2343 "alternative behaviour possibilities when adding points to an nd image"
Just bringing this up for general discussion, curious as to whether people think this is a generally useful idea/something we want or very niche/not important

## current behaviour on adding points
Currently when you add a point to an nd layer a single point is added at the clicked position in nd space - this is great default behaviour, but sometimes not exactly what I'm looking for.

## proposal

[2021-03-03 21:11] kevinyamauchi commented on #1727
I agree that we should perform the private refactor first and then determine how we can should best set up the new public API when we can test it on all of the layers.

I like the aesthetics of `layer.edge.color`, but I think it will be difficult to implement that sort of hierarchal API for all `ColorManager` fields unless we allow `ColorManager` to access the layer. This is because since some of

[2021-03-03 23:15] jni commented on #2343
@alisterburt if you add a points layer with a lower dimension, the points should automatically be projected (broadcast, in NumPy parlance) along the remaining dimensions. Here's an example:

[code]

<img width="1491" alt="Screen Shot 2021-03-04 at 10 14 24 am" src="https://user-images.githubusercontent.com/492549/109885363-7b631700-7cd2-11eb-8ec2-e0252bfbde97.png">

<img width="1491" alt="Screen S

[2021-03-03 23:33] alisterburt commented on #2343
Excellent! Glad it's already there and thanks for the example. 🙂

I'll check tomorrow but I assume the button in the viewer for creating a points layer uses the same ndim as the currently selected layer by default. Do you think it's worth exposing a way to change the ndim of the points layer created when that button is clicked, or on the layer once created? This would let you take advantage of thi

[2021-03-03 23:39] jni commented on #2343
Yes, the button issue is the reason I didn't close this. =D It would indeed be good to expose it somehow. (right click? click and hold? Both?)

[2021-03-03 23:47] alisterburt commented on #2343
My feeling is that right click is more discoverable, and one way is better than many? Happy to do whatever though - I’ll have a proper look at the weekend!

[2021-03-04 02:59] goanpeca commented on #2340
Thanks for this @Czaki. Will work on a fix :)

[2021-03-04 03:09] sofroniewn commented on #2322
1.8.1 just came out, not sure if it's breaking `4.6.0`, but i suspect it is breaking master due to

[code]
failing in the colormanger now see https://github.com/napari/napari/pull/2344/checks?check_run_id=2026313230

cc @tlambert03 @kevinyamauchi

not sure what could have happened from the changelog https://pydantic-docs.helpmanual.io/changelog/#v181-2021-03-03

[2021-03-04 03:11] goanpeca commented on #2176
Agreed! Closing

[2021-03-04 03:11] #2176 closed, assigned to goanpeca

[2021-03-04 03:17] goanpeca commented on #2336
Hi @Czaki thanks for bringing this up and starting this discussion.

Why: napari dynamically updated the inner structure. There are also plans to store more things in settings. Then working on stable and development settings may often corrupt the settings file. Maybe also stable and development version of napari should be separated. Maybe use:

Great point. Indeed, for dev versions we should proba

[2021-03-04 03:22] sofroniewn commented on #2322
Ok, yup I've checked this now, it is the `1.8.1` update, i havn't tried to find the PR yet, but this is the full traceback on master right now

[code]

[2021-03-04 03:29] goanpeca commented on #2328
Whoops. Thanks for the report @tlambert03, indeed not cool. Will take a look.

[2021-03-04 03:31] sofroniewn commented on #2322
Oh now that i think about this, it could have broken in `1.8.0`, but we just hadn't seen it yet!

[2021-03-04 03:45] sofroniewn commented on #2343
Right click and a context menu that allowed you to specify ndim would be great!

[2021-03-04 07:04] kevinyamauchi commented on #2343
I think it would be nice if we also had the option to choose which of the dimensions are being broadcasted. Perhaps a a checkbox for each axis? I suppose that wouldn't work so well for people that have a ton of dimensions. However, I think we would have to change more internally to achieve this and initially just having the ability to set ndim from the GUI would be great.

[2021-03-04 07:33] jni commented on #2343
@kevinyamauchi :wave: I think you're right but I think that work should be postponed until we have better axis broadcasting by labels. Currently axis numbers are ambiguous since we count from the right in order to match NumPy broadcasting. ie an array of axes (0, 1, 2) and one of axes (0, 1) are broadcast as 0->broadcast, 1->0 and 2->1.

[2021-03-04 09:31] Czaki commented on #2336
Sometimes, even when taka patience sometimes my settings files got corrupted (migration fails). So I decide to split state persistence into multiple files (and got corruption only a part of the data). Maybe it could be a good approach for napari when increase amount of stored data?

[2021-03-04 09:35] brisvag opened #2347 "Vector layer scaling inconsistencies"
## 🐛 Bug

When trying to use the `scale` parameter of vector layers, I encountered some issues. Type errors are raised unexpectedly, and arrays are reshaped strangely.

However, I can create a layer and *then* set its scale to have the expected behaviour.

EDIT: actually, it seems that using a single float is not accepted either way.

## To Reproduce

This works as intended:
[code]

However, this

[2021-03-04 12:39] alisterburt commented on #2343
all sounds good, thanks for all of your input! I'll try put together a basic version in the way Nick suggested and when axes have labels we can come back to a more flexible approach

[2021-03-04 15:02] sofroniewn commented on #2347
While not the same, this reminds me of #1801, this does feel like a bug too

[2021-03-04 16:04] brisvag commented on #2347
Indeed, that's probably connected to the same inconsistency between setting attributes and calling `add_*`.
Actually, I found part of the same issue with the `Points` layer just now: using a single scalar does not work in the same way:
[code]

[2021-03-04 17:02] brisvag opened #2348 "A few image layer scale issues"
## 🐛 Bug

I've been trying out some layer scaling. I'm putting this separately from #2347 , but it's part of the same "family" of issues, that probably stem from a combination of assumptions about the `scale` argument's nature and inconsistencies between attribute setting on layer object and calling `viewer.add_*`.

Issues I found:
- image scaling does not accept scalars.
- passing a scale vector

[2021-03-04 21:47] richardbeare commented on #2309
Here's a copy paste from the terminal

[code]

[2021-03-04 22:44] GenevieveBuckley opened #2350 "Smart pre-fetching of image frames"
## 🚀 Feature

"Smart" pre-fetching of neighbouring image frames to improve the user experience. Feature requested by @zeroth

## Motivation

When you jump around in napari to a different image frame (especially for time series data), users often want to compare an image frame/timepoint with its neighbours. Right now, if you're jumping around a lot the user experience isn't very good.

## Pitch

Wh

[2021-03-04 22:51] ianhi opened #2351 "Allow more shapes when creating points"
## 🚀 Feature

I'd like to be able to pass data with shape (a, b, c, Y, X) to `viewer.add_points`

## Motivation
My data is organized as bright field images with shape `(S, T, Y, X)` and points that seed a watershed with shape `(S, T, N_points, 2)`. If a given position and time point has fewer then N_points it is padded with `nans`. I found this data structure to be very convenient when storing my

[2021-03-04 23:24] ianhi commented on #2351
FWIW here is a way to convert the points in the shape I have to the shape napari expects:
[code]

[2021-03-04 23:25] uschmidt83 opened #2352 "Glass-like surface with `label_colormap`"
https://user-images.githubusercontent.com/231996/110044185-ff57e600-7d48-11eb-85df-ba03da080c63.mov

## Pseudocode

[code]

## Environment

Sorry, can't easily paste text since running on different computer.
![image](https://user-images.githubusercontent.com/231996/110044142-eea77000-7d48-11eb-930a-ee5d195b1103.png)

[2021-03-04 23:29] ianhi opened #2353 "Add option for changing point size with no points selected to change the sizes of all points."
## 🚀 Feature

As in the title.

## Motivation
I see the appeal of having variable sized points, but for my use case I would like all points to be same the size.

## Pitch

I would like the `point size` slider to change the size of all points if None are selected.

Alternatively, the points layer could have a mode that enforces all points to have the same size and the point size slider affects thei

[2021-03-04 23:52] uschmidt83 opened #2354 "Error when returning named shapes/surface layer multiple times (Dock widget)"
Running a dock widget multiple times (i.e. pressing the `call_button`) will cause an error with named `shapes` (and also `surface`, not shown) output layers.

## Code

Minimal dock widget to reproduce the issue.

[code]

![image](https://user-images.githubusercontent.com/231996/110045579-2e6f5700-7d4b-11eb-94ca-6cff8f4b9779.png)

## Expected behavior

Not to throw an error. Would have expected tha

[2021-03-05 00:41] Czaki commented on #2309
I do not understand. You cannot start qt loop, or this happens on the end of the loop.

Did you have QT_QPA_PLATFORM_PLUGIN_PATH defined in your environment?

[2021-03-05 00:49] richardbeare commented on #2309
Sorry - I pasted this in for completeness. We tracked the problem to presence of QT_QPA_PLATFORM_PLUGIN_PATH and everything is fine if I remove that. In my case the PLUGIN variable is present due to some default environment modules. Purging the modules removes the problem.

[2021-03-05 01:37] #2309 closed, assigned to nobody

[2021-03-05 01:54] maweigert commented on #2352
It seems that by default the smallest value of the surface vertex `values` is internally mapped to `0` and subsequently colormapped to fully transparent with `random_colormap`. So either changing the limits like `contrast_limits=(0, values.max())` or using a truly random color map without the transparent background class should help.

[2021-03-05 02:57] jni commented on #2352
Or could we maybe change the mapping to start at 1 for the smallest value? That would make it consistent with labels...

[2021-03-05 03:30] ianhi opened #2355 "`bind_key` docstring incorrect"
## 📚 Documentation
The docstring contains a parameter `keymap` that is not part of the function signature
![image](https://user-images.githubusercontent.com/10111092/110063302-e21b1b80-7d38-11eb-93bb-3a175f5cfc78.png)

[2021-03-05 03:50] ianhi opened #2356 "Setting active_layer programmatically does not change which layer is highlighted"
## 🐛 Bug

Setting `viewer.active_layer` from jupyter (with `%gui qt`) only updates part of the left sidebar ui.

![Peek 2021-03-04 22-45](https://user-images.githubusercontent.com/10111092/110064799-d3823380-7d3b-11eb-9579-a0d38df78797.gif)
## To Reproduce
Run this code:

[code]

## Expected behavior
The mask layer is highlighted blue in the layer list.

## Environment
[code]
## Additional context

[2021-03-05 03:52] sofroniewn commented on #2230
Ah @d-v-b this errors because right now with `NAPARI_OCTREE=1` we're expecting a precomputed pyramid, sorry for missing that first time i looked at it.

Something like

[code]

would be better. I'm working on some other bug fixes in #2349 though, so you might still want to wait a little before trying this out!

[2021-03-05 04:39] sofroniewn commented on #2356
Yes, unfortunately this has never worked. We're almost certainly going to remove `active_layer`, i had one PR to do so in progress in #1952, but I think we're now going to wait until #2239 merges which adds a new selection model and then support this functionality using that feature. Sorry about this! Thanks for the very nice bug report. I'm hoping that we could get this fixed by the next release,

[2021-03-05 04:41] sofroniewn commented on #2355
Good catch, I think we should just drop from doc string. Do you mind submitting a PR? Thanks!!

[2021-03-05 04:48] sofroniewn commented on #2352
If I understand what this issue is about, those values get passed through without modification to the vispy mesh vertex_values
from https://github.com/napari/napari/blob/1b52b2bfe4337f10163c1f13587f1f66a71a9474/napari/_vispy/vispy_surface_layer.py#L48 to

https://github.com/vispy/vispy/blob/76b5e47c2bf81dfbaa8e834a931e118aaaecb98e/vispy/visuals/mesh.py#L164-L165

In general the rendering of the su

[2021-03-05 04:54] ianhi commented on #2355
Looking at this deeper i'm not sure that just dropping it from the docstring is correct.
The actual base function does have `keymap` as an arugment
https://github.com/napari/napari/blob/1b52b2bfe4337f10163c1f13587f1f66a71a9474/napari/utils/key_bindings.py#L185-L191 It But it looks as though the `viewer.bind_key` function is generated by this:
https://github.com/napari/napari/blob/1b52b2bfe4337f101

[2021-03-05 04:56] ianhi commented on #2356
Makes sense!

Is there a place where how to do stuff like setting active layers is documented? If there is and you think a fix may take awhile then I can open a PR to leave a note about this.

(also if such documentation exists I'd love to read it - i'm mostly figuring this out as I go by looking at the napari code)

[2021-03-05 14:04] tlambert03 commented on #2356
Unfortunately not really, napari.org is the only docs location.  It’s a work in progress... there is still a lot of functionality like this that can only be discovered by exploring the source code. This particular API is likely to change in the next couple months

[2021-03-05 16:22] sofroniewn commented on #2355
Ah ok, we're actually going to be doing some refactoring of this fairly soon to simplify it a little an unify some things in an action manager, so maybe we wait here a little till we've gotten further with that - cc @Carreau for visibility

[2021-03-05 16:25] #2322 closed, assigned to nobody

[2021-03-05 18:38] sofroniewn commented on #2356
Maybe the best thing to do is expand the doc strings of the ViewerModel and add some comments in the code

[2021-03-05 22:18] ianhi commented on #561
@GenevieveBuckley just to follow up. I was inspired by the way affinder toggles layers on and off. So I implemented my watershed corrector in napari -  so thanks for sharing that! Napari is a much better experience to use. Especially when you add copious keyboard shortcuts to make the toggling easy:
![watershed-correction](https://user-images.githubusercontent.com/10111092/110179503-2ad4e200-7dd6-

[2021-03-05 23:37] sofroniewn commented on #561
Maybe you can turn it into a small plugin like affinder? It would be a very simple widget that just allowed you to select the relevant layers as inputs. We'll probably be improving the API to add custom keybindings from plugins soon, so it might end up changing, but that would probably be a great way to share this. You could get started with the https://github.com/napari/cookiecutter-napari-plugin

[2021-03-06 18:06] tlambert03 opened #2361 "guided napari UI "tour""
## 🚀 Feature
Now that we have settings, and we know whether it's the user's first launch. We could conceivably add a quick "guided tour" of the UI. (you know, where arrows point at things and walk you through a couple basics, adding layers, etc...)

I was reminded of this by using Qt Creator which has a guided tour... their source code for that is [here](https://github.com/qt-creator/qt-creator/bl

[2021-03-06 18:15] tlambert03 commented on #2361
(here's kind of what I mean) ... cc @liaprins-czi who can give us something nicer to shoot for :)

![Untitled](https://user-images.githubusercontent.com/1609449/110216607-092f3580-7e7e-11eb-8823-aa04ae8dbcfa.png)

[2021-03-06 20:14] uschmidt83 commented on #2282
Please also support an indeterminate state.

[2021-03-06 22:45] sofroniewn commented on #2361
I love this idea, curious if @LCObus has ideas too! It would also be nice to resurrect our welcome visual (we had to hide it here #1922 because of bugs, and should probably redo in Qt and not vispy). Maybe @ppwadhwa can take that on soon :-)

[2021-03-07 20:03] Czaki opened #2364 "Napari hook enum"
## 🚀 Feature

Add enum (`StringEnum`) with all available hooks and allow to use it in `specname` argument of `napari_hook_implementation`

## Motivation

This allows the faster discovery of changes of hooks name when the new version of napari is released (the creator does not need to manually verify if the hook is discovered). The main address of this feature are experimental hooks.

This also wil

[2021-03-07 22:32] GenevieveBuckley commented on #561
It looks great! We'd love to have an example like this @ianhi

[2021-03-07 23:54] tlambert03 opened #2365 "If napari closed with undocked windows, they never work on next launch"
## 🐛 Bug
Now that settings saves various window states, a couple new bugs may appear. I just noticed that if you undock the layer list or the layer controls and quit napari, then on the next launch, even if you reshow those windows (since they will be hidden on launch), then they never work properly.  They are just blank rectangles...

[2021-03-08 02:55] sofroniewn commented on #1973
Closed by #2362

[2021-03-08 02:55] #1973 closed, assigned to nobody

[2021-03-08 02:57] #1695 closed, assigned to nobody

[2021-03-08 03:09] sofroniewn opened #2367 "Async/ Octree to dos"
## 🚀 Feature

Here are some of async/ octree todos, some easier/ harder than others

### Intermediate
- [ ] Get octree working for the labels layer without editing
- [ ] Make it possible to turn Octree and Async on in our settings and preferences without needing a restart
- [ ] Add comprehensive octree and async tests, including unit tests and screenshot tests
- [ ] Clean up slicing from Image lay

[2021-03-08 03:59] jni commented on #2367
Thanks for creating this to track things, @sofroniewn!

One idea I had for intermediate 3D support is blocked, multiresolution, async loading, with no reference to camera geometry. As one example, for an example lattice dataset, each volume comfortably fits in the Volume node, but it's too big to load "live" with the slider — you lose the interactivity. So we could load the lowest-res pyramid leve

[2021-03-08 04:35] LCObus commented on #2361
I also love this idea! There are lots of sites/platforms that do this really well- I like when they are:
1. light (aka you can dismiss easily if you dont want to go through it all, or be shown a function but not necessarily have to perform it)
2. findable (it collapses into a top right icon that can be revisited if needed, or expands into a broader help section)
3. coordinated with documentation (

[2021-03-08 05:28] jni opened #2368 "Labels layer n-dimensional painting should take scale into account"
## Feature request

When painting spheres in 3D, I suspect that most users would like us to consider the scale parameter, and paint spheres in world coordinates rather than spheres in data coordinates (ellipsoids in world coordinates).

This will require updating this function to be aware of layer scale:

https://github.com/napari/napari/blob/056ceaa657b17e0107eceb0e9a4ead80507a2a0d/napari/layers/

[2021-03-08 05:30] jni opened #2369 "Labels painting setting "ndim" should be an integer, not bool"
## 🚀 Feature

Users painting segmentations into a 3D+t labels layer will probably want to paint into 3D volumes but not across time. There are probably other scenarios where users would like to paint into volumes, but not across *all* non-displayed dimensions.

As a first pass, I suggest we allow painting into the last n dimensions. In the future, users could set exactly which dimensions they want

[2021-03-08 13:39] tlambert03 opened #2370 "SettingsManager overwriting env var settings"
## 🐛 Bug
Pydantic BaseSettings provides a nice way to set settings using [environment variables](https://pydantic-docs.helpmanual.io/usage/settings/#environment-variable-names), but at the moment, the `SettingsManager._load` method is overwriting this:

[code]

[code]

In the case where a settings is defined multiple ways, I think we should aim to match the [default field priority](https://pydanti

[2021-03-08 14:20] tlambert03 opened #2371 "slow app load time with pythonw"
## 🐛 Bug
Just noticed that our strategy of re-running napari in a subprocess with pythonw (if it is available) is significantly increasing time-to-load, since (to my understanding) `napari.__init__` must be imported to get to `napari.__main__`.  By having our CLI entry point outside of the `napari` package, we shave about a second off load times...

As shown in the traces below, if pythonw is unav

[2021-03-08 14:26] tlambert03 commented on #2371
not sure what the most desirable solution is here.  We _could_ just have a `napari_cli.py` module that is outside of the napari folder... (that actually would be convenient for many reasons... allowing us to do many CLI things without importing all of napari).  But we'd need to call out to it from `napari.__main__` (or inside of `napari.__init__` :: "`if __name__...`") in order to maintain the `py

[2021-03-08 16:00] sofroniewn commented on #1858
Closed by #2168

[2021-03-08 16:00] #1858 closed, assigned to nobody

[2021-03-08 16:54] sofroniewn commented on #2371
I'm all for shaving this time lower! It's not clear to me if there are any potential downsides of what you are proposing?

[2021-03-08 17:20] tlambert03 commented on #2371
the main downside is that it's a "second" package within our distribution. (for instance, in site-packages, you'd see a `napari` folder and a `napari_cli.py` file).  We'd have to use absolute imports...  I can make up and example PR.  but maybe @jni has thoughts first?

[2021-03-08 17:46] goanpeca commented on #2336
It is something we have discussed, might be something that changes moving forward. Thanks for bringing this up!

[2021-03-08 17:57] sofroniewn commented on #2371
Ok, sounds good, let's hear from @jni first before you start. In theory I'm supportive, but want to make sure we don't add a lot of complexity too

[2021-03-08 18:02] goanpeca commented on #2361
This is a great idea, I actually implemented the tours in Spyder which included, fading and highlighting of sections, plus the ability to run code.

[2021-03-08 18:02] tlambert03 commented on #2371
I don't see it as any more or less complex... just different.  The need for something like this has actually came up once before in https://github.com/napari/napari/pull/814.

[2021-03-08 18:03] tlambert03 commented on #2361
fantastic!  I nominate you! 😃

[2021-03-08 18:03] goanpeca commented on #2365
A quick solution for this would be to redock floating docks on close. Not sure if you can get the floating docks to appear correctly on startup.

[2021-03-08 18:05] tlambert03 commented on #2365
if there's a crash, we'd still be lost in the next session though right?  i guess I'd prefer this to be solved during initialization rather than shutdown if possible

[2021-03-08 18:10] goanpeca commented on #2365
Ok, I will take a look :)

[2021-03-08 18:13] tlambert03 commented on #2365
if it's easier... maybe we don't even need to save docked/floating state at all?  It might be generally hard to recover parent-chain of an undocked widget (currently, they show as un-styled), so I'd be fine with just making everything docked at startup, and not saving it.  is that easy?

[2021-03-08 18:28] ianhi opened #2373 "Points layer allows panning when in Add mode"
## 🐛 Bug
When in the `Add Points` mode on a points layer panning is not prevented. This can make it tricky to label a point as you have to hold the mouse perfectly still.

![Peek 2021-03-08 13-26](https://user-images.githubusercontent.com/10111092/110364681-111fde80-8012-11eb-8a22-65e5451c87fd.gif)

In contrast the `pick` mode of a labels layer prevents panning.

## To Reproduce
1. Open napari
2.

[2021-03-08 18:54] ianhi commented on #561
Can you explain what the advantages are of turning this into a plugin? Currently my workflow is based around a jupyter notebook and calling out to functions that spawn napari windows when human intervention is needed. It's not very clear to me what the workflow would be with a plugin, would it be more micromanager esque?

Also until there is an example and/or plugin if anyone stumbles on this and

[2021-03-08 19:03] tlambert03 commented on #2370
adding this here in case it's useful.  Pydantic offers a [hook](https://pydantic-docs.helpmanual.io/usage/settings/#customise-settings-sources) in `BaseSettings.config.customise_sources` to know where the settings are coming from... so, for instance:

[code]

then you can query it as follows, for instance, if I start IPython with `NAPARI_THEME=light ipython`:

[code]

[2021-03-08 19:06] tlambert03 commented on #2370
It might also make sense to move the logic from the global `SettingsManager._load` into a custom `customise_sources` method... since pydantic already provides a fair amount of support for the merging of settings from disparate sources, maybe we should just hook into that?

[2021-03-08 19:09] tlambert03 commented on #2370
(should have included this link)... Pydantic actually gives an example of add json file settings source [in their documentation](https://pydantic-docs.helpmanual.io/usage/settings/#adding-sources).  that looks like a great place to import our yaml

[2021-03-08 19:18] sofroniewn commented on #561
A very valid question! At this stage the advantages may still be low, but here is some of the vision for why I think it's the right approach in the longer term.

We're trying to make it easy to discover and install plugins directly into napari, so if you wanted to share this with someone else you could just tell them to open napari install the plugin and then they'd be able to use it without havin

[2021-03-08 19:22] sofroniewn commented on #2373
Agreed @ianhi. This was recently added in #2148 after a request in #2146, but the threshold for dragging is too sensitive. We might be able to overwrite the threshold in vispy and increase it? I'm not sure if @VolkerH or @jni have further ideas

[2021-03-08 19:25] sofroniewn commented on #2354
Looks like something funky is definitely happening, the error message "three vertices to a rectangle" is relatively deep in the code, not quite sure what would have caused that. We'll look into it.

[2021-03-08 19:28] #2179 closed, assigned to nobody

[2021-03-08 19:51] ianhi commented on #561
Hi @sofroniewn thanks for the thoughtful response as always :)

I started typing a reply/more questions to that but it was getting kind of long and I don't want to clutter this issue about multicanvas. Is there a better place to discuss the workflow/purpose of plugins?

[2021-03-08 20:06] ianhi opened #2374 "Fill does not work for xarray data for labels layer"
## 🐛 Bug
Using `fill` is broken for the labels layer when backed by an xarray.

It doesn't fill and throws this error:
[code]

## To Reproduce
[code]
try to fill one of the blobs.

## Expected behavior
Blob is paintbucket filled.

## Environment
[code]

## Additional context
Partial xarray support for the labels layer added in https://github.com/napari/napari/pull/2191 which fixed the behavior whe

[2021-03-08 20:09] ianhi opened #2375 "Error Pop Up should be copypasteable"
## 🚀 Feature

The toast notification that pops up on an error have selectable text or a button/context menu option to copy the error message.

![Peek 2021-03-08 15-09](https://user-images.githubusercontent.com/10111092/110375699-50552c00-8020-11eb-9187-cd9cae019538.gif)

## Motivation
If you run into an error message that napari consumes and doesn't allow to print the terminal it is very nice to b

[2021-03-08 20:19] tlambert03 commented on #2375
Hi @ianhi, the in-app presentation of errors and messages is in active development (see #2205 and related discussions).  We will definitely be providing an easier way to copy/share an error soon.

[2021-03-08 20:20] tlambert03 commented on #2375
on the latest napari release, you may wish to use the environment variable `NAPARI_CATCH_ERRORS=0` to simply avoid the in-app notifications

[2021-03-08 20:21] ianhi commented on #2374
Maybe a better fix for https://github.com/napari/napari/issues/2190 would have been to check if `data` is an xarray in `_ImageBase` and if so then to do `self._data = data.values`

[2021-03-08 20:35] ppwadhwa commented on #2361
@sofroniewn do you want the welcome screen update in addition to the UI tour?  Or will the UI tour end up including that?

[2021-03-08 21:04] ianhi commented on #2375
Thanks for the tip Talley!

The one other issue with I noticed is that line number of the errors are being hidden.

[2021-03-08 21:05] tlambert03 commented on #2375
also being worked on!  thanks!  (that little notification you're showing there will never have extensive error info.  But it will be clearer how you're supposed to see the full traceback)

[2021-03-08 21:18] sofroniewn commented on #2361
I think the welcome screen is probably separate, in the way that tools like VSCode always show something when empty - was just something I thought of again in this context. See #1132 for the original issue. We had some struggles with contrast levels and bugs though, which is why they the screen is turned off. We could make a new issue for getting it working again.

[2021-03-08 22:19] VolkerH commented on #2373
This is what I mentioned in the PR  #2148 as

As I noticed the potential issue at the time I remember thinking briefly for workarounds, but I would have to dig deeper into the code again and I don't think I have time. The previous behaviour was worse IMO though, when working with images that were substantially larger then the example shown above. I guess it depends what one wants to achieve: accur

[2021-03-08 22:49] sofroniewn commented on #2373
We could adjust the https://doc.qt.io/qt-5/qstylehints.html#startDragVelocity-prop (or https://doc.qt.io/qt-5/qstylehints.html#startDragDistance-prop) to try and find a better value. I wonder if this can be done just for the canvas, or it can only be done at the application level (cc @tlambert03 @goanpeca)

[2021-03-08 23:07] sofroniewn commented on #561
Agreed, can you create a new issue and we can continue the discussion there. You can copy over any of the additional things needed for context. Thanks!!

[2021-03-08 23:35] jni opened #2379 "Improve performance of fill/undo-fill in large arrays"
Currently, labels fill [relies on doing `data == label`](https://github.com/napari/napari/blob/1c5b9b018d6225be0bda8a2fa5c60d3de37741e7/napari/layers/labels/labels.py#L776) to find pixels of the same label. This is wasteful in both 2D and 3D, but in 3D it could be unnecessarily slow by orders of magnitude if we are filling e.g. 1 nucleus within a much larger image. The correct way to do it is to u

[2021-03-09 01:35] jni commented on #2374
Haha I was working on #2339 and thinking exactly this, and boom here comes your issue 😂

[2021-03-09 04:12] sofroniewn commented on #2374
As commented in #2376, I have concerns about that approach - I think at that point I'd just say we don't support xarray and please pass us the numpy array rather than silently convert for people. Maybe we can improve the fill more generally and add an xarray test?

[2021-03-09 04:40] jni opened #2380 "Idea to speed up labels rendering"
## 🚀 Feature

One reason why labels rendering is slow is that every time we update `data`, we run the *whole* image through [`napari.utils.colormaps.colormap_utils.low_discrepancy_image`]()

In fact, we can do better in two ways:

(1) if we know all the values in the array, we can run only those values, and use numpy indexing to speed up rendering about 2x:

[code]

This is very useful e.g. for sp

[2021-03-09 04:49] #2291 closed, assigned to nobody

[2021-03-09 07:17] jni opened #2382 "Deleting points data is broken with an index error"
## 🐛 Bug

Using git bisect I tracked the problem to #2204 (sorry @kevinyamauchi 😬), which broke resetting of a Points layer data, which now raises an IndexError (see below).

## To Reproduce

[code]

raises:

[code]

Interestingly, the below doesn't have any issues:

[code]

Which suggests that it's the event callback system that's broken, *not* the points layer itself. That would explain why this

[2021-03-09 07:21] jni commented on #2382
I'll also take this opportunity to thank @tlambert03 for all his work cleaning up our Qt launching which makes testing these things way cleaner!

[2021-03-09 13:03] brisvag opened #2384 "Xarray and vectors"
## 🐛 Bug

While adding points and images from an xarray works fine, adding **vectors** from an xarray fails with a dimensionality error.

 *I'm flagging this as bug, though it's also somewhat of a feature request, since xarray is not yet officially supported.* Likely related to #2374.

## To Reproduce

[code]
[code]

## Environment

[code]

[2021-03-09 16:33] neuromusic opened #2386 "incorrect version in filename of MacOS bundle"
## 🐛 Bug

The filename of the dmg to install the MacOS bundled app has the version coded as "0.0.1" in the filename

## To Reproduce

Steps to reproduce the behavior:

1. Download the [v0.4.6](https://github.com/napari/napari/releases/tag/v0.4.6) MacOS bundle
2. unzip the file

![image](https://user-images.githubusercontent.com/1245615/110504132-189ac280-80ba-11eb-8268-31022acf401e.png)

## Expect

[2021-03-09 16:43] neuromusic commented on #2282
On the design front, I just want to draw attention to the fun little progress indicator that is used when installing a plugin...

![image](https://user-images.githubusercontent.com/1245615/110506000-ee4a0480-80bb-11eb-806b-ebab3ea341e3.png)

[2021-03-09 16:48] neuromusic commented on #2282
~If napari wants to maintain a consistent user experience, a global progress/status indicator would help a ton (as opposed to plugin devs creating their own).~

_Redacting this comment, as others have said as much before._

[2021-03-09 16:49] neuromusic commented on #2282
Other plugin devs that I suspect would be interested a global progress bar and/or status indicator...

- @carsen-stringer / cellpose
- @etasnadi / nucleAIzer
- @adamltyson / cellfinder

[2021-03-09 16:56] adamltyson commented on #2282
No idea how easy/difficult/practical this is, but is there a way of a status indicator grabbing the output of e.g. the logging module.

[2021-03-09 16:57] neuromusic commented on #2282
Would it make sense to extend `@thread_worker` with arguments that let plugin devs define a progress bar for the thread? The login here is that, once a plugin dev decides they need to use `@thread_worker`, they are likely implementing a long-running process that would benefit from providing user feedback on the status of that process.

[2021-03-09 17:21] tlambert03 commented on #2282
I think it would be fine to add whatever progress updating api we come up with _to_ `@thread_worker` ... but I don't think it should be _based_ on or require `@thread_worker`.  There are many different ways to achieve concurrency, and we'd want to be able to support all of them

[2021-03-09 19:05] Carreau opened #2388 "Slider focus issues ?"
## 🐛 Bug

I'm not too sure how to reproduce as I was smashing keys to test the action manager with `python examples/nD_volume.py`
but it seem like some combinaison of roll/transpose/3d<->2d and Alt-Up/Down can trigger an error:

[code]
Where X is 0, 3 .. and likely 1 or 2 as well, though I haven't observed those.

[2021-03-09 20:49] DragaDoncila commented on #2380
This is something I see as critical for the labels layer. For example, the performance issues with painting into large images are not ameliorated by using a sparse data structure because the rendering is still so slow.

[2021-03-09 20:49] neuromusic opened #2389 "mac thinks that napari is named "__main__.py" in bundled app"
## 🐛 Bug

My mac seems to think that napari is named "__main__.py" in bundled app

## To Reproduce

Steps to reproduce the behavior:

1. Launch napari bundled app on mac
2. Click "napari" on menu bar
3. See the menu items "Hide __main__.py" and "Close __main__.py"

![image](https://user-images.githubusercontent.com/1245615/110528081-f6626e00-80d4-11eb-867b-2b3955d13957.png)

## Expected behavior

[2021-03-09 22:58] ianhi opened #2390 "Labels layer brush size not updating when layer switched with keybinding"
## 🐛 Bug
When I switch between multiple labels layers using a keybinding the brush size as drawn on the canvas does not update correctly.
![Peek 2021-03-09 17-56](https://user-images.githubusercontent.com/10111092/110549911-c630c480-8100-11eb-9590-45a84a350005.gif)

## To Reproduce
1. Run this script:
[code]

2. Have a different brush size on the two different labels layers
3. Hit `2` to toggle be

[2021-03-10 02:20] #2230 closed, assigned to nobody

[2021-03-10 03:39] #2382 closed, assigned to nobody

[2021-03-10 04:05] sofroniewn commented on #2230
@d-v-b this should now be fixed on master - you can give a chunked single scale image and we'll load tiles as best we can! Very curious to hear about how it works for you.

[2021-03-10 04:16] sofroniewn commented on #2388
Ha! Ok probably a bug in there somewhere!! I'll see if i can reproduce

[2021-03-10 04:24] sofroniewn commented on #2390
I think this is related too https://github.com/napari/napari/issues/2356. The problem is with `viewer.active_layer = new_layer` it's really just not properly wired up. As mentioned in that issue we want to deprecate that PR, but in the mean time I guess we could fix, or just block the setter. Sorry about this. We can def try and address before `0.4.7`

[2021-03-10 05:01] ianhi commented on #2390
Ideally not this please! The partially working state is far better than not being able to switch it all. Losing the ability to bind this action to a keybind would make it super difficult to any sort of manual correction for situations with multiple layers (e.g. points + mask for watershed corrections).

It's also workaroundable, I've  attached a scroll callback to change the brush size which force

[2021-03-10 05:03] ianhi commented on #2390
Here too I've noticed something that I wasn't sure should be raised as it's own issue or not. If you set brush size programmatically there doesn't seem to be an upper limit, so it can much larger than the napari window and cause wacky graphical errors - for example everything except napari blacking out for a few seconds.

Should I open issue for things like that? I feel like I've been opening so m

[2021-03-10 05:03] sofroniewn commented on #2390
you can also manually unselect all the layers and select the one of interest so

[code]

will have the desired effect of making `layer` now be the `viewer.active_layer`

[2021-03-10 05:05] sofroniewn commented on #2390
Yeah, that's not so great ...

Yeah, I don't mind your issues are well written with example code/ screenshots etc which I appreciate. We won't be able to fix all of them immediately, but in 3 months someone should be able to come back to them and understand whats going on without have to dig through every last comment. Thanks for being aware of this though and asking, it is appreciated

[2021-03-10 05:14] ianhi commented on #2390
That's great! That also fixes the issue of brush size. I suppose this is equivalent to just clicking on the layer?

Where should/can things like this be documented? I'm happy to write snippets of docs/examples for things like this but I'm not really sure where it should go.

[2021-03-10 05:17] sofroniewn commented on #2390
Yes that's right.

We're probably going to change all this in #2293, but it in general stuff like this could go in the viewer tutorial - see https://github.com/napari/tutorials/blob/master/fundamentals/viewer.ipynb. Contributions welcome there!

[2021-03-10 05:17] ianhi commented on #2390
Honestly the level of responsiveness has been super gratifying. And I certainly have no expectation of most of them being fixed quickly or anything

[2021-03-10 05:28] ianhi opened #2393 "Labels Brush Size Potentially Unbounded"
## 🐛 Bug

It is possible to make a labels layer `brush_size` arbitrarily large by using the `+=` operator. Normal assignment of the property seems to cap the value at 40, but this can be overcome when using `+=` as in the script below. This can lead to the brush size going off the canvas:
![image](https://user-images.githubusercontent.com/10111092/110580809-60136400-8137-11eb-97d2-bd8f8d7cfc1f.png

[2021-03-10 05:30] ianhi commented on #2393
I think that ideally any solution for this would not simply limit the maximum brush size but would instead deal with clipping of the brush when it is outside the canvas. I'd like to keep it unlimited as I find that the default limit is often too small for me and a larger one would then likely be too small for someone else..

[2021-03-10 09:07] adamltyson commented on #2111
Just an FYI - I think I might have tracked down this issue. I'm used to using the terminal in PyCharm, but this doesn't seem to play well with napari. There are a few issues when interacting "outside" of napari, such as saving images, and installing plugins. These issues aren't present with the normal Ubuntu terminal.

[2021-03-10 09:44] adamltyson opened #2394 "Support groupings for plugins"
## 🚀 Feature
It would be great if plugin developers could provide some kind of grouping for our plugins.

## Motivation
Gradually I plan to provide napari plugins for most of the tools I maintain, and this will likely end up being >10 analysis and IO plugins. These could get messy and disorganised quickly (they already are).

## Pitch
It would be cool if plugins in multiple repos could be organise

[2021-03-11 01:04] goanpeca commented on #2253
@sofroniewn will there be some sort of plugin API to hook an add a "status bar widget" that provides additional features?

[2021-03-11 01:05] goanpeca commented on #2340
@Czaki this was fixed as part of this PR https://github.com/napari/napari/pull/2211/files#diff-aed87050aba7a2957ac944a789012175bf594c59dc136e479bed759e677e265dR14

It should be landing soon, right @sofroniewn 🙃 ?

[2021-03-11 02:00] goanpeca commented on #2365
If there is a crash, close event would have never been called, so it would restore to the last state (that had all dockwidgets docked because we enforce this on close)

It is not possible to save state of some things and not others AFAICT

And it should be working, not sure why we are getting this empty windows.

So still my suggestion for now would be to dock all floating widgets on close (that i

[2021-03-11 02:01] tlambert03 commented on #2365
sounds good, if it's the only or easiest way... let's do it and figure it out later

[2021-03-11 03:17] #2328 closed, assigned to goanpeca

[2021-03-11 03:29] sofroniewn commented on #2340
Yes, I just approved it, shouldn't be too long :-) Is there a test for this inside #2211? Apologies if I missed it. If not maybe @ppwadhwa, we can add one. Thanks!!

[2021-03-11 03:31] sofroniewn commented on #2253
Could be, i'd be very open to a hook spec that allowed people to update the status bar. Would have to thing through the details, but in theory i like it. Do you have something in mind @goanpeca? Curious @tlambert03 if you have any ideas here too?

[2021-03-11 03:43] goanpeca commented on #2340
I should have added one 😶

[2021-03-11 04:44] sofroniewn commented on #2394
Very interesting ideas @adamltyson, definitely worth discussing more at some of our developer meetings. I don't have any immediate answers, but we'll need to think and discuss this more! Curious what others could imagine cc @jni @tlambert03 @neuromusic

[2021-03-11 06:02] neuromusic commented on #2394
very cool idea.

there's been some discussion of "bundles" of plugins... for example, a "cell bio starter pack" or "so-and-so's lab's plugins". there are [examples of this in VS Code](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.vscode-remote-extensionpack). there are a few ways that could be enabled to address the discoverability issue, but you bring up a really good point

[2021-03-11 06:23] jni commented on #2394
I agree that this is something we'll have to tackle eventually, but we need some way of handling "authorisation" for the bundles, so to speak. What's to stop any Joe off the street from claiming their plugin belongs in the Cellfinder org? =)

[2021-03-11 07:07] jni commented on #2393
I love your jumbo brush! :joy:

Note that the brush size limitation could be overcome if we implement @VolkerH's suggestion of zoom independent brush size (so zooming out increases your effective brush size). see #1419

[2021-03-11 09:39] adamltyson commented on #2394
Would it be possible for developers to suggest a hierarchy for their plugin? e.g.:
[code]

But then then the user could rearrange the plugins to suit them, and these preferences could be saved, and would superseed the developers' suggested hierarchy. That way, we can distribute them in an organised way for discoverability, but the user is free to create their own folders of plugins?

I'm not sure

[2021-03-11 11:39] jni commented on #2394
You're spot on, of course. I dunno if you saw [this little episode from last week](https://github.com/pypa/pypi-support/issues/923#issuecomment-787613805). :joy: :grimacing:

[2021-03-11 16:14] Czaki opened #2400 "Pad colors when not all control points specified"
## 🐛 Bug

## To Reproduce

[code]

end of stacktrace
[code]

## Expected behavior

If Colormap is properly constructed (and `colorbar` works) then it should not raise an exception when applying to layer.

## Possible solutions

1. Fix controls and colors before passing to vispy (napari/napari/_vispy/vispy_image_layer.py line 128) by adding a copy of first and last color with respectively coordinat

[2021-03-11 18:17] sofroniewn commented on #2400
We can do this, we should then just update doc string to make it clear that is what is happening. I see this as a "user convenience" type of functionality, as you could just type it all out below and it would work as expected, right?

[code]

[2021-03-11 18:26] adamltyson commented on #1636
Resurrecting this. I'm developing a writer plugin that uses `Layer._get_state()` to work out how to write the data. Making some version of this public would be great, it feels fragile ATM.

[2021-03-11 18:51] sofroniewn commented on #1636
@alisterburt and I were just talking about this on the napari-animation repo. The future direction for this will be to get the layers to be our pydantic evented models, and then we'll get `layer.dict()` and `layer.json()` methods on them for free. We've done that now for the `viewer`, but havn't make it for the layers yet. We could push on this soon. Maybe as soon as we get the `LayerGroup` stuff

[2021-03-11 18:58] tlambert03 commented on #1636
I'm not 100% sure what the order should be... That's going to be a very important and useful public API once it "settles", so I'm not sure I want to be in a hurry to "settle it"... or decide right now what order is best.  That _may_ mean that you should just use `_get_state()`  for now.  It's true it's a bit brittle... but rest assured we agree it's an important thing to make public soonish?

[2021-03-11 19:01] adamltyson commented on #1636
Sounds good. I'm happy using `_get_state()` for now. At least now I'll get a notification when this changes :)

[2021-03-11 19:45] Czaki commented on #2400
I do this way. But I still think that this is unexpected behavior. You construct the proper object and try pf its usage ends with an exception.

[2021-03-11 20:05] sofroniewn commented on #2400
yeah we should fix - either with option 1 or option 2 you mention above. PR would be welcome if you want to make one

[2021-03-11 20:35] camerontrader opened #2401 "Exceeds GL_MAX_TEXTURE_SIZE error"
## 🐛 Bug
I am trying to view some points on top of a very large image. I am able to open the image in napari with no issues but when I try to overlay the points on the image I get this error and I can't see the points on top of the image in napari:

C:\Users\camer\anaconda3\envs\napari\lib\site-packages\napari\_vispy\vispy_image_layer.py:198: UserWarning: data shape (30000, 40000, 3) exceeds GL_MA

[2021-03-11 21:03] tlambert03 commented on #2401
That error usually means you're running out of GPU memory.  What is your GPU and the output of 'napari --info'?

[2021-03-11 21:26] goanpeca commented on #2253
Nothing in particular, but at some point someone would probably want to add a widget that displays something that will make sense for a specific plugin, and cannot be conveyed via the normal status bar text. But this is probably a topic that deserves a separate issue.

[2021-03-11 21:40] goanpeca commented on #2400
Fixing things magically for users (option 1) can be great, but if we want to convey a "correctness" concept to users in colormaps then I would favor option 2.

[2021-03-11 21:43] sofroniewn commented on #2401
I think that's just a warning that we are downsampling your image as it it too big. Can you include the rest of the error message too? I guess there is then some mismatch with what the points layer is expecting? I will try and reproduce too.

As a side note generally for such big images it's nice to work with image pyramids. We've also made some recent improvements to our tiled rendering - still o

[2021-03-11 22:09] Czaki commented on #2400
The option 1 represent this what produce current function colorbar.

[2021-03-11 23:04] camerontrader commented on #2401
I am using a Radeon RX 5500 XT. The output of napari --info is:
C:\Users\camer\anaconda3\lib\site-packages\napari\_qt\__init__.py:37: UserWarning:
    napari was tested with QT library `>=5.12.3`.
    The version installed is 5.9.7. Please report any issues with this
    specific QT version at https://github.com/Napari/napari/issues.

  warn(message=warn_message)
c
napari: 0.4.6
Platform: Windows-

[2021-03-11 23:44] sofroniewn commented on #1004
cc @neuromusic this is one potential approach for capturing citation info for us and plugins

[2021-03-12 00:25] goanpeca commented on #2370
I have been looking into this, and this is not as nice as it should. Currently the load method is doing validation of things and making sure Napari starts even there are problems with the file. By using `customise_sources` we have to assume yaml file is correct. This might not be the case and will result in Napari crashing if errors on the yaml file, like invalid sections, invalid keys or invalid

[2021-03-12 00:30] goanpeca commented on #2370
So I can use this:

[code]

But keep the loading similar to what we have now. Just taking into account these values

[2021-03-12 01:08] tlambert03 commented on #2370
absolutely!  sounds good.

[2021-03-12 01:12] tlambert03 commented on #2370
actually, I have a question... why is that the case?  From [docs example](https://pydantic-docs.helpmanual.io/usage/settings/#adding-sources)... why can't you just put the same validation logic from SettingsManager._load in the loading function ("`json_config_settings_source`" in their example)?

[2021-03-12 01:37] goanpeca commented on #2370
Cause to be able to validate I was using the model and catching errors. But doing that inside the custom sources that will also use custom sources when using the model so it will get into a recursion. I tried setting each thing manually with setattr on the model but that dis not work either. Will try again tomorrow morning with fresh eyes

[2021-03-12 02:27] sofroniewn commented on #2400
Personally I'd probably prefer option 2 as I think it was an oversight to not check that `0` and `1` were provided. I agree that guessing what the user intended can backfire. The fact that we don't error now I don't really see this as an intend piece of functionality, I see it as a missing validation, and this was just something untested and unspecified. For example right now if someone gave a val

[2021-03-12 02:38] github-actions[bot] opened #2402 "[test-bot] pip install --pre is failing"
The --pre Test workflow failed on 2021-03-12 02:38 UTC

The most recent failing test was on macos-latest py3.8 pyqt
with commit: 0eddb1e4441f35e6f4325ef4c7c36cb0677c4bcb

Full run: https://github.com/napari/napari/actions/runs/644828557

(This post will be updated if another test fails, as long as this issue remains open.)

[2021-03-12 02:38] sofroniewn commented on #2401
Ok, thanks for providing that additional information. It looks like you're not actually getting an error - you're just getting a warning that downsampling is happening and then you cannot see the points (which is obviously bad, but might have a different cause then what I originally suspected).

I'm wondering about this part in particular

[code]

It sounds like you're opening a 2D rgb image, but

[2021-03-12 02:43] sofroniewn commented on #2402
Looks like this is xarrray painting related - not sure if sporadic or reproducible cc @jni we can try rerunning and seeing ...

[2021-03-12 02:56] #2365 closed, assigned to goanpeca

[2021-03-12 07:53] jni commented on #2402
Just clicked re-run.

[2021-03-12 10:52] Czaki commented on #2400
It depends. If we define colormap as interpolation of given colors on section `[0, 1]` it still perfectly works for me. But I agree that it should emit at least a warning.

But I agree that it will also end with an exception if pass it to vispy.

[2021-03-12 15:57] sofroniewn commented on #2402
Looks like everything passes now, I will close, but maybe good to keep an eye out

[2021-03-12 15:57] #2402 closed, assigned to nobody

[2021-03-12 16:19] #2175 closed, assigned to ppwadhwa

[2021-03-12 16:19] #2340 closed, assigned to goanpeca

[2021-03-12 16:28] sofroniewn commented on #2110
@goanpeca there may be an opportunity now to cleanly fix this after the merge of #2397, do you have ideas - it sound like in zulip @brisvag is running into some infinite recursion problems with just triggering viewer.close directly :-)

https://napari.zulipchat.com/#narrow/stream/270578-reviews/topic/.232110/near/230009888

[2021-03-12 17:08] sofroniewn commented on #2174
We have gone with this approach using #2212 and #2211

[2021-03-12 17:08] #2174 closed, assigned to goanpeca

[2021-03-12 17:10] sofroniewn commented on #2089
Just wondering if after #2397 we still see this or if there is an opportunity to fix more cleanly now too. #2360 might also have helped - cc @tlambert03 @goanpeca ?

[2021-03-12 17:12] #2315 closed, assigned to nobody

[2021-03-12 17:14] sofroniewn commented on #900
Closing as we are moving away from this syntax towards `napari.run` see #2056

[2021-03-12 17:14] #900 closed, assigned to nobody

[2021-03-12 18:46] jakirkham commented on #2304
Just updating this thread, we believe this traces back to a Dask issue that was addressed with PR ( https://github.com/dask/dask/pull/7353 ). It is not yet in a release though. So would need to install from `main` or wait for a release

[2021-03-12 21:31] ppwadhwa opened #2405 "Cancel doesn't work on preference dialog"
## 🐛 Bug

The cancel button on the preferences dialog isn't working properly.  I think its possible that the function I removed in the last PR that I thought was unnecessary was actually necessary.
## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

 - Please copy and paste the information at napari info option in help menubar here:

 - Any other rele

[2021-03-12 22:33] sofroniewn commented on #2110
@ianhi you might be interested in this issue too based on your comments here https://napari.zulipchat.com/#narrow/stream/212875-general/topic/on-close/near/230088585

[2021-03-12 22:57] sofroniewn commented on #2405
No worries, fixing in a followup sounds good. thanks for making the issue

[2021-03-12 23:03] ppwadhwa commented on #2405
I just found the problem.  It wasn't the function that I thought.  I will get it done this weekend!

[2021-03-13 01:06] sofroniewn opened #2407 "Improvements for surface layer lighting"
## 🚀 Feature
I'd light to make some improvements to our surface layer lighting and shading options. Right now we don't really have any shading exposed (some weren't available until the recent vispy releases) and so our rendering isn't so great - for example, these structures from a cryoET experiment don't look great!

<img width="1127" alt="Screen Shot 2021-03-12 at 4 42 28 PM" src="https://user-i

[2021-03-13 10:29] alisterburt commented on #2407
I hope that was intentional 🤣

that difference is already stunning, love where this is going! Had a quick play this morning and started exposing the different rendering modes in #2409 - shouldn't take too long to sort that out! Can try to find time for a shininess slider too once I'm done with the shading modes

Which do you reckon is the best default shader once the different modes are exposed? I

[2021-03-14 18:48] #2405 closed, assigned to ppwadhwa

[2021-03-14 18:56] #2239 closed, assigned to nobody

[2021-03-14 19:17] #2311 closed, assigned to nobody

[2021-03-15 14:05] brisvag opened #2418 "Wrong "depth relationship" of 3D isosurfaces"
## 🐛 Bug

Image layers in 3D are drawn with a simple bottom-to-top order, which is not what one would expect from isosurfaces.
For example:
![](https://i.ibb.co/1JDCN9M/Peek-2021-03-15-14-43.gif)

(I think I remember seeing similar behaviour with other visualizations, though I can't recall exactly what it was. I couldn't find an issue about this, but maybe I'm looking for the wrong keywords.)

##

[2021-03-15 17:18] sofroniewn commented on #2418
@brisvag can you try changing the camera `fov` (right now a private method deep in vispy) and let us know what happens. See this line https://github.com/napari/napari/issues/2320#issuecomment-789250845 and the discussion around it

[2021-03-15 21:54] brisvag commented on #2418
Pretty cool, the fov change! But no, this seems to be unaffected by the fov.

[2021-03-15 22:38] sofroniewn commented on #2418
ah ok, then this is really an issue with having the data in multiple layers - try switching to `additive` blending instead of translucent. That may have other slightly undesirable properties. Can you share the data files for your example above - it's a little harder for me to intuitively grasp the expected behavior of the toy example

[2021-03-16 08:46] brisvag commented on #2418
I've got a better toy example:
[code]

This should be even more obvious. The green layer is always behind the magenta layer. Additive doesn't quite solve the problem, because it introduces transparency. In some cases, I just want to only see the volume that's closer to me!

Right now it's as if each layer is rendered as part of a separate 3d space, and then the rendered image is superimposed to th

[2021-03-16 15:24] sofroniewn commented on #2418
Thanks for the example I'll play with this more when I get the chance

I guess that is how our layer ordering works now, I think @jni and I have talked about this before in the context of labels and images that get overlaid. I guess in this context what you're proposing makes sense, but I wonder if that is always true - would people ever want to do have one layer entirely on top of the other layer

[2021-03-16 15:38] #2115 closed, assigned to nobody

[2021-03-16 17:06] camerontrader commented on #2401
Thank you both so much! The issue was with the coordinates being 3D.

[2021-03-16 17:06] #2401 closed, assigned to nobody

[2021-03-16 22:16] jni commented on #2418
As I understand the problem yes, our layers always get drawn one behind the other, and I think it's a limitation of the architecture of vispy visuals — they get run in the shader in sequence, so the last one to run is the one you see — there's no concept of a spatial relationship as the shader gets executed. It would be good if @djhoese or @tlambert03 could confirm this.

@sofroniewn I think this

[2021-03-17 00:58] djhoese commented on #2418
My go-to person for this is usually @rougier. OpenGL artifact stuff is really not something I understand well enough to guess beyond what's already been said here. @rougier any ideas on if this looks like something caused by drawing order? Any ideas on a solution?

[2021-03-17 08:08] rougier commented on #2418
It looks like the depth buffer is not written by each volume such that the rendering becomes order dependent for multiple volumes. The faulty line is [here](https://github.com/vispy/vispy/blob/master/vispy/visuals/volume.py#L263). You can also have a look at https://www.labri.fr/perso/nrougier/python-opengl/#spheres to see how this works.

One quick and dirty solution for multiple separable volume

[2021-03-17 18:11] ViktorvdValk opened #2425 "Convert napari.types.ImageData to itk.Image for plugin"
## 📚 Documentation

How do I convert the napari.types.ImageData returned by the napari viewer to a data type that I can use in itk.
I'm currently writing a plugin for an itk-elastix, but the napari.types.ImageData seems not to be excepted by itk.

[code]

[2021-03-17 20:19] tlambert03 commented on #2425
`napari.types.ImageData` is not so much a custom type, it is a type _annotation_ that tells magicgui to deliver to the function the `layer.data` attribute of the layer currently selected in the widget.  In most cases, `layer.data` on an image layer is just a numpy array (with perhaps the exception of multi-resolution data).  So in your example above, `fixed` and `moving` are just numpy arrays.  I'

[2021-03-17 22:52] pranathivemuri opened #2427 "Edit text on shapes layer"
## 🚀 Feature
It would be great to have label/text editing capability when on shapes layer annotating bounding boxes. For example, if I had bounding boxes and labels I obtained from inferencing using a deep learning model and I want to go through and correct them.

### Pitch

Right now the way we can edit any properties of shapes created in shapes layer is through using ipython console, I would lik

[2021-03-17 23:16] sofroniewn opened #2428 "Policy for minimum versions on dependencies"
There is a discussion happening here https://github.com/dask/community/issues/136 about a policy for minimum versions on dependencies - for dask

I think at napari, we might need to be a little more restrictive for some projects (like pydantic, where we only support the latest release). But in general the idea of keeping our minimum pins to no more than 18 months seems reasonable (we're at `numpy>

[2021-03-17 23:35] sofroniewn commented on #2418
Wow @rougier thanks so much for that link! I can't believe I havn't looked at your online book before, that is incredibly helpful! cc @alisterburt @kevinyamauchi who were recently asking about some OpenGL stuff, you might want to look in here!

[2021-03-18 01:10] sofroniewn commented on #2427
Thanks for creating this issue @pranathivemuri, I think it would be a great feature. We'll need to think through some details like how to deal with autogenerated text labels based on other properties. It might also be we solve this in the context of a more general and flexible properties edit widget.

[2021-03-18 02:55] pranathivemuri commented on #2427
Right now, I have a little GUI that asks for folder of images or video you want to annotate and the labels as well before it opens anything on napari - https://github.com/czbiohub/napari-bb-annotations/blob/master/napari_bb_annotations/gui.py#L88 for the app to be more general with the text labels

[2021-03-18 04:18] sofroniewn commented on #2400
@GenevieveBuckley, reading your comment here https://github.com/napari/napari/pull/2406#issuecomment-801537007

makes me think of this current request - curious how you think we should handle this - should we fix the controls or raise an error. There is a WIP PR to fix at #2422

[2021-03-18 06:33] GenevieveBuckley commented on #2400
The current situation is clearly not ok. It shouldn't look fine up until the point you actually try and use the colormap.

I think it's probably simpler overall to add a check to the validation step and raise an informative error if it's not met. That error might suggest adding `0` and `1` if it looks like that might be the problem, or re-iterate the rules for `control` Nick mentions above.

I lea

[2021-03-18 11:49] ViktorvdValk commented on #2425
Thanks for the quick responds.
Napari returned a imageio.core.util.Array, which I managed to convert to ITK readable format with numpy.

[2021-03-18 12:09] tlambert03 commented on #2425
Interesting... What was the image layer?  Was a reader plugin being used?

[2021-03-18 12:44] adamltyson opened #2432 "Support a specific reader, not just plugin when using Viewer.open()"
From [zulip](https://napari.zulipchat.com/#narrow/stream/212875-general/topic/Specify.20specific.20reader.20within.20a.20plugin/near/230021440) cc @tlambert03
## Motivation

I have a number of different readers bundled within a single plugin, but I often want to specify one of these.

## Pitch

To be able to specify a specific reader as well as a plugin. E.g.:
[code]

## Alternatives

I make each

[2021-03-18 13:53] tlambert03 commented on #2428
my reading of those threads is not that our minimum pins should be "no more than" 18 months... but rather "no less than" 18 months.  (i.e. "we support anything released within the last 18 months").  I don't see any compelling reason to bump our minimum pins for a given package if our min_reqs test suggests that everything is working just fine.  We might consider that 18 months however when we cons

[2021-03-18 14:10] ViktorvdValk commented on #2425
No, I just opened a .mha file with a fresh Napari install without any reader plugin (at least not installed by me).

[2021-03-18 14:25] tlambert03 commented on #2425
huh... I just dragged an `.mha` file (from the [ITK Example data](https://github.com/InsightSoftwareConsortium/ITK/tree/master/Examples/Data) into napari and got the "no plugin capable of reading..." error).  Just cause I'm curious about what's turning this into an  `imageio.core.util.Array`, can you copy the output of `napari --info` here for me? (or, if you're on a recent master version of napar

[2021-03-18 14:29] tlambert03 commented on #2425
@sofroniewn, @jni, this does generally highlight an eventual issue that we might have in our "goal" of having napari-assisted processing pipelines.  Inasmuch as we accept heterogeneous data inputs to something like an `Image` layer  (i.e. numpy array, multiresolution list of arrays, dask array, etc...) that we _don't_ necessarily normalize internally, it does make the concept of an analysis plugin

[2021-03-18 15:04] ViktorvdValk commented on #2425
napari: 0.4.6
Platform: Windows-10-10.0.19041-SP0
Python: 3.9.2 (default, Mar  3 2021, 15:03:14) [MSC v.1916 64 bit (AMD64)]
Qt: 5.15.2
PyQt5: 5.15.4
NumPy: 1.20.1
SciPy: 1.6.1
Dask: 2021.03.0
VisPy: 0.6.6

OpenGL:
  - GL version:  4.6.0 NVIDIA 456.71
  - MAX_TEXTURE_SIZE: 32768

Screens:
  - screen 1: resolution 2880x1800, scale 1.0
  - screen 2: resolution 5120x2880, scale 1.0

Plugins:
  - cons

[2021-03-18 15:05] ViktorvdValk commented on #2425
PluginManager for "napari"
(10 hook specs and 4 plugins)
---------------------------------------------
builtins v0.4.6                       6 hooks
  - napari_get_reader
  - napari_get_writer
  - napari_write_image
  - napari_write_labels
  - napari_write_points
  - napari_write_shapes

console v0.0.3                        0 hooks

itk-elastix_napari v0.1.dev5+g5cde6ab.d20210318    1 hooks
  - n

[2021-03-18 15:09] tlambert03 commented on #2425
thanks!  sorry to belabor this, I'm just curious.  How are you getting the `.mha` file into napari?  drag-drop?  custom script?  `viewer.open`?

[2021-03-18 15:18] ViktorvdValk commented on #2425
I run napari from the command line and then I load the images from the menu (File -> Open File(s) ...)

[2021-03-18 15:21] ViktorvdValk commented on #2425
And just a completely different question wrt the plugin layout.
how do I make the plugin load automatically on the bottom panel of napari (right seems default now for me)
and how do I increase the font size of the plugin text?

[2021-03-18 15:26] tlambert03 commented on #2425
the [`napari_experimental_provide_dock_widget`](https://napari.org/plugins/stable/hook_specifications.html#napari.plugins.hook_specifications.napari_experimental_provide_dock_widget) spec also allows you to return a tuple `(callable, options)` where `options` is a dict of key/value pairs that will be passed to [`viewer.window.add_dock_widget`](https://github.com/napari/napari/blob/master/napari/_q

[2021-03-18 15:30] tlambert03 commented on #2425
welp, color me perplexed :) I'm really not familiar with the mha format, but when I try to do this using the mha files from the ITK examples, it doesn't work.  we don't need to dig into this if you're happy and your application is working again, I was just curious what might be turning `layer.data` into a `imageio.core.util.Array`.  @jni, @sofroniewn ... do you have any ideas here?

[2021-03-18 15:39] ViktorvdValk commented on #2425
Unfortunately replacing `return register` with `return register, {'area': 'bottom'}`  causes the plugin to crash, also when I put brackets around the output.

[2021-03-18 15:41] tlambert03 commented on #2425
there isn't a direct API to do that at the moment.  For many specific style adjustments, you'd have to directly modify the Qt widget backing the magicgui widget (or just directly provide a `QWidget`).  With `magic_factory` that's a bit tricker, since you need to do it _after_ the widget is created by napari.  Here's a rough idea:

[code]

[2021-03-18 15:49] tlambert03 commented on #2425
can you give me more info, like a stack trace, or anything it might say in the console?  I just pip installed your github repo and changed your implementation to this and it worked:
[code]

[2021-03-18 15:58] sofroniewn commented on #2400
Ok, thanks for weighing in with the detailed thoughts @GenevieveBuckley - personally I agree with all your points. @Czaki has now made an implementation in #2422 that is quite clean using a single root validator. Given the simplicity of the fix and his desire for it, I think adding it, but taking your the part of your suggestion to add a warning and improving the documentation seems like the best

[2021-03-18 16:00] tlambert03 commented on #2425
ok, figured this out.  It's the presence of ITK in the environment.  right [here in imageio](https://github.com/imageio/imageio/blob/187578526a5791dee813bd7546324169d3236dac/imageio/core/functions.py#L178), the format of the mha open request is determined to be `imageio.plugins.simpleitk.ItkFormat`, and it looks like `imageio.plugins.simpleitk.ItkFormat.Reader` returns its data as a `imageio.core.

[2021-03-18 16:53] ViktorvdValk commented on #2425
Yes, sorry. Found a typo.
Thanks a lot for the help

[2021-03-18 16:54] tlambert03 commented on #2425
no problem!  Thanks for raising awareness of the remaining type ambiguities on `Image.data` :)

[2021-03-18 16:54] #2425 closed, assigned to nobody

[2021-03-18 18:19] sofroniewn commented on #2432
Seems like a very reasonable request. I could imagine it coming up in other plugin contexts too, like writers, or analysis etc, so I wonder if we'll have a more general `kwarg` than `reader` that could be an approach we'd reuse in other contexts, i.e. you specify the `plugin=....` and then ?

Maybe plugin could become a tuple optionally `plugin = (plugin_name, my_function_name)`? I like that becau

[2021-03-18 18:52] neuromusic commented on #2428
in the world of napari-as-a-component (e.g. python package installed into a user's environment), I think that this makes sense and 18 months is rather generous. and it makes sense to distinguish between dependencies that have "science" logic (numpy, etc) vs "application" logic (pydantic, PySide, etc) and be more restrictive on the latter when necessary

in the world of napari-as-a-container (e.g.

[2021-03-18 20:44] goanpeca commented on #2089
Not sure :)

[2021-03-19 01:57] GenevieveBuckley commented on #2400
Great, maybe we can add those other validation checks you suggest above too.

[2021-03-19 03:21] sofroniewn commented on #2425
Yeah, just catching up on this thread - seemed like a great discussion - and agreed with all points around challenges of a plugin ecosystem when the `data` object and be so heterogeneous, will be something to discuss more!

[2021-03-19 13:58] tlambert03 commented on #2432
I kinda like that.  @jni?  @adamltyson?

[2021-03-19 14:30] adamltyson commented on #2432
In an ideal world, I could specify a reader name, without the plugin name. However, I wouldn't be using this part of the API on a regular basis, only within other analysis plugins.

Not specifying the plugin name could lead to issues with non-unique names, but the existing hierarchy in the plugin sorter could take care of this.

TLDR: If it's possible, I don't mind how.

[2021-03-19 15:59] sofroniewn commented on #2432
I think we'll probably need a plugin name so avoid potential name space conflicts. I guess we could just use the hierarchy in the sorter to find the first reader name that matches, but having both seems like the safer place to start. Thanks for understanding.

[2021-03-19 16:11] tlambert03 commented on #2432
yeah... I'm afraid I agree here. too easy to run into namespace conflicts

[2021-03-19 16:13] adamltyson commented on #2432
Sounds good.

[2021-03-19 21:00] manzt commented on #1959
+1 I ran into this today trying to register two multiscale WSIs (providing an explicit `affine` matrix). For some transformations, just the weird clipping happens. But sometimes the clipping cuts a dimension of the image completely, and a `ValueError` is raised from `_vispy/vispy_image_layer.py`:

[code]

<img src="https://user-images.githubusercontent.com/24403730/111842517-f4b75800-88d5-11eb-814

[2021-03-20 03:10] sofroniewn commented on #1959
Sorry no progress here yet. I also know this isn't something supported yet in our experimental tiled rendering. We'll try and get to this when we can. Thanks for giving it a bump though!

[2021-03-20 04:21] github-actions[bot] opened #2442 "[test-bot] pip install --pre is failing"
The --pre Test workflow failed on 2021-03-20 04:21 UTC

The most recent failing test was on macos-latest py3.8 pyside
with commit: 2b14a30c9cdc0272987d010d59f6cba7edc799cd

Full run: https://github.com/napari/napari/actions/runs/669998794

(This post will be updated if another test fails, as long as this issue remains open.)

[2021-03-20 14:46] #2442 closed, assigned to nobody

[2021-03-21 05:16] pranathivemuri commented on #2427
@sofroniewn Hi Nick, I was thinking more about the problem of editing text or adding text/label if there are already bounding boxes. It seems like you have the select shape(s) in the Shapes layer already, so once we select the shapes, the next step would be to able to edit the properties of the shape(s) selected. - which I am guessing we can probably do on the backend as I was able to load existin

[2021-03-21 06:01] Zac-HD opened #2444 "Property-based testing for Napari"
Following some email discussions with @GenevieveBuckley, @sofroniewn, @tlambert03, @jni, and @fudgemunkey, I thought I'd write up our ideas for property-based testing of Napari as a public issue so that anyone can contribute ideas or pull requests.  As background, [Hypothesis](https://hypothesis.readthedocs.io/en/latest/) is basically super-powered random testing, and [I wrote this short paper](ht

[2021-03-21 06:37] pranathivemuri commented on #2427
I was just playing around with the tool again and realized this can already be done! thanks @sofroniewn and @kevinyamauchi the text properties are already linked when data is selected so they change. Here is a gif demo of it! :)
Thanks a lot again! I am closing the issue as this was exactly what I needed, I can edit text for multiple shapes or single shape just by selecting the shapes on left and

[2021-03-21 12:51] tlambert03 commented on #2444
just wanted to say that I'm very excited about this :)  Your paper was compelling and I'm wondering how I've made it this far without using property-based testing! (particular for widget inputs in magicgui... which would have revealed things like https://github.com/napari/magicgui/pull/178 far earlier).  thanks again

[2021-03-21 23:24] GenevieveBuckley commented on #2444
I'm also excited to see what happens with this project!

[2021-03-22 00:13] sofroniewn commented on #2444
Thanks for the detailed write up @Zac-HD and the enthusiasm from the community. I know @neuromusic and @goanpeca were also interested in this too!

I think this is a reasonable place to start, it will make it very clear what we're taking on by adding hypothesis support. If we decide to remove hypothesis in the future for whatever reason we can use that PR as a reference too, and it should be easy

[2021-03-22 00:19] sofroniewn commented on #2427
@pranathivemuri so great that you found a solution for yourself with a custom widget. If you don't mind I'm going to reopen this though as we see property and text editing like this as a first class feature that we'd like to support directly within napari.

I think there are now two different parts that we could do.

1) Text editing of selected shapes. Here I think there should be a line edit adde

[2021-03-22 00:26] sofroniewn commented on #1448
This has now been fixed and a test was added by @jni in #2339 and so I will close. If something isn't working as expected though please feel free to reopen!

[2021-03-22 00:26] #1448 closed, assigned to nobody

[2021-03-22 00:27] sofroniewn commented on #2135
This will be closed by #2284 I think

[2021-03-22 00:30] sofroniewn commented on #2356
Will be closed by #2441

[2021-03-22 00:32] sofroniewn commented on #2390
This is ultimately related to our `active_layer` issues which are being addressed in #2441. As there are other issues about that already, I will flag as a duplicate and close now

[2021-03-22 00:32] #2390 closed, assigned to nobody

[2021-03-22 00:34] sofroniewn commented on #2380
This would be closed by #2415

[2021-03-22 00:45] DragaDoncila commented on #2380
@sofroniewn technically #2415 only closes idea 1.

Idea 2 - only refresh painted pixels would be a separate PR. However, in the context of #2416 I'm curious as to whether you think this partial refresh would still be worth it?

[2021-03-22 00:57] sofroniewn commented on #2380
Yes very much so - in the context of #2416 though it become about just invalidating and redrawing the tiles where data has changed.

We basically need to add a method to each chunk to say if any of a list of coordinates is inside and then have a way to make those coordinates available to the chunk after painting. Will be pretty cool when it works!!

[2021-03-22 01:01] DragaDoncila commented on #2380
Sorry, should've been more clear.

Totally agree with this. Specifically what I meant was that we would want to be redrawing the full invalidated tile, rather than strictly the pixels which were painted, which I think is what this issue is suggesting

[2021-03-22 01:01] pranathivemuri commented on #2427
sounds great!

[2021-03-22 02:45] jni opened #2445 "Ctrl+W no longer works for closing the napari window"
## 🐛 Bug

I guess this one probably snuck in during the action manager refactor? If I try `Ctrl+W` on an open napari window I now get the message:

[code]

and nothing happens.

[2021-03-22 02:45] jni commented on #2445
This is on Linux, haven't yet tested on macOS

[2021-03-22 04:02] ppwadhwa commented on #2445
I just checked on my mac, and it closes with Cmd+W.

[2021-03-22 05:46] goanpeca commented on #2445
I introduced this with the work on https://github.com/napari/napari/pull/2397

Will add a fix :)

[2021-03-22 14:01] manzt commented on #1959
No problem, just wanted to bump. If someone else runs into this, I've found that a 0-90° rotations of the multiscale image progressively clip the image. This was an issue because one of my images needed to be rotated 90° and was clipped completely. As a workaround, I ended up applying `rot90` with dask and then applying affine matrix to the rotated source data (this removed the majority of the cli

[2021-03-22 14:16] Czaki opened #2447 "History of last opened files"
## 🚀 Feature

It will be nice to have a list of the last opened files with one click open.

## Motivation

When developing a new algorithm/widgets etc it will be nice to fast open one of the last files to check how it works now.

Also when would like to discuss with someone else the result, it is nice to preview few last files.

## Pitch

Add "Last files" entry to "File" menu with a list of last o

[2021-03-22 14:52] goanpeca commented on #2447
This is indeed a very nice feature!

[2021-03-22 15:52] goanpeca opened #2449 "Update preferences look to match UI design"
## 🚀 Feature

This requires adding a QSplit and reorganizing buttons a bit.

<img width="565" alt="Screen Shot 2021-03-22 at 10 52 21 AM" src="https://user-images.githubusercontent.com/3627835/112018571-af28a400-8afc-11eb-93fe-1d65c2920898.png">

## Motivation

## Pitch

## Alternatives

## Additional context

The work is divided into 2:
- [ ] Updating the left hand side
- [ ] Updating the right h

[2021-03-22 15:54] goanpeca opened #2450 "Remove toggle theme option"
## 🐛 Bug

Since there can be more than 2 themes, this option should be removed.

<img width="255" alt="Screen Shot 2021-03-22 at 10 54 03 AM" src="https://user-images.githubusercontent.com/3627835/112018841-eb5c0480-8afc-11eb-8fbc-4f392d431ecb.png">

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

 - Please copy and paste the information at napari

[2021-03-22 15:54] tlambert03 commented on #2449
gorgeous!

[2021-03-22 15:55] goanpeca opened #2451 "Move the plugin sorter to the Preferences dialog"
## 🚀 Feature

![image](https://user-images.githubusercontent.com/3627835/112019090-1c3c3980-8afd-11eb-8057-d018826e0a71.png)

![image](https://user-images.githubusercontent.com/3627835/112019203-32e29080-8afd-11eb-8280-96701e4d21e3.png)

## Motivation

With the new preferences dialog, it probably makes sense to move these options there, and remove the entry from the Plugins menu.

## Pitch

## Alt

[2021-03-22 15:56] tlambert03 commented on #2450
fwiw, the behavior there is currently more of a "cycle" theme, and it does work with multiple themes:

https://github.com/napari/napari/blob/80f8ef18d9645c52601a8c1fd1125601f4b3dac0/napari/components/viewer_model.py#L255-L259

maybe we could just change the misleading wording of the menu?

[2021-03-22 15:56] goanpeca commented on #2451
I would like to hear thoughts @napari/core-devs :) ?

[2021-03-22 15:59] tlambert03 commented on #2451
I'm on board with that.  it was one of the first "options" widgets we had... but now I agree that preferences is a better place for it.  (note, it can also be accessed through the `Install/Uninstall` dialog... that can probably stay)

[2021-03-22 16:00] goanpeca commented on #2451
Agreed

[2021-03-22 16:01] goanpeca commented on #2450
For anything more than 2 themes, cycling might not be the best UI. In that case, if we want to expose that, we should probably use a submenu.

[2021-03-22 16:04] tlambert03 commented on #2450
that's fine too (but I do also kinda like the hot key that lets me cycle).

[2021-03-22 17:38] ppwadhwa commented on #2450
@goanpeca can the hot key still cycle through them even if we add a new submenu for the themes?

[2021-03-22 18:10] goanpeca commented on #2450
It could but it would be very hard to have discoverability of such a feature.

Now the real UX question is, even if toggling and cycling is convenient with a shortcut, a theme is not something you are toggling every minute, it is something you select and then move on, so the quick access feature and ability to toggle it quickly with a shortcut does not seems to sync with the actual usage.

[2021-03-22 18:14] kevinyamauchi commented on #2427
@pranathivemuri , I'm glad you were able to make something that fits your use case! Would you mind sharing the code somewher?

With regards to implementing editing of text as a feature in napari, I am more in favor of option (2) first. Since the text is derived from the layer properties, I think it makes sense directly modify the properties. Plus, the property editor would be useful for other thin

[2021-03-22 18:55] tlambert03 commented on #2427
@kevinyamauchi, ping me if I can be of any help with the prop table!  In most cases, if you have a dict of lists, you should just be able to call `magicgui.widgets.Table(dict_of_lists)`.

[2021-03-22 18:59] goanpeca commented on #2449
@liaprins-czi , do we want to be able to resize the left/right part of the dialog, like if it was using a splitter?

<img width="248" alt="Screen Shot 2021-03-22 at 1 59 37 PM" src="https://user-images.githubusercontent.com/3627835/112043605-d9875b00-8b16-11eb-95c6-6043b405847e.png">

[2021-03-22 23:21] sofroniewn commented on #2451
I'd be very supportive of this too, I like the idea of unifying this with preferences. I think preserving install/ uninstall makes sense too

[2021-03-23 02:55] sofroniewn commented on #2450
At a bare minimum it should be renamed `cycle theme` instead of toggle theme. I could see reasons for having a submenu, but probably wouldn't as it is now possible to set the theme in the preferences, and having the submenu then seems highly redundant.

I agree that most users are unlikely to do this, but I can see how it is useful for a GUI developer :-) Maybe we shouldn't be adding menu items/ k

[2021-03-23 02:57] sofroniewn commented on #2447
I'd be supportive of this. We'd probably behind the scenes have to store which "File Open ..." method was called (we have three), but that seems very doable!

[2021-03-23 03:24] jni opened #2458 "How best to autogenerate (or not) our add_[layer] methods and view_[layer] functions"
We've gone back and forth a few times with our `add_{image,labels,points,...}` methods, which are shortcuts for `add_layer(layer_instance)` for the appropriate layer time, and `view_{image,labels,...}`. My summary of the pros/cons:

For autogeneration:
- when the code is not autogenerated, the various docstrings, argument lists, etc. need to be kept in sync in many places in the code. You can see

[2021-03-23 03:27] sofroniewn opened #2459 "MouseEvents followups"
There are a couple followups from #2443 which should be looked at in their own PRs. They are

can we use an attribute name that is a bit more explicit since now the event object will have both event.pos (canvas) and event.position (world). maybe call it event.pos_world?

- [ ] Creating a dedicated napari cursor event and renaming `event.pos` to `event.canvas_position`.

- [ ] Looking into, timing,

[2021-03-23 04:24] ppwadhwa commented on #2450
FYI: I submitted a PR to drop the menu item.  In order to still cycle through themes with the keybinding, I had to add the keybinding to `_viewer_key_bindings` because the keyboard shortcut was attached to the QAction included in the menu.

[2021-03-23 04:27] #2445 closed, assigned to goanpeca

[2021-03-23 07:54] Czaki commented on #2447
There is a need to remember exactly which function is used.

[2021-03-23 09:29] Czaki commented on #2458
Did we need docstring synchronization for something else than generating documentation?

maybe something like:

[code]

[2021-03-23 11:53] tlambert03 commented on #2458
this is something I'm 100% in favor of... have been meaning to submit this PR for a while (due to autocompletion stuff in IDE)

I'm luke warm on this: doesn't seem to be all that much easier for a newcomer to understand.

wouldn't be that opposed to this.  in fact, perhaps we could even have a static generation script for convenience of regeneration/testing, _and_ check the result into source?

[2021-03-23 22:29] liaprins-czi commented on #2449
@goanpeca We don't need to allow resizing for the preferences, we should just have a good default width that allows all the section labels (on the left side) to show completely.

[2021-03-23 22:53] liaprins-czi commented on #2450
Myabe not for the first version of customizeable keybindings, but I think we could have it eventually.

I agree with removing this option from the menubar, as it should be consistent with other Preferences settings in how it is accessed; keeping it available through the preferences dialog exclusively will help the user build a mental model that that is where to go to make changes of this sort.

I

[2021-03-24 00:25] #2373 closed, assigned to nobody

[2021-03-24 16:01] goanpeca opened #2465 "Provide a way to read a mapping for settings to icnlude localization/display names"
## 🚀 Feature

Settings like themes, languages have keys and display names. Provide a way to use display names on the settings.

## Motivation

See:
https://groups.google.com/g/json-schema/c/w_5mVYB7OHg?pli=1

## Pitch

## Alternatives

## Additional context

[2021-03-25 01:28] DragaDoncila commented on #2354
The reason this happens is because when we receive a `layer_data_tuple` from a widget whose `name` is that of an existing layer in the viewer, we try to overwrite the layer's `data`, instead of adding a new layer. Since `shapes` layers store the type of each shape in the metadata dict, the `shape_type` gets lost, and the data setter defaults to rectangle. See [here](https://github.com/napari/napar

[2021-03-25 02:38] jni opened #2468 "Better chunk and/or memory awareness when rolling dims"
## 🚀 Feature
@AbigailMcGovern and I have run into the issue that we have bigger-than-RAM 3D+t data chunked into timepoints. During manual annotation we want to roll the dims to be able to look at XZ or YZ planes, but the UI does not allow one to ignore t when rolling.

This is more general, e.g. 3D data where individual planes are usable but the full dataset is larger than RAM.

There's a few, not

[2021-03-25 03:22] sofroniewn commented on #2468
Agreed the situation here should be improved! This is something that if we improved https://github.com/napari/napari/issues/906#issuecomment-774749188 could be done with more awareness over axis labels too.

[2021-03-25 03:27] sofroniewn commented on #2354
Hmm, this is a tricky one, I'm not sure. It's not ideal that the data property here isn't a complete descriptor. I will have to think on it, but thanks for the clear description!

[2021-03-25 04:42] jni opened #2470 "Allow adjustment of layer list/layer controls width in UI"
## 🚀 Feature

Currently, the width of the layer list and layer controls panels is hardcoded. For the layer list at least, it would be useful to be able to make it wider, both in docked and especially in the undocked configuration.

See also [this comment](https://github.com/napari/product-heuristics-2020/issues/18#issuecomment-803757365) in napari/product-heuristics-2020#18 from @goanpeca.

[2021-03-25 14:39] ppwadhwa commented on #2451
Do we want to keep the plugin sorter as a docked widget?  @liaprins-czi How should the plugin sorter option look in the preferences menu?

[2021-03-25 17:06] goanpeca commented on #2451
@ppwadhwa I would expect the plugin sorter to work as a "normal" custom preferences widget. So something like (but in the plugins page):

![image](https://user-images.githubusercontent.com/3627835/112513605-81449900-8d62-11eb-8195-7dacc8b6ddd5.png)

We can update the description and title so that it behaves and matches the other style of widgets in the preferences.

[2021-03-25 17:16] goanpeca commented on #2470
I suggest we have minimum width hints, that should update based on content. Also the dockwidgets should probably be resizable?

[2021-03-25 17:43] tlambert03 commented on #2470
I agree too. Was going to address this with the upcoming qt layerlist and layer tree... we can do it sooner too, but some of the style targets may be changing

[2021-03-25 18:37] ppwadhwa commented on #2451
@goanpeca sounds good.  thanks for the reply.  will work on getting this in place!

[2021-03-25 20:39] liaprins-czi commented on #2451
Yes, I agree with @goanpeca that it should not be dockable anymore, but fit into the window like the other preferences. :+1:

[2021-03-26 03:57] yfukai opened #2472 "Possible Qt-related segmentation fault when streaming with pycro-manager"
## 🐛 Bug

Hi, I appreciate all the contributors to this great application, thanks!
Now I'm trying to stream the live view from pycro-manager to napari in Windows, but found a possible Qt-related segmentation fault that kills the python interpreter itself. I would like to know if this is a bug or I'm doing something wrong.

## To Reproduce

Steps to reproduce the behavior:

1. install `napari=0.4.6

[2021-03-26 04:29] jni opened #2473 "Docs not updating correctly"
## 📚 Documentation
I randomly noticed that the 0.4.7 release notes are not on napari.org. I found the github action build for the docs and found [this interesting line](https://github.com/napari/napari/runs/2195089768?check_suite_focus=true#step:6:2294):

though I'll note that it's in amongst similar lines for all releases. @kne42 do we need to update a `_toc` entry for each new docs page, or is t

[2021-03-26 04:32] jni opened #2474 "Missing links in docs"
## 📚 Documentation
While investigating napari/napari#2473 I also found these lines in the [build](https://github.com/napari/napari/runs/2195089768?check_suite_focus=true#step:6:2430):

[code]

Sure enough, those seem to correspond to missing links in our napari.org website.

[2021-03-26 04:53] jni commented on #2472
I don't have time to reproduce right now but you're not doing something *obviously* wrong from my quick reading! One minor thing to note is that we no longer recommend the `napari.gui_qt()` context — you should instead remove the context and just call `napari.run()` at the end of the script.

Another thing I would recommend to debug this is to use `%gui qt` at the top of your jupyter notebook*, th

[2021-03-26 05:43] GenevieveBuckley opened #2475 "Use zarr.open() if napari is trying to open a filename ending in `.zarr`"
## 🚀 Feature
If you try to open a filename ending in `.zarr` then napari should use the `zarr.open()` method instead of its default open method.

## Motivation
Juan shared a `.zarr` dataset with me yesterday (the `AO-LLSM` dataset), but gave specific instructions that I could not just drag and drop it into napari and instead I should open it with `zarr.open()` and then show that result in the napa

[2021-03-26 06:46] yfukai commented on #2472
Hi @jni, thank you for your response and suggestion! It seems that I have not updated myself with the new API, and I will try again with your recommendations to see how it will be.

Thanks, also this was not in my mind; I will check if this happens with longer sleeping time (like 1s)!

[2021-03-26 07:59] yfukai commented on #2472
Let me update the thread with some additional tests. I updated the test code as follows (with the waiting time 1s).
Interestingly, now the cell runs in the first run, but fails in the second run if I don't quit the `thread_worker` by the "Stop" button. If I quit the `thread_worker` before closing napari window, the code runs without error even in the second run.
Now I'm more guessing this is not t

[2021-03-26 07:59] #2472 closed, assigned to nobody

[2021-03-26 10:52] Chris-N-K opened #2476 "Viewer Crash when using 3D mode"
## 🐛 Bug
Hi and thank you all for your hard work.

I use a plugin to load images of the nifti format with included translate information. When I start napari directly from the command line with: 'napari', load an image and directly try to use the 3D mode the Viewer crashes.

The viewer does not crash if I open the iPython console, add a new layer to the viewer before clicking the  3D mode button o

[2021-03-26 11:28] brisvag commented on #2444
This sounds super cool! I'm going to play around with hypothesis elsewhere too :)
I think starting with `layers` would be great, it would help with at least 4 of the issues I raised (#1801, #1833, #2347, #2348) ;)

[2021-03-26 21:01] alisterburt opened #2477 "setter on Labels.properties does not accept default value of Labels.properties"
Playing with some serialisation over on napari animation and ran into an issue with setting `Labels.properties`

example:

[code]

gives

[code]

will submit a PR to fix now

[2021-03-26 22:09] alisterburt opened #2479 "Setting labels.color to the same value changes what is rendered"
Setting the color on a labels layer to the current value of `Labels.color` changes the rendering completely, the layer becomes invisible on screen. This is happening because `Layer.color_mode` is being changed in the [`Layer.color` setter](https://github.com/napari/napari/blob/master/napari/layers/labels/labels.py#L353-L374)

I would expect that getting the value of a property then setting the sam

[2021-03-26 22:23] alisterburt opened #2480 "unexpected behaviour on setting layer properties"
I recently ran into two issues where setting layer properties with their current values led to unexpected behaviour (#2477 and #2479)

I think it might be worth introducing a mechanism for
1) testing that rendering remains unchanged upon setting a property to its current value (for all public properties on every layer type)
2) having default behaviour of setters for layer properties to check for e

[2021-03-26 23:23] github-actions[bot] opened #2481 "[test-bot] pip install --pre is failing"
The --pre Test workflow failed on 2022-04-06 01:33 UTC

The most recent failing test was on macos-latest py3.8 pyside
with commit: c9b4ba538c95a84cfbce122f507ed25ac950cd32

Full run: https://github.com//actions/runs/2099712801

(This post will be updated if another test fails, as long as this issue remains open.)

[2021-03-28 12:49] alisterburt opened #2482 "Axes visual not updating when adding image data"
## 🐛 Bug

The axes visual does not automatically stay in sync when image data is added

A similar issue was posted on the [zulip](https://napari.zulipchat.com/#narrow/stream/212875-general/topic/issues.20with.20axes) by Uwe Schmidt, it looks like there might be more to his issue than just this though?

## To Reproduce
[code]
<img src="https://user-images.githubusercontent.com/7307488/112751330-472

[2021-03-28 16:00] sofroniewn commented on #2470
Yup, this is fine with me. Maybe we at least wait until after #2423 or its equivalent merges

[2021-03-28 16:03] sofroniewn commented on #2474
Thanks for catching @jni, maybe @kne42 can look into when the week begins. It might be nice to use a tool to check for missing links. I think @GenevieveBuckley had proposed one on an earlier issue, but i can't find it now

[2021-03-28 16:04] sofroniewn commented on #2473
I've just tried updating https://github.com/napari/docs/blob/master/index.html to include `0.4.7` but that doesn't seem to have helped. Is that index still getting used @kne42? I'm not sure.

[2021-03-28 22:17] GenevieveBuckley commented on #2474
I think it was this one: https://github.com/linkchecker/linkchecker

I haven't used it, but it seems like it fits the job. Discussed here in https://github.com/napari/docs/issues/439

[2021-03-28 23:57] jni commented on #2474
Linkchecker won't work here because Jupyter Book simply does not include the hyperlink in the html if the target is missing in the sphinx source file (MyST). So we have to look at the build logs.

[2021-03-29 00:08] #2450 closed, assigned to ppwadhwa

[2021-03-29 03:08] GenevieveBuckley commented on #2474
Would this work for MyST source files? https://github.com/marketplace/actions/markdown-link-check

[2021-03-29 05:34] jni commented on #2474
Probably not. They are sphinx references which work differently from pure markdown. Though that's very cool.

[2021-03-29 10:50] ColasDroin opened #2485 "Napari crashes on Mac OS Big Sur"
## 🐛 Bug

When running napari in the terminal, it doesn't open and I get the following error:
[code]

## To Reproduce

I'm using Mac OS Big Sur 11.2.3, I installed napari in a virtual environment following the tutorial on the official doc, namely:
[code]
In practice, napari-0.4.7 is the one that has been installed.

## Environment

Mac OS Big Sur 11.2.3
Virtual environment with Python 3.8
napari-0

[2021-03-29 11:34] tlambert03 commented on #2485
as far as we've seen so far, big sur requires python 3.9 (see some related discussion [here](https://github.com/napari/napari/issues/1393)).  Can you try again with `conda create -y -n napari-env python=3.9`?

[2021-03-29 11:46] ColasDroin commented on #2485
Thank you, unfortunately this doesn't work either, but I actually found a workaround from [one of your older posts](https://github.com/napari/napari/issues/2287):

[code]
Not sure I understand why, but it seems that using a different channel to get Python 3.9 seems needed. Also, using  `'napari[all]'` (with quotes) is needed. Indeed, it doesn't seem to work without the quotes, and installing napar

[2021-03-29 11:46] #2485 closed, assigned to nobody

[2021-03-29 11:52] tlambert03 commented on #2485
great, glad you got it working:

ah, yep... the major thing that changed in big sur relates to how shared libraries are accessed, and i think that there are some subtle differences in the different python distributions.  conda-forge seems to be working well at this point.

yeah, if you're using zsh (now the default on macOS) instead of bash, you need to escape the brackets (see explanation [here](

[2021-03-29 12:22] ColasDroin commented on #2485
Yep, thank you for the explanation!

[2021-03-29 22:33] jni commented on #2354
@sofroniewn I agree it's a deeper problem, but I think Option 4 is a nice, non-intrusive way to fix this specific bug while we think about improving our data models:

[code]

As I understand the only downside to replacing the whole layer always is performance, right?

[2021-03-30 00:52] DragaDoncila opened #2487 "Behaviour of `layer.corner_pixels` is inconsistent"
## 🐛 Bug

The behaviour of `layer.corner_pixels` is inconsistent when working with combinations of 2D, multiscale and 3D images. Only multiscale images displayed in 2D take into account `layer._dims_displayed` leading to different `corner_pixel` values depending on the number of displayed dimensions.

Additionally, rolling dimensions when 2D and 3D images are in the viewer leads to incorrect `corn

[2021-03-30 01:06] DragaDoncila opened #2488 "Toggling `viewer.dims.ndisplay` with a 3D image and multiscale image throws error"
## 🐛 Bug

Changing the number of displayed dimensions with a 3D layer and a multiscale layer from 3D back to 2D throws an error - the images are still rendered seemingly correctly. First identified by @uschmidt83

## To Reproduce

Steps to reproduce the behavior:

[code]

Traceback:
[code]
## Expected behavior

Dimensions change with no error thrown

## Environment

napari: 0.4.7.dev75+g66fe700f
P

[2021-03-30 13:53] aphilip442 opened #2489 "Tried to load big dataset, napari uses all CPU/RAM, forces hard shutdown"
## 🐛 Bug

I tried to load a collection of tiff files, amounting to 1TB in total.
Napari proceeded to fill the RAM (256GB), then bottlenecked the CPU as well.
Windows became totally unresponsive (impossible to do anything), forcing a hard shutdown.

## To Reproduce

Steps to reproduce the behavior:

1. Open Napari
2. Click 'Open Files as Stack'
3. Select amount of files that exceed your RAM (in my

[2021-03-30 18:46] haesleinhuepf opened #2491 "Crash while thumbnail generation when setting `layer.data` (in case of label layers)"
## 🐛 Bug

I'm just trying to port [napari-pyclesperanto-prototype](https://github.com/clesperanto/napari_pyclesperanto_assistant) (a napari plugin) from napari 0.4.5 to 0.4.7. When using the assistant, napari crashes inside a routine that draws thumbnails for the layer list. When surrounding the crash with a try-except-block, more things go wrong. Were there major changes in how layer.data and lay

[2021-03-30 18:52] tlambert03 commented on #2491
from the traceback, it looks like #2415 might be involved.  So you might start looking there for clues.  And maybe @DragaDoncila has ideas?

[2021-03-30 19:00] DragaDoncila commented on #2491
Hmm yes, I wondered if this would come back to bite us. The reason it's crashing is because we now use the raw layer data to index into an array to get the colour value of each pixel.

Essentially all labels layers have to be int types. We convert on `__init__` but if you're setting the data directly then they'd never get converted.

[2021-03-30 19:04] DragaDoncila commented on #2491
@haesleinhuepf how important is it to you to have float types as labels layers? We could update the data setter to make this conversion, but maybe we were too hasty in this change? Curious what @sofroniewn and @jni think.