[2021-12-09 18:25] jojoelfe commented on #3783
There is a transform across the time points, it's just not a linear one, because each data point has it's own transform. In an extreme case, a transform could just by a (n+1)D matrix that contains a displacement for each pixel/voxel/datapoint. It would be kind of neat if napari would support that, because users could supply any arbitrary transform. Of course it would be a real pain (or impossible?

[2021-12-09 20:01] melissawm commented on #3654
Ok I was wrong, these files actually need to be added to the napari.github.io repo for it to work. This is being done as part of napari/napari.github.io#299

[2021-12-09 23:01] #3778 closed, assigned to andy-sweet

[2021-12-09 23:03] jni commented on #3778
Whoo!

[2021-12-09 23:07] jni commented on #561
@kellman did you mean to close this issue? I know it's been a very long time, but it's still on our radar!

[2021-12-09 23:59] keredson opened #3792 "ModuleNotFoundError: No module named 'PyQt5.pyrcc_main'"
## 🐛 Bug

`ModuleNotFoundError: No module named 'PyQt5.pyrcc_main'` thrown when calling `napari.Viewer()` on a fresh Ubuntu install.

## Fix
Run:  `sudo apt install pyqt5-dev-tools`

Which installs `/usr/lib/python3/dist-packages/PyQt5/pyrcc_main.py`

So:
[code]

### TL;DR

The common prereq instructions of installing `python3-pyqt5`is insufficient on Ubuntu and the dep on `pyqt5-dev-tools` is non

[2021-12-10 01:08] tlambert03 commented on #3792
thanks @keredson ...

curious, did you already try the instructions [in our readme](https://github.com/napari/napari#from-pip-with-batteries-included) and have them fail? (or are they unuseable for some reason)?

[code]

specifically, did you try `pip install "napari[all]"` before resorting to `python3-pyqt5` or `pyqt5-dev-tools`
`ModuleNotFoundError: No module named 'PyQt5.pyrcc_main'` is often c

[2021-12-10 03:05] sofroniewn commented on #3787
makes sense to me

[2021-12-10 03:54] ppwadhwa opened #3794 "Add tests for popups"
## 🧰 Task

I realized after reviewing #3766 , that I did not include tests for some of the popup dialogs I worked on (the grid mode popup and the playback settings popup).
These need to be added...

[2021-12-10 11:24] melissawm commented on #3654
Looks like the toc reorganization fixed this, can anyone confirm? Thanks folks!

[2021-12-10 18:57] mfkeles opened #3795 "Allow frame indexing for 6+ digits using the frame box"
## 🧰 Task
I am using the napari-video plugin and I have some videos that are 1+ million frames. I noticed that the frames box does not let me enter more than 6 digits. Would it be possible to change this or give the user the ability to set a limit? I was able to fix this by following [this suggestion](https://forum.image.sc/t/frame-indexing-does-not-work-for-frame-id-6-digits/60947). As @Czaki poi

[2021-12-10 19:27] chili-chiu opened #3796 "Interactive feature plot"
## 🚀 Feature

Provide interactive feature plot (1D histogram or 2D scatter plot) to
(1) Provide visual on feature value distribution
(2) Use upper/lower limit, or free-hand ROI to select objects on feature plot
(3) Highlight/copy objects on canvas based on the selection done in (2) to understand their physical distribution

## Motivation
Currently several plugins provide this function, for example

[2021-12-10 22:57] jni commented on #3783
Hi all, just another external reference, a fun blogpost from mapbox about dealing with geographic transforms:

https://www.mapbox.com/blog/adaptive-projections

I suspect some of the techniques will come in handy sooner or later. 😊

[2021-12-10 23:12] goanpeca commented on #2732
@jxchen01 what OS are you working on?

[2021-12-11 01:57] isabela-pf commented on #3236
I’ve been working on this, but I’m not certain if I’m catching everything this issue is asking for since the request sounds very close to napari’s current behavior to me. There’s only one thing that stands out: using a single filter mechanism to sort both the installed and available plugins at once. Let me know if there’s other things I’m missing!

## Option 1

This approach basically just removes

[2021-12-11 04:00] tlambert03 commented on #3236
thanks @isabela-pf!

my 2c:
I think option 1 condenses too much into that one field.  since the bottom field is essentially a full on "pip install whatever I enter into this field" and the top is "filter only what I already have installed", I fear having them in literally the same input is quite prone to accidental installations and/or errors.

if we have to lose the bottom field (which I'm not su

[2021-12-11 08:00] haesleinhuepf commented on #3796
Hi @chili-chiu ,

that sounds like a great idea to work on. Let me just get @jluethi in the loop and link his napari plugin which also works in a similar context:
https://github.com/jluethi/napari-feature-visualization

Edit: after seeing the Imaris example, I also think that the object classification capabilities of the "apoc" plugin are relevant:

https://github.com/haesleinhuepf/napari-accelera

[2021-12-11 18:12] andy-sweet opened #3800 "Define default features property as a replacement for current properties"
The existing `current_properties` in the `Points` and `Shapes` layer has two responsibilities.

1. It defines the default values for newly added points and shapes.
2. The setter sometimes mutates the property values of the selected points and shapes.

The `Vectors` layer generates default values as in (1) on the fly from the existing property values. The `Labels` layer does not have current proper

[2021-12-11 18:13] andy-sweet commented on #3800
Feedback from anyone is welcome, but maybe @jni and @kevinyamauchi would have some thoughts about this.

[2021-12-12 00:07] jni commented on #2732
@jxchen01 please note that until we fix this you can run `napari --reset` on the command line to clear the settings, including the screen position settings that are causing the problem.

[2021-12-12 00:44] jni commented on #3795
Those are some big videos @mfkeles! At 24fps, 1M frames is 11.5h, or 4.5 at 60fps, or (perhaps more reasonable) 2h15min at 120fps! :astonished:

Anyway, I agree we should just remove that limit — @tlambert03 @sofroniewn what do you think?

[2021-12-12 01:29] tlambert03 commented on #3795
conceptually, absolutely in support of that.  in practice, the challenge with an unlimited spinbox is resizing the width appropriately.  in this case, though, I think we have an auto-resize already implemented there.  If that's the case, then there's no real issue with making it unbounded (but to guard against extreme/absurd cases, we should probably use an elided label with a max width)

[2021-12-12 03:01] Czaki commented on #3795
Maybe just update bounds when updating bounds of the slider?

[2021-12-12 03:59] MosGeo commented on #3466
Thanks @sofroniewn and @kevinyamauchi. Sorry for not replying sooner. I didn't get to work on my side projects this weekend, this being one of them. I will incorporate your comments in a draft PR and get back to you. A few notes:

- Ok, I will check out dataclass, namedtuple, and pydantic models. On initial look, I am liking either dataclass (which is basically a normal class) or pydantic models.

[2021-12-12 12:28] jni opened #3803 "Adding points resets the view to data center"
## 🐛 Bug

I think this is probably caused by #3718, but I haven't done a bisect yet.

## To Reproduce

[code]

## Expected behavior

To be honest, I think setting the view to the data center should only be done for the first layer, and never after the user has already adjusted the view. For example, in my use case, I started to explore a dataset, found a bit of interest, then clicked on "add point

[2021-12-12 20:17] nclack opened #3805 "napari cli: enable --with option for npe2 widgets"
## Description

Right now trying to launch an  npe2 dock widget from the cli fails. For example:

[code]

(with napari-animation installed as an npe2 plugin)

gives

[code]

## References

I ran into this while looking into this comment from @jni.  This issue focuses on the idea of pre-loading a plugin widget using the `--with` option, but doesn't address the `napari path/to/file.npy`.  See discus

[2021-12-12 20:37] tlambert03 commented on #3805
will comment over on the PR as well, but I want to point out that there's 2 behaviors currently supported with npe1.  and I _think_ juan was referring to the second one (which is not fixed in #3807)... but I could be wrong:

1. launching napari with a widget already opened using `napari --with some-plugin`  (implemented in #3807)
2. "executing" a plugin module with `napari path/to/file.npy`, as im

[2021-12-12 22:26] nclack commented on #3805
thanks.  I'll edit the issue to clarify.  This issue covers only the `--with` behavior.

[2021-12-13 05:07] AuSpotter opened #3810 "multiple copies of the OpenMP runtime have been linked into the program"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Open napari
2. Try to open an image
3. Software crash

OMP: Error #15: Initializing libiomp5md.dll, but found libiomp5md.dll already initialized.
OMP: Hint This means that multiple copies of the OpenMP runtime have been linked into the program. That is dangerous, since it can degrade performance or cause incorrect results. The best th

[2021-12-13 07:26] jni commented on #3810
@AuSpotter napari doesn't include any compiled code, so this is unlikely to be a napari issue. I suspect it's rather scikit-image. Can you tell us more about how you installed napari, and what kind of image you're opening?

[2021-12-13 10:12] Czaki opened #3811 "Refactored properties raise key error if index is set in dataframe"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

This test passes on 0.4.1.2 but fails on the current main (this is short reproduction of code from PartSeg):

[code]

[code]

## Expected behavior
The text, may change, but the code should work, or at least not end with an error.

## Environment

last main

## Additional context

[2021-12-13 11:33] jluethi commented on #2862
@sofroniewn Hey Nick! Curious if this is still the up-to-date view in the napari community regarding multiple layers and using lazy loading (/pyramid-based) approaches. We're really interested to go further in this direction and use napari to view large (e.g. > 1000 image sites), multiplexed (> 20 channels) datasets.

Here's a movie of how this looks in an old tool from our lab, but that's 2D only

[2021-12-13 13:48] melissawm opened #3813 "Occasional segmentation fault when running `update_preference_docs.py`"
## 🐛 Bug

The `generate_images()` function on `docs/_scripts/update_preference_docs.py` occasionally results in a Segmentation Fault. This prevents the docs build.

## To Reproduce

Steps to reproduce the behavior:

1. Run `make docs` from the root napari folder.

Output (for approximately 9 out of 10 runs)

[code]

After this works once, generating all the images, if I comment the `generate_image

[2021-12-13 14:07] tlambert03 commented on #3813
I've run into this too on linux.  It almost always works for me if I run with xvfb locally though.  (Which happens on CI, and it never seems to fail there)

[2021-12-13 16:13] mfkeles commented on #3795
yep! it's a curse but I am working on the behavioral characterization of sleep stages, so usually 16-20 hour videos at 30fps!

[2021-12-13 16:38] melissawm commented on #3813
Not enough for me unfortunately :(

[code]

[2021-12-13 17:07] andy-sweet commented on #3811
Previously `dataframe_to_properties` would ignore the index of the passed `DataFrame` when generating the `dict[str, np.ndarray]`.

In all layer types except `Labels`, [we explicitly reset the index to be the default range-index](https://github.com/napari/napari/blob/12b8656d5f387ba6d7d5e5c44156171231dfa4fd/napari/layers/utils/layer_utils.py#L718) based on the number of elements in the layer (e.g.

[2021-12-13 18:39] tlambert03 commented on #3813
well shoot :/

On Mon, Dec 13, 2021 at 11:38 AM Melissa Weber Mendonça <
***@***.***> wrote:

[2021-12-13 20:38] Czaki commented on #3811
If the reset index will not affect the source data frame then I'm ok with this solution.

[2021-12-13 20:49] andy-sweet commented on #3811
Yep, the way I'm thinking about resetting the index is *not* using `inplace=True`, so it does not affect the source data frame. For example:

[code]

That means there are some potentially non-performant copies occurring on validation/coercion, but I think that's OK for now.

[2021-12-13 20:58] Czaki commented on #3811
And what do you think about using dataframe index if the index column is missed?

[2021-12-13 21:07] andy-sweet commented on #3811
Initially, I'd prefer not to rely on `DataFrame.index` publicly at all, mostly because the proposed dataframe protocol does not support row names/labels.

That being said, for `Labels`, it would be pretty nice to have `features.index` store the label values and also act as indices, thereby removing the need for `Labels._label_index`. So I'm happy to think a bit more about this, and expand what we

[2021-12-14 00:45] #3767 closed, assigned to nobody

[2021-12-14 02:08] sofroniewn commented on #2862
Maybe @perlman can weigh in. I'm afraid the above represents my latest knowledge

[2021-12-14 15:10] bheit opened #3816 "Cannot get napari to run in ubuntu 20.04"
## 🐛 Bug

I am unable to get napari to run in ubuntu 20-04, using either the appimage or the conda install option.

conda fails as the QT version that has been installed (5.9.7) doesn't work with napari. I have tried installing the 5.12.3 version that napari is tested on, but even so, conda ignores the 5.12.3 version and refuses to launch. From the command line I get:

[code]
When I try to update

[2021-12-14 16:02] tlambert03 commented on #3816
this suggests that you might have installed without using the conda-forge channel, or that you installed into an existing environment that already had qt.  Can you try, in a clean environment, as described in the readme, and paste the full output of what you get?

[code]

you more or less never want to update qt like that (it will very often lead to a binary incompatibility like you observed).  In

[2021-12-14 17:15] bheit commented on #3816
Removing and reinstalling conda appears to have fixed the issue, although I can only launch it from terminal. If I "pin" it to favourites, it won't launch from the icon.

[2021-12-14 22:16] pmcesky opened #3819 "Vispy error and warning in visulizing 4D time-lapse image and tracks"
## 🐛 Bug

I was visualizing my 4D time-lapse image data along with the tracks layer in jupyter-lab. The following error and warning occurred:

![image](https://user-images.githubusercontent.com/18007222/146087074-656764ac-e096-4284-a2dd-525259fef422.png)
![image](https://user-images.githubusercontent.com/18007222/146087097-a6356d9c-c0d9-4ba0-9a23-1058603a39e3.png)

Seems every time when I drag the

[2021-12-14 22:22] tlambert03 commented on #3816
that suggests you may have messed up the base environment somehow along the way (very possible to do with Qt if you install a few different qt-dependent things into your base environment).  I don't think pinning the icon like that from a python app from a conda environment will ever work.  For that, you'd need to use the bundled application.

thanks for letting us know about the fix!

[2021-12-14 22:22] #3816 closed, assigned to nobody

[2021-12-15 06:17] #2468 closed, assigned to nobody

[2021-12-15 06:25] #3811 closed, assigned to andy-sweet

[2021-12-15 06:27] sofroniewn commented on #3819
Hmm, I'm not sure about this @JoOkuma has been using the tracks more - maybe he knows? Is there a minimal example - maybe with random data that you can share the reproduces this?

[2021-12-15 09:23] jni commented on #3811
For the record, I really like the idea of using the dataframe.index, though I understand your concern about the protocol @andy-sweet. But agreed, we can revisit in the future.

[2021-12-15 09:24] jni commented on #3819
I haven't seen this using tracks. @pmcesky could you provide some sample data + code that reproduces this?

[2021-12-15 11:07] borchardt commented on #3336
Hey all!

Just bumping this issue; still present for me in napari 0.4.12.

All the best!

[2021-12-15 15:36] JoOkuma commented on #3819
I think there is a mismatch between the tracks data buffer and the [vertex_time buffer](https://github.com/napari/napari/blob/3069f2dcc94a00c9ae4643fd171325ac2afb05dd/napari/_vispy/filters/tracks.py#L152-L155) length.
This is either a bug or it could happen if you're setting the data without using the default API and not updating the `vertex_time` buffer.

[2021-12-15 16:04] brisvag commented on #3819
This looks very similar to the issue we had in #3623 due to some changes I introduced in #3333. If that's the issue, then I woudl expect it to be broken in 0.4.12 and fixed on `main` by #3729.

[2021-12-15 16:28] nclack opened #3820 "update npe2 migration guide for new npe2 convert capability"
## 🧰 Task

`npe2 convert` now does a more comprehensive job of converting a plugin thanks to napari/npe2#60.

The migration docs need to be updated accordingly.

[2021-12-15 17:10] pmcesky commented on #3819
Hi all,

Thanks very much for the replies!
I found it is probably an issue wrt the graph of the tracking layer. I found it fine without setting the 'graph'. But when 'graph' is added, then this issue occurs. This is mentioned by @quantumjot in https://github.com/napari/napari/issues/3623#issuecomment-983801408.

Some sample data and graph to reproduce this are here:
[code]
The error and warning wo

[2021-12-15 17:18] brisvag commented on #3819
Yup, that *definitely* looks like the same issue, so it should already be solved in `main`! :)

[2021-12-15 17:19] quantumjot commented on #3819
My guess is that this should be fixed by #3729

[2021-12-15 21:53] dpshelio opened #3822 "Zulip link not obvious in the documentation page"
## 📚 Documentation

The Zulip link is shown at the bar in the bottom of the page, but not in any of the community pages (or at least that I could find quickly).

There's a link when creating an issue on github, but that's a bit far reached for someone want/need to open an issue.
Adding a small "chat with us" link on the main community page or in the readme will make it easier to find.

[2021-12-15 21:57] jni commented on #3822
There *is* a link in the "about the project and team" page, but it's certainly buried in the text. I agree that we should make it more visible on the home page. Thanks @dpshelio!

[2021-12-15 22:07] dpshelio commented on #3822
Wow! I completely missed that link. It's even mentioned twice! (again at the bottom of the history section). My suggestion would be to have it in the top of [Community resources](https://napari.org/community/index.html), a link to Zulip, the forum and probably to the issues on GH.

[2021-12-16 01:49] GenevieveBuckley commented on #3531
I started to make a PR for this today, but I don't think it's actually an issue anymore? Given that, I'm going to close the issue.

I can't find any references to "gallery" in either the napari/napari or napari/napari.github.io repositories (besides [this one I have made a comment about](https://github.com/napari/docs/issues/39) and we will follow up on that other issue)

Searches for "gallery" in

[2021-12-16 01:49] #3531 closed, assigned to nobody

[2021-12-16 04:01] GenevieveBuckley commented on #2698
Should this issue have been closed by https://github.com/napari/napari/pull/2750?

We should either close the issue, or describe what is left remaining to do here.

[2021-12-16 04:02] #3423 closed, assigned to nobody

[2021-12-16 04:04] GenevieveBuckley commented on #3049
This issue looks like it's been addressed by https://github.com/napari/napari/pull/3208

If there's anything left remaining, please feel free to reopen the issue.

[2021-12-16 04:04] #3049 closed, assigned to nobody

[2021-12-16 04:38] sofroniewn commented on #3049
I'll just add that we still hope to eventually address this - cc @perlman

[2021-12-16 08:33] GenevieveBuckley opened #3826 "Move napari calendar to it's own page in the docs"
## 📚 Documentation
As discussed elsewhere, we want to move the napari calendar to it's own separate page in the docs.

It currently lives on the community page called "About the Project and Team" https://napari.org/community/team.html

We want to move it to it's own separate page called "calendar" still under the community section.

What problem is this solving?
- People have reported it takes the

[2021-12-16 10:10] kolibril13 opened #3827 "New `canvas_axis=True` parameter, when making a screenshot."
## 🚀 Feature

`screenshot` should have a parameter `canvas_axis=True`
Right now, when making a screenshot with `canvas_only=True`, it automatically adds an axis to the plot.
Sometimes, that could not be wanted, therefore this new parameter.

## Motivation

Right now, the screenshot function has the following signature:
`def screenshot(self, path=None, *, canvas_only=True, flash: bool = True):`
it

[2021-12-16 13:52] tlambert03 commented on #2698
Thanks @GenevieveBuckley
Yes #2750 was addressing this.  I'd say close this and open a new, more focused issue with any additional proposals for improving our event docs

[2021-12-16 13:53] #2698 closed, assigned to nobody

[2021-12-16 15:57] tlambert03 commented on #3827
Hi @kolibril13, that axis is getting added by matplotlib (not napari) when you use `plt.imshow()`.  (this is why when you provide path to screenshot, you don't see it, because it's saving the (axis-free) screenshot to disk without going through matplotlib.

If you'd like to use `plt.imshow()` to show an image without axes, see this tip: https://stackoverflow.com/questions/9295026/matplotlib-plots-

[2021-12-16 15:57] #3827 closed, assigned to nobody

[2021-12-16 18:29] kolibril13 commented on #3827
Thanks a lot, that was an error in thinking from my side.
Really appreciate that you took the time to link me to this side :)

[2021-12-16 20:07] igordot opened #3828 "Opening QPTIFF"
I am new to napari. I was reading the "Getting started" page. It states:

I tried to import a QPTIFF image (which can be read with `skimage.io.imread`) in the GUI. I got an error "No plugin found capable of reading ...". It turns out changing the extension `.qptiff` to `.tif` solved the problem. There may be other formats where this is the case.

[2021-12-16 20:56] neuromusic commented on #3529
given that napari/napari#3815 was reverted, reopening this issue

[2021-12-16 21:03] neuromusic commented on #3529
Also, given that the post-merge comments in napari/napari#3815 highlighted that merging tutorials into this repo is not desired since it bloats the repo with screenshots, we need to reconsider...

1. how do we prevent bloating the repo with screenshots? where should screenshots be stored?
1. do we want to move the tutorials into this repo at all?

[2021-12-16 21:08] tlambert03 commented on #3529
what did folks think about the docs-repo that I mentioned over there?  This would mean:

- napari/napari - no documentation, just source code for running napari
- napari/napari.github.io) - just website build/theme/architecture stuff... no content
- napari/napari-docs - all the documentation, including tutorials.  this is where all contributions to documentation content would be made

thoughts?

_

[2021-12-16 21:21] sofroniewn commented on #3529
I do like that idea - we used to have `napari-tutorials` - and I think that was part of the vision then for 3 repos. I think we just got a bit lost and confused and started adding more and more to the main repo.

A couple questions
- Would [examples](https://github.com/napari/napari/tree/main/examples) live in `napari-docs` or `napari`
- Would [all docs](https://github.com/napari/napari/tree/main/

[2021-12-16 22:06] neuromusic commented on #3529
I like the separation of concerns, especially keeping documentation & website stuff out of napari/napari... this is actually closer to the docs working group's original proposal to move everything into napari.github.io

I wasn't in the community meeting where this proposal was discussed and the proposal at the top of the thread (moving all content into napari/napari) was developed as the favored a

[2021-12-16 22:10] neuromusic commented on #3529
one more thought...

separating content out to `napari-docs` would also let that repo use whatever approach makes the most sense for preventing bloat, whether git-lfs or github-issues-hotlinking-lfs, without imposing that onto the napari/napari development process

[2021-12-16 23:01] jni commented on #3529
@tlambert03 I really dislike the multiple repo approach. I already hate that we have *two*, as makes it hard to track down the "source of truth", as we found recently. Three makes it even worse. I also think that e.g. for developers contributing new features, it's good to contribute both the feature and documentation of the feature, and now that becomes a multi-PR, multi-repo juggle.

Well, that f

[2021-12-16 23:15] tlambert03 commented on #3529
that's fine, it was just a thought.  I don't see it as having three though.

- the website is _already_ something that no one contributing to napari really thinks about or should have to think about.  Pulling tutorials out of there is the last step to formalize that.
- if you consider API docs and everything in `docs/` folder to be one in the same, then yes, it's two things to think about.  but mo

[2021-12-16 23:35] jni commented on #3529
This should still work: the files would be hyperlinked, meaning the docs will "just" get built, and if you don't have an internet connection, they'll just be dead links.

Autogeneration solves the problem "once and for all", and is where I would focus my efforts if I had unlimited time. :stuck_out_tongue_winking_eye:

[2021-12-17 01:21] neuromusic commented on #3529
some notes from the discussion on this topic at today's community meeting:

- basically two routes now: continue with the current reorg, but find a place to put the images (@sofroniewn proposed a separate repo `napari-docs-images` *just* for images) OR split out into 3 repos as @tlambert03 mentioned above. overall the first option is preferred
- @andy-sweet proposed (and will explore) a git pre-co

[2021-12-17 02:08] nclack opened #3830 "npe2 doc feedback"
## 📚 Documentation

This is a collation of issues reported in this [zulip thread](https://napari.zulipchat.com/#narrow/stream/212875-general/topic/npe2.20migration.20questions)

npe2 getting started guide
- [x] cookiecutter should generate reader for *.npy files but doesn't

npe2 migration guide
- [x] migration guide refers to `_hookimpls:AnimationWidget` in one place and `_qt.AnimationWidget` in

[2021-12-17 02:57] GenevieveBuckley opened #3831 "Docs - remove unnecessary installation details from the README"
## 📚 Documentation
The napari [README](https://github.com/napari/napari/blob/main/README.md) page (which is also the homepage at [napari.org](https://napari.org/) has a lot of screen space devoted to installation.

Problems with this:
- You have to scroll a really long way down before you ever see the first screenshot of napari. That's pretty important, I think it should be much closer to the top

[2021-12-17 10:50] tlambert03 opened #3834 "napari now appears in installed plugins"
## 🐛 Bug
with #3694, napari now appears in the plugins:

<img width="685" alt="Untitled" src="https://user-images.githubusercontent.com/1609449/146533435-d8dec63b-eb86-4929-bc78-f1a78bb55d15.png">

cc @ppwadhwa

[2021-12-17 13:56] #3820 closed, assigned to nclack

[2021-12-17 16:09] #3813 closed, assigned to nobody

[2021-12-17 19:57] guiwitz commented on #3830
Thanks for opening this issue regarding my comments. I just wanted to mention that I opened an issue regarding the very first point directly on the cookiecutter-napari-plugin repo (https://github.com/napari/cookiecutter-napari-plugin/issues/73).

[2021-12-17 19:59] nclack commented on #3830
thanks!

[2021-12-18 10:34] alisterburt opened #3848 "Proposal: explicit definition of a scene/depicted_world coordinate system"
## 🚀 Feature
@kevinyamauchi and I have been discussing a potential move away from the specific 0,1,2 nomenclature for the 'displayed/depicted world' towards an explicit definition a scene coordinate system. Layer dims would then be mapped into this coordinate system in the same way as they are now.

This is helpful because certain non-data objects don't really exist in the nD world, only in the de

[2021-12-18 20:00] keredson commented on #3792
it wasn't a path issue - confirmed the deb didn't contain the file at all.  (it's definitely a weird split the pkg maintainers did.)

reproducing is a bit tricky since `_register_napari_resources` caches `/home/derek/.local/lib/python3.9/site-packages/napari/_qt/qt_resources/_qt_resources_PyQt5_5_15_2_5bab406e8e80e6013f59ab193ce5fd9a.py` if it succeeds.  (at which point `PyQt5.pyrcc_main` becomes

[2021-12-18 20:13] keredson commented on #3792
probably not.  looks like [pyqt5-dev-tools](https://packages.ubuntu.com/bionic/pyqt5-dev-tools) has been around since 18.04, and if you download the bionic version of the deb it references `pyrcc_main.py`:

[code]

[2021-12-18 20:22] keredson commented on #3792
did a code comment PR for you all as well if you prefer that instead, or can take both, dealer's choice.  :)

[2021-12-19 00:20] jni opened #3851 "Repo size needs investigation"
## 🧰 Task

In https://github.com/napari/napari/pull/3815#issuecomment-994581764, we identified the need for a history rewrite to remove a large (~160MB) commit from the history. I removed the commit, but unfortunately it seems some references remain in the git blobs: the download size is still ~184MB, but the checked-out size is 207MB. This is consistent with the files being in the history but no

[2021-12-19 00:20] tlambert03 commented on #3792
to be honest, I'm a bit hesitant to merge that PR, since we really prefer advising people to use virtual environments, and by using `sudo apt install pyqt5-dev-tools`, you're mixing global libraries with conda.  It's still unclear to me.... _are_ you using conda or some virtual environment?  Or are you trying to install napari as a global python library?  (It sort of looks like the latter, based o

[2021-12-19 01:01] #3834 closed, assigned to ppwadhwa

[2021-12-19 01:08] keredson commented on #3792
ah, no, i'm not using conda (or any other venv) ATM.  (nor looking to install just for this lib, esp. since they install via the "download and run this untrusted 50mb shell script" technique.)

no, not as global.  installed as user-local.

[2021-12-19 01:58] tlambert03 commented on #3792
fair enough!  i do think that virtual environments are advisable though, and I know from fielding many of the questions that we get here that a non-negligible portion of our users might get themselves into trouble if they start installing things like this (even the pip "user-local" install is difficult to isolate from other dependencies... it may not literally go into `/usr/lib`, but it's still qu

[2021-12-19 03:05] keredson commented on #3792
FWIW, totally fine closing this if i'm using it outside a recommended or supported manner. =D

[2021-12-19 03:15] keredson commented on #3792
found the [article](https://towardsdatascience.com/creating-and-training-a-u-net-model-with-pytorch-for-2d-3d-semantic-segmentation-dataset-fb1f7f80fe55) that orignially lead me to you all, which does recommend conda in the [linked repo's readme](https://github.com/johschmidt42/PyTorch-2D-3D-UNet-Tutorial/blob/master/README.md).

[2021-12-19 14:40] kolibril13 opened #3852 "Setting color parameter in `add_labels` causes long execution time"
## 🐛 Bug
Changing the color of a 3D mask with `viewer.add_labels(x, color= {1: "blue"})` results in a 3x longer execution time, then setting the color by a random seed e.g. `viewer.add_labels(x, seed=0.4)`. Here is a screenshot:

![image](https://user-images.githubusercontent.com/44469195/146678361-f9089bad-fe75-47c6-a26d-309ab4b28da8.png)

Currently, it is more performant to guess a random seed t

[2021-12-20 00:38] jaimergp commented on #2389
This happens with new bundles and also when somebody runs `napari` using `python -m napari` instead of the entry point command.

[2021-12-20 05:31] jni commented on #3852
Thanks @kolibril13 for the report. This is due to the way labels colors are calculated. It should be fixed once we map labels to colors in the shader as proposed in #3308. Unfortunately it's not a trivial fix, but I think we are close to getting it working. :crossed_fingers:

[2021-12-20 06:16] jni commented on #3792
I agree generally with @tlambert03's comments. I don't think we want to encourage this installation path as supported, as it's very uncommon in Python circles. In short, *one day*, I hope you can do `sudo apt install python-napari` and stuff will Just Work, but until then, I think mixing pip and apt is a recipe for broken Python installs.

tbh I find this to be a red herring argument. At the very

[2021-12-20 06:16] #3792 closed, assigned to nobody

[2021-12-20 07:17] jni commented on #3848
Thanks @alisterburt!

I've thought about this a lot (indeed this inconsistency has haunted my dreams since the very early days of napari!) and have come to think that napari (and NumPy) in fact align the dimensions of the *broadcasted* arrays, ie the result of `np.broadcast_to`. In other words, by the time napari is displaying things, there is *no* mixed dimensionality: all arrays have been broadc

[2021-12-20 08:05] Karol-G opened #3854 ""layer.data = layer.data" resets view in callbacks for 3D data"
## 🐛 Bug

Any callback will reset the view back to center if `layer.data = layer.data` is called within the callback for 3D data.

I had trouble of getting my labels updated in the view with the `@my_layer.mouse_move_callbacks.append` callback (for which I will open another issue) and found out that `layer.data = layer.data` updates the view, but also resets it to center.

## To Reproduce

Steps t

[2021-12-20 08:14] Karol-G opened #3855 "Modifing layer data in a callback is not updated in viewer"
## 🐛 Bug

If I modify the layer data in a callback than it is not updated in the viewer. I am not sure if this is a bug or if I am missing something.

## To Reproduce

Steps to reproduce the behavior:

1. Execute code
2. Click on "Activate bug" on right side
3. Move the mouse on the image or perform a click
4. See that the image is not changed
5. Make the image invisible and visible again
6. See t

[2021-12-20 08:19] jni commented on #3854
This is probably the same bug as #3803. It's indeed a bad regression that we'll definitely fix before the next release. Thanks for the report @Karol-G!

[2021-12-20 08:33] jni commented on #3855
@Karol-G unfortunately we don't have any way of knowing whether the data has been updated in-place. We've had various [discussions](https://github.com/napari/napari/pull/3155) about wrapping arrays so that `__setitem__` is overridden and we can keep track of things, but unfortunately this doesn't work in various scenarios. For example:

[code]

You could say, ok, but what if you override `__getite

[2021-12-20 08:33] #3855 closed, assigned to nobody

[2021-12-20 09:43] Karol-G commented on #3855
Hmmm, it seems `layer.events.data()` does not really update the viewer either after mouve move or mouse click is called. Only if I zoom in afterwards the image is updated.

[2021-12-20 09:44] Karol-G commented on #3854
Thanks, good too know.
And also just FYI: `layer.events.data()` also resets the view in 3D to center.
But that has probably the same cause as origin as the other ones.

[2021-12-20 10:09] guiwitz opened #3856 "Shape edge width factor of 2"
## 🐛 Bug

When programmatically adding a shape with a given edge width (e.g. 3) the added shape has the correct edge width (3 pixels). However upon selecting that shape, the edge slider in the controls takes the double of that value (6). Similarly if one manually adds a shape, the actual edge width is only half of the value indicated by the edge slider.
![edge_width2](https://user-images.githubuse

[2021-12-20 19:15] #3780 closed, assigned to ppwadhwa

[2021-12-20 21:47] andy-sweet commented on #3851
My git-fu is pretty limited, but if the commit is still present on non-main branches in napari/napari, would that explain the discrepancies? If so would it be as simple as removing that remote branch?

It looks like it is still on napari/conda-bundle-poc: https://github.com/napari/napari/commits/conda-bundle-poc

[2021-12-20 22:24] jni commented on #3851
whooooaa didn't expect it to be on other branches! (I didn't expect other branches in fact :joy:) Yes that indeed explains it. @jaimergp would you mind *rebasing* your branch on current main and removing merge commits from that branch?

[2021-12-20 22:25] jni commented on #3851
(Or I am happy to do this for you if you are not comfortable with it!)

[2021-12-20 23:02] JoOkuma opened #3861 "Interactive Tracks Layer"
## 🚀 Feature

I’m opening this issue to discuss possible changes to the `Tracks` layer to ease the implementation/performance of an interactive mode.

This is complementary to #3779 that discusses a standardized API to update the layer’s properties and data. And beyond that, it would add some `Tracks`’s specific methods (e.g., (un) link nodes).

The changes can be divided into two parts that have

[2021-12-20 23:02] JoOkuma commented on #3268
Closing in favor of #3861

[2021-12-20 23:02] #3268 closed, assigned to nobody

[2021-12-21 04:07] #3831 closed, assigned to nobody

[2021-12-21 15:35] VolkerH opened #3863 "OpenGL errors when using multiscale image layers and shape layers together"
## 🐛 Bug

When adding a shape layer and subsequently a multi-scale image, I encounter vispy errors.

This happens to me with napari 0.4.12 and the current master. It does not happen with 0.4.11 when using the same vispy version (0.9.4) as in the napari versions where I observe the error.

## To Reproduce

Steps to reproduce the behavior:

1. Open an napari ipython terminal in 0.4.12 or newer
2. Pa

[2021-12-21 22:29] #3856 closed, assigned to nobody

[2021-12-22 05:14] #3803 closed, assigned to nobody

[2021-12-22 05:18] jni commented on #3854
@Karol-G On my machine this is fixed in latest main by #3859! Please reopen if not fixed for you. Thanks for reporting!

[2021-12-22 05:18] #3854 closed, assigned to nobody

[2021-12-22 07:27] jni commented on #3851
@andy-sweet BINGO! I pushed only main to a [new repo](https://github.com/jni/napari-repo-test), and the cloning transfer size is 24MB and directory size is 94MB, just like before! 🎉 So as soon as we get clean up that branch we should be able to close this issue.

[2021-12-22 10:19] jaimergp commented on #3851
Hi @jni! I fetched upstream and rebased against my branch but the upload is still huge. Feel free to clean up `conda-bundle-poc` as you see fit because I am obviously missing something 😬 Sorry!

[2021-12-22 12:17] kolibril13 opened #3864 "Napari cheat sheet example galleries"
I recently had the idea to create example galleries by jupyter cell magic, see here: https://github.com/pydata/pydata-sphinx-theme/issues/528
Basically, jupyter cell outputs are stored together with the cell code and put on an HTML document.
This might be also interesting for napari.
I just wrote 12 very small napari examples and added them here: https://kolibril13.github.io/okapi/
![image](https:

[2021-12-22 12:27] jni commented on #3851
@jaimergp Thanks for checking! Indeed the big commit was still in there, but it's now gone! 🎉 Cloning napari feels nice and snappy again! 😊 I'm going to close this now! 😅 Thanks @andy-sweet for spotting this!

[2021-12-22 12:27] #3851 closed, assigned to nobody

[2021-12-22 12:31] tlambert03 commented on #3851
This is great, thanks everyone!

[2021-12-22 12:39] VolkerH commented on #3863
So I have narrowed this down. This bug  was introduced with commit https://github.com/napari/napari/commit/04d48985147f4dd3760410076defb5841615b7b8 , PR #3381 by @grlee77

[2021-12-22 12:40] jni commented on #3863
A pure Python version of the reproducer:

[code]

~~**Deleted**~~

Edit, LOL, @VolkerH thanks for making my comment obsolete, that's very useful. 😂

[2021-12-22 12:49] VolkerH commented on #3863
I didn't see the obsolete comment. Now I am curious.

A few additional observations.  After running the above snippet, one can delete the Shapes layer and the OpenGL errors will keep coming when zooming in the multi-scale image layer. I didn't manage to reproduce the error without having the Shapes layer present in the first place though.
So the Shape layer must be affecting some aspect of global

[2021-12-22 13:09] VolkerH commented on #3863
Another observation: the error seems to occur when I pan or zoom in a way that the Image layer is no longer on the canvas but has a position left of or above the canvas.

[2021-12-22 13:50] VolkerH commented on #3863
Ok, so after adding the layers as in the code snippet above, I observe

[code]

Changing this line https://github.com/napari/napari/blob/09930fe649201d00a0702531d3420e4873831152/napari/layers/image/image.py#L437 back to what it was before #3381, i.e. defining `_extent_data` as follows

[code]

restores expected behaviour, i.e. no OpenGL errors. I am not sure what else breaks now.

[2021-12-22 13:54] VolkerH commented on #3863
[code]
Given that the shape is 1024, I think the `_extent_data` calculation before the PR was entirely correct, as the data extent of an array with  `n` elements should be `[0, n-1]` not `[0, n]` .
~~I will create a new PR to reinstate that line.~~

[2021-12-22 14:01] jo-mueller opened #3865 "Unhandled exception in `napari_experimental_provide_function` depending on docstrings?"
## 🐛 Bug

Helllo napari community, I stumbled over an unhandled exception when using `napari_experimental_provide_function` to create a magicgui plugin. Calling the plugin from the menu (not even executing it)  kills napari when one variable in the docstring is not named exactly like in the function definition. The console does not show any error tracebook so it is difficult to say what exactly tr

[2021-12-22 14:28] tlambert03 commented on #3865
Thanks @jo-mueller, this is a magicgui bug (it uses docstrings to provide tooltips).    General tip when troubleshooting plugins: try to "remove" napari from it when possible.  In this case, all napari does with your function is call `magicgui.magicgui()` on it, so we can see the exact error here with:

[code]

[code]

100% agree this should fail gracefully.  I've opened https://github.com/napari/

[2021-12-22 14:28] #3865 closed, assigned to nobody

[2021-12-22 14:34] tlambert03 commented on #3865
fixed in https://github.com/napari/magicgui/pull/336

[2021-12-22 14:35] VolkerH commented on #3863
It is more complicated than I thought. Modifying `_extent_data` restores function in https://github.com/napari/napari/commit/04d48985147f4dd3760410076defb5841615b7b8 , which is the first commit in which I observe this error.
However, when I apply the same change to the current `main` branch, I still get OpenGL errors, despite `extent_data` returning `[0,1023]`.
I am also not sure what the expected

[2021-12-22 15:09] grlee77 commented on #3863
Thanks for reporting this @VolkerH, I can take a look. We definitely changed `extent.world` (to include the pixel element width) and also made it so that the `Dims.range` are now half-open. I don't recall if we intentionally changed `_extent_data`, but can check. It sounds like there is something else going on, though.

[2021-12-22 15:14] grlee77 commented on #3863
I had come across this separate issue with OpenGL + multiscale previously: #3567

[2021-12-22 15:24] VolkerH commented on #3863
#3567 looks indeed very similar. As mentioned, I couldn't reproduce it without the shape layer, but maybe setting the shape layer in my case coincidentially just happens to create  a suitable viewer/camera setting that provokes the error.

[2021-12-22 16:26] grlee77 commented on #3863
The issue appears to be a bad setting for the `self.corner_pixels` variable in the multiscale case for `Layers._update_draw`. If I comment out the single line here:
https://github.com/napari/napari/blob/09930fe649201d00a0702531d3420e4873831152/napari/layers/base/base.py#L1544
then the issue does not occur.

I will look into why the corner pixels are getting set to an invalid value here:
On `main`,

[2021-12-22 17:10] kevinyamauchi commented on #3848
I agree the current behavior is not intuitive and probably incorrect. @alisterburt and I have been fighting this a lot in our 3D interactivity work. In case anybody passing by is wondering how the the aligning dimensions of data with mixed dimensionality currently works, see [here](https://github.com/napari/napari/blob/942b68809250973fcc1fd7a6dfbc38914f29b0ef/napari/layers/utils/layer_utils.py#L59

[2021-12-22 17:50] JoOkuma commented on #3848
I really like the idea.
I think it would also be beneficial to store and indicate the 3 spatial (scene) dimensions even when only a 2D slice is being shown and not only the displayed dimensions. Because a plugin or a layer might want to have a different interaction when scrolling through a spatial axis or a temporal (or whatever it would be called) axes.

[2021-12-22 18:34] grlee77 commented on #3863
Please try out the proposed fix in #3866

[2021-12-22 20:17] VolkerH commented on #3863
Hi @grlee77,

thanks for fixing this so quickly. I pulled the branch and  with your changes I cannot reproduce the mentioned error.
So far, I didn't observe any other side-effects.

Trying to understand the bits of code that play a role here and am  wondering  about the corner pixel calculation (similar as with the extent):
To me, a 1024x1024 array should have corners`[[0,0],[1023,1023]]` if this

[2021-12-22 20:41] grlee77 commented on #3863
Yeah, prior to 04d4898, I see `corners=[[1023  805], [1023 1023]]` which is also extent 0 on the first axis. This does not result in the OpenGL error being raised though. So maybe that error is not really due to the 0 extent itself, but is just related to the corner point getting set to something out of bounds.

[2021-12-22 20:48] grlee77 commented on #3863
`extent.world` was definitely changed to incorporate the full height, width. I need to check how `extent.data` is being used various places to see if changing that one was a mistake or if we just need to keep it as is, but update some other places like the corner calculation that assume the [0, 1023] convention.

[2021-12-23 01:06] DragaDoncila opened #3868 "Add sensible `builtin` defaults as reader preferences"
## 🧰 Task
Add sensible default settings for common filetypes so that the file open dialog doesn't pop up on initial opening of common filetypes.

My plan is to add defaults for anything that builtin plugins *can* read. These preferences could then of course be removed/changed via the preferences dialog.

[2021-12-23 01:12] sofroniewn opened #3869 "Remove slow decorator cont."
## 🧰 Task
Following on from #3705 it would be nice to remove our remaining uses of `@pytest.mark.timeout` as it continues to cause spurious test fails - see discussion in https://github.com/napari/napari/pull/3734#issuecomment-999786044.

The remaining uses of `@pytest.mark.timeout` cover cases where we want to make sure that computation is not triggered on a full dask array for things like calcul

[2021-12-23 01:14] #3567 closed, assigned to nobody

[2021-12-23 01:58] jni commented on #3869
Yeah, I like option 3 best. @tlambert03 had a pattern somewhere that counted the number of actual chunk computations in a dask array, which can probably be reused here? I think I wrote this test (?) a while back before I'd seen that pattern.

[2021-12-23 12:55] Carreau opened #3872 "Test failures with IPython 8"
## 🐛 Bug

`pytest napari/plugins/_tests/test_exceptions.py` fails with IPython 8 (currently in alpha),
it seem like in exception.py:

[code]

the `err.info()` third item is None, instead of having a traceback/frame, and IPython does really not like not having tracebacks/frames as we now forward the traceback formatting to stack_data which itself does not like that.

I'm not sure if it's specific t

[2021-12-23 13:21] brisvag commented on #3869
Dumb dask newbie idea: could we use `delayed` to wrap a function that bumps a `counter` of some sort, then make a dask array out of that? This way we can just look at the counter to see how many times it was called.

[2021-12-23 13:26] tlambert03 commented on #3869
not dumb!  that's pretty much exactly the pattern that @jni is referring to.  we use it here:

https://github.com/napari/napari/blob/b88926c1fe14d2a938d059d8cf8d4da6043a324f/napari/layers/_tests/test_dask_layers.py#L18-L30

(we can't just use `@delayed` because we want it to look like an array, so we use `map_blocks`)

[2021-12-23 13:31] tlambert03 commented on #3869
actually, just realized there's a fixture below that you can probably reuse:

https://github.com/napari/napari/blob/b88926c1fe14d2a938d059d8cf8d4da6043a324f/napari/layers/_tests/test_dask_layers.py#L88

(that one does use delayed along with `da.stack` to make it like an array)

[2021-12-23 15:16] #3872 closed, assigned to Carreau

[2021-12-23 16:59] #2389 closed, assigned to liu-ziyang

[2021-12-23 18:08] alisterburt commented on #3848
Ooph - thanks for the example @jni, I hadn't realised the mapping changed depending on the specific dims and their order, unfortunate is the right word!

totally agree - my gut feeling (and I think what I would expect as a user) would be to go with showing how the original axes are mapped, happy to be overruled here though

With what @kevinyamauchi has done here it seems like we can tackle this wo

[2021-12-23 18:32] alisterburt opened #3874 "Slicing plane and clipping frames are in different coordinate systems"
## 🐛 Issue
The layer attributes `Layer.experimental_slicing_plane` and `Layer.experimental_clipping_planes` currently take values for the position (and possibly orientation?) in different coordinate systems. The slicing plane/rendering plane is defined in data coordinates whilst the clipping planes are defined in displayed world coordinates

## Expected behavior
Consistency across the two plane ty

[2021-12-23 18:40] sofroniewn commented on #3848
Seems like everyone here is in-agreement that things should change!

In the example above - should we just treat every 2D array as actually being 3D with a dimension of length 1 at the beginning? During 3D slicing?

[code]

Would that fix everything?

2D slicing should always work fine, and 3D slicing with arrays >= 3D should work fine. The only issue is when we have 3D slicing with an array of di

[2021-12-23 18:45] sofroniewn commented on #3848
Or do we also get problems when say mixing a 4D array and a 5D array?

Either way, I believe the lines of code that will need to be changed are here https://github.com/napari/napari/blob/9849b5c77d9dfc0e46c5c24012b865fee51109d1/napari/layers/base/base.py#L951-L962

where we go from a global dims model to the "layer" dims model (which can have lower dimensionality)

[2021-12-23 19:06] sofroniewn opened #3875 "Add bundle license file"
## 🧰 Task
@jaimergp @goanpeca @jni

I believe we should add a specific "bundle" license file to the repo that is LGPL if we ship pyside2 or GPL if we ship pyqt5 in the bundle. This will then appear in the installer that @jaimergp is working on. Right now it looks like

![image](https://user-images.githubusercontent.com/6531703/147282563-32cdd065-c89e-4711-bac8-21d83f9d88d6.png)

which I believe we

[2021-12-23 19:28] jaimergp commented on #3875
Do we want to automatically generate this on each bundle creation? Dependencies are different across platforms, and their dependencies might change over time, so we cannot just compile all licenses now and call it a day.

The good news is that during the bundle creation time all the licenses are there already, so it's "just" a matter of concatenating them somehow. It will result in a loooong text,

[2021-12-23 19:35] brisvag commented on #3874
Yes, though it was definitely intended; I just didn't consider it blocking to unify the two (since we clearly don't have exact plans on how to handle this).

I think ultimately they have to be "objects" in the scene and layers should subscribe to them, so they should use world coordinates.

This is the one thing that keeps me from saying "they should all only be in world space". Ideally one should

[2021-12-23 19:53] brisvag commented on #3848
Love this conversation, and agree with most things said above!

If we extend the coordinate space nomenclature, I would steer away from `scene`, since that is basically the equivalent of `world` in vispy terms, and it would be confusing. I would lean towards `depicted`, `displayed`, or something along those lines.

I'm also gonna be *that guy* and bring up `xarray` again, just to remind everyone a

[2021-12-23 19:53] sofroniewn commented on #3875
I like the autogeneration idea!

[2021-12-23 19:53] alisterburt commented on #3874
when you say world, are you talking about the nD napari world or the 3D world that the depiction happens in? If depicted world, I agree

Yep! Maybe the best solution here is a simple function/method which takes a plane (defined in the 3D scene coordinates) and a layer, returning a plane object which is in the nD data coordinate system of that layer, good documentation will be needed

noice!

Yep!

[2021-12-23 20:30] alisterburt commented on #3848
I did some experiments with the code you linked @sofroniewn to understand in which situations we have a problem
<details>
<summary>example code</summary>

[code]

</details>

<details>
<summary>results</summary>

[code]

</details>
So I think we also have a problem when 5d is sliced down to 2/3/4d and you're right, shouldn't be too crazy to fix!

----

I quite like `scene` - to explain a `depicted

[2021-12-24 02:15] kevinyamauchi commented on #3848
I think there's been a lot of great discussion here! I'd like to clarify the current consensus just to make sure I am on the same page.

The summary below is my understanding of the current consensus. Do you all agree?

### depicted coordinate system

The first step is to expand our defined coordinate systems to include a `depicted` coordinate system that is the coordinate system of the scene bein

[2021-12-24 02:19] kevinyamauchi commented on #3874
Thanks @alisterburt and @brisvag for the discussion.

I agree that we have some work to do to figure out the best coordinate system for the rendering and clipping planes to live in. However, I do think they should be the same and it would be worth a small patch to unify them. I am curious what others think though.

[2021-12-24 06:25] sofroniewn opened #3876 "surface timeseries example regression"
## 🐛 Bug
When I run the following `python examples/surface_timeseries.py` on main I get an error. Looks like some assumptions were made when we passed `view_direction` to `get_value`. We should fix this before next release

[code]

[2021-12-24 06:29] sofroniewn opened #3877 "Surface layer control panel looks wrong"
## 🐛 Bug

![image](https://user-images.githubusercontent.com/6531703/147324724-14e344ec-4495-4d26-8727-0f9c5bc315f5.png)

Something doesn't look right with the control panel in the top left for the surface layer. it looks like the continous button is now overlapping with the opacity slider. run `python examples/add_surface_2D.py` to see.

we should fix before next release

[2021-12-24 06:33] sofroniewn opened #3878 "surface wireframes on by default, won't turn off"
## 🐛 Bug
When I add a new surface I always see the wireframes, even if i try turning them off. It says they should not be visible according to the model code, but i still see them render. for example

![image](https://user-images.githubusercontent.com/6531703/147325130-2d49c8a4-7fdf-4f2e-975d-07f85d3ff53c.png)

currently on main, with latest vispy. cc @kevinyamauchi

we should fix before release

[2021-12-24 06:36] sofroniewn commented on #3878
cc @brisvag @alisterburt

[2021-12-24 06:53] sofroniewn commented on #3878
I believe the bug is here https://github.com/napari/napari/blob/140feaa9a2e18c60f32eec96faa5945f7aa3b16b/napari/_vispy/layers/surface.py#L120

This should be
[code]

[2021-12-24 07:15] brisvag commented on #3874
Right, it's actually vispy scene coordinate I guess!

[2021-12-24 07:22] brisvag commented on #3878
Yup, that's a leftover from pre-evented model I think!

[2021-12-24 08:03] brisvag commented on #3848
I think @kevinyamauchi 's second example is the same thing as having native named dimensions, but with extra steps. The first example is almost the same, except instead of naming we force the user to decide how to map each layer to a dimension. I would say that either we do everything automatically with broadcasting (as now, but fixing the inconsistencies) so layers are unaware of what we're doing

[2021-12-24 15:03] kevinyamauchi commented on #3848
Sorry, I think my explanation was a bit unclear. I did not mean to suggest that the user provides the mapping between `depicted` axes and `layer.data` axes. I think the mapping should be done automatically, as it is now (but with broadcasting fixed). I meant to ask if we want to create a new property or update the existing `layer._dims_displayed` to contain an explicit mapping between `depicted` a

[2021-12-24 15:18] kevinyamauchi commented on #3848
No worries! So many coordinate systems! Once we decide on this `depicted` / `scene` / `displayed` coordinate system, I'll work on an explanatory doc. I think that will be super useful both for us making sure we are all on the same page and for users.

[2021-12-24 18:59] tlambert03 opened #3880 "Tracking Qt6 support"
## 🧰 Task
We have a few open issues surrounding supporting Qt6, so I wanted to open a meta issue where updates can be posted.

qtpy 2.0.0 is now released, with support for pyside6 and pyqt6 (yay).
Unfortunately, qtpy 2.0.0 only supports >= Qt 6.2, and it looks like a couple of troublesome bugs got introduced in PySide6.2
1. they are now doing some slot inspection upon `signal.connect(slot)`, but m

[2021-12-24 19:04] tlambert03 commented on #3880
as for pyqt6,  we can't use it until we deal with the removal of pyrcc... there's a workaround stared in https://github.com/napari/napari/pull/3254, but it will require more work since the theme hookspec used rcc compilation quite a bit.

[2021-12-24 19:28] sofroniewn commented on #3848
I'm fine with this too.

I'm fine with this as long as it stays private for now. Especially if mapping is done automatically. Once we fix slicing we can move off layer

I don't mind. I think this will also be private for now, so we can change

Yes - let's do that. I think that could be a standalone PR where we just add a new `world_order_to_layer_order` function like what @alisterburt has done in

[2021-12-24 20:35] psobolewskiPhD commented on #3880
I've been playing with qtpy2.0dev and now live plus plyside6 on my Apple M1, because pyside6 is native arm64 on pypi and doesn't have the pyrcc issue mentioned above. (So, if pyside6 worked then simple pip napari install would be possible on M1).
I made a fork of napari and simply proceeded with fixing errors as they popped up one at a time till napari worked.
https://github.com/psobolewskiPhD/nap

[2021-12-24 22:31] kevinyamauchi commented on #3876
Sorry about that! I hadn't realized that the `get_status()` would be called when a layer is added (I think it's part of a refresh when the dims change). See #3881 for the fix.

[2021-12-24 22:50] kevinyamauchi commented on #3848
I am now leaning towards `scene` for the name of the "displayed coordinate system". I think it's the most descriptive and concise name. I agree it should be private for now.

A standalone PR makes sense to me and I agree it can go first. I think @alisterburt is unblocked on #3759 as long as we are all in agreement that `z`, `y`, and `x` are the `scene` axis names (and it sounds like that's the cas

[2021-12-24 23:04] alisterburt commented on #3848
Thanks for all of the input here all! I definitely feel unblocked, that we have a way forward and that the discussion has been super constructive 🚀

@kevinyamauchi `scene` is my favorite too and starting with this hidden away in private attributes seems like the way to go :)

[2021-12-25 00:49] alisterburt opened #3882 "Fixing inconsistent slicing of layer data when dims order is changed"
## 🚀 Feature
The problem, to quote @jni in #3848

We should try to fix it! 🙂

## Expected behaviour
from @jni

1. Data dimensions should first be right-aligned (numpy broadcasting rules)
2. Data dimensions should then be expanded to match the global dims
3. Data dimensions should be sliced according to `Dims.order`
4. The last `ndisplay` of the result should be displayed

e.g.
[code]

## Current b

[2021-12-25 03:08] kevinyamauchi commented on #3882
I believe the slicing is done in the function below (dim order is set lines 957-962).

https://github.com/napari/napari/blob/942b68809250973fcc1fd7a6dfbc38914f29b0ef/napari/layers/base/base.py#L928-L988

[2021-12-25 10:38] alisterburt commented on #3882
Thanks @kevinyamauchi - I think that's where the dims themselves are updated but don't quite follow how the data in Layer._data_view gets updated from there, will have to go event wrangling :)

[2021-12-25 14:16] kevinyamauchi commented on #3882
No problem, @alisterburt !  At the end of that function,`Base._update_dims()` is called, which calls `layer._set_view_slice()` (implemented for each layer). I believe `layer._set_view_slice()`is what updates `layer._view_data`.

For example, the Points layer implementation:

https://github.com/napari/napari/blob/d2850931ed05d8f8e52be687b867c7ec373645ed/napari/layers/points/points.py#L1511-L1526

h

[2021-12-25 16:06] #3876 closed, assigned to nobody

[2021-12-26 16:24] kevinyamauchi commented on #3877
I had a quick look and I think it is because we forgot to add the "autoscale bar" to the surface controls layout when it was added for the image layers (the surface layer controls inherit from `QtBaseImageControls`). I can make a fix.

[2021-12-26 18:03] sofroniewn commented on #3882
ah yeah, i realize why this is more complicated now - you could end up slicing you're 2D dataset down to 1D? For example if

[code]

I believe that `layer. _dims_order` will now need to change to include `np.newaxis` or some equivalent to make all of this now work. `len(layer. _dims_order) == global_ndim` and `max(layer. _dims_order) == layer.ndim - 1`

[2021-12-26 18:05] #3877 closed, assigned to nobody

[2021-12-26 18:10] sofroniewn opened #3884 "Make custom pydantic color validator"
## 🧰 Task

Following discussion in https://github.com/napari/napari/pull/3879#issuecomment-1000922569 we should make a custom color [pydantic type with its own validator](https://pydantic-docs.helpmanual.io/usage/types/#classes-with-__get_validators__) based on

https://github.com/napari/napari/blob/43aa65bcde1ef36493ba51499edca4fad8d7fafe/napari/components/text_overlay.py#L37-L39

and then reuse

[2021-12-26 18:11] #3800 closed, assigned to andy-sweet

[2021-12-26 22:46] jni commented on #3882
Thanks for the exploration everyone! I just want to clarify one [comment](https://github.com/napari/napari/issues/3848#issuecomment-1000470475) from @sofroniewn

It is not always this simple: when we have a 2D image and a 3D array, we want the 2D image to remain fixed across all values of the slider. One cute example is the parameter sweep from [my blog post](https://ilovesymposia.com/2019/10/24/i

[2021-12-26 23:50] jni commented on #3848
Just a small note that "scene" has previously been described as "worldslice" or "sliced world" coordinates, but maybe scene is better. I'm not sure. But either way I wanted to make sure everyone knows that correspondence because it helps to search for relevant issues and PRs. :blush:

[2021-12-27 16:27] Carreau opened #3889 "3 files ASCII with CRLF, should maybe be converted to unix ending ?"
## 🧰 Task

It seem we have 3 files that have CRLF in them, some tools don't like those, and it may be disturbing to some contributors that may see spurious `^M` (CR) in diff tools.

It would be good to update those to redo the newline, but unfortunately that would modify all the lines in history

[code]

and if you are curious:

[code]

[2021-12-27 16:39] kevinyamauchi commented on #3884
Great idea!

[2021-12-27 16:46] kevinyamauchi commented on #3878
I believe this was fixed by #3879, so I am closing this issue. Please feel free to re-open if you find this wasn't fixed.

[2021-12-27 16:46] #3878 closed, assigned to nobody

[2021-12-27 17:04] goanpeca commented on #3828
Hi @igordot thanks for opening the issue.

Is there something we could try to do on the napari side to "warn users" or detect image based on headers? @napari/core-devs ?

[2021-12-27 17:09] goanpeca commented on #3529
I do not like the `napari-docs` approach and much rather have all docs live in napari and have some sort of preview with netlify, using whatever theme is available?

---

@codemonkey800 is the napari theme available as a python package so we can install it and use it for the previews 🤔?

Or how is it working today?

[2021-12-27 17:17] goanpeca commented on #3875
Me too! let's go with that one

[2021-12-27 17:33] goanpeca commented on #3336
Hi @Borchardt, thanks for opening the issue. Sorry this feel under the cracks. Thanks for the ping!

---

@napari/core-devs

[2021-12-27 23:08] goanpeca commented on #3787
Do we need extra voting time :) ?

[2021-12-27 23:21] tlambert03 commented on #3787
Nah, this could happen

[2021-12-28 22:16] StephenThornquist opened #3892 "Issue with HoloViews and napari notebook magics interfering even after kernel restart?"
Hi, I don't actually know much about Notebooks (or `holoviews`), and I'm only now starting to use and learn about `napari`, so maybe this is a totally silly question with a trivial fix. Or maybe the two are destined never to be compatible for reasons that I would understand if I were a more learned programmer. But I thought I'd ask, since `holoviews` has lots of functionality that is nice for plot

[2021-12-29 01:20] psobolewskiPhD commented on #3892
Oh wow! I've seen this same behavior with VS Code Interactive Windows—thought I was going crazy and was busy so sort of neglected it.
Using the example above:
[code]
The second `2+2` will hang but if you replace `napari.view_image` with just the `np` command, everything is fine.

[2021-12-29 01:59] sofroniewn commented on #3828
Interesting idea - maybe that can be added to the list of recognized file types for the reader plugin with npe2. @nclack thoughts?

[2021-12-29 02:01] sofroniewn commented on #3336
Thanks yeah - maybe @grlee77 can take a look at reproducing/ fixing when they get the chance. cc @jni and @andy-sweet who might be interested in this one too as it relates to transforms

[2021-12-29 02:46] tlambert03 commented on #3892
I'm not familiar with holoviews, but the most likely interaction is with Ipython's [GUI event loop](https://ipython.readthedocs.io/en/stable/config/eventloops.html), which napari starts by default when creating a viewer (unless it's turned off in the settings).

Can you leave napari out of it (don't import or create a viewer), and just test whether calling the `%gui qt` magic has the same result a

[2021-12-29 03:19] StephenThornquist commented on #3892
Correct! Strangely, it's slightly less consistent, in the sense that it will sometimes execute a few cells normally before the issue springs up. If it's a generic HoloViews thing, sounds like I should raise the issue there, and not bother you with it (though the above comment suggests whatever pathology underlies this issue might show up in more than one external package?). Thanks!

EDIT: As you m

[2021-12-29 05:36] sofroniewn opened #3893 "contrast limits slider broken with very small max value"
## 🐛 Bug

I was working with an image today with a very small max value, 2.6e-17, but a lot of richness around 10-20 etc, and found that the contrast limits slider is not adjustable, i.e. when i click on it I can't drag it around.

## To Reproduce

[code]

## Expected behavior

I should be able to adjust contrast limits value

## Environment

Current main, and latest superqt

[2021-12-29 13:28] tlambert03 commented on #3893
If you can produce this with only superqt, can you open an issue there instead?

[2021-12-29 15:21] psobolewskiPhD commented on #3892
Same here in VS Code Interactive Python.
[code]
Results in the 2nd `2+2` hanging just like the napari viewer code above.
(I don't get this issue in ipython btw.)

[2021-12-29 18:44] sofroniewn commented on #3893
PR fix created on the napari side #3895

[2021-12-30 18:26] alisterburt commented on #3863
closed by #3866 - please reopen if I'm wrong!

[2021-12-30 18:26] #3863 closed, assigned to nobody

[2021-12-30 22:28] sofroniewn commented on #3889
Hmm, i know very little about this. I would be fine with any approach. What do others think here?

[2021-12-30 22:47] tlambert03 commented on #3889
Unix ending works for me

[2021-12-31 02:54] tlambert03 opened #3897 "Layer docstrings need maintenance plan"
## 🧰 Task
Our layer docstrings are large enough that we probably shouldn't be relying on humans to catch all changes and update them.  For example, I just noticed that `layer.coordinates` is still listed in the base layer docstring (it was deprecated in v0.4.7 and since removed).  Perhaps a test could assert that everything listed in the docstring is at least present on the object (And perhaps tha

[2021-12-31 05:12] sofroniewn commented on #3897
Do you think this will be easier when we make our layers pydantic models? Maybe unrelated, but just a thought

[2021-12-31 09:15] tlambert03 commented on #3897
Mildy?  but it's just a difference between searching `dir(cls)` instead of `cls.__fields__`

[2021-12-31 23:42] jni commented on #3889
I'm also +1 on harmonising line endings. @Carreau do you think we should also add another pre-commit check so that we don't add any new such files by accident?

[2022-01-03 08:17] kevinyamauchi commented on #3374
Hey everyone. I have a prototype of subtractive blending working and I have a couple questions about what we should do about the colormaps.

https://user-images.githubusercontent.com/1120672/147909940-cd52f300-d1c7-4cc4-977b-1c420c58a6dd.mov

As @jni mentioned above, subtractive blending "inverts" the colors. For example, the magenta colormap appears green since it is being "subtracted" from the w

[2022-01-03 10:16] Czaki commented on #3374
What happens if we subtract multiple reversed colormaps? It will produce a similar effect that in the additive mode for not reversed?

[2022-01-03 10:30] alisterburt commented on #3374
Super cool @kevinyamauchi !

This seems like an interesting workaround which allows us to achieve the visual effect that we want (additive on white backgrounds) rather than the actual solution (separation of rendering and compositing as @nclack suggested)

Given that it's a workaround rather than what we'd ideally have, I'm supportive of a bit of magic to make it feel normal. I'd like to know the

[2022-01-03 14:51] psobolewskiPhD commented on #3374
That looks sweet @kevinyamauchi
There's an apropos thread on image.sc regarding inverted LUTs and compositing multichannel images. The whole thread has a lot of info and examples:
https://forum.image.sc/t/multi-channel-composite-view-with-inverted-luts-in-imagej-fiji/61163
And starting about here some discussion of subtractive blending:
https://forum.image.sc/t/multi-channel-composite-view-with-in

[2022-01-03 15:48] alisterburt commented on #3374
Thanks @psobolewskiPhD, that thread is super useful! It seems that subtractive blending with inverted colormaps does change the way different colours interact so we definitely shouldn't do what I suggested above

[2022-01-03 17:24] sofroniewn commented on #3737
Thanks for this report @FudgeMunkey - can @grlee77 you look into this, thanks!

[2022-01-03 18:10] grlee77 commented on #3737
The issue here is not so much with those specific lines of code, but could occur any place where arithmetic with points is done when there are invalid coordinates. We could add checks in `add_points` using something like the following to help catch this up front:

[code]

This would add a little additional overhead when adding the points, but could be more user friendly. If that is acceptable, it

[2022-01-03 18:14] grlee77 commented on #3737
For context, the overhead of the `isfinite` check as suggested above for an array of 10,000,000 3D points without any non-finite values is around 23 ms on my system, which doesn't seem too bad.

[2022-01-03 18:18] sofroniewn commented on #3737
Ok thanks for checking this out - let's hear from @jni or others. I know we've been trying to improve our nan/ infinity handling, but want to be mindful of performance too

[2022-01-03 22:07] grlee77 commented on #3336
I think this is the current expected behavior in this case and is likely not a bug. Specifically, on current `main`, you should not need to translate by `0.5 * scale` to get the point to show up as centered in a voxel. We changed the voxel extents a few monts ago so that a voxel of scale (1, 1, 1) at position (0, 0, 0) would have an extent from [-0.5, 0.5] along each axis whereas previously the ex

[2022-01-03 22:32] andy-sweet commented on #3884
I was planning to do something like this in the style encoding work.

[code]

See [the closed WIP PR](https://github.com/napari/napari/pull/3493/files#diff-c6c515811f47fb2a55c3edb7f778cc93b0bbf1435d21c11a11e78a3d6d1e7ba5R23) for more context.

At the moment we have a need to distinguish between a field that stores a single color and one that stores multiple colors, thus the two types.

One downsid

[2022-01-03 23:09] sofroniewn commented on #3884
I like `ColorValue` and `ColorArray`, mirrors what vispy has a bit of I think. What do @tlambert03 and @jni think?

[2022-01-04 11:30] emoebel opened #3908 "napari GUI does not work : "ImportError: cannot import name 'run' from 'napari'""
## 🐛 Bug

I installed Napari using Conda. But when launching GUI from terminal, I get error:

[code]

Note: in Ipython, the commant `import napari` works

## To Reproduce

Steps to reproduce the behavior:

1. `$ conda create --name tradefi python=3.7`
2. `$ source activate tradefi`
3. `$ conda install -c conda-forge napari`
4. `$ napari`

## Expected behavior

Should open Napari GUI.

## Environme

[2022-01-04 12:57] kevinyamauchi commented on #3374
Thanks for the links to the thread, @psobolewskiPhD ! Very useful.

Agreed. As nicely shown in that thread, the colors interact are composed differently in additive and subtractlive blending. Thus, I don't think we should automatically swapping colormaps or blending mode.

If we compose multiple layers with different colormaps in subtractive blending mode on a white background, the behavior is sim

[2022-01-04 13:28] tlambert03 commented on #3908
we need to figure out why you ended up with Qt 5.9.6 (and not ≥5.12, the min requirements)

I don't have access to a Sierra installation, so I can't test it locally, but it does look [Qt 5.12 supports macos 10.12](https://doc.qt.io/qt-5.12/supported-platforms.html).

when I run your reproduce commands and then run `conda list` I see:

[code]

and napari runs fine.

Are you certain that you didn't

[2022-01-04 14:14] brisvag commented on #3336
Took a look at it as well, and indeed at step `2.` I'm seeing the point *not centered*, which (as @grlee77 mentioned) is intended. Are you sure that this still happens on main for you @Borchardt ?

This likely happened because with vispy 9.X we fixed some issue with the volume shader, where there was an unintended offset (see vispy/vispy#2239).

As a side note, the example code from above brought

[2022-01-04 14:16] #3713 closed, assigned to nobody

[2022-01-04 14:27] emoebel commented on #3908
Ok I just solved the issue. For some reason, the default PyQt version conda installs is 5.9.2
So I forced the installation of a more recent version: `conda install -c conda-forge pyqt==5.12.3`

And now it works as expected. Thanks for pointing me in the right direction!

[2022-01-04 14:49] tlambert03 commented on #3908
This is true for the default ["anaconda" channel](https://anaconda.org/anaconda/pyqt), but it's not the case for the [conda-forge channel](https://anaconda.org/conda-forge/pyqt), which ships 5.12.

This is why asked if you happened to install something prior to running `conda install -c conda-forge napari` (since, if you didn't specify conda-forge there, it's possible that you would end up with 5.

[2022-01-04 14:49] #3908 closed, assigned to nobody

[2022-01-04 20:24] haesleinhuepf commented on #3708
Hi @Czaki ,

just a note: As we're working on a hand full of plugins that manipulate `layer.properties`, we made some little infrastructrue for visualizing tables in napari and I think also for the purpose you mentioned. Feel free to use `napari_skimage_regionprops.get_table(layer).append_content(dictionary_or_dataframe)` (kindly contributed by @jo-mueller) and [let us know if there are issues](ht

[2022-01-04 21:39] nclack commented on #3828
Should work!

With npe2-based readers, it should be possible to dynamically add to the list of supported extensions for a given reader. Maybe we want to think about adding some ui to the preferences dialog around this?

[2022-01-04 21:45] neuromusic commented on #1166
closing this b/c it looks like we are now using `autosummary`, which fixes many of the issues with `apidoc`

[2022-01-04 21:45] #1166 closed, assigned to nobody

[2022-01-05 17:36] jaimergp commented on #3875
I'll run an audit on each platform to see which packages we are actually shipping in each, as well as their license details. Maybe we can aggregate by license types, or generate a website page to hold the long details. I don't want to end up with a million page license document in the installer, but legal advice is needed.

Speaking of licenses, plugins should also mention theirs I guess, and this

[2022-01-05 19:04] jaimergp commented on #3875
Ok, here it is: [napari_bundle_licenses.txt](https://github.com/napari/napari/files/7817164/napari_bundle_licenses.txt)

I see several GPL packages, in addition to PyQt. We might need to double check those cases (runtime C/C++/Fortran libraries, mainly).

The file can be regenerated at any point with this [Colab notebook](https://colab.research.google.com/drive/1hQ9nsc5g1Fv1tqroI3onq5sfd-hJaPYU?us

[2022-01-05 19:41] sofroniewn commented on #3875
Wow, so many licenses!

do you know which of our dependencies are brining them in?

We also have some vendored code we might need to include license for

Yeah, I think we could move on adding page to website and then just linking as suggested by @andy-sweet - cc @neuromusic

[2022-01-05 22:13] andy-sweet opened #3911 "Deprecate all `properties` related layer state"
This includes deprecating the existing `properties`, `property_choices`, and `current_properties` parameters and properties in favor of the new `features and feature_defaults`. There are a few steps needed to make that happen.

1. Add deprecation warnings when those parameters/properties are used.
2. Update tests to use the non-deprecated parameters/properties. Maintain the tests with deprecated p

[2022-01-06 01:01] justinelarsen commented on #3875
I like the idea of linking to a web page which houses the license information too. One thing to note that @jaimergp mentioned is that on the Windows installer, you can't have a clickable link, but we can have a URL that the user can copy/paste into a browser.

[2022-01-06 10:59] kolibril13 commented on #3864
The last two weeks I iterated this idea a lot, so this post is out of date already.
I will close this issue and will present the new idea in a new napari issue soon!

[2022-01-06 10:59] #3864 closed, assigned to nobody

[2022-01-06 16:22] jo-mueller commented on #3704
Can reproduce:

[code]

[2022-01-07 01:07] isabela-pf commented on #3236
Of course when I start to work on something else, I get more ideas about this issue. First off, thanks @tlambert03 for the reply!

I agree. At this point I think it’s just an attempt to make it clearer, especially since both input boxes look similar at first glance.

With keeping the two input boxes separate (I also agree that filtering and installing feel different enough to warrant it), I think

[2022-01-07 10:40] jaimergp commented on #3875
Oh yes, this is super important. We need to include those in our conda recipe too!

--edit-- [done](https://github.com/conda-forge/napari-feedstock/pull/32/files/054be28e69e49e38c05d0a1e1f712244ac1d4095..785b05eea403ce858d1f6fbccf41593bffbbc743)!

[2022-01-07 10:49] jaimergp commented on #3875
Trees for each platform. Outputs come from `CONDA_SUBDIR=<platform> mamba repoquery search -c conda-forge --tree  napari`

<details>

<summary>osx-64</summary>

[code]

</details>

<details>

<summary>linux-64</summary>

[code]

</details>

<details>

<summary>win-64</summary>

[code]

</details>

[2022-01-07 14:40] jaimergp commented on #3875
Did some research and apparently NSIS (Windows) does [support RTF files](https://nsis.sourceforge.io/Docs/Modern%20UI/Readme.html#examples) for the license. So we can have clickable text there too.

[2022-01-07 16:54] jaimergp commented on #3875
Implemented! See https://github.com/napari/napari/pull/3555#issuecomment-1007565052

Now we only need to check what text to display and where it should be published.

[2022-01-07 18:14] sofroniewn commented on #3875
I love the tree views! Very cool to see what comes from where!!

[2022-01-08 13:46] jaimergp commented on #1742
#3555 should fix this!

[2022-01-10 10:26] jwindhager opened #3917 "napari instances share layer mode"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Run the MWE below
2. Change the layer mode in first viewer (e.g. to "Add rectangles")
3. The layer mode of both napari instances changes (see screencast)
4. Changing the layer mode in the second viewer doesn't affect the first viewer

Minimum working example (MWE):

[code]

https://user-images.githubusercontent.com/7105759/148750090-6

[2022-01-10 10:39] jwindhager commented on #3917
Could this be caused by the new `current_viewer` global?

I see that this is used in https://github.com/napari/napari/blob/main/napari/utils/_injection.py

If that's the case, this would effectively mean that at the moment no two napari instances can run at the same time.

EDIT: Tried replacing `current_viewer` with [this _get_reader() function](https://github.com/BodenmillerGroup/napari-imc/blob/

[2022-01-10 10:56] jwindhager commented on #3917
Probably related to/a duplicate of https://github.com/napari/napari/issues/2897

[2022-01-10 12:02] borchardt commented on #3336
Thanks for your input! I can confirm that I'm no longer seeing this issue when using current main version from GitHub. In this version, the point is not centered on the voxel unless the `translate` vector in the example code is changed from values of 0.5 to values of 0.0 , in which case it remains visible in 2D.

So I guess the issue has been resolved! Huge thanks! :)

[2022-01-10 16:03] tlambert03 commented on #3884
yeah, I like `ColorValue` and `ColorArray`.  Perhaps a slight preference for just `Color` over `ColorValue` (then just use `pydantic.types.Color` when we need to differentiate between theirs and ours).

not too worried about this.

@andy-sweet ... can you remind me whether we can't just subclass pydantic's color to deal with the edge cases we have in napari?  I know that pydantic's color wasn't su

[2022-01-10 16:06] tlambert03 commented on #3917
Hey @jwindhager, I'm not seeing this on main...
#2987 was fixed in https://github.com/napari/napari/pull/3692
can you verify that you're on main?

[2022-01-10 17:35] andy-sweet commented on #3884
I wrote [some notes about pydantic's `Color` limitations with respect to napari](https://hackmd.io/K5rCILaHQmWsNhY0ml_xaQ#Pydantic%E2%80%99s-Color). If we only wanted to represent single colors (and not multiple colors in one field), I think we could do what you said pretty easily.

The harder problem is how to handle fields that store multiple colors and how to get an Nx4 RGBA array (e.g. as visp

[2022-01-10 19:14] jwindhager commented on #3917
Apologies! Thought I had tested this on the latest main, too, not realizing I was on another branch... My bad, closing

[2022-01-10 19:14] #3917 closed, assigned to nobody

[2022-01-10 19:32] tlambert03 commented on #3917
No worries thanks for checking

[2022-01-11 03:12] sofroniewn commented on #3336
Great!! Thanks all for weighing in, I will close this now :-)

[2022-01-11 03:12] #3336 closed, assigned to grlee77

[2022-01-11 12:48] Carreau commented on #3889
Nah, I don't think it's necessary. It's rare enough, I don't even know how it could have happen.
And if anything we might want to add a .gitattributes files asking git to aumatically do the CRLF to LF conversion I belive this is possible on a per-repository setting.

[2022-01-11 19:36] Carreau commented on #3036
@andy-sweet said in a meeting:

I guess most people know, but we can selectively run actions based on including/excluding paths: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#onpushpull_requestpaths

[2022-01-11 20:50] stefanv commented on #3581
EDIT: In my case, it was mistaken usage of `rgb=True` when the data had 50 channels. See also #3923

I have the same issue, but it seems unrelated to TIFF. Reproduced with:

[code]

Confirmed on current main.

[2022-01-11 21:05] stefanv opened #3923 "Catch when user provides non-RGB data but claims they do"
This is more of an improvement than a bug.

## 🐛 Bug

When the user provides `rgb=True` to the viewer, there are some simple checks that can be done to confirm that the data conforms.  Instead, Napari gives cryptic error messages:

[code]

## To Reproduce

[code]

## Expected behavior

Error message: "`rgb` was set to True, but data does not have suitable dimensions"

[2022-01-12 06:20] #3889 closed, assigned to nobody

[2022-01-12 17:23] nclack commented on #3830
@tlambert03 has done some significant improvements to the plugin docs in napari#3916. Linking it here since it addresses some of this feedback.

[2022-01-12 18:27] nclack opened #3924 "support for installing/uninstalling npe2 plugins from the plugin install dialog"

[2022-01-12 18:27] nclack opened #3925 "support for enabling/disabling npe2 plugins from the plugin install dialog"

[2022-01-12 19:04] tlambert03 opened #3926 "Bug: cmd-click no longer filling in labels"
## 🐛 Bug

Just realized that holding command is no longer switching the labels mode to "fill" and command-click to fill in a label hasn't been working for the last couple versions.  bisect puts it at #3072

[2022-01-12 19:07] tlambert03 commented on #3926
ahh sorry, I just saw @sofroniewn's [comment](https://github.com/napari/napari/pull/3072#issuecomment-884439192)

I actually _loved_ that 😢 ... @sofroniewn what's the opposition to modifier-clicks doing stuff?

[2022-01-12 19:09] psobolewskiPhD commented on #3926
LOL, I had the same reaction on zulip:
https://napari.zulipchat.com/#narrow/stream/212875-general/topic/Labels.20layer.20info.2Fkeybinds

[2022-01-12 19:14] tlambert03 commented on #3926
Ok, reading more in that link, and what @psobolewskiPhD linked above, looks like the opposition was:

I can see that potentially being troublesome (e.g. https://github.com/napari/napari/issues/2714), but I think it deserves a proper refactor, such that the _behavior_ stays the same (i.e. cmd-click should fill in a label) even if the implementation changes (i.e. no longer changes mode on pressing c

[2022-01-12 19:15] tlambert03 commented on #3926
(and minimally the help text needs to change to no longer state that holding ctrl does anything)

[2022-01-12 19:50] sofroniewn commented on #3926
yeah, that's fair. Maybe it was just myself - with possibly some support from @jni that felt that way. I just found it really jarring that when I would do cmd-C for example the mode button would flicker. Making the implementation such that it waited for click would avoid that, but it is more complicated - and someone else could argue that they would like to see the button change highlight when the

[2022-01-12 22:54] #3805 closed, assigned to nobody

[2022-01-13 00:03] nclack opened #3927 "missing doc items (may be copy-docs problem)"
## 🐛 Bug

I was looking at napari.org after seeing #3916 get merged (a big update to plugin docs), and it looks like the toc is missing items. This seems to have something to do with the copy-docs script.

In particular,
* it looks like files that are not in the toc are missing
* some items in the toc go missing
* the order of the items in the toc seems to change from the authored order

@tlambert

[2022-01-13 08:16] sofroniewn commented on #3927
Looks like some links are broken too https://github.com/napari/napari/pull/3916#issuecomment-1011897037 - cc @guiwitz (and thanks for quick report!)

[2022-01-13 08:22] guiwitz commented on #3927
Sorry, I should have checked whether an issue had already been opened. On a more general point: the official plugin docs are now no more in sync with the latest napari release which is still incompatible with npe2. Is a there a plan to release soon a new version of napari? If not, it should probably be (temporarily) mentioned that one needs to install napari from main (but I haven't read the docs

[2022-01-13 08:27] sofroniewn commented on #3927
Yes, I think we can actually start the release process within next 24hrs and then release early next week. So things will probably be out of sync over weekend, but hopefully not too much longer. We could also add that note too in the mean time

[2022-01-13 11:46] Ciro1990 commented on #3819
Hi there, I am having the same issue. Has the bug being solved?

This is what I get: "WARNING: Error drawing visual <vispy.visuals.line.line._GLLineVisual object at 0x000002153284B400>"

[2022-01-13 12:30] brisvag commented on #3819
@Ciro1990 the bug is already fixed on `main`, but will be available on the next release (which should come in the next couple of weeks!). If you want to get it working now, you can try to checkout the main branch and work from there; otherwise, you need to wait for `0.4.13` to come out :)

[2022-01-13 12:32] Ciro1990 commented on #3819
Thank you! I will try what you suggested, otherwise I will be waiting for the update :D

[2022-01-13 13:12] tlambert03 commented on #3819
Quick reminder that you can always pip install the main branch from GitHub without cloning and checkout:

[code]

[2022-01-13 13:22] Ciro1990 commented on #3819
Thank you Talley! It worked for me!!!

However, I still have one issue, I can not see my Lineage tree. I uploaded segmentation and tracks, but nothing appears in the lineage tree window. Anybody else has the same issue?

Could be just me, tho

[2022-01-13 16:27] JoOkuma commented on #3819
Hi @Ciro1990, are you referring to the track splitting in the napari canvas or the tree lineage from [arboretum](https://github.com/lowe-lab-ucl/arboretum)?

[2022-01-13 16:30] Ciro1990 commented on #3819
Hi Jo! I meant the lineage tree from arboretum. I just can not manage to make that work

[2022-01-13 16:38] JoOkuma commented on #3819
I would post an issue there.
It could be that your tracks `graph` is not structured as expected, because this is the only data it uses. Additionally, it doesn't support merges yet.

[2022-01-13 17:37] Ciro1990 commented on #3819
Thanks for the inputs, Jo. I will run again the pipeline now. If I still don't get the tree, I will ask for support (biologist struggling with python here :D)

[2022-01-13 20:37] melissawm commented on #3927
Got it - some docs are not being copied over because of [how the copy-docs.py file treats duplicate files](https://github.com/napari/napari/blob/bf74cbc1266d6e04045f084c4c19a0991f7e362b/docs/copy-docs.py#L70). I've submitted a fix for the plugin docs in #3929, including fixing the ToC and internal links. Please review :)

[2022-01-13 21:27] kne42 commented on #3927
For clarity, are there other files missing from the ToC besides `find_and_install_plugin` and `npe1`?

I've double checked and they don't start with the includes directive, I think it's a different reason it's not working.

[2022-01-13 21:40] tlambert03 opened #3930 "Proposal for revamped docs pipeline, with example repo"
## 📚 Documentation

I'd like to make a concrete proposal for how our docs are organized on github, built, and published.  I know this is a heavily discussed topic, and it's definitely with great appreciation for the previous work done here that I propose this.  I also recognize that there is a docs working group that I haven't been able to attend, so please accept my apologies if any toes feel ste

[2022-01-13 22:04] sofroniewn commented on #3930
Thanks for writing up the proposal.

Unfortunately this has been my experience too (for PRs with large/ structural docs changes) (see #3927 as a recent example).

It seems like this would be something good to discuss at the next docs working group meeting. It looks like the next one is [Wed 19th](https://napari.org/community/meeting_schedule.html). I can try and attend then too

[2022-01-13 22:17] melissawm commented on #3927
Actually `npe1` and `find_and_install_plugin` are there, we are still missing the Manifest Reference and the Contributions Reference. This is what is added in #3929

[2022-01-13 22:54] codemonkey800 commented on #3930
I'm glad I made it easy to pull out of the current theme lol

I think a lot of this makes sense. A big engineering decision for using React was to support interactive features we'd add in the future and enable code sharing with napari hub because of how similar the theme is to the hub. Versioned docs, the calendar, download matrix, and I think gifs of examples were things I had in mind. The develo

[2022-01-13 23:12] codemonkey800 commented on #3930
Isn't this something we could do with `git submodules`?

[2022-01-13 23:15] tlambert03 commented on #3930
Conceivably sure, but I haven't seen that pattern for a sphinx theme.  Is there an advantage there you're thinking about?

[2022-01-13 23:24] tlambert03 commented on #3930
all good stuff, but versioned docs, the download matrix, and gifs of examples are all definitely possible without react (though I'm sure I'm saying something you already know).  don't know what tooling the calendar uses, so can't comment there, but surely it's possible to embed a calendar without react.  pydata-sphinx-theme does versioning with a little bit of vanilla javascript

[2022-01-13 23:26] codemonkey800 commented on #3930
It's mostly to get around the fact that it's not a pip installable sphinx theme. You can write the makefile to clone the theme repo and build the docs (which I thought @melissawm had in mind)

[2022-01-13 23:28] tlambert03 commented on #3930
i see, so it's just to avoid having to put it on PyPI?  meh :)

(so much python tooling is based on a list of pypi installables... so having that one thing in the pipeline that doesn't fit in with the ecosystem is always a bit annoying.  doable, but only with a good reason why)

[2022-01-13 23:42] isabela-pf commented on #3926
In trying similar behaviors on other image-y applications, I’m finding some cases where users are required to _hold_ a modifier key to change an action.
- The space bar for pan/zoom is the most common (and [Wikipedia is on @sofroniewn’s side about it not being a modifier key](https://en.wikipedia.org/wiki/Modifier_key) 😆).
- Photoshop and Inkscape use all of them to initiate different selection or

[2022-01-13 23:47] tlambert03 commented on #3926
it's definitely accessible otherwise.  the other way is to 1) click on the paint can icon, 2) click on the canvas... OR 1) press the `3` key 2) click the region 3) press the `2` key to return top the other mode.

The cmd-click is just a convenience that allows you to not move your mouse all the way to the top left.  Probably a ~0.2 second  key hold.  It's *very* common when annotating images to ci

[2022-01-13 23:56] jni commented on #3930
Hi all!

I agree with the general gist of @tlambert03's issue, and I agree with him that a standard sphinx docs repo is preferable to the current situation. I'm a big proponent of "when in Rome...", and there should be a high barrier for doing non-standard stuff. So, I'd be happy enough with that approach.

As he's noted, though, I do prefer having docs together with the code. Part of my preferenc

[2022-01-13 23:57] kne42 commented on #3930
I'm not a big fan of this idea. A full sphinx approach would be a major regression from a developmental standpoint. I would sooner have us write our own documentation engine than return to sphinx because it's just that outdated.

I believe that returning to pure sphinx would not be in our best interests long-term because:
1. sphinx has no multi-versioning capabilities. it's either been done via pl

[2022-01-14 00:17] #3927 closed, assigned to nobody

[2022-01-14 00:52] codemonkey800 commented on #3930
Not necessarily, it's something we had in mind but we need to figure out if it's possible to include node dependencies in the build pipeline. Or  we could download node and its dependencies at runtime, and run the theme build after `jupyterbook build` completes. For example, Furo [overwrites the CSS](https://github.com/pradyunsg/furo/blob/d6b217f8bb021f137928aa30f1b41e829e87d73f/src/furo/__init__.

[2022-01-14 00:58] tlambert03 commented on #3930
that makes lots of sense.  but it does seem like something you could sandbox a bit to your development process.  That is, we don't necessarily need every napari docs contributor to have to deal with the whole node toolset just because the theme developers work in node.

I've built websites elsewhere using react.  as I said earlier, I'm fully aware of how woefully antiquated the conventional sphinx

[2022-01-14 01:04] codemonkey800 commented on #3930
If we could package up the theme into a pip installable package that works (regardless of how it gets the node dependencies), would that be a good enough sandbox? Or is there more interest in being able to contribute to the theme without getting into Node + React?

[2022-01-14 01:07] tlambert03 commented on #3930
no no, whatever you want to do on the theme dev side is fine.  you can use whatever tool chain you want there (there's no expectation that anyone has to be able to contribute to the _theme_ easily) ... on our side, the requirements would just be that it is installable as a sphinx theme that we can add to our `_conf.yml`.

as mentioned in the original post, (and this is likely more limiting to you)

[2022-01-14 01:12] codemonkey800 commented on #3930
That's what I meant. We could set up the theme into a pip package that you can just `pip install` and specify in the configuration. You don't need to worry about node or anything, you can just run `jupyter-book build`.  The HTML will then be accessible to you from`file://` (which is possible with the current theme if you do `yarn build`).

[2022-01-14 01:23] DragaDoncila commented on #3930
I completely agree that the current process for building our docs is untenable, and it's a matter of very high priority to address this issue. I also agree that introducing more tooling e.g. netlify is complicating the matter, and not addressing the fact that PR previews should be in addition to an easy local process, not a replacement for it.

I tend to agree with this as well. The power of react

[2022-01-14 01:31] tlambert03 commented on #3930
this isn't quite true, see for example how [pydata-sphinx-theme does it](https://pydata-sphinx-theme.readthedocs.io/en/latest/user_guide/configuring.html#add-a-dropdown-to-switch-between-docs-versions).  yes, it requires a bit of javascript, but it's pretty minimal.  [here](https://github.com/pydata/pydata-sphinx-theme/blob/master/src/pydata_sphinx_theme/theme/pydata_sphinx_theme/_templates/versio

[2022-01-14 01:32] tlambert03 commented on #3930
I'll also point out that, readthedocs (which has it's own versioning feature) now support jupyter-book.  but, we'd need to have a pip-installable them there

[2022-01-14 01:38] DragaDoncila commented on #3930
This seems pretty easy to implement 🤷‍♀️

[2022-01-14 02:07] codemonkey800 commented on #3930
I did write up a [doc](https://docs.google.com/document/d/10nkhIIlai9IHHtcepkMnG94IBwckHiaT1DgcL6wEg6Q/edit) sometime ago exploring React with napari.org. The features I mentioned in the doc were:

I'm not sure what other interactive features we'd want to add to naprai.org in the future, but given the list above, I felt it was appropriate to use React. It's hard to say because it's an investment o

[2022-01-14 02:14] codemonkey800 commented on #3930
The version switcher should be easy to implement regardless of whether we do it with DOM APIs or React. A React equivalent would look something like this in fewer LOC:

<details>
<summary>VersionDropdown.tsx</summary>

[code]

</details>

One docs site I like mentioning is [Botorch](https://botorch.org/) which uses [Docusuaurs](https://github.com/facebook/docusaurus) for managing docs and [built-i

[2022-01-14 03:18] tlambert03 commented on #3930
just to bring this back to the original point here, this isn't a referendum on react _per se_.  We can certainly debate whether react is "necessary" here, but this is ultimately about separation of concerns.  If you'd like to bundle react or other js libs in with your theme, that's fine.  But we shouldn't _depend_ on the theme for structure or content of the docs.  The theme shouldn't change the T

[2022-01-14 06:55] #3893 closed, assigned to nobody

[2022-01-14 11:47] alisterburt commented on #3930
This is some great discussion! Thanks for putting together concrete examples of how these things could look @tlambert03. One thing I would like to add which could potentially reframe the discussion a little bit...

napari.org is currently a mix between our docs and general project information, is separating these two things more explicitly something that has been considered? Most of the fancy feat

[2022-01-14 15:07] melissawm commented on #3930
Just for clarity, NumPy uses three repos:
- API docs, how-tos, explanations are all in github.com/numpy/numpy, together with the code. These are pure sphinx, built with the pydata-sphinx-theme
- Tutorials, which are Jupyter Notebooks, live in github.com/numpy/numpy-tutorials. These are built using jupyterbook/myst-nb and jupytext.
- The numpy.org website, with landing page and a few informational

[2022-01-14 16:53] neuromusic commented on #3930
+1 @tlambert03 ... from my understanding, the current structure was implemented in early 2021 and justified by the points that @kne42 highlights above. this was before we started using React.

I think that this is definitely worth considering. Personally, I like the way that numpy handles the separation of concerns here.

I'm not sure that I agree with this, but if it is going to be a requirement

[2022-01-14 16:55] neuromusic commented on #3930
one benefit of shipping the theme as a pip-installable sphinx theme: plugin devs could us it on their own documentation sites for a consistent look-and-feel with the napari ecosystem

[2022-01-14 16:59] tlambert03 commented on #3930
Yep, I agree, it does narrow the solution space, at least for now.  But in my opinion, the broad solution space has not worked well for us, for quite a long time now; we've been experimenting with this pattern for over a year, there's been plenty of time to iterate, and it's still causing routine difficulties.  I'd like to see us form a solid working system before we start thinking about big plans

[2022-01-14 19:53] codemonkey800 commented on #3930
Furo does this too, just in Python:

- https://github.com/pradyunsg/furo/search?q=furo_navigation_Tree
- https://github.com/pradyunsg/furo/blob/d6b217f8bb021f137928aa30f1b41e829e87d73f/src/furo/navigation.py#L19-L87

This is already possible: https://github.com/napari/napari.github.io/blob/main/_config.yml#L45-L47
If you remove `html_theme_path` and change `html_theme` to a different theme, the do

[2022-01-14 19:58] codemonkey800 commented on #3930
This is a good point but I'm also not sure where to draw the line in the sand for. Up to now I felt the affordances provided by the theme have been fine, but perhaps we need to find what things should be provided by the content vs the theme

[2022-01-14 20:06] tlambert03 opened #3934 "Bug: no longer possible to set contrast limits on a subset of images passed to view_image"
## 🐛 Bug
This code used to work (it would manually set contrast limits on the first channel, but autoscale the second):

[code]

as of #3140, it no longer works, failing with:

[code]

@brisvag, would you mind taking a look to see what in that PR might have affected this?

[2022-01-14 20:10] tlambert03 commented on #3934
ohhh... it's the damn `ensure_sequence_of_iterables` thing again :)

[2022-01-14 20:31] thanushipeiris opened #3936 "napari_write_tracks doesn't save tracks layer"
## 🐛 Bug

Tracks layer cannot be saved individually or with other layers. When you have a canvas with a track layer and other layer types and try to "Save all layers", none of them save.

## To Reproduce

Steps to reproduce the behavior:

1. Open a tracks layer using the tutorial [here](https://github.com/quantumjot/BayesianTracker/blob/master/examples/napari_btrack.ipynb)
2. Try to save all layer

[2022-01-14 21:01] kne42 commented on #3930
If we want to go through with this, I think it would be useful to think through whether we want only some parts of the site to have multiple versions or for the whole site to be versioned. Currently, in Lia's designs, some content is versioned (e.g. API docs), while other content is not (e.g. developer guides).

I'm bringing this to attention because there are some caveats if we were to combine ve

[2022-01-14 21:04] tlambert03 commented on #3930
I'm all for a full versioning... it's simpler, and most of the dev guides are being co-written along with a developing code base.  There'd be no need, for example, to show the current plugin or event reference docs (which are in the dev guides, not the API docs) with < v0.4.

[2022-01-14 21:06] kne42 commented on #3930
Maybe dev guides was a bad example – I was referring more to things such as Mission & Values, How to Contribute, etc.

[2022-01-14 21:09] tlambert03 commented on #3930
i feel like versioning those is relatively harmless, compared to the gain in simplicity.  It's even kind of nice to be able to see how these things evolve over time.  The vast majority of people will see the current release, and as long as we have the standard "you're looking at old docs" notice for those who aren't, it seems ok to me?

[2022-01-14 22:12] sofroniewn commented on #3934
@tlambert03 is this a regression that we should fix before 0.4.13? sounds like it might be

[2022-01-14 22:14] sofroniewn commented on #3936
I think this is because we don't have a default `napari_write_tracks`? Right @nclack @tlambert03 @alisterburt @JoOkuma? We should probably add one, but i think this will come after 0.4.13 as it's not a regression (we're close to releasing soon which is why i mention it)

[2022-01-14 22:16] nclack commented on #3936
that's correct. Is there an opinion on how we should save tracks?

[2022-01-14 22:21] JoOkuma commented on #3936
I don't have a formed opinion yet.
In the general case, the track layers have two inputs a table (`data`) and a dictionary (`graph`).
I think this is an opportunity to revisit this and use a single `data` input.

[2022-01-14 22:31] JoOkuma commented on #3936
@thanushipeiris I have a tracking plugin (under development) that has a tracks writer.
You can install it with `pip install git+https://github.com/JoOkuma/track-utils.git@track-addition`.

[2022-01-14 22:56] tlambert03 commented on #3934
It would be nice, but clearly it's been there for a couple versions, so it's obviously not that common :)

[2022-01-15 16:01] psobolewskiPhD opened #3940 "Broken link and missing/blank page in Plugin section"
## 📚 Documentation

I'm not sure if this is the proper place to report this but:
1. The It's your first plugin tutorial has a broken image link in Section 4.
https://napari.org/plugins/stable/first_plugin.html#install-your-plugin-and-try-it-out
It's unfortunate, because the text doesn't make 100% clear what the user should expect to happen, so without the image...
2. The root Plugins page at the t

[2022-01-15 16:18] brisvag commented on #3934
Dang it :) I'll take a look, but I'm not sure I can do something before release!

[2022-01-15 16:58] brisvag commented on #3934
So basically the problem here seems to be that `None` is (rightfully?) not considered iterable. This means that `[iterable, None]` is not a "sequence of iterables`, and therefore it is passed as a whole to every slice of the stack. Instead, what we want is to pass `iterable` to slice 0, and `None` to slice 1.

Should we simply add a special case for `None`?

[2022-01-15 17:20] tlambert03 commented on #3934
exactly right.  The function name is now doing exactly what it says, but the usage of the function (in `add_image()`) wants some special cases for null values.

If it's easy enough to keep all of the current tests passing, while also making the minimal code in my original post pass, then I'm all for special casing it for now.  `None` is often a special case anyway

[2022-01-15 17:22] brisvag commented on #3934
If #3941 passes all the tests then I'd say we're good to go.

[2022-01-15 17:23] tlambert03 commented on #3940
Hi @psobolewskiPhD, we've got a lot of problems with our docs-publishing pipeline at the moment.  Things work fine locally, and then fail to publish correctly.  We're aware of them, and working on them (see #3930 for discussion).  In the meantime, you might consider just using the "proof of principle" docs I posted in that discussion:

https://napari-docs-example.github.io/plugins/index.html

[2022-01-15 17:26] tlambert03 commented on #3934
thanks!

[2022-01-15 17:47] psobolewskiPhD commented on #3940
Ok, sorry for the dupe/nuisance.
And thanks a ton for that link, it helps **a ton**.
❤️

[2022-01-15 17:47] #3940 closed, assigned to nobody

[2022-01-15 17:50] brisvag commented on #3934
All seems good :)

[2022-01-15 18:10] haesleinhuepf opened #3942 "Available plugins list also shows installed plugins"
## 🐛 Bug

Hi all,

I'm not 100%ly sure if this is a bug or a feature. I'm reporting it and you feel free to close it if this is intentional: The plugins installer shows all plugins in the "Available Plugins" list, also those which are already installed. I think this is new in 0.4.13rc1.

![image](https://user-images.githubusercontent.com/12660498/149632858-a5d75d47-6f06-40a6-82aa-cef07cf8696e.png)

[2022-01-15 18:22] tlambert03 commented on #3942
i noticed this too recently... seems odd to me.  would be nice to fix

[2022-01-15 18:28] haesleinhuepf commented on #3942
Let me try...

[2022-01-15 19:23] haesleinhuepf opened #3944 "API to retrieve a docked widget from the viewer"
## 🚀 Feature
I'd like to ask for an API extension of the viewer window: I would be happy to a) return a list of currently docked widgets and/or b) allow determining if specific widgets are docked already:

a)
[code]

b)
[code]

## Motivation

I casually access `Viewer._dock_widgets` to figure out if specific widgets are already docked to the viewer, before I dock another one. E.g. in [this code in

[2022-01-15 21:06] #3942 closed, assigned to nobody

[2022-01-15 22:06] tlambert03 commented on #3944
yep! definitely need something like this.  Want to give a little thought to exactly what parameters such as `get_widget` method would take.  but fully agree with the need for it.

[2022-01-15 23:24] Czaki opened #3948 "The plugin test fails on assertion introduced in #3890"
## 🐛 Bug

When running test which use `make_napari_viewer` fixture in test of plugin it may end wit error during test teardown.

[code]
https://github.com/4DNucleome/PartSeg/runs/4826354912?check_suite_focus=true#step:8:475

## To Reproduce

Steps to reproduce the behavior:

I do not know exact method, because it happens often with full set of test and rarely with limited set of test.

## Expected

[2022-01-15 23:32] tlambert03 commented on #3948
cc @Carreau

[2022-01-16 00:54] sofroniewn commented on #3948
From zulip chat - i think worst case we just add a warning here instead for now, but let's see what we can do

[2022-01-16 12:04] xcasas opened #3952 "10th layer bug"
## 🐛 Bug

If I add more than 10 layers, then I can still keep seeing the new ones on the menu, but I cannot select them and they will all show as layer 10.

## To Reproduce

Steps to reproduce the behavior:

1. v = napari.view_image(image1)
2. v.add_image(image2)
 Until layer 10, or a for loop with the same image would work too, I guess.

## Expected behavior

Maybe if there is a limit at 10 one s

[2022-01-16 12:09] psobolewskiPhD commented on #3952
`napari: 0.4.7`
Your napari is quite old, current version is 0.4.12 with 0.4.13 nearing release.
I can't reproduce this problem on 0.4.12, so updating napari should solve the problem.

[2022-01-16 12:19] xcasas commented on #3952
Thanks @psobolewskiPhD I confirm that updating napari solved the issue, sorry!

[2022-01-16 12:19] #3952 closed, assigned to nobody

[2022-01-16 14:36] hanjinliu opened #3954 "Progress bar does not quit if new viewer is opened"
## 🐛 Bug

When I use `worker.returned.connect` to open a new viewer, the progress bar in the old viewer kept working after worker finished.
This bug did not happen when I use `v0.4.12`.

## To Reproduce

Steps to reproduce the behavior:

1. create a viewer
[code]
2. start worker
[code]

3. Progress bar is busy.

## Expected behavior

## Environment

 - Please copy and paste the information at napa

[2022-01-16 18:37] sofroniewn opened #3955 "Easy way to create additional viewers from GUI"
## 🚀 Feature

A simple way to create additional viewers from the GUI - for example `cmd+N`.

## Motivation

Multiple viewers is an increasingly common pattern, and we're doing more and more to improve support for it. Having a simple way for GUI users to create additional viewers will ensure that our support becomes 100% and establish the multi-viewer usecase as a first class citizen.

## Alternati

[2022-01-16 18:44] sofroniewn opened #3956 "Allow multiple viewers to be tabbed in the same GUI window"
## 🚀 Feature

The ability to have multiple viewers tabbed in the same GUI window. Note this would be purely additional feature. If someone wants multiple viewers as multiple windows (as they can have now) that would still be possible, but this would give users who want to just have a single window with multiple viewers in multiple tabs that option. The viewers would function the same in both cases

[2022-01-16 18:49] tlambert03 commented on #3955
yep, I'm supportive.  even if we someday move to a single MainWindow model (like photoshop or something), everything we do to support multiple viewer models will still be useful.  The lift required to turn a single window into a multi-viewer environment is far greater than just making sure we handle multiple windows well for now... and I think most of that work translates

[2022-01-16 19:20] sofroniewn commented on #3955
Totally agree - I made #3956 to discuss some of the tabbing considerations separately.

[2022-01-16 19:25] sofroniewn opened #3958 "Modifier to open drag & dropped files in a new viewer"
## 🚀 Feature

When holding a modifier key (such as shift) files that are dragged & dropped into napari will open in a new viewer

## Motivation

As we expand multi-viewer support - see #3955 and #3956 it might be nice to allow for folks to use a modifier key (like shift) while dragging and dropping to tell napari to open their files in a new viewer. This can save them the clicks of having to creat

[2022-01-16 19:29] sofroniewn opened #3959 "Support drag and drop of .py files into viewer"
## 🚀 Feature

Drag and drop of `.py` file into the viewer runs that `.py` file "inside the current viewer(s)". If a modifier key, such as shift is held then it creates new viewer(s) and runs script "inside" those (matching behavior generically proposed in #3958)

## Motivation

It would be nice to support drag and drop of `.py` files, such as our examples, into the viewer. It will make it much eas

[2022-01-16 19:29] tlambert03 commented on #3958
generally supportive, quick note that shift drag currently means "open files as stack"

[2022-01-16 20:04] Czaki commented on #3948
I have finished debbuging and it it turned out that problem is not so big. I put my proposition of solution and longer description in #3960 PR.

[2022-01-17 00:33] #3954 closed, assigned to nobody

[2022-01-17 11:49] kevinyamauchi opened #3962 "Future warning when adding points"
## 🐛 Bug
A Future warning is emitted from pandas when adding points via the GUI.

[code]

![Screenshot 2022-01-17 at 12 45 40](https://user-images.githubusercontent.com/1120672/149769518-784b526d-4a06-416a-88d3-087da4ffa956.png)

## To Reproduce

Steps to reproduce the behavior:

1. Run the `add_points.py` example
2. Add a point via the GUI

## Expected behavior
FutureWarning is not emitted

## En

[2022-01-17 13:53] kolibril13 commented on #3956
What comes into my mind right now:
VS Code has a very versatile tab manager.
![image](https://user-images.githubusercontent.com/44469195/149765747-148e6480-79fe-428c-8228-22399025ec09.png)
Benefits would be:
One can use VS Code shortcuts and the VS Code command palette to switch between tabs, and python code and napari viewer are in one and the same window, so less window clutter on the desktop. O

[2022-01-17 14:22] psobolewskiPhD commented on #3956
Wait, is a napari extension for vs-code possible?!?!
🤯

[2022-01-17 15:35] Czaki commented on #3602
In PartSeg, I have a particular command-line argument `_test`, which performs a basic test of the bundle (with importing modules, creating potentially problematic objects, but without showing a window or starting qt event loop).

Maybe it could be a good starting idea for a testing bundle on CI?

Here is link to my code: https://github.com/4DNucleome/PartSeg/blob/7413e5c60e779a7ae81cbfb061459d4081

[2022-01-17 15:56] goanpeca commented on #3236
These options look great! Thanks @isabela-pf

[2022-01-17 16:57] #3962 closed, assigned to nobody

[2022-01-17 18:55] #3654 closed, assigned to nobody

[2022-01-17 22:23] sofroniewn opened #3968 "Open sample menu data is missing"
## 🐛 Bug

The open sample menu data is missing for me. @tlambert03 can you check if it is there for you too. I just upgraded npe2 / skimage etc. This could be a regression for `0.4.13` that we want to patch right away. Thanks!!

[2022-01-17 22:27] tlambert03 commented on #3968
it's there for me, both in my dev environment and a clean one

[2022-01-17 22:28] sofroniewn commented on #3968
that's a relief - i'll poke around, see if i can make it come back without nuking my env. any guesses what might be going on?

[2022-01-17 22:29] sofroniewn commented on #3968
i'm on `3.7` ....

[2022-01-17 22:35] tlambert03 commented on #3968
still there for me.  can you test a new env?  (that's all I'm doing here...)

[2022-01-17 22:36] sofroniewn commented on #3968
ok, will do, i'm making some vids for tweet series. might take me a bit, but thanks!!

[2022-01-18 04:35] hanjinliu opened #3969 "Min/max values of Iso threshold slider does not match the range of image data"
## 🐛 Bug

3D float image (probably when image contains negative values) does not disappear at `iso_surface=1.0` in `v0.4.13`.

![image](https://user-images.githubusercontent.com/40591297/149871574-b95ecf9b-f7b4-41da-b160-4df2bc8002e4.png)

## To Reproduce

Run following code.

[code]

## Expected behavior

Image should be invisible.

## Environment

[code]

## Additional context

[2022-01-18 09:02] Czaki opened #3970 "Make non deprecated api for `viewer.window.qt_viewer.canvas.background_color_override`"
## 🚀 Feature

as qt_viewer becomes deprecated #3748 there is a need to provide alternative API for `viewer.window.qt_viewer.canvas.background_color_override` introduced in #2270

## Motivation

As there is a problem with an inverted color map there should be an option for overwritten canvas background without creating a new theme.

## Pitch

## Alternatives

## Additional context

[2022-01-18 10:08] Chris-N-K opened #3971 "Napari Info not working in 0.4.13, python 3.10"
## 🐛 Bug

The napari info in the drop down menus does no longer work as of Update 0.4.13

## To Reproduce

Steps to reproduce the behavior:

1. install napari 0.4.13
2. open a viewer: `napari` in command line
3. select Help in the drop down menus and then napari info

## Expected behavior

Show the napari info window:
Version etc.

## Environment

 - Please copy and paste the information at napari

[2022-01-18 11:56] tlambert03 commented on #3971
I was unable to reproduce with
[code]

my suspicion is that this might be a Qt-version specific issue.  Can you tell us what OS you're on, and what PyQt version you ended up with?  (You can get that using `pip list`)

[2022-01-18 12:00] tlambert03 commented on #3971
update, i _was_ able to reproduce using python 3.10 and PyQt5 5.15.2
thanks

[2022-01-18 14:41] ClementCaporal opened #3973 "MultiChannels Volume Rendering support"
Hello!

Bonne année

## 🚀 Feature
lt could be very useful for us to have rudimentary support to render multiple channels volume images in Napari.
Specifically the rendering depends on the values in multiple channels and cannot be achieved easily with blending modes.

## Motivation

This issue came up in the context of my brainbow data. It is a multichannel 3D fluorescence data that we have current

[2022-01-18 16:45] #3971 closed, assigned to nobody

[2022-01-18 17:21] alisterburt commented on #3973
Hi @ClementCaporal - thanks for making an issue, it was great to meet you in the hackathon!

I think we can solve this for your specific application but it's unlikely to become a general purpose feature in napari.

Before we discuss a path forward for this, could you confirm my outline of the problem below?
- you have a dataset with shape (c, d, h, w)
- you want a ray to be cast which samples each

[2022-01-18 17:32] lauramarcos commented on #3968
It is not working for me either in MAC and Windows

MAC:
napari: 0.4.13
Platform: macOS-11.6.2-x86_64-i386-64bit
System: MacOS 11.6.2
Python: 3.9.6 (default, Jul 31 2021, 05:03:56) [Clang 12.0.5 (clang-1205.0.22.9)]
Qt: 5.15.2
PySide2: 5.15.2
NumPy: 1.19.3
SciPy: 1.7.3
Dask: 2022.01.0
VisPy: 0.9.4

OpenGL:
- GL version: 2.1 ATI-4.6.21
- MAX_TEXTURE_SIZE: 16384

Screens:
- screen 1: resolution 1792

[2022-01-18 17:34] tlambert03 commented on #3968
@lauramarcos, do you definitely have scikit-image installed too?

PS. lovely image :)

[2022-01-18 17:34] tlambert03 commented on #3968
and @sofroniewn, were you using pyside?

[2022-01-18 17:38] alisterburt commented on #3969
Hi @hanjinliu

I'm not sure I follow exactly - why should the image be invisible?

[code]
[code]

Setting the iso threshold above the max value in the array gives me an invisible volume

Does this solve your issue?

[2022-01-18 17:48] sofroniewn opened #3975 "GUI element to set layer transforms (scale/ translate)"
## 🚀 Feature

Layer transforms - in particular scale and translate should be settable via GUI elements

## Motivation

GUI users want to be able to set layer scale and translate too.

## Pitch

There should be some dialog, combobox/ textbox? that allows the properties of the layer transforms to be set. these include scale and translate, but could also include rotation, shear, or a full affine

##

[2022-01-18 17:50] sofroniewn commented on #3975
from @tlambert03 in zulip

[2022-01-18 17:56] JoOkuma commented on #3975
I'm in favor of exposing only scale, translation, and maybe rotation. From my experience shear and affine are more complex and are usually computed programmatically.

[2022-01-18 17:56] chili-chiu opened #3976 "Enable shapes layer (right click) > convert to labels"
## 🚀 Feature

Enable shapes layer (right click) > convert to labels so that this function is accessible from GUI directly.

## Pitch

Currently it is accessible through API to generate labels layer from shapes layer through napari.layers.Shapes.to_labels, but the option to access from the shapes layer (right click) > convert to labels is grayed out.
The additional input that might be required is t

[2022-01-18 17:59] lauramarcos commented on #3968
@tlambert03 yeah.. according to the napari help's info I do have it install it in both

WIN
Plugins:
- affinder: 0.2.0
- brainreg: 0.1.2
- btrack-reader: 0.1.0
- console: 0.0.4
- napari-demo: 0.0.2
- ndtiffs: 0.1.2
**- scikit-image**
- svg: 0.1.6

MAC
Plugins:
- brainreg: 0.2.3
- brainreg_standard: 0.2.3
- console: 0.0.4
- ndtiffs: 0.1.2
**- scikit-image**

[2022-01-18 18:04] tlambert03 commented on #3968
huh, I'm really struggling to reproduce this one.  every new environment I try seems to work, pyqt5, pyside2, py37, py39, etc...  will keep digging

[2022-01-18 18:13] psobolewskiPhD commented on #3968
What version of scikit-image? I had something similar happen. I think updating scikit-image fixed it.
Edit: perhaps try installing a plugin that populates that menu? Like pyclesperanto-assistant—maybe a bit heavy for testing...
Wait, LOL, you could use this one from the hackathon:
https://github.com/jdeschamps/napari-sklearn-decomposition
🤣

[2022-01-18 18:17] sofroniewn commented on #3976
This would be great!

[2022-01-18 18:19] sofroniewn commented on #3975
Yeah, I'll flag I think the most challenging aspect of this design will be how to handle the "nD" data case. Do we want one combobox per axis? Can we use a simple QForm? Does the ideal solution for dim < 5 look different then ideal dim >= 5 (h/t @tlambert03). Just some questions that aren't clear to me

[2022-01-18 18:43] sofroniewn commented on #3968
I'm on main and see

[code]

not sure why 0.4.11dev ... i've also got latest npe2 /skimage. i will try clean env

[2022-01-18 18:45] tlambert03 commented on #3968
prolly need to `git fetch --tags`  (since version is based on the tags in your local git branch the last time you ran pip install... it things you're ~110 commits past the last tag, version 0.4.11)

[2022-01-18 18:47] sofroniewn commented on #3968
when i try that i get
[code]
i dunno my env maybe borked

[2022-01-18 18:52] tlambert03 commented on #3968
that's because of the nightly "latest" tag workflow that got set up:

https://github.com/napari/napari/blob/f8a460d561e109bc77d9d4bba72c890eda1f02ae/.github/workflows/make_bundle.yml#L99-L106

not really a big fan of that approach.  So, you need to run `git fetch --tags --force` to bring your tags back in line with remote

[2022-01-18 19:01] tlambert03 commented on #3968
@sofroniewn and @lauramarcos, when you get a moment, can you both give me your full `pip list`

[2022-01-18 19:02] tdmorello opened #3977 "horizontal/vertical shapes scaling does not work"
## 🐛 Bug

After drawing a shape on a shapes layer there are markers/anchors to grab and scale the shape. The markers at the corners, appropriately change the size of the shape,  but the markers on the tops and sides (scaling constrained to vertical and horizontal) do not work.

## To Reproduce

Steps to reproduce the behavior:

1. Draw a shape on a shapes layer.
2. Click and drag an anchor to scal

[2022-01-18 19:17] tlambert03 commented on #3968
I just ran the following code with multiple python/qt combinations, on two mac computers (12.1 and 10.15.7), and still haven't found a combination that repeats the problem.  Please do confirm that you've both tried new environments:

[code]

[2022-01-18 19:28] tlambert03 commented on #3976
added in #3978

[2022-01-18 19:29] lauramarcos commented on #3968
I didnt use code to install napari but the installers... also, i am using Mac version Big sur (11.6.2), how can i get you the pip list? @tlambert03

[2022-01-18 19:40] tlambert03 commented on #3968
ah, ok... let's not worry about that for the moment.  let's see if we can determine the problem outside of the bundle before addressing the bundle

[2022-01-18 19:48] psobolewskiPhD commented on #3977
That's wierd, cause it works for polygons, but not rectangles (also on 0.4.13).
BTW: am I the only one ('cause of arm64?) that gets the divide by zero on making a new  (empty) shapes layer? https://github.com/napari/napari/issues/3568
@tdmorello you're also on 0.4.13, also on macOS 12.1, same vispy... you're env looks identical to mine:
[code]

Just I'm -arm64. Do you get that warning?

[2022-01-18 19:59] tlambert03 commented on #3968
actually... maybe scratch that :joy: I _can_ reproduce in the bundle... and it will likely help figure it out :)

[2022-01-18 20:12] tlambert03 commented on #3968
ok, in the bundle I see what the problem is (not sure this is what @sofroniewn is seeing, but we can check):

In the bundle, if you open the napari console and run
[code]
you'll get an empty list (it's not finding any entry points for the bundled napari library).  indeed, there's no `entry_points.txt` file in `napari/Contents/Resources/app/napari-0.4.13-dist-info` where it should be.  (need to go

[2022-01-18 20:13] tlambert03 commented on #3968
@sofroniewn can you run the code above and see what you get?  (but first, try a fresh environment... if that fixes it, don't bother)

note, if you're on python 3.7 you'll need:
[code]

and then if nothing, print out `sys.path` ... and then look in your repo's `napari.egg-info` folder (assuming you installed with `pip install -e .`) and check for the `entry_points.txt` file

[2022-01-18 20:20] chili-chiu commented on #2353
Perhaps adding a "select all" icon to Points layer would be a safer way to implement this feature.

[2022-01-18 20:41] jaimergp commented on #3968
I check the logs for the bundle building and can't see anything obviously wrong in there :/

[2022-01-18 20:42] tlambert03 commented on #3968
thanks for looking!

[2022-01-18 20:46] jaimergp commented on #3968
The briefcase versions (the app itself, but also the templates and support packages) haven't changed for a few weeks, so that's not it either...?

[2022-01-18 22:28] psobolewskiPhD commented on #2353
or a select all keyboard shortcut at least.
Command/Control-A is the default in most software, but does not appear to do anything with some points made, but not selected, in napari.

[2022-01-18 23:27] tlambert03 commented on #3968
ok, I went back quite a ways and it looks like briefcase has never included the entry_points of the package it's installing... which is unfortunate :/

I guess we'll have to special case this in the bundle process

[2022-01-19 00:48] tlambert03 commented on #3968
@lauramarcos, your problem should be in the nightly build after #3982 merges ... @sofroniewn, not sure about yours, lemme know about the new env testing

[2022-01-19 02:54] hanjinliu commented on #3969
Sorry @alisterburt, I was getting wrong about the parameter...
The true problem is the maximum value of iso threshold slider does not match the maximum intensity of image.

After running

[code]

and manually set viewer to 3D mode/iso-surface rendering, the maximum value of `iso_threshold` is 1.0.

[2022-01-19 11:01] will-moore commented on #1701
I'm looking for a way to pass units to napari when [opening an image via a plugin](https://github.com/ome/napari-ome-zarr/pull/31) and it looks like this issue is it.

So the plugin could return?
[code]
Thanks!

[2022-01-19 11:52] jaimergp commented on #3968
FYI, conda bundles for post 0.4.13 do not exhibit this issue:

![image](https://user-images.githubusercontent.com/2559438/150124419-22cd23f1-87a6-4471-a77e-8118216673b0.png)

[code]

No clue why the `scikit-image` plugin version is the same as napari there though?

[2022-01-19 12:51] tlambert03 commented on #3968
That's good, and I'm not surprised.  The lack of the entry_points file in the briefcase bundle is very strange 🤔

Don't worry about scikit image, that's a (confusing) idiosyncrasy of the fact that napari provides that plugin itself

[2022-01-19 13:04] ClementCaporal commented on #3973
Hello,

Thank you for your answer.

- I confirm your problem outline.
- Concerning the raycasting loop, for the step number 6 I suppose it could depend on the "rendering" used by the user. (MIP, attenuated MIP...)

I tried to precompute the image. In my case it is selecting a certain range of ratios of three channels. (It can be visualize as selecting a color range in a hsv representation)

From
!

[2022-01-19 13:07] tlambert03 opened #3983 "The close button on dock widgets is gone, only hide is there"
## 🐛 Bug
Not sure if it was intentional (maybe a miscommunication) or an oversight, but the x at the top left of dock widgets is gone.  I think we should go back to having an x icon (close the dock widget and destroy the instance).  a hide (eye) icon (hide the dock widget but don't destroy it).  and the icon that pops it out of the dock

[2022-01-19 13:46] tlambert03 opened #3984 "Add layerlist events to docs"
## 🧰 Task
Note to self (or anyone who'd like to take it up), we need to add `LayerList` events to the events reference at https://napari.org/guides/stable/events_reference.html

[2022-01-19 14:57] psobolewskiPhD commented on #3983
Curious: if the x—destroy—function was there, would it be possible to test changes to plugin widgets (installed in editable mode) by relaunching the plugin/widget?
I've been relaunching napari...

[2022-01-19 15:01] tlambert03 commented on #3983
this is more complicated.  The issue here is that once python imports a module, it will not reimport it (even if you've made changes to it) without specific "reload" instructions (https://docs.python.org/3/library/importlib.html#importlib.reload)

so, the answer to your question is "kinda sorta, depending on exactly how you set it up".  I would encourage you to familiarize yourself with IPython's

[2022-01-19 15:23] SebastienTs opened #3986 "OSError: exception: access violation reading 0x000000000000001C"
When loading image layers I occasionaly get this exception (a priori not image dependent since the same image "often" loads fine):

OSError: exception: access violation reading 0x000000000000001C
C:\Anaconda\envs\napari-env\lib\site-packages\vispy\gloo\gl\_gl2.py in glDrawArrays(mode=GL_TRIANGLES, first=0, count=6)
    413     except AttributeError:
    414         nativefunc = glDrawArrays._nativ

[2022-01-19 17:21] kolibril13 opened #3987 "Option to define on which monitor napari will be shown."
## 🚀 Feature

It would be nice to have the option to open the napari viewer on a specific screen (first, second, third screen etc.).

## Pitch

Specifying the display number could be an extra parameter in the resize function:
https://github.com/napari/napari/blob/main/napari/_qt/qt_main_window.py#L993
like `viewer.window.resize(700, 700, display_num = 2) `
On Stack Overflow, I've already found thi

[2022-01-19 17:33] sofroniewn commented on #1701
I think we never actually added unit support here, but maybe now is a good time to pick this up again!

[2022-01-19 17:34] sofroniewn commented on #1701
cc @andy-sweet and @tlambert03 who might be interested in this

[2022-01-19 18:29] alonyan opened #3988 "Float dtypes no longer work on some hardware (without float textures) as of 0.4.13"
## 🐛 Bug
Hi All, Just upgraded to 0.4.13 and got some unpleasant bug. If I try to add an image layer and the underlying data is not an integer I get a black napari and the attached traceback. Same code works well on previous versions.

## To Reproduce

Steps to reproduce the behavior:
img is a numpy array
1. `viewer.add_image(img.astype('float'))`

<img width="712" alt="Screen Shot 2022-01-19 at 1

[2022-01-19 18:58] kevinyamauchi opened #3989 "[RFC] napari release schedule"
## 🧰 Task
In the Jan 19, 2022 community meeting, we discussed formalizing the release schedule for napari. I have created this issue to record the main discussion points.

- For users, it is important to know when a feature that has been merged into main will be released
- For plugin developers, it is important to have enough time to properly test a new release against their plugins
- For plugin d

[2022-01-19 19:11] tlambert03 commented on #3988
Tried to copy your env as closely as possible (on a mac though, which is a big caveat), and couldn't reproduce.

Can you perhaps give us a bit more info on your `img` object?  Shape & dtype?
If you haven't already, could you do us a favor and check in a fresh conda environment?

[2022-01-19 19:13] tlambert03 commented on #3988
one thing I'm wondering: I believe this is the first release using float textures directly on the GPU (instead of downscaling first to 8 bit).  So, depending on the size of your volume, it's conceivable that it's exceeding your GPU vram whereas 0.4.12 wasn't.  @brisvag, do you know how that error is going to manifest itself?  (I don't think it would look like this, but not sure).

[2022-01-19 19:30] alonyan commented on #3988
Hi Talley, Thanks for looking into this.

Made a fresh environment with nothing but napari.

`img = np.ones((3,3), dtype=float)`

still getting the same behavior and traceback.

[2022-01-19 19:31] tlambert03 commented on #3988
this is on the cluster I assume right?

[2022-01-19 19:34] alonyan commented on #3988
Not really. It's a server that's running CentOS but isn't a part of a bigger cluster.

[2022-01-19 19:34] DragaDoncila commented on #3989
I'm +1 on the proposal. In particular I would love to be able to schedule testing the RC regularly. I'm always frustrated when the release timing doesn't line up and I don't get a chance to test.

This could also help the CZI team schedule testing time and/or more dedicated bug fix and review time.

[2022-01-19 20:06] tlambert03 commented on #3988
gotcha.  I guess my suspicion then is perhaps on `GL version: 2.1 Mesa 18.3.4` ...
@djhoese, do you have any thoughts?  summary: 0.4.13 is the first release to include all the changes to support float textures in vispy.  and we do use `texture_format='auto'` by default (still need a way to expose that to the napari user).  @alonyan is now seeing a `GL_INVALID_VALUE` error when drawing the canvas w

[2022-01-19 20:12] djhoese commented on #3988
Yeah that GL version is not promising. Check:

[code]

See https://stackoverflow.com/a/1937600/433202

[2022-01-19 20:14] tlambert03 commented on #3988
thanks!  as a bare minimum, it seems like we'll definitely want to expose that `texture_format` kwarg somehow

[2022-01-19 20:39] tlambert03 commented on #3988
@djhoese, one more q: do you think it would make sense, either in napari or in vispy, to have `texture_format='auto'` fall back to the old 8bit method if `"texture_float"` is not in the GL extensions?

[2022-01-19 21:06] tlambert03 commented on #3988
in direct communication, can confirm that @alonyan's config doesn't support float textures,  here's the full output of `vispy.sys_info()`

<details>

[code]

</details>

one solution would be to fall back to `texture_format=None` if we detect that `texture_float` is not present in the user's GL extensions, but we should check whether @djhoese thinks that should happen on the vispy side or not

[2022-01-19 21:35] djhoese commented on #3988
It wouldn't be terrible for it to be added to vispy, but since the default is already 8-bit maybe this should be a downstream (napari) check? Eh I guess a nice loud warning would work in vispy and force it to legacy 8-bit mode. However, that doesn't really help in the cases where napari might be making the user think that everything is working fine, but their output isn't as they expect. Napari wo

[2022-01-19 21:47] tlambert03 commented on #3988
thanks for your input @djhoese, yeah, it's tricky.  While `texture_format='auto'` does imply some degree of magic (implying that auto-avoiding float textures would be ok to do on the vispy side), it doesn't jive with the docstring: "``'auto'`` which will use the data type of the provided image data to determine the internal format of the texture." ...

so I can certainly see an argument either way

[2022-01-19 22:37] jni commented on #3969
Ok so the problem is a UI/UX question. Perhaps we should rename this issue or create a new one? "Iso threshold does not correspond to full range of data"? An "easy" solution would be for the endpoints of the iso-threshold to correspond to the contrast_limits_range? Or just the contrast limits?

[2022-01-20 00:11] sofroniewn commented on #3930
The docs working group met to today to discuss this proposal. In attendance was @jni @tlambert03 @codemonkey800 @DragaDoncila @chili-chiu @nclack @dgmccart and @tdimino

To summarize:

1) A desirable goal is a pip installable package that comes pre-bundled with all of the javascript libraries it needs and doesn't require a local node environment to render the site.

2) Another goal is to improve t

[2022-01-20 00:26] chili-chiu opened #3991 "update API reference page to include public APIs used in examples folder"
## 📚 Documentation

experimental_clipping_plane (in API reference but very little info)
from: clipping_planes_interactive.py

napari.utils.transforms (not in API reference)
from: interaction_box_image.py

napari.experimental.link_layers (not in API reference)
from: linked_layers.py

napari.utils.theme (not in API reference)
from: new_theme.py

naapri.Viewer.scale_bar (not in API reference)
from: s

[2022-01-20 00:29] andy-sweet opened #3992 "Use StringEncoding in TextManager"
This issue introduces the `StringEncoding` described in the following design doc: https://hackmd.io/Ybil_epnQPiBczPcbGRqCw?view

It adds the ability to define constant, manual, direct, and formatted string encodings in `TextManager`. This is related to #3053 and should close it when done.

[2022-01-20 01:31] jni opened #3993 "viewer.layers should have a .sort() method"
## 🚀 Feature

LayerList, and our EventedList more generally, is supposed to implement the Python list [API](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists), but it is currently missing a sort method.

## Motivation

This was originally motivated by [this imagesc question](https://forum.image.sc/t/napari-change-order-of-multiple-viewer-layers/62130), even though it ultimately

[2022-01-20 10:33] hanjinliu commented on #3969
Thanks @jni, I've changed the title.
As far as I tested, the problem did not happen in `0.4.12` so it could be due to some changes in `0.4.13`.

In my opinion. linking `iso_threshold` to one of those contrast limit variables could be confusing. Let's say I moved the lower bound from 0 to 10 and back to 0, then the surface will look different if iso_threshold=5. But I also understand adjusting `iso

[2022-01-20 11:06] psobolewskiPhD commented on #3989
I wonder, is there some automated way to mark a merged PR as released? I just found a PR by googling some thing and then wasn't sure if it was live—it was just a few days old. I checked the release notes and found it, but it would be cool if it was in the PR somewhere `released 0.4.9` or `released 0.4.13`.

[2022-01-20 12:55] #3976 closed, assigned to nobody

[2022-01-20 13:09] RobAnKo opened #3994 "Brush size keybinding"
## 🚀 Feature

Keybinding to change label paint brush size.
## Motivation

During labeling, I usually completely label each object (cell, cell colony, etc) before moving to another. To do so I label the coarse structure of the object first, using little zoom ("overview mode"). Then, I zoom in to label the finer details of the object (rim areas, branches, string-like features), before I switch to th

[2022-01-20 17:04] JoOkuma commented on #3944
I really like the idea, I think that querying using the class could be better than using the string with the plugin name and class.
However, I can think of some cases where the user would prefer to `type(widget) is Widget` rather than `isinstance`.

[2022-01-20 17:46] alisterburt commented on #3989
Also +1 on the proposal from me. My only concern is that 2 months is a long time if we have regressions which make it through the RC process.

Allowing for possibility of smaller bugfix releases in that case would get around this quite nicely, thoughts?

[2022-01-20 17:50] alisterburt commented on #3989
I don't know if a way exists but it shouldn't be too hard to hook one up - we would need to compare the datetime of the merge commit in main with the datetime of the last release on the repo. Could then have `released`/`not released` tags on the PR itself?

[2022-01-20 19:08] tlambert03 commented on #3944
also, querying using class will only work for custom QWidget subclasses... not magicgui's (which are all `FunctionGui` instances)

[2022-01-20 19:25] codemonkey800 commented on #3930
@jni @tlambert03 @sofroniewn should the theme live in it's own repo `napari/napari-sphinx-theme` or be in the same repo as the docs? having it in the same repo would make some aspects of development simpler, but we can work around it otherwise if separate repos is preferred

[2022-01-20 19:42] melissawm commented on #3529
I'll try and summarize the situation.

### Current situation:

- API documentation, how-tos, explanations live in napari/napari (all under the `docs/` folder)
- Tutorials and theme sources live in napari/napari.github.io
- All of the contents under the `napari/napari/docs/` folder are copied over to napari/napari.github.io, built with the theme and served on napari.org

### Problems with the curre

[2022-01-20 20:32] melissawm commented on #3529
### About using git-lfs for image hosting

[git-lfs](https://git-lfs.github.com/) allows images to be checked in to a github repository and versioned as usual, without increasing repo size. This is achieved through replacing the actual image file with a text-file containing only a reference to it. The image files are automatically hosted in the cloud.

Here's what napari maintainers would have to

[2022-01-20 20:34] melissawm commented on #3930
I think the pip-installable theme is the best way to go :+1: There is still the question of image hosting and docs source location. I added a comment to explain what adopting git-lfs would mean for napari here: https://github.com/napari/napari/issues/3529#issuecomment-1017904329

[2022-01-20 21:18] brisvag opened #3995 "Per-point edge_width"
## 🚀 Feature
Just like for `size`, vispy passes `edge_width` as an attribute in the vertex buffer. This means that we could expose it in napari as an array, not just a single value. This would require copying the logic for slicing from `size`, but should be pretty straight forward.

[2022-01-20 21:20] #3988 closed, assigned to nobody

[2022-01-20 21:51] alisterburt commented on #3994
Hi @RobAnKo ! Thanks for opening this issue. Really nice idea, I've felt the need for this before too and am surprised there's no issue already for this 🙂

I feel a slight preference to follow the convention of photoshop and use `[` `]` to change the size rather than `e`/`q` - maybe this isn't as pervasive as I think though, thoughts @jni @kevinyamauchi @tlambert03 ?

In terms of next steps, a PR

[2022-01-20 22:11] tlambert03 commented on #3529
the demo is super useful.  thanks so much @melissawm.  I would be happy with this (assuming we can get `git clone` to fail gracefully if lfs isn't installed).

before we go with this, we should probably also have a payment plan in place.  From the [billing docs](https://docs.github.com/en/repositories/working-with-files/managing-large-files/about-storage-and-bandwidth-usage):

so, with our tutoria

[2022-01-20 22:22] tlambert03 commented on #3994
yes, love this.  can't tell you how many times I've pressed `[` or `]` from photoshop muscle memory (I have also found myself using `ctrl`+`option`+drag left/right ... which also works to change brush size in photoshop.  either/both would be awesome :)

[2022-01-20 22:35] alisterburt commented on #3529
One thing to note here re billing/payment is that LFS tracked files in forks are also counted against the owners quota

@brisvag correct me if I'm misremembering?

[2022-01-20 22:42] brisvag commented on #3529
I think you're right... It;s somewhere in github's wiki about LFS!

[2022-01-20 23:26] isabela-pf commented on #3975
Thanks for the @! I'm totally unfamiliar with this part of napari, so I've been reading the docs to get a better sense of layers and these transformations. I first have some questions to make sure I'm working in the right direction.

1. In the pitch, @sofroniewn mentioned that

Is there a reason this needs to be outside of the layer controls (maybe the "nD" case you mentioned above where it could

[2022-01-20 23:33] andy-sweet commented on #3529
Thanks for all the info @melissawm!

One other thing I've been thinking about is how to remove `git-lfs` from a repo, if we wanted to use an alternate approach in the future. And what are the implications of doing that? E.g. what happens if I refer to a file tracked with git-lfs after it has been removed from a repo?

[2022-01-20 23:43] andy-sweet commented on #3975
They get default identity-like values if they are not specified. E.g. `image = Image(np.ones((64, 128))` will create a 2D image layer where `image.translate == [0, 0]` and `image.scale == [1, 1]`.

Yes, there's a translation value per dimension.

No units (yet). The translations are actually relative to a fixed origin that all layers share - each layer's translation values kind of specifies an ori

[2022-01-20 23:59] neuromusic commented on #3930
As a path forward, discussed with @sofroniewn @justinelarsen & @jni and we propose the following...

1. Move forward to implement a new sphinx theme that will live in napari/napari-sphinx-theme that will implement the aspects of the current designs for napari.org that are meeting the needs of the community. We suspect the best path forward will be to start with a hard fork of furo or pydata as nec

[2022-01-21 00:57] melissawm commented on #3529
@andy-sweet as far as I understand it, you should not care where the files are - you can refer to them by their usual filename and the whole git-lfs machinery is supposed to be invisible. If you want to download all files checked in to git-lfs, you can use `git lfs pull`, remove the .gitattributes details, uninstall lfs and check the files normally back to the repo.

[2022-01-21 00:58] melissawm commented on #3529
@andy-sweet as far as I understand it, you should not care where the files are - you can refer to them by their usual filename and the whole git-lfs machinery is supposed to be invisible. If you want to get all files checked in to git-lfs locally, you can use `git lfs pull`, remove the .gitattributes details, uninstall lfs and check the files normally back to the repo.

[2022-01-21 01:07] sofroniewn commented on #3930
There was further discussion of this topic at the community meeting today with @melissawm @DragaDoncila @liaprins-czi @codemonkey800 present too and weighing in.

It was agreed that there would be high-value in @codemonkey800 exploring a hard-fork of furo and how to bring that inline with the overall look and feel of the designs of @liaprins-czi while preserving the defaults for the API reference

[2022-01-21 14:38] RobAnKo commented on #3994
Thanks for your responses, glad to hear the initial approval :+1:

Based on what I've seen in the code, to make the customizable shortcut appear in  `Preferences -> Shortcuts -> Group: Labels layer`, we should use the `register_label_action` decorator in napari/layers/labels/_labels_key_bindings.py like so (using a basic function without any hold functionality for now)
[code]
 and add the default

[2022-01-21 15:13] alonyan opened #3998 "Play button sticks if all layers are deleted while playing"
## 🐛 Bug

Play/Stop stops working if layer is deleted while playing

## To Reproduce

Steps to reproduce the behavior:

1. add stack of images as an image layer
2. hit play, then while playing delete the layer
3. add stack of images again

## Expected behavior

Play/Stop button should function normally after removing an image layer while playing

## Environment
napari: 0.4.13
Platform: Linux-3.10.

[2022-01-21 15:32] tlambert03 commented on #3994
yes, if you follow the pattern for the other default keybindings.  I believe the pattern you'll want is something like
- add 2 functions to `_labels_key_bindings.py` that changes brush size either direction
- decorate them with `@register_label_action`, following the pattern
- add them to `napari.utils.shortcuts.default_shortcuts`

[2022-01-21 15:52] kevinyamauchi commented on #3994
+1 I would find this very useful!

[2022-01-21 18:12] tlambert03 commented on #3983
@ppwadhwa, could you have a look at this?

[2022-01-22 05:58] sofroniewn commented on #3975
Yeah my fear here is that the layer controls will just get too long and crowded. This is also functionality that will work with all of our layer types. We might need a new "transform widget"

[2022-01-22 14:13] tlambert03 opened #4000 "Proposal: remove plugin call order preference"
## 🧰 Task

I want to propose that we remove plugin call order from the settings altogether and move entirely to the logic that @DragaDoncila started in #3799.  It's less "powerful", in that it doesn't traverse a set of potential plugins, but it's _far_ easier to reason about.  The user gets a choice up front, they pick one, and then it either fails or it doesn't.  No need for an order.

Morever, n

[2022-01-22 17:18] sofroniewn commented on #4000
I'm supportive of this change, good idea. Do we need to consider the situation for writer plugins too and make a similar writer -> file ending default list? Do we need to address that first?

that's a nice idea too.

I'd like to hear what the others think before pressing on, but makes sense to me

[2022-01-23 03:26] DragaDoncila commented on #4000
I'm +1 on this, and I like the idea for the override too.

I think an association for writers could work for single layers? But for multiple layers I feel like associating would be tricky and you'd be better off just letting the user pick out of compatible ones in the file dialog like they do now.

[2022-01-23 04:56] chili-chiu commented on #3968
I can reproduce the same issue (sample menu data missing) with bundled app installation on mac with napari: 0.4.13.

I tried the nightly build (napari: 0.4.14.dev10+ga699309f) which does bring the sample menu data back, but when clicking on Cells (3D+2Ch), it produces the following error:

ModuleNotFoundError: The requested file is part of the scikit-image distribution, but requires the installati

[2022-01-23 08:09] haesleinhuepf opened #4002 "layer.current_3d_data"
## 🚀 Feature
Hi all,

I'd like to request/suggest a new feature: A function decorator and/or property of any layer that returns the currently selected 3d dataset.

Potential interfaces:
[code]

[code]

[code]

## Motivation

In practically applied volumetric image processing, there are many applications for 3D filters. Even though libraries such as SciPy support nD filters, 3D filters are more com

[2022-01-23 11:10] jni commented on #4002
@haesleinhuepf I feel your pain, but I hope that we can fix this as we work on asynchronous slicing, which will require a functional API for slicing, something along the lines of

[code]

The sliced layer object would be guaranteed to be 2D or 3D, depending on the indices.

I do see your point about the view and the processing not necessarily matching in dimension. Will think about the best API fo

[2022-01-23 11:14] jni commented on #4000
+1 from me too

[2022-01-23 13:10] tlambert03 commented on #3968
Sounds like we just need to add pooch to the bundle deps

[2022-01-23 16:46] haesleinhuepf commented on #4002
No pain on my side. Everything works fine right now. I just opened this feature-request because I experience that others want to use my stuff more flexibly. I'm happy to help making it happen, but there's not hurry from my side. :-)

[2022-01-23 20:27] ptbrown1729 opened #4004 "icons do not show up when starting napari with plugin from command line"
## 🐛 Bug

When I try and start napari from the command line with a plugin using the `-w` option the icons for the various buttons  (e.g. layers buttons, toggle n-display, etc) are not shown. Instead there are blank square placeholders. also do not show any icons. On the other hand, if I first launch napari, and then launch the plugin from the GUI the icons show up as expected.

## To Reproduce

St

[2022-01-23 20:28] psobolewskiPhD commented on #3568
FYI: I still get this in a new conda env (pyqt via andfoy, rest conda-forge python 3.9.9, but arm64 macOS).
Easy reproducer:
[code]

Here's the napari info:
[code]

[2022-01-23 20:46] ptbrown1729 commented on #4004
Per @tlambert03 suggestion, I created a fresh environment (see below) and I see the same behavior as mentioned above
[code]

[2022-01-23 20:48] tlambert03 commented on #4004
OK, i was able to recreate this, but only on windows... and it _is_ a `napari micromanager` problem actually:

in a new env, just install napari and napari-j
[code]

this works fine
[code]

now just install napari-micromanager, and retry
[code]

no icons...

A little backstory, napari-micromanager uses Qt `.ui` files to generate the gui.  Presumably when napari starts up, it loads all plugins (inc

[2022-01-23 20:48] #4004 closed, assigned to nobody

[2022-01-23 20:56] ptbrown1729 commented on #4004
Following those steps also recovered the icons for me. Ok, I guess it is a napari-micromanager issue and not a napari issue

[2022-01-23 21:03] tlambert03 commented on #4004
moreover, it somehow seems to only happen with the qt distribution (not just version) on conda forge:

this works fine

[code]

even if I downgrade pyqt to <5.13 to match the newest version on conda it still works...

[2022-01-23 23:49] sofroniewn commented on #4000
Sounds like this has the green light @tlambert03 🚀

[2022-01-24 05:58] perlman commented on #4002
@jni You've sold me on slicing. ;)

Why make this guarantee? The indices could specify nD. (But not when using the current view obviously.)

[2022-01-24 18:00] alisterburt commented on #3973
thanks for the extra explanation @ClementCaporal - it's really useful!

This is a really interesting use case but will require quite a lot of work and I'm not sure if it would be something general enough to be made available in napari straight away

The 'on the gpu' solution will involve modifying the [vispy volume visual](https://github.com/vispy/vispy/blob/main/vispy/visuals/volume.py) to accept

[2022-01-25 01:57] jni commented on #4002
Good point @perlman !

[2022-01-25 13:43] tlambert03 opened #4008 "Drop python 3.7?"
## 🧰 Task
How does everyone feel about dropping python 3.7?

We had previously discussed following [NEP29](https://numpy.org/neps/nep-0029-deprecation_policy.html) which:

with a proposed support table of

Date | Python | NumPy
-- | -- | --
Jul 26, 2021 | 3.7+ | 1.18+
Dec 22, 2021 | 3.7+ | 1.19+
Dec 26, 2021 | 3.8+ | 1.19+
Jun 21, 2022 | 3.8+ | 1.20+
Apr 14, 2023 | 3.9+ | 1.20+

with 3.8, we could

[2022-01-25 18:09] sofroniewn commented on #4008
Looks like it is time! I'm +1.

Have there been any major regressions we have caught since our release last week that means we need a bug fix in the next couple of days? I don't think so - in which case I'm good with dropping and then having 0.4.14 being first 3.8+ release in March. If we want to do a bug fix release this week then we should do that first and then drop 3.7.

What do @napari/core-d

[2022-01-25 18:10] #3983 closed, assigned to ppwadhwa

[2022-01-25 18:16] tlambert03 commented on #4008
I like a bug fix first and soon, then drop 3.7 on the following one

[2022-01-25 18:17] tlambert03 commented on #4008
I think #3988 is a somewhat big bug fix that should be released soon

[2022-01-25 18:31] sofroniewn opened #4009 "Vectors with endpoints/ multiple points API"
## 🚀 Feature

Should we expand the vectors API to add

1. Support for passing start point and end point as an `Nx2xD` array. Right now we only support start point + vector. We'd need to add a kwarg such as `as_points` to the API.

2.  Support for passing multiple points as an `NxCxD` array. Where `C` represents the length of the longest multiline. If you wanted to have some lines longer than other

[2022-01-25 19:41] sofroniewn commented on #4008
Sounds good. I have started a [zulip topic](https://napari.zulipchat.com/#narrow/stream/215289-release/topic/0.2E4.2E14/near/269312045) to discuss `0.4.14` more

[2022-01-25 20:29] kevinyamauchi commented on #4008
I am +1 on dropping python 3.7!

[2022-01-25 20:52] #3948 closed, assigned to nobody

[2022-01-25 20:55] Czaki commented on #4008
There is one big question. If released with drop python 3.7 will be 0.4.15 or 0.5.0. If 0.5.0 then part of deprecations should be postponed, as there are still open issues, for example, #3970 and  #3781 connected with the deprecation of `qt_viewer`.

But I support a drop of python 3.7.

[2022-01-25 21:09] liu-ziyang commented on #4008
that is a great point, we dropped 3.6 with the 0.4 releases, it would make sense to increase the minor version for this breaking change and not backward compatible. I second the 0.5.0 version. And if this makes anything easier, I vote for delaying other deprecations like #3970 or #3781 to 0.5.1

[2022-01-25 21:45] goanpeca opened #4010 "Review the nightly builds for the bundle app"
## 🧰 Task

The bundle app work in  https://github.com/napari/napari/pull/3555/files#diff-afc0068c04c2f82b5ba745d52a251795a27940607f0257cb7861a9d687ab8909R98 is merged is currently building for both PyQt and PySide.

This issue is a reminder to evaluate the need for those in terms of resources and debugging.

[2022-01-25 22:20] sofroniewn commented on #3968
This is now working for me - same env - not sure what changed tbh. we should add pooch to bundle deps. i can make a new issue for that. i will close this one

[2022-01-25 22:20] #3968 closed, assigned to nobody

[2022-01-25 22:21] sofroniewn opened #4011 "Ensure example data works in bundled app"
## 🧰 Task
See discussion in https://github.com/napari/napari/issues/3968#issuecomment-1019482358 for context - we should add pooch to our bundle deps - cc @jaimergp @goanpeca

[2022-01-25 22:32] brisvag commented on #4008
Yes, walrus!

I agree on dropping 3.7. It seems reasonable to do that for 0.5!

[2022-01-25 22:45] sofroniewn commented on #4008
If we move to releasing ~2 months on the second tuesday do we then see `0.5` happening in March, May, or July? Should we try and coordinate other big breaking changes, or just go ahead in March with `0.5`. We can always turn around to do `0.6` as soon as we want after :-)

[2022-01-25 22:46] brisvag commented on #4009
YES, this is great and I don't know why I haven't proposed it earlier, since it seems pretty trivial to implement. @alisterburt  and I have had to juggle with this many times. Support 100%! The only obstacle is the api extension, but I think it's worth it. Something that we need to think about is where the `length` parameter should go in this new world.

This seems pretty cool as well. This doesn'

[2022-01-25 23:22] isabela-pf commented on #3236
I have one more mockup based on more feedback. This round tweaks the previous one, so many of the changes are the same as option 3. I’ll continue numbering it just for clarity’s sake.

Option 4

This version
- Removes the filters (by `all`, `installed only`, `uninstalled only`)
- Adds a divider for the install section to clarify it is its own interaction and will not impact the above list
- Moves

[2022-01-26 00:04] neuromusic commented on #3930
I've created an issue to track the development of the new sphinx theme: https://github.com/napari/napari-sphinx-theme/issues/1

This includes a link to a [Product Spec](https://hackmd.io/R6looyPgR7mNrHmPnPMtLQ?view) for the new sphinx theme. The Tech Spec is in progress & we'll review both at tomorrow's Documentation Working Group meeting, but feel free to review and weigh in on the docs or issue!

[2022-01-26 00:19] isabela-pf commented on #3926
That makes sense @tlambert03. Since I’ve found similar behavior on other software (particularly Photoshop), this “flicker” doesn’t seem like a bad pattern. I agree with that @sofroniewn

Figma avoids this flicker by not using the held command key to trigger the mode since its the basis for many shortcuts. When I click through napari, it seems like holding option or control doesn’t do anything. Wou

[2022-01-26 00:31] jni commented on #3926
@sofroniewn not sure if you're overstating my support. =P Maybe not: I agree that the mode flicker with unrelated shortcuts was bad, and there were some bugs related to its implementation (under some circumstances, the mode would not switch back), but like @tlambert03 says I would have preferred to only remove this behaviour once an alternative was implemented.

Anyway, we're here now. Two alterna

[2022-01-26 00:37] jni commented on #4011
Rather than depending on pooch directly, we should depend on `scikit-image[data]`, since we are using the scikit-image API. I don't anticipate that we will use a different data provider in the future, but we could do so conceivably, so `scikit-image[data]` is "syntactically" the correct dependency.

[2022-01-26 01:48] tlambert03 commented on #3926
there already :joy:

[2022-01-26 01:50] tlambert03 commented on #3930
Thanks @neuromusic and everyone ... feels like we could probably close this issue now?  we've got enough other conversations and goal posts going on at this point.  If anyone wants to reopen that's fine.

[2022-01-26 01:50] #3930 closed, assigned to nobody

[2022-01-26 01:53] tlambert03 commented on #4008
I am fine both with releasing 0.5 just as a py3.7 drop, with 0.5.1 bringing all the other deprecations (as @potating-potato suggested), or just bringing all of our breaking changes together in 0.5.0.  whatever the @napari/core-devs consensus is

[2022-01-26 03:02] sofroniewn commented on #4011
Sounds good - I have changed title of issue to be less proscriptive on how issues gets fixed

[2022-01-26 03:10] sofroniewn commented on #3926
Another option could just be to use another set of keys for "temporary" enable (i.e. as modifiers), `qwert` or something? Holding one will change mode, but releasing returns to previous mode?

[2022-01-26 03:23] jni commented on #3926
@sofroniewn do you see this being easier than having the toggles doing double duty? I find that more intuitive, e.g. holding on a Mac's menubar vs clicking on it.

[2022-01-26 03:26] sofroniewn commented on #3926
The nice thing about `qwert` is that the mode button can change when you're holding so you do get that good visual input in the cases where you want it, but ultimately here I will defer to the ergonomics of what people who are doing this all the time prefer

[2022-01-26 03:36] jni commented on #3926
@sofroniewn but that can happen also with 1, 2, 3, ...? It's just whether it flips back after holding.

[2022-01-26 03:38] tlambert03 commented on #3926
Are we avoiding modifiers because it's harder to implement?  We don't _have_ to change the mode immediately upon pressing the command key right?  It could be in the mouse click event

[2022-01-26 03:40] jni commented on #3926
@tlambert03 yes that's option 1. The nice thing about option 2 is that you *do* get the nice visual feedback. The issue with modifiers is that if you do the visual feedback then you can get it when not intended — when activating other shortcuts.

[2022-01-26 05:31] sofroniewn commented on #3926
1, 2, 3, ... would be permanent flips that happen on press (or release?, shouldn't matter)
q, w, e, .... would be temporary holds that return on release

[2022-01-26 10:22] ViriatoII commented on #1461
The same thing happens to me still. I can change point shapes in the GUI but not their size or face color

[2022-01-26 15:58] neuromusic commented on #3930
Thanks for kicking off this convo @tlambert03!

[2022-01-26 17:20] chili-chiu commented on #3651
Here's the very first attempt:
https://github.com/chili-chiu/napari-tutorial/blob/main/napari%20quick%20start.ipynb

- Not putting it as PR because of some embedded images/gifs, waiting for doc reorg to see how to handle those the best.
- What about changing the title from "napari for beginner" - which focuses on who - to "napari quick start" - which focuses on the task? any preference?
- Python i

[2022-01-26 17:41] andy-sweet commented on #4009
My assumption is that this will be converted/coerced internally though, likely by the existing `fix_data_vectors` function? I.e. the stored type/shape of `Vectors.data` is the `Nx2xD` array that represents the start point and vector and won't change, right?

I think that's fine. The API expansion is only as a parameter for `__init__`, so I also think that's OK. Alternatively, we could define a pub

[2022-01-26 17:54] sofroniewn commented on #1461
@ViriatoII have you selected the points? It's a little confusing unfortunatley that the points must be selected before you can change their color, but their symbol can be changed at any moment (and all the points change symbol at the same time).

See this video where points get selected first:

https://user-images.githubusercontent.com/6531703/151219071-2191c446-aa2e-424c-8189-8229f5a1e406.mov

Ma

[2022-01-26 17:58] alisterburt commented on #4009
I like the utility here but worry that having the same data render different lines might lead to some confusion... the API isn't super intuitive and requires a user to know/understand both possibilities to use the layer properly

This is really great - multilines would be a really nice feature to add

This is my feeling too. Supporting line/multiline in the vectors layer feels a bit strange - woul

[2022-01-26 17:58] chili-chiu commented on #1461
see also https://github.com/napari/napari/issues/2353

[2022-01-27 01:28] DragaDoncila commented on #3868
So I started looking at implementing this, but I actually don't necessarily think we should? I initially opened this issue based on discussion in community meeting, and I think it was @sofroniewn who originally suggested it.

However, working with a clean install of napari now, I think I prefer the existing behavior. The reader dialog only ever pops up when there's a choice to be made. This means

[2022-01-27 01:40] nclack commented on #3868
Seems pretty convincing to me.

[2022-01-27 02:03] DragaDoncila opened #4017 "Source information missing for layers added by non-magicgui widgets"
## 🐛 Bug

When layers are added by a widget inheriting from `QWidget` (rather than a `magicgui` widget), their source information is not populated. I'm not sure if this is strictly a bug or not, but I think if possible, we should add source information for these widgets.

## To Reproduce

Steps to reproduce the behavior:

1. Run this script

[code]
2. Run both widgets in the viewer. Two image laye

[2022-01-27 02:11] sofroniewn commented on #3868
Ok yeah, i have actually given this more thought after I started using the new release too and quite like the current behavior. thanks for looking into it more - i think you've made a pretty compelling case though that we shouldn't do this. curious what others think, but right now i'd be fine with just closing this.

[2022-01-27 02:14] tlambert03 commented on #4017
yeah, not a "bug" per se, but definitely understandably surprising.  The challenge is that there's no direct API for "here's how you add a layer from a QWidget" ... but there _is_ one for "here's how you add from a magicgui".  That is, if there's a return annotation, _we_ add the layer to the viewer for the magicgui widget, so we know exactly where to tag it.  If the QWidget is adding it, we don't

[2022-01-27 02:15] tlambert03 commented on #3868
I like the current behavior too after using it a bit!  thanks @DragaDoncila!

[2022-01-27 02:19] tlambert03 commented on #3868
Btw... do we know what happens if the previously selected plugin has been uninstalled in the meantime?  I forget if that was handled

[2022-01-27 02:32] DragaDoncila commented on #3868
If for whatever reason we can't open the file with the associated plugin, we present the dialog to the user (even if there's only one choice remaining) e.g.

https://user-images.githubusercontent.com/17995243/151281429-b269f2ba-8e8f-47f1-bae0-50c32f551ffe.mov

It's up to them at that stage if they want to overwrite the association with the remaining plugin, cancel the file open and figure out wher

[2022-01-27 02:33] DragaDoncila commented on #3868
Thanks everyone for weighing in. I will leave this issue open overnight in case someone dissents, and will otherwise close tomorrow morning.

[2022-01-27 04:29] evamaxfield commented on #1066
Hey @danielballan!

I think I remember reading your blog post when it first came out but I guess it never _hit_ me until recently.

I am one of the maintainers of [aicsimageio](https://github.com/AllenCellModeling/aicsimageio). We try to act as something described as above but with handling for delayed chunking of microscopy images by dimensions, additional support for access and manipulation of m

[2022-01-27 06:43] jni commented on #4008
I think we could just drop 3.7 on 0.4.15? I don't see this as a big reason to bump to 0.5. Then this doesn't have to affect any of the other deprecations.

[2022-01-27 06:45] jni commented on #3926
Yes, I understand that. I'm saying, we can have:
- 1, 2, 3 change mode on press
- on release, depending on how long we've pressed or whether there were any clicks during the press, we flip back to the original mode, or not.

I really like this pattern in general.

[2022-01-27 10:12] tlambert03 commented on #3926
I like this too, if we can reliably pull it off in code.  Meaning, if it "behaviorally" works well, and the user never has to try twice.

[2022-01-27 14:39] tdmorello commented on #3977
@psobolewskiPhD  Hmm I'm not getting any errors on creating a new shapes layer but I'm on an intel processor.

[2022-01-27 15:53] perlman commented on #4002
@nclack and I were walking through the various forms of slicing in the layers. It looks like `_set_view_slice` generally does the work @haesleinhuepf is asking for.

Would it make sense to refactor this into a more general function? (It obviously won't work as-is, since it's using many layer attributes to do its work.)

[2022-01-27 18:14] psobolewskiPhD opened #4019 "typing_extensions version issue: should be pinned >3.10?"
## 🐛 Bug

Trying to launch `napari` from a conda env with typing_extensions Version: 3.7.4.3
results in an error and napari doesn't launch.

## To Reproduce

Steps to reproduce the behavior:

1. Setup a conda env and install tensorflow following Apple instructions here: https://developer.apple.com/metal/tensorflow-plugin/
2. Install napari using conda:
[code]
3. try to launch napari from terminal.

[2022-01-27 18:30] tlambert03 commented on #4019
That is a superqt issue and was addressed in https://github.com/napari/superqt/pull/46
it's also now in the [conda recipe](https://github.com/conda-forge/superqt-feedstock/blob/master/recipe/meta.yaml#L27) ... so I'm surprised you didn't get it!

[2022-01-27 18:31] tlambert03 commented on #4019
if you just run `conda install superqt` in a new env, what version of typing_extensions do you get

[2022-01-27 18:39] psobolewskiPhD commented on #4019
So in a totally new conda, I get 4.0.1
But in the Apple conda env, which comes with 3.7.4.3 I stay at 3.7.4.3.
If i use pip to install napari then I get 4.0.1 and everything is gucci.

So install tensorflow per Apple, install pyqt via conda -c andfoy, install napari via pip.

[2022-01-27 23:04] #3868 closed, assigned to nobody

[2022-01-28 10:54] alisterburt opened #4023 "Event on point selection change"
## 🚀 Feature
An event we could connect to when the point selection changes

## Motivation
Making point selection changes triggers for custom behaviour in plugins

## Pitch

## Alternatives
There is currently a highlight event we can use but it is less discoverable/intuitive

## Additional context
- This came up when working on point manipulators in napari-threedee
- We might be able to use our exi

[2022-01-28 18:13] #4011 closed, assigned to nobody

[2022-01-28 22:40] tlambert03 commented on #2975
i think we can close this now :)  we done got ourselves a manifest.

[2022-01-28 22:40] #2975 closed, assigned to nobody

[2022-01-28 22:41] tlambert03 commented on #3115
✅

[2022-01-28 22:41] #3115 closed, assigned to nobody

[2022-01-30 15:40] alisterburt opened #4028 "`out_of_slice_display` naming inconsistent between Qt controls and `Points`/`Vectors` layers"
In #4007 `n_dimensional` was refactored to `out_of_slice_display`. The Qt controls for this are named as if the attribute were callled `out_of_slice` - we should fix this inconsistency to avoid any future confusion

cc @brisvag

[2022-01-30 17:14] grlee77 commented on #3984
I am taking a look at this.

Also there is a related issue in that all events corresponding to `_ImageBase` get listed twice since they are present for both Image and Labels classes. As a concrete example, `layer.events.contrast_limits` is listed twice [here](https://napari.org/guides/stable/events_reference.html).

I think in general, it is helpful to have a column listing the layer class that ea

[2022-01-30 20:03] tlambert03 commented on #3984
wow, 100%, I can't believe that slipped by me!

feel free to ping if I can help

[2022-01-31 09:41] ViriatoII commented on #1461
@sofroniewn  and @chili-chiu , that's it, thank you. The proposed "select all points" button should help. At the moment zooming out to manually select all points is impractical.

[2022-01-31 12:46] brisvag commented on #4028
Since it was inconsisent before (`n_dimensional` in the code, `ndim` in the gui) I figured it was fine. I think it's more readable as `out_of_slice` in the gui, but I don't feel strongly about this, it's probably better to go for consistency!

[2022-01-31 13:00] RobAnKo commented on #3994
Hey everyone, @MBPhys
we now have a working implementation for key-bound increase/decrease of brush size. :partying_face:

However, there is a bit of an issue with the hold-to-change-continuously functionality in our solution. To allow for autorepeat, we just added our favorite keys (`Q`, `E`, but could be any pair) to the list of special keys in line 482 of key_bindings.py

https://github.com/nap

[2022-01-31 14:41] alisterburt commented on #3994
Amazing @RobAnKo ! Can't wait to get this in 🥳 🚀

I think adding a boolean flag to the `bind_key` method sounds like a great solution - I'm sure some complexity I don't know about will come up but there's only one way to find out! Feel free to ping me here if you run into trouble but it sounds like you're well on your way :)

FYI - we run community meetings where we discuss/demo recent development

[2022-01-31 14:47] RobAnKo commented on #3994
Thanks for the invite! We already connected with some folks on zulip to discuss plugins that we (mainly @MBPhys) developed. I'll definitely join on Wednesday, Marc probably too, depending on his schedule.

[2022-01-31 18:12] aeisenbarth commented on #2314
I would like to extend on this (I was wondering whether to create a new issue, but it would be mostly a duplicate of this).

1. It would be good if plugins can register custom modes on **any layer** type.
2. Custom modes are fundamental so plugins can offer custom interactions, because currently the interactions of default modes cause **conflicts** and cannot be turned off. There is no "no operati

[2022-02-01 14:19] alisterburt commented on #3994
Look forward to seeing you there!

[2022-02-01 17:12] brisvag opened #4035 "examples/points_over_time.py is broken after #3730"
## 🐛 Bug

`git bisect` points to #3730 as the commit that broke the example `points_over_time`. Something is off about the `face_color_mode` and how it's set/reset. It doesn't seem to stick, so as the layer gets updated the face colors do not change. @andy-sweet , any quick idea on where to look for the issue?

## To Reproduce

Run the example and move the dims slider; nothing changes, whereas it

[2022-02-01 17:50] andy-sweet commented on #4035
I knew that the silence after that change was too good to be true :D As noted in the description, PR #3730 breaks a couple of behaviors.

The important one here is that we cannot rely on in-place mutation of `Layer.properties`, which in this example we do with `pts_layer.properties['value'] = np.asarray(values_table[:, column])`. I think it will work sometimes (in the case that `Series.to_numpy()`

[2022-02-01 18:07] andy-sweet commented on #4035
This issue also makes me want to prioritize a more official deprecation of properties, but as we found out, those PRs can get complex. I can probably write a PR to deprecate the `properties` getter/setter, maybe the init parameter, but not the state field, so I will probably try to do that this week.

[2022-02-01 18:18] JoOkuma opened #4036 "Empty name on choose reader npe2 dialog"
## 🐛 Bug

Alternative reader plugin dialog shows no text when `display_name` is not present on the npe2 manifest. When `display_name` is filled that string is shown.

![image](https://user-images.githubusercontent.com/21022743/152026910-28df821c-273f-43dc-9a6d-f3395e3b86ad.png)

This might be the expected behavior, but `display_name` is optional.

## To Reproduce

Steps to reproduce the behavior:

[2022-02-01 22:16] brisvag commented on #4035
I see; yeah this is a bit annoying, I feel like inplace editing is prevalent and important. We definitely need proper deprecation out, which is gonna be tricky indeed :)

I'll let you take care of this for now, since you're more familiar with the quirks, but please let me know if you'd like help!

[2022-02-01 23:25] sofroniewn commented on #3926
Yup, we can try this - we could first just say if hold is longer than 1 second revert (probably hard to get a click off and have hold be less than 1 second), but we can fine tune details - overall i like the idea a lot, good fix that addresses all concerns

[2022-02-01 23:57] DragaDoncila opened #4038 "Threaded `progress` objects get added to `Viewer` before `worker` starts"
## 🐛 Bug

When we create a threaded `progress` bar, the `QtProgressBar` gets added to the `Viewer` when the worker is initialized, not when the worker is started.

## To Reproduce

Steps to reproduce the behavior:

1. Run this script
[code]

2. Observe progress bar in activity dialog and busy indicator in status bar

## Expected behavior

The `progress` object should only be added to the viewer wh

[2022-02-02 17:15] sofroniewn commented on #3975
@MBPhys has done some cool work on cropping/ adjusting scales/ translates here https://www.napari-hub.org/plugins/napari-nd-cropper we should maybe think about folding this into core or make people aware of this. See the widget on the right. It scales to nD too I think - @MBPhys let me know what you think

<img width="1112" alt="Screen Shot 2022-02-02 at 9 10 29 AM" src="https://user-images.github

[2022-02-03 00:11] maweigert opened #4042 "points layer ignores symbol"
## 🐛 Bug

Constructing a points layer with a non-disc marker symbol currently results in the default (disc) marker being used instead.

## To Reproduce

[code]

<img width="260" alt="img" src="https://user-images.githubusercontent.com/11042162/152258845-53a6320f-9301-4418-ac0b-012bf4f495d6.png">

## Environment

Happens in napari `0.4.13` on both MacOS and Linux.

Git blame points to commit b54054

[2022-02-03 10:19] alisterburt commented on #4042
thanks for the detailed report @maweigert !

[2022-02-03 10:29] alisterburt opened #4044 "release notes are incorrectly ordered on napari.org"
## 📚 Documentation
the release notes are not displayed in date order on the docs, noticed by @uschmidt83 on zulip

![image](https://user-images.githubusercontent.com/7307488/152325384-c75c8643-de92-4154-a7b4-ff3fc5172300.png)

[2022-02-03 12:30] maweigert commented on #4042
Thanks @alisterburt for the fast reponse and @brisvag for the fast PR - should be fixed with it!

[2022-02-03 12:30] #4042 closed, assigned to nobody

[2022-02-03 15:06] tlambert03 commented on #4036
fixed in https://github.com/napari/npe2/pull/92

[2022-02-03 15:06] #4036 closed, assigned to nclack

[2022-02-03 22:59] #3344 closed, assigned to DragaDoncila

[2022-02-04 00:02] isabela-pf commented on #3975
In this comment, I have two things I’m proposing UI for:
1. the new UI needed for translate and scale specifically
2. an updated UI for layer controls (to better accommodate an increasing number of layer controls appearing in the viewer)

## 1. translate and scale UI

Full disclosure, this is the part I’m least confident in. I’ve read what I think are the attributes of each on [the API reference](

[2022-02-04 00:14] Czaki opened #4053 "Frozen requirements for better reproducibility"
## 🚀 Feature

It will be nice if In the napari repository (and sdist uploaded on pypi) there will be some requirements file with exactly pinned versions of all requirements (not only implicit, but also requirements of requirements).

## Motivation

This simplify make reproducible environments if there is a need to setup old version of napari.

## Pitch

Use `pip-compile` or another similar thing t

[2022-02-04 00:17] alisterburt commented on #4053
I'm supportive, it feels like an easy thing to add which is useful. I wonder what @tlambert03 thinks?

[2022-02-04 00:54] tlambert03 commented on #4053
can you clarify how we would determine this?  (i.e. how exactly do you see this as different from our install_requires).   would you want us to perhaps lock the CI environment that was tested on for that given release?

[2022-02-04 01:03] Czaki commented on #4053
install_requires define the only minimal version of explicit package dependecies. Napari dependencies have many other dependencies.

So if one would like to reproduce some old work (using a plugin that is not maintained or breaks backward compatibility), then he needs to install the old napari release. But installing such a release is really painful because one needs to identify which packages nee

[2022-02-04 01:30] isabela-pf commented on #3975
I got feedback on the above proposal at one of the community meetings. Here's a summary:

Decisions made
- For all layer control options with a numerical value, make them [spinboxes](https://doc.qt.io/qt-5/qspinbox.html)
- Use the tabs approach for layer controls!
- Group related layer controls in tabs (instead of having tabs per control)(more on this in the future, as these groups are not yet doc

[2022-02-04 02:04] tlambert03 commented on #4053
I understand the point of a lockfile in general, what I'd like to know was:

that is, napari can work with a _ton_ of different library version combinations.  how exactly do you propose we pick the versions in the lockfile

[2022-02-04 02:43] grlee77 commented on #1389
Last week, I updated the script at the top to work for napari 0.4.13. It still makes various assumptions about the exact form the event connections take and so will not be very robust to future refactoring. Hopefully it is still useful to others in the meantime, though.

Specifically, there were three cases where it was no longer operating properly:

1.) `dir(napari)` does not contain the `_qt` or

[2022-02-04 03:15] tlambert03 commented on #1389
Thanks for the update!

[2022-02-04 08:04] Czaki commented on #4053
`pip-compile` when preparing a release.

[2022-02-04 10:15] VolkerH opened #4056 "Borders of canvas turn black when zooming into multi-resolution image"
## 🐛 Bug

This recording demonstrates the bug.

When zooming into a multi-resolution image, strips along the canvas borders turn black, although there should be valid pixel data.
The exact width and position of the black  edge strips change with the zoom level, creating a very jumpy impression while zooming.

![black_borders_multires](https://user-images.githubusercontent.com/2210044/152511272-c48

[2022-02-04 11:40] ClementCaporal commented on #3973
Thank you for the details!

While working on it, I think that I found a repo that propose already propose an implementation : https://github.com/astrofrog/vispy-multivol

Using approach 1 (MultiVolumeVisual)

The MultiVolumeVisual class is here
https://github.com/astrofrog/vispy-multivol/blob/72e16f06eb496be73a296c2f0a55dad64dc9730f/multivol/multi_volume_visual.py#L52

It get a fragment shader fro

[2022-02-04 13:10] alisterburt commented on #3973
Amazing! The shaders/visual in that repo will be extremely useful :)

I think what you outline sounds like a great plan. There will be some work required to update the visual/shaders to match the current versions in vispy as these have changed quite a bit but that should be very manageable!

Once you have a pure vispy implementation working with a recent version of vispy we can discuss the specifi

[2022-02-05 13:30] jwindhager opened #4064 "Provide `Layer.current_features` and events for the new features API"
## 🚀 Feature

While `Layer.properties` and `Layer.property_choices` are in the process of being deprecated (?) in favor of the new `Layer.features` and `Layer.feature_defaults` properties, it would be nice to also have a replacement for `Layer.current_properties`.

Also, while `Layer.events` supports events for `properties` and `current_properties`, events for `features` and `feature_defaults` see

[2022-02-05 13:31] jwindhager opened #4065 "Dynamically populate `Layer.current_properties`"
## 🚀 Feature

Currently, `Layer.current_properties` is populated from static values stored in `Layer.feature_defaults`. It would be nice, if these values could be dynamically generated.

## Motivation

For example, [napari-roi](https://github.com/BodenmillerGroup/napari-roi) automatically assigns unique names to new shapes in a `Shapes` layer, identifying regions of interests (ROIs) represented by

[2022-02-06 05:02] neili02 opened #4066 "Text properties for track layer"
It does not appear that there is currently an easy way to change the properties of the track id label text that is displayed when `display_id` is set to `True`. Looks like the font settings are hard coded in the TracksVisual class. Would be nice for the track layer to have a `text` parameter similar to the Points layer that allows for specifying the properties of the track id text label.

Thanks s

[2022-02-07 00:40] jni commented on #4066
Yup, I think this was implicitly already on @andy-sweet's "features" radar, but thank you for raising it @neili02! We will definitely implement this as soon as we can. See #2866 for links to many related issues.

[2022-02-07 23:47] MBPhys commented on #3975
**@sofroniewn**

Thanks. This would be cool in core:) Just for clarification
There a two plugins:
1. **nd-cropper** with _four modes_ seeing the attached video

https://user-images.githubusercontent.com/83079938/152886129-6f1e942b-4cca-4ed4-82d3-a6464ffa6ad5.mp4

This works in nd for all modes except the interaction box.
Perhaps, we can update this into the nd-space in the future.
The nd-cropper w

[2022-02-08 00:01] DragaDoncila opened #4069 "Avoid keeping references to large iterables in `progress` objects"
## 🧰 Task
While working on #4038 I started wondering whether there was a danger in creating `progress` objects that never get closed.

Typically we concern ourselves mainly with tearing down `QtWidgets` and large objects e.g. `numpy` arrays when trying to avoid memory leaks. Although a `progress` object seems harmless, many of these instances may be holding references to iterables which could be q

[2022-02-08 17:50] davidpross opened #4073 "Function to create a higher resolution screenshot of current view"
## 🚀 Feature
Provide a function and possibly menu option to generate a screenshot of current view, similar to the `Save Screenshot...` menu option but rendered at a higher resolution than currently displayed on the screen.

## Motivation
In my use of napari, the sharing of images generated with the tool is very popular. In many cases saving the screenshot to a file or the clipboard using the exist

[2022-02-09 00:28] sofroniewn commented on #1700
cc @isabela-pf this is relevant to what your working on right now too - will be closed by it

[2022-02-09 07:54] zoccoler opened #4075 "Black line on ellipse mask"
## 🐛 Bug

Hi napari developers!

We noticed this behavior when using napari-crop plugin and it seems to me it is related to the `to_masks()` function in napari. Could anyone take a look to see if it is really a bug?

When using the `to_masks()` function of an ellipse shape from [napari.layers.shapes module](https://napari.org/docs/0.3.7/api/napari.layers.shapes.html), a half black line appears aro

[2022-02-09 22:30] isabela-pf commented on #3975
I think a slider works fine. I think you'd know better than I what the most useful interaction is, so I'll defer to your advice. Thanks for asking @MBPhys!

What I showed was me thinking that sliders seem like they don't allow for quite the degree of fine-tuning that some of the other options have, but based on how many are currently in napari viewer and your plugin, I think it's the best option h

[2022-02-09 23:00] neuromusic opened #4077 "improvements to organization"
## 📚 Documentation
in reviewing #4047, @sofroniewn noted suggested improvements to docs organization, taking advantage of the new top nav...

[2022-02-11 01:05] andy-sweet opened #4079 "Add features Event to layers"
Add an `Event` named `features` to all layers that currently have a `features` property. Then emit that event when the value that the getter would return has changed.

[2022-02-11 01:27] andy-sweet commented on #4064
Hi @jwindhager  - thanks for raising this.

You're right that the plan is to deprecate the `properties` attributes in favor of the `features` ones, though that hasn't happened yet due to the size of the change.

I opened an issue regarding the missing `features` event (#4079), which should be straightforward to add. I'll leave this one open to cover adding a new equivalent to the `current_properti

[2022-02-11 07:10] jwindhager commented on #4064
Hi @andy-sweet, thanks for splitting up the issue and giving this a thought!

Correct me if I'm wrong, but the way I understand the current behavior is that `current_properties` holds the property values of the current point/shape (singular!) in the process of being added. I think there is a small but important semantic difference: `feature_defaults` holds the default values (i.e., template) for a

[2022-02-11 17:55] andy-sweet commented on #4064
Thanks for the reply - the napari-roi plugin definitely helps me understand your thinking here.

From my perspective, either the point/shape exists (i.e. it has an entry in `data` and a row in `features`) or it doesn't. When you interact with the napari GUI, I think this is clear for points - you click to add a point, it appears, and it has an entry in data/features.

Adding a shape in the GUI fee

[2022-02-11 18:02] andy-sweet commented on #4064
The other thought I had here with respect to napari-roi is that you may actually care far more about detecting more detailed changes to `features` (i.e. row added at index, rows removed at indices, element changed at index) rather than the exact behavior of `feature_defaults` and `current_properties`. Is that right?

[2022-02-11 18:30] andy-sweet commented on #4065
Thanks for writing this up so clearly. I have a couple of other ideas here.

The first one is hard and not fully thought through, but maybe the more general solution. We could properly define `Layer.features` as a `Protocol` that is compatible with pandas and vaex DataFrames. You could then use a vaex DataFrame to define [virtual columns](https://vaex.io/docs/tutorial.html#Virtual-columns) that ar

[2022-02-11 18:36] #4038 closed, assigned to DragaDoncila

[2022-02-11 19:13] jwindhager commented on #4065
Sounds interesting! I'd be a bit concerned about the learning curve for users that don't know vaex very well, though. Also, for the particular case of napari-roi this wouldn't work, even if the index could be used, as the counter (see above) is per "ROI name". So maybe not as general as hoped for?

 I really like that idea! Very clean and readable from a plugin developer perspective. But one would

[2022-02-11 20:14] vonclites opened #4083 "Different set of shape layers for each image in a stack"
## 🧰 Task
I am trying to overlay a set of bounding box annotations onto an image. What I would like to do is create a separate Shape Layer for each annotation. Having one layer per annotation allows me to turn on/off the visibility of each annotation as desired. I have successfully done this for a single image. The name of each Shape Layer conveys the predicted class, confidence score, and IOU wit

[2022-02-11 20:26] jwindhager commented on #4064
Thanks for the explanations! Seems like I fundamentally misunderstood the interplay of `property_choices`/`feature_defaults`, `current_properties`, and `properties`/`features`. I was under the impression that `data`/`properties`/`features` would not be touched before drawing a shape is complete. I just verified myself that shapes are present already during creation and stand corrected. Makes me wo

[2022-02-11 20:57] tlambert03 commented on #4083
just to clarify, is that because the layerlist would get completely unruly otherwise?  or because you would have confusing overlaying annotations?

I'll mention that layer "groups" might help here.  They have long been in the works and are getting a little closer again (#4018).

In the meantime, if you want to just clear the layerlist before moving on to the next image, you can always use `viewer.

[2022-02-11 21:16] vonclites commented on #4083
The latter. I would have confusing overlaying annotations. Even in the single image case, there are potentially confusing overlaying annotations, hence my use of separate layers so that I can show/hide certain annotations.

Cool, I'll keep an eye on that!

That sounds like that could work. I think you understand the question. I just lack the knowledge to execute on your suggestion. It sounds like

[2022-02-11 21:30] tlambert03 commented on #4083
totally get it! there's a lot of stuff to dig through.  Glad you opened an issue (sidenote: for general questions like this you might have better luck/visibility either at https://forum.image.sc/tag/napari, or in the napari chat at https://napari.zulipchat.com/)

Do I have this correct?  You've got something like a 3D stack of images, perhaps a timelapse or something, and each frame/plane in the i

[2022-02-11 22:08] vonclites commented on #4083
Great to know, thanks!

Exactly.

Yes! I wasn't understanding how to use ndim but I think I get it now. How difficult would it be to dynamically change the name of the layer so that it conveys the class label | confidence score | IOU as my the original example image?

Thanks again!

[2022-02-12 00:45] jni commented on #4083
This is easy, `layer.name = new_name`. :blush:

[2022-02-12 01:49] vonclites commented on #4083
That part I was able to figure out, but what event should I be listening for? How do I get that code to trigger when I change frame?