[2018-06-03 17:17] jni opened #1 "Annotate all scikit-image functions with types"
In order to automatically generate a GUI and to know what to do with the return types of each function, we need the functions to be properly annotated. Is an output array an image or a set of coordinates?

- Use Python 3.5 type annotations
- Augment these annotations with new type definitions, eg Coordinates, Image, NumPyCoordinates...

We can then use these annotations to display each type approp

[2018-06-03 17:34] jni opened #3 "Plugin management system"
- [ ] based on git
- [ ] every function call is recorded into a script that acts as a 'reproducible log'
- [ ] wrap the script in its own function
- [ ] automatically push to remote repo
- [ ] automatically manage versions: git tags if available, or git hash otherwise
- [ ] add plugins by adding URL of git repo
- [ ] the core of Napari is just the minimal plugin system, everything is plugin based,

[2018-06-03 17:44] jni opened #5 "Appropriately handle metadata"
Biological and physical images carry important information about pixel size, wavelength, etc. We need to be able to preserve this throughout a processing pipeline.

XREF https://github.com/scikit-image/scikit-image/issues/2605

[2018-06-04 13:01] kne42 commented on #1
Yeah, I was thinking about this in addition to general parameter typing with GUI elements – for example labeling discrete data types for use with dropdowns, small-range bounded continuous data types for use with sliders, large-range and unbounded continuous data types with input fields, angles with a directional vector, etc.

One thing that may present a problem is API changes. Should we assume sp

[2018-06-04 13:03] kne42 commented on #3
I assume that we will also be creating our own environment then?

[2018-06-04 13:54] kne42 commented on #1
@jni
Ok, now that I've actually read up on typing annotations (just found out about them lol!) and I'm going to have to disagree with you here. Python 3.5-style typing is useful, yes, but I don't think that it necessarily has any advantages over using decorators for our use case, so it doesn't really warrant a Python 3.5+ dependency.

Furthermore, the "typing" that we want is less of actual typing

[2018-06-05 03:30] royerloic opened #7 "3D viewer"
Several possibilies:

i) Seems that VisPy already has volume rendering capability:
https://github.com/vispy/vispy/pull/612

ii) Plugin Spimagine:
https://github.com/maweigert/spimagine

[2018-06-05 05:43] jni commented on #1
Hi @kne42!

Several points:

The first one is that Napari will be either Py3.5+ or Py3.6+ *anyway*, so we get type annotations for free.  We are not taking any additional dependencies for this. (This is true of skimage master also, btw.) As an aside, no new Python projects should use an earlier version of Python imho.

Now, if we assume we can use typing, what can we do?

The goal is to crawl the

[2018-06-05 06:12] jni commented on #3
@kne42 Ah yes, this is a good point. And an interesting one. I think separate environments will be tricky to manage. You'd have to do inter-process communication, and plugins would be second-class citizens, because you couldn't match the performance of running in the "app" environment. Perhaps we should explicitly say which packages we are shipping with the app, and plugins can add packages but on

[2018-06-06 01:05] royerloic commented on #3
For now we have to define a basic but relatively exhaustive set of dependencies that would cover 90% of needs.
Late on, we can figure out a way for plugins to play well together. This has not been solved in FiJi for example.

[2018-06-06 01:10] royerloic commented on #1
Definitely.

I agree.

I also think that defining a functional ‘contractt with value ranges is a very good thing going forward.
this will be essential to be able to have sliders, good for documentation.
I come from the java world, and i am of course biased towards strong typing.

We can start simple,
but even with a text box,
it would be great if we can
tell the user what kind of values
to expect…

[2018-06-06 01:16] kne42 commented on #1
@royerloic I haven't looked at it yet, but we should be able to use the numpy doc parsing tools to get a lot of this information out. We can have a short description displayed that parallels the first line of text in the docstring and have an expanded explanation for the rest of it, as well as conversion of the `Notes` section to an info button/tooltip, etc.

[2018-06-06 01:31] jni commented on #1
Yes. All skimage and SciPy ecosystem functions follow the [NumPy docstring convention](https://numpydoc.readthedocs.io/en/latest/format.html) that annotates all arguments and return values. We can automatically parse these and include them as (?) buttons or hover tooltips. Actually this is another awesome advantage of this ecosystem, we are going to get great docs for almost free.

By the way, @ro

[2018-06-06 02:13] kne42 commented on #1
Let's move discussion of docstring parsing to #6 :)

[2018-06-06 02:40] kne42 commented on #6
`numpydoc.docscrape` includes the classes `FunctionDoc` and `ClassDoc` to parse NumPy documentation into a mapping object:
[code]

[2018-06-06 22:19] jni commented on #1
@kne42 an exciting notebook! How close do you think it is to working? Can't wait to see the output on `skimage.filters.gaussian.__doc__`, for example. =)

Come to think of it, a NumPy docstring -> Py3.5 type annotations conversion library would be *tremendously* impactful. A ton of projects could make use of it.

[2018-06-06 22:30] jni commented on #6
This is super crazy. =D The main thing will be figuring out the types in the `Parameters` section. When more than one type is accepted, the format becomes a little more free-form, at least in skimage. But, in the first instance, we could annotate known types, and simply omit unknown ones (with warnings somehow that would allow human curation).

[2018-06-07 04:16] kne42 commented on #1
@jni I expect to finish a rudimentary version of this by the end of
tomorrow, or Friday at latest.

Custom type definitions have been covered for the most part, with the
exception of arrays (I think I’ll implement a similar syntax to Cython
memoryviews). I’ll open a PR to track these implementations soon and you
can let me know what you think about the conventions used.

On Wed, Jun 6, 2018 at 6:1

[2018-06-07 11:49] kne42 commented on #1
@jni Actually upon second thought, perhaps some hacky implementation might be better considering that bracket notation is already in use by types.

We would make a `Shape` class that overrides the `<=` operator to modify whatever type is on the right. The type on the right must implement `Iterable`, naturally.

Here's some example syntax:
[code]

and the option to have `SizeVar`s, similar to `Type

[2018-06-07 11:53] kne42 commented on #1
Actually, to implement the above I think I'll need a lot longer than two days 😅

[2018-06-08 02:17] kne42 commented on #1
@jni These are all fair points. However, given the limitations of typing with regards to arrays at the current moment, I would much rather forsake navigating the complexity of real-type type annotations and use our own definitions that do not follow the proper specifications which is much easier for the type of prototyping that we want.

This is still syntactically correct because Python does not

[2018-06-08 05:29] jni commented on #1
@kne42 I'm on board with this *but* I still think it's important to do a minimal proof of concept first, and expand that proof of concept to something more thorough (including shape info) later.

Also note that some of this info could be part of `Image`: `Image2D`, `ImageMultichannel`, etc.

[2018-06-08 07:48] jni commented on #1
@kne42 in case you haven't seen these already, here's some links that could be useful:

https://github.com/numpy/numpy/issues/7370#issuecomment-345844120
https://github.com/numpy/numpy/issues/7370#issuecomment-349494653
https://github.com/numpy/numpy_stubs

[2018-06-10 22:05] kne42 commented on #6
@jni As promised, here is a (very) rough prototype of autotyping: https://gist.github.com/kne42/93f8a9d09aa8c5ea1160f1b18a51f2d9

Since the nbviewer appears to be timing out due to the length of the notebook, here are the results (edited for clarity):
[code]

[2018-06-11 05:06] kne42 commented on #6
Plan of attack for parsing types out of strings:
<ol>
<li>normalize string
<ol><li>remove <code>optional</code> keyword</li></ol></li>
<li>parse type string
<ol>
<li>attempt to match against generic types (union, array, sequence, etc.)
<ul><li>matches a regex; passes groups to a callable that returns a type</li></ul></li>
<li>attempt to match against non-generic types (int, float, scalar, etc.)
<u

[2018-06-11 15:00] kne42 commented on #6
Checklist w/ working notebook (infrastructure is complete):
- [ ] Union
- [ ] Array
  - [ ] match words containing `array`
  - [ ] detect ndim of array
  - [x] detect shape of array
  - [ ] detect type of array
     - [x] match `array of ...`
     - [ ] match `... array`
- [ ] Sequence
- [ ] List
- [ ] Tuple
- [ ] Dict
- [ ] Set
- [ ] Option list (ex. `{'reflect', 'constant', 'mean'}`

https://gis

[2018-06-11 15:20] kne42 commented on #1
@jni How do you think we should go about typing `{'reflect', 'constant', 'nearest', 'mirror', 'wrap'}`?

[2018-06-11 19:08] kne42 commented on #6
@jni Okay most of the main types have been done. How do you think we should encode specific types of data/are there any more types that I haven't covered?

Here is the output (again cleaned up a bit):
[code]

[2018-06-12 00:56] jni commented on #1
@kne42 in languages like Haskell this would be an Enum type. Python actually has some facility for this:

https://docs.python.org/3/library/enum.html
https://www.python.org/dev/peps/pep-0484/ (search for Enum)

it would be nice to get the relevant libraries to use Enum here but I don't think that's realistic, so perhaps using a Union again would be useful.

Thinking about it in terms of Napari, th

[2018-06-12 09:17] kne42 commented on #1
@jni Thank you for this! The typing library is actually compatible with class types in general so hopefully this will work. The reason we've been having so many issues with NumPy arrays is due to a lot of their functions (and subsequent derived SciPy functions) accepting `array_like` instead of explicit arrays. Also the conflict between array indexing and subtyping using the same syntax is an issu

[2018-06-19 02:48] royerloic commented on #3
We can use the GitPython lib:
http://gitpython.readthedocs.io/en/stable/index.html

Here is an example how to pull:
https://stackoverflow.com/questions/20073873/how-to-checkout-a-tag-with-gitpython

[2018-06-19 14:04] kne42 commented on #3
Thanks for the pointers! I'll get started on this now :P

[2018-06-20 03:18] jni commented on #1
Some interesting type discussions on the NumPy mailing list. Specifically, the new XND project has created an "ndtypes" library that includes pattern matching for dtypes and shapes:
https://mail.python.org/pipermail/numpy-discussion/2018-June/078261.html

Not necessary promoting any action here, just making a note for future reference. =)

[2018-07-23 21:00] kne42 commented on #3
I think we should create a [cookiecutter](https://github.com/audreyr/cookiecutter) for plugins similar to what [Jupyter has set up](https://github.com/jupyter-widgets/widget-cookiecutter).

[2018-07-24 10:09] royerloic commented on #3
Great idea!

[2018-07-30 01:58] kne42 opened #15 "API Design & Hierarchy"
I'd like to hear y'all's opinions on how the API is designed in terms of user accessibility (i.e. how we expose the customization of windows/toolsbars/menus/whatnot) and general hierarchy (the submodule tree).

[2018-07-30 01:58] kne42 commented on #15
Since I am an Emacs user, I'm biased towards how they do things, and would like to see our API designed similarly to theirs. However, I will also note that Emacs is still one of the most popular text editors out there despite minimal changes to its infrastructure since it was released a little over 35 years ago due to how customizable and well-designed it was.

At its core, Emacs is a minimalistic

[2018-07-30 18:57] kne42 commented on #5
@jni So from the sounds of it, we want to pass along a metadata dictionary containing important information about its corresponding image (NumPy array)? We would also need to write functions for reading in the images and returning the NumPy array along with their metadata. I'm guessing that we could have specific functions for when the user knows said metadata (`imread_multichannel_2D`, `imread_3D

[2018-07-31 00:28] jni commented on #5
@kne42 I'm actually not positive about what my preferred approach is, but `meta=[dict]` and `return_meta=bool` is close.

Our medium-term plan is to use `imageio` for IO, in which case we get a `.meta` attribute on the read-in image. I don't know whether input depth is in that dictionary, nor provenance. I am strongly against `imread_*` but would instead prefer kwargs to imread and maybe additiona

[2018-08-01 16:33] kevinyamauchi opened #16 "NImage constructor name collision (type)"
The constructor for NImage takes ```type``` as an input argument to specify the image type (display/color map I think?). This collides with the Python built-in ```type()``` class. This isn't an issue for now, but we should probably rename it to be safe. Maybe ```itype``` (in the same vein as ```dtype```)?

[2018-08-01 17:12] kevinyamauchi commented on #16
I made the proposed changes in the PR #17. I'm still getting acquainted with the code base, so hopefully I didn't break anything...it would be great if somebody could review (it's a small change) then we can squash/merge.

[2018-08-02 06:01] royerloic opened #18 "Make sure that numpy scales with cpu cores"
I was a bit surprised to see that numpy is not multicore by default.
some functions are not multicore enabled...
Also, the default lapack and blas are pretty slow compared to other non default libs
like openBLAS:
http://markus-beuckelmann.de/blog/boosting-numpy-blas.html

We should make sure that Napari runs the fastest numpy we can get...

[2018-08-08 17:38] kevinyamauchi commented on #20
[lableme](https://github.com/wkentaro/labelme) looks like it has a lot of the functionality and it uses Qt for the GUI.

[2018-08-08 17:59] royerloic commented on #20
I guess this would use the ‘object layer’ concept where non-image layers
consisting of points, lines, circle, ellipses, rectangles, etc…
can be overlaid over an image…
Conceptually this is very straightforward I think…

Collaborative editing is a bit more challenging if one want to do this.
But then the czbiohub imaging database simply needs to support storing
such layers…

[2018-08-08 18:10] kevinyamauchi commented on #20
I agree that the main requirement would be support for an "object layer', which I think will be useful for many things in addition to these annotation.

For now, I think just saving and recalling the annotations is more than sufficient. Of course, truly collaborative editing would be an awesome feature in the future!

[2018-08-13 01:41] royerloic opened #21 "Security considerations"
## Description

We use GIT links and GIT infrastructure for plugins which is great,
but, there is also potential dangers associate to that in terms of
code executing on one's machine that could wreak havoc with files
for example...

Not clear if there is any solution to that...
Other similar tools have the same challenges...

Possible mitigation strategy is to have a way to log all plugin accesses

[2018-08-20 05:53] jni opened #22 "Idea: use IPython kernel for execution"
I made a [tiny proof-of-concept](https://gist.github.com/jni/d8d5899b9d8adccfbfb070680b2363cf) for how I would like the GUI to work: a dictionary (or perhaps more elaborate object, we can think about it) maps buttons / menu items / keyboard shortcuts to functions. These functions, together with the workspace (in the example it's just `globals()` but probably we want to change this), can be used to

[2018-08-20 07:18] jni commented on #21
"please install our Very Good Deep Learning Totally Not Bitcoin Mining plugin for Napari!" =P

[2018-09-03 06:42] jni commented on #22
@kne42 when you're back from holidays, please comment on this? =)

[2018-09-03 15:41] kne42 commented on #22
@jni I like this idea a lot! Especially since a lot of machinery is done for us in an interface that most people already know how to use. This has the bonus of allowing us to convert workflows into Jupyter Notebooks and vice versa.

I don't have much experience dealing with the internals of IPyKernels but I'd imagine they're pretty easily modifiable to be compatible with the IPython plugin system.

[2018-09-03 15:45] kne42 commented on #21
Yeah, just one popular plugin getting hacked could be a real problem - I heard that Node.js ran into some issue where many people's libraries were compromised and spread like a virus.

[2018-09-04 06:27] jni commented on #22
I'm hoping @stefanv can describe some of the issues they ran into. =) @stefanv do you have a dead branch in your git history somewhere that might be informative? =)

I presume once you start doing for-loops, function definitions, and conditional logic, it's not that easy to get nice-looking code automatically. But honestly I haven't tried anything beyond my tiny demo above.

[2018-09-04 08:54] jni commented on #22
But @kne42 part of the purpose of this is that I want to dramatically simplify #13 before merging. Specifically, I don't want a complicated set of different function classes. Rather, every plugin is one or more Python functions annotated with types, and we have a workspace which includes everything in the global scope at a given time, and we provide a way see anything in the workspace either in an

[2018-09-04 15:05] kne42 commented on #22
@jni Ah, I see. How do you think we should go about organizing the callbacks then? Since special function groups would typically be called in special places/with special ways (i.e. `io` plugins will be accessible via `File > Open...`).

[2018-09-04 21:08] stefanv commented on #22
The challenge is in cleanly mapping the UI to function calls.  How do
you do that?  When one option is selected, others may change, etc.  For
a color image you may want to execute over multiple layers, or first
convert to Lab.  So, how do you store all these potential code paths
cleanly?

Traits used to be one such an avenue, and perhaps Traitlets allows you
to do the same now?

W.r.t. the IPython

[2018-09-05 06:00] jni commented on #22
No. The idea is to have 1-1 mapping between menu items and *some* functions, be it scikit-image, numpy, or a "naparilib" function that composes many external functions.

There should be no dependency of output on some state set by another menu item. For example, I **hate** that in Fiji "regionprops", you first have to go set options in Analyze > Set Measurements, *then* you can do Analyze > Analyz

[2018-09-10 14:06] jni commented on #23
PS the mockup was created with the Linea app on the iPad Pro, which I *highly* recommend. It's the only sketching app I've found that just works the way you want it to.

[2018-09-11 03:57] royerloic commented on #23
Very nice Juan, I like it.
With Kira we are focussing on the viewer for now,
Something to add to this mockup is histogram side-panel
with control over min, max and gamma. Also nice would be
the 'live-parameter' panel that avoids the 'let's-pop-up-a-blocking-window-
and-ask-for-parameters-that-nobody-ever-changes'

[2018-09-12 03:47] jni commented on #23
:+1: Yes, very good, agree 100%, sorry for my sloppiness there. =)

moreover, the user should be able to override this globally, and interrupt a running calculation…

Sure. These are all great. But I think an MVP can forgo all this and ignore live updating, unless someone decides that live updating is trivial to implement. I'm not going to decide that. =P

[2018-09-25 17:11] ctrueden commented on #9
I'd like to ask about the longer-term vision of this project.

My goal for ImageJ & Fiji is to broaden their scope beyond Java, to include also Python and JavaScript, so that we can have a plugin-driven image analysis tool that ships plugins from all three ecosystems. At a CZI hackathon earlier this year, we started a [proof-of-concept Electron version of ImageJ](https://github.com/imagej/imagej-e

[2018-09-25 17:39] kne42 commented on #9
@ctrueden I was initially pushing for a browser-based (electron) version but we identified a few major issues with a javascript-based app:

- electron is too slow and prone to crashing
- we don’t think that it will properly be able to handle the large amounts of data that we will throw at it; it’s not designed for that
- browser-based apps limit usage of keybindings as there are special reserved c

[2018-09-25 18:10] ctrueden commented on #9
@kne42 Do you think Napari + its GUI could drive the distribution of JS-based and Java-based plugins, in addition to only Python plugins? If so, it could be a solution worth converging upon by the broader community, including ImageJ and Fiji, as well as the various JavaScript viewer efforts in the works (e.g. [imaging-tools](https://github.com/imaging-tools), [vtk.js](https://kitware.github.io/vtk

[2018-09-25 18:53] kne42 commented on #9
@ctrueden

We have plans for this, but our primary focus right now is getting the Python side up and running.

Very cool! This would make interprocess communication and data-passing a lot easier.

This looks interesting! However, I am hesitant to use non-standard implementations of Python as they are difficult to maintain and may not behave as expected. For this reason, projects such as [numba](ht

[2018-09-26 00:41] jni commented on #9
@ctrueden 👋 ! =)

I feel like @kne42 is projecting a little too much certainty. Napari is an evolving vision. I am excited to keep hacking at it with your input. But I want to second most her comments. Electron in particular I find a leaky abstraction — it's rare to see an Electron app that doesn't have that web-app "smell". And they also tend to be processor hogs without due care.

There's two an

[2018-09-26 02:32] royerloic commented on #9
I second both Kira and Juan,
right now Napari is aimed at
filling a clear gap in the python
ecosystem. I am now learning
more and more python and numpy
for offline processing, and a viewer
could really be helpfull. exciting stuff.

Sent from my iPhone

[2018-10-01 19:49] bkmartinjr commented on #9
Curtis, thanks for the ping.   I'm struggling a bit to understand the Napari vision, so my comments should be taken with a grain of salt...

I originally wrote pyrepl as part of an experiment in creating a notebook-like UI that could do interactive speed image transformations based on user inputs (eg, a slider controls a user-defined image filter).    It had two goals:
   * execute user-defined Py

[2018-10-01 20:03] kne42 commented on #9
@bkmartinjr We have been considering executing all plugin and user-defined code in an IPython kernel. See #22

[2018-10-01 20:30] bkmartinjr commented on #9
@kne42 - that definitely solves for the isolation issue.  Wondering about performance - Jupyter (in my experience) has poor round-trip performance when rendering images of any size, largely due to the way they marshal data in/out of the REPL.   Is interactive perf a non-goal for Napari, or do you have an alternative solution?   (this was the second of my two goals in the pyrepl experiment)

[2018-10-02 01:27] jni commented on #9
@bkmartinjr performance is definitely a goal for Napari. We just don't have experience with this. There are certainly ways to get interactive (rendering) performance out of Jupyter-based workflows — see e.g. IPyVolume, bqplot, etc. However they do result in duplication of data. This might be a worthwhile tradeoff for us, if it avoids us having to build a whole new set of infrastructure (such as Py

[2018-10-02 17:38] royerloic commented on #9
I agree with what has been said.
A few points:
i) Performance is paramount indeed, that means both UI performance, image processing speed and memory efficiency. First, we want a very fast and smooth GUI which means QT5, VisPy, OpenGL, shaders, etc... Second, we will ship optimised numpy and scipy libraries as default in the app. Third, for local execution we don't want to have memory duplication,

[2018-10-04 10:04] jni commented on #9
@royerloic small point:

I don't think we are concerned about security here, but about stability: we don't want plugins to bring down the toolbar/viewer.

[2018-10-04 16:46] royerloic commented on #9
Ok, I see. The biggest problem in that case is that computation must happen in a separate thread from the UI event loop. But since python is not a true multi-threaded programming language (GIL), we might have slowdowns, unless we actively mitigate this with noGIL or even Numba to reduce potential interference between the UI thread and the compute thread...

[2018-10-05 04:02] jni commented on #9
Large portions of NumPy and scikit-image are nogil already, so I wouldn't worry too much about threads being a bottleneck.

[2018-10-10 17:41] kne42 opened #2 "Implement min/max/gamma filtration"
- [x] Add basic double-slider for existing min and max adjustment (clim) to the GUI

- [x] Add support for CPU-based gamma adjustment

- [ ] Implement min,max, and gamma in the shader as an optimised option (bool flag)

[2018-10-11 14:15] #3 closed

[2018-10-11 14:19] #16 closed

[2018-10-12 02:35] royerloic opened #4 "Window, viewer and layer API"
Here is a mockup for what the viewer and layer api should look like (roughly):

Create a window:
`window = gui.newwindow(name, ...other options...)`
Note: We should distinguish the concept of 'window' and 'viewer'.
you can have several viewers in a window, organised either as tabs
or side by side, etc... Tabs are probably the best way to do it.

Create or removes a viewer in a window:
`viewer = wi

[2018-10-12 08:50] jni commented on #4
I have many comments. =P

1. I suggest we try to mimic the matplotlib (and related) APIs as much as possible. First things first: I don't want window creation to be (in general) a public facing thing. And we should make using the viewer *super super* quick. I don't want to have to create a window then add a viewer to that window then add layers to that viewer. I want to say `window = napari.show_s

[2018-10-12 08:50] jni commented on #4
Incidentally, the repo structure is already getting way too complex I think...

[2018-10-12 17:36] royerloic commented on #4
Great feedback Juan, thanks.
Some comments:

1a) I agree with matplotlib, we should match existing conventions as long as they make sense to us. I am not sure that I like all aspects of matplotlib though. We should see on this goes item per item...

1b) The API right now does not distinguish between private or public, right now we need to make sure that even the  eventually private API is well des

[2018-10-12 18:29] kne42 commented on #4
I totally agree!

I think that it helps a lot with intuition. Since MPL is the standard, shouldn't we use `imshow`, wouldn't that be people's go-to for showing images?

Yeah, I like this idea as well! However, instead of traditional Python lists, we'd need to use classes based off of `collections.UserList` so that we can insert listeners for when the list updates. At least if this is the public-fa

[2018-10-12 21:08] pep8speaks commented on #5
Hello @kne42! Thanks for submitting the PR.

 - There are no PEP8 issues in the file [`gui/__init__.py`](https://github.com/kne42/napari-gui/blob/9e32f1b840cf1817c8d7b0fcc0d8da524e92af68/gui/__init__.py) !

 - There are no PEP8 issues in the file [`gui/elements/__init__.py`](https://github.com/kne42/napari-gui/blob/9e32f1b840cf1817c8d7b0fcc0d8da524e92af68/gui/elements/__init__.py) !

 - There are

[2018-10-14 01:58] kne42 opened #6 "Add qtpy information and Qt naming convention to contributing guide"
All classes inherited from PyQt should follow the same naming conventions as C (which Qt is written in): TitleCase for class names and camelCase for variables & functions/methods.

[2018-10-14 02:37] royerloic opened #8 "Plugin mechanism for layers also provides GUI elements"
The concept of layer is a pairs (data,visual).
'data' being a data object (image, points, lines,etc)
and the corresponding 'visual' that represents visually
this object as a layer in Napari. Since we want to have sliders and
buttons that control how layers are displayed (min, max, gamma, etc).
It makes sense to provide a path for adding these elements in
a modular way as part of the 'layer registr

[2018-10-14 16:49] royerloic opened #9 "1D, 2D, 3D viewing"
The viewer should supports 3 modes:
1D: Using vispy plotting integrated in the scene graph
2D: current code
3D: Vispy volume renderer

The number of sliders is automatically adapted,
other types of objects (lines, points, etc..) should also be displayed
by simple projection in a straightforward manner.

[2018-10-14 17:25] royerloic opened #10 "ND support for all layer types"
All layer types must/should support arbitrary n-dimensions.
Let's look at how hard that can be:

i)   list of points: trivial (x0, ...xn)
ii)  list of lines: trivial  ((x0, ...xn), (y0, ...yn))
iii) list of boxes: trivial ((x0, ...xn), (y0, ...yn))
iv) list of triangles: trivial ((x0, ...xn), (y0, ...yn), (z0, ...zn))
v)  list of n-dim simplices

It seems that lists of simplices (simplex is n-tupl

[2018-10-14 17:34] royerloic opened #11 "Viewer, slicing sliders, and Co"
A few features for the viewer's sliders:

- [x] The number of sliders adapts to the number of dimensions in the images or objects (max)
- [ ] Interval sliders are shown for displayed dimensions so that what is displayed can be cropped
       Very useful for 3D cropping for example...
- [ ]  There is a button for max/avg/... projections next to each slider
- [x] There is 3 small square buttons to t

[2018-10-14 17:36] kne42 commented on #8
What I was considering is having an optional side-panel on the left or bottom of the viewer that handles GUI elements specific to an individual layer. When a layer is the only layer selected, this control panel will pop up with the Qt widget specified by the layer's `_qt` attribute. If `Layer._qt` is `None` then no panel will be displayed.

[2018-10-14 22:39] jni commented on #10
There is perhaps some room to use GeoPandas or similar here: one column is the polygons/points, and other columns are attributes of those polygons. We can then map visual attributes (size, colour) to actual attributes, which could be anything: strength of a synapse, neurotransmitter used, human-annotated vs automatic algorithm, etc.

GeoPandas is a library that holds this kind of data well, but it

[2018-10-15 22:06] sofroniewn commented on #4
Hi all,
Really like the way this conversation is taking shape, and agree with a lot of the sentiment around intuitive pythonic api's. The fact right now that I can just call `gui.imshow(data)` and it pops up an image in a window was really compelling to a python novice that I showed napari to the other day. That low barrier to entry is really important.

[2018-10-15 22:12] sofroniewn commented on #10
@royerloic that list looks comprehensive to me. I havn't used GeoPandas nor looked at it in much depth either. Agreed it might be too specialized to use directly, but could provide a useful starting point. I can take another look at it too.

[2018-10-15 22:23] sofroniewn commented on #11
I might add here toggling between layers and slices which could be useful when dealing with color channel data. It might be nicer to view 4 color channels as 4 different layers which can be individually toggled on / off, contrast adjusted, and opacity filtered - instead of having a slider with 4 locations on it that you have to drag between.

[2018-10-18 20:40] AhmetCanSolak opened #13 "GUI Style"
I am having some experiments with pyqt5 and observed that same code can easily generate different styles for different operating systems. To prevent that there is a style plugin for qt5 called `fusion`. Do we have concerns on consistency of gui style and behavior across various operating systems? I guess we do. Let me know your thoughts on this issue and maybe discuss this in the next meeting?

[2018-10-18 23:10] jni commented on #13
@AhmetCanSolak can you elaborate, maybe with screenshots? I think the right thing to do is to have native-looking styles for each OS. An app should look like a Mac app on Mac, a Windows app on Windows, and a Linux app on Linux. If I remember correctly, Qt does this by default?

[2018-10-18 23:35] sofroniewn opened #14 "Pass xarray to napari-gui for autolabeling sliders"
xarray is a library for N-D labeled arrays and datasets in Python http://xarray.pydata.org. If we allow xarrays to be passed to napari-gui then we could autopopulate labels of sliders etc. based on the names of the dimensions in the xarray object

[2018-10-19 07:49] jni commented on #14
Just to clarify, I think xarray support would be brilliant, but I just want to make sure that we don't become *dependent* on it. Bare NumPy arrays should be first-class citizens.

[2018-10-22 18:47] AhmetCanSolak commented on #14
@jni can you share why you think in that way? Just curious.

[2018-10-22 18:53] AhmetCanSolak commented on #13
Sure!

I want to redirect you to this [link](https://doc-snapshots.qt.io/qt5-5.12/gallery.html)
Examples in the link is not dramatic enough maybe, so let me share [this](https://stackoverflow.com/questions/46051480/pyqt5-different-view-on-os-and-linux) too.

Qt by default provide native-looking styles and the variation between operating systems can go crazy.
That's why, I suggested to have a commo

[2018-10-22 19:59] pep8speaks commented on #15
Hello @AhmetCanSolak! Thanks for submitting the PR.

 - In the file [`test/test_napari_application.py`](https://github.com/AhmetCanSolak/napari-gui/blob/944083d2c0f021678838ced29d71c783a2d5b9ab/test/test_napari_application.py), following                are the PEP8 issues :

[2018-10-23 00:23] AhmetCanSolak commented on #15
What about forming the same folder structure under both gui and test folders? I think it is the most organized way, having test folders with source does not appealing to me. Tenserflow repo is a good example of what could go wrong :)

[2018-10-23 00:54] kne42 commented on #14
This sounds like a nice convenience functionality; I'll keep it in mind!

Also, I'd like to note that you can already use `DataArray`s and other `numpy.ndarray`-like objects since we never explicitly call any NumPy functions on them (which would autoconvert them to strict `ndarray`s).

[2018-10-23 16:46] jni commented on #14
@AhmetCanSolak the entire SciPy ecosystem has thrived by using NumPy arrays as a lingua franca between packages. We are currently seeing some fragmentation as people test the boundaries of what can be done with arrays. I don't want to contribute to this fragmentation, and NumPy itself is taking steps to address it (see [NEP18](https://www.numpy.org/neps/nep-0018-array-function-protocol.html)). The

[2018-10-23 16:55] AhmetCanSolak commented on #14
Thank you @jni !
It is nice to see people are considering this in NEP18.

For our use, I dont think we will have issues with either labeled or unlabeled arrays, as soon as we document it well and be strict on our implementations.

[2018-10-23 18:26] jni commented on #16
Some general comments: in my opinion, less is more with PR templates. We have a much shorter list in scikit-image and it has had quite a limited effect on PR quality or even checklist compliance, as far as I can tell. I think the *only* thing that is absolutely required is complete test coverage of any changes, together with measurements from continuous integration systems (so that is the first th

[2018-10-23 20:39] AhmetCanSolak commented on #16
Thank you for your detailed comment @jni !
I will be updating with a new commit.

I and @kne42 were also planning/writing a contributing guideline, will drop it in another PR.

[2018-10-24 23:22] pep8speaks commented on #18
Hello @AhmetCanSolak! Thanks for submitting the PR.

 - In the file [`test/test_napari_application.py`](https://github.com/AhmetCanSolak/napari-gui/blob/4c03309e76c91bae16cd2e206a30ea5e680a1b01/test/test_napari_application.py), following                are the PEP8 issues :

 - In the file [`test/util/test_misc.py`](https://github.com/AhmetCanSolak/napari-gui/blob/4c03309e76c91bae16cd2e206a30ea5e6

[2018-10-25 16:26] AhmetCanSolak opened #19 "Using observer pattern to update rendering"
We are needed to provide a way to automatically update the rendering in case of a change in the data array we have load. To provide a smooth experience, we could(and probably should) use observer pattern listener to keep container/viewer notified about possible changes.

In the link below you can find a simple demonstration of this pattern, which we can adapt later to our layer and viewer classes

[2018-10-25 17:50] kne42 commented on #19
this doesn't work so well in the event of a mutation

ie `im.data[0] = 42` would not trigger a notification

[2018-10-25 18:12] AhmetCanSolak commented on #19
yes, it is not working well with mutation, but it is python huh, that's why we should test accordingly.

[2018-10-25 20:41] kne42 commented on #4
XREF: https://github.com/Napari/napari-gui/pull/12#issuecomment-431540278

@sofroniewn wrote:

[2018-10-26 05:05] kevinyamauchi opened #20 "Add a markers layer class"
It would be nice to have a Layer class for displaying markers at specified coordinates. For example this could be used to visualize the locations of detected transcripts in FISH assays.

@sofroniewn and I are currently working on a implementation that uses vispy Markers visuals.

[2018-10-26 05:29] pep8speaks commented on #21
Hello @kevinyamauchi! Thanks for updating the PR.

 - There are no PEP8 issues in the file [`gui/layers/__init__.py`](https://github.com/kevinyamauchi/napari-gui/blob/45fd92fd6e493889581a02a79e366407483721a4/gui/layers/__init__.py) !

 - There are no PEP8 issues in the file [`gui/layers/_markers.py`](https://github.com/kevinyamauchi/napari-gui/blob/45fd92fd6e493889581a02a79e366407483721a4/gui/laye

[2018-10-26 05:37] kevinyamauchi commented on #21
@sofroniewn, here's the first go. Let me know what you think!

[2018-10-26 20:32] royerloic commented on #21
That's great!
Some comments:

* Currently, the coordinates dimensions are assumed to be in the same order as the sliders. Eventually, it would be nice to have some sort of labels associated with the axes so we can be sure they are mapped correctly (could be related to #14 ).

That's the correect way of doing things, I am against having labels change the order somehow... would get very messy and di

[2018-10-26 21:22] sofroniewn commented on #21
This looks great! Nice job @kevinyamauchi. I've been giving the PR a demo and here are some thoughts:

1. Should the function be add_marker or add_markers? I'd lean towards add_markers as vispy uses the plural.
2. Should all the `layer.marker_args` be available as properties on the `layer` i.e. `layer.edge_color`. This is currently done in the `image` layer with `image.clim` an example.
3. Do we w

[2018-10-27 00:00] pep8speaks commented on #22
Hello @kne42! Thanks for submitting the PR.

 - There are no PEP8 issues in the file [`gui/layers/_visual_wrapper.py`](https://github.com/kne42/napari-gui/blob/e6879e59bb814fef5d5353eefa77b3cef01b4547/gui/layers/_visual_wrapper.py) !

[2018-10-27 18:19] sofroniewn commented on #21
Nice job adding the properties explicitly. One thing I noticed is that the doc strings for properties aren’t automatically propagated up to `add_markers`, so if I do `add_markers?` in the notebook I don't see the info on `edge_width` say. Is there way to achieve this?

Setting the size now works with an array, but can it also take a list of the same length, just as a convenience?

The size update

[2018-10-27 22:44] kne42 commented on #21
@sofroniewn `add_*`’s docstring is autogenerated by taking the class’s docstring and replacing the summary, then appending the `returns` section.

You can specify your own docstring with the kwonly argument `doc`.

[2018-10-27 23:07] sofroniewn commented on #21
With respect to the `scaling=True` problems I was noting before, the aberrant behavior only occurs at very high zooms / when the pixel width of the marker is similar to the number of pixels displayed on the screen. This was the case for the demo image, but when I moved to more real world images, say 512x512 and markers that were size 3 normal behavior was observed over a large range on zooms, part

[2018-10-28 22:48] sofroniewn opened #23 "GUI mockups"
I have made a mockup of the gui with the addition of range slides & max projection / play button / gamma slider and colorlimits slider and single letter labels of dimensions. Not included in the mockup right now are UI elements to toggle between axes that are displayed in the image and that are displayed as sliders or any UI elements related to different layers. I will try mocking some of these up

[2018-10-29 07:33] royerloic commented on #23
Really cool!
A few comments:

- Let's have min max on the left side of gamma, one cool idea is to have a histogram 'on its side' shown optionally as a 'tray', so that the min and max interval slider matches the, that would be super elegant imo...
- we should have a scale bar overlay, a bit similar to what google maps has...
- layer list on the right with options, I know you have ideas for it...

[2018-10-29 18:28] sofroniewn commented on #23
Ok nice, I have updated the mock. Added a histogram on the left. Agreed it would be good if it could toggle in / out. Added a scale bar, would be good if it could be toggled on / off too - probably fine from a drop down menu. Have also added a little dialog like box down at the bottom left where we can select which axes are being displayed in the viewer and which are displayed as sliders. Finally

[2018-10-29 19:00] AhmetCanSolak opened #24 "Creating examples folder"
Currently we have a `demo.py` in the root. This should change and we should have examples folder in the root and examples in it.

[2018-10-31 00:14] pep8speaks commented on #26
Hello @AhmetCanSolak! Thanks for submitting the PR.

 - In the file [`gui/app/test_napari_application.py`](https://github.com/AhmetCanSolak/napari-gui/blob/cfbf23769310e57e49d579536f26271628267712/gui/app/test_napari_application.py), following                are the PEP8 issues :

 - In the file [`gui/util/test_misc.py`](https://github.com/AhmetCanSolak/napari-gui/blob/cfbf23769310e57e49d579536f26

[2018-10-31 16:23] kevinyamauchi commented on #21
@sofroniewn , thanks for testing and for the feedback! I'm glad the scaling works - maybe we should make the demo image a more realistic size. I had originally made it small so I could count pixels and make sure the markers were getting put in the right spot. Let's go ahead and change the default as you suggested.

With regards to the the size datatype: we should probably add type hints and checks

[2018-10-31 16:29] kevinyamauchi commented on #21
In terms of things remaining before merging, I think we need to do the following:
- [x] Add type hints for all public methods
- [x] Add type checks where necessary.
- [x] Improve the class docstring so `add_markers?` is useful

What do you think @sofroniewn and @kne42 ?

[2018-10-31 16:48] sofroniewn commented on #21
Thanks for changing the `scaling` default to `True`. I can see pros / cons of a larger demo image - it is nice to count the pixels to check. Either way is fine with me.

I think your list of 3 bullets before merging sounds good. On the doc strings, agreed no point in going overboard if things are in flux.

One minor thing I might add to the list right now if it hasn't been done yet is making the `

[2018-10-31 16:54] sofroniewn commented on #21
Also it looks like in PR #27 the image layer file is going to be renamed, we should probably stick with the same convention for the markers file - though maybe simplest to still merge this PR as is and then change both the name of both markers and image in that PR, but I just wanted to flag for everyone. Maybe @AhmetCanSolak can provide more detail if needed or I've gotten it wrong.

[2018-10-31 18:20] AhmetCanSolak commented on #21
Yes @sofroniewn . There will some renaming on other files under the layers folder too. If you want to merge go ahead and we might need to refactor them later.

[2018-10-31 20:10] AhmetCanSolak commented on #23
Seems good. Thank you @sofroniewn !
Only, Im not sure about on/off visible displays for colormap, opacity etc.

[2018-11-01 00:53] pep8speaks commented on #27
Hello @AhmetCanSolak! Thanks for updating the PR.

 - In the file [`gui/util/range_slider.py`](https://github.com/AhmetCanSolak/napari-gui/blob/9d1b2364d38f9a1549d32d53226cfa9a07863bb3/gui/util/range_slider.py), following                are the PEP8 issues :

[2018-11-01 14:50] jni commented on #13
@AhmetCanSolak even with the second link, I still prefer the different styles, which are, as far as I can tell, all functional and all consistent with the respective OS, if inconsistent with each other. In contrast, the Fusion style looks somewhere between "meh" and "really off" in every OS.

[2018-11-01 15:00] jni commented on #23
@AhmetCanSolak

What do you mean? My interpretation of the above is that it's only when clicking on the "sandwich" menu in the layer that these menus appear? Is that right @sofroniewn?

Anyway, though, these are minor details, this looks absolutely awesome to me!

[2018-11-01 15:36] royerloic commented on #13
We will see how it goes, if there is a problem with the style we will solve it... One thing that could happen is that we might have trouble having a consistent layout. Time will tell.

Sent from my iPhone

[2018-11-01 16:11] AhmetCanSolak commented on #13
Thank you @jni for your comment. As also @royerloic said then we can go without styling for now and decide in time, especially if we face any issue regarding this.

[2018-11-01 16:13] AhmetCanSolak commented on #23
@jni I thought those menus appear as you hover on sandwich menu icon on layer. With click possibly it will be better. As you said these are minor details that we can figure out later.

[2018-11-01 16:45] AhmetCanSolak commented on #28
Thank you for your comments @kne42 .
As far as what I understand, we have a move slider feature too already. It is called as "bar" in the code. When "bar" is moving, we keep relative distance between splitters constant and let all move together.

[2018-11-01 17:32] kevinyamauchi commented on #21
I added type hints and updated the class docstring so that should be working now. What do you think, @sofroniewn. Good to go?

edit: I also added support for sizes as a list.

[2018-11-01 17:57] sofroniewn commented on #21
Just trying it out now. Doc strings look great, and thanks for adding the list / int for the size param. Not sure if I'm being pedantic, but the `edge_width` can also be an `int` not just a `float` as it says in the doc string.

The only problem I'm running into now is that after I've added the markers if I then change their properties in the notebook the gui no longer updates automatically, it as

[2018-11-01 18:13] sofroniewn commented on #23
yeah, it was something like clickable dropdown menu on sandwich icon that would contain those extra parameters - agree clickable is better than hover in this context. The visible on/off would also be a clickable checkbox, that i made look eye shaped, but could be whatever. Can discuss at the meeting today, and I imagine we might be constrained by what pyqt offers, but just wanted to get something

[2018-11-01 19:17] kevinyamauchi commented on #21
@sofroniewn, sorry, I accidentally broke the update. I just fixed this as well as updated the docstrings.

[2018-11-01 20:22] royerloic commented on #23
Awesome.

Here is the mockup I had drawn that had a proposal for switching between 1D, 2D, 3D viewing and how to pick the dimensions shown...

Sent from my iPhone

[2018-11-02 02:17] AhmetCanSolak opened #29 "convert reST to NumPy-style docs"
Need to return back and update the docs.

_Originally posted by @kne42 in https://github.com/Napari/napari-gui/pull/28/files_

[2018-11-02 02:18] kne42 commented on #29
I can rebase and address this in my documentation improvement branch

[2018-11-02 02:26] kevinyamauchi commented on #21
I think I just made the final changes. Let me know what you think, @kne42  and @sofroniewn (sorry, my last commit "dismissed" your review)!

[2018-11-02 02:50] AhmetCanSolak commented on #29
Why not. Let me know if you will rebase and handle the doc update :)

[2018-11-02 16:48] jni commented on #21
As a minor quibble, in examples documentation etc, can we use the [coordinate convertions](http://scikit-image.org/docs/dev/user_guide/numpy_images.html#coordinate-conventions) from scikit-image? ie tprc,ch instead of xyzct. (I did just realise that columns conflicts with channels. Oh well.)

[2018-11-02 17:05] jni commented on #26
I agree with @kne42, tests should be in a separate directory. See the scikit-image codebase for an example.

Can you explain what is going on with the meta dict? Where will this be used? I want to make sure that we don't deviate too far from (and certainly stay compatible with) imageio.

[2018-11-02 18:24] kne42 commented on #26
@jni That was really there just for demo purposes since we don't actually have a standard for metadata yet.

[2018-11-02 21:25] AhmetCanSolak opened #32 "Git Flow"
@AhmetCanSolak sure, happy for it to be questioned, but I'll point out that the SciPy "master-only" model came *after* Fernando Perez and others questioned whether git-flow was necessary, or just overhead. Many of these projects started out using git-flow then got to the point that dev could nicely act as master anyway. Specifically, if we have good test coverage and process, master should never b

[2018-11-02 21:34] AhmetCanSolak commented on #32
`dev` branch encourages breaking thins, it is true @jni . Indeed, that's the reason as @kne42 explained. We want to develop breaking things together and after having a release we may review our decision on this, for example if you will not have enough time to develop and want Napari to turn into a totally community project.

Squashing is mandatory for contributors. You are right on that having a c

[2018-11-02 23:58] #20 closed, assigned to nobody

[2018-11-03 00:15] kevinyamauchi commented on #24
With #21, I moved demo.py and the marker layer demo notebook into a folder called "demo". Feel free to change the name to examples if you prefer.

[2018-11-03 00:18] kevinyamauchi opened #37 "Choose coordinate convention for docs"
@jni made a comment about coordinate conventions in the docs at the end of #21 that didn't get addressed. I thought I'd make an issue, as I'm sure people have thoughts they'd like to discuss.

@jni:

[2018-11-03 17:18] sofroniewn commented on #32
I agree with @jni, I prefer not to have an explicit `dev` branch. I think it will lead us to situations like we're in right now where things like the markers commit is on the `master` branch but the `dev` branch has a lot of the refactoring and slider. It would be much easier now to move forward and develop if it was all together on one branch.

Regardless we should be making sure that the `exampl

[2018-11-05 00:36] royerloic opened #39 "Collapsing slider in examples/slider.py leads to crash"
Collapsing slider in examples/slider.py leads to crash:

![image](https://user-images.githubusercontent.com/1870994/47972309-b2b45100-e04f-11e8-8a31-ee266910898a.png)

I 'right' clicked and bam...

[2018-11-05 01:07] royerloic commented on #32
I don't have a strong opinion about a dev branch as long as master is clean
and all examples/demos work. I like the idea of using topic branches because
in my experience that has worked well -- but only if the branches are short lived.

@AhmetCanSolak @kne42  Let's give it a try and see how it goes. If it does not go
well we change. This project is young enough that we can try things and see how i

[2018-11-05 01:25] jni commented on #32
@royerloic this is the thing. If you only require master to work, but development happens in dev, and dev can be broken, then long lived feature branches are equivalent, but cleaner, and easier to maintain in the long term. Having a long-lived branch with many unrelated but not quite ready/broken changes is a recipe for maintenance disaster.

[2018-11-05 01:44] kne42 opened #40 "Run examples with PyTest"
We should include running examples with `pytest`, not only to ensure that we are providing working examples, but for right now they’re reasonably effective as tests while we create actual unit tests...

[2018-11-05 01:45] royerloic commented on #40
Definitely.
We need both unit tests and 'demos'.
Tests are machines (automated testing etc)...
Demos are for humans...

[2018-11-05 02:34] royerloic commented on #32
agreed. Let's do it. I think it can work welll, maybe when the number of contributors is multiplied by ten we might have to reevaluate, or not. Let's see what @AhmetCanSolak and @kne42 say about it.

Also, in general, let's keep in mind that at such an early stage for the project, we should not be under the illusion that we can set things in stone... Everything can and must change.... Let's stay a

[2018-11-05 03:16] jni commented on #32
@royerloic absolutely, I am not aiming to set almost anything at all about Napari or its development in stone. In particular, I think the API should be completely changeable at any moment. However, I think the following three principles should apply now and forever:

- on master, tests (which we don't have now but should probably start to acquire... but I have zero experience in GUI testing, does

[2018-11-05 04:04] kne42 commented on #32
I agree with @royerloic and @jni that it’s probably too early/perhaps completely unnecessary to do this so we should merge and close the `dev` branch.

@jni As far as testing GUIs goes, I think it would be best to have a 3-stage testing suite:

1. Each computation-performing operation that can be compartmentalized should be. E.g. if we have a function that dynamically places a button in the layout

[2018-11-05 17:32] AhmetCanSolak commented on #39
Thank you so much @royerloic !
I proposed a fix with #42  . Please check that.

[2018-11-05 17:49] AhmetCanSolak commented on #40
I agree with @royerloic that we need both unit tests and examples/demos and as far as I understand you want to make people run examples with `pytest` too? Correct me if i misunderstood you.

[2018-11-05 17:50] AhmetCanSolak commented on #37
I love to hear about scikit-image convertions first, if possible @jni

[2018-11-05 18:05] royerloic commented on #37
I would rather not impose any strict channel order semantics, this should be provided by the data source via metadata. We have dimension with indices 0, 1, 2, etc... metadata can provide labwls for it, what we choose to display and in which permutation on the screen is completely configurable.
There should be no labels to these dimensions in the docs, just think how numpy does it.

[2018-11-05 18:14] royerloic commented on #40
For now, we should focus on automated non-UI unit tests.
Later, once we converge on a UI, it will be worth adding
unit tests for the UI. But for now I think it is overkill given how
young this project is. UI testing is potentially very complex to
do well and woulkd consume a disproportionate amount of time
to implement. In any case it is too early.

Eventually, we could make use of the following t

[2018-11-05 18:21] AhmetCanSolak commented on #32
As far as I observed, the concept of having both `master` and `dev` is not clear for us.

Planned purpose of `dev` branch was to be the place where development happens. Individual developers fork project, create their future/fix branch on their fork and PR from their branch to our `dev`, where contributors expected to PR to our stable `master`.  Why so? Because we do not have a concrete design and

[2018-11-05 21:08] royerloic commented on #32
Ok, let's merge dev into master and go with until we change our minds...

About the git-based plugin system: we can also use version tags to mark 'good' commits to be used. In any case, once we start playing with the plugin system we will probably realise that there are tons of issues and things we have not thought of yet... let's see how it goes and stay agile.

[2018-11-05 21:30] royerloic commented on #21
Guys, what's left here to do? can we merge?
I would like to get dev and master merged asap
and keep moving...

[2018-11-05 23:58] AhmetCanSolak commented on #39
PR merged

[2018-11-05 23:58] #39 closed, assigned to AhmetCanSolak

[2018-11-06 00:39] jni commented on #40
@royerloic sure, I totally agree. However we should make sure that each PR is properly tested. Perhaps the PR author can make a "script" (as in, a human-readable set of instructions) that exercises all the new functionality, so that reviewers can properly test the PR.

[2018-11-06 00:44] jni commented on #37
@AhmetCanSolak there is a link in my original comments:

http://scikit-image.org/docs/dev/user_guide/numpy_images.html#coordinate-conventions

@royerloic I of course want to be general in how we treat dimensions, but what I am trying to avoid is that we get locked into thinking about xyzct without realising, since that is the worst possible ordering, performance-wise, for NumPy (C-order) arrays.

[2018-11-06 00:54] royerloic commented on #37
Great, you know how important performance is for me, (and you will soon realise for @AhmetCanSolak ). I like the idea to keep in mind the tczyx order as 'what should be done' while retaining full generalilty.
(Actually you answered a quwstion I had which was what is theb order that numpy 'likes' )

[2018-11-06 00:57] royerloic commented on #40
With clearvolume we had lots of 'demos' and each demo had a description of what people should expect to see. Once the project matures and we have more contributors we can start thinking about automating that...

[2018-11-06 22:29] AhmetCanSolak opened #43 "Data Sync/Binding"
I believe this is important to discuss so I will be converting an issue out of it.

_Originally posted by @AhmetCanSolak in https://github.com/Napari/napari-gui/pull/41/comment#issuecomment-436432488_

[2018-11-07 06:04] yxdragon commented on #24
numpy's function can use multicore cpu when in multi-thread(pure python function cannot), and multiprocess can not pass data esaily, must do a memory copy. I want to know the best way too.

[2018-11-07 19:14] AhmetCanSolak opened #45 "Future of Dev branch"
## ❓ Questions and Help
What do we like to see about `dev` branch in future?
Shall we delete it? Or keep it?
We will be now trying to have feature branches and we might want to try back having a `dev` branch in future? Are we interested in to keep commit history separately? (we already merge all commits in master, fyi)

In my opinion, we can delete it since we have commits in master already. Wonde

[2018-11-07 21:22] kevinyamauchi commented on #24
As of #44, master has an examples folder, which includes demo.py

[2018-11-07 21:22] #24 closed, assigned to AhmetCanSolak, kne42

[2018-11-07 21:36] royerloic commented on #45
Let's delete dev. Anybody object?

[2018-11-07 21:38] jni commented on #45
:+1: from me to @royerloic's suggestion

[2018-11-07 21:38] sofroniewn commented on #45
+1 from me

[2018-11-07 21:52] royerloic commented on #45
@AhmetCanSolak  Please proceed with merging... Thanks!

[2018-11-08 00:25] AhmetCanSolak opened #46 "Follow-up PR to #41"
_Originally posted by @sofroniewn in https://github.com/Napari/napari-gui/pull/41#issuecomment-436826845_

We need a follow-up after cleaning qt folder in elements.

[2018-11-08 23:38] sofroniewn opened #47 "add item events"
from @kne42

To address in future PR

[2018-11-09 18:39] AhmetCanSolak commented on #45
`dev` branch is deleted. 🎊

[2018-11-09 18:39] #45 closed, assigned to jni, kevinyamauchi, royerloic, sofroniewn, AhmetCanSolak, kne42

[2018-11-12 20:48] kne42 opened #55 "Layer selection rules"
How should we determine how layers can be selected from the GUI list?

Since it is a list, imo it's most intuitive/standard to interact with it in the following way ("this layer" always refers to the last clicked layer):
- click
  * if no layers are selected, select this layer
  * if another layer is selected, (deselect them and) select only this layer
  * if this layer is selected, deselect this

[2018-11-12 23:53] kne42 opened #57 "QtLayerList does not update in the background"
## 🐛 Bug
`QtLayerList` does not visually update when I tamper with `viewer.layers` until after I click on the window again. I.e., it's not updating in the background for whatever reason.

## To Reproduce

Steps to reproduce the behavior:

1. Create multiple layers and make them identifiable within the layer list.
2. Perform any sort of deleting or reordering operation on the layer list.

## Expect

[2018-11-13 00:16] jni commented on #55
This is certainly the behavior I would expect!

[2018-11-13 01:01] royerloic commented on #55
Perfect!
I hope that PyQt5 has some of this builtin....

[2018-11-13 01:02] royerloic commented on #57
probably have to call some 'repaint' like method to force an update of the GUI...
Strange that this is not happening automatically.

[2018-11-13 01:09] AhmetCanSolak commented on #55
Cannot agree more!

[2018-11-13 18:17] sofroniewn commented on #55
Yep, got it - will get on making those changes today! Love the list, thanks!

[2018-11-13 18:51] sofroniewn commented on #55
Actually question - should it be possible to have no layers selected? i.e. if you only have one selected and you click on it again does it unselect it so that none are selected or does it just keep it selected. I'd argue for the latter (it is how other similar programs do it) and having no layers selected could be strange from the standpoint of other elements in the gui like the clims sliders. Tho

[2018-11-13 19:09] sofroniewn commented on #55
Or does a control click on a singly selected layer leave everything unselected? That behavior happens in some other apps, but I find it strange

[2018-11-13 20:18] sofroniewn commented on #55
Similarly, should clicking in the "open space" around the layer widgets unselect all of them?

[2018-11-13 20:47] sofroniewn commented on #55
Have updated the PR, please check it out

[2018-11-13 21:58] AhmetCanSolak opened #58 "Changing Qt layouts"
## 🚀 Feature
Hello everybody!
I need to introduce a breaking change in code base.  I'm proposing to change layouts to more design friendly way. Like having a grid on top level and widget based layouts accordingly. I started to implement already just want your collaboration on that for smoother merge of this feature.

## Motivation
Current layouting is not working responsively and hard to manage. I

[2018-11-13 22:04] jni commented on #55
Well, at a minimum, I do think Ctrl-click should deselect the existing selection even if it's the only one. Not only is this the behaviour in all other apps I know, it's also self-consistent (ie Ctrl-click *always* toggles selection). I would also argue in favour of deselecting when clicking empty space. Personally I dislike leaving things selected when not actually working on them.

[2018-11-13 22:08] jni commented on #58
I just want to flag that some grid-based layouts can be quite terrible, for example with sliders getting incongruously wide. So, I'm in favour of "sane" layouts, for sure, but imho the main image window is what should stretch and everything else should stay the same size (with the sliders matching the image window in width/height for horizontal/vertical sliders).

[2018-11-13 22:18] AhmetCanSolak commented on #58
@jni exactly. Sliders, both the ones in bottom and left of the viewer will be matching viewer width/height. As well as sliders, layerlist will be doing same on right hand side too. please find the dummy template below:
<img width="1057" alt="screen shot 2018-11-13 at 12 53 17 pm" src="https://user-images.githubusercontent.com/15677695/48446778-09581400-e74f-11e8-82c5-1aeb4bbfb526.png">

[2018-11-13 22:29] jni commented on #58
Ok, so the width of (1) and the height of (4) will be fixed, right?

What are you gonna do with the corners? :joy:

[2018-11-13 23:33] sofroniewn commented on #55
Ok - i can make those two changes. I think we'll have to see how having no layers and multiple layers selected interacts with other gui elements like the clims sliders, but that is for another PR / issue!

[2018-11-13 23:36] sofroniewn commented on #58
This seems reasonable to me. I think I would make the width of (3) fixed too.

[2018-11-13 23:57] kne42 commented on #55
Since not all layers will be defining the left-hand "control" panel, I think we can just collapse it in cases where multiple layers, no layers, or a layer with no control panel are selected.

[2018-11-14 00:19] sofroniewn commented on #55
I have made unselection changes and updated the current PR, please let me know if the behavior is as desired.

[2018-11-14 00:43] AhmetCanSolak commented on #58
@jni

They are proportional but trying to find a way to give max height/width to achieve desired functionality.

We can have a slideshow of our pictures? :P or getting ads maybe :P. just kidding.

@sofroniewn
I want to make it similar to 1.

[2018-11-14 01:03] jni commented on #58
imho max should be equal to min. =P

[2018-11-14 02:04] sofroniewn opened #59 "Way to get at extra layer properties."
Should extra layer properties be available by double clicking on a layer widget and opening a popup box / or folddown menu or by clicking a sandwhich like menu icon - or another option. Came up in discussion of #54

[2018-11-14 17:37] sofroniewn opened #61 "Features to 0.1 release"
Here's a list of features that I put together during last Thursday's meeting - can serve as discussion points for future meetings. Overlaps with some previous issues, but thought it would be convenient to put it all in one place.

- [x] Simplify grid layout of window into viewer, layerlist, slicing sliders and cmap sliders. Include adding splitters so can chose to display or not.

- [x] Add select

[2018-11-16 23:56] AhmetCanSolak commented on #58
With #63 I introduced splitters to make main components of the gui, except canvas, collapsable. I will be addressing restructuring gui layout ideas in the following PRs.

[2018-11-18 02:08] #55 closed, assigned to nobody

[2018-11-19 22:43] AhmetCanSolak opened #66 "Making Viewer a self-contained Structure"
I would prefer to see this code inside of the viewer,
Any reason it is not there?
I would like to keep the window to a minimum and
only concerned with 'window'-specific things like menus, etc...

The viewer widget should be self contained and should be able work independently of the window,
(as part of something else for example...).

_Originally posted by @royerloic in https://github.com/Napari/n

[2018-11-20 03:02] #29 closed, assigned to AhmetCanSolak, kne42

[2018-11-20 05:39] sofroniewn commented on #66
I'm glad you pulled this out for discussion. Right now I conceive as the window containing the color control panel on the left, the viewer in the middle (which as contains the dimension sliders) and the layers panel on the right. Logically these three things could all live in a `QHBoxLayout`, though I know @AhmetCanSolak was also thinking about a `QGridLayout` - I'm not sure if the `QSplitters` PR

[2018-11-20 22:45] AhmetCanSolak commented on #66
Indeed I prefer those in a `QHBoxLayout`. Horizontal Splitters PR does not introduced anything else and Vertical Splitters will not introduce too. But im not 100% sure on keeping canvas and dimension sliders together in the viewer. It might be good to separate them. What do you think guys? @kne42 @jni

What I meant by refactoring was: Taking the logic from Window class to Viewer class. Make Window

[2018-11-21 01:10] batson opened #69 "Intensities in are normalized by values in first frame"
## 🐛 Bug

If the first slice of a z-stack is all zeroes, then subsequent slices appear all white. I believe that intensities are being normalized to the range of the first slice.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Intensity scaling should be done for the whole stack at once (or perhaps as a per-slice option), not based on the first slice.

## Environm

[2018-11-21 08:42] jni commented on #66
Oh, no, I 100% think that the dimension sliders and the contrast sliders should *always* be attached to the canvas. These are Napari's reason for living. Unless I'm misinterpreting the question? Which is very possible, to be honest I'm a bit out of my depth with all the Qt layout discussion. It would be nice to include diagrams when these things are being discussed... ;)

[2018-11-21 08:44] jni commented on #66
fwiw I agree that tabs should not be cluttering our mind at this point.

[2018-11-21 18:44] kne42 commented on #69
Thanks for reporting this bug @batson! Reproduced on [`9a08159`](https://github.com/Napari/napari-gui/tree/9a081595b3d51ed2e85e5119b58e1b9137b6bb77).

Summary of bug:
- `clim` is defaulted to `'auto'`
- first slice is prepared for texture upload
- `clim` is resolved from `'auto'` to the `min, max` of the first slice
- subsequent slices have this `clim` carried over (in this case `0.0, 0.0`)

We ca

[2018-11-23 06:31] sofroniewn opened #71 "Stylings for editing text of layer names"
From @jni

[2018-11-24 01:56] kne42 opened #26 "Idea: use namespace packages in conjunction with plugins"
# Introduction
As discussed in our last meeting, [namespace packages](https://packaging.python.org/guides/packaging-namespace-packages/) could be a handy way to ship useful core modules separately for use as standalone packages. This could be extended to all plugins that could be useful outside of the broader Napari ecosystem, such as [`napari-gui`](https://github.com/Napari/napari-gui).

This wou

[2018-11-24 01:56] kne42 opened #139 "Idea: use namespace packages in conjunction with plugins"
# Introduction
As discussed in our last meeting, [namespace packages](https://packaging.python.org/guides/packaging-namespace-packages/) could be a handy way to ship useful core modules separately for use as standalone packages. This could be extended to all plugins that could be useful outside of the broader Napari ecosystem, such as [`napari-gui`](https://github.com/Napari/napari-gui).

This wou

[2018-11-25 03:51] sofroniewn commented on #59
We settled for double clicking to expand the widget itself. This has now been implemented in #68

[2018-11-25 03:51] #59 closed, assigned to nobody

[2018-11-26 04:11] jni commented on #139
OMG if we'd had namespaces in the early days of scikit-image/learn! :joy: I haven't done a careful review here, but on first pass I love it!

One thing I'd like to consider is to not call the current viewer `napari-gui` but rather `napari-viewer`, reserving `gui` for the full UI with plugins and processing. As we've discussed, just the viewer by itself is super-useful so I'd like that to be a bare

[2018-11-26 04:16] kne42 commented on #139
@jni that’s a good point but we’ll need to hammer out the details on what constitutes the “viewer” vs the “gui.” For example do we want to include the who layer list thing, drag selection, etc.

[2018-11-26 22:23] berl opened #75 "windows install mess?"
## 🐛 Bug

The symlink in the repo doesn't work for windows. in my conda environment, pip install exits without error but does not result in an installed package available in python (also demos don't run).  `python setup.py install` fails with the error below.

## To Reproduce

Steps to reproduce the behavior:

1. clone repo, cd into napari-gui
2. python setup.py install

[code]
## Expected behavio

[2018-11-27 04:04] sofroniewn commented on #75
hi brian - sorry about that. i havn't got a windows machine, but I'm sure someone else will. thanks for flagging, we'll get back to you! it's strange to me that it can't find those files as they do exist!

[2018-11-27 04:24] berl commented on #75
yeah, they're just not getting copied, probably because the symlink/shortcut isn't doing what it's supposed to. It seems like an odd choice to not just rename the directory as `napari-gui` and do away with the symlink. but it looks like someone tried that at some point and changed it back?

[2018-11-27 05:01] sofroniewn commented on #75
ah actually i think i was told by @kne42 to do something with putting the icons folder in our requirements somewhere to make sure it got copied with pip - but I didn't do it and can't quite remember now what it was i was supposed to do. might not be exactly the problem here, but probably worth doing regardless

[2018-11-27 05:49] kne42 commented on #75
@berl Thank you for the bug report! As you surmised, it does appear to be an issue with using Unix-style symlinks on Windows (see [this thread](https://stackoverflow.com/questions/5917249/git-symlinks-in-windows) on StackOverflow).

IMO the easiest solution is to just implement the structure as proposed in Napari/napari-core#26 if everyone agrees on that.

In the meantime, creating a [Windows-styl

[2018-11-27 05:51] sofroniewn commented on #75
@kne42 thanks!! I had no recollection of that - but I now see it's there :-)

[2018-11-29 19:06] AhmetCanSolak opened #77 "Behavior After Deleting All Layers"
## ❓ Questions and Help
Once you delete all layers, various IndexErrors are thrown.
What is the expected behavior instead? accordingly we can plan to take a decision about it.
Please provide your understanding and the behavior you are expecting.

[2018-11-29 20:10] AhmetCanSolak opened #78 "Getting Clim Values From Layers"
## ❓ Questions and Help
Hello to all `Napari` friends.

I am currently trying to implement the clim slider feature.
To initialize the vertical range slider for clim, i need to get the minimum and maximum color values for all selected layers. Hence i am trying to reach to `viewer.layers._list` list and will be iterating over that list to find min and max color limits. However, we do not have the la

[2018-11-30 01:23] sofroniewn commented on #61
Some comments from todays meeting on features / refactoring.

For features - focus on get basic clims sliders working including styles of range slider.
	- only support changing top selected image when multiple selected

For refactoring
	- focus on data passage between elements
		- make thread safe
	- focus on getting slicing / indexing working (assuming image.shape is identical)
		- allow switch m

[2018-11-30 01:28] sofroniewn commented on #78
I'd say for now "pass layers to Controls contructor in `_viewer.py`" sounds good, it is how we do it for other elements. But once this is done and we go to refactor we can revisit if we don't like it.

[2018-11-30 01:30] sofroniewn commented on #77
Yes. I would like us to support deleting all layers, the vispy canvas going black, and then still be able to add in new layers and have everything work (which is not the case right now)

I'd also like us to support launching a new viewer with no image present and then be able to add layers to it. i.e.
[code]

or maybe `gui.create()` or something else equivalent

[2018-11-30 19:41] sofroniewn opened #79 "Color blending across layers"
## ❓ Questions and Help

A use case that I think will come up frequently is having multiple color channels of data that we want to visualize simultaneously (probably most commonly between 2-6 at a time). I think we want to create an independent image layer for each color channel, assign each it's own colormap with independently adjustable clims (which we can do now), but what we then lack is the a

[2018-11-30 20:13] kevinyamauchi commented on #78
I agree with Nick. Thanks, @AhmetCanSolak ! Looking forward to testing them out!

[2018-12-01 00:48] sofroniewn opened #80 "Expected behavior of clims range slider"
## ❓ Questions and Help

I'm making this issue to discuss expected behavior of the clims range slider.

I think the slider should only interact with the top most selected visible image layer. If no image layers are selected and visible then the slider should be functionally disabled and visually greyedout. If multiple image layers are selected and visible changes of the slider will only affect the

[2018-12-01 01:06] AhmetCanSolak commented on #80
i think disabling such slider is a production level concern. Other than that it could affect only the top most selected image layer, no problem with that.

I think this questions deservers a complicated solution in the long run. I would be happy to hear more about what we want to see initally.

[2018-12-01 01:23] jni commented on #80
Yes, but there's a lot to unpack here. Scenario:
- layer 0 is visible but alpha is 0.5
- layer 1 is visible under that
- layer 1 is selected

I think the sliders apply to Layer 1. Agreed?

Actually it would be good if the sliders showed the layer name on top.

Another scenario:
- layer 0 is visible, alpha is 1
- layer 1 is set to visible, but is occluded by layer 0
- layer 1 is selected

I presume

[2018-12-01 01:34] jni commented on #79
In a related note, we should also offer alpha proportional to the image intensity, that can be a quite nice way to overlay two images. Could be a tick box next to the alpha slider.

I'll leave the blending modes to the graphics experts. Yes, I myself would solve it with NumPy, and @royerloic would yell at me. =P

[2018-12-01 18:26] sofroniewn commented on #79
Alpha proportional to intensity sounds good. I get how to do it using numpy, though I'd have to first convert the image to RGBA, which will require looking at the clims / making some decisions about how to map to 0-1 ...

[2018-12-01 23:04] sofroniewn commented on #79
So looking into vispy a little, a couple things to note. First it's very easy to create new colormaps in vispy, including ones with alpha proportional to intensity.
[code]
The first colormap is one that goes from black to blue at full opacity, the second one does the same, but now alpha is proportional to intensity too.

In general, I think we should create a curated list of colormaps likely to be

[2018-12-01 23:16] sofroniewn commented on #79
On the left a real rgb image (happened to be 3 channels worth of data) on right 3 channels plotted seperately with colormaps of the form `Colormap([(0, 0, 0, 0), (0., 0., 1., 1.)])` for the 3 different channels (r, g, b) adjusted appropriately. I think we should strive to be able to reproduce images that look like the ones on the left from data that has been separately plotted, when in the 2-6 cha

[2018-12-01 23:58] freeman-lab commented on #79
👍 to using the blending of that RGB image (or similar) as the test case for what we want to achieve

👍 to supporting alpha, even if it doesn’t do everything blending modes can

👍 to curating a list of colormaps -- awesome it's so easy to make custom ones in vispy. i'd be careful to avoid overindexing on the biological use cases per se, but i'm sure we could come up with a relatively manageable lis

[2018-12-02 00:28] sofroniewn commented on #79
ok nice, I'll try creating a minimal vispy example that doesn't use napari but sets up the visualization in the same way. Once I have that working I'll think about posting a vispy issue!

[2018-12-02 00:53] jni commented on #79
Yes, I wasn't suggesting proportional alpha as a blending solution, rather, I've used it for example to overlay light microscopy and EM in CLEM datasets, it works really nicely there. I can't remember whether I used a linear mapping actually, maybe it was more exaggerated.

This paper has some nice cyclic colourmaps, which I don't think is true of matplotlib currently, mainly because they constrai

[2018-12-02 01:29] sofroniewn commented on #79
That's a great thread - I'm open to supporting CMY as a default, with RGB as an option, but right now we havn't got either working!!

[2018-12-02 02:15] royerloic commented on #79
Guys, I checked vispy. We can do this by tweaking the OpenGL options at the canvas level by disabling the depth testing and enabling blending. Let me take care of this...  It's exactly what we did for supporting multi-channels in ClearVolume and its the right thing to do to have it work for 1D, 2D, and 3D.

[2018-12-02 05:11] sofroniewn commented on #79
@royerloic sounds great, let me know when there's something you want me to look over

also here's a link to the behavior in imageJ https://imagej.net/Color_Image_Processing, I think we want to support functionality like their merge channel option.

[2018-12-03 05:35] sofroniewn commented on #79
@royerloic - turns out this is pretty easy, thanks for turning me in the right direction though - it's implemented in vispy as `set_gl_state` on an `ImageVisual` (and other visuals). They have three presets `opaque`, `translucent`, and `additive`. Right now we're essentially using `translucent`. `additive` achieves the behavior I desired above. `opaque` doesn't allow for any blending and doesn't s

[2018-12-03 17:10] AhmetCanSolak commented on #80
I mean working on ranges and behavior according to selected layers should have more priority right now. Disabling slider can be handled later. To me, it makes more sense to first have a working functional unit then apply it in the way desired. IMHO work order for this feature should be:
`Ranges > Behavior with selected/unselected layers > disabling slider on some condition`.

[2018-12-04 00:40] royerloic commented on #80
To start the clim should be applied to all image layers using the common min and max.
If the images are not comparable because on completely different ranges, we can have
a checkbox that let's one normalise all image layers between [0,1]. I instructed @AhmetCanSolak
to start with that and we will see later how we refine this based on how it looks and feels...

[2018-12-04 00:55] sofroniewn commented on #80
@royerloic I disagree with pegging the range of the clims to the max and min. I haven't found that useful personally, and seems unlikely to be sufficient. I often like to put the top clim value larger than the image max as otherwise the images appear almost saturated to me. I am currently doing this in a notebook when using Napari now :-)

I also disagree with applying the clim to all layers simul

[2018-12-04 01:02] royerloic commented on #80
What we are planning to do with @AhmetCanSolak is to use:
[min-0.2*(max-min), max+0.2*(max-min)] where min and max are the min and max of all channels.
This assumes that the images are comparable (similar ranges).
If the images have completely different ranges we can toggle a switch to normalise
them all to a common range. We could have a 'brightness' slider per image layer to tune
individual laye

[2018-12-04 01:04] royerloic commented on #80
for saturation, gamma is what you want...
(remember, there is always a gamma because of screens,
so adjusting gamma is always desirable)

[2018-12-04 01:06] sofroniewn commented on #80
Using a some function of the max/min seems like a reasonable place to start.

I don't like the idea of per image sliders / normalization.

Agreed adding gamma changes the game!

But agreed - we'll see how this feels and take it from there!!

[2018-12-04 06:59] jni commented on #80
I'm very much with @sofroniewn here: I think global settings are not a great idea. As he says, I'm happy to see how it feels in common use, but e.g. for scikit-image workflows you will often have images in 0-255 and others in 0-1. Using the same range for both is killer to say the least. If you want to switch behaviour then the switch should be *into* the global mode, not away from it.

[2018-12-04 17:35] AhmetCanSolak commented on #80
I think @royerloic 's will provide same functionality in the long run and can be preferable. With a normalization button on layers, all images can be mapped [0, 1]. Also without implementing the global clim, there are so many different corner cases handle. I love to decide on this matter after getting more feedback from various users and use cases. Currently we have global implementation in #82

[2018-12-04 18:56] sofroniewn commented on #80
Agreed, this issue seems complex enough that getting a couple different implementations working and seeing what feels right seems like a good idea. With just one image in the viewer in #82 the range limits are working ok for me right now, though I'd still like to be able to set them myself, and I havn't played around with enough different types of images yet to get a good sense of them yet. Someti

[2018-12-04 22:05] sofroniewn commented on #80
I did some digging into imageJ and how they set look-up-table limits and deal with multiple channels.

Here’s some info from the docs
https://imagej.nih.gov/ij/docs/guide/146-28.html

For a single grayscale image they set the limits of the range to be the min and max of the image. Maybe this will work for most users and we should copy it. I guess I was wrong on this one above ;-)

The auto-button

[2018-12-04 22:19] AhmetCanSolak commented on #78
implemented in the way mentioned, you can check in #82 . Thank you guys.

[2018-12-04 22:19] #78 closed, assigned to sofroniewn, AhmetCanSolak, kne42

[2018-12-04 23:31] jni commented on #80
Wait, what? I've opened plenty of uint8 images with values in {0, 1} that looked totally black in Fiji. Indeed I just tested it and got the same result:

[code]

`image` indeed displays correctly with the min and max, while `image2` appears all black. So it seems it only uses the image min and max for data types other than uint8.

[2018-12-04 23:37] freeman-lab commented on #80
Just to weigh in here... took a look at the PR in https://github.com/Napari/napari-gui/pull/82 , and played around, super fun to see this functionality starting to take shape!

I actually strongly agree with @sofroniewn and @jni that the default should be to apply clims to the selected layer, rather than apply them globally. Totally appreciate that the normalize button per layer helps, but even wi

[2018-12-05 21:22] sofroniewn opened #83 "Plan for refactoring"
## ❓ Questions and Help

At the meeting last thursday @royerloic proposed a feature freeze and to do some refactoring before things got unwieldy. Although we havn't quite finished merging in the in-progress features I thought I'd create this issue to allow some discussion about the upcoming refactoring - what we want to achieve / how we plan to go about it. It could give us a jump start on the mee

[2018-12-05 21:36] #23 closed, assigned to nobody

[2018-12-05 22:38] AhmetCanSolak commented on #83
not necessarily we need to freeze things. Maybe on some certain occasions. IMO merging on-going PRs would be a good initial target for our study tomorrow.

I think all are important we all should work on same thing, one-by-one, so `refactoring` makes sense. If not what would be the difference then normal way of doing things :)

These are all important concerns IMO and we will handling all one-by-o

[2018-12-06 22:37] sofroniewn opened #84 "Unify layers.ipynb and demo.py example"
## ❓ Questions and Help

Right now our notebook and scripting examples use slightly different versions of the api `imshow` and `add_image`. These should be unified.

In general we should think about what examples we want and what testing we want to ensure all our code is working properly.

[2018-12-06 22:42] AhmetCanSolak commented on #83
`QActions` should be considered to handle focus switches between gui components

[2018-12-06 22:45] sofroniewn commented on #79
Merged in #81

[2018-12-06 22:45] #79 closed, assigned to nobody

[2018-12-07 02:38] sofroniewn commented on #83
with @AhmetCanSolak and @kne42 we have started thinking in more detail about the refactor.

For starters we will rename the current `window` to `gui`. The `gui` will support things like the menu-bar and multiple tabs each containing a `viewer`. For now we are still focused on the single viewer use case.

A viewer now contains `control_bar_panel`, a `canvas`, a `dimensions_panel`, and a `layers_pan

[2018-12-07 02:56] sofroniewn commented on #80
We discussed this issue during our meeting. The conclusion was that we would support a clims slider that applied only to the layers selected, so if only one layer is selected it applies to only that layer, if multiple layers are selected it applies to all the layers forcing them to use the same clims. This may lead to some undesirable behaviours if the multiple selected layers are very different f

[2018-12-08 21:17] sofroniewn commented on #84
Curious what peoples thoughts on the examples are? One thing I think we're agreed on is that we want the scripting examples and the ipython examples to be the same (as far as possible) and that we're going to start using something like `jupytext` soon (see #67). I think we also agree that we want to start providing some of our own images, and drop `skimage` as a dependency.

For now though I'm won

[2018-12-09 02:16] kne42 commented on #84
The script and interactive APIs differ primarily because interactive sessions provide their own Qt event loops whereas scripts must manually start the event loop with `QApplication.exec_()`, which is a blocking process.

While I definitely agree that the script API should be _similar_ to the interactive's, I don't necessarily think that we should necessarily have the same API for both. `matplotlib

[2018-12-10 17:30] AhmetCanSolak commented on #84
I think it is a good idea. It is also useful for testing.

However, aside from `viewer.imshow()` we should provide a way to create gui without adding an image layer? Am I right? correct me if got our discussions wrong.

[2018-12-10 22:36] sofroniewn commented on #69
This bug has now been fixed with #85. We now calculate and set clims using the max and min of the whole image volume on loading.

[2018-12-10 22:36] #69 closed, assigned to AhmetCanSolak, kne42

[2018-12-10 22:38] sofroniewn commented on #80
We have now implemented a first pass at a clims rangebar including layer specific and global modifications. We're still missing the ability to make global changes that respect the relative intensities of different layers, but this behavior could be supported in future PRs if desired.

[2018-12-10 22:38] #80 closed, assigned to nobody

[2018-12-11 20:28] sofroniewn commented on #83
I think it is best for methods like `add_image` will remain on the viewer and not be relegated to viewer.canvas or something like that. Other opinions?

[2018-12-11 20:31] kne42 commented on #83
Yeah, that’s definitely a much more intuitive API.

[2018-12-11 21:21] sofroniewn commented on #83
Cool, I'm currently thinking about the following for the API

`viewer.imshow()`- as before
`viewer.add_image()` / `viewer.add_markers()` - as before

`viewer.gui` - parent gui window
`viewer.gui._qt` - parent gui window qt element

`viewer._qt` - qt element for the viewer

`viewer.layers` - LayerList as before
`viewer.layers._qt` - has the qt elements for the layers panel etc. as before

`viewer.s

[2018-12-16 18:58] sofroniewn commented on #139
Have read this over again, and I think it makes a lot of sense. It seems like it will be much easier to integrate packages that are being versioned and distributed separately, which is what we want.

[2018-12-18 02:38] sofroniewn opened #91 "Input args to add_markers"
As noted in #88 right now it's awkward to create a new empty markers layer. One solution proposed by @royerloic and @jni is to pass a shape argument like `size=my_tuple`. This will solve a number of ambiguities and should be implemented in a future PR

[2018-12-19 06:31] sofroniewn opened #92 "Where do qt elements get connected to functions"
## ❓ Questions and Help

My question has two main parts to it. The first is where to qt elements get connected to functions? What I mean by this is right now take one of the buttons like out `QAddLayerButton` this needs to get connected to the function that actually adds the layer. It was previously done inside the `_layer_buttons` file inside the `qt` folder, but now in the latest on #90 I have m

[2018-12-19 10:22] jni commented on #92
@sofroniewn I have literally no thoughts on this. =P

One thing did strike me:

Without fully grasping the architecture now or what you're proposing, this sounds good to me. Single points of control are a Honking Good Idea.

[2018-12-19 16:04] sofroniewn commented on #92
It's really a question about what lives in `QtDimensions` vs `Dimensions` or in `QtLayer` vs `Layer` or in `QtLayerList` vs `LayerList` and whether the non-qt object should be passed to the qt object on constructions. To be more explicit - if you look at the current state of #90

In the `_dimensions` file in the `qt` folder is the following
[code]
and within that class `viewer` gets used in a coup

[2018-12-19 20:03] bryantChhun commented on #84
I am all for lots of small examples, very much like how vispy publishes their examples.

I'm also willing to write a bunch of these and/or tests for the scripting side of things.

[2018-12-19 22:56] kne42 commented on #92
I was considering maybe even taking a page from @royerloic’s reply https://github.com/Napari/napari-gui/pull/88#issuecomment-447415295 and making this all more modular by using another listener pattern here. Not sure if it’s a bit overkill tho.

In that case, all abstract viewer functionality would be housed directly inside of the viewer and Qt rendering objects such as QtDimensions would listen i

[2018-12-19 23:05] sofroniewn commented on #92
@kne42 that seems reasonable to me, I'd have to see it to really understand. In the mean time do you think I should continue pulling logic out of the Qt classes? We can wait until we've merged #88 and #90.

[2018-12-20 00:26] jni commented on #92
Thanks very much for the explanation @sofroniewn! That is clearer. I think it's a very good idea. If, say, in 5 years we decide that PyQt is no longer the way to go and we should switch to Kivy, this kind of separation will make that process much less painful.

I'm less sure about the listener pattern since that directly depends on PyQt anyway...

[2018-12-20 01:46] kne42 commented on #92
It can be but it doesn’t have to. We can always create our own event system
or just steal vispy’s :P

On Wed, Dec 19, 2018 at 2:26 PM Juan Nunez-Iglesias <
notifications@github.com> wrote:

[2018-12-20 04:52] royerloic commented on #92
A few general principles to keep in mind:
i) It is often a good idea for the UI to know about the machinery but not for the machinery to know about the UI. Something has to know about something, for sure, but why choose one over the other? First, the UI is really a 'view' and should be optional. This makes it possible to have the machinery operate headless which is always a good idea. New UI archi

[2018-12-20 18:21] sofroniewn commented on #92
Ok nice, these are great general principles. As we go through the refactor and #90 and beyond we should be thinking about how we are applying them.

[2018-12-20 22:27] AhmetCanSolak commented on #139
I like namespaces. I support in general for `napari` environment. However, second limitation is an important one. If we do not implement a solution to that there will be several issues on Windows.

[2018-12-20 23:22] AhmetCanSolak commented on #92
Totally agreed. I think it is not only for UI/non-UI related imports but in general true. Except util-like pieces, it is bad sign to  importing same thing in many occasions.

Thank you @royerloic. I encourage everybody to come up with such meta comments and discussion. This way we can push implementation forward more stable.

[2018-12-21 05:46] sofroniewn commented on #66
This has been resolved in #88

[2018-12-21 05:46] #66 closed, assigned to royerloic, AhmetCanSolak

[2018-12-21 05:48] sofroniewn commented on #58
This has been addressed in #88

[2018-12-21 05:48] #58 closed, assigned to AhmetCanSolak, kne42

[2018-12-21 06:13] sofroniewn commented on #2
Basic clims was implemented in #82 and #85

[2018-12-22 18:38] sofroniewn commented on #92
Hi all, I was looking around for some examples of pyqt5 apps built using a model / view like architecture and I found this one [blog post](https://www.pythonforthelab.com/blog/step-by-step-guide-to-building-a-gui/) and [repo](https://github.com/PFTL/website/tree/master/example_code/22_Step_By_Step_Qt/AI_camera_model) that I think is quite nice.

Here the `model` gets passed to the `view` on constr

[2018-12-22 19:00] sofroniewn commented on #92
Trying to take that example and the guiding principles from @royerloic, and get into the specifics for napari it seems that our architecture should consist of non-UI and UI peer classes (I like this terminology) where the UI (equivalent to the `view`) takes the non-UI (equivalent to the `model) on construction and adds it as a property.

The UI class can then read anything it needs from the non-UI

[2018-12-22 19:51] kne42 commented on #92
1) I think that the only thing that discourages directly setting the attributes is that the UI class should be updated whenever the non-UI class is swapped out. However, this is fine in Python since we are using `property`s and can call the update code in our "functional" attribute access.

2) We should definitely not go with the Qt event system outside of Qt classes, especially considering that w

[2018-12-25 06:46] kne42 commented on #92
I think that, as @sofroniewn is touching on, we should definitely address is how we’re structuring the project as a whole. @AhmetCanSolak you’re the expert here, what are your thoughts?

I think a definite first is that we need to move away from the whole concept of matching Qt and non-Qt components as 1:1 pairs. I think that we should adopt more of a one-to-many protocol where information from a

[2018-12-26 02:55] royerloic commented on #92
Strongly support @kne42 last comment!

[2018-12-26 20:20] sofroniewn commented on #92
I'm open to moving away from the matching pairs concept, but regardless PR #90 is now in pretty good shape (using the matching pairs, but otherwise trying to be more like a MVC pattern) and I think we should review and merge those changes first.

If we then want to adopt more of a one-to-many system that's fine, but we should start making those changes with #90 as a base and not the current master

[2018-12-26 20:53] kne42 commented on #92
Of course! I’ll review it shortly :)

On Wed, Dec 26, 2018 at 10:20 AM Nicholas Sofroniew <
notifications@github.com> wrote:

[2019-01-11 12:01] AhmetCanSolak commented on #92
@sofroniewn thank you for questions to discuss. I will be replying the @kne42 's answers since already she answered some questions exactly in a way i would answer.

I want to address these together. MVC definitely good idea. But as far as i understand we want UI to be updated when we use API or vice versa. Hence, we need double binding for almost everything on UI. There is a very-well known soluti

[2019-01-14 08:37] jni commented on #92
@AhmetCanSolak

I thought the whole idea behind the emitters/listeners pattern was that if we update the model using the API, the model "emits" that change, without knowing what views exist. Then you can have as many viewers as you like without the model having to know about them?

I am a noob at GUI programming so forgive me if that is a noob question!

Incidentally, I'm not super clear on what i

[2019-01-14 17:24] AhmetCanSolak commented on #92
You are right. If views able to manipulate model directly, what you are saying would be enough. If not, then we need double way binding. I'm not sure about this on all views. Love to discuss this in next meeting.

[2019-01-15 23:01] jni opened #93 "Figure out best printing format for status bar"
Over in #90, @sofroniewn, @kne42, and I were discussing the formatting of numbers in the Napari status bar. No format string produces satisfactory results for all input types, so we need to write a function that picks the right format string for the right situation. See https://github.com/Napari/napari-gui/pull/90#discussion_r247782298

[2019-01-20 00:23] sofroniewn opened #94 "Fix circular referencing"
## ❓ Questions and Help

Right now we have a lot of circular referencing of our main objects, i.e. you can type `viewer.control_bars.viewer` or `viewer.layers.viewer`. This was raised at our last meeting and was seen as undesirable as right now you can basically get anywhere from anywhere and read / write as you wish. Unfortunately it was not clear how to fix it. Note that this question doesn't di

[2019-01-20 00:30] sofroniewn commented on #83
With the merging of #90 we've now addressed some of these questions, and while there's still more refactoring to do, makes more sense to have those discussions on other issues

[2019-01-20 00:30] #83 closed, assigned to nobody

[2019-01-20 00:33] sofroniewn commented on #46
this comment referenced organization of qt folder that has been somewhat addressed in #88 and #90. We may still want to rearrange the qt folder more if we move away from peer UI / non-UI classes, but we can do address that at the appropriate time. It is also being discussed on #92

[2019-01-20 00:33] #46 closed, assigned to nobody

[2019-01-20 02:02] sofroniewn commented on #94
I feel like for read events it's ok - just have the `viewer` pass the `ControlBars` the information it needs when it needs it (could be all of the `LayersList` could just be some computed values).

The trickier bits for me to imagine are the write events - i.e. something is happening inside `ControlBars` and the `viewer` or `LayersList` needs to be updated. I see two potential solutions - either t

[2019-01-20 09:31] sofroniewn opened #95 "Add names to vispy colormaps"
## 🚀 Feature

As described in #89 currently the vispy colormaps do not have a name field which is the string by which they can be created. It would be useful to have that name field so that we can reference it in the dropdown menu when the colormap is changed in the notebook or on launch.

We could either add this directly in vispy or make a wrapper ourselves. The former is probably slightly nicer

[2019-01-20 09:32] sofroniewn opened #96 "cmap vs colormap on a layer"
## ❓ Questions and Help

As initially posed in #89 - both `cmap` and `colormap` exist as properties on a layer, but have slightly different setters. It's not clear to me what the difference is or why we need both. If possible it would be nice to eliminate one. Maybe @kne42 has the answer?

[2019-01-20 09:35] sofroniewn opened #97 "Add basic colormaps"
## 🚀 Feature

As discussed in #89 it would be nice to add some standard colormaps that people might want to use (particularly in biology) like the following:

Reds - black to red
Greens - black to green
Magenta - black to magenta
Yellow - black to yellow
Cyan - black to cyan

It might also be nice to add some standard diverging ones too like red to blue through white or red to blue through black -

[2019-01-21 03:34] jni opened #137 "Security on GitHub"
We all like the idea of GitHub repositories as plugins. However, GitHub has a dramatic security flaw, which is that deleted usernames can immediately be reclaimed by anyone on the internet. (!) This means that if a developer of a trusted plugin closes their account, there is nothing to stop someone from replacing the plugin with the plugin + a bitcoin mining bot, or worse.

None of us are security

[2019-01-21 17:28] sofroniewn opened #98 "Shape layers API"
## ❓ Questions and Help

I've done some exploring of how to make polygons etc in vispy and have now found some highly performant approaches (drawing 10,000's very quickly and zooming / panning with no lag). The question is - how do we want to expose shapes to our users both those working from the notebook and those working in the gui?

Right now we have the `add_image` and `add_markers` function w

[2019-01-21 20:19] sofroniewn commented on #98
One extra comment - right now the following is the case:

- Can make each face / line its own color
- Can adjust opacity of each face / line independently
- Can make each marker its own size
- Cannot make each line it’s own width - fixed for all lines
- Cannot make each marker its own color (edge + face) - can make them different from face / line colors
- Cannot adjust opacity of each marker indep

[2019-01-22 06:23] AhmetCanSolak commented on #137
I do not think usernames are the only unique identifiers to authenticate people. Here what github user APIv3 returns:
[code]
As far as i know id field is unique per user. Maybe node_id field as well, don't know needs check. email field also worth to look at. I think for their own business interest they must been addressed this issue already.

[2019-01-23 11:17] jni commented on #137
Great. I think it would be pretty hard to spoof the email so maybe if the email changes then the repository can be flagged as potentially iffy? And we can put a warning there when a user wants to install that plugin.

[2019-01-23 18:42] kne42 commented on #137
That still does not cover the case in which an install is done from scratch (unless you want to include a lock file).

I don’t think this is really that big of an issue. There are many other softwares that use a git-based system that has the same vulnerabilities, including the popular programming language Go.

I think it’s the responsibility of the users and plugin developers to keep their program

[2019-01-23 18:45] AhmetCanSolak commented on #137
I think the concern here is delivering the best quality software we can in terms of security. Btw, a lock file will be overkill for sure. Might be nice to present plugins in a marketplace where users can check the details. Just an idea.

[2019-01-23 23:29] jni commented on #137
Exactly. I am not a security researcher so I know I can't make Napari bulletproof, but I can still take care and try to avoid super-stupid stuff.

We could have some sort of online listing for this. Like haveibeenpwnd for github repos. =P

[2019-01-24 21:23] ambrosejcarr commented on #14
I agree here. Numpy should always be first class. As a napari user, I want labeled axes in Napari so I know what axis of my 5-d tensor I am toggling (these tensors _happen_ to be in xarray). I would suggest allowing napari to take an iterable of string labels whose order match the sliders produced by showing an image with dimensionality > 2.

Later, xarray support could be added such that when an

[2019-02-05 20:51] d-v-b opened #103 "Support visualization of lazy ndarrays"
## 🚀 Feature
Natively support lazily-defined arrays, e.g. memory-mapped arrays, distributed dask arrays, etc.

## Motivation
For large arrays that don't fit in memory (e.g., light sheet microscopy data), it's very convenient to use an interface that represents the data _as if_ it were an in-memory array. In python: numpy arrays via `np.memmap` or `dask.array`, hdf5 files via `h5py`; imagej has vir

[2019-02-05 23:04] jni commented on #103
:wave: @d-v-b! =)

Just fyi this is 100% on our roadmap in our brains, but thank you for making it visible to the outside world. =) dask arrays should be first-class citizens in Napari in the future.

[2019-02-05 23:31] sofroniewn commented on #103
@d-v-b yup, thanks for highlighting - and writing a great issue! We'll be working to improve the public roadmap over the next month - and we definitely see this as a major value add for Napari.

[2019-02-06 00:10] sofroniewn commented on #103
also @ambrosejcarr might be interested to weigh in here. Will be important to collect a couple user stories - I see EM, large stitched confocal, time-lapse light-sheet, as a couple - and understand the types of interactivity that people need for each one

[2019-02-09 14:51] ambrosejcarr commented on #103
I would certainly be excited to be able to use Napari for large stitched confocal. Laziness across each dimension would be helpful (in my case, `time, channel, z, y, x`). I'd want the ability to pan and zoom, as implemented currently.

[2019-02-09 15:13] ambrosejcarr opened #106 "Release schedule"
You've all added quite a few features that we'd like to use in starfish (here I'm thinking about 3-d markers and improvements to the index). When will you make the next release? Do you have plans to instantiate a release schedule?

[2019-02-09 19:34] sofroniewn commented on #106
Not yet - we're in the process of some big refactoring, both of the internal gui code and the project structure. I don't think we'll make a new release until we feel we've gotten both of those into a good place. After that we might be able to think about something more regular.

[2019-02-09 19:51] sofroniewn opened #107 "Layout of "control bar" in the gui"
## ❓ Questions and Help

Right now we have the `control_bars` on the left hand side which contains the clims slider for the image layers which is editable when they an image layer is selected but grayed out otherwise. See the image below.

![image](https://user-images.githubusercontent.com/6531703/52525469-135eb580-2c5f-11e9-8ab7-2a7cadb73378.png)

For other layer types like markers or shapes this

[2019-02-10 02:42] jni commented on #106
LOL at @AhmetCanSolak's reaction.

@sofroniewn I'm not sure anything needs to wait to push something new to PyPI, as long as the features mentioned by @ambrosejcarr are working correctly? Of course, it would be ideal if the cmaps PR were merged first. =P

[2019-02-10 03:04] jni commented on #103
Very happy to see the community interest here.

Thinking about this some more: initially, it would be close to trivial to do similar things as we do for NumPy, but just call `compute()` at the last minute before sending to the viewer. But, when doing lazy computation over a very large volume, we'll need two things:

- caching of recently-accessed strides. There'll necessarily be latency when loadi

[2019-02-10 18:22] sofroniewn commented on #106
@jni that sounds good. The nD markers isn't merged into master yet, but we should be able to get that done this week, and there's nothing holding but the colormaps PR.

My only slight hesitation is that right now our main `imshow` api has currently changed to return a `window` instead of a `viewer` and I'm not sure that's the right call. I think we should look at this again before updating PyPi as

[2019-02-10 18:33] sofroniewn opened #108 "Main imshow api"
## ❓ Questions and Help

Our main `imshow` api has changed since our last release. Now `imshow` returns a `window` which contains a `viewer` which contains the `layers` - which is what I think most people will want to interact with most of the time
[code]
whereas previously `imshow` returned a `viewer` which contained both a `window` and the `layers`
[code]
while from a hierarchical organisation s

[2019-02-10 19:28] sofroniewn commented on #103
I think we'd only want to support the multiscale representations for formats that provided hierarchies to us so we knew what to load and display at different zooms. I think both zarr and n5 support this. Probably worth test casing with some formats like that.

[2019-02-10 19:40] kne42 commented on #103
Zooming won't work with dynamic access how you think. Effectively we upload the entire slice to the GPU and the camera, in actuality, is a transformation we apply to the root node.

[2019-02-10 19:45] sofroniewn commented on #103
Hmm yeah, we'd have to really hack into vispy zooms system to do something like once you've zoomed out / in far enough, intercept and reload the next chunk of data, (maybe cache the old chunk), and then return to the normal vispy zoom / pan. Not sure how feasible it is (I may still be thinking about it wrong) and what sort of performance lags we'd incur but it would be better than nothing and sort

[2019-02-11 08:38] jni commented on #108
I think `viewer` is more natural and more closely corresponds to how `matplotlib.pyplot.imshow` returns an `AxesImage`, not a `Figure` (not to mention the actually application window with the toolbar and everything). I think we should provide a way to grab the window and everything else, but *that* should be work, not adding layers etc.

[2019-02-11 17:12] sofroniewn commented on #108
If `imshow` returns a viewer does that mean we need to append the window to the viewer or provide a get window method. A little trickier maybe once we more to a model where the same window could contain multiple viewers but in different tabs.

I do tend to agree with you, I dislike the extra difficultly in accessing the `viewer` and the actual `layers` object. Maybe we find a way to switch things

[2019-02-12 00:53] jni commented on #139
@stefanv do you have any opinions about namespace packages? I figure scikit-image might have looked at this at some point in the past...

[2019-02-12 06:56] jni commented on #108
@sofroniewn

This is ok, in the same way that a mpl Figure can have many axes. There are ways to get at the different axes from the figure, and at the figure from the axes.

[2019-02-12 06:56] jni commented on #108
And yes, I do suggest switching back for the upcoming release.

[2019-02-12 17:05] AhmetCanSolak commented on #108
I know we want to provide more ease of use but I really dont like accessing to window from viewer as in previous version. I am not sure if it will be still useful if we prevent access to window from returned viewer. Love to hear ideas on this.

Also, I strongly believe that we should keep `viewer.add_image()`, since in scripting way it is the cleanest one.

[2019-02-12 17:08] sofroniewn commented on #108
Unfortunately if I remove the `window` property from `viewer` but have imshow return just the viewer the `window` gets garbage collected and disappears. I can see why having window on viewer is unpleasant but it is how matplotlib approached the problem

[2019-02-12 17:09] sofroniewn opened #111 "Folder structure refactoring"
## ❓ Questions and Help

@kne42 and I have been looking into moving forward with our refactoring - and one issue that is coming up is around separating out the "model", "view", and "controller" parts of our components. Right now we have a loose separation of "model" and "view" with our non-UI and UI peer classes, see discussion in #92 for some more info. The "view" parts live inside a folder calle

[2019-02-12 18:29] d-v-b opened #112 "ROI"
## 🚀 Feature
ROI that define regions; methods for accessing + displaying data from these regions.

## Motivation
A standard method in functional imaging is to load some ND data with dimensions `(*space, t)` to a visualization tool (fiji, pyqtgraph, flika, icy, etc) and use a gui for drawing polygonal regions of interest (ROI) on the image in the two display axes. One may then generate a plot in an

[2019-02-12 18:43] sofroniewn commented on #108
@AhmetCanSolak thanks to some tips from @kne42 I have changed the code so that you can no longer access the viewer from the window, but the window doesn't get garbage collected. Hopefully this addresses some of your concerns

[2019-02-12 18:53] sofroniewn commented on #98
Just as an update - we've switched over to everything in the shapes layer being rendered as a triangle so some of the concerns mentioned above are out of data. Probably best to look over at #100 for the latest before commenting on the API

[2019-02-12 18:56] AhmetCanSolak commented on #108
@sofroniewn thank you, but just to clarify. access to viewer from window or to window from viewer? :D

[2019-02-12 19:10] sofroniewn commented on #112
@d-v-b great to open up an issue around this.

If I read correctly there are a couple things being mentioned in this issue

1. **Ability to draw and overlay 2D polygons on 2D-timeseries data.** We are actively working to support this, but it's still in its early stages. There is a PR that you can try #100 that allows you to create a `Shapes` layer and then move / rearrange the shapes - it doesn't

[2019-02-12 19:11] sofroniewn commented on #108
my mistake!! access the window from the viewer (i.e. go back up the hierarchy) - good catch :-)

[2019-02-12 19:14] d-v-b commented on #112
Awesome! I'm super excited about this :)

[2019-02-12 21:00] jni commented on #108
@AhmetCanSolak can you provide some concrete examples where going up the hierarchy is bad? I am very sympathetic to questions of "taste" and can definitely recognise that it's bad when something smells bad, but essentially a doubly-linked hierarchy tree doesn't smell bad to me (probably because Matplotlib has gotten me used to that smell ;), so I'm trying to get a sense of why you think it's bad.

[2019-02-12 21:02] jni commented on #98
Huh??

[2019-02-12 21:04] jni commented on #108
Oh never mind I just saw that we are using the global registry now. :joy:

Q: does the window class delete itself from the list when it's closed?

[2019-02-12 21:25] sofroniewn commented on #108
@jni no, there is no deletion on closing - probably worth adding right? The global registry only gets used when using the `imshow` api - it doesn't get used otherwise

[2019-02-12 21:29] sofroniewn commented on #98
right now we just made one call to the vispy `mesh` class to set all the data for all the shapes and their edges. this is much more performant that making many calls. in addition we no longer use the vispy `lines` class - we instead render the lines as triangles, which leads to much better quality lines - see here for a javascript example of such behavior https://www.npmjs.com/package/extrude-poly

[2019-02-12 21:30] jni commented on #108
It certainly makes sense to me!

[2019-02-12 21:44] jni commented on #111
I don't have the time to think about this in depth at the moment but I think we really need to clarify the space that we want the model to live in. For example, the dimensions sliders depend on the image layers that are present, so should they be independent "models" and "views" in a different part of the layout?

I think this is somewhat related to our ability to display objects of different dime

[2019-02-13 01:07] stefanv commented on #139
We did have namespaces back in the early skimage days.  In fact, `scikit-image` and `scikit-learn` are the newer names of `scikits.image` and `scikits.learn`.  However, the installation machinery in Python (`easy_install` back then), did not deal with these well, and they often caused problems.  So many problems that we took the trouble of renaming the projects.  I don't know what the latest statu

[2019-02-13 06:32] jni commented on #139
@stefanv I remember the rename but (a) I have no idea what problems provoked it, and (b) I had always figured that you did something custom and hacky, rather than use an explicit PEP-provided specification. Perhaps I should have known better. But then again... =D

[2019-02-13 06:51] stefanv commented on #139
I don't think we did anything strange with namespace packages; I imagine there were problems with multiple versions installed (in-place for scikit-image but normal install of scikit-learn, for example), or similar, while `easy_install` wasn't fully equipped to handle it.  Maybe @cournape, @ogrisel, or @gaelvaroquaux has a better memory?

[2019-02-13 07:01] GaelVaroquaux commented on #139
Back in the days, one of the reasons not to use namespace packages is
that they had to override Python's import mechanism which lead to quirks,
and slow down:
http://gael-varoquaux.info/programming/long-syspath-and-consequences-one-more-reason-not-to-use-easy_install.html

I still think that it is something horrible: it's basically an exception
in the way that imports work in Python. I suspect tha

[2019-02-13 17:35] AhmetCanSolak commented on #139
Also i want to remind the possible long `sys.path` issues on Windows. I am not sure if using namespace could lead those problems in future but just wanted to point.

[2019-02-13 21:43] sofroniewn commented on #108
I'm not sure how to do this - maybe @kne42 has an idea? Could maybe also wait to fix in a follow-up PR.

[2019-02-13 23:20] sofroniewn commented on #108
We have now merged the existing PR, but I'll keep this issue open so that we can revisit the deleting of the reference on closing

[2019-02-13 23:28] kne42 commented on #108
Since the viewer is the "main" object being passed around I think it would make the most sense to include a `_refs` attribute on it which holds strong references to anything which attaches itself to the viewer including windows and the Qt component. In this sense, the viewer is still effectively agnostic to these objects while preventing them from getting garbage collected.

[2019-02-14 00:53] sofroniewn commented on #111
yeah, i think it's still a little unclear to me if we are making the right choice separating out the dimensions, and whether control bars will really be significant enough to be it's own thing if layers are defining what they want displayed there. I think though that the reorganization will help make things more clear - but would love for @AhmetCanSolak and @royerloic to weigh in too.

[2019-02-14 12:05] cournape commented on #139
I think the "new" namespace feature in python 3.3 and above alleviates most of the issues caused in the old days:

1. It does not rely on pkg_resources, and hence does not pay the price of slowing down imports, etc.
2. As it is integrated in python import machinery, I don't think you are paying much by using them (the machinery to look for them is in place whether you are using them or not).

I am

[2019-02-14 13:07] ambrosejcarr commented on #112
@sofroniewn we're going to start wanting to visualize these for starfish in a few months. We expect to hand off data to a segmentation working group in June. It could be an interesting group of users to pilot these features, if the times align.

With respect to this, my initial research suggests that a compressed binary mask is probably the way to go from a _compute_ and _storage_ perspective. A b

[2019-02-14 17:09] sofroniewn commented on #112
Hi @ambrosejcarr

It’s unclear to me why you’d need to switch to a polygon representation if you already have a binary mask representation? With the binary mask you could visualize an overlay with the appropriate transparency and color so it would look good, and it would tell you exactly which pixels were inside the shape. I can see if you wanted to be able to edit the shape and move the vertices

[2019-02-15 18:14] d-v-b commented on #112
Hi @sofroniewn and @ambrosejcarr

From my own perspective, I see a strong distinction between binary masks: collections of indices / points in data coordinates, no intrinsic geometry, often produced computationally, and ROI: geometrical objects in display coordinates, often painted/drawn through human interaction with a GUI.

As Nick notes, masks can be treated as another image layer, and Napari m

[2019-02-17 19:11] sofroniewn commented on #111
We have moved in this direction with PR #113 though as discussed in the PR the refactoring is still not complete

[2019-02-17 19:11] #111 closed, assigned to nobody

[2019-02-18 20:16] sofroniewn opened #27 "Plugins that are usable by both ImJoy and Napari"
## Description
Based on some initial discussions between @royerloic and @oeway the idea was floated that Napari and [ImJoy](https://github.com/oeway/ImJoy) could try and share a plugin ecosystem. Both projects aim to make python based image analysis, including packages using deep learning and gpus, more accessible to the masses.

ImJoy is leveraging modern web technology and can be used in a brows

[2019-02-18 20:16] sofroniewn opened #140 "Plugins that are usable by both ImJoy and Napari"
## Description
Based on some initial discussions between @royerloic and @oeway the idea was floated that Napari and [ImJoy](https://github.com/oeway/ImJoy) could try and share a plugin ecosystem. Both projects aim to make python based image analysis, including packages using deep learning and gpus, more accessible to the masses.

ImJoy is leveraging modern web technology and can be used in a brows

[2019-02-19 00:22] sofroniewn opened #116 "Suppress vispy warning"
## 🚀 Feature
Right now on launch I always recieve the following vispy warning:
[code]

As napari is not using the vispy isocurve functionality can we suppress this warning.

## Motivation

I feel like the warning can be off-putting and confusing to new users, giving the impression something might not work well when in fact everything will be fine.

[2019-02-19 01:23] jni commented on #116
👍 for suppressing the warning, but 💯 for bumping the vispy minimum requirement or helping vispy push out a new release: it appears that they [have already removed it](https://github.com/vispy/vispy/blob/8c36fb7ffd7641ba0972808888911d71e48e8fe5/vispy/visuals/isocurve.py) (see the code and the commit message).

[2019-02-19 01:25] jni commented on #116
... Bahahaha and I just saw that they also added mpl colormap support recently! 🤦‍♂️

https://github.com/vispy/vispy/pull/1489

We really should interact more with that community!

[2019-02-19 01:46] jni commented on #140
Thanks for this and 👋 @oeway! FYI my colleague @VolkerH said your ImJoy demo was the highlight of NEUBIAS for him. =)

I am all on board for enabling ImJoy plugins in Napari. I agree with you @sofroniewn that it would be a *massive* benefit if we shared this infrastructure. So I am +💯 on Napari supporting the above format.

Having said this, I think that our needs might be simpler (since we have n

[2019-02-19 16:55] oeway commented on #140
Hi @jni , thanks for your support!

I think I will need to understand a bit more about how Napari and its plugin work. I think the stub files you mentioned should be equivalent to the JSON schema we used in ImJoy, it should be easy to convert them if you have a list of predefined Napari types. If necessary, of course we are happy to support it in ImJoy.

My concern more about whether the "image-ty

[2019-02-19 17:24] bkmartinjr commented on #140
It seems likely that a high-fps UI that uses plugins will require some sort of websocket bypass for the image data.  I explored a trivial version of this (using a socket + mmap) [here](https://github.com/chanzuckerberg/pyrepl).  Getting mmap into chrome is not possible, but getting it into electron was fairly simple.

[2019-02-19 22:09] jni commented on #140
To clarify, image type definitions will be just for annotations, and we are only using standard types like NumPy arrays, lists, tuples, etc.

[2019-02-21 10:01] oeway commented on #140
@bkmartinjr Right, for sure using websocket would not allow transferring large amount of data as you can do in Napari, and I would rather see this as a complementary aspect between ImJoy and Napari. The potential solution you mentioned are definitely interesting, and we do have a [ImJoy desktop app](https://github.com/oeway/ImJoy-App) built with Electron. However, we want to focus only on features

[2019-02-21 23:48] sofroniewn commented on #107
This feature was implemented in #114

[2019-02-21 23:48] #107 closed, assigned to nobody

[2019-02-22 22:00] kne42 opened #122 "Inconsistency in ordering of layers visually and in the actual list object"
## ❓ Questions and Help

So I noticed something today that confused me a lot regarding how things in the `LayersList` are ordered.

It's easiest to provide an example – say your layers list is ordered like so: `[astronaut, camera, spots]`. On screen, the list is ordered like so:
[code]
and the `spots` layer is displayed at the top of the stack.

I find this confusing since I would expect `astronau

[2019-02-23 00:59] jni opened #123 "Update how we demo and test code"
Closely related to #84.

As I noted in #114, I'm frustrated that I have to launch a notebook to test all the code coming in to a new PR. And, that `layers.ipynb` notebook is just insanely big at this point, demonstrating so many different things.

My suggestion is that the examples directory should contain a bunch of single-purpose demonstration scripts. Essentially every separate cell or group of

[2019-02-23 00:59] royerloic commented on #108
Just a note here: globals are bad for sure, viewer should hold everything that it contains, ideally in a recursive fashion (tree). Garbage collection should do its work unless we really don't need something anymore (remove layer).

[2019-02-23 01:01] jni opened #124 "Update layer selection mechanism"
## 🚀 Feature
Currently, if I click on the name of a layer that is unselected, it goes into text edit mode without selecting it. It would be nice if (a) it would select the layer, and/or (b) it wouldn't go into text editing mode until after the selection. This is analogous to e.g. file browsers like Finder, and it means that one can click and drag anywhere on the layer tile. Currently you can't cli

[2019-02-23 01:04] jni opened #125 "Allow marker size and color control in the annotation mode"
## 🚀 Feature
Probably we want to allow marker size and marker color control in annotation mode somehow... It feels a bit broken that marker sizes can be specified on the command line but not in the GUI.

Having said that implementation here is hard so this can wait. I guess we would need a size slider, that can optionally expand into a multidimensional size slider (ie one slider per dimension), an

[2019-02-23 01:13] AhmetCanSolak commented on #123
Strongly agree. I'd been addressing these issues and need to script as the primary tests ever since. Also @jni i believe that it maybe useful to build UI testing part of project as you suggest.

[2019-02-23 01:20] jni commented on #140
Part of the big picture for Napari is any processing should be recorded as valid Python code, and "Napari headless" is just Python.

I would call this a stretch goal, since we actually want to *minimise* sandboxing in the beginning, but it is a very good stretch goal. We can envision certain plugins requiring sandboxing, and for those we fall back on the same RPC scheme.

👍 awesome. The only excep

[2019-02-23 16:07] sofroniewn commented on #124
Agreed this should get fixed, I'm leaning towards (b) - a first click anywhere selects the whole box, and dragging can start from anywhere, and edit mode is only entered on release or a second click

[2019-02-23 16:15] sofroniewn commented on #123
@jni agreed this will move us in a better direction, and will make it easier as new features get added to add new example scripts. I like the idea that each example tests a very narrow portion of the functionality (like pan/zoom, change dimensions, reorder the layers, adjust clims, add a markers layer etc.).

Makes sense to me that we first just focus on making example scripts and then we can turn

[2019-02-23 16:23] sofroniewn commented on #125
@jni to be clear you can control size and color of ALL the markers from the properties widget in the layer list (double click to expand) and you will see a size slider and color drop-down. (We might want to add a sandwhich icon to make it clear that those boxes are expandable because I've been getting feedback that it is not intuitive)

The thing you cannot to is adjust the different dimension siz

[2019-02-23 16:24] sofroniewn commented on #125
Oh also we havn't implemented any color pickers anywhere yet, but yes Qt provides a color picker / color dialog widget - https://doc.qt.io/qt-5/qcolordialog.html

[2019-02-23 16:26] sofroniewn commented on #108
@royerloic the problem that gets us into then is that `viewer` would have `window` appended onto it, but we wanted to make `viewer` independent of the `window` (which is the top level object, but which we don't want to return as it is less useful than `viewer`).

[2019-02-25 18:30] bryantChhun commented on #123
I plan to submit quite a few extra examples (all scripts) and tests as soon as I have my vector layer up to speed.

my two cents:  there is great value in having both the notebooks and the examples.  Perhaps we can think about how they are packaged?  Is the concern that, going forward, we will be asking developers to write all three of test script, example script, and notebook usage?

[2019-02-25 18:46] sofroniewn commented on #123
I see some differences in how "test script, example script, and notebook" will all be used. I think notebooks are great for tutorials and more complex demos - when they have lots of comments about what and why we are doing what we are doing. I think right now though our needs are more around basic examples and really tests that utilize the API and will make feature development and refactoring easi

[2019-02-26 15:59] sofroniewn commented on #116
@jni interacting more with the vispy community sounds good - maybe you want to reach out if you know any of the current maintainers? If you end up having a phone call I'm happy to join. I"m not sure about their release schedule, but it looks like it has been a while since their last one. Maybe @kne42 knows as she has interacted more with them.

[2019-02-26 19:10] sofroniewn opened #28 "2+2+1 Major usage modes for Napari"
## Description
Based on conversations / discussions on other issues and PRs (like https://github.com/Napari/napari-gui/pull/126) I wanted to create an issue with some of the major potential usage modes of napari. These ideas are very much up for further debate and we might end-up somewhere quite far from this initial post.

1. Use napari viewer and napari plugins from jupyter notebooks or python s

[2019-02-26 19:10] sofroniewn opened #141 "2+2+1 Major usage modes for Napari"
## Description
Based on conversations / discussions on other issues and PRs (like https://github.com/Napari/napari-gui/pull/126) I wanted to create an issue with some of the major potential usage modes of napari. These ideas are very much up for further debate and we might end-up somewhere quite far from this initial post.

1. Use napari viewer and napari plugins from jupyter notebooks or python s

[2019-02-26 23:17] sofroniewn commented on #116
PR has been merged, we will also coordinate reaching out to the vispy team to learn more about their release schedule

[2019-02-26 23:17] #116 closed, assigned to nobody

[2019-02-27 09:30] oeway commented on #141
Hi, glad to see this overview of usage modes. Closely related to our discussion in thread https://github.com/Napari/napari-core/issues/27, I think there is another way which ImJoy and Napari can work together. In particular, I am thinking about we can work together to support point 3 and 4 which ImJoy is designed for. To support remote computing, we can basically run Napari as a computational back

[2019-02-27 10:09] oeway commented on #140
This sounds awesome, this will make it very straightforward to run `Napari script` within a ImJoy plugin and use Napari as a backend. Since you support `recording` as ImageJ macro, it will be much easier to make ImJoy plugin based on Napari to support remote batch processing (e.g. on a cloud server).

Good. On the other hand, in ImJoy every plugin is sandboxed into different processes, if Napari p

[2019-02-27 11:58] jni commented on #140
The short answer, is "probably". The intermediate answer is, "don't read too much into our existing code because Napari is at a much earlier stage than ImJoy, especially when it comes to the plugins."

The longer answer: my initial reaction is that I don't want html as the input format, and if we do single file plugins, the preferred format is a single, well-documented, typed Python file. All the

[2019-02-27 12:35] oeway commented on #140
Ok, good to know your thoughts on this.

To be clear, I am not suggesting to use single file format to replace your existing format in Napari, it's rather a way to make the two plugin systems interpolatable. There are pros and cons between different design choices, but if we can make both work without much efforts, as you said everyone will be happy.

Another thing I want to clarify is, even thoug

[2019-02-27 15:34] sofroniewn commented on #141
Given the goal of Napari plugins as being fairly lightweight (either simply annotated python, or possibly including some lightweight wrapping for highly customized plugins) I think at this point you'd pretty much just have python as a backend and be using imjoy (which is fine!).

I think the value add of Napari will be to use Napari viewer and interact with the plugins inside it, but exactly how a

[2019-03-01 09:55] royerloic opened #130 "min-max slider does not do anything for RGB layers"
## 🐛 Bug

In example: 'imshow_colors.py'  the displayed RGB layer is always displayed in the same manner independently of how the min-max slider is set (vertical double knob slider on the left).
Instead, we should be able to apply the same affine transformation to the RGB values as we do
for single channel images.

## To Reproduce

Steps to reproduce the behavior:

1. run 'imshow_colors.py'
2. mov

[2019-03-01 10:08] royerloic opened #131 "Layer selection 'blue rectangle' is buggy when expanding layer properties"
## 🐛 Bug

When trying example 'add_images.py', I noticed that the blue rectangle that indicates selection
is not always shown when one layer is expanded to show its properties.

## To Reproduce

Steps to reproduce the behavior:

1. run 'add_images.py'
2. expand properties for first layer
3. blue rectangle that indicates selected layer disappears
4. selecting one or the other layer is not always in

[2019-03-01 10:16] royerloic opened #132 "Remove buggy interpolation modes"
## 🐛 Bug

Some of Vispy interpolation modes for images are very buggy and lead to unsightly
visual artefacts such as black or white vertical lines.
Here is a list of buggy interpolation modes:

- quadric (white lines, sometimes fails entirely)
- sinc (black lines)

We should remove any buggy interpolation scheme,
we are more interpolation than is healthy to have.

## To Reproduce

Steps to reprodu

[2019-03-01 11:17] jni opened #133 "Holding space to pan and zoom doesn't work correctly on Linux"
## 🐛 Bug

In Ubuntu 18.04, "hold space to pan and zoom" while in annotation mode for a markers layer (or in object or vertex selection mode for shapes ­— this is where I first noticed it while reviewing #100) only works for the first drag. After mouse release, despite continuing to hold space, it switches back to annotation mode. I have to release space and press space again for it to work.

Zoom

[2019-03-01 11:32] jni opened #134 "Better syntax for launching a GUI programmatically"
## 📚 Documentation

@royerloic pointed out that it's kinda clunky that the `QApplication` startup and shutdown logic are embedded at the start and end of each example. The whole thing certainly smells of a context manager! Suggestion:

[code]

You could then nicely embed Napari within a bigger processing script:

[code]

If we are going for the OO API, I think the above would still work, but we mi

[2019-03-01 11:33] royerloic opened #135 "Layers Marker should not depend on image layers and their bounds"
## 🐛 Bug

Right now, when adding markers layers to a viewer that does not
have image layers, the markers layer gets initialised with some bounding box.
Adding markers interactively leads to some arbitrary 'clipping' to some
bounding box (not clear where it comes from).
This prevents marker layers to exist independently from images, which
is probably not ideal. One way to think about it is that the

[2019-03-01 11:48] royerloic opened #136 "Bring back keyboard shortcut for Fullscreen mode"
## 🚀 Feature

Bring back keyboard shortcut for Fullscreen mode.
Press 'F' and you enter fullscreen. 'ESC' or 'F' again to leave fullscreen.

## Motivation

It's the best feature. So good.

## Pitch

I just explained that this is the best feature.
People tell me they love this feature --  it is true.

## Alternatives

None.

## Additional context

Fullscreen is all there is to see.

[2019-03-01 17:31] sofroniewn commented on #77
This is somewhat possible now, but still might need further work with different layer types

[2019-03-01 17:31] #77 closed, assigned to nobody

[2019-03-01 17:36] sofroniewn commented on #135
Thanks for flagging. These problems are somewhat opaquely referenced in #91. I don't like the explicit "add_clip" but I think there are ways to achieve this functionality with input arguments to markers, and we should remove the weird coupling that you noted. The main problem right now is that every layer is required to have a shape, but if you have no markers present then what does your shape def

[2019-03-01 17:38] sofroniewn commented on #136
Ah I had not realized this had disappeared but I will look into it (I have an idea why). Maybe it's also time to add ctrl+W, ctrl+Q to close / quit? Need to think about where these live. Do they go on window or do the go on viewer or do they live somewhere else? My thoughts are on Window right now.

[2019-03-01 17:44] sofroniewn commented on #134
Just to note this intersects with discussions we are having in #120.

I guess I'm not quite sure if a context manager would behave as I expect. If I had the
[code]
In a cell at the top of my notebook, and then in the next cell wanted to do
[code]
Would this work? My understanding says no as viewer was only defined inside that context manager. Not being able to do this sort of multi-cell interactio

[2019-03-01 17:51] sofroniewn commented on #133
Hmm ok this is strange (I only have a macOS right now where everything still works fine) but we can get a Linux machine at CZI for testing and figure out what events are getting triggered / when and how it relates to our detection and processing of keypress / click vs PyQt native vs vispy.

[2019-03-01 17:52] sofroniewn commented on #132
Yup, removing sounds good. I think @kne42 or @jni might have added them originally, maybe assign to them?

[2019-03-01 17:59] sofroniewn commented on #131
Just to make sure I understand

1. is the app behaving as if the layer were selected (i.e. you can see the corresponding clims highlighted / get hover information from the layer but the blue rectangle is not there)?
2. or are you simply noting that it is possible to unselect all the layers (even if one is expanded)
3. or finally are you noting that adjusting the sliders / text etc. or a non-select

[2019-03-01 18:03] sofroniewn commented on #130
Yup, the reason for this I think was that vispy doesn't support adjusting the clims for rgb images. Probably best would be to add this feature on the vispy end and then we would get it "for free".

[2019-03-01 19:00] sofroniewn commented on #123
Now that we have merged #128, how to people think we should create tests from our examples?

[2019-03-01 19:24] kne42 commented on #134
Yes yes yes! I've actually wanted to implement something like this for a while :)

I was also thinking of taking a further step to leverage context managers:
[code]

Basically a viewer would include a context manager that delays window showing and application blocking until the end of the block (and I'd also like to work in update delaying into there – kinda like `layer._freeze`). I'd also like to

[2019-03-01 19:30] sofroniewn commented on #134
Ah @kne42 so I'd still be able to do the behavior I want as `viewer` would still be accessible.

I'm definitely curious about this approach, and can see the value in blocking refreshes etc when you are adding many layers / manipulating many layers. For example in the `examples/lut.py`

[code]
It would be nice to make these sorts of changes before having everything update.

I am however very wary o

[2019-03-01 19:32] kne42 commented on #134
I'd also like to note that notebook users won't need to use the context manager/application anyways since they're only there to provide the Qt event loop which `%gui qt5` does for us.

So this is really just for people who are scripting.

[2019-03-01 19:34] sofroniewn commented on #134
Ah thanks for clarifying that - I had not appreciate it. In that case I feel more comfortable with this approach and can see its value

[2019-03-01 22:58] jni commented on #134
:point_up: this! I think this answers all your concerns, @sofroniewn. =)

[2019-03-01 23:00] jni commented on #136
I think it disappeared in a very early refactor. I agree that shortcuts should go on the window, (w in ctrl-w is for window), but f is possibly for the viewer.

[2019-03-01 23:07] jni commented on #132
@kne42 added them at my grumpy request. =P Though I only really wanted nearest neighbor :joy: And I guess @kne42 was like, you want more interpolation modes, here's a whole friggin pile of them! =P

[2019-03-01 23:11] jni commented on #131
Hey @sofroniewn! It is in fact (1), but I just saw that I can't reproduce on my machine. @royerloic is preparing a video. =)

[2019-03-02 01:13] royerloic commented on #132
Actually, I think I had removed it already in the first version of napari... I should be the one to be grumpy here ;-)

[2019-03-02 01:19] royerloic commented on #130
Got it. I see.

[2019-03-02 01:35] sofroniewn opened #138 "Remove notebook from the examples and integrate with docs"
## 📚 Documentation

Once #99 gets merged we will move the notebook from examples folder into a the docs folder / tutorials folder (? was unclear to me) and then include the lines on how to run napari from a notebook in the docs

[2019-03-02 01:42] sofroniewn commented on #123
As discussed in our meeting today we want to both test the examples (to ensure they run) and test core internal aspects of the code standalone. @AhmetCanSolak will investigate this further using pytest. When we run an example if we have a keyboard shortcut - say cmd+q to close the app - we are able to test the example in an automated way cross platform.

In the future we can think about adding int

[2019-03-02 02:58] jni opened #142 "Colormap name still says "hot" by default, even though magma is selected"
## 🐛 Bug

When launching a new viewer window with a grayscale image, the magma colormap is used (pats own back), but when you double click on the layer to get the properties, it shows "hot" as the selected colormap (whips own back). =P

## Expected behavior

The selected colormap in that drop-down should be magma.

![cmap-selected](https://user-images.githubusercontent.com/492549/53676204-2d863380

[2019-03-02 04:24] jni opened #144 "Tearing when panning quickly"
## 🐛 Bug

I noticed that when panning an image quickly you can introduce some tearing in the image. @royerloic says this might be avoided by changing vsync settings in vispy.

## To Reproduce

1. Display the astronaut image
2. Click and hold
3. Move mouse around rapidly

## Expected behavior

Panning should be smooth.

## Environment

 - napari-gui Version (e.g., 1.0): master
 - OS (e.g., Linux):

[2019-03-02 16:59] sofroniewn opened #146 "New Viewer API"
## 🚀 Feature

As described in #120 we will move the new API towards the following

[code]

and

[code]
where the input arguments to Viewer get treated identically to the input arguments to add_image as images are our main layer type and we want away to show an image in 2-lines.

Additionally now window creation will be handled inside Viewer and the window will be accessible through viewer.window a

[2019-03-02 17:05] sofroniewn opened #147 "Use of the word GUI in the repo"
## ❓ Questions and Help

Right now we still have this alias folder `napari_gui` in the repo. This probably relates to how the pip install was being handled. Now that we have renamed the repo we can rename how we do the pip install. It is not clear to me also how this relates to #139 and Name Space Packages. Maybe @kne42 has thoughts on how to proceed

[2019-03-02 17:06] sofroniewn commented on #147
Similarly the main folder that all the code is living in is called `gui`. Should it just be called `napari` or something else?

[2019-03-02 17:07] sofroniewn commented on #146
This issues can also address concerns in #134

[2019-03-02 17:08] sofroniewn commented on #108
The main imshow API has been removed in #143 and we will proceed with the API design laid out in #146

[2019-03-02 17:08] #108 closed, assigned to nobody

[2019-03-02 17:17] sofroniewn commented on #147
We should also remove the phrase Napari GUI from the `readme.md` and any other docs like contributing guidelines etc. where it may appear

[2019-03-02 17:24] sofroniewn opened #148 "Rename the repo topic"
Can we rename the topic of the repo to `napari` not `napari-plugin` or maybe we can have both?

[2019-03-02 17:26] sofroniewn opened #149 "Reorder_layers example doesn't reorder"
The reorder layers example doesn't actually reorder any layers. Maybe @kne42 wants to improve the quality of this example including calls like

[code]

when she adds tests to the layers list.

[2019-03-02 21:43] jni commented on #148
Done!

[2019-03-02 21:43] #148 closed, assigned to nobody

[2019-03-02 21:44] jni commented on #148
also this is the first time I hear of topics. :joy: As I was reading this sleepily on my phone this morning, I was like, wtf is he on about.

[2019-03-02 23:01] jni commented on #98
So much trickiness! Another specific problem is that if you allow vertex editing, which is very cool, you can convert a rectangle to a polygon, and it's hard to imagine a simple data model that would allow that.

One thing that I would comment specifically above is that markers and shapes are fundamentally different things in my opinion and they should not both be considered shapes. Indeed, the wa

[2019-03-02 23:06] jni commented on #98
So, to clarify, my proposals:

- `add_area` or `add_2d` is my proposed API
- once a rectangle, always a rectangle, ie only turn on vertex editing for generic polygons
- probably we need a class hierarchy for shape2d, because of what you said about creating them programmatically in the same layer. I don't think there is a cleaner way to do this than with classes/types. Having the layer contain a bu

[2019-03-02 23:23] sofroniewn commented on #98
Indeed these are some good points

Right now I do allow that to happen and the object type converts from a rectangle to a polygon. I think this functionality could be nice, and we can handle that transition - Illustrator allows it for example.

This is an interesting idea. I like having the separate `Markers` layer (which I would consider renaming to `Points`) as it naturally supports nD and it ca

[2019-03-02 23:59] sofroniewn opened #152 "Move vendored colormaps to resources folder"
I think we should move the folder `_vendored` and the files `matplotlib_cmaps.txt` and `colormaps.py` to the `resources` folder as I don't think they belong in the `layers` folder which otherwise contains our individual layer folders and some mechanics for adding new layers

[2019-03-03 04:16] #147 closed, assigned to nobody

[2019-03-03 18:26] sofroniewn commented on #142
This is because #95 has not been implemented yet. I can change the hard coding, but a real solution will require an implementation of #95

[2019-03-03 18:53] sofroniewn opened #154 "Clims cannot be set to integer values"
## 🐛 Bug

Clims cannot be set to integer values

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

This should be allowed. The problem is due to how we print the status bar, see #93 for a discussion around that. Resolving #93 should resolve this bug too.

## Environment

 - napari Version (e.g., 1.0): master
 - OS (e.g., Linux): OSX
 - Python version: 3.6.5
 - Any ot

[2019-03-03 19:07] sofroniewn commented on #13
I think it might be time to revisit our GUI styles, right now we have an awkward mix of defaults and some custom css, where the custom css has been coded to look OSX native. This will probably give horrible results on windows and linux. I suggest we move to a world of entirely custom CSS that gives us complete control of all the stylings and then looks the same cross platform.

I know @freeman-lab

[2019-03-03 23:23] sofroniewn commented on #131
I think it is only affecting the markes layer - just reproduced on mine, will look into fixing

[2019-03-04 02:45] sofroniewn commented on #131
ah could reproduce some funky behavior on images too

[2019-03-04 02:53] sofroniewn commented on #131
some of it seems to be around PyQt refreshes :-(

Here are my steps to reproduce

1. run 'add_images.py' (both layers should be selected with blue around them)
2. double click the `Image 0` layer to expand its properties (now just it should be selected with blue around)
3. click on the `Image 1` layer. Now unfortunately neither layer appear selected, but the clims bar on the left still appears and

[2019-03-05 01:43] #152 closed, assigned to sofroniewn

[2019-03-05 03:09] jni commented on #13
@sofroniewn

as expressed above, I don't think that this is a worthy goal. Things should look native, not the same across platforms. Many design gurus rightly give Google flak for designing their iOS apps to look like Android apps. In contrast, Apple's forays into Android look native there.

Where is this and why?

[2019-03-05 03:12] jni commented on #154
Yeah I guess we need a function here rather than relying on format strings.

[2019-03-05 03:12] royerloic commented on #13
That's great. Please hold off on major code right now as I have a monster PR on the way that will lead to some unpleasant conflicts...

[2019-03-05 03:44] sofroniewn commented on #13
Waiting for refactoring is fine @royerloic, but probably good to start discussing this.

@jni - we have some custom css in the layer properties (see [here](https://github.com/napari/napari/blob/4d713575eae0de2d4f14bb86b6a09ea7b3278f29/napari/layers/_base_layer/view/properties.py#L13)) and the buttons. More significant is our range slider which is entirely custom styling and would be some effort to

[2019-03-05 03:48] royerloic commented on #13
I agree, linux native looks, unfortunately, often like very amateurish. I have no clue about CSS, and I am not sure i want to learn it, but I trust that some among us have the skills to tackle that.

In any case, I would recommend that we isolate the CSS styling and custom widget styling and design from the rest of the UI code. So we should have a special package with our generic widgets, and then

[2019-03-05 06:58] freeman-lab commented on #13
good discussion!

think i agree with @sofroniewn that we want to do CSS styling and ensure a consistent look across platforms -- part of it is looking "professional", but it's also that a consistent cross-platform design becomes key to the app's "brand", like a visual anchor, and that's especially important for a highly visual app like this one.

that said, there's definitely a middle ground where

[2019-03-05 12:50] jni commented on #61
some keyboard shortcuts @royerloic and I thought up on the plane:

- toggle selected layer visible/invisible
- increase/decrease opacity of selected layer
- zoom to fit
- zoom to fill width/height
- zoom to pixel-perfect (100%)

[2019-03-05 19:26] kne42 commented on #13
Would also like the chime in that I have some experience with CSS and would love to help both design it and create a system with which it is easy to implement these designs :)

[2019-03-06 17:49] sofroniewn opened #159 "Viewer screenshot is broken"
## 🐛 Bug

`viewer.screenshot()` gives the following error, that I think comes from us using features on `vispy` master that aren't present on their last release. We might need to backport or change our code.

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Launch a viewer and add some images
2. Run `viewer.screenshot()`

## Expected behavior

## Environment

 - napari Version (e.g.,

[2019-03-06 18:32] kne42 commented on #159
Looks like this was introduced in #88. Is having a `crop` parameter really that useful? Implementing it would require us to also backport `FrameBuffer`, a core `gloo` object, which may have unforeseen consequences.

Also, the parameters weren't properly passed to the function so that should be properly addressed too.

[2019-03-06 19:10] sofroniewn commented on #159
I think we can drop crop for now and just get something that works - do you want to work on a PR for a fix @kne42?

[2019-03-06 19:10] kne42 commented on #159
Yeah, sounds good

[2019-03-06 19:29] kne42 commented on #96
`colormap` is simply an alias to `cmap` – since I'd assume that this is a pretty standard abbreviation we can just get rid of `colormap`

[2019-03-06 21:03] kne42 commented on #95
Is this really useful outside of our specific use case? Why do you think that this is the best option over passing a name with the colormap or just calling it `custom`?

[2019-03-06 21:11] sofroniewn commented on #96
i'm fine to get rid of `colormap` and just have `cmap`, can you make a PR @kne42?

[2019-03-06 21:13] kne42 commented on #96
Do we also want to rename `colormaps` to `cmaps` to be more consistent or is that fine?

[2019-03-06 21:14] sofroniewn commented on #95
I guess I just find it strange that in vispy you can do something like

[code]

and then from `cmap` have no way of knowing that it corresponds to the string `blues`. Adding a `name` property would allow this in general and solve our specific use case.

[2019-03-06 21:15] sofroniewn commented on #96
I would rename too

[2019-03-06 23:23] #159 closed, assigned to kne42

[2019-03-07 00:14] kne42 commented on #75
fixed in #151

[2019-03-07 00:14] #75 closed, assigned to nobody

[2019-03-07 01:19] jni commented on #95
I'm going to go with the wrapper because this is something that we can do ourselves now. I suspect that making the change in vispy will take approximately forever.

[2019-03-07 01:27] #96 closed, assigned to nobody

[2019-03-07 17:09] sofroniewn commented on #84
With #153 and #128 we have now addressed this issue

[2019-03-07 17:09] #84 closed, assigned to sofroniewn, AhmetCanSolak, kne42

[2019-03-07 17:11] sofroniewn commented on #47
This has removed in #145

[2019-03-07 17:11] #47 closed, assigned to nobody

[2019-03-07 17:12] sofroniewn commented on #43
Closed by #155

[2019-03-07 17:12] #43 closed, assigned to nobody

[2019-03-07 17:14] sofroniewn commented on #19
This has been closed by #155 and #158, where we now use our own copy of the vispy event system

[2019-03-07 17:14] #19 closed, assigned to AhmetCanSolak

[2019-03-07 17:14] sofroniewn commented on #32
We have now settled into a pattern of PRs to master, with the occasional feature branch

[2019-03-07 17:14] #32 closed, assigned to jni, royerloic, AhmetCanSolak, kne42

[2019-03-07 17:28] sofroniewn commented on #149
This has been fixed by #155, the new example is `layers.py`

[2019-03-07 17:28] #149 closed, assigned to sofroniewn

[2019-03-07 21:27] #95 closed, assigned to nobody

[2019-03-07 21:27] #142 closed, assigned to sofroniewn

[2019-03-08 11:53] royerloic opened #166 "Trackpad support in Mac/OSX"
## 🚀 Feature
Have the option to use gestures on the trackpad for interacting with the canvas.

## Motivation

Do I need to explain why this is cool?

## Pitch

Sparkles in the eyes.

## Alternatives

Be lame and boring.

## How to do this:

This is how one can access the trackpad from python:
http://blog.sendapatch.se/2009/november/macbook-multitouch-in-python.html

I have not tried, but I have do

[2019-03-08 16:34] sofroniewn commented on #166
Vispy references "Touch Events" in some of their docs, see [here](http://vispy.org/util.html#module-vispy.util.event), but I'm not sure how much has been implemented there, or if it makes sense to implement this in parallel.

I do worry slightly about having too much functionality that would not be cross-platform / available to people using a desktop and mouse, but it is still a good idea to explo

[2019-03-09 00:08] sofroniewn opened #168 "Update the pypi badge"
## 🐛 Bug

We need to update the PyPi badge in the readme to point to the 0.0.6 release

[2019-03-09 14:52] jni opened #170 "Massive traceback when deleting a (markers) layer"
## 🐛 Bug

Sorry, no time to investigate now, but here is the traceback I saw when deleting a markers layer (using the trash icon):

<details>

[code]

</details>

## To Reproduce

Approximately: (not sure which bits are important, maybe only the final step matters)
- add a (3D) image
- add a second image (segmentation in this case)
- decrease opacity of second image
- add a markers layer (with the

[2019-03-09 16:36] #168 closed, assigned to nobody

[2019-03-09 16:37] sofroniewn commented on #170
Ah yes - this is known, but thanks for adding. I havn't dug into it yet, but really need to!

[2019-03-10 01:05] sofroniewn commented on #106
We have made our `0.0.6` release now which should have the features @ambrosejcarr is interested in. Moving forward I think we will try and release a little more frequently, but I'm not sure we are ready for a schedule yet. Closing this for now, but can always create a new issue to discuss this again when our next release is coming up.

[2019-03-10 01:05] #106 closed, assigned to nobody

[2019-03-10 01:32] jni commented on #141
@sofroniewn All the use cases you describe are valuable imho. In terms of the order in which we should pursue them, I think you have them approximately in the right order, except for the last one, which should just "fall out" of nice API design, and the API refactor we are planning in #146.

Remote datasets should come after use cases 1 and 2 are addressed. They are related to delayed/out-of-core

[2019-03-10 01:40] sofroniewn commented on #141
Agreed on all fronts. I think you last comment may warrant a new major usage mode:

6. For both users 1 and users 2, after interactively developing an image analysis pipeline built using napari plugins through parameter tuning and visually inspecting results on a subset of images they want to then run that pipeline on an enormous number of images that may be stored locally or remotely without look

[2019-03-10 01:49] royerloic commented on #141
Great, some comments:

1. I think this is a great usage mode, and we should support this long term. It fits nicely with the existing python ecosystem around jupyter, ipython, etc.. However, there is currently a major roadblock: many jupyter users use remotely served jupyter notebooks. Currently we can't open a local napari viewer and access data on a remote jupyter server. I discussed with @jni ab

[2019-03-10 01:54] jni commented on #141
Regarding remote notebooks, I think this, again, can come much later. Napari's use case is a local viewer, and for remote notebooks you have all the in-notebook viewers such as ipyvolume. The point of remote notebooks is usually not needing to set up a local environment, so I think the overlap of "people running remote notebooks" and "people wanting to see ndarrays displayed on a local app" is sma

[2019-03-10 02:01] sofroniewn commented on #141
Hmm, I'm not sure @jni that there won't be quite a lot of overlap between "remote notebooks" and "people wanting to see ndarrays displayed on a local app", for example I'm thinking about @batson at the biohub who is training neural nets on the office GPU box, but running a "remote notebook" on his laptop and wants to be able to browse through that data easily, and see updates from his model as it

[2019-03-10 02:19] jni commented on #141
Sure but I think that it is cleaner in this use case to open an HTML-based viewer within those notebooks than it is to e.g. get a URL/port combination from the notebook and open those in a local napari instance, *especially* if that instance isn't the standard application (ie if you need to point to a specific Python).

With an application you could create a special file type that you could associ

[2019-03-10 04:48] royerloic commented on #141
@sofroniewn I would love that... I also use remote notebooks all the time...

[2019-03-10 15:42] ambrosejcarr commented on #106
When you decide to move to a schedule, we're investigating automating releases and would be happy to communicate any learnings.

spacetx/starfish#1059

[2019-03-11 02:52] sofroniewn opened #173 "Labels layer / paint brush style annotation"
## 🚀 Feature

In #100 @jni mentions

I've made this issue to discuss this labels layer, and a possible paint brush annotation layer (which could or could not be related).

I'm curious @jni what you have planned for a labels layer. I've been thinking about a "paintbrush" layer where you can paint pixels either `True` or `False`, or one of N labels (depending on "color" of brush). Imagine you want t

[2019-03-11 03:00] jni commented on #173
@sofroniewn absolutely! My initial work will just be for displaying, but painting would totally work in the context of this layer. What I'm working on is more for segmentations but should be general enough for sparse labeling. Specifically, the value 0 will always be transparent.

So, in terms of interactivity, we can have "paint", and we can have "merge/split segments". Whether they belong in the

[2019-03-11 03:02] sofroniewn opened #174 "Change name of clims"
From @jni in #172

Can you elaborate here / do you have ideas on what name should be?

[2019-03-11 03:09] sofroniewn commented on #173
This sounds great!! I'd say get basics working as a static layer with no interactivity, and then we can see what makes the most sense.

I'd probably lean towards just having this as the same layer type and that we have different modes determined by buttons on the left hand side - like in the shapes layer, but now with things like "paint", "erase", "merge", "split" etc.

[2019-03-11 03:22] jni commented on #173
@sofroniewn one issue I'm handling now is that from what I can tell vispy colormaps have to be in [0, 1], so integer labels need to map to float and vice versa, in which case, it might be tricky to add arbitrary labels after the fact. On the other hand, the colormap could get updated dynamically, so I don't think it's a blocker, just perhaps more convoluted than it needs to be.

[2019-03-11 03:28] jni commented on #174
clim means literally nothing to someone not already familiar with the terminology and/or our software.

Not sure what the best option is, but something along the lines of `brightness_range` or `displayed_data_range`.

[2019-03-11 03:35] sofroniewn commented on #174
Agreed we should have a more intuitive name. `look_up_table_range` is something some communities might understand, but maybe is a little jargony. How about `display_range`?

[2019-03-11 03:37] sofroniewn commented on #173
Hmm, that doesn't sound so desirable. I'm surprised vispy doesn't have support for more "categorical" colormaps. I can poke around too.

[2019-03-14 22:27] kevinyamauchi commented on #141
I think the list does a good job of encapsulating the common use cases! I have a few comments below.

- I think the initial focus should be on use case 1 (Napari + local jupyter notebooks/python scripts). I think focusing on one usage mode up front (while being careful not to make decisions that block other modes in the future) is important to concentrate effort and I think it helps make it clear

[2019-03-14 22:42] kevinyamauchi opened #177 "Annotations for shape layers"
## 🚀 Feature
I think it would be useful to be able to add annotations to the shape layers. In short, I would like to be able to associate a short block of text with a given shape that is then displayed when the user mouses over the shape.

## Motivation
When collaborating on a data set, there is often a need to show a collaborator a particular observation (e.g., "this cell looks weird"). Adding an

[2019-03-15 20:13] #146 closed, assigned to jni

[2019-03-16 15:41] sofroniewn opened #178 "export to svg"
## 🚀 Feature
Add support for export to svg

From @freeman-lab, mentioned in #100:

[2019-03-16 17:17] d-v-b commented on #141
To add some potential-user data (I work with large functional imaging datasets):

My ordinary usage would be a mix of modes 1 and 3:
Currently, I work with very large spatiotemporal arrays exclusively with remote notebooks (i.e., the notebook server is on the compute cluster, and I access it via my laptop). Crucially, I start my notebook server in a remote desktop environment (NoMachine); gui apps

[2019-03-20 23:51] kevinyamauchi opened #179 "Examples should only have dependencies that are in the requirements"
## 📚 Documentation
I think the scripts in the examples directory should be guaranteed to run immediately after a fresh installation (i.e., they should only have dependencies that are in the requirements). It's a little frustrating to do the installation, go to try out napari and then get a `ModuleNotFoundError`. What do you all think?

[2019-03-20 23:52] kne42 commented on #179
please

[2019-03-20 23:53] kne42 commented on #179
this is largely due to our dependency on scikit-image for images

if we get our own data module this should be easy

[2019-03-20 23:59] kevinyamauchi commented on #179
I took a look and I think you're right - we would just need to have our own data module. In any case, I ran into this while checking out the shapes PR and the wait was worth it!

[2019-03-21 04:40] jni commented on #179
I propose that we depend on scikit-image and we spend our energy improving the scikit-image data module rather than rolling our own. ;)

Another, probably better option is to add metapackages. `napari[core]` would contain only the bare requirements, `napari[full]` would contain bare requirements plus some extra convenience packages, ie stuff in `requirements/docs.txt`, such as skimage.

[2019-03-21 19:07] sofroniewn opened #180 "Layer types needed for 0.1"
## ❓ Questions and Help

I'm creating this issue to discuss which layer types we think are needed for our MVP (and what are some of their core features that may be missing right now).

Here are some or existing / in-progress / planned layer types:

1. Image layer (merged). This is our core layer supporting visualization of nD arrays. This layer does not support drawing / editing from the GUI. To d

[2019-03-21 23:22] mattersoflight opened #181 "Viewer screenshot method returns only the first layer."
## 🐛 Bug
When screenshot method is used on a viewer with multiple layers, only the first layer is returned.

## To Reproduce

Steps to reproduce the behavior:

1. import

%gui qt5
from napari import ViewerApp
import vispy.io as io

2. Use ViewerApp() and display multiple layers.

3. save screenshot of current view.

screen=viewer2D.screenshot()
io.write_png('vectorexport.png',screen)

![vectorexpo

[2019-03-22 02:13] sofroniewn commented on #180
After our discussion today a couple follow up notes:

After vectors / shapes get merged we will look at unifying code under-the-hood and unifying the API (i.e. we might now use triangles to render lines for the vectors layer too)

The big image layer will support both the case of a small 2D view but a long movie (i.e. a 512x512x1e12) timeseries where only the slicing needs to be dynamically loaded

[2019-03-22 02:55] jni commented on #180
Brief reminder that the movie would be 1e12x512x512 in NumPy-land.

[2019-03-25 22:51] freeman-lab commented on #178
this library might prove useful https://github.com/mozman/svgwrite

possible solution: programmatically assemble the SVG object using this library given the image layer contents (represented as an `Image` element) and all of the shape data (built using `Polyline`, `Polygon`, etc.), and dump the whole thing to an SVG file alongside a PNG linked to in the `Image` field

[2019-03-26 21:24] royerloic commented on #178
From Slack:
One approach is to have each layer know how to export itself as svg. The viewer can then ask each layer to produce a SVG group. Actually, we could have a SVG view for each layer type that takes a layer type and produces a SVG group. That would be a continuation of the Model-View paradigm.

[2019-03-27 17:27] bryantChhun opened #182 "renaming EmitterGroup"
## ❓ layers._base_layer._visual_wrapper has an EmitterGroup defined, but it's assigned to "self.events".  Can we rename it something appropriate like "self.emitters"?

Please correct me if i'm wrong, but I thought the EmitterGroup defines objects that emit events, not the events themselves.  Renaming as above would clarify which objects are sending and which are receiving.

### Please note that th

[2019-03-28 06:16] sofroniewn commented on #182
@kne42 and I had been talking about some of this recently - in some places in the code base `self.changed` was used for something similar I think. Good to highlight for when are doing the refactoring. Thanks!

[2019-03-29 16:41] kevinyamauchi opened #184 "Index error when adding/deleting layer from GUI"
## 🐛 Bug
When adding and the deleting a layer from the GUI, I receive the following error:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. `git checkout shapes` or `git checkout labels`
2. launch a demo script (e.g., `add_shapes.py`)
3. Add a layer via the "+" button
4. Delete the layer via the trash can button

## Expected behavior

Layers should be added/deleted without an error.

[2019-03-29 17:13] sofroniewn commented on #184
This is a duplicate of #170

[2019-03-29 17:21] kevinyamauchi commented on #184
Oops, sorry!

[2019-03-29 17:21] #184 closed, assigned to nobody

[2019-03-29 17:45] sofroniewn opened #185 "Stylings of PushButtons"
## 🐛 Bug

The pushbutton in the label layer, PR #175, no longer has the appropriate stylings as the default QSS of the pushbutton was overwritten is PR #167. @kne42 This should be fixed in a followup PR.

[2019-03-29 18:00] freeman-lab opened #186 "blending mode update error"
## 🐛 Bug

When viewing multiple layers with blending, I am experiencing a bug whereby changing the blending mode doesn't result in an immediate update. The update does occur when I change the opacity (at which point is happens immediately).

![bug](https://user-images.githubusercontent.com/3387500/55253093-aa80cc00-5211-11e9-828c-686595346b86.gif)

## To Reproduce

Steps to reproduce the behavior:

[2019-03-29 21:11] kevinyamauchi opened #189 "Transform a Shapes layer into a Label layer"
## 🚀 Feature
It would be nice to have a function to turn the shapes from a `Shapes` layer into a `Labels` layer.

## Motivation
The `Shapes` layer is a great tool for annotating data and users will likely want to be able to generate a labels mask from the shapes.

## Pitch
We could add a `Shapes.rasterize()` method that returns a `Labels` layer. In a simple implementation, we could make all shapes

[2019-03-29 21:29] kevinyamauchi opened #190 "Add "painting" to Labels layers"
## 🚀 Feature
There should be a mode to label pixels in the Label layer by dragging the mouse over the image (i.e., "painting").

## Motivation
This feature is a useful way to do pixel-wise annotation of images.

## Pitch
We can have a toggle-able mode that catches mouse events and adds the appropriate label to `Labels._image()`.

A nice-to-have: it would be nice to have support for drawing with Wa

[2019-03-29 21:33] bryantChhun commented on #182
ok well, i dug a little deeper.  If we were consistent with Vispy's documentation, they explicitly say

"EmitterGroup instances are usually stored as an 'events' attribute on objects that use multiple emitters."

https://github.com/vispy/vispy/blob/master/vispy/util/event.py

[2019-03-31 17:00] sofroniewn opened #193 "Make `_get_coord` a method on the `base_layer`"
Right now each layer has to implement the conversion from canvas coordinates to image coordinates itself. This is something that should be handled by the base_layer

[2019-04-01 00:45] jakirkham commented on #103
So Dask Arrays are now supported with PR ( https://github.com/napari/napari/pull/188 ) (example included). Caching is not currently handled.

[2019-04-02 02:22] sofroniewn commented on #98
This has been addressed with merge of #100

[2019-04-02 02:22] #98 closed, assigned to nobody

[2019-04-02 03:17] sofroniewn commented on #185
Note that this is the "shuffle colors" pushbutton

[2019-04-03 17:04] donovanr commented on #190
This would be super useful to me. Additionally, it would be great to be able to convert a polygon annotation to a painted/rastered version/layer – that might be its own issue/feature though.

[2019-04-03 17:14] jni commented on #190
@donovanr

it literally is! #197 =D

[2019-04-03 22:41] gregjohnso opened #199 ""undo""
## 🚀 Feature
Add "undo" feature

## Motivation

Sometimes I add a marker and can't figure out how to delete it. Or deleted a layer on accident

## Pitch

Press the "undo" button or "ctrl+z" and the viewer is set to the previous state.

[2019-04-03 23:22] gregjohnso opened #200 "Allow for users to define keys or actions to execute user-defined functions"
## 🚀 Feature
Allow for users to define keys or actions to execute user-defined functions

## Motivation

I want to be able to "pipeline" my image processing tasks without having to click around. If I can define a dictionary of key commands and corresponding functions, I could do some neat stuff.

## Pitch

Add an argument to add key bindings that execute an arbitrary function. Something like this:

[2019-04-03 23:46] gregjohnso opened #201 "Add text in title bar"
## 🚀 Feature
Add function to set title-bar text.

## Motivation

Sometimes I forget what I'm doing, and need to be reminded.

## Pitch

```viewer.add_title('click all the cells')```

## Additional context

![Screen Shot 2019-04-03 at 4 44 25 PM](https://user-images.githubusercontent.com/17319655/55520186-fb3c5e80-562f-11e9-9964-9f9a5c454389.png)

[2019-04-04 00:33] freeman-lab opened #202 "styling"
## ❓ Questions and Help

During an in-person sprint I did some design mock work on potential refresh to the UI / UX.

### Phase 1

First is a proposed new design that captures current functionality. It's only a proposal for aesthetic changes (hopefully improvements!)

<img width="633" alt="Screen Shot 2019-04-03 at 5 27 14 PM" src="https://user-images.githubusercontent.com/3387500/55521481-c0d5c00

[2019-04-04 04:46] kevinyamauchi commented on #202
This is awesome! In particular, I like the darker UI and the rectangular slider bars. I'd say go for phase 1!

Minor nitpick: I think the font should be the same for the left and right sides of the message bar at the bottom of the viewer.

While on the topic of fonts, can we include our own font or do we have to choose something safe that will be on all platforms?

In terms of phase 2, I think it

[2019-04-04 06:30] jni commented on #202
GENIUS! 👏

My comments:

- phase 1:
 * I'd keep the eye icon for "visible", as stylised as necessary but I think it is more intuitive (if less stylish) than a bare tick box. (and hidden should have a crossed-out eye)
 * still fishing for ideas for the bottom-left corner! My proposal: 2d/3d switcher, or sliders mode switch (display/slice/project), or similar.

- phase 2:
 * regarding the console, a

[2019-04-04 07:10] jni commented on #200
Yes! The auto-advance stuff is so powerful, I once did a "find the ROI in each image" little app like this and it was insanely fast to work with. We definitely want to be able to support this with napari.

[2019-04-04 20:12] perlman opened #204 "Render labels using a shader based on hash(label, salt)"
## 🚀 Feature
Implement the rendering of label layers as a gl shader. Use a hash based on the label value and a salt to pick a color at random.

## Motivation

The shader generated by vispy.color.colormap for a colormap with a large number of intervals would fail to compile due to an excessive code size. This is not an issue with the shaders for linear colormaps, but those do not clearly differenti

[2019-04-05 17:28] sofroniewn commented on #204
@perlman @jni - to follow on here there are a couple problems with the current fix.

The first one is that sometimes there can be a discrepancy between the displayed color and the color returned from `label_color` - these are likely do to in-precisions with floating points. For example if you run the `labels-2d.py` example and then set the labels layer to `0` I get a slightly off-green color, that

[2019-04-05 17:42] sofroniewn commented on #202
I really like the direction - I'd say we press on with phase 1 and think about phase 2 as we go and add new features.

One thing mentioned by @d-v-b was the request for an intensity histogram. people have remarked that it could be on the left oriented vertically and aligned with the clims slider in a `QSplitter` so that it is possible to pull in / out

[2019-04-05 17:50] sofroniewn commented on #199
Yup, we're planning to implement some form of history feature. i feel like i may know the answer already, but curious how important to you is it to have arbitrarily many "undos" vs just being able to do one?

And any thoughts on how we should think about "undos" once we get to a stage where plugins can do some pretty intense analysis that either generates large copies of data or takes a long time.

[2019-04-05 20:10] sofroniewn commented on #124
this has been fixed in #196

[2019-04-05 20:10] #124 closed, assigned to nobody

[2019-04-05 20:11] sofroniewn commented on #71
fixed in #196

[2019-04-05 20:11] #71 closed, assigned to nobody

[2019-04-06 04:53] sofroniewn commented on #103
Following more nice work from @jakirkham exploring in memory zarr arrays PR #191, after the merge of PR #205 will we be able to support fast interactive browsing of very large zarr files via dask (where each 2D image to be displayed is still quite small).

Here is an example browsing an 100GB zarr file that is stored locally on my machine:

![zarr_data3](https://user-images.githubusercontent.com/6

[2019-04-06 06:28] perlman commented on #103
This looks great. I suspect we could use this, without modification, to pan through any of the large EM volumes stored as n5, including segmentation layers (as labels). [h/t to @jakirkham for integrating n5 support into zarr.]

Mipmaps will be needed for any useful navigation (zoom in/out).

[2019-04-06 14:59] d-v-b commented on #103
That looks awesome! We typically store our data in chunked hdf5 files, each containing ~180 MB of data. Our chunking is pretty arbitrary, so it's absolutely something we could adjust if needed. In the coming days I'll play around with viewing our data with Napari; hopefully I get something as good as that .gif

[2019-04-06 15:55] d-v-b opened #206 "segfault on OSX 10.12.6"
## 🐛 Bug

attempting to use an `app_context` as a context manager crashes python. Seems like the issue is something fonty.

## To Reproduce
[code]
## Expected behavior

not a segfault

## Environment

 - napari Version: 0.0.6+15.g16686b6
 - OSX: 10.12.6
 - Python version: 3.6.8

[2019-04-06 15:56] sofroniewn commented on #103
@perlman can you give me a little more detail on some example EM datasets that you might want to view. What size files? What total shape in pixels? What is the size of each chunk? How have you done the mipmaps? Are the segmentation layers stored as a different file or in the same file? Do they have the same pixel shape but are now integer labels with 0 background? How many labels are there?

Are y

[2019-04-06 16:02] sofroniewn commented on #206
Hmm interesting, thanks for flagging, I do not get that error when I try it on my laptop.

One thing to note though, and maybe we need to update our readme to reflect make this more clear, is that you do not need to use the `app_context` when using ipython.

Using the gui magic, like in the notebook is sufficient, so the following code should launch an image viewer just fine

[code]

[2019-04-06 16:07] d-v-b commented on #206
When I run that code snippet, I get this:
[code]

[2019-04-06 16:11] sofroniewn commented on #206
Try opening a new ipython terminal, just running `%gui qt` waiting a couple seconds for the qt stuff to instantiate (I see a new icon add to my dock on the mac), and then run the rest of the code.

unfortunately what happens in the above case occurs if the ViewerApp starts before the gui magic has finished getting everything ready. We should think about ways to make this easier

[2019-04-06 16:27] d-v-b commented on #206
I'm not sure what you could do about that issue with the magic, maybe get the `ipython` people involved? the magic should probably block until the `QtApp` is satisfied with its existence.

Regarding the app_context-makes-a-segfault thing, all the examples now use the context manager approach, so I figured it was the new default :)

[2019-04-06 16:34] sofroniewn commented on #206
Yeah, you only need the `app_context` when launching the viewer from a normal python script - we should make that more clear though

[2019-04-06 19:33] mrocklin commented on #103
It's very cool to see everything come together.

@sofroniewn from the gif it looks like everything is pretty smooth.  However, I wouldn't be surprised if it felt a bit slower than an in-memory solution.  Is this the case?  I would be curious to know the response time you're getting.

You might consider looking at Dask's [opportunistic caching](https://docs.dask.org/en/latest/caching.html), which w

[2019-04-07 03:29] jni commented on #103
🤯

[2019-04-07 03:31] jni commented on #103
@JohSchoeneberg ☝️

[2019-04-07 03:34] jni commented on #206
You can add the Qt gui to your IPython config so it is launched by default.

https://github.com/jni/ipython-config/blob/master/ipython_config.py#L101

I'm not sure whether there is a more general config setting than `.matplotlib`, but that's what I have and napari Just Works ™️. On mac, though, it is apparently impossible to get rid of the bouncy python icon that steals focus from the terminal.

[2019-04-07 15:02] oeway commented on #103
Looks awesome!
I am mostly interested in accessing Zarr arrays stored remotely (e.g. S3)-- in many cases it would not be realistic to pull 1TB images to a laptop.

[2019-04-07 16:24] sofroniewn commented on #103
@mrocklin my initial impression was that it might feel a tiny bit slower, but was hard to tell. Unsurprisingly it depended on the chunk size. I plan to do some systematic profiling comparing in memory, local data, and remote data with different chunk sizes and can evaluation opportunistic caching at the same time. I will let you know what I find!

Thanks for the tip about `coarsen` + opportunistic

[2019-04-07 23:13] sofroniewn commented on #103
@mrocklin I've done some initial benchmarking using different chunk sizes and opportunistic caching for the example of a 2D timeseries dataset represented by `TxYxX` pixels where you only ever want to look at 2D slices of `YxX`. To do the benchmarking I created local zarr files of `np.random.rand` numbers of the appropriate shape and chunking scheme and loaded them in napari using dask and either

[2019-04-07 23:28] d-v-b opened #207 "Broken build on Scientific Linux 7.3"
## 🐛 Bug

The build is broken -- napari can't find `PyQt5.sip`

## To Reproduce

I get the error when I import napari, or try to run an example

[code]
## Expected behavior

The example should run

## Environment

 - napari Version:  I can't tell, because I can't run `import napari` without getting the above crash :P I pulled from github today, when the latest commit was #205
 - OS (e.g., Linux):

[2019-04-07 23:51] sofroniewn commented on #207
Hmm I'm not sure about this - the best I could find was https://www.riverbankcomputing.com/static/Docs/PyQt5/installation.html#downloading-sip, we'll look into it soon

[2019-04-08 01:15] jni commented on #207
We should add "PyQt version" to the template... ;) @d-v-b could you provide the output of `conda list` as well?

Also, you mentioned the cluster — I guess you're doing X-forwarding? Can you confirm that other Qt-based things work? e.g. matplotlib from `ipython --matplotlib=qt5`

[2019-04-08 03:17] jakirkham commented on #103
Given as you are only looking at accessing the data, would try using Zarr's [`LRUStoreCache`]( https://zarr.readthedocs.io/en/stable/api/storage.html#zarr.storage.LRUStoreCache ).

[2019-04-08 12:48] d-v-b commented on #207
Here's the output of `conda list`. The big red flag that I forgot to mention: I added conda-forge to the default channel list, so basically all these packages are from there (this was necessary for getting an obscure image library to work a while ago)

[code]

[2019-04-08 12:51] d-v-b commented on #207
also, matplotlib-backed-by-qt does not work in this env:
[code]

[2019-04-08 13:23] mrocklin commented on #103
At some point we might experiment with turning off graph optimization and task fusion in particular, which tries hard to remove intermediate results.  These optimizations are good in the common case, but don't let other plugins like opportunistic caching see all of the intermediates.

[2019-04-08 14:06] jni commented on #207
Erm, I literally see **no** PyQt installed?

[2019-04-08 14:36] d-v-b commented on #207
looks like I had a brain-fart and didn't run `python setup.py install` before looking at `conda-list`. I re-built the env, ran `python setup.py install`:

I get the same issue with `PyQt5.sip` even with a much more reasonable list of packages:

[code]

[2019-04-08 14:54] d-v-b commented on #207
In case it's helpful, here's the output of the install process: https://gist.github.com/d-v-b/601842fcf5f879173011599956359af7

[2019-04-08 15:06] jni commented on #207
Thanks @d-v-b!

(a) does matplotlib qt5 work now?
(b) could you try again (sorry) but installing PyQt5 from conda-forge instead of PyPI? My suspicion is that you need to install Qt5 separately when getting PyQt5 from PyPI.

[2019-04-08 15:43] d-v-b commented on #207
a) matplotlib qt5 does work
b) installing pyqt5 from conda forge does not work, but now with different errors. At this point I think these issues derive from your minimum pyqt5 version (5.10.1) not being on any conda channel I could find. The highest version I could find on `conda` and `conda-forge` is 5.9.2.

[2019-04-08 15:45] jni commented on #207
(a) dang. =P
(b) what about pip installing a later version of PyQt5 from PyPI on top of a conda-forge install of it?

[2019-04-08 16:01] d-v-b commented on #207
b) doesn't work (the nD_image.py example runs, but no image is displayed, and trying to use ViewerApp in ipython suggests that napari is asking for a Qt api that doesn't exist: see here: https://gist.github.com/d-v-b/8c0e839da32aca7b2c431678490f6394)

Also i start getting binary incompatibility warnings, suggesting that we're in the "dont mix conda and pip packages" territory

[2019-04-09 05:50] gregjohnso opened #209 "Be able to quickly assign categorical annotations to specific field of view"
## 🚀 Feature
By some mechanism able to quickly assign categorical annotations to whole images or specific field of view.

## Motivation

The shape/annotation layers are awesome, but the workflow for assigning annotations to a particular field of view is non-obvious. For example, if I want to flip through images and annotate them as "in focus" or "out of focus" I could create a layer and manually n

[2019-04-10 17:14] jni opened #210 "Unified framework for keybindings"
Currently, keybindings are implemented as a hodgepodge of handcrafted if-else statements, see e.g. https://github.com/napari/napari/pull/195/files#diff-347152977a8bc6500ffce60fc0e90a0dR653

What I envision is a yaml config file that maps keys to functions, as well as a description. Each layer comes with its own file, as well as the base viewer. When a layer is selected, its keybindings override ba

[2019-04-10 19:53] sofroniewn commented on #210
Hopefully this will then make it easier to support #200

[2019-04-11 02:51] sofroniewn opened #212 "DoubleClick to 2x zoom"
## 🚀 Feature
As requested by @jni in #211 - it can be very nice to double click on a point to zoom 2x instead of having to scroll in. The idea was that this feature should apply whenever pan/zoom is enabled on any layer type.

[2019-04-11 03:16] sofroniewn opened #213 "OSX CI build broken by vispy line rendering"
## 🐛 Bug

Our OSX CI build is broken at the `add_vectors_coords` example, which came in #129. It is likely due to this layers dependency on `Line` rendering. Switching over to triangles and mesh rendering will likely solve this problem and is planned for related bug reasons (like being able to accurately specify line width).

[2019-04-11 04:06] sofroniewn commented on #173
merged in #195

[2019-04-11 04:06] #173 closed, assigned to nobody

[2019-04-11 17:22] sofroniewn opened #214 "Adding mesh object to empty viewer"
## 🐛 Bug

Adding a 2D mesh object (like are found in shapes) to an empty viewer triggers an error on the `camera.set_range()` call due to not all the bounds being set in 3D. This seems to be more of a vispy error to me, but worth flagging here. (Note here the vectors layer has been modified to use a mesh object and not a lines object).

[code]

[2019-04-11 22:39] sofroniewn commented on #166
We are going to investigate support for [wacom tablets](https://www.wacom.com/en-us/products/pen-tablets/wacom-intuos-pro#Overview) for image annotation, as requested in #190. Will be interesting to see if there is any support from the Stylus Event in vispy

[2019-04-14 22:08] sofroniewn commented on #180
We're making good progress on our core layer types which are all merged - here is an update:

1. **Image Layer** Now has some support for big datasets loaded using zarr / dask. Need to investigate latencies for remote data (e.g. on s3). Support for browsing collections of irregularly shaped images loaded with `dask-image` is also on the way with #216. Need to make sure big data works for labels la

[2019-04-15 21:31] gregjohnso commented on #210
and #212

[2019-04-15 21:58] sofroniewn commented on #210
Yes our framework should also allow attaching custom functions for mouse click, mouse press, mouse release, and mouse doubleclick

[2019-04-16 05:13] sofroniewn commented on #213
Unfortunately although we seem to have fixed some examples, we havn't fixed others. We are still getting as segfault now on the `add_vectors_image.py` example

[2019-04-16 05:43] sofroniewn commented on #190
This has been addressed with #195 and #197. Support for tablets is being addressed in #166

[2019-04-16 05:43] #190 closed, assigned to nobody

[2019-04-16 05:43] sofroniewn commented on #189
This has been in #197

[2019-04-16 05:43] #189 closed, assigned to nobody

[2019-04-16 05:47] sofroniewn commented on #40
With #176 we have added support for automatically running examples with pytest.

Complex UI testing has not been implemented yet, but could come in the future

[2019-04-16 05:47] #40 closed, assigned to nobody

[2019-04-16 23:02] kevinyamauchi commented on #210
@jni , I think this is a great idea. In terms of features, I think this is a pretty high priority after #171 lands. I would even propose this is one of the last feature to add before circling back for testing/clean up of all of the awesome features that have been added thus far.

I like the idea of a mapping between events and functions. Were you thinking the main `Viewer` and each layer would hav

[2019-04-16 23:12] sofroniewn commented on #210
@kevinyamauchi i think you mean #171 not #115 (also named dims refactor ...)

I really like the `add_binding` idea where a custom dictionary is passed - I think it is similar to the proposal from @gregjohnso described in #200

[2019-04-18 16:53] kevinyamauchi commented on #210
Ah yes, correct on both fronts, @sofroniewn ! This particular feature would be pretty useful for me, so let me know if I can help in any way. Looking forward to this!

[2019-04-20 04:40] sofroniewn commented on #166
@kevinyamauchi I have gotten a wacom tablet and am trying controlling the paintbrush in the labels with it. Integration was absolutely no problem, we didn't need to do anything with tablet events etc. to get the basic functionality working. If we want to get the most out of the tablet though I think we will want to map buttons on the tablet to certain events like changing which mode you are in or

[2019-04-20 04:52] sofroniewn commented on #166
If we want to extract custom button presses from the tablets then we will need to use the [QTabletEvent](https://doc.qt.io/qt-5/qtwidgets-widgets-tablet-example.html).

[2019-04-20 19:29] royerloic opened #221 "Canvas resizing trouble when increasing window size."
## 🐛 Bug

Canvas resizing trouble when increasing window size.

## To Reproduce

Steps to reproduce the behavior:

1. start add_image example
2. make window bigger
3. Canvas is not getting larger at the bottom (see screenshot below)

## Expected behavior

Canvas should scale to occupy most of the viewer,
no blank space should grow as the  window is made bigger:

![image](https://user-images.github

[2019-04-20 19:35] royerloic opened #222 "Redundant Symbols in markers layer"
## 🐛 Bug

Some symbols in the markers layer are just the sam, or at least I can't make the difference. For example: '|' and 'vbar' appear to be the same, other instances: 'o' and 'disc'.

![image](https://user-images.githubusercontent.com/1870994/56461461-5f695d00-6368-11e9-9240-98ebfb5de386.png)

## To Reproduce

N/A

## Expected behavior

Cleaner list of symbols without duplicates.

## Environme

[2019-04-20 19:45] royerloic opened #223 "Exception when drawing polygon in shape layer"
## 🐛 Bug

An exception showed up. Could not reproduce but the stack trace might give some hints.
Maybe adding some checks could help make the responsible code more robust to corner cases:

`/usr/local/Cellar/python3/3.6.2/Frameworks/Python.framework/Versions/3.6/bin/python3.6 /Users/royer/workspace/python/napari/examples/add_shapes.py
WARNING: Traceback (most recent call last):
  File "/Users/roye

[2019-04-20 19:47] sofroniewn commented on #221
Ah ok - this is on the `dimslider` PR - not on master - if you find a bug on a PR during PR review can you post it in your review instead of making on issue

[2019-04-20 19:52] royerloic opened #224 "Less flashy design for shapes in shapes layer"
## 🚀 Feature

Maybe we could make the shapes rendering in Shapes layer a bit less flashy and sleaker.
A few ideas:

- make the lines a bit thiner
- choose less flashy colors (blue and orange defaults...)
- at least make the shapes more transparent

## Motivation

Shapes now have good defaults for development,
but when it comes to actual usage with real images,
it seems that the shape defaults are

[2019-04-20 19:52] sofroniewn commented on #222
yup - we should clean that up. similarly we should clean up all the colors and colormaps. maybe would be good to have config files or `_constants` which list acceptable symbols, colors, and colormaps

[2019-04-20 19:55] sofroniewn commented on #224
These aren't actually the defaults, these are just the colors used in the `add_shapes.py` example.

Happy to change both the example and the defaults though (which are as follows `edge_width`=1, `edge_color`='black', `face_color`='white', `opacity`=0.7).

In general more "scientific" examples would be a good thing I think

[2019-04-20 19:58] sofroniewn commented on #223
This is likely due to the dims refactor - I have a guess at what is causing it but can you tell me a little more about which example you are using and what you did.

i.e. did you run the `examples/add_shapes.py` and draw new shapes in the existing shape layer, or did you run `examples/add_shapes.py` and click the `add_shape_layer` button in the bottom right to add a new empty shape layer and start

[2019-04-20 20:01] royerloic opened #225 "Antialiasing to reduce Moire effects"
## 🚀 Feature

Antialiasing for 2D rendering

![image](https://user-images.githubusercontent.com/1870994/56461729-714cff00-636c-11e9-8930-baeb725e3a95.png)

## Motivation

Modern graphics card are very very powerfull, 2D rendering is peanuts for them.
OpenGL has lots of cool features such as [MSAA](http://en.wikipedia.org/wiki/Multisample_anti-aliasing) that can be just turned on.
Vispy seems to su