[2021-08-27 12:22] kevinyamauchi commented on #3263
Thank you, @djhoese ! I am happy to test on my mac when you make the PR.

[2021-08-27 12:40] haesleinhuepf commented on #3231
Thanks @jni for reminding us of this and for being so clear on this aspect. That helps a lot when communicating with potential users. 👍

I would be very sad if non-coders become second class citizens ☺️🙌

It's good to have this discussion here. I'd hope that some [bio-]image analysis courses can adopt the right terminology. I'm happy to update my courses, especially if terminology is well thought-

[2021-08-27 12:53] djhoese commented on #3263
When they support PySide6/PyQt6 PRs are welcome in vispy to switch to it :grin:

[2021-08-27 14:31] jaimergp commented on #2898
Note that my tests for #3266 are being done with Python 3.9 on Big Sur :)

[2021-08-27 15:15] djhoese commented on #3263
This has been fixed as part of https://github.com/vispy/vispy/pull/2202 and is being released right now in vispy 0.8.1.

...and now builds are failing. It should be released today no matter what I have to do.

[2021-08-27 15:17] jaimergp commented on #2964
I can open the console on my local builds using Python 3.9 and `b1` support packages:

<img width="1149" alt="Screen Shot 2021-08-27 at 5 16 40 PM" src="https://user-images.githubusercontent.com/2559438/131150232-01657f01-3441-4f5e-9eb7-1242e7b4168a.png">

[2021-08-27 15:22] meg-bit commented on #3261
I tried the napari-env and reinstalling PyQt5 and PySide2, the error is the same as if I go from the base. I eventually used the bundled app but the parameters I can set are limited, so I start to debug napari for python again. Let me send you the conda list.
[code]

[2021-08-27 15:27] andfoy commented on #3221
I'm also working on providing packages for aarch64 and arm64 as well. See: https://anaconda.org/andfoy/qt, https://anaconda.org/andfoy/qtwebengine, https://anaconda.org/andfoy/pyqt and https://anaconda.org/andfoy/pyqtwebengine

[2021-08-27 15:34] jaimergp commented on #2964
I downloaded the [last bundle from the dailies](https://github.com/napari/napari/actions/runs/1172460428) and I can run the console too. This is a MacBook Air 2019 on Big Sur 11.5.2.

<img width="1157" alt="Screen Shot 2021-08-27 at 5 32 28 PM" src="https://user-images.githubusercontent.com/2559438/131152318-6983e7b9-73f3-4d68-8885-32d5873a3f38.png">

[2021-08-27 16:03] djhoese commented on #3263
VisPy 0.8.1 is out on PyPI now. Conda-forge package should be out later today.

[2021-08-27 16:09] #3093 closed, assigned to nobody

[2021-08-27 16:10] sofroniewn commented on #3231
Great discussion here folks, a lot of good point all around - i also agree though with the main points from @jni and @tlambert03

Yes I agree here

I think we should explore this idea, they could help a lot of our potential users. It might also help us in our current dev phase to have such guides, though I agree with @jni those migrating users aren't our only focus

[2021-08-27 16:12] kevinyamauchi commented on #3263
Amazing! Thank you for the quick fix, @djhoese !

[2021-08-27 16:21] JoOkuma commented on #2858
I'm having similar issues again, the world changes as new layers are added and I'm not able to keep track of the mapping between a points layer to world so I can query the values from a labels layer using its `world_to_data` from the points' coordinates.

@jni @andy-sweet Should I implement a `data_to_world` function analogous to the `world_to_data`? Is there any expected change to the transform m

[2021-08-27 16:47] kevinyamauchi commented on #3263
@sofroniewn , do you think we should exclude vispy 0.8.0 from the requirements just to be safe or leave it as is. If it's the latter, we can close this issue.

[2021-08-27 16:50] sofroniewn commented on #3263
I don't have strong feelings, maybe might as well make a PR to exclude. Would be a shame for someone to be on `0.8.0` when they could just as easily now be on `0.8.1` and have it work

[2021-08-27 17:08] djhoese commented on #3263
As a non-napari dev or contributor even, my opinion is that you shouldn't put the work in to limit against 0.8.0. This was a small bug that was only run into by accident for an event type that isn't even currently used by napari (from my understanding).

[2021-08-27 17:17] sofroniewn commented on #3261
@jaimergp do you have any ideas here?

[2021-08-27 17:58] andy-sweet commented on #2858
@JoOkuma are you able to share a small code example that demonstrates the issue that you're having? I'm a little confused about what the issue is and I suspect there is some confusion about definitions.

Before that, here are some other comments/thoughts that might be useful.

Agreed that I think of the world coordinate system as one that should not change as new layers are added. Each layer defin

[2021-08-27 18:41] JoOkuma opened #3268 "Improved tracks layer for addition and removal of track nodes"
## 🚀 Feature

Improve the Tracks layer and `TrackManager` data structures to allow:

- Addition of track nodes
- Removal of track nodes
- To edit a track edge
- All of this while keeping the properties in sync with these operations.

## Motivation

Currently, the Tracks layer provides a great API for visualizing tracks but the user interaction with it is limited.

The Tracks layer doesn't have an

[2021-08-27 18:52] tlambert03 commented on #3261
hi @meg-bit,
you can see in your conda list output that you've got pyqt5.9 in your environment installed by conda

[code]
_in addition_ to the qt installed by pip:

[code]

this is very likely to be the source of your problems.  It seems likely that you also installed something into this environment, and that perhaps you don't have conda forge in your channels.  note that the pyqt being shipped fr

[2021-08-27 18:55] tlambert03 commented on #3261
side not @napari/core-devs ...
we should add this caveat to the install info.  It's common enough that people a) run `conda install jupyter notebook` into the napari environment after installing napari and b) don't have `conda-forge` in their channels...

[2021-08-27 19:09] meg-bit commented on #3261
Thank you! I will try this to see it resolves the issue.

[2021-08-27 22:03] #3232 closed, assigned to goanpeca, liaprins-czi

[2021-08-27 22:17] lukasz-migas opened #3270 "`appearance -> theme` validation warning when starting napari"
## 🐛 Bug

PR #3034 introduced hook spec to add custom themes which are dynamically loaded at app startup.
If the last active theme is not one of the defaults (dark/light) and is provided by the hook spec and napari is closed, the last used value is exported to settings file. Next time napari is started, that theme is not loaded yet so a warning is emitted and napari reverts back to safe default.

[2021-08-27 23:44] #2965 closed, assigned to goanpeca

[2021-08-27 23:50] sofroniewn commented on #3250
makes sense to me - cc @alisterburt

[2021-08-28 02:52] jni commented on #3231
Oh, @melissawm I'm sorry, I think I might have given the wrong impression: a glossary is a *great* place to start, and I'm very much in favour of an "ImageJ <> napari" guide! I love that Matlab to NumPy document btw and I send users there all the friggin time. The main purpose of my post is to say that I don't want napari to rush to adopt ImageJ conventions, just like I wouldn't want NumPy to star

[2021-08-28 03:38] sofroniewn commented on #2579
Adding a note here for undo to include undo for deleting layers - see request https://forum.image.sc/t/missing-features/41518/6?u=sofroniewn

[2021-08-28 11:24] alisterburt commented on #3250
yep, agreed we should do this! cc @brisvag too

[2021-08-29 04:00] thanushipeiris opened #3272 "outline viewing of labels layer"
## 🚀 Feature
Add a toggleable option for viewing the outlines of objects in the labels layer.
![image](https://user-images.githubusercontent.com/54516770/131237813-d4f7f9b0-ed71-47ab-a460-314165aafa99.png)

## Motivation
See the inside of each object really clearly while still identifying separate objects (using different label colours).

## Pitch
User can press the "visible" icon next to the labe

[2021-08-29 05:54] jni commented on #3272
@thanushipeiris this actually already exists! 😅 Check out the "contour" option of the labels layer controls (see screenshot). I'll warn you though that it can be slow if your images are big.

<img width="1195" alt="Screen Shot 2021-08-29 at 3 53 05 pm" src="https://user-images.githubusercontent.com/492549/131240248-6dee52b1-db35-4e12-ac5a-881cf41119b2.png">

[2021-08-29 05:54] #3272 closed, assigned to nobody

[2021-08-29 13:28] thanushipeiris commented on #3272
woooaaaaah okay I'll add this to the documentation 😆 Thanks for pointing it out!

[2021-08-29 16:45] #3262 closed, assigned to nobody

[2021-08-29 20:14] tathey1 opened #3273 "Bug: Keyboard shortcut for scrolling through dims is buggy (fix `last_used` setter)"
## 🚀 Feature
It would be great if there was a keyboard shortcut to scroll through slices of 3d images rather than having to use the mouse to drag the scroll bar or click the slide arrow.

## Motivation

Occasionally I used napari to place points along structures in 3d space and this process would be much faster if I didn't need to move my mouse between dropping points and scrolling to the next sli

[2021-08-30 00:04] tlambert03 opened #3274 "Every change in theme now emits a warning from napari-console"
## 🐛 Bug
pulling https://github.com/napari/napari/pull/3034#pullrequestreview-721014464 out of #3034

every time you change themes now, you see a warning:
[code]

would be nice to fix that before release.  Yes this is a `napari-console` issue, but we include that by default, so posting this here for more visibility.  cc @sofroniewn, @lukasz-migas

[2021-08-30 00:08] sofroniewn commented on #3274
Yup agreed!

[2021-08-30 00:08] sofroniewn commented on #3274
Not sure if it needs a PR here or to napari console https://github.com/napari/napari-console

[2021-08-30 00:13] sofroniewn commented on #3273
For sure, this request makes a lot of sense. Thanks for making it!

I believe the left and right arrow keys work if you have clicked into the dimension slider to give the slider focus. If you're adding points in the canvas then as soon as you click there focus will go back to the canvas and so you'll lose the ability to have the left and right arrow keys work. One option would be to make the left

[2021-08-30 09:34] kevinyamauchi commented on #3263
Sorry, I think I wasn't super clear about how this manifests in napari. It could be that I am super clumsy, but when I am interacting with a 3D image using my trackpad, I accidentally make the "pinch" gesture fairly often. While we haven't hooked anything up to this gesture in napari, this raises the `AttributeError` described above (I'm not sure if we could do something with our implementation to

[2021-08-30 10:26] jaimergp commented on #3170
I'm looking into this! @ziyangczi Should we sync? Ubuntu 16 doesn't ship a recent enough libssh I think. I am going to try with 18.04 and see if that fixes it. Is there any reason we are stuck with 16.04?

[2021-08-30 12:33] Czaki opened #3278 "Napari viewer does not start"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

1. change theme to light
2. checkout 044beba342ef392f4cbed2e8e3a27f27d4799ccb
3. start napari viewer

## Expected behavior

Viewer should open, not fail on data set.

## Environment

 - Please copy and paste the information at napari info option in help menubar here:

napari: 0.4.11rc3.dev10+g044beba3.d20210830
Platform: Linux-5.

[2021-08-30 12:47] JoOkuma opened #3279 "Include categorical colormaps to TracksLayer"
## 🚀 Feature

Include categorical colormaps to TracksLayer.

## Motivation

Tracks can be colored according to their properties, some of them could be real values (i.e., speed and orientation), which are supported today. However, categorical values (i.e., track's id, node's id) are mapped to the real values for display, leading to some issues as in [this case](https://forum.image.sc/t/napari-track

[2021-08-30 13:05] tlambert03 commented on #3273
The keybindings are actually [still there](https://github.com/napari/napari/blob/c6df8cfb4155d6314796ed4e7c5334646ed75665/napari/components/_viewer_key_bindings.py#L80-L82), and the function is still getting called regardless of dims focus.  so this is a bug.

When a layer is loaded, `self.last_used` is getting touched by too many things (including  `set_range`, `set_current_step`, `set_axis_label

[2021-08-30 13:38] goanpeca commented on #3278
Thanks for the report @Czaki

[2021-08-30 16:54] sofroniewn commented on #3278
We'll check this out now, @lukasz-migas might have ideas on a fix too

[2021-08-30 17:02] liaprins-czi opened #3281 "✨ Dropdown list design"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[Curated but searchable/extensible dropdown menus #2725](https://github.com/napari/napari/issues/2725)
[Heuristics: Dropdown list order #22](https://github.com/napari/product-heuristics-2020/issues/22)

- **Also link to any specific comments or threads where the problem to be solved by design is menti

[2021-08-30 17:11] liu-ziyang commented on #3170
I have also been trying to upgrade it to ubuntu 20 if not 18, the problem is that the build process fails and it looks like there is some graphics issue with connecting to the virtual monitor when doing so.

[2021-08-30 17:23] liaprins-czi commented on #2375
Just checking on the status of this issue:
Has it (the ability to select the text to copy and paste it) been implemented with any subsequent releases?
If not, is it possible to make the text selectable for (copy-paste purposes) or is there some technical reason preventing this or making it less than feasible?
If it's not feasible to make the text selectable, I can work on a design for ability to "

[2021-08-30 17:34] liaprins-czi opened #3282 "✨ Introduction to napari for new users"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[guided napari UI "tour" #2361](https://github.com/napari/napari/issues/2361)

- **In a sentence or two, describe the problem to be solved for users**
It may not be clear to new users what each of the areas of the viewer can do, and when or how to use each. Some sort of tour might help, but this needs

[2021-08-30 17:46] liaprins-czi opened #3283 "✨ Design accessible color schemes for napari console"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[Plugin error colour scheme is hard to read #2257](https://github.com/napari/napari/issues/2257)

- **In a sentence or two, describe the problem to be solved for users**
Particularly the error messages are difficult to read in the napari console, but other text types may also not actually be accessibl

[2021-08-30 18:03] liaprins-czi opened #3284 "✨ Interaction to allow user to toggle layers visibly"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[Viewer toggle mode #2166](https://github.com/napari/napari/issues/2166)
[Double click for layer control #1338](https://github.com/napari/napari/issues/1338)

- **In a sentence or two, describe the problem to be solved for users**
It would be useful to be able to compare image layers visually via a mo

[2021-08-30 18:12] liaprins-czi opened #3286 "✨ Improve cross-hairs cursor design"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[Cursor should be a crosshairs cursor for points 'add' mode #2142](https://github.com/napari/napari/issues/2142)

- **Also link to any specific comments or threads where the problem to be solved by design is mentioned**
[Most recent cross-hair cursor suggestion](https://github.com/napari/napari/issues

[2021-08-30 18:19] liaprins-czi opened #3287 "✨ Brush cursor is too small to notice when zoomed out"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[Cursor should be a crosshairs cursor for points 'add' mode #2142](https://github.com/napari/napari/issues/2142)

- **Also link to any specific comments or threads where the problem to be solved by design is mentioned**
[Comment explaining the current issue with brush cursor](https://github.com/napari

[2021-08-30 18:24] #3263 closed, assigned to nobody

[2021-08-30 18:26] sofroniewn opened #3289 "Add a docs dependency list"
## 🧰 Task

See comment in https://github.com/napari/napari/pull/3265#discussion_r698247029 from @jni

[2021-08-30 18:29] tlambert03 commented on #3284
quick note, that comment from the original post about how this is currently done is true when restricted to mouse clicks, but the `v` (toggle visibility) key will let you do more.  for example: cmd-A (select all) -> v  will hide all layers. ... and v will toggle only the selected layers (so you can swap visibility with all or a subset of layers).  For mouse clicks though, we could add what photosh

[2021-08-30 18:32] liaprins-czi commented on #1934
Related: #2470 and #2337

@kevinyamauchi Is this issue still happening for you? If so, what operating system (your screenshot looks very much if not identical to the issue in #2337 for Linux specifically). If this is still an issue that can't be solved by enginerring, I will cosnider it as a UI bug and work on a more flexible design solution!

[2021-08-30 18:33] liaprins-czi commented on #2337
Related: #2470

[2021-08-30 18:33] liaprins-czi commented on #2337
Related: #1934

@ianhi Is this issue still happening for you? If so, and if this is still an issue that can't be solved by enginerring, I will cosnider it as a UI bug and work on a more flexible design solution!

[2021-08-30 18:34] tlambert03 commented on #3289
hmmm... that could get hairy pretty quickly?  I'm fine with `all` meaning "all" in some sense ... but then I'm not sure we should encourage people to use `all` for our standard install just so that they can run the examples (which, I'll note, don't even ship with napari)?  We need something that means "the bare minimum you need to be able to run the command `napari` and have it work", and I think

[2021-08-30 18:34] sofroniewn commented on #3273
Good digging @tlambert03!

Agreed! Looks to me like this was already broken in `0.4.10` in which case we can wait to fix, but we should do soon

[2021-08-30 18:35] tlambert03 commented on #3289
also: the docs dependencies are at `docs/requirements.txt`

[2021-08-30 18:42] goanpeca commented on #3289
We could have a test to make sure those two files remain in sync :-p

[2021-08-30 18:47] goanpeca commented on #2337
I think this issue is there because are changes in system-wide font resolutions, but we add width constrains to those panels/dock.

[2021-08-30 18:49] tlambert03 commented on #3289
which two files?

[2021-08-30 18:56] liaprins-czi opened #3290 "✨ Overall layout concept for napari"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[WIP: Add a POC for side bars #2607](https://github.com/napari/napari/pull/2607)
[Heuristics: Layer panels layout #18](https://github.com/napari/product-heuristics-2020/issues/18)

- **Also link to any specific comments or threads where the problem to be solved by design is mentioned**
[Nick's comment

[2021-08-30 19:15] liaprins-czi opened #3291 "✨ Allow layer list view to be more flexible"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[More than two layers in the layerlist should be visible without scrolling on small screens #1710](https://github.com/napari/napari/issues/1710)
[Heuristic: Layer panels layout #18](https://github.com/napari/product-heuristics-2020/issues/18)
[Heuristic: Layer controls relationships #19](https://githu

[2021-08-30 19:19] tlambert03 commented on #3291
I think one thing we definitely want to avoid here is "reflow" every time someone selects a different layer.  If the layer controls start having variable height based on the number of widgets in them, then it the layers themselves would "jump around" as you selected different ones.  If the layer controls were below the layers, that might work, but I'm not sure that feels as natural...  thoughts?

[2021-08-30 19:33] ianhi commented on #2337
@liaprins-czi yup I still experience this with `0.4.10`

[2021-08-30 19:48] goanpeca commented on #3289
Requirements and the other file where the [all] requirements are defined? The setup.cfg one?

[2021-08-30 19:58] liaprins-czi commented on #3284
Great, thanks for the heads-up about keybindings @tlambert03 !

[2021-08-30 20:01] tlambert03 commented on #3289
ah, you mean in the future yes?  currently there's no syncing to be checked.  (There's no overlap between `docs/requirements.txt` and `setup.cfg` ... if we put docs requirements in setup.cfg, it'd be ideal to remove docs/requirements.txt instead?)

[2021-08-30 20:02] goanpeca commented on #3289
I guess :)

[2021-08-30 20:06] liaprins-czi commented on #3291
Yeah jumping of top of layer list top would not be ideal. I'm not sure about having the layer controls below the list or not. It's hard to tell if I'm just used to it being how it is now. But one argument for teh controls being below the layers list is that they are dependent upon the layer selected. So it could actually be more intuitive if they controls aer lower, since they are a dependency on

[2021-08-30 20:09] tlambert03 commented on #3291
pretty much everything is possible! :)  the ratio of dock widget heights can be adjusted with [`QtMainWindow.resizeDocks`](https://doc.qt.io/qt-5/qmainwindow.html#resizeDocks)

[2021-08-30 21:21] liaprins-czi opened #3292 "✨ Add ability for user to split / group layers from UI"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[Add split layer/ group layers shortcuts/ button #1543](https://github.com/napari/napari/issues/1543)
[Functions to split/combine multiple layers along an axis #1322](https://github.com/napari/napari/pull/1322)

- **In a sentence or two, describe the problem to be solved for users**
Now that napari ha

[2021-08-30 21:53] #3170 closed, assigned to goanpeca

[2021-08-30 22:21] lukasz-migas commented on #3278
@Czaki that's a great catch! Thanks for spotting it. I've just pushed a fix for this.

[2021-08-30 22:23] sofroniewn commented on #3274
@lukasz-migas any thoughts on what to do about this one?

[2021-08-30 22:24] lukasz-migas commented on #3274
@tlambert03 @sofroniewn Thanks for putting this here. I will push a fix to `napari-console`.

For the time being simple filterwarning will be ok and then in the future we can make it version dependent?

[2021-08-30 22:34] liaprins-czi opened #3294 "✨ Individual label control within a single labels layer"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[Enable per-label visibility control for labels layer #1516](https://github.com/napari/napari/issues/1516)

- **Also link to any specific comments or threads where the problem to be solved by design is mentioned**
[Suggestion from qizhuli](https://github.com/napari/napari/issues/1516#issuecomment-6687

[2021-08-30 22:47] liaprins-czi opened #3295 "✨ Ability to convert image layer to labels layer and vice versa"
### Overview of design need
- Is there an existing GitHub issue this design work pertains to?
[Functionality to convert image layer to labels layer and vice versa #1442](https://github.com/napari/napari/issues/1442)
[Tweet from @adamltyson for context](https://twitter.com/sofroniewn/status/1281652346980757504)
[How to load a tiff segmentation image with unique label as label layer instead of image

[2021-08-30 22:48] sofroniewn commented on #3274
Yeah i think that's fine

[2021-08-30 22:48] liaprins-czi commented on #1442
@sofroniewn Can you explain the contexts from users POV of when they'd need this functionality? I was reading the tweet thread but I'm not seeing where it really describes the main issue.

[2021-08-30 22:53] sofroniewn commented on #1442
Many file formats for saving data don't have a concept of whether data should be an image or labels - i.e. a png or tiff is just a bunch of pixels, possibly with values from 0-255. When we load that data we might think that it is an image, but a user might actually want to interact with it like labels (i.e. add to it using a paintbrush etc), so we should offer a version to convert from image to la

[2021-08-30 22:55] liaprins-czi commented on #1417
Would it make sense or be simpler to have this functionality (essentially zooming the UI, including both fonts and buttons, icons, width of panel, etc) to be a setting in the Preferences pane?

[2021-08-30 22:59] #2953 closed, assigned to DragaDoncila

[2021-08-30 22:59] liaprins-czi commented on #1442
Thanks @sofroniewn ! So is the only time this would be relevant when a user is loading a file? Just curious if there are other times, because it would affect the design options.

[2021-08-31 01:02] #3274 closed, assigned to nobody

[2021-08-31 02:05] tlambert03 commented on #1442
We have this now on the layer context menu, right?

[2021-08-31 02:09] tlambert03 commented on #3292
This was also added in the layer co text menu

[2021-08-31 03:41] jni commented on #2479
Closed by #3275

[2021-08-31 03:41] #2479 closed, assigned to DragaDoncila

[2021-08-31 03:45] jni commented on #1442
We do and it is beautiful! Thanks @tlambert03! 😊 I suggest we close this and create a dedicated design issue if needed. (e.g. might be good to have a "Layers" menu on the menubar?)

[2021-08-31 04:00] sofroniewn commented on #1442
I think that's the most common time, but i could imagine someone wanting to convert back after converting to an image too - i.e. if you can go labels -> image you should also be able to go back

Yes, agreed we can close this. It should have been closed when the functionality was added in #2556, but we missed it. @liaprins-czi has created #3295 to track any additional design work.

Here are screens

[2021-08-31 04:00] #1442 closed, assigned to nobody

[2021-08-31 04:01] sofroniewn commented on #3295
See https://github.com/napari/napari/issues/1442#issuecomment-908878070 for current state

[2021-08-31 09:36] lukasz-migas opened #3298 "Plugin provided theme does not have icons"
## 🐛 Bug

If a plugin provides a napari theme, the theme is not correctly registered and so icons are not generated and cached in the qt resource files correctly. This was an oversight in the #3034 PR where the resource generation theme was connected to the correct method AFTER a theme has been added whereas it should be before.

Note: I already have a fix for this that will be forthcoming.

## To

[2021-08-31 11:07] haesleinhuepf commented on #3231
I'm not advocating for anything. My perspective is just limited to ImageJ, because I work(ed) so much with it. My goal was to just point at a need for discussion. I guess that worked :-)

[2021-08-31 12:06] brisvag opened #3301 "Volume attenuation test failure on updating vendored vispy code"
## 🐛 Bug

As noted in [this comment](https://github.com/napari/napari/pull/3252#discussion_r698532395), updating the code to upstream vispy (a change that looks trivially correct) causes a test failure. I'm not sure how to solve this, and it was keeping up a mostly unrelated PR, so I decided to revert it and open this issue. Check the original comment for some additional context.

## To Reproduce

[2021-08-31 13:11] JoOkuma commented on #2858
I'm using macOS and a different napari version and I can't reproduce the issue.
I need to check if it still happens in Linux with the most recent napari version, otherwise, I will close this issue.

I get your point that `Points` coordinates should be "attached" to an `Image` or `Labels` layer. I will keep this in my mind.

Thanks a lot of @andy-sweet

[2021-08-31 13:52] jaimergp commented on #2386
I don't see this happening anymore:

<img width="227" alt="Screen Shot 2021-08-31 at 3 51 40 PM" src="https://user-images.githubusercontent.com/2559438/131514839-d1b6268c-44fe-4052-869b-4bcbc7e8d440.png">

I think it can be closed.

[2021-08-31 13:58] #2386 closed, assigned to nobody

[2021-08-31 15:59] #3251 closed, assigned to goanpeca

[2021-08-31 16:51] #3298 closed, assigned to nobody

[2021-08-31 16:53] #3278 closed, assigned to nobody

[2021-08-31 17:39] liaprins-czi opened #3303 "✨ napari logo"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[Add logo that includes the Napari name #1319](https://github.com/napari/napari/issues/1319)
[Heuristics: Iconography #16](https://github.com/napari/product-heuristics-2020/issues/16)

- **In a sentence or two, describe the problem to be solved for users**
napari needs an intentionally designed logo.

[2021-08-31 17:52] liaprins-czi commented on #1303
@GenevieveBuckley If you get a chance, (or anyone else) could you provide a screenshot of the current state? Or alternatively how to reproduce to get the view you describe? I am not sure how to view it myself, presumably I'd have to have a plugin which was making an error(s)...? Thanks!

[2021-08-31 18:01] #3250 closed, assigned to nobody

[2021-08-31 18:06] liaprins-czi opened #3304 "✨ Window with list of all installed plugins is too short by default"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[Increase hieght of GUI listing all installed plugins #1302](https://github.com/napari/napari/issues/1302)

- In a sentence or two, describe the problem to be solved for users
Even when only a couple plugins are installed, the window is too short to see them all. Ideally you could see at least 3-4 wit

[2021-08-31 18:20] liaprins-czi commented on #1301
We now have an error message that shows up in the viewer when user tries to open an unsupported filetype:
<img width="1220" alt="Screen Shot 2021-08-31 at 11 15 35 AM" src="https://user-images.githubusercontent.com/53277128/131555028-fbd420f5-33ce-4bfe-822e-dca07c887902.png">

So should this issue be closed?

That's not to say that this workflow cannot be improved, e.g. to eventually suggest plugi

[2021-08-31 18:28] liaprins-czi opened #3306 "✨ Improve experience of trying to open unsupported filetype in napari"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
[If image fails to open we should show a visible error in the viewer #1301](https://github.com/napari/napari/issues/1301)
[Feature: Static plugin "manifest" file #2975](https://github.com/napari/napari/issues/2975)

- **Also link to any specific comments or threads where the problem to be solved by de

[2021-08-31 18:44] liaprins-czi opened #3307 "✨ Allow users to return menubar view from within UI"
### Overview of design need
- **Is there an existing GitHub issue this design work pertains to?**
["Toggle menubar visibility" trap #1252](https://github.com/napari/napari/issues/1252)

- **Also link to any specific comments or threads where the problem to be solved by design is mentioned**
[Juán's comment explaining the reasons this functionality exists](https://github.com/napari/napari/issues/12

[2021-08-31 18:54] tlambert03 commented on #1301
yep, can close, thanks!

[2021-08-31 18:54] #1301 closed, assigned to nobody

[2021-08-31 18:56] tlambert03 commented on #3306
yeah, this is a long term goal... this will require A) a _static_ way for a plugin to declare what it can open (we don't have that yet, but see #2975), and B) a database of manifests (including uninstalled ones) that can be queried... like the hub

[2021-08-31 18:57] liaprins-czi commented on #1049
Is this issue still relevant after the switches @kne42 made when moving to the current (temporary) Sphinx template? If it is then maybe relevant for @melissawm ? Otherwise it can be closed?

[2021-08-31 19:00] tlambert03 commented on #1303
yeah, basically, someone just needs to update line 82 here

https://github.com/napari/napari/blob/f1b3be15b33ddd141575d56dd315f5f5676c1d94/napari/_qt/dialogs/qt_plugin_report.py#L77-L82

[2021-08-31 19:08] liaprins-czi commented on #1303
@tlambert03 do you mean do that to fix the main issue @GenevieveBuckley described about defaulting to the plugin?

In reference to:

It'd still be helpful for me to see a screenshot (or know how to create for myself) the view, to help out from design perspective. Thanks!

[2021-08-31 19:12] tlambert03 commented on #1303
open `Plugin > Plugin Errors` and you'll see this:

<img width="222" alt="Untitled" src="https://user-images.githubusercontent.com/1609449/131561785-24a3360f-06fb-486a-91a8-3b69d2449b8d.png">

The point is that if there are plugins available to select, the first one isn't auto-selected (it still says "select plugin" either way).

[2021-08-31 19:22] liaprins-czi commented on #991
I am just checking in about this issue, to see if anything has changed since it was created, and if we'd want to consider updating anything in the UI to accommodate a solution ... or is there an io plugin that canhelp, or @rbavery are you content with your afformentioned plan to make a "habit of saving my .tifs in image-channel-first order for when I want to load them in napari"?

If we do want to

[2021-08-31 19:51] liaprins-czi commented on #702
Related: [Layer controls relationships #19](https://github.com/napari/product-heuristics-2020/issues/19)

[2021-08-31 21:21] goanpeca commented on #1302
That entry is no longer there

<img width="209" alt="Screen Shot 2021-08-31 at 4 21 25 PM" src="https://user-images.githubusercontent.com/3627835/131577470-70e4881f-ef43-43cd-ac6a-1c1fd8f46d9c.png">

Does this issue still apply @liaprins-czi ?

[2021-08-31 21:25] isabela-pf commented on #3070
Hi @goanpeca! I'm planning to work on the visuals for this.

To clarify, are you talking about closing this plugins dialog while installing a plugin?
<img width="1192" alt="Screen Shot 2021-08-31 at 2 09 31 PM" src="https://user-images.githubusercontent.com/50221806/131576380-a1f84093-a8af-40f1-8e63-b6f50d155768.png">

Since I'm new here, all of these sound like reasonable options. I haven't found

[2021-08-31 21:34] tlambert03 commented on #1302
This referred to the original plugin table that is now long gone

[2021-08-31 21:34] #1302 closed, assigned to nobody

[2021-08-31 21:37] tlambert03 commented on #1302
it looked like this:
<img width="1392" alt="Untitled" src="https://user-images.githubusercontent.com/1609449/131579075-b24024e9-f17c-46e8-adbc-2839ce39ba12.png">

[2021-08-31 21:37] tlambert03 commented on #3304
this can be closed... that window doesn't exist anymore

[2021-08-31 21:55] sofroniewn commented on #3070
@jni do you have any preferences here? also might be good for @jni and @isabela-pf to meet :-)

[2021-08-31 21:56] #3304 closed, assigned to liaprins-czi

[2021-08-31 22:02] goanpeca commented on #3070
Hi @isabela-pf :)

So a bit of context:

### The present

When Plugin dialog  is opened you can now install and uninstall several things, but if you hit the close button, or the `x` on the dialog title bar it will just stop the process with no warning.

### Options

1.) We can add a popup so that if a user tries to close the dialog while stuff is going on (install, update, uninstall) it will warn

[2021-09-01 02:33] #2375 closed, assigned to goanpeca

[2021-09-01 04:43] sofroniewn opened #3312 "Docs build dependency issue"
## 🐛 Bug
We're still getting a docs build issue, looks like installation one https://github.com/napari/napari/runs/3480174854

[code]

Maybe @tlambert03 @jaimergp or @kne42 can take a look. Thanks!! I think if we fix this then all should be good!!

[2021-09-01 05:10] sofroniewn commented on #3159
@Peter-Hogg the napari `0.4.11rc3` release candidate is now available for testing - it can be installed with `pip install --pre napari -U`. If you can test this on your system and still see the warning do let us know! Hopefully this is all fixed now though!!

[2021-09-01 06:27] psobolewskiPhD commented on #3159
I'm not 100% sure this is the same bug, but in 4.11rc I still get divide by zero warnings.
For example, making a shapes layer:
[code]
Everything functions, but the lil pop does show up in Napari.
I used to get errors when opening images, that's solved.

Napari Info:
<details>
napari: 0.4.11rc3
Platform: macOS-11.5.2-arm64-arm-64bit
System: MacOS 11.5.2
Python: 3.9.6 | packaged by conda-forge | (de

[2021-09-01 06:47] DragaDoncila commented on #3159
Hi @psobolewskiPhD thanks for following up on this.

Is this when you make a brand new empty layer? Is it from existing data? If so what type of data, what shape is it?

I've seen this when opening single columns or single rows of pixels, but I don't remember having ever seen it for `Shapes`. A minimal example would be awesome.

[2021-09-01 06:55] psobolewskiPhD commented on #3159
In 4.11rc3:
Brand new, just clicking the Shapes layer icon to open it.
1. File > Open Sample > skimage > Astronaut (or StarDist 2D)
2. Click shapes layer icon in the layer list to make a shapes layer.

The warning actually fires twice:
[code]

In 4.10:
Opening the sample gives a warning:
[code]
(so this no longer happens in 4.11rc3)
and then clicking Shapes layer gives the same double warning as a

[2021-09-01 08:29] Czaki commented on #3124
Partially fixed.

[2021-09-01 08:30] kevinyamauchi commented on #1934
Hello @liaprins-czi ! I am sorry, I forgot to close this when we merged https://github.com/napari/napari/pull/3046. This issue is fixed when I test on my computer.

<img width="1059" alt="Screenshot 2021-09-01 at 10 28 45" src="https://user-images.githubusercontent.com/1120672/131638794-ed2be8b7-c790-4789-9993-19456b59eab8.png">

[code]

[2021-09-01 08:31] kevinyamauchi commented on #1934
I will close this issue for now. Please feel free to re-open if we haven't fixed it on your system.

[2021-09-01 08:31] #1934 closed, assigned to nobody

[2021-09-01 08:51] Czaki opened #3313 "Separate canvas backgound color from theme"
## 🚀 Feature

Store canvas color outside theme and set back as default one.

## Motivation

Previewing confocal data on white background looks strange to me.

![Zrzut ekranu z 2021-09-01 10-45-02](https://user-images.githubusercontent.com/3826210/131641075-0f36a99a-095b-4842-a762-1fd28c266030.png)

Also, when change blending to additive the image disappears

https://user-images.githubusercontent.c

[2021-09-01 09:08] psobolewskiPhD commented on #3313
Should default canvas color be connected to the theme or the colormap or both?
I use the light theme during the day (along with my OS) and use exclusively inverted colormaps, so the white canvas is fine—maybe a touch bright, but not an issue.
I wouldn't want a black canvas for sure...
Edit: I need to fine where the theme setting is stored to see if I can have it switch automagically to match OS...

[2021-09-01 09:29] brisvag opened #3314 "Console freezes napari when `SyntaxError` due to `.` in unexpected places"
## 🐛 Bug

A misplaced `.` that would normally just cause a `SyntaxError`, in the console it causes napari to freeze completely. Below the stack trace. Note that this does not happen with all SyntaxErrors, just when a `.` causes it (as far as I can tell), and sometimes it takes a couple errors before it freezes.

After some time (~1 min?), napari will unfreeze, only to freeze again at the next comm

[2021-09-01 09:52] Czaki commented on #3313
The theme is stored here:
https://github.com/napari/napari/blob/511db6e4fb16a6188754ae4ba94a17d2ecaab0da/napari/settings/_appearance.py#L9-L15

I would like to add `canvas_background` to these settings to allow users to configure this independently to settings depends on the user preference.

[2021-09-01 15:18] Peter-Hogg commented on #3159
I'll try to test it on Friday! Thanks Nicholas and everyone

[2021-09-01 16:03] goanpeca commented on #3314
Any ideas on this one @Carreau 🤔 ?

[2021-09-01 16:43] #3312 closed, assigned to nobody

[2021-09-01 16:53] sofroniewn commented on #3159
I cannot reproduce this, really not sure what's going on here.

[2021-09-01 17:35] Carreau commented on #3314
Would you mind checking your version of ipykernel ? That seem to me like an issue with the 5.x series that has been fixed in the 6.x series.

[2021-09-01 17:41] Carreau commented on #3314
(you may need to try to update jupyter_client as well)

[2021-09-01 17:52] Carreau commented on #3313
I believe that make sens, many programs like photoshop let you change the bg color independently and always have the "50% gray" and the "tiled gray that means transparent" thingy which Iooks like this:
<img width="379" alt="Screen Shot 2021-09-01 at 10 50 42 AM" src="https://user-images.githubusercontent.com/335567/131719537-afe94cc7-d0d6-47d6-8739-78ddf645d05a.png">
(does it have a name?)

Maybe

[2021-09-01 17:58] tlambert03 commented on #3313
don't forget we have https://github.com/napari/napari/pull/2270
... that could be exposed via preferences

[2021-09-01 19:26] liaprins-czi commented on #3313
I like the checkerboard background in Photoshop for dealing with (partially) transparent images, but note that it only applies to the background of the image itself, not the background of the surrounding canvas:

Example with light red + white checkerboard:
![Screen Shot 2021-09-01 at 12 17 32 PM](https://user-images.githubusercontent.com/53277128/131730839-27327129-7c30-45a9-80ce-858acfbee806.png

[2021-09-01 19:29] liaprins-czi commented on #3313
Also you can change the size of the tiles of the checkerboard in Ps, but only within three pre-defined sizes

[2021-09-01 19:29] Czaki commented on #3313
@tlambert03  And I use it from PartSeg. But still has other scenarios where I would like to have a possibility to control it from GUI instead of code.

[2021-09-01 19:31] liaprins-czi commented on #3313
Lastly, in Ps Preferences, the canvas color does change _with_ the theme:
![Screen Shot 2021-09-01 at 12 29 42 PM](https://user-images.githubusercontent.com/53277128/131732326-03c3185f-fbe0-45b7-8487-6e79f4968bbf.png)
![Screen Shot 2021-09-01 at 12 29 37 PM](https://user-images.githubusercontent.com/53277128/131732338-644187d5-eb0c-4f8f-865c-f765c9e790c6.png)
![Screen Shot 2021-09-01 at 12 29 32 P

[2021-09-01 19:37] Czaki opened #3316 "Unnamed dock widget shows in plugin list as empty entry, but named is not present,"
## 🐛 Bug

![Zrzut ekranu z 2021-09-01 09-24-55](https://user-images.githubusercontent.com/3826210/131732523-9e8bd53a-a18f-41bb-95bd-05641030e2ef.png)

## To Reproduce

Steps to reproduce the behavior:

[code]

The plugins menu will show an empty entry which will control `label1` visibility.

## Expected behavior

Not showing controls for docked with `add_dock_widget` widget or show it for named on

[2021-09-01 19:41] Czaki commented on #3313
So maybe a bottom visible layer should never be treated as additive even if this option is set?

[2021-09-01 19:56] tlambert03 commented on #3316
looks like this has always been the case (it just used to be a blank entry in the "Window" menu rather than the "plugins" menu).  I think we could/should provide nicer magic/default labeling there if `name` is not provided ... But the real bug now is that a dock widget added by an end user using `add_dock_widget` may actually end up in the `Plugins` menu (which should be strictly preserved for `ad

[2021-09-01 20:01] tlambert03 commented on #3316
cc @ppwadhwa ... could you have a look at this?  We don't want anything but dock widgets provided by plugins to get into the `Plugins` menu.  If an end-user uses `window.add_dock_widget(some_widget)` ... they shouldn't look in the plugins menu for it, it should always be the windows menu.  whereas `window.add_dock_widget(plugin_name)` is the programatic way to open up a plugin-provided dock widget

[2021-09-01 20:27] brisvag commented on #3314
Just tried on a different computer, same issue arises. Here, I have this:
[code]
updating to `jupyter-client 7` did not help. Can anyone reproduce this?

[2021-09-01 20:42] Carreau commented on #3314
ok, let me test with this specific combinaison.

[2021-09-01 20:46] Carreau commented on #3314
ha ! it seem to be random, so it might be a race condition.

[2021-09-01 20:48] grlee77 opened #3317 "unexpected chaining of `affine` and `scale` parameters in Viewer.add_image"
## 🐛 Bug

When calling the `add_image` method of a Viewer, if both the `affine` as well as `scale`,`translation` and/or `shear` are specified the effects seem to be additive. This disagrees with the description in the `add_image` docstring:

https://github.com/napari/napari/blob/8f1126c82bfbabd6cafd9739fa8c747ddff79583/napari/components/viewer_model.py#L652-L653

(the description in the `_ImageBas

[2021-09-01 21:23] grlee77 commented on #3159
@DragaDoncila said:

Should we open a separate issue for this singleton case as it seems a different problem than the original issue here? I noticed the singleton issue when playing with 3D data that is size 1 along the slice axis. Upon opening the file I get:
[code]
The underlying issue here is that size is 0 along one axis (`Viewer._sliced_extent_world` is size 0 on the last axis).

And if I tra

[2021-09-01 21:36] Carreau commented on #3314
Ha, I think it's a thread thing. I'm trying to dump the state of the warning filters when reaching this place after setting it to "ignore" all warnings, and it often has a different set of filters. Something else is likely marking warnings as error and it is not restored. The docs mention that catch_warning in multiple thread is undefined.

I'll see if I can come up with a better workaround, but i

[2021-09-01 21:50] grlee77 opened #3318 "Divide by zero warnings when working with data that is size 1 along an axis"
## 🐛 Bug

Moving my text from https://github.com/napari/napari/issues/3159#issuecomment-910773616 into a new issue.

When playing with 3D data that is size 1 along the slice axis, I get a couple different "divide by zero" warnings. Despite these warnings, the data does load and I am able to interact with it as expected.

[code]

The underlying issue here is that size is 0 along one axis (`Viewer.l

[2021-09-01 21:51] grlee77 commented on #3318
Example data files that are single slice 3D are here: https://github.com/grlee77/parrec_oblique/tree/master/NIFTI. This format can be opened with either `napari-nibabel` or `napari-itk-io` plugins.

[2021-09-01 21:55] grlee77 commented on #3318
If I comment out the following line it resolves the errors:
https://github.com/napari/napari/blob/8f1126c82bfbabd6cafd9739fa8c747ddff79583/napari/layers/image/image.py#L405

However, that creates a worse problem where the sliders have an extent that is one larger than desired and pulling the slider past the image extent will cause an IndexError. So, I have to look a bit more to see whether:

1.) k

[2021-09-01 22:04] grlee77 commented on #3318
I would argue that the extent of the display canvas should not have 1 subtracted from the shape if we are treating each point as a square pixel in the display.

As a specific example, in 1D illustration, 5 points has extent 4:
[code]
but 5 pixels has extent five since each pixel has a width of 1 pixel spacing.
[code]

This type of thing came up a lot in the past for scikit-image and scipy.ndimage

[2021-09-01 22:06] sofroniewn commented on #3318
Thanks for making a new issue, we should avoid having any of the scale values be 0.

As for the -1 / +1 stuff this could be bug/ artifact/ remnant of previous days before we had standardized more of our transforms. If you think we're getting this wrong here you're probably right!

I recall @kevinyamauchi once flagging some funny behaviour here too. Maybe @jni, @DragaDoncila or @andy-sweet want to

[2021-09-01 22:08] sofroniewn commented on #3317
Ah I think @andy-sweet recently changed this behaviour to chain, but we might have missed a couple doc strings - can you @grlee77 update all doc strings and then maybe @andy-sweet can review. thanks!

[2021-09-01 22:09] sofroniewn commented on #3314
i just tried and could not reproduce, but sounds like it is non-deterministic

[2021-09-01 22:11] sofroniewn commented on #3316
Ok yup, we should probably change. I think @ppwadhwa is out for the rest of this week. @goanpeca any chance you could pick this up if we want to fix before the release?

[2021-09-01 22:20] Carreau commented on #3314
Yeah, sometime I need to send a syntax error a dozen time before it triggers it, and as soon as I add debugs statements it can become less frequent.

[2021-09-01 22:22] goanpeca commented on #3316
I cam take a look

[2021-09-01 22:25] Carreau commented on #3313
Oh ! Good point thanks for clarifying.

Ah thanks for pointing it out.

[2021-09-01 22:26] andy-sweet commented on #3317
Yep, sorry, I must have updated the docstring in `base.py`, but not the duplicates in `image.py` or `viewer_model.py`.

[2021-09-02 03:06] nclack commented on #3318
I made an attempt to fix the divide by zeros. I tried to search around the code for other examples, but the ones I found seemed to ensure the divisor was non-zero in other ways.

I tried looking into the off-by-one in the extent, but didn't get anywhere. I agree with @grlee77's suggestion re extents, but I couldn't find exactly where the zero extent was popping up.

[2021-09-02 04:49] #3318 closed, assigned to nclack

[2021-09-02 04:50] #3317 closed, assigned to nobody

[2021-09-02 13:08] kevinyamauchi opened #3321 "Contrast limits ValueError"
## 🐛 Bug

When I adjust the contrast limits on an image layer via the sliders, I receive a `ValueError`

[code]

## To Reproduce

1. Open napari (0.4.11.rc3)
2. load grayscale image
3. adjust contrast limits from the GUI

## Expected behavior

The clims should be adjusted

## Environment

napari: 0.4.11rc3
Platform: macOS-10.15.7-x86_64-i386-64bit
System: MacOS 10.15.7
Python: 3.8.11 (default, Aug

[2021-09-02 13:13] kevinyamauchi commented on #3321
https://user-images.githubusercontent.com/1120672/131849800-f7bd8868-9fd4-4cd3-a3e7-b3634bc61e38.mov

[2021-09-02 13:14] jni opened #3322 "Launching two viewers broken"
## 🐛 Bug

Unfortunately I think this is a blocking regression for 0.4.11. The following script crashes on master without any error message:

[code]

I traced the regression to #3034 07f35e652ca136de318eeac5d16717333fdbf432 with git-bisect. Unfortunately I don't have any ideas about how to fix it.

[code]

[2021-09-02 15:54] tlambert03 commented on #3316
this method takes a widget and creates a docked widget for the user.  Users are not expected to create QDockWidgets.  it currently does fail if it's not a widget since `QtViewerDockWidget(..., widget)` will raise an exception if it's not compatible.

no?  this is the `add_widget`.  I think saying `window.add_widget` is fine if you want to change it (but that's an API break)(, `add_dock_widget` was

[2021-09-02 15:57] goanpeca commented on #3316
@tlambert03 I am confused with

That methods always requires a widget, so how doe sthat work?

[2021-09-02 15:58] tlambert03 commented on #3316
i'm not sure what you're asking... can you look at the source code (perhaps before #3190 if necessary) and see if you're still confused about the intention?

[2021-09-02 15:59] tlambert03 commented on #3316
oh crap sorr ... that was a typo.  I used the same function name twice:

`window.add_dock_widget(some_widget: QWidget)` -> add a user-created widget to the window, put it in the `Window` menu

`window.add_plugin_dock_widget(plugin_name: str)` -> request that an already registered plugin widget be created and added to the window.

[2021-09-02 16:00] goanpeca commented on #3316
Ahhhh ok, :-p

[2021-09-02 17:53] #3316 closed, assigned to nobody

[2021-09-02 18:06] sofroniewn commented on #3322
I'm surprised this wasn't caught by any of our tests! I guess we don't have multi-viewer tests?

I'd like us to give fixing this a try @Carreau @goanpeca any chance you could give this one a look? Thanks!!

[2021-09-02 18:08] #3321 closed, assigned to nobody

[2021-09-02 18:14] sofroniewn commented on #3316
This got closed by #3326, I can reopen for / make a new issue for the following or just leave it as is if PR is coming soon :-)

[2021-09-02 18:17] tlambert03 commented on #3261
hi @meg-bit ... just checking in.  did you get this figured out?

[2021-09-02 18:24] meg-bit commented on #3261
Sorry, I switched to working on something else since this did not work and have not tried to reinstall it. I will close the issue after I try and if it works. Thanks for following up.

[2021-09-02 18:26] sofroniewn commented on #3322
I tried both
[code]

and i still just get an exit with no error message which isn't great! I'd hope those would keep working regardless of bug ... I'll keep looking

[2021-09-02 18:34] sofroniewn commented on #3322
maybe @nclack wants to dive into this one! just getting a stack trace/ error message would be a big help. it could be a trivial fix, it could be really tricky - no way to know right now. @lukasz-migas might also want to give it a try if he has time

[2021-09-02 18:40] tlambert03 commented on #3322
it's failing because it thinks that ipython has the event loop in the call to `run()`... so it bails (and there's no error because that's not technically an error 🤪)

haven't figured out why yet... but it might have to do with updates to napari-console

_edit_: (it doesn't... same with console-0.0.3)

[2021-09-02 18:43] tlambert03 commented on #3322
note, this is actually related to #2925 and #3033... (not sure what happened in #3034 to aggravate it)

[2021-09-02 18:56] tlambert03 commented on #3322
lets try: #3328

[2021-09-02 19:58] #2925 closed, assigned to nobody

[2021-09-02 19:58] #3033 closed, assigned to nobody

[2021-09-02 19:58] #3322 closed, assigned to nobody

[2021-09-02 21:36] andy-sweet commented on #2858
Just to clarify, I don't think that a `Points` layer should always be attached to another layer (like `Image`, `Label`, and maybe `Surface`), but my guess is that it often will be. Also note that adding a `Points` layer after adding an `Image` layer causes the `Points` layer to inherit the same `scale` as the `Image` layer - that's also something worth knowing.

[2021-09-02 22:14] sofroniewn commented on #2898
This has now been closed by #2991, thanks all!

[2021-09-02 22:14] #2898 closed, assigned to jaimergp

[2021-09-02 22:29] sofroniewn commented on #630
Note for anyone coming to this issue, I think the only thing to do here is better document our events - #2750 could help here too

[2021-09-02 22:31] sofroniewn commented on #1491
Closing now as was a discussion at the time, but @andy-sweet might want to read through this just to keep in mind as you go forward with properties stuff. If anything important we can open dedicated issues for pieces, thanks!!

[2021-09-02 22:31] #1491 closed, assigned to nobody

[2021-09-02 22:32] sofroniewn commented on #2841
@nclack could be a good one for you to look into

[2021-09-02 22:33] sofroniewn commented on #2110
Just noting @tlambert03 thinks this will be fixed by #3184 when that is merged

[2021-09-02 22:35] sofroniewn commented on #2027
Maybe we should revisit this after #3217 and see the current behavior. Things should be improved now, but might not be totally fixed yet

[2021-09-02 22:37] sofroniewn commented on #1833
I think this is no longer an issue as add_points now just calls to Points, but maybe @brisvag or @andy-sweet could take a look/ give this a thought before we close. Thanks!!

[2021-09-02 22:40] sofroniewn commented on #2682
@Czaki is this still an issue or has this been fixed?

[2021-09-02 22:42] sofroniewn commented on #2670
This should be closed by #3184

[2021-09-02 22:44] sofroniewn commented on #2737
@melissawm curious if you know of any good tools here as well?

[2021-09-02 22:45] Czaki commented on #2682
I have another error but in PartSeg. (similar to this with reference to a deleted object). This could be closed.

[2021-09-02 22:48] sofroniewn commented on #3159
This should now hopefully be fixed by #3320 which is out in `0.4.11rc4`

[2021-09-03 02:41] #2682 closed, assigned to nobody

[2021-09-03 07:03] brisvag commented on #1833
No, this problem still exist. It's not about the inconsistency between `Points` and `add_points`, but the one between these two when passed a `text` argument and `Points.text = something`!

[2021-09-03 15:03] cakeinspace opened #3334 "Using vispy Mesh in napari viewer"
In vispy we can display the mesh and the wireframe associated with it. Is this functionality in napari as well. So far I only found a mesh display in the form of a view_surface function. Alternatviely can we display the wireframe of a mesh in napari or use vispy classes for display in the napari viewer.

[2021-09-03 15:50] grlee77 commented on #2737
Several of these in the developer guide were fixed recently in #3296.

Hmmmm, I ended up just putting things back on a single line, but think I typically left the space there. Hopefully no future automatic formatting will go back and break these again!

[2021-09-03 16:51] jaimergp commented on #3223
Hm, that's interesting, we only changed the behavior there for Bundled MacOS:

https://github.com/napari/napari/blob/35d196f66cebb4455b4162685e0ad4519b6bb36d/napari/_qt/dialogs/qt_plugin_dialog.py#L109-L117

Can you open the IPython console and report the output of these commands?

[code]

Thanks!

I'll try get a Windows VM running and see if I can reproduce in the meantime.

[2021-09-03 18:34] jaimergp commented on #3223
Hm, I can install plugins in a fresh VM with a fresh Mambaforge using current `master`:

<img width="1055" alt="Screen Shot 2021-09-03 at 8 33 27 PM" src="https://user-images.githubusercontent.com/2559438/132051519-e0bf22ba-b6f8-43ed-9e50-95cd436dcbd6.png">

[code]

[2021-09-03 19:24] kevinyamauchi opened #3335 "pip install 'napari[all]' doesn't work on Windows 10 in some cases"
## 🐛 Bug

@alisterburt and I were just running a workshop and some students on Windows 10 ran into some issues with the installation. They received an error when using `pip install 'napari[all]'`, but `pip install napari[all]` (i.e., no quotes) worked I believe they were using mini forge or Anaconda, but I forgot to clarify. We may want to consider updating the readme instructions to have a specia

[2021-09-03 22:54] isabela-pf commented on #3070
Thanks everyone for the insight! I don’t know how difficult it may be to make some of these things happen, so I’ve provided a few options. Here’s my thoughts so far:

## Option 1

My ideal is to not have closing the dialog stop all installations.

I’d also like to see more clearly which plugins are being installed or queued for install, so I added them to the `Installed Plugin` section with a labe

[2021-09-04 02:52] borchardt opened #3336 "translation vector is not scaled when ndisplay changes"
## 🐛 Bug
When using both the `scale` and the `translate` parameters, toggling `ndisplay` from 3 to 2 appears to revert the scaling along the first dimension of any image layer in the viewer. `translate` values for points layers in the viewer are not rescaled in the same way. This means that points which were centered on particular voxels in the 3D view will no longer be centered on those same voxe

[2021-09-04 05:21] haesleinhuepf commented on #3223
Hi @jaimergp , thanks for taking care of this issue.
Can you show me how to make a bundle from master or shall I try bundled 0.4.11?

[2021-09-04 10:33] tlambert03 commented on #3223
pip install .[bundle_build]
python bundle.py

[2021-09-04 11:04] hanjinliu opened #3337 "Removing a layer and immediately adding new one raises AttributeError"
## 🐛 Bug

When I tried to remove a old layer and add a new one in a same code block or in a function, it stopped due to AttributeError. Same code worked with `napari==0.4.10`.

## To Reproduce

Steps to reproduce the behavior:

1. Open a viewer and add a layer
[code]

2. Remove the old layer and add a new one in the same code block
[code]

<details><summary>full traceback</summary><div>

[code]

<

[2021-09-04 11:43] brisvag commented on #3337
Can reproduce. Strangely, this does not happen if one separates the calls in different ipython cells:
[code]

PS: adding a sleep in between changes nothing.

[2021-09-04 12:10] tlambert03 commented on #3337
even stranger, I can't get it to happen, regardless of whether I break the cells up or not in ipython, or run in a script directly.  @brisvag ... are you also on windows by chance?

the stack trace is pretty clear nonetheless

[2021-09-04 12:36] brisvag commented on #3337
Nope, linux here, on python3.9.6.

[2021-09-04 13:32] psobolewskiPhD commented on #3337
I get the same error on Mac OS Big Sur, running in VS Code Interactive Window (Python)
BUT, it works? The "old" layer is removed and "new" replaces it:
<img width="1202" alt="image" src="https://user-images.githubusercontent.com/76622105/132096059-0e4c9102-8a3f-44e7-a6ad-746c0d50a055.png">
Edit: NO, it does not work, see: https://github.com/napari/napari/issues/3337#issuecomment-912989446
Going li

[2021-09-04 13:35] tlambert03 commented on #3337
the broader context here is that we probably need to get rid of the `bind_button` concept on the action_manager and come up with a better way to encapsulate the connection between a particular button in the viewer and some action resulting from pressing it (without passing around a literal pointer to the button, that may get destroyed).

see also #2914 #2977 #3227

[2021-09-04 13:42] brisvag commented on #3337
(yes, it works for me as well, it's a non-blocking error)

[2021-09-04 13:59] hanjinliu commented on #3337
No it's not. The new layer looks OK, but when I select it, the layer control does not respond (no widget appears) and KeyError is sent out from the layer list. It seems like the new layer is not completely added to the layer list.

[2021-09-04 15:10] psobolewskiPhD commented on #3337
Shit, you're right! Same here, the new layer is busted!
Sorry for not checking more carefully!
Full traceback:
<details>

[code]

</details>

[2021-09-04 17:03] haesleinhuepf commented on #3223
Hi Talley @tlambert03 ,

thanks for jumping in. I just tried in a freshly created conda environment:
[code]

The first three run through fine, the fourth command gives an error:
[code]

[2021-09-04 17:06] haesleinhuepf commented on #3223
Hi Jaime @jaimergp,

I entered these commands in my napari-bundle app (0.4.10) and that's the output:
[code]
Let me know if I can help tracing down the bug further...

[2021-09-04 18:38] tlambert03 commented on #3223
ah right, windows requires having the WiX toolset installed: https://wixtoolset.org/releases/
(got it working at one point when setting this whole thing up, but haven't done it in a while... I believe you just need to install it and that it sets its own env var?).
Wix comes by default on the [github actions `windows-latest` env](https://github.com/actions/virtual-environments/blob/main/images/win/

[2021-09-05 01:00] tlambert03 opened #3338 "`napari.Viewer()` breaks "stock" python REPL"
## 🐛 Bug

Turns out that running `napari.Viewer()` from the vanilla python REPL doesn't work so well!  It enters a quasi-IPython state...

Obviously no one uses it like this much, but for debugging (particularly debugging stray object references) it's nice to be able to use the plain REPL sometimes.  So probably worth fixing.

## To Reproduce

[code]

unfortunately, using `exit` or `exit()` don't

[2021-09-05 07:33] psobolewskiPhD commented on #3338
I was having this happen in 4.10, but only when I activated the Napari console (or it was active in the last Viewer). See https://napari.zulipchat.com/#narrow/stream/212875-general/topic/Measuring.20shapes.20via.20keybind/near/246470750

This was *so annoying*—especially due to inability to exit without using `kill`—that it led me to switch my workflow from running code in the VS Code integrated t

[2021-09-05 11:13] haesleinhuepf opened #3339 "Windows SmartScreen warns during app installation"
## 🐛 Bug

Hi all,

I just installed the napari bundled app 0.4.11. At the beginning of the installation, this warning shows up:
![image](https://user-images.githubusercontent.com/12660498/132124532-283a1162-665f-45c2-894d-5271817a561a.png)

The German error message basically says that the author of the program cannot be verified,

## To Reproduce

Steps to reproduce the behavior:

1. Download the

[2021-09-05 11:54] psobolewskiPhD commented on #3338
BTW, is this new? I opened the Napari console, after launching napari from my VS Code Interactive Window:
[code]
It knows variables I set in VS Code??!
[code]
Seems the console may actually be quite useful, now that I'm not affected by this bug!
🤣

[2021-09-05 12:01] haesleinhuepf opened #3340 "Cancel button in plugin installer"
## 🚀 Feature
Hi all,

I sometimes try to install plugins and it takes forever. Furthermore, one can actually predict that it will fail eventually. Would it be possible to build in a 'Cancel' button in the installer Window?

![image](https://user-images.githubusercontent.com/12660498/132125997-56ffdeeb-39a3-4a51-abef-58ad52c96d0a.png)

## Motivation

## Pitch

## Alternatives

## Additional context

[2021-09-05 12:05] tlambert03 commented on #3340
duplicate of https://github.com/napari/napari/issues/3070

[2021-09-05 12:05] #3340 closed, assigned to nobody

[2021-09-05 12:09] tlambert03 commented on #3339
yep, this is a known issue.  We've got the same thing on mac.  (see  the [installation guide](https://napari.org/tutorials/fundamentals/installation#installing-as-a-bundled-app) where we alert people to the warning for the mac install).  In this case "signing properly" takes money, and someone to buy napari an official developer certificate.

We're well aware of this, so I'm going to close this is

[2021-09-05 12:09] #3339 closed, assigned to nobody

[2021-09-05 12:13] haesleinhuepf commented on #3339
Ok, cool. Can you point me to one?

Thanks

[2021-09-05 12:42] psobolewskiPhD commented on #3226
I'm going to add another element here:
The mouse target for selecting and moving lines is quite small.
As far as I can tell it includes the `edge width`, but with large (lots of pixels) images, zoomed out, at default `edge width` values, it's **really hard** to actually click the line.
To select, one can cheat by drawing a box around it with the select tool, but even then moving it is impossible w

[2021-09-05 12:46] tlambert03 commented on #3339
it came up in napari/napari#496, napari/napari#1289, napari/napari#1074...
I created a dedicated task instead of a bug so that it's clear this requires someone to pay money. https://github.com/napari/packaging/issues/25

[2021-09-05 19:17] haesleinhuepf commented on #3339
Thanks! 🙂

[2021-09-06 08:48] jaimergp commented on #3223
Oh, I didn't create the bundle for this test, I just ran it off directly after installing with `napari`.

The steps were roughly:

1. Set up Windows VM from Microsoft Edge's demo
2. Install Mambaforge
3. Create a napari environment with `python` and `pip`
4. Install napari plus all its dependencies with pip in that new environment
5. Run `napari`

I'll try creating a bundle now and report back.

Y

[2021-09-06 09:09] npielawski opened #3342 "No plugin found capable of reading '/path/to/Shapes.svg'"
## 🐛 Bug

I am a beginner so perhaps the solution is obvious, but it seems that when saving a shapes layer, the default extension is svg (maybe there are other suitable formats?) and it is not possible to load the said svg later on.

## To Reproduce

Steps to reproduce the behavior:

1. Create some shapes
2. Save the shapes as an svg file
3. Load the svg file

The error is:
`ValueError: No plugin

[2021-09-06 09:26] haesleinhuepf commented on #3223
Thanks for dividing into this @jaimergp ! I also just tested it yesterday with napari bundle 0.4.11. It's not so easily reproducible. I think the error typically happens, when I use napari for a while and then decide to install something (without restarting in advance)... Will report again if it happens next time.

[2021-09-06 09:48] jni opened #3343 "Alpha doesn't work with depth setting in isosurface rendering"
## 🐛 Bug

As @kevinyamauchi knows, I absolutely love his work in #3181. However, it has also ruined my workflow. :joy:

Specifically, the way it currently works, *nothing* behind an object is currently rendered, *even if that object is transparent*. Here is code to reproduce the example:

[code]

This results in the following display now, even on low opacity for the labels layer:

![pts0](https://

[2021-09-06 09:49] jaimergp commented on #3223
I see! I was trying to force different configurations here to obtain a reproducible example, but couldn't get one. The main issue here is IO permissions. It's weird that you get access denied to your Windows temporary directory, specially when your TMP env var is set to your own userspace:

[code]

So that makes me think it's a problem with the wrong kind of env var set up before you ran the bundl

[2021-09-06 09:51] jaimergp commented on #2964
@tlambert03 I can't reproduce this with the latest builds. Do you think we can close it?

[2021-09-06 10:23] perlman opened #3344 "the "order" layer-creation parameter is not parsed as expected"
## 🐛 Bug

`napari.view_image` does not parse the `order` parameter how I expecte.  `order=(2,1,0)` will return a viewer where `viewer.dims.order` is `(0,2,1)`.

Using an array of shape `(100,100,10)` and `order=(2,1,0)`, I get the YZ plane:
![image](https://user-images.githubusercontent.com/671841/132202492-e608c7aa-d247-4687-9719-373a4044f457.png)

Setting the order with `viewer.dims.order = (2,1

[2021-09-06 11:05] kevinyamauchi commented on #3343
Ah, sorry about that @jni . This makes sense. I think the best fix is probably to have a switch to turn the depth checking on/off. Doing transparency + depth will be a lot more tricky.

I think we can use `set_gl_state(depth_test=False)` on the visual, but I am not sure if that will cause other issues. Do we want to tie it to the opacity value (i.e., turn of depth test for opacity < 1).

[2021-09-06 11:32] jni commented on #3343
I kinda like this but it seems like a recipe for some *other* unforeseen problem. :joy:

[2021-09-06 11:34] kevinyamauchi commented on #3343
For sure. This was my thought as well.

[2021-09-06 11:36] jaimergp commented on #3098
I am drafting a first version of this document!

[2021-09-06 12:15] tlambert03 commented on #2964
Yep!  Thanks!

[2021-09-06 12:15] #2964 closed, assigned to nobody

[2021-09-06 16:07] jaimergp opened #3345 "Standardize platform architectures?"
## 🧰 Task

With the new naming scheme followed in the bundles (introduced by #3302), we suffix the zipname with `x86_64` on Unix and `amd64` on Windows. See [here](https://github.com/napari/napari/actions/runs/1201969002) for an example.

This is because we use `platform.machine()`, which does not try to canonicalize arch names across OSs, but instead [tries to return the most common vocabulary in

[2021-09-06 16:16] jaimergp commented on #2963
This will happen on September 20th, so I am happy to give a try. I think @ziyangczi was working on this too. Should we coordinate?

[2021-09-06 17:15] d-v-b opened #3346 "✨ Add tooltip to "autoscale" UI control"
### Overview of design need
The "autoscale" UI element is confusing -- the GUI does not indicate the difference between "once" and "continuous" (e.g., via a tooltip revealed on mouse hover), and the GUI does not clearly indicate whether "once" or "continuous" has been selected. It's true that if you click "continuous" the button changes color, but the same thing does not happen for "once", presuma

[2021-09-06 17:21] d-v-b opened #3347 "✨ Basic contrast limits UI element is too abstract."
### Overview of design need

(related to #3346)

Augmenting the contrast limits slider with a histogram would be _super_ helpful. It could show either the distribution of the values or the cumulative distribution of the values (neuroglancer-style, which I've come to enjoy).

Also, I think it should be a priority to show the user _actual numbers_ alongside the abstract representation of the interva

[2021-09-06 17:41] tlambert03 commented on #3347
duplicate of https://github.com/napari/napari/pull/675 ... histograms are still a high priority, don't worry.  there's been a lot of discussion about general "plotting" inside of napari, so we're hesitant to introduce new frameworks for something like a histogram without considering the broader usage of plots.

[2021-09-06 17:42] tlambert03 commented on #3346
yep, you got it exactly right :).  Happy to take suggestions how how to clearly indicate that one button is "toggle-able" and the other one is a one time button.  Tried to show that with the changes of colors, but happy to take additional suggestions.

it's every time the view slice is changed (e.g. via the dims sliders or via data updating itself in the background).  I took the term continuous fr

[2021-09-06 18:00] d-v-b commented on #3346
What about a button for the action, and a checkbox for the continuous thing?

In the Zeiss acquisition software this is called "auto" and also set with a checkbox, I think? (I haven't touched a zeiss scope in years, so i'm just going by screenshots). In Icy I think they call this functionality "refresh", and it's set with a checkbox. I think "auto" is probably the simplest / clearest? But whatever

[2021-09-06 18:02] tlambert03 commented on #3346
agreed!  I've changed the title of this post to reflect that the tooltip is the main issue here.  thanks

[2021-09-06 21:05] Carreau commented on #3314
Ok, I think I'm happy with the fix on the ipykernel – Thanks for being patient I'll try to remember to notify here where the is a new release of ipykernel with the fix.
In addition in the next version the error messages should be a bit better if there is another issue.

[2021-09-06 21:15] Carreau commented on #3338
That's likely a bug in IPython/IPykernel, we don't have that many users of in-process kernels.
And indeed it only triggered when the console is opened.
I might be able to have in-process kernels that do less modifications of global state, but unfortunately there are some things that are globals (like sys.ps1, or display hooks.)

[2021-09-06 21:51] Carreau commented on #3338
https://github.com/ipython/ipykernel/pull/766 should at least avoid the errors.

quit() / exit() still wont' work, this will be a bit more complicated though.

[2021-09-06 21:57] tlambert03 commented on #3338
thanks @Carreau!

[2021-09-07 00:08] #3159 closed, assigned to DragaDoncila

[2021-09-07 00:12] sofroniewn commented on #3345
I'm afraid I don't have experience here, so I will defer to people more knowledgable than I

[2021-09-07 01:11] #3345 closed, assigned to jaimergp

[2021-09-07 06:58] brisvag commented on #3314
Great, thanks @Carreau!

[2021-09-07 13:44] #3128 closed, assigned to jni

[2021-09-07 17:09] tlambert03 opened #3353 "make blending additive default for images?"
## 🚀 Feature
Curious whether there's been prior discussion on the default blending mode for images?  Is there good reasoning behind the default of `translucent`?  i find myself always changing it to additive, but perhaps that's too "fluorescence-focused"?

[2021-09-07 19:14] liaprins-czi commented on #3334
### What level of design is needed? (Choose all that apply)
- [X] **User experience research:**  high-level recommendation/exploration of user needs, design heuristics, and / or best practices to inform a design experience
(Use this option when you feel there’s a challenge to be solved, but you’re curious about what the experience should be — may involve research studies to understand challenges/o

[2021-09-07 19:19] liaprins-czi commented on #3346
This was my first thought as well! It is the classic (most universally understood) component + interaction for the type of behavior described.

[2021-09-07 19:21] liaprins-czi commented on #3347
If this is truly a dup, should it be closed? Just want to verify that #675 covers what this issue is bringing up. Also wholeheartedly agree about being careful with introducing "new frameworks for something like a histogram without considering the broader usage of plots"!

[2021-09-07 19:25] liaprins-czi commented on #3070
Love all of these!

Yes I think this is agreat idea!

Yes, completely correct!

[2021-09-07 19:47] d-v-b commented on #3347
A histogram would be great, but there's stuff that could be done without one.

The GUI represents the contrast limits as an abstract interval.
![image](https://user-images.githubusercontent.com/3805136/132400189-4cd97134-9fee-469a-a19c-c2e07d7650f6.png)
As a user, it feels very "form over function". I'm personally familiar with the minimalist design philosophy that inspired napari :wink: but I thi

[2021-09-07 20:08] tlambert03 commented on #3347
can you clarify what you mean here?  we certainly intend for it to change, and it does for me:

https://user-images.githubusercontent.com/1609449/132404544-a085f967-c1b0-4b63-ba6d-5dd21a5aa1b2.mov

[2021-09-07 20:11] Peter-Hogg commented on #3159
I was able to test it last Friday and the divide by zero printout is gone

[2021-09-07 20:13] d-v-b commented on #3347
OK, I think I understand why I didn't see this behavior -- my data was already normalized, so "once" and "continuous" did nothing to the contrast limits. And if the button can trigger an idempotent action (as this one should), then the user can't expect to see the gui change :)

[2021-09-07 20:13] tlambert03 commented on #3347
hah :)  yep... autoscaling pre-normalized data is unlikely to show anything.

[2021-09-07 20:15] d-v-b commented on #3347
that being said, if I saw the actual numbers for the contrast limits displayed, then I would know for sure that pressing the "once" button didn't do anything. If I only see an abstract interval slider with no numbers, I can't be sure that my button press didn't alter the definition of the endpoints of the slider. Showing numbers makes it unambiguous.

[2021-09-07 20:16] tlambert03 commented on #3346
fwiw, this was discussed back in the original issue.  It was hard to get both a checkbox and text to "fit" in the allotted area nicely... we can certainly go back in that direction.  but i'd like to get some more opinions first

[2021-09-07 20:19] tlambert03 commented on #3347
absolutely, we all agree that we need some more heads up display on the underlying numbers in the image.  A histogram would do it, some additional stats would do it.  We're definitely not "done" when it comes to showing numeric detail...  I do think there's hesitancy (with good reason) to just throw numbers somewhere without carefully considering the space available.  I know it's taken longer than

[2021-09-07 20:25] tlambert03 commented on #3347
btw, when we added labeled sliders in #2753, this came up and we specifically left out the contrast limits slider because it basically runs out of room immediately if you have like a 16 bit image.  @liaprins-czi, if you'd like to help us come up with a way to show numbers (similar to what is shown when you right click on the slider, but without right clicking), without cramping the slider... that

[2021-09-07 20:46] andy-sweet commented on #1833
The idea in [PR 3277](https://github.com/napari/napari/pull/3327) is to recreate the `TextManager` in the `Points.text` setter, and to call that setter in the `Points` constructor. And to do the same with `Shapes`, and with whatever else has text.

That solves this inconsistency problem, but does require us to reconnect some signals (i.e. in the corresponding vispy layer) when recreation happens.

[2021-09-07 22:18] liaprins-czi commented on #3346
I can work on the layout also

On Tue, Sep 7, 2021 at 1:16 PM Talley Lambert ***@***.***>
wrote:

--

*Lia Prins*

Senior Data Visualization Designer

(650) 422-1750

chanzuckerberg.com

[2021-09-07 22:28] liaprins-czi commented on #3347
Yes this will fit into the design of the layer controls area in general

[2021-09-08 02:02] sofroniewn commented on #3353
i'm open - i could go either way. i don't recall serious discussion, more like whatever "came first" so to speak. Curious what others think

[2021-09-08 02:03] sofroniewn commented on #3344
hmm something sounds funny here. maybe @DragaDoncila could look into reproducing and make a recommendation. not sure if @jni has thoughts here too?

[2021-09-08 02:05] sofroniewn commented on #3342
Hi @npielawski I think right now reading from svg has not been implemented, see https://github.com/napari/napari-svg/issues/4, but we really should do that. I think there might be a way to save shapes as a csv with our builtin readers. Maybe @DragaDoncila can take a look at this too

[2021-09-08 06:50] psobolewskiPhD opened #3357 "A 1-px border appears around images and is saved by viewer.screenshot()"
## 🐛 Bug

A 1-px border appears around images and is saved by viewer.screenshot()

## To Reproduce

Steps to reproduce the behavior:
It's most visible in light mode:
1. Open any image.
2. Zoom in, so the image fills the canvas.
3. Note a 1-px light border—canvas?—around the image.
<img width="91" alt="image" src="https://user-images.githubusercontent.com/76622105/132459240-7f2f4b6b-6702-4672-b5fb-

[2021-09-08 07:37] kevinyamauchi commented on #3159
Thanks for testing, @Peter-Hogg !

[2021-09-08 16:29] jaimergp opened #3358 "Proof of concept for conda-based bundles"
## 🧰 Task

We have been working on the conda-based bundles for a while now, and the PR is still open while we polish some details. To summarize our findings and progress, I'll detail what we have done so far and what's pending.

First, some facts:

* The current napari bundle uses briefcase to bundle a pip-based installation. This works great for the base install, but fails to deliver complex depe

[2021-09-08 16:31] jaimergp opened #3359 "Automated conversion of plugin packages (PyPI -> Conda)"
## 🧰 Task

This should be easy to automate with Grayskull and could give us an idea on how tricky this task might be, either if it's a one-off task (first migration) or a service we end up providing.

[2021-09-08 16:41] jaimergp opened #3360 "Long-term plans for pinned support package in Briefcase"
Writing this down here so we do not forget. Right now we are pinning the support package to previous releases so we can actually have a Python interpreter there we can use to run `pip`. This is just a patch, not a solution.

Ideally, we could either ask Briefcase to:

* Expose an option to bundle a full Python installation
* Implement a CLI forwarder so the main executable can take arguments like

[2021-09-08 21:06] goanpeca commented on #3357
@psobolewskiPhD I do not understand the issue, could you elaborate, or give a reproducible example?

[2021-09-08 21:15] goanpeca commented on #3335
Agreed! Would you like to open a PR @kevinyamauchi ? :)

[2021-09-08 21:21] goanpeca opened #3361 "Layer list menu not using current theme"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Open napari
2. Change theme (toggle theme)
3. Add any sample image and right click on the layer
4. The menu will show the old theme not the current one

## Expected behavior

The layer list menu should follow the current theme

## Environment

 - Please copy and paste the information at napari info option in help menubar here:

 - Any

[2021-09-08 21:29] psobolewskiPhD commented on #3357
I'm not sure how? There's simply a 1-px border—I think it's the canvas—around the image. In light mode, it's white, which is different from the rest of the viewer, so it's more easily noticed. Even then it's subtle, if you have a black image background, just because of visual perception.

Try:
1. Napari light mode
2. Open Samples>skimage > human_mitosis
3. Set colormap to `gray r`
4. zoom in so th

[2021-09-08 21:36] tlambert03 commented on #3361
that's only dark there because of your system theme right?  see my comment in https://github.com/napari/napari/pull/3362#issuecomment-915589178... I'm not immediately sure about this.

[2021-09-08 22:37] goanpeca commented on #3357
Got it, now I understand thanks

[2021-09-08 22:42] goanpeca commented on #2768
@tlambert03 we can close this right?

[2021-09-08 23:13] goanpeca commented on #3098
I think we can close this for now

[2021-09-08 23:13] #3098 closed, assigned to goanpeca

[2021-09-08 23:20] goanpeca commented on #2853
@tlambert03 I think we can close this one?

[2021-09-08 23:25] goanpeca commented on #3070
Hi @isabela-pf thanks for the feedback

I think we could implement option 1 and option 2

I do not think that a plugin that is being installed should move to the installed plugins sections, cause it is effectively not installed,
<img width="782" alt="Screen Shot 2021-09-08 at 6 23 56 PM" src="https://user-images.githubusercontent.com/3627835/132598303-1e1f3d31-bbf1-49f8-8ab2-33d72caf13d4.png">

I

[2021-09-09 03:13] DragaDoncila commented on #3344
I've looked a bit into this and it's happening because the default `ndim` for the `Viewer` on creation is 2, and [this block of code](https://github.com/napari/napari/blob/79ab3589eb398ce56d2d0a16025cdb7f435ffaa5/napari/components/dims.py#L112) rearranges the passed order of `(2, 1, 0)` to just be `(1, 0)` - which is still technically correct.

But then when we add a new layer, the `dims.ndim` get

[2021-09-09 03:19] sofroniewn commented on #3344
eek! good detective work. ok i'm not sure what we should do either. maybe once we have better axes labels figured out we can improve this. @andy-sweet might have ideas too

[2021-09-09 03:19] #2963 closed, assigned to nobody

[2021-09-09 06:39] perlman commented on #3344
Thanks @DragaDoncila for finding the cause!

I would have a slight preference for having ndim updated rather than a warning. `napari.view_image(...)` is touted in many examples as _the_ method to view data, and I doubt I'm the only one who is trying to load data with a warped dimension order.  (Why did I not transpose the array? Well, the actual data I was passing in was not a true numpy array...)

[2021-09-09 08:11] brisvag commented on #2665
There's some progress and about this on vispy/vispy#2208; the solution is vispy/vispy#2039.

In the meantime, the only solution is to turn off antialiasing in the vispy visual to fix the border issue, buit this won't solve the transparency problem.

[2021-09-09 17:51] andy-sweet commented on #3344
Happy to give some thoughts, but I don't think there going to help fix these in the short term!

I've made a little progress on axes labels (#906) and ran into a similar (though not as confusing) issue/cause, as `axis_labels` are also trimmed/padded to have a length that corresponds to the default value of `ndim=2`. So you get behavior like the following.

[code]

As #906 is about giving each laye

[2021-09-09 18:03] goanpeca commented on #3357
I looked a bit into this but I am not sure where that border is coming from 🤔

[2021-09-09 18:19] psobolewskiPhD commented on #3357
I'm pretty sure it's the color of the canvas, so perhaps somewhere the max size of an image layer is 1-px less than the canvas?
All my images are even number of pixels...maybe it's odd vs even?
🤷

[2021-09-09 18:45] isabela-pf commented on #3070
So it isn't currently possible to have the closing the dialog not cancel installation? I think option 2 will work fine, just want to make sure I understand why choices are being made.

That makes sense. My logic was that it's pretty likely that users will have less extensions installed (and thus less listed) than all the ones available for installation, so it's easier to find all pending installat

[2021-09-09 18:51] psobolewskiPhD opened #3364 "Provide a preference to auto-match OS theme (light/dark)"
## 🚀 Feature
I use automatic OS theming (macOS).
I'd **love** for Napari to be able to pick up on that and match the light/dark status to the OS theme.

## Motivation

For me, the overall brightness of my monitor affects my perception of what is on it. In a dark microscope room, my OS is in dark mode, I use dark-background LUTs, and Napari dark theme is sweet. In an office setting, my OS theme mat

[2021-09-09 18:57] #2768 closed, assigned to goanpeca

[2021-09-09 18:58] tlambert03 commented on #2853
this one still needs to be done.  (it got extracted from #2932 before it got merged)

[2021-09-09 19:06] goanpeca commented on #2853
got it!

[2021-09-09 19:27] goanpeca commented on #3364
We could use this https://pypi.org/project/darkdetect/

Or vendor it..

Thoughts @napari/core-devs ?

[2021-09-09 19:47] goanpeca commented on #3070
In case something goes wrong (maybe a really slow internet) I find the option of not being to close the dialog a bit unfriendly to the user. So option 2 feels like an option that could leave a user with an unclosable dialog.

I could move the pending ones to the top of the bottom list, I feel that could group them better but still leave them at the bottom list. That was going to be my suggestion.

[2021-09-09 21:29] sofroniewn commented on #3344
Yes, agreed - maybe answer here is to not allow these to be passed to `Viewer` or a `view_*` method directly. Will take a bit of time to get there, but I like that direction.

Thoughts on all this @jni?

[2021-09-09 21:30] sofroniewn commented on #3364
i'm open, will be curious what others say though. i don't have strong feelings

[2021-09-09 22:23] isabela-pf commented on #3070
Okay!

I agree! I also want a way out, so we just need to make sure that users can close the dialog without cancelling installations in the same interaction, right? (unless I’m misunderstanding)

I'm fine without option 2, but I don't want option 3 as a permanent solution. I'm skeptical about stacking more windows even though the install dialog and a warning dialog are kind of two different things

[2021-09-09 23:28] goanpeca commented on #3070
Thanks for the updates @isabela-pf, I already have something in place that implements your suggestions :)

[2021-09-10 00:07] DragaDoncila commented on #3344
I agree with @andy-sweet that there are some attributes on dims that only make sense once you have added some data - `order` being one of them.

I kind of don't agree with this simply because in the particular case of the `view_*` methods, we *are* getting data, and so any parameters which may not make sense on `Viewer` creation would definitely make sense by the end of the function call because w

[2021-09-10 09:26] jni opened #3366 "Traceback from WorkerBase `__getattr__` with some Qt versions"
## 🐛 Bug

I don't have a *small* reproducible example yet, but I thought I'd post this in case the traceback alone makes sense to someone. You can also reproduce it with a plugin installation + some interactions, detailed below, but it's definitely not "minimal".

## To Reproduce

Steps to reproduce the behavior:

- install `platelet-unet-watershed` from PyPI.
- run this script:

[code]

- Add the

[2021-09-10 10:28] Czaki commented on #3366
I cannot reproduce in pip based environment.

[2021-09-10 11:04] jni commented on #3366
@Czaki what OS? This might be mac-specific. Personally I can't *not* reproduce in pip! :joy: Though I suspect I could with older PyQt, as noted in "additional context".

[2021-09-10 11:05] Czaki commented on #3366
Ubuntu 21.04

[2021-09-10 11:51] tlambert03 commented on #3366
worked fine for me on the first try (cool to watch the watershed build 😄 )  will play with environment now.

btw, here's a script that avoid the manual interaction above:

[code]

[2021-09-10 11:55] tlambert03 commented on #3366
@jni ... can you construct an environment from scratch that reproduces this?  (you can use whatever qt from any source you need...)  I can't reproduce it yet, but I assume it's an environment version/source thing

[2021-09-10 13:11] tlambert03 commented on #3136
hey @ppwadhwa @liaprins-czi  ... just checking to see if anyone is actively working on mapping our existing icons to already-available fonts.  Would like to move forward on this soon(ish), partially to help @lukasz-migas avoid unneeded efforts in #2900.  what I'm mostly looking for is described in the task above: a record of our current SVGs and a font-library alternative.  I can do this if everyo

[2021-09-10 13:20] ppwadhwa commented on #3136
@tlambert03 Yes, I have been working on it here and there.  Its been on the back burner, but I can finish the list today.  Sorry for the lack in communication.

[2021-09-10 14:27] jni commented on #3366
@tlambert03 Here's my environment:

https://gist.github.com/jni/7f0e9106dbb390923f23b6802a132604

I'll clarify a little bit from above:

- running from the Python script, I always get the failure.
- running as `napari file.npy`, I don't get the failure with this environment.
- ~~if I `pip install -U pyqt5`, then it always fails~~ ... Aaaaand it fixed itself. 😂 But I still get the failure from your

[2021-09-10 16:15] liaprins-czi commented on #3136
I have yet to find any font library icons that will work for our actions (I
have looked through several icon fonts). They will need to be made into a
custom icon font, which I don't know how to do from a
technical perspective. Designing new icons is not a small thing, but it is
something I plan to do
<https://github.com/napari/product-heuristics-2020/issues/16> at some point
this half, but in the

[2021-09-10 16:16] tlambert03 commented on #3136
can you give me an example of a specific svg or two for which you think there isn't a good alternative?

[2021-09-10 16:24] liaprins-czi commented on #3136
All of the actions in the layer controls area. There might be a couple that
have similar existing icons within an icon font, but there are still a few
issues for the few that might have alternative:
1. they have inconsistent styling with the others (existing icons, which
have no icon font alternative) and across icon fonts (for another icon that
has a semi-similar icon in a different icon font)
2.

[2021-09-10 16:41] tlambert03 commented on #3136
ok, well even a list of the icons that you don't think are substitutable would be helpful.  (I have made fonts before and happy to help if there's a handful that need it).
on the code side of things, this solves a _lot_ of challenges... so I'd really like us to move in this direction

[2021-09-10 16:55] liaprins-czi commented on #3136
Yes it would be great to start with converting all of the existing icons we
have to an icon font of our own! When I redesign the icons then we can
substitute those designs into the font in their place (unless that is not
possible; we'd make a new icon font I guess) as the ones we have are
consistent stylistically and more clear visually / meaningfully than other
icons in existing icon fonts.

On F

[2021-09-10 16:57] goanpeca commented on #3136
Agreed!, would it make sense to just convert the current svgs to a custom font and start with that @tlambert03 ??

That way we can get the benefits of the new system but make the design of new fonts more consistent as a parallel route @liaprins-czi

[2021-09-10 18:33] Czaki commented on #3366
Few things which I found @jni:

1) `QRunnable` does not have `__getattr__`  so this line https://github.com/napari/napari/blob/b9549fea3b79be993bd7398f227ff665f764c2f5/napari/_qt/qthreading.py#L100
should be replaced with
[code]

2) Base on log from first post we could see that object is `FunctionWorker`, not `GeneratorWorker` and getattr is called on `yielded`. So the core of problem is that `pre

[2021-09-10 18:35] tlambert03 commented on #3366
makes sense, thanks!

[2021-09-10 19:51] goanpeca commented on #3364
I think the initial theme mockups combobox/boxes had a `Use system theme` and in this case, we would either use, dark or light by default (and this could be the default 🤷🏼 option?)

[2021-09-10 19:56] tlambert03 commented on #3364
fine by me.  I also don't have strong feelings.  our dark/light themes aren't terribly well matched to the native dark/light themes, but it does feel like a nifty thing to have :)

probably a slight preference for vendoring `darkdetect`, and wrapping calls to `darkdetect.isDark()` in some exception handling just in case

[2021-09-10 20:04] goanpeca commented on #3364
Sounds good, will work on it.

Thoughts on making "Use system default" as the default @napari/core-devs ?

[2021-09-10 20:43] tlambert03 commented on #3364
Hmm, I would probably immediately turn that off (and be annoyed every time i use `napari --reset` 😅 ) ...  so my preference would be no, but there too I'm happy to defer to others.
I feel like the light theme is much less attractive, and gets less attention.

[2021-09-10 21:17] goanpeca commented on #3364
Well.. that means we need to fix it :-p

[2021-09-11 00:14] jni commented on #3366
... 🤦🤦🤦🤦🤦🤦 I friggin *had* done that. That explains the different behaviour in Python vs the command line napari call — I expect the latter does not add the current directory to the python path. Apologies for the noise!!!!

[2021-09-11 00:14] #3366 closed, assigned to nobody

[2021-09-11 00:38] Czaki commented on #3366
this is a reason why I love `src` layout when create package.

[2021-09-11 01:14] tlambert03 commented on #3136
sure, was just able to create a font that works fine (took 10 minutes, so @liaprins-czi, feel free to design more SVGs, it's a trivial conversion).  In looking into the history of these icons though, it seems like they're either things that were taken from the [nova](https://nova.streamlineicons.com/) icon library in [this PR](https://github.com/napari/napari/pull/236), or added by me or other peo

[2021-09-11 01:42] ppwadhwa commented on #3136
is having a table useful?  I'm still planning to finish this tonight.  And for whatever its worth,  I have noticed as I've been looking at icons that they seem inconsistent (some have rounded edges on corners, some are sharp edged, for example).  I think if we want things to be consistent, then a close look at everything is needed.

[2021-09-11 02:25] tlambert03 commented on #3136
Yep, definitely shouldn't mix & match sharp/rounded styles and stuff.  Yes a table would still be very helpful, thanks!

[2021-09-11 04:27] isabela-pf commented on #2999
Hi all! This is a discussion I love to see happening and hope to help move forward. Fair warning, this might be a little long because I’m trying to process the details I’m learning about focus states as I go.

## Current state
Based on my own fiddling around with napari, it seems like you can at least somewhat navigate through napari’s interface with a keyboard alone (an easy but by no means the o

[2021-09-11 05:06] ppwadhwa commented on #3136
Here is my initial pass through all the icons we have.  I included suggestions for font icons that looked exactly like what we have or are very similar.  In some cases, I couldn't find anything or had to find something close.  Where should this document live?

identifier | description | glyph-id |  
-- | -- | -- | --
2D.svg | 2-D state button | fa5r.square |  
3D.svg | 3-D state button | fa5r.cube

[2021-09-11 10:33] tlambert03 commented on #3136
😍
Thank you!

It can live here for now.  Ultimately, we'll put this info directly in the code, and render a docs table from this dynamically.

[2021-09-11 14:18] hanjinliu opened #3371 "Function will not be called if a `FunctionGui` is removed or closed before the actual function call"
## 🐛 Bug

When I use a `FunctionGui` as a dialog box, I want to close the widget after it is called.

I connected a close function to the push button changed event. It worked fine with `FunctionGui` alone but If I added it into napari as a dock widget, function was not called. Strangely, if I make a new `FunctionGui` and add to napari again, I worked.

## To Reproduce

Steps to reproduce the behav

[2021-09-11 15:58] tlambert03 commented on #3371
I'm not able to reproduce that first observation, where clicking run prints nothing:

https://user-images.githubusercontent.com/1609449/132953838-92e2b808-03cb-45ab-aa77-56075d7aef17.mov

(checked out magicgui 0.2.10 and current napari).

I'll try to test on windows later?

[2021-09-11 16:24] tlambert03 commented on #3371
side question though: would it be sufficient for you to use `f.called.connect(...)` instead of `f._call_button.changed.connect(...)` ?  That really is the intended API for this use case anyway.

[2021-09-11 16:30] #1566 closed, assigned to nobody

[2021-09-11 19:52] goanpeca commented on #2999
Thanks for the write up. I will start looking into this. Will need to check the possibilities Qt gives us

Some reference https://doc.qt.io/qt-5/focus.html

[2021-09-11 19:56] sofroniewn commented on #3136
yup, certainly no need to keep any of the confusing ones I made - I hesitate to even use the word designed ;-) so press on with whatever is easiest there

[2021-09-11 20:01] sofroniewn commented on #3364
I'd probably still make "dark" the default, and then if folks want to enable use system default they can.

[2021-09-11 22:56] hanjinliu commented on #3371
Yes, `f.called.connect` works pretty fine, so I have no reason to continue using `f._call_button` 😅

[2021-09-11 23:07] tlambert03 commented on #3136
thanks again @ppwadhwa ... this is a great start.  we can tune and iterate from here (napari icon on left, candidate on right)

<img width="914" alt="Untitled 2" src="https://user-images.githubusercontent.com/1609449/132963711-f59769b9-f084-4d3a-adeb-1142c03424b4.png">

[2021-09-11 23:15] tlambert03 commented on #3371
ok, let's go with that then :) `func.called` is emitted [after the function is called](https://github.com/napari/magicgui/blob/f41a37e7eeb8d6d7d16fae9be4a5a885bab03eef/magicgui/widgets/_function_gui.py#L298), so you're guaranteed to have the function executed before closing the widget.  The private `_call_button` is probably not a good target for connection.  thanks!

[2021-09-11 23:15] #3371 closed, assigned to nobody

[2021-09-12 01:59] ppwadhwa commented on #3136
@tlambert03 this is a really cool graphic!  From looking at this, I think some of the font awesome icons can be changed to regular instead of solid and maybe they will match up better to what we have. maybe?  Anyway, its really helpful to see them laid out like this!

[2021-09-12 02:17] tlambert03 commented on #3136
I agree, some can definitely be improved.  Note though, regular is has many fewer glyphs than solid ([150](https://fontawesome.com/v5.15/icons?d=gallery&p=2&s=regular&m=free) vs [1000](https://fontawesome.com/v5.15/icons?d=gallery&p=2&s=solid&m=free)).  I did have to change a number of the keys because they either didn't exist in the regular family, or they were strictly in the "[pro](https://font

[2021-09-12 02:49] ppwadhwa commented on #3136
@tlambert03 ah, I see.  ok, that makes sense.  anyway, I think even if the icons change, that's ok.  As long as things look consistent. Sorry you had to go through and change several of them!

[2021-09-12 03:12] tlambert03 opened #3373 "Discussion: use psygnal events eventually?"
## 🧰 Task
Over at https://github.com/napari/magicgui/pull/253, I have a PR that moves from using the `events.py` module (the same we have in napari) to [psygnal](https://github.com/tlambert03/psygnal) (for reasons described below).  This is a task to discuss whether we should eventually do a similar conversion in napari, for what events, and what it would look like to transition.

### difference b

[2021-09-12 05:29] jni commented on #3366
Very good point. Totally not common in Python-land but a very good point!

[2021-09-12 11:10] tlambert03 commented on #3366
I like this article on it: https://hynek.me/articles/testing-packaging/

Definitely helps prevent some gotchas!

[2021-09-12 15:03] psobolewskiPhD opened #3374 "Additive blending mode requires black canvas (broken in light theme)"
## 🐛 Bug
Originally posted at napari-aicsimageio: https://github.com/AllenCellModeling/napari-aicsimageio/issues/22

When using Light theme in Napari, the napari-aicsimageio plugin results in wierd behavior: drag-n-dropping a LIF results in a blank image, regardless of colormap, etc.
However, switching to Dark theme shows that the image was properly loaded.
Light theme:
<img width="1546" alt="imag

[2021-09-12 16:49] #3070 closed, assigned to liaprins-czi

[2021-09-12 17:28] kevinyamauchi commented on #3374
Hey, @psobolewskiPhD ! Thanks for the issue. What happens if you switch the blending mode to translucent? It could be due to the additive blending (adding on top of white results in white).

If that is the case, I could still see this being considered a bug. I am not sure if the visuals in additive mode should be blended with the canvas background (although, I can't think of what the alternative b

[2021-09-12 18:15] psobolewskiPhD commented on #3374
Ok, in Light mode the new image layer is invisible in additive blending—the default, I've never set it I don't think. The other modes make it appear.
I'm not sure I understand how additive blending would result in pure white...
Edit: plus why does it work in Dark mode?
Also, should there be any blending with just one layer?
Edit: Is light mode canvas considered 255 255 255 so when additive it yiel

[2021-09-12 19:16] tlambert03 commented on #3374
exactly :)  it's already "saturated" with white in light mode... so white + anything is still white

yeah, I think we need to solve this independently of clever setting of blending anyway.  we don't want to have to go back and re-evaluate the blending of each layer as someone adds them to the viewer (so we shouldn't do anything "too clever" to determine the default blending mode when there is a si

[2021-09-13 00:11] jni commented on #3366
"Another interlude from 2021: NASA landed another robot on Mars, and they use src directories in their Python code. My job here is done." :rofl:

Yup that's very good. *Interesting!* Thank you both!

Now I wonder whether we should do something about it! :joy: In napari but also cookiecutter plugin etc...

[2021-09-13 19:06] andy-sweet commented on #906
I need some clarification around what the viewer's `axis_labels` means/does if we allow per-layer `axis_labels`. Based on the comments above, the `axis_labels` passed into `Viewer` provide default dimension names and define an ordering over those names.

The default names/labels are useful when `axis_labels` is not specified for a layer. One problem with using these as defaults is that these `axis

[2021-09-13 19:24] psobolewskiPhD commented on #3374
Just make the canvas in both light and dark neutral gray? 🤷
Solves https://github.com/napari/napari/issues/3313 as well! 🤣

[2021-09-13 22:56] isabela-pf commented on #3136
Hi there, everyone! This issue looks recent, but I'm not sure what work is or isn't being done on it right now.

I wanted to jump in on this discussion and note that icon fonts usually require specific handling to be accessible, especially to be properly interpreted by screen readers. The main problem I'm having is that I'm encountering exclusively web-based advice for how to implement this so far

[2021-09-13 23:00] isabela-pf commented on #3195
I noticed that the above resources aren't including the extensive community effort at [Material Design Icons](https://materialdesignicons.com/) (a fork of Google's Material Icons with a lot of icons added). I know some other projects have had luck finding icons that fulfill their needs there. Here is the [full list of icons for the latest version](https://pictogrammers.github.io/@mdi/font/6.1.95/)

[2021-09-13 23:09] tlambert03 commented on #3136
can you comment on how they differ from SVGs (our current source for icons)?  We already don't really have any assistive text for our icons.  There's no ARIA role or metadata associated with them (would love to have it! but we're but it feels like that's a parallel goal to where we source the actual vector graphic).

if we need to, we can easily _make_ it an image (i.e. rasterize the font to some

[2021-09-13 23:09] tlambert03 commented on #3195
yep, those are amazing!  ~(they're included in the massive collection in the react-icons viewer [here](https://react-icons.github.io/react-icons/icons?name=md)) ...~

[2021-09-13 23:11] tlambert03 commented on #3195
sorry!  didn't mean to close this :joy: ... what I meant to say is that those are definitely on the radar as well.  I have a plugin [here](https://github.com/tlambert03/fonticon-materialdesignicons6) that allows them to be used from the new fonticon approach i'm building in [superqt](https://github.com/napari/superqt/pull/24)

[2021-09-14 03:22] sofroniewn commented on #906
If we did this and you then deleted all the layers and then added a new layer would you loose the axis labels? I do somehow think it would be nice to be able to say - i know i'm going to be looking at TYX data - i don't have any layers yet, but all of them will be of that form. Or let's say you've got data in then you delete it, then you add more data, do you want to preserve the axes labels? Mayb

[2021-09-15 02:33] jni opened #3382 "Better error message when a file doesn't exist"
## 🚀 Feature

I get the following error when I try `napari this-file-doesnt-exist.nd2`:

[code]

Probably we should check before anything else whether the file exists and error out early if not, with a more explanatory error.

[2021-09-15 02:34] tlambert03 commented on #3382
lol... that would be a pretty awesome plugin though!

[2021-09-15 02:38] jni commented on #3382
🤣

[2021-09-15 07:19] perlman commented on #3382
How would this work with remote data sources? Or, more specifically, remote data sources with non-standard URL schemes... or even a plugin that may want to create-on-open?

Files are hard. 🙃

[2021-09-15 10:21] rkspsm opened #3383 "Misleading error when certifi package is missing"
## 🐛 Bug

I am using Arch Linux OS, and I installed napari[pyqt5] using pip (user local installation). When I started the basic program which creates a viewer and calls napari.run(), it shown me error that QApplication is not created. I am experienced with PyQt5, and I understand that its a very trivial issue to exist as a bug. After sometime searching in the code I realized that I was missing the

[2021-09-15 11:21] tlambert03 commented on #3382
A create on open plugin is probably a sample data provider, not a reader.

As a start, we could at least check if the scheme is local file system and provide a better error there

[2021-09-15 12:59] boazmohar opened #3384 "Dask cache not getting hit with chanked dask array slowing z scroling"
## 🐛 Bug

Every z step hits dask without using the cache. In multiscale array, I think both levels are hit with drag / zoom.
I think I have some dask configuration issue maybe.
Any advice would be appreciated.

## To Reproduce

Steps to reproduce the behavior:

[code]

https://user-images.githubusercontent.com/9434009/133434452-4e647e33-461b-4fac-a214-d45e78a401db.mp4

I have checked the cache as

[2021-09-15 13:00] brisvag commented on #2894
~This will be addressed by vispy/vispy#2209!~ Still limited by hardware, unfortunately.

[2021-09-15 13:05] brisvag opened #3385 "Layer parameters that rely on events are not initialized correctly."
## 🐛 Bug

Some layer parameters are not initialized correctly on layer instantiation. ~This includes quite prominent stuff such as `Points.symbol`, so I'm not sure if this is something environment-related, because it seems strange no one noticed this before.~
*On second thought, this is plain wrong. `symbol` is not part of this category on main, just on my branch due to upstream changes. Also, the

[2021-09-15 13:09] tlambert03 commented on #3384
thanks @boazmohar.  Will have a closer look later, but two quick questions for now:
1) if you put `napari.utils.resize_dask_cache(1000000)` _before_ the call to `add_image`, does it change anything?
2) if you have a moment, could you try https://github.com/napari/napari/pull/3285 ?  (that PR turns dask caching back on by default... in a context-manager while slicing the layer.  You can see how we

[2021-09-15 13:19] tlambert03 commented on #3383
good catch!  it's kind of amazing that you ended up with an environment without certifi 😂 ... but I did just double check and none of our direct dependencies depend on it.  It comes in with `requests`, which tons of our dev and docs packages use, but we missed this.  thanks!

[2021-09-15 13:57] boazmohar commented on #3384
Hi @tlambert03,

Thanks for the quick responce.
1. No
2. Didn't help (I think I did the right thing)

I still see it hitting the dask array with get value.
but this is making sense:
[code]
output is:
[code]

Here is the info I get for that branch:
napari: 0.1.10.dev601+gca38d5e4
Platform: Windows-10-10.0.19042-SP0
Python: 3.8.10 | packaged by conda-forge | (default, May 11 2021, 06:25:23) [MSC v.1

[2021-09-15 16:03] #3385 closed, assigned to nobody

[2021-09-15 16:09] jaimergp commented on #2014
Following :)

[2021-09-15 16:18] #3383 closed, assigned to nobody

[2021-09-15 20:15] liu-ziyang commented on #2014
I updated the docker images a while back, I wonder if people have more success using the images currently available on docker hub?

[2021-09-15 21:27] JDWarner opened #3388 "Option for interactive control of Window Width and Window Level via mouse click-and-drag"
## 🚀 Feature
Radiologists expect interactive control of the "window width and window level".  Napari does not currently expose this, but easily could.  This reframes the concept currently expressed in Napari on an image layer by "contrast limits".  Instead of two variables representing `min` and `max`, this would become the two variables `window_width` and `window_level` defined simply as the tota

[2021-09-15 22:58] tlambert03 commented on #3388
fascinating :) thanks for the very clear issue @JDWarner!
in the domain of microscopy (where a lot of our core devs come from ... but which we definitely don't want to be tied to!) min/max is a common way to express this, since it deals directly with the domain of numbers in the raw dataset (i.e. we generally know exactly what it means about the signal on the camera when our max brightness corresp

[2021-09-16 03:22] JDWarner commented on #3388
The ability to interface programmatically would be ideal for uses like a plugin with keybindings or a drop down box presenting several standard named presets; in the setting of CT data this might include 'Brain', 'Bone', 'Soft Tissue', 'Lung', and 'Liver'.

The standard in this field would be a small text corner image overlay, but so long as they can be shown _somewhere_ the spirit of the request

[2021-09-16 03:24] tlambert03 commented on #3388
yep this is an issue we're well aware of, discussions elsewhere.  you can right click on the slider to get a lot more detail

[2021-09-16 11:38] jni commented on #3388
Thanks for the issue @JDWarner, and :wave:!

@tlambert03 one hacky-but-fast way to implement this is to add a scroll callback to the dual sliders to control the width, since the center of the slider is already draggable (to control the level). We could perhaps even make up/down drag control the width, though personally I would find that weird.

Adding a text overlay programmatically is easy @JDWar

[2021-09-16 11:59] tlambert03 commented on #3388
Actually that's already implemented.  If you hold down option/alt while scrolling over that slider, it will contract/broaden.  (If it's not option it's another key, I need to check)

[2021-09-16 12:11] jni commented on #3388
A-hah! It *is* option! Funny I had this memory but I couldn't make it work with just plain scrolling. LOL Should we get rid of the modifier?

[2021-09-16 12:34] tlambert03 commented on #3388
but without the modifier it should scroll both of them, right?  so with modifier is width, without modifier is level

[2021-09-16 12:38] jni commented on #3388
no, without modifier it does jack. :joy: To move the level you click and drag in the middle of the bar.

[2021-09-16 12:41] tlambert03 commented on #3388
oh sorry... just checked, hold command for offset/level:

https://user-images.githubusercontent.com/1609449/133613757-06e0d0ab-0cc4-415f-a902-a15fbb043659.mov

[2021-09-16 12:41] jni commented on #3384
@boazmohar I noticed you are using the dask distributed scheduler in your first example — are you using it always? Note that dask does *no caching* when using the distributed scheduler:

https://docs.dask.org/en/latest/caching.html#disclaimer

"Opportunistic caching is not available when using the distributed scheduler."

[2021-09-16 12:42] tlambert03 commented on #3384
ahh, good point!  sorry I missed that

[2021-09-16 12:43] jni commented on #3388
My earlier question still stands: should we remove the need to use option for the width? I think yes. Then everything can be controlled with the mouse, no keyboard needed.

[2021-09-16 12:45] tlambert03 commented on #3388
sure, happy to change up the modifiers.  It feels slightly unusual to me have it control width without a modifier (like, it's inconsistent with other slider behavior, and a little surprising), but I get your point that it's the only way to remove the need for the keyboard (since we can click/drag the bar for level).

[2021-09-16 13:49] boazmohar commented on #3384
Thanks @jni I think this is solved. At least in the new branch I am on from @tlambert03 repo.
I don't have a schduler to look at the calls but the behivor is as expected from looking at the delay of rendering (higher between chunks)

Just for completness this is what I ran:
[code]
output was: `len:21698`

[2021-09-16 13:49] #3384 closed, assigned to nobody

[2021-09-16 14:07] alisterburt commented on #3373
definitely in favour of a general move towards psygnal/Qt style events!

I agree that keeping a distinction between mouse/key events and state-change emitters currently will get us a long way very quickly - slightly related, longer term I think @nclack suggested that we simplify some aspects of the mouse events, especially with the 3d transforms (originally added in #3037) which may make the disti

[2021-09-16 14:34] JDWarner commented on #3388
@jni (👋 !) there is no widget, essentially all PACS systems map this to two axes of mouse movement as described. The window and level are independent in each viewpane and there's really no straightforward method to have 12+ 2D widgets.  The only visual confirmation is the noted ww/wl variables usually somewhere in the corner of the view.

I have been experimenting with some Jupyter widgets which o

[2021-09-16 18:34] chili-chiu opened #3389 "Convert to Image/Convert to Labels do not preserve scaling"
## 🐛 Bug

Right click on label/image layers > Convert to Image/Convert to Labels do not preserve scaling.

## To Reproduce

Steps to reproduce the behavior:

1. Create an image layer, set the layer scale to something other than default [1,1,1]
2. Right click on the image layer > Convert to Labels
3. The new labels layer ignores the scaling and reverts back to default [1,1,1]

Same behavior also go

[2021-09-16 20:17] melissawm opened #3390 "Discussion: organization of documentation"
## 📚 Documentation

Hello folks,

After some initial discussion with the documentation working group, and checking the current state of the documentation for napari (including the content in this repo, and on [napari.github.io](https://github.com/napari/napari.github.io)), I am proposing to re-think the organization and presentation of the docs as follows. (A few suggestions for new docs appear in

[2021-09-16 20:47] #2883 closed, assigned to goanpeca

[2021-09-16 20:51] tlambert03 commented on #3389
thanks!  For anyone motivated to work on this, the code needing modification is right here:
https://github.com/napari/napari/blob/80877fcb411c2b12d974507895259c5ae3047b4a/napari/layers/_layer_actions.py#L80-L86

and it could borrow the metadata-copying strategy from here:

https://github.com/napari/napari/blob/80877fcb411c2b12d974507895259c5ae3047b4a/napari/layers/_layer_actions.py#L68-L76

[2021-09-16 22:02] codemonkey800 commented on #3390
Awesome work on this @melissawm! My only question is will the organization here also correspond to how the file structure / [table of contents](https://github.com/napari/napari.github.io/blob/main/_toc.yml) will be organized?

[2021-09-16 22:14] tlambert03 commented on #3374
moving to "needs discussion".  This is a reasonably bad bug, but the solution isn't immediately obvious.  @kevinyamauchi, @alisterburt ... do you have thoughts on how we might solve this?  essentially, additive blending mode assumes we have a black starting point.  can/should we create a faux black background independent of the canvas color?  How do we even determine the boundaries for that backgr

[2021-09-16 22:21] tlambert03 commented on #3335
this is actually a duplicate of https://github.com/napari/napari/issues/2699
our instructions at `napari.org` actually specify double quotes `pip install "napari[all]"`, which I believe _does_ work on windows.  so we should switch our readme to match the napari.org instructions.  easy one

[2021-09-16 22:30] tlambert03 commented on #3337
@hanjinlui (or anyone else who was able to reproduce this), can you check whether https://github.com/napari/napari/pull/3352 has solved this?

[2021-09-16 22:34] tlambert03 commented on #924
bumping this issue again.  This is not a hard one to solve for anyone looking for something to work on.  we should be able to be smarter about 48 bit RGBs

[2021-09-16 22:36] tlambert03 commented on #1393
our big sur support has been reasonably stable for a while now.  thanks!

[2021-09-16 22:36] #1393 closed, assigned to nobody

[2021-09-16 22:39] tlambert03 commented on #1310
bumping this.  I agree, for scientific work, we definitely need to handle this more gracefully.  I think @GenevieveBuckley's expectation is spot on:

[2021-09-16 22:41] melissawm commented on #3390
I think the organization should map as closely as possible to the file structure, because it makes it easier for contributors to understand where things are. But I do understand that we have different sources for the material (for example, tutorials). As for the table of contents, yes, ideally it would match this organization.

[2021-09-16 22:49] tlambert03 commented on #1713
I believe this is solved by  the stubs that now ship with napari, but let me know if not!

[2021-09-16 22:49] #1713 closed, assigned to nobody

[2021-09-16 22:53] #1819 closed, assigned to nobody

[2021-09-16 22:56] tlambert03 commented on #2209
@ViktorvdValk

do you happen to know if this is still an issue?

[2021-09-16 23:07] #3364 closed, assigned to goanpeca

[2021-09-17 00:18] isabela-pf commented on #3136
From my understanding, they differ from SVGs mainly in how they are called (as a font character, not an image) and consequently how assistive tech will identify it. So for example a screen reader might announce it as text rather than a button. That’s why I mentioned that it’s more of a matter of labelling. For example, in web cases any kind of additional description (ARIA roles, usually) will over

[2021-09-17 01:54] codemonkey800 commented on #3390
Sounds good, thank you! That makes me wonder how this will play with the design, specifically these sections:

Reviewing the designs for the napari theme, levels 1, 2, and 3 TOC sections look like this:
<img width="500" src="https://user-images.githubusercontent.com/2176050/133710640-a2aa30d8-fc4a-4403-9ae7-2ebacb253894.png">

@liaprins-czi Given the current designs, how should we handle the use c

[2021-09-17 03:19] GenevieveBuckley commented on #3390
I'd say customizing the napari viewer is not a "getting started" topic, that's a little more advanced. I'd put it together with content about developing your own napari plugins, since that's most often when people want to do things with dock widgets.

[2021-09-17 06:28] psobolewskiPhD commented on #3337
Works as expected on my end.

[2021-09-17 06:46] hanjinliu commented on #3337
Worked fine too!

[2021-09-17 07:00] jni opened #3391 "3d click coordinates broken when viewer is displaying mixed-dimension data"
## 🐛 Bug

Trying to do a 3D editing operation on a 3D labels volume *overlaid on a higher-dimensional image* results in:

[code]

That's because `dims_displayed_mask` is created using the *full* dims model but this layer only has 3 of those dims.

## To Reproduce

[code]

Then click on an arbitrary label.

## Expected behavior

The label should be filled. It is sufficient to change `viewer.add_ima

[2021-09-17 07:03] jni commented on #3391
@nclack you were asking what sort of issues arise with having the slicing info on the layer, here's a good one! 😂

[2021-09-17 07:15] jni commented on #3390
Thanks @melissawm! 👋 It's so nice to have you on the team! 😊

I'll point out a couple of challenging places where the diataxis framework didn't quite fit with our existing map, or where we didn't quite know where on the framework to put particular pages.

## plugins

<img width="233" alt="Screen Shot 2021-09-17 at 5 09 04 pm" src="https://user-images.githubusercontent.com/492549/133739882-dd83c86d

[2021-09-17 07:57] Czaki commented on #1713
@tlambert03 It was still not solved. For example usage of Array class https://github.com/napari/napari/blob/c53f34e85c4fa4e2a767521ea7304cb735fa0c4d/napari/utils/events/custom_types.py#L24
cause that tools expect given subclass of the array. I will look to check if it could be solved using `.pyi` files but please open again.

[2021-09-17 08:11] Czaki opened #3393 "Verbose failture of hooks load"
## 🚀 Feature

Allow selecting to turn on by default verbose failure of load napari plugin.

## Motivation

For many less experienced people, it is hard to understand why their plugin is not showing on the plugin list, or why they cannot load/save some files. Adding an option for verbose failure may allow to faster identify the source of the problem (because a person could see Import error etc).

M

[2021-09-17 09:48] ViktorvdValk commented on #2209
I ended up using the "napari_experimental_provide_dock_widget()" for the elastix plugin instead, so I won't be able to tell you if the function widget is still an issue.

[2021-09-17 09:59] tlambert03 commented on #2209
Thanks!  I'm going to close this as not actionable for now.  But of course let us know if you're blocked by anything like this again

[2021-09-17 09:59] #2209 closed, assigned to nobody

[2021-09-17 10:07] tlambert03 commented on #3337
Thanks!

[2021-09-17 10:07] #3337 closed, assigned to nobody

[2021-09-17 10:39] tlambert03 commented on #1713
This issue was about solving the problem that dynamic method generation caused.  That issue has been solved with the stubs.  If you're saying the array class isn't perfect, that feels like a different issue entirely.  Do you have an actionable "todo" with a concrete example?

[2021-09-17 11:38] tlambert03 commented on #3393
just to add to this...  the most important thing is to turn off the "storage" of plugin disabling in the settings.  That used to make sense before we had persistence, but doesn't anymore.  Without that, people can use `napari --plugin-info -v` to get all the information about why their plugin isn't working. with it, they will only see it on the first run

[2021-09-17 11:53] kevinyamauchi commented on #3343
I've thought about this a bit more and I am not sure that adding a `depth_test` flag is the right approach here. I made a small PR showing this approach (#3395). The issue with a `depth_test` flag is that we set `depth_test` when we set `blending` modes, so they can "fight" eachother.

I now think the best approach is to add another blending mode that is  the same as`translucent` with the exceptio

[2021-09-17 12:29] jni commented on #3343
@kevinyamauchi I must say I'm rather agnostic here, but yes, I do have a slight preference to your second approach.

[2021-09-17 12:33] tlambert03 commented on #3393
see https://github.com/napari/napari-plugin-engine/pull/37
I'm about to release a new version of the plugin engine (v0.2.0) which will prevent blocking of plugins that fail to load.  After that, `napari --plugin-info -v` can be used to debug plugins that fail to load at all.  (for plugins that _do_ load, but then have failures during execution, those errors show up in the plugin errors menu)

[2021-09-17 12:40] melissawm commented on #3390
@jni I agree - I didn't even touch the plugin section because I think it is very natural for that to stay grouped together. Same goes for the Community section. I like to think of the Diátaxis framework as a guide, but not a rule - it is totally fine to do something different. The ultimate rule is to help readers find what they are looking for easily :)

Thanks for the suggestions, I'll update the

[2021-09-17 12:41] tlambert03 commented on #3393
v0.2.0 is out.  With that change, someone can run `napari --plugin-info -v` as much as desired to debug their plugins without blocking their plugin.  for example in https://github.com/AllenCellModeling/napari-aicsimageio/pull/25, @psobolewskiPhD would have seen the following error:

[code]

This traceback would still be hidden to the average user (because rogue plugins should not muddy up the user

[2021-09-17 12:43] kevinyamauchi commented on #3374
I agree this is a tricky one. I will think about it some more, but I am not sure how to make additive blending work with a white background without more complicated rendering. I am just spitballing, but maybe rendering the scene with additive blending  and a background color like [0, 0, 0, 1]  or [0, 0, 0, 0] and then translucently blending that with a white background.

[2021-09-17 12:51] melissawm commented on #3390
Other thoughts:

The Roadmap I think can either go into community, or stay as a top level item (I tend to like the second option best, same for the release notes).

One thing we talked about in the docs working group (@chili-chiu ) is having videos for highlights of each release, so this could go under the release notes, as the top of each release notes page.

@codemonkey800 if the nesting is too

[2021-09-17 15:02] goanpeca commented on #3335
So can we close this? or we need to update single to double quotes somehwere?

[2021-09-17 15:11] goanpeca commented on #3390
Thanks @melissawm, this looks pretty cool :)

I have mentioned this on other threads or issues but cannot recall now where so here it goes :)

I think it is important to have a distinction in the documentation in terms of:

1. UI Users: Users that do not know about python and maybe will never care
2. Power Users: Users that do know about python and want to use it to take their work to the next lev

[2021-09-17 15:16] psobolewskiPhD commented on #3390
I feel seen! When i first saw napari mentioned on twitter while back and went to check it out and saw that as the **simple** example, I said: ah, python, which I don't know. Never mind. And moved on.
Of course, this was a very stupid thing to do because napari is awesome, python isn't so bad, and there is a GUI app you can interact with by drag-n-drop or normal menus.

How to get that across? No i

[2021-09-17 15:19] Czaki commented on #3393
Looks promising. Ten solution of this Issue should be put relevant information in napari debug tutorials?

[2021-09-17 16:18] tlambert03 commented on #3393
yep, agreed.  I'm going to close this issue since we already have https://github.com/napari/napari/issues/2948

[2021-09-17 16:18] #3393 closed, assigned to nobody

[2021-09-17 16:40] liaprins-czi commented on #3390
@codemonkey800 Ideally if a section has any of its pages within a group, all of the pages would have a group, that is the most consistent way to organize the content and most understandable, in my knowledge of UX at least! But I am curious what @melissawm thinks? Is it feasible for all documentation pages to have a group _if they belong to a section wherein other docuemtnation pages have a group_?

[2021-09-17 16:41] tlambert03 commented on #3390
and look at your python chops now @psobolewskiPhD! 😂   you've been doing amazing stuff in just a couple months

I do agree that users `1` need a little more love. but I don't think it's a foregone conclusion that that user base is the "real"  or "biggest" eventual target of all of this (i.e. that teaching people how to access it all programmatically is just a stop gap until we eventually make it a

[2021-09-17 16:45] tlambert03 commented on #3335
the readme, as per @kevinyamauchi's original expectation:

[2021-09-17 17:09] psobolewskiPhD commented on #3390
It's all thanks to y'all for all the help and patience and your users on twitter that make napari look so awesome!
❤️‍🔥
I really wish I woulda dove in earlier, like in December when I started doing more ImageJ stuff, but I just wasn't comfortable with the python idea. Then working with ImageJ macros and having some git issues, hitting some walls, and *bam* I was ready. The mental model clicked—I'v

[2021-09-17 17:15] melissawm commented on #3390
I think there are two important visions here:
- We want to acknowledge some of the newcomers to napari that have zero Python experience;
- We want to give them a path forward and potentially use napari as an excuse to teach them Python.

I do believe this can be achieved with a smoother introduction - maybe starting from completing a GUI task to give them the confidence and familiarity with napari

[2021-09-17 17:17] tlambert03 commented on #3390
yep! it would be great to have a "start here if you have zero python experience" portal visible somewhere on the first page.

[2021-09-17 17:22] psobolewskiPhD commented on #3390
This!
The homepage does mention the GUI app install, but it's sort of in passing while diving into `pip` (BTW, I think conda/mamba works now too). I think there at the start one could try to fork the path for the incoming user, maybe with a graphic/iconic link to a GUI path, which would also show—vid? animated GIF?—some basic GUI only operations.

[2021-09-17 17:26] melissawm commented on #3390
If I understand correctly, all pages would have a group (which is the top-level header). All H2 titles will be under exactly one H1 title, for example. So I don't see the issue, but maybe I am missing something.

It does, and I also think this would be the best solution!

[2021-09-17 17:39] goanpeca commented on #3335
Ahhh ok

[2021-09-17 17:42] codemonkey800 commented on #3390
@melissawm What about H3 titles under H2 titles? For example, you have the following listed here:

I'm assuming `Layers at a glance` and `Image, labels, ...` will be H3 titles under the H2 title `Using Layer`?

[2021-09-17 18:45] melissawm commented on #3390
Ah yes, but that's not a hard requirement. If that complicates things for the toc we can re-think how that is displayed.

[2021-09-17 20:45] codemonkey800 commented on #3390
It does complicate things a little, because the UI assumes that an H1 title will either be:

1. All H2 titles without H3 titles.
2. All H2 titles with H3 titles

But the use case of some H2 titles having H3 titles mixed with some H2 titles not having H3 titles make it tricky since we don't use indentation for separation of levels.

If it's possible to organize it using one of the two approaches I

[2021-09-17 20:53] liaprins-czi commented on #3390
Maybe I was confused in my initial response; when I said "I had this same thought when I saw the proposed organization from @melissawm ! Or more ideally I think we'd still show the full hierarchy on the parent ToC page, but not in the sidebar menu. Does that make sense?" I was actually thinking of the "Layers at a glance and Image, labels, ... " example. So the way I was envisioning it (and I can

[2021-09-20 00:23] GenevieveBuckley commented on #3390
Re: the mechanics of this idea - are we going to make a napari youtube channel to host this type of content, and then embed those short videos in the HTML? (I think this makes the most sense)

Also, a youtube channel would give us the option of making playlists of napari content from elsewhere (eg: can link to all the napari tutorials previously given, making them easier to find, [like these](http

[2021-09-20 06:30] kevinyamauchi commented on #3343
Sounds good. I'll make a PR with the second approach today and close #3395.

[2021-09-20 16:04] #3335 closed, assigned to goanpeca

[2021-09-20 16:11] goanpeca commented on #3390
I completely agree with this vision!

Absolutely, I don't think of this is a cater to `1` users at the cost of the `2,3` users. As mentioned during the meeting, "we" are probably not a representative sample of users out there since we are power users (closer to `3`, than to `2` I would say), so we are inevitably biased to ignore `1` users. Unless we "force" ourselves to make sure UI users get the

[2021-09-20 16:13] goanpeca commented on #3390
On another note, it seems this thread is now mixing a lot of different topics around the original one, maybe we could do the convo around H2/H3 and display technicalities in another issue dedicated to that :)

[2021-09-20 16:44] codemonkey800 commented on #3390
Agreed, it also would be cool if we could enable the Discussions tab on the napari repo so we could have the separate discussions in different threads 🤔

[2021-09-20 23:17] GenevieveBuckley opened #3399 "Enable discussions feature on the napari repo"
## 🚀 Feature

Enable the discussions feature on the napari repository.

## Motivation

Often, discussions in issues ([example](https://github.com/napari/napari/issues/3390)) end up having multiple topics discussed. It might be nice to have a dedicated place for these types of speculative discussions where new topics can easily be created.

## Pitch

@codemonkey800 has suggested that it would be he

[2021-09-20 23:18] GenevieveBuckley commented on #3399
Probably a question best for @sofroniewn or @jni to answer?

[2021-09-21 04:30] sofroniewn commented on #3399
I don't mind. I think when they first came out we worried that they might be duplicative with the zulip, but not everyone is in the zulip and maybe there are for a slightly different person. I think it's fine to enable them and then if people organically use them they will take off, if not there won't be much activity and after a while we could close. I don't think its too bad to have one more pla

[2021-09-21 04:37] nclack commented on #3399
I worry about splitting folks over multiple platforms.  I'm not very familiar with github discussions though.

IMO, github issues and zulip (and github discussions?) will have problems with tasks involving gathering broad collaborative feedback. PRs work better but are only for code.  @andy-sweet used hackmd for a shared design doc for #3327.  I thought that worked pretty well.  Maybe there are be

[2021-09-21 09:04] GenevieveBuckley commented on #3399
I kind of worry about splitting things up over too many places too. I personally will often forget discussions exist and find they can go stale more easily if inactive than issue threads (because I'm more likely to look back over the issue list at some point).

[2021-09-21 11:25] brisvag commented on #3343
Relevant discussions on vispy:
- vispy/vispy#2039
- vispy/vispy#2208

I *think* that the OIT PR is what we need to solve a lot of our problems (including how ugly antialiased borders are currently), but I tried my hand at it and it's really hard stuff. We need someone with more experience than me to pick it up, or asnt to find the time to work on it :)

[2021-09-21 15:02] MathieuBo opened #3401 "viewer.layers[...].to_labels() not working"
## 🐛 Bug

Hi all,
Following @sofroniewn's [tutorial](https://www.youtube.com/watch?v=VgvDSq5aCDQ), I have been trying to transform a shape layer to labels. Surprisingly, although not throwing any kind of error message, using ```to_labels()``` leads to random behavior. The different shapes are not transformed into labels. After some investigations, it seems that only the shape closer to the origin

[2021-09-21 17:23] goanpeca commented on #3270
Settings are parsed early on, so I am not sure about this. Thoughts @tlambert03 ?

[2021-09-21 17:33] lukasz-migas commented on #3270
Indeed,  I couldn't think of how to solve this to be honest. Perhaps once the new plugin architecture is developed/finalised it will be possible to fix? That of course will only fix the plugin-provided themes issue.

[2021-09-21 17:36] tlambert03 commented on #3270
yeah, definitely easier with the manifests... probably possible to fix now too? but would need to look deeper (and it might not be an elegant fix)

[2021-09-21 17:46] codemonkey800 commented on #3399
Somewhere for conversations where certain topics can branch into separate threads is mostly what I was going for. I'm sure hackmd and Zulip work well for it, but the #3390 and also #3399 were created in issues instead of those platforms anyway.

I guess some clarity on where certain things should go would be great. For example, issues could be for bugs/regressions/etc. that show up in napari and h

[2021-09-21 17:52] melissawm commented on #3390
This makes perfect sense and I agree.

My plan is the following:
- Make a draft PR with the new reorganization without touching any of the docs for now
- After that first PR is approved and merged, start refactoring docs themselves

With the draft and rendering of the first PR, we will see concretely how that looks with the TOC and theme and can make better decisions. Let me know if this is reason

[2021-09-21 18:22] Carreau opened #3404 "Theme testing incredibly slow in CI"
Here is an excerpt of slowest tests duration.

[code]

`napari/utils/_tests/test_theme.py::test_theme` is parametrized with 6 alternative, and each takes between 10 and 15 second on github, so we use between 1 and 1min30 (between 5 and 10% of our test suite), just to test theme.

We might want to just skip this on Python != 3.9 if we don't want to dig into why it's slow.

[2021-09-21 18:23] Carreau commented on #3404
@goanpeca might have an idea ?

The full test is:

[code]

[2021-09-21 19:31] goanpeca commented on #3404
Hi @Carreau ohh that is very slow. That code was probably still there. Will look at your PR :)

[2021-09-21 19:39] nclack commented on #3399
That's pretty nice.  I think that alone makes it worth trying out.

[2021-09-21 20:16] nclack commented on #3374
I like @psobolewskiPhD's suggestion to use a gray background by default for light mode.  See e.g. blender's [light theme](https://docs.blender.org/manual/en/latest/editors/preferences/themes.html).

When choosing the blending mode, are users mostly trying to control how layers composite together?  Different modes could be used for drawing most of the foreground vs compositing w the background.  Th

[2021-09-22 01:02] GenevieveBuckley commented on #3399
You can do this for issues too.

Zulip is good for interaction, not so good for having a documented record (the conversation exists, it's just not always easy to find, and not everyone is on zulip to weigh in there). So that might help for deciding what conversation goes where.

[2021-09-22 01:07] GenevieveBuckley commented on #3390
Good plan @melissawm

[2021-09-22 06:00] jni commented on #3390
@goanpeca as you have no doubt gathered by now I am somewhat apprehensive about going all in on the "UI docs first" approach. I think the Excel analogy is somewhat appropriate *if* Excel was instead called pandas (the bundled app), and going to pandas.pydata.org gave you the Excel docs and you had to dig around if you wanted to find the pandas API docs. If that was the case I doubt I would ever pi

[2021-09-22 06:50] lukasz-migas commented on #3404
Wow, that is slow as hell. I just checked #3034 and these tests were not amongst the 5 slowest on none of the platforms/python versions so something must have changed to cause this.

[2021-09-22 07:19] tibuch commented on #2352
Is there a specific reason to limit the label values to positive values only?

From an annotation point of view it would be interesting to have at e.g. -1 available as 'unknown' label and then 0 as background (transparent) and positive values as foreground instances.

Further more it is currently possible to create negative label values by overflowing the data type, however they are invisible in t

[2021-09-22 08:40] perlman commented on #2352
None that I can think of. Any value should be a valid label, but as a practical matter I think only 0-2^53 currently work. This should be addressed when #204 is finally resolved, something I'm looking at with help from @jni.

[2021-09-22 12:48] melissawm commented on #3390
I like this, but I'd even argue that you could go with actions instead of profiles

- Do you want to learn about how to use the napari app for data visualization?
- Do you want to learn about how to use Python to explore data with napari?

[2021-09-22 13:04] jni commented on #3390
Love it, way better @melissawm! :clap:

[2021-09-22 13:29] jni commented on #3401
Hmmm, very strange @MathieuBo, I am seeing similar but not exactly the same behaviour:

![to_labels](https://user-images.githubusercontent.com/492549/134351833-a7f47318-f4dd-4329-8c61-5e94e3bf4fde.png)

it looks like the logic that determines the default shape of the labels layer is faulty. Have a look at `viewer.layers['lab'].shape`: it will be much smaller than the full extent of the shapes.

If

[2021-09-22 14:05] MathieuBo commented on #3401
Thanks a lot @jni for looking into that! The workaround works like a charm :)
BTW, what you observed is similar to what I got sometimes. The behaviour is quite erratic

[2021-09-22 15:32] brisvag commented on #2418
This was closed by #3181! :) :tada:

[2021-09-22 15:32] #2418 closed, assigned to nobody

[2021-09-22 17:54] sofroniewn commented on #3390
Yes, I much prefer actions over profiles too - great suggestion @melissawm - we could do

- Do you want to learn about how to use the napari app for data visualization?
- Do you want to learn about how to use Python to interactively explore data within napari?
- Do you want to learn about how to build and share a napari plugin?

As three core actions. The could also be

- Do you want to learn abou

[2021-09-22 17:59] sofroniewn commented on #3399
Ok I think this means that we can turn them on, see how we like it, and then if we decide we don't like it we can convert everything over to issues and close it or just close it. That would be my vote. Happy to still hear more from others though. If i don't hear anything within a day or two I'll just turn them on

[2021-09-22 18:09] sofroniewn commented on #3401
I'm guessing the problem is that the Shapes Layer doesn't know the underlying size of the Image layer (i.e. is it 512x512, or 1024x640) and so if a `labels_shape` is not provided it just looks at the full extent of the data it currently has here

https://github.com/napari/napari/blob/95a5d06fe36f10fb26f5798f1327a3ea082d581f/napari/layers/shapes/shapes.py#L2941-L2944

and guesses what it should be.

[2021-09-22 18:14] #1450 closed, assigned to andy-sweet

[2021-09-22 18:18] Carreau opened #3409 "Shapes, Vectors, and Tracks thumbnails are not centered"
## 🐛 Bug

#1450 pointed out that point layer thumbnail was incorrect and #3406 fixed it but pointed out that the same is true also for Shape and Vectors layers.

For example, see the following screenshot for shapes.

<img width="1080" alt="Screen Shot 2021-09-22 at 11 16 54 AM" src="https://user-images.githubusercontent.com/335567/134399322-c0cc31d4-5a70-499e-a72a-2c9ddcb1ec48.png">

@andy-sweet r

[2021-09-22 18:46] #3399 closed, assigned to nobody

[2021-09-22 22:22] #2661 closed, assigned to nobody

[2021-09-22 23:03] jni commented on #3401
Oh I see it now: it subtracts the smallest coordinate. Clearly that's wrong — it should start at 0, right? Alternatively, *all* the coordinates should get offset with `- self._extent_data[0]`.

[2021-09-22 23:13] sofroniewn commented on #3401
Yeah, should be one or the other. i'd probably expect most folks want to start at `0`. There could be an `origin` kwarg if needed

[2021-09-23 02:56] GenevieveBuckley opened #3532 "Docs page - how new users can contribute tutorials"
We need a docs page explaining how new users can contribute tutorial content.

I think we should assume:
* The user is starting from a jupyter notebook they've put together
* The user needs to know how to convert that into the right format using jupytext
* The user needs to know about how to use demo datasets, or how to contribute their own demo dataset

Useful links:
* https://jupytext.readthedoc

[2021-09-23 03:57] #3125 closed, assigned to DragaDoncila

[2021-09-23 18:31] grlee77 opened #3410 "possible bug in affine transform slicing"
## 🐛 Bug

When trying to open a volume with a supplied affine matrix of shape (4, 4), some permutations of axes can result in a crash.  I understand that general affines are not currently supported, but in this case, the data is aligned along the orthogonal axes, just in a permuted order. Is this currently expected to work?

cc @andy-sweet (I mentioned this in the architecture working group meetin

[2021-09-23 20:59] i-jey opened #3411 "Code snippets on napari tutorials documentation displaying traceback errors"
## 🐛 Bug

The code snippets on the napari tutorials page are showing traceback errors.
See the tutorial page: https://napari.org/tutorials/index.html

Here is a screenshot of what I see on my end:
![image](https://user-images.githubusercontent.com/25993326/134583060-2707977a-63d8-49e9-9af2-0961734b3dfe.png)

[2021-09-23 21:14] psobolewskiPhD commented on #3411
I was supposed to post an issue on this, but forgot 😢
Anyhow, there's also issues here:
https://napari.org/tutorials/fundamentals/vectors.html
and broken image links here:
https://napari.org/plugins/stable/find-and-install-plugin.html

edit:
Also, this example: https://napari.org/docs/0.4.4/api/napari.qt.html?highlight=dock_widget#napari.qt.Window.close
Should it look like that? I hope not...

[2021-09-23 21:45] andy-sweet commented on #3410
Thanks @grlee77.

My first reaction is that this represents a general bug around `Affine.set_slice` when that represents a transform 3 or more dimensions with more than just scale and translate. If so, this should probably be bumped up in priority.

For example, if we slice a 3D matrix in 2 dimensions (as happens when visualizing a 3D volume in 2-dimensions), then `Affine.set_slice` effectively tr

[2021-09-23 23:40] ppwadhwa commented on #3131
Is this issue still a problem?   I just created a fresh environment, installed napari from github, conda installed napari-bioformats, and found a sample .nd2 file to open.  It worked for me!  I saw that the bioformats reader was also listed at the top when I looked at the plugins list.  I moved things around just for fun and still no problem.  Let me know if I should keep digging here.  I also did

[2021-09-24 04:53] jni commented on #2778
Here's the article:

http://alvyray.com/Memos/CG/Microsoft/6_pixel.pdf

I actually never really realised who the author was. Turns out to be one of the pioneers of digital image processing and digital graphics, inventor of the alpha channel (!), Lucasfilm employee, and cofounder of Pixar (!). He recently published an autobiography and Wired did a fascinating profile on him:

https://www.wired.com/

[2021-09-24 05:14] jni commented on #3411
Bahaha no it should not, thanks both for raising this. We have a dedicated group looking at our docs now, hopefully all this (and more) will be fixed soon.

[2021-09-24 06:47] jni commented on #3131
I can't reproduce either. I'll close and reopen if I ever run into it again.

[2021-09-24 06:47] #3131 closed, assigned to ppwadhwa

[2021-09-24 15:39] isabela-pf commented on #2257
I’m always happy to see issues opened that cover accessibility! Here are some thoughts on what these colors lack and what they could be updated to.

## Current state

I’m still new to napari, so please let me know if this information sounds incorrect or incomplete.

- There are 8 colors (and an additional background color) that the console currently uses.
- Light and dark mode does influence the b

[2021-09-24 15:42] isabela-pf commented on #3283
Comment with proposals for fixing this over on [#2257](https://github.com/napari/napari/issues/2257#issuecomment-926725998)!

[2021-09-24 16:05] isabela-pf commented on #2142
I found this issue via #3287, but it looks like you've already agreed on what the crosshair styling should look like. Are y'all still interested in seeing other crosshair designs?

[2021-09-24 17:21] goanpeca commented on #2142
Always :)

[2021-09-24 17:28] goanpeca commented on #2257
Sounds good @isabela-pf !

Just wondering if every new theme will need to also update theses colors? I gues that would be the case right?

[2021-09-24 20:08] sofroniewn commented on #3410
Yeah this is definitely a bit funky - I think the warning was being thrown as we knew this was quite going to work out, but we should try and do better now - at least for these cases when an orthogonal view is actually being requested, just a permuted one.

we now though have a lot better support for non-orthogonal slicing in the shader. So we could try and take advantage of that here or implement

[2021-09-24 20:17] lauramarcos opened #3415 "Napari bundle app crashes"
## 🐛 Bug

Napari just shows a message stating "App has crashed" and starts open applications like crazy until killing all of them and it stops by killing Naparis

## To Reproduce

Steps to reproduce the behavior:

1. Open napari
2. Click on Plugins -> Install/Uninstall Package(s)..
3. Install plugins and uninstall them until app crashes

## Expected behavior

App should not crash

## Actual result

[2021-09-24 21:10] DragaDoncila commented on #2257
@isabela-pf thanks for looking into this, they are beautiful! I tend to agree that it's going to be difficult to share one scheme across the dark and light themes.

I absolutely love the dark theme colours you've come up with I think they're so cute! But I also agree that consistency for users is very important and would therefore rather lean towards using the napari hub/napari.org colours in our

[2021-09-26 23:41] jni opened #3418 "Register our progress bars with dask"
## 🚀 Feature

Please feel free to close if this is done already, I haven't followed the recent, erm, progress on progress bars.

I read [this blog post](https://coiled.io/blog/how-to-check-the-progress-of-dask-computations/) over the weekend and noticed the dask progress bar global `register` function and context managers. We already use a dask context when slicing dask arrays, so we could probabl

[2021-09-27 00:26] jni commented on #3415
Wow! :grimacing: That is so terrible! :joy: I know @goanpeca and @jaimergp are hard at work on rearchitecting how the bundle even works, so hopefully this will disappear altogether when that effort is done.

[2021-09-27 00:30] tlambert03 commented on #3418
i like it!  just so I'm clear though.  you're talking detecting whether the user has provided a dask array, and hooking into the task API to provide a little feedback right?  (not useing the dask progress API as a more general backend)

[2021-09-27 16:42] goanpeca commented on #3415
I think I have an idea of what is going on :-p

Working on this!

[2021-09-27 17:22] goanpeca opened #3420 "Add all contributors"
## 🧰 Task

@neuromusic posted this on zulip (@melissawm also on slack)

Tracking here :)

"GitHub - all-contributors/all-contributors: :sparkles: Recognize all contributors, not just the ones who push code :sparkles:" https://github.com/all-contributors/all-contributors

[2021-09-27 17:36] goanpeca commented on #3420
@sofroniewn we could use this bot to help https://allcontributors.org/docs/en/bot/installation :)

[2021-09-27 19:19] tlambert03 opened #3421 "`normalize_dtype` excludes big endian types"
## 🐛 Bug
[code]

[2021-09-27 19:57] tlambert03 opened #3422 "Dask images are often posterized after initial load + autoscale"
## 🚀 Feature
in a previous PR, we made it so that contrast limits aren't auto-calculated on dask images, so as to prevent extra compute.  (sidenote: we've since fixed up some things about dask... so the situation might not be as bad.)  However, if the contrast limits are a very small percent of the total bit depth, then you get posterization of the image after hitting autoscale (this is related to

[2021-09-27 19:57] meg-bit commented on #3261
I uninstalled everything and created a new environment for it. Before I installed jupyter notebook using `conda install -c conda-forge jupyter notebook`, **I first ran napari in the command line to check. Napari does not run even without installing jupyter notebook yet.**

(napari-env) PS C:\Users\whh> napari
Traceback (most recent call last):
  File "c:\users\whh\anaconda3\envs\napari-env\lib\run

[2021-09-27 21:01] kolibril13 opened #3423 "Copy `rendering` documentation for `average` to class property"
It is possible to set the rendering to `average` programmatically:
`viewer.layers[0].rendering= 'average'`
But it does not show in the API.
https://napari.org/api/stable/napari.layers.Image.html#napari.layers.Image.rendering

It was added here:
https://github.com/napari/napari/commit/fcbf8cd35274ec46451347b3cbbe455ae999477b

And has also documentation here:
https://github.com/napari/napari/blob/fc

[2021-09-27 21:22] isabela-pf commented on #2257
@goanpeca by "every new theme" do you mean themes added in the future or via plugins? I'm asking because I only saw light and dark themes in default napari and so that's all I was accounting for so far.

If there are other themes, the most important ones to keep meeting contrast standards are the default ones napari viewer proper maintains. While I'm always going to advocate for it, other themes m

[2021-09-27 21:42] goanpeca commented on #2257
I think we can now add themes via plugins, so thinking of those. I think we could offer some checks on this values to guide users. Default themes in napari are indeed those 2 alone.

Will think of how to pro ide better feedback and do some checks on the colors :)

Thanks!

[2021-09-28 00:47] #3343 closed, assigned to kevinyamauchi

[2021-09-28 02:25] #3421 closed, assigned to nobody

[2021-09-28 02:59] sofroniewn commented on #3420
Great! Yes, I love it - there was lots of support for this on the zulip, including from @jni so i think we're good to move forward with this

[2021-09-28 05:19] sofroniewn commented on #3422
I just approved #3425, though it does seem like

would be a more appealing long term solution to all this

[2021-09-28 13:17] brisvag opened #3428 "Broken ndimensional points"
## 🐛 Bug

due to #3381, n-dimensional points appear to be broken. Also, the dims slider seems to be broken with a singleton dimension.

## To Reproduce
With this code, you won't see the point. However, it will appear if you enable `n_dimensional`. Moreover, I would expect the dims slider to either not appear, or to show a range of (0, 0), not (-1, -1).

[code]

## Expected behavior

The point shou

[2021-09-29 02:17] grlee77 commented on #3428
Ouch, I will take a look and see about adding a new test case to catch this! I think I only tested overlaying points on an image when working on #3428 and that was looking okay.

For, example adding an image layer as in the modified example below, does get the point to show up.

[code]

[2021-09-29 04:43] #3401 closed, assigned to nobody

[2021-09-29 06:30] MosGeo commented on #1005
I'll make a quick note here as I am doing some tests on this. The example in the matplotlib qt website works perfectly (even the dynamic one). One thing that might help some people is that after updating the canvas in a function that is not __init__ (e.g., using a button), you have to manually refresh the `canvas` by calling the `draw` function.

From my side, i am still considering the advantages

[2021-09-29 08:51] jaimergp commented on #3261
Hm, `toolz` is listed there and there have not been any recent releases. Might be a `sys.path` issue? Can you run `python -m napari` instead? Also, let's check for the output of the following commands after activating your `napari-env` environment.

[code]

Thanks!

[2021-09-29 11:41] Czaki opened #3431 "Exceptions on menu close"
## 🐛 Bug

`closeEvent` of `NapariMenu` is called on every hide of the menu, not when destroying viewer.

[code]

## To Reproduce

Steps to reproduce the behavior:

1. open viewer
2. open one menu two times
3. see exception

## Expected behavior

Opening menu multiple times should not produce exceptions

## Environment

 - Please copy and paste the information at napari info option in help menubar

[2021-09-29 14:26] jaimergp opened #3432 "Create `napari-menu` conda-forge package"
This will be just a wrapper package that provide menu entries for `napari` so they can be used by the new `constructor` installers.

Future work might also involve adding `menuinst` support for other platforms/desktops (e.g. Gnome and others on Linux).

xref https://github.com/conda-forge/napari-feedstock/issues/28

[2021-09-29 15:55] tacaswell commented on #1005
`fig.canvas.draw_idle` is better than calling `fig.canvas.draw` as it will defer actually rendering until the next time the canvas is going to repaint itself so it is efficient to call many times between screen re-draws.

[2021-09-29 16:18] meg-bit commented on #3261
Thank you. I checked.

Running `python -m napari` results in the same error as running `napari`.

Running the commands you gave me:

(napari-env) PS C:\Users\whh> python -c "import sys, os; print(sys.executable); print(*sys.path, sep='\n'); print(*sorted(os.environ.items()), sep='\n')"

C:\Users\whh\anaconda3\envs\napari-env\python.exe

C:\Users\whh\anaconda3\envs\napari-env\python38.zip
C:\Users\

[2021-09-29 16:22] tlambert03 commented on #3261
interesting, looks like you have a global python install site-packages in front of your environment's site-packages in your path `C:\Users\whh\AppData\Roaming\Python\Python38\site-packages`

@jaimergp ... do you agree that might be problematic?

[2021-09-29 16:36] jaimergp commented on #3261
Absolutely. That path there is probably added by another installation and is messing with the import mechanisms. It might have been set through the registry or a .pth file. To make sure you are not using it, you can temporarily rename that directory to something else (don't delete just yet, it might be important for other programs in your system), and let's see if that solves it!

TLDR:

Rename `C

[2021-09-29 21:02] goanpeca commented on #1005
This is pretty cool. So the idea @sofroniewn would be to have a default "plots" dockwidget, correct?

Do we want this to be a core feature of napari, or a plugin? (even if developed internally as a plugin)

Would love to work on this :)

[2021-09-29 21:08] tlambert03 commented on #1005
one of the reasons we paused on #823, and the [`NapariPlotWidget` idea](https://github.com/napari/napari/pull/675/files#diff-c1e44ab8f10d471bff02191e74d28e3116b3c4f4c9c0285d24489239173cdabbR7) in #675 was in part because the scope of a "default plotting" widget quickly got out of control.  I think the general feeling at this point is that this should start as a plugin, and if something emerges as

[2021-09-29 21:15] andy-sweet commented on #1833
Assigned to myself, because I'm hoping to fix this with [PR 3277](https://github.com/napari/napari/pull/3327).

[2021-09-30 02:57] GenevieveBuckley commented on #3390
This week we discussed how to make content related to previous napari workshops visible to new & existing users. This is very important, because there is a lot of great information conveyed in those workshops, and workshops also tend to have an overarching learning plan.

The best idea we came up with was:
* Let's make a list and link to workshop videos & materials, see https://github.com/napari/n

[2021-09-30 02:58] sofroniewn commented on #1005
@goanpeca that's great! As @tlambert03 said, I'd definitely encourage reaching out to and potentially teaming up with @lukasz-migas around his 1D plotting which I believe uses vispy under the hood.

Additionally I think making it as easy and smooth to do matplotlib widgets in napari makes sense - that could actually just be a really good tutorial

finally i do think it would be good if we started

[2021-09-30 03:14] jni commented on #3423
Thanks for pointing this out @kolibril13! I agree that this would be good to add. Would you like to make a pull request adding this note?

[2021-09-30 03:16] jni commented on #3418
Yup that's what I meant @tlambert03

[2021-09-30 09:35] brisvag commented on #906
To follow up on our [discussion on zulip](https://napari.zulipchat.com/#narrow/stream/296574-working-group-architecture/topic/meeting.20.28named.20dimensions.20and.20indexing.29), here's how someting like the above example looks like using xarray.
Unfortunately, coordinate-based data like points and vectors has to be handled separately compared to "dense" data lime images (but that's the case in a

[2021-09-30 10:30] kolibril13 commented on #3423
It is at #3436.
First time I used the new GitHub webIDE making a pull request by pressing "." .
Really useful feature!

[2021-09-30 11:44] kolibril13 opened #3531 "remove references to the "gallery" that does not exist"
Here is mentioned a gallery: https://napari.org/tutorials/index.html#getting-started
![image](https://user-images.githubusercontent.com/44469195/135449102-20eb34d9-09e6-4627-a204-73b45bfa467b.png)
but it is not clear where to find it.
Can one add here a link to the gallery?

[2021-09-30 21:13] #3261 closed, assigned to nobody

[2021-09-30 22:16] alisterburt commented on #3432
By menu, you mean OS menus, not menus in napari itself, right?

[2021-09-30 22:53] goanpeca commented on #3432
Correct!

[2021-10-01 02:19] GenevieveBuckley commented on #3531
@jni is this an aspirational mention of a gallery? I don't think it exists anywhere...

Asking you since I know you were keen to do something similar to the [scikit-image gallery](https://scikit-image.org/docs/stable/auto_examples/) here.

Note: we have two files mentioning "gallery", see https://github.com/napari/napari.github.io/search?q=gallery

[2021-10-01 09:36] VolkerH commented on #2487
I would like to  bump this. After trying to debug a similar problem, @jni pointed me to this issue.
After stepping through with the debugger I can see that this is related.

What I observe:

I add a 5d multiscale, multichannel array as an Image layer, also passing in a channel_axis.
The array is displayed.

Now, I add a 5d label image as a Labels layer. After adding the Labels layer, the Image lay

[2021-10-01 09:50] VolkerH commented on #2487
This particular problem for the multiscale arrays did not occur before commit
https://github.com/napari/napari/commit/9dd9fa6390ad4dfe9a08194de8c84e7e87bfeaa0
which introduced some changes how multiscale pyramids are handled.
However, I am not sure the underlying problem is in that commit, we just rely on corner_pixels there.

One of my  gut feelings is, that this has to do with `.dims_displayed`

[2021-10-01 14:15] tlambert03 opened #3441 "Persistence of full-screen mode confusing, hard to close/minimize"
## 🐛 Bug

Issue copied from @optomanishk image.sc: https://forum.image.sc/t/napari-opens-in-full-screen-mode-and-doesnt-function/58286

----

I’m using the usual example code from a jupyter notebook to start napari UI.
Code:

[code]

napari opens in this full-screen mode where none of the options (File - View - Window - Plugins - Help) work. There is no close/maximize/minimize button either.

I ge

[2021-10-01 15:52] sofroniewn commented on #2487
Maybe @grlee77 can look into this too and evaluate the proposals above.

[2021-10-01 18:23] ppwadhwa commented on #1310
I don't know if this is preferable, but we could add just a little bit of code to convert an array to rgba on the napari side.   I don't know if its slow with larger arrays.  Inserting the code snippet below to the `add_image` function, and then using the example that Genevieve posted above works and the NaNs are set to alpha=0.

Something like this:
[code]

[2021-10-01 19:02] tlambert03 commented on #1310
i think ideally, we'd like to avoid casting/copying data to a safe form if at all possible (that is, a `NaN` should probably stay a `NaN` in `layer.data` itself).  Which kind of means that every place in the code that looks at the data would need to be "ready" for nans.  So, things like `layer_utils.calc_data_range` should be using `np.nanmin/np.nanmax`, etc...  A good general way to test this wou

[2021-10-01 20:08] grlee77 commented on #3428
Sorry it took me awhile to get back to this. The issue is the following change to adding  `+ 0.5 * ss[i]` offsets in viewer model calls to `set_range` in #3428:
https://github.com/napari/napari/blob/315e2bf256f2e70fe96202beadeb8fb1458aca2b/napari/components/viewer_model.py#L339-L346

That change is correct for Image and Label layers, but I think we need the following instead for points:
[code]
whe

[2021-10-01 20:56] #3096 closed, assigned to ppwadhwa

[2021-10-02 03:28] jni commented on #2487
I think possibly this will require our refactor of slicing to do properly... BUT:

@VolkerH in https://github.com/aeisenbarth/napari-ome-zarr/pull/1 you wrote "a channel axis doesn't make sense for a labels image", but maybe we are wrong here. After all, I can easily imagine a different segmentation for the "cells/membranes" channel and one for the nuclei channel. ie a "channel axis" in labels mig

[2021-10-02 06:15] #3422 closed, assigned to nobody

[2021-10-02 06:38] jni commented on #3374
I don't think gray solves anything, it just brings us closer to saturation. (I also don't love having gray outside of the image region... that would look weird eg when displaying non overlapping tiles, or points/shapes that might exist outside of an overlaid image.)

imho we should:
- make background independent of theme as suggested by @Czaki
- use *subtractive* blending when using a white backgr

[2021-10-02 07:17] psobolewskiPhD commented on #3374
Yes! Light theme with invert-by-default LUTs would be :fire:!

[2021-10-02 08:09] Czaki commented on #3374
Canvas has `background_color_override` property added in #2270. Maybe it should be exposed to settings?

[2021-10-02 08:32] psobolewskiPhD commented on #3374
Switching the canvas to Black would solve the additive blending issue, but would make the Light theme look horrible, so it's not an ideal solution...

[2021-10-02 12:01] alisterburt commented on #3423
Closed by #3436 - thanks again @kolibril13

[2021-10-02 12:39] Czaki commented on #3374
For me, it looks ok (i use it in this mode).

[2021-10-02 23:41] #3431 closed, assigned to goanpeca

[2021-10-04 04:25] GenevieveBuckley commented on #1310
I've done this here, for the convenience of this discussion: https://github.com/napari/napari/pull/3446

Some good places to start digging into this are:

[code]

[2021-10-04 06:56] VolkerH commented on #2487
We actually had the same discussion, i.e. that it could make sense to have a channel axis for label images to group segmentations corresponding to different structures of the same underlying data.
So yes, it could make sense to add a `channel_axis` to labels layer. Should I open a separate issue for this?
And while this would fix the specific problem we encountered when combining a 5D label array

[2021-10-04 07:02] jni commented on #2487
probably a good idea!

Yes indeed, fixing your issue and fixing the overall problem are not necessarily the same. :+1:

[2021-10-04 07:03] VolkerH commented on #2487
Regarding the channel_axis: I see there are proposals to drop it completely https://github.com/napari/napari/issues/3019, so not sure about opening an issue introducing it for labels.

[2021-10-04 07:47] VolkerH opened #3447 "Introduce channel_axis argument to `add_labels`"
## 🚀 Feature

When adding label images it is currently not possible to assign a  channel_axis, in contrast to intensity images.
While channels in label images may not seem quite as intuitive as channels in intensity images (where they can correspond to different colors, for examples) they can be meaningful as holding segmentations of different object types. These could (but don't have to) correspo

[2021-10-04 08:01] jaimergp opened #3448 "PyPI source package contents"
## 🧰 Task

The PyPI source package (.tar.gz) contains the `/binder` directory, but lacks the `/resources` one (needed for icons in `napari-menu`). Two questions:

1. Is `/binder` there on purpose or accidentally? @goanpeca
2. Can we include `/resources` or is there anything against that?

[2021-10-04 15:38] brisvag commented on #906
Something else I encountered while playing around with dask: the current slicing system for points assumes "sparse" data for every dimension. This makes it impossible to leverage something like dask `delayed` for, say, a time series. This works:

[code]

EDIT: use case where I encountered this: trying to load a big molecular dynamics trajectory (potentially millions of atoms with billions of time

[2021-10-04 15:58] sofroniewn commented on #3447
Yeah, I still lean towards dropping `channel_axis` and just making it really easy to split by channels. If it isn't possible to split labels by channels in the layer specific context menu then I think we should just enable that. It means it takes an extra click/ API call - but I think it will be much cleaner. What does @tlambert03 think here?

[2021-10-04 16:36] tlambert03 commented on #3447
yeah, I'm still in favor of removing `channel_axis` and standardizing the return type.  Every downstream method that receives the result of `add_<layer>` would really benefit from not having to check `if isinstance(result, list)` for the chance that `channel_axis` was used.   so i'd vote for some sort of helper function in favor of adding a new parameter to `add_labels` that changes the return typ

[2021-10-04 16:56] goanpeca commented on #3448
Hi @jaimergp

Probably accidental, need to add an exclude on the manifest

@tlambert03 , @sofroniewn ?

[2021-10-04 16:59] tlambert03 commented on #3448
you can include it.  is it the icns files in there that you need?  we do have a resources folder of icon svgs that is already included at `napari/resources/icons`, you could either put it in there, or go ahead and update the manifest to also include that top level folder.

[2021-10-04 23:40] andy-sweet commented on #924
I tried to reproduce this on the main branch in Python 3.7 and 3.9 environments, but I don't get an error when calling `viewer.add_image` with the given image.

I can change the contrast limits and gamma, which are needed here because by default the image is hard to see. That's because the contrast limits are calculated from the [min, max] of the data as [0, 4095], but after averaging over the col

[2021-10-04 23:48] andy-sweet commented on #924
One other potential bug is that after changing the contrast limits to a more visible range, there is much quantization when viewing the `np.uint16` RGB image compare to the normalized `np.float64` RGB image (i.e. that comes from `img / img.max()`).

I'm not sure if that's something we want to fix here, or is easily fixable, so any clarification would be welcome!

[2021-10-05 00:02] QuaternionsRock opened #3453 "Maximum height of widgets docked in either the 'top' or 'bottom' areas is not adequate"
## 🐛 Bug

The width of widgets docked in either the 'left' or 'right' areas with `viewer.window.add_dock_widget` is very flexible (provided that the widgets themselves are flexible, of course). This is not the case with widgets docked in the 'top' or 'bottom' areas: the maximum obtainable height is not sufficient for auxiliary visuals, only text controls (e.g. the built-in console).

## To Reprodu

[2021-10-05 07:31] VolkerH commented on #3447
Thanks for your thoughts on this @sofroniewn , @tlambert03
So if the plan is to drop `channel_axis` from the `add_*` functions, this issue can probably be closed.

[2021-10-05 11:32] mkitti commented on #924
1. I think the error / crash is fixed.
2. I agree the thumbnail bug still exists, but agree that vispy is probably the best route if it is fast enough.
3. There may be some additional ImageJ metadata in that particular image indicating contrast limits. A general issue would be increasing ImageJ compatability where possible.

[2021-10-05 13:05] jaimergp commented on #3448
I need the `.ico` and the `.icns` I think. Maybe it's easier to put those under `napari/resources/icons` too and skip the top-level directory?

[2021-10-05 16:33] #2736 closed, assigned to ppwadhwa

[2021-10-05 17:31] goanpeca commented on #3415
Ok I started looking into this but, I do not think it is related to the plugin dialog, if I download the latest nightly build and install napari, and then open it, and wait, it will start opening multiple napari's over and over again.

I am not sure what is going on, could it be a briefcase issue?

@jaimergp, @tlambert03 any ideas?

could this be related to `def _run_pythonw(python_path):` doing s

[2021-10-05 17:43] goanpeca commented on #3453
Hi @QuaternionsRock, thanks for the report.

Could you please add a screenshot, it helps in understanding the issue at a glance.

[2021-10-05 18:15] tlambert03 commented on #3415
yep there's definitely something going terribly wrong at the moment.  mine immediately crashes and starts a continual loop of crashing with this error message:

<img width="912" alt="Untitled 2" src="https://user-images.githubusercontent.com/1609449/136078564-e792c8c8-521e-4b06-8fb3-a3fd85393641.png">

if you put a `sys.argv` print statement in `__main__`, you can see that something is trying to s

[2021-10-05 18:43] goanpeca commented on #3415
Pinging @freakboy3742, do you think this is something related to briefcase?

We are not sure where the `-O -B -c from multiprocessing.resource_tracker import main;main(32)` is coming from :-|

[2021-10-05 18:55] isabela-pf commented on #2142
I’m back with some simple suggestions. I tried out cursors in other image-focused applications, and based on personal experience precision selection is a pretty common problem.

If it counts for anything, I totally agree with @ above that the loupe approach is the experience that feels the most precise. I also imagine this would take significantly more work to make happen, so I’d think this is a l

[2021-10-05 22:36] andy-sweet commented on #2737
Closing this because the issues I saw were fixed in #3296.

[2021-10-05 22:36] #2737 closed, assigned to nobody

[2021-10-05 22:48] freakboy3742 commented on #3415
@goanpeca It's quite possibly related to briefcase, but the `-O...` bit itself isn't Briefcase's work directly.

Briefcase (and the app stub) won't be trying to launch any subprocesses. However, if you try to invoke `spawn()`, that call will fail because `sys.executable` will be the executable of the briefcase stub app, which doesn't (currently) process the command line passed in as part of a `spa

[2021-10-06 04:56] #3447 closed, assigned to nobody

[2021-10-06 05:01] sofroniewn commented on #924
Ok good to know, will now close this issue - thanks for investigation @andy-sweet!

Yes agreed too

Yes, let's open up a dedicated issue for that if there isn't already @andy-sweet. It would definitely drop a lot of custom code. We need to think about the data flow between the layer, vispy, and the Qt widget that shows the thumbnail. We should also see if there is a big performance cost, or if tha

[2021-10-06 05:01] #924 closed, assigned to andy-sweet

[2021-10-06 05:07] sofroniewn commented on #2142
We should be able to swap out the cursor depending on zoom level. I probably wouldn't have too many "levels", but we could have a high mag and a low mag shape.

The best way for us to code up the cursors is what is done here https://github.com/napari/napari/blob/5f1525c394606bfc5193a837f55f1c38cdcbeac7/napari/_qt/utils.py#L151-L178 with the square and circle pixmap. We just need to be able to defi

[2021-10-06 05:09] sofroniewn commented on #2142
I like something like the first option best too. It would basically be to take the square pixmap and add the lines coming out from the centers. That shouldn't be too hard to code up as a demo. We could then see how it felt

[2021-10-06 12:41] brisvag commented on #2338
Great to see some collection fo throughts on this, I think this is going to be a key step up in possibilities for napari! I want to point out a few vispy things that will be useful (if not necessary) for this to work:
1. there was some discussion about using vispy's `Grid`. While it might be useful for quiclky exploding a lot of layers in a grid, its implementation is quite limited if one wants to

[2021-10-06 13:25] jaimergp commented on #3415
`pyinstaller` issue tracker has this one: https://github.com/pyinstaller/pyinstaller/issues/4865

One specific [comment](https://github.com/pyinstaller/pyinstaller/issues/4865#issuecomment-680327611) here is very useful:

(see source [here](url))

Since we updated our Python to support newer MacOS in #2991, we are now using `spawn` by default.

Apparently, this can be fixed (at least in `pyinstall

[2021-10-06 16:25] sofroniewn commented on #2338
Yeah, I'd probably like us to have a "model" for multicanvas support on the napari / pydantic side, but then maybe we use some of the vispy machinery on the view side for performance benefits

[2021-10-06 16:50] QuaternionsRock commented on #3453
@goanpeca Added!

[2021-10-07 08:24] brisvag commented on #1310
This issue was already addressed in vispy/vispy#2106. If we want a quick fix, we just need to update the vendored `image.py`; otherwise, we should wait for vispy/vispy#2227 to be merged, so we can more easily [bump our vispy requirements](https://napari.zulipchat.com/#narrow/stream/212875-general/topic/vispy.20vendored.20image).

[2021-10-07 09:22] tlambert03 commented on #1310
Good to know, we definitely have a lot of other places in the codebase that will choke on NaN data, so it's still a problem for us, even if vispy will handle it during rendering.  (But nice that that part is solved!)

[2021-10-07 16:09] scottstanie commented on #1310
Just checking, are there any known quick fixes to be able to handle this? Or is the only one for now to alter the data to convert nans?

[2021-10-08 02:07] GenevieveBuckley commented on #1310
@scottstanie Lorenzo's comment https://github.com/napari/napari/issues/1310#issuecomment-937567875 has a few tips you can look at.

[2021-10-08 02:08] GenevieveBuckley commented on #1310
I'm in favour of waiting and then bumping our vispy requirement, that seem like the simplest thing to do. (Although if anyone wants to make a quick fix in image.py, I'm not opposed to that either)

[2021-10-08 03:11] isabela-pf commented on #3002
Hi there everyone! I presented a selection of @liaprins-czi’s mockups at the community call on October 7 and we discussed preferences about a few aspects of these designs so we have a clear path for the first iteration or implementation. I’m going to share the exported version of the comparisons here and summarize the comments made.

# Questions of placement

## Status bar or side panel
Do progres

[2021-10-08 06:47] jni commented on #1310
Note that in skimage we decided against nanmin/nanmaxing everything because there is a significant performance hit, 4-8x depending on your image:

[code]

So to compute nanmin/nanmax for a very reasonably sized image you are already at 16ms. The workaround is:

[code]

Gets a little more compact in Py3.8+, which we can use after Christmas 😃:

[code]

[2021-10-08 06:48] jni commented on #1310
(TIL there is no walrus emoji. Very sad.)

[2021-10-08 08:08] jni commented on #906
Very interesting @brisvag. Perhaps we don't even need to wait to move to xarray internals to implement something like this: we can interpret points data dimensions above 2 as "sliceable" and broadcastable with the corresponding image dimensions. ie an array of shape (D0, D1, N, D) is interpreted as containing N (D+2)-dimensional points. I know that a *bunch* of users have tried to create points th

[2021-10-08 09:38] glyg commented on #3214
Hi all - just to confirm that ignoring the warnings at the plugin module level does not work - I think the warning is triggered by a function defined in another scope or name space or even process?

Even running napari with `python -W ignore -m napari` did not silence the warning....

I was also annoyed by the same warning from above:

[code]
Which was reported by Juan here:

https://github.com/vi

[2021-10-08 18:13] isabela-pf commented on #2142
I agree I wouldn't want too many shapes for cursors, even if it is helpful to have some based on magnification. The question came out of me realizing that the cursor precision was going to greatly vary depending on then amount of zoom and I wasn't sure how that played into the initial issue report.

In that case, I think the key info here is the proportions of the cursor elements in relation to on

[2021-10-09 05:29] sofroniewn commented on #3002
Wow! I love these side by sides so much!! Having missed the meeting the other day they make it so easy for me to catch up and see what was compared and what was decided. All the choices sound great to me and the current plan seems like a great place to start. Nice work 🚀

[2021-10-09 05:36] sofroniewn commented on #906
I'm just thinking about what we've done with vectors

https://github.com/napari/napari/blob/87f1ccac7922204db109781f1a6ad044d28476a2/napari/layers/vectors/vectors.py#L25-L30

and what we've done with surface

https://github.com/napari/napari/blob/87f1ccac7922204db109781f1a6ad044d28476a2/napari/layers/surface/surface.py#L21-L27

and trying to make sure we're consistent if we've done anything like t

[2021-10-09 05:37] sofroniewn commented on #3214
Ok thanks for the flag. Maybe this is something @Carreau can follow up on when he get's the chance!

[2021-10-09 05:41] sofroniewn commented on #2142
Those diagrams look great - that should be enough detail for implementation. Maybe that's something @ppwadhwa can take on when she has a chance. I've commented above https://github.com/napari/napari/issues/2142#issuecomment-935467021 on where in the code the current custom cursors are added. We'll probably need to add a new one according to the new designs and then make sure that it is turned on i

[2021-10-09 05:46] #3448 closed, assigned to nobody

[2021-10-09 09:43] brisvag commented on #906
I'm not sure what you're referring to is. Both vectors and surfaces use the same coordinate-based system (not a "dense" grid like images) as points. This means that if we were to support something like this in points, it would make sense to do so for vectors and surfaces as well (and I suppose shapes?).

Imagine you collect some volumetric data in consecutive Z slices (equally spaced), over time (

[2021-10-09 09:50] brisvag commented on #906
This is also more memory efficient:
[code]

[2021-10-09 12:56] tlambert03 commented on #3214
I'm wondering whether we shouldn't move away from using `warning.warn` for gui notifications, and instead use a napari specific `notifications.show_warning` (like we do for `show_info`).  It makes sense to hook into except_hook to show actual exceptions that stop the flow of execution, but the likelihood that a GUI user wants to see any generic python warning seems rather variable.

[2021-10-09 20:07] sofroniewn commented on #3214
yup, makes sense to me

[2021-10-09 20:12] sofroniewn commented on #906
Yeah, I'm open to this, especially if it is more natural way that data comes in. Forcing the reshape to `N x D` where D is 5 say including time is a bit weird.

But - I think we should be still be able able to handle all of

- points: `(N, t, z, 2[y, z])`
- points: `(N, t, 3[z, y, x])`
- points: `(N, 4[t, z, y, x])`

if we want.

I'll note this convo is now drifting a little from the axis names in

[2021-10-11 05:39] MosGeo opened #3466 "Locking Layers"
## 🚀 Feature
This is my initial thinking on this feature. I would love feedback on the best approach. I propose the ability to lock and unlock layers. This would include the ability to control it programmatically and through GUI.

## Motivation
My main motivation for this is to prevent user from closing the layer while live imaging capturing is happening. Another is locking layers while some image

[2021-10-11 05:42] MosGeo commented on #3466
@haesleinhuepf Would love to hear your opinion on this? My current implementation for live preview prevent editing, hides all other layers, and recenter the viewport based on the camera resolution.

Currently, it doesn't change back the visibility of the layers to their original configurations. Also, there is no guarantee that the layers even exist so it would need further checks (which is easy to

[2021-10-11 06:38] sofroniewn commented on #3466
There has been some good discussion of this in https://github.com/napari/napari/issues/1570, I think we'd be more than happy to have someone pick up this work and implement it. I'm happy to help guide this a bit too

[2021-10-11 15:16] andy-sweet commented on #3409
Assigning to myself for now, so that I can take a look at the feasibility of reusing our vispy rendering pipelines for generating thumbnails.

[2021-10-12 12:20] jni opened #3468 "Create documentation on working groups"
## 🧰 Task

@sofroniewn and I think that the working groups have been a honking good idea — let's have more of those! Specifically, @sofroniewn suggested that we should add documentation on the working groups, in the same vein as the [rust compiler team working groups docs](https://rust-lang.github.io/compiler-team/working-groups/), with information about:

- all the existing working groups: curren

[2021-10-12 19:37] tlambert03 opened #3469 "singleton last dimension gives surprising display"
## 🐛 Bug

if you open an N x M x 1 image, napari displays a single-pixel wide line with a slider for the first dimension:

[code]

I stumbled upon this when I had data that was sometimes RGB, but sometimes not (leaving a singleton in the last dimension).  Certainly, the user could just remember to squeeze the last dimension, but that seems like something we could do for them?

[2021-10-12 19:45] nclack commented on #3469
agree, but only for trailing 1's

[2021-10-12 20:59] tlambert03 commented on #3469
I would say 2 is probably the worst case scenario... 3 and 4 we interpret as RGB(A).  5+ and fine, you just get a skinny image. 1 should be squeezed (or, if not actually squeezed for purposes of broadcasting, it should be displayed as if it was squeezed).  2...??

[2021-10-13 06:29] VolkerH commented on #2142
Just saw this.
One comment: if the centre part of the cross hairs cursor is 2x2 or any even number of pixels, it is not clear to me on which pixel that it covers it acts on when the magnification is 1 to 1 (100%). The centre is between those 2x2 pixels.
I reckon that for this reason the centre part should have an odd number of pixels, either 1x1 or 3x3.

Other than that I find it very nice.

Edit:

[2021-10-13 09:52] jni commented on #2481
@napari/core-devs looks like our --pre builds are failing repeatedly now because of qt6:

https://github.com/napari/napari/runs/3872932239#step:7:316

Thanks to @perlman for noticing.

[2021-10-13 15:45] goanpeca commented on #2481
Is this related to qtconsole/ipykernel/others  @Carreau ? 🤔

[2021-10-13 15:48] goanpeca commented on #2142
Love this thread and discussion! Thanks everyone. Just wondering for a future round with magnification.

Is this something that should be by default or activated with a modifier like... Cmd/Ctrl to activate magnification, or something that should be configurable with a setting (always magnify vs only with modifier vs never)?

:)

[2021-10-13 15:59] goanpeca commented on #3468
Awesome, where should this live? Any place to make stub docs and start filling in things?

---

On the second point I would like to propose the creation of a `Design Principles / UX` working group.

This group could discuss:
- Dealing with where interaction goes (CLI) and how the UI/UX could/will
- all the accessibility work

Pinging @liaprins-czi, @isabela-pf, @LCObus :)

[2021-10-13 16:05] goanpeca commented on #3002
These mockups look great! I kinda like the spinner approach, could we perhaps include a number within the spinner so that it give information on tasks being worked on and maybe the number of them @isabela-pf ?

[2021-10-13 16:05] melissawm commented on #3468
My suggestion is to either add this as a subsection [in the Team page](https://napari.org/community/team.html) or create a new page under the "Community" top-level header.

[2021-10-13 16:06] sofroniewn commented on #3468
I think this could be a good place to start

Love it, I'm very supportive

[2021-10-13 17:12] alisterburt opened #3474 "surface layer clim buttons not respecting layout"
## 🐛 Bug

![image](https://user-images.githubusercontent.com/7307488/137180948-7e9991d6-f732-4d1d-9a52-350cb8185460.png)

## To Reproduce

Steps to reproduce the behavior:

1. run `python examples/nD_surface.py` on `0.4.11`
2.
3.

[code]

[2021-10-13 18:18] isabela-pf commented on #2142
@VolkerH I'm glad you found this issue!

You are correct! I was designing for visibility in the mockups (my original scale of the cursor with a 1x1 pixel center was way too small over the napari interface), not pixel-perfect accuracy since pixels aren't the most consistent measurement and I do not have information on what the current cursor pixel sizes are in napari. I included the pixels I used j

[2021-10-13 18:43] isabela-pf commented on #3002
Good question @goanpeca! That would combine the best of both options well. @liaprins-czi is super thorough and made several mock ups trying out this approach (like this once below).

<img width="692" alt="Activity icon when widget open" src="https://user-images.githubusercontent.com/50221806/137192057-c5d57634-4384-4eff-97e0-6657f30b055d.png">

I chose not to include her work with those options wh

[2021-10-13 18:49] goanpeca commented on #3002
Very helpful! Just what I had in mind. I don't think three digits are that common 🤔 but maybe they do... maybe we have a `...` for those cases and on hover more info is displayed on tooltip 🤷🏼

Awesome mocks :) Thanks for the clarification

[2021-10-13 19:01] alisterburt commented on #3334
Hi @aloofhawk!

@kevinyamauchi and I discussed this a bit in #2970 and I'm working on it right now. #3475 is a stepping stone which brings us in line with versions of vispy which have this feature so it shouldn't be hard now 😄

It's definitely possible to add vispy meshes to the canvas but I don't think we would want to encourage that sort of solution

edit: sneak peek
![image](https://user-images

[2021-10-13 20:31] nclack commented on #3469
Yeah, I think that's a pretty reasonable way of inferring a color dimension (size is 1,2,3, or 4) on either the first or last dimension (or any dimension?). I think I prefer the "color dimension has size 1" case to be grayscale rather than, say, red.  That would be consistent with squeezing/trimming-trailing-ones.

More generally, I was thinking that when I specify an n-dimensional shape, I implic

[2021-10-13 21:06] LCObus commented on #3468
for accessibility we should add @andy-sweet ! But +1 to Design Principles/UX group, I think a great place to triage issues. I'll wait until Lia returns to take the lead since Design Principles was her baby.

[2021-10-13 21:17] DragaDoncila commented on #3002
I think the overall concern we had with the spinner is that it's indeterminate (just spinning to indicate activity rather than progress to completion). We could probably do something to roughly assess progress to completion, but it would be across all progress bars rather than per bar. The "per bar" information is what I think attracted us to the dots approach, in particular, to a dots approach wh

[2021-10-13 22:27] isabela-pf commented on #3468
I've been summoned! ✨

@goanpeca also reached out about the design principles/UX working group idea on a non-github channel, and because I can't not ask questions we had a discussion about what might be the responsibilities of a working group (versus just doing the work without the formal designation). These draft ideas are collected from @goanpeca, @LCObus, and I in no particular order:

Working

[2021-10-13 22:38] GenevieveBuckley commented on #3390
I would like to add another pet peeve of mine to this reorganization discussion: it's confusing to me that "Developer Guides" comes before "Developer resources" in the left hand sidebar of napari.org.

I can never figure out from the names why those two things are supposed to be different, and I am constantly clicking on the top one while looking for the developer contribution guide, but that's ac

[2021-10-14 00:08] alisterburt opened #3477 "surface layer visual issues"
## 🐛 Bug
I'm getting glitchy visuals with surface rendering and `shading=flat` or `shading=smooth`. Not sure if it was ever good on my machine - did some checking at it's present all the way back to 0.4.8 (where #2792 was introduced), this is on vispy 0.9.0 but the meshvisual has been vendored since shading was introduced

https://user-images.githubusercontent.com/7307488/137229012-4999e161-5d26-4

[2021-10-14 00:13] tlambert03 commented on #3390
agreed.  i still just generally "click everything" looking for what I want 😂

[2021-10-14 01:59] jni commented on #3477
@alisterburt perhaps this is obvious to those involved, but where does `orig/triceratops.obj.gz` come from?

[2021-10-14 02:02] jni commented on #2481
It looks perhaps like mpl doesn't support qt6 yet?

[2021-10-14 03:07] sofroniewn commented on #3468
Love these principles! I think we've got the beginnings of our about working groups page right here :-)

working groups could also help define the overall napari roadmap - something we havn't been too great at updating lately

[2021-10-14 03:16] GenevieveBuckley commented on #2481
I guess we should pin to qt5 then?

[2021-10-14 03:29] sofroniewn commented on #3390
yes, i agree i have a hard time remembering what is in "Developer Guides" and in "Developer resources", especially as I think our "Core Developer Guide" is in "Developer resources".

Hopefully this will get addressed by the docs working group, i'm really very very open to ideas for improvement here. Please let me know if there are more proposals to review.

[2021-10-14 05:06] liu-ziyang commented on #1742
circling back to this issue, now that we are using GUI to track the error messages as pop ups, are people comfortable moving forward with pythonw to drop the prompt window?

[2021-10-14 07:22] alisterburt commented on #3477
@jni I actually don't know! I looked for the file, didn't find it, copy and pasted the line from a vispy example anyway and it *just worked* 😅

[2021-10-14 10:15] brisvag commented on #3477
I can reproduce ~on you branch~.

[2021-10-14 12:15] tlambert03 commented on #2481
Feels like mpl should be doing the pinning :/
(But also, I thought we didn't pull mpl?)
Little bit unrelated, but I had some experimental PRs somewhere showing we can support qt6 pretty easily,

[2021-10-14 12:19] Czaki opened #3478 "Export `fresh_settings` fixture to `_testsupport.py`"
## 🚀 Feature

Make `fresh_settings` available from `pytest11` entry point to block interaction with local settings during test plugins

## Motivation

I found that during the write test for my plugins it interacts with local napari settings, not fresh one. This part of napri code is changing dynamically so resetting napari settings and provide save path in temporary folder will simplify life of pl