[2021-05-23 11:54] ederancz opened #2767 "Can't load files through samba smb://"
## 🐛 Bug

"No plugin found capable of reading" error when trying to load tiff images through smb protocol.

## To Reproduce
Steps to reproduce the behavior:
1. Drop tiff image from files onto napari window.
Traceback provided at the end.

## Expected behavior
Loading as with other sources.

## Environment
napari: 0.4.8
Platform: Linux-4.4.0-210-generic-x86_64-with-glibc2.10
System: Ubuntu 16.04.5

[2021-05-23 13:30] goanpeca opened #2768 "Explore making Settings Manager inherit from BaseSettings"
## 🚀 Feature

From #2759, @tlambert03 asked:

Making an issue to explore this.

## Motivation

## Pitch

## Alternatives

## Additional context

[2021-05-23 14:07] goanpeca commented on #2766
Does this mean that if I was using a translation, the translation should also work @sofroniewn ?

[code]

[2021-05-23 16:45] #2757 closed, assigned to tlambert03

[2021-05-23 16:55] sofroniewn commented on #2766
It's tricky. I remember @jni concern about this, and not wanting code that has translations in it in case they stop working for people that don't have the language pack, it can become a reproducibility nightmare.

Maybe the better solution for now is just to improve the error message, for example

[code]

would already have helped me a lot. Even, just listing all the recognized colormaps would hav

[2021-05-23 19:24] tlambert03 commented on #2766
"twilight_shifted".'

I like that.  Using display names as valid keys feels like a slippery slope

[2021-05-24 00:28] jni opened #2770 "Dims sliders should be sorted by dimension order"
## 🚀 Feature

While working on my dimension sorter widget, I noticed that changing the dims order doesn't affect the slider order on screen, which I found jarring. In my opinion the sliders should be reorderable based on `viewer.dims.order`, with the slider closest to the canvas being the one that gets swapped out when `ndisplay` is toggled.

A tiny example to play with:

[code]

[2021-05-24 02:21] GenevieveBuckley commented on #1384
Glad to hear that @nvladimus
And if you work with (or are interested in) pyramidal OME-TIFFs, there's a good first issue for that here https://github.com/GenevieveBuckley/napari-tifffile-reader/issues/9

[2021-05-24 02:21] #1384 closed, assigned to nobody

[2021-05-24 05:36] diegoasua commented on #1457
I fixed a related problem in a virtual linux machine with

[code]

Leaving it here in case it helps someone.

[2021-05-24 09:30] cpguy101 opened #2771 "Launching Viewer returns AttributeError"
## 🐛 Bug

I'm unable to use Viewer in Jupyter when the following was executed:
'
!conda create -y -n napari-env python=3.8
!conda activate napari-env
!pip install "napari[all]" '

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\user\\anaconda3\\Lib\\site-packages\\PyQt5\\QtCore.pyd'

How do I permit access for this package?

'
import napari
viewer =

[2021-05-24 14:14] tlambert03 commented on #2771
can you give us the output of your environment: `conda list`
and the output of `napari --info`

[2021-05-24 14:25] tlambert03 commented on #2771
this error suggests that you have an outdated version of pyqt5 installed (<5.11)  this can happen if you install napari into an existing environment where you previously installed jupyter from the main anaconda channel (which, unfortunately, is still shipping with Qt5.9).  See this https://github.com/napari/napari/issues/2710#issuecomment-840694404 for a little more detail, but i suggest creating

[2021-05-24 15:23] pranathivemuri commented on #2745
Wondering if anyone else has any input on this?

[2021-05-24 16:53] cpguy101 commented on #2771
**pyqt5-qt5                 5.15.2**

Still had the same AttributeError: type object 'Policy' has no attribute 'Maximum'

o/p of  ```napari --info ```
[code]

[2021-05-24 17:44] #2566 closed, assigned to goanpeca, ppwadhwa

[2021-05-24 18:23] #2370 closed, assigned to goanpeca

[2021-05-24 18:23] #2634 closed, assigned to goanpeca, ppwadhwa

[2021-05-24 18:34] sofroniewn commented on #2745
@pranathivemuri there is some work going on in #2709 and #2753 that will allow more flexibility over our sliders. Once we've got those in we should be able to make this change more easily

[2021-05-24 18:38] tlambert03 commented on #2771
that attribute error would only happen in pre 5.11 ... from your `napari --info` output, you can see that  you're using 5.9:

[code]

and from your conda list output, you can see that you have both 5.9 and 5.15 installed (the first one is from conda and the second one is from pip)

[code]

please try what I mentioned in the [comment above](https://github.com/napari/napari/issues/2771#issuecomment-

[2021-05-24 21:50] ppwadhwa opened #2772 "import-linter blocking commit"
## 🐛 Bug

I am not able to commit to my branch because the import-linter is failing on code that I didn't touch.   See here:

[code]

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

 - Please copy and paste the information at napari info option in help menubar here:

 - Any other relevant information:

## Additional context

[2021-05-24 22:13] goanpeca commented on #2772
@Czaki could you give us a hand :) ?

[2021-05-24 22:20] sofroniewn commented on #2772
See solution https://github.com/napari/napari/pull/2659/files#r638327401, let's just remove that block - it's not as important as the other ones

[2021-05-24 22:21] Czaki commented on #2772
in #2659 there were introduced import linting with 4 contracts. One of them is "Block import from qt to _qt"
https://github.com/napari/napari/blob/01c24e320dc3d8daaae80a383f95fc0587c98ee4/setup.cfg#L182-L191

I add this contract to ensure that noting in `napar._qt` depends on `napari.qt`.

The only case which is acceptable is test imports.

I see 3 options:
1) remove contract
2) add next ignore ru

[2021-05-24 22:31] sofroniewn commented on #2772
is this just stylistically a good idea or is it absolutely critical - i.e. code will crash if this is true?

I'd probably just drop right now (option 1), make sure that people can commit code again, and then we can have a longer discussion if this thing is really critical.

[2021-05-24 22:37] pranathivemuri commented on #2745
thanks! :)

[2021-05-24 22:39] Czaki commented on #2772
could crash because of circular import.

I already meet something similar (not napari) when crash depends on order of import so when GUI is starting everything works, but when usin nongui parts of code (readers, writers, calculation backend) there exist orders of imports which ends with crash.

But I agree that fast drop could be a good idea to not block development process.

[2021-05-24 22:40] goanpeca commented on #2772
I am now getting this locally
[code]

[2021-05-24 22:41] sofroniewn commented on #2772
Ok, let's drop now then. Can you open a PR @Czaki.

We should also check that @goanpeca issue is then fixed too

[2021-05-24 22:45] Czaki commented on #2772
@sofroniewn @goanpeca #2774

[2021-05-24 22:50] tlambert03 commented on #2772
is this thing keeping a database or something?

[2021-05-24 22:52] Czaki commented on #2772
This are old files with icons if I good remember

[2021-05-24 22:52] sofroniewn commented on #2772
We also had quite a lot of fails in our main CI - more than normal https://github.com/napari/napari/runs/2658509551, we should make sure they aren't still present after #2774

[2021-05-24 22:53] tlambert03 commented on #2772
correct ....  is this thing keeping a database or something? :joy:
(in other words... why would it care about a missing temp file)?

[2021-05-24 22:59] Czaki commented on #2772
@sofroniewn

they will be present because they are connected with NumPy RC release `numpy==1.21.0rc1`:
[code]

So this warning should be ignored or numpy should be pinned.

@tlambert03
I do not found any database. Also, there is no import linter earlier. But I think that it is connected with the presence of this file on the disc.

I think that it may be connected with additional dot in name of fil

[2021-05-24 23:33] sofroniewn commented on #2772
I have now merged #2774, hopefully that should improve the situation, we can see and then decide if we can close this

[2021-05-25 00:12] goanpeca opened #2777 "Add automation to github and zenhub pipelines"
## Task

Add automation to zenhub pipelines:

### Github

- [x] When a PR is opened, make the assigned the author to that PR
- [ ] If someone is added or asked to review a PR, then auto assign the PR to them as well so filtering in the board is clear.
- [ ] If an author opens a PR and it has a Fixes/Closes github reference word, ensure the issue is also assigned to this author.
- [ ] If an author

[2021-05-25 00:51] andy-sweet opened #2778 "Scaling images shifts displayed origin"
## 🐛 Bug

This is either a bug or I need clarification on the intended behavior of `scale`, the other layer transform parameters, and more generally the coordinate system of napari.

![scale_bug](https://user-images.githubusercontent.com/2608297/119422935-f119c600-bcb6-11eb-91ae-f7a78c226ae1.png)

## To Reproduce

Run the following example.

[code]

## Expected behavior

The image layers should be

[2021-05-25 02:29] sofroniewn commented on #2778
Well observed! This was intentional (see #1660 for implementation, I'm also looking for issue with the background discussion but can't find it).

I know other software can take the top left of the pixel as `(0, 0)`, but we felt that when doing imaging pixels can be thought of as samples from a particular point in space so it's natural to think of the center of the pixel as that point, and so put t

[2021-05-25 03:17] ppwadhwa commented on #2772
FYI: I have been able to commit since #2774  was merged.   :)

[2021-05-25 03:40] sofroniewn commented on #2778
Here was original issue https://github.com/napari/napari/issues/310#issuecomment-506002559

[2021-05-25 13:14] jni commented on #2772
It appears to be the other way around... This complaint happens *if it finds these files*. I had a whole bunch of old ones that I had to delete in order to be able to commit again. @Czaki can you comment on why it checks that? And why the error message is so obtuse? I wonder if we should remove another condition, too... It's common to have multiple versions of generated files in these folders.

[2021-05-25 13:20] Czaki commented on #2772
because it checks every `*.py` file to check what it import

because it try to import `napari._qt.qt_resources._qt_resources_0.4.5.dev9+g577de77_pyqt5_5.9.7`
and `_qt_resources_0.4.5.dev9+g577de77_pyqt5_5.9.7` is not a valid module name in python.
During generation such file should be `file_name.replace('.', '_')`

[2021-05-25 13:29] tlambert03 commented on #2772
that would be my preference

[2021-05-25 13:33] tlambert03 commented on #2772
to my understanding, this pre-commit step was introduced because @Czaki was frustrated by the time it took to notice in a CI test that he had auto-imported from PyQt5 instead of qtpy.  As I mentioned in the original PR, I understand that desire, (though I also don't think it's _that_ hard of a thing to figure out from the test logs) ... but in general I'd prefer to keep our pre-commit steps to the

[2021-05-25 13:38] Czaki commented on #2772
any usage of import linter will end with an error if wiles like `_qt_resources_0.4.5.dev9+g577de77_pyqt5_5.9.7.py` will be in the codebase. I mean any python file which name is not a valid Python module name.

As far as I know, the current version of napari does not contain such files.

[2021-05-25 13:40] tlambert03 commented on #2772
those files are autogenerated at runtime, and are part of our gitignore... so it's a bit strange that this precommit hook is not also ignoring them

[2021-05-25 13:43] Czaki commented on #2772
I do not know why these files are tested. But currently, these files have different name schema:
`_qt_resources_PySide2_5_13_2_9fb95879ef4c41b7750c685ae3465e22.py` so the problem could be solved by cleaning old files.

[2021-05-25 14:43] goanpeca commented on #2772
Is there a pre-commit that deletes old files?

[2021-05-25 15:31] andy-sweet commented on #2778
Thanks for the quick clarification @sofroniewn.

This is clear and logical, and agreed with @jni that treating pixels as point samples (not little squares!) is typically the best way of handling image operations in general. It does mean that image downsampling is not as simple as just changing the size and spacing because the point sample associated with the 0-index needs to shift its location, bu

[2021-05-25 15:32] andy-sweet commented on #2778
I'll close this issue, and will attempt to write some docs as I work on the other transform issues.

[2021-05-25 15:32] #2778 closed, assigned to nobody

[2021-05-25 17:29] AhmetCanSolak opened #2781 "Track layer track_id dtype overflow"
## 🐛 Bug

When number of created tracks bigger than 2^16, rendering goes little crazy.  Tracks rendered after id 2^16 crossing the entire image instead of appearing as limited size vectors.

Editing the following place in the codebase can help us to avoid this problem:
https://github.com/napari/napari/blob/2107d3194b360a6a5bf82fc85ff01e31d965ff7e/napari/layers/tracks/_track_utils.py#L185

I am won

[2021-05-26 02:13] sofroniewn commented on #2767
Hi @ederancz I'm afraid I'm not familiar with samba smb:// can you provide some more info on how you normally read these files into Python. Can they be read with [imageio](https://imageio.readthedocs.io/en/stable/)? Our builtin image reader uses that under the hood. You might need to create a custom reader plugin for this file type, which can be done using instructions here https://napari.org/plug

[2021-05-26 02:15] sofroniewn commented on #2770
I dig it, I'd probably want to play with this before committing, but makes sense to me

[2021-05-26 02:15] sofroniewn commented on #2770
Curious what others think?

[2021-05-26 02:31] tlambert03 commented on #2767
This is a bit more of a feature request than a bug.  SMB is one of many internet protocols that we don't natively support... I also use SMB at work, so certainly would like to have this as well, but we should have a broader talk about what this might look like.  For instance, it would be kind of a shame to require each individual plugin to have to support smb, ftp, (... insert your favorite file t

[2021-05-26 07:28] ederancz commented on #2767
Thanks, that's a really good idea, will try it later today. Perhaps that's what happens under the hood in macOS, where I have no issue loading files from the same server.

[2021-05-26 10:08] ederancz commented on #2767
Yep, mounting it locally solves it, thank you!

[2021-05-26 10:08] #2767 closed, assigned to nobody

[2021-05-26 10:10] tlambert03 commented on #2767
Good to know!  Thanks for testing that out

[2021-05-26 14:48] VolkerH opened #2784 "Modify shape layer data programmatically (add/modify shapes), unclear how to"
Adding this issue to keep track of some unclear points about adding data to shape layers programmatically.
This is from  https://napari.zulipchat.com/#narrow/stream/212875-general/topic/adding.20shape.20to.20shape.20layer.20programmatically

I was  trying to add some shapes to an existing shape layer.

My naive attempt was to appending to the shape layers `.data`
[code]
This does not work  as  `.d

[2021-05-26 15:31] sofroniewn commented on #2784
Yeah we should clean this up, make it easier to understand

@tlambert03 suggested that the .data property should probably return a tuple to indicate that this is immutable.

Indeed I think we should make this a tuple, otherwise we could make it an evented list and hook everything up with events, which would be nice too

Hmm this surprises me, we'll have to look

There is also a public `layer.add`

[2021-05-26 18:54] jlause commented on #1457
Hey all,

I got stuck with setting up napari in my environment:

I'm running python in a Docker container on a remote server, and interact with it through Jupyter Lab (similar to @talkhanz ). In practice that means that I ssh to the machine that runs the Docker, and then use `http://localhost:8888` to access Jupyter Lab.

When I try to launch napari in my Jupyter notebooks there, I get very simila

[2021-05-26 19:02] tlambert03 commented on #1457
Hey @jlause, nothing yet works "robustly" for this kind of setup.  Even if you connect to the remote python kernel running jupyter in your browser, you will still need a way to forward the actual display (since, we can't actually embed the viewer in the browser).  I think that ultimately brings you back to needing something like X11 with virtualGL (however, cc @VolkerH and @guiwitz ... who may hav

[2021-05-26 19:42] jlause commented on #1457
Hey @tlambert03 thanks for the quick reply! Happy to hear that there is hope :)

I'm new to the GUI/openGL/display world, so I'm now trying to break it down on an abstract level to figure out where to start tinkering...

As far as I undersood, Napari uses PyQt5 or PySide2 to create a GUI with Qt (which uses openGL on the inside I presume). There seems to be something off with that in my case alrea

[2021-05-26 22:27] andy-sweet commented on #2628
@thewtex : do you have an example that reproduces this issue?

I used the issue described in #2163 as a base and modified it to create the following example, which works at head.

[code]

The `rotate` matrix value should eventually be handled in [`compose_linear_matrix`](https://github.com/napari/napari/blob/46f295b599269bc79485d6d7febf1265a4fc7c65/napari/utils/transforms/transform_utils.py#L70),

[2021-05-26 22:32] tlambert03 commented on #1457
yeah, you have it right: napari uses either of those Qt frameworks for the main GUI elements... slight clarification though: the _main_ thing that introduces the OpenGL dependency in napari is our [vispy](https://github.com/vispy/vispy)-backed canvas.  (Put another way... Qt doesn't _have_ to imply OpenGL, but it supports it ... and vispy, which we depend on, takes advantage of that).

This part l

[2021-05-27 04:22] #2766 closed, assigned to goanpeca

[2021-05-27 09:07] jlause commented on #1457
Thanks for the clarifications, this is helping a lot! Then I'll focus on solving the `Qt/xba` error first before setting up virtualGL/X11.

Both `sudo apt-get install qt5-default` and installing the set of libaries you posted above did not help, still getting the same errors as above. I'm now looking into other solutions for this (staying away from `install conda` for now for other reasons ;) ). I

[2021-05-27 09:24] Czaki commented on #1457
Run with `QT_DEBUG_PLUGINS=1` this should show you which libraries load fail.

I remember also that there were some problems with Debian, so if the image base on Debian then could be some problems that we do not solve (napari omit them with the switch from circleci to GitHub actions).

The solution may be to use an older Qt version (5.12 if I good remember)

[2021-05-27 09:45] jlause commented on #1457
Hey @Czaki ! Thanks for the hint! I've tried and to me it seemed like all libraries were correctly loaded, e.g. for the `xcb` part of the debug output:

[code]
Leaving the full output here as well, but for the other plugins it looked similar:
<details>

[code]
</details>

My image is based on Ubuntu 18.04... As Ubuntu is based on Debian, would it make sense to downgrade Qt as you suggested or does

[2021-05-27 09:57] Czaki commented on #1457
At this time we switch to ubuntu base image as it has these libraries, but still downgrade of Qt may work. Here you have a link to qt info https://codereview.qt-project.org/c/qt/qtbase/+/253905
and looking at information from here https://github.com/napari/napari/pull/1902#issuecomment-730312153 you should select some version before 5.15

To check why xcb fails to load You may also use `ldd` comma

[2021-05-27 10:35] jni opened #2785 "Paint cursor disappears if scale is negative"
## 🐛 Bug

When using a negative scale (which is our hack to flip axes and actually occurs in some .nd2 files we're using from collaborators), the painting and eraser cursors are not drawn on the canvas.

## To Reproduce

[code]

Then move the cursor over the canvas.

[2021-05-27 11:34] jlause commented on #1457
Thanks again, this looks helpful..
I just checked `ldd libqxcb.so` (which is my first time with `ldd` I believe), and if I understood the output correctly it is able to resolve all references:
<details>

[code]

</details>

Regarding the Qt version: I was looking a bit around how to downgrade Qt in my setup. Actually I'm a bit confused which Qt I have installed and how to change that:

[code]
look

[2021-05-27 11:55] Czaki commented on #1457
System qt and python qt are different. Use `pip install PyQt5==5.14.2`

`ldd` output looks ok.

The only way to look which I see is to debug this entry `WARNING: could not connect to display`

Did you run screen or use something like xvfb?

[2021-05-27 12:23] tlambert03 commented on #2603
@jni can you comment on these last couple posts?  it's unclear to me that this is actually an issue

[2021-05-27 12:53] jlause commented on #1457
Thanks for taking a look! I used the `pip` command as you advised, resulting in

[code]

and the same error message as before.

Regarding `screen` or `xvbf`: I did not use either of them before, but I've just installed `xvfb` now, and tried

`xvfb-run -a python -m napari_test.py`

where `napari_test.py` contains the following:

[code]

This got rid of the previous error, but gave a new one:

[code

[2021-05-27 13:37] jni commented on #2603
Yeah, two things:

- folder was wrong: that was the ome-zarr plugin intepreting axis 1 of non-ome zarrs as channels. :facepalm:
- lists of files is still an issue — `napari *.tif` would happily try to open umpteen layers, and I come across this with some regularity.

[2021-05-27 13:51] Czaki commented on #1457
Most probably the problem comes from mixing system site Qt (5.9.7: /usr/lib/x86_64-linux-gnu/libQt5Xml.so.5)

With PyQt5 libraries (5.14.0)

I the past in such a situation I start setup an environment from scratch.

I have no experience with running napari offscreen in other scenarios than testing on CI.

`screen` is a Linux command to keep the process alive when detached from remote sessions. It

[2021-05-27 14:01] joshmoore opened #2786 "Uninstallation feedback"
## 🐛 Bug
#### Description

I was surprised that "Removing" a plugin from napari uninstalled it from my environment.

#### Steps/Code to Reproduce

 * Start napari
 * open "Plugins" > "Install/Uninstall Packages"
 * find ome-zarr under "Installed Plugins"
 * click on "remove"

#### Expected Results

I perhaps naively assumed this would just remove the plugin from the current context.

#### Actual R

[2021-05-27 14:02] tlambert03 commented on #2603
the `*` use case from the CLI makes a lot of sense... but I still don't know that I'd want a few files opened in the GUI to automatically stack.  What do you think about the n_layers threshold idea?  or, making stacking behavior default for CLI, but not for gui?

[2021-05-27 14:06] tlambert03 commented on #2786
that window is a gui-based interface for pip (which is why we named the menu "Install/Uninstall Packages").  If you want to have napari ignore a plugin (but not uninstall it) then use the checkbox next to the name (rather than the remove button):

![Screen Shot 2021-05-27 at 10 05 27 AM](https://user-images.githubusercontent.com/1609449/119840544-17b44880-bed3-11eb-82c8-bdda72b6d801.png)

(this re

[2021-05-27 14:07] tlambert03 commented on #2786
would changing the button text from "remove" to "uninstall" make this clearer?

[2021-05-27 14:09] joshmoore commented on #2786
Understood, and definitely no suggestion that that be changed. Just a datapoint that someone who understands these things quite well was *still* surprised. Minimally, I'd suggest renaming "remove" to "uninstall" to match the menu item. I'll leave people who understand UI/UX to say whether or not some other form of feedback ("package uninstalled", etc.) would prevent confusion.

[2021-05-27 16:18] sofroniewn commented on #2603
Yeah I tend to agree with @tlambert03 here, I like individual folder "stacked", list of individual files "not stacked".

But this is also a good point!

I'm open to `n_layers threshold`, but don't love it, seems fairly arbitrary - maybe `>5` people do have 5 channel data pretty frequently, but I'd say above that is less common

This is pretty reasonable too, can you pass "channel_axis" kwarg to CL

[2021-05-27 16:25] ppwadhwa opened #2790 "Preferences that require a napari restart"
The way things are currently implemented, the following will require a restart of napari if they are changed in the Preferences dialog.  Please feel free to add others...

1. octree
2. async

[2021-05-27 16:33] sofroniewn opened #2791 "pre color test fail from numpy 1.21"
## 🐛 Bug

Our pre-tests are currently failing - it's a fairly innocuous fail, so no need to rush a release, but we should fix them. The test is passing an intentionally invalid  `color = ('a', 1, 1, 1)` which is now raising a warning that didn't used to happen. I'm not quite sure how we want to fix, I can see many different ways - but given that no-one should really pass a color with a string in i

[2021-05-27 23:31] #2781 closed, assigned to AhmetCanSolak

[2021-05-28 02:40] #2785 closed, assigned to nobody

[2021-05-28 02:59] #2786 closed, assigned to nobody

[2021-05-28 22:32] tlambert03 opened #2798 "Decide best way to ship `pyi` files with sdist/wheel"
## 🧰 Task
Once #2675 is merged, developers will be able to get type stubs for a couple autogenerated modules by running `make typestubs` in their dev environment.  We still need to figure out the best way to ship those `.pyi` with the sdist...

[2021-05-29 14:24] haesleinhuepf opened #2799 "Custom key bindings don't work depending on selected layer type"
## 🐛 Bug
Hi all,

I noticed that custom key bindings are ignored depending on what layer type is selected, e.g. the "d" key is overwritten when a labels layer is selected.

## To Reproduce

After installing napari 0.4.8 run this code:
[code]

The custom key-binding on key "d" is ignored. No error or warning shows up.

## Expected behavior

I would argue that custom key bindings should have a highe

[2021-05-29 14:48] haesleinhuepf opened #2800 "Ergonomy of key bindings suboptimal"
## 🐛 Bug

Hi all,

I just noticed that there are key-bindings when a label-layer is selected. To me the bindings appear sub-optimal and too widely distributed over the whole keyboard:

![image](https://user-images.githubusercontent.com/12660498/120074365-cce62c80-c09c-11eb-99b9-555f28d11229.png)

This distribution might be easy to remind (L for label picker, p for paintbrush...) however, it's not

[2021-05-29 14:49] tlambert03 commented on #2800
now that's what I call a  well-crafted issue! :)

[2021-05-29 15:03] haesleinhuepf commented on #2800
Just adding the raw key map file in case somebody wants to craft an improved version for discussion 😁
[keymap.pptx](https://github.com/napari/napari/files/6564875/keymap.pptx)

[2021-05-29 17:29] #2700 closed, assigned to ppwadhwa

[2021-05-29 17:31] sofroniewn commented on #2800
Yeah, wow, nice issue! Agreed we can change. We should soon be in a position to have our keybindings be user configurable thanks to some great work from @Carreau and @ppwadhwa. When that is possible we can also think about changing some of the defaults too

[2021-05-30 04:16] sofroniewn opened #2801 "Expand napari_get_reader to return viewer data"
## 🚀 Feature
I wonder if now is a good time to expand the [napari_get_reader](https://napari.org/plugins/stable/hook_specifications.html#napari.plugins.hook_specifications.napari_get_reader) hookspec to allow functions that also return viewer data.

The hookspec has been very stable, so I think we want a purely additive, backwards compatible change.

That current reader functions can returns

[cod

[2021-05-31 01:41] jni opened #2803 "Discussion about MultiscaleData API"
Hmm, apologies that I didn't have a time to look at #2683 in detail before merge, but I'm a little worried that we needed to discuss this in a bit more detail, since now we get locked into a few public things about the API, most worryingly `__getitem__`, and the fact that `.data` is not the input data. Specifically:

- since we are making a fancy multiscale object, perhaps we can be more inventive

[2021-05-31 02:02] tlambert03 commented on #2803
lets just revert and take our time with it... there's no hurry

[2021-05-31 02:05] tlambert03 commented on #2803
I'm up for all of that ... the `__getitem__` implementation there wasn't meant to move our API forward or anything.  It was just doing what the "current" API (a list of arrays) was already doing.  More than happy to hear thoughts on making that even better.  That said, I'd also like for this not to get so bogged down in dreaming about the ultimate unified multiscale API for the entire community th

[2021-05-31 03:05] sofroniewn commented on #2803
Sorry for being a little quick on the trigger here! And thanks for being open to revert @tlambert03, let's do that and do one round of discussion. Agreed we shouldn't let it get bogged down for too long, but a little bit more convo seems fine. Thanks!!

[2021-05-31 10:54] sebgoti commented on #1278
Hi! May I take over this issue?

[2021-05-31 12:54] VolkerH commented on #1457
Hi, I didn't check github for the last few days.
In principle napari runs fine on jupyter desktop server.
However, I found that in the Dockerfile I needed to `apt-get install` the following package:
 `libqt5x11extras5-dev`. Without that package installed napari would give the `could not load the Qt platform plugin "xcb" in "" even though it was found.` error if I remember correctly.

This is a bit

[2021-05-31 13:37] jlause commented on #1457
Hey,

thank you both for the suggestions!

Looking forward to try out your setup @VolkerH ! From briefly looking at the dockerfile, I assume the 'graphic stack' that @Czaki mentioned is provided by `xfce4`/`TurboVNC`? I could not see from the `xfce4` docs if it is specific to a certain base linux.. As I'm not so familiar with the internal structure of different linux OS: Is your setup expected to

[2021-05-31 15:13] Czaki commented on #1457
When I wrote graphical stack I mean set of all standard libraries for GUI programs.
The `xfce` is a desktop manager. It is more than a graphical stack, but install it should pull all needed libraries. It could drastically increase docker image size but could be faster than debugging which one is missing.

@tlambert03 @goanpeca Maybe napari should provide some base docker image for napari jupyter?

[2021-05-31 15:14] tlambert03 commented on #1457
yeah, that would be fantastic.  That was sort of the hope back with https://github.com/napari/napari/pull/1496 ...  but it never quite made it there

[2021-05-31 15:21] tlambert03 commented on #1278
sure! ... however, now that I'm looking at this again.  I'm not sure I agree that stack inspection and magic name guessing is the right approach here.  Seems like simply adding a `name` attribute to `Colormap` might be a less error-prone and more direct approach?  @sofroniewn?

[2021-05-31 15:27] Czaki commented on #1457
I have never ever try to use napari from a container. Could anyone explain what scenario it should support?

[2021-05-31 15:46] tlambert03 commented on #1457
The primary goal here is to support remote usage.  It's pretty common for people to want to run napari on a cluster or something, where the data actually is... so we wanted an image that would provide all of the necessary libraries and dependencies.  The _real_ trick though is forwarding the display ... which is more complicated than a simple X11 forwarding due to the opengl dependency.  @VolkerH

[2021-05-31 16:08] Czaki commented on #1457
It looks harder than I expect...

[2021-05-31 16:09] tlambert03 commented on #1457
yep :/

[2021-05-31 16:14] Czaki commented on #1457
Did you try nomachine earlier https://www.nomachine.com/pdf/Build_and_Deploy_NoMachine_Desktops_and_Applications_in_Docker_for_Linux.pdf

I do not use it with docker but use it to connect to remote desktops.

[2021-05-31 16:15] tlambert03 commented on #1457
i'm aware of it, but haven't tried it with docker

[2021-05-31 16:49] sofroniewn commented on #1278
Colormap already has a `name` option. I guess the thought was that like how `layer` has a name option but if not provided we'd guess it then we should do the same thing here, but if you think that's too magical then maybe we should just close this issue before @sebgoti get's too far.

It has been a while since this issue was created, and I think over that time we have moved away from certain magic

[2021-05-31 17:26] tlambert03 commented on #1278
yeah, after running into issues with magic_name in the recent multiscales API PR, I personally would vote to minimize its usage.  I do really like that it works for layer names, but I wouldn't want to see it proliferate.  One of the main differences between `colormap` and `data` is that `data` generally is coming in as a numpy array that itself doesn't have a `name` attribute.  with `Colormap` in

[2021-05-31 17:37] sofroniewn commented on #1278
Ok, agreed - that example is out of date as it uses to old vispy colormap, and now we have our own colormap the new code should be

[code]

Will this meet your needs @sebgoti? We can help you find another good first issue too if you were interested in making a contribution. Sorry that this one got out of date. I agree we should close it though

[2021-05-31 17:46] tlambert03 commented on #1278
yes please!  didn't mean to run you off @sebgoti :)

[2021-05-31 18:01] JoOkuma opened #2806 "Napari does not allow painting zarr arrays with Label layer"
## 🐛 Bug

Napari doesn't allow painting when the Label layer was created from a Zarr array buffer because the default Zarr array indexing does not support NumPy arrays, it only accepts slices and integers.

## To Reproduce

- Run the following code:
[code]
- Try painting the `zarray` layer.

## Expected behavior

To paint as usual.

## Environment

[code]

## Additional context

This could be solv

[2021-05-31 23:04] sofroniewn commented on #2806
Yes, this is a know issue. We might want to add a better error message/ warning cc @jni. @jni also has some work arounds involving tensorstore I believe -  maybe he can add more details

[2021-06-01 01:05] tlambert03 opened #2808 "Fix multiscale labels and magic_name guessing with lables"
## 🐛 Bug
After #2807 merges, we should try to a couple issues with labels that were addressed in #2683.  Add these two datasets to `layer_test_data` and run tests to see the fails:

[code]

[2021-06-01 07:12] jni commented on #2806
@JoOkuma this is what @AbigailMcGovern achieved by opening the zarr arrays using tensorstore instead.  This answer on image.sc contains all the details you need to open the zarr with tensorstore and paint into it: https://forum.image.sc/t/automatically-saving-intermediate-results-while-annotating-in-napari/53256/2 tldr: use [this function](https://github.com/jni/zarpaint/blob/e76c89fd5beb6252cec94

[2021-06-01 07:12] #2806 closed, assigned to nobody

[2021-06-01 07:22] DragaDoncila opened #2809 "Discussion on improved events for `Shapes` and `Points` layers"
I wanted to raise this issue as a place to discuss how we might provide better access to data changes
for `Shapes` and `Points` layers through some new events. As evidenced by discussions on #720, #2720 and #2260 (potentially among others), users would like to know when there is an internal data change (as opposed to data being explicitly reassigned).

I've made a couple of suggestions for what I

[2021-06-01 07:32] sebgoti commented on #1278
Thank you both @tlambert03 and @sofroniewn very much for your replies. I think I will then search for another good first issue but any suggestions are very well appreciated too 😄

[2021-06-01 07:42] VolkerH commented on #1457
I would be happy to show our setup at a napari dev meeting sometime.

[2021-06-01 07:44] VolkerH commented on #1457
It builds on the jupyter base image. I think that is based on Ubuntu, but I would have to check which version.

[2021-06-01 10:53] tlambert03 commented on #1278
In addition to code, we always love PRs to our documentation!  So if there was anything you found missing or confusing in the docs as you were picking up napari, that's also an option!

[2021-06-01 11:37] jni opened #2810 "napari.layers cannot be found on master"
## 🐛 Bug

Probably introduced in #2662, one can no longer do:

[code]

Trying this on master, I get:

[code]

`from napari import layers` works fine, so the module is there. :grimacing:

This is an API breakage so it unfortunately needs to be fixed before 0.4.9.

[2021-06-01 12:44] brisvag opened #2811 "Surface layer error with over 1e7 vertices"
## 🐛 Bug

When a surface layer is created with more than `1e7` vertices, an unexpected error shows up. I think napari is trying to do some magic with setting contrast limits, but fails before getting to it due to wrong indexing.

## To Reproduce

[code]
Error raised:
[code]

## Expected behavior

I'm not sure if this is supposed to fail and the error is just hard to interpret, or if it's unwanted

[2021-06-01 13:33] goanpeca commented on #2810
Indeed :)

---

The bug is not strictly `high-severity` since there is a workaround. The severity is pretty low when there is a workaround however annoying the bug may be.

Higher severities are associated with napari actually breaking, segfaulting without any means for the users to have a workaround to get napari running 🤓

[2021-06-01 13:35] goanpeca commented on #2810
On another note, I have seen this happen on some other packages (even python standard library itself I think) so the question I have (in general) once you import the top module, should you be able to access any submodule from it 🤔 ?

[2021-06-01 13:52] tlambert03 commented on #2810
yeah, we've never exported `layers` in the napari namespace... so this has worked in the past due to other inner modules importing it.

not automatically, it depends on what else imports it.  For instance, take this package structure:

[code]
where `a.py` and `b.py` are empty and

[code]

[code]

however, if within `a.py` you import `b`:

[code]

then it works as @jni was expecting in the first po

[2021-06-01 13:55] goanpeca commented on #2810
Well it is a convenience, and it was like that before (for other reasons) but I do not think being explicit about the imports is bad either.

[2021-06-01 14:28] JoOkuma commented on #2806
Oh, I remember you guys telling me about about tensorstore. Thanks, looking forward to the merge of your zarr PR.

[2021-06-01 14:49] tlambert03 commented on #2810
ok.  I've played with this a little and while I can fix `layers` pretty easily with the `__getattr__`, it's not as easy for all of the things (`experimental` for instance is giving me circular import problems with the approaches I've tried).  So if we want to get back the behavior of being able to import `napari` and then access all of the top level modules implicitly, we may want to roll back #26

[2021-06-01 14:58] goanpeca commented on #2810
[PR](https://github.com/napari/napari/pull/2760) on settings is now depending on that behavior :(

[2021-06-01 15:26] goanpeca commented on #2744
Sorry for the delay @neuromusic

Indeed this poses some issues since some plugins will only be compatible with a specific version of napari?

This would probably be the desired behavior but might be hard to get right.

This would be equivalent to using conda envs for everything so the question would be if we want to do this at the napari level or offer better documentation on how to achive this on

[2021-06-01 15:46] sofroniewn commented on #1278
Ok, great - thanks! One that might be good to look at is #2569 around adding a more clear error message!

I will close this issue though as we won't be implementing this feature

[2021-06-01 15:46] #1278 closed, assigned to nobody

[2021-06-01 15:56] #2482 closed, assigned to alisterburt

[2021-06-01 15:56] #2730 closed, assigned to jni

[2021-06-01 18:36] goanpeca commented on #2772
So should we3 close this @sofroniewn ?

[2021-06-01 18:40] #2772 closed, assigned to Czaki

[2021-06-01 22:21] cyrilcros opened #2814 "you cannot split an xarray.DataArray image into channels via add_image / channel_axis"
## 🐛 Bug

When you have an image with channel data, it is possible to split the channels into separate image layers via the `channel_axis` argument. This works for Numpy but triggers a dimensionality error for `xarray.DataArray`.
Notably, the bug occurs with `pyimagej` multichannel images.

## To Reproduce

[code]

Error trace: https://pastebin.com/Kf5A5FAp

## Environment
 - napari 0.4.8 installe

[2021-06-01 23:22] jmcleanSW opened #2815 "Deleting a layer during the inserted layer event"
## 🐛 Bug

An error is thrown when you delete a layer that was created through a drop event in a function connected to viewer.layers.events.inserted

## To Reproduce

Steps to reproduce the behavior:

1. Run the provided sample code to create a viewer instance.
2. Add some points to the point layer and save the layer as a .csv.
3. Drop the .csv back into napari.

CODE SAMPLE
[code]
ERROR MESSAGE
[c

[2021-06-02 01:10] jni commented on #2810
Hmm, that sucks, but I suspect there is a solution somewhere. Don't have time to look at this in detail right now but there is discussion happening about this pattern at the scipy ecosystem level — here is the [scikit-image PR](https://github.com/scikit-image/scikit-image/pull/5101) and the [SPEC discussion](https://discuss.scientific-python.org/t/spec-1-lazy-loading-for-submodules/25/3). As you c

[2021-06-02 01:13] jni commented on #2810
I did wonder about that, but I was excited to see it work in my usage and then got used to it! 😂

[2021-06-02 01:14] jni commented on #2810
@goanpeca feel free to correct my label usage. 😊

[2021-06-02 01:14] tlambert03 commented on #2810
i'd say lets just roll it back, and deal with the slow imports some other way

[2021-06-02 01:17] tlambert03 commented on #2810
I'm sure it can "be done" ... but after playing with it for 30 minutes or so, it started to feel like a rabbit hole of magic that's going to be a continual frustration (and it also exposed that we've been relying on python imports and `sys.modules` being even cooler than we knew behind the scenes for us).

[2021-06-02 01:19] jni commented on #2810
Just chatting with @stefanv now, he says all the magic is here:

https://github.com/scikit-image/scikit-image/pull/5101/files#diff-cd88cca5d4b70042d79332dc7132ad42a8ea07929b479cf64be5bddb1f7f0548R5

and here:

https://github.com/scikit-image/scikit-image/pull/5101/files#diff-5cf0c3839f5afeb18eb878337af2a47e09d91e50080d007d9c3f5123659ce2d8R96-R97

so we should be able to copy that `lazy.py` and use

[2021-06-02 01:30] ambientnuance commented on #2725
Rightio, I've put together a subclass of ComboBox that handles expansion, completion and a history of previous selections. It's called 'ExpandoBox'.

https://github.com/ambientnuance/pycuties (gif is laggy compared to actual)
https://pypi.org/project/pycuties/

Only a couple of minor quirks are left to tackle - hypothesis did a good job of uncovering edge-cases. It's a tool that I'd been meaning t

[2021-06-02 01:37] tlambert03 commented on #2815
thanks for the code!  [commented](https://forum.image.sc/t/how-to-trigger-on-a-drop-data-event-in-napari/53308/6) back in the ongoing image.sc thread.  This is "bug like" ... but it's also a slightly unusual use case that I need a little more understanding of before suggesting a potential resolution

[2021-06-02 02:08] jni commented on #2810
Working now (locally tested at least) in #2816. 🤞 for the CI!

[2021-06-02 02:46] #2810 closed, assigned to nobody

[2021-06-02 09:04] sebgoti commented on #2569
Hello again, may I attempt to solve this issue?

[2021-06-02 10:38] tlambert03 commented on #2569
Yes please! Don't hesitate to reach out if we can be of help :)

[2021-06-02 12:25] brisvag opened #2817 "New surface shaders are broken"
## 🐛 Bug

With `0.4.9rc0`, new shaders for mesh rendering were added (#2792).
On my machine, this broke surface layers:

## To Reproduce
[code]
This fails with a [long trace](https://pastebin.com/ZjCNNRfi), whose starting point seems to be:
[code]
and ends with
[code]

## Environment

[code]

[2021-06-02 14:12] VolkerH commented on #379
I see a ticked box for

[code]
so I guess this is in place now? If it is, it seems to fail me.

If I want to open a particular .tif file representing segmentation results using the GUI menu `File -> Open File(s)` it is always opened as greyvalue image.
I think a `File -> Open File(s) -> Advanced` that allows for selection of the layer type as mentioned by @jni  in September 2019 would  be a useful

[2021-06-02 15:38] sofroniewn commented on #379
hmm yeah, i'm looking through our magic imread function and it doesn't look like we're guessing if anything is a label https://github.com/napari/napari/blob/988693a4156f042fce47a7e9dd1c4c77aee61a7e/napari/utils/io.py#L142

we have plans to work on context menu for layers that would allow image -> labels conversions, which would help.

maybe @jni remembers more

[2021-06-02 15:57] sofroniewn commented on #2817
Hmm, ok yeah, I'm getting some problems with the new surface layer too (i.e. try running `python examples/nD_surface.py` and `python examples/add_surface_2D.py`. My real world cryoET dataset still works though, but not sure what's different about that dataset. I do get some errors there when `viewer.dims.ndisplay=2`.

Maybe @alisterburt can look into this. Great job catching @brisvag, we'll wait u

[2021-06-02 16:01] sofroniewn opened #2818 "Translation check strings script error"
## 🐛 Bug

The translation check strings script causes errors for me. When I run `pytest tools/ --tb=short`

I get

[code]

I wonder if i have some outdated packages, or an older version of python? cc @goanpeca

[2021-06-02 16:20] ppwadhwa opened #2819 "Add UI for editing keyboard shortcuts"
Add a UI to the preferences dialog that allows the user to edit the keyboard shortcuts.

Any thoughts on how it should look are appreciated.  I am planning to start with something similar to what is in VSCode.

@goanpeca @liaprins-czi  @sofroniewn  What do you think?

 ![Screen Shot 2021-06-02 at 11.16.10 AM.png](https://images.zenhubusercontent.com/5e7101046aaeb93f6ceb6022/99d540e2-3cfe-4534-871d

[2021-06-02 16:32] sofroniewn commented on #2819
I think this for inspiration!

I guess for us "Source" will be if it comes from napari - could say "default" or which plugin it comes from? (Which we don't support yet, but one day will!!).

Do we have the "When" and "Command" nicely captured in the action manager syntax from @Carreau?

[2021-06-02 16:37] #2712 closed, assigned to ppwadhwa

[2021-06-02 17:00] alisterburt commented on #2817
Nooooo 🙁

Okay so after some initial investigations there are two factors at play here

1. I need to vendor the base `Filter` class from vispy to deal with the `_attached` issue in this trace
https://github.com/vispy/vispy/blob/0206a2ce2a69231c6afa9ea04910960b392feb01/vispy/visuals/filters/base_filter.py
2. The `examples/nD_surface.py` problem is actually because of the vertices being integers - v

[2021-06-02 17:06] tlambert03 commented on #2819
yeah, that general UI pattern would be dreamy 😍

[2021-06-02 17:16] liaprins-czi commented on #2819
Thanks for tagging me on this @ppwadhwa ! Do we know where this pane will live / how users will access it? I coud see it as a section with the new Preferences window, or else a separate window of its own that is accessed the same way as the Preferences: via the top menubar.

As far as the UI goes, I collected a few UI examples when I was researching best practices for the Preferences panel overall

[2021-06-02 17:23] liaprins-czi commented on #2819
Example screenshots:

**Zoom**
(old version:)
<img width="612" alt="Screen Shot 2021-06-02 at 10 17 25 AM" src="https://user-images.githubusercontent.com/53277128/120524620-19c34f00-c38c-11eb-9f30-ea45cbd0412c.png">

(current version:)
<img width="846" alt="Screen Shot 2021-06-02 at 10 02 24 AM" src="https://user-images.githubusercontent.com/53277128/120524972-7c1c4f80-c38c-11eb-95b9-9cca2805a121.

[2021-06-02 17:55] andy-sweet commented on #2163
@thewtex Did you define that order (with parentheses in those particular places) because you think of `skew` being absorbed into the affine component of that composition rather than something that describes how the pixels in an image are sampled? Or is there another reason?

Alternatively, could we consider the following order?

[code]

In this case, you could think of `rotate * skew` as defining

[2021-06-02 18:05] sofroniewn commented on #2819
These are great screenshots @liaprins-czi! All those are great questions too. Maybe @ppwadhwa and @liaprins-czi want to sync up on this, and we can make a design mock that can then guide your implementation @ppwadhwa

[2021-06-02 18:07] sofroniewn commented on #2817
Awesome thanks, looks like we're making good progress now, I can take a deep look in the afternoon, seems like we should have it all sorted soon!!

[2021-06-02 18:21] sofroniewn commented on #2163
[code]

seems very reasonable to me, and i can see how it will be nicer with the QR-decomp, but good to know if there are good reasons to consider the alternative!

[2021-06-02 18:33] goanpeca commented on #2818
Need to provide better error messaging and it seems a walrus operator is making things fail for envs with python3.7 (no walrus support)

Will fix!

[2021-06-02 18:41] goanpeca commented on #2819
With the action manager work, `Actions` now have human-readable (localizable) descriptions : so we are 👍🏼

Nice, indeed, I like the pop-up :)

👍🏼

If we put in the preferences dialog, then we already have a reset there. Now the question is if we want fine grained reset for a given shortcut in the list.

It depends on the context, for Global application shortcuts it will matter as these shortcut wo

[2021-06-02 19:39] Carreau commented on #2819
Thanks for the information,

we do not have a nice way to do "Where" yet, but that should be doable in the future when we move capturing keybinding to the action manager. We likely want to think about the UI for When but hide it for now.

In "Sources" we will likely also get language packs, I don't know if we want to say that this is "Default" or "localized default".

I believe that an easy way to

[2021-06-02 19:41] goanpeca commented on #2819
Localized default sounds good :)

[2021-06-02 19:42] goanpeca commented on #2819
Tooltip might not be very discoverable but can't think of a better option.

Having `Add something somewhere (napari:add-something-somewhere)` would take too much space :)

[2021-06-02 21:45] andy-sweet commented on #1880
I was thinking about picking this issue up, but after some initial poking around the code, I suspect it is not possible to reproduce anymore for the following reasons.

1. The crash occurred because the value returned by Layer::coordinates had a lower dimensionality than that of the layer's transform.
2. [Layer::world_to_data](https://github.com/napari/napari/blob/07df2af8282265dbbdbb1fb0f8aeb3c21

[2021-06-02 21:48] sofroniewn commented on #1880
Thanks for looking into this @andy-sweet, we can leave it open for a little more in case someone runs into similar problem on latest version of napari (say > `0.4.8`) but agreed, it might no longer be so relevant due to underlying code changes. If we don't hear anything I'll close issue, but people should feel free to reopen/ comment more if they run into additional problems

[2021-06-02 21:51] DragaDoncila commented on #1880
Hi @andy-sweet fwiw I used to see this semi regularly and have not seen it in a while. Recently (last three weeks) I've worked with a variety of tiffs (2D+t), ome-zarrs (2D+t) and nd2 files (3D+t) recording demos for a talk and haven't run into this again.

Obviously not conclusive proof, but given your investigations it's likely this is no longer a bug.

I'll keep an explicit eye out for it in th

[2021-06-02 22:15] goanpeca opened #2823 "Show all key bindings dialog is not displaying text for some keybindings"
This is probably broken since the action manager merge since we are not using it to populate these bindings.

![Screen Shot 2021-06-02 at 5.14.32 PM.png](https://images.zenhubusercontent.com/560c1b40638e718c995d70b3/b3c44d0a-dae8-4aa2-bf31-3cf334578658)

[2021-06-02 22:32] alisterburt commented on #2817
can't see a reopen button but this should be reopened pending #2821

[2021-06-03 00:01] sofroniewn commented on #1398
@alisterburt this might be something you want to look into while looking at the vispy volume stuff too

[2021-06-03 02:48] andy-sweet commented on #2791
I decided to fix this by explicitly providing dtype if any of the elements are strings, as effectively suggested by the [associated numpy release note](https://numpy.org/devdocs/release/1.21.0-notes.html#promotion-of-strings-with-numbers-and-bools-is-deprecated).

Some other ideas I had with reasons against them.

1. Filter the warning in the test using `pytest.mark.filterwarnings`. The user may s

[2021-06-03 02:56] sofroniewn commented on #2791
That sounds reasonable, but I'm trying to remember here what normal usage looks like - I know people can pass strings for colors, like `'k'` for black etc, but an input like  `colors = ('a', 1, 1, 1)` doesn't make any sense. It might come back to me when I review PR, but this sounds like a fine thing to try

[2021-06-03 02:58] ppwadhwa commented on #2819
Thank you for all the comments everyone!  I will get in touch with @liaprins-czi  about a meeting and we will get the ball rolling on a first version.

[2021-06-03 03:06] andy-sweet commented on #2791
Just to confirm, the current test verifies that an exception is raised with `('a', 1, 1, 1)`. I assumed the test was written to check that we both stop execution for that input and provide a hopefully useful error message to the user. If we really don't ever expect that input, we should probably just remove the test case.

[2021-06-03 03:10] sofroniewn commented on #2791
We have this fairly long list of invalid colors - see https://github.com/napari/napari/blob/102a7e8f845893c874d2b86f9371d41130100b89/napari/utils/colormaps/_tests/colors_data.py#L105-L121 none of which we'd really expect as inputs, but agreed we should raise a more helpful error message for all of those as i could see someone typing one in by mistake. If your PR gets us to that more helpful error

[2021-06-03 03:29] ppwadhwa opened #2826 "Add in more keybindings to settings"
Need to include several more keybindings in settings including those defined in the main window and layer keybindings.

[2021-06-03 07:49] JulesScholler commented on #513
Could you please edit the documentation to explain that switching to 3D will only use the top pyramid level, because I messed around for quite some time before finding that it was simply not implemented.

[2021-06-03 08:58] Carreau opened #2828 "Shapes layer: Double click to finish polygon or path."
## 🚀 Feature

I have the impression that many other software that allow to manipulate path let you double click to finish a path/polygon, at least my muscle memory make me double click in napari. At least inkscape have it documented (https://inkscape.org/doc/keys.html#idm3170)

## Motivation

1) it seem to be what other software are doing consistency and familiarity is good.
2) it allow to not rea

[2021-06-03 12:00] brisvag opened #2829 "Using arrow keys to switch selected layer skips one layer"
## 🐛 Bug

If a layer is selected and you press the up/down arrow keys, instead of switching to the next/previous layer, it will skip over one layer.

## To Reproduce

Open napari, create create a bunch of layers, select one of them and press `up` or `down`.

## Expected behavior

The adjacent layer should be selected.

## Environment
[code]

[2021-06-03 12:01] tlambert03 commented on #2829
I noticed this too recently... I feel like it wasn't this way when the new layerlist got introduced.  will investigate.  thanks

[2021-06-03 12:07] tlambert03 commented on #2829
git bisect puts it at #2612

[2021-06-03 12:20] tlambert03 commented on #2829
looks like it was probably a merge error... all of the `select_layer_above`, `selected_layer_below` keybindings that got removed in [2493](https://github.com/napari/napari/pull/2493/files#diff-bba32f24d9521c1fd114e940534c88a661d3f3400db6c153ba296cc4f2a866b3) got added back in #2612 ... so now a keypress is triggering the action twice.

The easy fix is to just remove them again... but it might be w

[2021-06-03 13:36] brisvag opened #2832 "Vectors should have out-of-slice rendering like points.n_dimensional"
## 🚀 Feature
It would be great if `Vectors` had the same `n_dimensional` attribute as points. I imagine it's more complicated to implement than points. Is it even doable? Was this discussed before?

## Motivation

I use vectors and points to indicate positions and orientations in a 3D volume. I often want to slice through the volume in 2D, and right now I lose orientation information while doing s

[2021-06-03 15:33] #2818 closed, assigned to goanpeca

[2021-06-03 15:40] sofroniewn commented on #513
Very sorry to hear that. I've created https://github.com/napari/napari/pull/2833 to address that, please let us know if that helps.

We do plan to add support for 3D pyramids, but it might still be a while

[2021-06-03 15:49] sofroniewn commented on #2829
As an immediate fix I'd be fine dropping them again - I don't think we would have implemented our own if we'd had the ability to use "native" Qt ones. But now that the general keybinding stuff is progressing, maybe one day we will decide that no keybinding would ever natively be processed and every keybinding would flow through our stuff. Actually now that I think about it more, how far are we awa

[2021-06-03 15:54] #2823 closed, assigned to goanpeca

[2021-06-03 16:07] liaprins-czi commented on #2819
Sounds good! I have also created a Clubhouse issue for the design of the
keyboard shortcuts, just FYI:
https://app.clubhouse.io/imaging/story/141225/design-for-keyboard-shortcuts

On Wed, Jun 2, 2021 at 7:58 PM Pam ***@***.***> wrote:

--

*Lia Prins*

Senior Data Visualization Designer

(650) 422-1750

chanzuckerberg.com

[2021-06-03 17:20] ppwadhwa opened #2834 "napari will not run with octree selected"
## 🐛 Bug

I cannot start up napari with NAPARI_OCTREE=1.  There is a circular import happening...

[code]

## To Reproduce

Steps to reproduce the behavior:
Type following---
1.  export NAPARI_OCTREE=1
2.  napari

[2021-06-03 20:01] tlambert03 opened #2836 "KeyError in `unbind_shortcut` with outdated `settings.yaml`"
## 🐛 Bug
In working on a PR, I removed some of the shortcuts in `default_shortcuts`, which caused an error right here in the ActionManager:

https://github.com/napari/napari/blob/b37a1e2de01052b8d840ebda491965aede077091/napari/utils/action_manager.py#L349

not sure what the best approach is here.  could just catch the `KeyError` and move on (which solves the crash I had) but don't know if there's

[2021-06-03 20:17] sofroniewn commented on #2814
Ok, thanks good to know - we should really get better at testing xarray support!!

[2021-06-03 21:37] thewtex commented on #2163
You are right. Most image processing algorithms do not support skew, but this is not limited to ITK.

Yes, an *image* is defined by sampling that is on a uniformly spaced, rectilinear grid.

In ITK, there are no checks that a `Direction`  is orthogonal, but most algorithms are not valid without that assumption. For ITK, the Direction is orthonormal.

Without a uniformly spaced, rectilinear grid, m

[2021-06-03 22:33] cyrilcros commented on #2814
Fixed by https://github.com/napari/napari/pull/2780

[2021-06-03 22:33] #2814 closed, assigned to nobody

[2021-06-03 23:04] thewtex commented on #1457
Added a new branch, which can be used as follows:

[code]

![napari](https://user-images.githubusercontent.com/25432/120722770-5e3f0f80-c49e-11eb-9411-35c8ecce4213.gif)

[2021-06-03 23:05] tlambert03 commented on #1457
Whaaat!  yaaaaas!

[2021-06-03 23:27] tlambert03 commented on #1457
question: I noticed that secondary (nested) menus don't seem to be opening for me:
<img width="764" alt="Untitled" src="https://user-images.githubusercontent.com/1609449/120724370-ae6ba100-c4a1-11eb-9c33-e545044a48a3.png">

any insight there?  is that a virtual window manager thing?

[2021-06-03 23:39] tlambert03 commented on #1457
never mind... that's my bad: there are no samples

[2021-06-04 01:16] sofroniewn opened #2839 "Regression on plugin hookspec sorter styling in preferences"
## 🐛 Bug

There seems to be a regression with the styling of the hookspec sorter in the preferences.

I get a lot of

[code]

and if I uncheck one of the reader hookspecs it goes away instead of being dimmed. Maybe this was from the recent opactiy adjustment in #2783 cc @ppwadhwa @goanpeca

<img width="1061" alt="Screen Shot 2021-06-03 at 6 13 21 PM" src="https://user-images.githubusercontent.com/

[2021-06-04 01:25] ppwadhwa commented on #2839
yes, that's from that PR. I will look at it now!

[2021-06-04 05:25] #2834 closed, assigned to ppwadhwa

[2021-06-04 07:30] jni opened #2841 "Feature requests: better behavior for debugging plugins"
## 🚀 Feature

When plugins have errors, it is currently a frustrating experience to debug them in napari:

- [ ] To find plugin errors, I have to go to "Plugins > Plugin Errors > Select plugin...". That last click in particular is totally unnecessary: if there are one or more items in that dropdown menu, it should load the first item automatically.
- [ ] Errors are not surfaced in the notification

[2021-06-04 11:27] tlambert03 commented on #2841
I agree with all these things.  for what it's worth, I use `napari --plugin-info -v` a _lot_ when debugging plugins and it satisfies some of these things.

[2021-06-04 15:53] #2839 closed, assigned to goanpeca, ppwadhwa

[2021-06-04 15:55] #2791 closed, assigned to andy-sweet

[2021-06-05 02:37] #2829 closed, assigned to nobody

[2021-06-05 09:14] Carreau commented on #2836
I'm not to sure, I can't reproduce even with an empty `default_shortcuts`, do you have a traceback ?

[2021-06-05 09:22] Carreau opened #2847 "Default shortcuts saved in preferences after "restore default""
## 🐛 Bug

preference "restore default", save default shortcut to preference file instead of leaving them empty.

## To Reproduce

Steps to reproduce the behavior:

1. open `~/Library/Application Support/Napari/settings.yaml` or equivalent.
2. open napari, preferences, click "Restore default"
3. settings.yaml does now contain
[code]

## Expected behavior

I believe that when reseting to default, sh

[2021-06-05 09:32] Carreau commented on #2847
More generally "restore default" seem to serialize the configuration and write it to disk, wouldn't a safer approach be to just remove the file, or write an empty file as if napari was restarted from scratch ?

[2021-06-06 13:09] tlambert03 commented on #2836
I'm sorry (that was a poor bug report) ... I'm realizing now that

a) it was the removal of the registered callback in `viewer_key_bindings` that was required for the bug (even if you also remove it from `default_shortcuts`)
b) I saw the traceback in pytest ... not just in quitting napari... so that's probably relevant

here's how to reproduce what I was getting before (on master)

[code]

[code]

[2021-06-06 14:11] tlambert03 commented on #2803
@jni ... is this something you are planning to follow up on since the reversion?  really don't want this long term vision (as lovely as it is) to get in the way of some small short term improvements.  Just to re-iterate, that previous PR really wasn't trying to establish a new community multiscale API.  Really, the main thing it did was just take our current API (list of arrays) and make it immuta

[2021-06-06 17:48] AKEOPLUS-boris-bocquet opened #2849 "ipy_interactive / napari.run blocking (or mechanism under this) not working properly while running codes with Spyder"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Install napari  0.4.8.
2. run the script given below using Spyder "F5", which calls ```runfile``` command.
3. The console will output ```after run``` but the napari window is still running (you don't have to close it, so ```run``` does not block execution).

[code]

## Expected behavior

```run``` should block code execution as expect

[2021-06-06 17:52] tlambert03 commented on #2849
@goanpeca, do you know what might be going on that might make spyder behave any differently here?

@AKEOPLUS-boris-bocquet ... we recently merge a better way intentionally block in #2669
if you have time, can you try from master with

[code]

[2021-06-06 17:55] AKEOPLUS-boris-bocquet commented on #2849
Remarks : the code behaves properly using ```VSCodium``` with ```ms-python``` plugging

[2021-06-06 18:02] tlambert03 commented on #2849
@AKEOPLUS-boris-bocquet, other things that would be good to know here, what are the outputs of this script when run in spyder?

[code]

[2021-06-06 18:15] AKEOPLUS-boris-bocquet commented on #2849
This proposal works as expected with the same Spyder installation, but new python virtual environment and using freshly cloned napari source code from master branch.

[2021-06-06 18:16] tlambert03 commented on #2849
great.  thanks for testing, That will be in the next release (0.4.9) which will be released very soon

[2021-06-06 18:18] AKEOPLUS-boris-bocquet commented on #2849
Here is the output
[code]

[2021-06-06 18:23] tlambert03 commented on #2849
thanks again.  I assume you put that in a script after making a napari viewer?  I'm surprised the `applicationName` would already be napari with that script alone...
Basically, what I'm trying to figure out is whether something in spyder is starting the ipython `gui_qt` interactive event loop before napari even has a chance to get involved.  If that is the case, then I'm not sure there's anything

[2021-06-06 19:10] #2817 closed, assigned to alisterburt

[2021-06-07 15:31] brisvag opened #2852 "Non-private dimensionality-based interpolation"
## 🚀 Feature
`Image` layer has a "private" `_interpolation` attribute that contains a dictionary that maps number of displayed dimensions to interpolation used. However, the public counterpart only exposes the *current* value, which depends on the current `dims.ndisplay`. It would be nice to have a public access to the full dict-like attribute.

## Motivation

If I prepare a bunch of layers in adv

[2021-06-07 16:39] goanpeca opened #2853 "Try to make settings usable via a context manager"
See [discussion](https://github.com/napari/napari/pull/2760#issuecomment-855505408)

[code]

[2021-06-07 17:00] goanpeca commented on #2553
@Carreau what do you think of the options?

I think we can `Use a double curly brace {{}}` to indicate that and close this for now

[2021-06-07 17:00] liaprins-czi commented on #2819
Here's a [document](https://docs.google.com/document/d/1mZsc5zItiz0nca3rYl5IDpQlTO9QULqSWe40rctaBtA/edit#) where I have collected examples of how various other tools allow for the various nuances we must account for in our keyboard shortcut editing design, namely:

1. Where / how to access keyboard shortcut editing
2. If abundance of actions to potentially edit, how are they organized / accessed v

[2021-06-07 17:06] Carreau commented on #2553
That sounds good to me, sa long as there is a documented way somewhere I'm find with it.
It should be clear for both translators and coders.

[2021-06-07 22:25] Czaki commented on #2853
The main question is how to determine which settings object use in threads or in Qt main loop.

[2021-06-07 23:48] andy-sweet commented on #2163
Thanks for the feedback @thewtex.

In the last napari community meeting, we decided to keep our current implied ordering `rotate * shear * scale + translate`. As napari's primary concern is visualization, the order of these transforms (and presence of shear) is not critical, and that order was believed to be the most natural when dealing with visualization of datasets that do contain some kind of

[2021-06-08 00:24] jni commented on #789
It looks like the DVID endpoints may have changed. I found this blog post about the latest (1.2) hemibrain release:

https://dvid.io/blog/release-v1.2/

which points to this Python library to query the REST API:

https://github.com/janelia-flyem/neuclease

I know @docsavage was planning to do a bit of work with napari but I suspect he has not gotten around to it yet. But if you have @docsavage ple

[2021-06-08 00:53] goanpeca commented on #2195
Until the code is using the `translator` and the strings have been scrapped and they have been uploaded to crowdin and a language pack has been generated, then no you cannot do it.

However for a plugin in development, as long as there is a public repo, you can add the things in here

![image](https://user-images.githubusercontent.com/3627835/121105577-f8b69000-c7c9-11eb-9964-04d4103d9b8e.png)

An

[2021-06-08 03:46] hungyiwu commented on #789
The [original repo](https://github.com/hungyiwu/napari_issue_789) was removed because (1) I didn't have time to continue the development, and (2) my initial approach wasn't following the plugin system so not much effort-saving. Sorry for any confusion 🥺

[2021-06-08 18:55] thewtex commented on #1457
It is mostly functional for remote use. However, it is just intended for CI testing -- you can interactively debug locally with the exact environment in GitHub Actions. The return code of executed app is forwarded, e.g. for `pytest`.

[2021-06-08 19:06] thewtex commented on #2163
:+1: makes sense, and a good path forward. Thanks for working on this.

Ah, thanks for the note. Yes, if we can expect scale to always be positive and any negations absorbed into rotate, it will simplify working with `ImageLayer` since pixel spacing in other contexts is taken to be positive.

[2021-06-08 21:27] JoOkuma opened #2857 "Napari tracks writer plugin error"
## 🐛 Bug

Napari raises an error when saving some data using the `napari_write_tracks` plugin interface.

## To Reproduce

Steps to reproduce the behavior:

1. Git clone [this repo](https://github.com/JoOkuma/napari-plugin-debug)
2. Install it with `pip install -e .`
3. Run the program at `scripts/demo_tracks.py`.
4. Select the tracks layer and try saving it with `Ctrl+S`

It raises:

[code]

## E

[2021-06-08 21:57] tlambert03 commented on #2852
sounds good to me.  That was only "private by default".   but it definitely seems reasonable to set the non-visible interpolation setting!

[2021-06-08 21:57] andy-sweet commented on #1558
It's my first time looking at most of this code and I'm a bit confused by the request here, mostly because there seem to be some important differences between the two properties mentioned (colormap and color_mode).

The `IntensityVisualizationMixin::colormap` directly corresponds to the `VispyImageVisual::cmap` property, so refreshing the display is mostly as simple as keeping those properties in

[2021-06-08 22:19] JoOkuma opened #2858 "Weird points layer behavior when using the scale parameter."
## 🐛 Bug

The `world_to_data` method results in weird coordinates mapping when used with a scaled points layer.

## To Reproduce

Steps to reproduce the behavior:

1. Execute this code.
[code]
2. Add some points in some z-slice that is not the first one.
3. Press the "Print points" button on the bottom left corner.
4. Check the output.

## Expected behavior

I expected the z-coordinates from these

[2021-06-08 22:42] DocSavage commented on #789
@jni The DVID endpoints are sacrosanct and will not be changed :)  The neuclease library was written by @stuarteberg and includes a DVID python driver.  At some point he may split that out.  I did make a simple non-dask example just to test bringing in uint8 subvolumes into napari, and it was pretty simple.  I'll try to add a dask example in the near future if Emma doesn't beat me to it.

[2021-06-09 03:01] jni commented on #2858
@JoOkuma I think this is actually expected behaviour: `pts_layer.data` is already in "data" coordinates, as the name indicates. 😂 So it makes no sense to run it through `world_to_data`. If you look at `pts_data * scale`, you get the coordinate of the point in world coordinates, and it matches up with the pixel coordinates of the image (with scale (1, 1, 1)). It looks like `layer.data_to_world` is

[2021-06-09 03:20] jni commented on #1558
The request is to refresh the layer after setting color_mode, bluntly or not. 😂 Preferably not, but bluntly (ie connecting the color_mode setter to layer.refresh) works as a first try!

[2021-06-09 03:28] jni opened #2859 "napari_write_tracks hookspec is not listed in our docs"
## 📚 Documentation

Our hookspec docs are missing the `napari_write_tracks` hookspec:

https://napari.org/docs/dev/plugins/hook_specifications.html

I remember @kne42 pointing to some files that need to be manually updated when new hookspecs are added... Possibly we should automate this though?

[2021-06-09 03:36] jni commented on #2803
It was definitely more on the forget side of things for me. 😬😅😂 Apologies! Shall we pair on this? I think @joshmoore is too busy with the OME meeting to comment right now. 😂

[2021-06-09 03:43] #2847 closed, assigned to Carreau

[2021-06-09 03:44] jni commented on #2852
@goanpeca I'm not sure this is a good first issue. 😂 I think there's some tricky API discussions to be had here!

[2021-06-09 03:44] #2178 closed, assigned to ppwadhwa

[2021-06-09 04:06] sofroniewn commented on #2651
Happy to leave this open, in which case we can either have it as `0.4` (or `0.4.10` milestone if we think we'll get the work done by then) or we can close and label as `0.4.9` as that is when we did the bulk of the work

[2021-06-09 04:29] andy-sweet commented on #1558
At the risk of being annoying/pedantic, we already refresh the layer after setting its color_mode - but through an explicit call rather than through a connection to a method of VispyImageLayer. I think the explicit call has a couple of advantages over a new connection.

1. Simpler program flow and less indirection (Layer::refresh was already pretty tricky to follow!).
2. The call to Layer::refresh

[2021-06-09 04:43] goanpeca commented on #2852
Whoops, it felt like a simple change from afar :)

[2021-06-09 04:48] sofroniewn commented on #1558
it could be that when this issue was raised back last year we were missing that explicit call that @andy-sweet notes. Can you check @jni if the behavior is now fixed? There have been some big changes to this part of the code base

[2021-06-09 04:50] sofroniewn commented on #1558
i.e. do you as a user of napari still need to explicitly make this call @jni? if I read @andy-sweet correctly then you the user don't need to make this call anymore. A minimal example here might also really help clear this up

[2021-06-09 14:32] JoOkuma commented on #2858
Ow, I was using it backward 🤦.

But why do the points' `world_to_data` results change when I change the image layer scale?

I thought the world be some fixed standardize space, with unitary scale, localized at the origin, etc.
So it does change with the data?

[2021-06-09 17:30] andy-sweet commented on #1558
Based on the initial description, it sounded like there was an expectation that calling `Labels::events::color_mode()` would cause the refresh. That's still not true, as you need to call the `color_mode` setter. Agreed an example would help to clarify that.

I think I also made an assumption that the events (while publicly exposed) represent more of an implementation detail, and that using the set

[2021-06-09 17:41] liaprins-czi commented on #2819
@sofroniewn + anyone else interested, I built out a prototype showing what the keyboard editing UI could look like, and more importantly, how it would organize actions, what it would allow users to do, and how it will react (i.e. handle conflicts). I have already shared with @ppwadhwa and @goanpeca on Monday, and it looked good to them ,but wanted to get final input. Leave feedback here or on the

[2021-06-09 20:28] ianhi commented on #2800
I agree with this big time! I made a similar suggestion (with much worse graphics :upside_down_face: ) here: https://github.com/napari/napari/issues/2189#issuecomment-769559211 but it never made it's way to its own issue

My one comment here is that your proposed scheme is probably best for left handed people, and one with the keys on the left of the keyboard would be better for right handers. Per

[2021-06-09 21:24] sofroniewn commented on #2819
Wow @liaprins-czi these are looking beautiful! Let's show at the team meeting thursday (here's one screenshot for people just glancing at the issue)

![image](https://user-images.githubusercontent.com/6531703/121430910-94144600-c92d-11eb-9e5f-9487b564ff59.png)

One thing I just want to double check with everyone is

I know we did have multiple keybindings for the same action at one point in the co

[2021-06-09 21:48] sofroniewn commented on #1558
If I run `python examples/add_labels_with_properties.py` and in the console do `viewer.layers[1].color_mode = 'auto'` then the display updates automatically without needing to call `layer.refresh`. That is the behavior that matters to me, and I think when I said https://github.com/napari/napari/issues/1558#issuecomment-674934908 I might have misunderstood thinking that was not the case, not really

[2021-06-09 21:51] emmazhou commented on #789
@jni @hungyiwu made a plugin! https://github.com/emmazhou/napari-dvid

this was almost entirely cannibalized from some sample code @DocSavage sent me :)

try it out and lemme know if it works for you!

[2021-06-09 23:32] sofroniewn opened #2862 "napari octree doesn't work for multiple layers blended"
## 🐛 Bug

Multiple layers blended do not work with the napari octree right now as it doesn't track the layer id properly in the cache. This can be fixed by disabling an aspect of the cache, but then performance is slow. We also might want to think about delaying the update until all layers for a certain tile have loaded to avoid an unseemly flickering.

## To Reproduce

[code]

## Expected behavio

[2021-06-09 23:36] sofroniewn commented on #2862
Note the above was done with NAPARI_OCTREE enabled. If disabled then things render correctly, but are slow

<img width="1202" alt="Screen Shot 2021-06-09 at 4 34 53 PM" src="https://user-images.githubusercontent.com/6531703/121442582-c8453200-c940-11eb-8064-eef97ca4c9f1.png">

[2021-06-09 23:39] sofroniewn opened #2863 "unset NAPARI_OCTREE no longer works"
## 🐛 Bug

Not sure if we should just begin dropping the NAPARI_OCTREE env variable, but now that we have the settings remembering the tiled rendering case, if you do `export NAPARI_OCTREE=1` from the command line it will turn on the tiled rendering setting, which gets saved. If you then do `unset NAPARI_OCTREE` the env variable gets cleared, but you still have the setting, so you have to go into t

[2021-06-10 00:34] goanpeca commented on #2863
That is odd since env variables should not be saved.

Does the same happen with theme (an easy one to test with)?

[2021-06-10 01:06] ppwadhwa commented on #2863
I just reproduced the bug.  I tried both the octree setting and I also tested with theme.  If you set something in the environment, it will overwrite the setting and disable the widget.  It is weird, because I am fairly certain I had tested that the setting was not overwritten before and I don't remember seeing this behavior.  I am wondering if #2848 affected this?

[2021-06-10 01:13] ppwadhwa commented on #2863
So, I just reverted a bit of code that was changed in #2848, and the settings are not overwritten when setting environment variables.  So, this bug does seem to have been introduced with #2848.

[2021-06-10 01:41] sofroniewn commented on #2862
So far I've been able to identify at least three issues that might be preventing this from working.

The first is that with tiled rendering enabled but `force_synchronous` set to True, we still see artifacts like

<img width="1202" alt="Screen Shot 2021-06-09 at 6 34 31 PM" src="https://user-images.githubusercontent.com/6531703/121450941-7e187c80-c951-11eb-9787-b16031611d48.png">

and the blending

[2021-06-10 02:15] jni commented on #2380
Just came across another option here, could be very nice! From this blog post:

https://lemire.me/blog/2016/06/27/a-fast-alternative-to-the-modulo-reduction/

[code]

Entries 5 and 6 are the key: they give "random" numbers in 0-256. We can then give those directly to VisPy for vis. The only downside is that we need label information in the bottom 16 bits. If the input labels are `2**16 * i` for i

[2021-06-10 02:16] jni commented on #2858
Because the slider moves a different amount of world space based on the image layer.

[2021-06-10 02:40] jni commented on #789
Cool! @emmazhou I've made an issue there with next steps, assuming you want to take the next steps. 😂

[2021-06-10 02:46] jni commented on #1558
Yeah I don't fully remember the context. If setting color_mode refreshes, I think that's good enough. Could well be that this issue can be closed. I'll reopen if I run into this again! Sorry for the confusion!

[2021-06-10 02:47] jni commented on #1558
Actually, maybe it should stay open. 😅 Specifically: rather than the color_mode setter calling `self.refresh()`, shouldn't we *only* call `self.events.color_mode()` and trigger a refresh from that? ie connect events that affect the display to `self.refresh`?

[2021-06-10 03:14] goanpeca commented on #2819
So now we can support multiple shortcuts, but decided (as Lia mentioned) to only support the first one for now. I have some ideas on how we could support max 2 per action on the preferences pane (I do not see a real use case for 3 different shortcuts for an action) and we can iterate with Lia on this.

Not really hard, we planned with @ppwadhwa for an initial version using `QTableWidget` and might

[2021-06-10 03:33] sofroniewn commented on #1558
Calling refresh inside these setters is our standard pattern right now - for example see `layer.mode` setter.

https://github.com/napari/napari/blob/a279594e677f913067ce65c8fc62943d1819900c/napari/layers/labels/labels.py#L724-L725

I think we should just defer this until the pydantic refactor which will force us to standardize event emission on our layers

[2021-06-10 03:36] sofroniewn commented on #2380
I think this is ok, i'm supportive of giving it a try. Could you give the outputs of the labels benchmarks too - before and after - which include some images different sizes, and could help give a sense of the real world impact

[2021-06-10 05:33] jni commented on #1558
To summarise a conversation @sofroniewn and I just had offline:

- Currently, all our layers use `self.refresh` to trigger a re-draw when something changes that requires such a thing. This is intended, a one stop shop for redrawing.
- However, that might actually be doing more work than necessary: `refresh` triggers re-slicing, which could be expensive and unnecessary work when e.g. changing the c

[2021-06-10 08:06] Tomaubier commented on #1883
Hi, Is there any temporary fix to get around this issue?

[2021-06-10 16:09] liaprins-czi commented on #2819
Actually it did look like there are a few actions with more than one shortcut set for them currently. They just listed the action twice, each instance as its own row. I think for this new design, we could just list the action once and have the shortcuts stacked visually (I can mock this up). This does not accoutn for the user being able to set mutliple shortcuts themseleves for a single action, th

[2021-06-10 16:46] liaprins-czi commented on #2819
Here is an [updated prototype](https://www.figma.com/proto/szswjs0jmulW5aJo0tgqpo/Keyboard-shortcuts?page-id=0%3A1&node-id=2%3A123&viewport=-4175%2C585%2C0.5&scaling=min-zoom) shwing what it could be like if we both allow:
1. existing multiple shortcuts per action to be shown and edited
2. adding addiitonal shortcuts to actions that currently have only one

I *think* we could support (1.) for the

[2021-06-10 17:06] goanpeca commented on #2819
I would think of having a ➕ sign appear on hover to the right would be my inclination?

[2021-06-10 19:06] sofroniewn commented on #2863
Nice detective work @ppwadhwa, do you see how to fix? I think it can also wait till next release if it turns out to be tricky

[2021-06-10 19:23] ppwadhwa commented on #2863
@sofroniewn I didn't immediately see how to fix it, but I can look more soon.

[2021-06-10 19:24] goanpeca commented on #2863
I don't think it should hold RC. I can take a look at it @sofroniewn :)

Thanks for tracking the source @ppwadhwa !

[2021-06-10 20:26] andy-sweet commented on #1558
That summarizes my thoughts too, but more concisely than I was able to manage! If I have some time in the short term, I might try to make `color_mode` behave more surgically and see where that goes, but will probably run away if it looks like much bigger changes are needed.

[2021-06-11 00:16] sofroniewn commented on #2407
#2821 has now made accomplished the first part of exposing `'none', 'flat', 'smooth'`

[2021-06-11 01:52] jni opened #2866 "Properties handling should be unified across layers"
## 🚀 Feature

We have a bunch of layers with properties now, including points, labels, tracks, and (I think?) shapes. Really any layer with unique IDs could have properties, with rows corresponding to IDs. (ie vectors should also have properties.)

Currently, each layer's properties were implemented independently and share almost no code/infrastructure. This has resulted in weird layer-specific bu

[2021-06-11 02:31] andy-sweet commented on #2380
I did some experiments trying to speed up skimage's `map_array`, but it looks like the alternatives to `std::unordered_map` probably aren't fast enough for this issue and that we seem to have some more promising approaches.

[2021-06-11 02:59] jni opened #2867 "Save layer fails when there is no save history"
## 🐛 Bug

I just tried to File > Save Selected Layer(s), and I get the following bug:

[code]

I have saved layers before so it must have something to do with deleting my save history. I don't know how it got populated at first but now it's gone and I can't get it back. 😂

## To Reproduce

Steps to reproduce the behavior (probably, have not had a chance to test):

1.
[code]

2. Open napari
3. Add

[2021-06-11 07:34] brisvag commented on #2866
Other related issue: #2756.

On dataframes: `xarray` advertises its `DataSet` object as an N-dimensional alternative to pandas `DataFrame`s, and heavily inspired by it. I never used them, but mayeb they are worth taking a look at, if this can help with point number 4.
EDIT: http://xarray.pydata.org/en/stable/user-guide/data-structures.html#dataset

[2021-06-11 12:43] alisterburt opened #2870 "EventedModel is incompatible with dask delayed objects"
## 🐛 Bug

`napari.utils.events.EventedModel` instantiation fails if one of the attributes is a `dask.Delayed` object. I'm not aware of this particular usage anywhere inside napari but it could feasibly come up so I thought it best to make an issue.

I know this is appearing as a pydantic issue here (not napari or `EventedModel` specific) but in my use case the error appeared when equality checking

[2021-06-11 12:51] Carreau opened #2871 "Tifffile: Compress kwarg deprecated in favor of compression"
## 🧰 Task

new version of tifffile now emits a DeprecationWarning since version  2021.6.6 that `compression` should be used instead of `compress` in imwrite and alike.

[2021-06-11 13:27] Carreau opened #2873 "Notfications (and ErrorNotification) don't include all attributes in REPR"
## 🐛 Bug

There are sporadic failures in CI with notification manager, though those are hard to debug do to incomplete repr:

[code]

In particular the error messages are missing.

This is due to the `Event` superclass only including properties:

https://github.com/napari/napari/blob/609fd9f4cc54832c752d3691d7f16e15fbf86517/napari/utils/events/event.py#L180-L183

## To Reproduce

Steps to reproduc

[2021-06-11 14:45] tlambert03 commented on #2870
I think the key here is the [`pick_equality_operator` function ](https://github.com/napari/napari/blob/609fd9f4cc54832c752d3691d7f16e15fbf86517/napari/utils/misc.py#L408)

That function takes an object (which in this case would be a dask.Delayed object) and returns an appropriate function for checking equality.  In "hard" cases like this, we simply return `operator.is_`, which just checks for obje

[2021-06-11 16:03] Carreau commented on #2863
Hum, my guess is that when set with the env variable it is seen by the code that remove the default as having been modified, and hence it saves it.

That seem coherent as if I set the env variable I immediately get
[code]
in my setting file.

[2021-06-11 16:16] goanpeca commented on #2863
Working on a fix for this.

[2021-06-11 16:49] Carreau commented on #2863
I can reproduce with pre- #2848 so I doubt this is due to it.

if you set NAPARI_OCTREE to 1 then start napari

[code]

is stored in the settings anyways and because of

[code]

Yaml config then takes precedence.

I'm also concern that this also affects things that might be in file_secret_settings, and that if someone write something in their secrets file, then it might get propagated to their nor

[2021-06-11 17:24] sofroniewn opened #2875 "Pin vispy < 0.7"
## 🚀 Feature
I think we should pin vispy < 0.7 for our next release. Everyone is working hard to ensure a migration will be easy, but there might be some breaking changes when the release comes out, and I think we'll want to be able to adopt 0.7 when we have everything working as expected.

[2021-06-11 22:36] pranathivemuri commented on #1562
@sofroniewn @kevinyamauchi and everyone else! Thanks so much for the great discussion here, I was wondering if the shape layer was modified after the discussion here. I was going to open another issue regarding the performance of the shape layer where it was taking a long time as well to load the boxes https://github.com/czbiohub/napari-bb-annotations/blob/pranathi-tflite/napari_bb_annotations/_ke

[2021-06-11 22:48] sofroniewn commented on #1562
Not really. I think it's ok to make a new issue with your use case, we can always link them. Looks like we are now capping thumbnail generation at 100 shapes, https://github.com/napari/napari/blob/609fd9f4cc54832c752d3691d7f16e15fbf86517/napari/layers/shapes/shapes.py#L298,so that's not going to cause a big scaling issue anymore but you can also block it completely using this context manager https

[2021-06-12 13:54] alisterburt commented on #2870
Thanks for taking a look!

I tried your suggestion and it seems like using `Delayed` objects in evented models provides lots of opportunities for failure.

I can get the `EventedModel` to instantiate properly like this
[code]

but equality checking in the following example fails
[code]

with the following traceback

[code]

Attempting to modify the `__bool__` method on the `Delayed` object in a mo

[2021-06-12 15:18] tlambert03 commented on #2870
looks like the fully qualified name of Delayed is not `'dask.delayed.Delayed'` but rather `'dask.Delayed'`

so change the known arrays to look like this instead and it should work:

[code]

(in other words, it was _still_ using `operator.eq` for Delayed comparison))

[2021-06-12 16:05] AKEOPLUS-boris-bocquet commented on #2849
You are probably right. I retried today, "freshly", and this time I have this output :
[code]

[2021-06-12 19:58] goanpeca commented on #2819
So using a QTableWidget/View would make. this implementation harder, since we are having "nested rows" for a parent row on the left.

We would need to move to a QListWidget with custom widgets (like the plugin sorter), but doing this does not make it very accessible with the keyboard (moving with it). Currently the plugin sorter widget cannot be used with the keyboard only.

I am looking at option

[2021-06-12 20:00] alisterburt commented on #2870
interesting - I don't really understand why (I saw a note in the misc file about checking namespaces?) but it works like a charm! Will submit a PR now, cheers!

[2021-06-12 20:07] tlambert03 commented on #2819
havent been following along closely here.  but if you want this thing to update itself as the action_manager updates, then you might also consider looking into using one of the views in `_qt.containers` (like the `LayerList` is) with a custom Delegate ... and then turn `action_manager._actions` into a compatible evented object.  (we don't have an evented dict yet but it would be easy enough).  can

[2021-06-12 20:29] tlambert03 commented on #2870
1.  The `__eq_operators__` for each field in an EventedModel are initialized here (where `f.type_` here would just be `Delayed`):
https://github.com/napari/napari/blob/609fd9f4cc54832c752d3691d7f16e15fbf86517/napari/utils/events/evented_model.py#L81-L82
2. the `pick_equality_operator` function takes that type, looks through the class [method resolution order](https://docs.python.org/3/library/stdt

[2021-06-12 21:52] maweigert opened #2880 "ipython + visible console results in AttributeError"
## 🐛 Bug

When instantiating a napari viewer with a visible console dock from inside ipython results in `AttributeError` (seems to be something related to `ipython` itself, see below)

## To Reproduce

Steps to reproduce the behavior:

1. start napari from command line `napari`
2. select the console dock to be visible and close again
3. start napari from within ipython `ipython -c "import napari;n

[2021-06-12 22:01] tlambert03 commented on #2880
thanks @maweigert .  git blame puts it at #2861 ... will have a look

[2021-06-12 22:44] sofroniewn commented on #2819
I think starting with an implementation for just one short cut in the GUI is probably fine and we can put off the decision of adding a second row or second column till later. I think it's fair to say the one reason we have some double shortcut actions now was different people wanted the different shortcuts so we added both, rather than the same person wanted both at the same time. We might never n

[2021-06-12 22:48] #2564 closed, assigned to goanpeca

[2021-06-13 10:08] alisterburt commented on #2870
@tlambert03 thanks a bunch for the detailed explanation, really appreciate it! 🙂

[2021-06-13 10:09] AKEOPLUS-boris-bocquet commented on #2849
@tlambert03 : So, what's your conclusion / proposal ? Are you going to release a patch or not (and then I should go for your recent 0.4.9 release) ? I am not currently sticked to a release version. But maybe my issue is a problem for someone else (even if I haven't seen something similar in the opened and closed issues).

[2021-06-13 12:17] tlambert03 commented on #2849
The proper way to have napari block on showing a viewer is going to be `viewer.show(block=True)`  ...
`SETTINGS.ipy_interactive = False` setting is there to control whether or not napari instructs IPython to start a `%gui qt`  event loop.  But it looks like spyder is already doing this, so `SETTINGS.ipy_interactive` and `napari.run` can't be the place to attack that problem (we would effectively n

[2021-06-13 12:36] tlambert03 commented on #1883
Hi @Tomaubier, from the looks of it, I'm afraid there's nothing that a plugin can do to get multiple files with drag and drop.  that would need to be fixed in napari core.

@jni, I _think_ this was actually the original intention based on this text in the hookspec docs:

In other words, plugins were always only ever going to get a list of paths if the user had indicated the desire that they be sta

[2021-06-14 03:02] jni commented on #2875
@sofroniewn As an alternative, how about adding a CI configuration that uses the VisPy main branch? I've been doing light testing on main and it seems to be working fine. Hopefully not too onerous to maintain that compatibility?

Just a thought — I'm also ok with pinning.

[2021-06-14 03:27] jni commented on #2866
Worth exploring! I don't know whether that analogy goes further than skin deep though — ie if I pass in a DataSet to functions expecting DataFrames, I expect bad things to happen. 😂 But we should investigate, absolutely. 👍

[2021-06-14 11:06] joshmoore commented on #2803
:) I have now survived that (ginormous) fun and am happy to discuss the above. I'll try to get my head around #2683 and just see what it would mean in terms of [napari-ome-zarr](https://github.com/ome/napari-ome-zarr/) since that's probably the most direct route from my side.

Speaking from my ignorance though two thoughts:
 1) I generally support a higher-level construct than the list-of-arrays s

[2021-06-14 15:29] #2867 closed, assigned to goanpeca

[2021-06-14 15:37] #2873 closed, assigned to Carreau

[2021-06-14 15:38] #2871 closed, assigned to Carreau

[2021-06-14 15:38] #2870 closed, assigned to nobody

[2021-06-14 17:00] liaprins-czi commented on #2819
Here's the prototype wherein we allow just one shortcut per action again, for reference (with a couple updates to to the warning tooltip interaction):
https://www.figma.com/proto/szswjs0jmulW5aJo0tgqpo/Keyboard-shortcuts?page-id=142%3A2&node-id=142%3A483&viewport=-3430%2C539%2C1&scaling=min-zoom

[2021-06-14 17:08] goanpeca commented on #2819
Thanks @liaprins-czi !

[2021-06-14 18:26] #2863 closed, assigned to goanpeca

[2021-06-14 21:29] #2880 closed, assigned to nobody

[2021-06-14 21:42] goanpeca opened #2883 "Save selected layers and save all layers are enabled, if no layers have been added"
## 🐛 Bug

On `File menu` Save selected layers and save all layers are enabled, if no layers have been added.

## To Reproduce

Steps to reproduce the behavior:

1. Open napari
2. Look at the `File menu` and see enabled entries that are tied to the existence of a layer

<img width="622" alt="Screen Shot 2021-06-14 at 4 40 33 PM" src="https://user-images.githubusercontent.com/3627835/121963076-3e75d

[2021-06-14 21:52] DragaDoncila opened #2884 "Gracefully close progress objects when viewer closes"
Currently the `progress` object persists after the viewer is closed despite its progress bar being closed. This leads to `RuntimeErrors` when shutting down the viewer.

Reproduced from #2654:

The lifetime of the progress object needs to be more tightly linked to the lifetime of the viewer. There's a few options here, but one might be to pass the progress instance as an argument to get_pbar and th

[2021-06-15 01:50] andy-sweet opened #2886 "Convert TextManager to an EventedModel"

[2021-06-16 02:17] #2163 closed, assigned to andy-sweet

[2021-06-16 02:20] sofroniewn commented on #2628
I think this is sufficient to close this issue. See https://github.com/napari/napari/blob/d310847f0c79f062daadecb8a159e8972c074470/napari/layers/base/base.py#L43

I've now merged #2855 which allows an affine matrix and a rotation matrix to be passed and then composed.

Hopefully this meets @thewtex needs for transforms. If not, might be best to open up a new issue and we can keep improving from th

[2021-06-16 02:20] #2628 closed, assigned to andy-sweet

[2021-06-16 02:45] sofroniewn commented on #2886
Will this be closed by #2885? Curious why you needed to open a new issue here. Was it for estimation, or do you have something else in mind?

[2021-06-16 02:46] #2826 closed, assigned to ppwadhwa

[2021-06-16 10:46] Chris-N-K opened #2887 "Save function defect 0.4.9"
## 🐛 Bug

In 0.4.9 the save selected layers and save all layers functions do no longer work. If selected they throw a list index out of range error. Tested it in a clean environment with a new installation via: pip install napari[all]

## To Reproduce

Steps to reproduce the behavior:

1. Open napari
2. Load or create a layer
3. Try to save it via selected or all layers function

-----------------

[2021-06-16 11:54] goanpeca commented on #2887
Hi @ch-n

Thanks for the report. This has been fixed in master and will be available in the following release.

[2021-06-16 12:09] Chris-N-K commented on #2887
Sadly 4.9 is not usable for many tasks with this bug then.
When will be the following release approximately?

[2021-06-16 12:36] goanpeca commented on #2887
In the meantime you could patch the file yourself (is a one line fix)

you can execute this code to get the file you need to update

[code]

A and then update the file from:

[code]

To:

[code]

---

@sofroniewn maybe we could do a mini-patch (0.4.9.1) release to include this, while 0.4.10 is out?

[2021-06-16 12:44] Remote-Radical opened #2888 "When viewer.add_image() is called on a very large float array without specifying contrast_limits, the data range calculation overwhelms system resources."
## 🐛 Bug

When viewer.add_image() is called on a very large float array without specifying contrast_limits, the data range calculation overwhelms system resources.

## To Reproduce

Steps to reproduce the behavior:

The following script lazily generates a very large array. Wrapper function can be used to count the number of array-generating calls.
[code]
The above code results in many hundreds of

[2021-06-16 12:56] tlambert03 commented on #2888
Thanks @Remote-Radical ... I think there's been an issue elsewhere that we shouldn't call `calc_data_range` when the provided data is a dask array.  in any case, I agree.  should be an easy fix.

[2021-06-16 13:28] Chris-N-K commented on #2887
Thanks for the self patch suggestion. :)
Will fix it on our machines.

[2021-06-16 15:17] andy-sweet commented on #2886
Yes, this should be closed by [#2885](https://github.com/napari/napari/pull/2885). Intuitively, I opened an issue for this for sprint planning, but agreed that it's not really needed.

[2021-06-16 15:45] sofroniewn commented on #2887
We could start the `0.4.10` release process today / make the release tomorrow. I think it might be worth it - cc @jni @tlambert03

[2021-06-16 15:57] tlambert03 commented on #2887
while trying something with magicgui yesterday, I realized I may have also introduced a regression in the `napari.types.*` registration during the `__init__` reorg.  so that should also get fixed ASAP and should go in a quick patch release

[2021-06-16 16:23] JoOkuma commented on #2338
From my anecdotal experience implementing [this ortho viewer plugin](https://github.com/JoOkuma/ortho-view-napari) a lot of things could be accomplished using the `(un)link_layers` functions and using different ordering in each viewer `Dims`.

I think extending the linked layers concept might be key to some of these GitHub issues, even for other problems as slicing the data we could solve it by pr

[2021-06-16 19:44] sofroniewn commented on #2888
Yeah, this function used to give us more problems, i thought we had it improved now, but i guess not.

For anyone else coming across this, as a temporary work around you can just explicitly pass the contrast limits to avoid the computation, but we should fix this too.

[code]

[2021-06-16 22:22] alisterburt opened #2893 "code after the `yield` in a bound callback does not always execute on key release"
## 🐛 Bug

In some situations, code after the yield in a bound callback does not execute on key release. e.g. just after clicking a layer in the layer list

**EDIT** should've read [the docs](https://napari.org/tutorials/fundamentals/viewer.html#custom-keybinding) - happy for this to be closed if it's an issue you're aware of

## To Reproduce
[code]

https://user-images.githubusercontent.com/730748

[2021-06-16 23:16] alisterburt opened #2894 "Point sizes not always absolute"
## 🐛 Bug

Point sizes are absolute relative to image pixels when `Viewer.camera.zoom` is less than the size of the points .
`size=4` gives points with a diameter of 4 image pixels but when zooming in beyond `zoom=4` this is no longer true, they become smaller than 4 image pixels)

![image](https://user-images.githubusercontent.com/7307488/122306295-1689a080-cf00-11eb-8a0d-5c1fcdc4b03c.png)
In the

[2021-06-17 06:54] brisvag commented on #2894
As we already discovered, I cannot reproduce on my work computer. Apparently, I also cannot reproduce on my laptop. This is zoom 32:

![image](https://user-images.githubusercontent.com/23482191/122346630-78222d00-cf49-11eb-8ca2-775fe647eb06.png)

[code]

[2021-06-17 10:08] alisterburt commented on #2894
really strange, thanks for the comparison @brisvag - here is my environment for comparison

[code]

[2021-06-17 13:32] stafak opened #2897 "Viewer buttons don't work as expected when having two napari viewers in a single program"
## 🐛 Bug

Hi,

Since napari 0.4.8, the buttons that by default are in the lower left corner don't work as expected when having two napari viewers in a single program. More specifically, when clicking one of the lower left corner buttons in the napari viewer that was added first, the button's action is executed on the other viewer. This seems to be related to the new action manager features that we

[2021-06-17 14:27] tlambert03 commented on #2897
definitely a bug!  we still support multiple independent viewer instances.  Thanks for the very clear report!

[2021-06-17 22:46] sofroniewn commented on #2897
That movie is great!

The issue is bigger than just the console-button, but for that one in particular I think we might be dropping that button when we move to `napari-console` being only available as a plugin - see https://github.com/napari/napari/issues/1593#issuecomment-774588126 cc @jni, so if that one causes problems when fixing we could accelerate making that drop

[2021-06-17 22:48] sofroniewn commented on #2887
`0.4.10` has now been released with fix

[2021-06-17 22:48] #2887 closed, assigned to nobody

[2021-06-18 13:03] alisterburt opened #2898 "Move to python 3.9 in the bundle for Big Sur support"
## 🚀 Feature
This is an issue to discuss whether we should move to Python 3.9 for the bundled napari installation

## Motivation
As mentioned in #2895, the bundle is currently incompatible with macOS Big Sur because it comes with Python 3.8. The workaround seems to be moving to the conda-forge distribution of Python 3.9. Moving to Python 3.9 in the bundle would mean users on Big Sur (including tho

[2021-06-18 17:36] YubinXie opened #2899 "How to load a tiff segmentation image with unique label as label layer instead of image"
## 🚀 Feature
Hi, I hope to load a tiff segmentation image with unique label as label layer instead of image. Currently it opens the tiff as image layer and I dont know how to convert it to a label layer. Thanks!

## Motivation

Load my own segmentation for visualization

[2021-06-18 18:51] thewtex commented on #2628
@andy-sweet @sofroniewn awesome, thank you!!

[2021-06-18 21:09] #2886 closed, assigned to andy-sweet

[2021-06-21 05:08] jni commented on #2899
@yubinXie how are you using napari? From Python, from the command line, or as an application? In the latter option, you currently *have* to make sure that your .tiff file pixels are 32-bit or 64-bit signed/unsigned integers. All other data types will be interpreted as an image.

If you can tell us how you are generating your segmentation images we might be able to help you make sure they are one o

[2021-06-21 06:11] jni commented on #2809
I favour 2, but perhaps we can step via 1, since 2 is backwards compatible with 1. I think that's a really nice advantage of that road. I also think some users might want to know when data changes and not care *how* it changed, so we would always need to emit data in 3 anyway.

Yes, property changes, see also #2866

We have encountered this problem in a couple of places and I think that should be

[2021-06-21 06:20] jni commented on #2894
Based on vispy/vispy#2078, it looks like this is a GL-driver-specific issue and therefore not something napari can do much about, so I think we should close this. @alisterburt feel free to reopen if you think I've made an erroneous assessment!

[2021-06-21 06:44] jni commented on #2898
:+1: on this

[2021-06-21 06:47] jni commented on #2893
@alisterburt I don't understand your edit... is this working as expected or not?

[2021-06-21 07:07] jni commented on #2832
I think it should be doable. The main thing is to add the setting and change the slicing logic to match the Points layer's, here:

https://github.com/napari/napari/blob/ed6b8ef2e55471b42a3ea47875b7e1ef0f99ba80/napari/layers/points/points.py#L1313-L1329

Some thoughts though:

(1) I think "n-dimensional" is a bit of a misleading name. Maybe we should take this opportunity to rethink it. In all case

[2021-06-21 08:11] brisvag commented on #2832
Agree on the name; I was quite confues about it at first, cause the name seems to refer to a property fo the data, rather than visualization. Maybe simply `display_out_of_slice`? :P

I also think transparency would be the most intuitive. So you would simply either project the whole vector or not at all, and set the transparency of the whole vector depending on how out-of-slice the starting point i

[2021-06-21 08:30] alisterburt commented on #2893
@jni the docs have a note saying

So I guess the behaviour comes under that umbrella and is expected if you have read the docs properly, otherwise it still feels pretty unexpected

[2021-06-21 13:58] brisvag commented on #2897
`git bisect` says this started on #2612.

[2021-06-21 16:29] YubinXie commented on #2899
@jni Thanks a lot for your reply. The mask is generated by the latest version of deep cell and I reloaded the tiff file, which shows dtype=int64.

I am using napari from terminal calling (an application I assume). It currently looks like this.

![7F8CFECF-CCCC-4091-A720-1611798D7CED](https://user-images.githubusercontent.com/16257776/122796418-5cda5900-d28c-11eb-821d-bd86792f4352.png)

[2021-06-21 16:34] sofroniewn commented on #2809
Maybe we start with (1.) then and see what that looks like.

Maybe we just emit on drag start/ end? Same for drawining. Otherwise throttle might be needed

[2021-06-21 16:36] sofroniewn commented on #2897
Maybe @Carreau can take a look at this when he gets the chance, thanks!!

[2021-06-22 01:41] adriehz commented on #2883
Hi!
I'm new here, can I try to work on this?

[2021-06-22 04:08] jni commented on #2899
that's very strange. Could you provide the tiff file so that we can investigate?

[2021-06-22 04:20] YubinXie commented on #2899
Hey @jni I just tested on the latest version napari and it worked! I think this is version related! Thank you for your help!

[2021-06-22 15:26] goanpeca commented on #2883
Hi @adriehz, sure you can! 💪🏼

Some pointers to get you going:
- This is where the File menu is created. https://github.com/napari/napari/blob/master/napari/_qt/qt_main_window.py#L457
- We will need to keep references to the actions that need to be disabled based on context.

[2021-06-22 15:52] sofroniewn commented on #2745
@pranathivemuri if you comment out the clipping and instead update the max allowed value do things now work for you? We could just merge that without waiting on #2753 to be done

https://github.com/napari/napari/blob/ed6b8ef2e55471b42a3ea47875b7e1ef0f99ba80/napari/_qt/layer_controls/qt_labels_controls.py#L434

[2021-06-22 16:05] sofroniewn commented on #2745
I have now implemented a fix for this in #2901

[2021-06-22 18:56] liaprins-czi opened #2903 "Designs for first implementation of "undo""

[2021-06-22 18:58] #2903 closed, assigned to nobody

[2021-06-22 22:51] alisterburt commented on #2832
Awesome job with #2902 @brisvag, so cool to see what this could look like!!

I'm definitely on board with @jni's suggestion of trying to unify this behaviour across points/vectors/shapes.
It seems like we might need a way to define at the level of the viewer whether the canvas is 2D, '2D+' or 3D. In '2D+' the projection of annotations from outside the current slice would be made visible for suppor

[2021-06-22 23:38] alisterburt commented on #2898
bundle built and working locally without any fuss on Big Sur (running on an M1, but built for x86) - I just have to figure out how to replicate on github actions
![image](https://user-images.githubusercontent.com/7307488/123012840-e5efae00-d3ba-11eb-98df-e4a0e93445e5.png)

[2021-06-22 23:39] tlambert03 commented on #2898
actually... looks like you might have a bug there:

<img width="128" alt="Untitled" src="https://user-images.githubusercontent.com/1609449/123013107-8fba4500-d391-11eb-9b61-fa763c73aaed.png">

[2021-06-22 23:40] alisterburt commented on #2898
*big trouble* 🤣

[2021-06-23 00:44] alisterburt opened #2904 "Viewer console not working when running under ipython"
## 🐛 Bug

If I run napari from an ipython console with the `%gui qt` magic then I can't access the ipython console from the viewer. Running from python rather than ipython, the console works as expected

## To Reproduce
The following opens a viewer, the error is produced when trying to access the console from the viewer
[code]

The following works fine
[code]

This used to work fine on my system,

[2021-06-23 00:49] tlambert03 commented on #2904
hmm, can't reproduce on master.  but your error looks a lot like what was fixed in https://github.com/napari/napari/pull/2881

have you pulled master recently?

[2021-06-23 00:55] alisterburt commented on #2904
hmmm, looks like I was a bit behind - I'm no longer getting the error but the console still isn't working
[code]
![image](https://user-images.githubusercontent.com/7307488/123018197-096c2600-d3c6-11eb-98a3-c5335fe2ecab.png)

edit: should clarify - no errors at all but no visible console either

[2021-06-23 01:07] tlambert03 commented on #2904
I don't recall the builtin console ever working when running in ipython?

If you checkout an older version did it work?

[2021-06-23 01:10] jni commented on #2832
The lesson you learn from maintaining napari long enough is that if it's possible, someone will want it. 😂 I would never have thought your little local-orthogonal-projection-on-a-plane thingy would be useful (vs just cropping the volume) but here we are. 😂

[2021-06-23 01:12] jni commented on #2809
My Q is whether the actual drawing of the points on canvas relies on events. If it does (and I think it does?), then emitting on start/end is a no-go?

[2021-06-23 01:15] alisterburt commented on #2904
really? I seem to remember playing with variables from both the ipython console and the builtin console but I could be mistaken, will go back and test tomorrow

The reason this has come up is now that all of the examples are using `napari.run()` when I run them from pycharm with an ipython console the event loop blocks but I also don't have the builtin console, this definitely used to work

The wa

[2021-06-23 01:17] alisterburt commented on #2904
went back to 0.4.4 and still broken - looks like you're right @tlambert03 !

[2021-06-23 01:23] tlambert03 commented on #2904
I know there's been some discussion somewhere about disabling that button when running via ipython. still a good idea...

As for pycharm, I'll need to play with it (don't have much experience with it).  Maybe we can screen share for that?

[2021-06-23 02:11] #2745 closed, assigned to nobody

[2021-06-23 05:39] #2899 closed, assigned to nobody

[2021-06-23 07:49] brisvag commented on #2832
I agree that unifying would be nice, but there are some complications:
- how to determine whether something should be rendered differs from one to the other
- conveying out-of-planeness would also probably differ

This is easier if we pre-determine (or expose) a slice "thickness", and base everything on that. But as I said in #2902, we are then encroaching on 2.5D slicing territory...

[2021-06-23 08:10] brisvag commented on #2904
Console indeed never worked from IPython! It was one of the reasons why I was interested in doing #2378.

[2021-06-23 13:35] Carreau commented on #2893
I believe this is the same issue as #2714

[2021-06-23 13:37] Carreau commented on #2898
Actually it's a secret folder he has changed the icon of, to make sure nobody click on it.

[2021-06-23 14:04] Carreau opened #2906 "Provide framework to handle double click events/actions for layers."
There are a few issues that refer to double-click to handle some actions:

 - #2828 to close polygon or path.
 - #212 to zoom on a point via double click
 - #1338 for layer visibility control as well, but here it's double click on a button not in canvas.

This would require some infrastructure to be in place in order to register and handle double clicking, likely in a similar way to mouse press an

[2021-06-23 15:43] Czaki commented on #2898
For support macos arm natively you need to check if all packages with binary extension provides `universal2` wheels.  At this moment `imagecodecs` does not provide.

Other solution may be create build base on `conda`.

[2021-06-23 16:15] jwindhager commented on #2348
I'm also experiencing this in https://github.com/BodenmillerGroup/napari-czifile2/issues/4 and I think it's related to whether the images are (guessed to be) RGB or not. It seems that, for grayscale images, the last axis is considered to always be a "non-color" axis, even when it's size is 1. For example, passing grayscale images with shape `(t, z, c, y, x, s=1)` and `rgb=False` fails, whereas pas

[2021-06-23 16:20] sebherbert opened #2908 "AttributeError: 'DataArray' object has no attribute 'flags' in quick start run"
## 🐛 Bug

I followed the [quick start documentation](https://spacetx-starfish.readthedocs.io/en/latest/gallery/quick_start/plot_quick_start.html#sphx-glr-gallery-quick-start-plot-quick-start-py) and ran the [plot_quick_start.ipynb notebook](https://spacetx-starfish.readthedocs.io/en/latest/_downloads/78075d56b7166cb4067f9dd8720da573/plot_quick_start.py).

## To Reproduce

Exactly the ones describe

[2021-06-23 16:38] sebherbert commented on #2908
Sorry long day, I just realized I should have opened the bug at https://github.com/spacetx/starfish instead...

[2021-06-23 16:38] #2908 closed, assigned to nobody

[2021-06-23 18:33] #1395 closed, assigned to nobody

[2021-06-23 22:44] DragaDoncila commented on #2809
Points `_move` gets called in `select` of `_points_mouse_bindings` so we could emit in this method if we wanted - the yields should give us a good indication of when to do it.

Shapes have a `finish_drawing` method which we could hook into, I think.

From what I can see (but maybe I'm misunderstanding what you mean here) the `Points` model doesn't have the same concept of drawing - in fact adding

[2021-06-23 23:41] tlambert03 opened #2911 "`TranslationString` somehow preventing layer deepcopy"
## 🐛 Bug

It used to be possible to `deepcopy` a Layer object:

[code]

but if you run that now, you get a super long traceback ending with
[code]

<details>

[code]

</details>

git bisect puts it at #2521

CC @goanpeca

## Expected behavior

i _think_ we should still be able to deepcopy a layer?  (honestly... not entirely sure)

[2021-06-23 23:50] goanpeca commented on #2911
We should indeed

Will take a look :)

[2021-06-24 01:13] djhoese commented on #1566
FYI A fix for this should be released as part of VisPy 0.7 (hopefully this week). It was fixed in https://github.com/vispy/vispy/pull/2090... we think.

[2021-06-24 08:26] alisterburt commented on #2898
I was not planning on building a native bundle (for now at least), I was planning to build with the conda-forge packaged python interpreter though

[2021-06-24 09:54] tlambert03 commented on #2898
Briefcase packs it's own python interpreter... (https://github.com/beeware/Python-Apple-support) so I'm not sure that's going to be as easy as it might seem?  That is, it doesn't use the python in the build environment

[2021-06-24 09:56] alisterburt commented on #2898
oh! I assumed it was using my conda-forge interpreter and that was why it worked... it seems like the 3.9 briefcase interpreter already works out of the box then, great! 🙂

[2021-06-24 10:02] Czaki commented on #2898
But it works using rosetta emulation or uses native architecture?
The main problem with rosetta is that it does not support vector instruction translation (SSE2 etc). This instruction could be used to speed up typical image processing operations.

[2021-06-24 10:20] alisterburt commented on #2898
It's using rosetta emulation (at least the way I built it). I understand it might not be the perfect solution, but it's at least better than the current situation which is no working bundle on Big Sur on any mac? Longer term I agree we should look at building a native bundle too

[2021-06-24 10:22] Czaki commented on #2898
I agree. But with this update, there should be added proper annotation on the download page.

[2021-06-24 10:40] jo-mueller commented on #2888
Maybe setting the default contrast limit to the maximum values allowed by the datatype for large images/dask arrays would be a possible solution?

[2021-06-24 13:57] Carreau commented on #2897
Thanks, I'll have a look, i'm not too surprised about the viewer, as there are some assumption in the code that there is a single viewer. I'll adapt the code the look at the active layers to also target the active viewer.

[2021-06-24 14:35] Carreau commented on #2897
I realize this is also a bit of a problem with the menu as the menu also assume there is a single instance of a few things (like the console) and that the console on the first instance is broken (nothing appear in it).
![Uploading Screen Shot 2021-06-24 at 4.34.19 PM.png…]()

Or there is no way to open the dock menu for the second napari window.

[2021-06-24 15:35] Czaki opened #2915 "Inherit scale from existing layers"
## 🚀 Feature

If a layer is created from a plugin and does not return the scale keyword then inherit scale from existing layers.

## Motivation

I work with data with scale. But I see that many of napari plugins do not care about scale.
So if I would like to use such a plugin I need to update the scale manually.

## Pitch

If all layers in the current state have the same scale then a new layer sho

[2021-06-24 16:48] alisterburt commented on #2866
While there is some unification effort underway (@andy-sweet @brisvag) I'll add a discussion point here

Currently, if you add points onto a points layer which is coloured by property the new point will 'inherit' the properties of the last added point. Here's an example you can play with

[code]

This is not always wanted and makes it hard to tell what was added and what is from the data - it woul

[2021-06-24 22:32] tlambert03 commented on #2216
fixed

[2021-06-24 22:32] #2216 closed, assigned to nobody

[2021-06-24 22:33] tlambert03 commented on #2371
with #2662 merged... this is not so much of an issue anymore

[2021-06-24 22:33] #2371 closed, assigned to nobody

[2021-06-24 22:33] #2546 closed, assigned to nobody

[2021-06-24 22:35] tlambert03 commented on #2569
Hi @sebgoti ... just checking in.  still wanting to take this on?  anything I can do to help?

[2021-06-24 22:39] tlambert03 commented on #1432
we've made a lot of progress here

[2021-06-24 22:39] #1432 closed, assigned to nobody

[2021-06-24 22:45] tlambert03 commented on #1421
we've moved to jupyter-book!

[2021-06-24 22:45] #1421 closed, assigned to nobody

[2021-06-24 22:54] #1315 closed, assigned to nobody

[2021-06-24 22:58] jni commented on #1880
Ok we haven't seen this for a while, let's close it — it can be reopened if this bug springs back to life. 🧟‍♂️

[2021-06-24 22:58] #1880 closed, assigned to nobody

[2021-06-24 22:59] tlambert03 commented on #2771
if you are still having issues after removing the older Qt , feel free to let us know.

[2021-06-24 22:59] #2771 closed, assigned to nobody

[2021-06-25 03:55] jni commented on #2866
I think that's controlled by `layer.current_properties`. Of course, there is no way to access those from the UI, because that opens up hard design issues, and who needs those? 😂 Also, if I remember correctly, even if you update them from the console, they will get updated back if you change the selection or the last point's properties. So that's definitely something to consider. We definitely went

[2021-06-25 06:26] kevinyamauchi commented on #2866
Great discussion everyone!

I agree that this behavior needs to be re-visited! As @jni said, the behavior was meant to be a proposal that was then revisited after some user testing. I have a listed a few thoughts below that might give some context for the decision:

- @jni is correct, new points are given the colors/properties from `Points.current_*_color` and `Points.current_properties` respectiv

[2021-06-25 09:14] jni commented on #2888
Thanks for the suggestion @jo-mueller! We already do this for uint8 data. For float data it is clearly problematic. For uint16, it's also frequently a problem because 12-bit data in [0, 4096) is often packed into a uint16, resulting in vastly reduced contrast. But yes, we discussed this at the dev meeting and we are going to turn off auto-computation of contrast limits for anything that's not a Nu

[2021-06-25 11:29] brisvag opened #2917 "n-dimensional Properties"
This issue is part of #2866, exploring the possibility of n-dimensional properties.

# Goals
The main goal of this issue is to find a way (if it's possible) to extend the n-dimensionality of napari to layer properties. I will focus mainly on examples with `Points`, since they are probably the easiest application, but this should be applicable to all the other layers with properties.

A thing to ke

[2021-06-25 15:19] #2911 closed, assigned to nobody

[2021-06-25 15:28] sofroniewn commented on #2875
vispy 0.7 is now ready for testing - see https://github.com/vispy/vispy/issues/2104

I'm making this thread for us to collect any changes on the napari end that we need to make to get up to date.

I've already found one minor one

[code]

Which we new was coming (i think from https://github.com/vispy/vispy/pull/2066).

Maybe @alisterburt we can coordinate here on making sure we'll be compatible

[2021-06-25 15:32] sofroniewn commented on #2875
Actually that error might be inside vispy - i have created https://github.com/vispy/vispy/issues/2108 to document

[2021-06-25 15:37] sofroniewn commented on #2875
ok, this is fixed by `pip install hsluv`, see comment in thread - package was moved to be an external dependency

[2021-06-25 15:39] sofroniewn commented on #2875
ok, i'm able to launch napari with `0.7` and see an image - I get a `divide by zero encountered in true_divide` printed in the console which we should look into, but that's already a very good sign!!!

I will try running tests now

[2021-06-25 15:44] sofroniewn commented on #2875
that warning pops up here

[code]

need to fix for tests to pass

[2021-06-25 15:52] alisterburt commented on #2875
awesome work @sofroniewn - I'll take a look myself tomorrow morning and report back here if I find anything else

[2021-06-25 15:54] pskeshu opened #2918 "PermissionError upon napari.view_image()"
[code]
I'm trying to visualize a pandas dataframe of images, but I'm getting this `PermissionError`.

[2021-06-25 15:56] pskeshu commented on #2918
I suppose this is a problem of not having write access in a system location. Not sure why this is being done, and how to overcome this.

[2021-06-25 16:27] tlambert03 commented on #2918
ahhh, i did wonder if we were ever going to run into this...
What's happening here is that napari needs to compile icons for the GUI to use, and it tries to save those (to the directory where napari is installed) so they don't need to be recompiled every time you start the program.

It looks like you're using your global system python (instead of a virtual environment, for example), hence the erro

[2021-06-25 16:29] pskeshu commented on #2918
yes, I'm using the system python in this case. I'll edit the line directly for now! thanks for the response.

[2021-06-25 16:29] #2918 closed, assigned to nobody

[2021-06-25 19:29] jwindhager commented on #2888
Sorry for hijacking this, but since this seems to be w.i.p. already: IMHO, it would be good to mention in the docs whether the auto-computation is performed on, e.g., a per-channel basis or for the full (T/Z/C) image stack (thus sharing the same contrast limits for among all channels).

[2021-06-25 19:45] aeisenbarth opened #2922 "Labels layer with autogenerated pyramid levels shows artifacts"
## 🐛 Bug

When loading a label layer with multiscale pyramids (e.g. from ome-zarr), randomly colored pixels can occur at the contours of labeled regions. This indicates additional label values differing from the labeled region's value, which might be caused by downsampling with interpolation or antialiasing.

![image](https://user-images.githubusercontent.com/54448967/123475467-b7ace100-d5fb-11eb-

[2021-06-25 20:58] andy-sweet commented on #2866
I've made a lot of notes on this topic so far, but they mostly unintelligible. One thing I can share now that might serve as a useful reference is the following table that tells us what property related values are stored in various layers.

![Screen Shot 2021-06-25 at 1 54 54 PM](https://user-images.githubusercontent.com/2608297/123484292-f3748600-d5bc-11eb-9068-06b3387e87d8.png)

The vectors laye

[2021-06-25 21:46] #2904 closed, assigned to nobody

[2021-06-26 03:31] sofroniewn commented on #2888
@jwindhager agreed - and just in case anyone coming here is wondering what the behaviour is, it is performed when each layer is added separately, and so if you make three calls to

[code]
you'll get 3 layers and it will happen 3 times. Or

[code]
you'll get 3 layers and it will happen 3 times. But
[code]
you'll only get one layer and it will just happen once, but now all three channels will use sa

[2021-06-26 09:23] Czaki commented on #2915
I could implement it if you think it is worth.

[2021-06-26 16:38] tlambert03 opened #2924 "If builtin plugin is not last in sort order, it still shows error"
## 🐛 Bug
I'm working on a napari-bioformats plugin.  It can of course read a ton of files, but it's generally slower than other methods, so currently I have it add itself to the end of the sort list by default.  However, when you then add a file that _will_ work with the bioformats reader, you nonetheless see the builtin "failure" (even though the image gets opened ok):

[code]

should clean that

[2021-06-26 18:04] tlambert03 opened #2925 "napari sometimes not starting event loop from CLI if IPython console was left open."
## 🐛 Bug
just came across a strange and hard to figure out bug... still don't fully understand.

When I tried to open a file from the CLI with `napari --plugin some_plugin path/to/file`, napari would get all the way to the `run()` command, but then do nothing.  turned out that run was getting called, but it thought that ipython already had the event loop, so did nothing and quit.  This only happen

[2021-06-26 19:56] sofroniewn commented on #2922
yikes, thanks for flag - we should get on fixing this!

[2021-06-27 07:29] haesleinhuepf opened #2926 "Error while saving GPU-backed labels layer"
## 🐛 Bug
Hi all,

napari's menu `File > Save selected Layers` crashes when applied to a layer which is GPU-backed. E.g. clEsperanto-label images in label-layers are [OCLArrays](https://github.com/clEsperanto/pyclesperanto_prototype/blob/master/pyclesperanto_prototype/_tier0/_pycl.py#L240). Those typically work well in napari, because they are similar to numpy-arrays. [See also](https://github.com/

[2021-06-27 07:45] haesleinhuepf opened #2927 "Bug when saving manually drawn labels layer"
## 🐛 Bug

Hi all,

I was just trying to save manually drawn labels layer and receive an error. It appears that if the folder/file history is empty, this error happens.

## To Reproduce

* Start napari
* Drag & drop an image on napari
* Create a new labels layer
* Draw something
* Click on File > Save selected layers
This error pops up:
[code]

## Expected behavior

It should be checked if the `his

[2021-06-27 12:05] tlambert03 opened #2929 "SettingsManager._load not working with Field(default_factory=...)"
## 🐛 Bug
Ran into a [test failure](https://github.com/napari/napari/pull/2695/checks?check_run_id=2925027700#step:7:250) on #2695 that looks to be a bug in the Settings Manager.

The preferred way to add a default mutable container to a pydantic model is to use `default_factor`, but currently, if you do this, you'll get an error:

[code]

traceback:

[code]

[2021-06-27 16:39] #2755 closed, assigned to andy-sweet

[2021-06-27 18:14] sebgoti commented on #2569
Hi @tlambert03 , yes this week will get back to it, had some complications with the installation from source (using MacOS BigSur) but things seem to be working now. Will come back to you over the next days if I have any questions, sorry about the delay!

[2021-06-28 02:30] jni commented on #2927
Was this not fixed in #2876 which fixed #2867 which appears to be the same issue? 🤔 @haesleinhuepf can you check whether this error occurs on master rather than 0.4.9?

[2021-06-28 08:38] haesleinhuepf commented on #2927
Ha, right! In 0.4.11 it works. Thanks for the headsup!

[2021-06-28 08:38] #2927 closed, assigned to nobody

[2021-06-28 16:59] Czaki opened #2935 "`napari_plugin_manager` bug in enable discovery plugin"
## 🐛 Bug

If `napari_plugin_manager` fixture is used and `napari_plugin_manager.discovery_blocker.stop()` was called then during teardown there is a Runtime error:

[code]
This
https://github.com/napari/napari/blob/d61d0be0ef8ea622dd3d6acd270c0529816c11ec/napari/utils/_testsupport.py#L54
should not be called if `napari_plugin_manager.discovery_blocker.stop()` was called in test.

This bug is impor

[2021-06-28 20:55] DragaDoncila opened #2938 "Notification can't be expanded and slowly moves off screen"
## 🐛 Bug

This is an odd bug I discovered while playing with other things this week. On Ubuntu when I expand a notification it doesn't expand but rather move further down the screen with each click of the arrow. Has anyone else seen this?? I'll investigate it this coming sprint.

https://user-images.githubusercontent.com/17995243/123702615-b521e400-d8a6-11eb-87ca-18c9f323445e.mp4

## To Reproduce

[2021-06-28 21:03] goanpeca commented on #2938
I have seen this, but I can't remember how I got there in the first place!

[2021-06-28 21:08] DragaDoncila commented on #2938
@goanpeca just glad it's not only me :laughing:

[2021-06-28 21:56] DragaDoncila opened #2939 "Add guide/tutorial for using progress bars in napari"
## 📚 Documentation
Currently the progress bars

[2021-06-28 21:56] #2939 closed, assigned to nobody

[2021-06-28 22:04] DragaDoncila opened #2940 "Refactor progress bars to not inherit from `tqdm`"
Many of the issues we've been seeing with tests are a result of the ProgressBar widgets leaking and not being tightly coupled with the viewer.

While working on #2931 and #2656 it's become evident that at least part of the complexity lies in `tqdm` and its complex refresh logic. We can maintain most if not all of the functionality we currently have without inheriting from `tqdm`. I think this will

[2021-06-28 22:06] tlambert03 commented on #2940
i'd be ok with that

[2021-06-28 22:11] #2929 closed, assigned to nobody

[2021-06-28 22:35] sofroniewn opened #2942 "Remove deprecated brush_shape"
## 🧰 Task

Following on from #2426 by @ppwadhwa, are we now ready to remove the deprecated brush shape and only allow for the square brush? It will simplify the codebase. @jni if you're good for this to go now then @ppwadhwa you could pick this up when you have time - should be pretty easy once green light from @jni. We'd just be left with the circle brush as the only brush type after this.

[2021-06-28 23:42] jni commented on #2942
Yup I'm good with this! 👍

[2021-06-28 23:49] sofroniewn commented on #2942
@ppwadhwa this could be a good thing to pick up during the "quality sprint" if you like too

[2021-06-29 01:06] goanpeca commented on #2732
@Remote-Radical what version of Qt are you using?

I have not been able to reproduce this on OSX with the latest napari. @napari/core-devs could anyone please check if you can reproduce this, or if it a Windows specific Issue?

[2021-06-29 09:10] brisvag commented on #2917
One problem that I hadn't considered so far is: what happens if the number of points is different in each slice of the 4th dimension? Broadcasting simply can't work there.

[2021-06-29 10:03] ViktorvdValk opened #2944 "Napari 0.4.10 not backwards compatible"
## 🐛 Bug

Upgrading to napari 0.4.10 results in pytest failure, whereas a pytest run with 0.4.8 succeeds.
See [elastix_napari CI](https://github.com/SuperElastix/elastix_napari/runs/2940558731?check_suite_focus=true) for more info.

Pytest indicates that the test functions are missing required arguments, which were previously not necessary.
Unfortunately the suggested fix (setting the variables wi

[2021-06-29 10:17] jni opened #2945 "Using napari reader plugins without napari"
## 🚀 Feature

At the EMBO course that @kevinyamauchi, @jo-mueller had a couple of questions that I think are doable but pretty hard to do currently. I know @tlambert03 had made efforts in this direction but I don't have them in my head right now.

It would be useful to be able to do something along the lines of `napari.read_path` that uses all of our plugin infrastructure but returns the list of l

[2021-06-29 10:21] jni opened #2946 "Automatically convert functions to batch processing in experimental_provide_function"
## 🚀 Feature

2nd suggestion inspired by @jo-mueller at the EMBO napari workshop.

It would be very cool if we could annotate functions as receiving an image *of specific dimensionality*. Then if the user tries to apply it to a layer that has higher dimension, it would automatically batch/daskify along the extra dimensions, allowing for batch processing with zero work from the plugin developer.

[

[2021-06-29 10:21] alisterburt opened #2947 "plugin development environment and plugin debugging guides"
## 📚 Documentation

At the [EMBO course](https://www.embl.org/about/info/course-and-conference-office/events/bia21-01/) today we had a suggestion that it would be useful to have some tool-specific guides somewhere to guide people newer to Python development through setting up a comfortable development environment beyond the [tool agnostic guide](https://napari.org/developers/contributing.html#sett

[2021-06-29 10:24] jni opened #2948 "Documentation on how to debug plugins during development"
## 📚 Documentation
@Czaki wrote a really nice guide about [profiling in Python](https://napari.org/developers/profiling.html) in the context of napari. It would be good to have a similarly detailed guide about debugging, both in the context of napari development and in the context of plugins.

One extremely useful feature in particular that I think is currently undocumented is @tlambert03's "Enter

[2021-06-29 10:25] jni commented on #2948
CC @alisterburt @kevinyamauchi @DragaDoncila who were around when this question was asked at the EMBO workshop.

[2021-06-29 10:42] tlambert03 commented on #2948
This is something I have thoughts/strategies on... I can help with this or do it if no else wants it

[2021-06-29 10:46] alisterburt commented on #2947
closing in favour of #2948

[2021-06-29 10:46] #2947 closed, assigned to nobody

[2021-06-29 10:48] tlambert03 commented on #2945
The main issue that came up when this was discussed last at https://github.com/napari/napari-plugin-engine/issues/24 is the API.  You expressed some concern about introducing yet another file io api (ie 15th competing standard).  If you want to weigh in on exactly how you'd like the api to be, I can pick it up again

[2021-06-29 10:49] tlambert03 commented on #2945
(There is a minimal example on how to achieve this over on that thread too)

[2021-06-29 12:10] alisterburt commented on #2732
also unable to reproduce on master/4.10, environment info below

[code]

[2021-06-29 12:19] tlambert03 commented on #2944
thanks for the report @ViktorvdValk and sorry about that.
looks like that's a regression that git bisect puts at #2662 ... will have a look today

[2021-06-29 15:30] neuromusic opened #2951 "update "creating a napari plugin""
## 📚 Documentation

With the imminent launch of [the napari hub](https://napari-hub.org) it looks like its time to update the "[creating a napari plugin](https://napari.org/plugins/stable/for_plugin_developers.html)" guide.

Recommended changes:

- [ ] discuss cookiecutter as "step 0" rather than at the end
- [ ] update references to the github tag or PyPI search to point to [the napari hub](https

[2021-06-29 16:44] tlambert03 commented on #2944
fix in #2949 @ViktorvdValk ...

but, just so you have a better sense for what's causing this (and a workaround before the next update).  This is a bug caused by napari not calling the function that tells magicgui how to handle napari types (`utils._magicgui.register_types_with_magicgui`) before your program calls magicgui.

It _should_ be the case that you simply annotating something as a `'napari

[2021-06-29 17:30] JoOkuma opened #2953 "Creating a labels layer from the layer `data_tuple` results in empty colors."
## 🐛 Bug

Copying labels through the `data_tuple` API results in a new Labels layers with empty colors.
I'm not sure if this a real bug because I'm using some "private" methods.

## To Reproduce

[code]

## Expected behavior

The new layer should be equal to its source, including the color mapping.

## Environment

[code]

## Additional context

I thought this could be solved by adding this attrib

[2021-06-29 17:57] tlambert03 commented on #2953
that's a bug,
it appears that the default `color_mode` default really depends on whether the `color` argument is provided or not (i.e.  `color_mode` is _also_ set in `@color.setter`)

[code]

cc @andy-sweet

[2021-06-29 18:00] tlambert03 commented on #2953
by the way... `viewer._add_layer_from_data(*data_tuple)` is a very important private method, that may actually be public someday soon (see https://github.com/napari/napari/pull/2556/files#r659247491).  so this is one "private" usage that should definitely work.

[2021-06-29 18:26] JoOkuma commented on #2953
Do you think the `color_mode` default is the issue?

I think that the `color` key from `_get_state` dict returning a partially complete dict is the problematic behavior. I think it should return the complete dict if `color_mode` is `direct`, else it should return an empty dict.

We could remove the `None` and `_background_label` values from the `color` key in `_get_state()`  dict because they are

[2021-06-29 18:29] tlambert03 commented on #2953
I'm not so much trying to state that the color_mode default itself is the problem, just that the round trip is not consistent due to the way `color_mode` is initialized. (which I think is what you're saying too).    You could either have the color.setter recognize that the provided `color` argument is the default, set color_mode to auto... or you could strip the default values from `_get_state()`.

[2021-06-29 19:31] tlambert03 opened #2954 "Feature: Highlight currently selected layer in grid mode"
## 🚀 Feature
In grid mode, with enough layers, it can be hard to know which image corresponds to which layer...

It would be nice to have a faint outline on the currently selected image(s), as shown in this mockup:

<img width="976" alt="Untitled" src="https://user-images.githubusercontent.com/1609449/123856316-f1793280-d8ee-11eb-825e-1696833e61f0.png">

[2021-06-29 19:41] tlambert03 opened #2955 "Feature: show intensity value in grid mode"
## 🚀 Feature
Not sure how hard this would be, but it would be nice to be able to get the intensity value of _any_ pixel when hovering in grid mode.  Currently: you will only see the pixel value if you happen to hover over the selected layer in the grid... but since there's no overlapping layers in grid mode, it should in theory be possible for all layers that support `get_value`?

[2021-06-29 20:48] goanpeca commented on #2954
Pretty cool, would that be like a toggle or when hovering the layer list or always highlighted?

[2021-06-29 20:50] tlambert03 commented on #2954
TBD!

@sofroniewn?  @jni?

could also be a quick flash animation when you change the selection?

[2021-06-29 20:53] goanpeca commented on #2954
I think it would be nice if you could select multiple layers on the list control and have them highlight as you keep selecting more :)

[2021-06-29 20:54] tlambert03 commented on #2954
ooo.  yeah!

ok, so at least one mode in which they remain highlighted as long as they are in `layer.selection` would be nice, yeah?

[2021-06-29 21:06] tlambert03 opened #2956 "Feature: `add_<shape_type>` methods on Shapes layer"
## 🚀 Feature
was just using the shapes layer programmatically (for maybe the first time?? 😂)  ... I had two points and wanted to draw a line.  I found myself looking for an `add_line` method, but found slightly more confusing `add()` method.

I wonder how folks would feel about some of convenience methods?  it might allow us to do a little more data validation and provide guidance for the correspo

[2021-06-29 22:22] liaprins-czi commented on #2951
There are other changes to make to the napari.org site in addition to updating the "creating a napari plugin" guide page, outlined in this doc:
https://docs.google.com/document/d/1-O1nUl75jPxnH1v6xVewOetFpGPchtThVjI2cEWsvSs/edit#heading=h.ky26cnmlji7x

@neuromusic Shoudl these be a separate issue(s)?

- [ ] add link to hub within main menu
- [ ] [add a new “Finding and installing a napari plugin”

[2021-06-29 23:36] alisterburt commented on #2875
'tomorrow morning' - whoops

#2958 is a fix for the error you found - I ran a bunch of examples covering a range of layer types (image volume vectors surface points shapes) and didn't find any other glaring issues so I think we're relatively safe

[2021-06-30 00:05] alisterburt opened #2959 "A clean way to depict basis vectors associated with points layer data"
## 🚀 Feature
It would be great if we had a clean, relatively simple way to depict sets of basis vectors associated with points layer data (without data duplication)

## Motivation

An example use case would be something @brisvag and I do relatively often, experiments to find both the position and orientation of objects of interest within our image data. To represent 'oriented points' in 3d with na

[2021-06-30 05:01] sofroniewn commented on #2954
I think this could leverage a newly added highlight visual - see #2560 for some discussion of other possible use cases. I'd also maybe use that visual to remove highlighting from the points and shapes layers themselves (which are compound visuals). I know @alisterburt and @kevinyamauchi have need for a highlight visual to help interactivity with some the 3D clipping plane stuff. Plugins could also

[2021-06-30 05:19] #2875 closed, assigned to nobody

[2021-06-30 05:59] jni commented on #2956
I'm 👍 on this proposal. Different shapes have very different natural parameterizations that is hard to capture with a single `.add` call.

[2021-06-30 06:17] jni commented on #2955
Yeah, this ties into my desire (which apparently I never made into an issue, according to a quick search 😅) to show the value of the first opaque layer, rather than the selected layer, in the status bar. In my experience it's very confusing to show the value of a currently-obstructed layer in the status bar. But maybe that's just me?

Anyway, solving my issue automatically solves yours. 😊

[2021-06-30 06:19] jni commented on #2954
Love this! And yes I do like some kind of visual feedback in the canvas on hover as suggested by @goanpeca

[2021-06-30 06:43] brisvag commented on #2959
This would be super useful indeed (and I'm sure other people could use oriented points). I'm wondering, wouldn't the array of basis vectors be simply `(n, 4)`? What's the second dim for?

[2021-06-30 07:16] VolkerH opened #2960 "Assigning to `shape_layer.data` gives IndexError if shape layer is empty"
## 🐛 Bug

Assigning to `shape_layer.data` gives `IndexError` if shape layer is empty.
This seems to have been introduced with commit f7537e095d00b1c149455495374ad0cbbe3724f1
by @DragaDoncila.
I suspect the bug is here:
https://github.com/napari/napari/blob/350e07cc5861005d6bb3199f8e39e276f8d04b3c/napari/layers/shapes/_shapes_utils.py#L1030

## To Reproduce

1. Open napari Ipython console.
2. Run t

[2021-06-30 07:41] ViktorvdValk commented on #2944
@tlambert03
Thanks a lot for the quick response.
And your workaround does the trick on the CI. 👍

[2021-06-30 08:35] tlambert03 commented on #2954
Oh absolutely, I had forgotten about that one.  Definitely, this could leverage a more generic "highlight this part of the canvas" API.

[2021-06-30 08:37] tlambert03 commented on #2954
Nope, not in code, just drew a box on a screenshot :) I'd love for this to go in the sprint queue.

[2021-06-30 08:38] tlambert03 commented on #2955
Agreed, I like yours better!

[2021-06-30 08:55] VolkerH commented on #2960
I created a small bugfix PR.
As it changes the default return type as well, someone should confirm whether this is the desired behaviour.

[2021-06-30 09:42] brisvag commented on #2954
I agree that it would be great to have a "HUD" system in a more generalized form for interactive stuff.

Things where this could be useful:
- click between 2 points to measure a distance (don't want to create a points layer nor a vector layer to display the distance path, for example)
- highlight a draggable plane (see [this video of @kevinyamauchi and @alisterburt 's cropping plugin](#https://git

[2021-06-30 14:07] alisterburt commented on #2959
after discussion in the meeting this morning I think what we want is actually shape `(n, m, d)`
- `n` : number of data points for which we have properties
- `m`: number of vectors to depict per datum (can be basis vectors or any arbitrary vectors actually)
- `d`: dimensions in which the vectors are depicted

[2021-06-30 18:12] andy-sweet commented on #2917
Thanks for this exploration and sorry for the slow feedback.

Not sure if this will help your problems or add to them, but here are some (rambling) thoughts on dimensions/coordinates.

It seems like you want to coerce sparsely defined points into a dense rectilinear image-like grid. That seems meaningful for things like rendering, but not so much for data representation because it's a lossy operat

[2021-07-01 01:34] jni opened #2963 "Linux bundle build needs to be migrated to ubuntu-latest"
## 🧰 Task

We are currently building our Linux bundle on ubuntu-16.04. It looks like that image is deprecated which is causing our builds to fail, see e.g.:

https://github.com/napari/napari/actions/runs/988280586

The message suggests switching to ubuntu-latest. I presume though that we are using 16.04 to ensure compatibility, in which case, maybe we switch to 18.04?

[2021-07-01 02:35] tlambert03 opened #2964 "Console broken on current bundle"
## 🐛 Bug

upon opening the console...

<details>

<summary>traceback</summary>

[code]

</details>

[2021-07-01 02:44] jni commented on #2964
Here's a link to a recent bundle build:

https://github.com/napari/napari/actions/runs/988280586

Weirdly, creating a new `pip install .[pyside]` env with master doesn't recapitulate the error. So it is somehow bundle specific. I don't have time to investigate further currently. 😬

[2021-07-01 02:55] jni opened #2965 "Unable to install any packages/plugins in current bundle"
## 🐛 Bug

Unable to install any packages/plugins in current bundle.

## To Reproduce

Steps to reproduce the behavior:

1. Download recent bundle build: https://github.com/napari/napari/actions/runs/988280586
2. Try to install any plugins or other packages in plugins > Install/Remove plugins...
3. Get the error: `error: unrecognized arguments: --upgrade`

Latest version of pip has not actually rem

[2021-07-01 03:13] sofroniewn commented on #2965
@goanpeca maybe you can take a look at this when you get a chance

[2021-07-01 03:23] jni commented on #2965
Ok, the bug goes all the way back to 0.4.7 (doesn't work). 0.4.6 works. That points to the ironically-named #2436 as the likely culprit. 😂

[2021-07-01 03:25] jni commented on #2965
I should say I'm running all this on macOS 10.15.7 Catalina.

[2021-07-01 03:28] sofroniewn commented on #2965
I also see same thing on macOS 10.15.7 Catalina with nightly build

[2021-07-01 03:29] goanpeca commented on #2965
What is the pip version that comes with the bundle 🤔  ?

[2021-07-01 03:30] jni commented on #2965
Difficult to answer because of #2964 😂

[2021-07-01 03:31] jni commented on #2965
Having said that, I don't see anything there that would cause this.... Except it corresponds to a briefcase update... 😬 😬 😬

[2021-07-01 03:32] jni commented on #2965
@goanpeca Given the error message I don't think pip is even being called. Perhaps it is not even being packaged???

[2021-07-01 03:34] goanpeca commented on #2965
~How can I download the artifact?~

Nevermind, the browser was not scrolling down

[2021-07-01 03:36] jni commented on #2965
Anyway, for reference 😂

(1) Each release has artifacts attached: https://github.com/napari/napari/releases . With releases you have to click on "Assets" to see them.

(2) We have a nightly/on-push-to-master action that builds them: https://github.com/napari/napari/actions/workflows/make_bundle.yml

[2021-07-01 03:40] jni commented on #2965
My hypothesis is that the briefcase update in #2436 stopped packaging pip. However I don't know how to test it right now...

[2021-07-01 03:42] jni commented on #2965
never mind: both 0.4.6 and 0.4.7 contain pip 21.0.1 in `$APP/Contents/Resources/app_packages`.

[2021-07-01 03:55] goanpeca commented on #2965
The command that is running is this `/Applications/napari.app/Contents/MacOS/napari -m pip install --upgrade ...` so it is running napari not python.

so it seem `sys.executable` is pointing to `/Applications/napari.app/Contents/MacOS/napari` and not to the bundled python.

I do not see a `python` executable anywhere on the bundled app contents.

[2021-07-01 04:21] jni commented on #2965
Yeah we are not yet signing our bundles. If you have experience with that @goanpeca a fix would be much appreciated!

But as an aside: screw Apple and their Move to Trash button.

how did you find that @goanpeca? Nice sleuthing! I wonder then if actually what changed is how napari executes Python scripts... @tlambert03 played with that a fair bit...

Can you check whether the same thing happens in

[2021-07-01 04:36] goanpeca commented on #2965
I modified the bundled files adding a `QMessageBox` and ran that on the install method inside .

`/Applications/napari.app/Contents/Resources/app/napari/_qt/dialogs/qt_plugin_dialog.py`

[code]

[2021-07-01 04:37] goanpeca commented on #2965
😆

Will do

[2021-07-01 04:43] jni commented on #2965
looking at the [release notes](https://github.com/napari/napari/releases/tag/v0.4.7) doesn't turn up anything suspicious/related to this...

[2021-07-01 04:53] goanpeca commented on #2965
@jni  on 0.4.6 it looks like, so it may be a briefcase thing that changed.

<img width="532" alt="Screen Shot 2021-06-30 at 11 53 24 PM" src="https://user-images.githubusercontent.com/3627835/124066500-5d968c00-d9fe-11eb-8905-96e88a9be6e1.png">

There is no `support/bin/python` available on the 0.4.9 bundle .

[2021-07-01 04:56] jni commented on #2965
Ok, so it was the briefcase upgrade after all. Hmm. That'll be fun to fix. LOL

[2021-07-01 04:58] goanpeca commented on #2965
In the meantime we should bin to the latest working version of it ?

[2021-07-01 05:02] jni commented on #2965
good Q. I think the update was required to e.g. have the version not be 0.0.1 in the bundle (see what happens when you open 0.4.6). Maybe there is an alternate strategy to achieve what #2436 was doing. CC @ziyangczi

[2021-07-01 05:13] goanpeca commented on #2965
@jni I asked Russell over the discord beeware channel

He said the following:

(threads still work - it's only forks that are a problem)

That would be the most generic solution - and it would also mean that fork-based processing would work again, because sys.executable would be a viable Python interpreter.

So we have something to work with :)

[2021-07-01 10:50] tlambert03 commented on #2965
Quick reminder here, it's not that we're not signing bundles (we are signing bundles), it's that we aren't signing with a proper (paid) Apple developer id.

Still waiting for czi to buy us one of those ;)

[2021-07-01 10:53] tlambert03 commented on #2965
That explains it! (I was trying to find python last night and wondering where it went)

That's a big deal for us... and perhaps reason to reconsider conda constructor or a variant like what I played with early on https://github.com/tlambert03/conda-bundler

[2021-07-01 14:01] jo-mueller commented on #2945
I think the issue debated at  [napari/napari-plugin-engine#24](https://github.com/napari/napari-plugin-engine/issues/24) is actually where this is going at, thanks for linking!

[2021-07-01 14:12] jni opened #2967 "scale doesn't broadcast correctly for 3D+t data"
## 🐛 Bug

A while back we decided that scale and translate would "broadcast" to bigger arrays when fewer values were given than the data dimension. The use case is a 3D+t dataset, in which the spatial scale is known/important, while the temporal scale is unused. In such cases, it's convenient to write:

[code]

This used to work and I thought it was tested, but apparently it's now broken:

[code]

[2021-07-01 14:15] jni commented on #2915
We discussed this in the Eurasia meeting and I like the idea. I ran into this recently myself, and in fact, currently, it's not possible to deal correctly with layers with different transforms because we don't have forward and backwards transforms accessible from a public API. So this layer scale inheritance is the only way around that until transforms are both properly implemented and widely unde

[2021-07-01 22:32] JoOkuma commented on #2213
Have you guys figures this out? I noticed this problem too.

I think the issue is that every point has the same size and when they lie at different depths on the 3D viewer is resizing them according to the depth while keeping them at the same size. I have the impression, that this isn't an issue when you rotate your points while keeping them (more or less) on a plane orthogonal to the camera.

Sin

[2021-07-02 07:40] kevinyamauchi opened #2970 "add wireframe to Surface layer"
## 🚀 Feature
It looks like `vispy` 0.7 added wireframe support to the `MeshVisual`.

See the tweet [here](https://twitter.com/vispyproject/status/1410586730978320386) and an example [here](https://github.com/vispy/vispy/blob/main/examples/basics/scene/mesh_shading.py).

## Motivation

Viewing the wireframe can make it easier to inspect the mesh.

## Pitch

We attach a `WireFrameFilter` to the `Mes

[2021-07-02 07:40] kevinyamauchi commented on #2970
This would be super useful to my work - I am happy to implement it if there is interest.

[2021-07-02 16:07] alisterburt commented on #2970
I'm definitely interested and think this would be super useful 🙂

I would like to easily access the following states for the `WireFrameFilter`

[code]

To be able to both overlay the wireframe on the existing mesh and also show only the wireframe.

In terms of API, what about having a `layer.wireframe` attribute on the surface layer which could be
- `None`
- `overlay`
- `wireframe_only`

Having th

[2021-07-02 16:12] tlambert03 commented on #2970
it's a hairy triceratops!

[2021-07-02 16:20] alisterburt commented on #2970
[not even fake news!](https://www.news.com.au/technology/science/new-fossil-suggests-dinosaurs-may-have-all-been-hairy/news-story/4a51c610d0daced90beb7e2719dac252?sv=b57b7699d6702965c935437dc9f10170)

[2021-07-02 16:41] kevinyamauchi commented on #2970
This makes sense to me!

[2021-07-02 18:21] zbarry commented on #886
Hi all. Just wanted to chime in and say that [NoMachine](https://www.nomachine.com/) has worked for me for running Napari on a remote workstation with a JupyterLab server running on that same box. All I had to do was open up a terminal inside the virtual desktop, get the contents of the `DISPLAY` environment variable, and then plop it into the top of my notebook which I want to spawn Napari from w

[2021-07-02 18:23] tlambert03 commented on #886
good to know.  yeah I think it may be similar to what google chrome remote desktop is doing.  (which also still works great)

[2021-07-02 20:43] strambc opened #2971 "Does not allow to exit full screen"
## 🐛 Bug

Not able to exit "Full Screen" mode using "Esc".

## To Reproduce

Steps to reproduce the behavior:

1. Launched Napari on MacOS 10.15.7
2. Entered "full screen"
3. Esc button does not allow to exit full screen
4. Re-installed from scratch
5. Problem persists

## Expected behavior

Expected to be able to exit full screen while pressing Esc

## Environment

 - Please copy and paste the in

[2021-07-02 20:50] strambc commented on #2971
Found Command F to exit full screen.
Might be a good idea to activate the "Esc" button to exit full screen but not urgent

[2021-07-02 20:50] #2971 closed, assigned to nobody

[2021-07-02 21:14] strambc opened #2972 "Error while loading plugins"
## 🐛 Bug
When attempting to load a plugin I get the following error:
2021-07-02 16:46:43.047 napari[70356:7689775] error: unrecognized arguments: --upgrade
This applies to all attempted plugins including:

napari-bioformats
napari-omero
napari-demo
napari-animation
napari-ome-zarr

## To Reproduce

1. Launched latest version of Napari
2. Plugins>Install/uninstall package(s)
3. Hit "Install" (blue

[2021-07-02 21:23] tlambert03 commented on #2972
Hi @strambc, sorry about that.  This is a known issue with the bundle at the moment (see https://github.com/napari/napari/issues/2965) ... we hope to have it fixed soon.  but in the meantime, you'll have to install napari from the terminal (see tutorial [here](https://napari.org/tutorials/fundamentals/installation.html) for details), here's the gist:

[code]

once you do that, the built-in plugin

[2021-07-02 21:26] strambc commented on #2972
Hi @tlambert03 thank you for your speedy reply. Not urgent for me. I will wait until you fix the known issue.

[2021-07-02 21:26] #2972 closed, assigned to nobody

[2021-07-02 21:56] thewtex opened #2973 "Error for ImageLayer creation for an image with channels, scale, transform"
## 🐛 Bug

After upgrading napari, a traceback is now obtained for an ImageLayer created with a channel dimension, `scale`, and `translate`.

## To Reproduce

Test script:

[code]

Results in the traceback:

[code]

## Expected behavior

No traceback. Identified in CI: https://github.com/InsightSoftwareConsortium/napari-itk-io/pull/3

## Environment

 - Please copy and paste the information at napa

[2021-07-03 23:40] kushalkolar commented on #1426
Hi, I just thought I'd add onto this. I just started working with `napari` and it took me a while find `viewer.layers`. It was easy to find from looking at `viewer.add_image()` but I think it would be useful to figure out how to render the already existing docstrings for attributes (and methods).

For example:
https://napari.org/api/stable/napari.Viewer.html
https://napari.org/api/stable/napari.la

[2021-07-04 13:41] jni commented on #2213
I don't think it's to do with depth, but rather, with how vispy computes "effective" size given anisotropic scaling. I think to get this fixed we should try to come up with a vispy-only demonstration and raise the issue there.

[2021-07-04 13:44] jni commented on #2973
Thanks @thewtex! I expect that this is related to #2967 and #2855, but certainly more dire! :grimacing:  We'll investigate and add a similar test of our own. :grimacing:

[2021-07-04 13:50] tlambert03 commented on #1426
thanks @kushalkolar ... yeah our docs rendering is a little custom/manual.  but we do have a problem @napari/core-devs:

here's an image of how the Viewer docs are rendered.  Note that the `methods` section is empty (where you'd expect things like `add_image` to show up ... and everything is under `attributes` (where you'd expect important public attributes like `layers` to show up).  And importan

[2021-07-04 13:59] jni commented on #2965
@goanpeca thanks for the investigation and reaching out to Russell! It looks like Option 1 and 2 both require dev on the briefcase side and would take at least a week to get going. So for the immediate term perhaps we should either:

- revert #2436 and/or pin briefcase (ie I'm not sure how much of #2436 needs to be reverted), or
- Use pip as a library temporarily :grimacing:. For reference the lin

[2021-07-04 14:05] tlambert03 commented on #2965
from a quick look, the only consequential thing in #2436 is the `if: runner.os == 'macOS' run: python -m pip install briefcase>=0.3.5` line.  (everything else is mostly "while you're in there" kind of stuff.)  So I'd vote for reverting that, and pinning to an earlier version.
I'm not opposed to option 2, but only as a strictly temporary workaround, and since it will likely take a little testing an

[2021-07-04 14:48] tlambert03 opened #2975 "Feature: Static plugin "manifest" file"
## 🚀 Feature

In vscode, if you open an file with an extension that a plugin could help with, you get the following message:
<img width="519" alt="60721732-c8538080-9f26-11e9-8d42-106ad7bff32f" src="https://user-images.githubusercontent.com/1609449/124388727-159f8f80-dcb2-11eb-8a01-7d8f812b4131.png">

It would be awesome if napari could do the same thing.  like, you drop a `.czi` file on the viewe

[2021-07-04 15:20] kushalkolar commented on #1426
Adding `numpydoc` to `extra_extensions` makes some of them show up and there still appear to be some formatting issues, and blank `Methods` and `Attributes` sections are added in addition to the semi-populated ones. This might be a starting point though?

Example (just html, so anything that needs a server running isn't rendered)
![image](https://user-images.githubusercontent.com/9403332/124390473

[2021-07-04 17:27] tlambert03 opened #2976 "Feature: add `.npy` reader to builtin reader"
## 🚀 Feature
Feels like reading a single `.npy` array file would be in-scope for our builtin reader?  objections?

[2021-07-04 22:09] alisterburt commented on #2976
no objection, great idea!

[2021-07-04 23:36] jni commented on #2965
@tlambert03 it looks like we would reopen #2389 if we revert #2436, but that is preferable to not being able to install plugins imho. Do we all agree?

[2021-07-04 23:37] tlambert03 commented on #2965
yeah, that seems to be the tradeoff.  fine with me

[2021-07-05 02:05] neuromusic commented on #2975
💯 %

@goanpeca kicked off the convo re: a public API from the hub here: https://github.com/chanzuckerberg/napari-hub/discussions/133

I'd love to make this happen by the end of 2020. Its technically quite feasible, but on the CZI side, we'll need to go through a legal & security review to make sure we're doing it right. The sooner we can get a spec and plan together, the sooner I can kick off that

[2021-07-05 02:13] tlambert03 commented on #2975
great.  I do think that this particular spec will need to be much more tightly developed with napari core than other metadata on the hub... so it may not be possible to go quite as fast on this?

edit: (I see this as a bit different than #133 too for what it's worth.  That proposal would let us move away from parsing HTML in our [`pypi.py`](https://github.com/napari/napari/blob/master/napari/plugi

[2021-07-05 07:11] bauerdavid opened #2977 "Unable to use multiple windows"
## 🐛 Bug

My problem is that when I open multiple napari windows, the context of the window changes completely to the second window. One problem with this, is that when I try to change to 3D mode in the first window, nothing happens, and I get an error:
[code]
You can also see this happening, if you create two windows, close the second one, and try to access `viewer` in the console of the first wi

[2021-07-05 11:51] anntzer opened #2979 "networkx not installed from clean pip install; causes a warning when napari imports vispy"
## 🐛 Bug

A pip install of napari in a clean py39 venv does not install networkx, which causes vispy to emit a warning when imported by napari.

## To Reproduce

Steps to reproduce the behavior:

1. `python -mvenv /tmp/napari && source /tmp/napari/bin/activate && pip install -U pip && pip install -v 'napari[pyqt5]' && pip list && napari`

`pip list` outputs
[code]

`napari` emits
[code]

## Expect

[2021-07-05 13:36] jni commented on #2976
Finally, an actually good good-first-issue! :joy: Might be a good one for the upcoming SciPy sprints!

[2021-07-05 13:48] jni commented on #2977
Thanks for the report @bauerdavid! Actually we do want to be compatible with multiple viewers so this is a big issue. @JoOkuma has done a bunch of work with multiple windows so the `viewer.ndisplay` issue might have more to do with the console. To be clear: do you see the ndisplay issue occurring if you *don't* launch the IPython terminal? (ie if you skip Step 4 in your reproducible example?)

[2021-07-05 13:48] jni commented on #2977
... or it might just be a bit of the code that we haven't exercised in this context yet. Either way, it's a bug, and we'll try to fix it ASAP!

[2021-07-05 13:56] jni commented on #2977
Ah, just saw that this is actually the same issue as #2897. There is more information there and work on a fix has started in #2914. :crossed_fingers:

[2021-07-05 14:15] jni commented on #2979
@anntzer to me this feels like a bug in VisPy: that warning should only be emitted when a user explicitly imports a graph layout module in VisPy (we don't). Since napari has no intention (currently) of creating graph layouts, I don't think we are responsible for importing nx. And, as the warning indicates, I don't think VisPy wants to depend on networkx, only offer the ability to use it if it's av

[2021-07-05 14:34] djhoese commented on #2979
Yep, this is something that could be improved in VisPy. Even the warning is wrong, it says `network` when it should say `networkx`. The layout object itself includes checks for the import already:

https://github.com/vispy/vispy/blob/main/vispy/visuals/graphs/layouts/networkx_layout.py#L40-L50

I think the warning should be removed from the import and a utility method be created that does the chec

[2021-07-05 23:30] jni commented on #2979
Good-oh. Turns out you can't move issues between orgs, so I've created vispy/vispy#2132. Thank you for weighing in @djhoese! I'm going to close this one.

[2021-07-05 23:30] #2979 closed, assigned to nobody

[2021-07-06 00:31] #2944 closed, assigned to tlambert03

[2021-07-06 01:33] DragaDoncila commented on #2956
I think this is a good idea and also agree it's probably expected behaviour, especially since each shape has its own button in the layer controls. It'd be nice to have a corresponding `add_` method for each new shape button in the controls.

[2021-07-06 02:36] jni commented on #2917
Yeah I don't think we want to unstack here. I think a key issue is that if you are thinking of points as individual data points that vary over a dimension (including in coordinate), then we are back to (say) 4D coordinates *together* with a point index in the properties. This would actually bring it nicely in parity with the Labels layer.

However, the bigger framework shift that I think we might

[2021-07-06 06:06] bauerdavid commented on #2977
Thanks for the reply! I will watch the ongoing work there.

[2021-07-06 08:56] anntzer commented on #2979
Thanks for the quick handling.

[2021-07-06 10:50] ntatsisk opened #2983 "Can't open folder containing 16bit tifs with 0.4.10"
## 🐛 Bug

Hi, first of all, thanks for this amazing tool!

I am unable to open a folder containing multiple 16bit .tif (LZW compression - not sure if relevant) using napari version 0.4.10. However, I am able to open the same folder with napari 0.4.7.

The error is `ValueError: No plugin found capable of reading <name//of//folder>`

Looking forward to your reply.

[2021-07-06 12:02] ntatsisk commented on #2983
I managed to fix the issue by switching to `scikit-image=0.18.1` instead of `0.18.2` for the non-working environment. Feel free to close the issue if it isn't relevant for somebody else. Thx!

Edit: It seems that the problem isn't scikit-image either because now I managed to have a version running with 0.18.2 too. Sorry for the confusion :/

Edit2: Loading the images with napari 4.10.0 Windows bun

[2021-07-06 18:54] ntatsisk commented on #2983
OK, it seems that the same problem has been discussed here: [https://forum.image.sc/t/segmentation-pipeline-from-ilastik-to-napari/53986/4](https://forum.image.sc/t/segmentation-pipeline-from-ilastik-to-napari/53986/4); Installing `imagecodecs` is what makes the reading work. So, I am closing the issue.

[2021-07-06 18:54] #2983 closed, assigned to nobody

[2021-07-06 19:18] liu-ziyang commented on #2965
at the time being, I didn't find viable alternatives after trying things I can think of. I can look into this again a bit later this week (currently busy with other things)

Also no objection pining down the version, I can try following up with briefcase again and see if they have been making any progress making the latest version working for us. Unless @goanpeca if you happen to know how can we a

[2021-07-06 21:15] andy-sweet opened #2984 "Affine.rotate does not always return the `rotate` input"
## 🐛 Bug

When defining an Affine transform by only a rotation matrix, the Affine.rotate property is not the same as the output for some angles. This was originally found in work related to the [`itk-napari-conversion` plugin](https://github.com/InsightSoftwareConsortium/itk-napari-conversion/pull/11).

## To Reproduce

For example, when the 2D rotation angle is 120 degrees, the final assertion wi

[2021-07-07 00:48] #2938 closed, assigned to DragaDoncila

[2021-07-07 02:34] sofroniewn commented on #2984
@andy-sweet and I discussed this offline - it seems like this is the case because we absorb the any reflections into the sign of the scale. I think we did this at the beginning as we didn't have rotate, we only had scale. Now that we have rotate, I'm fine with them being in rotate. @jni do you have any thoughts on this?

[2021-07-07 02:39] jni opened #2985 "Holding non-layer data from plugins in the viewer (or some other store)"
## 🚀 Feature

Sometimes plugins need to store things that aren't represented by layers, such as dataframes, floats, networkx graphs, or really any random object. Currently their only option is to create a heavyweight object that contains all the variables they need. It would be nice if napari provided a namespace for plugins to store non-layer data.

## Pitch

One implementation idea would be a si

[2021-07-07 02:42] jni commented on #2984
I'm wondering whether we should just *not* compose these elements — keep them as separate elements in the chain and use caching to speed things up. ie, if we move them to rotate, then users giving a negative scale will have the same problem later on, right? Also, isn't it true that some reflections can't be expressed as rotations? (e.g. reflections about only one axis)

[2021-07-07 02:44] sofroniewn commented on #2653
Yes, but "world coordinates" in napari are fully nD, I think we at places might say "worldslice coordinates" to mean the "scene coordinates"

Hmm that could be - i think in 2D some of this stuff might not matter / stuff might be equivalent so we didn't notice, but in 3D the differences might be more significant.

My hope though is that we could keep changes localized to the `_map_canvas2world` met

[2021-07-07 02:46] sofroniewn commented on #2984
I think avoiding composition and decomposition as much as possible could be good, it might make things a little less standard, but would guarantee the round trips above. Thoughts @andy-sweet?

[2021-07-07 03:33] sofroniewn commented on #2213
Yeah, i still don't know how to reproduce locally - does it depend on how "zoomed" in one is? funny things happen when very zoomed in maybe?

[2021-07-07 03:41] sofroniewn commented on #1426
Thanks for flagging this @kushalkolar - agreed we should definitely improve this!!

[2021-07-07 10:36] Carreau opened #2987 "self._mode_history seem to be unused on points, shapes and labels."
## 🧰 Task

This seem to have been used for "hold space to XXXX" in the past looking at git log, but seem unused now.
It could be an easy first issue.

[2021-07-07 13:17] Carreau opened #2988 "Vispy colormap deprecation warnings."
## 🧰 Task

There seem to be many new colormap deprecation warnings in vispy about using 'cubehelix' literal instead of creating a CubeHelixColormap. I've open https://github.com/vispy/vispy/pull/2134 to have a proper stacklevel and see where this is actually coming from.

I think that will likely affect the following where we might want custom logic

[code]

and the following vendored file.

[code

[2021-07-07 15:27] andy-sweet commented on #2984
Agreed that the best long term fix is to not compose these elements in a lossy way, so that we can just return what was passed in (or at least the equivalent coerced form). I have some old work that does this by defining a new `Transform` type, so let me get that up for review to see if it's useful.

The affine matrix decomposition as defined now will always be ambiguous up to reflections, so when

[2021-07-07 21:54] berl commented on #886
@zbarry thanks for bringing this back up because I forgot to update:
napari actually works over xrdp now!
machine with napari:
[code]
remote access with
[code]

[2021-07-07 23:12] alisterburt commented on #2985
I really like this idea - if it's a choice between the nested dictionary and the nested namespaces I think I prefer the nested namespaces.

If we wanted to really encourage plugin crosstalk we could expose this 'non-layer' data as an [`EventedModel`](https://github.com/napari/napari/blob/804cebee7c0f60fcec1513f5908638c8330deaa2/napari/utils/events/evented_model.py)
We could imagine allowing plugin

[2021-07-07 23:22] goanpeca commented on #2985
Would there be a need to also "protect" some of these fields?

In Python anything can be accessed but would some of these fields need some extra "protection" to avoid accidental tampering from other plugins?

[2021-07-07 23:40] alisterburt commented on #2985
good point! If we did want to use the `EventedModel` there is some support for [faux immutability](https://pydantic-docs.helpmanual.io/usage/models/#faux-immutability)
edit: I'm not sure if the immutability can easily be switched on and off on an existing model instance

[2021-07-07 23:52] #2819 closed, assigned to ppwadhwa

[2021-07-07 23:56] sofroniewn opened #2993 "Return key in preferences doesn't correspond to "ok""
## 🐛 Bug

Right now when I have the preferences dialog open and press the return key it doesn't correspond to "ok" instead it asks me if i want to return to the default settings. I'd expected it to correspond to ok. We might also want the shading of the "ok" button to be slightly different to indicate that it is "in focus" when the dialog opens.

cc @ppwadhwa @goanpeca

[2021-07-08 00:33] goanpeca commented on #2993
Agreed, but this is a more general issues, Mac by default disables tab navigation and focussing but we can force that with Qt.

Since we have color for hover, a different shade for in focus might not be that noticeable/accessible. Then this will depend on the OS, Mac usually put a blue outline to indicate focus. But Win might put a dashed outline to indicate the same. In general I like that it is

[2021-07-08 00:46] sofroniewn commented on #2993
Yup ok, happy to punt on the styling/ focus/ tab issues - but i think we should fix the return => ok instead of revert to default

[2021-07-08 00:47] goanpeca commented on #2993
Agreed, working on a fix :)

[2021-07-08 16:38] nclack commented on #2987
It doesn't look like anything reads from this so I'll just remove it.

[2021-07-08 22:30] goanpeca opened #2999 "✨ Add focus decoration to UI elements when doing keyboard navigation"
## 🚀 Feature

See https://github.com/napari/napari/issues/2993

## Motivation

When doing tab/keyboard only navigation in napari, the elements that have the focus should be highlighted. Options include color changes or border changes.

## Pitch

## Alternatives

## Additional context

[2021-07-08 22:31] sofroniewn commented on #2790
@ppwadhwa are these the only two? i'm actually thinking now that if these are the only two then we should try and make them no longer requiring a restart. In general it's probably much better to not require a restart. Let's discuss more before you start working on it. I know @tlambert03 agrees here too. cc @goanpeca

[2021-07-08 22:37] sofroniewn commented on #2973
I think here because the data is `(20, 20, 2)` we think it is 3D - not quite sure what to do though, if the data had been `(2, 20, 20)` would be have broadcast right? Maybe @andy-sweet can look into this too, especially if there was a regression

[2021-07-08 22:43] sofroniewn commented on #2987
Likely a remnant of previous functionality! I think it's good to be dropped

[2021-07-08 22:46] sofroniewn commented on #2967
cc @andy-sweet

[2021-07-08 22:54] andy-sweet commented on #2973
Happy to take a look, but probably tomorrow.

[2021-07-08 23:30] alisterburt opened #3000 "Instant flash effect on screenshot"
## 🚀 Feature
Add an option to make the flash effect seen when taking a screenshot feel more 'instant'

Current behavior on the left, desired alternative behaviour on the right

https://user-images.githubusercontent.com/7307488/125000812-1c7b2900-e049-11eb-9b27-aef67ca48477.mp4

## Motivation
The (awesome) flash effect added in #2721 by @lukasz-migas ramps from no colour at `t=0` to the desired col

[2021-07-08 23:56] alisterburt commented on #2922
tried to reproduce locally and I can't see any of the artefacts shown, my environment for comparison...

napari: 0.4.11.dev31+gd488fa88
Platform: macOS-11.2.1-x86_64-i386-64bit
System: MacOS 11.2.1
Python: 3.9.5 | packaged by conda-forge | (default, Jun 19 2021, 00:27:35)  [Clang 11.1.0 ]
Qt: 5.15.2
PyQt5: 5.15.4
NumPy: 1.21.0
SciPy: 1.7.0
Dask: 2021.06.2
VisPy: 0.6.6

OpenGL:
  - GL version:  2.1

[2021-07-09 00:11] sofroniewn commented on #2922
@nclack did you also tell me that you tried to reproduce but couldn't? Maybe this was broken in `0.4.9` but is now fixed on master?

[2021-07-09 00:17] andy-sweet commented on #2973
I'm pretty certain this was broken by [PR #2855](https://github.com/napari/napari/pull/2855) because it introduced two separate transforms (data2physical and physical2world) that contribute to `Layer._data_to_world`. These are not guaranteed to have matching dimensions because `Affine.__init__` infers the dimensionality of the transform as the highest dimensionality of the transform component inpu

[2021-07-09 00:19] sofroniewn commented on #2973
I think ok to wait, that PR will go in before next release, so i think its ok

[2021-07-09 00:24] sofroniewn opened #3001 "Remove keybindings dialog"
## 🧰 Task

Now that keybindings are configurable in the preferences we should remove the keybindings dialog, currently accessible via "help".

<img width="512" alt="Screen Shot 2021-07-08 at 5 23 47 PM" src="https://user-images.githubusercontent.com/6531703/125005723-4a447b80-e011-11eb-9436-c0f81f8ab7ac.png">

[2021-07-09 00:38] jni commented on #3000
@alisterburt I don't think an option is a good idea here — I agree with your design suggestion but let's just pick that one, rather than have a configurable option here.

[2021-07-09 00:57] DragaDoncila opened #3002 "Improve progress bar design"
## 🚀 Feature
Following on from #2656 I wanted to document the currently outstanding design improvements suggested by @jni, @tlambert03, @goanpeca and me. I don't know if all of these suggestions *should* be implemented or whether they're the best options, so I think it would be good to get a design audit from @liaprins-czi before we go much further.

- [ ] **Fix Vertical Jumping**: as progress bar

[2021-07-09 01:00] DragaDoncila opened #3003 "`progress` objects should take a `viewer` as parameter"
## 🧰 Task
@jni's suggestion is that the `progress` constructor should take a `viewer` argument to be used for adding the `QtProgressBar` object to the activity dialog, and we should only resort to using `_QtMainWindow` when a `viewer` is not passed by the user. I'm curious what @sofroniewn and @tlambert03 think about this option.

[2021-07-09 01:01] tlambert03 commented on #3003
fine with me

[2021-07-09 01:08] jni commented on #3002
Yeah I thought about workflows finishing and immediately starting up again, and I agree it's an issue. Two options there would be:
- instruct plugin developers/users to always use nested progress when it makes sense
- have a timeout on the closing, so that the activity dock auto closes only after x seconds of inactivity.

[2021-07-09 02:58] sofroniewn commented on #3003
@DragaDoncila you don't mean these objects https://github.com/napari/napari/blob/master/napari/_qt/widgets/qt_progress_bar.py? I really like that they don't depend on the viewer - they should probably move to `superqt` no?

Would it be something in here? https://github.com/napari/napari/blob/fffda3ad52947990ea1c5b7037be8aa0b9024477/napari/_qt/dialogs/activity_dialog.py#L176

I was looking for orig

[2021-07-09 02:59] #2993 closed, assigned to goanpeca

[2021-07-09 03:05] sofroniewn commented on #2841
I just read through image.sc link above - sound like this would also fix some bugs that folks ran into over there. Might this be a good thing for @ppwadhwa to work on @tlambert03 or do you have other ideas for a fix?

[2021-07-09 03:09] DragaDoncila commented on #3003
@sofroniewn sorry for the confusion. The original comment is [here](https://github.com/napari/napari/pull/2656#discussion_r666202035).

I think the API for this would involve users passing the viewer to the `progress` call e.g.

[code]

Then in `qprogress` on `__init__` we would do:

[code]

[2021-07-09 03:18] andy-sweet commented on #2973
Note that even with the fix in [PR #2990](https://github.com/napari/napari/pull/2990), the 2D scale and translate vectors will be padded with a leading 1 and 0 respectively to become `(1, 1, 1)` and `(0, 3, 4)`, so the resulting translate vector probably isn't what we want where the non-spatial channel dimension is last.

[2021-07-09 03:21] sofroniewn commented on #3003
Ok, that makes sense to me. So we could still move the other widgets to `superqt` at some point in time. I'm supportive if i understand correctly

[2021-07-09 03:22] andy-sweet commented on #2967
This should be fixed by [PR #2990](https://github.com/napari/napari/pull/2990), so I'm going to pick this one up too. I assume that the first dimension in the example above represents time, so padding the leading dimensions of scale and translate with 1 and 0 respectively acts as desired unlike the related #2973

[2021-07-09 04:12] DragaDoncila commented on #3003
Yep, there would be no change to the `QtProgressBar` object.

[2021-07-09 04:30] jni commented on #2973
Yeah I hadn't read the above correctly — indeed @thewtex for that image you will *have* to provide `channel_axis=-1` as a kwarg to `add_image`. There is otherwise no way for us to know that the last axis is channels. (yes yes, ITK and typing is so good, we know. :joy:)

[2021-07-09 09:24] alisterburt commented on #3000
@jni initially I thought the same, the reason I suggested making it configurable was I can imagine the flash effect as implemented being used in the proposed 'guided tour' of UI features (#2361) - happy to start with only the fade out effect though if there's consensus!

[2021-07-09 09:35] brisvag opened #3005 "Unsettable attributes and magicgui LayerDataTuple are incompatible"
## 🐛 Bug

To update inplace a result layer with a `@magicgui` decorated function, one should return a `LayerDataTuple`. However, this breaks if any of the attributes passed in the dictionary are not settable, such as `ndim` for Points.

## To Reproduce

[code]

This fails with
[code]

## Expected behavior

I'm not sure about the best approach, but I feel like there should be no failure when the at

[2021-07-09 10:52] tlambert03 commented on #3005
I'm not sure I agree here.  It's an AttributeError to try to set an unsettable attribute with a regular layer too (`layer.ndim` is a [computed property](https://github.com/napari/napari/blob/7b6a9a5e75f9efcf947b88dd9a6fb066dd775636/napari/layers/base/base.py#L725-L728) without a setter), so I'm not sure it makes sense to special case magicgui here.

[code]

may I ask why you were trying to set ndi

[2021-07-09 11:06] brisvag commented on #3005
I'm creating a result layer that sometimes (e.g: at initialization) will have no data. If one passes no data and no ndim, it defaults to 2D. However, I needed it to be 3D, cause otherwise updating it fails later on.

This can obviously be worked around in a few ways (passing a (0, 3) array instead of None, passing a different tuple altogether, etc...), but I figured it was worth pointing out, in c

[2021-07-09 11:11] tlambert03 commented on #3005
oh right, I forgot that points takes an `ndim` parameter in the init.  Honestly, I feel like that's the issue here.  I would vote for using a different name in the initializer, like `init_ndim` ... if you tried to set ndim on an already existent numpy array you'd get the same attribute error.  So i feel like our convenience of creating an array if one isn't provided needs to have a different param

[2021-07-09 11:14] brisvag commented on #3005
That's reasonable! Might be worth considering in #2995 then, which was prompted by similar issues.

[2021-07-09 13:48] alisterburt commented on #2960
closed by #2961

[2021-07-09 13:48] #2960 closed, assigned to nobody

[2021-07-09 15:55] sofroniewn opened #3009 "Add pop-out button for grid mode and store defaults in settings"
## 🚀 Feature
This would supersede #3007 and #2974 by adding a pop out to the grid button, accessible by right clicking it that would allow the user to set the `grid size` as a 2-tuple of int (could be two int comboboxes > 0) and the stride could be a int combobox that could be negative or positive (0 should result in no grid). It should look like the pop out dialog for the play button

<img width=

[2021-07-09 16:27] nclack commented on #2922
I also couldn't reproduce. I see:

![image](https://user-images.githubusercontent.com/98295/125108984-c2ae4980-e0b0-11eb-8141-7d3c5b383227.png)

I tried on 0.4.9 and master on a few different systems.  Here's the info for the linux one:

napari: 0.4.9
Platform: Linux-5.11.0-7620-generic-x86_64-with-glibc2.33
System: Pop!_OS 21.04
Python: 3.9.5 (default, Jun  4 2021, 12:28:51)  [GCC 7.5.0]
Qt: 5.15

[2021-07-09 16:37] liaprins-czi commented on #2993
Yes, I agree that showing an in-focus state would be helpful, ideally if it can align with the OS's default design ... is it possible to do this with QT @goanpeca ? If we cannot call on the existing OS's focus design, then I think in general using a blue outline (similar to Mac OS treatment for in-focus) would communicate the idea.

Lastly, I was not sure what you meant by this @goanpeca :

Do you

[2021-07-09 16:40] goanpeca commented on #2999
@liaprins I opened this new issue to track the focus discussion:

From @liaprins at https://github.com/napari/napari/issues/2993#issuecomment-877313089

[2021-07-09 16:43] goanpeca commented on #2999
Thanks for chiming in @liaprins. To your questions:

Yes, for some controls, for others it requires a bit more work (need code changes and not just QSS changes), but doable.

Indeed.

![image](https://user-images.githubusercontent.com/3627835/125110807-b1623e80-e0aa-11eb-94ae-d5046337fa84.png)

Mac by default has no tab navigation for all elements, on Qt we can choose to respect this, or always fo

[2021-07-09 16:48] aeisenbarth commented on #2922
I tried again and I noticed that an environment variable was set, namely `NAPARI_OCTREE=1` as workaround for https://github.com/napari/napari/issues/1942.

When set to `0`, the issue does not occur. So it seems not to be a bug in the default code, but probably only in the octree code.

[2021-07-09 16:59] liaprins-czi commented on #3002
Thanks for documenting all this and looping me in @DragaDoncila ! I have read through this issue and #2656 and all the options / issues documented here, very thorough! To do designs, I will need to know a bit more about context in terms of when progress bars appear and what they are communicating, context about any additional information shown, etc. Probably would be best to hae a call with @Draga

[2021-07-09 17:04] nclack commented on #2922
ah. I'll take a look.

[2021-07-09 17:11] goanpeca commented on #3002
Thanks for the comments @DragaDoncila

All GUI in Qt operations need to live on the main thread so I do not understand what the comment means exactly.

[2021-07-09 17:11] goanpeca commented on #3002
I like this idea @jni  :)

[2021-07-09 17:12] tlambert03 commented on #3002
yeah... by it's very nature, the progress bar is a main-thread object relaying the status of (hopefully) some "other-thread" process

[2021-07-09 18:47] neuromusic commented on #1004
some other implementations...

qiime2 uses `citations.bib`, which gets parsed by the `Plugin` object when defining the plugin (the `Plugin` object is largely just a container for plugin metadata.... otherwise, qiime2 uses a similar approach to napari). [example implementation](https://github.com/qiime2/q2-feature-classifier/blob/master/q2_feature_classifier/plugin_setup.py)

[2021-07-09 19:34] derekthirstrup opened #3010 "WX error toggling between slice and volumetric view"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Click on button to toggle slice and 3d volume view.  The button intermittently doesn't work but the ctrl-y shortcut still functions.

## Expected behavior

## Environment

 - Please copy and paste the information at napari info option in help menubar here:

 - Any other relevant information:

## Additional context

[2021-07-09 19:46] sofroniewn commented on #3002
This is part of "tablestakes", and I'd put this at pretty high priority @liaprins-czi.

I'm adding a screenshot here of latest

<img width="1289" alt="Screen Shot 2021-07-08 at 11 15 58 PM" src="https://user-images.githubusercontent.com/6531703/125128164-7ebc4400-e0b2-11eb-99da-7c877a6c1c85.png">

I wonder in general if our activity dialog/ error dialog should also be fixed to the bottom right of

[2021-07-09 19:48] sofroniewn commented on #3009
@liaprins-czi this is also something you could mock up in design before @ppwadhwa implements. Should be fairly quick to do, compared to some of the other work, and I know @haesleinhuepf is pretty eager for this functionality!

[2021-07-09 19:53] sofroniewn commented on #3005
Yeah i agree with this take - we should somehow think about the init method. But even if one renamed `init_ndim` would that fix the issue here? If you put `init_ndim` in the dict you wouldn't be able to set it either, so maybe we just need to not have things in the init that aren't settable afterwards? But that seems maybe a little strict? Maybe i'm missing something here though and there is anoth

[2021-07-09 19:57] sofroniewn commented on #2922
We can in theory disable the autogeneration, or maybe only do it for image data, or maybe have one method for labels data that uses something like a mode operation to downsample and another method for image data that uses something like a mean operation. In general I think we've found that often when we autogenerate though it causes us problems eventually

[2021-07-09 20:47] tlambert03 commented on #3005
good point.  no it wouldn't.  I guess Points is just a little unique in that regard in that one can't use the same parameters to update it as to create it.  @brisvag, a (crappy) workaround is to ask whether you've already called the function with `function.call_count`:

[code]

short of that, you'll need to ask for the viewer in your function parameters to check whether the layer exists

[2021-07-09 20:49] tlambert03 commented on #3009
i like it

[2021-07-09 21:56] sofroniewn commented on #3005
We could drop `ndim` - you can pass `data=np.empty((0, 3))` instead, but that's a little awkward. We could overload `data=3` which is unambiguous, but might be a bit heavy. What does @jni think here?

[2021-07-09 22:30] brisvag commented on #3005
Or as @alisterburt suggested in #2995, we coukd make ndim settable, which (when possible) would pad the layer data promoting it to a higher dimension...

[2021-07-09 22:56] sofroniewn commented on #3005
That's an interesting idea, we could pad or trim as needed. I'm open, but curious what others think. I wonder if we'd then do that for images etc too ...

[2021-07-09 23:29] nclack opened #3012 "Access violation as test runner exits in github ci"
## 🐛 Bug

An [access violation](https://github.com/napari/napari/runs/3030822582?check_suite_focus=true#step:7:278) was observed for the `py38-windows-pyqt` environment during a run of the 'PR Test' check.

It appears as if all tests passed and the access violation happened as the pytest process exited.  This suggests some kind of race condition during process shutdown.

## To Reproduce

It's not

[2021-07-10 00:42] andy-sweet opened #3013 "Order of Shape's color cycle in examples is confusing"
## 🐛 Bug

The order of the colors generated from a color cycle in a couple of shape's examples is confusing.
- [`add_shapes_with_properties.py`](https://github.com/napari/napari/blob/master/examples/add_shapes_with_properties.py)
- [`add_shapes_with_text.py`](https://github.com/napari/napari/blob/master/examples/add_shapes_with_text.py).

In both examples, a color is defined via a property name (`

[2021-07-10 01:19] DragaDoncila commented on #3002
Completely agree @liaprins-czi , let's set something up for next week.

[2021-07-10 03:16] #2987 closed, assigned to nclack

[2021-07-10 05:17] haesleinhuepf commented on #3009
😃 Yes, especially if `stride=-1` was default 🙂

[2021-07-10 05:26] sofroniewn opened #3014 "Opacity slider label should be between 0 and 1"
## 🐛 Bug

Opacity slider label should be between 0 and 1 not 0 and 100. This will remove need for normalization on slider https://github.com/napari/napari/blob/aade148d8e5cb339bb2981ab4d1081ae5d2747e0/napari/_qt/layer_controls/qt_layer_controls_base.py#L79

![image](https://user-images.githubusercontent.com/6531703/125152865-96bcb380-e104-11eb-9a09-7a9784a3da0c.png)

[2021-07-10 05:37] sofroniewn commented on #3009
After this was added you'd be able to set the default value in the settings to be `-1`. You'd have to change it once, but then it would persist for all time - literally forever!!!! :-)

[2021-07-10 05:52] haesleinhuepf commented on #3009
Alright, no hurry from my side!

[2021-07-10 07:07] haesleinhuepf opened #3015 "hookspec for just doing something without providing a dock widget"
## 🚀 Feature
Hi all,

I would like to request for another hookspec that takes functions which are executed when a menu entry is clicked. Examples could be "Reset Brightness & Contrast" or "Copy current layer".

## Motivation

I'd like to implement functions such as for resetting brightness contrast
[code]

At the moment, the user has to confirm the action in a dock widget which appears a bit cumbe