[2022-04-06 17:07] Czaki commented on #2288
Looking that every, reported by me, problem is around 15 digits after dot then maybe around to 1e-5 or 1e-10 could be onough?

It is similar to your gród solution but left more flexibility to users?

From the other hand integer coordinates also looks promising.

[2022-04-06 17:35] JoOkuma commented on #4274
I think adding a graph dependency would help to implement the graph and tracks layer algorithms just like we call numpy functions inside the layers.

Some graph algorithms can't be implemented using matrix operations and are very slow in pure python, by having a dependency that allows cython (or something similar) we can contribute to them and avoid adding this to napari.

I also support the graph

[2022-04-06 21:51] andy-sweet commented on #2288
Ah I see, so maybe as quick fix, add a non-required parameter to `napari.plugins._builtins.napari_write_points` for the float precision/format and default it to something like 10 digits after the decimal point (i.e. '%.10f')? Similar to `pandas.DataFrame.to_csv`'s [`float_format`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html)?

I don't think there is an easy way to exp

[2022-04-06 22:19] jo-mueller commented on #4274
Isn't networkx already part of the Napari dependencies?

[2022-04-06 22:42] andy-sweet commented on #2858
Hey @JoOkuma, it looks like #3754 exposed `Layer.data_to_world` as the inverse of `Layer.world_to_data`, so do you think it's worth closing this issue now?

I think we could definitely improve our transforms model and documentation of it, but maybe this isn't the best issue to track that effort (see #3783 instead?).

[2022-04-06 22:56] andy-sweet opened #4365 "Use ColorEncoding in TextManager"
The goal here is to use the ColorEncoding described in the [style encoding design doc](https://hackmd.io/Ybil_epnQPiBczPcbGRqCw?view) and implemented in #4357 in TextManager.

This enables some of the functionality described in #2019 and also acts as a good testing ground for color encodings in napari before we use them for things like `Points.face_color`.

In an architecture working group meeting

[2022-04-07 01:25] github-actions[bot] opened #4366 "[test-bot] pip install --pre is failing"
The --pre Test workflow failed on 2022-04-08 12:39 UTC

The most recent failing test was on windows-latest py3.8 pyqt
with commit: 5634f6e65b66d3bfc6eb500338c68aae02bba283

Full run: https://github.com//actions/runs/2115174811

(This post will be updated if another test fails, as long as this issue remains open.)

[2022-04-07 01:35] jni commented on #4366
Here's the error:

[code]

I presume this is the npe2 0.3.0 release. Looks like we might have wanted to leave the rc0 sitting around a bit longer @tlambert03?

[2022-04-07 01:58] tlambert03 commented on #4366
This is a deprecation warning specifically for napari. It's not a breakage or even an error, it's a deprecation warning that no users will see (converted to a test error because of our pytest settings). Napari would just need to fix the imports, or ignore the warnings in tests.  But everything will work fine for the end user

[2022-04-07 02:12] jni commented on #4366
Yeah but it seems we've configured tests to break with deprecation warnings? Or is that only for `--pre`?

[2022-04-07 02:15] tlambert03 commented on #4366
We've configured them to always break with warnings triggered by code internally.  This is exactly how this should have worked, and your pr was the right fix.

[2022-04-07 07:35] jni commented on #4345
Thanks @hgrecco for raising this! The code snippet is very handy to think about implementation ideas.

One thing I wonder is whether this can evolve as a separate plugin ecosystem first, then we can have discussions about which bits belong in napari core as usage spreads. Here's one way I can see this playing out:

- First, define HybridData or ComplexData or whatever in some third party package.

[2022-04-07 08:07] jni commented on #4366
@tlambert03 I guess I was saying it would be good if there was a small timeframe between when we break our [~entire CI matrix](https://github.com/napari/napari/runs/5861257433?check_suite_focus=true) on `--pre` and when we break it with the actual release.

[2022-04-07 09:02] brisvag commented on #4274
I think that features should be for optional/additional data, not something required, so I'd say it should definitely be a first class citizen. I don't really see a way to handle graphs without spatial coordinates in napari; what happens if you display it together with other data?

Sure we can generate a structure ourselves, but as pointed out by @jo-mueller, this is not trivial and should be prob

[2022-04-07 11:28] tlambert03 commented on #4366
Ah gotcha, sure makes sense sorry.

I thought stuff was good to go based on https://github.com/napari/npe2/issues/152

[2022-04-07 12:52] jni commented on #4366
Indeed weird! 🧐 thank you for the context! 🙏

[2022-04-07 14:59] JoOkuma commented on #4274
I noticed that too when updating napari.

If we opt for NetworkX every feature could be saved on the nodes (what happens to the edges?) attributes. Saving in a table makes things awkward when adding and removing nodes, this is a current issue with the tracks layers.

My major concern with NetworkX is that it's slower than pure python.

[2022-04-07 15:06] brisvag commented on #4274
Oh, I didn't know about that! I'm definitely not equipped to have an opinion about which library to use :P

Yeah, this is what I though as well, but it would also be best to have the `Feature` experience match between layer types. How to handle edges is another beast... Maybe having two separate `Feature`s is the most straightforward?

[2022-04-07 15:11] jo-mueller commented on #4274
I agree with this approach. Actually, I would re-use the points layer for this to a large degree. The nodes in the graph would have to have an attribute `coordinates` which could then directly be converted to a points layer under the hood.

The edges in networkx more or less just connect, for instance, `point 1` to `point 2` so that the edge could simply be visualized with a napari vector, i.e. `p

[2022-04-07 15:23] XareniGalindo opened #4371 "annotate_segmentation_with_text.py example TypeError"
## 📚 Documentation

Hello, I am trying to run the annotate_segmentation_with_text.py example to know how is working and apply some of their features to my script. However, when I run it I get the next error:

TypeError: add_shapes() got an unexpected keyword argument 'features'

As well. I tried to copy-paste the example from [napari.org ](https://napari.org/tutorials/segmentation/annotate_segment

[2022-04-07 15:28] brisvag commented on #4274
I agree that the visualization should use vispy's `Markers` (same as points) and the lines used by vectors. However, keep in mind that on the `ViewerModel` side (that is, where `Layers` themselves live), we only work with the data, not with the visualization itself, and I think we should focus on staying as true to the data as possible (a `Graph`) rather than using a mix of other layers.

Otherwis

[2022-04-07 16:42] sofroniewn commented on #1001
I like a curated list like this, and I think that vision aligns with how @jni sees things. As much as possible we should align with the community and follow some standard process

I don't really have more to add here.

I could imagine some combination of all of these, including maybe surfacing compatibility on the hub cc @neuromusic

Yes, thanks!!

[2022-04-07 17:10] JoOkuma commented on #2858
I agree it should be closed. Thank you.

[2022-04-07 17:10] #2858 closed, assigned to nobody

[2022-04-07 20:29] neuromusic commented on #1001
A Github action that does the checks included in the cookie-cutter template would go a long way.

We might be able to incorporate the outputs into the Plugin Preview Page. Eventually, we could highlight on the napari hub if plugins aren't compatible with the Bundled App (for this or any other reason).

[2022-04-07 21:29] ppwadhwa commented on #2172
Hi y'all,
I am looking at this issue again to see if there is more that I can finish on the checklist above.  Gonzalo and I talked about it a bit and we can finish quite a few.  However, I was wondering about the following:

default colormaps or color combinations
dask cache size maximum, and dask fusion settings
magic-naming for layer

Are these still things we need/want?

@sofroniewn @tlambert03

[2022-04-07 23:41] jni commented on #4350
Thanks for the issue and the attempted fix, @psobolewskiPhD!

I'll comment more specifically about the fix on the PR, but the issue is pretty major, thank you for raising it. I think there are two problems that need fixing separately:

1: the max-projected image should be broadcast over the existing image. We do this if the max-projected image has one less dimension, but we *don't* do it if it has

[2022-04-08 00:19] melissawm commented on #4077
Folks I think this is all covered, let me know if there are any pending items. Thanks!

[2022-04-08 04:08] #4077 closed, assigned to nobody

[2022-04-08 06:07] psobolewskiPhD commented on #4350
Splitting the issue makes sense.
The max project was just me trying to make an easy example of the unintuitive behavior I observed when opening a new image with reduced data (nr of slices < original/2).
I posted this in the PR but I'll duplicate here:

Typically a control has 60 images from the same well, while a sample is a subset of the well area, so it may just have 5-12 images. So if I open th

[2022-04-08 07:29] jni commented on #4350
You're right that this is confusing, but in my opinion this is exactly correct behaviour... Perhaps something like an n-dimensional minimap might be the right approach here... (ie have some kind of indicator that there's more data in that bit of the slider...)

Makes sense!

[2022-04-08 10:15] joshmoore commented on #4358
i.e. return `None` and check for it, yes. (Possibly logging...)

🤷🏽. But I can play 🇬🇳🐷 if need be.

[2022-04-08 12:12] brisvag commented on #4350
This is my new favorite thing.

[2022-04-08 13:06] jni commented on #2692
I agree. Thank you @jaimergp @goanpeca for all your work on this! I know I was skeptical at various points about the conda-only bundle but some recent experiences with pip, together with your efforts, have made me a hardcore convert! :smiley:

[2022-04-08 13:06] #2692 closed, assigned to goanpeca

[2022-04-08 14:09] jni commented on #4371
@XareniGalindo it seems you are using the development version of the example but an older version of napari. You can look at the example for different versions of napari by clicking on the "tags" icon next to the path. This will let you choose different branches or tags. You'll get an address like this one:

https://github.com/napari/napari/blob/v0.4.15/examples/annotate_segmentation_with_text.py

[2022-04-08 14:10] aeisenbarth commented on #3523
This issue still persists and wasn't fully solved by PR #3560.

When context-clicking a layer, context menu items evaluate a condition which may check for example whether the layer's `ndim` is greater 2 (for "Make Projection"). The context available to that condition contains `"active_layer_ndim" = None`, because the layer data has `shape` but not `ndim`.

[2022-04-08 14:11] #4366 closed, assigned to nobody

[2022-04-08 14:13] jni commented on #3523
Thanks for re-upping @aeisenbarth! I'm hoping to finish #3715 in the coming days, which hopefully will put this to rest once and for all. :crossed_fingers:

[2022-04-09 14:41] psobolewskiPhD commented on #4360
Yes, I've definitely struggled with that a bit in Dark mode.
In light mode the Red highlight is also low contrast:
<img width="609" alt="image" src="https://user-images.githubusercontent.com/76622105/162578960-90f57edc-0721-4272-a7dc-4b22e2fc7ec8.png">

[2022-04-09 14:53] psobolewskiPhD commented on #4350
I read up on this and played with things a bit more. I tired 3D and 4D stacks (using `binary_blobs(..., n_dim)` and projections were always broken as described above. I never saw broadcasting and deleting the base layer always left a blank image.
I think that if I'm understanding right the broadcasting is how an array with one less dim is stretched to match another array. A projection is inherentl

[2022-04-10 00:33] jni opened #4374 "Consider making "reset view" center dims sliders too"
## 🚀 Feature

Based on the discussion in #4361, we should consider a user-friendly way to reset the view so that all layers are visible. In the case where layers don't have the same extent across non-displayed (slider) dims, we should try to find areas of overlap. If those don't exist, then we should choose the place with the most cross-layer overlap.

## Motivation

@psobolewskiPhD has pointed ou

[2022-04-10 00:49] jni commented on #4350
@psobolewskiPhD very nice investigation! I actually thought that the main reason for keepdims was our issues with transposing axes, and that the projections would work with other axes than axis=0. Given that it only works with axis=0, I do actually think that it's worth using keepdims=False, and cleaning the metadata. Our transforms have a `set_slice()` method that you could use to slice out the 0

[2022-04-11 05:49] jni commented on #4360
Yeah, I agree this is terrible, in fact I thought I'd raised an issue about it long ago but I can't find it. Thanks for raising @dstansby!

[2022-04-11 11:45] wahabk opened #4377 "RuntimeError: wrapped C/C++ object of type QWidget has been deleted"
## 🐛 Bug

Hello, thank you everyone napari is amazing. I have scoured the docs / previous issues but the most similar one seemed to be https://github.com/napari/magicgui/issues/28 which didnt fix my issue

I hope I am posting this in the right place. This seems to be an issue with qt deleting my previous widget in a for loop and me not being able to use add_dock_widget again

## To Reproduce

This

[2022-04-11 18:02] JoOkuma commented on #4274
I can implement non-interactive graph layer so I can move forward with the tracks layer rework with a similar API.

What are the appropriate next steps for that? Should I open a discussion to decide on the data format / graph library?

@jni @sofroniewn

[2022-04-11 20:17] melissawm commented on #3822
I believe this is done as now we do have a link to zulip in the Community page. Please reopen otherwise!

[2022-04-11 20:17] #3822 closed, assigned to nobody

[2022-04-11 22:40] Czaki commented on #4359
Could you provide your `typing_etensions` version, and could you check if error is solved if you update it to latest version?

[2022-04-11 22:43] Czaki commented on #4377
Did the error happens also in napari 0.4.15?

[2022-04-11 23:39] #4129 closed, assigned to nobody

[2022-04-11 23:53] neuromusic commented on #4358
🤣

[2022-04-12 01:48] jni commented on #2172
I've ticked magic naming as I don't think that needs a preference (others should feel free to dissent here, I don't feel strongly). Dask cache behaviour is still important, because even though it's much improved, users should still be able to deactivate it in cases where they want a computation to be re-run every time they slice or run a callback (as in the case of [napariboard](https://twitter.co

[2022-04-12 04:59] Czaki commented on #2172
PySide vs PyQt5 is really hard to set because it needs to be determined by the first import of any module that contains qt import.

But if there is the decision to implement it I think that this setting should be stored in a separate file (simplify parsing, reduce the number of imports required to parse). There should be also a fallback code if the import fails for any reason (shared settings betw

[2022-04-12 07:46] #4350 closed, assigned to nobody

[2022-04-12 12:47] wahabk commented on #4377
Hi thank you for your reply, I just tested this and unfortunately this error still occurs in 0.4.15

[2022-04-12 14:20] Czaki commented on #4377
In general there is a problem with removing and then creating a new viewer. The core of the problem are pending Qt events. Because you put only exception without stacktrace I'm not sure if I correctly understand the source of the problem. But if I good understand your problem I see three solutions:

1) Reuse napari. viewer could be stored in a global variable and reused,  Even if the viewer is clo

[2022-04-12 15:36] wahabk commented on #4377
Sorry for not including it in the start, here is the full stack trace

[code]

I tried all of your suggestions:

1. Reusing the viewer worked! Thank you so much. Just to document the solution: I started a viewer with `napari.Viewer(show=False)`, passed it to `detectTubes` as an argument and then used `viewer.show()` and it fixed my error
2. I tried to use `QCoreApplication.processEvents` before an

[2022-04-12 15:36] #4377 closed, assigned to nobody

[2022-04-12 15:53] Czaki commented on #4377
In the napari test, we observe that `processEvents` is not enough. We need to add `qtbot.wait(50)` if we do not know on which event we need to wait.

But as you publish full stacktrace this may not work. I think that in your case problem is magicgui widget that was cleaned after the first close of the viewer. I'm not familiar with using magicgui this way. Maybe @tlambert03 have better knowledge in

[2022-04-12 16:48] goanpeca commented on #2692
Happy to hear this @jni  😄

[2022-04-12 19:23] xwyan1230 opened #4380 "frozen when toggle on/off channel, tune opacity etc."
## 🐛 Bug

I'm not sure if this is my own problem. But it happens repeatedly. My napari could run well, I could change parameters by changing my code beforehand (python), but if I want to change anything manually after the napari window pop up (toggle on/off channel, change opacity, color etc.), there's a high chance that napari will froze and I have to force it to quit. I wonder if there's a syste

[2022-04-12 19:42] goanpeca commented on #2449
If we still want to have the theme selection look like the original UI designs, then no.

I think that is the missing piece.

[2022-04-12 21:07] joshmoore commented on #4358
@jni : possibly related to https://github.com/ome/napari-ome-zarr/issues/41#issuecomment-1097155814?

[2022-04-12 21:43] grlee77 opened #4382 "adding support for the zarr v3 spec"
## 🧰 Task

This issue outlines what will likely be needed on the napari side to support the upcoming zarr v3 spec. A primary difference introduced in v3 stores is that the data chunks and the corresponding metadata are stored in separate `data/root/` and `meta/root/` directory trees, respectively. Additionally the data chunks are stored in a nested file format rather than a flat file format by def

[2022-04-12 21:46] DragaDoncila commented on #4358
@jni I thought we decided we didn't want the dialog behaviour when calling `napari` from the command line? With #4347 this would now raise a `MultiplePluginError`.

~~Although I will say I just tried it and while the error is raised, `napari-ome-zarr` isn't listed as one of the available plugins so there is something fishy here. I'm taking a closer look at this today~~ 🕵️  This was a classic case

[2022-04-13 00:14] sofroniewn commented on #4274
yeah - that might be helpful. I'm not sure if this is the sort of thing that would need to go through a NAP (see #4299) but that process might help here.

I think it would be good to have a list of the different possible options, along with the pros/ cons of each and then if you have one your recommendation on which to pursue

[2022-04-13 13:02] jluethi opened #4384 "Color mapping on label images using color dictionaries displays wrong for some objects"
## 🐛 Bug

Assigning unique colors to labels via label_layer.color dictionary does not work as expected and shows the color of some objects in other objects as well.

I color-code a label image using a color dictionary (e.g. {1: [0.3, 0.3, 0.5, 1.0], 2: ...}). This mostly displays the correct colors for each label in the label image, but displays wrong colors for a handful of labels. I think this o

[2022-04-13 15:10] goanpeca opened #4385 "Conda workflow on windows is failing"
## 🐛 Bug

Error:
[code]
https://github.com/napari/napari/runs/6002914512?check_suite_focus=true

## To Reproduce

1. PRs opened are failing
2. See https://github.com/napari/napari/runs/6002914512?check_suite_focus=true

## Expected behavior

CI should run

[2022-04-13 15:48] Czaki commented on #3700
Maybe switching from custom html generation to `QtGui.QSyntaxHighlighter` may help to solve this problem?

Maybe this could be used as input: https://wiki.python.org/moin/PyQt/Python%20syntax%20highlighting

[2022-04-13 18:03] goanpeca commented on #4249
Correct, but we probably want something more generic that does not use the version itslef since the newer versions of napari will live inside this folder too.

[2022-04-13 18:17] goanpeca commented on #4227
I actually have done some work related to this, we called it layouts, and we can definitely generalize the way we rearrange things in napari :)

My only initial question is, do we want to be able to move everything around, or there are some specific locations we want to be more constrained about (default napari controls vs plugin controls etc...)

[2022-04-13 18:50] nclack commented on #3925
closed by #4086

[2022-04-13 18:50] #3925 closed, assigned to nobody

[2022-04-13 18:53] nclack commented on #3924
closed by #3906, #3860 and #3694

[2022-04-13 18:53] #3924 closed, assigned to nobody

[2022-04-13 18:53] nclack commented on #3685
all done!

[2022-04-13 18:53] #3685 closed, assigned to nobody

[2022-04-13 21:31] DragaDoncila commented on #4384
@jluethi I don't have anything helpful to suggest here, but, can you check whether in these situations the thumbnail looks correct? I wonder if this is another incarnation of #3174 - in your last screenshot it looks like the thumbnail *does* only have one red object but maybe that's not the case. Pinging @perlman who was looking into #3174

[2022-04-13 22:02] ppwadhwa commented on #2172
@tlambert03 @jni @sofroniewn
Based on this: https://github.com/napari/napari/pull/820#issuecomment-630494209, it looks like we may not the user to change the monitor DPI scaling.  Is that right?  Or does this DPI setting mean something different than changing `QApplication.setAttribute(Qt.AA_EnableHighDpiScaling)`?

[2022-04-14 00:16] goanpeca commented on #2172
@ppwadhwa we can allow the user to set a specific value for the scaling if needed :)

[2022-04-14 01:06] jni commented on #4374
@sofroniewn @tlambert03 I wonder what you both think of this? Would be good to close or have consensus on moving forward with it!

[2022-04-14 01:10] tlambert03 commented on #4374
Fine with me to explore.  Seems like it could get into magic territory somewhat easily, but i see the value if it works well

[2022-04-14 01:12] jni opened #4388 "Shift-drag or Alt-drag should always open plugin selection dialog"
## 🚀 Feature

With #4347 (and maybe previous PRs), whenever multiple plugins can open a particular file, we get a plugin selection dialog when dragging and dropping a file onto the viewer. This dialog allows users to save the file association to preferences. At that point, if the user wants to use a different plugin under some circumstances, they have to wipe the preference. (I think?) It would be

[2022-04-14 01:22] jni opened #4389 "Consider special-casing built-ins when deciding on reader plugins"
## 🚀 Feature

We decided to do away with plugin cascading behaviour with npe2 reader plugins (ie once we decide which plugin will open the file, we use that plugin and raise if it fails, rather than trying the next plugin if it fails). We also decided that ambiguous plugin choices will open a file dialog when dragging-and-dropping on the GUI, but will raise when using the command-line.

This had t

[2022-04-14 05:06] DragaDoncila opened #4390 "Complete remaining feature work for removing plugin call order preference"
## 🧰 Task
As originally proposed in #4000, we would like to remove the plugin call order preference left over from the original `napari-plugin-engine`.

In order to remove this behavior we must make sure that GUI users and command line users both have reasonable ability to discern when multiple plugins are available for their file, what those plugins are and how they can save preferences for commo

[2022-04-14 05:11] DragaDoncila commented on #4389
I'm actually in support of this, I think. While it's a little bit magic, I think it makes sense that if I've chosen to install `my-specific-tiff-reader`, I want that to be used over `builtins`. I think this would work by just using the plugin, and saving no association. If it fails, we don't fall back to `builtins`, we surface the error and user must either associate `builtins`, or pass in `builti

[2022-04-14 06:36] Raphael-Gronauer commented on #4359
my version of typing_extensions is already 4.1.1

[2022-04-14 07:01] Czaki commented on #4359
`pip install --force-reinstall typing-extensions`

I even check typing extension code and see no other option that failed installation

[2022-04-14 07:30] jluethi commented on #4384
Hey @DragaDoncila

Hmm, hard to say. We'd need to find an example where this issue occurs on a relatively small image. With my image, the thumbnail doesn't show any red, but it's also heavily downsampled (because the full image is something like 2560x2160), so it could just be the downsampling...

<img width="543" alt="Screenshot 2022-04-14 at 09 26 12" src="https://user-images.githubusercontent.c

[2022-04-14 08:58] jni commented on #4384
I'm hoping that we can fix this as part of #3308, though we haven't yet looked at manual color settings.

[2022-04-14 09:04] #4385 closed, assigned to jaimergp, goanpeca

[2022-04-14 13:17] Raphael-Gronauer commented on #4359
re-installation of typing-extensions solved the problem,
thanks

[2022-04-14 13:56] Czaki commented on #4359
Could you close this issue?

[2022-04-14 16:37] perlman commented on #4384
Thank you for the data & code.

As to the specific issue here with the layer colormap different from the picker, I *think* this is being caused by some floating point precision oddities. (The relevant code is [here](https://github.com/napari/napari/blob/79ef36175b94bdeddf1d5ef4db35d8b160be8c42/napari/layers/labels/labels.py#L971-L980), mostly as a placeholder for myself to step through later.)

@j

[2022-04-15 02:29] #3540 closed, assigned to nobody

[2022-04-15 02:32] DragaDoncila opened #4391 "Decide how to update file opening behavior to support plugins that provide multiple readers"
## 🧰 Task

Currently (actually after #4347) the new `viewer.open` API, reader dialog and preference saving logic don't support plugins that provide multiple reader contributions. We therefore need to update this functionality to provide users with the ability to select individual readers by command name (in the API) or reader title (in the GUI).

There is some additional complexity around this, wh

[2022-04-15 08:34] #4359 closed, assigned to nobody

[2022-04-15 19:06] ppwadhwa commented on #2172
references for DPI scaling:
https://github.com/spyder-ide/spyder/blob/01d9195b1a33d02f42faf3c8e0047412966a24ce/spyder/plugins/application/confpage.py#L170

https://github.com/spyder-ide/spyder/blob/01d9195b1a33d02f42faf3c8e0047412966a24ce/spyder/plugins/application/confpage.py#L246

[2022-04-15 20:58] JoOkuma commented on #4274
I started working on a document for us to decide on the graph data type, please leave your comments.

https://hackmd.io/tiltu-J8QBOj8TwnlkMgAQ

cc @jni @jwindhager @quantumjot

[2022-04-15 23:12] jwindhager commented on #4274
Thanks for tagging me @JoOkuma

I planned to start working on a graph layer end of June - won't be sad if others have implemented it by then :-)

After our initial meeting with @jni @DragaDoncila I had the following corner stones in mind:
- **Graph storage**: for efficiency (i.e., not networkx) and staying pythonic (i.e., no igraph), I was thinking about storing the graphs in numpy arrays/pandas D

[2022-04-16 05:28] jni commented on #4274
I want to add an additional option for the graph data structure, which is the [trackmate graph](https://github.com/mastodon-sc/mastodon/blob/master/doc/trackmate-graph.pdf), implemented in java [here](https://github.com/mastodon-sc/mastodon-graph) (I think that's the right implementation link). @DragaDoncila thinks that it wouldn't be too hard to implement in Python + numba. To me it feels like a

[2022-04-16 05:38] jni commented on #4274
I've created https://github.com/napari/napari-graph where we can iterate quickly on a Graph data object (more quickly than we could do in this repo). Once we have an object that supports the operations we want at some reasonable speed, I think it would be reasonably straightforward both to make a Graph layer and to make Tracks use the Graph object internally also.

[2022-04-16 06:31] jwindhager commented on #4274
I fully agree that napari shouldn't implement or even come up with new automatic graph layouts. But since we anyway need a user interface for mapping node attributes to spatial positions (if only to support direct loading graph file formats), why not ship napari with a single "data-driven" layout (thin "Proxy" class mapping node coordinate attributes to napari dimensions) and let the addition of f

[2022-04-16 06:53] jni commented on #4274
I disagree that we need such a thing. napari is an *image* viewer, and everything else is in support of that primary goal. We have a points layer not because we want to be a plotting library, but because it is useful to annotate images with points. We are not and will never be (as far as I'm concerned) a generic graph display library. Loading a graph file that does not already contain spatial posi

[2022-04-16 07:16] jwindhager commented on #4274
Alright, fair point, no graph layouts then. Just noting here that this means that potential graph reader/writer plugins will have to deal with this issue, either through a GUI (note: separate GUIs for each plugin) or by imposing additional attribute naming constraints on the graph files (as there doesn't seem to be a standard naming scheme for spatial coordinate attributes).

[2022-04-16 14:29] JoOkuma commented on #4274
I have the bandwidth to work on this intermittently.

We could start with the graph data structure and the interface with network x, and implement the algorithms as we go.

I'm in favor of graph with nodes indexed with a integer dictionary and edges stored as lists for each node.

We can list this and other data structure options on the hackmd document. And this doesn't need to be set in stone, we

[2022-04-16 14:32] JoOkuma commented on #4274
I agree with @jwindhager that we would need some naming conventions for spatial coordinates on features, I much rather have this than the column order with Tracks and we're already using pandas anyway.

[2022-04-17 13:06] jni commented on #4274
@JoOkuma

*which* graph data structure?

But yes, I agree with creating an API shell that mimics networkx, regardless of our internal data structure. Indeed, perhaps we can do several "views" of our internal data, NGraph.nx, NGraph.csr_array, etc.

[2022-04-18 00:45] #3374 closed, assigned to nobody

[2022-04-18 12:45] JoOkuma commented on #4274
@jni

I'm not sure which one is best yet. We could choose based on the "Desirable Properties" section of the document, I added a new item to it.

I would start with the goal of having a graph layer that supports an undirected graph with no parallel edges. Later, we could add the option to scale the edge weight given a feature. I don't what's the expected behavior for the nodes, should they be scal

[2022-04-18 18:27] goanpeca opened #4396 "Find how to lock .condarc file for bundle app"
## 🧰 Task

With the bundle updates using conda/mamba, we need to ensure that condarc configuration from user space (`/Users/someuser/.condarc`) does not interfere with the conda/mamba that exists inside the bundled app installation.

[2022-04-18 18:45] goanpeca opened #4397 "Add proxy/ssl configuration and unify code making url requests"
## 🚀 Feature

Currently we have some code that pings the web for information, the plugin dialog, the updates dialog, and others may come in the future. It would be nice to unify these calls under some "download manager" so we can define any additional configuration (proxy settings / ssl verficiation) in a single place.

## Motivation

Conda configuration exposes something like:

[code]

https://do

[2022-04-18 19:57] jaimergp commented on #4396
xref https://github.com/conda/conda/issues/11377

[2022-04-18 23:17] nclack commented on #4337
@chili-chiu I'm having trouble reproducing this one. Does this still happen for you?

[2022-04-18 23:27] nclack commented on #4337
@chili-chiu I'm going to go ahead and close this. Please reopen if you see it happen again!

[2022-04-18 23:27] #4337 closed, assigned to nobody

[2022-04-18 23:37] andy-sweet commented on #4213
Just as a reference, this bug should be closed when we complete the **Use ColorEncoding for Points** task in the properties project board: https://github.com/napari/napari/projects/11

[2022-04-18 23:40] DragaDoncila commented on #3923
Completely agree we should add some basic checks for RGB data and provide a more reasonable error message. In the interest of helping with our bug triage process, I've removed the `bug` label and added the `feature` and `good first issue` labels so other contributors know it's up for grabs!

@stefanv please ping me if you think that's unreasonable or there's another reason you'd like to keep the `

[2022-04-19 00:37] github-actions[bot] opened #4398 "[test-bot] pip install --pre is failing"
The --pre Test workflow failed on 2022-04-20 00:46 UTC

The most recent failing test was on macos-latest py3.8 pyside
with commit: b6da654f14d58d4fe92bdf3420e0b9ab4268e690

Full run: https://github.com//actions/runs/2192885377

(This post will be updated if another test fails, as long as this issue remains open.)

[2022-04-19 05:37] jni commented on #4274
@JoOkuma it's unclear to me above whether you've read my comments about the trackmate graph, and the trackmate graph "white paper" itself?

[2022-04-19 06:42] jni opened #4399 "Screenshot test failing on main (due to vispy 0.10?)"
## 🐛 Bug

The test `napari/_tests/test_with_screenshot.py:test_z_order_image_points_after_ndisplay` is failing on main:

https://github.com/napari/napari/runs/6069251907?check_suite_focus=true#step:7:294

I suspect that this is due to the VisPy 0.10 release, which happened in the last 24h or so.

[2022-04-19 09:04] psobolewskiPhD commented on #4399
I can confirm the change in behavior locally with vispy 0.10.
When entering 3D mode, the point "disappears". Going back to 2D brings it back.

[2022-04-19 12:25] jwindhager commented on #4274
Just want to say that IMHO the trackmate graph structure (linked edge lists, essentially) looks very suitable for our purposes :+1: I propose to store node/edge attributes outside of that data structure, though, and link nodes/edges to node attributes/edge attributes with an ID - this way we decouple the tabular data structures from the graph topology, which makes it easier to change them in the f

[2022-04-19 12:31] jwindhager commented on #4274
Just my 2C: considering that we focus on Euclidean graphs, which are often some sort of kNN-graphs, I think that support for directed graphs would be important. I'd agree with parallel edges (i.e., multigraphs) not being too important at this point, but with the trackmate graph structure proposed by @jni they come for free :-)

[2022-04-19 12:38] JoOkuma commented on #4274
@jni Sorry, I did miss it.

I agree with storing vertices in an array and marking removed elements, this could speed things up when iterating every node of the graph in any order. We could use a node data class and not some fixed memory space so we could store an arbitrary number of features. Or it could even be the case to store each feature as its own array and use the same index and delete poli

[2022-04-19 12:51] JoOkuma commented on #4274
As I think more about it, storing vertices' coordinates and features in arrays and marking deleted regions could be very interesting, we could implement a shader to ignore these nodes, so we don't need to preprocess it to send it to vispy.

Maybe there's something similar that could be done with edges. I need to take a look at how the vispy graph visualizations are implemented.

[2022-04-19 19:42] psobolewskiPhD commented on #4374
So I'm actually iffy on this, largely because of the difference between an *on-open* or *on-create* behavior and a *on-click* behavior.

I find it frustrating/confusing when some command/process seemingly fails, but with no feedback. In this context, changing an *on-click* action the user needs to already be aware to use to possibly fix this doesn't really change much, in my opinion. For me going

[2022-04-20 06:30] jni commented on #4399
Well, that's no good! LOL CC @brisvag

[2022-04-20 07:00] brisvag commented on #4399
Took a very quick look: the behaviour is intended, and our test is wrong :P It happens because now `Volume` sets its depth correctly, and in napari even 2D images become volumes of thickness `1 px` when moving to 3D.

[2022-04-20 10:07] #4399 closed, assigned to nobody

[2022-04-20 10:11] jni commented on #4374
LOL Ok, fair points. Well, in that case, I'm going to close this and suggest that napari/npe2#153 is the right solution for you, @psobolewskiPhD, and if your slider reset plugin ends up being the most popular plugin on the hub, then we'll build the behaviour into main! 😂 Thanks for your patience!

[2022-04-20 10:11] #4374 closed, assigned to nobody

[2022-04-20 12:19] Tomaubier commented on #3880
Do you have any updates on this? Best regards

[2022-04-20 12:21] tlambert03 commented on #3880
nope, nothing recently, sorry :/

[2022-04-20 14:36] brisvag opened #4402 "2D images "swallow" points on the same plane if viewed in 3D"
## 🐛 Bug

With vispy 0.10, `VolumeVisual` is correctly setting fragment depth (instead of leaving it unset). This, combined with the fact that we use a `Volume` of thickness `1 px` to display `Image`s in 3D, caused #4399. This is because a point is technically *inside* the 1 pixel of the Volume, rather than "on" it, like we would expect.

This is a problem because People might want to look at 2D d

[2022-04-21 01:29] sofroniewn commented on #4398
This was closed by #4401

[2022-04-21 01:29] #4398 closed, assigned to nobody

[2022-04-21 15:44] tlambert03 opened #4405 "npe2 plugins need to be added to `napari --info`"
## 🐛 Bug
currently, `napari --info` doesn't include npe2 plugins

[2022-04-21 19:24] truatpasteurdotfr opened #4406 "permission changed required for singularity build"
## 🐛 Bug
https://github.com/napari/napari/runs/6105312118?check_suite_focus=true
The default permission for the docker artefact is private, the singularity builds needs to have access to the docker image produced.

## To Reproduce

CI building.

## Expected behavior

singularity container produced.

## Additional context

You just need to toggle artefact status from private to public. :P

[2022-04-22 04:20] #1004 closed, assigned to nobody

[2022-04-22 07:52] jni commented on #4274
This is true in general, but not true in two very important graphs: tracks and skeletons. In both of these, tracks and paths usually only have one neighbour and depending on how the graph is built, they could very much be immediately adjacent. They would therefore yield significant performance improvements when iterating compared to a linked list. At any rate, I suspect that is the first thing the

[2022-04-22 07:55] jni commented on #4402
Thanks @brisvag for investigating and writing this up!

I agree here. The issue is that the image in this case really should have 0 thickness since it is 2D.

[2022-04-22 08:01] psobolewskiPhD commented on #4402
Yeah, if there are only 2 axes then there shouldn't be a thickness—should the 3D viewer even work in that case? Maybe just grey-out the button with a hover message?
If there is a singleton 3rd axis, say z, then I can see rendering the voxels, plus in theory there could be a scale associated with that 3rd axis...

[2022-04-22 08:05] jni commented on #4402
We still need to display a 2D image in 3D in the case of mixed-dimensionality data.

[2022-04-22 10:26] lucyleeow opened #4409 "DOC ParserError in Using the image layer > A simple example"
## 📚 Documentation

The page [Using the image layer > A simple example](https://napari.org/howtos/layers/image.html#a-simple-example)
[code]
shows the following error:
[code]
Tested locally using dev version of napari and get same error.

[2022-04-22 12:13] kapoorlab commented on #4091
I have exactly the same problem, I get the same outputs till I reached the part about the LD_LIBRARY_PATH. It is empty to start with and when I do `$ LD_LIBRARY_PATH="" napari` I get `ImportError: /home/ubuntu/anaconda3/envs/naparienv/lib/python3.9/site-packages/PyQt5/QtCore.abi3.so: undefined symbol: _ZdlPvm, version Qt_5`

Running the command has the same error as above `(naparienv) ubuntu@r2-30

[2022-04-22 12:25] Czaki commented on #4091
@kapoorlab What show output of `ldd` on `QtCore.abi3.so`?

[2022-04-22 12:32] kapoorlab commented on #4091
`(naparienv) ubuntu@r2-30-flex-de1:~$ ldd /home/ubuntu/anaconda3/envs/naparienv/lib/python3.9/site-packages/PyQt5/QtCore.abi3.so

        linux-vdso.so.1 (0x00007ffcee2de000)
        libQt5Core.so.5 => /lib/x86_64-linux-gnu/libQt5Core.so.5 (0x00007faf7dda1000)
        libstdc++.so.6 => /lib/x86_64-linux-gnu/libstdc++.so.6 (0x00007faf7db88000)
        libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0

[2022-04-22 13:08] Czaki commented on #4091
all of these environment variables are empty?

How did you install PyQt5?

[2022-04-22 13:13] kapoorlab commented on #4091
Yeah all these variables are empty and PyQt5 was installed via pip and the version I have is 5.15.6.

[2022-04-22 13:18] Czaki commented on #4091
try purge PyQt and install it again

[2022-04-22 13:28] kapoorlab commented on #4091
uninstalled it and then installed again via pip, same error persists.

[2022-04-22 13:35] Czaki commented on #4091
use `LD_DEBUG=all ldd /home/ubuntu/anaconda3/envs/naparienv/lib/python3.9/site-packages/PyQt5/QtCore.abi3.so | less` and on begin you should find line like
[code]

followed by the line containing the search path, like:

[code]

Did your search path start with the path to your python location?

[2022-04-22 13:39] kapoorlab commented on #4091
I got this output:

`(base) ubuntu@r2-30-flex-de1:~$ LD_DEBUG=all ldd /home/ubuntu/anaconda3/envs/naparienv/lib/python3.9/site-packages/PyQt5/QtCore.abi3.so | less

     58896:     symbol=__vdso_clock_gettime;  lookup in file=linux-vdso.so.1 [0]
     58896:     binding file linux-vdso.so.1 [0] to linux-vdso.so.1 [0]: normal symbol `__vdso_clock_gettime' [LINUX_2.6]
     58896:     symbol=__vdso_ge

[2022-04-22 13:41] kapoorlab commented on #4091
It could be the python path as it is not showing my the python in the environment:

`(base) ubuntu@r2-30-flex-de1:~$ whereis python
python: /usr/bin/python3.9 /usr/bin/python3.9-config /usr/lib/python3.9 /usr/lib/python2.7 /usr/lib/python3.10 /etc/python3.9 /usr/local/lib/python3.9 /usr/include/python3.9 /home/ubuntu/anaconda3/bin/python3.9 /home/ubuntu/anaconda3/bin/python /home/ubuntu/anaconda3/

[2022-04-22 13:57] Czaki commented on #4091
you show only begin of less output. You could scroll down. I suggest using less because the command is really verbose.
But all critical information should be in file `out.txt`:

`LD_DEBUG=all ldd /home/ubuntu/anaconda3/envs/naparienv/lib/python3.9/site-packages/PyQt5/QtCore.abi3.so > out.txt`

[2022-04-22 13:58] kapoorlab commented on #4091
Sorry I realised that and updated my comment above with the search output.

[2022-04-22 14:01] Czaki commented on #4091
It looks good.

`/home/ubuntu/anaconda3/envs/naparienv/lib/python3.9/site-packages/PyQt5/Qt5/lib/libQt5Core.so.5` is present on drive?

[2022-04-22 14:12] kapoorlab commented on #4091
No I only see this in the folder

`(base) ubuntu@r2-30-flex-de1:~/anaconda3/envs/naparienv/lib/python3.9/site-packages/PyQt5/Qt5$ ls
qsci`

How could this have happened?

[2022-04-22 14:20] Czaki commented on #4091
in one of the releases `PyQt5` was split on `PyQt5` and `PyQt5-Qt5` Unfortunately pip does not handle updates from the previous package version.
You need to uninstall `PyQt5` and `PyQt5-Qt5` (and maybe `PyQt5-sip`). Thien install `PyQt5`.

[2022-04-22 14:23] kapoorlab commented on #4091
Perfect! That did it. Many thanks for your time @Czaki

[2022-04-22 17:22] jwindhager commented on #4274
(just for clarity, I didn't suggest to NOT use arrays in the implementation)

[2022-04-22 18:52] melissawm commented on #4409
It looks like it's complaining about the empty alt_text field - maybe either leaving it empty (`alt_text="" `) or including the alt text for this image should fix it.

[2022-04-22 20:03] JoOkuma commented on #4274
@jwindhager I thought you meant a simple linked list.

I have a very experimental implementation at https://github.com/napari/napari-graph/pull/1.
The trackmate-like structure (`UndirectedGraphBufferLLArray`) is the fastest so far. Even though there are a few operations to be implemented I think it might be the fastest data structure, despite requiring resizing the arrays once in a while.

I had f

[2022-04-23 00:36] github-actions[bot] opened #4410 "tifffile release breaks imageio plugin, which breaks our tests"
The --pre Test workflow failed on 2022-04-23 00:51 UTC

The most recent failing test was on macos-latest py3.8 pyside
with commit: 68d2c1b638c5481fde4364acb4abc4a8a4ce7c00

Full run: https://github.com//actions/runs/2210656107

(This post will be updated if another test fails, as long as this issue remains open.)

[2022-04-23 01:00] jni commented on #4274
:rocket:

[2022-04-23 04:43] jni commented on #4410
Does anyone know why the links are always 404 here?

[2022-04-23 04:49] jni commented on #4410
At any rate, here's the actual failure:

https://github.com/napari/napari/runs/6136706373?check_suite_focus=true#step:7:300

[code]

[code]

It seems to be due to the release of [tifffile 2022.4.22](https://pypi.org/project/tifffile/2022.4.22/):

Dunno what the best fix is... Pin tifffile to allow imageio the chance to catch up?

[2022-04-23 05:00] cgohlke commented on #4410
See https://github.com/imageio/imageio/pull/794

[2022-04-23 05:05] jni commented on #4410
:pray: Thank you @cgohlke! Hopefully a new imageio release is rapidly incoming!

[2022-04-23 05:14] cgohlke commented on #4410
The next release should be [on Monday](https://github.com/imageio/imageio/blob/22ab97ea0facccfb1c888fb1a8fafded1a0e0f78/.github/workflows/cd.yml#L21).

[2022-04-23 08:46] kolibril13 opened #4412 "Public API to hide the dockLayer Side panel"
As discussed in https://github.com/napari/napari/pull/3947, it would be amazing to hide the side panel in napari programmatically.

This is already possible by accessing the private API like this:
[code]
It would more convenient though to create a new public API, e.g. as @jni suggested:
[code]

Why this would be nice to have:
One could then use `viewer.window.resize(600, 600)` together with `viewe

[2022-04-23 12:23] github-actions[bot] opened #4413 "[test-bot] pip install --pre is failing"
The --pre Test workflow failed on 2022-04-25 00:54 UTC

The most recent failing test was on macos-latest py3.8 pyqt
with commit: 68d2c1b638c5481fde4364acb4abc4a8a4ce7c00

Full run: https://github.com//actions/runs/2217288692

(This post will be updated if another test fails, as long as this issue remains open.)

[2022-04-24 01:34] Czaki commented on #4413
Breaking change in tifffile 2022.4.22

[2022-04-24 01:39] jni commented on #4413
Yup, see #4410. Should be resolved by upcoming imageio release.

[2022-04-24 01:42] Czaki commented on #4413
I was caught by the renaming of the issue and do not look deeper.

[2022-04-24 12:32] haesleinhuepf opened #4415 "3D rendering broken with vispy 0.10.0"
## 🐛 Bug

We had repeatedly bug reports from napari users when switching to 3D view and when label images were present. The label images are not shown and instead we see an "Shader compilation error in GL_FRAGMENT_SHADER" error (details below). It obviously happened mostly in freshly installed environments. Thus, I played with different vispy versions. The error is specific to vispy 0.10.0 .

**No

[2022-04-25 07:17] jaimergp commented on #1598
I took a look at this and how to potentially implement it. Since we are using tox, the `tox-conda` plugin looked like the obvious choice, but right now it's either all-in or nothing - you can't select which tox entries use conda. If this issue (https://github.com/tox-dev/tox-conda/issues/36) gets solved, then we could add a new entry to `tox.ini`.

The other option is to turn all tox envs into con

[2022-04-25 11:56] Czaki commented on #4413
Solved, could be close.

[2022-04-25 11:56] Czaki commented on #4410
Solved, could be close.

[2022-04-25 12:48] #4410 closed, assigned to nobody

[2022-04-25 12:49] #4413 closed, assigned to nobody

[2022-04-25 13:05] jni commented on #1598
I think options 1 and 2 would be fine, outside the tox workflow would add a bit too much complexity I think.

[2022-04-25 13:58] brisvag commented on #1710
Now that #4368 is merged, this should be easier to solve by simply lowering the minimum size for the layer controls widget. Not sure if there is design discussion to be had around this though :)

[2022-04-25 14:01] brisvag commented on #3620
With #4368, the panel is now adjustable; closing this!

[2022-04-25 14:01] #3620 closed, assigned to nobody

[2022-04-25 14:02] brisvag commented on #2470
Closed by #4368 :)

[2022-04-25 14:02] #2470 closed, assigned to ppwadhwa

[2022-04-25 14:05] brisvag commented on #2337
@ianhi is this solved after #4368?

[2022-04-25 23:52] #4409 closed, assigned to nobody

[2022-04-26 01:33] hgrecco commented on #4345
@jni this is a reasonable proposal. I still think that it would be nice to provide a more native way to display alternative visualizations, but this can come at a later stage. That is what I would include in Napari, while allowing the rest to leave outside.

[2022-04-26 03:07] sofroniewn commented on #4415
@brisvag @jni I believe are aware of this - see #4401. I think it will be fixed on the next napari release?

[2022-04-26 03:08] #1190 closed, assigned to nobody

[2022-04-26 06:44] brisvag commented on #4415
Yes, it's fixed!

[2022-04-26 07:40] jni commented on #4415
Having said this, it would be good to update conda-forge to avoid installing incompatible things by default. I've now done this at:

https://github.com/conda-forge/napari-feedstock/pull/40

Once that build passes and gets merged, at least `conda install -c conda-forge napari` should do the right thing.

On pip, that's harder. Maybe @Carreau or @goanpeca have ideas? Can we make a release 0.4.15post

[2022-04-26 08:02] haesleinhuepf commented on #4415
Thanks all for the light speed response! I was suspecting this pin also in the napari repo is the right solution. Do you have good resources (tutorials, best-practices) for similar scenarios? We (CC @zoccoler ) were wondering what / how to pin, e.g. in devbio-napari which aims at giving end-users an easy-to-install toolbox that "always" installs reproducibility, while not blocking recent developme

[2022-04-26 09:50] brisvag opened #4419 "Feature proposal: *spaces*"
## 🚀 Feature

### The problem
- Often datasets are composed of many different images that do not share a coordinate space (i.e: no reason/way to spatially or temporally relate them along a dimension); here I'm calling these separate world "*spaces*".
- One often wants to have access to all the *spaces* without creating/deleting layers every time (and reading from disk every time)
- It's often usef

[2022-04-26 09:54] cnstt opened #4420 "Insert a new layer covers all the others, no matter where it is inserted"
## 🐛 Bug

Insert a new layer covers all the others, no matter where it is inserted.

## To Reproduce

Steps to reproduce the behavior:

1. Insert a new layer at a given index, see that it covers all other layers

`viewer.layers.insert(insert_index, denoised_im)`

And then I need to insert a dummy layer and remove it again to make this bug disappear.
[code]

## Expected behavior

The insert method

[2022-04-26 10:07] cnstt opened #4421 "Move layer triggers weird bug in viewer"
## 🐛 Bug

When I want to move a layer, a strange bug is happening in the viewer. I don't know if it's related to my environment, if I am doing something wrong. But here is what happens: when I move a layer in the viewer, I get this error:

[code]
In addition, there is the same error as #4420: the layer remains in the foreground, even if it has been moved from the last layer to a lower layer.

## T

[2022-04-26 10:10] cnstt commented on #4344
I have the same issue, when adding a Points layer I get the following warning:

`/usr/lib64/python3.10/site-packages/numpy/core/numeric.py:2446: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison!
`

[2022-04-26 10:19] cnstt commented on #4412
I have exactly the same request (this command is needed for plugins) and I currently get this warning each time I use the private API:

`FutureWarning: Public access to Window.qt_viewer is deprecated and will be removed in
v0.5.0. It is considered an "implementation detail" of the napari
application, not part of the napari viewer model. If your use case
requires access to qt_viewer, please open an

[2022-04-26 10:38] jni commented on #4415
@haesleinhuepf the truth is that we at napari should be more aggressive with our pinning, certainly in the bundle, and possibly in our releases. Plugins should *not* pin napari dependencies in general, but as you have discovered, you might have to resort to such things in specific situations where we haven't done a good job. 😬

As to your more general question about best practices, I think that is

[2022-04-26 10:59] brisvag commented on #4415
That would be great, but how would you go about testing for that? Autogenerate a matrix with every combination of releases of all the dependencies? It seems impossible!

[2022-04-26 11:52] brisvag commented on #4421
Sounds annoying, thanks for reporting! What happens if you do this from the ipython console?:

[code]

For me, this works fine. Can you find an isolated piece of code that you can share and reproduces your issue?

[2022-04-26 11:57] cnstt commented on #4421
This works fine... I guess that issue has probably to do with my environment/plugin. I will try to investigate further and give you my feedback.

[2022-04-26 12:27] cnstt commented on #4421
I am using the`viewer.layers.events.inserted` event to trigger a move inside the callback method (a move on the just inserted layer).
I think that this is causing the issue, but I need to figure out a way for it to work: maybe trigger another function after the callback that makes the move, because as of now is seems that the inserted layer is "really" inserted only after the callback function has

[2022-04-26 12:41] brisvag commented on #4421
Yes, this sounds familiar... I had a similar issue in the past, I think.

... Found it, #3337. Not sure if it's related, but it might be.

I was able to reproduce *some kind of* error; it does not seem to be exactly the same as your message, however. Try this:

[code]

maybe the event wizards @Czaki and @tlambert03 have some ideas :)

[2022-04-26 12:46] cnstt commented on #4421
Thanks a lot for your help, and for pointing me to similar issues :)

The error I can trigger with your code is slightly different than the one I posted originally, but they seem close to me.

[2022-04-26 13:05] Czaki commented on #4421
Ok. I think that the source of problems is that `connect()`inserts the connected function in the first position so your functions are called before all napari internal hooks. Then You modify the state of the layer list and all other callbacks are triggered with the wrong state.

Maybe simplest solution could be use `position` keyword argument, like this: `v.layers.events.inserted.connect(move, pos

[2022-04-26 13:12] cnstt commented on #4421
Thanks a lot @Czaki for your reply :pray:

What does the position keyword changes here exactly?

In my case the move (reordering of layers) could happen after, that's not a big issue. I just don't want it to be too visible for the user and I don't want the user to mess around before it has been moved. But right after the callback would be fine!

[2022-04-26 13:18] Czaki commented on #4421
Default value for `position` is `"first"`. So added callback is executed before earlier added.
Changing to `"last"` make callback called after all earlier added callbacks.

The problem could happen, if someone added next callback on the end of callback list.

So if you set short time in `Timer` this should do job for you. Feel free to ask questions if documentation is not clear for you or you do n

[2022-04-26 13:25] cnstt commented on #4421
With `position="last"` it works now ! I spent 1 day trying to figure out how it works, and it finally works now! Thanks a lot!
I must admit I don't really understand the magic behind the position keyword, is it something like : "the callback function that is added is executed "after" the finishing of the inserting layer process?
Anyway it works now, maybe it would be great to add this "position" a

[2022-04-26 13:37] Czaki commented on #4421
Here is the documentation: https://napari.org/api/napari.utils.events.EventEmitter.html#napari.utils.events.EventEmitter.connect

But it may not be clear where it is for someone who does not know the napari code.

A little more explanation. In napari, callback functions are stored on a list (you could connect multiple functions to one event) and executed in order from this list.  So connect effect

[2022-04-26 13:40] cnstt commented on #4421
Your explanation is very clear, thank you! I just add only one callback function, so it should work fine for me :)
Should I close the issue?

[2022-04-26 13:44] Czaki opened #4423 "Evented containers documentation does not contain events names."
## 📚 Documentation

When checking documentation I found that list of Events of `EventedList` contains a signature but does not contain the name of events:

![Zrzut ekranu z 2022-04-26 15-38-53](https://user-images.githubusercontent.com/3826210/165312872-46dbd09e-f4a6-411b-9ba4-e3aec6da1d77.png)

https://napari.org/api/napari.utils.events.EventedList.html#napari.utils.events.EventedList

And Evente

[2022-04-26 13:49] brisvag commented on #4421
Thanks @Czaki, I also didn't know of the `position` keyword!

Actually, before we close: should we consider defaulting to `last` for this kind of callback (`inserted` rather than `insert`)? I think @cnstt's assumption that this callback should fire *after* the viewer reaches a consistent state is very reasonable.

[2022-04-26 14:04] Czaki opened #4425 "Modification of evented containers in function connected to its events is not safe"
## 🐛 Bug

When modify Evented container inside function connected to to this container new events are processed immediately, and then are processed events from original event.

This may end with inconsistent state. Especially dangerous where more than one such callback is connected to given container (for example layer list) from different plugins.

## To Reproduce

See issue #4421

## Expected be

[2022-04-26 14:08] Czaki commented on #4421
I open the #4425 issue for this. Even changing the default position to `"last"` is not solving this problem. Only lower probability of meeting such error. So anyone who could meet it may have more problems understanding what happened.

[2022-04-26 14:34] tlambert03 commented on #4421
Fwiw, I've always disliked the position argument in general.  I don't include it in psygnal, and I think that, internally, napari shouldn't care _what_ has been connected or in what order.  So @Czaki #4425 seems to be the more important issue here.  (That is, it's up to us to make sure that the event is only emitted after all internal state has stabilized)

[2022-04-26 15:08] ianhi commented on #2337
@brisvag it is now user-fixable in that I can drag it to be larger so the text doesn't get cut off, but it is still cut off by default when I create a label layer.
![Peek 2022-04-26 11-07](https://user-images.githubusercontent.com/10111092/165332274-e21a64c1-2bbb-4f34-a3e7-5bc01052d802.gif)

[2022-04-26 15:24] cnstt opened #4426 "Layerlist not updating, need to drag a layer to make it refresh!"
## 🐛 Bug

Layerlist not updating, need to drag a layer in the list to make it refresh!

## To Reproduce

Steps to reproduce the behavior:

Complicated as this is a special environment, inside a plugin. When I activate the widget for the first time, the generated layers appear correctly. After the deactivation of the widget (and the deletion of those layers), the reactivation is buggy as the layerl

[2022-04-26 15:28] cnstt commented on #4426
A related bug, that might have triggered it is the following issue: despite having deleted 2 layers (the same that are buggy in the layerlist when reactivating the widget), they are still visible but "frozen" (they don't move around and aren't displayed in the layerlist)
EDIT: even when adding layers when the widget hasn't been reactivated, they doesn't display in the layerlist until I drag around

[2022-04-26 15:29] brisvag commented on #2337
Uhm... I think we might be missing some setting/detection of fonts size. It's probably the same issue that caused [this difference between my viewer and @alisterburt's](https://github.com/napari/napari/pull/4195#issuecomment-1108413230).

[2022-04-26 15:41] cnstt commented on #4426
EDIT: I have found the issue: instead of just doing disconnect(), I need to do disconnect(callback_I_added_in_the_widget). Is this an intended behavior?

[2022-04-26 16:48] Czaki opened #4427 "Plugin update in bundle does not work"
## 🐛 Bug

To update the plugin I need to uninstall it and then install it again. Clicking update trigger a processing event but ends without a result

![Zrzut ekranu z 2022-04-26 18-44-25](https://user-images.githubusercontent.com/3826210/165351187-700dfbce-e556-48e2-9750-50b835b7a2d5.png)

## To Reproduce

Steps to reproduce the behavior:

1. install bundled (new with conda) napari
2. install old

[2022-04-26 19:20] chili-chiu commented on #4328
A simple implementation is available [as a plugin](https://www.napari-hub.org/plugins/napari-blob-detection).

[2022-04-26 20:35] grlee77 opened #4428 "Broken view of 3D labels with VisPy 9.x"
## 🐛 Bug

## To Reproduce

On the main branch here, I get a VisPy error when trying to load a 3D labels layer as in the following minimal example

[code]

(See full error below). Prior to commit 972b08f8bf26060886cedea57265c37ac9da5d02, the error does not occur, so it seems related to https://github.com/napari/napari/pull/4401 (attn @brisvag)

## Expected behavior

No errors for 3D views of labels

[2022-04-26 20:37] #4428 closed, assigned to nobody

[2022-04-26 20:38] grlee77 commented on #4428
closed as I see #4401 bumped the VisPy requirement to >=10.0, so I was using an outdated dependency

[2022-04-27 02:12] jni commented on #4345
Yup yup! I can see that, but as we have a long list of things to implement (even axis naming and axis ordering can't be done in the UI yet!), and this one has many design questions open that could stall discussion, I wanted to open a path to getting all the work done outside of napari (where it can move faster), and then move it in. Obviously, if there are aspects that *must* happen in napari, and

[2022-04-27 04:22] #3700 closed, assigned to nobody

[2022-04-27 04:22] #4360 closed, assigned to nobody

[2022-04-27 07:41] cnstt commented on #4426
I will close it as this

seems to be the intended behavior :)

[2022-04-27 07:41] #4426 closed, assigned to nobody

[2022-04-27 08:38] cnstt commented on #4421
I have expected the same kind of behavior for the event callback `viewer.layers.selection.events.changed.connect()`, the addition of position='last' solved my issue (infinite loop).

[2022-04-27 08:39] cnstt commented on #4420
Is this a known issue? ping @brisvag ;)

[2022-04-27 08:44] brisvag commented on #4420
I assumed it was the same underlying issue as #4421; is this happening in a different context (i.e: not withing a callback after insertion)? If so, can you make up an example like in #4421 that shows the behaviour? I cannot reproduce it manually.

[2022-04-27 09:28] cnstt commented on #4420
I will try to show an example, but this behaviour is happening everywhere in my plugin.

[2022-04-27 09:34] cnstt commented on #4420
Here the example that triggers the bug:
[code]

[2022-04-27 09:44] brisvag commented on #4420
Thanks! This looks different from the other issue... I'll take a look :)

[2022-04-27 10:03] brisvag commented on #4420
Foudn the issue! #4433 should fix it :)

[2022-04-27 10:03] cnstt commented on #4290
For a visualisation purpose, I am building a plugin that is handling 3 viewers at the same time on the screen, and I would like to be able to set the window size (height and width a little bit smaller than the default minimum values, to be able to see them all at the same time.
So I am also interested in better tweaking options of the min window size, which might be related to this issue :)

[2022-04-27 10:06] cnstt commented on #4420
Thanks a lot for the PR!
Indeed it's really surprising that is issue has not been detected before ^^
Maybe it's because I am really digging in the depths of Napari for my plugin :laughing:

[2022-04-27 11:47] tlambert03 commented on #4290
took a quick look at this.  Looks like there is no longer any minimum size imposed on the MainWindow object itself, but it will depend on all other widgets inside.  So if _anything_ sets a minimumSize, the main window will expand to contain it.

I think we should aim for the viewer itself (just canvas without extra widgets) to be as flexible as possible.  Currently, if you create a viewer and hide

[2022-04-27 12:07] cnstt commented on #4290
Thanks a lot for your explanation!

What is this `QtWelcomeWidget` and how could I hide it?

[2022-04-27 12:38] cnstt opened #4434 "Public api for viewer.window._qt_window.setGeometry()"
## 🚀 Feature
Public api for viewer.window._qt_window.setGeometry()

## Motivation & Pitch
This feature is needed to place several napari viewers on the screen for example. Unless I have missed it in the docs, I haven't found another way to set the geometry of the window with a public method.

## Alternatives

Not deprecate the current implementation. Currently I get this warning:
`FutureWarning: P

[2022-04-27 13:47] cnstt commented on #4344
Might this be something related to array_equal() of numpy, maybe in the tests here:
https://github.com/napari/napari/blob/1b3d9521351be7be4905da7419a9179cc99df0ca/napari/layers/utils/_tests/test_layer_utils.py
ping @brisvag (sorry for pinging you, I don't really know who to ask, I might try to debug it myself, but have no experience in napari development/nor have a development environment setup fo

[2022-04-27 15:00] brisvag commented on #4344
No worries :) Yeah this issue has been aroudn some time, I also saw that warning, I guess no one was annoyed enough to make it their priority :P I'm not sure what triggers it (surely not the tests, since those are not executed at runtime). Maybe @jni is more familiar with numpy deprecation stuff?

[2022-04-27 16:01] cnstt opened #4435 "Plugin widget display state is broken"
## 🐛 Bug

When starting napari with my plugin activated, only 1 of 3 widgets appear. So far this is not a big issue (even if I don't know why this is happening). But when I go in the plugins dropdown menu, I see that napari doesn't consider this widget as activated. And when I click activate, the widget disappears. The concerned widget is generated by magic factory.

## To Reproduce

Steps to repr

[2022-04-27 16:07] goanpeca commented on #4290
Thanks for the ping @tlambert03!

@cnstt this is the widget in question https://github.com/napari/napari/blob/5f96d5d814aad697c367bdadbb1a57750e2114ad/napari/_qt/widgets/qt_welcome.py
<img width="1151" alt="Screen Shot 2022-04-27 at 11 06 35 AM" src="https://user-images.githubusercontent.com/3627835/165562707-87513f82-0604-4ec2-89c0-bd768b0c6d93.png">

The image is the one imposing a size restrict

[2022-04-27 16:23] cnstt commented on #4290
Thanks for your help! I tried to hide this welcome widget, but the viewer is still blocked to the same min height. What could this come from? From the image layer I have added afterwards (can they trigger a min height?) ?

[2022-04-27 17:04] goanpeca commented on #4290
The height is blocked by the controls dock and the layers dock. I also commented the image size line and it can go as small as the actual text in the welcome widget allows. We could enforce it going below it, but still the control and layer docks are imposing some minimum size constraints.

<img width="441" alt="Screen Shot 2022-04-27 at 12 04 27 PM" src="https://user-images.githubusercontent.com/

[2022-04-27 17:05] ianhi commented on #2343
Checking in on this - do axes labels exist now?

My use case is I would like to add points on top of an STCZYX timelapse in order to aim the laser at specific cells. I first run a `SYX` MDA to use to mark my initial points, and then as my layer displaying data expands I'd like to expand the points while broadcasting them over `CZ` which I think is currently impossible.

[2022-04-28 01:50] #4423 closed, assigned to nobody

[2022-04-28 03:34] #4420 closed, assigned to nobody

[2022-04-28 03:38] MosGeo commented on #4419
This would be good for for datasets with different modality and scales, e.g., if you have 3D CT scan and SEM of the same sample.

I also see this as a precursor to a 'project' system.

[2022-04-28 06:31] jni commented on #4290
This seems to be a Windows scaling/Qt thing: anything at or above 150 is taken to be 2x. You can see @GenevieveBuckley's screenshots of napari at various scaling values [in #1710](https://github.com/napari/napari/issues/1710#issuecomment-712489853). The UI elements only have 1x or 2x size.

[2022-04-28 09:42] Czaki opened #4440 "Wrong event rendering for LayerList documentation"
## 📚 Documentation

Documentation of LayerList contains documentation of events, but without the information that the documented entirs are events.

Events information in LayerList:
![Zrzut ekranu z 2022-04-28 11-36-52](https://user-images.githubusercontent.com/3826210/165724421-851ef99b-5d2d-4b9a-a679-8207f00b3e30.png)

Expected events information (here Evented list)
![Zrzut ekranu z 2022-04-28 1

[2022-04-28 09:51] Czaki opened #4441 "Lack of explanation that Evented object events are accesible by `events` property"
## 📚 Documentation

When reading the documentation of EventedContainers I do not find reference that events are accessible by `events` property.

![Zrzut ekranu z 2022-04-28 11-36-59](https://user-images.githubusercontent.com/3826210/165725365-c5879051-7387-4fd0-b2a7-e6bee11e8409.png)

A less experienced user may try to access for example to `EventedList.inserted` and do not know why it does not w

[2022-04-28 15:24] melissawm commented on #4440
Thanks @Czaki  - please keep them coming if you notice other problems with the docs!

[2022-04-28 21:29] tlambert03 opened #4443 "layerlist and controls now showing before viewer"
## 🐛 Bug

the lines added here in #4195:

https://github.com/napari/napari/blob/413488578b4ca22e09c300e194978c1ce6bf6f06/napari/_qt/qt_main_window.py#L882-L884

are now causing the layerlist and controls to appear briefly before being moved into the viewer:

https://user-images.githubusercontent.com/1609449/165848892-4e81231d-f952-4daf-a8ed-cd05c7a47a98.mov

cc @brisvag

[2022-04-28 21:34] tlambert03 commented on #4443
this also means that all tests using make_napari_viewer now flash these two panels

https://user-images.githubusercontent.com/1609449/165849462-8f493631-e72b-4419-8ad1-a82cae115e01.mov

[2022-04-28 23:53] sofroniewn commented on #4443
oops! Thanks for flagging this - maybe @brisvag can take a look. @goanpeca might be able to help too. We should fix before 0.4.16 cc @jni

[2022-04-28 23:59] jni commented on #4443
Absolutely. I've added the milestone so we don't drop that ball.

[2022-04-29 00:30] #4440 closed, assigned to nobody

[2022-04-29 02:14] jni commented on #4419
:rofl:

Nice issue @brisvag!

Although I see the need, I wonder why you would do this vs multiple viewers? Then spaces are serialisations of that particular viewer?

It would be good to have a *concrete* example where you have multiple spaces *in one file*, for example.

I also do see layergroups as a prerequisite here.

[2022-04-29 05:34] #4353 closed, assigned to andy-sweet

[2022-04-29 09:05] brisvag commented on #4443
Oef... I guess it's too fast on my machine for me to notice?

I think this is worse than the alternative (#3624), so at worst we can simply revert the change.

@goanpeca , do you remember what else you tried to solve that problem?

[2022-04-29 09:15] brisvag commented on #4419
My use case is *hundreds* of spaces. Here's an example where I'm using trick number `1.` (toggle visibility through a widget). In this example I only have one image per space, but If I had particle picking data I would have 4 more layers per space. I think havign that many viewers might be counterproductive :P Also, I want the data to be accessible all from the same place.

https://user-images.git

[2022-04-29 09:54] cnstt commented on #3948
I am still facing this issue when testing the widget of my plugin. My plugin generates 2 additional viewers, so I don't know if it's related. Here what is displayed:
ERROR at teardown

[code]

[2022-04-29 10:12] Czaki commented on #3948
@cnstt it looks like you do not clean properly your widgets that keep viewers alive.
Without seeing the code it may be hard to help.

But as #3690 is merged then your issue is not related to this one.

The shortlist of suggestions that I have.
Check if you close properly all widgets created in the test. Unfortunately in the test using `make_napari_viewer` you cannot use `qtbot.addWidget`/`qtbot.ad

[2022-04-29 10:14] cnstt commented on #3948
Thanks for your help! Normally I have closed all the generated viewers, but I will take another look, maybe I have missed something.

[2022-04-29 10:20] jaimergp commented on #4415
Also added https://github.com/conda-forge/admin-requests/pull/433 to fix this.

[2022-04-29 13:26] cnstt commented on #3948
Well unfortunately is still doesn't work for some reason. Below you will find my testing function:

[code]

Where the Orthoslice widget itself generates 2 additional viewers (which are stored as attributes of the widget).

[2022-04-29 14:17] Czaki commented on #3948
at first there is lack of `my_widget.deleteLater()` at the end.
I also to not know what is in `Orthoslice.close` functions so I'm not sure if it is cleaned properly.

But common solution, from my experience could be add on the end
[code]

[2022-04-29 14:21] cnstt commented on #3948
Thanks a lot for your help! It worked with your suggestions!

[2022-04-29 16:47] chili-chiu commented on #3735
see also issue #2948

[2022-04-29 17:18] chili-chiu commented on #3830
@nclack looks like these items are all addressed for npe2 doc? Are there still outstanding ones you'd like to track, or should we close this issue?

[2022-04-29 17:31] chili-chiu commented on #3537
closing this as we are updating the bundled app, but feel free to add comments to issue #4383 :)

[2022-04-29 17:31] #3537 closed, assigned to nobody

[2022-04-29 17:39] chili-chiu commented on #1049
@tlambert03 wondering if there are still items that are not addressed by the sphinx theme?

[2022-04-29 17:41] #1049 closed, assigned to nobody

[2022-04-29 17:43] alisterburt opened #4449 "Labels layer not rendering on vispy `0.10.0`"
## 🐛 Bug
Labels layer is not rendering with `napari==0.4.15` and `vispy==0.10.0`, working fine with `vispy==0.9.6`.

I see there has been some discussion of vispy 0.10.0 in #4400, #4401 and #4428 - I didn't see any reference to the labels beyond #4428 which is closed so I'm opening this.

Everything is working on main with vispy 0.10.0 so this should be closed with the 0.4.16 release planned for t

[2022-04-29 17:50] chili-chiu commented on #1426
@tlambert03 does the current API reference address this issue, or additional documentation is still needed? is there an overlap with issue #3658?

[2022-04-29 17:57] tlambert03 commented on #1426
Nope not yet, this is more of architectural overview for someone coming to the code base trying to get the overall lay of the land.  The Api docs are good for someone who knows what object they want to learn about, this would be there to tell a developer what the rough overview is.  Something like what @nclack was wanting when he was new to napari.  We still don't have it

[2022-04-29 18:00] tlambert03 commented on #1426
Seems different from #3568 too

[2022-04-29 18:41] jwindhager opened #4450 "Labels-to-Image conversion does not preserve transform"
## 🐛 Bug

It seems that the conversion between `Labels` and `Image` loses the transform associated with the layer.

## To Reproduce

Steps to reproduce the behavior:

1. Add a `Labels` layer to the viewer with `Viewer.add_labels(..., affine=affine)`
2. In the viewer, right-click on the `Labels` layer and `Convert to Image`
3. The transform is lost

## Expected behavior

Upon conversion, the image

[2022-04-29 18:51] dstansby opened #4451 "Stop installing doc dependencies when running `make docs`?"
## 🐛 Bug

I was running `make docs` for the first time today, and was surprised that it runs an install command (`pip install -qr docs/requirements.txt`) on my python environment. I would suggest that this is removed - building docs is not something I expect to have a side effect on my current Python environment, and I hastily cancelled operation to stop it interfering with my mainly-conda environ

[2022-04-29 18:53] chili-chiu commented on #316
There are lots of great resources mentioned in this issue. I wonder if we can make them more visible to the community:
(1) Some as sample data plugins
(2) Others can be surfaced on napari.org with links and explanation of datasets (scientific domain, the type of image etc), perhaps a new page Usage > datasets (or some better name)?

[2022-04-29 18:59] alisterburt commented on #4449
closing, I missed #4415

[2022-04-29 18:59] #4449 closed, assigned to nobody

[2022-04-29 19:57] psobolewskiPhD commented on #4450
I can confirm this too—it's bidirectional.
Looks like the `_convert` uses `_get_base_state()` which does not include affines:
https://github.com/napari/napari/blob/5cf4b13e6ad76013f32e2c91725783cf6410d353/napari/layers/base/base.py#L781-L803
Is the fix to add affine to this dict or to copy the transforms from first layer to the new one?

[2022-04-29 20:08] #3830 closed, assigned to nclack

[2022-04-29 20:09] nclack commented on #3830
Yes all issues have been addressed

[2022-04-29 20:13] ianhi commented on #2343
For anyone arriving with the same issue I have a workaround. If you modify the `_slice_data` of the Points layer you can add in a (brittle) approach to broadcasting.

<details>
 <summary>BroadcastablePoints Subclass</summary>

[code]
</details>

Putting that subclass into `points.py` then the following script gives you points that stay in position for every value of both the `C` and `Z` axes.

[co

[2022-04-29 20:15] sofroniewn commented on #2343
Thanks for sharing @ianhi - I wonder if @alisterburt @brisvag @andy-sweet might want to have a look and see if this is something we could incorporate more easily into the core napari

[2022-04-29 20:35] alisterburt commented on #2343
really cool @ianhi!

Because we still have issues with axis ordering this approach will be quite brittle - it should definitely be added as an example for others to find though, it's fantastic 😍

[2022-04-29 20:37] sofroniewn commented on #316
I think @neuromusic might have some ideas here for surfacing sample data plugins on napari hub

[2022-04-29 20:53] ianhi commented on #2343
It's not exactly an example but I just set it up to be pip installable from github with `pip install git+https://github.com/ianhi/napari-broadcastable-points` as that will be useful to me at least.

https://github.com/ianhi/napari-broadcastable-points#napari-broadcastable-points

**Update:**

I needed this for an experiment so I've thrown it up on pypi: `pip install napari-broadcastable-points`. S

[2022-04-29 20:57] alisterburt commented on #316
two cryo-ET datasets to add to the pile

https://zenodo.org/record/6504891 - deconvolved tomogram of HIV virus-like particles + annotations
https://zenodo.org/record/6504949 - denoised tomogram of a M. pneumonaie cell

[2022-04-29 21:00] alisterburt commented on #316
@chili-chiu a master plugin included in core napari which surfaced data from a few different domains would be super cool in my opinion - very useful when running workshops for people in different scientific domains

[2022-04-29 21:24] neuromusic commented on #316
Indeed :D

With npe2 support landing soon, users will be able to filter down to plugins that include sample data.

Later (perhaps later this year?) we might be able to parse the manifest files for sample datasets then add a "data" section to the napari hub, featuring datasets that are available through napari plugins.

[2022-04-29 22:45] chili-chiu commented on #316
Yes, that will be really nice! I like the list from @GenevieveBuckley, and in favor of smaller size images if possible, for demo purposes 😛

What I'm wondering is how many of the resources gathered here can/should be turned into a demo data plugin, thus the second option of surfacing on napari.org as a lightweight alternative to have the rich resources mentioned, but might not fit the demo data pl

[2022-04-29 23:04] chili-chiu commented on #3390
@melissawm do you see this issue as still ongoing, or should we close the issue?

[2022-04-29 23:11] chili-chiu commented on #3490
@melissawm are there still outstanding items for this one?

[2022-04-30 10:16] dstansby opened #4455 "How to distinguish between 2 layers selected, and 1 layer selection changing?"
## 🐛 Bug

I am writing a plugin that needs to do something when two layers are selected. To do this I'm connecting to the `viewer.layers.selection.events.changed` event. When two layers are selected by the user this works fine.

However, when the user has one layer selected, and switches to another single layer, the `changed` event is triggered twice. The first time is when the new layer is added

[2022-04-30 15:19] melissawm commented on #3490
Not at this point, if there are any other suggestions we should probably open a new issue. Thanks for the heads up!

[2022-04-30 15:19] #3490 closed, assigned to nobody

[2022-04-30 15:19] melissawm commented on #3390
I'll close, and if there any pending issues we can open a new issue. Thanks!

[2022-04-30 15:19] #3390 closed, assigned to nobody

[2022-05-01 23:49] #4405 closed, assigned to jaimergp

[2022-05-01 23:51] jni opened #4456 "napari --plugin-info does not list contributions from npe2 plugins"
## 🐛 Bug

As noted by @tlambert03 in #4445, `napari --plugin-info` only lists hookimpl information about old-style napari_plugin_engine plugins, not npe2 plugins.

[2022-05-02 01:03] #4249 closed, assigned to jaimergp, goanpeca

[2022-05-02 01:25] jni commented on #4450
Thanks for opening the PR @psobolewskiPhD! Yes that is the right fix, and getting #4457 in should fix the failing tests there.

[2022-05-02 01:47] jni commented on #4451
Good points all @dstansby! I'm definitely open to this. I didn't like having docs/requirements.txt anyway since we have a [docs] section in `setup.cfg` already.

[2022-05-02 06:14] ppwadhwa commented on #4443
Not sure if this helps---I just did a quick look and I may be missing something, but I tried commenting out `dock_widget.setFloating(True)` and just have `dock_widget.setFloating(False)` being called.  I *think* its still working as expected and doesn't have the dock widget flash separately.

[code]

[2022-05-02 06:38] lucyleeow commented on #3926
With regard to the above, this closed PR is relevant: https://github.com/napari/napari/pull/2854
Some work will be required for ActionManager to handle 'short press' and 'long press' - and if we do want to add this...

[2022-05-02 08:27] thorstenwagner opened #4461 "Plugin API for layer controls"
## 🚀 Feature
Extend layer controls with additional functionality by plugins

## Motivation

For example, I would like to be able to place simple square boxes (2d/3d) with a fixed size by clicking within the image / volume. For that, clicking on the center position and then draw a box would be optimal. Here it would be great I could write plugin that allows to add such a functionality.

## Pitch
I

[2022-05-02 08:49] brisvag commented on #4461
This was actually brought up in #4381 as a use case for tabs! I agree that it would be great to do this.

[2022-05-02 13:26] jni commented on #4461
I'm :+1: on this idea, thanks for raising the issue @thorstenwagner! In the meantime, as you've probably figured out, our "recommended" approach is to have all the buttons you could want on the right sidebar. I realise that "fragments" the experience for users, but at least the world is your oyster and you can do whatever you want!

[2022-05-02 14:10] alisterburt commented on #4461
Hey @thorstenwagner - great to see you over here! 🙂

I think the specific functionality you're asking for would be ideally served by a 'custom symbol' API for the points layer and using the standard 'add point' mode, ideally the 'symbol' (your box) could be a 3D object in the scene, rather than a 2D object which doesn't change with viewpoint.

Would this solve your issue @thorstenwagner ? I still

[2022-05-02 16:24] #4396 closed, assigned to jaimergp, goanpeca

[2022-05-02 16:28] #4451 closed, assigned to nobody

[2022-05-02 23:05] #4450 closed, assigned to nobody

[2022-05-02 23:25] andy-sweet commented on #4326
@Carreau : did #4330 fix this? The first example doesn't raise an error on `main` now, but it looks like the second example has not changed.

[2022-05-02 23:33] sofroniewn commented on #4427
@jaimergp @goanpeca have you observed this too? any ideas on a fix?

[2022-05-02 23:35] sofroniewn commented on #4461
Could be a good flag for an npe2 feature request - cc @nclack

[2022-05-02 23:43] liu-ziyang commented on #4226
@andy-sweet would this bug be addressed by the new property API?

[2022-05-02 23:46] #3246 closed, assigned to nobody

[2022-05-02 23:49] kne42 commented on #2808
hi @tlambert03, could you please provide more context around what this bug is and specifically where the magic name guessing relates to it? thanks!

[2022-05-03 07:04] Carreau commented on #4326
the second example is fine now, the dots are at the corner of the ellipse.

[2022-05-03 07:04] #4326 closed, assigned to nobody

[2022-05-03 07:04] Carreau commented on #4326
Thanks for flagin this was fixed.

[2022-05-03 07:46] haesleinhuepf commented on #3246
Has this been solved @kne42 ?

[2022-05-03 10:36] tlambert03 commented on #2808
See point 2 from #2638 linked above:

[2022-05-03 10:58] jaimergp commented on #4427
Hm, I am curious where 0.1.6 is coming from if `napari-svg` only has [0.1.5](https://anaconda.org/conda-forge/napari-svg/files) on conda-forge?

[2022-05-03 11:08] Czaki commented on #4427
But has 0.1.6 on pypi.

I also observe same error with PartSeg update after new release land on conda.

I need to uninstall old one and install new because update does not work.

[2022-05-03 11:18] jaimergp commented on #4427
I thought the bundle only accepted conda packages at this point, so PyPI updates shouldn't be visible? @goanpeca can you help clarify?

[2022-05-03 11:33] #4443 closed, assigned to nobody

[2022-05-03 12:15] jaimergp commented on #4427
Ok, nevermind, I see that part of the UI now. It just takes quite a while to show up.

<img width="1091" alt="image" src="https://user-images.githubusercontent.com/2559438/166450844-897f6b66-2f60-4a9d-bdf7-353153b5a258.png">

I can try reproducing now!

[2022-05-03 13:31] jaimergp commented on #4427
These are the full logs (verbosity=3, lots of noise!) for the update operation.

[issue-4427.osx-arm64.txt](https://github.com/napari/napari/files/8610694/issue-4427.osx-arm64.txt)

You can see the mamba operation is successful. After cleaning up:

[code]

... but napari-svg is not updated after all. I think we either need to use `mamba update napari-svg` OR force an update `mamba install napari-s

[2022-05-03 16:26] liu-ziyang commented on #4316
@grlee77 hi there, do you still plan to take this one on? if not I can unassign it. Thanks!

[2022-05-03 16:26] liu-ziyang commented on #3737
@grlee77 Hi there, do you still plan to take this one on? If not I can unassign it, Thanks!

[2022-05-03 16:26] liu-ziyang commented on #3410
@grlee77 Hi there, do you still plan to take this one on? If not I can unassign it, Thanks!

[2022-05-03 16:27] liu-ziyang commented on #2487
@grlee77 Hi there, do you still plan to take this one on? If not I can unassign it, Thanks!

[2022-05-03 18:23] grlee77 commented on #4316
No, I don't plan to work on it. Thanks

[2022-05-03 18:24] grlee77 commented on #3737
Please reassign, thanks

[2022-05-03 18:26] grlee77 commented on #3410
This should be working aside from Shapes layers. If someone more familiar with that layer type could help, that would be great. Alternatively, we can raise an error for that layer type if an affine with permutations is provided.

[2022-05-03 18:27] grlee77 commented on #2487
Please reassign

On Tue, May 3, 2022, 12:27 PM Ziyang Liu ***@***.***> wrote:

[2022-05-03 20:56] andy-sweet commented on #4262
I think the main bug here should be closed by #4262. @Carreau or @2dx : can you confirm? Should we leave this open for the other related issues (e.g. ellipses created with non-rectangular bounding boxes) or create a separate issue for that?

[2022-05-03 21:16] dstansby commented on #1005
👋 I thought I'd drop by and mention that I've started work on a `napari-matplotlib` plugin: https://github.com/dstansby/napari-matplotlib. Currently the elevator pitch and scope are "napari-matplotlib is a bridge between napari and matplotlib, making it easy to create publication quality Matplotlib plots based on the data loaded in napari layers.". I'd be super interested in any feedback or sugges

[2022-05-03 21:28] sofroniewn commented on #1005
Awesome @dstansby I think a lot of folks will be interested in that - maybe you could talk about in one of the community meetings? https://napari.org/community/meeting_schedule.html

[2022-05-03 21:54] AhmetCanSolak commented on #1507
Late to the party but I am able to reproduce the problem with synthetic data(haven't tried the original dataset yet) on an intel mac BigSur 11.6. I went through the discussion here but also there seems to be multiple image.sc threads on this issue. Anyone has the whole picture on where we are at debugging this? So I can take it over from there and debug this.

I already tried @nclack 's `vispy.uti

[2022-05-03 22:06] nclack commented on #1507
I'm so glad you can reproduce @AhmetCanSolak. I never got very far. I initially thought it might be memory related, but my guess now is that it has something to do with the raycasting shader in vispy.  It could be that there's not enough precision somewhere...something is causing that first frame to be sampled for every frame. That's pure speculation though.

[2022-05-03 22:08] andy-sweet commented on #4205
Thanks for the write-up and example! There are definitely lots of issues with non-orthogonal slicing in napari.

In your example, did you intend to roll around the non-displayed axis? I.e. the axis that is orthogonal to the 2D display? In that case, I think you may want to define your initial transform matrix as:

[code]

Note that napari slices in dimension 0 and displays dimensions 1 and 2 by de

[2022-05-03 22:11] andy-sweet commented on #4187
@Czaki : were you able to reproduce this again? Or is it known to be a non-issue now?

[2022-05-03 22:14] Czaki commented on #4187
All test green.

[2022-05-03 22:14] #4187 closed, assigned to nobody

[2022-05-03 22:17] andy-sweet commented on #4155
@JoOkuma : I think #4165 closes this right?

[2022-05-03 22:30] alisterburt commented on #4419
Are vispy nodes only created/attached when layers are added to the layerlist? nice!

I agree here - this feels separate issues to layer groups, high value added for potentially low effort?

As an API, how about something like?

[code]

where `Viewer.active_space` indexes `viewer.spaces`

[2022-05-03 23:12] alisterburt commented on #4419
super basic prototype on a plugin widget

https://github.com/alisterburt/napari-spaces/blob/fc4840aaec2265af427a6600f0a35de94070feaa/src/napari_spaces/_widget.py#L16-L50

https://user-images.githubusercontent.com/7307488/166587193-6c5e1417-93a9-4a53-8709-c3308d9ad1ff.mp4

potentially a better API would be:

[code]

[2022-05-03 23:24] alisterburt opened #4466 "Moving `experimental_clipping_planes` out of experimental"
## 🚀 Feature
This PR is an idea for one way we could go to make @brisvag's clipping planes a mainline feature

Proposed API:

[code]

`Viewer.clipping_planes` are a set of planes which clip the data in the scene, defined in scene coordinates
the `clipped` attribute on each layer controls whether a specific layer is clipped by the clipping planes, true by default

## Motivation

This experimental f

[2022-05-04 00:46] perlman commented on #1507
@AhmetCanSolak I'd be curious to see the synthetic example.

[2022-05-04 01:06] #4247 closed, assigned to goanpeca

[2022-05-04 02:26] jni commented on #4466
Could there be both viewer clipping planes and layer clipping planes? (Layers inherit the viewer ones but can have additional ones.)

We should also think about the `viewer.canvases` migration and whether this should get tackled at the same time. (See #4148.)

[2022-05-04 07:03] brisvag commented on #4466
I like this API as a starting point: it does what most people would want to do and exposes it in an intuitive way. We will need to find a place in the GUI to put controls for these planes...

I'm afraid it will cause a proliferation of plane models scattered everywhere and a confusion on where the objects "are". I would like to bring up #3148 in order to not lose the thoughts we had over there :)

[2022-05-04 09:14] cnstt commented on #4441
In addition to that, I don't know if this issue is the right place to ask, but I didn't find anywhere in the documentation the `viewer.layers.events` event...

[2022-05-04 09:19] cnstt opened #4469 "viewer.events.layers_change is not documented and not triggered when layer name changed"
## 🐛 Bug

viewer.events.layers_change is not documented and not triggered when layer name changed

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

The event should be triggered on layer name change.

## Environment

napari: 0.4.15
Platform: Linux-5.17.4-200.fc35.x86_64-x86_64-with-glibc2.33
System: Freedesktop.org 21.08.12 (Flatpak runtime)
Python: 3.9.9 (main, Nov

[2022-05-04 09:46] Czaki commented on #4441
It is partially good place because layer list is subclass of SelectableEventedList. The documentation is here:
https://napari.org/api/napari.components.LayerList.html

You could find it by:
1) going to Viewer documentation: https://napari.org/api/napari.Viewer.html
2) go to superclass: https://napari.org/api/napari.components.ViewerModel.html#napari.components.ViewerModel
3) where you find informa

[2022-05-04 09:48] Czaki commented on #4271
Did you play with connecting functions to layer list events? Because it looks like it may be result of inconsistent internal state.

[2022-05-04 09:52] cnstt commented on #4441
Maybe I don't understand well, but what I wanted to say is that we can directly connect to the viewer.layers.events object by doing something like this: `viewer.layers.events.connect(callback_func)`. Maybe I didn't understood the documentation correctly, but I found this event pretty useful as it is triggered if something in the layerlist is modified and as such regroups all "subevents".

[2022-05-04 09:56] Czaki commented on #4441
`viewer.layers.events` is instance of [`EmitterGroup`](https://napari.org/api/napari.utils.events.EmitterGroup.html). And in its documentation, there is information that you could connect directly to this, but there is no information that `events` attribute is an instance of `EmitterGroup`

[2022-05-04 10:00] cnstt commented on #4441
Thanks a lot for the explanation! It is indeed well explained, but as I am new to napari it was hard for me to handle the documentation of these somewhat complex elements.

[2022-05-04 10:04] tlambert03 commented on #4271
@Czaki, I linked those discussions in https://github.com/napari/napari/pull/4276#issuecomment-1116810562

[2022-05-04 10:06] jni opened #4470 "Type tests are failing on all PRs and preventing release"
## 🐛 Bug

Here is the error in the release action:

https://github.com/napari/napari/runs/6286397863?check_suite_focus=true#step:6:45

[code]

However in PRs/main the error is different:

https://github.com/napari/napari/runs/6287580684?check_suite_focus=true#step:5:8

[code]

Which weirdly is in code that hasn't changed recently.

I don't know whether the two errors are related but they are block

[2022-05-04 10:09] tlambert03 commented on #4470
Probably due to recent mypy update.  Will have a look

[2022-05-04 10:19] Czaki commented on #3528
closed by publishing `nme` package https://pypi.org/project/nme/

[2022-05-04 10:19] #3528 closed, assigned to nobody

[2022-05-04 11:33] Czaki commented on #4470
temporary downgrade mypy and fix after rc0 is released?

[2022-05-04 11:36] tlambert03 commented on #4470
Sure that's fine too

[2022-05-04 12:16] JoOkuma commented on #4155
@andy-sweet Yes, thanks.

[2022-05-04 12:50] thorstenwagner commented on #4461
Thanks for mentioning the recommended approach. Actually, I wasn't aware that this is possible, but I'm also new to napari. Can you point me to an example how to do that?

[2022-05-04 12:53] thorstenwagner commented on #4461
Hi Alister! I guess your suggestions would solve my issue :-)

[2022-05-04 13:55] andy-sweet commented on #2142
@ppwadhwa : should this have been closed by #3607? Or are there follow up issues here?

[2022-05-04 13:59] ppwadhwa commented on #2142
yes, it can be closed!  thanks @andy-sweet !

[2022-05-04 13:59] #2142 closed, assigned to goanpeca, ppwadhwa

[2022-05-04 15:04] melissawm opened #4472 "Alt-text missing for "Dimension slider" example"
## 📚 Documentation

In the [Dimension sliders section](https://napari.org/tutorials/fundamentals/viewer.html#dimension-sliders) of the viewer tutorial, the alt-text argument of `nbscreenshot` is empty, which is causing a parse error.

Alt-text should be added there - see https://napari.org/tutorials/fundamentals/viewer.html#layer-controls for an example.

[2022-05-04 15:32] cnstt commented on #4472
I just did a small PR to solve this issue. I hope the new alt text is understandable :)

[2022-05-04 17:58] tdimino commented on #2579
With this, perhaps there could be a short-hand for these events (defined by the type of event, and its order in sequence of user commands) that could be linked to the more verbose record that's automatically generated.

Because of the technical lift behind an undo/redo feature of napari, I could see the implementation of a session history (that can itself be exported as a simple text file) being t

[2022-05-04 18:24] sofroniewn commented on #2729
This information is found in the vispy docs here https://vispy.org/api/vispy.app.canvas.html?highlight=mouseevent#vispy.app.canvas.MouseEvent along with some additional properties added here https://github.com/napari/napari/blob/ea3fadcfbc54d630271e0e32f151371dfb499a8b/napari/_qt/qt_viewer.py#L900-L919

I think it would be good to get this stuff added here too https://napari.org/howtos/connecting_

[2022-05-04 18:37] sofroniewn commented on #6
We now have some information about qtpy in our plugin best practices - see https://napari.org/plugins/best_practices.html?highlight=qtpy#don-t-include-pyside2-or-pyqt5-in-your-plugin-s-dependencies

I think that's probably sufficient such that we can close this issue. I will do so soon unless I hear otherwise

[2022-05-04 18:43] sofroniewn commented on #3658
Things are definitely much improved - but we still have some unfilled doc strings here and missing attributes (like grid, scale_bar etc)

<img width="755" alt="image" src="https://user-images.githubusercontent.com/6531703/166804133-7f14e875-d55b-477b-81e7-f1ae36ebc84d.png">

https://napari.org/api/napari.view_layers.Viewer.html#napari.view_layers.Viewer

Would be good to add in

[2022-05-04 18:45] sofroniewn commented on #3991
from viewer_fps_label.py

This one is using an API that will become private in 0.5.0 I think - we might want to think about another way to expose it

[2022-05-04 19:47] melissawm commented on #3658
I am working on it 👍🏻

[2022-05-05 07:32] Chris-N-K commented on #4466
May I make a suggestion for the GUI placement?
I think it might be a good idea to either add them like 3D display to the bottom left buttons with a right click pop-up for control or to the same layer control drop-down menu like plane mode as they are somewhat comparable.

[2022-05-05 07:52] psobolewskiPhD opened #4479 "4.16.rc1 regression: Merge to Stack results in ValueError 'linear' is not a valid Interpolation"
## 🐛 Bug

In 4.16rc1 Using the context menu Merge to Stack on 3D+Ch data results in ValueError 'linear' is not a valid Interpolation and no new stack. This works in 4.15

## To Reproduce

Steps to reproduce the behavior:

1. Open napari sample Cells or Kidney
2. Select two (or more) channels
3. Right-click and use Merge to Stack

The error will appear (below) and, worse yet, the selected channels

[2022-05-05 10:43] Czaki commented on #4479
@psobolewskiPhD It looks like you use to merge in 3d rendering mode? In both releases?

[2022-05-05 10:50] psobolewskiPhD commented on #4479
Shit, you're right, I guess I didn't notice I had the box clicked in the RC.
The behavior is the same in both RC and live and looks to be a known issue:
https://github.com/napari/napari/issues/3551
My bad!

[2022-05-05 10:50] #4479 closed, assigned to nobody

[2022-05-05 13:51] cnstt commented on #4470
The "type tests" are still failing is this normal or has the 'fix' not fixed the issue?

[2022-05-05 14:46] tlambert03 commented on #4470
you need to merge the main branch with the fix into your pr

[2022-05-05 19:28] lauramarcos opened #4484 "[4.16rc1] Not able to uninstall plugins in Windows"
## 🐛 Bug

When clicking on <Uninstall> button, "uninstall" legend shows up next to plugin name but plugin is not being uninstalled successfully

## To Reproduce

Steps to reproduce the behavior:

1. Open napari 4.16rc1 in Windows
2. Click on Plugins -> Install/Uninstall Plugins menu
3. In opened modal, click on <Uninstall> button

## Expected behavior

Plugin should show up now in "Available Plugi

[2022-05-05 21:01] tlambert03 commented on #4484
does this happen for all plugins?  or is bbii-decon the only one you've found so far?

does the status (bottom left) show any errors?

[2022-05-05 21:20] lauramarcos commented on #4484
@tlambert03 Yes, it happens with all plugins and no, no error on bottom left but i get the following error:

`FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Windows\\gen_py\\3.8\\__init__.py'`

[2022-05-05 21:41] tlambert03 commented on #4484
that's certainly intriguing... is there any more to that trace?

[2022-05-06 02:41] lauramarcos commented on #4484
@tlambert03 this is the whole error:

[code]

[2022-05-06 04:02] goanpeca commented on #4484
Will take a look @lauramarcos, thanks for the report!

[2022-05-06 19:04] melissawm commented on #4306
Just for clarity on the proposal, how do we want to deal with the API references?

Another alternative which hasn't been considered (as far as I can tell) is doing `pip install git+https` from napari into the docs repo. This would make sure the API docs are up to date, correctly generated for the latest version and all artifacts and static images live on the docs repo.

[2022-05-06 19:11] jni commented on #4306
I like your proposal @melissawm, the main thing is how to trigger a rebuild of the docs when a PR is merged on main in the main repo.

Just as a side point, we do need to figure out this new infrastructure, but the gif->webm migration did relieve the pressure from lfs, so this is not a burning question near the end of every month anymore. 😅

[2022-05-08 07:21] haesleinhuepf opened #4494 "Reader for CSV files"
## 🚀 Feature

I would love to make drag&drop for CSV files work in napari.

## Motivation

[One of my plugins](https://github.com/haesleinhuepf/napari-skimage-regionprops) supports loading a CSV file into the properties/features of a [labels] layer.

## Pitch

For visualizing archived measurements, we need to load CSV files (and/or other file formats). **The tricky part** is that the current reade

[2022-05-08 08:01] haesleinhuepf opened #4495 "MultipleReaderError when loading example images in napari 0.4.16rc1"
## 🐛 Bug

Opening examples from the `File > Open Sample > clEsperanto` doesn't work anymore with napari 0.4.16rc1.

## To Reproduce

Steps to reproduce the behavior:

1. Install [devbio-napari](https://github.com/haesleinhuepf/devbio-napari#installation).
2. Start napari
3. Click on menu `File > Open Sample > clEsperanto > Blobs (from ImageJ)`

Error stack trace:
[code]

## Expected behavior

In n

[2022-05-08 15:16] jni commented on #4495
Thanks for reporting @haesleinhuepf! We'll fix before 0.4.16.

[2022-05-08 18:09] #4472 closed, assigned to nobody

[2022-05-09 08:23] cnstt opened #4501 ""Alt text" missing at a lot of places in the documentation causing bugs"
:books: Documentation

There was a bug In the [Dimension sliders section](https://napari.org/tutorials/fundamentals/viewer.html#dimension-sliders) of the viewer tutorial that has been fixed (#4472), but I have now seen that this bug happens at a lot of other places:
- [x] https://napari.org/tutorials/fundamentals/viewer.html#viewer-buttons
- [x] https://napari.org/tutorials/fundamentals/viewer.htm

[2022-05-09 08:40] brisvag commented on #4501
Just getting to this after seeing #4502. I'm not faimilar with the whole alt-text endevour, but surely simply passing an empty string should not result in an error! While it's useful to have alt-text in the tutorials, the fix should probably be to solve this parse error in the first place. What is the error exactly?

[2022-05-09 08:43] cnstt commented on #4501
You are right, but alt text is important for accessibility I think? At least that's what I understood it is used for :) So to raise an error when there is not alt text is not necessarily a bad thing, as it forces us to write a small alt text! My PR #4502 is close to being finished so it doesn't take a lot of time :)

[code]

[2022-05-09 08:58] Chris-N-K opened #4503 "ClippingPlanes do not propperly respond to translate values"
## 🐛 Bug

If an image layer has a translate value other then (0,0,0),  a `ClippingPlane` added to the layers `experimental_clipping_planes` appears to not be placed at the expected position. Tested with plane position calculated by hand and `layer.data_to_world()`. If the Image layer's translate is set back to (0,0,0) the clipping still does not work. Thus, it seems the plane position is not based

[2022-05-09 12:12] brisvag commented on #4503
Thanks for the code snippet. There's definitely somethign wrong with how `Image` (and `Labels`) handles clipping planes; as far as I can tell, the other layers behave as intended (that is, the planes stay put in scene coordinates, even if you translate the layer). A simple way to see the difference is to use the example `examples/clipping_planes_interactive_.py`, and then translate the layers. If

[2022-05-09 13:04] brisvag commented on #4503
Ok, found the problem. I made a PR over at vispy/vispy#2329; hopefully we can get it in the next release :)

[2022-05-09 15:42] Chris-N-K commented on #4503
Thank you for the exceptional fast response :) your fix at vispy looks nice. Guess I can continue to play with the clipping planes ^^

[2022-05-10 00:19] github-actions[bot] opened #4507 "[test-bot] pip install --pre is failing"
The --pre Test workflow failed on 2022-06-06 12:16 UTC

The most recent failing test was on macos-latest py3.8 pyside
with commit: 53c7843881af781a51a192d0293c8a6ce7251d2b

Full run: https://github.com//actions/runs/2447611791

(This post will be updated if another test fails, as long as this issue remains open.)

[2022-05-10 14:50] cnstt commented on #4435
cc @tlambert03 :)

[2022-05-11 09:06] Karol-G commented on #4222
Has a developer tried to reproduce this issues? I have to annotate data from time to time and this is a bit annoying :/

Best,
Karol

[2022-05-11 17:50] goanpeca commented on #4306
Maybe something like https://github.com/convictional/trigger-workflow-and-wait could help, but definitely something we can do via a custom github action.

[2022-05-11 21:07] #4495 closed, assigned to nobody

[2022-05-12 00:18] #4421 closed, assigned to nobody

[2022-05-12 00:18] #4425 closed, assigned to nobody

[2022-05-12 00:23] jni commented on #4470
Fixed by #4475 and #4476. With thanks to @tlambert03!

[2022-05-12 00:23] #4470 closed, assigned to nobody

[2022-05-12 00:50] #4427 closed, assigned to goanpeca

[2022-05-12 01:47] davidpross commented on #2596
If you set the label layers features with a Pandas DataFrame that has a named index would it make sense to populate the 'index' column in properties automatically? I was expecting the DataFrame index to be the label lookup 'column'.

[2022-05-12 02:25] #4146 closed, assigned to nobody

[2022-05-12 07:55] #4501 closed, assigned to nobody

[2022-05-12 09:40] haesleinhuepf commented on #2596
I also stepped into that trap. It becomes tricky when you have the same label over time and multiple measurements over time.

Our use-case is a table with columns "label" and "frame" which technically form the index together.

[2022-05-12 16:13] jaimergp commented on #4484
This is the same issue reported in #4247, which means that #4462 was not the only fix we needed. I guess there's a separate method for uninstalls I didn't see, because _installing_ plugins does work, right?

[2022-05-12 16:20] jaimergp commented on #4484
That said, I can only see one method that creates the mamba process... and that one is patched already. Maybe we should pass `--no-shortcuts` to the plugin install commands anyway. I'll see if a PR with those changes fixes it!

[2022-05-12 16:27] goanpeca commented on #4484
Will try that one. But I checked yesterday with rc1 and plugins where installing 🤔

[2022-05-12 16:43] jaimergp commented on #4484
I think it might be somehow exclusive to the AWS Workspace configuration. Check the PR I opened on #4520. The artifacts will be ready in the CI output. I can't log in my Workspace now for whatever reason:

<img width="546" alt="image" src="https://user-images.githubusercontent.com/2559438/168126425-9bc7d848-9ec5-4461-a07e-a925b64782aa.png">

[2022-05-13 12:21] jaimergp commented on #4484
Fix now available in #4520

[2022-05-13 13:23] dagewa opened #4526 "inverted points depth with `translucent_no_depth` blending"
## 🐛 Bug

I am not sure what the `translucent_no_depth` blending mode is intended for, but in 3D its behaviour took me by surprise. The apparent ordering of points away from the viewer appears to be inverted when switching between `translucent_no_depth` and `opaque`. Is this expected?

## To Reproduce

Steps to reproduce the behavior:

1. View some points in 3D
2. Switch between `translucent_no_de

[2022-05-13 16:52] tlambert03 opened #4527 "Re-setting shapes data to initial data fails, but only in 3D"
@dagewa reported this [bug on imagesc](https://forum.image.sc/t/failing-to-update-shapes-layer/67010).

This is a strange case where setting `shapes_layer.data` to the exact same data that instantiated it causes an error, but *only* if the viewer is in 3D mode (normally, we'd expect this sort of error to occur in the view logic, not in the model itself).

simple example:
[code]

<details>

<summar

[2022-05-13 18:47] alisterburt commented on #4526
thanks for the report @dagewa !

I think this is expected, just slightly counterintuitive... the order is set by depth when depth checking is enabled, in the absence of depth checking (`translucent_no_depth`) the order is set by draw order instead. In this specific case, draw order is reversed relative to the depth.

I don't think the `translucent_no_depth` blending mode should ever be appropriate

[2022-05-13 18:54] alisterburt commented on #4419
cc @junxini this is the 'dataset navigation' we discussed - the UI is obviously not great and should probably be replaced by some of @Czaki's work over at napari/superqt#80

It could be that 'workflows' are defined in one space then applied over many spaces

[2022-05-13 19:15] alisterburt opened #4529 "`LayerList` context can only access the `Selection`"
## 🐛 Bug

The layer list context is currently updated when the selection changes, passing an event from which the `Selection` object (`layers.selection`) can be accessed.

https://github.com/napari/napari/blob/ead5e5051aa0bb850b52e72cfed2bcd5c26b877b/napari/components/layerlist.py#L69-L71

The layer list itself is not available from the `Selection` object. As a result, context which requires info

[2022-05-13 19:26] dagewa commented on #4526
Thanks @alisterburt! Makes sense. I wonder if this mode has a valid use case in 2D for points? In 3D it is pretty weird - when displayed alongside some shapes and rotated, the effect is bit like a brain-scrambling optical illusion...

[2022-05-13 19:27] junxini commented on #4419
thank you for tagging me Alister, seeing the prototype really helps bring it to life!

I imagined 'workflows' would be applied across multiple images/files and can definitely see a use case for having it applied across multiple spaces. Excited to see how spaces will improve the user experience

[2022-05-13 19:37] alisterburt commented on #4419
totally - there are lots of potential use cases where the data in a 'space' is not well represented by a single file on disk. I think having workflows start from layers in napari spaces is probably more flexible than assuming batch processing will always work over a set of files 🙂

This would separate the 'batch processing' idea you're thinking about into
- develop simple ways to load batches of d

[2022-05-13 19:44] alisterburt commented on #4526
I can't think of one, maybe @brisvag will chime in with something that's not obvious to me though!

I'm going to close this and open a separate issue for discussing whether or not to keep `translucent_no_depth` for points - cheers!

[2022-05-13 19:44] #4526 closed, assigned to nobody

[2022-05-13 19:48] alisterburt opened #4530 "Proposal: remove `translucent_no_depth` from points layer"
## 🐛 Bug
in #4526 @dagewa noticed some counterintuitive behaviour when using the `translucent_no_depth` blending mode for points in 3D.

Is there a reason for this blending mode to be available on the points layer? It looks to me like it's a more general thing added by @kevinyamauchi for volumes/labels in 3D

It's also possible that we want to remove this blending mode from 2D

[2022-05-13 20:08] psobolewskiPhD commented on #4530
I've always wondered about that one—it doesn't seem like it should do anything in 2D.
Also, it's not super well documented?
For example, not mentioned here:
https://napari.org/guides/layers.html?highlight=blending#blending-layers
https://napari.org/api/napari.layers.Layer.html?highlight=blending#id1

As someone who would like to add a blending mode (waiting on vispy PR bugfix https://github.com/vi

[2022-05-13 22:26] Czaki commented on #4419
In the exception of loading time, I still do not understand why layer groups do not solve this problem? There is no problem that the writer could read multiple files from the disc, and return single layer groups.

Maybe above some number of layers, the layer list should have a search box? and the option Show this with hiding all others?

Or do you mean about situations where you would like to use

[2022-05-14 14:19] kevinyamauchi opened #4531 "Centralized place for napari workshop materials"
## 📚 Documentation
As discussed with @chili-chiu , @haesleinhuepf , @alisterburt  in #4528 , it would be nice if we had a centralized place to host napari workshop materials. In my mind, this "workshop repository" would have the following characteristics:

- community members can contribute materials freely (e.g., review is to make sure the content fits the scope of the repo and flag any major err

[2022-05-14 15:02] kevinyamauchi commented on #4530
Hey everyone. As @alisterburt  said, `translucent_no_depth` was primarily added to fix blending points and volumes/labels: (https://github.com/napari/napari/issues/3343). I think it's probably fine to special case it for Points and 2D. Should `additive` also be excluded? Whatever is done for Points should probably also be done for Shapes.

Thanks for the heads up about the documentation, @psobolew

[2022-05-14 15:54] psobolewskiPhD commented on #4530
Should `translucent_no_depth` be removed in these cases or should *it* actually be the `translucent` blending? 💭

[2022-05-14 16:34] chili-chiu commented on #4531
Thanks @kevinyamauchi for making this issue. Lowering the contribution barrier and making resources easier to find/reuse would be valuable for the community!

I'm curious what's your thought on what materials would be good to be part of napari.org (under Usage/tutorial, how-to, etc.), versus a separate workshop repo? Should we lower the barrier to contributing to napari.org?

[2022-05-15 23:07] tlambert03 opened #4532 "Accessor/Processor framework"
## 🧰 Task
inspired by some conversations with @ctrueden, I'm going to start working on a more general "accessor/processor" framework.
- An `accessor` is a function that can return an instance of a given type (for example, `napari.viewer.current_viewer` is an "accessor function" that we already have that can return an instance of `napari.Viewer`... whatever happens to be the "current" viewer).
- A

[2022-05-15 23:42] alisterburt commented on #4532
this seems powerful - glad to hear you see a path forward which opens up alternative 'processors'

This sounds like something that could be used for plugin interop, pretty exciting!

Do we want to rely on type annotations of custom types here? Would defining something as a 'processor' in a plugins manifest (with a reference to the python name) similar to 'command' be more flexible/similar to what

[2022-05-15 23:59] alisterburt commented on #4419
@Czaki I totally agree that layergroups can solve this problem - getting the GUI right feels really important though. Building on what you said, what do you think of the proposal below

<img width="518" alt="image" src="https://user-images.githubusercontent.com/7307488/168499909-d180f27f-6ae4-426e-ad5c-a90ace7e9425.png">

In the image above, the root nodes of the layer group tree are the 'spaces',

[2022-05-16 06:54] DragaDoncila commented on #4532
I really like this idea and am +1 on using it as a general framework for "when you give me <some_type> I perform <some_action>". I agree with Alister that a command pointing to a `python_name` whose type annotations determine a variety of side effects (like layers added to the `Viewer`) is fairly magic, especially once you get into developer defined behavior, but I think it's no less magic than `m

[2022-05-16 07:44] Czaki commented on #4419
So spaces will be a list of possible views for fast switching between them?

Something like multiple files panel from PartSeg https://partseg.readthedocs.io/en/latest/interface-overview/interface-overview.html#multiple-files-panel but with search (and maybe a better option for renaming elements?

[2022-05-16 08:51] brisvag commented on #4530
I would actually vote for removing from the gui, but allowing in code (just like we do for interpolation modes for the Image layer). There's surely someone who wants it out there...

[2022-05-16 09:14] brisvag commented on #4419
While layer groups will help *in general* they don't actually address the same problem. My proposal for spaces is intended to solve the problem of **data that does not belong to the same coordinates system**. I think [this comment above](https://github.com/napari/napari/issues/4419#issuecomment-1113090992) explains well why layergroups are not a solution. Indeed, `PartSeg`'s file panel is basicall

[2022-05-16 10:17] Czaki commented on #4419
Of course, this cannot be used directly because it is pinned to the inner PartSeg data representation (which is still different from napari even after some migrations). I would link it as an example of an idea/interface.

PartSeg uses a single entry point file load so a single entry could represent multiple files. Also, the code of the widget does not assume that it needs to be a real file path bu

[2022-05-16 12:08] psobolewskiPhD opened #4538 "Shapes Layer: Unable to draw horizontal/verticle line"
## 🐛 Bug

It seems impossible to draw a horizontal or vertical line.
Perhaps related to:
https://github.com/napari/napari/pull/3259

## To Reproduce

Steps to reproduce the behavior:

1. Open napari
2. Add shapes layer
3. Try to draw a horizontal or tercile line

https://user-images.githubusercontent.com/76622105/168588334-68040e6d-2943-427e-9f92-7c66f644a627.mp4

You can see the line skipping fro

[2022-05-16 12:17] brisvag commented on #4419
I think I wasn't very clear; when I say that they "do not share a coordinate system,", I don't mean simply that they are "in different places" or that they use different transforms; what I mean is that the "world" of layer 1 is not the same as the "world" of layer 2.

For example, imagine you collect two images (`i1` and `i2`) on you microscope, and load them as 2 layers. They are images from two

[2022-05-16 12:42] Czaki commented on #4419
I agree. :)

But before implementing this I would love to see multiple columns docking areas for a clear interface.
And I think that It could be simply implemented as a plugin.

[2022-05-16 12:53] alisterburt commented on #4419
Counterpoint from discussion with @sofroniewn - if the spaces are really separate then why would the camera/dims be the same when changing spaces?

Because of that I'm now convinced that some ergonomic 'multi viewer' situation is actually what's most correct/flexible

People have discussed 'tabbed' viewers in the past as an implementation of this - I think for large numbers of viewer states a sear

[2022-05-16 13:03] Czaki commented on #4419
Searchable list widget or even searchable QTreeWidget. Searchable combobox is not a good choice for 100 entries with names generated by some reader.

[2022-05-16 13:11] alisterburt commented on #4419
@Czaki don't those two take up a lot more space?

[2022-05-16 13:16] Czaki commented on #4419
Yes, they take but are much more readable. And allow to easily understand the current state.
 Maybe the proper solution is to have QComboBox by default and a larger widget after clicking some button.

[2022-05-16 13:20] alisterburt commented on #4419
@Czaki sounds great to me!

[2022-05-16 13:21] tlambert03 commented on #4532
Super good/important questions... I don't really see this as a move away from the "just python" code philsophy, but rather more as a way to try to satisfy napari's/@jni's desire to have something that A) doesn't explicitly have to depend on napari and/or directly use a napari `viewer.add_image` API while still B) achieving the _semantic_ flexibility we need to have when someone says "hey, here's a

[2022-05-16 13:27] Czaki commented on #4419
And when you think about the size you need to remember that this is not only the size of a selector, but there needs to be an interface for managing the state. "Create space", "Delete space", "Rename space", "Update space" etc. And I'm not sure if such interface should be only in right-click menu

[2022-05-16 13:29] kevinyamauchi commented on #4530
Ah, sorry for being unclear. My "special case" I meant exclude the options from the GUI. I agree that we should still allow people to set them via the python API.

[2022-05-16 13:32] brisvag commented on #4419
Correct me if I'm wrong, but this just seems a difference of semantics and UX to me (tabbed vs dropdown vs tree), rather than of feature and implementation.

Indeed, camera and dims should not be the same, but reusing the model and restoring state is easier and just as effective until we can support real multi-camera/multidims/multicanvas.

[2022-05-16 13:40] tlambert03 opened #4539 "[task] Move `ImageData` and friends to a new `image-types` package?"
## 🧰 Task
Should we resuscitate `image-types` and move our `NewType` things into their own package that can be easily used/imported without napari?  Could come along with a broader explanation... (I find myself needing to explain that a fair amount, as in https://forum.image.sc/t/how-does-napari-know-that-imagedata-is-an-image/65577, https://napari.zulipchat.com/#narrow/stream/212875-general/topic

[2022-05-16 13:42] alisterburt commented on #4419
@brisvag the visual stuff is definitely semantics - whether a space is just a set of layers or a more complete description of viewer state is pretty important though?

[2022-05-16 14:14] brisvag commented on #4419
Right - I think it's because I subconsciosuly was already assuming that viewer state should be preserved when going back to a space, but I guess I never explicitly stated that. So yeah, I think we agree that ultimately we want that :P

However, one thing I think is very important: this should be something *contained* by the `ViewerModel`. I don't want to juggle 100 different `Viewer` objects. I Im

[2022-05-16 15:01] alisterburt commented on #4419
Totally agree :) especially on the juggling multiple viewers!

yay, seems like we have some consensus

[2022-05-16 23:47] Czaki commented on #4494
Why creating a reader that will read labels (from tiff for example) and csv at once and produce a new layer from it is not a proper solution?

[2022-05-17 00:44] DragaDoncila commented on #4539
Not sure if I fully understand the complexity but I do remember when opening PRs to add napari to dependencies for plugins importing types but nothing else, there was some interest in expressed in a lighter weight `napari-types` package plugins could depend on instead of the full library. If I'm understanding this proposal correctly, I'd be +1 for that

[2022-05-17 00:47] tlambert03 commented on #4539
yes, that's the proposal... but note that if you/others were only importing `napari.types` for the purpose of type annotations, we do try hard (and test) that you could do so only as a forward ref type annotation (i.e. not adding napari to deps).  so this would have worked too:

[code]

(but making it an independent package would just make that a little bit easier without all the boilerplate, and

[2022-05-17 05:37] haesleinhuepf commented on #4494
Great idea! In the future, with NGFF, we could store label images together with tabular data as meta data.

How would you write a loader for pair of image+table data? Must they come together as a zip file? Or must they have similar names?

[2022-05-17 06:07] DragaDoncila commented on #4532
Just want to clarify that I *fully* support this level of magic. Not only are plugin developers likely already familiar with the concept, through `magicgui`, but it also provides the best balance between explicitly coding common side effects (like adding layers to viewer) and them happening completely implicitly. I just think we should document clearly so that the plugin developer isn't surprised

[2022-05-17 06:32] Czaki commented on #4494
Both are options. You could provide data in single bundle (zip, tar, h5, etc), or you could use the name that could be guessed based on the label file name.
From my point of view, both solutions reduce the probability of user error.

My example from PartSeg is checking if next to the image file there is a file with the `_mask` suffix to load the masking layer.

Next to such reader should be wrttte

[2022-05-17 14:25] alisterburt commented on #4532
@tlambert03 thank you for taking the time to write such a wonderfully thorough reply! Seeing the different approaches to the 'where do the semantics come from' laid out so clearly is extremely useful.

Totally agree with your assessment here - complete lack of awareness of napari/data semantics is too hard/magic to be reasonable

That leaves us with:

I don't like 2 because reusing plugin code bec

[2022-05-17 15:09] ctrueden commented on #4532
I would like to add my voice here against (3). The original ImageJ assumes it is a standalone GUI application, and so plugins do everything explicitly like constructing and showing dialogs and images, which are built on GUI toolkits directly. So then there is no way to use the associated algorithm code without these side effects happening too. Whereas with ImageJ2 we have a declarative model with

[2022-05-17 15:12] alisterburt commented on #4532
@ctreuden good point - I hadn't thought of 3 as an explicit opportunity for plugin developers not to layer their code, super useful!

[2022-05-17 15:19] alisterburt opened #4542 "Issue with rendering front face of volumes on visibility change"
## 🐛 Bug

Someone just came to me with an interesting bug, after changing the visibility of an image layer in 3D extra content is rendered on the front face of the volume.

https://user-images.githubusercontent.com/7307488/168844559-469abde7-da53-4a0f-8279-194b4be54715.mov

look at the very 'top' of the volume, before and after toggling visibility - there is a 'shadow' layer on the surface which w

[2022-05-17 15:23] brisvag commented on #4542
Wow, bizarre! Yeah it does look familiar... It's very strange that it should trigger with visibility changes. I don't have a quick intuition abouit the cause. Can you add details about the environment?

[2022-05-17 15:24] alisterburt commented on #4539
Super supportive, let's resuscitate [the repo](https://github.com/napari/image-types)

I see it's called `imtypes` already, slight prefence for `imgtypes`

Possibly stupid but do we want to keep image types separate from points/surface etc (because they're not images?)

Might be overkill but we could have `imgtypes` for image types and `napari-types` to cover that + the rest, `napari-types` depend

[2022-05-17 15:37] alisterburt commented on #4542
[code]

[2022-05-17 15:37] alisterburt commented on #4542
reproduced on both intel mac and m1 - will add a simple repro later

[2022-05-17 16:15] andy-sweet commented on #4532
Lots of interesting discussion, but I had a higher level question: is this framework intended to be only for plugin developers? Or for napari developers too?

I think the framework sounds great for plugin devs, as it's a formalization of some of the behavior we already have and for the reasons discussed above.

For napari devs, I'm less sure, mostly because I haven't touched many areas of the code

[2022-05-17 16:22] tlambert03 commented on #4532
definitely not just plugins.  I see this being handy for end-users as well as internally (actually, likely internally first, then for plugins)

I think the most relevant non-plugin, end-user example is magicgui.  Magicgui is _not_ a plugin, it's just a tool that can be used by plugins... but the little mini dependency injection and return type processing framework in magicgui seems to be going pre

[2022-05-17 16:26] tlambert03 commented on #4532
another point, this dependency injection thingy is already used/important in our action_manager.  so formalizing/extending it here would help the action_manager be the centralized thing that controls all abstract callables that take a thing and do a thing

[2022-05-17 16:40] brisvag commented on #4532
Great discussion! I have (almost) nothing to add that wasn't already said; looking forward to seeing the progress.

Actually, this probably won't be enouugh either, cause there's still ambiguity between, for example, a `3x3` image vs 3 points.

[2022-05-17 17:52] Czaki commented on #4539
I have a small question related to types from `image-types`. Why is the channel assumed to be the last axis?
Of course, if we think about RGB, it is evident as it is simpler for rendering. But when thinking about data processing, it is better to have Channel as first axis because then every channel occupies continuous memory space.

Or did I miss something?

[2022-05-17 17:55] tlambert03 commented on #4539
I assume you're referring to the comment [here](https://github.com/napari/image-types/blob/eb2fecab25f02f0c5c3cb9b47baa8c7f1b978437/imtypes/_types.py#L14) ...

since that comment/package is over 3 years old without much discussion, I think that's probably just a first stab.  I'd agree with you that channels would (conventionally) only come last in the case of RGB/RGBA.

[2022-05-17 18:08] tlambert03 commented on #4539
opened https://github.com/napari/image-types/pull/2 for more concrete discussion

[2022-05-17 23:55] sofroniewn commented on #2596
@andy-sweet curious your thoughts here/ how this intersects with any of your current work

[2022-05-18 00:15] sofroniewn commented on #4527
Maybe @Carreau can check this out - we recently made some changes in shapes - i'm not sure if this is on main or 0.4.15 though

[2022-05-18 00:27] sofroniewn commented on #4419
Just catching up here - this is where I might disagree. If dims & camera etc are changing then you really have different viewers as a viewer contains a dims and camera.

Some of this was discussed in #3956 and #3955.

We could have a top level API like `app` and then something like

[code]

If you only have one viewer you'd just be working with `viewer = app.viewer` as before?

What does everyone

[2022-05-18 00:48] sofroniewn commented on #4532
catching up here - I'm broadly on board. I like the idea of formalizing and generalizing the pattern we're already using for magicgui and think that's probably the place to start implementation wise (I havn't looked at #4543 yet, but it sounds like that's the path there).

Something I like is that it creates the opportunity for us to explicitly adjust the return types of the `accessors` before inj

[2022-05-18 00:54] tlambert03 commented on #4532
yep!  All of those things would be much easier with this sort of abstraction.

[2022-05-18 06:54] Czaki commented on #4419
No. You just could have to serialize/deserialize operations for state and use it to save/restore state with information about dims and camera positions.

This of course will be slower than having multiple viewers with all data in GPU memory but maybe nicer for less powerful computers user.

[2022-05-18 08:48] jni opened #4546 "NAP-1 needs to be added to TOC"
## 📚 Documentation

NAP-1 is on the website:

https://napari.org/naps/1-institutional-funding-partners.html

but it is not in the naps page:

https://napari.org/naps/

We should add it and probably add some form of reminder in the NAP template or in NAP-0 to add new ones to the table of contents.

[2022-05-18 10:14] brisvag commented on #4532
Oh wow, that's amazing! Just stick @Czaki's [nme](https://github.com/Czaki/nme) on it and we're good to go :D

[2022-05-18 10:25] brisvag commented on #4419
This is the way I see it: if you think of the viewer + dims + camera as your photography room/light setup/camera, layers are the objects and people that you're imaging, and spaces encode the *way* you arrange those subjects in your room (and which ones). At any times you should eb able to pick up an object from your storage and stick it in the room. You should also be able to reconstruct the room

[2022-05-18 11:03] Czaki commented on #4419
Adding serialization/deserialization layers spaces will allow to save it in one viewer and load in another.

[2022-05-18 14:27] hanjinliu opened #4547 "Cannot launch a viewer from VSCode Jupyter extension."
## 🐛 Bug

`napari` is not working in Jupyter notebook opened in VSCode.
(I remember it used to be OK but I have no idea when it stopped working because I've not been using Jupyter notebook these days.)

## To Reproduce

[code]

<details><summary>error message</summary><div>

[code]

---
</div></details>

## Expected behavior

## Environment

 - Please copy and paste the information at napari info

[2022-05-18 15:22] psobolewskiPhD commented on #4547
I can't reproduce this in a notebook nor in the python interactive window. Slightly newer version of the Jupyter extension.
Are you sure you have the right kernel launched, with an env that has napari et al?
I believe the default is what you have selected in the bottom bar of the VS Code window, which may be the last one you used. Once you have a notebook you can check in the top right corner.
Cou

[2022-05-18 16:17] hanjinliu commented on #4547
Hi @psobolewskiPhD ,
yes, the active kernel is the correct one (I can confirm that the environment I used is correct from the paths in error messages).
Also, updating `typing_extensions` didn't change anything.
I *guess* it's a deeper problem since the error came from `import_module`... maybe importing something using `import_module` with a relative path is broken in certain condition?

[2022-05-18 16:21] lorenzocerrone opened #4548 "Crash in 3d label rendering"
## 🐛 Bug
Similarly to  #3726, I get the following error when rendering a labels layer in 3D

[code]
## To Reproduce

Steps to reproduce the behavior:

1. Adapted from #3726
[code]

## Expected behavior

The volume is not rendered, but the viewer does not crash completely.

## Environment

 - Please copy and paste the information at napari info option in help menubar here:
[code]

 - Any other rele

[2022-05-18 22:50] #6 closed, assigned to nobody

[2022-05-19 00:27] andy-sweet commented on #2596
I think I agree with pretty much everything said here, but let me break it down.

1. Agreed with the initial request of documenting how an `index` is treated as a special case in labels layers. I intend to write [a general guide to properties/features across layer types](https://github.com/napari/docs/issues/23), but I think this belongs in [the existing labels layer tutorial](https://napari.org/h

[2022-05-19 09:42] cnstt commented on #4548
I could reproduce it also! Even when switching from ndisplay=2 to ndisplay=3 in the GUI

[2022-05-19 09:48] cnstt commented on #3771
This issue might be relevant as a new issue has been reported with broken 3D labels view: https://github.com/napari/napari/issues/4548

[2022-05-19 09:51] cnstt commented on #3726
A new issue with a similar issue with 3d label rendering has been opened here #4548 :( I don't know if we should reopen this one, or work on the new issue directly. But this seems to be a very important bug as labels rendering is broken in 3D!
EDIT: after some research I found that it is a duplicate of https://github.com/napari/napari/issues/4415

[2022-05-19 09:57] cnstt commented on #4548
After some research I found out that this issue is a duplicate of this one : https://github.com/napari/napari/issues/4415
So maybe we could close that one, and give further feedback on the existing one :)

[2022-05-19 10:03] Czaki commented on #4547
This message is most often connected with circular import. But I cannot found it

@hanjinliu could you install latest develop and verify if problem stills is present?

[2022-05-19 10:38] lorenzocerrone commented on #4548
Nice! Thanks a lot. I will keep an eye on it :)

I tested fixing `vispy==0.9.6` as in #4415, and it's working ok for me.

I am not sure it's helpful feedback, but anyway: from #3771 this seems to be a recurrent issue with testing. Wouldn't it be better to be slightly more 'conservative' and fix the vispy major version to something like `vispy<=0.9.x` in the napari build instead of requiring the la

[2022-05-19 10:38] #4548 closed, assigned to nobody

[2022-05-19 10:49] brisvag commented on #4548
I guess we could consider using vispy== rather than vispy>=, seeing how often we both depend on something new in vispy, and break something from vispy's previous version.

[2022-05-19 12:06] hanjinliu commented on #4547
I installed `0.4.16rc2.dev31+g48cdf4d1` but still ran into the same error...

[2022-05-19 12:21] Czaki commented on #4547
And if you add the line `from napari.utils.misc import _is_array_type` before import napari? (I cannot reproduce error so need your help)

[2022-05-19 14:31] hanjinliu commented on #4547
`from napari.utils.misc import _is_array_type` resulted in the same import error.

I also tried

[code]

and I got

[code]

Next I tried to find why `_is_array_type` was lost.

[code]

[code]
It's weird that other functions like `_file_has` exist but only `_is_array_type` was lost.

[2022-05-19 14:36] Czaki commented on #4547
could you attach `misc.py` to comment?

[2022-05-19 15:19] hanjinliu commented on #4547
I finally found the reason why it was happening!
Once I fail to pip-install `napari` because in a program it was still running. After that, the newest `napari` have always been downloaded in the place called `"C:\Users\liuha\AppData\Roaming\Python\Python39\site-packages"` instead of the correct environment for some reasons.
What makes things more confusing is that IPython and VSCode type checker e

[2022-05-19 16:26] andy-sweet commented on #4419
Trying to catch up here, so I'm going to try to summarize what I understand from the discussion above. Overall, I understand the motivation for the feature and think there are some solid ideas already.

This is effectively how I think about slicing/sampling the layers too. We're using the current state of (dims, camera, layerlist) as input and generating the sliced/sampled data + other stuff that

[2022-05-19 18:17] sofroniewn commented on #4419
I think we absolutely want to support full serialization of the whole viewer state to disk, but I see this as more akin to saving and loading files.

I can see how memory limits could become a concern, but maybe we can address them by not sending over data from viewers that you're not looking at.

Great, I think what I'd like to see are API proposals and architecture diagrams here.

I'm still most

[2022-05-19 19:41] melissawm commented on #4306
Hello, folks! Here's a proof of concept for this. I used the workflow that @goanpeca mentioned above (thanks!) and set up two repos:

- https://github.com/melissawm/napari/tree/two-repo (main napari repo; this branch doesn't contain the docs. It uses the workflow trigger to build the docs on the second repo, upon commits to the "two-repo" branch.)
- https://github.com/melissawm/napari-docs (hosts

[2022-05-19 19:53] andy-sweet commented on #4155
@JoOkuma , @pmcesky : in that case, I'm closing this. Feel free to reopen if you think that's a mistake.

[2022-05-19 19:53] #4155 closed, assigned to nobody

[2022-05-19 20:05] tlambert03 commented on #4306
I think it's lovely!

[2022-05-19 20:24] andy-sweet commented on #4226
The issue here is mostly with the shapes data model (i.e. `ShapesList`), so maybe not. I tried to think of a workaround for the current API/implementation (other than using the `face_color` setter in the description) and couldn't come up with anything better / more efficient.

As part of the new property API / style encoding work, we may end up fixing this, but it's probably fixable without it too

[2022-05-19 20:49] andy-sweet commented on #3977
I temporarily checked out v0.4.13 and reproduced this issue: the horizontal/vertical only scaling control points do not work for rectangles and maybe some other shapes, though they do work for polygons. I found the same behavior for the latest release (v0.4.15), but it seems to be fixed on the main branch.

I also think this is effectively a duplicate of #4262, so I'm assuming the same fix for tha

[2022-05-19 20:52] andy-sweet commented on #3977
Actually, I'm feeling pretty confident that #4291 fixes this so I'm closing. @tdmorello : if `main` or v0.4.16 (once it releases) does not work for you, feel free to reopen this issue.

[2022-05-19 20:52] #3977 closed, assigned to nobody

[2022-05-19 21:31] andy-sweet commented on #3819
Looks like this was fixed by #3729 and maybe again by #4155? @pmcesky , @Ciro1990 : are we good to close this specific issue now?

[2022-05-19 21:38] pmcesky commented on #3819
Hi Andy,

I'm not sure about #3729, but the issues I described here and in #4155 were fixed.

[2022-05-19 21:50] andy-sweet commented on #3819
Thanks for the quick response! In that case, I'm going to close this.

@Ciro1990 : I think your remaining issues are different enough from the original issue described here, but if you feel strongly, please reopen this issue. Or feel free to create a new one!

[2022-05-19 21:50] #3819 closed, assigned to nobody

[2022-05-19 22:03] andy-sweet commented on #3753
Looks like this is fixed in the latest release (v0.4.15) and maybe before, though I'm not sure what fixed it. We could run `git bisect` if we're curious enough, but maybe instead - @hanjinliu can you confirm this is fixed and close this issue if it is?

[2022-05-19 22:41] andy-sweet commented on #3725
@Czaki : I'm not sure, but I think that #3754 might have resolved the issues you described in the comments here. If so, can you close this?

[2022-05-19 23:11] andy-sweet commented on #3688
I could reproduce this on v0.4.12 at least using the RGB image example (`examples/add_image.py`), though `Image.contrast_limits` did not change only the appearance of the image.

I cannot reproduce it on v0.4.15 or on main, so I think this has been fixed now. I'm struggling to understand the bug or a simple test to check it, so I'm not curious enough right now to `git bisect` this to find what fix

[2022-05-19 23:41] sofroniewn commented on #4306
Thanks for sharing this @melissawm - I'm ok with it - I see the examples + all docs have moved to the second repo, while I think it is a slightly larger contribution burden (for example PRs might be required to both repos to update an API), having a smaller main repo, all the assets living together, and avoiding git-lfs is nice too.

Very curious what @jni things about the approach

[2022-05-19 23:43] tlambert03 commented on #4306
ah, I hadn't noticed the examples moving.  slight preference for leaving those in the main repo.  (Updating an API should only be on the napari/napari side... updating non-autogenerated _prose_ around napari docs would go to the docs repo)

[2022-05-20 00:17] melissawm commented on #4306
No problem - the examples are fairly self contained os that doesn't change much on the building side. To be clear, this is an option but if you folks decide to follow another path that is totally fine - I just wanted to see if it could be done. In any case I agree with @jni that this should probably be a NAP.

@sofroniewn you would indeed need two PRs if there are API changes that break the narrat

[2022-05-20 00:48] #4546 closed, assigned to nobody

[2022-05-20 09:35] #3725 closed, assigned to nobody

[2022-05-20 10:45] Czaki opened #4553 "`napari.layers.image.Image` constructor is not documented"
## 📚 Documentation

`napari.layers.image.Image` constructor is not documented. https://napari.org/api/napari.layers.Image.html
It is caused because Image ins thin wrapper around `_ImageBase` that is not documented as a private class.

Reference:
https://forum.image.sc/t/error-in-napari-returning-layerdatatuple-3d-image-with-translation/67299

[2022-05-20 12:47] hanjinliu commented on #3753
Seems it's not fixed on my side... got the same error.

Here's my current environment. I also tested with v0.4.15 and v0.4.16rc1.
[code]

[2022-05-20 12:47] #4547 closed, assigned to nobody

[2022-05-20 13:13] jojoelfe commented on #3688
Yes, seems to be fixed.

[2022-05-20 13:13] #3688 closed, assigned to nobody

[2022-05-20 14:25] aeisenbarth commented on #4384
I recently fell into this problem and created a test case, not knowing that this issue exists already.

- This happens for most colormaps with **more than 2** control points (like `viridis`; not for `gray` and also not noticeable for `gist_earth`).
- It becomes more prominent with a large **number of labels**.
- I suspected floating point precision and checked that all relevant variables actually

[2022-05-20 15:07] andy-sweet commented on #3753
Ah sorry, I can reproduce this on `main` when running the example you gave as a script. But I cannot reproduce it when running in the interactive console in napari. So this should definitely stay open.

I wonder if this is related to #3998.

[2022-05-20 16:04] #4527 closed, assigned to nobody

[2022-05-21 14:16] alisterburt commented on #4419
I really like this. One thing I would like is to maintain our current `Viewer` API as the primary creation API in script world and having an 'accessor' for the current `app` if it is needed

something like

[code]

rather than

[code]

these are details that can be worked out as we go, overall I'm super excited about this!!

[2022-05-21 14:43] tlambert03 commented on #4419
I haven't read everything carefully... so forgive me if this was covered,  but:
- my first thoughts are with @jni: "isn't this just multiple viewers?"
   - it seems like @brisvag's primary comment in response to @jni saying "isn't this just multiple viewers?" was "yes, but I have _hundreds_" of them.  Which doesn't necessarily mean that thinking of this as multiple viewers is incorrect, but just t

[2022-05-21 15:08] Czaki commented on #4419
Part of the layers should be sharable between spaces/states. Something like data with different interpretations.

[2022-05-21 15:12] tlambert03 commented on #4419
currently the layer _is_ the interpretation of the data... (i.e. it's a tight coupling between `data` and some display properties) but once we abstract out the concept of a "data source", then it would be much easier to accomplish this, as multiple layers (i.e. "interpretations") could share the same data source.

[2022-05-21 15:16] alisterburt commented on #4419
Perfect summary! It feels like we've reached consensus here on 'spaces' being multiple viewers.

I agree that being able to swap the layerlist in and out would be great and a good example of isolation being well done but I can't see when this would be necessary/more appropriate than switching viewers in the case where we have great viewer switching functionality - do you agree here?

I think being

[2022-05-21 15:21] tlambert03 commented on #4419
It would be more appropriate when (and only when) you wanted to keep the _other_ items in the `ViewerModel` (i.e. `axes`, `camera`, `dims`, `grid`, etc...) constant, but _only_ change the set of layers. (not sure if that's the case here... but that's when)

In the past, @sofroniewn and I have enjoyed thinking about the `LayerList` as the (view-independent) object that might serve as a good unit to

[2022-05-21 15:38] alisterburt commented on #4419
I'm with you, this has got my mind whirring and I think there's a useful nugget here. It feels like we need to support
- have a single viewer with relatively constant depiction (i.e. only swap data in and out of a single viewer/set of layers)
- have multiple viewers with different depictions of (potentially different, or not) data

Once we have the separate `DataSource` concept, both become much e

[2022-05-21 18:52] sofroniewn commented on #4419
If we end up with a list of DataSources that can be placed into different layers then that might become a more natural unit to pass around workflows - I think key idea was we wanted what get's passed around workflows to view independent. This is maybe a side discussion though, best for another issue.

Completely agree with this - and if this isn't working this is something that we should fix regar

[2022-05-22 17:02] brisvag commented on #4419
I think my main initial confusion about this discussion boils down to this: what do we mean by a viewer?
- A literal `ViewerModel` with all the stucck that comes with it right now, a completely independent object that can spawn its own GUI (either as a separate windows, or as a tab, or whatelse)?
- Or just an object that "serializes" a layerlist and info about axes, camera, and dims? (I might be u

[2022-05-22 17:11] tlambert03 commented on #4419
I'm not sure bringing in the scope of the console in to this discussion is terribly illuminating.  It too is an independent entity.  Its scope is complicated (neither the viewer nor the app)... and if we wanted to, we could probably make it appear to have a scope/context that was more or less limited.  but again, I see that also as an orthogonal discussion.

well... I think your first description

[2022-05-23 14:24] #4484 closed, assigned to goanpeca

[2022-05-23 14:39] bpavie opened #4562 "napari doesn't start on windows 2021 Server R2"
## 🐛 Bug

Start napari on a windows server 2021 Server R2

## To Reproduce

Steps to reproduce the behavior:

Run the following code:

[code]

## Expected behavior

Should start napari

## Environment

## Additional context

This problem is fixed by editing the ``darknet/__init__.py`` file:
Add the following test to avoid the int conversion error of the

[code]

See the full code edited:
[code]

[2022-05-23 15:24] psobolewskiPhD commented on #4562
I *think* this has been solved in the latest `darkdetect`
https://github.com/albertosottile/darkdetect/pull/21/files
So I assume this napari PR: https://github.com/napari/napari/pull/4508 fixes the issue. It's on the 0.4.16 milestone, so the next napari release 0.4.16 should fix it.
I think you can test using a release candidate:
`pip install -pre napari -U`

[2022-05-23 15:51] AdvancedImagingUTSW commented on #1100
This is still a problem for me.  Even with 32GB of GPU RAM, cropping my data, and converting it to 8-bit.  File size of 1GB throws the error.

Using the following modules (some of which are unrelated) on my RedHat Linux machine:
[code]

Monitoring GPU memory with nvidia-smi -l 1 shows no spike in GPU memory or even GPU activity.

[2022-05-23 23:46] borchardt opened #4566 "viewer.camera.zoom assignment is ignored after viewer.camera.center assignment"
## 🐛 Bug

## To Reproduce

1. Execute the script below:

[code]

2. Drag the "change data" slider around a little bit
3. Notice that zoom level alternates between high and low when slider is moved
4. Open the console within the viewer
5. Now, complete the following loop a few times
    1. Click the "change data" slider and press the right arrow key to increment its value
    2. Run `viewer.camera`

[2022-05-24 14:07] #4271 closed, assigned to nobody

[2022-05-24 19:30] Czaki commented on #1100
this issue is 2 year old. Napari codebase strongly change. Could you post stacktrace? Best will be if you could use last rc (`pip install -U --pre napari`). This may help us to solve this problem.

[2022-05-24 19:55] AdvancedImagingUTSW commented on #1100
Previously was running napari 0.4.15.  Updated to 0.4.16.rc2.
Image size 1600 x 1600 x 900.  4.6GB.
Worth noting, I think this may be a Linux-specific problem.  Later in the day yesterday I was able to render a similar sized image on a Windows-based machine, with a similar GPU.

Full stacktrace below.

[code]

[2022-05-24 22:06] Czaki commented on #1100
Strange. Whole statcktrace is from vispy. It will be nice to reproduce it on vispy standalone and then report in vispy repository.
@brisvag ?

[2022-05-25 07:37] brisvag commented on #1100
As @tlambert03 said above, when you get thiese "CAnnot SIZE object" errors in vispy, they are never the real error; you will find that higher up in the stack trace. This problem is likely completely unrelated to this issue, seeing how it's not cause by memory problems. Making these errors better is something we really need to tackle (I thought we had an issue open for this, but cnanot find it).

P

[2022-05-25 15:19] AdvancedImagingUTSW opened #4570 "Misleading Stack Trace"
As recommended by @brisvag, opening a new issue.  When loading a larger image volume, get the following error.  At first glance, it appears to be a vispy issue, but higher up in the stack trace it appears unrelated to vispy. He recommends making the errors more informative.

[code]

The output in my terminal is as follows (which includes the automatic update process and error):

[code]

[2022-05-25 15:19] AdvancedImagingUTSW commented on #1100
Opened a new issue. https://github.com/napari/napari/issues/4570#issue-1248261860

Feel free to close out this issue.

[2022-05-25 15:50] gselzer opened #4571 "Napari does not allow widgets returning List[LayerDataTuple] to return an empty list"
## 🐛 Bug

napari promotes magicgui widgets with a return type hint `List[LayerDataTuple]` for situations where a widget returns an arbitrary number of layers.

That arbitrary number of layers cannot currently be zero.

## To Reproduce

Running the following widget in napari will show the error:

[code]
yielding the error message:

[code]
The actual check on the size of the returned list is [here](

[2022-05-25 16:30] #1100 closed, assigned to nobody

[2022-05-25 16:32] brisvag commented on #4570
Hi @AdvancedImagingUTSW! I still think this is not the full stack trace; where are you running tis from? Can you provide a minimal reproducible example so I can try it out here?

[2022-05-25 16:51] AdvancedImagingUTSW commented on #4570
No problem.

RedHat Enterprise OS.

GPU.  Depends what is available on the cluster, but typically a v100 or better:
![image](https://user-images.githubusercontent.com/42547789/170316001-2fc7431a-0cf5-4faa-bb2a-cd4bbeec1eb8.png)

Launching napari from a script.
[code]

Dragging and dropping this file into napari: https://cloud.biohpc.swmed.edu/index.php/s/rny9HeyktGksytb

Image displays properly in

[2022-05-25 17:55] Czaki commented on #4570
And what happens if you first switch viewer in 3d mode and then load file?

[2022-05-25 19:06] AdvancedImagingUTSW commented on #4570
If the viewer is switched to the 3d mode, and then the file is loaded:

[code]

[2022-05-25 19:10] AdvancedImagingUTSW commented on #4570
I also wanted to check what hardware vispy was aware of by printing vispy.sys_info()

[code]

[2022-05-25 21:53] andy-sweet commented on #3518
@Czaki : I can't reproduce this on `main` and looks like the vispy fix that @brisvag made should have been in napari for several months. If this is fixed for you too, please close this issue.

[2022-05-25 21:59] #3518 closed, assigned to nobody

[2022-05-25 22:05] andy-sweet commented on #3474
@alisterburt : I can reproduce this with v0.4.11, but I can't on `main`. Not sure what fixed it, but can you try to reproduce it and close this if you can't?

[2022-05-25 22:40] alisterburt commented on #3474
all looks good!

[2022-05-25 22:40] #3474 closed, assigned to nobody

[2022-05-25 22:49] andy-sweet commented on #3054
@tlambert03 : the error is gone now due to the change in implementation here (i.e. from properties to features).

As you add points, they will get nan values because `pd.DataFrame({'index': []})` will use a default dtype of float64 for the index column, and without an explicit `feature_default` for `'index'` we'll use `None` which will be coerced to `nan` for the float64 column.

I think that seem

[2022-05-25 23:09] melissawm commented on #4531
Since we are moving towards a "docs-only" repo (see #4306), we discussed at the Documentation working group today how the workshops could also fit under that repo. That way, all workshop content is also served in the main website, and built automatically with the docs. How does this sound, @kevinyamauchi ?

[2022-05-25 23:11] tlambert03 commented on #3054
hooray!

[2022-05-25 23:11] #3054 closed, assigned to nobody

[2022-05-25 23:29] alisterburt commented on #4531
@melissawm I think this assumes all of the content will be formatted in the same way which might be setting the 'contribution standard' a little high? It also means that people wanting to contribute workshops would have to deal with a very large repo

I would personally prefer a situation where people in the community who want to run workshops just have to create a repo with their materials, forma

[2022-05-26 01:07] VasudhaJha opened #4573 "Need better events for face color"
## 🚀 Feature

Can we get better events for face color that work for both points and shapes layers?

## Motivation

We are working on a plugin that displays different layers (points, shapes, label) as a table. In this table, we are also showing a point's face color and whenever it is changed in the napari viewer, we are modifying it in the table as well. However, we are not getting the required eve

[2022-05-26 01:24] cudmore commented on #4573
For what it is worth, I was just poking around in the vispy code and see it is relying on a number of face color events.

See file: [napari/_vispy/layers/points.py](https://github.com/napari/napari/blob/main/napari/_vispy/layers/points.py)
[code]

[2022-05-26 08:47] brisvag commented on #4570
Ok, so it seems that indeed the issue is the same as #1100. Your traceback shows this:

[code]

Which as far as I can tell means you're trying to allocate 23.3 GB of texture, when you only have a max texture size of `8192`. That's actually surprisingly low to me, looking at your GPU, but I'm not very famialiar with this hardware stuff. My laptop has `32768`, for comparison.

I'm not entirely sure

[2022-05-26 09:59] raacampbell opened #4576 "Napari erroneously downsamples image stack in X/Y on load"
## 🐛 Bug

I am using Napari 0.4.15 to overlay two 3D image stacks of the same size. When I do this in Fiji, I can load the stacks separately and merge perfectly. In Napari, however, one of the stacks appears downsampled in X/Y so the two stacks do not overlay.
![Screenshot_20220526_105123](https://user-images.githubusercontent.com/5427811/170464863-60a0ea2f-8dcc-476f-842d-a2951b07e20b.png)

## To

[2022-05-26 10:44] Czaki commented on #4576
Please verify 'scale' attribute for each layer.
Currently napari default reader do not respect scale from tifffile metadata.

Currently you may use reader from PartSeg plugin. Fix scale from console or  use plugin that provide interface to modify scale.

[2022-05-26 10:47] raacampbell commented on #4576
I am not defining the number of microns per pixel in any meta-data. One of the image stacks simply appears to occupy a smaller number of pixels on screen than it should. Exactly as shown in the image, above.

EDIT: Yes, the scales are wrong and I can fix the issue by editing them:

[code]

[2022-05-26 10:56] raacampbell commented on #4576
So I can manually fix the problem by setting the scales to 1, but why would napari display this behavior in the first place?

[2022-05-26 12:24] psobolewskiPhD commented on #4576
I can't replicate this with drag-n-drop or File open in a fresh napari.
Maybe you have a reader plugin installed?
You can check filetype associations and reader plugins here in the preferences:
<img width="1127" alt="image" src="https://user-images.githubusercontent.com/76622105/170486744-4b168dc9-bc02-4afd-b8da-65755fc25118.png">
Cool images btw:
<img width="1228" alt="image" src="https://user-im

[2022-05-26 12:29] Czaki opened #4754 "Links to other version of documentation contains invalid entries"
Another version combo box contains nonexisting versions and links lead to `localhost:3000`

![Zrzut ekranu z 2022-05-26 10-55-06](https://user-images.githubusercontent.com/3826210/170487799-02fdc608-9a5c-46df-a8d7-41ed727ea084.png)

[2022-05-26 12:45] raacampbell commented on #4576
I just tried drag and drop with the built in reader and that indeed worked fine. `FIle > Open File` continues to exhibit the problem. I can't see anything in the reader plugins which could cause this but I anyway disabled everything but the defaults (see attached) and the issue still happens.
![Screenshot_20220526_133144](https://user-images.githubusercontent.com/5427811/170488354-d0748155-c83c-45

[2022-05-26 12:58] AdvancedImagingUTSW commented on #4570
Out of curiosity, what GPU do you have on your laptop? I have a hard time believing it is more powerful than the GPU I have in a dedicated server.  https://www.nvidia.com/en-gb/data-center/tesla-v100/

I also don't see where I am trying to allocate 23.3 GB of texture.

https://github.com/napari/napari/blob/main/napari/_vispy/utils/gl.py

I guess I'm just confused.  The same error doesn't occur on

[2022-05-26 13:20] Czaki commented on #4570
this may be a bug in detecting available GPU memory rather than a real fail of allocation, but have no idea how to debug it.

I think that we still dancing around a bug in `vispy` itself and need to understand how to prepare a synthetic example that will reproduce the bug on pure vispy.

But I totally agree that `vispy` errors are hard to understand.

[2022-05-26 13:31] melissawm commented on #4754
Thanks for reporting!

[2022-05-26 13:50] brisvag commented on #4570
Yeah, no doubt your GPU is (a lot) more powerful; but clearly it advertises its `MAX_TEXTURE_SIZE` as much smaller.

I don't know how/if this relates *directly* with VRAM size... Maybe a GPU can have very small max texture size despite plenty of space in VRAM?

@nclack @perlman, you can probably help out much better here.

Actually, my bad, it's probably half of that. I just looked at this error:

[2022-05-26 13:52] psobolewskiPhD commented on #4576
In live napari the plugin reader behavior is tricky and really confusing.
I believe that File > open behaves differently than drag-n-drop, with only drag-n-drop respecting the bottom panel (File Extension Readers) which you set with the dialog (one time, always, etc.)
I think File > open still uses the top panel.
So you have `ndtiffs` and `napari-itk-io` above `builtins` so I'm guessing one of tho

[2022-05-26 13:53] Czaki commented on #4576
you may not define, but metadata of `ds_TM_RML_FVB_120dpi_220427_142730_25_25_ch02_chan_2_red.tif` contains information that pixel size is (0.35mm, 0.35mm) and  not provided z scale.

[code]

$$\frac{1}{72} \cdot 2.54 \approx 0.035 \mathrm{cm}$$

For labels tiff there is no information about pixel size.

So napari renders your data properly. It just show that your lableling process should also tak

[2022-05-26 13:56] raacampbell commented on #4576
Ok, thanks, that's clear now.

[2022-05-26 19:52] Czaki commented on #4576
Could I close this issue, or there are some unsolved problems?

[2022-05-26 21:20] perlman commented on #4570
8192 is not that small ;) It's the maximum size for each dimension [8192^3]. ~(`MAX_TEXTURE_SIZE` is for 1 and 2D arrays; I think `GL_MAX_CUBE_MAP_TEXTURE_SIZE` is the actual value we care about, but it will likely be the same.)~ (Edit: I think I misread what the cube map size limit applies to.)

As to why it's failing to allocated ~13GB on your 32GB card? At the moment, I don't have an answer.
I

[2022-05-26 21:28] raacampbell commented on #4576
Depends on you. Personally, I find this behaviour unexpected. Partly
because drag and drop behaves differently from File : Open, but also
because there is no visual indication why the scaling happens.

I think the ultimate way to resolve this is to have a radio button to
switch between pixels and microns and have an edit box for modifying the
scale. If you feel this is beyond the scope of the issu

[2022-05-26 22:47] DragaDoncila commented on #4576
@psobolewskiPhD I do think you've probably hit the nail on the head here as to why this is happening. @raacampbell you could verify this by checking `viewer.layers[0].source` and seeing which plugin opened your file when you get desired vs. undesired behavior.

You're right that it's super weird that File>Open doesn't match drag&drop. @psobolewskiPhD is right that this should all have been fixed f

[2022-05-27 07:15] brisvag commented on #4570
Oh wow, ok. Then I have no clue o.o.

Yup, this is definitely important.

[2022-05-27 22:00] borchardt commented on #4566
(Tagging @tlambert03 on this one, as my impression is that he's the dock widget expert. Not urgent, but would appreciate any thoughts!)

[2022-05-28 14:00] Carreau opened #4585 "Cache data instead of using monkeypatch and all zero in tests"
From #4578

[code]
_Originally posted by @jni in https://github.com/napari/napari/issues/4578#issuecomment-1139545944_

This should be fairly straightforward and a good first issue for anyone looking at contributing to napari. It's also good to avoid test to contact network, so it might be a more generic idea to patch urllib globally during the full test suite and record/replay the requests.

[2022-05-29 14:38] psobolewskiPhD commented on #4570
Oddly, I'm now getting this error in my default napari env whenever I switch to 3D mode.
Even with trivial things like
`viewer.add_image(np.random.rand(50, 50, 50), scale=[.5, .5, .5])`
So it's not a memory issue.
Oddly, my other conda env with napari (also rc4, vispy 0.10.0) works just fine.
I'll try to figure out what the difference between envs could be...

Edit:
Turned out to be a dev branch o

[2022-05-29 14:58] psobolewskiPhD commented on #4570
@brisvag
Using `git bisect`—wow what a cool tool 🤯—it looks like this is the `vispy` commit that triggered this for me:
[code]
Should I open an issue on `vispy`?

[2022-05-30 07:57] brisvag commented on #4570
@psobolewskiPhD It seems that once again the traceback is misleading :P your error has nothign to do with this issue. Yes please, open an issue over there, this is definitely something caused by my changes to `Volume`!

[2022-05-30 09:33] psobolewskiPhD commented on #4570
Done: https://github.com/vispy/vispy/issues/2337
Not sure this is a mac issue or M1 issue, so let me know if I can help test something.

[2022-05-30 10:19] raacampbell commented on #4576
Interestingly I can no longer reproduce this issue. So I guess we close. I can't see why this has happened as I did originally try closing and restarting. I guess we close.

[2022-05-30 10:19] #4576 closed, assigned to nobody

[2022-05-30 12:27] brisvag opened #4587 "Multiple issues cause by Vispy versioning"
## 🐛 Bug

Lately we had several people report problems that were tricky to debug due to weird vispy stack traces.

Ultimately, several of them were caused by the fact that we (me being a major culprit...) have been pushing many updates in vispy that changed the internals of visuals. These changes were to a point that the patches we do here in napari (a recurring problem being our specialized `Labe

[2022-05-30 12:39] brisvag commented on #4587
To clarify, this means that no matter what we do on the napari side now, if a new version of vispy comes out that's incompatible with an existing napari version, users will get these cryptic errors, with the nly solution being releasing a new napari version that fixes it.

[2022-05-30 12:48] psobolewskiPhD opened #4589 "Error drawing visual <Volume> (3D viewer) with vispy 0.10.1dev"
## 🐛 Bug

Using `vispy-0.10.1.dev7` (not release 0.10.0) of vispy (and napari 0.4.15 or 0.4.16rc2, rc4) and switching to 3D view in napari, gives an error:
`16:43:37 WARNING Error drawing visual <Volume at 0x29aa4f940>`
and
[code]
Downgrading to live 0.10.0 vispy release resolves the issue.
It happens with even trivial [50, 50, 50] images, so it's not a memory issue.
macOS 12.3.1, arm64, python 3.

[2022-05-30 12:57] Czaki commented on #4587
If I good understand these problems comes from vispy 0.10.0. So maybe it will be enough to pin `vispy <= 0.11.0`?

[2022-05-30 13:08] brisvag commented on #4587
But we also regularly depend on newer versions of vispy to implement new functionality. so in practice most of the times we have a minimum vispy version that's very recent (0.10.0 in current main, but it's 0.9 on the current latest release) and at the same time we have to preemptively lock upper version in case new stuff breaks (which as I mentioned, has been happing somewhat regularly lately). So

[2022-05-30 13:30] Czaki commented on #4587
no, because 0.10.1 may introduce bugfix or new features without breaking API. It is different to `vispy==0.10.0`.
Strict pinning requires politics for release new versions of napari when bugfix of strictly pinned library is released.

For example, some time ago all release of `hsluv` was removed from pypi (it looks like some try of account higjack).
They restore it but cannot recovery old versions

[2022-05-30 15:26] brisvag commented on #4587
But we can pin with `~=0.10`, and it should, right?

[2022-05-30 17:36] melissawm opened #4593 "Versioned API documentation: proposal"
## 📚 Documentation

In order to enable version-specific API documentation for napari, we need a place to host and archive it. Previously, this was done on napari/napari.github.io, and the proposal here is to enable that again - but this may change the way the docs are deployed.

As of now, this is the process:
- A PR is merged to the napari/napari `main` branch;
- The [Build and Deploy docs](https

[2022-05-31 01:08] jni commented on #4587
@brisvag @Czaki your constraints are equivalent. I find `>=0.10.0,<0.11` to be the most readable. But, annoyingly, neither version will fix #4589! Can someone weigh in on whether that means we should do a hard pin, or update something on our end to make things compatible with vispy 0.10.x?

[2022-05-31 01:09] jni commented on #4587
(Also note `<0.11`, not `<=0.11`.)

[2022-05-31 01:15] jni commented on #4589
Oh interesting, I think this is actually an issue with how VisPy versions their main branch, not actually the release. We're not expecting this to make it to a vispy 0.10.1 release are we? (Rather than vispy 0.11?)

[2022-05-31 05:17] lucyleeow commented on #4593
I've just been working on this for the plugin skan (with the idea that it could pretty much be copied over to napari since the napari theme is based off of pydata theme) - it's pretty much working see: https://lucyleeow.github.io/skan/dev/, relevant PRs: https://github.com/jni/skan/pull/175 and https://github.com/jni/skan/pull/173/files

would this keep all artifacts from all pushes to main?

Anot

[2022-05-31 07:55] #4587 closed, assigned to nobody

[2022-05-31 07:55] #4589 closed, assigned to nobody

[2022-05-31 08:07] brisvag commented on #4587
@jni What do you mean neither version will fix it? Tghat bug should not happen with 0.10.0, but only if you use `dev`. To fix #4589 *NOW* we have to replace `$sample` with `$get_data` in the gatecorical isosurface shader. However, that would require the next vispy version to be out, so that's the problem :P

[2022-05-31 18:49] DragaDoncila commented on #4576
@raacampbell feel free to reopen if it does come back! 0.4.16 is out now and should hopefully resolve the ambiguities in file opening.

[2022-06-01 07:48] uschmidt83 opened #4598 "Add public methods to show/hide and query the state of the Activity Dock"
## Feature

Please add public methods to show and hide the Activity Dock, and also to query its current visibility state.

## Motivation

There is currently only the private method `viewer.window._status_bar._toggle_activity_dock` to toggle the visibility of the Activity Dock (e.g. used in [this example](https://github.com/napari/napari/blob/8408309dff38b8aa47376f3c7a7e151fa77f31fe/examples/progre

[2022-06-01 10:21] tlambert03 commented on #3338
can't reproduce on main with a fresh environment.  Maybe stuff got fixed upstream!

[2022-06-01 10:45] psobolewskiPhD commented on #3338
I still have this behavior with a pretty fresh env.
[code]
from python REPL (3.9.12) opens napari (0.4.16) that has a functional console.
if you activate the console, closing napari and trying to use the REPL results the `In:` non responsive state (napari icon stays in dock).
Typically a few keystrokes (trying to exit) will result in a crash:
[code]

Edit: just checked in a totally fresh env:
`mam

[2022-06-01 12:18] wahabk opened #4600 "xcb failure when just importing napari"
## 🐛 Bug

qt.qpa.xcb: could not connect to display
qt.qpa.plugin: Could not load the Qt platform plugin "xcb" in "" even though it was found.
This application failed to start because no Qt platform plugin could be initialized. Reinstalling the application may fix this problem.

Available platform plugins are: eglfs, linuxfb, minimal, minimalegl, offscreen, vnc, wayland-egl, wayland, wayland-xcompo

[2022-06-01 15:37] Czaki commented on #4600
It looks like you try to run your code on server? If yes what happen when you uninstall qt bindings?

[2022-06-01 17:54] ctrueden commented on #3338
With python 3.10.4 + napari 0.4.15 on Linux, I observe:

* Starting napari via `napari.Viewer()` from plain Python REPL works.
* I can still use `exit()` to quit the Python REPL.
* But after using the napari console, typing `exit()` yields a new line reading: `In : ` (like an IPython console prompt, but with no number). Pressing ^D at this prompt quits the REPL successfully.

As an aside: for thos

[2022-06-01 18:05] psobolewskiPhD commented on #3338
The above is exactly consistent with my observations. And `ctrl-D` works nicely! Thanks!

[2022-06-01 22:29] #3753 closed, assigned to andy-sweet

[2022-06-02 04:44] GenevieveBuckley opened #4606 "Coords displayed should update with dimension slider movement"
## 🐛 Bug

When you move the dims slider in napari, then coordinates displayed in the bottom left hand corner do not update to reflect the new slice position.

## To Reproduce

Steps to reproduce the behavior:

1. Open napari and load an example dataset
[code]
2. Hover your mouse above the image canvas and observe the position coordinates displayed in the bottom left hand corner.
3. Move your mouse

[2022-06-02 08:14] jluethi commented on #4531
I agree with @alisterburt on this. Just planning another small workshop for tomorrow and workshop templates would indeed be very valuable. Would both make life easier when preparing a new workshop and make the workshop material more similar in structure if people follow the templates. And would make it easier to share content between workshops.

[2022-06-02 08:17] alisterburt commented on #4531
Thanks for chiming in @jluethi !

@chili-chiu what do you think about this as a path forward? How should we best get started? I would propose making a napari-community org and starting to centralise existing materials

[2022-06-02 08:22] jluethi commented on #4531
@alisterburt in the meantime, I'd assume this https://github.com/alisterburt/napari-workshops is a good place to start getting workshop inspiration from, right?

I'm just creating a small tutorial to get people up & running with a local napari installation and give them a demo of the napari screenshot & animation functionality.

[2022-06-02 08:34] cnstt commented on #4606
It seems to me that the coordinates displayed in the bottom left hand corner reflect the last position of the mouse cursor on the canvas. So the behavior might seem strange, but for me it seems currently "coherent". Because when moving the slider you are changing slice and arriving on a slice "where you mouse hasn't been yet".

[2022-06-02 08:53] psobolewskiPhD commented on #4606
I think there are 2 issues:
The coordinates are mouse coordinates, so `[z y x]` and in fact the value is also shown. When the mouse leaves the image data to click on the slider, then it's unclear what they should show: you can update `z` for the change of slice, but what do you do about [y x]?
The way ImageJ handles this is that the coordinates & values are only displayed when the mouse is hoverin

[2022-06-02 10:22] wahabk commented on #4600
Thanks @Czaki for your reply, how would i remove 'bindings'? would it be by uninstalling pyqt5?

edit: this is my pytest output

[code]

Looks like the issue comes here

[code]

Which is when I define a magicgui function, this is like 72

[code]

Remember I am not initialising a napari window. Should I move this issue to magic gui? I tried it with magicgui 0.3.3 and 0,4

[2022-06-02 10:37] Czaki commented on #4600
yes

I do not play this way with magicgui so do not know. Maybe @tlambert03 may know.

General problem is that Qt crash application when cannot connect to the screen without the option to handle this. You may use `Xvfb` to work around this.

Maybe you may not use magicgui as decorator, but as a function to be possible to use the function without triggering magicgui backend.

[2022-06-02 11:16] alisterburt commented on #4531
@jluethi totally, please feel free to use any and everything which is useful! Good luck with the tutorial :)

[2022-06-02 12:07] tlambert03 commented on #4600
Remember that using the magicgui decorator IS creating a widget.  So I would expect you to get the same error you would get by creating a QWidget.  If your os is not set up with the proper Qt libs and stuff (@czaki can help you with that), then I would expect you to get an error at the moment when you try to create a widget

[2022-06-02 15:36] kevinyamauchi opened #4608 "napari.org calendar link to architecture working group call is broken"
## 📚 Documentation

Some of the links to the Architecture working group are broken because they have "RWC-801J-3-324-Machu Picchu (7) [Zoom]" appended (e.g., May 16, 5PM CEST).

<img width="1435" alt="Screenshot 2022-06-02 at 17 34 09" src="https://user-images.githubusercontent.com/1120672/171666236-86d4b474-90b7-4c1a-bc3a-f8a68394ac24.png">

[2022-06-02 15:55] chili-chiu commented on #4531
@alisterburt and @jluethi it's great to see the demand for running workshops and having a way to lower the barrier/reduce the preparation time would be the goal for sure :)

One possibility is to have a separate folder under the napari docs-only repo that requires only minimal review (e.g. content is relevant to napari), and we don't necessarily have to surface it to napari.org (yet) but can do th

[2022-06-02 21:03] sofroniewn commented on #4608
@codemonkey800 @potating-potato can you look into this - thanks!

[2022-06-02 22:14] MMathisLab opened #4610 "`AttributeError: type object 'Policy' has no attribute 'Maximum'` upon launch w/PyQt5 5.9.6 >> fine with PyQt5 5.15+"
## 🐛 Bug

Firstly huge thanks for napari! 💜

I hit an error that I *think* is not reported (I searched open/closed bugs first), and checked image forum sc. In short, installed on a new computer (macOS) today w/pip and it clearly starts to launch, icon pops up, and then crashes out. Traceback below. I just wanted to post this incase others hit the issue (and to note TL;DR, the warning solves it).

[2022-06-02 22:30] andy-sweet commented on #2811
@brisvag : I think this is effectively duplicate of #3672 (though predates it), which was fixed by #3683. I could reproduce this at v0.4.8, but couldn't reproduce this with the example above on `main`, so I'm closing this. Feel free to reopen if you disagree!

[2022-06-02 22:30] #2811 closed, assigned to nobody

[2022-06-02 22:30] codemonkey800 commented on #4608
Pretty sure this is something we can fix on the theme side, but I just noticed that URL looks different from my end?

<img width="280" alt="image" src="https://user-images.githubusercontent.com/2176050/171748889-c603f4ca-fdff-451b-a295-bf2ce64e8b5a.png">

was the meeting details changed recently?

[2022-06-02 22:51] Czaki commented on #4608
Andy do some changes:
https://napari.zulipchat.com/#narrow/stream/296574-working-group-architecture/topic/Meeting.202022.2F06.2F02/near/284808045

[2022-06-03 00:19] junxini opened #4611 "Improve the user experience when loading images into napari"
## 🧰 Task
### **Motivation & Goal:**
Successfully opening images is the crucial first step to use napari. With the addition of the npe2 manifest, there has been ongoing development associated with reader plugins and preference saving done by @DragaDoncila. The intent of this scope of work is to continue building on top of the existing work and streamline the GUI experience around loading images in

[2022-06-03 01:08] junxini opened #4612 "Condense file opening options"
## 🚀 Feature
When going to open a new file from the file menu, I am given one Open File option (instead of 3), so that I don’t have to decipher which option to choose from
## Current Behavior (0.4.16)

Selecting the napari file menu surfaces 3 options for the user to select from (open file(s), open files as stack, open folder). It’s not ideal to expect users, especially novice users, to know the d

[2022-06-03 01:31] junxini opened #4613 "Saving and editing reader plugin preferences"
## 🚀 Feature
When opening an image format supported by napari natively or by an installed plugin, I want the option to save and edit preferences, so that I don't have to re-select every time

## Current behavior
(0.4.16) There’s existing work to improve the preference saving options in both the reader dialog and the preference dialogs. When there are multiple ways to open a file, users select whic

[2022-06-03 01:36] junxini opened #4614 "Suggest new reader plugins the user can install to open their file format"
## 🚀 Feature
When my file format isn’t supported by napari natively or an installed plugin, I want to easily look for a new reader plugin to install that will allow me to load my image

## Current behavior (0.4.16)
There’s a standard error message that appears when napari isn’t able to open an image, however it doesn’t give insights to whether other plugins are available.

## Pitch

- [ ] 1. If th

[2022-06-03 06:36] psobolewskiPhD commented on #4610
Just for completeness, can you just confirm you're running in an emulated python environment—I'm guessing because python 3.7 isn't supported anymore, so it's—to my knowledge—not available native arm64.
If you open the python REPL can you try: `import platform; platform.platform()`

[2022-06-03 07:24] MMathisLab commented on #4610
Hi @psobolewskiPhD no problem! For my 3.7 test:
[code]

I should note, thank you, that I also tried with 3.8 (napari works for me with pyqt5>5.15+ as well). I do use a conda envs (simple `conda create --name napari-dlc python=3.8` then install pyqt5 then napari)
[code]

[2022-06-03 07:48] psobolewskiPhD commented on #4610
Thanks!
BTW Did you get the pyqt error in the 3.8 env too after just pip install? Or does that install work out-of-the-box?
I suspect/hope that issue is limited to the 3.7 python, probably due to combo of very old python, latest macOS, plus emulation—quite the combo!
Odd that platform doesn't even report macOS, just darwin.

Reason I ask is probably M1 macs will become steadily more common, so it'

[2022-06-03 08:34] MMathisLab commented on #4610
of course! Afaik, 3.7 is still the native in base (have anaconda installed), so I was first just going to install napari outside of a dedicated env, and I can reproduce my error with lower version pyqt5 in that native state. For 3.8, I don't believe I did actually... so it could just be the magical native 3.7 with older pyqt5 :)

[2022-06-03 08:41] psobolewskiPhD commented on #4610
Just to head-off any confusion for future/other readers: I believe @MMathisLab is using `native` to refer to default python, present in the base anaconda env, while I was using `native` to refer to arm64, not emulated envs.

[2022-06-03 11:33] #4610 closed, assigned to nobody

[2022-06-03 15:40] kevinyamauchi commented on #4531
Hello everyone! Sorry for the late reply.

I think this would be great! I think it would be helpful to have some "reference" workshop materials available that are served in the main website and built automatically with the docs. However, as @alisterburt and @chili-chiu suggested, I think it would also to have a "low barrier of entry" route for community contributions.

I like this suggestion, @chi

[2022-06-03 18:14] andy-sweet commented on #2571
For extra info, I cannot reproduce this.

[code]

I'm unaware of anything that fixed this, but if someone who could reproduce before has time to try again, that would be great!

[2022-06-03 18:21] andy-sweet commented on #2547
Also related to the larger discussion in https://github.com/napari/napari/issues/3779

[2022-06-04 12:25] haesleinhuepf opened #4618 "Label image 3D + image rendering issue in napari==0.4.16 / vispy 0.10.0"
## 🐛 Bug

Hi all,

I'm seeing some black dust artifacts in napari==0.4.16 when rendering label images in 3D on top of normal images. It appears normal images have a different transparency rendering now. I'm not sure if this is intentional and thus, I'm creating this issue to discuss quickly.

Napari 0.4.16:
![image](https://user-images.githubusercontent.com/12660498/171998416-589bb459-021b-4113-b8

[2022-06-04 12:37] haesleinhuepf opened #4619 "Canvas margin too wide in napari==0.4.16"
## 🐛 Bug

Hi all,

a merged pull-request of mine https://github.com/napari/napari/pull/4496 obviously didn't make it into the recent release, even though it was merged 27 days ago. The canvas margin in napari==0.4.16 is wide again:

![image](https://user-images.githubusercontent.com/12660498/171999125-5a5517ee-923c-4b22-9038-b6b372e5e990.png)

As the changed code is obviously on the main branch:;

[2022-06-04 13:45] alisterburt commented on #4531
@chili-chiu I feel relatively strongly that the flow of what you're suggesting

1. user clones docs repo
2. user adds their material (likely from an existing git repo)
3. user submits PR
4. someone approves PR
5. at a later date someone may come and tidy up materials from this workshop so they can be surfaced on napari.org

is a lot of extra work for quite a few people compared to
1. user creates

[2022-06-04 14:34] Czaki commented on #4619
Hi Robert,
Unfortunately, need to copy this contribution to the `v0.4.16x`  branch. Last common commit from `v0.4.16x` and `main` #4477 from 5 of May.  After this date release manager pick up only selected commits from the main branch (mainly bugfixes).

As far as I understand you need to wait for the next release. At this moment I do not see a plan for a bugfix release that main contains this com

[2022-06-04 14:41] Czaki commented on #4531
If materials contain some Jupyter maybe it will be possible to test it against new releases. Like I test the example notebook for PartSeg with the command:

[code]

[2022-06-04 15:12] haesleinhuepf commented on #4619
Ok cool. No hurry. I was just confused, because I thought this should come with napari 0.4.16.

[2022-06-04 15:25] Czaki commented on #4324
I vote for remove it

[2022-06-04 15:28] perlman commented on #4324
+1 to removing mesh zoo.

This is currently the only library I am unable to install on macOS arm64 with `pip install -e ".[all]"`, ultimately due to [`x21`](https://pypi.org/project/x21/) and  [`kgt`](https://pypi.org/project/kgt/) being a binary-only dependency of mesh zoo. [Edit: It is not clear why either of these binary packages are even required...]

Thanks for pointing me to this issue @psob

[2022-06-04 15:34] perlman commented on #4324
I was able to download and install [0.9.4 from a github tag](https://github.com/meshpro/meshzoo/tags), but that is not a proper solution.

[2022-06-04 17:15] alisterburt commented on #4531
@Czaki thanks for the tip! That will be great for some example workshop material :)

[2022-06-04 18:28] #4619 closed, assigned to nobody

[2022-06-04 22:36] Czaki opened #4752 "Chan Zuckerberg Initiative logo not visible properly when user use github dark theme"
## 📚 Documentation

Institutional partner logo is not properly visible if user use GitHub dark theme.

Dark theme:
![obraz](https://user-images.githubusercontent.com/3826210/172027428-508c0969-fd14-47bb-939f-594b99acf0e3.png)

Light theme:
![obraz](https://user-images.githubusercontent.com/3826210/172027486-50dd7a07-d6bb-411c-8751-0f5be14baeec.png)

[2022-06-05 07:46] kevinyamauchi commented on #4618
Thanks for the report @haesleinhuepf ! I am wondering if this is an issue with the depth of the labels layer “fighting” with the depth of another layer. It looks like there is another image layer visible in your screenshot.

What is the blending mode of the visible image layer?

[2022-06-05 08:02] psobolewskiPhD commented on #4618
I'm not able to reproduce this on my Mac. Get the same image in 0.4.16 and 0.4.15, which looks like the 2nd one above (the 0.4.15). Not seeing any artifacts. This is all with no changes to blending, rendering whatever. Just clicking the tiles in the Assistant as indicated.
![image](https://user-images.githubusercontent.com/76622105/172041144-92cdb09b-9ef4-45e5-b799-7048c8e3655d.png)

napari info:

[2022-06-05 08:17] haesleinhuepf commented on #4618
It's translucent

![image](https://user-images.githubusercontent.com/12660498/172041844-38a61d90-3a56-4e61-94c8-14799d13e2a6.png)

If I switch it to additive, the effect goes away:

![image](https://user-images.githubusercontent.com/12660498/172041868-e52308cf-1b7d-4300-a4fa-c981571880b2.png)

Is this expected behaviour?

[2022-06-05 09:15] kevinyamauchi commented on #4618
Thanks for the additional info, @haesleinhuepf ! Given that additive mode removes the issue, it does sound like it is a depth fighting issue. To determine which visual to render at a given pixel, we assign a depth (distance from foreground) for each position in each visual and check which is most in the foreground. when multiple visuals are at approximately the same depth, this can  cause a salt a

[2022-06-05 09:20] haesleinhuepf commented on #4618
This also makes the visualization in napari==0.4.16 look like in napari==0.4.15:

![image](https://user-images.githubusercontent.com/12660498/172043924-a18dbf64-2218-45d5-aea7-05545189ac8e.png)

So this appears more and more like a feature and not a bug, right @alisterburt @brisvag ? :-)

[2022-06-05 09:24] kevinyamauchi commented on #4618
@psobolewskiPhD , thanks for the additional example. What happens if you change the layer visibility such that the labels layer and the “top hat results” layer are the only ones visible? It’s possible that the calculated depth is different for the “lund” image layer.

Yeah, I think this is the expected behavior. However, I think this is useful conversation because I think we still need to figure o

[2022-06-05 09:56] psobolewskiPhD commented on #4618
Yup, that makes a difference, probably because of the blending mode as noted above.
Opening an example image uses `translucent_no_depth` while the extra layers are just `translucent`.
![image](https://user-images.githubusercontent.com/76622105/172044925-50adce08-648a-48d3-b24c-36ca07ea1898.png)
Swapping one of any of the paired layers (Result of dilated... or Result of top... or Lund) to `transluc

[2022-06-05 10:11] alisterburt commented on #4618
agh - so sorry about this @haesleinhuepf, as has been noted, we added optional depth checking to the `ImageVisual` in vispy and thought we had figured out the defaults with #4523 #4567

I'm curious as to why your image layer was in the `translucent`  blending mode - this should default to `translucent_no_depth` now to avoid this...

e.g. when I run

[code]

I get a layer with the blending set to `

[2022-06-05 10:23] perlman commented on #4324
Closed in #4620.

[2022-06-05 10:23] #4324 closed, assigned to perlman

[2022-06-05 10:25] haesleinhuepf commented on #4618
This makes a lot of sense!

I'm obviously using the assistant and that's where the devil is in the detail: We defined our own default value for this:
https://github.com/haesleinhuepf/napari-assistant/blob/fe4a40342ff232acddaca863209dbf0e94e20e7f/napari_assistant/_categories.py#L30

That means I can fix this in on our side. 🙌

Thanks everyone for the feedback!

[2022-06-05 10:25] #4618 closed, assigned to nobody

[2022-06-05 10:27] alisterburt commented on #4618
Thanks for your patience! Pleasure as always

[2022-06-05 12:22] dstansby commented on #734
With `matplotlib` 3.5.2 and the current main branch of `napari` I can't reproduce this - perhaps it's all fixed now?

[2022-06-05 23:07] sofroniewn commented on #734
maybe this can be closed - if someone else finds this issue then we can reopen. thanks for letting us know!!

[2022-06-05 23:07] #734 closed, assigned to nobody

[2022-06-06 08:38] lucyleeow commented on #309
Closing as I don't think this is relevant anymore cc @jni

[2022-06-06 08:38] #309 closed, assigned to nobody

[2022-06-06 10:58] haesleinhuepf opened #4623 "Viewer close event"
## 🚀 Feature

The viewer should have an suscribable event that is fired once the viewer is closed.

## Motivation

I would like to delete a temporary directory at the point in time when the viewer is closed. I am responsible for when to do this, because [`tempfile.mkdtemp`](https://docs.python.org/3/library/tempfile.html#tempfile.mkdtemp) is not capable of doing it.

The napari event documentation

[2022-06-06 12:44] perlman commented on #3174
I believe this was fixed in https://github.com/napari/napari/pull/4321.

[2022-06-06 12:44] #3174 closed, assigned to perlman

[2022-06-06 13:37] robertv0 opened #4624 "axis_labels will always be truncated to 2D when creating Viewer"
## 🐛 Bug
When a Viewer is created and axis labels are used, it seems like the first dimension is named 0 even if another label was specified.

## To Reproduce

1. Create a new jupyter notebook and run the code below.
2. Inspect the axis labels in the GUI and inspect viewer.dims.axis_labels.

[code]

The code prints:
('0', 'y', 'x')

The labels are also reflected in the GUI.

## Expected behavior
E

[2022-06-06 16:44] #4507 closed, assigned to nobody

[2022-06-06 19:49] haesleinhuepf opened #4625 ""Ctrl + Alt + / show all key bindings" doesn't work"
## 🐛 Bug

Hi all,

I just noticed that Ctrl+Alt+/  show all key bindings doesn't work. I also cannot find a menu where the key bindings are listed.

![image](https://user-images.githubusercontent.com/12660498/172236203-862c0933-b6a6-46af-a438-d0cfdf0bf6c2.png)

## To Reproduce

Steps to reproduce the behavior:

1. Open napari
2. Hit Ctrl+Alt+/

## Expected behavior

The shortcut should work. Also

[2022-06-06 19:56] haesleinhuepf opened #4626 "Ctrl + Q shuts down napari without asking"
## 🐛 Bug

Hi all,

I was just in the middle of something and hit Ctrl+Q unintentionally. This shut down napari without asking. I'm a windows user and on Windows, Ctrl+Q is not common short cut, and it's unexpected that one can shut down applications like this. I'm wondering why this short-cut was introduced. Windows does have a short cut for exiting applications: Alt + F4, which also works with na

[2022-06-06 20:02] Czaki commented on #4625
Fast checking shows tath it was removed between 0.4.10 and 0.4.11 releases.

Currently, shortcuts could be checked in preferences.
I do not know what should be bugfix. remove this message or open the preferences dialog with the proper tab selected?

[2022-06-06 20:03] Czaki commented on #4626
I agree that missing all jobs because of a single shortcut click may be frustrating.

[2022-06-06 20:20] haesleinhuepf commented on #4626
Just another note: Ctrl + Q is not in the list of shortcuts in File > Preferences. Instead it's a short-cut provided for the Exit menu:

![image](https://user-images.githubusercontent.com/12660498/172241918-dd534c30-d43b-4944-9f16-ef35cf0767e5.png)