[2019-11-18 23:45] jni commented on #707
☝️ what he said. =P

We could make point/position (I don't have a strong opinion on this name, position is fine) a tuple, then no one should expect to modify a single element of it. And tuple makes sense anyway for indexing.

[2019-11-18 23:49] #708 closed, assigned to nobody

[2019-11-19 01:30] sofroniewn commented on #707
Making all of these tuples with a setter on the whole property could work. We'd probably still need to keep the `set_*` methods then as internally we often want to just modify one axis and trigger events only for that axis

[2019-11-19 04:16] jni commented on #624
@wiebkejahr for uint8 data at least, this should have been fixed in #705. We'll work on the more general cases next. Thanks for the report and for your patience with this!

[2019-11-19 04:55] HagaiHargil commented on #707
Why not have a class (`__slots__` included) with tuple-like behavior? If you want to add `attrs` as a dependency then these classes can be very easy to write, with all the needed dunder methods built in.

[2019-11-19 05:07] jni commented on #707
@HagaiHargil I generally prefer to compose simple, built-in data structures, which are familiar to most Python users. But I'm not totally opposed to the idea.

[2019-11-19 05:20] jni commented on #576
I just tested all the volumes mentioned above using @djhoese's vispy branch, and all worked fine. :tada: Thanks for the investigation, @djhoese! And absolutely everyone else who chimed in to help narrow down the problem.

[2019-11-19 06:40] hmaarrfk commented on #704
the thing i've learned, is that until you give people a one click installer, then they will always find your GUI hard to install.

Asking
[code]

then

[code]
is already too hard. So as far as package management goes, telling them to type `pip install napari pyside2` is just as hard as asking them to type `pip install napari`

[2019-11-19 06:53] jni commented on #704
I've been wanting to get a bit more experience with pip extras. I think from the above, I like @sofroniewn's suggestion of:

pip install napari -> get PySide2
pip install napari[pyqt] or napari[pyqt5] -> get PyQt5
pip install napari[pyside] or pip install napari[pyside2] -> get PySide2

One variant that I would consider, but slightly dislike, is pip install napari -> get an informative RuntimeErro

[2019-11-19 07:04] kmuehlbauer commented on #576
@cgohlke As xref, here is the vispy issue where the alignment was discussed https://github.com/vispy/vispy/issues/641.

[2019-11-19 07:15] jni commented on #702
@VolkerH side note, a user on image.sc found a fix on Windows for the incorrect text size on the UI:
https://forum.image.sc/t/napari-issues-it-works-but-no-gpu-and-the-gui-is-all-squashed/31411/13

[2019-11-19 07:16] jni commented on #367
For Windows, an image.sc user found a fix:

https://forum.image.sc/t/napari-issues-it-works-but-no-gpu-and-the-gui-is-all-squashed/31411/13

It would be great if we could figure out how to find that setting programmatically...

[2019-11-19 09:56] s-m-e opened #710 "Handling of *compressed* in-memory zarr-arrays?"
I have not found documentation on this issue, so please excuse this question.

I came across [this example](https://github.com/napari/napari/blob/4fbbca0dcdf9529ea55e08224e9962bf6f754bdf/examples/zarr_nD_image.py), which shows that `napari` can directly display in-memory zarr-arrays. In the example, the array is iniziallied like this:

[code]

`zarr` does in fact also allow compression for in-memo

[2019-11-19 14:08] tlambert03 commented on #704
yeah, I think there's definitely something to be said for `pip install napari` over `pip install napari pyside2`.   It's of course easy enough to just state in the readme that you need to `pip install napari pyside2` ... but when someone is doing it from memory, and all they remember is napari, there will inevitably be times when they have errors, or say to themselves "`pip install what-was-it-aga

[2019-11-19 16:02] AhmetCanSolak commented on #704
Yes @sofroniewn you remember right. That's the Qt related part of things. I, personally, think it would be okay to have GPL pyqt5 too since napari is free and open source. To me it wouldn't be too much to ask users to open their source code when they have napari as dependency. I know many people prefer a more permissive license but IMO either with GPL or LGPL dependency we could be fine.

I like t

[2019-11-19 16:58] sofroniewn opened #711 "Make napari citable"
## 🚀 Feature
People are beginning to want to cite napari in their work - [see here](https://twitter.com/adamltyson/status/1196826551607799810) - from @adamltyson.

I suggest we mint a [DOI for the repo using zenodo](https://guides.github.com/activities/citable-code). You can also read more detail in this [guide](https://genr.eu/wp/cite/).

We have to tag a specific release when we make our first D

[2019-11-19 17:09] sofroniewn commented on #710
@s-m-e it should work just fine!

I just ran the following minimal example
[code]
and it worked well - though I just see a big white square ;-)

<img width="1200" alt="Screen Shot 2019-11-19 at 9 07 46 AM" src="https://user-images.githubusercontent.com/6531703/69168864-436b9c80-0aac-11ea-84a1-f5f297c59d63.png">

Note here I've added in a couple extra keyword arguments which can be good to explicit

[2019-11-19 17:10] sofroniewn commented on #710
Also, apologies that are docs aren't quite so comprehensive yet, we will work on updating them soon!

[2019-11-19 19:22] sofroniewn commented on #527
I'm going to close this issue now, but it can always be reopened if this team looks into it further. Future windows users running into problems should feel free to open a new issue and include the details in the `napari info` dialog box under the `help` drop down. We're definitely committed to windows support and so would love to hear from you with specifics if running into problems.

[2019-11-19 19:22] #527 closed, assigned to nobody

[2019-11-19 19:26] sofroniewn commented on #569
Painting has been significantly sped up by #684, so I will close this now, but it can still be further improved by #204

[2019-11-20 05:28] s-m-e commented on #711
Just in case you guys did not know: [JOSS](https://joss.theoj.org/)

[2019-11-20 06:23] jni commented on #711
@royerloic and I have discussed a paper on a few occasions. We agreed that we would wait until the plugin system is online to publish one. In the meantime, a Zenodo stamp should work.

[2019-11-20 12:48] s-m-e commented on #710
Thanks for your reply. Yes, I also tested a similar, "simple" example and it just worked. With respect to testing on larger data, sure, I did. I ran some experiments on a test dataset - see details below.

# Environment

- i7-3740QM & 32 GB RAM
- NVidia K1000M (2GB)
- Linux 4.12 x86_64 (SUSE Leap 15.1)
- Python 3.7.4 (GCC 7)
- **napari 0.2.5**
- PyOpenGL 3.1.0
- zarr 2.3.2
- numcodecs 0.6.3
- nump

[2019-11-20 15:26] s-m-e commented on #710
Ok, I quickly traced it back to its root cause:

[code]

It's a design issue - less of a bug - in `get_pyramid_and_rgb`. The current design tries to provide a warning in line 167 saying that non-pyramid data was indicated but pyramid data was passed. The validation process, as it is, requires all data to be read. I am not entirely sure if there is an alternative to the currently used approach to l

[2019-11-20 16:33] sofroniewn commented on #711
Thanks for the suggestion @s-m-e, I agree with @jni that we're not quite ready for a full on paper, but when we are I think JOSS could be a great place to target.

[2019-11-20 16:46] sofroniewn commented on #710
Thanks for chasing this down @s-m-e and sorry if I didn't appreciate from your first question that

this is definitely a bug, we should not do this.

That check has caused some problems in other cases too - for example see this very recent discussion on dropping that check here https://github.com/napari/napari/issues/699#issuecomment-554658124. If you comment out this check can you confirm if we n

[2019-11-20 17:03] sofroniewn opened #716 "Let labels take a list of custom colors"
## 🚀 Feature
Following up on discussion with @adamltyson on this [image.sc post](https://forum.image.sc/t/specify-labels-colors/31534) I think it would be nice if we allowed users to set their own list of colors for `add_labels` as an alternative to using random colors. If the user has more labels than colors we can just cycle through them.

[2019-11-20 21:50] s-m-e commented on #710
Swapping ...

[code]

... with ...

[code]

... solves my problem. Napari opens and shows images instantaneously. Confirmed.

Yes. It's actually just the `for d in data` loop on its own, it's not even the access to `d.shape`. The loop extracts stuff from `data`. Where numpy would offer a (memory-) view object on `data`'s memory as `d` (no memcopy), zarr does not have a similar concept and must "co

[2019-11-20 22:13] sofroniewn commented on #710
Ok, good to know this fixes the problem, we'll work on a solution that avoids this call, doesn't decompress, and add some tests to make sure that we don't start decompressing again. Thanks for help finding this!!

[2019-11-20 22:17] #706 closed, assigned to nobody

[2019-11-20 23:16] sofroniewn commented on #576
The vispy fix https://github.com/vispy/vispy/pull/1758 is now merged into master, and I can confirm the current version of vispy master fixes all the issues that we have raised in this issue. Thanks so much to @VolkerH and @cgohlke for great discussions around this and @djhoese for so promptly fixing.

On the napari end we can decide on either backporting this fix or just waiting until the next vi

[2019-11-20 23:31] djhoese commented on #576
There are a couple nice bug fixes (including one by you @sofroniewn) that would be nice to include in the next vispy release. Once merged I was planning on a bug fix release.

[2019-11-20 23:34] sofroniewn commented on #576
:-) sounds good @djhoese I'll get my bug fix finished up asap. Thanks again

[2019-11-21 00:56] vtwang commented on #693
@sofroniewn
Is there a way to see the `path shape layer` while in 2D rendering? The main use case for this feature is to be able to use the neuron traces to guide manual segmentation of neurons. I assumed that in 2D rendering, the path would show up as a intersection on the slice it is passing through.
If 2D rendering of 3D shapes is not supported, do you know of which files I should look at to bu

[2019-11-21 03:12] sofroniewn commented on #693
So right now a path will only be visible in a 2D slice if it is entirely contained within that slice, otherwise it will be ignored. Instead you could estimate the top / bottom intersections of each line segment with the current slice and render just the part between them.

Right now this slicing is done here: https://github.com/napari/napari/blob/6fd963468335d1ea30319b596b20b7d6c9c520d4/napari/lay

[2019-11-21 19:53] tlambert03 opened #718 "avoiding unnecessary io in dask + napari"
This really isn't a napari issue, but it will directly affect us and our consumption of `dask.delayed` arrays and/or dask arrays made by `dask-image`...  So just wanted to start a conversation here.

let's say you create a dask array from a folder of 600 3D tiff stacks:
`dask.array<stack, shape=(600, 65, 512, 512), dtype=uint16, chunksize=(1, 65, 512, 512)`

if you view that dask array in napari,

[2019-11-21 20:30] cudmore opened #719 "Shape layer analysis plugin ..."
Hi All,

I am more than super freaking excited/ecstatic that you have created Napari. Thank you all. I am working on my first Napari plugin and hopefully the first plugin in general. My code is a complete mess right now and I have 10+ question. I just want to share a visual of what I have so far.

In this screenshot we have ...

1) Napari viewer on the left

The Napari viewer has an image and shap

[2019-11-21 20:33] cudmore commented on #719
sorry, here is the screens-shot ...
![cudmore-napari-plugin-1](https://user-images.githubusercontent.com/1009168/69374528-17dae480-0c5b-11ea-9140-64320d289030.gif)

[2019-11-21 23:03] sofroniewn commented on #448
Cross posting a link to an amazing [naparimove repo](https://github.com/guiwitz/naparimovie) built ontop of napari by @guiwitz - originally posted in this [image.sc post](https://forum.image.sc/t/movies-with-napari/31588)

I was able to successfully use it to make movies right out of the box, and I’m curious from @guiwitz if there’s more stuff we need to expose better to make this easier for you,

[2019-11-21 23:38] sofroniewn commented on #718
I have noticed some of this stuff when I was doing some of the benchmarking here - https://github.com/napari/napari/issues/103#issuecomment-480640037 - I think there are some assumptions about usage that might be valid in an image viewer context that don't apply to dask generally and that we might want to bake in to our usage. Maybe it relates to the `Remote / Shareable` stuff more generally too

[2019-11-22 02:45] kevinyamauchi commented on #711
I think it would be great to have a DOI. zenodo seems like a nice option. We have a couple manuscripts in preparation will definitely cite `napari` :)

[2019-11-22 03:38] cudmore opened #720 "Receive events on shape create and delete"
## 🚀 Feature
Can we get events when shape layer shapes are created and deleted?

## Motivation

I am implementing a shape analysis plugin. It would be great if my code could receive an event when a shape is added and a shape is deleted.

I want to display the current shapes in list, something like a Qt TreeView. I need to append and delete from this list as shapes are added and deleted from the Na

[2019-11-22 04:18] sofroniewn commented on #711
Hi all, after todays discussion it seems like we will move forward on creating a DOI for the napari repo using the authors "napari team". We can then still have more formal publications with named authors etc, but at least this gives us a real DOI for the mean time.

[2019-11-22 04:26] sofroniewn commented on #720
Hi @cudmore thanks for the very through issue on this. I've been meaning to add better events to the shape layer for a while, for example see #517 but havn't done that yet.

I think we should come up now with a list of all the events we want to add to the shape layer and standardize what information we want that event to carry.

For example we should probably emit events when
- [ ] new shape is ad

[2019-11-22 04:30] sofroniewn commented on #719
This is amazing @cudmore! You might be interested in checking out some of the work @tlambert03 is doing around support 1D vispy line plots in napari - see here https://github.com/napari/napari/pull/675#issuecomment-553672258 and the dockable widgets we're exploring in #714 and other places, hopefully they will make some of this easier for you. In the meantime though keep up the good work and feel

[2019-11-22 05:02] sofroniewn commented on #711
Ok - so turns out I was wrong, we don't need to specify anything like authors etc. when generating a DOI. We can set that when we ask people to cite us, which we'll have to add language about to our readme.

This repo is now configured such that the next time we make a release a DOI will automatically get made. We can discuss elsewhere the timing of the next release, and then once that has happene

[2019-11-22 11:29] jni commented on #318
Just to chime in here again: I actually just ran into this issue while trying the following example on a pyramid view, where one of the layers is delayed processing result:

[code]

I think this sort of thing should work in general. Right now though, if you zoom right in, panning works until you find a block boundary, and then the viewer blocks until the whole thing is loaded. It would be much nic

[2019-11-22 12:25] jni commented on #718
Thanks for raising this @tlambert03! It's kinda surprising to me that this doesn't work, and it certainly feels like we should be able to fix it. The idea is if an *internal* node of the graph is being frequently accessed, you should keep it in memory.

I guess `arr[0, 10]` is *not* evaluated as `arr[0][10]`, so it would result in a different computation from `arr[0, 11]`. I wonder if we changed o

[2019-11-22 13:28] tlambert03 commented on #719
Hey @cudmore, really nice!!
Just to highlight some things about #675 that might be relevant to you here:  In general, we're trying to minimize dependencies, and avoid depending on multiple packages with similar functionality.  So I think there is a slight preference for avoiding pyqtgraph (internally at least... no reason you can't use it!) in favor of vispy-native solutions.  (the author of pyqtg

[2019-11-22 17:04] cudmore commented on #719
Thanks for the feedback. @tlambert03, that was my plan. I want to get this plugin near completion and then switch it to the napari api discussed in #675.

[2019-11-22 23:56] guiwitz commented on #448
Hi @sofroniewn, I would definitely be enthusiastic at trying to integrate naparimovie directly into napari! I guess my main question is what form this integration should take. If I remember correctly there's the plan to have a sort of plugin system in napari. Should that be the way or should it be a standard feature of napari?

In both cases, I'd need some pointers on "where to put things", e.g wh

[2019-11-23 21:23] sofroniewn commented on #685
This is now being worked on in #723 and #724 and will likely be fixed by those PRs

[2019-11-23 21:24] sofroniewn commented on #720
@cudmore also if you are interested in contributing this addition we can help you through the process, could be a great first PR to napari for you!!

[2019-11-23 23:10] sofroniewn opened #725 "add play button next to dimensions label and slider"
## 🚀 Feature
To finish up the work done in #607 adding `play` functionality we need to add play / pause icons to next to the dimensions sliders. These can be the traditional triangle / parallel lines. To add icons one has to follow the instructions in our [contributing guide](https://github.com/napari/napari/blob/master/docs/CONTRIBUTING.md#building-the-icons).

We'll also probably want to make a

[2019-11-24 00:03] sofroniewn commented on #725
This is now underway in #726

[2019-11-24 00:10] tlambert03 commented on #725
Hah, wow, I hadn’t even seen this.  Guess we were thinking the same thing

[2019-11-24 17:50] sebi06 opened #729 "Segmentation fault wen trying to start Napari viewer from script"
## 🐛 Bug

When I try to start the Napari Viewer (latest version) from a script on Ubunto 18.04.3 LTS I recently got: **Segmentation fault**

## To Reproduce

The relevant lines of code are here and I think the error occue

[code]
This is the output when I call the script:

![image](https://user-images.githubusercontent.com/3833249/69498681-e9733880-0eea-11ea-8844-4be37cfea7d5.png)

## Expected beh

[2019-11-24 18:33] AhmetCanSolak commented on #729
Hi @sebi06 !

Thank you for dropping an issue. Have you tried with latest version on pypi? just curious.

[2019-11-24 21:01] tlambert03 opened #730 "Stylistic question about signals & slots in napari"
## ❓ Stylistic Question

curious to hear your thoughts on something:
I've noticed a pattern in a few places in which a given `QWidget` is the only consumer of its own signals.  For instance, each signal in this stretch of QtDims (`update_axis`, `update_range`, etc...) is only consumed by `QtDims` itself; none are connected to any other widgets.
https://github.com/napari/napari/blob/09bf79ead28c80d

[2019-11-24 21:15] jni commented on #729
@sebi06 would you be able to share your image and metadata so that we can try to reproduce the error? Thanks!

[2019-11-25 00:31] sofroniewn commented on #730
Yup, so this heterogeneity in the code base relates a little to who wrote the particular piece of Qt code!! In this case this pattern within `QtDims` was written by @royerloic who put in those extra Signals, which I agree I'm not sure we need and it would be simpler to refactor and remove. There might though be some considerations around what thread code runs in (if there is a separate Qt thread f

[2019-11-25 00:37] sofroniewn commented on #729
This might relate to #576 which has been fixed on the latest version of vispy on GitHub (which they havn't released yet), so if you install vispy from GitHub and `pip install -e .` I'm curious if the error still persists. They should be releasing pretty soon, so we can get this fix to everyone.

Both the latest napari on pypi and the napari on master should behave the same way with respect to #576

[2019-11-25 01:47] Shogosuga opened #731 "Don't load big size images"
I tried to load 8000 EM images(each 4000 x 7000), but couldn't.
I also tried `napari.view_image(data, is_pyramid=False)` and `data.rechunk((1,100,100))` , but could not load in both methods.
So, please tell me the suitable method to solve this distress.
Thank you.

## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

[2019-11-25 01:56] sofroniewn commented on #731
@Shogosuga sorry you're running into problems. Have you tried also setting the `contrast_limits` ahead of time too? We need to get better about not accidentally computing on the whole dataset, but we've got some issues on that already.

Can you also confirm that the following works ok for you too
[code]

[2019-11-25 02:00] sofroniewn opened #732 "window raise / menubar focus at conflict with each other"
## 🐛 Bug

So turns out #721 which "raised" the main window as actually a reversion of #553 which had deleted that line to fix a menubar focus issue.

In #553 I made the following statement

Turns out `raise_` was needed to bring the window to the front which is quite nice.

Now I'm not sure how to resolve both #553 and #721 at the same time!!!
@tlambert03 do you have any ideas?

[2019-11-25 02:18] tlambert03 commented on #732
oops, sorry!  (i'm assuming you meant #553?).  Yeah I know the issue you're referring to... and I've long since "grown used to it" with Qt (i've had the same thing for ages with LLSpy, and now I almost instinctively `cmd-tab` back and forth after starting).  I can say that it depends a bit on how the program is started... (but I can't remember at the moment _exactly_ how/why).  For instance, it di

[2019-11-25 02:18] Shogosuga commented on #731
Thank you!
I try `contrast_limits` and I can load all images.

I really appreciate for your kindness.

[2019-11-25 02:43] sofroniewn commented on #731
Glad that made it work! I will leave this issue open though as we really need to fix it so that we don't choke so badly if that parameter is not passed

[2019-11-25 02:45] sofroniewn commented on #732
We don't need to revert right away, i might play around with it a bit more now that I know why `raise_` is called, but we might want to change before the next release.

Personally I find it less confusing if I can't see the window from the notebook than if the drop downs don't work first time, but hopefully we don't have to make that trade off!!

[2019-11-25 04:43] sofroniewn commented on #448
@guiwitz as I said in some of the other threads it's so exciting to see [naparimovie](https://github.com/guiwitz/naparimovie) - one of our goals is definitely to enable people to build on top of this tool and starting a new repo for such an advanced feature was a fine idea.

You’re correct that we are planning for a plugin system around napari, but we haven’t done too much to support that yet. We’

[2019-11-25 11:07] vigji opened #733 "Weird issue with dask/zarr datasets"
I am experiencing a weird issue when trying to use napery to explore dask arrays stored in zarr files. I would like to integrate napari as the viewer for a calcium imaging data pipeline that I am building using dask (x)arrays stored in zarr datasets. Up to some size of the dask array, when I open the napari viewer everything runs smoothly. After increasing a dimension of the dask array, keeping th

[2019-11-25 11:16] jni commented on #733
Hi @vigji!

Thanks for the enthusiasm, and we certainly can't get enough examples of people using napari with their own data! 😊

I think your issue is probably related to https://github.com/napari/napari/issues/699 or https://github.com/napari/napari/issues/731 or both. (But my intuition says #699 is the culprit.) We are working on a fix! Thanks for reporting!

[2019-11-25 11:18] zeissmicroscopy commented on #729
Hi guys, I also tried the same on my windows 10 machine and there the code works fine. You can try to reproduce it by using this script:

[Read_OMETIFF_or_CZI.py](https://github.com/sebi06/ipy_notebooks/blob/master/Read_OMETIFF_CZI/Read_OMETIFF_or_CZI.py)

The images can be also found on the little [repository](https://github.com/sebi06/ipy_notebooks/tree/master/Read_OMETIFF_CZI) On the Ubuntu sys

[2019-11-25 11:23] jni commented on #729
Thank you @zeissmicroscopy! Looks like a different bug then, which is sad. I use Ubuntu 18.04 on my laptop so I'll investigate in the coming days.

[2019-11-25 12:51] s-m-e commented on #733
Does [this](https://github.com/napari/napari/issues/710#issuecomment-556444450) fix your issue? Then it is #699.

[2019-11-25 13:22] constantinpape commented on #699
I ran into this issue today as well and this also breaks lazy loading for other lazy input sources like `h5py` or `z5py` datasets.
Maybe leave out this check if `is_pyramid is not None`? This might cause some downstream errors for inputs that are not consistent with the passed pyramid flag though. Or just perform the check for `tuple` and `list` inputs? This would cause issues if someone passes a

[2019-11-25 16:41] sofroniewn commented on #729
Hi @zeissmicroscopy, I'm trying to create a minimal failing example - though I'm on a mac osx so maybe it won't fail there. It looks like the file you failed one was `CellDivision_T=10_Z=15_CH=2_DCV_small.czi` or are you failing on all files you try with this script right now?

I put together this little demo:
[code]
which is definitely not identical to yours, but at least it worked for me, and yo

[2019-11-25 18:29] cgohlke commented on #729
Crashes for me on Windows 10. The crash is deep in `Qt5Core.dll` after an exception is raised in [vispy transforms](https://github.com/vispy/vispy/blob/master/vispy/visuals/transforms/_util.py#L80):
[code]

[2019-11-25 18:56] cgohlke commented on #729
Try without squeeze:

[code]

[2019-11-25 19:46] sofroniewn commented on #729
@cgohlke that doesn't cause a crash for me - I just ran your script and it worked fine.

Looking at that `Array shape (1, 5) cannot be converted to vec4` there are two points that could be causing problems - one is the `scale` keyword arg and that we are accidentally setting scale to be a vector of length 5 and causing a crash - the other is something about the array having singleton dimensions, m

[2019-11-25 19:53] cgohlke commented on #729
Interesting. Did you try "toggle number of displayed dimensions"?

[2019-11-25 20:01] cgohlke commented on #729
yes

yes

yes

yes

No, that's without `channel_axis` and `scale`.

[2019-11-25 21:09] sofroniewn commented on #729
Hmm, none of this stuff crashes for me, including toggling displayed dimensions. Does it crash when you enter `viewer.dims.ndisplay=3` @cgohlke, in which case am I right that the following minimal examples all have the described behavior for you:

[code]

All these successfully run on my mac osx using the latest napari and the latest vispy on master for both.

[2019-11-25 21:24] cgohlke commented on #729
No, the Traceback is printed on the console.

I'm using latest released versions. Maybe this issue has been fixed or it's a bug in PyQT5 on Windows?

[2019-11-25 21:36] cgohlke commented on #729
That solves the issue.

[2019-11-25 22:08] s-m-e opened #734 "Activating matplotlib widget in jupyter lab causes subsequent use of napari to crash the kernel"
**Update from maintainers**: You can see the full thread below but it seems one workaround for napari 0.4.4 is to *first* activate matplotlib widgets and *then* use the `%gui qt` magic for napari.

## 🐛 Bug

Activating the matplotlib widget in Jupyter lab through the `%matplotlib widget` magic causes every subsequent call of `napari.view_image` to crash the kernel.

## To Reproduce

Steps to repro

[2019-11-25 22:15] s-m-e commented on #734
There is a variation to the above bug / example:

[code]

If I activate `matplotlib widget` **before** I actually use `napari`, I do get a traceback in Jupyter lab ...

[code]

... and in the console:

[code]

`napari` fails to launch but at least does not crash the kernel.

[2019-11-25 22:25] s-m-e opened #735 "Allow napari to launch in foreground (when called from Jupyter lab)"
## 🚀 Feature

A simple option when calling `napari.view_image`: `foreground`, a bool. If `True`, the `napari` viewer window receives the focus automatically when being opened.

## Motivation

At least when launched from Jupyter, `napari` opens its windows in the background. I can easily switch to them using my desktop's task manager / task bar, but this quickly becomes annoying with many open task

[2019-11-25 22:38] tlambert03 commented on #735
hi @s-m-e
that behavior was actually changed in #721 and merged into master in 84e05db (not yet released).

however, it came at the cost of a reversion of #553... causing the menubar to be inactive when launching _outside_ of a jupyter notebook.  See ongoing discussion in #732.  We're not immediately sure how to reconcile the two problems... but regardless of which way the main branch goes with it

[2019-11-25 22:44] sofroniewn commented on #734
This might be related to #687

[2019-11-25 22:49] sofroniewn commented on #729
hmm ok - maybe there are multiple things going on here because @zeissmicroscopy reported up here https://github.com/napari/napari/issues/729#issuecomment-558110759 that the latest vispy / napari on master didn't fix their issue (i.e. wasn't just #576). Maybe I'll let them catch up with the debugging and then see where things are at. We definitely want to get the next napari release out asap and I

[2019-11-25 23:11] sofroniewn commented on #647
I'm closing as duplicate of #569 which is currently being worked on

[2019-11-25 23:11] #647 closed, assigned to nobody

[2019-11-25 23:15] sofroniewn opened #736 "big data + pyramid + contrast limits meta issue"
## 🐛 Bug
We have a number of open issues right now related to big data + pyramid + contrast limits calculations, we've struggled with our api here for a while and it's clearly a major driver of current bug reports. I'm going collect references to all the issues below and I'd like us to spend a little time thinking about what the best overall solution is

- [x] #624 #570 contrast limits and range g

[2019-11-25 23:47] jni commented on #736
Thanks @sofroniewn! This has been causing me some anguish but I haven't found a moment to work on it. imho another tweak for the pyramid checking code is checking `hasattr(data, shape)`. If it has a shape, it must be regular and cannot be a pyramid. That should allow things to work with `is_pyramid=None`.

[2019-11-25 23:48] jni commented on #736
On the plus side, it's very cool that so many people are using napari to look at big microscopy data!

[2019-11-25 23:53] sofroniewn commented on #736
Unfortunately @jni we did have someone pass pyramid data as a 1-d numpy array with dtype object - see one of our old issues

[2019-11-25 23:54] sofroniewn commented on #736
I am working on a PR adding unit tests with the timing like you did for the your recent dask uint8 PR

[2019-11-26 02:33] jni commented on #736
@sofroniewn

Ach! Users have such a way to find bugs. 😂

How about:

`hasattr(data, 'shape') and hasattr(data, 'dtype') and data.dtype != 'object':`

?

[2019-11-26 02:35] sofroniewn commented on #736
@jni checkout my solution here - https://github.com/napari/napari/pull/737#issuecomment-558416914

[2019-11-26 10:29] vigji commented on #733
Thank you everyone for the feedback!
Yes, in the end it was #699, setting `is_pyramid=False` solves the issue. For clarifying this to other people coming to this issue, there is a threshold at 2**13 after which some a for pyramid guessing returns true:
[code]
And my datasets were at the edge of that :)
To be precise, the line that seems to be decompressing the entire dataset is after that call, in

[2019-11-26 18:54] #691 closed, assigned to nobody

[2019-11-27 09:26] guiwitz commented on #448
@sofroniewn This all makes perfect sense, thanks for the detailed answer! I also think that keeping the scripting part out is better for now, and I'll make a repo with just that part to avoid confusing people. I can then turn it into a plugin whenever this becomes possible in napari.

I found that one can probably do all necessary quaternion calculations with [scipy](https://docs.scipy.org/doc/sci

[2019-11-27 10:53] VolkerH commented on #576
I guess now that the cause has been found shoulde we close this issue or do you want to keep it open until the next vispy release?

[2019-11-27 13:55] djhoese commented on #576
I'll review vispy bug PRs one more time today and probably make a release today.

[2019-11-27 16:39] djhoese commented on #576
Vispy 0.6.3 is out on PyPI! Waiting for conda-forge to pick it up and all that stuff.

[2019-11-27 16:41] tlambert03 commented on #576
awesome!  Thanks again @djhoese and @cgohlke ... that was an impressive bug-hunt.

[2019-11-27 16:48] sofroniewn commented on #576
Whoo! thanks @djhoese I can confirm i've pip installed `0.6.3` and this bug is fixed.

@tlambert03 I'm going to start a PR where we bump our vispy dependency and remove some of the backports - I know I have one or two, not sure if you do also. we can continue the discussion on that PR

[2019-11-27 18:08] #576 closed, assigned to nobody

[2019-11-27 19:05] sebi06 commented on #729
Hi guys, I checked again and install napari and vispy (in that order) using the latest version from GitHub on my Ubuntu system.

And then I tried to run the following notebook but got stuck again. It is the same issue as when trying this from a script and the error seems to occur here:

`viewer = napari.Viewer()`

But the exact same notebook runs without problems on my windows system. I am not sur

[2019-11-27 19:15] sofroniewn commented on #729
If you just run `viewer = napari.Viewer()` in its own cell do you still get a crash? Also, I don't think the `time.sleep(5)` will actually help. We now have code to detect if a `qApp` exists yet and we emit a warning if it doesn't.

Also what happens if you try `%gui qt` and not `%gui qt5` - there could be a weird pyside2 vs pyqt5 conflict going on here

[2019-11-27 19:17] sofroniewn commented on #729
Ah also, could be related to the `import ipywidgets as widgets` see #687 though that doesn't seem to be about a seg fault

[2019-11-27 19:22] sebi06 commented on #729
I removed ipwidgets, switched %gui qt and only tried `viewer = napari.Viewer()` which gave the same result - Kernel died ...

[2019-11-27 19:26] sofroniewn commented on #729
yikes. if you just run a brand new, empty notebook with the following two cells

[code]

[code]
does the kernel still die?

Is there any chance you could be running an old napari - should be `0.2.5` - as we used to have this problem, but fixed it in #642 by emitting a warning when no Qt event loop was detected

[2019-11-28 01:21] sofroniewn commented on #733
@vigji sorry about this, we're actively working to try and improve this - see #736 for a meta issue and #737 for an attempt. We're working on dropping that magic `8192` number and this pyramid calculation.

As to the contrast_limits calculation, I can look into that too

[2019-11-28 03:06] #699 closed, assigned to nobody

[2019-11-28 04:38] Peter-Hogg opened #742 "Issues displaying RGB volume"
## 🐛 Bug

Only in-built colormaps are being displayed in the volume viewer but RGB colors are rendered correctly when displayed using the reduced dimensions view option

## To Reproduce

Steps to reproduce the behavior:

1.  Have an numpy array of a shape as [z, x, y,  3] where the final dimension encodes RGB values
2.  Display the array using napari.view_image()
3. Toggle between the 2D and 3D vi

[2019-11-28 04:50] sofroniewn commented on #742
Hi @Peter-Hogg unfortunately the rendering library we're using under the hood - [vispy](https://github.com/vispy/vispy) doesn't support volumetric rgb to the best of my knowledge. I'm not quite sure why not, or how hard it would be to add. I can take a poke around their repo and report back.

For now though you could achieve rgb like functionality in 3D is this by having three separate layers each

[2019-11-28 05:05] Peter-Hogg commented on #742
That work around seemed to do the trick! I should have thought of putting the different colors on separate layers, I was doing something similar to visualize something else I was working on.

Thanks! That helped a lot

[2019-11-28 05:05] #742 closed, assigned to nobody

[2019-11-28 05:07] sofroniewn commented on #742
Great! Maybe we'll look into the 3D rgb at some point, but good to know that works for you for now!

[2019-11-28 05:10] padster commented on #693
Nice, glad to see someone else is working on this usage too!
@sofroniewn I don't know if you recall me at BioImage Informatics, but my question about the availability of 3D sphere shapes was exactly for the connections between branches :)
Cylinders with different radii at each end would be great for the SWC drawings too.

Current rendering looks like this
![swc](https://user-images.githubuserconte

[2019-11-28 05:57] #711 closed, assigned to nobody

[2019-11-28 18:22] sofroniewn commented on #732
I just spent some timing working on this, but no progress!! I can only get either / or to work not both!!

[2019-11-28 19:38] sebi06 commented on #729
I check for my napari and vispy versions and updated both from PyPi.

* Napari = 0.2.6
* Vispy = 0.6.3

The kernel still dies ....

![image](https://user-images.githubusercontent.com/3833249/69829049-c3b59e80-121e-11ea-8eb2-9adbbd977084.png)

[2019-11-28 19:47] sofroniewn commented on #729
Interesting - I looks like you have an old version of Qt, see the warning in the cell above, and it’s not getting automatically updated by our pip install. Can you try manually updating your Qt to the minimum version specified in that warning. Can you also put in the thread some specs about the machine you are running from / os version etc

[2019-11-28 20:06] sebi06 commented on #729
I just created a fresh conda environment and install napari via pip. And them my list of packages does not contain any qt but pyside=5.13.2.

But when I try to start a notebook the errors below when I execute the first cell

[code]

[code]

[code]

[2019-11-28 20:14] sofroniewn commented on #729
Hmm I will look into this more on my laptop. A couple quick things - pyside2 is just the python bindings for the Qt C library that we use, so pyside2 appears in the pip freeze and Qt does not, but you definitely need to have Qt installed somewhere. Normally when installing pyside2 you’ll get the latest qt I think, but I know their are some os dependent variables here.

I also noticed you are using

[2019-11-28 22:01] royerloic commented on #730
@tlambert03 Good catch. I think that the simplification you are calling for is warranted.
As long as there is no other thread than the Qt thread at the origin of any change event to 'self.dims.events.axis_labels' then everything  should be fine. I can't recall why I had it this particular way. I was very systematic and paranoid about having threading issues for sure...

[2019-11-29 00:27] royerloic commented on #448
Very excited to  see this happen @guiwitz  !

[2019-11-29 03:28] tlambert03 commented on #730
Ok thanks for weighing in!  Really was just curious.  Will close this, and maybe cull some extra signals here and there when appropriate

[2019-11-29 03:28] #730 closed, assigned to nobody

[2019-11-29 05:05] #572 closed, assigned to nobody

[2019-11-29 05:08] sofroniewn commented on #733
We have now released `0.2.6` it should fix some, but maybe not all of these issue. If you can continue any testing with that release that would be great. We'll be working on further changes in #737 which is still in progress

[2019-11-30 03:07] tlambert03 commented on #567
@sofroniewn pointed me to this from #744.  Just wanted to hear exactly when people feel like it's slow?  I think the majority of that time might be qt itself spinning up or imports (which is harder to do anything about).  On my system, when running from `__main__`, the majority of time is in `__init__`:
[code]

So even if we wanted to do something with, say, [QSplashScreen](https://doc.qt.io/qt-5/

[2019-11-30 03:21] sofroniewn commented on #567
That's great profiling @tlambert03 - how did you do it? I get about `3.2` seconds between hitting enter on the command line after typing `napari` and seeing something on my screen (timed using the stop watch on my phone and me pressing buttons). That becomes a little longer if I try to load a small image at the same time too.

If we could get something up at the end right after app ready it still

[2019-11-30 03:29] tlambert03 commented on #567
just `import time` and printed some `time.time()` statements at various places 😅
the first statement at the top of `__init__` fired pretty much instantaneously after hitting enter.  3.2 seconds is definitely a bit frustrating, and maybe our differences are just computer differences? (but it certainly means that many users will be experiencing 3+ seconds).

I definitely agree with @jni that we shou

[2019-11-30 03:56] sofroniewn commented on #567
@tlambert03 nice use of timing, I can try that too to be more quantitative. I've added a splash screen PR #745 with the requirements people described. I kinda like it, but we can continue the discussion there.

[2019-11-30 09:38] vigji commented on #733
I tried to run all the above tests with the new version and (as expected in #740 ) it seem that everything reported above still happen!
No big deal, I will keep the `is_pyramid` argument for now. I just need to figure out why passing that without setting the `contrast_limits` argument crashes on my mac.

[2019-11-30 11:34] pskeshu opened #746 "Accounting for spatial gaps between slices while 3D rendering"
I took a stack of DAPI stained nuclei images in diffraction limit, such that there are about 25 images in Z with a spacing of 0.2um between slices.

When I use the 3D rendering option, the volume image looks like a flat brick, instead of the properly spaced 3D image of a nucleus, which is more of a sphere.

I noticed that there is no obvious way to set spacing between slices before the 3D render i

[2019-11-30 13:36] tlambert03 commented on #746
Hi @pskeshu,
The answer here depends on how you're adding images to napari.  If you're using python directly you can use the `scale` argument in `napari.view_image` or `viewer.add_image`:
[code]

If you're dragging and dropping a file on napari, then currently you will have to adjust that scale variable after adding the file.  For instance in the napari console:
[code]
@sofroniewn is working on th

[2019-11-30 14:08] tlambert03 commented on #567
to isolate the cause of the delay a bit more:
i put some more timing statements during startup and found that almost all of the delay in start comes when importing ```.viewer```, and in that file, the bulk of the time comes from importing ```._qt.qt_viewer``` ... and there the slow imports are spread across the many imports... with vispy being a notable contributor.

[2019-11-30 21:50] sofroniewn commented on #456
@tlambert03 just wanted to draw your attention to this. should be relatively easy to add after #726 goes in if we want, but let's wait till that merges before doing anything here

[2019-11-30 21:51] sofroniewn commented on #653
@AhmetCanSolak - ok if i delete "revert-692-fix_is_pyramid"? thanks again for helping out there

[2019-11-30 23:07] AhmetCanSolak commented on #653
yep i think we are already good on that. Please go ahead @sofroniewn. You are welcome!

[2019-12-01 00:59] sofroniewn commented on #465
I added some more `set_data` like benchmarks in #747 and things are now pretty fast with the main `layer.data = new_data` api. A lot has changed since this original issue was made that could account for it. With a 4096 x 4096 image the update time is now `1.5ms` and most of that is spent in the thumbnail generation, which still isn't too bad.

@bryantChhun can you test this again with the latest v

[2019-12-01 01:05] sofroniewn commented on #469
I'm closing this issue now. The vast majority of the changes from the design audit have been implemented. There are still some more minor ones that havn't, like improvements to a couple of the icons, but it will probably be worth doing a new design audit again soon. Particularly after we get all the dockable widgets and context menu stuff in, and we can always refer back to this issue at that poin

[2019-12-01 01:05] #469 closed, assigned to nobody

[2019-12-01 18:31] sofroniewn commented on #567
Following discussion in #745 I'm closing this issue for now. It was felt the splash screen didn't quite appear fast enough to be warranted. We can always revisit for the bundled app after #496 merges

[2019-12-01 18:31] #567 closed, assigned to nobody

[2019-12-01 23:55] jni opened #751 "Passing a numpy array as the "scale" argument crashes napari"
## 🐛 Bug

This one is probably my fault for promoting the `x = y or default_value` syntax for None arguments: it crashes when `y` is a NumPy array. :grimacing: Now, when you pass a NumPy array as the `scale=` parameter, it crashes with `ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()`

## To Reproduce

[code]

[code]

## Expected behavior

It

[2019-12-02 06:19] jni opened #752 "Add "copy to clipboard" to version box in the "info" panel"
## 🚀 Feature

Reviewing #750, it occurred to me that it would be nice to be able to push a button to copy all the required information in the "info" box, rather than having to select it from the scroll box.

[2019-12-02 09:11] jni opened #753 "Rectangles in shapes layers should be bounding boxes initially"
## 🚀 Feature

I was working with a user to get bounding boxes for ROIs by creating a shapes layer and drawing one or more rectangles. However, finding the `.data` attribute, one gets a polygon with the vertices of the rectangle, which is pretty clunky to convert into an ROI using Python slices.

It would be nice if the data was initially the top left and bottom right corners of the rectangle. Upon

[2019-12-02 13:53] tlambert03 opened #754 "StringEnum _missing_ doesn't work"
## 🐛 Bug

Quick observation that is turning out to be trickier than I first thought:  The `StringEnum` subclass is not working as intended with missing values.

1. It does not do the intended conversion to lowercase and
2. the _real_ error message gets hidden in the stack trace, making it less informative.

[code]

drop a `print()` statement inside `StringEnum._missing_` and you'll see that it doe

[2019-12-02 16:24] sofroniewn commented on #754
@kevinyamauchi do you have thoughts on this?

[2019-12-02 21:12] kevinyamauchi commented on #754
Thanks for catching this, @tlambert03 !

If I recall correctly, the original intent was to allow users to create the `StringEnum` without having to worry about the case. I totally agree that the error handling in the current implementation is confusing/broken.

In light of this, I propose that we: (1) no longer overload `_missing_` in `StringEnum` and (2) decide if we still think that it is import

[2019-12-02 22:54] pranathivemuri commented on #539
From the discussion and feedback from @royerloic today, I might try to get this working now using the discussion in this issue and getting some inspiration from some first tracking steps, (points, shape layer combined into a tracking layer probably) @guiwitz - https://github.com/guiwitz/napari_demo/blob/master/napari_3d_image_processing.ipynb

@kevinyamauchi @sofroniewn I might come to you guys so

[2019-12-02 23:41] royerloic commented on #539
Would be interesting to gather here, in a first step, what people think should be the feature of such a layer...

[2019-12-03 00:13] mkitti commented on #539
A few years ago the Cell Migration Standards Organization @CellMigStandOrg assembled a group to put together a biotracks standard:
http://cmso.science/Tracks/
https://github.com/CellMigStandOrg/biotracks

The preprint describing this effort as well as other standardization efforts is located here:
Community Standards for Open Cell Migration Data
https://www.biorxiv.org/content/10.1101/803064v1

It

[2019-12-03 00:14] mkitti commented on #539
Also see the discussion on image.sc: https://forum.image.sc/t/emergence-of-a-standardized-common-file-format-for-cell-and-single-particle-tracking-data/30829

[2019-12-03 03:38] sofroniewn commented on #539
There might also be some intersection here with some of the issues discussed in #693 (visualizing 3D segmentations of neurons, axons + dendrites) and @DottedGlass and @padster might also be interested in weighing in

[2019-12-03 03:40] sofroniewn commented on #693
@padster yes I do remember you and that question. Unfortunately no 3D spheres yet, but they should be very addable. Thanks for sharing that code too. We've also got a new discussion going around adding a "tracks" layer in #539 that you might be interested in too

[2019-12-03 04:44] jni commented on #754
Personally, I think case invariance is a very nice feature — something that string-based mode APIs generally provide in Python. So I'd prefer to find a way to fix this. I haven't looked at the engineering properly but my gut feeling is that it's fixable.

[2019-12-03 05:45] eburling commented on #318
This is reminiscent of #578. Love the idea of smooth panning and incremental loading, especially if loading of invisible layers is ignored.

[2019-12-03 06:15] pskeshu opened #755 "Viewing a list of images with different shapes"
There's a frequent use-case which is not supported by napari currently is the ability to view numpy arrays of different sizes stored in a list. I'm not sure if there's an elegant solution to this, but I'm making this issue anyway, in case someone has any ideas.

[2019-12-03 06:20] tlambert03 commented on #754
Haven’t had time to look, but I feel like __getitem__ might be the ticket, as @kevinyamauchi suggested

[2019-12-03 07:39] jni commented on #755
@pskeshu this is a duplicate of #661 and #605. =) See there for discussions. Closing this as duplicate for now, though!

[2019-12-03 07:39] #755 closed, assigned to nobody

[2019-12-03 08:33] reyesaldasoro commented on #539
Have you seen the tracking and visualisation tool called phagosight:

https://github.com/phagosight/phagosight

Some of the visualisation tools may be useful:

https://github.com/phagosight/phagosight/wiki/User-Manual-7

[2019-12-03 09:23] quantumjot commented on #539
I second this. I think a specialized tracklet layer would be really useful.

Beyond the ability to color/change opacity of segments of the tracklets and associate these with metadata (such as time or state), it's also really useful to have a text box displaying the track ID. This is essential when debugging the output of tracking. I implemented something similar here in this video:
https://www.you

[2019-12-03 15:17] kevinyamauchi commented on #754
Okay, sounds good. I will take a look into making setting the `StringEnum` case invariant with proper error handling today and let you all know what I find! Also, it sounds like I should probably add a test or two to cover the issue that @tlambert03 found.

[2019-12-03 17:56] royerloic commented on #539
Thank you all for your interest, ideas, and ressources!
Greatly appreciated!

Let me perhaps define more clearly the scope of what we have in mind by stating what this issue is about and what it is not about:

not about:
i) Defining a file format for tracking data,
ii) Conceiving a  'universal' data model or standard for tracking data,
iii) Designing a fully featured tracking tool,
iv) writing loa

[2019-12-03 21:51] kevinyamauchi commented on #754
Hello everyone. I think I have come up with something that both allows for case-invariant settings by item name or value and raises the appropriate errors when setting with invalid names/values. I have made a WIP PR to discuss at #757 (see [the tests](https://github.com/napari/napari/blob/8e5652ec47d8c063f19fc2c2271525f98ca16104/napari/util/tests/test_misc.py#L334) to get a sense for how it works)

[2019-12-03 23:32] sofroniewn opened #758 "slow imports"
## 🐛 Bug

@cgohlke has identified some causes of the slowness of our vispy and other imports - see here https://github.com/vispy/vispy/issues/1779 and also this comment from @larsoner https://github.com/vispy/vispy/issues/1779#issuecomment-561305146 related to the use of `pkg_resources` and asking if we can maybe

We should definitely look into doing what we can on our end to improve things too. W

[2019-12-04 06:11] cgohlke commented on #758
The slow vispy import has been fixed. The numpydoc/sphinx bottleneck is being addressed at https://github.com/numpy/numpydoc/pull/248. On this Windows workstation, `import napari` decreased from ~5.8 s to 2.4 s after fixing vispy, triangle, and docutils.

Some other significant imports:

* IPython: 0.42 s
* Eventlet through zarr: 0.36 s
* Scipy.signal through vispy -> skimage: 0.29 s

[2019-12-04 06:27] tlambert03 commented on #758
Awesome!  Way to go.  Thanks for digging into these!

[2019-12-04 06:37] cgohlke commented on #758
Eventlet is no longer required by fasteners: https://github.com/harlowja/fasteners/pull/43

[2019-12-04 13:11] larsoner commented on #758
Pushed a commit to https://github.com/vispy/vispy/pull/1781 to nest the `skimage` import

[2019-12-04 20:48] padster commented on #539
From the SWC use-case mentioned in #693, the main thing I can think is that we have a very related problem when drawing 3D lines onto the 2D plane projection. Currently you can draw 3D line shapes, but in 2D mode you only see the intersection with the viewed plane. Ideally, you would also see the segments nearby the current Z, ideally increasingly faint and transparent as you go further.

The cons

[2019-12-04 21:01] kne42 commented on #729
Hi @sebi06, I've been getting a bunch of strange `TypeError: 'Shiboken.ObjectType' object is not iterable` errors on Python 3.8 as well. Downgrading to Python 3.7 fixed it for me.

Note: Shiboken is a library used by PySide2, so we will likely need to wait for them to fix this issue for napari to be compatible with Python 3.8.

[2019-12-04 23:42] sofroniewn opened #760 "Linked multicanvas support"
## 🚀 Feature

A number of issues and people have requested multi canvas support, for example #561  and #662 representing two major use cases - #561 is something like our grid mode but now with linked cameras so that zooming in on one spot in one canvas causes the same zoom on all the canvas. In this mode you could still have one global dims model, each layer would get assigned exactly to one canva

[2019-12-05 11:36] tlambert03 commented on #760
there's a lot here, so I might have missed some things, but some immediate thoughts:

I think ortho-views might be the most obvious/direct application for multi-canvas.  If I understand what you're proposing, it's the same I had been imagining: an additional slider for each new orthoview ... so a 3D image (in 2D view) would have 3 sliders instead of 1, (and each slider would affect the view of 2 o

[2019-12-05 17:31] kevinyamauchi opened #761 "Proposal: clean up napari.util.misc"
I noticed that `napari.util.misc` is getting a bit bloated and I think it would be good to clean it up a bit. To get the conversation rolling, I propose the following:

- create an image utils file
    - `is_rgb()`
    - `is_pyramid()`
    - `trim_pyramid()`
    - `should_be_pyramid()`
    - `get_pyramid_and_rgb()`
    - `fast_pyramid()`
- create a qt utils file
    - `mouse_press_callbacks()`

[2019-12-05 17:56] sofroniewn commented on #761
@kevinyamauchi I like this, but see #737 for some steps in that direction. Given the #737 also changes code though maybe we should do this PR first and then revisit #737.

I think `segment_normal_vector` is used in the shapes layer, but maybe no more. In general I think we should push some of the layer specific code into layer utils and qt specific code into qt utils, but curious how others think

[2019-12-05 17:57] sofroniewn commented on #753
yup, fair points

[2019-12-05 17:58] sofroniewn commented on #752
Would love to see this. Maybe someone can claim issue and then add

[2019-12-05 17:59] sofroniewn commented on #751
yup, should be fixed

[2019-12-05 18:11] kevinyamauchi commented on #761
@sofroniewn , sorry I missed your changes in #737! I don't have a strong preference for if this or #737 is completed first. Once we decide the best refactor, it should be pretty quick, so we may be able to sneak this in while we figure out the best way forward with #737.

When I searched for `segment_normal_vector` in the repo, I only saw it in `napari.utils.misc`, but maybe I missed it. Do you kn

[2019-12-05 18:12] henrypinkard opened #762 "Easier way to make points with no face color"
## 🚀 Feature

Minor improvement: I'm using napari to visualize results of a cell finding algorithm. Would like to use points layer to draw circles around detections. My instinct was to try something like this:

```viewer.add_points(yx, edge_color='magenta', face_color=None)```

But this throws an error. As far as I can tell, the way to accomplish this is to use the ring marker, but this doesn't se

[2019-12-05 18:35] kevinyamauchi commented on #762
Hey @henrypinkard ! I think this should be possible. The `Points` layer wraps the vispy [`MarkersVisual`](https://github.com/vispy/vispy/blob/master/vispy/visuals/markers.py#L506-L586). The `face_color` can be set with a [`ColorArray`](https://github.com/vispy/vispy/blob/5fa85e0e9e639ce4282d04718fcd4c17de4d8e8d/vispy/color/color_array.py#L83) object, which has a alpha argument. We can make it such

[2019-12-05 18:57] sofroniewn commented on #761
i guess `segment_normal_vector` and `compute_max_shape` were removed from the layer code and should be deleted.

I think we should do this refactor now and then i will adjust #737 (or make a new PR) as needed. It will make that PR easier to review.

Can you also remane -> `is_rgb` to `guess_rgb` and `is_pyramid` -> `guess_pyramid` and the other `is_*` to `guess_*` changes that are made in #737 wil

[2019-12-05 19:09] sofroniewn opened #763 "Physical coordinate systems"
## 🚀 Feature

There have been a number of requests from the community around supporting physical coordinates. Right now we have `scale` and `translate` properties and a scene graph so it will be possible, but we need to do some work around our APIs and bug-fixing to make it work well. We also have to make our scaling in Z work appropriately with our sliders and dims range. There have been a number

[2019-12-05 19:50] danielballan commented on #539
There might be some useful inspiration available in the tracking library https://soft-matter.github.io/trackpy/v0.4.2/ and associated visualizations. cc @nkeim

[2019-12-05 21:55] pranathivemuri commented on #539
I have started working on the tracklet layer
Here is the branch - https://github.com/napari/napari/compare/master...pranathivemuri:pranathi-track?expand=1

Ignore the many changes in my branch, I wanted to have a proof of concept for myself for adding a new layer, I can refactor and make the PR and code smaller as needed.

Right now it is setting shape_type="path" from shapes layer. Maybe I can ju

[2019-12-05 22:26] sofroniewn commented on #539
@pranathivemuri very cool to see this get started, but it's not clear to me what this approach is achieving vs just directly using the shapes layer. For example you can achieve a visualization exactly like the one you linked to with a singe call to `view_shapes`:

[code]

<img width="1200" alt="Screen Shot 2019-12-05 at 5 17 28 PM" src="https://user-images.githubusercontent.com/6531703/70279067-99

[2019-12-05 23:14] henrypinkard commented on #762
Yeah sounds great!

Should have been a bit more clear on the second point. I just meant that if you want to 1) circle an object, 2) see the pixels within the circle, and 3) have the radius of the circle represent the object size, it is hard to do with the ring because by expanding the size in order to accomplish (2), you mess up (3) because both the inner and outer diameter enlarge simultaneously

[2019-12-06 01:24] sofroniewn commented on #725
This has been added in #726

[2019-12-06 01:24] #725 closed, assigned to nobody

[2019-12-06 01:24] kne42 opened #764 "plans for website overhaul & docs update"
#### phase 1 – reorganization
- [x] rename `napari/napari.github.io` (currently hosting the docs) to `napari/docs` (completed by @kne42)
- [x] change auto-devdoc CI script to point to the new `napari/docs` repo (completed by @kne42 in #876)
- [x] reorganize `napari/napari-tutorials` (completed by @kne42 in napari/tutorials#51)
- [x] create `napari/napari.github.io` basic landing page (can just be

[2019-12-06 01:24] sofroniewn commented on #763
We should also fix #707 at this point too

[2019-12-06 02:42] jni commented on #764
@kne42 I love this issue! We should also incorporate a user gallery into the site. (phase 4? =)

[2019-12-06 02:57] kevinyamauchi commented on #761
Hello everyone. Based on our discussion today, I have come up with the plan below for the `napari.util.misc` refactor. Let me know what you think!

## Proposed refactor

- [ ] **/napari/util/misc.py** (used by multiple `napari.*` modules)
- `ensure_iterable()`
- `is_iterable()` (used by `ensure_iterable()`)
- `formatdoc()`
- `StringEnum`
- `camel_to_snake()`
- `CallDefault()`
- `CallSignature()`
-

[2019-12-06 03:03] mkitti commented on #539
If you need some example tracks, check here:
https://github.com/CellMigStandOrg/biotracks/tree/master/examples
https://github.com/CellMigStandOrg/CMSO-datasets/tree/master/cmsodataset0001-masuzzo/trackmate/2_B/dp

[2019-12-06 03:47] GenevieveBuckley commented on #763
This is of particular interest to me, and I may be able to help with example use cases & demo data here.

I didn't catch Juan's conversation with Stephan, so subscribing here to get a better sense of people's thoughts.

[2019-12-06 04:41] sofroniewn commented on #539
@pranathivemuri following up, another way to start might be for us to define an `add_tracks` method in viewer the just takes in data in the format you want and then does a conversion internally to the data objects needed to make a single call to `add_shapes` to add a single `Shape` layer that results in the desired visualization.

This approach would allow us to work on the API of tracks without h

[2019-12-06 04:47] sofroniewn commented on #761
Looks great to me @kevinyamauchi. Let's see if anyone else has any requested changes, @jni @kne42 otherwise I think you're good to get started.

it shouldn't be too hard to fix any merge conflicts with in-progress PRs (i'll take care of #737 when this is done) and it sets up a great framework for adding future util methods.

So nice to be able to do a first pass "review" here before any coding is

[2019-12-06 06:07] mkitti commented on #539
@sofroniewn The shapes reminded me of a discussion we had with OME about the data model for tracks. We may not want to assume that we are necessarily connecting points in space.

Rather we may be connecting objects. Those objects may be described by any number of ROIs: https://docs.openmicroscopy.org/ome-files-cpp/0.5.0/ome-model/manual/html/developers/roi.html . Each ROI describes some kind of a

[2019-12-06 12:27] jni commented on #763
Yep so a little bit about how Big Data Viewer works, as I understood it/remember it.

Somewhat surprisingly, all of the rendering is CPU, not GPU-based. All of the speed is achieved through lazy rendering (as suggested by @d-v-b and @constantinpape) and async/non-blocking interactivity. There is a transformation from screen-pixel/canvas space to world space (typically, just a scaling, but in our c

[2019-12-06 12:28] quantumjot commented on #539
I had an attempt at using the idea from @VolkerH for separate path layers for t0, t-1 etc.

In each layer, there are `Path` linking that time point to the previous one, so that as you move through t there is a comet tail reaching t-n observations into the past. Each layer has an opacity set such that the line fades with history. I think the visualization looks quite nice:

![Stack](https://user-im

[2019-12-06 13:03] jni commented on #761
This list is great with the following possible exceptions:

- mouse_press_callbacks()
- mouse_move_callbacks()
- mouse_release_callbacks()
- get_keybindings_summary()
- get_function_summary() (used by get_keybindings_summary())

Those are currently used by our Qt viewer but there is nothing Qt about them. If we ever decide to build eg a web-UI, we might want to reuse some of this machinery. So, I'

[2019-12-06 13:26] sofroniewn commented on #539
Very cool @quantumjot - you should be able to pass an N x RGBA array to both `edge_color` and `face_color` right now where N is the number of shapes and each shape will get colored with the appropriate colors. Right now it is not possible to color the individual line segments of a path differently (we could but would need to think about the API), but I don't think that is needed as you can always

[2019-12-06 14:59] kevinyamauchi commented on #761
@jni , that’s a good point. I will put them into their own file in `napari/util`. Now the tricky part is the name...`interaction_utils.py`?

[2019-12-06 17:54] guiwitz commented on #448
Hi @sofroniewn, I started integrating naparimovie into napari following your detailed description. The good news is that I managed to get rid of the pyquaternion dependency by using scipy. Now I have a question regarding the integration and in particular this part of your comment:

I'd like to go the first route and have my classes accessible e.g. in `viewer.movie`, however I have the following pr

[2019-12-06 18:16] sofroniewn commented on #761
if its inside the main `util` folder maybe just call it `interactions.py`

[2019-12-06 18:18] ngreenwald commented on #582
Just wanted to follow up on this. I noticed Mantis-Viewer has a nice
example of how this functionality would look:
https://mantis.parkerici.org/populations/

On Mon, Oct 14, 2019 at 6:26 PM Noah Greenwald <noahfgreenwald@gmail.com>
wrote:

[2019-12-06 18:23] #456 closed, assigned to nobody

[2019-12-06 20:04] sofroniewn commented on #763
Indeed - moving towards this would be a major change which I don't think we're ready for, but good to put down that approach in this issue

Agreed and we should do the easy stuff first. I think we are aligned here.

I think that is correct, though might be good to here from @will-moore who made this post https://forum.image.sc/t/napari-non-integer-step-size/31847/6. I think the slider itself will

[2019-12-06 20:16] sofroniewn commented on #754
This has been fixed by #757

[2019-12-06 20:16] #754 closed, assigned to kne42

[2019-12-06 20:18] sofroniewn commented on #746
@pskeshu has this worked for you? If so I'd like to close this issue

[2019-12-06 20:25] sofroniewn opened #766 "Python 3.8 not currently supported with PySide2"
## 🐛 Bug

As noted by @kne42 in https://github.com/napari/napari/issues/729#issuecomment-561836861 it seems like we currently do not have support for Python 3.8 and get the following error:

[code]

what's interesting is this in one of our custom Qt elements. Maybe @AhmetCanSolak has an idea on how to fix and then we'd be `3.8` compatible

[2019-12-06 20:27] sofroniewn commented on #729
@sebi06 excluding our python 3.8 problems are things now working for you? i've add a specific issue for that #766 that we'll work on. If things are good otherwise I'd like to close this issue

[2019-12-06 20:31] kne42 commented on #766
See [this reply](https://bugreports.qt.io/browse/PYSIDE-1140?focusedCommentId=486074&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-486074) from a Qt developer that says that they plan to provide Python 3.8 compatibility in Qt 5.14.

[2019-12-06 20:51] sofroniewn commented on #582
@ngreenwald so sorry I havn't ended up getting to this yet - what you're looking for isn't too dissimilar in the abstract from this demo: https://github.com/napari/napari/pull/675#issuecomment-553672258 where someone is dragging a `Line` across the image and plotting the profile of the image along the line. If you want to give any of this a go yourself I can try and help you through it

[2019-12-06 21:20] tlambert03 commented on #763
the index transformations doesn't seem like that hard of a challenge in its own, i feel like the major difference in the BDV case is the dependence on chunked data formats, right?  (i.e. even if we could easily calculate the indices in the original volume required to render any arbitrary slice, reading them from disk is the problem).  Either way, if I understand the conversation correctly, I ultim

[2019-12-06 22:03] kne42 opened #768 "Test both PySide2 and PyQt5"
While we have chosen to ship with PySide2 rather than PyQt5 due to its more permissive license, we should still ensure that `napari` is compatible with PyQt5 (and any other Python bindings supported by `qtpy` where we can).

Does anyone have an opinion on whether we should run tests with both packages on only the CI or locally as well?

see #767 for an example of how not testing both packages has

[2019-12-06 22:07] tlambert03 commented on #768
I agree, I have two dev environments that I check periodically, but I've thought it would be nice to have that on CI.  it'd be nice to keep local tests as speedy as possible, (maybe unless we start finding that they fail on CI a lot)

[2019-12-06 22:08] kne42 commented on #768
@tlambert03 makes sense. Besides, I don't think that there are enough differences between PySide2 and PyQt5 to warrant a 2x test slowdown.

[2019-12-06 22:14] ngreenwald commented on #582
Sure thing. I haven't ever worked with vispy or qt before, only scientific
stack in python. Any getting started resources you'd recommend?

On Fri, Dec 6, 2019 at 12:51 PM Nicholas Sofroniew <notifications@github.com>
wrote:

[2019-12-07 02:28] kevinyamauchi commented on #762
Got it, that makes sense. I have another issue I’m working on, but I can get to this next!

[2019-12-07 03:48] kevinyamauchi commented on #761
Thanks for the feedback!

I will get started making these changes now. I will also take advantage to add tests for any untested function along the way. To avoid a big PR with a bunch of files changed, I will make this in a series of PRs (one new util file per PR).

[2019-12-07 07:25] HagaiHargil opened #771 "NaN handling is incosistent"
## 🐛 Bug

The way napari currently handles `np.nan` values in its data is by raising wrong exceptions in some cases, and other times it kinda still works but not really.

## To Reproduce

[code]

## Expected behavior

Matplotlib and Seaborn usually show a single RuntimeWarning when encountering NaNs in the data, but they do still show the data and allow interactivity. I believe this is the behavio

[2019-12-07 14:17] sofroniewn commented on #768
Good idea @kne42 - seems like CI is consensus. This will be even more important after we implement https://github.com/napari/napari/issues/704#issuecomment-555361517 which will make installing with just pyqt5 much easier

[2019-12-07 14:20] sofroniewn commented on #771
There has been some recent discussion of this on vispy https://github.com/vispy/vispy/pull/1769#issuecomment-560270948. Maybe @jni can weigh in here

[2019-12-07 20:18] sofroniewn commented on #539
Making sure we easily support data from http://celltrackingchallenge.net/ is probably a good idea - h/t @mkitti  - https://twitter.com/markkitti/status/1203390337944821762

[2019-12-07 22:40] sofroniewn opened #772 "Add basic interactivity to the base layer"
## 🚀 Feature
I'd like to add basic interactivity to the base layer so that it is available for all layers to use. Not all layers would necessarily have to expose all this functionality by default, but I think it would be good to have there for plugin developers to access if they need and to reduce duplication across our code base.

I am imagining having the concept of "pan/zoom mode", "select mode

[2019-12-08 00:03] sofroniewn commented on #448
@guiwitz that’s great that you could drop the extra dependency and that your beginning work on the integration.

You’re right that I think we want to avoid that setting of the viewer state from within your `Movie` class. It’s fine to pass `viewer` to your `Movie` class and attach it as you do, but at that point we should consider `Viewer` as read only and not write to it, over wise you can end up

[2019-12-08 01:05] sofroniewn commented on #582
@ngreenwald when I was starting out I mostly just dug around the `Qt` and `vispy` docs and googled a lot. Sorry that's not so helpful, and maybe someone else can weigh in if they know good resources. It might also be a good idea to add links to those resources to our contributing guide for others to see too.

I think though for now from an "alpha" testing standpoint I can get you going with some p

[2019-12-08 06:54] jni commented on #448
Wait, doesn't movie *have* to modify the viewer, e.g. to set viewpoints/rotation parameters?

In my opinion, the viewer should not be touched by this functionality at all, except maybe in having additional methods to control viewpoints/animations. The movie object or function should exist entirely outside the viewer, take in a viewer as a parameter, and modify it as needed. I don't see a reason fo

[2019-12-08 10:57] guiwitz commented on #448
I'm a bit confused too now, so let me try to summarise. We indeed ***have*** to modify the viewer, so somehow we need access to it where the movie methods are also accessible. I think there's three solutions for that: (1) we add all the movie methods directly to the viewer, (2) we do the ugly self-referencing mentioned above, (3) we keep things separate and pass the viewer as a parameter to the in

[2019-12-08 13:31] sebi06 commented on #729
Hi, I completely uninstall everything that had to do with qt from my conda environment and install the latest PyQt5 via pip. And now everything works again, the Napari viewer shows up and displays my 3D stacks nicely. Therefore I close this one.

[2019-12-08 13:31] #729 closed, assigned to nobody

[2019-12-08 15:01] HagaiHargil opened #774 "ColorArray as face_color errors"
## 🐛 Bug

When trying to use a `ColorArray` for different point colors an error is raised by `napari`. Perhaps related to #762.

## To Reproduce

[code]

Interestingly, a list as `face_color` works, i.e. `face_color=['red', 'blue']`.

## Expected behavior

The `ColorArray` should grant each point its designated color.

## Environment

`napari 0.2.6, python 3.7, vispy 0.6.2`

## Additional context

[2019-12-08 15:22] HagaiHargil commented on #774
From some basic debugging, it seems like `set_data` [here](https://github.com/napari/napari/blob/a166f3119248a7249133eb704401ff7aee1c14fe/napari/_vispy/vispy_points_layer.py#L82) is expecting a string or a single tuple as the `face_color` argument, but instead it has a `ColorArray` at hand.

Also, to circumvent the issue one can use `colors = [color.rgba.ravel() for color in colors]`, assuming tha

[2019-12-08 15:40] sofroniewn commented on #448
I’m sorry yes, I wasn’t thinking it all through when I wrote the above. Thanks for the catch @jni. Starting with something like (3) seems reasonable, but maybe @jni can weigh in more. Also though if @guiwitz you are close to having a PR ready maybe best to submit it and we can continue the discussion there

[2019-12-08 19:40] sofroniewn opened #3544 "Shapes to labels / mask"
Add documentation of shapes to labels / mask to our shapes layer tutorial - see [this image.sc post](https://forum.image.sc/t/finding-a-roi-within-an-image-array/32072) and this [examples/shapes_to_labels.py](https://github.com/napari/napari/blob/master/examples/shapes_to_labels.py) for details

[2019-12-08 19:46] sofroniewn commented on #774
Hmm yeah I guess we hardcoded some assumptions there. Given that we currently all people to pass vispy colormaps to the `colormap` property for custom colormaps, it probably makes sense to allow people to pass a vispy `ColorArray` to our `color` like properties.

@kevinyamauchi @jni do you agree with this? In which case we should fix and standardize across all the layers which accept colors (`Vect

[2019-12-08 20:33] royerloic commented on #448
Looking great overall! Very exciting and great work @guiwitz!

I agree with @jni and @sofroniewn, solution 3 is the right way to go -- more modular.

A few thoughts:
i) Long term, when thinking about animation, we could imagine that the whole state of the viewer (model) can me thought as all the information needed at each key frame of an animation. Some numeric properties, such as the 3D view tran

[2019-12-08 20:43] HagaiHargil commented on #774
I'll be happy to tackle this PR myself with a bit of guidance.

[2019-12-08 21:34] sofroniewn commented on #448
@royerloic I love these comments, thanks for weighing in. I'm very excited about (i) - this should become easier after we get #686 in - which even includes round-trip tests for consistency. I also really like (v) - one can then imagine us or someone else making some standard "pre-recorded" "Movie" instances that you could then apply regardless of your data if you wanted to automate and standardize

[2019-12-08 22:17] royerloic commented on #448
:-)
I forgot something:

vi) Support for headless rendering of movies. In my experience, things can go sometimes go wrong when rendering in opengl, capturing the frames and making a video. If window visibility is changed or other OpenGL complexities are involved (disconnecting external screen), you get into trouble. Ideally and eventually, we should have means to do the rendering in a completely h

[2019-12-08 23:06] jni commented on #448
Oooh, this to me sounds like a context manager!

[code]

or

[code]

This seems pretty nice to me, no?

[2019-12-08 23:48] jni commented on #774
Yep, I'm 👍 on this proposal. Thanks for reporting @HagaiHargil and even more for offering to fix! =)

[2019-12-09 00:37] kevinyamauchi commented on #774
Thanks for raising this, @HagaiHargil ! I agree that we should allow people to pass custom colors to set `*_color` properties in our layers. I have listed a few thoughts below. Please let me know what you all think!
- Do we want users to pass `ColorArray` objects or is it preferable to allow users to pass RGBA tuples (or some other format)? As far as I can tell, from the user perspective, the `vis

[2019-12-09 02:47] sofroniewn commented on #762
This would be great. I'd prefer we use the explicit string `'transparent'` instead of the python variable `None` as we sometime use `None` to trigger a guess or a use another default setting - which is maybe not the best practice, but it would lead to ambiguity here

[2019-12-09 02:54] jni commented on #762
I'm 👎 on "transparent", as it's not a color in any common color "dialects". (e.g. XKCD colors, the most extensive named color collection I know of, includes "dark forest green" but not "transparent".) We could just use `(0,) * 4`, and maybe None. I think None is fine, it can be the "default" when the actual default is properly specified in the signature.

[2019-12-09 03:02] GenevieveBuckley commented on #299
This feature request was discussed in our last lab meeting. Some very useful points were made, which I'll summarize here:

1. **When rotating images, it's best if there's some way to allow the user to change the center of rotation as needed within each image.** It's easy to see why - any time the rotation center is far away from the image regions you are trying to match up, things tend to swing ar

[2019-12-09 03:33] sofroniewn commented on #762
Passing `face_color = [0]*4` works right now on `Shapes` and `Points` (though setting `layer.face_color=[0]*4` fails on Points and we need to fix). Passing `(0,)*4` also should have worked, but throws an error which is definitely a bug and should be fixed in #774. Any 4-tuple fails right now, but a list of length 4 works. We should add tests to catch that too, and standardize this across layers us

[2019-12-09 03:38] sofroniewn commented on #299
@GenevieveBuckley thanks for those added details. You might also be interest in #763 where we are discussing adding a physical coordinate system. After we've done that it might be a good time to think about this feature again and as @jni works on #763 it will probably be good to keep use-cases like this in mind

[2019-12-09 03:41] sofroniewn commented on #746
I am closing now, but @pskeshu feel free to re-open if you have further problems. I will open an issue on our tutorials repo that this needs better documentation

[2019-12-09 03:41] #746 closed, assigned to nobody

[2019-12-09 04:10] GenevieveBuckley commented on #515
We also discussed interactive 3D point picking in our last lab meeting, and have a feature request.

Most 3D point picking methods tend to rely on choosing the brightest voxel in the ray trace path. This can work ok for fluorescence microscopy data, but this works poorly for very large image volumes, and it also doesn't work well for other modalities or noisy images (like cryo-EM). So this approac

[2019-12-09 06:27] HagaiHargil commented on #774
The only reason I was even aware of vispy's `ColorArray` is that the documentation for `face_color` states that users can pass a `ColorArray` instance for the colors of individual points.

I think that we should be able to allow list-like containers of 3- and 4-tuples, as well as `ColorArray`s, since they're quite easily constructed from numpy arrays and lists. I'll start tackling this issue soon.

[2019-12-09 07:58] kevinyamauchi commented on #774
Sounds great! Let me know if you have any questions or run into any issues!

[2019-12-09 16:09] #751 closed, assigned to nobody

[2019-12-10 01:46] guiwitz commented on #448
I finally made this pull request and we can then go on with the discussion there. Just a few points in regard to previous comments.

@royerloic I agree that it would be nice to essentially just copy entire view states to create key-frames. But there's to issues at the moment: (1) I don't know how to copy an entire view state. Using deepcopy generates an error coming from Qt. I tried also with lowe

[2019-12-10 07:47] GenevieveBuckley commented on #448
Link to the PR: https://github.com/napari/napari/pull/780

[2019-12-10 11:39] guiwitz commented on #448
Just as an additional note and to partially answer my own question, I guess this PR #686 will solve the problem of saving the full viewer state. Whenever this is ready we can could just save views as key-frames. It wont however change the fact that we'll have to interpolate whatever needs to be interpolated. In that context, saving the full viewer only makes sense if by default we interpolate ALL

[2019-12-10 18:44] pranathivemuri commented on #539
ISBI Cell tracking challenge stores trajectory/track paths by saving L, B, E, P which is Label of the track, Beginning frame where the track appears, Ending frame where the track stops, Parent cell if defined respectively. In addition to these, we should also save the centroid of the track at the beginning and the ending frame(we can make a class for this or just have the user set these keys in th

[2019-12-10 22:25] kne42 opened #785 "Better generalize keybindings"
The current keybindings system could be made more general. Right now, it's mainly optimized for the viewer and layers. This creates awkward situations for different modes (see https://github.com/napari/napari/pull/780#discussion_r356111992) and will create awkward situations in the future for plugin developers.

This can be accomplished by:
- making the keybinding handling system more generalized

[2019-12-10 22:31] jni commented on #785
@kne42

like a Keybindings path! I like it. =) I thought that was what we had now. 😂 One thing I want to make sure of is that keybindings are "overwritten", not compounded. e.g. in matplotlib, when you add a keybinding, if it already exists, now your shortcut does two things. There is no indication that your keybinding was already "taken". This drove me nuts while I figured that out! And it made m

[2019-12-10 22:36] kne42 commented on #785
Yeah, we definitely want to overwrite the existing keybindings or it will get way too confusing. It will only call the first function it finds in that search path matching the keybinding pressed :)

[2019-12-11 00:57] sofroniewn commented on #539
@pranathivemuri thanks for digging into the [cell tracking data representation](https://public.celltrackingchallenge.net/documents/Naming%20and%20file%20content%20conventions.pdf). Looking at the link and reading your comments it seems to be like we need to support two key data objects, one `centroids` / `labels` which contains either the centroid information or full labels information. `centroids

[2019-12-11 04:26] sofroniewn commented on #785
Sounds good to me @kne42. Will this cause any breaking changes to our existing system? Or is it strictly more general

[2019-12-11 04:36] VolkerH opened #786 "GUI element that shows whether layer thumbnail previews are up-to-date"
## 🚀 Feature

The following is a low priority (from my perspective) feature request. However, I just wanted to capture the idea:

It would be nice to add a small, unobstrusive indicator to the layer thumbnails to indicate whether the preview image is up-to-date. One possible implementation would be using a small coloured dot in the corner of a preview thumbnail, e.g. green dot meaning up-to-date,

[2019-12-11 05:03] sofroniewn commented on #786
Thanks for capturing @VolkerH. The concept of "not up to date" thumbnails will be introduced in #776 - I don't think it can happen right now. We should see how that looks / feels. I think I know how I'd implement it (intercepting the "refresh" method #776 will introduce) and it should be pretty straight forward.

[2019-12-11 05:13] VolkerH commented on #786
Thanks, PR #776 is what gave me the idea (a bit buried in my original post above.

[2019-12-11 08:55] MaximilianHoffmann commented on #627
It happens for me. Environment:
[code]

[2019-12-11 09:49] jni commented on #316
Just saw that a bunch of neuroscience datasets are now in s3 buckets:

https://neurodata.io/ocp/

Source: https://twitter.com/neuro_data/status/1204116321069195264

We should be able to load some of these into dask and visualise them with napari! Obviously, some will be more challenging than others, but as soon as we get lazy tiles working, we should be able to view any of these in napari... Which

[2019-12-11 19:11] kne42 commented on #785
@sofroniewn there may be some changes on the user end mainly to do with how keymaps are represented

[2019-12-11 19:12] kne42 commented on #785
I think instead of using that whole `InheritedKeymap` mess, I'd like to just use regular dictionaries instead, and the whole "active keymap" can be calculated elsewhere.

[2019-12-11 19:21] sofroniewn commented on #785
Sounds good, we can wait for ‘0.3’ to merge

[2019-12-11 19:22] kne42 commented on #785
@sofroniewn what do you mean by that?

[2019-12-11 19:48] sofroniewn commented on #785
I meant this discussion sounds great and you should start work on it as soon as you want, but if there end up being breaking changes we might want to wait to merge until we bundle a bunch of breaking changes together (see discussion here https://github.com/napari/napari/pull/773#pullrequestreview-328582585 and here https://github.com/napari/napari/pull/686#issuecomment-553154422) and call it `0.3`

[2019-12-12 03:00] sofroniewn opened #787 "Console refactoring / improvements / bug fixes"
## ❓ Questions and Help

Following some work from @shanaxel42 in #784 to better manage our console resources it is worth raising some additional questions around the expected behavior of the console in interactive environments like when napari is launched from IPython or Jupyter.

Right now if launched from IPython the button to open the console is there but pressing it does nothing and the consol

[2019-12-12 03:05] tlambert03 commented on #787
for what it's worth, I agree with all these things.  no need for icon when launching from ipython or jupyter (or at the very least no shift-enter if possible when launching from jupyter... remove altogether if not possible).  and don't clober `viewer` variable, but do something like create a second variable name if `viewer` is in `globals()` and emit a warning...

[2019-12-12 03:10] sofroniewn commented on #761
@kevinyamauchi can you still make one more PR renaming
- [x] `vector_util.py` -> `vector_utils.py`
- [x] `shape_util.py` -> `shape_utils.py`
- [x] `_qt/util.py` -> `_qt/utils.py`
- [x] `_vispy/util.py` -> `_vispy/utils.py`
- [x] `util` -> `utils`
- [x] `napari/test/util.py` -> `napari/test/utils.py`

Then we have `utils` instead of `util` everywhere. I think consistency here makes it less confusin

[2019-12-12 15:48] sofroniewn commented on #517
Note this [discussion on image.sc](https://forum.image.sc/t/registering-callback-functions-for-events-in-napari/32210) from @VolkerH around the syntax for event connecting. This is something @kne42 and I have discussed before, but worth thinking about when doing any refactoring, including maybe of #785

[2019-12-12 15:58] #685 closed, assigned to nobody

[2019-12-12 17:40] sofroniewn commented on #764
I'd also like us to explore using things like "google analytics" to track numbers of visitors and where they spend most time within the docs / tutorials. Things like number of visitors to docs can be important metrics to track growth of the project and justify increased investment. They can also let us see how any outreach, conferences, tweets etc affect people trying napari. They can also help us

[2019-12-12 18:11] kevinyamauchi commented on #761
Sounds good! I can get started on that later today.

[2019-12-12 18:50] boonepeter commented on #752
I can give this a shot.

[2019-12-12 19:29] tlambert03 commented on #764
Happy to be tasked with stuff here as necessary... have a fair amount of web experience.

[2019-12-12 19:52] sofroniewn commented on #752
That would be great @boonepeter you might want to look at the section of our [contributing guide on adding icons](https://github.com/napari/napari/blob/master/docs/CONTRIBUTING.md#building-the-icons) too as it might be nice to have a simple intuitive icon for the button too

[2019-12-12 21:22] sofroniewn commented on #653
@kne42 can I delete your three old branches here:

![image](https://user-images.githubusercontent.com/6531703/70749951-4be97880-1ce2-11ea-844f-a86fb49b37e6.png)

also @royerloic can I also delete your dims branch

[2019-12-12 23:16] pranathivemuri commented on #539
here is the branch with the changes to start adding track layer with lineage matrix - https://github.com/napari/napari/compare/master...pranathivemuri:pranathi-track-viewer?expand=1

[2019-12-12 23:30] kne42 commented on #653
go for it

[2019-12-13 00:18] VolkerH commented on #569
Can this be reopened?

I just tried creating a labels layer with a size of `(1143, 1069)` on top of an RGB image and drawing annotations with napari from the current master.

When drawing with the brush I get a lag on the order of a second or even more.  I can't compare to the performance before merging #684 but it still feels very slow.  At this level it is too tedious to  label a significant par

[2019-12-13 01:39] sofroniewn commented on #569
We can re-open, I think this will hopefully be closed by #713 which will remove an expensive int -> float conversion step

[2019-12-13 01:40] sofroniewn commented on #653
Done, thanks @kne42 - only one more to go!

[2019-12-13 05:37] jni opened #789 "Reading in DVID volumes"
## 🚀 Feature

We've been chatting with the FlyEM folks at Janelia about putting their data in napari, whether it would scale, the various ways to interact with it, etc. As a first step, it would be great to build a proof of concept accessing a DVID volume as a dask array. @DocSavage shared the following DVID endpoint URLs with me as a first pass, with the caveat that they might move in ~2-3 months

[2019-12-13 06:47] cudmore opened #790 "How do I update the x/y axis in a VisPy plot using set_data()"
I am creating a Napari plugin that has an external Qt window which includes a VisPy plot in a QHBoxLayout. See [my plugin](http://blog.cudmore.io/ShapeAnalysisPlugin/)

The initial VisPy plots are working fine but when I try to update the plot with set_data(), the axis are not scaling to the new data values? Not sure if this is Napari or VisPy but your help would be welcomed.

Here is some working

[2019-12-13 07:08] jni commented on #790
@cudmore Very cool!!

It definitely seems to be a vispy issue more than a napari one, but I wonder: have you tried making *just* a vispy plot and using `set_data()`? Does that update?

In short, my advice would be to work on the *minimal* example that demonstrates your issue, because that might help us get some vispy developers on board with helping you. Personally I don't know immediately what wo

[2019-12-13 08:25] jni commented on #764
We just got matomo.cloud set up for scikit-image in this PR:

https://github.com/scikit-image/scikit-image/pull/4345

and @emmanuelle already used 24h of data to produce this cool viz:

https://twitter.com/EGouillart/status/1204769149907603456

😃

Our scikit-image plan comes with 5 domains, and napari was floated as a possible domain to add to that plan. @emmanuelle 👋 we coincidentally just starte

[2019-12-13 11:11] tlambert03 commented on #790
FWIW, this is exactly the kind of plot (with axis linking) that #675 is working on

[2019-12-13 16:30] sofroniewn commented on #772
Thinking about this more, in think I will pull the basic highlighting model code into the base layer and then pull the highlighting vispy code into its own node which will reduct the total number of visuals we have, reduce code complexity, and improve performance. I'm going to start working on this now. Although it will be a large refactor it should be backwards compatible from an API standpoint

[2019-12-13 18:02] sofroniewn commented on #752
Something like the icon that github uses next to its branch names at the top of PRs will work fine, see the bottom right corner of this screen shot
![image](https://user-images.githubusercontent.com/6531703/70821335-b4426380-1d8f-11ea-96ec-961dbdcdddca.png)

[2019-12-13 21:52] d-v-b opened #792 "Clarifying the interface between the image layer and data"
## 🚀 Feature
(This is a follow-up to discussions that occurred offline, and on [zulip](https://napari.zulipchat.com/#narrow/stream/212875-general/topic/Async.20Tiles.20.23318))

Currently there is a lot of logic in the image layer for handling different types of data, e.g. arrays that represent grayscale data (the default), arrays that represent RGB data, and image pyramids (lists of arrays). Acco

[2019-12-13 22:14] sofroniewn opened #793 "Better generalize mouse functions"
## 🚀 Feature
Following up on #785 it might be a good idea to think of a better generalization for our custom mouse functions. We should probably do this before we refactor our current mouse bindings as requested in #694 and before the refactoring proposed in #772.

We also now have more examples of people using custom mouse functions, for example from @tlambert03 in https://github.com/napari/napar

[2019-12-13 22:58] sofroniewn commented on #792
Thanks for making this issue @d-v-b! I have a couple comments.

1) For #763 our coordinate system is going to have to work for all our different layer types, so if a lot of the conversions live in this new `datasource` object for images, we either have to re-use that object for `Shapes` `Points` `Vectors`, etc. or maybe the way you want to do the transforms are different if you're dealing with `co

[2019-12-14 16:39] tlambert03 commented on #790
Hi @cudmore, in the meantime, you need to add something like this to your code to get it working (right where you have `# Is there something I can add here ???`)
[code]
I don't believe the `vispy.PlotWidget` is designed to autoscale the range/domain when calling `set_data()`, so you have to do it yourself. `fig[0,0]` is actually the `PlotWidget` that contains the `view`, which in turn contains the

[2019-12-14 18:16] tlambert03 commented on #760
just took a look at this and wanted to put my thoughts somewhere (not ready for a PR yet, but i think this is one direction it could go).

for an orthoviewer, in`QtViewer`, instead of using `add_view` on the central_widget, use `add_grid` (which makes a [Vispy.scene.widgets.Grid](http://vispy.org/scene.html?highlight=grid#vispy.scene.widgets.Grid)) and add seperate `views` to the grid for XY, YZ,

[2019-12-14 19:18] #578 closed, assigned to nobody

[2019-12-14 21:13] sofroniewn commented on #732
Tried again, still no luck - if any Qt / Mac experts out there have any ideas on how to resolve this it would be much appreciated, I'm still making no progress

[2019-12-14 21:21] sofroniewn commented on #367
I wonder if `Qt::AA_EnableHighDpiScaling` and `Qt::AA_DisableHighDpiScaling` - see https://doc.qt.io/qt-5/qt.html#ApplicationAttribute-enum might be important settings here

[2019-12-15 00:24] tlambert03 commented on #732
gonna try to see what I can figure out here...  One quick observation that might be a clue:
with `self._qt_window.raise_()` in the `Window.show()` method (as it currently is in `master`), I only get the inactive menubar problem if I launch the viewer within the `gui_qt()` context manager.  If I launch it as `__main__` using `python -m napari`, then the menubar is immediately active.

If I launch i

[2019-12-15 00:44] sofroniewn commented on #732
Yes that is the case, which means a potential solution might just be to set up some logic / extra keyword params to avoid the ‘raise_’ call when launching with our ‘gui_qt’ event loop and have it called by default from IPython and Jupyter - where it is really needed

[2019-12-15 00:47] tlambert03 commented on #732
yeah, I'm working on something like that now.  I noticed that the `raise_` call is only necessary on the _second_ call to `gui_qt()` (otherwise the viewer is already on top), and during that second call to gui_qt(), `Qapplication.instance()` returns a valid instance, whereas in the first call it returns `None`.  So I'm going to see if I can leverage that somehow

[2019-12-15 20:31] henrypinkard opened #799 "Problems Qt when launching Napari on Ubuntu server using X11"
## 🐛 Bug

I suspect this may have more to do with Qt/other dependencies than napari, but posting here in case any ideas of how to address this. I am trying to run napari on a remote server I created on Google Cloud Platform. Eventually, I would like to be able to use #654 to remotely view data using this setup, and I was testing to see if I could use X11 forwarding as suggested by @kne42 on #495 a

[2019-12-15 21:45] sofroniewn commented on #760
High level thoughts - leveraging the `grid_view` that is built into vispy definitely seems worth exploring. I'm not too familiar with it, so need to learn more.

I'm now really coming around to the though that sliders should always be at the bottom of the whole viewer inside the sliders widget, i.e. there will never be sliders located within the little grid windows, and we show all the sliders nee

[2019-12-15 23:04] sofroniewn commented on #627
I think this may now be fixed in the new `0.6.4` release of vispy - see this PR here https://github.com/vispy/vispy/pull/1789

If someone that has been having this error with napari check on both the `0.6.3` and `0.6.4` release of vispy and confirm this is now fixed then I will close this issue

[2019-12-15 23:09] sofroniewn commented on #758
Vispy `0.6.4` has now been release which contains these improvements. Maybe we should bump our minimum dependency, which I think will also provide a fix to #627. Maybe we can also find out if numpydoc can make an `0.9.2` release.

Unfortunately the PR to harlowja/fasteners#43 has not been responded to yet.

[2019-12-15 23:35] tlambert03 commented on #799
Hey @henrypinkard,
I came up against this [recently](https://github.com/napari/napari/pull/658#issuecomment-556553625) as well.  After digging into it a bit, I'm not too optimistic that napari/vispy is ever going to work over X11 (or at least it will be very difficult), given the heavy dependence on OpenGL.

FWIW, I think what you're seeing here is actually a different issue, just getting a valid

[2019-12-16 02:46] boonepeter opened #802 "QSpinBox issue with QT 5.9.6"
## 🐛 Bug

When trying to use napari on a Windows 10 machine with QT version 5.9.6 I get the following error:
`AttributeError: 'QtCustomDoubleSpinBox' object has no attribute 'setStepType'`. Looks like `setStepType` was [added in Qt 5.12](https://doc.qt.io/qt-5/qspinbox.html#setStepType). I can upgrade Qt and give this another go, but I wanted to document it here in case others run into the same is

[2019-12-16 02:55] tlambert03 commented on #802
Thanks for reporting, I'll fix that.  I'm surprised, however, that when you `pip install requirements` you're getting qt 5.9.  Our requirements.txt specifies `PySide2>=5.12.3`... did you already have an environment setup?

[2019-12-16 03:20] boonepeter commented on #802
When I have my base conda environment activated and i install requirements.txt, I can run `pip freeze` and see that PySide2 is 5.13.2.

Within that same environment I can check and see that QSpinBox has that method:
[code]
So I am a little confused as well.

[2019-12-16 03:24] sofroniewn commented on #787
@jni proposed the following - drop console + button from IPython but keep for Jupyter and try and fix shift-enter.

We should allow a remote console to be attached in all cases including #801, at which point for IPython the button should appear

[2019-12-16 03:26] tlambert03 commented on #802
I definitely wouldn't recommend pip installing our requirements into your base conda environment.  Particularly pip installing qt into the conda base env can have some gnarly consequences...
if you go into the conda environment where you had previously installed the requirements (assuming it wasn't base), and run `conda list`, is qt installed by pip or by conda?
In any case, it should be fixed now

[2019-12-16 03:33] boonepeter commented on #802
Thanks for that. I'm trying a clean install using conda instead. qt was installed by pip in the previous environment

[2019-12-16 10:46] #802 closed, assigned to nobody

[2019-12-16 14:14] MaximilianHoffmann opened #804 "Windows RDP Open GL Vispy error: AttributeError: function 'glBindFramebuffer' not found"
## ❓ Questions and Help

Hi, I get an error:
`AttributeError: function 'glBindFramebuffer' not found`

when opening Napari on a Windows 10 machine via remote desktop (Geforce GTX 960).
I have used Napari on other windows machines via RDP an cannot really spot the difference.
I know, that there are problems with OpenGL/RDP on Windows, though.
Are there any work arounds?

### Please note that this i

[2019-12-16 14:43] boonepeter commented on #802
Just to follow up, this was an environment issue for me. Installing everything cleanly worked as expected.

[2019-12-16 14:58] tlambert03 commented on #802
thanks for letting us know!  I'm sure that incompatibility would have shown up at some point for us anyway.

[2019-12-16 15:43] howff opened #805 "Support for n5"
## 🐛 Bug

Trying to display a zarr/n5 image gives the error
`ValueError: Could not find a format to read the specified file in mode 'i'`

It does display something but looks more like a thumbnail as I can't zoom in.
But the error message keeps reoccurring.

## Environment

[code]

## Additional context

[code]

[2019-12-16 15:46] tlambert03 commented on #804
I'm actually more surprised that you've been able to get to work on other systems!  I've never had success on RDP, and I can definitely replicate the GL context issues that you see here (full stack trace below just for sake of completeness, using RDP to a Win10 computer).

If you have a moment, could describe the environments where it _did_ work a little more?  For instance, are you certain it was

[2019-12-16 16:49] sofroniewn commented on #804
I'm afraid I don't know any work arounds right now, you might want to poke around the vispy issue tracker https://github.com/vispy/vispy/issues, I know there have been some problems with remote windows that have been reported there before. The error messages might be slightly different though as I think things used to fail at a different point in older versions of vispy.

[2019-12-16 16:54] sofroniewn commented on #805
I think right now we're looking for zarr files to have the `.zarr` extension - see here https://github.com/napari/napari/blob/d758a0bf154d7c5f30ba53b1c48a805cd8409d78/napari/util/io.py#L53 and here https://github.com/napari/napari/blob/d758a0bf154d7c5f30ba53b1c48a805cd8409d78/napari/util/io.py#L73

If you can rename your file from `.raw` to `.zarr` for testing purposes I'm curious what happens.

Y

[2019-12-16 16:57] #752 closed, assigned to boonepeter

[2019-12-16 16:58] henrypinkard commented on #799
Thanks @tlambert03 ! Based on that, it sounds like X11 might be more trouble than it's worth, and waiting on progress fro #654 might be the best option.

[2019-12-16 16:58] #799 closed, assigned to nobody

[2019-12-16 18:21] MaximilianHoffmann commented on #804
The Napari Info is
[code]

I think it is the RDP, since I am using the Microsoft Remote Desktop client on my macbook, and have no VNC installed on the other computer

Btw, thanks for this great tool//

[2019-12-16 18:22] tlambert03 commented on #804
cool, and that one works?

[2019-12-16 18:23] AhmetCanSolak commented on #804
@MaximilianHoffmann I have heard before that openGL has issues with RDP. Could you please try with VNC? It suppose to work.

[2019-12-16 18:29] MaximilianHoffmann commented on #804
@tlambert03  Yes, somehow this one works. (It only has an NIVIDA Quadro P2000, could this make the difference?)

I tried nomachine on the other PC and it did not work either, but I'll try to also try VNC.

[2019-12-16 23:18] sofroniewn commented on #793
Also see - https://github.com/napari/napari/issues/517

[2019-12-16 23:29] guiwitz commented on #687
I ran several times into this same problem and stumbled across this issue. I tried to do what @sofroniewn suggested and modified the qt_console.py section into:
[code]
and also commented out this line:
https://github.com/napari/napari/blob/5c2848f298bbdb94ee9706b1cc280cc2c6d61e96/napari/viewer.py#L63
and it seems it did solve the problem. So now I can finally use ipywidgets with napari!

I don't k

[2019-12-17 03:20] jni commented on #627
@sofroniewn I was just about to post exactly the same thing. =D It will be so exciting to be rid of this!

[2019-12-17 05:19] sofroniewn commented on #627
@jni can you confirm that the vispy bump fixes this issue for napari. I expect it does, but it would be nice to be sure before closing this issue. I have created a napari PR to bump our version in #807

[2019-12-17 07:03] jni commented on #627
@sofroniewn I personally can't, since I've never seen it on my machines. But I'll let you know on napari hack day if anyone else encounters it and it gets fixed by the new release. =)

[2019-12-17 13:15] howff commented on #805
Ah, sorry, it's n5 not zarr. When I try the napari gui with "pyramid.n5" (which is a directory) it just crashes with the error given above. That directory contains attributes.json with "n5": "2.0.0" if it helps.

[2019-12-17 16:19] #627 closed, assigned to nobody

[2019-12-17 23:09] #761 closed, assigned to kevinyamauchi

[2019-12-18 03:03] tinku99 commented on #793
I wanted to rebind mouse click drag to change brightness and contrast and change mouse scroll to change displayed image slice index.

[2019-12-18 03:15] #732 closed, assigned to nobody

[2019-12-18 03:23] jni commented on #805
Ah! Right now we don't support `.n5` at all in our IO, so that makes more sense. I suggest using a Python script like [this one](https://github.com/sofroniewn/image-demos/blob/master/examples/AOLLSM.py), but replacing zarr with an n5 IO library such as [z5](https://pypi.org/project/z5/)...

[2019-12-18 03:44] d-v-b commented on #805
zarr natively supports N5: https://github.com/zarr-developers/zarr-python/blob/c959d11821da3b3e2b46be9dbac53e358d2a19a6/zarr/n5.py

[2019-12-18 04:22] sofroniewn commented on #653
@royerloic gave the go ahead to delete that last branch, so we now have no extra branches. I will close this issue. In general I'd like to keep trimming any unnecessary branches on the main repo

[2019-12-18 04:22] #653 closed, assigned to nobody

[2019-12-18 04:34] royerloic commented on #792
A few points:

o) I think all the data properties belong to the layer model -- that's what it is for. There seems to be some properties that the model layer does not 'remember' -- the data is transformed but its original specification is forgotten. We should avoid this. Whatever the user provides at layer construction should be explicitly modeled, how this then translates to a view is the view's j

[2019-12-18 05:33] sofroniewn commented on #735
As noted above this was fixed in #721 and preserved by #795 which fixed some related menubar problems. I am closing now

[2019-12-18 05:33] #735 closed, assigned to nobody

[2019-12-18 05:35] sofroniewn commented on #465
Based on the benchmarks reported above this has now been fixed. This PR can always be reopened, or a new one created if new issues arise, but I am closing for now.

[2019-12-18 05:35] #465 closed, assigned to nobody

[2019-12-18 05:37] sofroniewn commented on #367
@jni maybe you can try the above fix? I don't have access to a linux / windows machine right now to test.

[2019-12-18 12:26] jni commented on #367
@sofroniewn do you know how I set those in PySide/PyQt? If not I can investigate.

My daily Linux workspace doesn't have this problem but I think I can reboot into GNOME to test it.

[2019-12-18 13:10] jni commented on #805
we use `dask.array.from_zarr` rather than zarr directly. There's a few advantages... =\

[2019-12-18 15:18] d-v-b commented on #805
I think it should be easy to get N5-reading functionality added to `from_zarr`, i'll look into writing a PR soon

[2019-12-18 16:39] sofroniewn commented on #367
Should be similar syntax to this - https://github.com/napari/napari/blob/e4f1b1f264b72cc22f188f03014eebd94e89e676/napari/_qt/qt_viewer.py#L50, not sure if we want in `QtViewer` vs `Window`, but that can get figured out later

[2019-12-18 17:20] howff commented on #805
Thanks for the explanations, and thanks d-v-b for the offer of code!

I have got it sort-of working so far with this:
[code]

A couple of things to note:
* it doesn't auto-detect the pyramid levels
* it doesn't do RGB (dimensions in the wrong order?)

[2019-12-18 18:38] RDIL opened #812 "Setup.py displays invalid command"
Not sure why, but setup.py says `pip install python==3.6` installs Python 3.6, which is not at all true?  pip is a dependency manager for Python, not a version manager like [RVM](https://rvm.io), I think you may be looking for Pyenv?

[2019-12-19 00:08] kne42 commented on #812
You're completely right, thanks for reporting this! If you'd like to remove these incorrect instructions, it'd be a pretty simple PR. Otherwise I can do this for you :)

[2019-12-19 00:59] tlambert03 commented on #380
a little history:
- This bug was originally fixed in #553 by removing the call to `self._qt_window.raise_()` in `Window.show`
- Removing `raise_()` fixed the menubar, but made it so that the napari viewer would show up behind the active terminal or browser window, sometimes making it hard to notice a viewer has been opened (https://github.com/napari/napari/issues/735).  So `raise_` was readded in

[2019-12-19 02:08] jni commented on #764
@kne42, @sofroniewn shared his napari slides with @royerloic and me, and credits this one to you:

<img width="656" alt="Screen Shot 2019-12-19 at 9 46 38 am" src="https://user-images.githubusercontent.com/492549/71137737-48636d80-225d-11ea-91e1-0ef8a7dc71be.png">

I think it's stellar! So information-packed, yet clear, easy to read and navigate.

I think the napari.org home page should be:

- the

[2019-12-19 02:09] jni commented on #764
Though I will note that, tragically, currently imageio only reads the first slice of a 3D tiff with `imread`, you need `volread` for all the slices. So I might switch that to `skimage.io` while we sort out the imageio API...

[2019-12-19 03:39] GenevieveBuckley opened #816 "Broken links in docs/CORE_DEV_GUIDE.md"
## 📚 Documentation

I saw two broken links in the file `docs/CORE_DEV_GUIDE.md`

**Link 1**
"@napari/core-devs" points to https://github.com/orgs/napari/teams/core-devs, which does not exist. I'm not sure if there is a webpage for napari core dev team members, I wasn't able to find one easily on github.

**Link 2**
`[Merge Only Changes You Understand](#Merge Only Changes You Understand)` should be

[2019-12-19 03:41] tlambert03 commented on #816
that second one is the one that I just pushed to your pr https://github.com/napari/napari/pull/815#issuecomment-567316498

[2019-12-19 03:51] tlambert03 commented on #816
looks like the teams/core-devs link only works if you're in the organization.
@sofroniewn, if it's only core-devs in the organization anyway, perhaps we should link to https://github.com/orgs/napari/people instead... (that link is always public), but then members will need to make their membership public to appear on that page

[2019-12-19 10:34] wiebkejahr opened #817 "intermittend 3D rendering issues"
I continue to run into a bug when switching into the 3D mode of napari viewer.
It's not yet fully reproducible; I will continue testing but might need help as to what I should test.

Workflow:
I used iPython and the following code to load the data
[code]
The bug seems to occur mostly when I go to the center of the stack and then enter 3D view relatively quickly after opening napari.

I read throug

[2019-12-19 16:25] sofroniewn commented on #817
Hi @wiebkejahr sorry you're having this problem. You might want to upgrade to `0.2.7`, we just released it yesterday, and there's no immediate reason for me to think that will fix anything here, but you might as well be working off the latest.

Can you tell me the shape and dtype of your data. I also noticed you're using `dask_image` to do the reading, which is fine, but I'm curious if that means

[2019-12-19 16:43] sofroniewn commented on #816
Thanks for fixing the second one I just merged #815.

As to the first one, as @tlambert03 mentions it looks like right now teams are only visible to people within the org - [see here](https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/changing-team-visibility). I actually just filed a feature request with GitHub asking if they can support a 3rd `Public` option, but t

[2019-12-19 22:25] GenevieveBuckley commented on #816
If there's no easy fix, we could just decide this isn't a big deal and close this issue. That's fine too.

[2019-12-19 23:07] gcadenazzi opened #818 "Pyside2 5.14 not finding correct version of Qt"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. conda create --name test-napari python=3.7
2. conda activate test-napari
3. pip install napari
4. napari

Traceback (most recent call last):
  File "/home/guido/anaconda3/envs/test-napari/lib/python3.7/site-packages/qtpy/__init__.py", line 204, in <module>
    from PySide import __version__ as PYSIDE_VERSION  # analysis:ignore
ModuleN

[2019-12-19 23:14] sofroniewn commented on #818
Hmm there seems to be something going wrong with the conda virtual environment not finding your Qt. I wonder if @kne42 or @jni has any suggestions here. I'm curious if you explicitly try and install `pip install pyside2` if that gets any better?

We should fix this regardless, but I'm also curious if you try `pip install pyqt5` if napari then works - napari can be run with either pyside2 or pyqt5.

[2019-12-19 23:18] tlambert03 commented on #818
can we get the output of `conda list` after running `pip install napari`?  and also the OS version?

[2019-12-19 23:19] jni commented on #818
@jni is sitting right here and he has no idea. =P

[2019-12-19 23:21] gcadenazzi commented on #818
ok so I issued the following command,

pip install pyqt5

napari

WARNING: Could not load the Qt platform plugin "xcb" in "" even though it was found.
WARNING: This application failed to start because no Qt platform plugin could be initialized. Reinstalling the application may fix this problem.

Available platform plugins are: eglfs, linuxfb, minimal, minimalegl, offscreen, vnc, wayland-egl, wayla

[2019-12-19 23:23] jni commented on #818
Output of pip list:

[code]

The issue is not with PySide or PyQt but with finding libQt it seems. But I have not changed my Linux installation for a long time so I don't think I would have installed Qt 5.14 outside of conda/pip...

[2019-12-19 23:23] gcadenazzi commented on #818
OS version is Ubuntu 18.04.3

[2019-12-19 23:31] jni commented on #818
Downgrading to lower PyQt works btw.

[2019-12-20 00:14] kne42 opened #819 "update release guide"
## 📚 Documentation
The release process has changed, including generating release notes and uploading release candidates. The release guide should be updated accordingly.

[2019-12-20 00:15] kne42 commented on #819
nevermind, looks like github somehow pulled up an old version for me??? also I'm dumb

[2019-12-20 00:15] #819 closed, assigned to sofroniewn

[2019-12-20 06:15] GenevieveBuckley opened #821 "Image pyramid resoution changes stop working if you switch from 2D -> 3D view -> 2D again"
## 🐛 Bug

If you open a multi-resolution image in napari, the default 2D view will automatically load the different resolution levels as you zoom in and out. BUT if you switch the view to a 3D volume view, and then switch back to a 2D view, then the multiresolution levels don't work anymore when you zoom in and out with the mouse wheel.

cc @gazzar who found this out in the last 5 minutes of our n

[2019-12-20 06:21] GenevieveBuckley commented on #821
@gazzar can you add this info in a comment below please?

[2019-12-20 06:48] GenevieveBuckley commented on #763
From our discussion at the hack day today, we decided this is the framework we think we should use for describing space(s) in napari:
* data (nD data, with pixels)
* world (nD spatial universe, with units)
* worldslice (a 2D plane cut through world, with units)
* canvas (what you see rendered on the screen, with canvas_pixels)

[2019-12-20 10:46] gazzar commented on #821
Thanks for creating this bug report for me @GenevieveBuckley

napari info option:

napari: 0.2.7+1.g0ecabae.dirty
Platform: Windows-10-10.0.17134-SP0
Python: 3.7.5 (default, Oct 31 2019, 15:18:51) [MSC v.1916 64 bit (AMD64)]
PySide2: 5.14.0
Qt: 5.14.0
VisPy: 0.6.4
NumPy: 1.17.4
SciPy: 1.4.1
scikit-image: 0.16.2
Dask: 2.9.0

GL version: '4.5.0 - Build 23.20.16.4973'
MAX_TEXTURE_SIZE: 16384

Other r

[2019-12-20 14:05] wiebkejahr commented on #817
Thanks, totally missed the update, I love the volume rendering functionality already :)
I'll continue testing.

shape: 140x2048x2048
uint16

Why dask_image? At the moment, my data is small enough to load as is (order of 1 GB, but only 1 timepoint). I'm in the process of developing the whole workflow (including different hardware structure available), so trying to stay future proof, and that's why

[2019-12-20 16:37] sofroniewn commented on #821
Thanks for catching this! The 3D pyramid will only show the most zoomed out layer. It should still work again properly when switching back to 2D though. I'll have a look at where the problem is. Shouldn't be too hard to fix

[2019-12-20 16:42] sofroniewn commented on #817
Hmm, `2048` may be the max texture size per axis that your graphics card can handle and this PR #788 introduced code to fix prevent larger textures from being sent over to the graphics card. The limit in the PR is ` > 2048` so the code to do the downsampling won't get triggered in this case.

My two questions are, can you reproduce the problem with `np.random.randint((140, 2048, 2048).astype(np.ui

[2019-12-20 16:50] sofroniewn commented on #763
That's great @GenevieveBuckley! I might refine this slightly to be

- data (nD data, with pixel units)
- world (nD spatial universe, with physical units)
- worldslice (a 2D or 3D plane or cube cut through world depending on number of displayed dimensions, with physical units)
- canvas (a 2D plane that you see rendered on the screen, with canvas_pixel units)

and I might prefer `screen` to `canvas`

[2019-12-21 01:46] jni commented on #763
My first instinct was, sure, it is more intuitive to me also, but then I realised it's actually *more* ambiguous, because screen could be the whole *monitor* rather than just the bit occupied by the vispy canvas...

I do prefer slice to view...

[2019-12-21 01:48] sofroniewn commented on #763
Oh right, completely see it now, (0, 0) for the screen is very different than (0, 0) for the canvas!! Canvas is the better choice for sure :-)

[2019-12-22 19:00] tlambert03 opened #826 "Tests failing on numpy 1.18"
## 🐛 Bug
we've got some new problems with our tests and numpy 1.18.
these two are failing:
`napari/layers/labels/tests/test_label_utils.py::test_interpolate_coordinates`
`napari/layers/labels/tests/test_labels.py::test_mouse_move`

see for example: https://cirrus-ci.com/task/4992774893469696

[2019-12-22 23:50] #826 closed, assigned to nobody

[2019-12-23 19:58] sofroniewn opened #829 "Better support for surface layer timeseries"
## 🚀 Feature
As discussed in this [image.sc post](https://forum.image.sc/t/slider-widget-to-control-surface-values/32482/6) it would be nice to provide better support for people with timeseries values of static surfaces. It would be quite easy to support an API where people could pass data in the form
[code]
and we could take care of the rest. Note that vertices could still be `N x D`, and values

[2019-12-23 20:01] sofroniewn commented on #285
@tlambert03 recently mentioned possibly doing something like this based on his previous experience [here](https://github.com/tlambert03/MOSAICpy/blob/1b51431d9c411e8d4ad3f6bff93b976a6b533097/mosaicpy/gui/helpers.py#L148-L202)

[2019-12-23 20:05] tlambert03 commented on #285
for a more readable example of a use case, see the documentation i was starting to build that leverages that functionality here:
https://mosaicpy.readthedocs.io/en/latest/pages/imgprocessors.html

While I wouldn't exactly propose the same exact structure for napari, the basic idea there is that we introspect the `ImgProcessor.__init__` signature to generate the appropriate `QWidget` types to put i

[2019-12-23 20:17] sofroniewn commented on #285
Very cool @tlambert03, curious what @jni and @kne42 make of this

[2019-12-24 00:15] jni commented on #285
I totally love the idea of autogenerating UI elements, especially for user plugins in dockable widgets as discussed in [zulip](https://napari.zulipchat.com/#narrow/stream/212875-general/topic/dock.20widgets), but if we can use our own framework on our own layers, indeed, all the better.

I wonder if similar functionality could be achieved with a decorator rather than classes... I'm thinking of som

[2019-12-24 00:26] jni commented on #829
@sofroniewn it's unclear right now whether this is exactly the right data model. I'd like us to look at datasets conforming to this format, e.g. fMRI datasets, and see how the data usually comes, and then try to tailor our API to that.

[2019-12-24 06:24] cgohlke commented on #804
AttributeError: function 'glBindFramebuffer' not found

Yes, NIVIDA doesn't "support" OpenGL + RDP on GeForce cards, only on Quadro cards.

Microsoft's software OpenGL driver only supports OpenGL 1.1, which is too old for napari.

As a workaround, try another OpenGL DLL that renders software-only (e.g. MESA, QT5/PyQT5 includes `opengl32sw.dll`) or through DirectX ([ANGLE](https://github.com/google

[2019-12-24 18:49] sofroniewn commented on #758
numpydoc `0.9.2` has now been released, and I have made a PR #830 to bump our minimum dependency

[2019-12-25 21:12] sofroniewn commented on #829
Working through an example from [nilearn](https://nilearn.github.io/auto_examples/01_plotting/plot_surf_stat_map.html) with surface timeseries data I encountered the following:

[code]
Then viewing in napari
[code]

Right now creating and viewing the "timeseries compatible representation" can be done with
[code]

But the data is so large that viewing performance is now terrible, the refresh is too

[2019-12-26 05:57] jni commented on #829
@sofroniewn brilliant, this is a great example from which to get started, and indeed it seems like the API you originally suggested is well-matched to the nilearn example data. We do need to think about cases when the surface itself might be evolving though, and how to disambiguate such things.

We'll indeed have to think about the API, and whether to split out the values. Also, I feel like the `v

[2019-12-26 17:03] sofroniewn commented on #829
I'm open to `data` a 2-tuple of (vertices, faces), and `vertex_values` an array. I think this makes it clear that the `data` and `vertex_values` are separate, and if you have a 3D evolving surface you should have 4D `data` and 1D `vertex_values`, but if you have a 3D static surface you can just do 3D `data` and 2D `vertex_values`.

We can wait on that one until after we see the implementation as I

[2019-12-26 20:40] sofroniewn commented on #787
We should also fix #687 which is related to our console

[2019-12-26 20:41] sofroniewn commented on #829
I did not realize this is a duplicate of #540

[2019-12-27 15:53] tlambert03 opened #833 "dependabot?"
what do people think of adding a dependabot hook to the napari repo?  https://github.com/marketplace/dependabot-preview/
I don't think we would necessarily use it to actually merge the PRs (actually bumping our dependency requirements), but it would immediately trigger a CI test every-time something gets released (and problematic updates would immediately fail in a PR test).

[2019-12-28 00:43] jni commented on #833
How would you use it? We don't really have a dependency update policy...?

[2019-12-28 02:41] tlambert03 commented on #833
it would just be to catch things like the numpy 1.18 update breaking tests and numcodecs breaking tests, so we could either fix the problems (as we did in the case of numpy) or pin the requirements.txt (in the case of numcodecs).  Given the high level of activity of napari PRs, we're likely to stumble upon these things pretty quickly anyway, so it's not a big deal... but it also doesn't come with

[2019-12-29 00:31] sofroniewn commented on #833
I like this idea. It seems useful to explicitly test and catch these things and work on fixes rather than just wait for them to be detected organically, which can be confusing when also working on new features in PRs too.

What does @kne42 think?

[2019-12-29 01:22] sofroniewn opened #835 "Convenience APIs for empty shapes / points / labels"
## 🚀 Feature
I'd like to add some convenience keyword args to `add_labels`, `add_points`, and `add_shapes` to make instantiating those layers with no data easier.

The use case is that someone has a 3D image visible and they want to start adding either a 2D shapes layer where each shape is visible regardless of slicing, or they want to make a 3D shapes layer where each shape is visible in only the

[2019-12-29 21:52] jni commented on #835
I'm not sure about this one. As you know, I like the blank calls with sensible defaults based on existing layers. But I think things like `ndim=` makes it really easy to do the wrong thing based on e.g. adapting one of our tutorials to different-dimension data. It's unclear also what one would do if we have a 2D image and we add a 3D points layer with no shape information (in terms of the slider I

[2019-12-29 21:59] sofroniewn commented on #835
Yup that’s a tricky case ... I’m not sure what’s best.

Agreed

Sounds good

[2019-12-30 19:22] sofroniewn opened #836 "Display frame-per-second (fps) information"
## 🚀 Feature
It has been requested in this [image.sc post](https://forum.image.sc/t/using-napari-as-imagepys-canvas/32579/3) to display fps information.

Vispy has some built-in fps measurements capabilities - see [canvas.measure_fps](https://github.com/vispy/vispy/blob/9e0822db0ec31ba720d82952b1867e77f30971f6/vispy/app/canvas.py#L470) - that we can simple leverage in napari by typing the followin

[2019-12-30 23:35] #829 closed, assigned to nobody

[2020-01-01 23:35] sofroniewn commented on #792
@constantinpape you might be interested in weighing in here, particularly given what you've done here - https://github.com/constantinpape/heimdall/blob/master/heimdall/sources.py
We're likely going to be improving our physical coordinate systems soon - see #763 - and so now might be a good time to integrate any big data features you are interested in into napari directly

[2020-01-02 14:20] #574 closed, assigned to nobody

[2020-01-02 16:37] tlambert03 opened #842 "make RangeSlider.setValues accept data values (not 0-1)"
## 🚀 Feature
In working on #837, I find myself needing to duplicate the logic for setting the values of the contrast limits slider that are defined in the `qt_image_base_layer`:

https://github.com/napari/napari/blob/53d95988fee000f5fa0a1c5e567e09ea05d80635/napari/_qt/layers/qt_image_base_layer.py#L79-L91

That code is due to the fact that the sliders themselves pretty much always have a range fro

[2020-01-02 16:55] sofroniewn commented on #842
That is fine with me. @AhmetCanSolak wrote the original range_slider, so he might have comments too.

[2020-01-02 21:56] royerloic commented on #792
Just noticed that I did not weigh in on @sofroniewn question on 'NaNs': "... how having that array of NaNs is going to interact with our vispy code".
For sure this won't work -- NaNs are not interpreted by OpenGL -- unless we do something just before we sent the data to the driver. The right approach as suggested is to use a tilling approach. I think this is clear by now, but just wanted to have s

[2020-01-02 22:57] sofroniewn opened #843 "More advanced 3D rendering"
## 🚀 Feature
Following up on https://github.com/napari/napari/pull/840#issuecomment-570379878 from @royerloic - right now for 3D arrays we have `translucent`, `mip`, `additive`, and `iso surface` rendering. @royerloic and @AhmetCanSolak mentioned another type of rendering that can be nicer than `mip` and that has one free parameter that you can use to control - i can't remember what it was though.

[2020-01-02 23:25] mrocklin commented on #718
Yeah, so what's happening is that you want to turn off how Dask fuses getitem optimisations like the following:

    x[0, :, :][:5] -> x[0, :5, :]

Turning this off will keep the intermediate values around for caching.  However, currently the only way to do this is to turn off *all* optimizations, with `compute(optimize_graph=False)`.  You also lose the culling optimization, which removes tasks fr

[2020-01-02 23:31] tlambert03 commented on #718
Thanks @mrocklin!  I don't think it's been holding anyone back terribly in the meantime, but it's definitely something i'd like to get back to thinking about soon, and this will be a great place to start.  If it works well, I'll report back here and possibly also over in a Dask issue if it seems like adding options would be useful.

[2020-01-03 00:07] sofroniewn opened #845 "Make changing views non-blocking"
## 🚀 Feature

In https://github.com/napari/napari/issues/763#issuecomment-562552657 @jni wrote:

This seems like a nice feature that should be relatively self contained. Curious if people have more thoughts on how / where it should be implemented. Might give us some big usability improvements for relatively little effort. @tlambert03 @jni?

[2020-01-03 00:38] jni commented on #843
@sofroniewn it's attenuated max projection. Loic talks about it here: https://youtu.be/tSMRoW0-NFY?t=830 It's probably useful for 3D picking as well!

[2020-01-03 01:38] sofroniewn commented on #843
Great video - that guy really looks like he knows what he's talking about - would be great if he could make a shader PR to napari ;-) ;-)

@royerloic do you have any links to the equations for this plot?

![image](https://user-images.githubusercontent.com/6531703/71702745-f86cc680-2d85-11ea-9406-cb792b8d8668.png)

One approach I that could imagine is you sum how much you've seen along the ray so f

[2020-01-03 01:58] jni commented on #845
There's a bit of opportunity to make things generic here. We could build the queuing mechanism into the base layer, which takes as input three functions to do slicing, viewport cropping, and instantiating. These would vary between the layer types but all layer types would need to provide them (even if it's just an identity — which could be implemented in the base layer). Instantiating is `np.asarr

[2020-01-03 02:15] sofroniewn commented on #845
I like that idea a lot, some stuff could go inside the `refresh` function https://github.com/napari/napari/blob/53d95988fee000f5fa0a1c5e567e09ea05d80635/napari/layers/base/base.py#L573 now on the base layer, by breaking apart `_set_view_slice` so it doesn't actually do the instantiation

[2020-01-03 02:23] royerloic commented on #843
hahaha...
Yes, I think it is due time now that I dwelve into some shader code....
and make a nice PR... But I am afraid, @sofroniewn is probably going to get
this done by the time I finish to write this...

For reference, here is the good ol' ClearVolume shader code:

https://github.com/ClearVolume/clearvolume/blob/master/src/java/clearvolume/renderer/opencl/kernels/VolumeRender.cl

The interestin

[2020-01-03 02:28] d-v-b commented on #845
Yall are probably already thinking this, but making a view change non-blocking is a special case / side effect of lazy tiled loading (#318), so hopefully resolving one of these issues helps resolve the other.

[2020-01-03 02:28] royerloic commented on #843
One detail is to scale the decay_rate so that the effect does not overall depend on the number the length of the ray-marching step along the ray (tstep in the code)

[2020-01-03 04:14] sofroniewn commented on #843
Thanks @royerloic - I've given this a go in #846, still a little to do, but already looking quite nice I think!

I think you have some offsets / do the mapping slightly differently than I did. I'm happy to adjust etc as needed, the basic effect is very cool though.

[2020-01-03 13:33] #842 closed, assigned to nobody

[2020-01-03 21:24] AhmetCanSolak commented on #842
Im glad @tlambert03 you changed this in #844 . I initially implemented with 0-1 input as it was the api logic we had back in time. Thank you!

[2020-01-04 00:17] sofroniewn opened #847 "Even more advanced 3D rendering"
ii) dithering of ray sampling to avoid stepping artefacts
iii) variable 'render quality'/'render speed' trade-off -- which is essentially the amount of sampling.
iv) loop unrolling for speedup as done in CV (necessary when doing iii )
v) box / grid around volume
vi) two-pass tracing, first pass is coarse, second pass refines it -- not useful for all modes. Gives better quality and better performan

[2020-01-04 00:23] sofroniewn commented on #847
@royerloic I love these ideas - I think we want to commit them first to napari using our vendored volume visual, maybe making a dedicated shader file separate from the rest of the volume visual code so that we can keep it quite modular from vispy - and say if we ever made the transition to a purely webGL based rendering system we'd be able to move the shader code over pretty easily.

Reading this

[2020-01-04 01:36] royerloic commented on #448
Great work @guiwitz ! Let me answer your comment below:

(1) What I described only applied to the 'model' of the viewer, not the Qt stuff! Of course that would never work and be terrible in many ways :-)  The problem is that currently a lot of the viewer state is actually in the vispy side of things, like the camera position and such things, when they should be in fact at least reflected in the vi

[2020-01-04 03:53] hiroalchem opened #848 "What is the best solution for cropping feature"
I want to crop the image with fixed size (e.g. (128x128)) and launch new viewer.
However I faced some problems.
First, I want to get the clicked coordinate in the image layer, however, I could not find the way to get the value of mouse clicked coordinate (I know I can get the point with point layer, but I want to get the coordinate directly from image layer)
Second, I want to run above function wh

[2020-01-04 17:30] sofroniewn commented on #848
Hi @hiroalchem, napari doesn’t have crop functionality yet, but I’d like to add it soon, particularly for people doing 3d rendering who want to interactively see inside things.

You can get the coordinates of the last cursor position in the layer as
[code]

You can also add custom mouse function callbacks with the api defined in #544 and visible in this [custom mouse function example](https://gith

[2020-01-04 18:26] sofroniewn commented on #848
Here is an example that will crop a region centered on a mouse click and then print the max value in the cropped region - hope this gets you going further

[code]

[2020-01-05 00:27] hmaarrfk commented on #367
It seems that as of PySide2 5.14, you can use

[code]

[2020-01-05 09:36] hiroalchem commented on #848
Thanks a lot! This is exactly what I wanted to develop! And it worked fine in my environment.
Furthermore, if it's possible, I would like to use this function with keybindings. For example, when
 I click the point without pressing any keys, only print the coordinate, however,  clicking the point with pressing 'c', launch the new viewer with cropped image.
Could I make these kind of function?

[2020-01-05 20:24] sofroniewn commented on #848
You can determine if modifier keys like `shift` are pressed during the mouse click by looking at the `event.modifiers` property and you can also bind callbacks to keypresses described near the bottom of our viewer tutorial - https://napari.org/tutorials/viewer - or in the [custom keybindings example](https://github.com/napari/napari/blob/master/examples/custom_key_bindings.py)

[2020-01-06 00:49] hiroalchem commented on #848
Now I found the example for `event.modifiers`  here [https://github.com/napari/napari/blob/master/examples/custom_mouse_functions.py](https://github.com/napari/napari/blob/master/examples/custom_mouse_functions.py).
Thank you so much!

[2020-01-06 20:07] kne42 commented on #285
That looks awesome @tlambert03! However, I try to refrain from introspection whenever possible as it is a bit too "magic" and can be tricky to parse sometimes.

Like @jni, I would rather see something decorator-based:
[code]

or

[code]

[2020-01-06 20:22] tlambert03 commented on #285
I'd be fine with a decorator approach, I don't think that part makes that big of a difference.

I do favor introspection here (at least as an option) over always requiring the user to explicitly select their GUI elements with, for instance, `@slider` & `@checkbox`.  Of course, it all comes down to the "target audience".  If it's a seasoned python developer, they're going to be just fine learning o

[2020-01-07 05:13] sofroniewn opened #852 "camera model"
## 🚀 Feature
It's becoming a problem in both #851 (viewer serialization) and #780 (animation making) that the camera state is not part of our model - see in particular this comment from @royerloic https://github.com/napari/napari/issues/448#issuecomment-570745596.

I'd like to fix this, but I am unsure if we should have an explicit `Camera` model which can either be a 2D or 3D camera or should we

[2020-01-07 09:40] constantinpape commented on #792
Thanks for bringing this up @sofroniewn. Regarding my big data features, I think the discussion here is bringing up the most important points:
- tiled rendering
- non-blocking rendering (tiling is prob. a prerequisite for this)
- physical coordinate system to support multiple views / affine transformations

As far as I understand, the points @d-v-b raised here were mostly about separating the data

[2020-01-07 23:36] AhmetCanSolak commented on #836
@sofroniewn do we want a fps for napari or canvas? I personally prefer fps for canvas.

[2020-01-08 04:02] #843 closed, assigned to royerloic

[2020-01-08 05:27] sofroniewn opened #855 "Refactor vispy canvas out of qt_viewer.py into own file"
## 🚀 Feature
After #854 goes in I'd like to refactor the vispy code out of `qt_viewer` into its own file maybe inside the `_vispy` folder or maybe called `QtCanvas` and still in the `_qt` folder.

The goal is to simplify the `QtViewer` code and make the vispy code more separated from the rest of the code.

Curious what @jni @tlambert03 thinks, and how this relates to organization in #823?

[2020-01-08 19:45] tlambert03 opened #857 "picking label outside"
## 🐛 Bug
Tiny little bug that I can't fix now but don't want to forget.  When using "pick mode" in a label layer, if you click outside the image, you get:
[code]

[2020-01-08 21:53] kevinyamauchi opened #858 "Refactor Points data model"
## 🚀 Feature
This issue proposes to allow the user to store point metadata (`Points` layer) and allow setting of point properties as a function of the point metadata. Additionally, this issue explores the possibility of combining the `Points` and `Text` layers.

**Definitions**

For the purpose of this issue, I will use the following definitions:

- _point annotions_: metadata associated with each

[2020-01-08 22:37] sofroniewn commented on #857
ah good catch - should be fixed

[2020-01-09 01:27] GenevieveBuckley opened #860 "Points & polygons position inconsistent in grid view mode (needs spatial coordinates)"
## 🐛 Bug

Points and polygons do not share spatial coordinates with images they are selected from. This means when you switch grid view on/off points & polygons no longer overlay the image.

This is just one example of what we're trying to fix with the discussion around spatial coordinates at https://github.com/napari/napari/issues/763. I think the self-contained example in this issue could be use

[2020-01-09 03:09] jni commented on #860
@GenevieveBuckley actually this issue is somewhat orthogonal to the world coordinates. Grid mode does not modify world coordinates. This is what we would call world2canvas, and grid mode adds a translate transform to each layer so that they are separated on the canvas. But the world coordinates of each layer are preserved.

To overlay the points on the image, you need to add `stride=2` to the grid

[2020-01-09 04:45] GenevieveBuckley commented on #860
I think this could be very useful, especially if there was support for hierarchies within groups.

Eg: you will often have two or more treatment groups, with multiple samples in each group, and many cells in each sample. Being able to group them and toggle the visibility on/off for different subsets of the hierarchy would help you see if, say, all the cells from a single sample were messed up (may

[2020-01-09 04:49] GenevieveBuckley commented on #860
This is not a generally applicable solution, is it? It should work in the example I have here where there is one image and one points layer, but if there are an arbitrary number of images and an arbitrary number of points/polygon layers, all added to the viewer in a random order - am I right in thinking your suggestion may not work in a more general case?

[2020-01-09 07:24] jni commented on #860
Correct: you need to have some sort of regular cadence. Layers can be rearranged so the random order is not a huge concern, but you can't mix and match image layers with corresponding points and others without, for example.

[2020-01-09 09:05] ttung commented on #704
Unfortunately, a default requirement that can be overridden by an extra requirement is not possible.  Here's a [discussion](https://github.com/pypa/setuptools/issues/1139) about this subject.  The reason boils down to that packages distill their requirements into a static text file that is not very flexible.

A possibility is that on napari startup, it looks for pyside and pyqt, and if neither is

[2020-01-09 17:31] sofroniewn commented on #570
The larger pop-up slider feature and editable range labels has now been added in #837 so closing this issue

[2020-01-09 17:31] #570 closed, assigned to nobody

[2020-01-09 17:32] sofroniewn commented on #540
This has been closed by #831 which adds better support for surface timeseries

[2020-01-09 17:32] #540 closed, assigned to nobody

[2020-01-09 20:59] sofroniewn opened #862 "Generic colormap representation"
## 🚀 Feature
Right now in our model files we use the vispy colormap object. It would be nice to completely separate our model files from vispy as noted here https://github.com/napari/napari/pull/686#discussion_r363550535 in discussions around serializing the viewer and round-trips.

After #782 (which does a similar refactor but for colors) and #854 (which adds a camera model) both get merged our m

[2020-01-09 22:48] GenevieveBuckley commented on #860
To me this suggests something probably needs to be re-thought about the data models/objects. I'm not sure how, but maybe @sofroniewn has some thoughts?

[2020-01-09 23:40] sofroniewn commented on #860
I like this idea. This will also be relevant when thinking about the true multicanvas stuff in #760 - here I'm imagining more flexibility like being able to assign layers or groups to particular canvases. This will overcome the limitations of the current stride approach, but agreed will require some re-thought around models / objects.

I think when we work on #760 it will be a natural time to work

[2020-01-10 06:58] jni commented on #704
@AhmetCanSolak PySide is already LGPL, which means that napari distributed as a bundle would have to be licensed as LGPL. Within the Python community, it's already a big ask. I don't want to get into a debate on the merits of licenses here (MPL is my favourite so far), but rather that if we are part of a particular community, in this case the scientific Python community, we should make an effort t

[2020-01-10 07:04] jni commented on #862
I'd love for this contribution to be to vispy or matplotlib, rather than creating yet another colormap representation...

[2020-01-10 07:04] ttung commented on #704
This is doable.

This is also doable.

If there is a `napari` package, it cannot depend on napari[PySide2].  If `napari` depends on `napari-base` and `PySide2`, then `napari[PyQt5]` will install `napari-base`, `PySide2`, and `PyQt5`.  Extras are always additive to the base package.

[2020-01-10 07:08] jni commented on #704
Ah, of course! 🤦‍♂ D'oh! Do we then forget about extras and just make multiple packages and metapackages? `napari-pyside2`, `napari-pyqt` etc? Or do we spend our efforts lobbying the PyPA to implement alternative dependencies?

[2020-01-10 08:24] jni commented on #858
@kevinyamauchi thanks! Very thorough! I can't do a full review immediately but I have some preliminary comments:

I'm actually inclined to deprecate directly setting face color and edge color as anything *other* than a colormapped property *or* a single color. That is, if you wanted three colors of points, you would set face_color=[0, 0, 1, 1, 2, 1, 1, 2, 0, 1...] and if you wanted different color

[2020-01-10 13:02] tlambert03 commented on #704
we could also make `napari` install `napari-base` and `pyside2` and those who don’t want pyside2 would have to do `napari-base[pyqt]`. This leaves the “burden” on those who want want we predict to be the slightly less common scenario.

[2020-01-10 15:57] itamarst opened #863 "Not a problem, just some positive feedback"
Just FYI, I recommended Napari to someone at a company visualizing large amounts of multi-channel 3-D data, and he says they've found it really useful; "game changing" was the phrase used.

[2020-01-10 19:55] kne42 commented on #833
On one hand, it would immediately point out different bugs/incompatibilities and make it easier to separate dependency bugs from bugs introduced in PRs. On the other hand, it might flood us with unnecessary PRs...

I think because it makes it easier to isolate dependency-related bugs, I'm overall in favour of it.

[2020-01-10 20:55] tlambert03 commented on #833
that's a good point... that could be kinda annoying.  I wonder if it might be better to create a fork that has dependabot active instead... something that won't clutter up the main repo PRs.  It might even be possible to get alerts on failed tests.  Will look into it

[2020-01-10 21:40] dstansby opened #864 "API documentation?"
## 📚 Documentation

I'm currently flicking through the tutorials, which look like a great place to start. I can't seem to find any API documentation anywhere though - I was wondering if it exists and I've missed something, or if it's still a work in progress?

[2020-01-10 21:56] sofroniewn commented on #864
It's not so great right now - but here's a link https://napari.github.io/docs/dev/ (I think it's up to date / gets built automatically). We're going to be making a big big push around our API docs / tutorials / website over the next month or so - see #764 - so hopefully we'll get something more useful out to you soon!!

[2020-01-10 21:58] sofroniewn commented on #863
Thanks @itamarst, I think the whole @napari/core-devs team really appreciates that you took the time to tells us that, it means a lot!

Do reach out more if you have feature requests or anything we can help you with.

[2020-01-10 22:09] dstansby commented on #864
Great! Have you thought about using https://readthedocs.org/ to automatically build/host the docs?

[2020-01-10 22:16] tlambert03 commented on #833
trying it out here: https://github.com/tlambert-forks/napari-dependabot/pulls
feel free to watch that repo if you want to see how the PRs work.  we'll see how useful/interesting it is.

[2020-01-10 22:18] royerloic commented on #863
Wow, awesome to hear!

[2020-01-10 23:19] ndefrancesco opened #865 "Crash when trying the right click contrast limits slider popup"
Hi every one!
I was really excited with the new features of the last release. Unfortunately, I quickly run into an issue:  when trying the new right click feature on contrast limits, napari throws an error and ignores the click if launched from spyder (using `with napari.gui_qt():`), or throws the error and exits when launched as standalone from the conda prompt.

This is the error that it throws:

[2020-01-10 23:23] kne42 commented on #864
@dstansby Yes, we ultimately decided to build the docs ourselves and host it using GitHub pages since RTD has ads and we plan to build a full-fledged website that the docs will factor into (see #764).

[2020-01-10 23:29] tlambert03 commented on #865
Thanks for the report!  Will take a look ASAP

[2020-01-10 23:39] kne42 commented on #865
Thanks for the report @ndefrancesco! I can replicate this. It appears that we wrote some code that was incompatible with both PyQt5 and PySide2.

[2020-01-11 00:08] cudmore commented on #863
I agree, it is a game changer ...

[2020-01-11 01:03] #865 closed, assigned to nobody

[2020-01-11 01:21] sofroniewn commented on #833
I'm curious about the philosophy of dependabot - am I correct that it makes PRs for us to be always == the latest release. Is that desirable? Another philosophy might be to be >= the oldest release we are still compatible with. Thoughts @jni? Would this just now force us to be incompatible for people who for whatever reason are pinned to old versions of libraries? What are the implications for plu

[2020-01-11 01:28] tlambert03 commented on #833
that was my immediate question as well after playing with it for a bit.  As you might have noticed, I ended up "cheating" to make it work by actually pinning all of our requirements to a specific version, so that when a new one comes out it will appear out of date and open a PR.  It might be aiming more for the crowd that generally pins requirements precisely, and needs to know about security and

[2020-01-11 01:29] tlambert03 commented on #833
also: no that's not desirable. the intention was never to merge the dependabot PRs... just to be immediately notified of a failing test (or close the PR otherwise).

[2020-01-11 01:47] sofroniewn commented on #833
ah ok, yeah I'm probably 👎for now, but curious what others think. Definitely good to be aware of though (I wasn't before this)

[2020-01-11 01:47] tlambert03 commented on #790
Hey @cudmore, did the `set_range` tip help?  ok if we close this issue?

[2020-01-11 03:49] sofroniewn opened #868 "new zarr release / numcodecs"
## 🐛 Bug

Looks like zarr's new release requires numcodecs > 0.6.4, but we pinned to exclude it see discussion #666. I think we need to resolve this ASAP and then make the 0.2.10 release (which also includes the #866 bug fix). Thoughts @tlambert03 @jni? Has the 0.6.4 numcodecs install problem been resolved? You can see our failing tests in #867.

[2020-01-11 03:53] tlambert03 commented on #868
that's funny... I was literally about to hit "submit" on a similar issue.
[here is the commit](https://github.com/zarr-developers/zarr-python/pull/497) where they bump the dependency, and they do it " to use `ensure_text` text handling functionality from it".  I don't know zarr deeply enough to know how frequently that is likely to happen...

numcodecs 0.6.4 is still not working, (this actually wa

[2020-01-11 03:56] tlambert03 commented on #868
actually... looks like it was just the windows builds that [broke with numcodecs](https://github.com/tlambert-forks/napari-dependabot/pull/4/checks?check_run_id=384243596)... so maybe something has changed in the meantime?

[2020-01-11 03:57] sofroniewn commented on #868
ok - also if I remember https://github.com/zarr-developers/numcodecs/issues/210 correctly the issue is just with pip install on our CI, so people in the wild should still be installing ok. Maybe then this can wait till tomorrow

[2020-01-11 04:11] jni commented on #868
pip install works fine on my machine. imho the fix is to stop depending on zarr. We can use `dask.array.from_zarr` instead of `zarr.open`, and it should work whenever the file has standard compression, if I understand correctly.

[2020-01-11 04:20] jni commented on #868
Ah. I just saw why we started using zarr directly: we can tell whether there is a dataset instead of an array. Guh. =)

[2020-01-11 06:35] sofroniewn commented on #868
hmm - relevant part of the codebase is here https://github.com/napari/napari/blob/e2b90e96189cc18f4b5e5594b19f302ee305d380/napari/utils/io.py#L118

I agree that we should figure out a way to drop our dependency on both zarr and numcodecs, and just leverage dask, possibly with try catches to do everything, or say that additional functionality belongs in a plugin. We can still have zarr as one of ou

[2020-01-11 16:33] tlambert03 opened #870 "Error when locking shape aspect ratio with shift"
## 🐛 Bug
haven't looked too far into yet, but just want to note it somewhere:
In `examples/mouse_drag_callback.py`, if I try to use the `Shift` key to constrain the aspect ratio of a shape, I get the following error in `hold_to_lock_aspect_ratio`:

[code]

[2020-01-11 18:01] sofroniewn commented on #870
I can work on a fix for this for `0.2.10`, should be a one-liner

[2020-01-11 20:40] sofroniewn commented on #868
so i'm still really not sure how to deal with this one. On the one hand I like the idea of not explicitly depending on zarr and numcodecs and just leveraging fileIO options here in dask, but then there is no good way to deal with the pyramid case where we want a list of dask arrays out. We could try raising an issue on dask to see if they'd ever be interested in adding the functionality we have he

[2020-01-11 22:48] tlambert03 commented on #868
just played with it a little bit, and it looks like the main thing that fails when using `dask.from_zarr` on a zarr group is the fact that the `.zarray` file doesn't exist.  Here's a function that works on both zarr single arrays and groups of arrays, without importing zarr:
[code]

(improvements that could be made to that function to provide dask with the proper `component` string)... and I think

[2020-01-12 00:08] tlambert03 commented on #868
one last thought and then I have to sign off for the night...
regarding our CI strategy, I think we can still pip install zarr on CI, (making sure that windows has the required build tools) so we can at least test zarr even if it's not a strict dependency.

[2020-01-12 00:09] sofroniewn commented on #868
This looks great! I will play with now and try and break, but I think it is the way to go

[2020-01-12 00:44] sofroniewn commented on #868
This is really great - I don't think we need to use the dask component syntax. I had to add a `sorted` call to the `os.listdir` to make everything work there, but otherwise its great. I have the code ready to go in a PR that I can make right now if you're out for a bit, but feel free to then take over if you needed.

I'll add here that this solution won't now work for things like s3 links, but tha

[2020-01-12 04:43] kevinyamauchi commented on #858
Thanks for the quick feedback, @jni! I think you make some great points.

That works for me. I think that makes it more clear that the `annotations` are all grouped together.

Interesting, I think I like this idea. To make sure we're on the same page, I've mocked out your proposed API as I understand it below. Is this what you have in mind?

[code]

[2020-01-12 16:22] HagaiHargil commented on #858
Interesting discussion, a couple of comments:

1. What about other layers such as `Shapes` and `Vectors` which can contain colors on a per-item basis? I'm guessing you'd want to change their color handling as well, to fit the `Points` one. #782 doesn't deal with these other layers as well, BTW.

2. Following  #686 `face_color` and `edge_color` are now `current_X_color`, which better conveys their

[2020-01-12 19:59] kevinyamauchi commented on #858
Hey, @HagaiHargil ! Thanks for the comments.

I agree that we should also update the `Shapes` and `Vectors` layers to match the `Points` layer color property setting if we like the behavior. I just thought it would be easier to start by experimenting on a single layer first (while keeping in mind how it generalizes).

Thanks for catching that, there is a typo in my example above (`points_layer.edg

[2020-01-12 21:05] HagaiHargil commented on #858
Regarding `xarray` - my thought was that it might be simpler to hold everything in a single table, but I guess that we should first have a (semi-) working prototype with the DataFrames and then see if it can (and should) be changed.

[2020-01-12 22:50] #868 closed, assigned to nobody

[2020-01-13 00:32] #870 closed, assigned to nobody

[2020-01-13 00:59] #857 closed, assigned to nobody

[2020-01-13 03:56] jni opened #875 "Testing a pip install doesn't work"
## 🐛 Bug

Running `pytest --pyargs napari` should run the napari test suite, but right now, this fails:

[code]

## To Reproduce

[code]

Note also, in a related issue, that I think our tests should be able to run without our optional dependencies, zarr and xarray, ie, we should add pytest.skip or pytest.importorskip to the relevant tests (and they should be in their own files if the latter becaus

[2020-01-13 16:47] sofroniewn commented on #758
With the napari `0.2.10` release I think we can start thinking about closing this issue. We've bumped our dependencies around the main packages that were slow imports and have been sped up, `vispy`, and `numpydoc`, and we no longer explicitly depend on zarr so the eventlet import shouldn't matter either.

@cgohlke do you notice significant increases in start-up speed with `0.2.10` or do still see

[2020-01-13 16:50] sofroniewn commented on #665
In #873 we have dropped our explicit zarr dependency and so this issue is no longer present in `0.2.10`

[2020-01-13 16:50] #665 closed, assigned to nobody

[2020-01-13 16:53] sofroniewn commented on #624
With #837 and `0.2.10` we have significantly improved how the contrast limits range can be set both programmatically and from the GUI - by right clicking on the contrast limits slider to launch a full featured slider in a pop-up, so I am closing this issue. Please let us know if this solution has any problems for you though

[2020-01-13 16:53] #624 closed, assigned to nobody

[2020-01-13 17:53] cgohlke commented on #758
Importing napari 0.2.10 is down to ~1.8 s on my system. That is reasonable. About 30% is taken by importing `napari._qt.qt_console` which imports IPython. I don't know if that could be delayed until the IPython terminal is opened by the user.

[2020-01-13 18:13] sofroniewn commented on #758
@cgohlke thanks for checking. Delaying the console import till the console is open sounds like a good idea, we need to refactor some code there anyway to fix things like #687 (ipywidgets related). I'll keep this issue open for now as a reminder and link to #787 where we discussed various console related issues

[2020-01-14 03:33] #768 closed, assigned to nobody

[2020-01-14 17:18] sofroniewn commented on #875
@kne42 @ttung do either of you know why we might be getting the
[code]
error and how to fix? Is something not getting included in the manifest? Do we want to just import all our tests in some private way in the init? Any suggestions welcome

[2020-01-14 17:36] sofroniewn opened #879 "Pop-ups for all sliders"
## 🚀 Feature
Now that we have #837 in and #869 about to go in, I'd like to revisit this https://github.com/napari/napari/pull/837#issuecomment-570826020

What do you think @tlambert03? There are two main reasons I like this idea - one is functionality - it will let people type in values, see values, and adjust ranges for all our sliders

- second is that it then provides uniformity and standardiza

[2020-01-14 17:48] AhmetCanSolak commented on #879
I like the uniformity on our sliders. If @tlambert03 is busy with other stuff i will be interested in picking this up. As @sofroniewn said it is nice to be able to just type the exact value for slider position.

[2020-01-14 17:56] ttung commented on #875
This is because `napari.tests` is not a package (no `__init__.py`), and as such, is not bundled into the napari package.

In my development environment, I run `pip install -e .` (or `python setup.py develop`), followed by `pytest --pyargs napari` and that works.

[2020-01-14 17:58] ttung commented on #875
I strongly suspect that if you run `pytest --pyargs napari.utils.test`, everything would work, and that is because `napari.utils.test` is an actual package.

[2020-01-14 20:01] sofroniewn commented on #858
This is a great write-up @kevinyamauchi

One question is if we go with the `DataFrame` approach do we now depend on pandas, and do we now use pandas objects internally? Do we accept pandas objects into our API (either required or optional)? I saw the example above you can pass a dictionary. I'm a little wary of the adding lots of pandas - and certainly don't want to force people into pandas. There

[2020-01-14 21:07] sofroniewn commented on #875
@kne42 and I chatted about making all our tests available under `napari._tests`, she agreed that was a good approach

[2020-01-14 21:52] sofroniewn commented on #420
We're well underway moving towards these goals, and closing out some of the remaining issues from #301. I just wanted to highlight a couple key areas of work that we need to get done before we get close to having API stability, and having a solid foundation for plugins:

- [ ] Use of colors / colormaps on models #782, #862

- [ ]  Points vs Text vs Annotation refactor and propagation of changes to

[2020-01-14 22:37] jni commented on #875
Why? I haven't seen that used in any other scipy-ish packages... I think it's easier for navigation to place tests next to their respective packages.

[2020-01-14 22:43] ttung commented on #875
We've done that (in starfish) and I think it's great.

[2020-01-14 22:44] jni commented on #858
Yeah, to be honest, I don't know. If we are only using it for subsetting etc, then it possibly doesn't make sense, and we can keep a DF-compatible data structure (dict of arrays). (And we convert an input DF to that format.) If we find we need more advanced features (e.g. groupby), then we should strongly consider depending on it.

Yes, this is fixed with a color cycle:

[code]

We would use color

[2020-01-14 22:52] sofroniewn commented on #875
Ah @jni if that is directed at me there was probably some misunderstanding as I was just trying to repeat something you had suggested in the zulip.

I feel like I may be just getting in the way here and @ttung @jni and @kne42 probably agree with each other on the best approach. My apologies.

It would be great though if one of you could claim the issue and then at least we know we have a plan for

[2020-01-14 22:55] sofroniewn commented on #858
That is quite nice!

Hmm yeah, we'll have to see how it goes, I'd prefer us to avoid it as much as reasonably possible, maybe in a first pass, but if we find ourselves needing it / reimplementing parts of it then we should depend on pandas

[2020-01-14 23:45] jni commented on #875
The only suggestion I remember making is to replace `napari.tests.utils` with `napari.utils._testing`, ie, never cross import from things in `tests` folders.

[2020-01-15 00:07] tlambert03 commented on #879
Fine with me @AhmetCanSolak!  I've got a lot of open PRs at the moment and a busy couple weeks... go for it and let me know if I can be of help

[2020-01-15 15:32] sofroniewn commented on #879
Thanks for volunteering @AhmetCanSolak - now that #869 is in you can start on this when you like. You might want to look at this https://github.com/napari/napari/pull/869#issuecomment-574473073 too before you start, it could be helpful if you want to adjust the vertical alignment (not orientation) of the sliders:

[2020-01-15 16:26] sofroniewn commented on #862
Agreed - I think if we use a tuple that is an Nx4 array of colors, an optional length N list of control points, and an interpolation mode string that is either `linear` or `zero` then we can recreate any vispy colormap simply from its API here - http://vispy.org/color.html#vispy.color.Colormap

We can revisit this once #782 lands and when we get further in discussion of #858

[2020-01-15 16:54] sofroniewn commented on #787
There have been a couple places where the console has now come up and I think we want to make a couple changes right away

1. Have no IPython / console related imports unless the show console button is clicked by the user. It maybe hard to simultaneously make this possible and make the show console button invisible when launching from IPython - but it would be nice to delay the imports for startup

[2020-01-15 19:21] kevinyamauchi commented on #858
@jni and @sofroniewn , I think you make good points with regards to being cautious about adding a `pandas` dependency. I agree that we don't want our users to have to be familiar with the `pandas` API and ideally the `napari` model has as few dependencies as possible.

I had originally considered a dictionary of arrays, but I thought it might be nice to be able to group annotations (e.g., groupby

[2020-01-15 19:38] sofroniewn opened #881 "Remote data / compute meta issue"
## ❓ Questions and Help

This issue is a meta-issue trying to pull together various threads around our [remote and sharable napari efforts](https://github.com/napari/napari/projects/9)

I see two separate, but highly related use cases. The first is someone wants to view remote data (say from s3) but any compute on that data happens locally, the second is that someone wants to be doing interactive

[2020-01-15 22:10] AhmetCanSolak commented on #879
Thanks for heads up @sofroniewn !

[2020-01-16 04:21] jni commented on #858
I initially like the idea of the `palette` unified API, but I can spot some issues with it. For example, suppose you are displaying points, and you switch from using `'predicted label'` as the class to `z-score` or `PCA1`, then you will also need to switch from using a cycle to using a colormap. (The converse is not true because it is trivial to make a cycle from a colormap. But the other way is m

[2020-01-16 04:34] jni commented on #787
Thanks for keeping track of this issue! Yes this one should be a high priority to fix — the syntax highlighting issue is a pain.

This seems super hard and I think it's better to remove the button for now. There is no "ipython" process, there's terminals running IPython, and there could be many, and now you probably have to look at process IDs and parent processes and so on which are probably diff

[2020-01-16 16:53] sofroniewn commented on #881
I'll add that if we go with options 4. and 5. then figuring out how to make seemless connections to remote jupyter hubs and a local napari - see this discussion here https://forum.image.sc/t/image-viewer-for-python-notebooks/32976/11?u=sofroniewn for people requesting support for this use case

[2020-01-16 17:48] mrocklin commented on #845
Does Napari use any sort of event loop, async/await functions, or background threads? Looking online at docs it seems like Qt might have its own thing here.

In general advanced applications that use Dask for interaction have tended to prefer the [asynchronous API](https://distributed.dask.org/en/latest/asynchronous.html).  I'm not sure if there is a clear place to include that within Napari (assu

[2020-01-16 17:55] mrocklin commented on #881
There is an issue here: https://github.com/dask/dask-image/issues/84

These should be easier today.  The business people have been here before, so you're on a well trodden path.

Yeah, just to echo the sentiment here, there are a lot of people right now (open source and commercial) who are currently thinking about how to make it as easy as possible to run Dask in the cloud.  I think that if you ar

[2020-01-16 17:56] AhmetCanSolak commented on #845
@mrocklin we have some convenience functions to provide async UI update with help of QThreadPool and QRunnable classes from Qt. Typically it is a run-and-forget type of background thread but with help of signals and slots we can easily provide async IO as well. What sort of architecture would be best for Dask interaction? Could you give more details?

[2020-01-16 18:05] berl opened #882 "contrast limits slider increment is static and too large for some images"
## 🐛 Bug

When I open images with intensities occupying the low end of [0,1] range, the contrast limits slider  increments of 0.01 are too large to be useful.  Like I only get 2-3 positions for some of my recent images.

## To Reproduce

Steps to reproduce the behavior:

1. open an image with intensity values _val_ s.t.   0 < _val_ < 0.05
2. adjust the clims
3. frown

## Expected behavior
The user

[2020-01-16 18:36] mrocklin commented on #845
Dask runs on a Tornado or Asyncio event loop.  So if other applications operate with one of those technologies (or anything that can interoperate with them) then you can use standard asyncio/tornado concurrency mechanisms to run things concurrently, cancel them, wait for them, and so on.

[2020-01-16 18:39] #774 closed, assigned to kevinyamauchi, HagaiHargil

[2020-01-16 18:51] kevinyamauchi commented on #882
Hey @berl! Would being able to expand the slider and manually set the values help (see #837)? The behavior isn't super discoverable, but you can right click on the clim slider to get the expanded UI for setting values, ranges, etc.

[2020-01-16 20:24] sofroniewn commented on #858
Looking over the proposed API again it seems very similar to both the seaborn and bokeh approach - which I think is a good things, as converge here probably means good API design. Both these approaches allow for a combination of dataframe + vectors to be used for setting properties.

I'd still appreciate an explicit work through of the use-case in #651 in the new proposed scheme (just from an API

[2020-01-16 22:17] kevinyamauchi commented on #858
Great point, @sofroniewn . I've collected what I think are the key descriptors of the use case from #651 below.

Based on that, I think the we would do the following using the proposed API. This example would create a `napari` viewer with an image and points layers. The points would be colored green or magenta based on their annotated 'cell_type'. If the user selects some points and presses 'b', t

[2020-01-16 22:55] tlambert03 commented on #882
unfortunately, the popup slider probably won't help in this case.  Try for example:
[code]
I have an idea how this can be solved pretty easily and will submit a PR shortly

[2020-01-17 02:16] tlambert03 opened #886 "napari works over google chrome remote desktop!"
File this under potentially interesting rainy day information that doesn't really require any immediate action, but which has implications for remote GL-based rendering.

As has been mentioned [elsewhere](https://github.com/napari/napari/issues/799#issuecomment-565859004), openGL has issues with virtualized desktops, making things like microsoft remote desktop, x11 forwarding on *nix, and (sometim

[2020-01-17 02:34] jni commented on #886
Well, as much as I hate to create features that are Chrome-only (perhaps there is similar technology from Mozilla?), *ideally* the thing that would be great to do with this information is to figure out how to properly configure a JupyterHub where launching a napari viewer would open a new tab with a virtual napari window in it. Then teaching image analysis in Python using a JupyterHub would be eas

[2020-01-17 02:48] #882 closed, assigned to nobody

[2020-01-17 02:48] tlambert03 commented on #882
Hi @berl, hopefully #884 fixes this.  But feel free to re-open this if you have any additional issues!

[2020-01-17 09:47] adamltyson commented on #858
Hi @kevinyamauchi, no problem, thanks for working on this.

This is exactly what I had in mind. From a user point of view, the API looks very simple and flexible. I like that I could (for example), in the case of a binary label, easily change the function to just swap labels.

It's a different issue, but is it possible to add something like a summary box into the napari viewer? Something like:

**

[2020-01-17 14:11] tlambert03 opened #888 "singleton dimensions are a problem"
## 🐛 Bug
Was working in napari with someone yesterday and one of their images revealed an issue with napari's handling of singleton dimensions:

[code]

![Screen Shot 2020-01-17 at 8 56 50 AM](https://user-images.githubusercontent.com/1609449/72617595-4f86a580-3907-11ea-86b9-ba38a2be1671.png)

(see dimensions sliders 🖕)
this would be solved visually easily enough by adding `np.squeeze` somewhere i

[2020-01-17 15:45] sofroniewn commented on #858
That's great that you like the API @adamltyson!

I think functionality like your cell annotator box we'd leave to a plugin developer who wanted to make a cell annotation tool with a lot of customized convenience functionality, including custom keybindings and custom Qt displays like that summary box. We want to make sure that all the basic functionality for such a plugin is provided by the core of

[2020-01-17 15:51] sofroniewn commented on #888
That must have crept back in there when adding labels / play buttons as we've had that issue a while back - see #409. I think there the approach was to not call squeeze, but to just change the display logic in the qt_dims, and I lean to still taking that approach here - i.e. if someone has 5D data with a singleton dim I shouldn't convert that to 4D data, I should just know not to show them a slide

[2020-01-17 15:52] tlambert03 commented on #888
sounds good.  will take a look

[2020-01-17 15:57] kevinyamauchi commented on #858
Thanks for the feedback, @adamltyson !

As @sofroniewn mentioned, we do not currently have a way to add a "summary box" type of UI element through the public API. However, we are currently discussing how best to implement plugins and I think use cases really help ground the discussion. It sounds like the cell annotator you are developing could work well as a plugin. If you have time, it would be g

[2020-01-17 16:10] kevinyamauchi opened #889 "Adding a keybinding should refresh "about keybindings" list"
## 🐛 Bug

Currently, the "about keybindings" UI does not update when a user adds the keybinding. To force the refresh, the user needs to change which layer is active (e.g., deselect and then select the layer in the layer list UI).

## To Reproduce

Steps to reproduce the behavior:

1. Run `custom_keybindings.py` example
2. Open the about keybindings UI (alt + cmd + / on Mac)
3. The custom keybindi

[2020-01-17 16:11] sofroniewn opened #890 "Color depth MIP rendering"
## 🚀 Feature

@d-v-b requested we support a Color depth MIP rendering mode - see [this paper](https://www.biorxiv.org/content/10.1101/318006v1.full) following #846, which shouldn't be too hard

[2020-01-17 16:26] adamltyson commented on #858
Thanks for your feedback. Our use case is basically this issue. We have some software in the lab for detecting cells in whole-brain images, and these detected cells are refined using a DNN ([software](https://github.com/SainsburyWellcomeCentre/cellfinder)). We have a custom FIJI plugin that loads the results of this pipeline, and the classification (cell/artifact) can be refined to generate traini

[2020-01-17 20:37] sofroniewn commented on #886
@choldgraf - whom I happen to be sitting next to right now :-) curious how you think of the above in terms of napari / jupyterHub integration

[2020-01-17 23:27] kevinyamauchi commented on #858
Sounds good, @adamltyson! I’ll get started on this on Monday.

[2020-01-18 21:40] sofroniewn opened #892 "Refactor add_* methods in ViewerModel into mixin class"
## 🚀 Refactor

I'd like us to consider refactoring the `add_*` methods currently inside the [ViewerModel file](https://github.com/napari/napari/blob/master/napari/components/viewer_model.py#L393-L1001) into a mixin class `AddLayersMixin` in it's own file `add_layers.py`

The reason for this is I currently find the `ViewerModel` file very large and hard to find things in, and often we just have to

[2020-01-19 00:46] irahorecka opened #893 "Quitting Qt app instance after exiting napari.gui_qt context"
I am curious how to properly exit a napari GUI application in a Jupyter Notebook environment without:
1) Force quitting
2) Restarting the kernel

Thanks!

[2020-01-19 01:43] tlambert03 commented on #893
can you provide a bit more info about what you're doing (i.e. the code you're using to launch napari, and what you're expecting to happen)?
normally, simply closing the napari window is sufficient to terminate cell execution and carry on with the rest of the notebook.

[2020-01-19 02:30] sofroniewn opened #894 "Install on windows ec2 machine with remote desktop"
## 🐛 Bug

I am connected to a windows ec2 machine and trying to pip install napari in a conda environment and running into the following errors. I downloaded python 3.7 from anaconda, then created a new virtual environment and tried the pip install. Maybe this would be easier with #635 and the conda package, but wanted to flag this. It would be nice for testing purposes if we were able to get some

[2020-01-19 07:40] jni commented on #892
I defer to @kne42 here, but on first glance it seems like a good idea to me! =)

[2020-01-20 00:53] jni commented on #764
@kne42 where have the tutorials gone? napari.org currently doesn't resolve to anything... =(

[2020-01-20 01:20] sofroniewn commented on #764
`http://napari.org` still works for me

[2020-01-20 01:33] tlambert03 commented on #764
Down for me ...
https://downforeveryoneorjustme.com/napari.org

[2020-01-20 01:55] jni commented on #764
And this doesn't work either: https://napari.github.io/tutorials/

[2020-01-21 05:56] ttung commented on #845
This is only for dask.distributed right? Canceling a data fetch for a simple DaskArray is not supported, as far as I can tell?

[2020-01-21 05:59] mrocklin commented on #845
Yes, this is assuming that you are using the dask.distributed scheduler rather than the local threaded scheduler.

In principle I think that for an application like Napari this shouldn't be too much of an issue.  The lightest weight deployment of only threads in a single process should get pretty close to the lightweight nature of dask.local scheduler.

[code]

[2020-01-21 14:39] adamltyson commented on #889
This would be very useful for me too.

[2020-01-21 18:09] irahorecka commented on #893
Hi Talley, thank you for getting back to me. Here's the code I'm running in Jupyter Lab (Python 3.7.3)

[code]

When I close napari (close window button (red) in upper left window), I can reopen it by re-executing this code. However, in my MacOS dock, the napari application icon lingers. I have to force quit the application (right-click the icon --> force quit) to remove it from my dock. An altern

[2020-01-21 18:35] tlambert03 commented on #893
ahh, I see.  it's the dock icon you're talking about, thanks that helps.
Yes there might be a stray Qt event loop still running after closing that main window that we could potentially clean up.  But we also need to make sure we don't clobber other processes using the same qt loop.  This clarifies it enough though thanks!

I would say that in the meantime, while we look into it, that icon down the

[2020-01-21 19:31] kne42 commented on #893
hi @ irahorecka, for usage in Jupyter you should be omitting the `napari.gui_qt` context manager and using the `%gui pyside2` or `%gui qt5` line magic, according to your preference

regardless, this will still cause the same issue since it will be IPython keeping the event loop alive. according to the documentation, you should be able to shut off the event loop with just a `%gui` call, but I have

[2020-01-21 19:42] choldgraf commented on #886
Hey all - a quick thought here, I wonder if the Jupyter Server Proxy would be a way to accomplish this. Basically, if you have a web-app running on a port, then you can proxy that within a Jupyter session and allow users access to it.

A few examples:

* Running tensorboard on Binder: https://github.com/binder-examples/tensorboard
* Running Bokeh on Binder: https://github.com/binder-examples/bokeh

[2020-01-21 20:06] kne42 commented on #892
SGTM! One thing you should check out first is building the docs since I'm not sure if Sphinx will document inherited methods (e.g. they may not show up under the `Viewer` class).

WRT renaming `add_layer`, I'm in favor of it, although it may make it more difficult for someone who wants to transfer a layer between viewers, but I think that use case is very uncommon.

[2020-01-21 20:10] tlambert03 commented on #893
is there something specifically wrong about using the context manager in jupyter?

It's always worked for me, and I don't know why, but the magic has actually _not_ worked for me in a jupyter notebook (possible this has something to do with my using jupyter lab, or perhaps using `nb_conda_kernels` for environment management in jupyter?)  though the magic does work for me in an ipython session.  Al

[2020-01-21 20:29] ttung commented on #894
Does plain old `pip install numpy` work? I think this is probably a weird interaction between pip and conda.

[2020-01-21 21:59] kne42 commented on #764
it still works for me. @jni @tlambert03 is it still down for you? I haven't touched the `napari-tutorials` repo yet...

that's expected. it won't work until I rename `napari-tutorials` to just `tutorials`

[2020-01-21 22:13] tlambert03 commented on #764
works for me!  must have been something strange/temporary on github's end?

[2020-01-21 22:34] erjel opened #896 "dbus_message_get_allow_interactive error after installation"
Hi,

I would like to use napari on a compute cluster for vizualisation purposes (Connection via noVNC browser Interface).

About the system:
conda version: 4.6.14
OS: SUSE Linux Enterprise Server 12 SP4

I installed napari as folllows:
[code]

When want to start napari from the terminal
[code]
 I get the error message:
[code]

Have you ever seen this error before?

[2020-01-21 22:37] kne42 commented on #896
Hi @erjel!

No, I have not seen this before (I'm not a linux user). While you wait for one of our devs who are familiar with linux to respond, could you try installing the following packages?

[code]

[2020-01-21 22:57] erjel commented on #896
Hi @kne42!

Wow, that was a fast reply! Thank you for your quick response.
Unfortunately I have no admin rights on the cluster, so I can not install any new packages.

In order to install other packages than the provided ones, I have to compile them myself in my user space, which I would like to avoid.

[2020-01-21 22:58] kne42 commented on #896
Ok! Hopefully one of the other devs will be able to resolve this for you :)

[2020-01-22 13:54] erjel commented on #896
Hi,

I double checked with the support team of the cluster. They figured out a solution, which worked for me:

[code]
This installed napari in $HOME

For starting napari I run
[code]

In order to remove napari:

[code]

tested with anaconda 3 (2019.03)

[2020-01-22 13:54] #896 closed, assigned to nobody

[2020-01-22 14:06] tlambert03 commented on #896
oh nice!  good to know about [VirtualGL](https://wiki.archlinux.org/index.php/VirtualGL).  we should check to see if that is a suitable workaround for some other remote access problems (like with X11 forwarding).  thanks for reporting back

[2020-01-22 15:47] tlambert03 commented on #896
just wanted to add that I was also able to get virtualGL working with ssh and X11 forwarding to use napari running remotely on Ubuntu from my mac laptop 🎉.  Will write up a tutorial soonish and post a PR to `napari-tutorials`

[2020-01-22 18:14] ttung commented on #896
@tlambert03 does the VNC way work as well?

[2020-01-22 18:29] tlambert03 commented on #896
I haven't tried with VNC myself, but it states that it works in the docs.  Will write up what I've learned shortly... but in the meantime, here is the gist that I found most helpful:
https://gist.github.com/cyberang3l/422a77a47bdc15a0824d5cca47e64ba2
and docs
https://cdn.rawgit.com/VirtualGL/virtualgl/2.6.3/doc/index.html

[2020-01-22 22:56] kne42 commented on #893
Oh right, my bad it's `%gui qt`, I forgot what we changed it to 😅

The problem with the context manager is that it's a blocking process due to the `app.exec_()` call on exit (at least last time I checked, which to be fair, was like a year ago). Using the `%gui qt` magic on the other hand won't block your next cell.

[2020-01-23 04:04] jni commented on #896
Brilliant stuff!!!

[2020-01-23 09:45] HagaiHargil opened #899 "Matplotlib colormaps for images aren't recognized"
## 🐛 Bug

When trying to use `matplotlib`'s colormaps with napari many of them return a `KeyError` even though the docs says that napari should recognize these names.

## To Reproduce

[code]

## Expected behavior

napari should support all matplotlib colormaps (as stated), or at least change the docs accordingly.

## Environment

Python 3.7, napari 0.2.10

Full traceback:
[code]

[2020-01-23 10:32] HagaiHargil opened #900 "Bind the viewer in the napari.gui_qt() context manager"
## ❓ Questions and Help

I was wondering why can't I do the following:

[code]

It seems l like a nice QOL improvement, and a good default behavior for the `gui_qt` context manager. Also, I find that one of the most confusing things for new users is the duplication between `add_image` and `view_image` - they're never sure when to use which and why. I believe that if the context manager can return

[2020-01-23 10:51] HagaiHargil opened #901 "Selecting points in 3D"
## 🐛 Bug

When I select a 3D point while `ndisplay == 2` and then try to change the viewer to a 3D one napari crashes.

## To Reproduce
[code]
Then select a point with the cursor and try to change the display to a 3D one.

## Expected behavior

I expect napari to transition to a 3D view of the data without crashing. When I come back to the 2D view it would be nice if the points would still be high

[2020-01-23 13:25] jni commented on #899
We ultimately decided to trim the supported colormaps to a curated list. I guess the easiest fix is to update the docs! And maybe provide a simple code snippet to add matplotlib colormaps. It should be quite easy.

[2020-01-23 13:29] jni commented on #899
Specifically, here is how to add a colormap:

https://github.com/napari/napari/blob/master/examples/set_colormaps.py

So you could use

[code]

[2020-01-23 13:36] jni commented on #900
This is actually not true. I use napari mostly in IPython with `%gui qt`, and in that case, it's much faster to use `napari.view_image(my_array)` to look at it quickly, than to have to first create a `Viewer` object.

Regarding creating the Viewer and yielding it... Well, then I think the context manager should change its name. But, we did have discussions about this at one point, I can't remember

[2020-01-23 14:09] tlambert03 commented on #900
I agree: `gui_qt()` does exactly what it looks like it should do: it creates a qt event loop for the gui (really _any_ gui... not just napari), and if we were going to yield a viewer it should be a different context manager with a new name (or a perhaps a `with_viewer=True` argument to `gui_qt`)

[2020-01-23 15:17] sofroniewn commented on #901
For sure, a bug must have crept in here - I can work on a fix + test to make sure it doesn't happen again

Right now we don't support any type of selection in 3D - which maybe isn't so great, but doing so isn't trivial. There has been some discussion around this in #515, but maybe until that get's implemented we might just unselect everything when you move to 3D, which I know isn't ideal either, b

[2020-01-23 15:24] sofroniewn commented on #900
I agree with this, I still don't love it - but as noted above for people that want a one liner we need it. I'm def open to more suggestions though, and having some input from new comers can be really helpful in these discussions.

I'm open to this, but am wary of providing too many different options to all do the same thing. We'd also have to make sure it was clear then how to manipulate all the v

[2020-01-23 15:28] tlambert03 commented on #900
yeah, I don't love it either, and wouldn't personally vote for that change.  I am receptive to the confusion that @HagaiHargil is reporting though, just not immediately sure what a next step would look like, since the confusion seems to come down to understanding the difference between a viewer method (`add_image`) and a global convenience function (`view_image`).

[2020-01-23 16:14] sofroniewn commented on #736
Note also discussions in this issue - https://forum.image.sc/t/efficiently-open-qptiff-images-with-napari/33237/4?u=sofroniewn

[2020-01-23 16:19] sofroniewn commented on #458
Note this example here https://forum.image.sc/t/efficiently-open-qptiff-images-with-napari/33237/4?u=sofroniewn

Some of this could be caused by their canvas being larger than we expect (say fullscreen mode on a big monitor). Right now we hard code this max tile shape https://github.com/napari/napari/blob/master/napari/layers/image/image.py#L136 which is currently in the model, but as has been poi

[2020-01-23 17:49] HagaiHargil commented on #899
Fair enough, I guess a reference to the available colormaps and to the linked example should be pretty clear.

[2020-01-23 18:01] sofroniewn commented on #886
Thanks for the tips @choldgraf!! Those are all very cool demos.

I wonder if @manics can weigh in as he made this cool demo of napari in binder with a remote desktop https://github.com/manics/jupyter-omeroanalysis-desktop/tree/napari-binder that @guiwitz has used further https://github.com/guiwitz/napari_demo. Does it use that same approach? I think it is based on https://github.com/ryanlovett/nbn

[2020-01-23 18:10] HagaiHargil commented on #900
I agree that the current name is Qt-oriented, but I also think that 99% of users in 99% of use cases don't care about the Qt event loop - they just want a viewer handed to them. Moreover, most context managers they've dealt with in the past had the `as var:` clause, so they probably expect to be able to bind the viewer to a variable in the `with` line.

I think my proposed context manager should b

[2020-01-23 18:17] HagaiHargil commented on #901
I understand selecting in 3D is hard - any Blender\3D modeling software user can tell you that :)
I think that the best outcome of this bug fix is that if I have data selected before transitioning to 3D - the data will still be selected after the transition. It might also be nice to be able to select data from the command line (by writing `Layer.selected_data = [1, 13, 27, 30]`).

If this is too c

[2020-01-23 18:19] sofroniewn commented on #900
This really resonates with me. I'd be open to leaving the `gui_qt` for those that want it (can always slowly deprecate) but adding something like:
[code]
where the viewer keyword args get passed to the `viewer_context` and introduce that first in the `getting started` section of our docs. Suggestions to an improved name to `viewer_context` are welcome. Also curious if people like being able to pas

[2020-01-23 18:46] HagaiHargil commented on #900
This looks great, I like the keyword arguments idea.

I was actually about to create an issue for that today, but decided against it since I already opened three and pushed a new PR :X

[2020-01-23 19:32] kevinyamauchi commented on #901
@sofroniewn , it sounds like you're on it, but I have time this afternoon to work on it if you're busy.

[2020-01-23 19:53] sofroniewn commented on #901
@kevinyamauchi I havn't started yet - would be great if you could take this one!!

[2020-01-23 22:18] kevinyamauchi commented on #901
In order to address this quickly, I made a small PR (#902) that fixes the bug.

I like the other suggestions made by @HagaiHargil to add support for: (1) the selected points get "remembered" when going to 3D and then re-selected when transitioning back to 2D and (2) allow points to be selected via that command line when in 3D. I didn't include them in that initial PR because they will require a bi

[2020-01-23 23:02] jni commented on #900
Yeah, the new context manager should definitely allow customising the viewer object that is yielded!

@HagaiHargil feel free to open as many issues as needed! It's very useful to keep track of things, even when they seem overwhelming. =) Having said that, I thought there was an issue about this already? Though maybe it was just an image.sc post...

[2020-01-23 23:12] AhmetCanSolak opened #903 "Running napari from a docker container"
## 🚀 Feature

Running napari from a docker container. Simple idea but not that simple to implement.

## Motivation

Could be nice to be able to run napari from a docker container at least on same machine. There are certain software pieces delivered as a docker image only, we can help users of such software pieces by letting them starting napari from docker container. So people will not try to map

[2020-01-23 23:27] tlambert03 commented on #903
Definitely an idea worth pursuing!  Just cause I've been reading about it the last couple days, I would throw in the idea of building a container with [virtualGl](https://virtualgl.org/About/Background) baked in.  From what (little) i've learned so far, i think it might well be a good first-pass solution for many of our remote problems, but it comes with a somewhat difficult installation process (

[2020-01-24 01:38] jni commented on #379
Just chiming in with more ideas from the meeting discussion about #891:

- [ ] Use Alt-drag to use advanced open on whatever was dragged in.
- [x] File Open / plain drag will *not* use imageio, it'll use plugins in a particular order, and imageio will become just another plugin.

[2020-01-24 01:46] irahorecka opened #905 "adding >1 channel in napari.view_image"
## ❓ Questions and Help

Hello, I am unsure if this is the right place to ask a question about features in napari, but here it is (if there is a better place to ask questions, I am all ears!):
I am wondering how I can view a 4D image using ```napari.view_image``` with two channels (something similar to ```napari.Viewer().add_image```). Here is what I am doing:

[code]

Thanks!

[2020-01-24 01:54] jni opened #906 "Specifying axis names in `add_` methods"
## 🚀 Feature

Currently, axis names are specified for the *Viewer*, not for the data. Axis order determines how those axis names are mapped to the data.

An alternative is to set axis names for the viewer *and* optionally for the data. This allows:

- reordering axes automatically when different data are acquired in a different order
- choosing the right axes along which to broadcast, e.g. if 3D p

[2020-01-24 04:06] tlambert03 commented on #905
Hi @irahorecka, this is a fine place to ask questions!  We also monitor https://forum.image.sc/ should you choose to post there instead.  Two ways to accomplish something like that:

1) use the `channel_axis` argument to [`view_image`](https://napari.github.io/docs/dev/napari.html#napari.view_layers.view_image):

[code]

2) call [`add_image`](https://napari.github.io/docs/dev/napari.components.htm

[2020-01-24 05:10] sofroniewn commented on #906
Also see #14 for some additional discussion. I will think on this more too

[2020-01-24 06:54] kevinyamauchi commented on #901
Hey, @HagaiHargil. We just merged the quick fix (i.e., napari no longer crashes when switching from 2D to 3D with a point selected). Feel free to pull master and give it a go. I like your other suggestions, so I'll work on getting a prototype together in the next couple of days.

[2020-01-24 20:57] irahorecka commented on #905
@tlambert03 Ok! Thank you, the second method worked excellently. For some reason, when I tried it this yesterday, the GUI was reporting 'Not Responding'. Today, it is working well. Thanks always for your quick and thorough response!

[2020-01-24 20:57] #905 closed, assigned to nobody

[2020-01-27 05:59] #892 closed, assigned to nobody

[2020-01-27 06:43] marciovm commented on #881
Super excited here.

Building on use case #2 @sofroniewn mentioned (interactive remote computing), a related use case is a handoff from an analyst to a non-coding stakeholder like a PI. It would be great if this can be accomplished by passing a URL, with some coordination with the Dask server to handle any auth requirement. @mrocklin is this something the Dask-on-cloud folks are considering now?

[2020-01-27 13:03] anntzer opened #910 "napari should not install "benchmarks" as a toplevel package"
## 🐛 Bug

pip-installing napari not only creates a toplevel "napari" importable package, but also a spurious "benchmarks" package.

## To Reproduce

Steps to reproduce the behavior:

In a clean venv, run `pip install napari`.  Check that "benchmarks" has been installed as a toplevel package with e.g. `python -c 'import benchmarks; print(benchmarks)'`

## Expected behavior

No such package installe