[2021-03-30 19:05] haesleinhuepf commented on #2491
Great hints @tlambert03 and @DragaDoncila ! If I call `astype(int)` on my data before sending it to napari, the error goes away. So I can change that on my side; no problem. However, I do think that crash should not happen anyway. Any chance you can catch float-arrays and warn the user/developer?

[2021-03-30 19:07] DragaDoncila commented on #2491
@haesleinhuepf absolutely, we'll update the setter. Was just curious if you had a strong preference for float types for any other reason

[2021-03-30 19:11] haesleinhuepf commented on #2491
Nope. float is just the only type we support currently in [pyclesperanto](https://github.com/clEsperanto/pyclesperanto_prototype).

Thanks for the instant reply!

[2021-03-30 19:26] haesleinhuepf opened #2492 "Documenting issues/solutions for plugin-developers when switching between napari versions"
## 📚 Documentation
Hi all,

is there a place where we can collect issues and potential solutions when upgrading the napari versions our plugins support? I mean, as "migration guide" for plugin developers. ITK for example does it like [that](https://github.com/InsightSoftwareConsortium/ITK/blob/master/Documentation/ITK5MigrationGuide.md).

I just experienced two small issues, which cost a non-pytho

[2021-03-30 21:20] kne42 commented on #2473
I tried adding it but our tests are failing due to something with `viewer.theme = 'light'` and I'm not really sure what changed with that but it's been breaking since the 0.4.7 release. See [here](https://github.com/napari/napari.github.io/runs/2230177679?check_suite_focus=true#step:5:30) for the error output.

[2021-03-30 21:20] tlambert03 commented on #2473
does this fail locally too?  or just in CI?

[2021-03-30 21:30] kne42 commented on #2473
I'm unable to run it locally since I'm having issues with `py.test` even in a fresh environment 🤷‍♀️

[2021-03-30 22:14] tlambert03 commented on #2473
to be totally honest, I think we should drop the testing before building the docs for now.  It's a nice idea in principle, but it's too brittle at this point using nbval, and it's far more important to actually have docs online that to make sure that we haven't broken a small API somewhere (which, frankly, should be covered in napari tests anyway).  I'd turn that feature off, make an issue, and de

[2021-03-30 23:46] kne42 commented on #2473
okay well I made it so that failing the tests won't make it not build the docs, also suspiciously this new build works sooooooooo

python stuffs

[2021-03-31 00:17] sofroniewn commented on #2354
I think this could actually be fixed by changing it here https://github.com/napari/napari/blob/767f4bb2282f1ee965a041992d4ab801c3a6cc44/napari/layers/shapes/shapes.py#L537-L545

to be

[code]

Would that work @DragaDoncila? I think it is better behavior independent of the dockwidget stuff

[2021-03-31 00:19] sofroniewn commented on #2354
Ah it is maybe a little more complex if the length of data and shape_type is changing, then we need to pad/ trim - but I think we do that elsewhere https://github.com/napari/napari/blob/master/napari/layers/shapes/shapes.py#L537-L545

I can look into this more later, but i think we can fix this inside `shapes.py`

[2021-03-31 00:40] DragaDoncila commented on #2354
Yeah I was going to say that knowing the current `shape_type` is insufficient. Also we have to keep in mind that if we fix it inside shapes we'll have to also add a data setter for `surfaces` (which maybe we want to do anyway) in order to keep this consistent. We'd also have to make sure that any new layer types we add support setting data exclusively through the data property without any associat

[2021-03-31 01:05] sofroniewn commented on #2354
I still think this is a good idea, we do this for the Points layer, though the setter is quite a bit more complex https://github.com/napari/napari/blob/767f4bb2282f1ee965a041992d4ab801c3a6cc44/napari/layers/points/points.py#L410-L474

I think we should change the shapes setter to be more like this. Drop the optional `shape_type`, and then if the number of shapes isn't changing just replace the act

[2021-03-31 01:20] jni commented on #2354
@sofroniewn I think those are all worse band-aids than option 4. The problem, as you pointed out, is that data is not a complete descriptor of the data. So if someone wants to change the number of shapes *and* change the shape types at the same time, we'll still get an error, no?

[2021-03-31 01:30] jni commented on #2489
@aphilip442 could you tell us the dimensions of the individual tiff files + the full stack? I agree that this shouldn't have happened if a single view is smaller than RAM, which I suspect it is.

[2021-03-31 01:35] jni commented on #2489
(I *also* agree that we could be smarter about dataset size + RAM, but we've often relied on Python to handle that for us. Sometimes it doesn't do so well!)

[2021-03-31 01:37] jni commented on #2473
@kne42 hilarious and awesome catching up on this thread. 😂 It seems we can close this issue now?

[2021-03-31 01:51] jni commented on #2491
tbh I think we should raise, not warn. Labels should be specified as integers, *maybe* bools. Automatic float to int conversion is lossy in NumPy by default:

[code]

In the future, when we move the color hashing to OpenGL, we can start using `.view` since we will be doing that both ways, we can avoid lots of copies. =)

[code]

[2021-03-31 01:51] jni commented on #2491
But, to clarify: we should raise a more informative error message, not just let things crash the way they do now.

[2021-03-31 03:34] sofroniewn commented on #2354
the problem with option 4 is i can imagine times when it won't error, but we'll do wrong thing. It's also making a big change to our dock widget return type handling when I think the problem is with the shapes layer data model.

We could also optionally let data be a tuple (array_data, shape_type), which get separated into their respective components in the setter. I think this would solve that us

[2021-03-31 03:39] sofroniewn commented on #2492
This seems like a great place to start. We should probably add these to the breaking changes in the release notes!! https://github.com/napari/napari/blob/master/docs/release/release_0_4_7.md#api-changes

If you could make a PR there then that would be great

[2021-03-31 03:41] sofroniewn commented on #2491
agreed.

I guess that's fine too. But then we should update the doc string for data, and then update the data setter and init to both raise (would be nice if we could do that without duplicating the message)

[2021-03-31 04:33] sofroniewn commented on #2489
Note for debugging purposes this is equivalent to calling `viewer.open(path, stack=True)` where `path` is the path.

https://github.com/napari/napari/blob/fee29a32b05499466cd2f6e9192cb0c43c92011f/napari/components/viewer_model.py#L661

It doesn't look like there are any extra plugins installed, so this will just use our builtin (but that could have been a source of error). That should lead to a ca

[2021-03-31 04:38] sofroniewn commented on #2476
Hi @ch-n sorry to hear about this problem, and sorry for the long delay in reply! Reading the error message it sounds like something bad is going on with the rendering. I'm curious if you update to `0.4.7` if this might work for you? We've fixed a couple other things along the way, but not sure about this.

If not, could you provide a link to the plugin/ file that you're using or maybe see if you

[2021-03-31 04:41] sofroniewn commented on #2475
@jni can you provide some more detail on this. Here is our current zarr read function

https://github.com/napari/napari/blob/102a7e8f845893c874d2b86f9371d41130100b89/napari/utils/io.py#L265-L293

It uses `image = da.from_zarr(path)`, should that line just be `image = zarr.open(path)`?

Can you explain why?

[2021-03-31 04:45] sofroniewn commented on #2479
That's no good @alisterburt! Can you see an easy way to fix? Would be nice to have to update `color_mode` at all there. Looks like it was done in #1339 and improved in #1362. If so a PR would be welcome :-)

[2021-03-31 04:48] sofroniewn commented on #2480
That's an interesting idea. I like the idea of screenshooting before and after.

We're currently exploring adding hypothesis, see #2444 (cc @Zac-HD) which could be useful for these sorts of round trip tests.

Curious if others have more ideas here too?

[2021-03-31 04:53] sofroniewn commented on #2482
Looks like we might be missing some event connection to the axes visual https://github.com/napari/napari/blob/fee29a32b05499466cd2f6e9192cb0c43c92011f/napari/_vispy/vispy_axes_visual.py#L194-L203. Maybe if `ndim` changes? I'd need to look to see exactly how best to do this. We could always fall back on just updating it whenever the layer list changes, but that seems like overkill. the necessary in

[2021-03-31 04:55] sofroniewn commented on #2488
Thanks for filing!

[2021-03-31 04:55] sofroniewn commented on #2487
Thanks for filing!

[2021-03-31 06:47] uschmidt83 commented on #2488
FYI, I also get the error when running as script in the terminal via python/ipython.

[2021-03-31 07:22] Chris-N-K commented on #2476
Hi @sofroniewn, I don't mind the delayed reply. the update to 0.4.7 seems to fix the bug. I could not recreat the bug in this version, while he happened constantly in 0.4.4.

Thanks for the unintentional fix ^^

[2021-03-31 08:41] aphilip442 commented on #2489
@jni individual files are 350MB tiff, totaling 1TB for the full stack.
I was testing how napari would handle a large dataset, and was indeed expecting lazy loading, since the data far exceeds the available RAM.
@sofroniewn happy to provide the report!

[2021-03-31 09:44] jni commented on #2489
@aphilip442 what is the shape of the individual files, and was the viewer in 2D view or 3D view?

@sofroniewn I've experienced a few situations, loading zarr, where napari incorrectly loads stacks as layers, and I worry that is what is happening here.

We should also change that `da.stack` to a `da.map_blocks`.

[2021-03-31 11:52] haesleinhuepf commented on #2491
OMG 😅

[2021-03-31 16:27] kne42 commented on #2473
not yet, I'm working on another github action to do automatic updating then we can close it

[2021-03-31 16:48] pranathivemuri commented on #2427
Hi @kevinyamauchi sorry for the delayed reply. In my use case above what I wanted was to switch labels for a bounding box which is possible with the code you have written and the select bounding box button on the top left and it doesn't require editing a text property.

Although another project I am working on requires editing the text itself, I was thinking of implementing this by

1. Double clic

[2021-03-31 17:29] sofroniewn commented on #2476
Ok great! I will close this issue then, if it comes up again or someone else wants to know more we could try and find the PR that fixed it, but I'm happy to leave it at this. Do let us know if you run into more problems with the latest version!!

[2021-03-31 17:29] #2476 closed, assigned to nobody

[2021-03-31 19:23] #2492 closed, assigned to nobody

[2021-03-31 21:37] DragaDoncila commented on #2354
I'm not against this, but I think I am a little confused. If I have three shapes in my layer - a polygon, a rectangle and an ellipse, then

`layer.shape_type = ['polygon', 'rectangle', 'ellipse']`

If the data I passed in didn't actually line up with the shape type e.g. I pass in three triangle polygons, then wouldn't we run into the same issue with this approach i.e. `rectangle expects 4 corner v

[2021-03-31 23:03] sofroniewn commented on #2354
I think your summary was good @DragaDoncila, I think we might need this approach. We could also change the default type to `polygon` which is a little more forgiving then `rectangle`, but that might cause more problems for people. What does @jni think about the latest discussion?

[2021-04-01 00:27] jni commented on #2354
I'm just starting to think that we should change the shape type to be an object for each shape. As we've said above, the fundamental issue is that 'data' doesn't contain the full information needed to define a shape. I think I was probably one of the early detractors of the "let's make a special object" model, but in this case it was probably the wrong call. 'data' should contain the minimal infor

[2021-04-01 00:37] sofroniewn commented on #2354
We do have an internal shape object already (right now is also contains the dims to be displayed, which we'll want to change) https://github.com/napari/napari/blob/master/napari/layers/shapes/_shapes_models/shape.py

I was imagining `Array | Tuple(Array, str) | List[Array | Tuple(Array, str)] | Tuple(List[Array], str)` as the full set of allowed inputs. I think this would be the most minimal and b

[2021-04-01 00:40] DragaDoncila commented on #2354
One thing to consider is does that mean we're removing the `shape_type` from the `metadata`? Because otherwise if we're going to support it in both places I can definitely see sources of confusion and/or inconsistent behaviour there.

[2021-04-01 00:58] sofroniewn commented on #2354
I think i'd probably keep it, and inside the data setter split out the shape type so that `layer.shape_type` is always returns `List[str]` and `layer.data` always returns `List[Array]`. If something is passed to `layer.data` then it overwrites anything in `layer.shape_type`.

Note in the motivating example above you'd need to now do

[code]

which doesn't look too bad to me ...

Another thought is

[2021-04-01 01:28] DragaDoncila commented on #2354
I like this, I think it makes the most sense.

I think this is a reasonable approach to fix the use case and provide more flexibility overall, and I think the
`List[Tuple(Array, str)]` is quite readable as well. @jni ?

[2021-04-01 01:32] jni commented on #2354
all clear from me! 😊

[2021-04-01 16:17] #2491 closed, assigned to nobody

[2021-04-01 21:25] tlambert03 opened #2500 "Bundle extra in setup.cfg?"
## 🚀 Feature
as pointed out by @sofroniewn  in https://github.com/napari/napari/pull/2483#discussion_r605152291, it'd be nice to move the `EXTRA_REQS` from our bundle.py into `setup.cfg` to make it clearer what is included where.  This might be made slightly complicated by the extra logic going on to when `bundle.py` is run as a script... and by what beeware needs in the pyproject.toml.  but it's

[2021-04-04 13:17] tlambert03 opened #2504 "translations._load_language (& all settings loads) needs a try/except"
## 🐛 Bug

I was just running some pytests on a non-napari package, in an environment that happened to have napari installed, and started getting errors because napari is registered as a pytest plugin, but was failing to import.  Here's the full trace:

<details>

[code]
</details>

but the key part is right here:
[code]

we should add some tests to make sure that _every_ time we read from from set

[2021-04-04 15:31] goanpeca commented on #2504
Will fix!

Indeed not nice!

[2021-04-04 15:32] tlambert03 commented on #2504
thanks!

[2021-04-04 18:34] haesleinhuepf opened #2506 "Visualization bug in nbscreenshot"
## 🐛 Bug

Hi all,

I just noticed a visualization a bug when using `napari.utils.nbscreenshot(viewer)`. The screenshot doesn't 100%ly fit to what I see in the actual napari window. Differences are highlighted with white arrows in this screenshot:

![image](https://user-images.githubusercontent.com/12660498/113518030-03fbfe00-9584-11eb-9500-56edb03ebe39.png)

## To Reproduce

The notebook where I o

[2021-04-04 23:06] sofroniewn commented on #2506
Unfortunately we've already seen several reports of this, #1566 and #1237. We need to look in more. Fine to leave this open though as it is another example

[2021-04-04 23:26] pranathivemuri commented on #2427
https://github.com/czbiohub/napari-bb-annotations/blob/pranathi-lumi/napari_bb_annotations/_key_bindings.py#L168

Here is the code, I learned how to use the notifications, tooltip, and edit the text, add/update the table on events! Now napari does what I need for the tool! Here is a short gif.

@tlambert03 @kevinyamauchi @sofroniewn thanks for all the insight!

![lumi_mosquitoes](https://user-imag

[2021-04-04 23:28] tlambert03 commented on #2427
that's amazing!  thanks for the update!

[2021-04-04 23:29] tlambert03 commented on #2427
(btw, https://github.com/napari/magicgui/pull/209 just merged, so you'll also be able to watch for table events in the next release)

[2021-04-05 18:40] Carreau opened #2509 "Test Suite deprecations warning."
## 🐛 Bug

Test suits emits a large number of deprecation warnings.

Merging https://github.com/napari/napari-svg/pull/16 and releasing napari-svg would fix that.
Opening an issue on main napari website for visibility.

[2021-04-05 19:30] kevinyamauchi commented on #2427
Wow, super cool @pranathivemuri !

By the way, if you'd like to be able to automatically set the mode to the select tool when the user clicks the "Edit label..." button, you can set the layer mode:

[code]

[2021-04-05 20:25] pranathivemuri commented on #2427
ah, thanks @kevinyamauchi I will try to change that! and @tlambert03 I will update the package once it is released and the code when I get a chance!

[2021-04-05 22:07] goanpeca opened #2511 "Add an improved welcome page"
## 🚀 Feature

## Motivation

![image](https://user-images.githubusercontent.com/3627835/114347286-58761f00-9b2a-11eb-8034-cb91c8fe5278.png)

See https://github.com/napari/napari/issues/1132 for reference

## Pitch

## Alternatives

## Additional context

[2021-04-06 13:56] goanpeca opened #2513 "Deferred translations for Warnings and Exceptions"
## 🚀 Feature

As raised by @Czaki on https://napari.zulipchat.com/#narrow/stream/212875-general/topic/Translation.20of.20exceptions

## Motivation

When using napari as an application, it makes sense to translate as much of the strings for the user, whenever they are using a different UI language.

However when using napari on scripts, we might want to preserve the error messages in the original e

[2021-04-06 14:02] goanpeca opened #2514 "Update UI language without a restart"
## 🚀 Feature

@Czaki brought this up on https://napari.zulipchat.com/#narrow/stream/212875-general/topic/Translation.20of.20exceptions

So we could have a different UI language set without needing a restart.

## Motivation

## Pitch

## Alternatives

This is doable, but requires adding some methods to the widgets so that they know how to refresh their content. Qt may have a way of doing this alrea

[2021-04-06 14:15] aphilip442 commented on #2489
@jni the files are 16626x11084pixels, 16-bit, monochrome. The viewer was in 2D mode.
Additional note: I switched the mode back and forth (if that could have any incidence), the sequence was like this : launched napari -> loaded individual file -> 3D -> 2D -> remove small file -> tried to load large dataset -> then bug report.

[2021-04-06 14:54] Czaki commented on #2514
I do not do a detailed check, but it looks like napari split state from the interface. So it is enough to regenerate the interface from scratch without touching state. The biggest challenge is to properly disconnect/connect signals in such an approach.

[2021-04-06 16:44] sofroniewn commented on #2489
Looks like the individual 2D files were quite big too!! We should be able to handle them, but this will be much better with our async/ tiled viewing enabled https://napari.org/guides/stable/rendering.html#rendering. (note I still think there is an underlying bug here, and that is more of an aside)

[2021-04-06 18:00] sofroniewn commented on #2500
When we do this we might also want to pin `scikit-image[data] >= 0.18`, see https://github.com/napari/napari/pull/2483/files#r607548848

[2021-04-06 18:02] tlambert03 commented on #2500
😂  sorry about merging #2483 without that

[2021-04-06 18:28] sofroniewn commented on #2500
no worries! I'm glad you merged, easy to fix later

[2021-04-07 03:47] joaomamede commented on #1457
redHat.
I fixed it ever since, I think it was unproper anaconda managements vs pip.

[2021-04-07 03:59] #2504 closed, assigned to goanpeca

[2021-04-07 16:38] sofroniewn commented on #2514
Right now when changing language packs could we at least display a message saying "restart required" and/or a "restart" button to the preferences dialog? cc @ppwadhwa (we can make a separate issue if people like that idea, and my apologies if such an issue already exists and I have forgotten!!). I did find it a bit odd to change language packs and not at least be told that i needed to restart

[2021-04-07 18:43] goanpeca commented on #2514
My bad, that is part of a separate issue https://github.com/napari/napari/issues/2181

First we need to enable autorestart for the userm, then we can integrate it :)

[2021-04-08 02:59] sofroniewn commented on #2181
+1 to this functionality, thanks for making an issue to track!!

[2021-04-08 05:57] jni opened #2519 "points.data should be the original data"
## 🐛 Bug

During the napari Eurasia meeting, @haesleinhuepf made the point that if we don't mess with the input data array, he doesn't have to keep pushing and pulling from the GPU when building computation graphs — the .data array would always be the OpenCL array he makes, and he just needs to keep track of the processing relationship between the layers.

Currently, this is working fine for both

[2021-04-08 09:07] haesleinhuepf opened #2520 "Widgets not cleaned up when using pytest and make_napari_viewer()"
## 🐛 Bug

Hi @tlambert03 ,

just following up [our discussion from yesterday](https://github.com/napari/napari-plugin-devtools/issues/15#issuecomment-815248487) about testing a napari-plugin with napari GUI. I reduced my tests to [this code](https://github.com/clEsperanto/napari_pyclesperanto_assistant/blob/add_test2/napari_pyclesperanto_assistant/_tests/test_dock_widget.py):
[code]

I receive the

[2021-04-08 09:28] tlambert03 commented on #2519
This is just such a hard problem... in the context of #2425, this is kind of the opposite direction from what would have been useful there (where the creator of a plugin wants layer.data to be something "standard" so they don't need to do a lot of isinstance checks).

I do also get the need here, but just wanted to link that issue

[2021-04-08 16:23] tlambert03 opened #2522 "plugin duplicated in dock widgets menu when providing both dock_widget and function"
## 🐛 Bug

when a plugin provides uses both the `provide_dock_widget` and the `provide_function` (which we use to generate a widget), then two entries for that plugin appear in the Plugins > Dock Widgets menus.  we need to make sure that the submenu logic takes function widgets into account

[2021-04-08 16:29] tlambert03 commented on #2520
Hi @haesleinhuepf, I'm adding an example dock widget test to the cookiecutter: napari/cookiecutter-napari-plugin#21 ... still running into issues with the tests on the cookiecutter repo itself (on linux)... but actual repo that it generates is working fine.  Here's a an example: https://github.com/tlambert03/napari-foobar
here is the test: https://github.com/tlambert03/napari-foobar/blob/main/napa

[2021-04-08 16:33] tlambert03 commented on #2520
I think at this point we need to entertain the possibility that there's some side-effect of something installed in the pyclesperanto environment, or perhaps at import time, that's contributing to the funny Qt stuff.  I would further comment out the [`import denoise, background_removal`](https://github.com/clEsperanto/napari_pyclesperanto_assistant/pull/8/files#diff-1ebd085e84798469b8eeeefa25807dd0

[2021-04-08 16:35] tlambert03 commented on #2520
but i don't think that's going to work anyway, since even in [my super-stripped down test](https://github.com/tlambert-forks/napari_pyclesperanto_assistant/pull/1/files) is failing.  so, I think I'm going to start with the working example [here](https://github.com/tlambert03/napari-foobar), and gradually build back up to the pyclesperanto environment needs

[2021-04-08 16:56] VolkerH opened #2523 "Shuffle in labels layer broken in current master"
## 🐛 Bug

In the current master, clicking shuffle in the labels layer has no effect.

## To Reproduce

Steps to reproduce the behavior:

1. Open the viewer with a label layer. E.g. run `examples/labels-2d.py`
2. Select the labels layer
3. Click the suffle button

## Expected behavior

Expected behaviour: label colours should change.

## Environment
napari: 0.4.8.dev22+g8d77f01d
Platform: Linux-5.8

[2021-04-08 17:06] VolkerH commented on #2523
Just tested this in a fresh environment. This bug is not just on current master, it is also present in the 0.4.7 release. It is not present in 0.4.6 release.

[2021-04-08 17:28] VolkerH commented on #2523
Ok, this bug was introduced in the following commit @DragaDoncila
https://github.com/napari/napari/commit/f0e108ed4d0dda0317b361c7e76923931268a73b

[2021-04-08 17:59] sofroniewn commented on #2523
Thanks for filing @VolkerH! Maybe @DragaDoncila can check this out when she gets the chance

[2021-04-08 18:02] sofroniewn commented on #2519
Hmm yeah, tricky. I wouldn't call this a simple bug. We probably need to think about this in the context of a broader discussion around our data model

[2021-04-08 18:11] VolkerH commented on #2523
I tracked it down to here:
https://github.com/napari/napari/blob/8d77f01da0da680344eed6b9e02c8e44cb032326/napari/layers/labels/labels.py#L716-L724

If I disable the code in the `try` block (which I don't fully understand) and instead run the code in the `except IndexError` block the shuffling is restored.

[2021-04-08 18:18] VolkerH commented on #2523
Ok, so there is no check whether the seed has changed. I think what needs to happen is that the setter for `seed` needs to somehow invalidate `self._all_vals`.

[2021-04-08 18:19] sofroniewn commented on #2523
The try is seeing if all the labels have currently been mapped to colors. We should add some comments there too. When doing the shuffle (i.e. changing the seed) we need to remake the `_all_vals` map

If you add

[code]

to the seed setter here then it should work

https://github.com/napari/napari/blob/8d77f01da0da680344eed6b9e02c8e44cb032326/napari/layers/labels/labels.py#L315

It's a little awkwa

[2021-04-08 18:20] sofroniewn commented on #2523
Yup exactly! Beat me too it!!

[2021-04-08 18:26] VolkerH commented on #2523
if  I just add
[code]
to the seed setter, the shuffle works as that causes the IndexError and therefore triggers the except block which restores a correct `_all_vals`. However, I am not deep enough into the code to oversee the potential side effects of that approach. It is probably bad style to force an Error to trigger an update (OTOH it doesn't require the duplication of the code block you quote

[2021-04-08 18:30] sofroniewn commented on #2523
ooo, very nice @VolkerH - I like that, i'm ok with `None` and re-triggering an update. Can you open a PR and then the others can review! Thanks for all this debugging

[2021-04-08 18:31] VolkerH commented on #2523
will do, give me a minute

[2021-04-08 19:02] VolkerH commented on #2523
for some reason (I didn't try this on master originally) when applying this to the current master,  I now get a TypeError rather than an IndexError after assigning None. So I now also catch TypeError in the except block. PR still running through CI, wouldn't be surprised if the checks reveal some side effects.

[2021-04-08 19:47] haesleinhuepf commented on #2520
That's a good hint actually!

The tests pass locally after commenting this line out. If I bring back this line the tests fail:
[code]

The [function I'm importing](https://github.com/clEsperanto/napari_pyclesperanto_assistant/blob/add_test2/napari_pyclesperanto_assistant/_operations/_operations.py#L56) is nothing fancy. But it's magicgui-annotated. Does magicgui create widgets before the function

[2021-04-08 19:52] tlambert03 commented on #2520
ahh, yeah that may be it (or at least some of the widgets).  `magicgui` is a factory function that returns an instance of a widget.  so yes: `decorated_func = magicgui(func)` creates a widget (and using `@magicgui` is just syntactic sugar for the same thing).  This might be something that will require special consideration.  That widgets leaked test was mostly for internal use...  it's probably to

[2021-04-08 19:59] haesleinhuepf commented on #2520
No hurry. I just would like to write some tests for this little repo so that codecov doesn't look so embarassing ;-)

[![codecov](https://codecov.io/gh/clesperanto/napari_pyclesperanto_assistant/branch/master/graph/badge.svg)](https://codecov.io/gh/clesperanto/napari_pyclesperanto_assistant)

[2021-04-08 20:27] tlambert03 commented on #2520
couple additional observations and tips here:

1. `make_napari_viewer` will _only_ raise an Error if new widgets were created during that test.  So as long as you import all of those operations before start the test, you should be ok...

2. It's probably going to bite you at some point that you're creating magicgui widget _instances_ up front in `_operations.py`, and then potentially trying to reu

[2021-04-08 20:50] #2513 closed, assigned to goanpeca

[2021-04-09 00:19] DragaDoncila commented on #2487
The use case that originally led to this bug being filed was trying to perform some computation on just the pixels currently displayed on screen. This is not possible directly with the current `corner_pixels` attribute, which was originally added to support the implementation of multiscale layers.

What is needed is some function which, given `layer.data`, `viewer.camera`, `layer.scale`, `viewer.d

[2021-04-09 13:10] Fifourche opened #2525 "quaternion2euler doesn't work for certain sets of angles"
## 🐛 Bug

In 3D viewer mode, if ``viewer.camera.angles`` is set to some particular set of Euler angles, a RuntimeWarning is raised and the ``viewer.camera.angles`` sends back a tuple containing a ``nan``.

We can trace it back to the ``quaternion2euler`` function that doesn't work as intended. For certain angles, the argument that goes into the ``arcsin`` function is greater than 1, raising an err

[2021-04-09 14:20] tlambert03 opened #2526 "`schema_version` should be typed and preferably serialized to string"
Everything in our settings models should have type annotations.
Currently, all of the `schema_version` fields are untyped tuples of ints:
[code]
this means they serialize to our settings like this:
[code]

which is a little hard to visually parse.  Since it's used in every submodel, it would be nice to have a `SchemaVersion` field that handles ser/des so that can be:
[code]

[2021-04-09 14:28] tlambert03 opened #2527 "Better handling of `cmd-W` with multiple non-modal windows"
## 🐛 Bug

The addition of some new non-modal windows is revealing a little bug in our handling of window keyboard shortcuts like command-W.  As an example, if you were to hit command-comma to open the preferences window, I would expect command-w to then close the preferences window and return you to what you were doing.  However, command-w is tied to the `viewer.window._qt_main_window`, and since

[2021-04-09 14:33] goanpeca commented on #2527
Indeed!, I am really wondering how this works on other OSs, any input there?

Should we add this on all OSs or is this more of a Mac thing?

And yes, indeed the `Cmd+W` (should close the active window, whatever that is.)

[2021-04-09 14:38] goanpeca opened #2528 "Discussion on triggering global shortcuts from modals"
## Discussion

I want to use this issue as placeholder for the discussion on modals/non-modals inside napari and how we should try to accommodate the user expectations on each Operating System (OS).

## OSX

- It seems several native apps on Mac, allow for this to happen (trying to open a file save.open dialog?).
- Also it is worth noting that I think Mac uses modal dialogs sparingly in most apps

[2021-04-09 14:47] goanpeca commented on #2526
Absolutely :)

Great idea @tlambert03 !

---

Why do you keep looking at raw yaml files :-p ? (jk 😆 )

[2021-04-09 14:48] tlambert03 commented on #2526
:joy:  I know I know...

[2021-04-09 14:50] tlambert03 commented on #2526
if you're going to take this one, can you add a test to check that every field in each model in `CORE_SETTINGS` has a type annotation?

[2021-04-09 14:52] goanpeca commented on #2526
Sure 👀

[2021-04-09 14:59] tlambert03 opened #2529 "Using escape key permanently hides preferences window"
## 🐛 Bug
Related to #2527 ... but perhaps different enough for a different issue:

If you use the escape key when the preferences window is open, it will indeed close the window.  However, using command-W or File > Preferences will not re-show the window.

[2021-04-09 15:05] goanpeca commented on #2529
Buuug!

[2021-04-09 21:58] JoOkuma opened #2531 "Tracks layer color_by and data setters bug"
## 🐛 Bug

Napari raises a value error when updating a Tracks layer with the data setter method.

## To Reproduce

Steps to reproduce the behavior:

1. Create a Tracks layer.
2. Update the layer data through the data setter method.

[code]

It throws
[code]

## Expected behavior

I expected the tracks to be updated without throwing an error.

## Environment

[code]

[2021-04-09 23:13] goanpeca commented on #2526
@tlambert03 should it just be a string Field with some method to convert to a tuple?

[code]

it does not need to be a tuple of ints, a string is much simpler 🤷🏼

[2021-04-10 00:13] tlambert03 commented on #2526
yep, that looks great.  If you don't care about the tuple of ints, then it's probably easiest just to stop there.  Otherwise, you'd want to add an additional clause to `validate()` to accept a tuple of ints, add a json_encoder somewhere so that pydantic knew how to convert it back to a string, and then not inherit from string.  But I'm plenty happy with this!

[2021-04-10 01:15] #2523 closed, assigned to nobody

[2021-04-10 01:20] sofroniewn commented on #2525
Wow, nice catch!! Thanks for filing this report and the PR, I'll take a look at that now too. We'll definitely want to fix this

[2021-04-10 01:28] sofroniewn commented on #2527
My preference (as a mac user) would be this too, it's tripped me up a couple times also!!

[2021-04-10 17:25] haesleinhuepf commented on #2520
I really appreciate this hint. It sounds very good. However, it results in an error message I have issues understanding. It's a bit too magic ;-) [Here](https://github.com/clEsperanto/napari_pyclesperanto_assistant/commit/b7b34052569d4746c339f0cf4a4ec462c08ddf45) are my code changes. And this is the error:

[code]

[2021-04-10 17:46] tlambert03 commented on #2520
sometimes I wish I hadn't called it magicgui ... people feel like everything is magic now.  I'd call it functional vs object oriented.  If you're more comfortable thinking about objects classes and instance, consider that `magicgui` creates an _instance_ of a `FunctionGui` class (i.e. an actual widget), whereas `magic_factory` returns a class itself, that must be called to be instantiated to creat

[2021-04-10 20:59] haesleinhuepf commented on #2520
Ok, I think, I'm a step ahead. I got rid of the `self` and introduced the factory as you suggested. I'm also [setting](https://github.com/clEsperanto/napari_pyclesperanto_assistant/pull/9/files#diff-45cba30a70f44169c3ea470f3ed9de1a50cd9921b9217e94a4081a5d7eb2ec02R12) the `native.setParent` and still leak Widgets...

[2021-04-10 21:13] haesleinhuepf commented on #2520
I can also confirm, that we are indeed leaking [this](https://github.com/clEsperanto/napari_pyclesperanto_assistant/pull/9/files#diff-45cba30a70f44169c3ea470f3ed9de1a50cd9921b9217e94a4081a5d7eb2ec02R15) widget.

pytest output:

napari_pyclesperanto_assistant/_tests/test_dock_widget.py::test_complex_workflow
  C:\structure\code\napari_pyclesperanto_assistant\napari_pyclesperanto_assistant\_gui\_Lay

[2021-04-10 21:28] haesleinhuepf commented on #2520
If I call `self.filter_gui.native.setParent(viewer.window.qt_viewer)` after `viewer.window.add_dock_widget(self.filter_gui, area='right')`, the widget is no longer leaking but the GUI looks like this:
![image](https://user-images.githubusercontent.com/12660498/114285032-4c1f9280-9a54-11eb-9f36-a70fd6744750.png)

I may stop investigating here for a moment :-) Thanks for reading

[2021-04-12 16:45] #2529 closed, assigned to goanpeca

[2021-04-12 17:38] #2527 closed, assigned to goanpeca

[2021-04-12 21:47] dzyla opened #2545 "Napari save screenshot does not work"
## 🐛 Bug

Script loads 4 stacks of different channels into the viewer window. I adjust the contrast limits for all channels and want to save the file into single-layer PNG. I do it via File menu --> save the screenshot. The window pops out, I put the name and location and save. The file is not present in the location indicated during saving. I open again the Save screenshot menu and see that the n

[2021-04-12 21:50] tlambert03 opened #2546 "maybe less interpolation options?"
## 🚀 Feature
I wonder if we could maybe curate the 2D image interpolation options a little bit?  I'm not personally quite sure when it's ever necessary to use, say, "catrom" interpolation instead of "hermite" 😄  ... and I suspect it's a bit over the top for the majority of users.

[2021-04-12 22:06] sofroniewn commented on #2546
Yes, I believe @kevinyamauchi and I have talked about this. Personally I don't like that there is such a big difference between the 2D and 3D interpolation modes and would prefer if they aligned.

I had thought we might want to just reduce them to `None` and `linear`, though I have heard from @alisterburt that he uses some of the others

[2021-04-12 22:09] sofroniewn commented on #2545
Yikes, this is no good! Thanks for flagging.

I've not seen

[code]

before, so not sure whats going on here. Out of curiosity are your images particularly large? Or anything otherwise not worthy about them (multidimensional etc.).

I also see an import to `easygui` which is a package I didn't know about before. I wonder if there is a funny interaction happening with that and the napari GUI

[2021-04-12 23:13] alisterburt commented on #2546
For super low SNR/poorly resolved stuff I've found lanczos is noticeably nicer than something like bilinear/bicubic (something I only found out by experimenting with the options in the dropdown)

https://user-images.githubusercontent.com/7307488/114469329-d3037500-9be4-11eb-918f-949972c1129c.mp4

Agree that some curation wouldn't hurt though!

Quick list of 'most similar to each other' for the dat

[2021-04-12 23:26] #2526 closed, assigned to goanpeca

[2021-04-12 23:39] tlambert03 commented on #2546
now that's what I call curation :)

those families seem to visually match this example from mpl as well:

![](https://matplotlib.org/mpl_examples/images_contours_and_fields/interpolation_methods.hires.png)

I think we should keep, at least, `nearest`, `bilinear`, `bicubic`,  one from the `lanczos`/`splineX` family, and one from the `hanning`/`hermite`/`kaiser` family ... ?

[2021-04-12 23:53] alisterburt commented on #2546
I agree @tlambert03 - should we go with
- nearest
- bilinear
- bicubic
- spline36
- kaiser

Choices from the 'families' were based on how they look in the mpl image - happy to put together a PR if there's consensus

[2021-04-13 03:18] sofroniewn commented on #2546
works for me. i wonder if it would be possible to add the additional ones to the 3D rendering mode too, but maybe unifying the 2D and 3D rendering modes is a goal for a later date. It would simplify a bunch of code though ...

[2021-04-13 08:20] kevinyamauchi opened #2547 "Properties behavior is inconsistent the data setter for Shapes, Points, and Tracks"
## 🐛 Bug

As pointed out in #2532  by @JoOkuma , the `Tracks.data` setter clears the layer properties except for the updated `track_id` field. This is different from the Shapes and Points layers, which trim/extend the properties to fit the shape of the new data. I think it is generally convenient to have the properties trimmed/extended to match the new data. However, I can see how that might be a

[2021-04-13 08:34] kevinyamauchi commented on #2546
Nice work, @alisterburt ! Those look good to me.

I agree this would be super nice. I took a quick look and I'm not sure it's a quick fix, but it would definitely be cool to have in the near-ish future.

[2021-04-13 23:10] #2181 closed, assigned to goanpeca

[2021-04-13 23:17] sofroniewn commented on #2547
@DragaDoncila and @jni I were recently discussing this in the context of the shapes layer https://github.com/napari/napari/issues/2354#issuecomment-810677482, see #2507 which will do this for shapes

[2021-04-14 08:29] kevinyamauchi commented on #2547
Thanks for the links to the discussion, @sofroniewn .

If I understood #2507 correctly, after it merges, the `Shapes` layer will be in line with the `Points` layer in that the layer properties and viz attributes will be trimmed/extended to match the shape of the new data. Is that right, @DragaDoncila ?

If that's the case, then I think we should do the same for `Tracks`. When we do so, perhaps we

[2021-04-14 08:39] DragaDoncila commented on #2547
That's right, we keep attributes when the same number of shapes is passed, trim them when fewer shapes are passed and extend them with defaults when more shapes are passed.

Definitely agree this should be explicitly documented, and tbh I think it deserves more documentation in #2507 as well, maybe even an example or two in the shapes layer tutorial. I'll probably make it a separate PR though.

[2021-04-14 12:11] goanpeca opened #2548 "Update tests to handle screenshots"
Followup on
https://github.com/napari/napari/pull/2542

[2021-04-14 20:12] #2531 closed, assigned to nobody

[2021-04-14 20:27] sofroniewn opened #2549 "Getting deprecation warning when saving data"
## 🐛 Bug

When saving data, this line https://github.com/napari/napari/blob/25e08d6659427a57a9c33d09b37aac724d91ea43/napari/_qt/qt_viewer.py#L451 is triggering a deprecation warning. We should fix before our next release. Should be a one-liner

[code]

[2021-04-14 20:39] tlambert03 opened #2550 "Need way to show single-channel temporarily as grayscale."
## 🚀 Feature
A big pet pet peeve of mine is displaying monochromatic fluorescence images with a colormap.  We don't currently offer a good way to temporarily look at a single channel from a multi-layer/channel composite in grayscale (the equivalent of the "Grayscale" mode in the Fiji "Channels Tool"): one currently has to manually change to grayscale and then back to whatever they want.

However,

[2021-04-14 20:42] tlambert03 opened #2551 "Unmodified keybindings not working with new layerlist"
## 🐛 Bug
unmodified keypressed (like "V" to toggle visibility) are not making it through to the viewer if the focus is on the new QtLayerList.  Need to pass those through.

Also: toggling visibility of the layer is not forcing a redraw of the layer delegate.

[2021-04-14 22:01] sofroniewn commented on #2550
@tlambert03 I might be missing something basic here, but is this discussion about `rgb=True` images (so currently a "single layer") and viewing just one of those channels in gray?

Or is this discussion about having three intensity images (`rgb=False`) in three layers that are being blended together with colormaps, but where you want to quickly and easily view one channel in isolation in grayscale

[2021-04-14 22:06] #2192 closed, assigned to nobody

[2021-04-14 22:17] Carreau opened #2553 "Deferred translation: how to translate a string that is going to be formatted later ?"
## 🐛 Bug

I'm trying to do the following.

[code]

That fails on the first line with

[code]

Mostly because `trans._` is also trying to format the parameter in the strings.
I'm not sure how to work around this.

[2021-04-14 22:18] tlambert03 commented on #2550
the latter: multiple intensity images, each with their own colormap, for which you'd like to view one channel in isolation in grayscale (for me at least, that's a typical thing I might want to do in, say, a colocalization experiment, to quickly evaluate one of two channels)

[2021-04-14 22:22] tlambert03 commented on #2550
here's a quick movie of the "grayscale" mode in Fiji that i was referring to:

https://user-images.githubusercontent.com/1609449/114787702-365ce680-9d4e-11eb-92ba-d47280498bdc.mov

[2021-04-14 23:03] jni commented on #2550
Love this @tlambert03. I'll note that it could be a plugin in the meantime... ;)

I've suggested in the past that hovering on the layer list should "lightly" surface the layer under the cursor (which may be occluded otherwise), we could add a keyboard shortcut to that that would make it "pop" into place like you want, and which could be quickly undone.

[2021-04-14 23:09] Carreau commented on #2553
So far i've used the following as a workaround:
[code]

[2021-04-15 00:03] goanpeca commented on #2553
Hmmm ok, this is use case was not found in the codebase so far :-|

I am indeed too eager on this. Now the idea is that we need to pass formats right away 🤔.

Options:
- Do not be to eager?
- Move the string inside the func (even if repeated)
- Use a double curly brace `{{}}`

[2021-04-15 00:05] goanpeca commented on #2553
I would probably do, since eager translation is more of a feature now. Even `deferred=True` will attempt to return the original string with values interpolated.

[code]

[2021-04-15 01:22] wadhikar commented on #2549
Hello @sofroniewn, I would like to work on this issue. Could you please assign it to me? Thank you.

[2021-04-15 02:14] wadhikar commented on #2549
Just made the changes in my fork. This is my first open source contribution so please let me know if you have any pointers. Thank you!

[2021-04-15 03:27] #2549 closed, assigned to nobody

[2021-04-15 03:49] sofroniewn commented on #2550
Thanks for the additional explanation - makes sense to me now

I like this idea, I'm also open to context menu etc as we begin to add that stuff to the layer list too

[2021-04-15 04:04] sofroniewn commented on #2549
Great job on your first open source PR! Here's to many more!!

[2021-04-15 04:11] sofroniewn opened #2558 "Docs build failing"
## 🐛 Bug

Our docs build is now failing, see https://github.com/napari/napari/runs/2349185973

[2021-04-15 06:24] jni commented on #2545
Looks like a very strange Qt/OS interaction...

@dzyla are you using a non-standard desktop on Ubuntu, or the default GNOME?

[2021-04-15 06:47] jni commented on #2489
@aphilip442 Q: if you make a smaller folder with just a few tiffs, do they load as a stack or as layers?

[2021-04-15 09:15] aphilip442 commented on #2489
@jni A: there is only one layer in the layer list, with scrollable frames in the view (with 'play' buttons). I suppose that would be a stack.

[2021-04-15 10:10] aphilip442 opened #2559 "Play button prioritizes FPS, should offer option to play each frame"
## 🐛 Bug

When a large stack is loaded lazily, the play button loads frames in seemingly random order in viewer.

Example sequence: (start at 30) 30-31-32-42-72

## To Reproduce

Steps to reproduce the behavior:

1. Load Files as Stack
2. Hit Play.
3. Frames are not loaded sequentially

## Expected behavior

Frames should be loaded sequentially.

## Environment

napari: 0.4.7
Platform: Linux-5.8.0

[2021-04-15 10:15] tlambert03 commented on #2559
The play button is designed to maintain the requested FPS (not to block until lazily loaded data is ready).  I can see that it would also be nice to have a mode that waits for lazy data no matter what, but one thing you can do in the meantime is to decrease the frame rate (right click on the play button and decrease FPS).

[2021-04-15 10:56] quantumjot opened #2560 "Temporary highlighter / annotation"
## 🚀 Feature

A temporary highlighter/annotation overlay feature. A plugin could highlight a particular region of a dataset temporarily to draw the user's attention to it - it could fade away or disappear after a defined time limit.  The annotation could be a simple arrow, bounding box or change in color, for example.

## Motivation

An example may be, clicking on a cell in a lineage tree as part

[2021-04-15 11:05] aphilip442 commented on #2559
@tlambert03 okay, that makes more sense now.
Maybe this should be added in the tooltip?
Alternatively, the play button could have 2 behaviours (adjustable in preferences), as maintaining frame rate is not something that can be reasonably achieved with lazy loading.

[2021-04-15 11:09] tlambert03 commented on #2559
Agreed: “prioritize FPS (may skip frames if necessary)” and “show all frames (playback rate will depend on data)”

[2021-04-15 11:43] aphilip442 commented on #2489
Additional note: in Ubuntu 20.04 the files are loaded lazily without issue

[2021-04-15 20:07] sofroniewn commented on #2559
Seems like a good option for our settings. I'm supportive

[2021-04-15 20:42] #2511 closed, assigned to goanpeca

[2021-04-16 00:57] GenevieveBuckley opened #2563 "Codecov Bash Uploader Security Notice"
Anderson just posted this over in the Dask community repository - seems like it might affect napari as well.

https://github.com/dask/community/issues/149#issue-859124532

A quick search for repositories in the napari organisation including codecov turns up:

- [ ] napari
- [ ] magicgui
- [ ] napari.github.io
- [ ] cookiecutter-napari-plugin
- [ ] napari-animation
- [ ] napari-core
- [ ] napari-co

[2021-04-16 17:55] goanpeca opened #2564 "Add documentation for preferences"
## 📚 Documentation

Add initial documentation for preferences

[2021-04-16 20:15] sofroniewn commented on #2558
@tlambert03 curious if you can check this one out/ have any ideas - it's not clear to me what PR changed it/ why

[2021-04-16 20:17] sofroniewn commented on #2563
Ok good to know, it looks we need to remove our old tokens/ make new ones. Maybe @jni you can do this if you know what needs to be done? Thanks for flagging!!

[2021-04-16 20:19] #2551 closed, assigned to tlambert03

[2021-04-16 20:42] neuromusic commented on #2354
did #2544 close this?

[2021-04-16 20:47] sofroniewn commented on #2354
Yes I think so, combined with #2507

[2021-04-17 14:30] tlambert03 opened #2566 "Tooltips not using field description in preferences"
## 🐛 Bug

`Field.description` attributes in settings aren't being used for tooltips.  For example, all widgets in the application section just use the docstring of  `ApplicationSettings`

<img width="423" alt="Untitled" src="https://user-images.githubusercontent.com/1609449/115116483-b0b48300-9f67-11eb-801e-21eb44b4fdce.png">

## Expected behavior

tooltips for each field uses the `Field(descripti

[2021-04-17 14:35] tlambert03 opened #2567 "Perhaps hide the IPython interactive setting"
There was a [case on image.sc recently](https://forum.image.sc/t/napari-jupyter-notebook-issue/32640/27?) where a user turned off the "IPython interactive" setting in the preferences dialog, and then was confused when the napari viewer did not show when using `ipython --gui=qt` (without having to use `napari.run`).  While having better tooltips (https://github.com/napari/napari/issues/2566) and do

[2021-04-17 16:43] sofroniewn commented on #2567
I will defer to @jni and others, but in general I favor exposing less in the GUI if it the option is fairly advanced/ specialized so I would be fine making it CLI only. It should obviously still be documented somewhere nicely though

[2021-04-17 18:54] tlambert03 opened #2569 "Better error message for erroneous scale"
## 🐛 Bug

If the user enters a scale of `0` for any axis when creating a `Layer` or using (e.g.) `viewer.add_image()`, then the transformation (unsurprisingly) fails and an exception is raised.  However, that exception is pretty deep and hard to interpret:

<details>

[code]

</details>

Would be nice to catch this earlier on and raise a helpful error.

(Note: I came about this by trying to use a

[2021-04-18 13:02] haesleinhuepf opened #2570 "Changing contrast_limits on labels layers results in unclear visualization"
## 🐛 Bug

I observed weird visualization of labels [deep inside some of my plugin code](https://github.com/clEsperanto/napari_pyclesperanto_assistant/commit/c6db36e1347efb42f83f2035edb95515e704f853) and traced it down to contrast_limits of label layers. The issue is solved on my side, but maybe worth a little change on napari side to prevent others running into this issue. These two lines:

[code]

[2021-04-18 17:56] tlambert03 opened #2571 "Save dialog (and maybe others) doesn't work on mac in IPython `%gui qt`"
## 🐛 Bug
If you create a viewer in IPython using `%gui qt` (which now happens by default), then create a layer and hit `Cmd+S` to save it, the dialog immediately closes and you get this error

[code]

In googling for this, the only thing I found was actually @alisterburt's comment here! 😂  https://github.com/napari/napari-animation/issues/39

I tested this all the way back to v0.4.0, and it's been

[2021-04-18 18:19] alisterburt commented on #2571
Just tried and can reproduce here - also getting the error under the same circumstances in napari-animation... I probably switched to using the old `napari.gui_qt()` context manager without realising
[code]

edit: extra info about my install
napari: 0.4.7
Platform: macOS-11.2.1-x86_64-i386-64bit
System: MacOS 11.2.1
Python: 3.9.2 | packaged by conda-forge | (default, Feb 21 2021, 05:02:20)  [Clang

[2021-04-18 18:20] tlambert03 commented on #2571
thanks for checking.  will be curious to know if there's any correlate on other platforms?

[2021-04-18 19:57] sofroniewn opened #2572 ""Timestamps" visual"
## 🚀 Feature
See this request on napari-animation for timestamps on a movie from @BinYangOptics https://github.com/napari/napari-animation/issues/44

As @alisterburt notes this could be done in napari with a TextManager, but it's a little cumbersome right now.

In the same way that we have out scale bar visual that shows scale in world coordinates we should also show the frame position in world co

[2021-04-18 20:01] sofroniewn commented on #2570
Yes, this should be done. It also shouldn't be too hard, we just need to overwrite the setter in labels layer https://github.com/napari/napari/blob/master/napari/layers/labels/labels.py, which it is currently just inheriting from the image layer. Contributions from anyone reading this would be welcome here.

[2021-04-18 20:01] sofroniewn commented on #2569
Agreed, good idea!!

[2021-04-18 20:29] #2558 closed, assigned to tlambert03

[2021-04-19 10:01] kevinyamauchi opened #2574 "Viewer type hint doesn't work with dock widget plugin"
## 🐛 Bug

On current master, my dock widget plugins cannot be imported. They do not show up in the plugins menu. In the plugin error dialog, I see the  error listed below. When I install napari 0.4.7 from pip, I do not get this error.

<details>
  <summary>plugin error</summary>

[code]
</details>

## To Reproduce

Steps to reproduce the behavior:

1. Open napari with a dock widget plugin installe

[2021-04-19 10:18] kevinyamauchi commented on #2574
I did a bit more digging and I think the issue is on my side. In my `__init__` for the dock widget, I had annotated the viewer kwarg as `napari.viewer.Viewer`. When I name it `napari_viewer` with no type annotation, it works. Is that correct, @tlambert03 ?

Before (this used to work, but is now broken):
[code]

This works on current master:
[code]

[2021-04-19 10:29] tlambert03 commented on #2574
Looks like a regression, the type hint should work

[2021-04-19 11:42] tlambert03 commented on #2574
git bisect has it at #2501 ... I'll look into it and push a fix later today.  This is a bit tricky to test as it's due to an import order that doesn't seem to happen when running in pytest.  in fact we _do_ actually test for type annotations with the actual object here:
https://github.com/napari/napari/blob/e05e2efe1937b353b61e621b6aed93281be8b24f/napari/_qt/_tests/test_plugin_widgets.py#L20-L23

[2021-04-19 11:45] kevinyamauchi commented on #2574
Cool, thanks for the quick reply @tlambert03 . Putting the type hint is a great workaround for me.

[2021-04-19 12:02] kevinyamauchi commented on #2572
I think this is a nice suggestion. Thanks (and hello!) @binyangoptics.

I agree that it makes sense to make a small model specifically for displaying the current slice coordinates. `TextManager` incorporates a lot of stuff (e.g., coloring by properties) that wouldn't be used here.

I am curious if we can use this as an opportunity to add an experimental `_add_text_visual` API. I think being able t

[2021-04-19 15:25] ferdymercury opened #2576 "pydicom plugin for Radiotherapy files"
## 🚀 Feature
A plugin to view CT / MR and RTdose images on Napari (when the grid spcaing is regular), suggested by @jni.

## Motivation
Right now, one can use e.g. for RTdoses:

[code]

## Pitch
To specifically support RTdose files first, and maybe later CT and MR images.
[code]
## Alternatives
https://github.com/pydicom/contrib-pydicom/pull/19
https://pypi.org/project/mpl-volume-viewer/
https://w

[2021-04-19 15:33] ferdymercury commented on #2576
I just found this other plugin for neuroimaging https://github.com/nipy/napari-nibabel that could be a good template / model for radiotherapy, too.

[2021-04-19 15:35] tlambert03 commented on #2576
Awesome!  are you interested in giving this a shot?
Given the example code you've provided here, you might be able to get most of this accomplished as follows:

1. use https://github.com/napari/cookiecutter-napari-plugin to create an "empty" plugin package
   - read the readme there for detailed instructions, but here's the tldr;
[code]
2. in the `_reader.py` file that gets generated for you
   -

[2021-04-19 16:55] sofroniewn commented on #2572
Hmm yeah, one option would be to expose a fairly general API for adding text independent of layers. I was thinking of just adding the fully constructed visual like we do with scale bar/ axes, but that's an interesting idea too.

In the long run making "highlighting" independent of layers seems like a good idea (where highlights here can include text), but we might want to just do a timestamp visua

[2021-04-19 23:54] tlambert03 opened #2578 "Set objectName on all QDockWidgets to avoid warning at shutdown"
## 🐛 Bug
I've been seeing this warning a lot when closing napari:

[code]

the docs on [saveState](https://doc.qt.io/qt-5/qmainwindow.html#saveState) say:

so we should probably make sure to add some sort of objectName to each of our QDockWidgets in

https://github.com/napari/napari/blob/c618f310a5c837e77799f2d80286eea1db214f57/napari/_qt/widgets/qt_viewer_dock_widget.py#L21

[2021-04-20 00:12] sofroniewn opened #2579 "Undo/ Redo & Macro Recording"
## 🚀 Feature

For a while in napari we've discussed that we want undo/ redo functionality, a nice history feature, and the ability to do some sort of macro recording / action recording that can yield runnable python scripts, but we havn't got too many issues describing what these exactly should look like.

We created this issue #474 a while ago that described one approach for making actions undoab

[2021-04-20 00:13] sofroniewn commented on #2578
Yes, I've seen that too!! Agreed

[2021-04-20 11:28] jni opened #2583 "Allow option to save only window geometry, not geometry + panel state"
## 🚀 Feature

Motivated by [this user question](https://forum.image.sc/t/reset-napari-gui-default-settings-between-runs/51711) and a short conversation with @tlambert03, it might be desirable to save window geometry only without saving panel state/layout. These would either become two separate preferences, or we would drop the ability to save panel state altogether. (Though I think panel state wil

[2021-04-20 12:55] ColasDroin opened #2584 "GUI unusable when importing QtWebEngineWidgets"
## 🐛 Bug

napari becomes completely unusable when importing QtWebEngineWidgets

## To Reproduce

Steps to reproduce the behavior:

1. import QtWebEngineWidgets at the beginning of any napari script
2. run it

E.g.:
[code]

The interface becomes weirdly mirrored and unclickable. The following error appears in the terminal:
`WARNING: Could not create NSOpenGLContext with shared context, falling back

[2021-04-20 12:55] tlambert03 opened #2585 "View > Axes > Visible doesn't sync with model"
## 🐛 Bug
The checkbox for `View > Axes > Visible` doesn't stay synced with the viewer model.  If you set axes.visible programmatically, the checkstate on the menu action doesn't go with it...

[2021-04-20 13:11] tlambert03 commented on #2584
Thanks for the report.  I can confirm weirdness on mac 10.15.7, py 3.9, PyQt5 5.15.4 as well, and have a little more to add:

A) Pyside2 seems to work fine for me ... so I'd be curious if that works for you?  Try:
[code]

B) For me, with pyqt5, import order matters:

If I import `QtWebEngineWidgets` first, I get a segfault
[code]

If I switch the order around to the order you showed in your origin

[2021-04-20 13:42] kevinyamauchi commented on #2572
My thought is that it _might_ not be too much more work to make the visual general enough that we give it an API. Especially if it's super simple (e.g., only allows setting location, color, and the static text value). Of course, these things are always trickier than they seem at the beginning 😛

[2021-04-20 14:18] ColasDroin commented on #2584
Thanks a lot for your answer. Unfortunately, the problem remains the same, whether I use pyside2, and no matter the order of the imports. I believe my Python environment is quite clean as it's relatively new and I didn't do anything weird with it. However, maybe I have a problem with OpenGL... Didn't find how to solve it so far but I'll investigate a bit more.

[2021-04-20 14:38] tlambert03 commented on #2584
ok, i tested on big sur and can reproduce using either qt backend.  very strange:  looks like our vispy canvas is getting confused :joy:

https://user-images.githubusercontent.com/1609449/115414951-814e8200-a1c4-11eb-9515-b17104038dbe.mov

and I also now see the `Could not create NSOpenGLContext with shared context, falling back to unshared context` error.  I searched the issues at vispy briefly a

[2021-04-20 14:50] tlambert03 commented on #2584
as I'm new to `QtWebEngineWidgets`, could you give me a very brief example of a web widget you might want to create (without napari imported) that you'd like to dock in the napari viewer?  (edit: would it just be any instance of a `QWebEngineView`)?

[2021-04-20 14:55] sommerc opened #2586 "Cannot import "thread_worker" in dock_widget plug-in (circular import?)"
## 🐛 Bug

Similar to issue #2116, I am not able to import the napari `worker_thread` in my plugin code,

## To Reproduce

A minimal plug-in

[code]

yields following traceback, when `thread_worker` is imported.

[code]

## Environment

in current master

[2021-04-20 15:00] tlambert03 commented on #2586
thank you for reporting.  We are aware of the regression (see also #2574) and it should be fixed in #2575, with some additional follow up PRs to try to prevent it in the future.

For now, you can work around the issue by delaying the import and putting it in the body of the method or function where you'd like to use it

[2021-04-20 15:03] clbarnes opened #2587 "Label layer: Selected label spinner cannot show higher than a certain value"
## 🐛 Bug

The UI element showing the value of the currently selected label maxes out at a value other than that representable by the underlying label array.
When this issue was raised, it was a hardcoded 1024; otherwise it would be the spinbox's internal i32 maximum.
This does not affect color picking and painting, which can correctly use higher values.
However, the spinner buttons cannot be used

[2021-04-20 15:22] ColasDroin commented on #2584
Haha I see you get the same weird behaviour as I do! Well basically I wanted to build something from the example given [here](https://stackoverflow.com/questions/60522103/how-to-have-plotly-graph-as-pyqt5-widget).
The simplest version of my code is :
[code]
Note that I have no idea if this code would actually work without the bug with QtWebEngineWidgets... because I couldn't try it, because of the

[2021-04-20 15:31] tlambert03 commented on #2584
cool, thanks.  Yeah that would be a nifty application.  We've also discussed having some of our own docs available as an embedded browser in the application, which would also require this.  So thanks for bringing it to our attention.

[2021-04-20 18:12] BinYangOptics commented on #2572
Hey @kevinyamauchi. Good to see you here.

Thanks for considering this as a feature of napari. It will be very useful for my work to have a simple API to add texts and scale bar/ axes.

[2021-04-20 18:24] #2574 closed, assigned to nobody

[2021-04-20 18:57] sofroniewn commented on #2583
Makes sense to me, agreed I see this coming up more and more in the context of plugins when someone might have many dockwidgets added, but it also makes sense if someone wants to say always have the layer list on the right because they have many images. I don't think they should be forced to drag it over there every time, so I think we should have two separate preferences. I'd rather everything ge

[2021-04-20 22:20] sofroniewn commented on #2584
Agreed, this seems highly valuable - i'm actually going to make a dedicated issue for that as i don't think we have one.

As to `QtWebEngineWidgets`, maybe @goanpeca has some experience here

[2021-04-20 22:23] sofroniewn opened #2589 "Embedded Docs"
## 🚀 Feature
As mentioned by @tlambert03 here https://github.com/napari/napari/issues/2584#issuecomment-823370101 it would be great for napari to have an up to date copy of its docs embedded in the application.

## Motivation

Easy access to in application docs could really help new comers learn about napari's API and how to use napari.

## Additional context

At one point in time @tlambert03 I be

[2021-04-20 22:26] goanpeca commented on #2589
@sofroniewn is this akin to having a docs viewer panel?

[2021-04-20 22:33] tlambert03 commented on #2589
yeah, the idea would just be to grab the static output (`_build/html`) from our docs build and include it in the distribution.  Then provide a builtin browser to use it.  (presumably it would be most useful if we could figure out how to actually link to the relevant objects and pages from within the application).  Do you have any experience with that kind of thing from Spyder @goanpeca?

@sofronie

[2021-04-20 22:43] sofroniewn commented on #2589
a docs dock widget 🤣

[2021-04-20 22:45] goanpeca commented on #2589
Yeah, kinda :)

Like having tooltips that include a Urls like `Click for more information`?

I can work on this :)

[2021-04-20 22:48] sofroniewn commented on #2589
Wow, love that idea! Or maybe you "shift-right click" on a button and it opens the help? I don't know I'm just imagining things now.

@liaprins-czi and @LCObus might have good ideas here too!!

[2021-04-20 22:50] tlambert03 commented on #2589
I wonder if perhaps that’s an understatement? 😂

exactly!  Or (just dreaming now) having the console `?` Open docs, etc... But yeah, a general “what is this?” Mechanism that links

yay :)

[2021-04-20 23:22] goanpeca commented on #2589
Sure, let's explore ideas here :)

Sounds like a plan :)

[2021-04-20 23:27] jni commented on #2579
I like Talley's proposal — I think it works with almost everything, except data. We probably *have* to handle data separately anyway, since for things like painting you don't want to copy over the whole data but rather only what was painted. But handling *two* things is a lot easier than handling a hundred. 😅

[2021-04-20 23:51] goanpeca commented on #2579
~~@jni what do you mean by this? Where is that proposal 🙃 ?~~

I need to learn how to read 😆

[2021-04-21 08:52] lukasz-migas opened #2591 "Units in Scale Bar visual"
## 🚀 Feature
Hi!
In a project I am working on that utilizes napari as the image viewer, I’ve added scalebar visual that can display the pixel dimensions, not unlike the [matplotlib_scalebar](https://github.com/ppinard/matplotlib-scalebar) project. Here is a screen grab of the scalebar in action.

![napari-scale-bar](https://user-images.githubusercontent.com/25161821/115525279-3b122500-a28f-11eb-81

[2021-04-21 09:24] lukasz-migas commented on #2572
Hi,

I have a simple `vispy_label_visual` implementation that shows a text node on the canvas. It is based on the scale bar visual that is added to the canvas and controlled via a evented model. Here is a quick demonstration showing the FPS for one of the examples:

![napari-label-visual](https://user-images.githubusercontent.com/25161821/115530193-d60cfe00-a293-11eb-81b7-109afd711a13.gif)

Is thi

[2021-04-21 10:25] EmeEmu opened #2592 "Point layer API expension : static point coordinates with time varying property"
## 🚀 Feature
Would it be possible to add the possibility to modify points' color when moving in one dimension ?

## Motivation
You can find all the relevant information in the following [image.sc post](https://forum.image.sc/t/3d-point-cloud-with-changing-color-in-time/51635), but here is a quick summary.

Let's say that I have a 3D point cloud array `[ point , xyz ]` containing `n_points`, and I

[2021-04-21 10:30] tlambert03 commented on #2592
I’m supportive!

[2021-04-21 14:12] jni commented on #2592
Yeah we discussed this in the Eurasia meeting with @kevinyamauchi and others. It's probably quite doable to allow nD properties "columns" that we broadcast against the points, just like NumPy broadcasting. Then, if any property is more than 1D, we broadcast it against the points and put a slider corresponding to the columns. I think ultimately it would be very clean, consistent with our other dime

[2021-04-21 15:46] sofroniewn commented on #2572
Very cool @lukasz-migas! A general `viewer.label` with a text property like this sounds like what @kevinyamauchi was asking for! Could you make a PR with that addition, I think it might be just what we're looking for!!

We could then customize this label for `slice` (i.e. a more general timestamp) - maybe even having that as it's own thing so you could have both the custom label and the slice. Cur

[2021-04-21 16:05] kevinyamauchi commented on #2572
+1 to what @sofroniewn said! This sounds like exactly what I had in mind.

[2021-04-21 17:32] sofroniewn commented on #2591
This looks very nice @lukasz-migas. I might prefer us to get #1701 working more broadly, but I'm not sure what the latest progress is there. Maybe @jni or @Czaki, @alisterburt who I believe were discussing units before could weigh in with a status update there. Also if you have ideas on how to push #1701 along they would be much appreciated

[2021-04-21 17:34] sofroniewn commented on #2586
Thanks for the report! Looks like this was closed by #2575, feel free to reopen if that isn't the case!!

[2021-04-21 17:34] #2586 closed, assigned to nobody

[2021-04-21 17:34] sofroniewn commented on #2585
Hmm, maybe we need to unify something with the action manager here? cc @Carreau

[2021-04-21 17:37] sofroniewn commented on #2587
This should be easy to fix, looks like we hardcoded a max value here https://github.com/napari/napari/blob/9b46dd5a92653a194b870e433debd672ff0457ad/napari/_qt/layer_controls/qt_labels_controls.py#L92

Seems like I changed the value here https://github.com/napari/napari/pull/2296#issuecomment-787211320, it used to be `2147483647`. Maybe you can submit a PR to change it back @clbarnes?

Thanks!!

[2021-04-21 17:41] sofroniewn commented on #2592
I'm supportive too, we already allow something similar in the surface layer for timeseries where the values change with a fixed surface. I have some question about whether this broadcasting leads to extra sliders in the dims area or whether we want to think of those extra sliders in a properties focused widget that was its own dock widget. I'd probably lean towards the later.

I think a general pr

[2021-04-21 20:28] justinelarsen commented on #2579
Thanks for starting a discussion around this topic @sofroniewn !

I think a general rule for what actions to make undoable could be any action that alters the state of the main canvas. In Illustrator, it looks like they follow this method where adding/removing objects, changing object properties like color, size, scale, etc and even visibility of objects on the canvas are undoable. But actions lik

[2021-04-21 22:43] Czaki commented on #2591
I could try to answer any questions. We stuck, because introducing units we should still deal with unitless data. How to treat them. Also, the whole unitless code needs to work smoothly. From the discussion, we think that the best option is to use `pint` library and put the global register instance in some small package. Maybe @jni will remember which package was selected.

[2021-04-21 23:35] goanpeca commented on #2579
I can start looking at this and have the event listener record changes if enabled as @tlambert03 proposed.

[2021-04-21 23:47] tlambert03 commented on #2579
one thing that we briefly discussed is the likelihood that those events are going to be _terribly_ verbose at first.  So this venture will A) be a good opportunity to identify some "problem areas" where we're being overly cavalier with our event emission and B) probably require a lot of "manual" selection and de-duplication of the events that actually mean something from the perspective of a user

[2021-04-22 01:02] jni commented on #2591
@sofroniewn personally I'd be pretty happy to have this intermediate solution for now. I think the combination of scale + transforms is quite hairy to solve generally. For example, in napari we can display kymographs no problem — and these require multiple scale bars, one for time and one for space. We could do a big push on it but imho getting this in first would be a good thing.

And thanks @luk

[2021-04-22 02:15] jni opened #2594 "Add dask cache size preference"
## 🚀 Feature

In #2590 we removed the auto-creation of a dask cache. However, it might be useful to expose this as a preference, see https://github.com/napari/napari/pull/2590#issuecomment-824172250

## Motivation

Performance of dask with and without a cache is very dependent on use case and chunking. By default, I think it's better to not touch the cache at import, since this is on the same spec

[2021-04-22 02:44] jni commented on #2592
@sofroniewn I actually think they should be dims sliders, since for example the idea here would be to match the points changing over time to some 4D images.

[2021-04-22 03:48] goanpeca commented on #2594
Hi @jni, some questions :)
- Would this require a checkbox to enable/disable it plus a number spinner to change size?
- Size should be in... MB ?
- What should be a reasonable default so that when enabled a "reasonable" number appears by default
- What should be the minimum allowed value?
- What should be the maximum allowed value? (e.g. get free space on the computer and multiply by some factor s

[2021-04-22 03:59] jni commented on #2594
I know nothing. :joy:

No seriously, I can guess, but :shrug: I leave these to more experienced UI persons and/or dask users. I will say that it's nice to be able to set in text however one likes, e.g. "64GB" for someone with a large workstation. Once we depend on pint this will be easy-ish to achieve I think.

Our previous default was 1/10th of RAM and I think that's reasonable. But seriously: :s

[2021-04-22 04:02] goanpeca commented on #2594
That works as a starter 😆

[2021-04-22 04:04] goanpeca commented on #2579
It might I have noticed events being triggered multiple times which is invisible to the user... but might be problematic for this.

Indeed :)

Sounds like fun. Are there "complex" events that the UI exposes as a single thing, but under the hood several things happen at once or sequentially? This would require having a concept of a single action vs a complex action (which groups several single acti

[2021-04-22 04:10] sofroniewn commented on #2594
I also don't know what is best here, we could start with "fraction of RAM" though, and then have a spinbox for 0 to 1 with 0 meaning not used at all? Maybe we don't want to go all the way to 1?

[2021-04-22 04:16] sofroniewn commented on #2592
Maybe @jni can you provide an example of how you see the API?

This is what i'm imagining now, but correct me if you see different

[code]

where `data_xyz` has shape `Nx3` and `points_timeseries` has shape `NxK` say and then you'd get 1 extra dims slider with `K` steps. If `points_timeseries` has shape `NxKxL` then you'd get 2 extra dims sliders with `K` and `M` steps respectively.

I guess I'm o

[2021-04-22 04:21] sofroniewn commented on #2579
I'm probably most worried now about de-duplication of the events due to poor code paths causing things to happen multiple times which we should fix.

We could also group things temporally - so if something happens within a couple milliseconds of each other it is likely the same user triggered action. Having timestamps for events like that could help grouping, but I don't know - that's just an idea

[2021-04-22 06:28] jni commented on #2592
@sofroniewn I see it as:

[code]

Here, `data_xyz` is NxD, `points_timeseries` is TxN, and `points_static` is N. `points_timeseries2` can be TxN or SxTxN or Sx1xN — anything that broadcasts with N. The key restrictions are (1) that `all(prop.shape[-1] == N for prop in properties.values())` and (2) that `np.broadcast_arrays(*properties.values())` should not raise an error.

The sliders would appear

[2021-04-22 06:32] jni commented on #2592
Alternately (probably better), we can add the sliders at all times — this points layer has dimension `data_xyz.shape[1] + np.broadcast_arrays(*properties.values())[0].ndim - 1`. But depending on what's being displayed you may not see any changes when you move the slider.

[2021-04-22 08:03] sommerc commented on #2586
Thanks a lot!

[2021-04-22 10:07] jni commented on #2567
I'm happy to have it default to True and having it be turn-off-able only through the API.

[2021-04-22 10:16] jni commented on #2489
@aphilip442 that last tidbit is very weird indeed...! Are you sure there's no difference in dask/napari/tifffile versions in the Linux vs Windows environment?

[2021-04-22 10:24] jni commented on #2475
Oh no, sorry I missed this. I don't think zarr.open would solve this specific issue. Several things were happening with this data,

(1) it's multiscale but doesn't have the right ome-zarr metadata for multiscale
(2) *for some reason I don't understand*, when dragging and dropping, it would open the slices as layers instead of opening it as a stack
(3) (this is really very specific to this data) Tw

[2021-04-22 10:31] jni opened #2596 "Better document 'index' column in Labels layer properties"
## 📚 Documentation

See [this thread on image.sc](https://forum.image.sc/t/visualizing-feature-measurements-in-napari-using-colormaps-as-luts/51567/12)

Currently, if one of the properties columns has title "index", it is assumed to specify which label corresponds to which row of the properties table. This is, however, not documented in the docstring!

Additionally, we could/should consider suppor

[2021-04-22 11:19] clbarnes commented on #2587
Thought I'd replied to this; taking a look now. I had planned to set the min/max values based on `np.iinfo(self.layer.data.dtype)`, but the underlying widget can only contain int32, so I'll simply switch it back to `[0, 2**31]`. It might be nice to add a `specialValueText` for "empty" and "max", but it seems `specialValueText` can only be used for the minimum.

Could this be a problem going forwar

[2021-04-22 11:52] clbarnes commented on #2587
PR #2597 sets the range to the intersection of i32 and the label layer's dtype, which means that u32 and larger label arrays will still have the broken behaviour above, but it'll be hit less often.

The simple thing to do would be to (write and) use a spinner with a massive data type and then restrict its value as the PR does, for future proofing, although it seems like anything bigger than u64 wo

[2021-04-22 12:09] lukasz-migas commented on #2591
Thanks @jni.

Sure, the API could be changed to use `viewer.scale_bar.unit = 'unit'` instead of the cumbersome `si-length-um` etc. I will take a look at changing the current implementation.

One thing to consider is that the unit `um` is actually a prefixed `m` unit with 1e-6 factor that belongs to the `SILengthDimension`. If we wanted to simply use any valid `unit`, then we would have to have som

[2021-04-22 12:27] tlambert03 commented on #2591
I think ultimately we’d like to use pint for this sort of thing.  It has great support for string-> order of magnitude parsing as well

[2021-04-22 13:38] sommerc opened #2598 "napari crash after numpy RuntimeWarning in worker_thread"
## 🐛 Bug

Hi,

I get a weird napari crash/GUI freeze when using a "thread_worker" in a napari plug-in. The crash happens when numpy throws a warning in a threaded function call. I wonder if somebody can reproduce this.

After the numpy warning appears, there's another Qt threading related warning:

[code]

The napari GUI freezes and has to be killed.

## To Reproduce

Here's a minimal example. I s

[2021-04-22 13:45] clbarnes commented on #2587
I have a branch implementing the float-as-uint spinbox idea - it works fine and would give considerably more headroom for the maximum label value.

However, napari (or presumably one of its dependencies) rejects the mere idea of high labels: it seems that there is some other limitation lower than i32 max which causes napari to crash (after taking up all the RAM on my 20GB machine), even when the a

[2021-04-22 13:49] tlambert03 commented on #2598
Hi,

may I ask what you're attempting to simulate by immediately overriding the worker object with a new worker?  I think this is likely due to the fact that you're clobering the `worker` variable, which will cause garbage collection of that thread worker and  may be the source of your error.  If you name the second worker something like worker2 does it work?

[2021-04-22 13:53] tlambert03 commented on #2598
just tested this... and if I change the last three lines to:
[code]
then it doesn't crash and I see the expected warning output:

[code]

so one solution might just be to make sure the worker doesn't immediately go out of scope (for instance, by keeping an internal set of workers if you want to spawn multiples immediately like that)

[2021-04-22 13:55] sommerc commented on #2598
That was just for illustration. For me it crashes, whenever numpy throws a warning, in a single worker instance.

Seems to be related to my installation/environment then...

[2021-04-22 13:58] tlambert03 commented on #2598
I see, so with a single worker instance, you're still getting that error?  I'll try to see if I can reproduce on windows

[2021-04-22 14:00] sommerc commented on #2598
Excactly. And it happens only when a numpy warning is thrown.

[2021-04-22 14:55] tlambert03 commented on #2598
huh, weird.  I was able to reproduce it once on windows... but afterwards, every time I run it I now get the expected output 🤔   will keep investigating

[2021-04-22 16:01] #2329 closed, assigned to nobody

[2021-04-22 16:26] sofroniewn commented on #2592
Ok, I can see pros/ cons of either. In general though it's now all bout slicing with points we want to see out of our big nD space (hence wanting to reuse dims sliders), and if we then make a "properties" widget then that is more about editing the properties.

[2021-04-22 16:41] sofroniewn commented on #2489
@jni I wonder now that we've turned off the dask cache - see #2590 if this might be better? Apologies if that's already been tried

[2021-04-22 16:51] sofroniewn commented on #2587
Yeah, we might be running into a vispy limitation here. Is `u64` important for your use case?

[2021-04-22 17:02] goanpeca opened #2599 "Add a custom join method for `TranslationString`"
Add a custom join method for `TranslationString` to be able to correctly handle code like:

[code]

See https://github.com/napari/napari/pull/2521

[2021-04-22 17:14] sofroniewn commented on #2591
@lukasz-migas do you have experience with [pint](https://pint.readthedocs.io/en/stable/)? Is that something we want to incorporate in this current work?

[2021-04-22 17:16] goanpeca commented on #2599
<img width="906" alt="Screen Shot 2021-04-22 at 12 03 11 PM" src="https://user-images.githubusercontent.com/3627835/115758221-7e8a9300-a364-11eb-8cdd-e5c4a29775b8.png">

[2021-04-22 18:11] clbarnes commented on #2587
No data I currently have my hands on has 2^64-1 unique segments. We generally store labels in u64 but certainly aren't near its limits but I thought I'd try pushing it while I was in there.

I don't know what the earliest supervoxel stage of neurite segmentation looks like for some of the bigger volumes out there, but Scheffer et al's hemibrain is into the tens of millions of synapses at least, wh

[2021-04-22 18:34] sofroniewn commented on #2596
Makes sense to me. I'd support "label" only, with maybe a deprecation warning on "index" until removed. We should do that before updating the docs though if we want to make this change

[2021-04-22 18:42] lukasz-migas commented on #2591
@tlambert03 I agree, using `pint` would be a much better solution in the long term - this was just temporary solution.

@sofroniewn I don't have much experience with `pint`, but it looks simple to use. I could take a look at how it could be incorporated to replace my custom unit coversion classes.

[2021-04-22 20:12] sofroniewn commented on #2591
Great, yeah, that could be really helpful! Thanks!!

[2021-04-22 20:56] Czaki commented on #2591
If I good remeber there was a decision to use register from @tlambert03 maintained package as default one for napari. @tlambert03 did you remember which one?

[2021-04-22 21:59] mikiotada opened #2601 "Layer controls, layer buttons, layer list, viewer buttons, and status bar do not appear"
## 🐛 Bug

Hello, after installing napari using `conda install -c conda-forge napari`, I ran `napari` from the command. Then, the below viewer appeared. However, it does not contain some components such as layer controls, layer buttons, etc.

## To Reproduce

Steps to reproduce the behavior:

1. `napari` on terminal
2.
![Screen Shot 2021-04-22 at 2 47 02 PM](https://user-images.githubusercontent.co

[2021-04-23 00:09] DragaDoncila commented on #2596
While doing something else this week I also noticed that our labels tutorial doesn't discuss `properties` or the direct `color` mode at all, so maybe while we're here this is something we should update as well.

[2021-04-23 00:10] tlambert03 commented on #2601
Hi @mikiotada, sorry you're running into this.  I'm curious if you've already tried installing into a clean environment?
It's a bit strange that you would have ended up with Qt: 5.9.7 ... so I'm wondering if perhaps this was your base environment with some older pre-existing dependencies?

[code]

[2021-04-23 00:14] tlambert03 commented on #2591
it was `ome-types`, but honestly, we barely add anything beyond the default pint registry (you can see it [here](https://github.com/tlambert03/ome-types/blob/master/src/ome_types/_units.py)) ... so I'm not sure it's worth using.  I bet we can get a _long_ way without defining anything beyond the built in `ureg = pint.UnitRegistry()` that uses [these](https://github.com/hgrecco/pint/blob/master/pin

[2021-04-23 00:16] sofroniewn commented on #2601
good catch on the 5.9.7 @tlambert03, if it's not that - i wonder @mikiotada did you ever see them and then maybe close them and now they won't come back?

if you go to the window menu bar, can you add them in? (select layer controls/ layer list)

<img width="1076" alt="Screen Shot 2021-04-22 at 5 14 56 PM" src="https://user-images.githubusercontent.com/6531703/115799983-75aeb700-a38e-11eb-9320-c7f

[2021-04-23 00:17] jni commented on #2591
@tlambert03 the key in that discussion was to make sure that all plugins can share the same global registry instance without having to depend on napari. But @Czaki we can have an internal napari one for now and then move to the global one in subsequent PRs. This is not *the* units support PR, just something that gets us 75% of the way to what we need.

[2021-04-23 00:17] tlambert03 commented on #2601
oh yeah... that's an even better point! :)

[2021-04-23 00:26] sofroniewn commented on #2591
Agreed, I think this will be very beneficial, for reasonable effort

[2021-04-23 00:38] goanpeca commented on #2584
I think I have seen this before. It may be that `QtWebEngineWidgets` import will fail if there isn't a qapplicatioon  event loop already running?. I think that is why it works when importing napari first

[2021-04-23 00:39] goanpeca commented on #2594
Available free RAM or total?

[2021-04-23 00:40] goanpeca commented on #2578
@tlambert03 is this related to plugin widgets? I have not seen this 🤔

[2021-04-23 00:44] tlambert03 commented on #2578
Probably. I don’t see it every time either... but if you just start using viewer.window.add_dock_widget you’ll probably hit it.

[2021-04-23 00:46] tlambert03 commented on #2584
Actually I think it’s the opposite, it *has* to be imported before you create an app.

[2021-04-23 00:51] goanpeca commented on #2578
[code]

why is name optional 🤔 ? Should we add some uuid in case name is empty?

[2021-04-23 00:53] GenevieveBuckley commented on #2329
Thanks for the fix, @jni

[2021-04-23 00:53] goanpeca commented on #2584
Or that :-p !

[2021-04-23 00:55] GenevieveBuckley commented on #2475
Ok, if you can't find it maybe you can open a new issue. I'll close this, since the problem here appears to be specific to quirks in this particular dataset.

[2021-04-23 00:55] #2475 closed, assigned to nobody

[2021-04-23 00:56] tlambert03 commented on #2578
Name will actually be shown in the title bar, so while creating a uuid for objectName does sound like a good idea, we want to make sure it doesn’t show up in the title bar

[2021-04-23 01:15] goanpeca commented on #2578
Then a generic `Dock widget 1`  `Dock widget 2` etc?

[2021-04-23 01:17] tlambert03 commented on #2578
yeah, that would be fine.  We could maybe check to see if the inner widget being wrapped by the DockWidget has an objectName... but it probably wont :) so anything that satisfies `window.getState` is fine by me :)

[2021-04-23 01:27] goanpeca commented on #2585
Indeed, the action manager will handle these cases for us (eventually)

[2021-04-23 01:35] jni commented on #2594
Total?

[2021-04-23 01:38] goanpeca commented on #2594
🤷🏼 ?

[2021-04-23 01:39] jni opened #2603 "Change default open behaviour to "open as stack""
## 🚀 Feature

Currently when dragging a folder or group of files to napari, the default is to open them as layers. This is a problem because napari scales *very well* with stacking, while it scales extremely poorly with layers. I have found myself very often in the situation in which I drag a folder full of tiffs to napari and freeze the process. On the other hand, if the reverse happens (I get a

[2021-04-23 01:40] jni commented on #2475
Great, see #2603

[2021-04-23 02:18] jni commented on #2587
Oops! No we do not reject them, we just neglected to take them into consideration when adding [this "speed" hack](https://github.com/napari/napari/pull/2415/files#diff-11f2c63f66f3e9b0271b3c1584a67e2eb682b8638c1c679bcd9d036f977675c5R707-R712) (the motivation of which is described [here](https://github.com/napari/napari/issues/2380#issue-825308887)). Sorry about that!!!

We should (a) have memory b

[2021-04-23 03:05] #2585 closed, assigned to goanpeca

[2021-04-23 03:06] sofroniewn commented on #2594
I don't mind, starting with total seems fine - we can change later if needed

[2021-04-23 03:23] sofroniewn commented on #2603
Fine with me. Will be very nice when we have a "stack to layers" option in the context menu!

[2021-04-23 04:04] #2567 closed, assigned to nobody

[2021-04-23 04:13] #2583 closed, assigned to goanpeca

[2021-04-23 04:18] mikiotada commented on #2601
oh wow, adding layers at the window menu bar solved the issue!

Yeah, I was able to see them for a while. Probably I closed them by accident. I didn't know there is the window menu bar that we can change the napari viewer. Thanks!

Thank you for maintaining this awesome library! @sofroniewn, @tlambert03

[2021-04-23 04:18] #2601 closed, assigned to nobody

[2021-04-23 04:59] goanpeca commented on #2589
See https://github.com/napari/napari/pull/2607 for an option of where to put this.

[2021-04-23 06:15] GenevieveBuckley commented on #2603
Linking https://github.com/napari/napari/pull/1322 - we'd need a menu button to call these functions. This seems like it'd be another good first issue.

[2021-04-23 08:40] brisvag commented on #2592
I love this! I think it's important to keep in mind that this may not be used with points only.

I can definitely imagine having a 3D+time image and points that have some static property and some other property that changes over time... In that case, I'd want the property to be controlled by the dims slices, for sure!

[2021-04-23 09:03] jluethi commented on #2596
Would be awesome to have the direct color mode in the documentation! I only learned about it thanks to the helpful answers from all of you in the forums :)

[2021-04-23 09:15] aphilip442 commented on #2489
@jni here are the environment files, both installation were done on fresh installs of miniconda, using the 'conda install napari -c conda-forge' command, without warnings/errors. Nothing else was installed in those environments.

[ubuntu_env.txt](https://github.com/napari/napari/files/6364161/ubuntu_env.txt)
[windows_env.txt](https://github.com/napari/napari/files/6364162/windows_env.txt)

[2021-04-23 09:43] clbarnes commented on #2587
Ah, so the issue may be that the colors array is indexed by `np.arange(0, img.max()+1), which is just a colossal array for high labels? And then it's just the machine running out of RAM for that array, rather than a built-in hard limit from vispy or whatever else.

Taking a closer look, it seems that the RAM abuse is only passing - when using labels as high as `2**29`, it spikes up to 12GB on laun

[2021-04-23 10:03] clbarnes commented on #2587
Indeed, https://github.com/napari/napari/commit/f0e108ed4d0dda0317b361c7e76923931268a73b is the commit which did it. Before that my toy example is fine (and indeed loads faster, because it's a very small image with very high label values); afterwards it RAMsplodes. This seems like a conflict between loading large images (with good performance) and loading images with a high absolute max IDs. Large

[2021-04-23 14:15] Asharits commented on #720
@sofroniewn, so to continue the conversation here. The issue I have is that I am creating a shapes layer for each object I want to label. This makes some of the data processing I want to do later easier. @jni, correct me if I am wrong but I think both your suggestions only work if you have one shapes layer to watch. I found with the way I have written my code, I need to know which layer is selecte

[2021-04-23 15:55] sofroniewn commented on #2589
Nice, I've left some more general comments on the side bar over on that PR. I had originally just been thinking of the help in a dock widget - was there a particular reason for thinking of the side bar in this context? I think we'll probably want to have the help in its own window so that one can have it be very wide without forcing the image the be very small. We still might want to use side bars

[2021-04-23 15:56] #2578 closed, assigned to goanpeca

[2021-04-23 16:05] sofroniewn commented on #2587
Ah nice catch - I had forgotten about this. It is something for us to keep in mind though!

[2021-04-23 16:13] sofroniewn commented on #720
Agreed I think it would be much nicer for you to be able to use our data structure here. @kevinyamauchi might have some good ideas here. This could also be something for @DragaDoncila to work on too

[2021-04-23 16:31] YubinXie opened #2610 "start issue - ValueError: dlsym(RTLD_DEFAULT, NSEventTrackingRunLoopMode): symbol not found"
## 🐛 Bug

I am not able to run napari on my mac - the old version works but not the latest one.
## To Reproduce

Steps to reproduce the behavior:

`import napari `

## Error

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-1-fb5950bf9f09> in <module>
      1 from skimage import da

[2021-04-23 17:15] tlambert03 commented on #2610
I'm actually surprised that napari would have ever worked for you on big sur using python 3.7.  As far as we've seen, big sur only works for python 3.9 ... Can you try 3.9?

[2021-04-23 17:41] Carreau commented on #2589
One of the question is if you ship it with napari; it will make the installer much bigger. Maybe a plugin that is compatible with a single version of napari and that ships with the the html doc ?

It also depends if you want to also sho non-napari doc in it; in which case you could use https://pypi.org/project/docrepr/.

and in a few month, once it's ready, maybe https://github.com/Carreau/papyri

[2021-04-23 18:06] sofroniewn commented on #2589
We could have `napari-docs` be a dock widget plugin to start with. I'd be open to that.

That would be cool!

[2021-04-23 18:20] YubinXie commented on #2610
i tried with 3.9 now, and still the same issue.

[2021-04-23 18:31] YubinXie commented on #2610
Update: 3.9.4 does not work. 3.9.0 works on importing.

[2021-04-23 18:34] goanpeca commented on #2589
This is assuming that there will be huge screenshots of full screen napari and this could be reconsidered in the help and what type of images are included.

Sidebars help with things that have quick access but are meant to be transient. I want to install plugin I open the sidebar plugin, look for it, install it, then collapse and move with my work, when the plugin finishes (failing or succeeding)

[2021-04-23 18:35] goanpeca commented on #2589
Rooting for this 🚀

[2021-04-23 18:41] YubinXie commented on #2610
I am not able to open any new image when I open napari with ipython:

no longer has a delegate to respond to shouldEnableURL

[2021-04-23 18:47] tlambert03 commented on #2610
can you give us the full output of `napari --info` and `pip list`?

[2021-04-23 18:49] YubinXie commented on #2610
error
[code]

/Users/xiey/miniconda3/envs/napari-env/lib/python3.9/site-packages/napari/__main__.py:356: UserWarning: pythonw executable not found.
To unfreeze the menubar on macOS, click away from napari to another app, then reactivate napari. To avoid this problem, please install python.app in conda using:
conda install -c conda-forge python.app
  warnings.warn(msg)
napari: 0.4.7
Platform: macOS

[2021-04-23 19:25] tlambert03 commented on #2589
very true.  Our wheel is ~1.4MB ... our built docs are ~15MB.  So this might be something we only want to do for the bundled app?

[2021-04-23 21:10] DragaDoncila commented on #720
I think emitting when we `add` a shape would be easy since we compute the number of new shapes to add both in the `data` setter and in the `add` method. Same with `remove_selected`, we could emit from there.

Exposing the `index` of the shape(s) in question with the event seems very useful if users are maintaining associated tables of information about the shapes e.g. analysis results.

[2021-04-23 21:13] sofroniewn commented on #2589
what about a plugin that gets installed with `napari[all]`?

[2021-04-25 12:49] lukasz-migas commented on #2591
Hi,

I've had a bit of time this afternoon to work on this and the scale bar visual is now using `pint` to do all unit conversions.
The scale bar can remain unitless when `viewer.scale_bar.unit = ""` or have any (valid) `pint` unit, e.g. `viewer.scale_bar.unit = "um"` or `viewer.scale_bar.unit = "100 mm"` etc.
Since `pint` has a very powerful parsing functionality, it makes sense to simply specify

[2021-04-25 23:35] sofroniewn commented on #2591
This looks great @lukasz-migas, I'd happily review this as a PR if you'd like to make one, I had a quick look through the branch and it's looking very nice.

Personally I think this could live in a `napari/utils/_units.py` file for now. I'd like to keep as much out of `vispy_` files as we can.

[2021-04-26 13:22] Chris-N-K opened #2616 "2D displaying problems after affine transformation"
## 🐛 Bug

I try to use affine transformation to display my images in correct orientation to each other. When I apply a affine transformation via the affine argument the initial dimension order is displayed correctly. For all other dimension orders (roll through dimension order button) the affine transformation is not apllied correctly. This problem only happens in 2D mode, not in 3D.

On every sli

[2021-04-26 21:06] sofroniewn commented on #2610
Is this likely related to https://github.com/napari/napari/issues/2571? Is the issue with the open dialog?

Sorry that things aren't working for you @YubinXie. Can you maybe give us a little more detail on exactly how you're trying to open the image and the full error message. Screenshots could be really helpful too. This will let us help you better. Thanks!

[2021-04-26 21:10] YubinXie commented on #2610
@sofroniewn Hi Nicholas, I was trying to open new images with Menu bar of Napari and the window for choosing file appeared for one second and gone. No more other errors but showing the following in terminal:

[code]

[2021-04-26 21:17] sofroniewn commented on #2610
@YubinXie, just to confirm is this after launching from IPython?

@goanpeca do you know what might be causing that error (or #2571, if it is related)?

[2021-04-26 21:20] goanpeca commented on #2610
@YubinXie could you open a terminal, activate the conda env where and paste the output of conda list?

[code]

Thanks!

[2021-04-27 08:05] kevinyamauchi opened #2618 "QSpinBox import missing in Labels layer controls"
## 🐛 Bug

I think the QSpinbox import was accidentally removed from the labels layer controls in #2608 . There is a remaining QSpinBox for the ndim attribute.

https://github.com/napari/napari/blob/ad752649a44debc928d4a8c48527e96f5220a495/napari/_qt/layer_controls/qt_labels_controls.py#L115

## To Reproduce

Steps to reproduce the behavior:

1. Run the `add_labels.py` example

[code]

## Expected

[2021-04-27 08:46] #2618 closed, assigned to nobody

[2021-04-27 09:56] clbarnes commented on #2587
I think this specific issue is dealt with in #2597 and #2608 , but has spun off 2 other discussions/ todos of lower importance, so I'll close this and raise those separately.

[2021-04-27 09:56] #2587 closed, assigned to nobody

[2021-04-27 10:10] clbarnes opened #2620 "Labels with large absolute values require lots of RAM"
## 🐛 Bug

This issue has previously been discussed in #2587 , and its specific cause was elucidated here: https://github.com/napari/napari/issues/2587#issuecomment-825338018 .

As a speed optimisation, for a volume containing label with value `n`, an array of length `n` is created (even if label 0 does not co-exist). Therefore, for large values, a very large array is needed. If the array would not

[2021-04-27 10:19] clbarnes opened #2621 "SpinBox for other numpy-supported integers"
## 🚀 Feature

Low-priority, discussed in #2587 and partially addressed in #2608.

Qt's built-in integer spinboxes are backed by a signed 32-bit integer. Label volumes commonly use unsigned 64-bit integers, so the `QSpinBox` is theoretically limiting in extreme cases. Using a subclass of the `QDoubleSpinBox` as in the PR above increases the headroom to 2^53 inclusive, which can be constrained by th

[2021-04-27 10:43] clbarnes commented on #2620
In the other issue I suggested modulo-ing the absolute label values when they're looked up but that would introduce undesirable regular cycles into the color map and you'd need to take an extra step to mask out the 0 labels.

[2021-04-27 12:00] Czaki opened #2622 "Labels annotation"
## 🚀 Feature

Add possibility to display labels annotation in inteface

## Motivation

When adjusting parameters of ROI classification it is nice to simply preview single label information to understand why a given component is classified in a such way.
![Zrzut ekranu z 2021-04-27 13-27-06](https://user-images.githubusercontent.com/3826210/116236634-99437a00-a75f-11eb-9081-1e68e3546d91.png)

## Pi

[2021-04-27 15:33] sofroniewn commented on #2616
Hi @ch-n I havn't had a chance to run your example yet, but to give you a sense of the current limitation of napari, if you look at this schematic below

![image](https://user-images.githubusercontent.com/6531703/116269322-faa12400-a732-11eb-8cfb-fc5fe782e858.png)

if you have a rotated cube and then try to take a 2D slice (the dashed line) through it then we actually can't do that right now. It's

[2021-04-27 16:06] Chris-N-K commented on #2616
Yes I think this is exactly the problem. 3D is fine. I guess non orthogonal slicing through an array is far from trivial. Might there be a workaround to display the image in 2D without the sheer and out of slice rotation? I try to improve the nibabel napari plug in. Therefore, I hope to include affine transformation, but If the transformation breaks the 2D view it is a problem.

[2021-04-27 18:39] YubinXie commented on #2610
yes

[2021-04-27 18:39] YubinXie commented on #2610
here it is:

[code]

[2021-04-27 18:46] HowardLander commented on #1457
I fixed this problem on Debian 9 by installing miniconda3, then using conda install -c conda-forge napari.  Thanks for the suggestions. FWIW, I did notice that the conda install is using pyqt-5.9.2 and qt-5.9.7

[2021-04-27 18:55] goanpeca commented on #2610
@YubinXie how about you try to install from scratch but using conda?

[code]

[2021-04-27 19:43] tlambert03 opened #2623 "Use static base class for Image if possible"
## 🐛 Bug
tiny thing, but don't want to forget it... in `image.py`, this dynamic inheritance pattern breaks IDE inspection for anything annotated as an `Image`

[code]

would be nice to figure out a way to accomplish the same goal without the dynamic base class.

[2021-04-27 19:46] goanpeca commented on #2623
Any more details here can help @tlambert03 :)

[2021-04-27 19:49] tlambert03 commented on #2623
sorry, will take care of it! :)

[2021-04-27 23:02] YubinXie commented on #2610
Some updates:
When i use napari directly in terminal without calling from python. The loading of the file works.

[2021-04-28 00:05] dzyla commented on #2545
Hi,

thanks for the reply and sorry for the late answer.

easygui is a very simple GUI package that allows opening the file or directory open box so the script can be run without command line parameters. It runs before napri so I cannot imagine any conflict here. I can check without easygui and let you know.

Images are loaded into the Numpy stack and have ~500 MB total with the dimensionality of

[2021-04-28 00:26] jni commented on #2545
Thanks for the extra info @dzyla. I guess my next question is, are you able to reproduce this bug with (preferably) generated data, or arbitrary data, so that we can try to reproduce it locally? As long as the example script is tied to your data it will be difficult for us to reproduce — I think none of us has encountered something like this. ☹️

[2021-04-28 01:35] jni commented on #2620
The long term vision here is to directly pass the labels to the GPU and do hashing (modulo or otherwise) on the GPU. The issue with mod is that it is a surprisingly expensive operation!

[code]

[2021-04-28 02:28] #2623 closed, assigned to nobody

[2021-04-28 06:04] jni opened #2625 "Labels no longer correctly colormapped when added from spinbox"
## 🐛 Bug

Unfortunately, another bug snuck in with #2608. Clearly the Labels Qt controls are not well tested in our test suite!

`python examples/add_labels.py` works correctly, showing that this only happens for newly-added labels/colors. But, since #2608, adding labels does not increment the color table:

https://user-images.githubusercontent.com/492549/116353984-198add80-a83b-11eb-90f1-01fc5375

[2021-04-28 09:45] sebherbert opened #2626 "No napari viewer in Visual Studio Code"
## 🐛 Bug

No napari viewer in Visual Studio Code

## To Reproduce

Steps to reproduce the behavior:
1. Start Visual Studio Code
2. In the integrated terminal
2. Create and activate a conda environment
3. Use the `conda install -c conda-forge napari` to install the library
4. import napari
5. start napari

[code]

## Expected behavior

I am working on 3D stacks in Python using skimage, I was hoping

[2021-04-28 09:58] jni commented on #2626
You are opening ipython in the VSCode terminal, whereas I expect you are just typing "napari" in the normal terminal. :blush: To get a napari viewer in IPython, you need to make it (`viewer = napari.Viewer()`) or use one of the `view_*` functions (e.g. `viewer = napari.view_image(a_numpy_array)`).

You can read more about this in our [getting started tutorial](https://napari.org/tutorials/fundamen

[2021-04-28 09:58] #2626 closed, assigned to nobody

[2021-04-28 09:58] jni commented on #2626
(not to mention scikit-image, btw! :smiley:)

[2021-04-28 10:10] sebherbert commented on #2626
Thanks! It was indeed my issue!
I didn't realize that there are different ways to call the viewer depending on the environment!

Thanks for the welcome and very fast support!

[2021-04-28 10:18] jni commented on #2622
@Czaki btw do you know labels does have an annotations table called `properties=`? See:

https://github.com/napari/napari/blob/97865a9051a3ce33ffd58903ea1cb016fd1b4ba9/examples/add_labels_with_properties.py

However, the option to display these on hover would be extremely welcome! (Currently they appear in the status bar)

[2021-04-28 10:40] Czaki commented on #2622
The property does not allow simple add text like in example. As you could see I need to show numerical parameters, not only labels.
Of course, I could create one label for each parameter, like `"voxels: 502"` but in such a case there could be heavy collect step.

[2021-04-28 11:14] jni commented on #2622
Huh? You pass in a table of columns, e.g. {"index": [51, 47, ...], "voxels": [502, 320, ...], "sharpness": [2.21, 3.14, ...]} and you would get an annotation per segment.

[2021-04-28 11:35] Czaki commented on #2622
Ok. I see that I wrong understand, but this construction forced to have all properties for all components defined. Personally, I prefer some sparse format.

I think that there are provided numbers of components which should have a such label.

Text which I show on example will not fit in status bar.

[2021-04-28 13:03] jni commented on #2622
Missing labels in the properties table are also allowed.

Yes, that's why I said above that the hover would be a very welcome addition!

[2021-04-28 13:52] ferdymercury commented on #2576
Thanks for the instructions. I can not work on it for the moment, but maybe later on I can give it a shot.

Note: It would be then nice that it also allows CT and MRI 2D images, that are also with .dcm extension. Or folders containing several dcm files that all together build a volume. Though the latter is a more delicate thing, it requires regular spacing, etc.

[2021-04-28 14:45] Czaki commented on #2622
I do not see this described in docstring. Did You mean `None` instead of value?

Did I correct to understand that property should be array of length `N+1` instead `N` (as zero means background)?

[2021-04-28 15:50] brisvag commented on #2418
As we said in meeting, it might be a good idea to keep #2138 in mind as well, as it's probably related in some way.

[2021-04-28 21:26] thewtex opened #2628 "Image layer rotate initialization with a rotation matrix"
## 🚀 Feature

When creating an `Image` layer with its constructor or the `add_image` kwargs, enable passing a rotation matrix to initialize the `rotate` attribute. Currently, only rotation angles can be passed.

## Motivation

This will avoid the need to convert a rotation matrix into angles.

Use case: https://github.com/InsightSoftwareConsortium/itk-napari-conversion/issues/7
Use case: https://g

[2021-04-29 01:04] jni commented on #2622
See #2596 😂 Sorry!

[2021-04-29 01:29] jni commented on #2628
@thewtex As an immediate workaround, could you pass the rotation matrix as an affine matrix?

But, since the switch can be perfectly unambiguous here, I'm +1 on this proposal.

[2021-04-29 02:14] dzyla commented on #2545
@jni I would be happy to share the data that works with this script. I don't know what is causing this issue tho.

In addition to previous information, I am using Python 3.8 environment from conda via PyCharm. In general napari works well, just the saving screenshot makes troubles.

[2021-04-29 07:50] Czaki opened #2629 "Windows test fail on CI"
## 🐛 Bug

Current CI configuration fails because fail of OpenGL installation:

[code]

See: https://github.com/napari/napari/runs/2462557951?check_suite_focus=true

## Additional context

As #2481 is still open then the bot does not open new issue.

cc @sofroniewn @jni @tlambert03

[2021-04-29 08:41] jni commented on #2629
Thanks for creating this @Czaki. Do you have any idea what changed/how to fix it? I don't think we have touched our CI settings recently.

[2021-04-29 08:53] Czaki commented on #2629
It looks like `vispy/demo-data` rename `master` branch to `main` so github update links
from https://github.com/vispy/demo-data/raw/master/mesa/opengl32_mingw_64.dll to
https://github.com/vispy/demo-data/raw/main/mesa/opengl32_mingw_64.dll

These need to be fixed in the https://github.com/pyvista/gl-ci-helpers/blob/master/appveyor/install_opengl.ps1 script

There is even proper PR created https://

[2021-04-29 10:44] tlambert03 commented on #2629
We can also just vendor that script.  There's no real need for it to come from their repo

[2021-04-29 10:46] tlambert03 commented on #2629
Yeah let's copy it and put it in our .github folder or something.  I can do that later today, unless someone wants to tackle it sooner?

[2021-04-29 10:47] Czaki commented on #2629
If you decide to do this please do this using a separate repository to simplify usage by plugins creator.

[2021-04-29 10:50] tlambert03 commented on #2629
We would put it in the cookie cutter too.  That script isn't very dynamic at all.

[2021-04-29 10:52] tlambert03 commented on #2629
I'm also ok with just fixing the url, can you make a PR?

[2021-04-29 10:56] tlambert03 commented on #2629
Oh I see, it needs to happen upstream...

[2021-04-29 11:06] Czaki commented on #2629
I have had created #2630 which should allow an easier understand of such bugs.

[2021-04-29 11:19] larsoner commented on #2629
Should be all better now

[2021-04-29 11:35] Czaki commented on #2629
Thanks

[2021-04-29 11:40] tlambert03 commented on #2629
thanks @larsoner!

[2021-04-29 12:13] #2591 closed, assigned to nobody

[2021-04-29 12:32] #2629 closed, assigned to nobody

[2021-04-29 12:58] tlambert03 opened #2631 "Showing notifications needs to be more robust to an existing QtApp"
## 🐛 Bug

In `qt_event_loop.py`, we chose to put this connection of the notification manager inside of the conditional that only runs if napari created the app:

[code]

The assumption was that otherwise, it's probably an IPython app, and we don't want them to fight for showing tracebacks.  However, if anything else (like magicgui) has instantiated the QApp, then no notifications will show... whic

[2021-04-29 13:10] tlambert03 opened #2634 "Support Enum preference types in preferences window"
## 🐛 Bug

We are unable to show preferences that are `Enum` types in the preferences window

see: https://github.com/napari/napari/pull/2211#pullrequestreview-610272341 for a little background

[2021-04-29 14:50] thewtex commented on #2576
Hey, @ferdymercury , following @tlambert03 's guidance, we now have an [napari-itk-io](https://github.com/InsightSoftwareConsortium/napari-itk-io) plugin.

[code]

This supports DICOM images and DICOM series. For DICOM Series, use *File -> Open Folder...* in napari. It will work with DICOM files that have a *.dcm* extension or not. It will extract the first series volume that is found, sort the sl

[2021-04-29 14:55] thewtex commented on #2628
Hey @jni ! Thanks for the note and support! Currently, we are providing `scale` and `translate`, which would be awesome to continue to use because we can pull them back out in the same form, easily.

The rotation as a matrix would also help for the `add_image` API per:

 https://github.com/InsightSoftwareConsortium/napari-itk-io/blob/83076c14a276d450cf4fdde87bc1b2d56eaaa4ec/napari_itk_io/_reader.p

[2021-04-29 14:56] thewtex commented on #2576
Following https://github.com/napari/napari/issues/2628 , we will also have support for the image orientation, common in DICOM images and series.

[2021-04-29 15:10] ferdymercury commented on #2576
@thewtex Amazing!! Glad to hear this.

I checked and it opens correctly CT images, US, as well as RTdoses.

So closing the issue. Thanks so much again!!

[2021-04-29 15:10] #2576 closed, assigned to nobody

[2021-04-29 16:18] tlambert03 commented on #1074
cc @goanpeca  ... this is the thread that had most of our original discussion about how to bundle an environment that was extendable.  here is the https://github.com/napari/napari/issues/1074#issuecomment-606162357 where we briefly toyed with the [conda-bundler](https://github.com/tlambert03/conda-bundler) idea (not sure how similar that is to spyder approaches though)...

[2021-04-29 19:55] tlambert03 commented on #2576
so cool!  tried it too :)  great job

[2021-04-29 23:18] alisterburt opened #2637 "Perspective change in 3d gives visual artefacts for points layer"
to reproduce: add points, view in 3d then shift, right click and drag

![image](https://user-images.githubusercontent.com/7307488/116629506-5218dd00-a949-11eb-8c7e-a36cca466955.png)

[code]

[2021-04-30 16:31] goanpeca commented on #2634
@tlambert03 indeed, I think I want to rework a bit all this logic to remove the qtform external dependency and support more use cases here.

[2021-04-30 16:44] tlambert03 commented on #2634
thanks!

[2021-05-01 00:12] DragaDoncila commented on #2625
ok so for some reason, this ONLY doesn't work when clicking the buttons or setting the value via the spinbox, but it works when setting the layer `selected_value` programmatically.

If I change `QtLargeIntSpinBox.setValue` to this:

[code]

then setting the layer controls' `selectionSpinBox.value` programmatically also works fine.

However, clicking the +/- buttons or interacting with the text box

[2021-05-01 00:30] tlambert03 commented on #2625
ahh, ok.  will have a look

[2021-05-01 00:35] DragaDoncila commented on #2625
nevermind, think I got it lol - instructions [here](https://doc.qt.io/Qt-5/qspinbox.html#singleStep-prop)

"Clicking the up/down buttons or using the keyboard accelerator's up and down arrows will increase or decrease the current value in steps of size singleStep(). If you want to change this behaviour you can reimplement the virtual function stepBy()."

PR incoming.

[2021-05-01 13:10] #2631 closed, assigned to nobody

[2021-05-02 18:11] haesleinhuepf opened #2644 "Table headers not readable in dark theme"
## 🐛 Bug
Hi all,

in dark theme, table headers are not readable, likely because their background-color is not defined in the stylesheet. This may be different depending on operating system.

Dark theme:
![image](https://user-images.githubusercontent.com/12660498/116822865-8ecf1900-ab81-11eb-93e7-95e8612c6436.png)

Light theme:
![image](https://user-images.githubusercontent.com/12660498/116822880-a

[2021-05-02 18:19] tlambert03 commented on #2644
interesting.  wonder if this is a windows thing, or a custom style thing

here's what I see (macOS 10.15, napari master):

<img width="745" alt="light" src="https://user-images.githubusercontent.com/1609449/116823150-e7d28900-ab50-11eb-8e8e-a8efea4a2f44.png">
<img width="744" alt="dark" src="https://user-images.githubusercontent.com/1609449/116823151-e7d28900-ab50-11eb-86a9-4ba46e7b1f82.png">

wil

[2021-05-02 18:47] haesleinhuepf commented on #2644
Thanks for the pointer @tlambert03! I'm playing with it. Looks like [here](https://stackoverflow.com/questions/11454694/how-to-change-the-header-background-color-of-a-qtableview) is a solution. I will prepare a PR.

[2021-05-02 19:07] haesleinhuepf opened #2646 "Toggle theme menu missing in 0.4.8-dev"
## 🐛 Bug

While fixing #2644 I had issues toggling the theme of napari because the corresponding menu is missing in the current master branch:
![image](https://user-images.githubusercontent.com/12660498/116824241-77942980-ab89-11eb-8625-0001c4a279a1.png)

In comparison 0.4.7:
![image](https://user-images.githubusercontent.com/12660498/116824277-9eeaf680-ab89-11eb-9b3a-3561d2cbc649.png)

Furthermor

[2021-05-02 19:19] tlambert03 commented on #2646
removed in https://github.com/napari/napari/pull/2462

second key is shift (up arrow) `⇧` ... agree... it looks terrible on Windows :/

[2021-05-02 19:20] haesleinhuepf commented on #2646
I see. Ok, it this was intentional, fine with me. Wo uses light theme anyway? :-)

[2021-05-02 19:20] #2646 closed, assigned to nobody

[2021-05-02 23:39] DragaDoncila opened #2647 "Change `QtLargeIntSpinBox` for Labels to inherit directly from `QAbstractSpinBox`"
## 🚀 Feature
Following on from #2608 and #2640 , an ideal implementation would inherit from `QAbstractSpinBox` and therefore support any integer types for Labels layers, as well as overriding the necessary private methods of the `QAbstractSpinBox`.

## Motivation
This would provide all the support required for unbound integers without resorting to some 'hacky' signal emissions as was required in #

[2021-05-03 02:14] #2644 closed, assigned to nobody

[2021-05-03 02:46] sofroniewn commented on #2628
Thanks for the links here @thewtex, the concrete use cases will help. What you propose makes sense too. We've actually got a couple other issues like #2163 with our transforms that we need to address too (right now having a scale/ translate will get clobbered by having an affine, curious what your thoughts on that one are, and your expectations for rotation!). Maybe we can then take another look a

[2021-05-03 15:51] sofroniewn commented on #2637
It looks like it is just the size of the points that changes, possibly because something here is no longer quite right https://github.com/vispy/vispy/blob/e33aae23847e8e5f43248ba9d014cc4aea211a90/vispy/visuals/markers.py#L623-L626

[2021-05-03 17:21] YubinXie commented on #2610
I think it is not install issue but ipython and Mac issue. I will directly call napari from terminal, which seems to be working.

[2021-05-03 17:21] #2610 closed, assigned to nobody

[2021-05-03 19:38] goanpeca commented on #1790
Ok, this issue was longer to read than I hoped to 😆, thanks for pointing to it @tlambert03 👀

We are looking into this issue https://github.com/napari/product-heuristics-2020/issues/31 with @ppwadhwa and it seems there should be a way to not only get an extension a plugin supports (for IO plugins) but an actual text for it (localization)

[code]

This feels a bit clunky, but even if it fixes it, i

[2021-05-03 20:15] goanpeca opened #2649 "Add extension name information"
## 🚀 Feature

[This tuple of extensions](https://github.com/napari/napari/blob/2a77cbbff81a43e5c80ffa5519cc9e1087872ac9/napari/utils/io.py#L38) should be modified to become a dict or something else, so that extensions include also a text (that would be localizable) an displayed in the dropdown of save dialogs.

## Motivation

Provide a better UI/UX

## Pitch

A lot of image formats have a readable

[2021-05-03 20:33] tlambert03 commented on #1790
This whole thing feels rather bike-sheddy to me.  I really can't see how it matters _that_ much whether it's a class, or a function that returns a tuple, or a single function along with metadata... in every case we _still_ have to receive what is given to us (via the hook implementation decorator), and validate it.  If it's a class, we have to make sure the appropriate methods are there (since we

[2021-05-03 20:40] Czaki commented on #1790
We could define runtime checkable protocol class. This allow to check if all methods are defined using `isinstance`.

[2021-05-03 20:40] tlambert03 commented on #1790
bikeshed :)

[2021-05-03 20:50] goanpeca commented on #1790
This is precisely the issue. Having to support all these different things already defeats the purpose of a "simple" hookspec that returns a "simple" thing.

It seems these classes should live in `napari-plugin-engine` and not `napari`, so I do not understand. All additional validation should live there anyway, no?

Ahhh... 😞  I already have a headache... why provide so many options in return type

[2021-05-03 21:26] sofroniewn commented on #1790
Right now `napari-plugin-engine` is actually napari agnostic. We could put them there, or more to having another imaging specific interface package - see discussion here https://github.com/napari/napari-plugin-engine/issues/24#issuecomment-825044336

[2021-05-03 21:39] goanpeca commented on #1790
Indeed.

Need to think harder about the general problem before I can suggest a path forward. Thanks for all the pointers @tlambert03

[2021-05-03 21:53] goanpeca commented on #2451
@ppwadhwa can we close this one?

[2021-05-03 21:59] sofroniewn commented on #2451
Look's like it was closed by #2501

[2021-05-03 22:20] goanpeca opened #2651 "Add a bot to cancel old builds"
## 🧰  Task

Add a bot to close stale/old commits on PRs.

## TODO

- [ ] Docs: Include screenshots on heroku
- [ ] Docs: Refer to the repo of the bot
- [ ] Docs: Token settings / https://github.com/settings/tokens
- [ ] Update original README to include the info on the token

## Motivation

When we push new commits to a branch that is a PR in the repo, we start new actions and workers to run the C

[2021-05-03 22:26] #2451 closed, assigned to ppwadhwa

[2021-05-03 22:27] sofroniewn commented on #2651
I'm finding myself waiting more and more for things as the activity on the project has increased, so probably worth exploring this. Curious what others think. Thoughts @jni?

[2021-05-03 22:33] goanpeca commented on #2651
Happy to set this up and write docs as needed for any future maintainers :).

We have been very happy users of this for 10 months and counting 👀

[2021-05-04 00:13] jni commented on #2371
Oh right I remember this. Sorry I missed this the first time around. I don't love the idea of a separate module/package. @tlambert03 is it not possible to restructure `napari/__init__.py` to make the pythonw switch earlier? ie rather than have a separate package, front-load the stuff you want in that package into the `__init__`? Or am I missing something?

[2021-05-04 00:16] jni commented on #2371
ie looking at above:

[code]

Could we not shortcut the first _main and _run_pyw calls?

[2021-05-04 01:47] #2356 closed, assigned to nobody

[2021-05-04 01:51] sofroniewn commented on #2196
Now that #2612 has merged should we close this?

[2021-05-04 01:52] sofroniewn commented on #2135
Now that #2612 has merged can we close this?

[2021-05-04 01:53] sofroniewn commented on #2271
Closed by #2441

[2021-05-04 01:53] #2271 closed, assigned to nobody

[2021-05-04 02:18] sofroniewn commented on #2509
Closed by #2642 and other work on napari-svg.

[2021-05-04 02:18] #2509 closed, assigned to nobody

[2021-05-04 02:19] sofroniewn commented on #2525
This was closed by #2530

[2021-05-04 02:19] #2525 closed, assigned to nobody

[2021-05-04 02:25] sofroniewn commented on #2277
We can now have a https://napari.org/roadmaps/index.html that we can link too if needed

[2021-05-04 02:51] goanpeca commented on #2196
Lets

[2021-05-04 02:51] #2196 closed, assigned to nobody

[2021-05-04 05:53] GenevieveBuckley commented on #2594
@jni - Nick and I are having a chat about how to better leverage Dask with napari. I'll send you a meeting invite in case you want to join, we might touch on this issue then.

[2021-05-04 08:47] jni commented on #2651
Yeah this sounds great to me, thanks @goanpeca! I just spent a bit of time cancelling builds on scikit-image to get the CI wheels built for a release, so this hits very close to home! 😂

[2021-05-04 08:52] kevinyamauchi opened #2653 "Add a sample_ray method to layers"
## 🚀 Feature
In support of 3D picking, I think it would be nice to add a method to the base layer that calculates end points of the ray going through the data volume from a point in the canvas in the direction of the view.

## Motivation

This ray (`sample_ray`?) can be used for 3D picking or sampling/exploring data along the ray (e.g., plotting intensity, finding voxels with specific values)

##

[2021-05-04 09:33] kevinyamauchi commented on #2653
@sofroniewn , where is the best place to get caught up on the napari transform system? In particular, I would like to get the transformation between the screen coordinates (i.e., coordinates returned by the event.pos in the mouse event) and the data coordinates.

[2021-05-04 16:47] sofroniewn commented on #2653
This is awesome @kevinyamauchi! We've been trying to move cursor position information off the layer, so I'd prefer if this wasn't directly on the base layer, but instead was something that could be calculated with the layer. One option would be to add `viewer.cursor.ray` which contained the ray in world coordinates (note `viewer.cursor.position` contains the position in world coordinates in 2D - I

[2021-05-04 18:05] ferdymercury opened #2660 "CVD-friendly color maps and defaults"
## 🚀 Feature
Implement CVD-friendly color maps as default (like the already existing viridis, e.g.) and 'discourage' others that are prone to show artefacts.

## Motivation
From the scientific point of view, some colour maps are not very recommended for presenting data, as they show artefacts and distortions. Also, some default maps commonly used as defaults in matplotlib, napari, etc. (jet, infer

[2021-05-04 18:07] tlambert03 commented on #2660
no objections from this deuteranope! 🤓

[2021-05-04 18:41] sofroniewn commented on #2660
I'm supportive too. We can just expose in the drop-down menu CVD friendly colormaps, but still allow all supported colormaps in the API.

How does that sound?

[2021-05-04 18:57] sofroniewn opened #2661 "Location of progress bar/ qt imports in repo"
I want to pick up the discussion here https://github.com/napari/napari/pull/2580#issuecomment-832096273 about where the progress bar lives in the repo and how it gets imported.

In general we've tried to separate out our qt imports and non qt imports into different parts of the package to maintain a loose coupling between the two. They need to come together at some place, which is currently our `V

[2021-05-04 19:17] #2277 closed, assigned to nobody

[2021-05-04 19:26] DragaDoncila commented on #2661
In my view there's three aspects to consider here (maybe there's some I'm missing though):

1. **Usability** - where will it be easier for users to find, where will it be less likely to confuse/mislead users
In some respects putting it in `qt` might lead users to believe that they can't use it in scripts they also run headless, though we could document this more clearly to avoid this confusion. Ot

[2021-05-05 01:43] thewtex commented on #2163
Awesome work, @NHPatterson !

As suggested by @jni , keeping the `scale`, `translate`, `rotate`, `affine` separate and composing them in a specific order could be a good improvement.

For compatibility with elastix and a number of other imaging tools, e.g. itk, imagej, the ideal composition order is:

[code]

If skew is needed, it could be:

[code]

For using elastix directly in napari, there is n

[2021-05-05 01:56] thewtex commented on #2628
@sofroniewn thank you -- these improvements would be very helpful!

I followed up in #2163, but for elastix, it would be helpful to avoid having scale / translate clobbered by an affine result. This is because elastix assumes that the input images have a scale / translate associated with them always (this is pixel *spacing* and image *origin* in itk-terminology). If we keep these separate and do n

[2021-05-05 02:02] sofroniewn commented on #2163
Ok awesome @thewtex - let's adjust this to do

[code]

I think we should also then avoid all the decomposition stuff that we're doing all over the place as well, which should make everything much faster. We can work on this for the `0.4.9` release

That's great, thanks for sharing!! Excited to check that out

[2021-05-05 02:04] sofroniewn commented on #2628
Nice, I responded over in #2163 too, composing sounds like it will be a big improvement for everyone. We can work on this soon. Will keep you posted when we have a PR in progress.

[2021-05-05 09:28] kevinyamauchi commented on #2653
Thank you, @sofroniewn ! This is super helpful. I agree that we should try to keep the cursor stuff off of the layers and I think the general approach you outlined looks good.

I have a couple of follow up questions:

- in napari, are "world coordinates" the same as vispy ["scene coordinates"](https://github.com/vispy/vispy/blob/e33aae23847e8e5f43248ba9d014cc4aea211a90/vispy/visuals/transforms/tra

[2021-05-05 13:27] #2647 closed, assigned to nobody

[2021-05-05 21:49] sofroniewn commented on #2625
This was closed by #2648

[2021-05-05 21:49] #2625 closed, assigned to nobody

[2021-05-05 21:50] sofroniewn commented on #2477
Can this be closed @alisterburt? @Czaki might be looking into something similar in #2657 too, so maybe it can be closed after that?

[2021-05-05 21:53] sofroniewn commented on #2474
This has now been fixed by napari/napari#2562 and other PRs

[2021-05-05 21:53] #2474 closed, assigned to nobody

[2021-05-05 21:53] sofroniewn commented on #2473
This has now been closed by #2562

[2021-05-05 21:53] #2473 closed, assigned to nobody

[2021-05-05 21:53] #2135 closed, assigned to nobody

[2021-05-05 21:55] sofroniewn commented on #2447
Closed by #2467

[2021-05-05 21:55] #2447 closed, assigned to goanpeca, ppwadhwa

[2021-05-06 02:56] GenevieveBuckley commented on #2594
Yeah, I suspect it might not be a good idea to go all the way up to 1

I think we probably need some better documentation with example use cases & the best option for those. Then users can try and match their situation to the most similar example, to get a bit of an idea about what might work well for them.

Trouble is, I don't think we *have* a good set of established rules of thumb. What do you

[2021-05-06 07:22] alisterburt commented on #2477
Yep this is closed by #2478, looks like the other issue is a little different

[2021-05-06 08:32] brisvag opened #2665 "Transparency of points in 3D is broken"
## 🐛 Bug

When the `face_color` of points is transparent, 3D visualization of said points is a bit of a mess, with points switching from black to invisible, depending on camera rotation. There's also some inconsistency in how sometimes points have a thick black border to distinguish them from the ones behind, and sometimes not.

Might have something to deal with order of painting in vispy, like in

[2021-05-06 08:44] brisvag opened #2666 "Points visibility on individual basis"
## 🚀 Feature
`Points` would benefit from having a boolean visibility flag on an individual basis, that can act as a simple mask and hide some points from view.
While setting the point's color alpha to `0` in 2D works fine for this purpose, it's a bit clunky (one has to make a property for it, set the face color to that property, and create a colormap with visible/invisible colors), and limited (on

[2021-05-06 10:32] FerdinandGreiss opened #2667 "Import error on new environment"
## 🐛 Bug

Hi, really great project! I wanted to give it a try today and installed the latest napari with a new conda environment (I tried with Python 3.7, 3.8, 3.9). After `import napari`, it always raised the following error:

[code]

## Environment

Further information `conda info`:

[code]

 - Any other relevant information:

I am on a MacOS Big Sur (11.2.2)

## Additional context

Hope you can

[2021-05-06 11:54] tlambert03 commented on #2667
Hmm. One thing to note is that you will definitely need python 3.9 on Big Sur...

Can you provide your complete command line steps, including environment creation and napari installation?  (Using python 3.9)... and paste the output of "napari --info" as well

[2021-05-06 12:03] brisvag commented on #2666
Not sure if this should be a separate issue, but I think it's worth mentioning here: the same would be equally useful (and probably impletemented in the same way) for `Vector` layers.

[2021-05-06 12:10] brisvag commented on #2665
To follow up on the weird "border but not edge" issue, here's a [gif of a real use case](https://i.ibb.co/Jyqt8BV/napari-points-border-1.gif).

As you can see, the strange border appears only from some angles, and its colors seems to be somehow related to layer just **below** or - if none - the background (when I put the image layer **above** the points, the border appears black).
When significant

[2021-05-06 12:56] FerdinandGreiss commented on #2667
Sure! Here is the full input and output...
***

[code]

[code]

Then running`import napari` with

Python 3.9.4 (default, Apr  9 2021, 09:32:38)
[Clang 10.0.0 ] :: Anaconda, Inc. on darwin
Type "help", "copyright", "credits" or "license" for more information.

[code]
***
`napari --info` gives:

Traceback (most recent call last):
  File "/Users/feschiessl/anaconda3/envs/napari-env/bin/napari", line

[2021-05-06 12:59] tlambert03 commented on #2667
ok, I think we've had better luck with the python from conda-forge in big sur... and yours is coming from `pkgs/main` can you try this?

[code]

[2021-05-06 13:35] FerdinandGreiss commented on #2667
That worked. Absolutely fantastic support! Thanks.

[2021-05-06 13:37] tlambert03 commented on #2667
awesome :)  I can't say I fully understand what the conda-forge distribution is doing that the one from the main channel isn't... but we should make that clearer in our install guide.  Glad it's working for you!

[2021-05-06 13:42] FerdinandGreiss commented on #2667
The only helpful discussion (before your insights) that I found on the internet was around vispy issues with macOS Big Sur: https://github.com/vispy/vispy/issues/1885

[2021-05-06 20:08] #2477 closed, assigned to nobody

[2021-05-06 20:20] #2667 closed, assigned to nobody

[2021-05-06 22:09] goanpeca commented on #2651
@sofroniewn could you create a fork of  https://github.com/jupyterlab/jupyterlab-bot inside the napari org, and give me access to it?

I can start setting things up.

[2021-05-06 22:29] sofroniewn commented on #2651
Done https://github.com/napari/jupyterlab-bot

Let me know if you need increased permissions

[2021-05-07 16:59] adamltyson opened #2670 "Support a widget.on_close() method"
## 🚀 Feature
Support a method that is run when the widget is closed in napari.

## Motivation

I want to mess with the viewer (hide buttons etc.), but reset everything if my plugin is closed.

## Alternatives

Using [viewer.window._qt_window.destroyed.connect(my_callback)](https://napari.zulipchat.com/#narrow/stream/212875-general/topic/Methods.20to.20reset.20viewer.20on.20widget.20close/near/2378

[2021-05-07 17:01] tlambert03 commented on #2670
ahh... you what.  I totally missed the part about this being just your widget (and not the full viewer).  The need for a clear API is no different... but the workaround is a bit different (let me test some stuff)

[2021-05-07 17:02] kevinyamauchi commented on #2670
+1, this would be super useful to me as well!

[2021-05-07 17:02] adamltyson commented on #2670
My bad, I just blindly copied and pasted.

[2021-05-07 18:34] goanpeca commented on #2670
Hi @adamltyson, what do you exactly mean by closing a widget in napari 🙃 ?

- Clicking the `x` on the Dock?  (This does not actually close a widget, just hides it)
- Selecting the Remove Dock Widgets from the Window Menu?

[2021-05-07 18:46] adamltyson commented on #2670
I originally meant clicking the `x` (didn't know it only hid the widget).

[2021-05-07 23:16] goanpeca commented on #2651
It is now working 🚀
![image](https://user-images.githubusercontent.com/3627835/117516947-37092700-af60-11eb-8e8b-95208f63d67b.png)

Will leave this issue open to do the following:
- Update development docs to explain what is in place.
- Check that the napari-bot account has the lowest permissions it needs.

Thanks @sofroniewn for the help!

[2021-05-08 00:55] jni opened #2673 "Set up continuous benchmarking"
## 🚀 Feature

We've discussed this many times but I didn't find a dedicated issue for it so I hope this is not a duplicate. 😂 At any rate, I just came across this post from Ursa Labs about their new cross-language benchmarking software, ConBench. The interesting bit is that they've built the bot for running benchmarks on PRs. So hopefully we can leverage a lot of the work they've done in napari al

[2021-05-08 01:00] tlambert03 commented on #2603
I'm a little confused by this.  I don't get that behavior.   with a folder, I get a stack

[code]

(same thing if I save the files, and drag the folder onto the viewer)
I assume I'm missing something in the chain there... @jni?

[2021-05-08 01:11] tlambert03 commented on #2603
This isn't entirely true actually.  The default with a single folder is still dictated by `utils.io.magic_imread` which defaults to `stack=True` ... it might be confusing that `viewer.open`  has `stack=False` but the docstring explains the difference:

[code]

A single folder is not a list of strings and so opens as a stack (if handled by `magic_imread`).  I'm not immediately sold on the idea that

[2021-05-08 01:18] tlambert03 commented on #2603
(but if the list paths provided to `viewer.open()` is longer than some threshold, we might be able to make some reasonable crash-preventing switch?)

[2021-05-09 00:10] tlambert03 opened #2676 "Add `test_plugin_manager` fixture to `make_napari_viewer`?"
## 🚀 Feature
#2535 added the `test_napari_plugin_manager` fixture, which mocks the plugin manager to prevent discovery of plugins unless they are specifically registered.  I've still be noticing various local test failures due to leaked widgets and other things caused by plugins in my environment.
If we added that `test_napari_plugin_manager` to the `make_napari_viewer`, it would immediately make

[2021-05-09 06:54] DragaDoncila opened #2678 "Loading multiscale labels layer throws error"
## 🐛 Bug

Currently if you try to load a multiscale labels layer you get an error

[code]

We introduced it as part of #2647 . I'll submit a PR shortly to fix.

## To Reproduce

[code]

[2021-05-09 07:31] haesleinhuepf opened #2680 "Unreadable error messages on Windows"
## 🐛 Bug

Hi all,

I'm having issues with reading python error messages when working with napari. I think this issue was introduced with 0.4.6 or 0.4.7. Likely it is related to the new (and cool) warnings display. When I call napari from command line and it crashes, error messages look like this:

![image](https://user-images.githubusercontent.com/12660498/117563728-1c41ca00-b0a8-11eb-9e3f-b488a93

[2021-05-09 08:00] haesleinhuepf opened #2681 "Warnings / notifications make napari crash when called from a thread_worker"
## 🐛 Bug

When using `warnings.warn()` from within a `thread_worker` napari freezes with this on stdout:
[code]

I assume it freezes because the access to the GUI in main thread causes a crash.

## To Reproduce

Steps to reproduce the behavior:

[code]

![image](https://user-images.githubusercontent.com/12660498/117564590-1c909400-b0ad-11eb-9732-9b6b82b419b2.png)

This code will run fine if `warni

[2021-05-09 09:07] Czaki commented on #2681
I think that it is classical problem.
Qt widgets cannot be created outside the main thread. So trying to show warning created outside the main thread may produce such a problem.
If I think correctly then there is a need to add a mechanism of piping warning to the main thread (for example using QT signal mechanism because Qt signals connected functions are executed inside the main thread).

[2021-05-09 09:09] Czaki commented on #2680
Problematic parts of the print are coloring commands for UNIX terminals. There is a need to check if the terminal supports coloring.

[2021-05-09 11:10] Czaki opened #2682 "Segfault of test on linux"
## 🐛 Bug

As requested I try to debug why `napari` test set ends with an error on Linux. I create this issue to collect the current state of knowledge.

### Operating system:
Ubuntu 20.10 x86_64
Python installed with pyenv
Gdbinit:
[code]

### Found problems
1. Current tests often ends with `Segmentation fault` during `napari/_qt/_tests/test_qt_notifications.py`

Doing bin search on git history I

[2021-05-10 02:35] #2678 closed, assigned to nobody

[2021-05-10 09:03] Czaki commented on #2682
I found that if I disable all tests from `test_progress.py` then the test passes without segfault.
Enable any of the tests ends with segfault in `test_qt_notifications.py` And based on the output of the debugger it looks like unprocessed events.

[2021-05-10 09:08] DragaDoncila commented on #2681
This also happens when warnings occur in threads not managed by `thread_worker` e.g. `dask` threads, as @jni  and I discovered today.

[2021-05-10 09:15] Czaki commented on #2681
Because problem comes generally from using thread.
EDIT

To call the method from the other thread the `invokeMethod` from `QMetaObject` could be used:
https://github.com/4DNucleome/PartSeg/blob/develop/package/PartSeg/common_backend/except_hook.py

[2021-05-10 12:26] tlambert03 commented on #2682
That's super useful information @Czaki!  Thanks so much for digging.  I'll try to take a closer look at that soon if you haven't already fully solved it.

[2021-05-10 12:37] Czaki commented on #2682
I partially solved it. The problem is caused by attaching ProgressBar to the viewer which is not shown. There are a set of actions that are waiting to perform, but before executing them, the viewer was destroyed, and events are still waiting on the execution queue. Then, in the next tests, Qt try to perform these events, but objects were already destroyed.

If you have time, you could start from t

[2021-05-10 13:32] tlambert03 opened #2686 "Direct plugin-reader selection by extension"
## 🚀 Feature
It should be possible, from the gui and from code, for a user to say "I always want files with this extension to be opened with this plugin".  This is different than the plugin call order, Since you may want plugin A to "generally have priority", but plugin B to get to jump to the front for a specific extension.  In the case where both A and B read that extension, this isn't currently

[2021-05-10 14:25] goanpeca commented on #2686
@tlambert03 for the preferences I have already an idea in mind. Wanna work on the plugin manager side? I can also work on that. The pointers should be enough :)

Or list of extensions correct?

[2021-05-10 14:29] tlambert03 commented on #2686
I guess I was thinking the map would be
[code]

rather than:
[code]

since that would be easier to search in [`plugins.io.read_data_with_plugins`](https://github.com/napari/napari/blob/bfefb6056af4078d75147f3c08a17691498828e0/napari/plugins/io.py#L16)

[2021-05-10 14:31] ViktorvdValk commented on #2686
The availability of the imageio package is also relevant here, since reading an image when imageio is installed will return only the pixel data to the reader, so the metadata is lost. Could we somehow disable the use of imageio and directly return the image including metadata to a reader plugin?

[2021-05-10 14:31] tlambert03 commented on #2686
in the GUI though, it would be reasonable to let someone provide a list of extensions for which they always want to use "plugin x" ... but internally, I think we might want to convert that to the first representation.

[2021-05-10 14:35] tlambert03 commented on #2686
`imageio` will always be installed since it forms the basis of the `builtin` reader.  And the `builtin` reader doesn't try to parse metadata (that itself may be a future feature).  but I was imagining here that you'd just be able to avoid ever falling back to the builtin plugin for a given extension, and select the plugin you know gives you the metadata as you like it with

[code]

would that work

[2021-05-10 14:39] ViktorvdValk commented on #2686
Yes, I would say this would work @thewtex

[2021-05-10 14:50] goanpeca commented on #2686
Ok, thanks for clarifying that. Sounds good :)

Will put it on my bucket unless you beat me to it.

[2021-05-10 15:01] tlambert03 commented on #2686
I like the breakdown you [proposed](https://github.com/napari/napari/issues/2686#issuecomment-836766395).  You can assume that the gui should read/modify a dict like that somewhere on `plugin_manager` (we can decide exactly where later).  And I'll make sure that such a dict controls behavior of the read process 👍

[2021-05-10 16:18] sofroniewn commented on #2676
Need to wrap my head around this one, sorry - will think on it and get back to you!!

[2021-05-10 16:41] tlambert03 commented on #2681
Thanks @haesleinhuepf. relatively easy fix in #2688

[2021-05-10 16:50] tlambert03 commented on #2676
no hurry.  it's there if we want it :)  let me know if my explanation needs improving

[2021-05-10 20:20] goanpeca opened #2690 "Task: Investigate trans strings check scripts to revert using split shorter strings"
## 🧰  Task

- https://github.com/asottile/pyupgrade/tree/master/pyupgrade
- https://redbaron.readthedocs.io/en/latest/
- https://greentreesnakes.readthedocs.io/en/latest/

[2021-05-10 22:02] #2681 closed, assigned to nobody

[2021-05-10 22:57] goanpeca opened #2691 "Move buttons in layers list controls and other controls to use QToolBar and QActions"
## 🚀 Feature

Currently buttons are manually added to different controls in napari, (layers et all). Custom buttons are also created for each on of these buttons to be able to style them.

With the work from the action manager and the corresponding ability to create QActions from it, we could use QToolBars and add actions to them to handle buttons inside layer controls.

This would allow to simpli

[2021-05-10 23:02] goanpeca opened #2692 "Cross platform napari 1-click installer"
## 🚀 Feature

Add a 1-click installer that works on all supported platforms.

## Motivation

Provide access to users that are not python but still want to use napari :)

## Pitch

The project https://github.com/conda/constructor could be integrated to do this. Because of the way conda works, it would make sense to use this tool, and provide on top of it:

- Integrate installer with mamba for fast

[2021-05-10 23:08] goanpeca opened #2693 "Update plugin manager to use conda"
## 🚀 Feature

Allow the plugin manager to install packages from conda (maybe exclusively?) for the 1-click installer

## Motivation

The current plugin manager installs plugins using pip. Some plugin developers might/will need to use some packages that fall out of the scope of the python and the pypi packaging ecosystem. Conda excels on this front and will provide an "easier" way to provide access

[2021-05-10 23:35] goanpeca opened #2694 "Thread worker segfaults"
See: https://github.com/napari/napari/issues/2681#issuecomment-836439812

---

From https://github.com/napari/napari/pull/2688#issuecomment-837377129

For error, I got the only text in the terminal. No dialog appears.

[code]

From the theoretical point of view, I also do not see moments when errors and warnings are moved to the main thread. If I'm wrong, then please point me where this informatio

[2021-05-10 23:41] goanpeca commented on #2694
Thanks for the example @Czaki, will let you know what I find :)

[2021-05-10 23:55] uschmidt83 commented on #2354
Sorry, I'm still having an issue when I additionally set `edge_width` (napari 0.4.8rc2, magicgui 0.2.8.dev11+g260f63e):

[code]

[code]

[2021-05-11 00:01] sofroniewn commented on #2354
@DragaDoncila can you check this out again?

[2021-05-11 00:02] DragaDoncila commented on #2354
@sofroniewn on it now

[2021-05-11 02:49] #2354 closed, assigned to nobody

[2021-05-11 07:24] haesleinhuepf opened #2698 "Documentation of events"
## 📚 Documentation
Hi all,

I just went through the documentation of events:
https://napari.org/guides/stable/connecting_events.html

There are some aspects I would love to read there as well:
* Events of the napari viewer, e.g. when it's closed.
* Event when the user navigates to another timepoint or z-slice
* Event when data in a layer was updated

If you tell me how to do this, I'll write the d

[2021-05-11 09:50] jni commented on #2698
- when it's closed: don't think this exists as an event. Others might correct me here though.
- when the user navigates to another slice: `viewer.dims.events.current_step`, see example usage [here](https://github.com/napari/napari/blob/87a61fb420c7b9f479433f7e5e4bc2378817d17e/examples/points-over-time.py#L33-L35).
- when the data in a layer was updated: `layer.events.data`. This is *not* always re

[2021-05-11 09:56] jni commented on #2691
@goanpeca could you provide some examples here and/or at the dev meeting? I'm curious about this and how much QToolBars might limit our design options, if at all. But, having spent some time moving a control around recently, I am in general totally in favour of something that reduces our boilerplate. I think it's a real barrier for new contributors, and because of it we have a bunch of features th

[2021-05-11 12:48] tlambert03 commented on #2698
totally agree... the need for a table of available events has come up a number of times before.

that would be amazing... and I can help.  Rather than focus on these three (useful, but somewhat arbitrary) events, I think we need a full table, like:

| class  | event | accessible at | description | emits |
| ----- | ------ |---------------|------------|------|
| `Dims`  | current_step | `viewer.dim

[2021-05-11 13:26] goanpeca commented on #2691
Sure thing @jni. I can (maybe) prepare a small POC for the meeting.

A toolbar is just another widget so it can be added inside a layout like any other widget, QActions are added to toolbars and will automatically be transformed to a QToolButton and take all the information the QAction provides. Toolbars also accept a widget so anything that is not a button can also be added. The real power of QAc

[2021-05-11 13:49] goanpeca commented on #2698
@tlambert03 would it help to try to self document to use `Event` when creating emitter groups and pass a `description="Some description"` to it?

Similar to how using pydantic we use `some_field : Type = Field(None, description="Some description", title="Some title")`

Seems like most of this could be fully automated as you stated in #1389

[2021-05-11 13:50] tlambert03 commented on #2698
yeah, def.  That's a great idea

[2021-05-11 14:16] tlambert03 commented on #2698
actually... the majority of our events _are_ generated from pydantic `Fields` ... so we can literally use that!

[2021-05-11 15:31] tlambert03 commented on #2698
Ok, looking into this a bit more, I think maybe the best place to start _is_ just a markdown table that we can populate.  It will be the easiest way to have people help us document this.  Once that table is populated, we can put it in the source code as `Field` descriptions.  It's a little complicated at the moment, since some of our events are autogenerated by `EventedModel`, but `Layers` aren't

[2021-05-11 15:44] haesleinhuepf opened #2699 "Installation instructions not working on Windows"
## 📚 Documentation
Hi all,

I just realized that the installation instructions on the napari.org starting page are like this:
[code]
This doesn't work on Windows.
![image](https://user-images.githubusercontent.com/12660498/117844766-3e8e4000-b280-11eb-8d9a-3a4b5bb4c9bc.png)

On Windows, you need to call
[code]

Does the second version maybe also work on Mac and Linux?

[2021-05-11 15:48] goanpeca commented on #2699
@haesleinhuepf thank for the report.

On Mac, since the new terminal uses zsh (or on linux using zsh) by default it will not work.

Question: does using double quotes work on windows?

`pip install "napari[all]"`

?

[2021-05-11 16:18] goanpeca opened #2700 "Enable shortcut storage in settings"
## 🚀 Feature

Add support to persist user shortcuts in settings.

## Motivation

Allow users to customize the napari experience.

## Pitch

Make the action manager load the shortcuts from the settings and create a file to store the default shortcuts tied to the corresponding actions names.

Maybe create `Enums` to store all the actions that are provided by different components in napari so we can

[2021-05-11 16:30] haesleinhuepf commented on #2699
This works on Windows! :-)

[2021-05-11 16:36] Czaki commented on #2336
Any update?
It is annoying that I cannot have different settings for different environments. For this environment, I have a different set of plugins or sometimes different versions of napari inside.

[2021-05-11 16:40] goanpeca commented on #2699
Will update the docs to use `""` then :)

Thanks˜

[2021-05-11 16:45] haesleinhuepf commented on #2699
Thanks for the quick response! :-)

[2021-05-11 16:50] goanpeca commented on #2699
Thank you for the help :)

[2021-05-11 18:59] goanpeca commented on #2336
Hi @Czaki , no updates, however I do not see any mention of different environments on your initial comments, could please you elaborate?

Thanks :)

[2021-05-11 20:28] Czaki commented on #2336
To increase reproducibility of my work I create separate environment for each project. Then I could simple go back to project without verifying if something was deprecated in libraries and I could run old scripts. This simplify responding to reviewers, etc.

This works well, but I'm worry about projects which using napari.  If I could specify custom save path then I could store settings in selecte

[2021-05-11 20:36] goanpeca commented on #2336
Thanks for the explanation. I think we could have settings stored per environment (are we talking conda? virtualenv?) or maybe just use the current working directory.

What do other @napari/core-devs think?

[2021-05-11 20:40] Czaki commented on #2336
I suggest to add cli options to control this. Storing in venv may be unstable. Working dir is also a bad idea for me.

[2021-05-11 20:42] goanpeca commented on #2336
Indeed.

What I mean is that a project (we do not have that concept in napari yet) might be a folder with the files you need plus the scripts plus `requirements.txt`.

So storing settings in there (where maybe also the information to create the environment lives) would provide a single place/bundle that could be nice.

[2021-05-11 21:14] Czaki commented on #2336
I do not have proper definition of project. Most often it is git repository, but sometimes I have sub repositories.
But it is not rule allways.

I separate projects by using different python environments (managed by pyenv mostly). But time to time I remove environment and build from scratch. For example when bump python version. But not want to lost saved settings in such scenario.

Because of thi

[2021-05-12 00:09] DragaDoncila commented on #2694
@goanpeca thanks for looking into this. Here's a minimal example to show my use-case, using dask.

[code]

This exhibits the same behaviour as highlighted by @Czaki with his example, since it's all just variations on using threads not explicitly managed by our `thread_worker`.

[2021-05-12 00:12] goanpeca commented on #2694
Thanks @DragaDoncila :) this definitely helps a lot!

[2021-05-12 00:18] #2699 closed, assigned to goanpeca

[2021-05-12 15:53] haesleinhuepf commented on #2166
Hi all,

I just had a similar request from my students. It would be cool to have a right-click menu on layers (because not everyone likes using short-cuts) with actions such as:
* Make all layers above invisible
* Make all layers invisible but this

[2021-05-12 16:41] sofroniewn commented on #2166
I believe @tlambert03 has begun work on this here #2556!!

[2021-05-12 19:29] andy-sweet opened #2704 "Add documentation note for installation/setup workaround on macOS Big Sur"
## 📚 Documentation

I recently set up a developer/contributor environment for napari on an Intel Macbook Pro with Big Sur. I ran into the VisPy/OpenGL dependency issue that has been described in a few issues (e.g. #1393, #2485) and in a few forum posts (e.g. [image.sc](https://forum.image.sc/t/napari-issues-on-bigsur/52630/9), [zulip](https://napari.zulipchat.com/#narrow/stream/212875-general/topi

[2021-05-12 21:41] sofroniewn commented on #2704
Agreed @andy-sweet - I'd probably say https://github.com/napari/napari.github.io/blob/master/tutorials/fundamentals/installation.md#installation is the best place for this, it will appear on our website here. https://napari.org/tutorials/fundamentals/installation.html#installation

If you wanted to write something up and make a PR on that other repo that would be great!!

[2021-05-12 22:10] #2694 closed, assigned to goanpeca

[2021-05-12 22:17] goanpeca commented on #2704
Also here https://napari.org/docs/dev/developers/contributing.html maybe?

[2021-05-12 22:20] sofroniewn commented on #2704
Maybe in contributing guide we just add link to installation tutorial - "... if case you have problems, you might want to read our installation tutorial ..." but just keep the 3.9 details in one place?

[2021-05-12 22:24] goanpeca commented on #2704
The thing is that a dev environment is different from a user environment

For example one could do (I do this)

[code]

A user would just do

[code]

[2021-05-13 05:13] jni opened #2706 "Tracks layer broken"
## 🐛 Bug

It appears that the Tracks layer is missing a `new_layer.svg` icon in `napari/resources/icons/`. Since #2493 the tracks layer has been broken (doesn't show on the layer list), and since #2633 the error surfaces so the tracks layer never gets built. I have confirmed that rebasing #2633 on top of #2493 is sufficient to recreate the error on master.

Additionally, the fix is as simple as cr

[2021-05-13 15:45] #2706 closed, assigned to nobody

[2021-05-13 16:14] haesleinhuepf opened #2710 "Bug in 0.4.8rc3 'QFontMetrics' object has no attribute 'horizontalAdvance':"
## 🐛 Bug

Hi all,

I'm observing a bug and I'm pretty sure it is new in 0.4.8rc3. I'm just confused because I can't find the affected line of code in the current main/master code base. It's [this line](https://github.com/napari/napari/commit/eeb9fbbc8f73577a303520970acb4c3ec75f2f8c#diff-c07bf21b19dc7cab6f4d842b5f5fd2ac89b7f00ce6b26aa46fb632a5f36b5953R157) which was recently added.

First, there co

[2021-05-13 16:23] tlambert03 commented on #2710
PyQt5: 5.9.2

try building a new environment.  You  have an unsupported version of Qt.  I suspect you installed into an existing environment that had an older version of Qt, likely installed by conda, and maybe pip installed a newer version that isn't gettin used?  (let's see the output of your `conda list`?)

[`QtFontMetrics.horizontalAdvance`](https://doc.qt.io/qt-5/qfontmetrics.html#horizontalA

[2021-05-13 16:27] haesleinhuepf commented on #2710
I just checked: The error does not appear in 0.4.7, but appears in 0.4.8rc1 and 0.4.8rc2, 0.4.8rc3 and current main/master. I was working in the conda environment installed by the command suggested [here](https://forum.image.sc/t/napari-issues-on-bigsur/52630/9) (but on Windows). So yes, it came via conda. :-)

Is it possible to prevent conda installing this old qt?

[code]

[2021-05-13 16:34] haesleinhuepf commented on #2710
Ok, confirmed. This works. However, I'm really wondering where this old qt comes from. I see it frequently...

Thanks for the quick reply! :-)

[2021-05-13 16:34] #2710 closed, assigned to nobody

[2021-05-13 16:34] tlambert03 commented on #2710
yes, that's true... but it's kind of more "luck" that it worked in 0.4.7... since (as the warning indicated), we don't actually support Qt 5.9.  If it's not this release that breaks the lingering fact that it happened to work, it's going to be another one soon.

are you certain you didn't conda install other things into that environment before/afterwards (i.e. beyond the command suggested there)

[2021-05-13 16:36] tlambert03 commented on #2710
@goanpeca might have a good idea about this... Do you know which commonly installed conda packages still bring in Qt 5.9?

[2021-05-13 16:37] haesleinhuepf commented on #2710
I typically install pyopencl, napari, jupyter notebook and  napari-pyclesperant-assistant via pip (which comes with pandas, scikit-image and more stuff) but nothing obviously qt-dependent...

[2021-05-13 16:39] tlambert03 commented on #2710
I suspect it's probably in the notebook stack somewhere... @goanpeca ?

[2021-05-13 16:49] haesleinhuepf commented on #2710
Great hint! I can confirm this comes to an empty environment when installing jupyter notebook (see below)

Conda appears to have no more recent version than 5.9.7...

https://anaconda.org/anaconda/qt

And `pip install qt` doesn't work...

How can one upgrade this?

![image](https://user-images.githubusercontent.com/12660498/118157428-d758c300-b41a-11eb-8dde-df1ad46def58.png)

![image](https://user

[2021-05-13 16:50] tlambert03 commented on #2710
can you show me the output of your `conda info`

[2021-05-13 16:51] haesleinhuepf commented on #2710
Sure!

[code]

[2021-05-13 16:59] tlambert03 commented on #2710
yeah, ok... I think this has to do with `conda-forge` vs the default channels, and it also relates to the little bolded "important" side note in that [comment on image.sc](https://forum.image.sc/t/napari-issues-on-bigsur/52630/10?u=talley).

1. you don't have conda-forge in your default channels (the "channels URLs list)... so, as that linked comment above is saying, it will _only_ be used if you

[2021-05-13 17:01] haesleinhuepf commented on #2710
Ahhhh, that's a great hint! I was for longer wondering why I need `-c conda-forge`. Thanks!

[2021-05-13 19:22] trebconnell commented on #1545
I believe I hit the same issue.  But have a minimal repro that may be useful when resolving.  If the image is viewed initially with constrained contrast_limits it visualizes nicely.  If the contrast_limits are changed in the UI then results are not ideal.

To reproduce run following code with napari 0.4.7 and change contrast limits to 0-150 in UI.  As shown in image below.:
[code]

Result via chan

[2021-05-13 20:01] trebconnell commented on #1545
I found a workaround.  Can apply Reset View (ctrl+r) after setting the contrast limits in the UI.

[2021-05-13 20:55] tlambert03 commented on #1545
ah interesting... this is an issue with the vispy rendering with big changes in contrast limits.
It's not actually directly connected to whether the clims are changed in the UI or via code... it has more to do with hitting that clims of (0, 10000), and the image texture not "coming back".  Will need to dig in more later, but here's an example of "rescuing" that first example:

[code]

thanks for t

[2021-05-13 22:48] sofroniewn commented on #2370
Bump for next sprint, we might want to work on this cc @goanpeca @ppwadhwa

[2021-05-13 22:50] sofroniewn opened #2712 "Move NAPARI_OCTREE and NAPARI_ASYNC to settings"
## 🚀 Feature
We should move the current NAPARI_OCTREE and NAPARI_ASYNC env vars to our settings. Adjusting these may require restarts.

They will probably go in an experimental/ developer section. We should also merge in the custom config stuff that was done for async into our settings

[2021-05-13 22:54] goanpeca commented on #2370
Yes. I could not get a solution that made me happy 🤣.

Need to revisit

[2021-05-13 23:15] Carreau opened #2713 "Dragging shapes drags canvas (sometimes)"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

(will edit later am in a meeting and just want to have areminder)

$ python examples/add_image_transformed.py
create label layer,
create shapes layer
create multiple ellipses
copy one ellipse,
past it
go to select mode,
drag past ellipse.

Canvas drags with it:

![flash](https://user-images.githubusercontent.com/335567/118198666-352ee000

[2021-05-14 00:34] Carreau commented on #2713
Bisected to #2441

Seem like `viewer.camera.interactive` is reset to True on Ctrl-C/Ctrl-V

[2021-05-14 00:38] Carreau opened #2714 "Label layer, Cmd/Ctrl to toggle eraser does not toggle back when layer list in focus."
## 🐛 Bug

See attached gif, where I :
- Select Canvas
- press and release Cmd
- (tools briefly goes to eraser while cmd pressed)
- Select Layer list
- press and release Cmd
- Tools select erase and _stay_ on eraser.

(maybe hard to see because of how the gif loops)

![toggle](https://user-images.githubusercontent.com/335567/118203954-fef75d80-b411-11eb-8119-f11ed01515f5.gif)

Bug exists since at l

[2021-05-14 01:06] jni commented on #2713
A little bit more background from the interactive discussion after the meeting: the labels layer has a bunch of extra "modifier shortcuts", including "temporarily switch to fill mode while holding Ctrl". Somehow, hitting Ctrl while in the shapes layer is getting passed through to the labels layer as the modifier (bad point 1), and then the on-release shortcut is switching `viewer.camera.interactiv

[2021-05-14 01:10] jni commented on #2713
A shorter reproducer:

[code]

Then:
- drag (nothing bad happens, just get the selection box)
- press and release Ctrl
- drag again — now dragging moves the camera.

[2021-05-14 15:46] sofroniewn commented on #2713
Ok if you look at
[code]
you can see that right now it looks like we're accumulating layers inside our `keymap_providers` but we should be adding/ removing the active one each time it is changing, see https://github.com/napari/napari/blob/master/napari/_qt/qt_viewer.py#L382-L399

I would have expected that list to always be length 2, just the viewer and active layer. Now it has all the layers. Thi

[2021-05-14 20:38] Czaki opened #2717 "Global objects objectives"
## Motivation
Observing and debugging problems with the new (0.4.8) napari release I found few symptoms which I already met earlier. I would like to share what may produce multiple bugs in the future and How I think it could be solved.

### Thread safety
Base on my knowledge any of the global objects in napari has thread-safe implementation.
The main problem with thread bugs is that they are hard

[2021-05-14 20:44] Czaki commented on #2717
I think that after #2703 there is no need for NotificationManager to be a global object.

[2021-05-15 17:25] #2676 closed, assigned to nobody

[2021-05-15 17:29] sofroniewn commented on #2713
Ok the problem is #2441 also removed `QtViewer._active_layer` here which was needed. I can fix now. It's probably a bad pattern that should change, but I think I can fix bug

[2021-05-16 00:26] tlambert03 commented on #2713
away from computer for the next day or so.  Will look when back

[2021-05-16 02:30] DragaDoncila opened #2724 "Playing movie doesn't work for `zarr` and `dask` multiscale layers"
## 🐛 Bug

When clicking the play button for a 3D+ multiscale layer whose data is `zarr` or `dask` arrays, the slider moves one frame and then playing stops.

When I did a git bisect I narrowed it down to #1951 commit 6f28b00.

## To Reproduce

[code]

## Expected behavior

Movie plays as normal.

## Environment

[code]

[2021-05-17 06:16] jni opened #2725 "Curated but searchable/extensible dropdown menus"
If you don't mind me popping in here, I'd like to table an alternative approach that came to mind when reading the motivating issue for this PR. It may be applicable/better suited to other scenarios.

Simplifying the drop-list is a good idea, but it doesn't necessarily require removing GUI access to the full suite. A '...' option could be appended to the menu - clicking this would present any rema

[2021-05-17 06:17] jni commented on #2725
An interesting idea @ambientnuance! In the past we have discussed searchable comboboxes where you could search more than what is displayed by default, e.g. so you could search for any matplotlib colormap, not just the ones we have pre-selected. I think @Czaki had done some work with that, but I can't find a reference to that code.

Let's keep the discussion in this new issue rather than in a merge

[2021-05-17 06:49] Czaki commented on #2725
If I good remember the option of search is not included in the final version of PR.

Here is a sample implementation of the searchable combo box https://github.com/4DNucleome/PartSeg/blob/2129d17b53a0609d7e39c3af3750e6c1a23a7b86/package/PartSeg/common_gui/searchable_combo_box.py I'm not sure if it could be easy extended to requested version but it may help you.

[2021-05-17 10:03] tanguyduval commented on #1545
Thank you for digging this issue out! It seems like a different issue to me. I tried ctrl+R or rebuilding the texture and it did not work (napari 0.4.7).

I realized that my examples were not very clean.

Here how to reproduce the issue for uint16 images:
1. open napari
2. in the napari ipython terminal:
[code]
 image is black...

I found a different but similar issue with float images:
1. open na

[2021-05-17 13:45] ambientnuance commented on #2725
Thanks for opening the new issue @jni, and @Czaki for the sample code.

Here is a modification demonstrating the expand/collapse drop-down list.

[code]

Appreciation also to Fahmida Yesmin for their combo box article demonstrating a wrapper widget: https://linuxhint.com/use-pyqt-qcombobox/

[2021-05-17 14:14] tlambert03 commented on #2725
I'd certainly be happy to have a widget like this in the repo.  I'm still not too concerned about the interpolation case specifically: since that interpolation option is controlling a _purely_ visual thing.  That is, if people could actually _use_ the interpolated image for analysis, I'd be more interested in the subtle differences between the various interpolation modes...

but that's sort of bes

[2021-05-17 16:14] #2713 closed, assigned to nobody

[2021-05-17 17:51] andy-sweet opened #2727 "Line numbers are vertically misaligned with code"
## 📚 Documentation

In the [threading guide](https://github.com/napari/napari/blob/master/docs/guides/threading.md), we specify `linenos: true` in the code-block directive.

On my MacBook Pro (model version 16,2; macOS 11.3.1) on Chrome (Version 90.0.4430.212 (Official Build) (x86_64)), the line numbers of lines in the code block are vertically misaligned, which makes the later line references dif

[2021-05-17 17:53] tlambert03 commented on #2727
Thanks @andy-sweet
We can just remove that if it's not consistent.

I agree, it's kinda worse than not having it

[2021-05-17 18:04] andy-sweet commented on #2727
@tlambert03 In that case, I guess we should also remove the line number references in the text too, right?

Note that some of the line number references in the screenshot are actually out of sync (possibly due to this bug) and need fixing, so removing them also removes some current and future maintenance burden.

[2021-05-17 19:17] tlambert03 commented on #2727
yep! fine with me.

[2021-05-17 23:23] sofroniewn commented on #2725
Hi @ambientnuance, great to see you here after PyCon!

I think a general purpose widget like this would be great. We can start with a contribution here, though I'm wondering long term if we might pull it out to be it's own thing (like we're doing with our range slider and https://github.com/tlambert03/QtRangeSlider)

There might be some ideas in https://github.com/napari/napari/issues/268 that are

[2021-05-18 01:56] JoOkuma opened #2729 "Documenting how to get button information from MouseEvent"
## 📚 Documentation

The information of how to get which button generated the event can be found [here](https://vispy.org/api/vispy.app.canvas.html?highlight=mouseevent#vispy.app.canvas.MouseEvent)

And here is an example using napari:

[code]

[2021-05-18 03:05] sofroniewn commented on #2729
We might also want to consider using our own napari mouse event that would give us additional control over what aspects of this event are available

[2021-05-18 04:13] goanpeca commented on #139
It seems this will no longer be pursued? Could we close it @sofroniewn, @kne42 ?

[2021-05-18 04:14] goanpeca commented on #1564
It seems some part of this ideas has been already implemented. Could we close this @sofroniewn ?

[2021-05-18 04:22] sofroniewn commented on #139
Yes, we can close this as we won't be following this approach

[2021-05-18 04:22] #139 closed, assigned to nobody

[2021-05-18 04:22] sofroniewn commented on #1564
Yes, we've decided to go with this approach in places, I will close now

[2021-05-18 04:22] #1564 closed, assigned to nobody

[2021-05-18 09:23] adamltyson opened #2730 "High memory usage - labels layers with high max values"
## 🐛 Bug
When viewing a labels layer with very high values (e.g. >10e7), there's a spike in memory usage (in `0.4.8rc6`). This often crashes napari.

Presumably linked to #2723, this only happens when (I assume) the lookup isn't computed when the layer is loaded. If `array[0]` contains these high values, it works fine, but if not, the memory spike occurs when trying to view them (see example).

##

[2021-05-18 09:37] jni commented on #2730
*sigh* thanks @adamltyson! @DragaDoncila and I tried to account for this case, but it must have slipped through somehow.

The code logic is here

https://github.com/napari/napari/blob/5116021e1a1ea96176560f2880f1369134d4ba5b/napari/layers/labels/labels.py#L763-L776

basically, if we encounter a new value that is bigger than the lookup array, we set the lookup function again, and *in theory* it sho

[2021-05-18 09:44] jni commented on #2730
sorry, the setting on the UI is "show selected", on the API it's `labels_layer.show_selected_label`:

https://github.com/napari/napari/blob/5116021e1a1ea96176560f2880f1369134d4ba5b/napari/layers/labels/labels.py#L849-L858

It also looks like using direct color mode will also explode the memory. :facepalm:

[2021-05-18 10:20] adamltyson commented on #2730
Hi @jni, nope I'm not touching `labels_layer.show_selected_label`. The example above reproduces the issue, but our normal use case is [here](https://github.com/brainglobe/brainglobe-napari-io/blob/1eb4b2038dc79886fda507ae38c415af93f41c45/brainglobe_napari_io/brainreg/reader_dir.py#L85).

[2021-05-18 11:11] Remote-Radical opened #2731 "Napari crashes at launch following update 0.4.5 -> 0.4.6 and onward on specific system only"
## 🐛 Bug

With everything else being constant, updating napari from version 0.4.5 to 0.4.6 results in the GUI hanging up and crashing python. White, unresponsive window appears which needs to be terminated. Reproducing the conda environment on a different computer results in napari functioning correctly.

## To Reproduce

- I have set up minimal examples for each installation, which included compl

[2021-05-18 11:39] Remote-Radical commented on #2731
Update: In the process of experimenting with enabling/disabling the second screen, the napari GUI application which was a white, unresponsive screen suddenly recovered and became functional. It appears that launching the application on a second screen has been the cause of napari creating a non-responsive window. More experimentation is needed to determine the nature of the bug. This thread can no

[2021-05-18 11:39] #2731 closed, assigned to nobody

[2021-05-18 11:52] Remote-Radical opened #2732 "Napari >0.4.5 window non-responsive if created on non-primary display."
## 🐛 Bug

Starting from version 0.4.6 launching napari will result in white, unresponsive window, if created on secondary display.
This is certainly tied to the the ability to save window position, which was introduced in 0.4.6.
It could also be linked to the case of the secondary screen being in portrait orientation.
EDIT: Issue is identical, regardless of screen orientation

## To Reproduce

Ste

[2021-05-18 11:57] Czaki commented on #2730
In my case to reproduce bug I need to change the layer using a slider.

[2021-05-18 12:02] tlambert03 commented on #2731
thanks for investigating!

[2021-05-18 12:03] adamltyson commented on #2730
Sorry, yes I forgot that bit. The memory spike happens when trying to view the part of the layer with the high values.

[2021-05-18 13:04] alisterburt commented on #2725
@ambientnuance this is awesome! Here's a quick video for all...
https://user-images.githubusercontent.com/7307488/118655301-536b5600-b7e1-11eb-8dda-921e800b267c.mp4

I second what @sofroniewn said about having this available as its own widget outside of napari too, it's generally useful!

[2021-05-18 15:39] JoOkuma opened #2733 "`Viewer.window.add_dock_widget` does not support list of `FunctionGui` from `magicgui`"
## 🐛 Bug

The `Viewer.window.add_dock_widget` expects a `Sequence` of `QWigets` or a single `FunctionGui`, it does not support a `Sequence` of `FunctionGui`, this possibly a bug from the changes of `magicgui v0.2`.

The programmer can circumvent this issue by sending the `FunctionGui.native` objects, but I'm not sure if this is the expected behavior.

## To Reproduce

Execute this code:

[code]

O

[2021-05-18 16:04] goanpeca commented on #2725
Since it seems we might have a few useful widgets coming in the future (beside the existing ones), would it make sense to have a package that bundles them? e.g. `napari-widgets` `napari-qtwidgets`

[2021-05-18 16:11] goanpeca commented on #2732
Hi @Remote-Radical, thanks for the report.

Could you double check this option?

While I get my hands on an external monitor I will check using ipad/iphone and see if I can reproduce it.

[2021-05-18 16:32] Remote-Radical commented on #2732
I have verified that the issue is identical regardless of display alignment and orientation.

[2021-05-18 16:34] goanpeca commented on #2732
Thanks :-)

[2021-05-18 18:30] Carreau opened #2736 "Backspace during Polygon Draw -> IndexError"
## 🐛 Bug

backspace during poly draw triggers IntdexError

## To Reproduce

Steps to reproduce the behavior:

1. open napari
2. create shape layer
3. start a polygo
4. press backspace
5. IndexError.

https://gist.github.com/Carreau/433c7871a6bd8a8bc2d0f390ae56de51

## Expected behavior

Don't trigger index Error

## Environment

Latest master

## Additional context

[2021-05-18 22:08] goanpeca commented on #137
With all the work taking place in napari-hub, is this still a concern @jni?

[2021-05-18 22:10] andy-sweet opened #2737 "Some napari code references are broken"
## 📚 Documentation

Some references to napari code are badly formatted. For example:

![Screen Shot 2021-05-18 at 2 09 35 PM](https://user-images.githubusercontent.com/2608297/118729668-2a4fc300-b7eb-11eb-9496-8fe9d02ad473.png)

In this case, I think that's because of a new line breaking up the reference. My guess is that an auto-formatter sees the space between `thread_worker` and `<` and decides

[2021-05-18 22:14] goanpeca commented on #2737
@Carreau do you have a suggestion on what should we use?

Also are any of the tools you are working on helpful in formatting these cases :) ?

[2021-05-19 01:50] #2733 closed, assigned to tlambert03

[2021-05-19 08:55] jni commented on #137
I had to do a double take on that issue number @goanpeca! 😂

Anyway, the answer is I don't know. Perhaps the issue should be transferred to that repo.

[2021-05-19 16:13] Czaki opened #2742 "Napari data model in contex of pararell computation"
## Motivation
Introducing parallel computation to napari allows getting responsive UI even with long and complex calculations. But it introduces additional problems which will be nice to be addressed in a short time.

Part of this problem was already addressed in #2717.
But concerns to read write problem https://en.wikipedia.org/wiki/Readers%E2%80%93writers_problem are also connected to `Layers` o

[2021-05-19 16:40] neuromusic commented on #137
Its worth noting that the napari community has refined its thinking on plugin distribution significantly in the 2+ years since this issue was created and PyPI is now the preferred means of plugin distribution.

Because of this decision by the napari community, the napari hub relies on pypi for the actual plugin and only looks to github for supplemental metadata, so I don't think specific concern i

[2021-05-19 16:43] neuromusic commented on #137
Which is to say... I think its safe to close this issue and creating a new issue on the hub repo is not necessary

[2021-05-19 17:45] 0x00b1 commented on #269
Hi, I started working on this today.

[2021-05-19 19:09] sofroniewn commented on #269
Awesome, not sure if you've been following this thread https://github.com/ome/ngff/issues/19, but would be great to make sure that whatever support we have in napari naturally pairs well with whatever the ngff folks decide around overlapping labels (and vice versa) cc @joshmoore

Feel free to ping in zulip if you have any questions/ run into any stumbling blocks

[2021-05-19 19:20] #2727 closed, assigned to andy-sweet

[2021-05-19 22:51] goanpeca commented on #1457
We could consider also suggesting using miniforge directly
https://github.com/conda-forge/miniforge

[2021-05-19 23:10] Czaki commented on #1457
It will be nice to have access to such a machine to debug and find a better way.

[2021-05-19 23:49] neuromusic opened #2744 ""Projects" for plugin compatibility and workflow reproducibility in the standalone app"
## 🚀 Feature

Enable users of the standalone app to maintain multiple computational environments and isolate them (as well as their plugins) from one another by offering "Projects".

## Motivation

Imagine the following scenario for a cell biology grad student. They start their PhD with project where they have installed 3 plugins into the napari standalone app to do their analysis. They submit the

[2021-05-20 00:24] pranathivemuri opened #2745 "Brush size caps at 40 when changing it via code but does not cap the same way when trying to set it via ipython console"
## 🐛 Bug
I have the below code in one of my programs when I run that the brush size is printed out as 40 which makes sense as https://github.com/napari/napari/blob/master/napari/_qt/layer_controls/qt_labels_controls.py#L415
but I would want the brush size to go over 40 pixels, so I tried to change it once the window opened with images. So, I set the brush_size with the same command in the ipython

[2021-05-20 00:34] sofroniewn commented on #2745
Ah yeah this relates to how we're currently doing our sliders and if an event triggers the slider which then does the clip. We might want to think of updating the max allowed value of the slider rather than clipping. Curious what others think?

[2021-05-20 02:44] #2724 closed, assigned to DragaDoncila

[2021-05-20 03:05] sofroniewn commented on #2105
@tlambert03 just curious do you monitor this issue? I always forget to look at it. We could close but then it will reopen, not sure if that's more/ less annoying. We've got quite a few fails these days too ...

[2021-05-20 03:07] sofroniewn commented on #6
@goanpeca @tlambert03 curious your thoughts on this. Is this something that still makes sense? Something we still want to do?

[2021-05-20 03:15] goanpeca commented on #6
I am fine with whatever the convention we decide on, it seems we are mostly using python usual convention even if it extends PyQt things 🤷🏼.

[2021-05-20 04:27] sofroniewn opened #2747 "Setting to force min / max of contrast limits to be the same magnitude"
## 🚀 Feature
I find myself sometimes looking at images where I'd like to force the cmin/ cmax to be the same magnitude (i.e. so clims are always centered on 0 as `(-c_max, c_max)`). Curious if others would find this useful, if we should make a setting for this.

[2021-05-20 11:30] tlambert03 commented on #6
Yeah, I would have stronger feelings if this were a public api.  Otherwise, not too terribly concerned

[2021-05-20 11:32] tlambert03 commented on #2105
Yeah the segfault fails are out of control... so no, I haven't been monitoring this either

[2021-05-20 13:22] Remote-Radical opened #2748 "layers.Shapes API documentation fails to explain color can be set based on Shapes.properties dictionary"
## 📚 Documentation

Current API documentation reads:
`face_color (str, array-like) – If string can be any color name recognized by vispy or hex value if starting with #. If array-like must be 1-dimensional array with 3 or 4 elements. If a list is supplied it must be the same length as the length of data and each element will be applied to each shape otherwise the same value will be used for all sh

[2021-05-20 14:43] jluethi opened #2749 "Napari notifications don't show up when napari is launched from jupyterlab"
## 🐛 Bug

When I launch napari from the command line, I see error messages and warnings pop up nicely in the napari interface as notifications. When I do the same with a napari viewer launched from a jupyterlab notebook, I only get error messages in the console that's running the jupyter notebook and warnings in the napari console (when opened) or below the jupyterlab cell that launched napari (wh

[2021-05-20 15:51] tlambert03 commented on #2749
Hi @jluethi,

that was by design, and is controlled by these lines here:
https://github.com/napari/napari/blob/3c7cb3af367edac361baf4a7e25d929a02f6e99f/napari/_qt/qt_event_loop.py#L156-L162

... and the fact that we only "install" our notification_manager if we're not running in IPython, here:
https://github.com/napari/napari/blob/3c7cb3af367edac361baf4a7e25d929a02f6e99f/napari/_qt/qt_event_loop.p

[2021-05-20 16:06] goanpeca commented on #2747
@sofroniewn is this something that would be a thing that could be switched quickly from the layer controls? or is this something that should be automatically calculated from this setting you mention?

[2021-05-20 16:07] jluethi commented on #2749
Hmm, ok, I understand the thinking.

Would it be possible for me as the plugin developer to send something directly to napari notification manager instead?
I can understand wanting warnings generally in the IPython console. But sometimes the user may not notice the messages in the console/in the jupyterlab notebook. If I can directly send some warnings to the notification manager, that would allow

[2021-05-20 16:13] tlambert03 commented on #2749
yeah, I get the desired behavior.  makes sense.

yeah, try `napari.utils.notifications.show_info`:

[code]

... a relatively simple feature addition would be to add a couple helper functions there to show error and warnings as well based on a string message)

[2021-05-20 16:14] goanpeca commented on #6
So, from the code I have worked on, it seems the convention is, we used python conventions everywhere, unless we need to override a method.

So maybe we would need to (eventually) update some method names from camelcase to python case and some signal names.

I suggest we update docs to inform and settle that any code moving forward should follow python conventions unless we do overrides (methods,

[2021-05-20 16:23] sofroniewn commented on #6
This seems like a reasonable approach. I was actually just looking through our [contributing guide](https://github.com/napari/napari/blob/master/docs/developers/contributing.md) and couldn't find any section on qtpy/ qt at all. We have some stuff about PySide2/ PyQt5 in our installation instructions https://napari.org/index.html?highlight=pyside2#from-source, but maybe we just add a small section

[2021-05-20 16:29] sofroniewn commented on #2747
It would have to be a setting or a flag somewhere, potentially in the Image constructor, as I think of wanting to enforce this behaviour only when viewing data of a certain type (that has some symmetry/ normalization around 0).

I just find myself often writing code like

[code]

but then want to keep adjusting clims keeping them in sync

so

[code]

would be nice, but as this expands the API we s

[2021-05-20 16:34] sofroniewn commented on #2747
Note this is most useful for symmetric colormaps like `PiYG` - for a specific use case you can look at these wave simulations be oscillate between +/- 1, and where is is nice to have 0 background be white (so symmetric contrast limits are useful)

https://user-images.githubusercontent.com/6531703/119016146-75ceb200-b94e-11eb-9962-9313d88cb35d.mov

[2021-05-20 16:39] sofroniewn commented on #2748
Hi @Remote-Radical thanks for flagging that, sorry it's gotten out of date. Do you want to take a pass at fixing that doc string, we'd be happy to review a PR. @kevinyamauchi can also help you out here too i think!!

[2021-05-20 16:42] goanpeca commented on #2747
If this is tied to specific colormaps, then the setting would be to always make them symmetric (or not) if using a symmetric colormap? Would this then be something colormaps should expose as a property (symmetry?)

[2021-05-20 16:54] sofroniewn commented on #2747
Interesting idea, quite possibly!! It would make sense to me. I'd never use something like `PiYG` without wanting it centered on zero .... so could be a good approach. Curious what others think

[2021-05-20 16:55] Remote-Radical commented on #2748
Hi @sofroniewn. Thanks for the invitation to contribute, I'll be happy to, but I need to first become more acquainted with git and pull requests.

[2021-05-20 16:57] tlambert03 commented on #2747
fwiw, with the qtrangeslider, if you hold down option when scrolling the mouse wheel, it changes the range/contrast around the middle point ... which would have the desired effect here (albeit, without imposing it at the model level)

[2021-05-20 16:59] jluethi commented on #2749
Ah, that's neat. Thanks a lot @tlambert03 ! That works well for me to inform the user interactively in the plugin!

I wrote a small wrapper for my plugin:
[code]

When I use it that way, I get the actual warning but also a message in the interface if it's run in IPython. The only fun part is that whenever I use `show_info(message)`, the jupyterlab gets the word `Notification` (without details of t

[2021-05-20 17:01] sofroniewn commented on #2747
that's cool, good to know, definitely helpful if data is already centered!!

[2021-05-20 17:03] sofroniewn commented on #2748
That's great, you might want to start reading our [contributing guide](https://napari.org/developers/contributing.html). Documentation fixes are often the best first PRs to make to a project, and we're happy to help you through the process. Welcome aboard 🚀

[2021-05-20 17:09] #137 closed, assigned to nobody

[2021-05-20 17:14] tlambert03 commented on #2749
maybe use this instead:
[code]

[2021-05-20 17:19] jluethi commented on #2749
Neat, that works beautifully. Thanks a lot for the explanation and the help! Issue solved then!

[2021-05-20 17:19] #2749 closed, assigned to nobody

[2021-05-20 18:17] tlambert03 opened #2751 "Aspiration: Add mypy typing checks"
## 🚀 Feature:  add typing checks to codebase

@goanpeca observed (in conversation recently) that running `mypy` on the codebase surfaces hundreds (thousands?) of warnings with the default config.  No doubt, many of these are things that we'd be "ok" with (i.e. things that either just need slight updates to our type annotations, or subtle limitations of mypy itself), but probably quite a few of tho

[2021-05-21 09:13] jni opened #2755 "Creating properties *after* creating a points layer results in an inconsistent state"
## 🐛 Bug

When properties are added *after* a points layer has been created (rather than at creation time), the `.current_properties` attribute is not properly initialized, so switching the face color mode causes a KeyError in that dictionary.

## To Reproduce

[code]

which causes:

[code]

## Expected behavior

The above lines:

[code]

should be equivalent to:

[code]

In the latter case, no er

[2021-05-21 12:13] brisvag opened #2756 "Selecting points fails if a property value has dtype `object`"
## 🐛 Bug

Selecting points will raise an error if the points layer has a property aarray with dtype `object`. This leaves in an inconsistent state where `Points.selected_data` is updated, but `Points.current_property` is broken.

## To Reproduce
[code]
this raises this error:
[code]

At this point, `pl.selected_data` is right, but `pl.current_properties` is not.

## Expected behavior

I would expe

[2021-05-21 12:16] brisvag commented on #2756
Unexpectedly, this problem is absent with the labels layer. Something worked out better there :P

[2021-05-21 14:52] patmjen opened #2757 "Custom layer does not show up in layer list"
## 🐛 Bug

I'm trying to create some custom layers that add functionality to existing napari layers. When I add them to the viewer, they don't show up in the layer list. But, they have been added as the layer controls are there, and I can also select, hide, etc. in the layer list. They are just not shown.

## To Reproduce

Running the following code shows the bug for me:
[code]

## Expected behavio

[2021-05-21 14:55] tlambert03 commented on #2757
thanks!  will get on it asap

[2021-05-21 16:28] tlambert03 commented on #2757
this particular bug is fixed in #2758... but we don't do a lot of testing of custom layer types, so please let us know if you run into any other issues!

[2021-05-21 17:25] joaomamede commented on #630
This doesn't work in current napari version. viewer.dims.events.axis doesn't seem to exist anymore.
I tried this instead (to have timelapse info to update) but it fails

[code]

[2021-05-21 17:31] joaomamede commented on #630
This works:

[code]

[2021-05-21 17:32] tlambert03 commented on #630
you were on the right track with `dims.events.current_step`... but the event object itself has changed too.  It no longer has an axis...
doh... you beat me to it :)

[code]

[2021-05-21 17:41] sofroniewn commented on #630
@tlambert03 do we have this documented in our examples anywhere? Maybe we want to add an example and then close this issue?

[2021-05-21 17:42] tlambert03 commented on #630
don't think so, but #2750 would definitely help here!

[2021-05-21 17:43] tlambert03 commented on #630
fine with me, @joaomamede, would you be willing to add this example in a PR?

[2021-05-21 19:27] goanpeca commented on #2712
It seems we will also remove config.py logic @sofroniewn   https://github.com/napari/napari/blob/102a7e8f845893c874d2b86f9371d41130100b89/napari/utils/config.py ?

[2021-05-21 19:30] goanpeca commented on #2712
@sofroniewn do we want to support this behavior or move everything to the settings?

[2021-05-21 19:44] sofroniewn commented on #2712
In the long run it would definitely be nice to remove the custom config. I don't think we really have a good sense of which of all the settings are essential though. I'd probably try and preserve as much of the existing functionality as we can, but I don't want us to get stuck in some deep rabbit hole for some edge case or special property that isn't as important.

It would also be nice to keep al

[2021-05-21 20:13] goanpeca commented on #2712
Sounds good 👍🏼

[2021-05-22 00:51] nvladimus commented on #1384
I tried the `napari-tifffile-reader` plugin, it works great. Correctly parses channels and voxel dimensions, a must-have! Many thanks!

[2021-05-23 00:13] #1471 closed, assigned to andy-sweet

[2021-05-23 04:27] sofroniewn opened #2765 "Make frames per second of playback a setting"
## 🚀 Feature
I'm doing some stuff right now where it would be very nice to have the fps (and direction/ playmode) of the playback be settings so I don't have to change them every time I re-open napari - i.e. things in:

<img width="331" alt="Screen Shot 2021-05-22 at 9 25 47 PM" src="https://user-images.githubusercontent.com/6531703/119248185-57caa280-bb44-11eb-93d7-7b1244290147.png">

Specified h

[2021-05-23 05:19] sofroniewn opened #2766 "Also map colormap display names to colormaps"
## 🐛 Bug

I just tried setting `layer.colormap = 'twilight shifted'` and got and the following error

[code]