[2019-09-20 15:21] sofroniewn commented on #537
After discussion at team meeting we will merge pyramid layer into image layer, adding keyword arg that says `is_pyramid`, and guess otherwise, and maybe adding a keyword arg that allows us to try and compute a pyramid if we think we need to (say an image >20k x 20k or something)

We'll also try to extend so that labels now supports pyramid - but will have to think about painting in the pyramid a l

[2019-09-20 15:22] sofroniewn commented on #537
Oh and also 3D rendering isn't supported for pyramids yet, so might need to think about that too.

Also if people request 3D rending on too large images we might need to do some pyramid stuff too ...

For now we can just show the top layer of the pyramid in 3D

[2019-09-20 15:29] ambrosejcarr commented on #537
Fantastic, thanks for the rapid discussion and design.

On Fri, Sep 20, 2019 at 11:22 AM Nicholas Sofroniew <
notifications@github.com> wrote:

[2019-09-23 06:42] jni commented on #379
I was going to make an issue for unifying our IO, but GitHub's suggestions brought me here. :tada: Some extra dot-points:

- [ ] When adding a new layer with the new layer button, show an expanded menu that allows either opening a file or creating a layer from scratch. Do this for all layer types.
- [ ] When creating an e.g. labels layer from scratch, use a zarr-backed array if the currently-selec

[2019-09-23 15:09] sofroniewn commented on #500
It seems like this was not actually fully fixed but I have found a solution in #536 which uses
`self.selectionSpinBox.setKeyboardTracking(False)` and the clearing and reseting focus in the callback. This will be fixed once that merges

[2019-09-24 04:52] sofroniewn commented on #541
This has been closed by #542

[2019-09-24 04:52] #541 closed, assigned to nobody

[2019-09-26 07:58] jni opened #547 "Glitches with 3D viewing"
## 🐛 Bug

Clicking the 3D viewing button when a 2D image is displayed causes napari to crash. It should either be a no-op or somehow view the data as a 2D plane in 3D, but it shouldn't crash!

Additionally, Ctrl-Y is not equivalent to pushing the button: the viewer doesn't crash, but instead displays a blank image (and the traceback is printed to the console).

Finally, even on 3D volumes, pressin

[2019-09-26 16:33] #521 closed, assigned to nobody

[2019-09-27 23:56] #436 closed, assigned to sofroniewn

[2019-09-28 03:14] sofroniewn commented on #537
This is now done for images in #545. We still need to make it work for labels, but that is discussed in #538 and will be started soon

[2019-09-28 03:14] #537 closed, assigned to nobody

[2019-09-28 03:17] sofroniewn commented on #547
The button changing with `Ctrl-Y` is now fixed with #536, and as discussed in #532 we need to extend 3D rendering capability for our 2D layers. We can do this inside our vispy view code by catching this case and "0-padding" what we send over.

In the long run we might also want to allow 2D layers to be overlaid in different places in the 3D volume, but that can come later.

[2019-09-28 04:20] sofroniewn commented on #199
This has been partially addressed with the merge of #533 where we add an undo / redo button to the labels layer. We have a plan for a more comprehensive undo / redo system laid out in #474 so I am closing this issue in favor of that one.

[2019-09-28 04:20] #199 closed, assigned to nobody

[2019-09-28 04:24] sofroniewn commented on #535
This has now been fixed with the merge of #536. It was caused by the `QScrollArea` intercepting the up / down key presses

[2019-09-28 04:24] #535 closed, assigned to nobody

[2019-09-28 04:25] sofroniewn commented on #534
This has now been fixed in #536

[2019-09-28 04:25] #534 closed, assigned to nobody

[2019-09-28 04:58] sofroniewn commented on #500
This has now been fixed in #536

[2019-09-28 04:58] #500 closed, assigned to nobody

[2019-09-28 23:48] sofroniewn commented on #338
this file is now named `qt_main_window.py`, which i think is much more clear

[2019-09-28 23:48] #338 closed, assigned to nobody

[2019-09-29 00:17] sofroniewn commented on #202
with the merging of #536 and the design audit discussion in #469 i'm closing this issue

[2019-09-29 00:17] #202 closed, assigned to nobody

[2019-09-30 03:42] sofroniewn commented on #141
We've come a decent way since this initial discussion. We now have one main napari repo that will provide the main app the will be ultimately be installable with pyinstaller, meeting needs of both user type 1 and 2. We've also got other issues discussing remote access, which has been added to our `0.3` roadmap for users type 3 and 4, and we've also achieved some separation of out qt elements and m

[2019-09-30 03:42] #141 closed, assigned to nobody

[2019-09-30 16:10] sofroniewn commented on #514
This has been closed by #532

[2019-09-30 16:10] #514 closed, assigned to nobody

[2019-09-30 16:10] sofroniewn commented on #547
This is closed by #532

[2019-09-30 16:10] #547 closed, assigned to nobody

[2019-09-30 16:53] #538 closed, assigned to nobody

[2019-09-30 17:09] sofroniewn opened #554 "auto pyramid creation sometimes is not wanted"
## 🐛 Bug

The auto pyramid creation that was enabled in #545 can sometimes lead to bad unexpected behavior - for example I just tried to pass a `100_000 x 100 x 100` zarr array which I will only ever want to view as a 2D timeseries and it started trying to compute a pyrmaid on that first dimension which it couldn't do.

I'm not sure how to both block this behavior, but then also allow a pyramid to

[2019-10-01 07:59] haesleinhuepf opened #558 "Napari on Windows"
## 📚 Documentation
Hey @sofroniewn ,

I ❤️ your announcement on the image.sc forum and thus had to try Napari on my Windows. So the installation works fine apparently, but the example script from the readme doesn't:

![image](https://user-images.githubusercontent.com/12660498/65944442-fa935200-e431-11e9-8358-f60728fda7bf.png)

![image](https://user-images.githubusercontent.com/12660498/65944455-03

[2019-10-01 09:18] jni commented on #558
@haesleinhuepf :wave: great to see you here! =) You should install the version from GitHub or wait ~12h before pip installing with --update. =) @sofroniewn is about to release v0.2 which includes the new functions.

[2019-10-01 09:20] haesleinhuepf commented on #558
Waiting 12h sounds like an amaaaazing solution 😃

Thanks guys! Looking forward to explore the second island on the other side of the planet ;-)

[2019-10-01 09:24] jni commented on #558
Nice pickup. :wink:

[2019-10-01 14:27] #554 closed, assigned to nobody

[2019-10-01 16:50] sofroniewn commented on #513
For now only the top level of the pyramid is shown, instead it would be preferable for all resolutions to be used depending on zoom level

[2019-10-01 17:14] kellman opened #561 "multicanvas grid display for layers in Napari"
## 🚀 Feature
It would awesome if Napari could have a viewing option that would allow the users to view a stack of layers side by side in a grid or tile display. The users could then jointly zoom on each layer in the stack to compare high resolution features over a large field of view.

## Motivation

One of the most important ways to evaluate an algorithm or an image reconstruction's performance i

[2019-10-01 17:25] sofroniewn commented on #561
Absolutely @kellman. We've got a note about this in our features for `0.3.0` issue #420, but now's a good time to make a dedicated issue for this.

One thing we can do very easily is just tile the layers but only have one camera. What that means is that when you zoom out you see all the tiles, but when you zoom in your just zooming in on one place and eventually you only see that layer. I'm not su

[2019-10-01 17:44] #179 closed, assigned to nobody

[2019-10-01 17:50] royerloic commented on #561
I have had multiple people request this feature, I think it would extremely usefull for people that process images and want to compare them side-by-side. Essentially everybody doing machine learning on images (image restoration etc...). Having the possibility to cycle through different layouts ( stacked, horiz, grid) in a single key-binding would be super practical...

Michael suggestion of being

[2019-10-01 18:49] sofroniewn commented on #561
@royerloic if we had the version of linked zooms, would you ever use the version without it? i.e. is that just a temporary feature because it might be easier, or is it something intrinsically valuable?

I'm actually not that afraid of biting off the multiple canvas problem, vispy has some nice features to link cameras I think, and if the simple solution is only temporary then we might want to just

[2019-10-01 20:30] sofroniewn commented on #489
@jni can this now be closed by #560?

[2019-10-01 21:23] sofroniewn commented on #558
@haesleinhuepf this should now be fixed - `0.2.0` has been release on pypi, ~12 hrs later!!

great to here that your windows worked ok, i think we might be having some issues with openGL on older systems, but we havn't figured it all out yet

[2019-10-01 21:25] sofroniewn commented on #558
oh actually now that i think about it, you havn't seen an image yet - so the windows problem might still come up :-(
If you get a black screen after adding the image and the error message described here https://github.com/napari/napari/pull/551#issuecomment-536347310 then we'll need to fix it

[2019-10-01 21:35] royerloic commented on #561
I actually think I would use the simple grid view more.
I think the split-zoomed-view might end up being very distracting,
complex and would not scale to more than 2 or 4 views/images.
The  simplicity of the grid view toggling, how light
it is (no need to instantiate several canvases or panels...), and the fact
that it would scalevery well, will make the experience smoother.
For more complex situa

[2019-10-01 22:08] sofroniewn commented on #561
ok point taken, i'll add some convenience functions to make grid view, it will be a very simple PR to get some nice functionality. we can then implement the multicamera approach later

[2019-10-02 00:56] ambrosejcarr opened #562 "Plot lots of spots"
## 🚀 Plot lots of spots
I would like to be able to plot millions of spots using napari.

## Motivation

Starfish users will often want to plot spots _after_ merging fields of view. In these cases, there will be millions of spots to plot.

## Pitch

Right now I can plot 20k spots, which takes a while. _After_ the spots populate napari, navigating them is lightning fast. Larger groups of spots take

[2019-10-02 01:30] ambrosejcarr opened #563 "2D Image Pyramids not working with add_image (0.2.0)"
## 🐛 Bug

Napari is not displaying an image pyramid that I've constructed and passed to `add_image()`

## To Reproduce

Steps to reproduce the behavior:
[code]
What I did to trigger the error:
[code]
## Expected behavior

## Environment

 - napari Version: 0.2.0
 - OS: OS X 10.14
 - Python version: 3.7

[2019-10-02 02:36] jni commented on #563
I knew I didn't like the contrast limits calculation...! =P As a preliminary workaround, you can pass `contrast_limits=[min_intensity, max_intensity]` and it should work. (Note that your current code should also work, but I just wanted to get you going as fast as possible.

[2019-10-02 02:39] jni commented on #562
Thanks for the report! As @sofroniewn mentioned on slack, this should be a matter of being more clever with thumbnails (e.g. subsampling many fewer points). The canvas is only 32x32 = 1024, so three orders of magnitude more points is kinda overkill. :joy:

[2019-10-02 05:06] sofroniewn commented on #563
Adding the `contrast_limits` explicitly is good, but you'll still get an error because of the `np.asarray` call (which is actually causing the problem here).

The offending line of code is inside the `is_pyramid` function in our `util/misc`  https://github.com/napari/napari/blob/b41f25e422d850615cd87bbdb344fa08381e395e/napari/util/misc.py#L65
where we assume that a pyramid must be a list - and not

[2019-10-02 05:18] kellman commented on #561
I'm happy to see that this has been asked for by so many. I see the complexity in adding multiple panes.

For me the grid view (no joint zoom) would be nice if each image is only a small field of view (features are large compared to the field of view). This will allow me to see a mosaic of processed examples or compare quality differences between several algorithms' outputs.

My argument for the j

[2019-10-02 07:11] haesleinhuepf commented on #558
Unfortunately, it still comlpains about a missing method:
![image](https://user-images.githubusercontent.com/12660498/66024501-54f4e700-e4f4-11e9-83ee-6dcf31097941.png)

[code]

To be honest, to me this doesn't look like a windows problem....

Any hints would be helpful!

Thanks!

Cheers,
Robert

[2019-10-02 08:32] jni commented on #558
@haesleinhuepf good morning! =D

I was puzzled and was in the process of creating a clean enviroment to test... until I saw your image: your file is called `napari.py`, and the local directory is at the top of `sys.path`. So, you are trying to import `napari.py` from itself, instead of the installed napari! Renaming your file is the answer. =)

[2019-10-02 08:52] jni commented on #563
I don't have a specific suggestion here... It's always seemed brittle and magical things tend to be... This is precisely why we've shied away from them in skimage. The only suggestion I have right now is to test for more potential cases in that function. type=array and dtype=object is a good initial candidate.

[2019-10-02 08:53] jni commented on #563
Oh yeah, definitely not. Here and everywhere, the convention should be:

- False: False
- True: True
- None: [guess]

and recommend that people avoid None if possible.

[2019-10-02 09:06] jni commented on #561
fwiw I've used napari in combination with `skimage.util.montage` several times to quickly look at a bunch of (2D) images in a grid, and it works a treat. Even though you don't have the images exactly side by side, the interactivity in napari is so fast that you can quickly zoom in on a spot in an image, zoom out, then zoom in on the same spot in the next image, and it's fast and smooth enough that

[2019-10-02 15:36] haesleinhuepf commented on #558
Oh no! This totally never happened to me before 👼 ;-)

Ok, changing to "nap.py" helps a bit:
![image](https://user-images.githubusercontent.com/12660498/66058423-a6c06000-e53a-11e9-91e1-322948c164e1.png)

The error message is now:
[code]
... and no window opens.

Before you dig deeper now. Is there an entry on the napari roadmap for Windows compatibilty? And if yes, when will it be? I would be hap

[2019-10-02 15:47] sofroniewn commented on #561
Thanks for you comments @kellman, that makes a lot of sense with respect to feature sizes etc.

Given how easy it was to make some convenience functionality to expose the grid / stack mode for all our layers with a single zoom I've started a PR #565 to do that, you can checkout the gif over there of the current behavior. I need to clean some stuff up on that implementation but we should be able to

[2019-10-02 15:59] sofroniewn commented on #558
Hi Robert, if you're running from a script like that you need to create a gui context before you can launch the Viewer. You can do this as follows:

[code]

We've got a little more detail on this on our tutorials page here https://napari.github.io/napari-tutorials/tutorials/getting_started.html which is still a bit of a WIP.

So far you still havn't hit the potential windows problem. Thanks for be

[2019-10-02 16:02] jni commented on #558
Roadmap? Ideally we should have it working right now! We just don’t have anyone on our team regularly using Windows, so it makes it challenging. We *absolutely* would love your help with this!

The message is very strange because the `--gui=qt` flag should have created the QApplication for you... would you mind trying with plain python and our napari.gui_qt() context manager?

Actually, I also won

[2019-10-02 16:03] jni commented on #558
... Speaking of race conditions... 😂

[2019-10-02 16:03] haesleinhuepf commented on #558
It works!
![image](https://user-images.githubusercontent.com/12660498/66060837-9c07ca00-e53e-11e9-9545-629d068430c0.png)

Thanks for your support! Again, I'm happy to help testing. I also got a bunch of Windows systems (mostly win 10) standing around with various GPUs underlying...

[2019-10-02 16:10] haesleinhuepf commented on #558
It works with both
[code]
and
[code]
Using the code snipped @sofroniewn suggest: `with napari.gui_qt()`. Without the snippet it doesn't work in both cases.

[2019-10-02 16:19] sofroniewn commented on #558
@haesleinhuepf whoo! That's great!!

If you were able to do some systematic testing on windows machines with different gpus that would be amazing!!! If you could both check if napari was able to launch and show an image and then run
[code]
and look at the `GL version` on those machines that will tell us a lot about what is / isn't working (on the computers where it fails it will likely not find a

[2019-10-02 16:36] sofroniewn commented on #563
@jni if someone says `True` but we know that it will cause a downstream error should we raise an error saying you said `True` but we know that's not the case? (thinking of someone saying `rgb=True` but passing a (512, 512) image)

also in the pyrmaid case if someone says `True` but passes a `(20_000, 20_000)` image do we interpret that as they want us to turn that into a pyramid in which case we d

[2019-10-02 17:03] haesleinhuepf commented on #558
@sofroniewn Sure! You helped me, I'm happy to help you! 😄

I just tested on three systems and it worked in all cases!
* "finley" Intel i7-1065g7 (Intel Iris Plus GPU)
* "ulice" napari throws a warning, Intel i7-8565U (Intel UHD 620 GPU)
* "shannon": AMD Ryzen 3700U (Vega 10 GPU)

All run on a recently updated Win10 64-bit. I saved the output here:
https://github.com/haesleinhuepf/napari_playground

[2019-10-02 19:37] ambrosejcarr commented on #563
Hey! Thanks for the suggestions @jni and @sofroniewn. The following works, so I'm good. I should have just tried the simple thing ;-)

[code]

This does _not_ work, if it helps your debugging process:

[code]

[2019-10-02 20:42] sofroniewn commented on #563
@ambrosejcarr - what is `pyramid` in your above example that fails. Is it `list(pyramid_gaussian(regions), multichannel=False)` ?

[2019-10-02 20:56] sofroniewn commented on #558
That's great, I really appreciate the thoroughness and the logs repo. I'm feeling much better about our windows compatibility now.

[2019-10-02 21:00] sofroniewn opened #566 "Connecting to external monitors breaks pan/ zoom"
## 🐛 Bug

I've noticed a couple times now that when napari is already open and you connect to an external monitor the vispy canvas get's all confused with its zoom / camera / panning.

I'm not sure if you still get the same effects if you open napari after you've already connected to an external monitor. I will investigate.

Vispy has already tried to fix some of these issues - see this here https

[2019-10-02 21:03] ambrosejcarr commented on #563
That's right -- sorry for the lack of specificity.

[2019-10-03 00:45] royerloic commented on #561
Actually, if you have a setting grid_with and grid_height,
then elegantly our current stacked view simply corresponds
to grid_with=1 and grid_height=1. Toggling would simply replace
these two numbers  by floor(sqrt(n)) and ceil(sqrt(n)) where
n is the number of layers -- or  some similar formula...
just food for thoughts here... no strong opinion...

[2019-10-03 00:52] royerloic commented on #558
Nice to see your here @haesleinhuepf !
Definitely help on windows system would be great!
Be warned... Once you go napari you never go back ;-/

[2019-10-03 01:10] jni commented on #566
Oh no! This happened again at Bioimage Informatics???

fwiw, on Linux, when launching napari *after* connecting my external monitor, everything works fine. I'll try doing it before to see what happens. Also, I am typically not using mirroring, but based on that vispy PR, it looks like the issue is about resolution rather than position.

[2019-10-03 02:23] sofroniewn commented on #561
@royerloic - I do believe the implementation is like that already, feel free to start a review if you want

[2019-10-03 02:27] sofroniewn commented on #566
It actually didn’t - demo was fine because I waited to launch until after connecting, but we should try and fix the other behavior too

[2019-10-03 02:46] jni commented on #566
@sofroniewn Whew! 😅 Are we sure that vispy master hasn't made the issue magically go away on our end?

[2019-10-03 03:10] haesleinhuepf commented on #558
Hey @royerloic 👋, you said sth similar about OpenCL to me about two years ago - and you were right 😉

[2019-10-03 06:21] royerloic commented on #561
Indeed! you read my mind, as usual. Brilliant.

[2019-10-03 17:33] sofroniewn opened #567 "Show logo during startup"
## 🚀 Feature
Right now napari takes a long time to launch the viewer. People can get discouraged as they wait, unsure if napari is loading, or if their data is loading, or if it is just hanging. Showing the napari logo, possibly with / without some text during that time might make it feel better.

[2019-10-03 18:59] sofroniewn opened #568 "Streaming / image acquisition applications"
## 🚀 Feature
There have been a number of recent groups that are interested in using napari in a streaming / image acquisition context - including @bryantChhun @AhmetCanSolak at Biohub, some researchers from the Allen Cell, UCL @quantumjot, among others.

Some of these researchers want to do in-the-loop machine learning / visualization / annotation where images are coming from the microscope, being

[2019-10-03 20:29] AhmetCanSolak commented on #568
I think #520 should be considered separate from streaming. Right now put aside streaming, there is no way to use **napari** interactively while scripting. Possible solution to this will enable streaming with scripting up-to some extend but not promising anything about details, streaming is not the concern in there.

[2019-10-03 21:54] sofroniewn opened #569 "Labels painting slow for big images"
## 🐛 Bug

The labels painting is now quite slow for big images, say 2048 x 2048. It's not clear if it has degraded recently - the undo / redo does seem to slow it down a little - but it may have always been that slow. We might need to think about how to make it faster. Another thing to add to our benchmarking list. #476.

[2019-10-04 01:40] jni commented on #316
Thank goodness for GitHub's automatic existing issue suggestions! I was just about to make an identical issue with item 2 from the above list. :sweat_smile:

[2019-10-04 15:41] sofroniewn opened #570 "contrast limits range equal to contras limits on setting"
## 🐛 Bug

If you explicitly set the contrast limits as a keyword argument to the layers list right now the range of the contrast limits slider gets set to the same value, which is quite annoying if you then need to adjust the sliders to be more extreme. I suggest that we set the range to be 10% smaller and 10% larger to give you a little extra room to adjust things.

This change will only affect t

[2019-10-06 00:31] jni commented on #567
Just to clarify here: I think we should only do this in `__main__` or even only in the bundled app. It would be very jarring to have this happen when launching from an IPython session. The correct solution for IPython is to dramatically reduce the startup time. To reiterate what I mentioned in the meeting, startup time from the command-line is about 2s on Linux, which is reasonably fast. There's n

[2019-10-06 00:35] jni commented on #515
Thomas Robitaille showed some pretty neat 3D interactivity in [glue](https://github.com/glue-viz/glue) at SciPy 2019:

https://youtu.be/TkMZ9gZ8xtk

Might be worth checking out that functionality and code base for inspiration.

There is also a much longer tutorial, though I haven't seen it yet:

https://youtu.be/8RkCpq9wMuI

[2019-10-06 01:11] AhmetCanSolak commented on #567
We can do it in bundled app with a runtime-hook which will be executed right before execution of our main entry point @jni

[2019-10-06 04:51] sofroniewn commented on #387
This has now been explained in depth in our shapes layer tutorial - http://napari.org/tutorials/shapes.html

[2019-10-06 04:51] #387 closed, assigned to nobody

[2019-10-06 05:02] sofroniewn commented on #332
This has now been much better documented on our Image layer tutorial - see here http://napari.org/tutorials/image.html

[2019-10-06 05:02] #332 closed, assigned to nobody

[2019-10-06 05:04] sofroniewn commented on #428
@DowneastFreaks do you mind upgrading napari to `0.2.0` and trying this again, we've made a number of improvements that might fix this, and we've also been trying to understand our windows problems a little more systematically - see for example this thread #558.

If it still doesn't work, do you mind running
[code]
and sending us the results.

Thanks!!

[2019-10-06 05:06] sofroniewn commented on #383
This has now been more extensively documented in our tutorial on the labels layer - see here http://napari.org/tutorials/labels.html

pressing the `E` key will also set the selected label to 0

[2019-10-06 05:06] #383 closed, assigned to nobody

[2019-10-06 05:09] sofroniewn commented on #133
@jni do i remember you saying this has been resolved or is it still an issue?

[2019-10-06 05:11] sofroniewn commented on #445
This has now been more extensively documented in our points layer tutorial - see here http://napari.org/tutorials/points.html

[2019-10-06 05:11] #445 closed, assigned to nobody

[2019-10-06 05:29] jni commented on #133
No, still an issue, what's resolved is the tearing when moving quickly...

[2019-10-06 15:54] sofroniewn commented on #224
As noted above this example doesn't actually show the defaults, which are less flashy. We've now got more examples and tutorials on how to change this stuff here - http://napari.org/tutorials/shapes.html

We can always improve those examples / make them more scientific as we go

[2019-10-06 15:54] #224 closed, assigned to jni, freeman-lab, sofroniewn, kne42

[2019-10-06 19:42] sofroniewn commented on #57
This seems to be fixed now at least from our console. Maybe the original bug referenced a jupyter notebook / ipython console usecase, but as it works from our console I'm satisfied to close this - see the gif below for the behavior working as expected:

![layers_updating](https://user-images.githubusercontent.com/6531703/66274763-c6a39c80-e836-11e9-9d9c-23f343cc4bd6.gif)

[2019-10-06 19:42] #57 closed, assigned to kne42

[2019-10-07 01:12] dreme opened #572 "isosurface with napari"
Can napari generate isosurfaces from a regular 3D array? That would be very cool (and useful)

[2019-10-07 06:23] jni commented on #458
@sofroniewn still seeing this on master on Linux... =\

[2019-10-07 11:56] jni commented on #572
@dreme thanks for your interest in napari! Right now we don't compute isosurfaces automatically, but if you have them, they can be displayed via the `napari.Viewer.add_surface` method or `napari.view_surface` function. You can use `skimage.measure.marching_cubes_lewiner` to get compatible surfaces.

[2019-10-07 13:08] joe-albert commented on #428
@sofroniewn

I was able to get this running using some of the comments in #558

Specifically this was the code that worked for me:
[code]

![image](https://user-images.githubusercontent.com/51097457/66314110-864d2880-e8e1-11e9-82f5-d937c08ae9bc.png)

Thanks for looking into this and let me know if there are any other questions I can help with! :)

[2019-10-07 14:21] sofroniewn commented on #428
That's great. So glad it is working. Do you mind actually posting the results of

[code]

anyway. Just trying to keep track of which windows systems are still causing us problems and which are not

[2019-10-07 14:27] joe-albert commented on #428
Here is what i'm getting as output from those commands:
[code]

[2019-10-07 14:29] sofroniewn commented on #572
@dreme you might actually be able to achieve this now using `add_image`, entering 3D display mode, and setting the rendering mode to be `iso` instead of `mip`, but we havn't tested this extensively. Right now you also can't set the threshold for the isosurface - it is computed as the mean of the array, though we should be able to expose that as a variable if desired (or I can tell you how to autom

[2019-10-07 14:59] sofroniewn commented on #428
Perfect, thanks! I am going to close this issue, but feel free to reopen or make a new one if you have anymore problems

[2019-10-07 14:59] #428 closed, assigned to nobody

[2019-10-07 23:48] dreme commented on #572
Thanks @jni and @sofroniewn for the quick responses.  I haven't actually installed **napari** yet, but when I get some free time I'll try the simpler solution that @sofroniewn suggested and get back to you. I'm not sure how to generate isosurfaces, but will try to look into it if the first solution falls over.

[2019-10-08 02:04] jni opened #574 "Bad 3D rendering of labels"
## 🐛 Bug

I get some bad rendering of labels data in 3D, running the code in this gist:

https://gist.github.com/jni/587d8a946e5e86a8c0d3a7f8bee329cc

with `ipython --gui=qt` then `%run -i rendering.py`

<img width="1200" alt="Screen Shot 2019-10-08 at 12 45 45 pm" src="https://user-images.githubusercontent.com/492549/66361390-59c10b80-e9ca-11e9-9c19-a093758f613c.png">

The issue seems to be that

[2019-10-08 04:19] sofroniewn commented on #574
I can reproduce this effect on my laptop - both the fringes and the poor order behavior of `mip`. If I switch to `translucent` the order problems go away, but the fringes are terrible, which is likely due to the interpolation @jni mentioned and problems with our colormap

[2019-10-08 04:41] jni commented on #574
I think we are probably going to need to mess with the shaders in vispy to fix this one, since as far as I can tell VisPy does not expose the ability to remove interpolation in the Volume Rendering view.

[2019-10-08 05:09] jni commented on #316
@sofroniewn I'm not sure whether this link belongs here, in tutorials, or in your image-demos repo, but I found these slides from Ryan Abernathey extremely interesting:

https://speakerdeck.com/rabernat/cloud-native-climate-data-with-zarr-and-xarray

Specifically, zarr and Google Cloud Storage appear to work very nicely together, so if we can get some of those demo datasets uploaded to GCS, we'd s

[2019-10-08 23:11] li-li-github opened #575 "3D rendering seems to overwrite data array"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Display a 3D data on napari.
2. Adjust contrast.
3. Contrast does not come back even when you tune the contrast bar back to original position.

## Expected behavior

## Environment

 - napari Version (e.g., 1.0): 0.2.0
 - OS (e.g., Linux): Mac OS 10.14.6
 - Python version: 3.6.7
 - Any other relevant information:

## Additional contex

[2019-10-08 23:21] jni commented on #575
@li-li-github I can't reproduce this on my machine. At any rate I think and hope that the error might be in the display, not in modifying the data.

Could you provide a complete example with data? In the code below, I can adjust the contrast back and forth perfectly in the 3D display:

[code]

[2019-10-08 23:43] li-li-github commented on #575
Hi @jni , thank you for the prompt reply.
I found that it doesn't work properly when datatype is `np.float32`.
I have tested this with other np.floats and found only float32 doesn't work properly.

[2019-10-08 23:57] jni commented on #476
@sofroniewn I've just been sitting with my colleague @VolkerH, who (the good news) has effectively reimplemented a multispectral viewer of his in a few lines of napari. :tada: The bad news is that he's running into #569 and also drawing lines is quite sluggish. So those would be two things to benchmark ASAP. I imagine that model benchmarks and profiling would be possible here — set the mode to pai

[2019-10-09 00:57] sofroniewn commented on #575
@jni @li-li-github I am able to reproduce this bug by modifying the code from @jni to be
`viewer = napari.view_image(blobs.astype(np.float32))`
and then moving the left clim handle all the way to the right - my screen becomes black, and the data will never reappear. It appears to be a divide by 0 error within vispy that vispy can never recover from. Here is the error message I see
[code]

Ultimate

[2019-10-09 00:58] sofroniewn commented on #569
We might have had a recent regression when we changes some of our openGL options to improve mesh rendering for the shapes / surface layer

[2019-10-09 00:59] sofroniewn commented on #476
thanks for the heads up @jni - i'm happy to add some points / labels benchmarks (though adding them is just the beginning!!)

[2019-10-09 01:49] VolkerH opened #576 "3D rendering bug causing access violation"
## 🐛 Bug

On playing with 3D rendering with napari I encountered two problems.
Both happen when switching from 2D - slice view (which works in all cases) to 3D view.

Issue 1: `Variant 3` in the code snippet below. Screen goes black upon switching to 3D view. No error message. When switching back to 2D view, everything is black. This happens with float32 and uint8 but not float64 dtypes. This is p

[2019-10-09 05:57] jni opened #578 "Performance with invisible layers"
## 🐛 Bug

When many layers are added to napari, many operations are extremely sluggish, *even if all but one* of the layers are set to invisible. We should instead immediately render only visible layers and turn off most/all data handling for layers with visibility 0.

Here are some things that are very slow when many (~100) layers are added to the display:

- zoom
- changing ndisplay (this is inc

[2019-10-09 06:00] VolkerH opened #579 "About dialog from drop-down menu"
## 🚀 Feature

A menu item that brings up an "About" dialog, in a place where one usually finds them.
E.g. pull-down "help", "About".
![image](https://user-images.githubusercontent.com/2210044/66455154-aaf9f980-eab5-11e9-90a0-1b149256effd.png)

The about dialog should show the version numbers.

## Motivation

While the about dialog may not be the most pressing feature, it is useful for reporting bu

[2019-10-09 15:02] sofroniewn commented on #578
Ok - makes sense, but we just need to make sure things don't get in weird states where you expect things to be one way, but because of the visible stuff they aren't. Adding in the benchmarking and profiling stuff will help us figure out which are the bits that are really slow

if zoom is slow it's really a vispy thing that would be harder to fix on the napari side

[2019-10-09 15:04] sofroniewn commented on #579
Good idea - getting the version number in there at a minimum sounds useful. Also a way to print all the keybindings.

We can work on these

[2019-10-09 16:18] AhmetCanSolak commented on #579
@sofroniewn i can take this if you want it to be implemented soon

[2019-10-09 16:29] sofroniewn commented on #579
great @AhmetCanSolak - that would be really helpful

[2019-10-09 23:04] #562 closed, assigned to nobody

[2019-10-10 01:01] AhmetCanSolak commented on #579
Opened a PR on this here #580

[2019-10-10 02:18] VolkerH commented on #576
Just did a quick experiment which appears to confirm that this is related to array shape.
After subsampling, the array has a shape of `(68, 296, 395)`.

If  modify the code of `#Variant 1` in the example above as follows the volume renders fine:

[code]

[2019-10-10 02:28] VolkerH commented on #576
I just tried a few more array sizes

* `vol = vol[:68, :296, :393]` -> crash
* `vol = vol[:68, :296, :393].copy()` -> crash
* `vol = vol[:68, :294, :393]` -> no crash
* `vol = vol[:68, :291, :395]` -> no crash

So it is not a simple thing such as even numbers work and odd numbers don't work.

[2019-10-10 02:38] VolkerH commented on #576
Going through the traceback maybe worth looking alignment calculation here:

https://github.com/vispy/vispy/blob/8b61cd439076aa3f50ac5f6dacb4c0af8c1d0684/vispy/gloo/glir.py#L1640

[2019-10-10 05:17] jni commented on #570
@sofroniewn imho we should be quite a bit smarter about contrast limits. For one, I think for uint8 images the limits should always be set to 0-255 and the image should not be introspected in any way. In this case, adding 10% margins would be totally nonsensical.

Another idea would be something like `bit_depth` which could be set to e.g. 12 to then automatically adjust the sliders to 0-4095 witho

[2019-10-10 05:17] jni commented on #570
Also, I would not call this a bug at all, but a feature request. =)

[2019-10-10 20:27] sofroniewn commented on #209
After discussion with @berl who is also interested this feature. I tried to make a simple example doing this using an image layer + a shapes layer.

The code is here - https://github.com/sofroniewn/image-demos/blob/master/examples/image_annotations.py
It's a little messy - particularly how I had to make a separate function for each keybinding. Right now it's actually not possible to bind a single

[2019-10-10 21:16] berl commented on #209
I played around with similar keybindings last night and it seems like I'll be able to get something to work along these lines.
From the `more features, more problems` department:
I'd like to take advantage of the `grid_view` for this, which I think necessitates tracking pairs of `Shapes` and `Image` layers and doing a lot of making things visible or not to accomplish the same cycling @sofroniewn h

[2019-10-11 04:19] sofroniewn commented on #209
@berl it should work with pairs of layers and `viewer.grid_view(stride=2)` but it will be more messy code and you might have to toggle back and forth which layer is selected or you could bind your keys to the viewer instead of a layer and have different keys for different classes on different layers

[2019-10-12 17:40] ngreenwald opened #581 "Incorrect interpretation of dimensions for viewing multichannel data"
## 🐛 Bug

When loading data with multiple channels, napari selects the first dimension as the channels dimension even when it represents rows, not channels

## To Reproduce

Steps to reproduce the behavior:

[code]
## Expected behavior

Instead of displaying the data as 1024 distinct slices of size 5x1024, it should be displayed as 5 stacks fo 1024x1024. I imagine there is going to be a huge range

[2019-10-12 19:25] ngreenwald opened #582 "Selecting segmentation labels and saving result to external variable"
## 📚 Documentation
I saw a demo at Bioimage Informatics where specific labeled objects were selected. I can't remember the exact sequence to make this happen. I think this is a useful feature that would be good to have an example in the demo repository to show selecting a subset of the labeled objects, and then exporting those object IDs for use in analysis

[2019-10-12 19:43] sofroniewn commented on #581
Indeed that would probably be a good keyword argument to have. Right now you'd either need to click the "roll dimensions" button which is the button with the cube and the arrow on it near the bottom left, or you'd need to add a line to your code as follows:

[code]

That `order` parameter will do what you want, but right now it's not exposed on `view_image` or any of our `view_*` methods. It is ex

[2019-10-12 19:47] sofroniewn commented on #582
Can you expand a little more on what you mean by select the labels / export IDs - say in the below image what would you like to achieve:

![image](https://user-images.githubusercontent.com/6531703/66706933-35c53900-ecee-11e9-8a2b-88654bc2f213.png)

you can use the "picker" tool such that when you click on a pixel it sets the selected labels to be those values

or you can go into the console and ty

[2019-10-12 22:13] sofroniewn commented on #122
This was extensively discussed in #565 and we eventually decided it is more intuitive to have the most visible, and most recently added list on top in the viewer, even though it is the reverse order from the code. Hopefully people will be indexing into the layers list using the layer name rather than the index so it won't be too confusing

[2019-10-12 22:13] #122 closed, assigned to nobody

[2019-10-13 17:32] ngreenwald commented on #582
The use case I have in mind is that I want to get the IDs corresponding to all of the coins in the bottom row. I draw a region around all of the coins in the bottom row (or any other subset of the images), and this gets saved as a grouping of IDs that is exportable to Python

[2019-10-13 17:45] sofroniewn commented on #582
I get it - to do this now you’d have to add a shapes layer so you could draw such a rectangle or polygon and then write a custom callback that would give you the indices inside when you finished drawing. I can mock this up as an example, but it won’t be super clean. We can then think about how to make it nicer.

Actually can you clarify one thing - do you want to draw that region using a paintbrus

[2019-10-13 20:44] berl opened #586 "novel gene discovery in Napari (a.k.a. imperfect layer name incrementing)"
## 🐛 Bug
napari does a smart thing and adds an integer to the name of a layer if the name is already in use in the viewer. It then increments that number when another layer is added that fits the pattern.  This is great until you have layer names that end in numbers
![Screenshot from 2019-10-13 13-28-55](https://user-images.githubusercontent.com/6773896/66722077-6379b300-edbe-11e9-91e3-37784cc7aa7

[2019-10-14 00:29] sofroniewn commented on #586
ok - we can check if there is a spacebar before the last number and if no then we auto increment with `1` separated by a space, and if yes then we bump that number `+=1`. So for you
`GAD1` x3 => `GAD1`, `GAD1 1`, `GAD1 2`
but if you have done
`GAD 1` x3 => `GAD 1`, `GAD 2`, `GAD 3`
seem reasonable? that should be an easy change

[2019-10-14 00:33] jni commented on #586
Yikes, next thing you know we'll be interpreting gene names as dates a-la Excel... =P

Another option would be to add parentheses or square brackets: Image [1], Image [2], ...

btw @berl that image is gorgeous, any chance we could use it for our examples? =D

[2019-10-14 00:35] #563 closed, assigned to nobody

[2019-10-14 01:10] sofroniewn commented on #586
I like `Image [1]` better than `Image 1` makes it more clear it was auto-incremented
we'd then have
[code]
which is probably the most clear

[2019-10-14 01:22] #581 closed, assigned to nobody

[2019-10-14 04:03] ngreenwald commented on #582
I think there are two possible implementations: one would be a paintbrush
where any objected touched is included in the grouping. The other would be a
freehand ROI/shape creator where anything inside the bounding box created
would be included.

I think the most useful would be a lasso-like freehand shape functionality,
where everything contained within the resulting shape is included.
Basically ho

[2019-10-14 04:08] sofroniewn commented on #582
Ok makes sense, both our doable - I can put together examples for both. As I said above it won't look pretty at first, but we can then think about how to improve

[2019-10-14 04:29] berl commented on #586
I like the square brackets-  thanks @sofroniewn!

@jni we've got a lot more data like this... I'll put together something with more a few more genes (and less lipofuscin) and pass it along.

[2019-10-14 07:34] #586 closed, assigned to nobody

[2019-10-15 00:06] sofroniewn commented on #252
This is closed by #544

[2019-10-15 00:06] #252 closed, assigned to nobody

[2019-10-15 01:27] ngreenwald commented on #582
Awesome, thanks so much!

On Sun, Oct 13, 2019 at 9:08 PM Nicholas Sofroniew <notifications@github.com>
wrote:

[2019-10-15 02:07] sofroniewn opened #593 "Text layer"
## 🚀 Feature
It would be nice to have a text layer built using the [vispy text visual](http://vispy.org/visuals.html#vispy.visuals.TextVisual) so that you can display a string or list of stings overlaid on the canvas

[2019-10-15 02:07] sofroniewn commented on #518
This is closed by #583

[2019-10-15 02:07] #518 closed, assigned to nobody

[2019-10-15 02:08] sofroniewn commented on #579
This is closed by #580 and #583 , thanks for the feature request!

[2019-10-15 02:08] #579 closed, assigned to nobody

[2019-10-15 02:13] sofroniewn commented on #476
We've now added benchmarking using [asv](https://asv.readthedocs.io/en/stable/using.html). There are definitely more benchmarks to add, but I am going to close this issue in favor of raising specific issues about particular performance issues and benchmarks we need to add rather than centralizing them all here.

[2019-10-15 02:13] #476 closed, assigned to nobody

[2019-10-15 02:14] sofroniewn commented on #302
This is closed by #374

[2019-10-15 02:14] #302 closed, assigned to nobody

[2019-10-15 02:22] VolkerH commented on #579
thank you @sofroniewn and @AhmetCanSolak

[2019-10-15 11:19] jni commented on #457
@sofroniewn just experienced this on Linux now. =\

[2019-10-15 16:57] royerloic opened #595 "Repo cleanup on github and pypi"
## 🐛 Not a bug but a cleanup request

We have some stall repos and packages on github and pypi.
pypi: napari-gui
github: image-types, plugin-cookiecutter,  ...

I think it would be great to clean that up and for example delete
napari-gui so as to avoid confusion and in general clutter...

We can discuss here what can be deleted or somehow archived.
Perhaps we could have an archive repo on github

[2019-10-15 21:16] AhmetCanSolak commented on #595
related to this, we should be cleaning branches on napari repo as well

[2019-10-15 22:42] jni commented on #595
`image-types` is experimental but not deprecated...

We could move some of these to people's personal accounts, including `image-types`...

[2019-10-15 23:03] jni commented on #593
Tangentially related: using the vispy text visual to display keyboard shortcuts: https://github.com/napari/napari/pull/583#issuecomment-541489940

[2019-10-16 02:51] jni commented on #489
Fixed in #590

[2019-10-16 02:51] #489 closed, assigned to nobody

[2019-10-16 07:25] sofroniewn commented on #595
I don't have access rights to our old https://pypi.org/project/napari-gui/ - @jni is there a way to archive that?

[2019-10-16 12:46] kevinyamauchi commented on #593
@sofroniewn, this would be useful for me! I have some time this week to take a crack at it, if you haven't started already.

[2019-10-16 13:44] sofroniewn commented on #593
Thats great - haven’t started, so go for it @kevinyamauchi.

You might want to use the Points layer as a model, as I imagine we want to support lists of text strings with a list of coordinates of the top left / center of each string. In that way it is pretty similar to the points layer

[2019-10-16 14:58] sofroniewn opened #596 "add_* methods accept file paths / urls to data"
## 🚀 Feature
As we start adding more fileIO should our `napari.view_*` methods and `viewer.add_*` methods start accepting paths and lists of paths to data as well as the data objects themselves.

We'd use the same machinery for fileIO from the dropdown menu, but now someone could leverage that functionality from a script.

[code]

Would be pretty cool (note that this file IO would not go inside th

[2019-10-16 15:05] sofroniewn commented on #531
We've now added custom callbacks for mouse operations, we havn't added an additional display or html rendering capabilities, but for now you could print to the terminal. Curious if this is helpful to you.

We also need to add a tutorial on using the custom mouse functions, but for now you can maybe get a sense by looking at the top of #544

[2019-10-16 15:08] sofroniewn commented on #561
We've now added support for a grid view with a single camera, accessible through `viewer.grid_view()` or clicking the grid button in the viewer. It's not the linked multicanvas view that's discussed above, but I'm already finding it very useful, and you might find it helpful @kellman

I'll leave this open though as multiple linked canvases is still something that is on our roadmap and that we'd li

[2019-10-16 22:08] bioimage-analysis opened #597 "Need to manually install numpydoc -- version 0.2.1"
## 🐛 Bug

Not sure if you are aware but after updating napari to version 0.2.1, I had to manually install numpydoc, which I didn't need before.

## To Reproduce

Not have numpydoc installed

[2019-10-16 22:27] jni commented on #597
@bioimage-analysis do you mean nothing works at all without numpydoc installed? Could you post the full traceback? Thanks!

[2019-10-16 22:31] bioimage-analysis commented on #597
Well, I just tried it on a different env, I upgraded napari from 0.2.0 to 0.2.1 on that environment and here is the error message I get when I tried to import napari:

`import napari
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Applications/anaconda3/envs/chloe/lib/python3.7/site-packages/napari/__init__.py", line 29, in <module>
    from .viewer import Viewer

[2019-10-16 23:33] AhmetCanSolak commented on #597
experienced same with conda env py3.7 on mac osx mojave

[2019-10-16 23:50] jni commented on #597
Ah, got it. This was added in #583, but we missed it because numpydoc was in our test dependencies rather than default! Fix in #598.

[2019-10-17 00:13] #597 closed, assigned to nobody

[2019-10-17 03:52] jni commented on #596
I'm not super in love with this idea... In the end in scikit-image we found that allowing the same parameter to take lots of different types is generally a bad idea, as it leads to a lot of increased complexity, and consequent brittleness. When we do want to do this for convenience, I think it's best to contain it, so I would try to keep all this magic within `io.magic_read`.

So, I'd need to be c

[2019-10-17 04:42] VolkerH commented on #531
Thanks, I will give this a try and see whether I can come up with a short demo.

[2019-10-17 12:23] sofroniewn commented on #596
Ok, I appreciate your concerns about the complexity and maintenance burden - for example right now with all our existing layer types it is fairly unambiguous if a string is an image array or a file path, but as soon as we have a text layer is that a string that is the string of text we want to display, or is it a path to a csv file of text that we want to display. Or maybe even in the image case s

[2019-10-17 12:30] sofroniewn commented on #595
Can we also maybe clean-up / organize the number of files we have at the top level directory - for example can we maybe put all our `CAPS_LOCK.md` files apart from `README.md` into a folder in `docs`? Maybe our `LICENSE` can go in there too? Maybe `generate_release_notes.py` can also find another home? Maybe our `.github` folder with our templates we can also put inside `docs` and drop the `.` fro

[2019-10-17 16:30] AhmetCanSolak commented on #595
I partially agree @sofroniewn . I think `README.md` and `LICENSE` should stay at root but for rest we can find new homes.

About `.github` folder i think github has a hook specifically with that name. I am not sure if we can drop the `.`.

[2019-10-17 18:52] freeman-lab commented on #596
i really like the `path` option -- agree it would be nice to have this, but agree with @jni 's concerns, so that seems like a clean solution!

[2019-10-17 21:03] #497 closed, assigned to nobody

[2019-10-17 22:48] jni commented on #596
I second @freeman-lab! Great solution, @sofroniewn! :clap:

Well, the first line is a syntax error, but other than that, genius! :joy:

[2019-10-17 23:35] AhmetCanSolak commented on #595
I achieved repos that i found unused. Please do check, if there are no complaints, i can delete those.

[2019-10-18 01:21] jni commented on #595
I'm ok with deleting those, but imho we should wait for @kne42 to be back to get her go ahead. She did a lot of that early work and might like to have a copy of it. If you want to do the cleanup urgently, you could create a new org, eg `napari-archive`, and transfer ownership of those repos to that.

[2019-10-18 02:28] sofroniewn commented on #595
yeah, let's wait. I think no need for the new org right now, might only lead to more confusion. I don't see it as that urgent.

The one repo I might make an exception for is `napari-app` because the only thing on there is a PR from @jni. Do you agree @jni?

[2019-10-18 02:36] jni commented on #595
Oh yeah, nuke that sucker! =P

[2019-10-18 02:52] kevinyamauchi commented on #593
@sofroniewn , I made an [initial prototype](https://github.com/kevinyamauchi/napari/commit/bcd460dfddb1ad4187175997870078a6c7a029fe) and I am a bit on the fence. Initially, I thought it would be nice to have a marker and text so it is clear what the text is referring to. In cases that we don't need the marker, we can just hide them (the visibility of the `Marker` node would be settable). Now that

[2019-10-18 06:20] jni commented on #593
@kevinyamauchi thanks for the link to the prototype! Note that you should feel free to submit as a WIP/draft PR (GitHub now lets you mark these "officially" as draft which prevents merging! Which is very cool), which allows us to comment directly on specific aspects of the code.

Regarding points, I am also on the fence, except to say that if you want to have points markers, you might as well subc

[2019-10-18 11:56] sofroniewn commented on #595
i just deleted `napari-app`. @jni has deleted `napari-gui` from PyPi.

let's leave this open till I rearrange our docs files as discussed with @AhmetCanSolak

[2019-10-18 12:28] sofroniewn commented on #593
@kevinyamauchi amazing progress! I gave `add_annotations.py` a look, and while the Points were a nice idea, taking a look at it, I think we can do without them. The points can always be added in a separate layer (and maybe linked with an automated callback if needed), and I could equally imagine someone wanting to put text near shapes instead.

Not having the points will make the UI controls much

[2019-10-18 19:08] berl commented on #570
just found this issue and wanted to chime in:
the current space in the clims slider is pretty finicky for my data because (like a lot of fluorescence imaging) a ton of our information is down in the low intensity values. With the current 2-dots-and-bar slider, I don't have the flexibility to interactively adjust the low end without the 2 dots overlapping and becoming useless.

I don't have a great

[2019-10-18 21:18] royerloic commented on #596
I approve. Very nice approach. I see no issues.

[2019-10-18 22:47] kevinyamauchi commented on #593
Thanks for all of the feedback @sofroniewn and @jni! I didn't know that Github PRs have a "draft" mode - super cool! I have made some of the suggested changes in #600 .

I will move the main discussion points over to the PR to keep the discussion together.

[2019-10-19 14:16] sofroniewn opened #604 "customizing fileIO dialog"
## 🚀 Feature
Right now we just use the native fileIO dialog as bellow
![image](https://user-images.githubusercontent.com/6531703/67146337-b84e7b00-f24f-11e9-8fd5-e39fb14e5bd1.png)

but can can potentially customize our own fileIO dialog that would allow us to include extra toggle buttons, and drop-downs. I think this will be increasingly important as we try and deal with more complex layer and fil

[2019-10-19 14:27] sofroniewn opened #605 "Open folders of irregularly shaped images"
## 🚀 Feature
It would be nice to be able to open a folder of irregularly shaped images using some form of lazy loading / dask.

[2019-10-19 21:14] AhmetCanSolak commented on #605
I agree it would be nice to have, @sofroniewn  do you have a default convention to overlay images?

[2019-10-19 21:17] #595 closed, assigned to jni, royerloic, sofroniewn, kne42

[2019-10-19 22:38] sofroniewn commented on #605
I'd probably align (0,0), the top left corner by default, but you could align to the center. The thing that makes this annoying is I think its only really possible with dask array if you know all the shapes ahead of time, so you need to loop over the data once to get all the shapes, but you want to do that without loading all the image data, so you have to look at the image metadata, but then that

[2019-10-20 01:20] jni commented on #604
I'd like to keep fileIO native, as I always find it jarring to have a non-native fileIO dialog. The Mac's dialog in particular is excellent and people know exactly how to navigate it, it has spotlight built in, etc. I would prefer having a big custom menu with a single "select files" button that launches the native dialog (and lists the files once selected).

[2019-10-20 10:41] jni commented on #575
Just double checked, and I can reproduce @li-li-github's original issues (overwriting data), and this has nothing to do with clims (at least that I can tell): the input array is indeed overwritten. To reproduce the issue:

1. Download @VolkerH's data: https://www.dropbox.com/s/93ykwmonofq7171/droso_ovarioles.tif?dl=0
2. Load it with `skimage.io.imread`. Check the range: it is a float32 array with

[2019-10-20 23:29] jni opened #608 "Keyboard shortcut for opening folders doesn't work"
## 🐛 Bug

This might be my fault, and can't investigate now, but:

<img width="227" alt="Screen Shot 2019-10-21 at 10 27 36 am" src="https://user-images.githubusercontent.com/492549/67168194-91c64680-f3ed-11e9-83de-d88493436234.png">

It's supposed to be Ctrl/Cmd-Shift-O.

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

 - Please copy and paste th

[2019-10-21 00:32] VolkerH opened #609 "race condition when trying to get pixel value for mouse click with `get_value(self)`"
## 🐛 Bug

`get_value()` is used to get the pixel value at the "current" mouse position.
https://github.com/napari/napari/blob/9d409c9eb708b2091cba5f51710f1190dfbecbc4/napari/layers/image/image.py#L541
The way it is implemented, `get_value()` seems to check the current mouse position on the canvas.
This may be desired in many instances, but it would be good if one could optionally pass in the mouse

[2019-10-21 07:28] jni commented on #570
In Quicktime, you can hard-press (or long press) when scrubbing on the movie position to "expand" the slider and have movement of the slider translate to finer movement of the time. We should definitely steal this idea.

[2019-10-21 13:53] sofroniewn commented on #609
Fixing this sounds fine, the changes will be backwards compatible which is nice, but the function signature should be changed on all our layer types.

Also to be clear, do you want to pass in the (x, y) coordinates of the mouse on the screen which we call `position` or do you want to pass in length D vector, which may be (Z, Y, X) which we call `coordinates`, as this is the variable currently used

[2019-10-21 13:54] sofroniewn commented on #608
I'll address this in the PR I'm working on for #604

[2019-10-21 15:50] tlambert03 opened #611 "TransFire & TransGrays colormaps don't work on scalars"
## 🐛 Bug

The `TransFire` and `TransGrays` colormaps slightly break the vispy colormap API when `vispy.BaseColormap.__getitem__()` is called with a scalar for example:

[code]
[code]

I think the issue is related to the [`np.dstack`  in `TransFire.map()`](https://github.com/napari/napari/blob/85e6bd46a2b1be230cceef429316e41405aa6356/napari/util/colormaps/colormaps.py#L257) that returns an array wi

[2019-10-21 17:21] sofroniewn commented on #611
Thanks for catching that!

[2019-10-21 20:40] tlambert03 opened #612 "float32 image data getting clobbered after changing ndisplay"
## 🐛 Bug

While viewing 32 bit arrays, I saw some unexpected behavior, and I'm curious whether this is something you all have observed before or indeed a bug.  The gist is that when I add a 3D `float32` array to the viewer, then either press the "toggle displayed dims" button or directly change `viewer.dims.ndisplay`, the image appears to disappear, and it doesn't come back when going back to a 2D

[2019-10-21 21:04] sofroniewn commented on #612
This may relate to #575 which also seems to be selectively affecting float32 and we regard as needing an urgent fix. We havn't dug in to figure out what's specifically going on with the float32 yet though

[2019-10-21 21:11] tlambert03 commented on #612
ah.  definitely seems like the same issue.  maybe the `data.copy()` strategy I mention above could be a short term fix (I guess it would waste memory?), while we dig into the vispy code to see what might be going on.

[2019-10-21 23:46] tlambert03 commented on #575
figured it out.  commenting here rather than #612 to keep the discussion in one place, but refer there for test code if you want.

The problem is [these lines](https://github.com/vispy/vispy/blob/master/vispy/visuals/volume.py#L477-L483) in the vispy `VolumeVisual.set_data()` method:
[code]
with all datatypes _besides_ `float32`, it has no choice but to make a copy of the array during type convers

[2019-10-21 23:55] jni commented on #575
@tlambert03 nice sleuthing! We should definitely make a float64 copy of the array on our end temporarily (a float32 copy will still get downscaled repeatedly and give a black image, even if our original data is at least not destroyed, right?), *and* VisPy should be fixed so that this doesn't happen again. But we certainly can't wait for the VisPy fix to be out in the wild.

btw the 6 times calling

[2019-10-22 00:08] tlambert03 commented on #575
The code I posted above doesn't repeatedly downscale (as long as that `data.copy()` is in there for the `dtype == 'float32'` case) since it gets "reset" each time the `VispyImageLayer._on_data_change` method gets called.    Whereas, storing a float64 would increase the memory overhead, and still wouldn't avoid the `copy` event that would then just happen in the vispy code anyway.

I'm not sure vis

[2019-10-22 00:12] jni commented on #575
Ah, gotcha. Well, either way, making six copies of the data every time something changes seems like a bad idea. =P

I definitely think it's a bug on the vispy side: visualisation code should *never* modify input data. I think I'm quite happy to die on this hill. =P

[2019-10-22 00:30] VolkerH commented on #609
I haven't looked at all the occurences  for other layer types and am not exactly sure about the design.
The docstring currently says

[code]

So based on this, I would assume mouse position `X,Y` at the time of event would be passed in.

If I understand correctly, if the function requires passing in `Z,X,Y` I would have to go into `_transform_position`  in the vispy layer to make that translation?

[2019-10-22 00:52] VolkerH commented on #531
This is a very quick & dirty demo of what I had in mind:

![napari_label_inspector](https://user-images.githubusercontent.com/2210044/67252983-31083e00-f4c1-11e9-988c-03fd40318312.gif)

Code is here:
https://github.com/VolkerH/NapariPlayground/blob/master/CustomMouseFunctions/custom_mouse_functions.py

I experinted with a QTableView (which doesn't make too much sense as we can only hover over one

[2019-10-22 03:45] sofroniewn commented on #531
This looks so cool! Ultimately I think this is the sort of functionality we want people building plugins to be able to provide. Still need to work with @jni to figure out the best way to enable it, but this is pretty cool to see!!

[2019-10-22 04:10] sofroniewn commented on #575
Apologies for the six calls to `on_data_change`, yikes, I knew there might be some stuff like that happening in the repo, but that exceeds my fears!! We've recently started adding some benchmarks - see our [benchmarking guide](https://github.com/napari/napari/blob/master/docs/BENCHMARKS.md) which can also be profiled, and I feel like now is a good time to start reducing some of those redundant cal

[2019-10-22 04:10] #575 closed, assigned to nobody

[2019-10-22 04:11] sofroniewn commented on #612
This has been closed by #613 using the copy strategy.

[2019-10-22 04:11] #612 closed, assigned to nobody

[2019-10-22 09:17] jni opened #614 "Scale not respected in 2D display"
## 🐛 Bug

When viewing an anisotropic volume in 2D, transposing the axes should result in a properly-scaled display of the cross-section.

## To Reproduce

Steps to reproduce the behavior:

1. Download the cropped sample A volume from cremi.org: https://cremi.org/static/data/sample_A_20160501.hdf
2. Load and display it as follows:

[code]

3. Push the "roll dimensions order for display" button

<i

[2019-10-22 17:38] sofroniewn commented on #614
Strange to me that this didn't work - i would have expected it to. I'll take a look when I have time

[2019-10-23 10:28] jni opened #615 "Add `view_multichannel` method"
## 🚀 Feature

I'm not sure whether we made a conscious decision not to add the `view_multichannel` function corresponding to the `add_multichannel` Viewer method, but if so I now believe that this decision was in error. =P

## Motivation

While working to add documentation, I found that I could meet many use cases of napari with a single `view_` call. However, for `add_multichannel`, I needed to f

[2019-10-23 11:45] tlambert03 commented on #615
i've been incorporating napari into LLSpy, and this was one of the first things I wanted to do

[2019-10-23 14:54] sofroniewn commented on #615
not intentional - was an oversight! i think all out `add_*` methods should have `view_*` method counterparts where the keyword args are the same + the viewer keyword args.

[2019-10-24 03:47] #615 closed, assigned to nobody

[2019-10-24 03:47] jni commented on #615
Turns out this is already on master! 😂

[2019-10-24 05:18] sofroniewn commented on #596
Support has now been provided for images and will be rolled out to other layer types as appropriate. We still might want to add chaching with dask where appropriate. We also might want to unify fileIO from the CLI, and we might need to still expose some more of the `magic_imread` keyword args

[2019-10-24 05:40] sofroniewn commented on #614
Looks like `_on_scale_change` isn't getting triggered on the vispy view when the roll happens - should be easy to fix

[2019-10-25 02:03] tlambert03 commented on #575
This is now fixed upstream in vispy/vispy@876a0d3 ...  so once v0.6.2 is released, in order to avoid the extra copy operation for float32, we'll either need to pin a higher vispy dependency and remove the conditional added in #613, or dynamically check vispy versions inline.  I'll try to remember to open a new issue when that happens

[2019-10-25 02:27] VolkerH commented on #531
I guess the callback hook is there now, so the issue can be closed if you agree.
Thanks again !

[2019-10-25 03:45] sofroniewn commented on #531
Sounds good, thanks!

[2019-10-25 03:45] #531 closed, assigned to nobody

[2019-10-25 03:51] jni commented on #575
Since we are still in alpha we are in general totally fine with being bleeding edge with dependencies. We'll bump vispy once it comes out. Thanks for your lightning quick handling of this, @tlambert03!

[2019-10-25 12:43] tlambert03 opened #621 "auto bug reporting?"
## ❓ Question

Just curious whether you guys have discussed using exception monitoring services, for auto-collecting napari bug reports & stack traces.  I have been using [sentry](https://sentry.io/) with LLSpy and FPbase (it's [free for open source](https://sentry.io/for/open-source/)) and it's been super helpful to catch bugs that users would sometimes not even notice (or otherwise not report),

[2019-10-25 15:56] hectormz opened #623 "io.magic_read not updated in __main__.py"
## 🐛 Bug

Call to `io.magic_read()` on line 56 of `__main__.py` not updated to `io.magic_imread()` after #601

## To Reproduce

Steps to reproduce the behavior:

1. Running `napari some_file.png` from command line

I'm happy to open this one line change Pull Request, or it can be done by one of the maintainers

[2019-10-25 16:22] AhmetCanSolak commented on #621
Sentry is great.

I love to hear what others feel on having such feature, even as an opt-in could bring some concerns.

[2019-10-25 18:22] wiebkejahr opened #624 "contrast slider only goes to 195"
## 🐛 Bug
The contrast slider can only be adjusted to [min, max] = [0, 195].

## To Reproduce
Steps to reproduce the behavior:
1. load image stack (I tried with a tiff stack written by ImageJ: 16 bit, 4 dimensions)
2. data displays correctly; hovering with the mouse over a pixel displays the correct value
3. however, any pixels brighter than 195 are "white" (ie brightest color of the current colorm

[2019-10-25 18:33] tlambert03 commented on #624
I was actually considering making an issue about this earlier today, since I was confused about it as well.  The issue here is likely the line in `napari.util.misc.calc_data_range` that resorts to a rough estimate of the contrast limits if the image has more than 1e6 pixels (@wiebkejahr, what was the exact shape of your volume?):
https://github.com/napari/napari/blob/f747495fb45fb1d5c9eec339641d4b

[2019-10-25 18:42] wiebkejahr commented on #624
I was surprised why nobody had found that before, but that explains it :)

Dimensions are:
64x3x350x300 px
and especially the first planes are very dim.

I'm providing the dataset here:
https://seafile.ist.ac.at/f/c39ed737f4e24c0eb63e/
(don't want to clutter it directly into github since it's rather large)

[2019-10-25 20:51] sofroniewn commented on #623
If you can make a PR to fix that would be great! my fault!

[2019-10-25 21:16] tlambert03 opened #625 "redundant calls to VispyImageLayer._on_data_change"
## 🐛 Bug

This is just to start an issue to discuss the redundant calls to `VispyImageLayer._on_data_change()` as disccused in https://github.com/napari/napari/issues/575#issuecomment-544797848 ... which will likely be a drag on performance

I know this will be _much_ easier for @sofroniewn and others to solve, but I just wanted to use it as an opportunity to understand the napari event sequence a

[2019-10-25 21:28] sofroniewn commented on #623
i might also quickly make one, as this is a pretty serious bug that we should fix before our next release, thanks for catching it!

[2019-10-25 21:29] hectormz commented on #623
Just submitted, happy to help!

[2019-10-25 21:31] sofroniewn commented on #623
Perfect, thanks!!

[2019-10-25 22:37] sofroniewn commented on #624
Thanks for catching this, I think our current approach with `napari.util.misc.calc_data_range` is suboptimal, but I'm not quite sure what to do - @jni has advocated for an approach where we look more at the dtype, i.e. is it uint8 etc., but I'm not 100% sure about that.

@tlambert03 we can certainly relax to 2e7, but curious if you or anyone else has alternative ideas for how to approach this

[2019-10-25 22:42] sofroniewn commented on #625
@tlambert03 thanks for making this! It pains me a little to look at it (though I love the rendering, did some software automatically generate it for you?)

This spaghetti monster clearly needs to be cleaned up, and I'll start thinking about how be to do it. I think we'll just want one pass - corresponding to the outside loop
[code]
and we'll want to cut the other paths, without breaking everything

[2019-10-25 22:43] #623 closed, assigned to nobody

[2019-10-25 22:54] sofroniewn opened #627 "QSocketNotifier warning when using viewer"
## 🐛 Bug

Cross posting from imagesc

https://forum.image.sc/t/qsocketnotifier-warning-when-using-viewer/30721

I've seen this on some installs - we should look into it. Maybe @AhmetCanSolak has an idea

[2019-10-26 10:52] jni commented on #627
Searching the interwebs for that error message brings up some pretty obscure stuff. =(

@sofroniewn when you say you've seen it before: was it always on old versions of Qt as in Sebi's post, or did you see it even on newer Qt?

[2019-10-26 12:12] jni commented on #625
Wonderful, @tlambert03! I second @sofroniewn's question, but in more detail! You clearly have much better tooling than us! 😂 Could you elaborate on your detective work so we can track it better ourselves in the future?

[2019-10-26 12:29] tlambert03 commented on #625
I wish I could claim credit for a sweet tooling setup... but I'm afraid that was just brute force.  I made the graphic manually in keynote 🤫starting at `_on_data_change` and connecting stuff back to `ndisplay.setter`.  I have played with [pygraphviz](https://github.com/pygraphviz/pygraphviz) and [pydot](https://github.com/pydot/pydot) for rendering similar connections/relations, like in database s

[2019-10-26 12:50] tlambert03 commented on #624
I agree, it's a bit hard to know how to handle it.  I do think it's important that the user need not to go into the console to access the full data range (at least on the current `_data_view`).
Here are some options that we can 👍👎... and for the sake of discussion let's assume _very_ big data (such that directly calculating min/max would cause unacceptable lag in the UI)

- along @jni's dtype appr

[2019-10-26 12:50] wiebkejahr commented on #624
Some thoughts to consider (coming from a microscopy background):
Given that standard scientific CMOS have 4 MP (cutting edge scientific cameras have 10 MP), and eg light sheet microscopy stacks typically contain on the order of 100 planes and/or hundreds of timepoints, I think that even 2e7 is still fairly strict. Would running a min/max to determine the range of the slider as the data is being lo

[2019-10-26 12:53] jni commented on #625
Logging definitely under consideration! We're considering some more modern external tools though, e.g. loguru.

Massively impressed at your dedication to PR/issue clarity. :joy:

[2019-10-26 13:09] jni commented on #624
@wiebkejahr

Yes, actually we changed from using the full data to the estimate precisely because it took forever to load e.g. Gokul's LLS dataset. 100GB at, say, 200MB/s 500s, or almost 10min. And the counterpoint is also important: speed is one of napari's founding principles, and it feels pretty magical to say, `napari.view_image(giant100gb_dataset)` and have it instantly show the first plane. T

[2019-10-26 13:57] tlambert03 commented on #625
loguru looks awesome. 👍

[2019-10-26 14:32] tlambert03 commented on #624
I agree for the most part.  but I think it's also reasonable to aim for a "it just works" experience for 90%  of use cases, while gracefully "giving up" for the giant/remote data case.  Working strictly within the principle of "performance-first", there is a lot of middle-ground between 1e6 pixels and a 100GB dataset.

[2019-10-26 15:48] tlambert03 commented on #611
fixed in #622

[2019-10-26 15:48] #611 closed, assigned to nobody

[2019-10-26 16:07] sofroniewn commented on #627
i'm not sure, it was during the training i did at sfn, it happened for some of the students, but not all. i'm not sure if there was a pattern

[2019-10-26 16:10] sofroniewn commented on #576
@VolkerH has this been fixed on master with the merging of #613?

@tlambert03 might have an idea, though i'm not quite sure how the array size stuff fits in

[2019-10-26 17:17] bscott711 commented on #448
Adding some sort of storyboarding to the animation process would be very beneficial especially as there are multiple frames and vantage points wanted for timeseries data.

[2019-10-26 20:09] sofroniewn commented on #625
Adding logging in a dedicated PR sounds good

For now I'm working on fixing this, should have something soonish

[2019-10-27 08:59] VolkerH commented on #576
I will check whether the fixes to the float32-issue in vispy fixed this as well. Will have to wait until tomorrow though.

[2019-10-27 09:45] aasensio opened #630 "Callbacks when slider change"
Although Napari mouse events can be easily intercepted with decorators, other events are not so easily captured. I've managed to plot some features of the input n-cube in a separate PyQtGraph window as a response to mouse motion. However, I also want to do changes when the dimension sliders are changed. I've managed to connect a callback function with `viewer.dims.events.connect(update_slider)`. I

[2019-10-27 21:42] sofroniewn commented on #630
Hi @aasensio - very exciting to see you building on top of napari in this way, and we definitely want to provide easy access to our event system to make this an even smoother process.

We're still figuring out how to do this in the best way possible - but you can get a sense of how we and others have been thinking about it in these two issues: https://github.com/napari/napari/issues/209#issuecomme

[2019-10-27 21:51] sofroniewn commented on #596
we still have to extend support to our other layer types, but as the basics are now in I will close this issue

[2019-10-27 21:51] #596 closed, assigned to nobody

[2019-10-27 22:42] sofroniewn opened #631 "error installing on ec2 deep learning ami"
## 🐛 Bug

Following up on #495 I'm trying to install napari on an amazon ec2 instance with the ubuntu deep learning ami am but running into this error:

[code]

Once we get #587 in this should be improved. I don't know what `sparkmagic` is

[2019-10-27 22:46] sofroniewn commented on #631
If i `pip uninstall sparkmagic` this now goes away (we don't need that package), but I now run into

[code]

We have a requirement of `>4.5.1` not sure how to proceed now, will keep trying

[2019-10-27 22:52] sofroniewn commented on #631
navigating to `/anaconda3/lib/python3.6/site-packages` and then doing `rm -rf` on the offending packages and then pip installing again seems to have worked

[2019-10-27 22:59] sofroniewn commented on #631
As to be expected I can now run `import napari` on in ipython or a jupyter notebook running from my ec2 instance, but I cannot actually view any images as it isn't possible to launch the `QApplication`. I want to now start investigating though if I can connect this python kernel to the qtconsole running inside napari on my local machine

[2019-10-27 23:06] VolkerH commented on #576
Just pulled the latest master and did some checking. And it seems that my original examples included two different bugs. What I described as Variant 1 in my first post in this issue is no longer a problem.

However, certain array sizes still cause problems. Here is a minimal code snippet that causes problems when switching from 2D to 3D.

[code]

[code]
![3dbug](https://user-images.githubuserconte

[2019-10-27 23:08] VolkerH commented on #576
reopening, clicked the wrong button by accident

[2019-10-28 00:03] jni commented on #631
@sofroniewn *sigh* the pip folks have done a lot of work to try to ensure that your distro remains consistent, but now it results in these annoying errors *that have no workaround*. It's insane that you have to `rm -rf` packages but I think that is sadly where we are at right now. 🤦‍♂ I'm not sure what the right repo is to complain about this.

[2019-10-28 00:32] VolkerH commented on #539
This gave me an idea that would be useful for proof-viewing tracking results. A feature such as in stop motion animation software where one can see the previous frames as gradually fainter overlays. That would not be a vector primitives layer but a pixmap layer (so really a separate but related issue). Could be implemented using the existing layer/blending mechanism with a few tweaks.

[2019-10-28 01:45] GenevieveBuckley opened #632 "view_multichannel function does not behave as described"
## 🐛 Bug

The mini-tutorial on `view_multichannel` @jni presents in [his blogpost](https://ilovesymposia.com/2019/10/24/introducing-napari-a-fast-n-dimensional-image-viewer-in-python/) doesn't work for the current release (0.2.3) or for napari installed from the master branch.

Also, https://github.com/napari/napari/pull/619 makes is sound as though `view_multichannel` is going away very soon. If

[2019-10-28 01:49] GenevieveBuckley commented on #632
To be clear, I think the issue with view_multichannel should be pretty straightforward and I'm happy to put some effort into fixing that.

But I am pretty worried about how unstable the different installations I've tried seem be. That's going to make things hugely difficult to contribute.

[2019-10-28 02:10] sofroniewn commented on #632
Yup, that's clearly a problem, apologies, - evidently we never added a test for `view_multichannel` to `tests/test_napari.py` and so we missed that and when #615 and #617 got raised and closed the problem was them not being in the `init` and evidently added to the name space. I don't think there's actually ever been a time when `view_multichannel` has actually been run.

I think we should merge #6

[2019-10-28 02:57] sofroniewn commented on #631
Note the error message on trying the `%gui qt` magic is
[code]

[2019-10-28 03:23] jni commented on #632
Yeah, the timeline is:

- I didn't find `view_multichannel`
- I created my branch and made #615 and #617, *and* wrote the blog post
- @sofroniewn told me actually your master is out of date, which seemed legit
- I closed those and updated my master, but never re-ran that part of the code

This totally needs an update to the code/post. I might remove the `view_multichannel` use, since I have the do

[2019-10-28 04:06] GenevieveBuckley commented on #632
Juan clearly managed it somehow, I wondered if he might be using another branch or something.

Oops, I think I only remember to do this sometimes! That's what I'm doing wrong here :) Uh, is there a way we can display a more meaningful error message (like what you just said here)? I'm sure I'm not the only person who'll do this, and I'm also sure I'm going to forget and do the same thing again!

[2019-10-28 04:06] jni opened #634 "Be smarter about launching without a Qt event loop"
Several new users have reported issues with the `%gui=qt` / `--gui=qt` / `with gui_qt()` stuff. It's actually a pretty big gotcha with napari right now. At a minimum, we should catch these exceptions in the following entry-points:

- `Viewer()`
- `view_*()`

and provide an informative error message. Better, we should detect when there is no event loop and create our own, which would be blocking in

[2019-10-28 04:08] jni commented on #634
CC @GenevieveBuckley @DrLachie

[2019-10-28 04:09] jni commented on #632
Yep, see my comment above

Yes, we absolutely need to do this, see #634 to track this issue.

[2019-10-28 05:21] GenevieveBuckley commented on #420
Does "Support mixed 2D and 3D rendering" have an issue I can follow?

I often have a 3D volume (fluorescence microscopy), and a 2D image (scanning electron microscopy) from the same sample. It'd be really awesome if I could overlay the two.

They generally have very different angles of view from the detector to the sample, as well as very different pixel sizes which makes things kinda tricky.

[2019-10-28 05:27] GenevieveBuckley commented on #299
This would be really relevant in our lab, we need to do plenty of image registration between different imaging modalities. Currently we're using control point matching, which works ok.

We'd be happy to test things, if that helps.

[2019-10-28 05:38] GenevieveBuckley commented on #515
FYI,  Jan Arnold's 3D correlation toolbox (3DCT) does some 3D point picking. From memory there are a few nice things about the way it handles stuff, like fitting gaussians to bright blobs then "snapping" to them to fit the location more precisely.

It's GPLv3 (copyleft), the main repository is here: https://github.com/coraxx/3DCT

[2019-10-28 06:45] jni commented on #420
A quick search didn't turn up any, so feel free to create one. @sofroniewn has already done some of the leg-work here by allowing layers to have their own dims (dimensions) model, separate from the global one, so I think this one is less of an implementation and more of a UX challenge.

Layers can also have their own scaling and translation. In terms of e.g. 3D rotations or skew, I don't think we

[2019-10-28 06:47] jni commented on #515
GPLv3 means we theoretically can't even look at the code to port it without breaching the license terms. 🤦‍♂

[2019-10-28 09:34] aasensio commented on #630
Hi @sofroniewn - your suggestion works nicely. Since it involves accessing objects from out of the function I wonder whether it makes more sense to provide this information via the `event` variable. Apart from that, I think it might be confusing for some people that mouse events are treated with decorators but the rest of Qt events are done with `connect`. Perhaps it makes sense to unify the appro

[2019-10-28 09:57] jni commented on #630
@aasensio :heart_eyes: :heart_eyes: :heart_eyes: :heart_eyes:

That's gorgeous! One of the things we want to add very soon is a histogram "drawer", so that's a fantastically useful demo for us! Do you have the source code available somewhere?

btw do you mind if I tweet this image??? With attribution of course. =)

[2019-10-28 10:00] jni commented on #630
**Update:** Apologies if the code is the snippet above — I got the feeling from your response that you had updated it based on @sofroniewn's comment.

[2019-10-28 10:06] aasensio commented on #630
Here is the [code](https://gist.github.com/aasensio/cb46290686a808c838bcabd01cf9bde2) with  @sofroniewn's suggestion. Feel free to tweet the image. I've been looking for a tool like this for ages :smile:

[2019-10-28 10:17] HagaiHargil commented on #14
Hi,

I would also like to see support for labeled dimensions and automatically detecting `xarray`'s given labels. I'll be happy to write the PR for this feature, but I will need a bit of mentoring. I'm assuming we'd want to add a `label` attribute to the range sliders defined [here](https://github.com/napari/napari/blob/4499372a6256fc6d2cd4b3051a55297e258368ff/napari/_qt/qt_range_slider.py)? And i

[2019-10-28 10:19] petrushy opened #635 "Wish for conda package"
## 🚀 Feature
It would be nice with a conda package for this tool

## Motivation

Conda packages simplifies installation and potential dependencies. It has become a popular way to install scientific python packages.

https://conda-forge.org/

[2019-10-28 10:49] jni commented on #635
Thanks @petrushy for the suggestion! We are actually working on a conda-forge package here:

https://github.com/conda-forge/staged-recipes/pull/9983

Still need to figure out a bad interaction between PyQt5 and PySide2...

[2019-10-28 12:07] petrushy commented on #635
Ah great :) I have unfortunately not experience in qt problems..

[2019-10-28 14:49] sofroniewn commented on #2
This has been largely implemented by #610. There is still stuff we could do to push some of the gamma calculation to the graphics card, but things are pretty good now, so I am closing this issue

[2019-10-28 14:49] #2 closed, assigned to AhmetCanSolak

[2019-10-28 15:13] sofroniewn commented on #14
Hi @HagaiHargil, great that you're excited about this.

I think it will be best to split this into two PRs, the first PR will just add support for labeled axes if someone passes in a list of string labels, and the second PR will add support for autodetecting xarrays labels and generating that string list. How does that sound?

The reason for this is that we'll always want to support people with ju

[2019-10-28 15:16] sofroniewn commented on #456
@jni @VolkerH, now that we have a QScrollBar, which has a width proportional to the number of steps, do you still think this is as important? If so we can add it after adding the names to the axes in #14

[2019-10-28 15:22] sofroniewn commented on #634
Agreed - minimum fail gracefully, 2nd option is to warn and wait an extra couple seconds, sometimes it may be coming, finally we should make our own.

Fixing this is a high priority

[2019-10-28 15:25] falkben opened #637 "qt5-tools needed"
## 📚 Documentation

On Arch Linux needed to install [qt5-tools](https://www.archlinux.org/packages/extra/x86_64/qt5-tools/) in order to be able to launch it from within an ipython session.  Perhaps this should be mentioned on install guide?  If so, I could make a PR

[2019-10-28 15:27] sofroniewn commented on #630
Such a cool demo!! I think @d-v-b wanted something like this too.

Yup agree with this, I think we can make it such that you can use a decorator and we'll connect under the hood, possibly providing you access to `viewer` or `layer` depending on what you connect to. This would probably be the most consistent from an api standpoint

[2019-10-28 15:33] sofroniewn commented on #637
@falkben thanks for catching this. I'm not familiar with Arch Linux so am unaware of this. Not sure if @jni has any experience. I take it qt5-tools is not the sort of thing that we can be obtained via pip and so added to our `requirments.txt` but must be installed separately for Arch Linux users? If so probably best to document this on the installation guide on our tutorials website - this page he

[2019-10-28 15:36] sofroniewn opened #639 "Support mixed 2D and 3D rendering"
There have been a couple requests for mixed 2D and 3D rendering - for example

_Originally posted by @GenevieveBuckley in https://github.com/napari/napari/issues/420#issuecomment-546795030_

I've done some exploration of this from the vispy side and our scene graph can handle most of this complexity, we've just got to think about how to best expose the interactivity to the user

[2019-10-28 16:13] horsto commented on #240
This would be fantastic indeed. Do you have any ideas about the estimated timeline for this? Thanks!

[2019-10-28 18:50] AhmetCanSolak commented on #627
would be happy to get more details to reproduce this

[2019-10-28 19:53] #625 closed, assigned to nobody

[2019-10-28 20:26] HagaiHargil commented on #14
Hey, and thanks for this detailed reply.

Splitting up the PRs seems very logical. I will start working on the first soon, and I might create a semi-complete PR for you to review, and then update it with your comments.

[2019-10-28 22:37] berl commented on #630
@sofroniewn I like the ability to do the `connect`ing myself in my subclass of `napari.Viewer`
e.g.  when adding layers, `self.layers[-1].events.contrast_limits.connect(self.sync_clims)` to synchronized clims across layers.

  Ignorance showing here: I'm not sure how I would accomplish the decorator version of this ^^ inside my `viewer`.

[2019-10-28 22:54] sofroniewn commented on #630
yeah, we'd have to see - I don't think the `connect` syntax would go away, we might just make it so you don't have to use it

[2019-10-28 23:56] stefanv commented on #467
@jni I presume many of these can be closed by now?

[2019-10-28 23:57] tlambert03 opened #640 "layer.scale and Image [indices]"
##  🐛?
not sure if this is a feature request or a bug.  but I was confused by the behavior of the sliders when `layer.scale != [1, 1, 1]` ... I haven't had time to look at the appropriate code yet, but here was the behavior I was "expecting" to happen from, I guess, previous experience:

- when in "2D" mode (with a 3D image), the dims slider should have as many "stops" as there are planes in the i

[2019-10-29 00:04] sofroniewn commented on #467
Some but not all, I can go through and call out in more detail / create new issues for the critical ones

[2019-10-29 01:35] VolkerH commented on #465
I used some of the info contained in this issue and the opencv facedetect example to create a little live capture/processing demo. These are just webcam images, but the update happens fast enough for this application. Not sure whether just assigning to the `shape_layer.data` is the right way to go to update polygons. I could imagine this in smart microscopy applications detecting regions of biolog

[2019-10-29 02:43] VolkerH commented on #456
I still think it would be useful to see the number of frames / z-slices etc. in absolute numbers (rather than based on reltive slider width). But I also realize that there are probably more urgent things.

[2019-10-29 03:09] jni commented on #240
@horsto Unfortunately, we don't have a timeline for this feature, as this is not the highest priority for us at the moment. There are now some workarounds for using napari through the browser using novnc, see this tweet for example:

https://twitter.com/crucifixkiss/status/1187867100402143234

Initially, we will be working on allowing your local instance to connect to data on a remote kernel (and

[2019-10-29 03:14] jni commented on #456
I agree with @VolkerH — having actual numbers is helpful, especially once you get to >30 slices or so, when it becomes harder to estimate the actual total value. At least, the total size could appear on hover.

[2019-10-29 03:50] sofroniewn commented on #640
I'd say this is something that needs more thought, right now we have the concept of a "step size" in our range, which will influence the indices that we slice at - see here https://github.com/napari/napari/blob/f27b90dab2032c2540d50070f18afdbf060a4b11/napari/components/dims.py#L185

part of the motivation for this was to handle image pyramids where an axis has been downsampled but you still want t

[2019-10-29 04:16] VolkerH commented on #639
A general affine translation support for volumes (as in Big Data Viewer) would have many use cases and would solve this use case as well (when representing the 2D image as a volume with very small Z depth).

[2019-10-29 04:42] VolkerH commented on #576
Ok, this appears to be a bug in PyOpenGL. I could not find a github repo for pyopegenl, is this
really their source repo : (?)
https://bazaar.launchpad.net/~mcfletch/pyopengl/trunk/view/head:/OpenGL/latebind.py
In any case I have the same code for latebind in my conda env.

Copy & Paste of relevant code sections

[code]

What happens is that `self._finalCall` is never set, causing an exception tha

[2019-10-29 04:48] jni commented on #576
@VolkerH Did you maybe make a typo while searching?

https://github.com/mcfletch/pyopengl

Could you raise an issue there and link to this one? Thank you!

[2019-10-29 05:12] VolkerH commented on #576
No typo, github doesn't show up on page 1 of google searches for me. PyPI links to sourceforge page which points to launchpad.
![image](https://user-images.githubusercontent.com/2210044/67739470-a9917080-fa66-11e9-8042-9f4dd1bf49e9.png)

Anyway, thank you. Will check and create issue.

[2019-10-29 05:19] VolkerH commented on #576
Issue submitted to `pyopengl` repo https://github.com/mcfletch/pyopengl/issues/35

[2019-10-29 05:25] VolkerH commented on #576
@jni, curious whether you can reproduce this with the minimal example above on your machine?

[2019-10-29 05:27] jni commented on #576
@VolkerH I sort of can! If I run the code, I get a "segmentation fault: core dumped" crash upon pressing the 3D button.

[2019-10-29 05:37] VolkerH commented on #576
so you don't even get to see the python stacktrace ...

[2019-10-29 05:49] jni commented on #637
I know since this morning that @lagru uses Arch, so maybe he has ideas about how we can catch this/ensure the right packages are installed in addition to the pip requirements...? =)

[2019-10-29 05:49] jni commented on #576
Correct. I'm not sure why that would be different between our machines.

[2019-10-29 06:24] VolkerH commented on #576
Windows doesn't have SEGFAULT. It has access violations, and it seems those can be caught by the CPython interpreter. So I guess it is down to OS differences. One of the rare occasions where it is actually easier to work with Windows.

[2019-10-29 08:36] pskeshu opened #641 "Roll dimensions order of display crashes on 3D images"
I was just testing out different features in the viewer, and napari crashes when I open a 3D image and press the Roll dimensions order of display button with the following error:

[code]

Is this by design?

[2019-10-29 09:30] jni commented on #641
Haha no, we try to design our apps *not* to crash! 😅

Thanks for the report! Would you be able to share the input image that caused this? We will definitely try to get this fixed ASAP.

[2019-10-29 10:06] lagru commented on #637
I can't reproduce this (yet).

I tried to reproduce this by temporarily uninstalling qt5-tools with `sudo pacman -Rdd qt5-tools` and installing napari inside a bare bones conda environment:
[code]
I also tried to start napari from ipython with `import napari; napari.Viewer()` which warns that `/home/lg/.miniconda/envs/napari/lib/python3.7/site-packages/qtpy/__init__.py:216: RuntimeWarning: Selecte

[2019-10-29 10:18] pskeshu commented on #641
Here's a code snippet that can crash napari

[code]

[2019-10-29 10:22] lagru commented on #637
[The wiki](https://wiki.archlinux.org/index.php/Python#Package_management) recommends :

The latter requires a PKGBUILD (e.g. hosted on the [AUR](https://aur.archlinux.org/)). That way one can specify all non-Python dependencies.

I try to use virtual/conda environments whenever possible. E.g. conda often provides non-Python dependencies such as its its own OS-independent Qt version.

[2019-10-29 10:39] jni commented on #641
Oh I see. So we are doing something wrong with singleton dimensions. It might have to do with computing the slider width. Thanks for the snippet!

[2019-10-29 11:25] jni commented on #641
Ah! No, it's not the sliders, it's creating a thumbnail. This crashes it without the need for a button press:

[code]

We have actually run into this before. I guess the trick should be to have a minimal thumbnail side length of 1, even if the slice aspect ratio itself is squishier than 1/32. Either that or once we reach 1/32 we center and crop.

[2019-10-29 12:17] jni commented on #641
@pskeshu see #643 for a fix. Once that's in you should be able to update from master. We'll probably also cut a new release soon. Thanks again for reporting this!

[2019-10-29 15:13] #641 closed, assigned to nobody

[2019-10-29 15:14] sofroniewn commented on #641
This should now be fixed on master @pskeshu. Thanks again for reporting. If you run into more problems please let us know, as @jni said we'll probably release soon

[2019-10-29 15:35] falkben commented on #637
Following up:

I was using a virtual environment (not conda).

Looking through my `pacman.log` I installed the following yesterday:

[code]

Only after installing qt5-tools could I get ipython to start napari (however it was working from command line).  Perhaps I only just needed to restart my shell/environment and `qt5-tools` is not in fact needed.  **I have removed qt5-tools and have no problems

[2019-10-29 15:35] #637 closed, assigned to nobody

[2019-10-29 15:43] sofroniewn commented on #632
The `view_mulitchannel` issue has been solved by #619, where that part of the api has been deprecated in favor of
[code]

I will close this issue, but please let us know if this fix doesn't work for you @GenevieveBuckley.
As you can tell our main apis are still a little in flux, but they should be settling down soon!!

We're also now tracking the event loop issue in #634

[2019-10-29 15:43] #632 closed, assigned to nobody

[2019-10-29 16:48] sofroniewn commented on #637
Ok, no worries @falkben and thanks for making the issue / trying to figure it out. Maybe someone else will see it and it will help them too. If you do run into more problems feel free to reopen

[2019-10-29 17:03] sofroniewn commented on #640
So testing this out more now. I can see how the current implementation might be undesirable, especially for the case where scale < 1 and you are looking in 2D, as your slider now will not give you the ability to look at every slice - on the other hand if you are applying a scale I think it makes sense that the indices in the bottom left status bar contain the values after the scale.

We should kee

[2019-10-29 17:08] tlambert03 commented on #640
sounds good.  I will also try to familiarize myself with the handling of pyramids and scale soon too.  It may well be that the current implementation is already optimal for the internal handling... and perhaps all that will be necessary is to change the presentation slightly to the user in the GUI?.
I'll update #607 accordingly for now.  thanks!

[2019-10-29 17:18] sofroniewn commented on #640
if you look at the pyramid code, you'll actually see an additional `_scale_view` parameter on the layer gets used to enable rescaling of the downsample levels to the base level, and still give you the option for a global `scale` too

[2019-10-29 19:42] lagru commented on #637
@falkben By the way do you have UI issues to? Notice the cramped sliders in the top-left corner or the file dialog with perhaps some room for UI improvement. I doubt this looks as intended.

![image](https://user-images.githubusercontent.com/20140352/67802834-34389680-fa8c-11e9-993a-89a6b16b78ba.png)

Just trying to determine if it's my particular setup or just a general problem for Arch-based OSs

[2019-10-29 22:47] neuromusic commented on #137
@AhmetCanSolak +1

[2019-10-29 23:36] neuromusic commented on #141
I know this issue is closed, but...

One variant on "6" that we've seen with some starfish users: Sometimes a scientist wants the pipeline to be evaluated "lazily", with steps in the processing running as the data is available. Example: for an experimental design where there are multiple rounds of acquisition, they want to run the image processing for the first round immediately and inspect the re

[2019-10-30 01:45] kevinyamauchi opened #645 "numpy.pad() issues on version 1.16"
## 🐛 Bug

I had numpy version 1.16 and the `test_viewer.py` tests were failing because `np.pad()` was missing the `mode` positional argument (see below). I noticed that in [v1.17, `mode` is optional](https://docs.scipy.org/doc/numpy/reference/generated/numpy.pad.html) and when I upgraded numpy (1.17.3), the tests passed.

## To Reproduce

Steps to reproduce the behavior:

1. Install numpy version

[2019-10-30 01:48] falkben commented on #637
I do not.  I'm on Gnome/Wayland.  Looks like you are on X11?

[2019-10-30 02:40] jni commented on #621
Hi Talley,

We've actually had a conversation about sentry already. The short of it is that we actually have to be even more careful than most with user data collection, because of the perception of napari as coming from Chan Zuckerberg, and all of the surveillance concerns that that entails. There was massive uproar on the ImageJ list when Fiji proposed automatic tracking (I can't find it in the

[2019-10-30 02:43] jni commented on #637
@lagru I think that is a known issue with styling on HiDPI displays (or non-HiDPI, I forget :joy:): #530 If you can help here it would be massively appreciated!

[2019-10-30 03:40] sofroniewn commented on #645
Bumping the required version makes sense to me? Thoughts @jni?

[2019-10-30 06:40] berl commented on #609
I have a related issue/question: #646

Edit: moved to its own issue

[2019-10-30 07:07] pskeshu commented on #641
Thanks for the fast fix, guys! I have been using napari for a day, and I'm already loving it.

[2019-10-30 07:10] jni commented on #645
Yep, let's do it! Pretty happy to be bleeding-edge with napari, since we are still in alpha.

[2019-10-30 09:39] tlambert03 commented on #645
Just something to consider: with the strict dependency checking in conda and the pervasiveness of numpy, this _may_ give some people conflicts when they try to install napari into a conda environment with some other dependencies (once the conda builds are working).  It’s not exactly your problem, but it may be a reason to try to be a bit more liberal with the numpy requirement

[2019-10-30 09:43] tlambert03 commented on #621
Yep, makes lots of sense.  I hadn’t considered the completely separate package idea... that’s a good one

No need to keep this open, so I’ll close

[2019-10-30 16:08] kevinyamauchi commented on #645
@tlambert03 , I think that is a good point - I agree that we should be careful not to over-constrain the dependencies.

As far as I could tell, this `np.pad` issue is the only reason we currently needs to bump the requirements to `numpy >= 1.17`. I can make a small PR to add the `mode` argument (it is `mode=constant` by default in 1.17) in the relevant places and we won't have to touch the `numpy`

[2019-10-30 16:44] sofroniewn commented on #645
If it is a relatively simple fix like that then I lean towards making it and not bumping the requirement yet for reasons discussed above. But I will defer to the experience of @jni if he wants to weigh in again

[2019-10-30 17:31] berl opened #646 "mouse click callbacks and selecting layers"
## 🚀 Feature
 I want to add a callback that can identify which layer was clicked on, but the layer coordinates only work when the layer is already selected. The viewer.mouse_drag_callbacks events have viewport coordinates and I can't make sense out of the layer attributes that (could/should?) relate layer coordinates to viewport coordinates.

I'm agnostic to the mechanism here- I'd just like to be

[2019-10-30 18:13] sofroniewn commented on #646
@berl for the "hit layers" does this relate to grid mode, or is it independent of grid mode. I guess we'd probably want a solution that works for both cases

[2019-10-30 18:28] berl commented on #646
@sofroniewn  I've moved on from `grid_mode` to a customized version for my use case, but I think if there's a layer hit concept, it should work the same in any configuration of the viewer.  I don't think the layer hit should be extensively used in the "normal" Napari UX, but having it programmatically available will enable a lot of interactions that users expect.  For example, when I click on a th

[2019-10-30 19:34] YubinXie commented on #631
Hi, @sofroniewn
I am curious that if you run it on AWS, how do you see the windows? Thanks!

[2019-10-30 19:38] YubinXie opened #647 "Improve labels painting performance"
## 🐛 Bug

Hi, Thanks for the great tool.
My project involves large amount and size data, and sometimes the python window dies (no responding) after click around. I was wondering if there is any setting that I can assign more memory/cpu to this task? Thanks!

I installed the Napari in a new Conda environment with pip under Mac OS. When I open 1 image of 2000x3000 and just try to add label. It took

[2019-10-30 19:57] sofroniewn commented on #631
@YubinXie - you can’t see the window right now! We’re going to be working on a system that will connect a remote napari to napari running locally though so you can still interact with remote data and compute. I’ll be posting more details here as we start to work on it more

[2019-10-30 20:00] YubinXie commented on #631
@sofroniewn This is cool. Thanks! It would be great if multiple users can remotely interact the data at the same time.

[2019-10-30 20:07] AhmetCanSolak commented on #647
Hi @YubinXie ,

Thank you for the issue. would you mind opening a bug report with more details?

[2019-10-30 20:08] AhmetCanSolak commented on #647
or change this issue into a bug report please

[2019-10-30 20:11] YubinXie commented on #647
sure. Do you know how to change to bug report?

[2019-10-30 20:12] AhmetCanSolak commented on #647
(get the template from bug report issue, tell us more about your setup and your data)

[2019-10-30 20:25] YubinXie commented on #647
Got it. Updated!

[2019-10-30 20:35] sofroniewn commented on #647
Hi @YubinXie - we currently have some problems with drawing in our labels layer when images get large, see #569, this will likely be fixed by #204, but we still havn't gotten that implemented.

Sorry that it's not performing for you right now. We can try and get something like #204 in sooner rather than later!

[2019-10-30 20:38] YubinXie commented on #647
Sounds great. No worries. Look forward to seeing the update!

I am new in community and I want to ask a quick question here. When I load a folder and it shows in Z axis order in the viewer, is it possible to add file name to the image so that I know what I am looking at?

[2019-10-30 20:42] YubinXie opened #3546 "Add save label in tutorials"
Hi,

I'd like to use napari as annotation tool but I am not sure how to download/save the label after annotation. Thanks!

[2019-10-30 21:27] sofroniewn commented on #647
Welcome! Right now there is no way to add a name to each z-slice, but you can add a name to each layer. If this is something you are interested in can you make a new "Feature Request" issue that explains in a little more detail your usage and what you want to see

[2019-10-30 21:57] YubinXie commented on #647
Got it. Thanks.
For the layer name, it only displays at the left part (and long name does not show properly), and it is hard to see when I do grid view mode. Is there a way to put layer name around the image?

[2019-10-31 00:05] sofroniewn commented on #647
If you click inside the textbox you'll be able to scroll to see the rest of the name, we can work on improving that. You might also be interested in the text layer that we are currently working on #600

[2019-10-31 00:44] sofroniewn commented on #634
This has now been closed by #642

[2019-10-31 00:44] #634 closed, assigned to nobody

[2019-10-31 01:26] sofroniewn commented on #3546
Hi right now you have to grab the labels data from the console and do it yourself, something like
[code]
we'll be adding saving to the drop down menus soon!!

[2019-10-31 01:42] YubinXie commented on #3546
I see. It works. Thanks!

I noticed one thing after I saved the label. The label image with size 33x2048x2048 takes 1GB space. This is way too much as a mask. Given the fact that the label in the mask is usually smaller than 128, I think the int64 format of the label can be converted to much smaller one.

[2019-10-31 02:13] YubinXie commented on #647
@sofroniewn Sounds great.

One thing that might be related to this issue is that, I found the saved Label file for 33x2028x2048 is 1GB due to its data type being int64. For the label, int from 0-128 should be enough. Will this help the annotation speed?

[2019-10-31 02:23] sofroniewn commented on #647
i'm not sure, but i can do some benchmarking to see. I don't think it will be as large a difference as getting #204 in. you can do something like `your_data = your_data.astype(np.uint8)` before adding it to the labels layer to check yourself

[2019-10-31 02:34] YubinXie commented on #647
did not realize I can change the data type directly. I tried it and I think it is faster (although still lagging)

[2019-10-31 02:41] sofroniewn commented on #11
we're pretty close to all these features! we're still missing the max proj / crop, but issue #7 is explicitly about that, and the play button isn't quite in, but will follow closely after #607 so I will close this now

[2019-10-31 02:41] #11 closed, assigned to nobody

[2019-10-31 03:04] jni commented on #647
@YubinXie the issue is that the workflow of converting labels to *well-separated floats* is done in the CPU. So that will always be quite slow for large images. @sofroniewn some quick gains might be had by changing that code to use float32 instead of system floats (usually 64). The copy in vispy might be significantly faster than a cast.

[2019-10-31 03:05] jni commented on #3546
@YubinXie try:

[code]

For labels files, the gains from compression are enormous.

[2019-10-31 04:26] sofroniewn commented on #569
Note that labels painting will likely be significantly speeded up by #204

[2019-10-31 05:37] eburling commented on #578
I'm experiencing this in a multiplex immunofluorescence imaging use case illustrated [here](https://www.loom.com/share/8af375e297274189bbbb7d2bd34596ea). For reference, each layer is a multiresolution zarr array being read in by dask, e.g.:

[code]
When I am browsing at the highest resolution of the pyramid (8059 x 9454 pixels) I notice that the layer index at the lower left of the viewer iterates

[2019-10-31 08:13] horsto commented on #240
Thanks a lot for your reply, @jni ! Yes, I checked the other options of interfacing with napari, but was very keen on seeing the jupyter lab implementation work since napari works so nicely with classical notebooks. I guess I do not quite get why jupyter lab is so different from the classical notebooks in that sense. I was hoping this could be implemented since our lab recently moved over to jupyt

[2019-10-31 11:23] jni commented on #240
@horsto wait: are you saying that you can't run napari with a *local* jupyterlab instance? ie running jupyterlab entirely on your laptop? *That* should definitely work! Could you describe your problem in more detail?

[2019-10-31 11:42] jni commented on #645
Talley is right, conda constraints can be super annoying. Sorry, I misread and misremembered this issue and thought we would have to do more surgery. Let's just add `mode='constant'` to that line and move on with our lives! =D

[2019-10-31 11:46] jni commented on #240
@horsto I am able to run napari on a local jupyter lab notebook without issue...

[2019-10-31 11:52] jni commented on #578
@eburling thanks for chiming in! Very cool dataset. :grinning: Fixing this is a high priority for us. We'll keep you posted!

[2019-10-31 13:58] horsto commented on #240
Thanks @jni, yes, I was talking about locally running jupyter lab and starting napari from within. This didn't work for me before, but I just redid all my steps and it miraculously runs now without problems! Sorry for the trouble. Just in case this comes up in another form: Starting napari would crash the kernel and just restart it without apparent error message (no napari window would open). But:

[2019-10-31 14:35] sofroniewn commented on #645
Sounds good, would be great if you can take this one then @kevinyamauchi!

[2019-10-31 14:42] sofroniewn commented on #578
Yikes! that's for including the video @eburling, I feel your pain! It should be pretty easy for us to turn off some of those refreshes if the layers aren't visible (certainly the pyramid related ones), that will make a huge difference here.

[2019-10-31 15:41] kevinyamauchi commented on #645
On it!

[2019-10-31 16:47] eburling commented on #578
Cheers, @jni and @sofroniewn! I saw the napari demo at Bioimage Informatics this month and have been tinkering every since. Thanks for the great work.

[2019-10-31 16:48] royerloic commented on #624
One simple solution is to add a margin around the approximate [min,max] values, for example by using: [min-epsilon,max+epsilon] with epsilon= 0.1*(max-min). This is also useful anyway because sometimes you want to go a little bit outside of the [min,max] range when adjusting contrast (think about outliers and the need to saturate a bit, etc...).

In theory, we should even be able to estimate a goo

[2019-10-31 17:41] horsto commented on #240
Actually, the error is still there, so I tried to screen capture the moment when it occurs: https://imgur.com/a/f5ny5ep
No matter what I do (restarting kernel, closing/re-opening that notebook) the kernel always crashes.
However sometimes it "just works" (see here: https://imgur.com/a/eAeL0sN) and stays stable for quite some time. Any idea what is going on there?

[2019-10-31 22:25] GenevieveBuckley commented on #465
That's really cool, @VolkerH
Are you planning to try out something similar on a microscopy application soon?

[2019-10-31 22:37] #645 closed, assigned to nobody

[2019-10-31 22:38] VolkerH commented on #578
@jni contacted me via email asking for a multiplexed dataset for testing (showing him the sluggishness with my comparatively small dataset is how this issue started). The code is here https://github.com/VolkerH/NapariPlayground and the dataset is downloaded in the background.

For performance testing it may be helpful to modify the code to add each layer more than once.

A few observations:

* Whe

[2019-10-31 23:08] VolkerH commented on #465
@GenevieveBuckley, I will answer that outside of this issue as it is somewhat off-topic.

[2019-11-01 16:25] adamltyson opened #651 "Introduce the concept of points having a "class" that can be changed in the GUI."
## 🚀 Feature

Introduce the concept of points having a "class". Rather than calling `viewer.add_points` multiple times, points should have a label, which means they are rendered in different colors, and can be moved from one class to the other in the GUI.
## Motivation

I want to use napari to curate points, and generate training data. Assuming I have an image, and N classes of detected objects, I

[2019-11-01 18:29] sofroniewn commented on #651
@adamltyson I like this idea a lot, I want to think about it in the context of https://github.com/napari/napari/pull/552#issuecomment-536878528 where the concept of `coordinates and values` has been proposed. I like the idea of `values` / `class` just being a continuous or categorical descriptor.

I think @berl might have opinions on improvements to this api too.

Making sure use case like this ar

[2019-11-01 20:29] YubinXie opened #652 "Allow large image visualization"
## 🚀 Feature

When I load a large image, it gave error `PIL.Image.DecompressionBombError: Image size (322907280 pixels) exceeds limit of 178956970 pixels, could be decompression bomb DOS attack.`

I have seen this in other cases, which is due to the limit of PIL.
## Motivation

In histology, whole slide image can be very large.

## Pitch

I think either hack the PIL package a little bit to remove

[2019-11-01 20:35] AhmetCanSolak commented on #652
@YubinXie do you have an alternative way to read that big file into a numpy array? If so i would suggest read data in numpy array your way, then add to viewer in a script like in example scripts?

[2019-11-01 20:38] ctrueden commented on #621
Starts here:
* https://list.nih.gov/cgi-bin/wa.exe?A2=IMAGEJ;8548792b.1408

Click through the "By Topic" Next links to read it all.

And then it continues here:
* https://list.nih.gov/cgi-bin/wa.exe?A2=IMAGEJ;9587a9e.1408

Similarly, click through the Next links to see all replies.

It was brutal. People are crazy about this. Be very careful.

What really gets my goat, though, is the double standa

[2019-11-01 20:41] tlambert03 commented on #621
yeah, I think that idea is shelved :)

was the program collecting info by default in that case though?

[2019-11-01 22:30] royerloic commented on #539
That's a great idea! Indeed a simple trick is to have layers for t-2, t-1, t, t+1, t+2 etc... and have them configured with the correct opacity and color... Can be built with existing building blocks. Very cool idea indeed.  The questions is whether a dedicated layer is  needed or not.... Perhaps not.

[2019-11-02 14:53] ctrueden commented on #621
Initially, yes. But when we tried to react to community feedback by updating the usage statistics to be opt-in, there continued to be a strong rejection:

https://list.nih.gov/cgi-bin/wa.exe?A2=IMAGEJ;d8dc8355.1408

[2019-11-02 15:16] tlambert03 commented on #621
yeah, quite a response!  seems like they all latched on to the concept of collecting usage statistics (to support grant requests, etc...).  Too bad that gets lumped in with sending a stack trace when an exception gets thrown.  But I get it: it's all way too hot to touch.  not worth it.

[2019-11-02 19:45] sofroniewn opened #653 "Delete stale branches"
## ❓ Questions and Help

I'd like to delete some of our stale branches + active ones we aren't using - see here. Are there any objections @jni, @AhmetCanSolak, @royerloic?

![image](https://user-images.githubusercontent.com/6531703/68076178-92a49400-fd6e-11e9-9034-b99eae454a85.png)

[2019-11-02 20:13] sofroniewn commented on #448
I think it would be nice to be compatible with - https://www.nature.com/articles/s41592-019-0359-1 - there is a FIJI plugin https://github.com/bene51/3Dscript which we could maybe port to python. If anyone has any experience with this tool or knows the original developers please let us know. I have not used it, but it seems like people really like it, for example https://twitter.com/DougPShepherd/

[2019-11-03 00:02] jni commented on #653
@sofroniewn I think anything merged can definitely be deleted. I'd check with @royerloic about the dimsliders one — it might have some code there for the mode switching that remains on our to-do.

[2019-11-03 21:15] sofroniewn commented on #653
@royerloic any comment on the `dimsliders-loic` branch? I can leave that one, but will delete the others shortly

[2019-11-03 23:53] YubinXie commented on #652
@AhmetCanSolak

Actually I just found most packages use PIL as backend. We have to change the max pixel setting in PIL. It works after I put the following code in console.

'''
from PIL import Image
Image.MAX_IMAGE_PIXELS = 1000000000
'''

[2019-11-04 09:45] laurentperrinet opened #656 "animate slider"
## 🚀 Feature

Add a button, to play a slider instead of moving it

[2019-11-04 09:47] laurentperrinet commented on #656
Found a duplicate in https://github.com/napari/napari/pull/607

[2019-11-04 09:47] #656 closed, assigned to nobody

[2019-11-04 17:13] AhmetCanSolak commented on #653
Go head @sofroniewn and thank you for cleaning up those!

[2019-11-05 17:18] sofroniewn commented on #234
Quick update on this issue, we are now beginning to work towards this in concrete ways, thinking about serialization to both an on-disc and in memory representation in #490 and thinking about interactions with remote data sources with #596 and remote viewers / compute in #654. All this is very much in progress, but we certainly see this as a major use case we want to support

[2019-11-05 18:35] d-v-b opened #659 "Axis sliders with multiple translated arrays"
## 🐛 Bug

The 'translate` kwarg to `view_image` does weird stuff.
[code]

This renders both arrays overlapping in the same region in viewer space, which seems weird, given that I translated the second array in Z expressly so that they would not overlap.

I would expect the "roll dimensions" button to offer me a "side view" of the arrays that represents the Z offset, but this is not the case -- all

[2019-11-05 18:44] sofroniewn commented on #659
Some of this might be related to #640 - I need to play with it though. Can you include some screenshots / maybe gifs describing this in more detail too.

Also I feel `t2 = (offset,offset,0)` is needed to offset in both Z and Y

[2019-11-05 18:51] marciovm commented on #234
I love this direction. I can imagine many collaboration use cases for an imaging-core project I'm working on.

Per @fcollman , a derivative feature that allowed a web link to launch napari and load a specific state—a deep link—could be very convenient. I use a version of this feature with Zoom video chats every day.

Related question for @sofroniewn and team. Thinking down the collaboration path q

[2019-11-05 20:43] d-v-b commented on #659
The reference to Y is erroneous, from an earlier version of the MRE, I will edit it out of the issue.

I posted a screencap in zulip for your enjoyment.

[2019-11-06 00:09] jni commented on #659
Yep, I think #640 is essentially the same issue, and one we have avoided confronting for some time: does napari operate on pixel space, or "real" (e.g. µm) space? Or some weird hybrid of the two? Right now, it's generally pixel, with a bit of fudging on top. imho we *should* move to a real space model, but that's going to take a fair bit of engineering... Things like the proportional spacing of th

[2019-11-06 00:58] jni commented on #234
@marciovm very cool idea!

I have zero experience with this sort of work, and we are a long way off (since we don't yet distribute a napari standalone app), but, we own napari.org and could certainly host such an implementation, should someone, such as yourself ;), provide it.

It would be *awesome* to deep-link a remote viewer and have people share the viewer state *live*. At that point we'd have

[2019-11-06 01:12] sofroniewn commented on #234
the pub / sub model we're exploring for syncing remote viewers allows for multiple subscribes so people could in theory be working off the same dataset simultaneously, but we'd have to think about conflicts in more detail for sure.

i think the approach we'd probably take is:

1) try and get the remote viewer stuff working well for a single user.

2) then make sure that the single user can generat

[2019-11-06 01:45] d-v-b commented on #659
I think napari has to operate on pixel data sampled in real space for stuff like `translate` and `scale` to make any sense at all, or for napari to be useful for stuff like CLEM data. So that means that axis sliders should increment in real units, not indices.
Here's what I think this ends up looking like: If there's only 1 array being viewed, nothing obviously changes -- the step size of the axis

[2019-11-06 01:52] jni commented on #659
I agree with this, of course.

Sure, but I really want to make sure that all the stuff you suggest later does *not* interfere *at all* with the simplicity of using napari to just look at arrays. I think that's a big part of why the response to napari has been so good, and there is a real danger of napari becoming a beast that people are reluctant to launch for quick viz tasks.

But, that's just my

[2019-11-06 02:47] fcollman commented on #234
My experience with neuroglancer is that you can make a simple rest api that is easy to have different people implement, then you can have napari have a configuration as to which service it default posts data to, the deep link can contain the information of the url as to where to pull the data, so its only on link creation.  For neuroglancer we have a simple json server, where you post a json and g

[2019-11-06 03:26] marciovm commented on #234
Great to hear the enthusiasm for collaboration use cases, and that napari.org could be a host.

@sofroniewn , that approach implies that deep linking would be tied to remote viewing? It's attractive in minimizing data transfer and eliminating some categories of conflicts. One tradeoff is requiring good streaming performance.

A simpler alternative per @fcollman (as I understand) is for deep linkin

[2019-11-06 15:42] fcollman commented on #234
So I have experimented with doing collaborative viewing using neuroglancer
python, and I have to say that the state forking model is much much more
useful than the streaming model.  When its streaming one person is passive
and the other is active.  With state forking, both people can be active
participants, and can be slacking/texting links back and forth and sharing
observations verbally, and the

[2019-11-07 09:46] berceanu opened #660 "QOpenGLWidget is not supported on this platform."
Using `pyqt 5.9.2` on an Ubuntu 18.04 machine with the miniconda3 python 3.6.9 distribution, I launch `IPython` via  `ipython --gui=qt5`, and get

[code]
and nothing is displayed on-screen.

[2019-11-07 10:09] jni commented on #660
@berceanu I'm on 18.04 and miniconda so we can certainly get your setup working! =) The first thing to do would be to attempt upgrading PyQt. As noted in the warning message, napari is tested on 5.12+. Have you tried upgrading your pyqt version? You can do this with `pip install -U pyqt`. You can also `pip install -U pyside2`, an alternative Qt-python binding.

[2019-11-07 10:57] berceanu commented on #660
Hi @jni, thanks for the quick reply!
So I did `python -m pip install -U PyQt5` and this got rid of the warning when importing `napari`. Now I get
[code]
So the `QOpenGLWidget` warning also dissapeared, but still nothing happens, i.e. no `napari` window appears.

[2019-11-07 11:19] berceanu commented on #660
To narrow down the problem, I tried running this script
[code]
I get no error, but also no window is shown.

See also: https://github.com/matplotlib/matplotlib/issues/11446

[2019-11-07 11:50] berceanu commented on #660
I think mixing `pip` and `conda` packages is almost never a good idea.
https://github.com/ContinuumIO/anaconda-issues/issues/1970#issuecomment-306277703

[2019-11-07 12:01] jni commented on #660
Aaach! Apologies, I did not realise it was your root env! :grimacing: fwiw I never work in the base environment for similar reasons. It makes it easy to burn an environment to the ground and start anew...

Speaking of which... :grimacing:

This morning I actually made a brand new install with python 3.7, ipython, numpy, scipy, pyqt etc all latest, all from conda-forge, and it worked out of the box

[2019-11-07 12:05] jni commented on #660
btw what is your window manager? GNOME? Or Wayland? Can you run any other Qt apps e.g. matplotlib with Qt backend?

[2019-11-07 12:07] berceanu commented on #660
GNOME. I could, before pip-installing PyQt5. Now matplotlib is also broken.

[2019-11-07 12:14] jni commented on #660
Sorry. :sob: That was terrible advice. I am used to mixing the two when I need something that is not easily available in conda, such as recent PyQt5. And anyway I just saw that 5.12.3 is available for Py3.6, which for some reason historically didn't work for me! Grrr. I hope it is not to onerous to reset your env with a new conda install...!

[2019-11-07 12:18] tlambert03 commented on #660
yeah pyqt specifically causes issues if you install pip pyqt on top of conda (or at least it used to).  you may be able to recover your environment by cleaning tarballs ... I posted an example and fix for a similar issue a couple years ago that you may want to try: https://github.com/ContinuumIO/anaconda-issues/issues/1970#issuecomment-330319773 (or perhaps yours is a different issue entirely)

[2019-11-07 12:23] berceanu commented on #660
I guess the long-term solution is a `conda-forge` `napari` recipe/feedstock?

[2019-11-07 12:39] berceanu commented on #660
So I did a fresh `miniconda` install, set `conda-forge` as the default channel and then
`conda create -n napari python=3.7 pyqt ipython dask zarr fsspec imageio ipykernel numpy qtpy qtconsole scipy scikit-image vispy backcall PyOpenGL PySide2 wrapt numpydoc`

All the requirements are met, except for `vispy`: `napari` requires at least [`0.6.2`](https://github.com/napari/napari/blob/ff85a1ccdbd77f2

[2019-11-07 12:48] tlambert03 commented on #660
for now, until there is a full conda forge package ready, I would try use conda for environments, but pip for dependencies:

[code]

but for just the vispy dependency in your napari environment, you will probably be ok if you `conda uninstall vispy` and then `pip install vispy==0.6.2`

[2019-11-07 12:49] berceanu commented on #660
The official vispy [docs](http://vispy.org/installation.html) recommend installation via conda, does `napari` use any `0.6.2`-specific features?

[2019-11-07 12:52] tlambert03 commented on #660
see https://github.com/napari/napari/issues/575 and https://github.com/napari/napari/pull/657 for the rationale being requiring 0.6.2

since 0.6.2 was just released days ago, I assume vispy will be updating the conda installation shortly.

[2019-11-07 12:56] berceanu commented on #660
I see, I'll wait for that then. I'm reluctant to mix `pip` and `conda` especially for packages with pre-compiled libs.

[2019-11-07 12:59] tlambert03 commented on #660
Fair enough, but fwiw, I think many of us are developing in exactly that environment (conda as virtual env, pip for dependencies).  You hit one of the few known snags with Qt, but as long as you create a fresh environment and don’t install to base, you really should be fine to experiment with the pip packages.

[2019-11-07 13:05] berceanu commented on #660
OK, let me give it a go then, installing everything from pypi this time.

[2019-11-07 13:10] berceanu commented on #660
[code]

It seems `pip install napari` doesn't pull in `pyqt5`.

[2019-11-07 13:15] berceanu commented on #660
[code]

and no window is shown.

[2019-11-07 14:19] tlambert03 commented on #660
sorry for the frustrations! possible that @jni immediately knows what's going on... but let me see if I can recreate this on an 18.04 box here.  can you run `conda list` in your newly made napari environment and paste the output here?

regarding `pip install napari`: it won't have install `pyqt5`, but it _should_ have installed `pyside2`, and only one of those is required (since napari uses `qtpy`

[2019-11-07 14:28] berceanu commented on #660
[code]

[2019-11-07 15:51] berceanu commented on #660
On the flip side, running `napari` from the command line seems to work :)

[2019-11-07 16:27] tlambert03 commented on #660
I'm sorry, I'm stumped.  I tried a variety of combinations of python versions, pyqt5, pyside2, on 18.04.3 and never saw the `SizeHints()` warning or a missing napari window.  my conda environment is identical to yours here... so it seems like it must be a more general environmental difference.  Maybe @jni will know where to take it next.

[2019-11-07 19:11] d-v-b opened #661 "Displaying generic image collections"
## 🚀 Feature
Napari currently assumes that within a viewer, all images occupy the same physical space. This assumption is invalid for a lot of collections of images, e.g. sample images in `skimage.data`:

[code]

This renders all the images from `list_of_images` in the same coordinate space, and gives them all a Z axis slider even though most images are 2D. Seeing these images individually thus re

[2019-11-07 19:18] sofroniewn commented on #661
This also relates to #605. I need to think about it more, but it would be pretty straight forward now if you can package everything inside one large dask array, as dask image imread does. If the biggest dim image have dim 5 you'd get 3 sliders, but it should still be fine.

Can you try packaging `list_of_images` inside a dask array?

[2019-11-07 19:24] d-v-b commented on #661
putting `list_of_images` in a dask array requires first putting it in a numpy array, and this still generates errors when passed to `napari.view_image`. The first error I got was in calculating the contrast limits, and the second error was in interpolation during construction of the thumbnail image.

[2019-11-07 23:27] raacampbell opened #662 "Linked 2D orthogonal views of 3D data"
## 🚀 Feature
It would be great if napari had the ability to show data as linked orthogonal views. e.g. Clicking or dragging across the current coronal plane causes the image in the sagittal and horizontal planes to update.

## Motivation
Fiji and Icy both have an orthogonal views feature. At the SWC we wrote an orthogonal views Python-based viewer, [Lasagna](https://github.com/SainsburyWellcomeCen

[2019-11-07 23:31] jni commented on #662
Thanks @raacampbell! This is definitely on our to-do list, but it appears we didn't have an issue for it!

[2019-11-07 23:35] jni commented on #661
@d-v-b I think #605 captures this quite well. Having said that, using layers, then switching to grid mode is probably pretty effective as a "for-now" workaround?

I don't know what you think is the correct behaviour for mixed 2D and 3D images, though. I think it would look pretty terrible to have one of the sliders popping in and out of existence...?

[2019-11-07 23:59] jni commented on #660
@berceanu I've been trying to add napari to conda-forge here: https://github.com/conda-forge/staged-recipes/pull/9983 but I'm also running into some Qt issues in the builds... 🤦‍♂

It looks like the latest vispy is also having issues:
https://github.com/conda-forge/vispy-feedstock/pull/17

We'll get there...!

[2019-11-08 00:03] d-v-b commented on #661
Yeah, at the moment I can work around the issue. In the worst case I could define a dask array that does padding to the maximal dimensions, thereby ensuring that all axes are identical.

I agree that "surprise sliders" should be avoided, but it's also bad to have a slider that doesn't do anything for the current image. What if sliders were enabled/disabled based on the dimensionality of the curren

[2019-11-08 04:44] jni commented on #660
Is Matplotlib working in your new env? Anyway, searching for that "propagateSizeHints" error online took me to a bunch of other Qt (not PyQt) bug reports that all seemed to involve the platform and sometimes OpenGL, so maybe there is something to do with your graphics card drivers / OpenGL settings that needs updating?

[2019-11-08 14:43] raacampbell opened #663 "Lazy loading of sub-regions of a 3D without a pyramid structure and using only TIFFs"
## 🚀 Feature
Navigating very large datasets can currently be done using multiresolution zarr files or by loading whole image planes one at a time (similar to the way Fiji does this). The former requires data duplication and the second is slow. An intermediate approach, very helpful for certain datasets, is to generate a downsampled version of the image stack which is loaded into RAM and the user c

[2019-11-08 16:33] d-v-b commented on #663
Probably your use case would be a special case of the general issue described in #318 -- if napari had an API for lazily rendering 2D tiles of an image, then you could define an image as a grid of (lazy) tiff tiles, and everything would just work (hopefully).

[2019-11-08 16:42] berceanu commented on #660
Yes, mpl seems to work now :)

[2019-11-08 17:59] sofroniewn commented on #663
Hi @raacampbell, better support for image pyramids / lazy loading is something that a number of users have requested, so working together on this would be great.

Also nice to hear from you again, we met out at the mesoscope workshop at Janelia a couple years back, and it would be great if the SWC was interested in using napari!!

We've had a feature request for autogenerating the pyramid when nee

[2019-11-08 18:03] sofroniewn commented on #662
Yes, we first need to add support multiple canvases each with their own cameras, and then need to set up various types of linking. Orthogonal views is one you mention (possibly with the full 3D view in the remaining corner). Another is linked 2D views in a grid mode for zooming into the same spot. This was requested in #565, where we quickly implemented a grid view with just one camera, but where

[2019-11-08 18:04] tlambert03 opened #665 "numcodecs update breaking builds"
Just noticed our OSX and Windows builds are failing again... At first I was worried it was related to our recent CI updates in #658, but it looks like it's a failure to compile `numcodecs` v0.6.4 which was released today.  We could pin to 0.6.3, or just keep an eye on it

[2019-11-08 18:19] sofroniewn commented on #665
It looks like 0.6.4 numcodecs is [failing to build on OSX](https://cirrus-ci.com/task/5355480448237568?command=install#L435) and windows. I have now raised an issue on the numcodes repo https://github.com/zarr-developers/numcodecs/issues/210. @jakirkham might also have ideas.

[2019-11-08 18:27] raacampbell commented on #663
Good to hear from you also, @sofroniewn

The scheme is simple and effective goes like this:
* Raw data are 1 large TIFF for each optical plane and each channel. Say images are at 1x1x10 mics/pixel.
* User generates a downsampled stack for each channel. We have used about 5 to 10 microns per pixel x/y in the past. Every z-plane is downsampled. Resulting stack is about 5 to 10 GB for a mouse brain (

[2019-11-08 18:43] jakirkham commented on #665
Do you have a C++ compiler on the CI? It appears that the build is complaining that it cannot find one.

Alternatively if you want to avoid building Numcodecs, you are welcome to use our binaries from conda-forge.

[2019-11-08 18:50] sofroniewn commented on #665
I'm afraid I don't know. Thanks for weighing in. I defer to @jni for next steps.

Does it make sense to you that the change from `0.6.3` to `0.6.4` would trigger this build error?

[2019-11-08 19:00] jakirkham commented on #665
We upgraded Numcodecs' vendored copy of Blosc in this release. Blosc vendors many more compression libraries, which it updated as well. So the odds for some sort of surprise like this are quite high. Interestingly the Blosc upgrade was made to fix some compilation issues.

Note: The CI appears to have failed while building Snappy.

[2019-11-08 19:01] sofroniewn commented on #663
Makes sense - I'd say give that a go with the lazy dask loading of the high-resolution information and then you'll just need to do

[code]

right now napari will guess at where to make the resolution transition in the zoom, if it isn't in a good place let us know and we can improve the guessing or give you more control over it.

You might also want to checkout the [dask caching](https://docs.dask.

[2019-11-08 19:46] AhmetCanSolak commented on #665
btw `numcodecs` also a problematic package for bundling with pyinstaller(I know due to Blosc it is there). I appreciate at crazy levels if any of you guys manage to drop it at some point :)

[2019-11-08 19:55] jakirkham commented on #665
@AhmetCanSolak, can you please raise an issue on the Numcodecs issue tracker with more details about why it is difficult to include in PyInstaller?

[2019-11-08 21:16] sofroniewn commented on #662
Also @raacampbell if you're interesting in contributing around this feature, or any of the others on our [`0.2`](https://github.com/napari/napari/issues/301) and [`0.3`](https://github.com/napari/napari/issues/420) milestones (or features that should be added to those milestones) let us know. We'd love to work with you. Lasagna is very impressive, and I'm sure you learnt a lot during that process

[2019-11-08 22:25] tlambert03 commented on #665
Just had someone someone email me directly because they tried to `pip install napari` but it didn't work.  So anyone who tries to install napari as described in the readme (and who doesn't have the appropriate build tools on their computer) is going to have this issue at the moment.  For this person, they had to either `pip install numcodecs==0.6.3 napari` or `conda install numcodecs; pip install

[2019-11-08 22:34] AhmetCanSolak commented on #665
@jakirkham i will drop and issue once i get back to bundling again.

@tlambert03 you are right, tested `pip install napari` and crashed again related to numcodecs. Tested in a fresh conda environment for py3.7

[2019-11-08 22:49] sofroniewn commented on #665
ah ok - that's no good. To fix we'd need to pin to `0.6.3` and push a `0.2.5` to pypi. I'm very open to doing this as a temporary fix until we understand a long term solution. What does everyone think? I don't really like that our pip install fails.

@AhmetCanSolak, do both `pip install zarr` and `pip install dask[array]` fail on your test environment too? I see dask just bumped a new release abou

[2019-11-08 22:54] sofroniewn commented on #651
@kevinyamauchi do you want to post a comment here summarizing some of our chat yesterday about the possibility of a common base layer for `Points` and `Text` #600, or a common `Annotation` layer that would allow you to display points and or text with labels / classes / values as requested above. Could also be something for @jni to keep in mind as he reviews #600.

[2019-11-08 23:08] AhmetCanSolak commented on #665
@sofroniewn dask seems okay, zarr fails too

[2019-11-08 23:27] sofroniewn commented on #665
When I make a venv on my mac laptop `pip install zarr` works

[2019-11-08 23:37] jni commented on #665
@sofroniewn

yes @jni was peacefully reading in bed when he saw this thread and was rudely awakened. =P

Your laptop might not be a typical user's laptop, especially now that Apple doesn't ship a C compiler by default. I just tried pip install napari in a new env on my Mac and it failed. That's bad news.

I dislike the idea of pinning, but I can't think of a better one now. However, rather than pi

[2019-11-08 23:44] jni commented on #665
@jakirkham I have a C++ compiler on my Mac and it still failed:

[code]

`pip install numcodecs` still errored with:

[code]

Is there some C++ dependency that's missing? Or some setup.py configuration that specifies that C++ headers are needed?

[2019-11-09 00:41] sofroniewn commented on #665
Ok, i'm going to make the `0.2.5` release so pip install continues to work will make release notes now

[2019-11-09 00:43] jni commented on #665
Cool, am online and can review. Thanks @sofroniewn!

[2019-11-09 01:16] sofroniewn commented on #665
`0.2.5` release is now out!

[2019-11-09 02:22] kevinyamauchi commented on #651
Hey @adamltyson! I think this is a great idea.  @sofroniewn and I were discussing and as he alluded to above, there is quite a bit of commonality between the Points and forthcoming Text layers. I think your proposed feature would fit in nicely with a refactor that reduces the code duplication. I think there are a couple of approaches that could make sense. I’ve outlined some thoughts below. Please

[2019-11-09 10:07] jni opened #669 "switching themes causes incomplete updates"
## 🐛 Bug

The 'light' theme for napari is looking pretty terrible these days:

<img width="1200" alt="Screen Shot 2019-11-09 at 8 58 44 pm" src="https://user-images.githubusercontent.com/492549/68526810-c2860580-0333-11ea-8455-4bea32aedf01.png">

We should update it and make sure that any PRs that touch the UI are tested with both themes.

Also worth noting that the base layer needs to have blendi

[2019-11-09 10:18] jni commented on #669
Bonus issue: changing back to dark doesn't work fully:

[code]

<img width="1200" alt="Screen Shot 2019-11-09 at 9 17 38 pm" src="https://user-images.githubusercontent.com/492549/68527028-78525380-0336-11ea-9c7e-bbad8c98e504.png">

[2019-11-09 17:29] sofroniewn commented on #669
good to flag!! I'll take a look. our stylesheets need some love in general too

[2019-11-10 01:46] sofroniewn opened #671 "transitioning from 5D & 4D layers to only 4D layer throws error"
## 🐛 Bug

Transitioning from having two layers, one 5D and one 4D to having just one 4D layer by deleting the 5D one causes an error, likely introduced during the grid mode work. we need to fix and add a test.

[code]

[2019-11-10 04:16] jni opened #672 "Adding multiple surfaces to 3D view causes error"
## 🐛 Bug

I wanted to add a grayscale surface for a 3D image (the allen brain atlas in this case), then overlay a surface with the label values. I got an "axis out of bounds error".

## To Reproduce

Here's a reproducible example using binary blobs:

**Update:** Just using `ndisplay=3` is enough. The error happens when the viewer has ndisplay=3 and a surface is added. It doesn't have to be multipl

[2019-11-10 04:21] sofroniewn commented on #672
That's no good! I'll take a look - I'm also now getting the same error for

[code]
and I know that used to work, likely a regression after I removed some of the repeated `_on_data_change` calls a couple PRs back. Will need a fix and some better tests

[2019-11-10 04:28] jni opened #673 "Strange behaviour of surface rendering transparency"
## 🐛 Bug

Depending on the angle I'm looking at a surface, the surface opacity shows the surfaces behind it, or doesn't.

## To Reproduce

View a surface layer, reduce the opacity, switch to 3D mode, and rotate it. See #672 for sample code to start viewing a 3D surface.

[2019-11-10 04:33] jni commented on #672
Ah, yes, just updated the issue based on further exploration. On the plus side, writing a test for this should be nice and easy, once fixed. =)

[2019-11-10 13:28] jni commented on #652
@YubinXie Thanks for the workaround! Given that this is expected behaviour and a general problem with PIL, I am inclined to close this. It might be worth raising an issue with PIL itself. At a minimum, the error message should describe this workaround.

@sofroniewn @AhmetCanSolak any thoughts? Would we want to increase that PIL maximum at napari import time? My impression is that this amounts to m

[2019-11-10 17:42] sofroniewn commented on #652
I agree this should be more with PIL, but thanks for raising @YubinXie. If we see people consistently having this problem we can revisit, add a note in documentation. I will close for now

[2019-11-10 17:42] #652 closed, assigned to nobody

[2019-11-10 23:48] sofroniewn commented on #661
The dask array padding works quite nicely when they all have the same dims - and this is certainly something we could consider doing under the hood if it was desirable - people could pass a list of images and we'd take care of the rest, for example:

[code]

We could even do this for cases where the dims weren't the same if really wanted. I'd probably put this intercept in the `viewer.add_image` f

[2019-11-11 00:48] d-v-b commented on #661
I'm not sure I like the idea of napari padding all images in a layer to make them the same size... I would not expect that an image viewer would add data to my images. E.g., padding leads to napari erroneously reporting that the outside of the image has value 0. And when we start to think about arrays with differing dimensionality, the memory cost of padding a 2D array up to 5D might be prohibitiv

[2019-11-11 01:13] jni commented on #661
I wouldn't say *committed* to *only*, but that is the primary use case, and I am reluctant to overly complicate the code to support secondary use cases. If we can come up with a simple, transparent solution that works, I'm all for it. Part of the reason that it really complicates things is that now if you switch to 3D, you *must* instantiate a "cube" of data. Or if you roll the axes — what happens

[2019-11-11 02:37] djhoese opened #676 "Easy method to mention the napari team from vispy issues"
I'm not sure if github allows for this, but I was thinking today it would be nice given the napari team's close relationship with vispy development, if there was a way the vispy team could mention core napari team members with a single mention. I was wondering if a `@napari/viz` team or something like that could be created for easily tagging the visualization-specific team members. Anyone know if

[2019-11-11 02:42] jni commented on #676
We'd *love* to be contacted this way! =) Can you try tagging @napari/core in a relevant VisPy issue (whichever incited this post, maybe? 😉) to see if I get notified?

We don't have a vispy-specific team yet but I think @napari/core should be able to route requests as needed for now.

[2019-11-11 02:54] djhoese commented on #676
I was going to mention napari in https://github.com/vispy/vispy/pull/1748 to point out that a new release with another small bug fix was coming out, then realized you didn't need to know about it but thought I'd still start this issue. I tried writing a new comment with @napari/core and preview shows that it isn't linked. I can't even do it here it seems. Is the team private?

[2019-11-11 02:57] jni commented on #676
Wow, this is annoying... The only permission I see is "visible" and that means "A visible team can be seen and @mentioned by every member of this organization". I don't see a setting for "allow anyone to just spam us", which is what I would want here.... =\ So I think your suspicion might have been right that GitHub might not allow this right now.

Might as well just tag @sofroniewn and me if need

[2019-11-11 03:17] djhoese commented on #676
Sounds good and good point that you don't want just anyone to be able to tag a team.

[2019-11-11 03:17] #676 closed, assigned to nobody

[2019-11-11 11:02] adamltyson commented on #651
Hi @kevinyamauchi! I agree with the commonalities. From the user point of view, I think I prefer **Approach 1**. This wouldn't have to be specific to text layers, but it opens up the concept of general coordinate-property pairs. In the future, this could be extended to other labels (e.g. small images when making figures etc.).

From a selfish point of view, both of these approaches would work for

[2019-11-11 15:03] marciovm commented on #669
Any reason not to deprecate theme options, and make dark the only option? Having theme options makes UI iteration much more expensive.

[2019-11-11 16:22] sofroniewn commented on #669
@jni theme looks fine on my mac so this might be something cross platform :-(

<img width="1200" alt="Screen Shot 2019-11-11 at 8 17 39 AM" src="https://user-images.githubusercontent.com/6531703/68602853-f52b1d80-045b-11ea-90bc-7b40282e4119.png">

@marciovm we've had comments from people who prefer `light` to `dark`. The way we've set it up should make it pretty easy to maintain both - we have col

[2019-11-11 16:24] AhmetCanSolak commented on #669
@sofroniewn maybe not right place to discuss but isn't it better to keep canvas background black on both themes?

[2019-11-11 16:44] sofroniewn commented on #669
Discussing here is good @AhmetCanSolak. I'm completely open to that, and it's easy to change, but curious why do you think black is a better canvas background for both themes? I guess it might be more consistent, but I though it looked nicer to have a white background with the light theme. @jni were you suggesting this too? I think @alexdesiqueira was someone who was excited about the light theme

[2019-11-11 16:52] sofroniewn commented on #676
That would be great @djhoese - if you're going to be making a new release soon, do you mind also merging https://github.com/vispy/vispy/pull/1702, I think it's all done and good to go

[2019-11-11 17:00] AhmetCanSolak commented on #669
I think black background is more comfortable as white could possibly interfere with image edges or with some other layers. Not a big deal but just to me black background by default makes more sense.

[2019-11-11 17:14] sofroniewn commented on #239
This issue hasn't reappeared again, and I think I may have gotten so used to it I don't notice anymore so I will close, but if others start to see similar problems we can re-open

[2019-11-11 17:14] #239 closed, assigned to nobody

[2019-11-11 17:20] sofroniewn commented on #480
Note also from @stefanv in #467

I guess this is actually a separate issue, but I wanted to put it somewhere with a bit more visibility

[2019-11-11 17:21] sebi06 opened #678 "Napari viewer closes unexpectetly when pressing the 3D button"
## 🐛 Bug

Hi guys,

I use the following code to automatically display a 3D stack with 2 Channels and 10 Timepoints in Napari. This works fine and the viewer opens up just fine.
When I then press the 3D button the viewer is gone and I get a long error stack: See below:
Any help is welcome.

Sebi

![image](https://user-images.githubusercontent.com/3833249/68606163-216f8a00-04ae-11ea-906c-726f3195e4f

[2019-11-11 17:23] sofroniewn commented on #204
Note also that @stefanv has reported in #467

likely due to `num_colors` being small by default. We should monitor this as we make any improvements here

[2019-11-11 17:29] sofroniewn opened #679 "napari + dask.distributed + ipython kills kernel"
## 🐛 Bug

I'm pulling this comment out of #467 by @stefanv for separate discussion:

We need to look into this more to understand, but I wanted to make sure it didn't get lost

[2019-11-11 17:30] sofroniewn commented on #467
Looking over this I think the 3 remaining issues are:

I will make a separate issue for the first one #679

For our labels colormap - that is likely due to the `num_colors` setting, increasing that will increase the separation, but will make things run slower. We have #204 to discuss improve the speed, so I will cross post this there too.

For the points one - we have now #480 which discusses some

[2019-11-11 17:30] #467 closed, assigned to nobody

[2019-11-11 17:30] #478 closed, assigned to nobody

[2019-11-11 18:02] sofroniewn commented on #678
Hi @sebi06 - great catch. I was able to reproduce with a minimal example:

[code]

We were not initializing one of our variables properly. Sorry about that. This is being fixed in #680 (still under review) and a test has been added to prevent it appearing again.

Please let us know if the fix in #680 works for you

[2019-11-11 18:08] sofroniewn commented on #558
I'm going to close this issue now as it was originally about an older release, and we are able to run on multiple windows configurations. If new windows users come along with new problems it might be best to open up a new issue rather than keep going on this one, but we can also always reopen this one if needed

[2019-11-11 18:08] #558 closed, assigned to nobody

[2019-11-11 18:14] sofroniewn commented on #527
@dany-fu is this issue still unresolved for you? apologies we havn't been able to get it working, but if you try the latest `0.2.5` version of napari you can do into the help menu and select `napari info` which will bring a dialog box up that looking like this:

<img width="692" alt="Screen Shot 2019-11-11 at 10 12 47 AM" src="https://user-images.githubusercontent.com/6531703/68610190-0c720700-046

[2019-11-11 19:33] #678 closed, assigned to nobody

[2019-11-11 20:49] jni commented on #467
@sofroniewn thanks for the triaging! I think the points transpose problem does require its own issue. I'll make it even though @stefanv promised to make it back in the day. ;) =P

[2019-11-11 20:56] jni opened #681 "Consider magically transposing points coordinates if tuple input."
## 🚀 Feature

Some functions, such as NumPy's `np.nonzero` (and NumPy fancy indexing in general) and `scipy.ndimage.map_coordinates` use (D, N) as the shape of the coordinates array, instead of `(N, D)`. This means that if you have 34 3D points in this format, `viewer.add_points` will try to add 3 34-dimensional points. At this point it actually crashes.

Since users might be passing the output of

[2019-11-11 20:57] jni commented on #679
@stefanv any chance you could write a minimum example for this?

[2019-11-11 21:05] jni commented on #669
@sofroniewn please note the problem above. If someone uses code where all the layers have blending mode "additive" (as `channel_axis=n` does), then the image is just all white if the canvas is white. That's a problem.

Regarding the platform dependence: I'm on Catalina, are you? And, can you try with a fresh install from pip? (I am trying it now, but am on a crappy connection so it might take me a

[2019-11-11 21:05] alexdesiqueira commented on #669
Hey all,
thanks for remembering @sofroniewn! I don't care about the default, if there's an option for a light theme. :blush: however, @marciovm put a good point: how expensive it is to maintain other themes?

[2019-11-11 21:21] sofroniewn commented on #669
reverting to black as a default background makes sense for the reason @jni provides. we can do that soon.

I am on mojave:
<img width="698" alt="Screen Shot 2019-11-11 at 1 20 21 PM" src="https://user-images.githubusercontent.com/6531703/68622057-130d7800-0486-11ea-92b5-eb9ff1e815fa.png">

[2019-11-11 21:35] jni commented on #669
I'll try again on my old MBP when I get home and report back. If any other Mac users want to report their results here, we would be grateful!

[2019-11-11 21:43] tlambert03 commented on #669
mine looks more like @jni   I'm stuck on high sierra cause I want to use my NVIDIA card and apple sucks.  (it's a hackintosh for what it's worth... but I wouldn't expect that to affect this).

<img width="698" alt="Screen Shot 2019-11-11 at 4 40 15 PM" src="https://user-images.githubusercontent.com/1609449/68623259-144c9e00-04a2-11ea-8c21-78271783ceae.png">
<img width="1010" alt="Screen Shot 2019-

[2019-11-11 21:49] dany-fu commented on #527
Thanks for checking in - I think it might have been a driver issue with the cluster computer, but I am no longer involved so @abedghanbari2 will be better able to answer this and close out this issue?

[2019-11-11 21:52] tlambert03 commented on #669
here's a different mac, this one a macbook pro on mojave.  Interestingly, this one didn't even try in the controls area.  Strange that we're seeing more than just 2 phenotypes!

<img width="1200" alt="Screen Shot 2019-11-11 at 4 47 24 PM" src="https://user-images.githubusercontent.com/1609449/68623732-2a0e9300-04a3-11ea-9070-30357f0b0b90.png">
<img width="698" alt="Screen Shot 2019-11-11 at 4 47 4

[2019-11-11 21:57] sofroniewn commented on #669
looks like I'm on `PyQt5` by default - lol!

[code]
so that maybe it ...

[2019-11-11 21:59] sofroniewn commented on #669
Nope! It's not!!! No change for

[code]
still looks great on mine

[2019-11-11 22:02] tlambert03 commented on #669
couldn't be Qt 5.13 v 5.12?

[2019-11-11 22:03] sofroniewn commented on #669
maybe it's Qt 5.13, I can try upgrading.

Also @jni @tlambert03 - if you overwrite the hardcoded default to be `light` here https://github.com/napari/napari/blob/6c5bb037e191bce3c05c5bf23f4f143ecc89a240/napari/components/viewer_model.py#L87

how does it look? i.e. is this about switching, or will it still look bad?

[2019-11-11 22:09] sofroniewn commented on #669
upgraded my PySide2, but no change - bellow still works for me.

[code]

We should also print the PySide2 / PyQt5 version # in that top part too

[2019-11-11 22:11] tlambert03 commented on #669
yeah, it's the switching.  If I hard-code in the theme it looks fine, and here's what it looks like when I switch back (inverted problem from above).  so that should help narrow it down

<img width="928" alt="Screen Shot 2019-11-11 at 5 08 35 PM" src="https://user-images.githubusercontent.com/1609449/68625035-38aa7980-04a6-11ea-9640-c77a692f3f06.png">

note also: that the console button switched b

[2019-11-11 22:13] sofroniewn commented on #669
Switching in Qt has some known problems - we often need to call these commands `polish` and `unpolish` to get around them, I imaging throwing a couple more of them in there will fix this, what is so strange to me is the difference between my machine and yours!!!

[2019-11-11 22:15] sofroniewn commented on #669
In general our stylesheets are a bit of a mess right now (which is likely independent of this problem), but we should probably give organizing them some attention, it might also speed up the load time (though I don't know that)

[2019-11-11 22:28] sofroniewn commented on #673
Agreed something seems off here - you edited your example in #672 to make it more minimal - but the original was something like this:

[code]

for which I see
<img width="1200" alt="Screen Shot 2019-11-11 at 2 26 25 PM" src="https://user-images.githubusercontent.com/6531703/68626056-67692580-048f-11ea-82b2-097571024061.png">

Not quite sure what I'm expecting to see / what the desired behavior is

[2019-11-11 22:48] sofroniewn commented on #576
I'm able to reproduce this on my mac with this minimal example followed by pressing the 3D rendering button:
[code]
as @VolkerH notes subtle changes to the shape such as to `(68, 296, 394)` mean the bug doesn't happen.

It's really not clear to me why the difference in shape affects the call to `Latebind.finalise`. I might try making a minimal vispy example and going to that repo for help as I don

[2019-11-11 22:51] sofroniewn commented on #576
note that `viewer = napari.view_image(vol, ndisplay=3)` leads to good 3D rendering of the same volume with no crash

[2019-11-11 23:11] sofroniewn commented on #527
Thanks for the update @dany-fu - we can leave this open for a bit in case your colleague can give us further info

[2019-11-12 00:22] cgohlke commented on #576
Maybe I am missing something, but it seems vispy wrongly [calculates the alignment](https://github.com/vispy/vispy/blob/master/vispy/gloo/glir.py#L1635) to 8 bytes. The rows of a numpy float32 array are word-aligned (4 bytes). On this system there's no crash when using a 4 bytes alignment (the OpenGL default).

[2019-11-12 00:55] sofroniewn commented on #576
That may well be it, but I'm afraid I'm out of my depth a little here @cgohlke.

Does this suggest a clear fix for us or vispy? I can bring someone from the vispy team into this issue to discuss further, or maybe we need to create a dedicated issue on their repo? Thanks for spotting.

[2019-11-12 01:25] sofroniewn commented on #572
For the `Image` layer, we should add a `threshold` slider that goes from `0` to `1` and that is only enabled when `layer.dims.ndisplay==3` and `layer.rendering=='iso'`. We should also make it so that the `rendering` dropdown box is only enabled when `layer.dims.ndisplay==3`.

This will significantly improve our 3D rendering functionality

[2019-11-12 02:07] sofroniewn opened #685 "More parametrized tests for testing across layer types"
## 🚀 Feature
Use more parametrized tests for testing across layer types.

We often want to test the same thing across all of our different layer types, right now in many places in the code we have a different test for each layer. Instead we should reuse the same test but parameterize the different layers, including different input data.

The four places where this can currently be improved are:

-

[2019-11-12 03:00] #672 closed, assigned to nobody

[2019-11-12 03:01] VolkerH commented on #576
Great, that seems a better candidate than the `LateBind` code. I had done a bit more debugging and came to the conclusion that while the `LateBind` code looks buggy and throws some exceptions it is unlikely to be the culprit for the access violation/segfault but then somehow forgot to add it to the issue here.

[2019-11-12 03:04] jni commented on #669
@sofroniewn perhaps whatever difference was causing your double title bar (which only happened on your machine iirc) is also causing this??? LOL

have you tried a pip install in a clean environment? I wonder if you have some artefacts in your working directory that somehow makes this behave nicely.

[2019-11-12 03:10] VolkerH commented on #576
@cgohlke, the line you linked to calls the  `_get_alignment_method` with the parameter
`data.shape[-3] * data.shape[-2] * data.shape[-1]`. However, the comments for calculating the alignment say that the image height is unimportant (https://github.com/vispy/vispy/blob/2c3ab163b7e90eddb14c2cd98e91dec615acae57/vispy/gloo/glir.py#L1440).

Probably a good idea to ping the vizpy people: @djhoese

[2019-11-12 03:34] cgohlke commented on #576
Exactly, and it refers to **byte**-alignment...

[2019-11-12 04:26] stefanv commented on #681
Question: should the dimensionality of the points added not always match the data displayed? E.g. it seems as though adding 32-dimensional data should fail because we are visualizing 2D or 3D slices.

[2019-11-12 04:30] jni commented on #681
@stefanv no, because napari can do broadcasting, even of different layer types. See [this video](https://ilovesymposia.com/napari/napari-hmaxima-bug.mp4) showing 3D points on a 2D image. (From the "parameter sweeps" section of the [blog post](https://ilovesymposia.com/2019/10/24/introducing-napari-a-fast-n-dimensional-image-viewer-in-python/).) (Sorry, my Nikola config doesn't yet autogenerate sec

[2019-11-12 04:42] sofroniewn commented on #572
See this gif for the possibilities:
![iso_surface](https://user-images.githubusercontent.com/6531703/68642628-a618d300-04c3-11ea-97d2-4a12456d3fe4.gif)

[2019-11-12 05:04] jni commented on #572
Nice work @sofroniewn! I have been quite discouraged in the past by the default isosurface rendering. This looks much better!

fwiw, the isosurface rendering in spimagine is gorgeous, so at some point it might be worth looking at those shaders and see whether we can port them to vispy.

[2019-11-12 07:52] sebi06 commented on #678
I refreshed my napari repository and installed via

`pip install -e .`

And the problem is gone and works as expected now. So I can remove my workaround. Thank you.

[2019-11-12 12:35] jstutters opened #687 "Active napari viewer breaks ipywidgets events"
## 🐛 Bug

If an instance of napari.Viewer() is present in a jupyter notebook, ipython widget events do not function properly.  The following error is sent to stderr:

`IPKernelApp] WARNING | No such comm: b161f0d81502401fab9931c48a91f974`

## To Reproduce

Steps to reproduce the behavior:

1. Run the following code in a notebook:

[code]

Then:

[code]

## Expected behavior

Widget events should f

[2019-11-12 12:54] raacampbell commented on #663
Ok, thanks. I don't have immediate plans to look into this, but if I do I will let you know. It's on my radar, for sure.

[2019-11-12 12:57] raacampbell commented on #662
I would love to but right now I'm overwhelmed with coding and construction on some hardware projects. I'm hoping to slowly transition back to analysis, though, so contributing to napari is something I would like to do. I don't see the sense in developing multiple very similar solutions to the same problem and you have something much more mature and interesting than I do.

[2019-11-12 14:04] djhoese commented on #576
If someone can get a simple vispy-only (no napari code) example code and file a bug with vispy this will be easier to debug. I'm not sure I followed everything in this thread so redescribing the problem in the issue would be appreciated. It might be good to search through the existing issues (I know, there are a lot) for this type of alignment-based issue.

[2019-11-12 15:30] sofroniewn commented on #687
Hmm, ok - I suspect it might be something to do with our console code - we connect our napari console to the existing jupyter kernel here https://github.com/napari/napari/blob/32e4533c210d69115fd9f1c9b28861bdd8ca5751/napari/_qt/qt_console.py#L73 and maybe that's causing something weird to happen

I can try reproducing on my machine, and then try seeing if the problem persists if I disable the cons

[2019-11-12 15:54] cgohlke commented on #576
[code]

[2019-11-12 18:05] AhmetCanSolak opened #689 "Having a unique lifetime control object for all QWidgets"
## 🚀 Feature

Here I am proposing to have a unique object that we can pass into different contexts/closures where we want to keep all UI widgests(QWidgets due to Qt backend) alive.

## Motivation

Proposing such feature as we are heavily exploiting setters to implement data binding between views and models. Hence, without such object it is so easy to garbage collect some widgets before end of exec

[2019-11-12 18:07] djhoese commented on #576
Thanks @cgohlke. So the good news is I'm able to reproduce this. The weird news is if I take that example and change it so it says:

[code]

It *works* even though `vol1` should be equal to the invalid/segfaulting data. Maybe I've had too many meetings today and am missing something.

[2019-11-12 18:07] sofroniewn commented on #520
@AhmetCanSolak can this be closed now that #650 is merged?

[2019-11-12 18:11] AhmetCanSolak commented on #520
yes @sofroniewn thank you for heads up!

[2019-11-12 18:11] #520 closed, assigned to nobody

[2019-11-12 18:23] cgohlke commented on #576
Your changed example code still crashes on my system. Access violations may depend on the history of memory allocations and details of memory management and can be hard to debug. Still, I think the alignment is wrong.

[2019-11-12 18:49] djhoese commented on #576
This is very confusing why this exists the way it does. If we look at the code you all have already pointed to:

https://github.com/vispy/vispy/blob/2c3ab163b7e90eddb14c2cd98e91dec615acae57/vispy/gloo/glir.py#L1635-L1636

We see that it is using multiple dimensions to determine the alignment. The last dimension, from what I can tell, is always length 1 and is set by `_normalize_shape` in the `visp

[2019-11-13 20:08] cgohlke commented on #576
Again, maybe I am missing something. But for a contiguous numpy array the byte alignment of the rows is always `1`, i.e. there is no gap between rows. Alternatively use data.itemsize or dtype.itemsize. I don't understand the need for the `_get_alignment` function when using numpy arrays. Does vispy deal with image memory layouts other than numpy arrays?

[2019-11-13 20:36] NHPatterson opened #691 "is_pyramid check has an integer overflow with large arrays"
## 🐛 Bug

The pyramid size check uses np.prod which defaults to np.int32 data type and there is integer overflow when calculating size on images with dimension products greater than 2^32.

The function below has the current function in, but commented out.
[code]

## To Reproduce
[code]
[code]
[code]
[code]
[code]
Traceback:
[code]

Pyramidal checks are based on decreasing numbers of points per res

[2019-11-13 21:23] sofroniewn commented on #691
Oops, good catch @NHPatterson!

We'd happily accept that fix as a PR if you don't mind making it, otherwise I can take care of it.

[2019-11-13 21:34] NHPatterson commented on #691
Ok, I'll submit a pull request.

[2019-11-13 21:36] sofroniewn commented on #691
Thanks!

[2019-11-14 02:23] djhoese commented on #576
@cgohlke I could be mis-remembering, but I think it was a performance concern. This would explain why the code is set up to find the largest compatible alignment; if the GPU can load 8 elements at a time rather than 1 it should perform better (a guess). I am not one of the original developers of Vispy nor of the packages that it is based on. Let's see if @rougier @larsoner @kmuehlbauer will see th

[2019-11-14 06:21] rougier commented on #576
From what I remember, the alignment stuff is necessary on the OpenGL side (and may depend on the card). It is explained at [https://www.khronos.org/opengl/wiki/Common_Mistakes#Updating_a_texture](https://www.khronos.org/opengl/wiki/Common_Mistakes#Updating_a_texture) as pointed by @djhoese.

Also, for some old GL implementations, textures are supposed to be power of two, even though some implement

[2019-11-14 14:37] djhoese commented on #576
I knew this sounded familiar. There was a small conversation on this in https://github.com/vispy/vispy/issues/641. There was an issue where we had the order as `[4, 8, 2, 1]` but that is technically incorrect if something needs the `8` alignment. @almarklein brought up the idea of performance so maybe he can enlighten some of us on this (not sure he gets github notifications though).

[2019-11-14 14:46] almarklein commented on #576
I know as much as you do, I think. IIRC you should always be able to use 1, and higher values are just performance improvements.

[2019-11-14 16:05] vtwang opened #693 "Loading neuron traces from SWC file format"
## 🚀 Feature
Neuron traces are used to determine the pathway of axons/dendrites in 3D images of the brain. One common file format for traces is [SWC](http://www.neuronland.org/NLMorphologyConverter/MorphologyFormats/SWC/Spec.html), which stores the traces as a structually connected components (e.g. cylinders)

We would like to have a easy way to load data from a SWC into napari.

[example of neuro

[2019-11-14 16:54] sofroniewn commented on #693
Hi @DottedGlass thanks for your interest in napari, that sounds like an exciting application! I used to work in neuroscience so I'm always partial to that stuff.

napari itself will probably not directly read an `swc` file at this point - we still need to think about how we will handle reading more specialized file types, but we definitely want to make it easy for you to visualize this sort of dat

[2019-11-14 17:46] sofroniewn commented on #693
Thinking about this a bit more, maybe napari shouldn't support a `tree` and that lists of paths is sufficient and that any plugin needs to be responsible for parsing it's `tree` structure into a list of paths - for example doing the following

[code]
now yields the following:

<img width="1200" alt="Screen Shot 2019-11-14 at 9 45 27 AM" src="https://user-images.githubusercontent.com/6531703/688822

[2019-11-14 18:04] vtwang commented on #693
I'd be happy to work on scaling the radii for `path`
Is there an established framework for plugins if I want to make one for reading swcs via neurom?

[2019-11-14 19:03] sofroniewn commented on #693
We're still developing the plugin framework, but will keep this use case in mind as we go, and we'll let you know when there is something ready.

That's great that you can work on the scaled radii. For 2D we'll need to modify `generate_2D_edge_meshes` https://github.com/napari/napari/blob/8ce944a1dff680f4d06b238f7556211550ba1d4b/napari/layers/shapes/shape_util.py#L614 and for 3D we'll need to modi

[2019-11-14 19:26] sofroniewn opened #694 "Use new mouse function bindings and test mouse functions on layers"
We need to refactor the current mouse functions on the layers to use the new mouse bindings framework in #544 and add tests for all of them, as was done for one in #684

[2019-11-14 19:45] kevinyamauchi commented on #651
Thanks for the feedback, @adamltyson !

After a bit more thinking I am also in favor of Approach 1. I think combining the `Points` and `Text` layers into a single layer will result in a pretty bloated layer. We have 2 different interactive modes (add, select) and there will be 4 layer display states (e.g., [`Points` visible, `Text` visible], [`Points` visible, `Text` not visible], ...), so there w

[2019-11-14 20:54] sofroniewn commented on #651
That sounds reasonable @kevinyamauchi.

At one point @jni mentioned

That I wanted to capture. We might also want to think about how any refactoring would affect the `Shapes` layer too, where I think people also might want to associate an annotation with a shape.

[2019-11-14 21:17] adamltyson commented on #651
@kevinyamauchi for my use case, the label wouldn't need to be displayed next to the point, but there would need to be some way of telling what class each point was at a glance (e.g. color coding). Then the points which were "incorrect" could be moved, or have their class changed etc.

[2019-11-14 23:27] kevinyamauchi commented on #651
Makes sense to me @adamltyson ! I think most of the properties other than the symbol can be set on a per-point basis.

Thanks for the reminder, @sofroniewn . I think that's a good idea to keep in mind. I also agree we may want a `(shapes_list, labels)` data model for the `Shapes` layer.

[2019-11-15 07:27] stefanv commented on #679
I suspect this may have been fixed, because Napari now forces you to create a Qt event loop (98734a3ba3c9b44178c4ba0bce864533ba19b6d5).

[2019-11-15 07:31] jni commented on #679
@stefanv we always forced you, it's just that before you would get a crap, confusing message from Qt, now you get a nice message. You were probably using IPython with %gui qt, in which case we haven't changed anything...

[2019-11-15 07:31] jni commented on #679
(that I can remember)

[2019-11-15 07:34] stefanv opened #696 "Slow / unresponsive terminal"
## 🐛 Bug

When running up Napari in `ipython --gui=qt`, the terminal button does not fire up a terminal.

When running Napari in a Jupyter notebook with `%gui qt`, the terminal appears but is very slow and sometimes entirely unresponsive.

## Environment

[code]

[code]

[2019-11-15 07:36] stefanv commented on #679
Either way, I cannot seem to replicate; so feel free to close.

[2019-11-15 07:37] jni commented on #696
@stefanv the first issue is known but not documented. We need to give a better indication that this is expected. We tried but could not get a different IPython instance talking to the same kernel for IPython Terminal.

The second issue, though, is concerning...

[2019-11-15 07:37] jni commented on #696
Possibly worth providing IPython, ipykernel, QtConsole, and Jupyter Notebook version numbers...

[2019-11-15 08:38] VolkerH opened #697 "Points layer markers "expand" when switching from 2D to 3D view"
## 🐛 Bug

Points added in 2D slice view appear much larger and artefacted when switching to 3d view

![image](https://user-images.githubusercontent.com/2210044/68928941-5269fa80-07df-11ea-9e01-d587b60dce1d.png)

## To Reproduce

Steps to reproduce the behavior:

1. open a volume
2. add a points layer
3. using 2D view with z slider add a few points and/or crosses at the default size
4. switch to 3D

[2019-11-15 08:48] VolkerH commented on #697
Steps to reproduce as video:

![points3D_napari](https://user-images.githubusercontent.com/2210044/68929600-c2c54b80-07e0-11ea-9ce1-eefc2d0877cd.gif)

[2019-11-15 09:15] jni commented on #697
I can't reproduce on my machine, in the sense that it actually looks relatively good on yours compared to mine 😂

<img width="1200" alt="Screen Shot 2019-11-15 at 8 14 08 pm" src="https://user-images.githubusercontent.com/492549/68931427-9f040480-07e4-11ea-8ad9-72e6497e16c3.png">

[2019-11-15 09:19] jni commented on #697
I can reproduce with this script:

[code]

[2019-11-15 10:25] VolkerH commented on #697
Just adding an observation. In my case the disks keep the same size on the screen when zooming in and out, but their centres change the position on the screen in what appears to be correct. Haven't looked into the code whether the size needs to be explicitly linked to the zoom or how these objects are handled.

[2019-11-15 15:16] anntzer opened #698 "napari only opens first frame of SPE time series."
## 🐛 Bug

When napari is made to open a SPE (https://imageio.readthedocs.io/en/stable/format_spe.html#spe) time series file, which e.g. imageio.volread reads as a proper 3d array (t, y, x), only the first frame is displayed.  Compare with e.g. opening a tiff time series, for which napari correctly displays a slider for selecting the frame number.

## To Reproduce

Steps to reproduce the behavior:

[2019-11-15 17:01] sofroniewn commented on #679
Will close, can always reopen if problem reappears! Thanks

[2019-11-15 17:01] #679 closed, assigned to nobody

[2019-11-15 17:04] sofroniewn commented on #696
@stefanv - for the terminal when connected to a jupyter notebook I found that I had to press shift-enter to execute any code - i.e. it behaves like a jupyter notebook cell. If anyone knew how to disable that so it executed on just enter that would be great

[2019-11-15 17:08] sofroniewn commented on #697
@jni @VolkerH - this is likely due to the release of vispy 0.6.2 where the archballcamera default changed to `fov=45` instead of `fov=0`. merging #683 should recover the previous behavior.

if we want to support proper scaling with the new fov then we need to look into some things on the vispy end - see #683 and some linked vispy discussions for more detail, but that will take longer

apologies fo

[2019-11-15 17:09] sofroniewn commented on #697
not sure what's happening on @jni machine, if it is the same bug / unrelated / if he changed his vispy along the way

[2019-11-15 17:11] sofroniewn commented on #698
Thanks for flagging @anntzer - our fileIO is still pretty early, though if `imageio.volread` does the right thing, we should be able to too. We'll look into it

[2019-11-15 20:44] tlambert03 opened #699 "pyramid checking seems to be breaking lazy loading"
## 🐛 Bug
I was just trying to familiarize myself with napari's handling of zarr datasets using one of my big light sheet datasets... but it would hang indefinitely each time I added it.

I went back to the example in `zarr_nD_image.py`, but there too, as i increase the size of the zarr store, napari starts to hang upon `napari.view_image(data)`... regardless of whether I provide the `contrast_limi

[2019-11-15 22:11] jni commented on #699
@tlambert03 this is a known issue, in that @sofroniewn and I did know about it, but it appears I neglected to create an issue for it! :grimacing: Maybe it was on slack, or a comment on a different issue. Sorry about that!

Anyway, the problem is this line:

https://github.com/napari/napari/blob/8ce944a1dff680f4d06b238f7556211550ba1d4b/napari/util/misc.py#L68

`[... for d in data]` actually instant

[2019-11-15 22:30] tlambert03 commented on #699
Ok thanks

[2019-11-15 23:06] jni commented on #698
Yeah the problem here is that we are using `skimage.io.imread`, which uses `<backend>.imread`, where backend is either `tifffile` for tiffs or `imageio.imread` for everything else. See [this comment on skimage #4138](https://github.com/scikit-image/scikit-image/issues/4138#issuecomment-531054141) for more.

I honestly don't know what the right thing is here, because it's hard to tell ahead of time

[2019-11-15 23:20] anntzer commented on #698
Wouldn't it work to always use imageio.volread (and check if the first dim is 1)?

[2019-11-15 23:45] jni commented on #698
I've found tifffile to be a much more reliable loader for tiffs, so your question might be better suited for scikit-image, where we already implement the tifffile > imageio cascade. I don't think I want to repeat that logic here... Could you maybe raise an issue on the scikit-image repo?

@sofroniewn might have different ideas about how much we want to take on in napari proper.

[2019-11-16 00:00] sofroniewn commented on #698
Ideally I’d much rather see something like this get solved upstream in skimage / imageio in a way where we don’t loose any of our existing functionality.

 I worry if we start trying to develop special case logic inside napari it will be hard to test and maintain, and either that logic is generic enough that it should be upstream or so special case that it should be in a special fileIO plugin

[2019-11-16 00:06] anntzer commented on #698
To be honest, I sort of lost track of the layers between skimage, imageio, and tifffile/PIL.  I hope you (@jni) will consider the following (which is mostly addressed to you as a skimage devel rather than a napari devel) as constructive criticism but... why do skimage and imageio both vendor tifffile (different versions of it, as of master!) rather than depend on it? (they already have a dependenc

[2019-11-16 01:11] jni commented on #698
Tifffile is essentially impossible to depend on, because development happens on Christoph Gohlke's computer, then it gets published to his homepage and to PyPI. The "issue tracker" is emailing Christoph. (Or, more often, pinging him on scikit-image.) For a while, Steven Sylvester tried to maintain a mirror on GitHub, but as you can imagine, mirrors are not a fun thing to maintain, so that effort w

[2019-11-16 17:23] sofroniewn commented on #699
yeah @tlambert03 this is not great ... any suggestions / improvements would be appreciated. I think it's pretty natural for people to do what you did with `zarr` instead of `da.from_zarr` so we should do better than we do right now

[2019-11-16 17:38] tlambert03 commented on #699
I need to get much more familiar with the pyramid handling (and other general array-handling) parts of napari before I'd be able to make any sort of useful suggestions.  But in the short term, would it make sense to change the zarr example to use `da.from_zarr`?
https://github.com/napari/napari/blob/15deef08f1aea5e6a6951f7a83d4713f16070ed4/examples/zarr_nD_image.py#L14-L21

I also need to look bac

[2019-11-17 15:17] tlambert03 opened #700 "channel_axis argument fails with dask.array"
## 🐛 Bug
Just wanted to post this here so I don't forget.
Dask arrays do not have a `take` method, so if you try to call `add/view_image` on a dask array with the `channel_axis` argument, you get: `AttributeError: 'Array' object has no attribute 'take'` at line 552 below:

https://github.com/napari/napari/blob/15deef08f1aea5e6a6951f7a83d4713f16070ed4/napari/components/viewer_model.py#L545-L552

[c

[2019-11-17 17:23] sofroniewn commented on #699
I guess the calling of `is_pyramid` was more of an input check, because it leads to this error if things don't match - https://github.com/napari/napari/blob/15deef08f1aea5e6a6951f7a83d4713f16070ed4/napari/util/misc.py#L167 but maybe that's a bad idea

Agree changing the zarr example to use `da.from_zarr` is a good idea.

[2019-11-17 17:33] sofroniewn commented on #700
That's no good! I thought I had tried this with a dask array, but evidently not. Here is the dock string for [`da.take`](https://docs.dask.org/en/latest/array-api.html#dask.array.take). It looks like this can actually just be replaced by `np.take` and that will still return as dask array. i will make a short PR

[2019-11-17 17:44] sofroniewn commented on #697
This should now be fixed on master with the merge of #683 - can you confirm @VolkerH and then I will close this issue. Thanks for flagging!

[2019-11-17 17:57] VolkerH commented on #697
I can confirm that the points now have a reasonable size in the 3D view.  Thanks, i will close the issue.
I noticed some other issue though (probably unrelated so I will open a new one).

[2019-11-17 17:57] #697 closed, assigned to nobody

[2019-11-17 18:10] VolkerH opened #702 "Inconsistent behaviour when adding points (some options affect all points in layer, some don't)"
## 🐛 Bug

Not sure whether the following is a bug. Maybe it is just behaviour as envisaged, then it is inconsistenst interaction.

When adding markers in a points layer, changing the symbol (e.g. from "disk" to "diamond") affects all points in the current points layer (including exisiting ones).
When changing the marker color or size, existing markers stay the same subsequently added markers are a

[2019-11-17 18:45] anntzer commented on #698
Thanks for the explanation, and sorry for distracting from the main issue at hand.  To be honest I am not convinced that the current state of things is optimal, but I cannot articulate this properly and do not wish to appear as belittling the very worthwhile work of the skimage community (in a broad sense), so let's close this side discussion.

[2019-11-17 19:49] tlambert03 opened #703 "strange file-specific 3D rendering (but works in fiji/clearvolume/spimagine)"
## 🐛❓  Buguestion

This may or may not be a napari bug... but it's very strange, and it seems limited to napari.  I have an image ([download here](https://www.dropbox.com/s/oeoyd4nurbck43c/weird_in_napari.tif?dl=0)) that gives me messed up visuals in napari's 3D rendering, the gif below pretty much sums it up, but here are the bullet points:

- looks/behaves fine in 2D
- in 3D, shows something tha

[2019-11-17 20:54] d-v-b commented on #661
This problem surfaced again for me -- I wanted to view the output of a bunch of different filters applied to the same data (pursuant to playing with [this example](https://github.com/guiwitz/napari_demo/blob/master/napari_ilastik.ipynb) of the ilastik-style functionality within napari). I.e.:
[code]
Since all the images in `all_filt` are the same size, they can be put in a numpy array, which would

[2019-11-17 23:51] sofroniewn commented on #702
Ah yes - so this is a known issue that should at least be documented if not exposed better in the UI. Right now `symbol` and `opacity` in the points layer are global properties, while we could make opacity apply for each point (potentially at the cost of increasing latency), making symbol apply to each point would require some changes at the vispy level, and I'm not sure what performance hits we m

[2019-11-17 23:53] sofroniewn commented on #703
@tlambert03 do you think this might be related to #576?

[2019-11-18 00:12] jni commented on #703
@sofroniewn that was my thought as well.

[2019-11-18 00:12] sofroniewn commented on #576
@djhoese I've tried testing your fix on my machine and it might make things better, but I still get some seg faults. There are also some (rare) times when the old code doesn't seem to segfault, making the following comment from @cgohlke ring true

Maybe @tlambert03 can give this some debugging on his machine too, testing if the fix above works for him.

@djhoese  do you think switching to `alignme

[2019-11-18 00:50] jni commented on #661
@d-v-b indeed, I do think need to figure out our real-space interaction before tackling image collections.

I wonder if this specific use case, though, would be solved by a more powerful layer interaction model. These images all do refer to the same space, after all, so I think layers is the right conceptual model. People working with multispectral data have noticed that napari begins to fray at t

[2019-11-18 00:58] jni commented on #698
Oh I absolutely don’t think it’s optimal! I was merely trying to explain how we might have got to where we are by doing gradient descent along various axes and given various constraints. ;) And that it probably requires a *major* energy kick to move to another basin!

As to articulating where that other basin might be, I don’t think PIL and imageio are redundant, but I do think that skimage.io and

[2019-11-18 01:03] #700 closed, assigned to nobody

[2019-11-18 01:29] djhoese commented on #576
@sofroniewn No I don't have a good idea of performance differences. What were the cases where you still get seg faults with this change?

[2019-11-18 01:42] tlambert03 commented on #703
oh, yep it's exactly the same.  Sorry I never downloaded @VolkerH's dataset and looked at the bug myself there, but I just did (side note: @VolkerH, that's a really fun image).  It's definitely the same thing, complete with the roll observation (works fine if you roll axes) and segfault from above.  I will close this comment, catch up on the discussion in #576 and try some of the debugging mention

[2019-11-18 01:42] #703 closed, assigned to nobody

[2019-11-18 02:05] tlambert03 commented on #576
@djhoese's change above (`alignment = self._get_alignment(data.shape[-2] * data.shape[-1])`) fixes the issue I described in #703.  For what it's worth, my file had shape (64,256,525), with dtype `<f4` (volker's ovarioles are also `<f4`)

[2019-11-18 02:43] cgohlke commented on #576
I would be surprised if setting the alignment to the highest possible value has any significant effect on performance. It would be trivial for the OpenGL driver to calculate that value given pixel format and type, and `GL_UNPACK_` values.

Yes. However, since `GL_UNPACK_ALIGNMENT` is a **byte** alignment it should be

`alignment = self._get_alignment(data.shape[-2] * data.shape[-1] * data.itemsize

[2019-11-18 03:02] djhoese commented on #576
No, I keep forgetting this but I'm 99% sure the GPU/OpenGL automatically take the data type of the texture in to account when doing the calculations. I had a page that I could reference that walks through how these calculations work but I can't find it now.

I think you're assuming a lot about GPU design here. As mentioned on the khronos page, a GPU likes 4-bytes at a time. If the texture is RGBA

[2019-11-18 04:31] cgohlke commented on #576
I checked the OpenGL red and blue books and all they mention are row alignments in units of bytes for `GL_UNPACK_ALIGNMENT`.

This discussion is about row alignment of the image provided by the user in the host memory.

[2019-11-18 07:11] hmaarrfk opened #704 "Don't depend on pyside"
## 🚀 Feature
Depending on Pyside2 makes things easy to install, but if you already depend on qtpy, then maybe let the users decide which backend is best for them?

Just my 2 cents.

[2019-11-18 12:20] jni opened #706 "Clicking File > Open Folder then cancelling causes a crash"
## 🐛 Bug

If I click on File > Open Folder but then hit cancel (in this case, because I actually wanted to open a file, not a folder), I get the following traceback:

[code]

We probably need to add a check for when the return value is None.

[2019-11-18 12:46] jni opened #707 "Make dims.point a property"
## 🚀 Feature

Currently, trying to set `viewer.dims.point` results in an error. The only way to set it is `viewer.dims.set_point(axis, index)`, which is a bit clunky if one wants to modify the position on multiple axes. I propose making `Dims.point` a property that is settable.

Motivated by [this question](https://forum.image.sc/t/napari-set-viewer-dims-point/31456) on image.sc

[2019-11-18 14:53] tlambert03 commented on #704
I kinda agree here.  I see that this creates a problem: how do you make an easy "one line install" for those who know nothing about Qt, while also preventing duplicate Qt backends for those who already depend on pyqt for other things.

I _do_ think that it's really important for a beginner to just `pip install napari` and be off and running – even something like `pip install napari[pyside]` is und

[2019-11-18 16:07] AhmetCanSolak commented on #704
If you guys want to use pyqt5 or another backend, you should first import the backend you want to use, then import *napari*. Since napari uses qtpy if before importing napari you have another backend imported pyside2 will not be able to import successfully.

About the reason of pyside2 choice, mainly licensing AFAIK. Correct me if i'm wrong @sofroniewn . As soon as we are not depending non-LGPL pa

[2019-11-18 16:12] AhmetCanSolak commented on #707
maybe not right place to discuss but are there any alternatives to `point`? maybe position of dimensions? or something else?

[2019-11-18 16:14] tlambert03 commented on #704
I might be wrong... but I think the issue was not so much about _how_ to get qtpy (and therefore napari) to use the desired backend.  That much is straightforward.  and it's also not so much about using `pyside2` as the "go-to" default backend... that's also fine, particularly if it makes licensing easier.
I think it is an interesting discussion though as to whether installing napari will _force_

[2019-11-18 16:17] hmaarrfk commented on #704
^this

[2019-11-18 16:30] AhmetCanSolak commented on #704
Good point @tlambert03 . But either way we need a backend by default. What could be an alternative? Do you have any suggestions?

[2019-11-18 16:36] VolkerH commented on #702
Opacity (and blending mode) I didn't test as  intuitively I would always think of  opacity as a layer property, which would be consistent with the other layer types (same for blending mode BTW).

Now that you mention it, this could of course also be a per-point property. However, in that case you would lose the ability to dial back the opacity for the whole layer.

My suggestion is to decide which

[2019-11-18 16:37] tlambert03 commented on #704
nope!  😄   that's why in my first comment I said it creates a problem and punted to @jni :)
the only alternative I can think of would be to [declare pyside2 as an "extra"](https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies), and then have the readme say `pip install napari[pyside]` ... but I'm not necessarily promoting that, s

[2019-11-18 16:39] djhoese commented on #576
Ok I did more research and I think everyone is right. :wink:

Yes, but we are describing how the data is organized in the client (CPU-side) memory so that the GPU can read it correctly and most efficiently. So there are some low-level hardware and memory transfer side effects to this, but we have nothing more to go on than "And if you are interested, most GPUs like chunks of 4 bytes" in the khrono

[2019-11-18 16:45] tlambert03 commented on #576
just an observation:
in my tests, the bug always happens if the Y shape is a multiple of 8 and the X shape is odd (regardless of Z shape or dtype).  So that could potentially be used as a hacky short-term patch inside napari, depending on how long it takes to get this into vispy...

[2019-11-18 16:50] sofroniewn commented on #707
@jni the reason why that isn't currently done is that I don't think we know how to trigger an update of our event system if someone just modifies one element of that list, i.e.
[code]
would have no effect, which I think will be confusing to people. If we can figure this out then I'd love to drop all the `set_*` methods on the dims model.

@AhmetCanSolak `point` was chosen to be a counterpart to `i

[2019-11-18 16:52] sofroniewn commented on #702
@VolkerH that separation might be nice.

Right now we actually support opacity at the individual shape level for the `Shapes` layer, but maybe we want to drop that support and make it at the layer level for consistency as it is doubly strange that there is a difference between `Points` and `Shapes` there

[2019-11-18 16:53] glyg opened #708 "Allow Path object in `magic_read`"
## 🚀 Feature

## Motivation
I tend to use `pahtlib.Path` objects a lot for path manipulation, and passing such an object to `io.magic_read` fails due to:
[code]

`Path` object should be accepted as input to `magic_read`

[2019-11-18 17:07] sofroniewn commented on #704
As noted above `pyside2`(LGPL)  is listed in our `requirements.txt` instead of `pyqt5` (GPL) only for licensing reasons, so our code can be redistributed as LGPL by others if they want, (you'll note that the code we write is actually BSD), and when we release the bundled napari app that will have `pyside2` inside it and be LGPL.

@AhmetCanSolak

Do you have something in my mind here? I thought we

[2019-11-18 17:11] sofroniewn commented on #708
Thanks for catching this @glyg! I think supporting a Path object here too makes a lot of sense. I saw you just opened up a PR for this and so will continue the conversation over there.

[2019-11-18 17:19] tlambert03 commented on #704
I like that!

[2019-11-18 17:22] djhoese commented on #576
Attempted fix in https://github.com/vispy/vispy/pull/1758

[2019-11-18 18:19] tlambert03 commented on #576
works great.  thanks so much

[2019-11-18 20:29] HagaiHargil commented on #707
I think `position` is more intuitive as well. Regarding the way the setters work right now - this also relates to my comment in the axis labels PR (https://github.com/napari/napari/pull/644#issuecomment-551401216). I think that you either need a helper class that deals with setting and getting the different `Dims` properties, or have smaller `Interval`, `Position`, etc. classes that can have more